[2016-12-15 16:35] Anto59290 commented on #4008
@FanJiyong Si tu héberge le picto quelque part je m'en occupe. Ping moi quand c'est bon ;)

[2016-12-15 17:41] Anto59290 commented on #3944
@vhf Est-ce que tu as un contexte plus précis sur comment reproduire? Sur une install neuve le mail part bien (enfin dans la console, mais on le voit passer). J'ai créé deux utilisateurs et celui qui a l'option de cochée recoit bien le mail pour les réponses.

[2016-12-16 07:17] cgabard commented on #4027
Fais le comme tu veux et dans l'ordre que tu veux. Garde en tête cependant que les améliorations sur l'éditeur de tuto/article sont beaucoup plus importante que pour les bio & co. Mais c'est le dev qui s'en occupe qui décide.

[2016-12-16 13:51] FanJiyong commented on #4008
@Anto59290 et voilà :)
[icone_new_mep.zip](https://github.com/zestedesavoir/zds-site/files/657299/icone_new_mep.zip)

edit : ok pour l'icone mais n'oubliez pas de mettre une tooltip svp.

[2016-12-16 16:34] Anto59290 commented on #4008
Bien reçu. Je note pour le tooltip.

[2016-12-17 08:34] Anto59290 commented on #4027
Ca arrive ce week-end normalement ;)

[2016-12-17 13:46] tleb opened #4082 "Page API bogué"
&mdash; [Posté ici](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=42#p135429) et confirmé par GCodeur et Bat'

[2016-12-17 14:43] sandhose commented on #4082
Il y a une erreur 500 sur la génération des endpoints d'api-doc.

Erreur sur sentry:

https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/791/

[code]

[2016-12-17 15:16] gllmc opened #4083 "Le choix du type de contenu n'est plus pris en compte dans la recherche"
Il semblerait que le choix du type de contenu dans la recherche ne soit plus pris en compte. Si l'on coche des cases, le résultat reste inchangé et les cases sont décochées à l'envoi du formulaire. Pourtant, l'URL conserve la marque de ces choix (exemple : https://zestedesavoir.com/rechercher/?q=django&id_models_3=tutorial).

[2016-12-17 15:23] pimolo opened #4084 "Les filtres de la recherche ne fonctionnent pas"
Dans la recherche (`/rechercher`), cocher des filtres semble n'avoir aucune influence sur les résultats de la recherche.
Par exemple, si je cherche "javascript" et que je coche seulement "Tutoriels", je me retrouve quand même avec plein de messages de forum en première page, ce qui ne m'aide pas du tout à trouver des tutoriels autour de javascript.

De plus, mais il s'agit plutôt d'UX ici, je pens

[2016-12-17 15:30] DevHugo commented on #4083
C'est une régression ça. ça marchait bien avant !

[2016-12-17 15:35] DevHugo commented on #4083
à mon avis, c'est [ça](https://github.com/zestedesavoir/zds-site/commit/c5dc46501dd13c06afab81b71075e698ce3d197b). Si tu remplace dans url par la variable models, ça marche.

Par exemple: [https://zestedesavoir.com/rechercher/?q=django&models=tutorial](https://zestedesavoir.com/rechercher/?q=django&models=tutorial), marche bien.

[2016-12-17 15:36] DevHugo commented on #4084
Voir #4083 .

C'est liés au premier souci, ça coche les filtres sélectionnés, c'est prévu comme ça.

[2016-12-17 15:42] DevHugo commented on #4082
ça marchait bien avant, c'est une régression.

[2016-12-17 15:47] vhf commented on #4082
ping @cgabard

[2016-12-17 16:03] cgabard commented on #4082
Ah merde, si je comprends bien rest_framework utilise markdown et du coup entre en conflit avec les modifs de notre version

[2016-12-18 11:46] #4083 closed, assigned to nobody

[2016-12-18 11:46] #4084 closed, assigned to nobody

[2016-12-18 11:58] #4075 closed, assigned to nobody

[2016-12-19 08:30] Anto59290 commented on #3961
@pierre-24 @artragis Que faut-il faire ici ?

[2016-12-19 08:32] pierre-24 commented on #3961
Bwah, du coup rien. Vu que le *fix* n'as pas enlevé ce comportement, c'est plus un bug mais une *feature* :)

[2016-12-19 08:32] #3961 closed, assigned to nobody

[2016-12-19 13:39] cgabard commented on #4082
Je pense que le plus simple va être de publier le zmarkdown sur Pypi. le dossier d'import sera zmarkdown au lieu de markdown et les deux pourrons cohabiter sur le système sans soucis. Je vois pas trop d'autres solutions.

[2016-12-19 14:00] sandhose commented on #4082
Pour le coup, c'est `django-rest-swagger` qui utilise `markdown` [*s'il est présent*](http://django-rest-swagger.readthedocs.io/en/stable-0.3.x/misc.html?highlight=markdown#markdown) pour faire le rendu des docstrings en markdown. Du coup, on est même pas obligé de les faire cohabiter, il suffit de renommer le paquet `zmarkdown` pour qu'il soit pas chargé par `django-rest-swagger`.

[2016-12-19 22:27] Anto59290 commented on #3432
@firm1 @SpaceFox Est-il possible d'avoir du feedback sur ce bug ? Est-il toujours présent en prod ? Si oui avez vous reperé un schéma ou ça se reproduit ?

Pour ciblage :

- Quel type de contenus sont concernées (tuto, article, mixte?)
- Cela se produit sur une première validation / re-validation d'un contenu déja en ligne ?
- Si vous annulez la réservation et que vous re-réservez sur un contenu b

[2016-12-20 07:53] Anto59290 commented on #2743
Je suis de retour, je suis chaud, je reprend ce ticket !

[2016-12-21 17:32] lypwig opened #4090 "Séparer Clem de la barre de recherche"
[Ce commit](https://github.com/zestedesavoir/zds-site/pull/3953/commits/f5417f637c6ade818254b54a280f7c94cc3a638a) associée a [cette PR](https://github.com/zestedesavoir/zds-site/pull/3953) donne la possibilité de masquer la barre de recherche.

Seulement sur [la feuille de style](https://github.com/zestedesavoir/zds-site/blob/81e80e52bb69b22539860f2bb03106fa6a76f3f6/assets/scss/pages/_home.scss#L2

[2016-12-21 18:18] lypwig opened #4091 "Rediriger la beta d'un contenu vers la version publiée si la beta est désactivée"
Lorsqu'on clique sur un lien menant vers la beta d’un contenu (ie. forum *Contenus en cours de rédaction*), si la beta est désactivée on obtiens une erreur 404 ([exemple](https://zestedesavoir.com/forums/sujet/6982/reflexions-sur-lart-libre-et-son-avenir/)), ce qui n'est pas pratique (d'antant plus que la barre de recherche mène souvent sur un topic du forum *Contenus en cours de rédaction*).

Pro

[2016-12-21 18:22] gllmc commented on #4091
Je serais plutôt pour rediriger vers le contenu publié avec un [message](https://zestedesavoir.com/tutoriels/598/developpez-votre-site-web-avec-le-framework-django/265_des-outils-supplementaires/1532_les-messages/) de type « Ce contenu a été publié, vous avez donc été redirigé vers la version en ligne. », qu'en penses-tu ?

[2016-12-21 18:26] lypwig commented on #4091
Je suis plutôt pour. Par contre je n'ai pas compris, les messages dont tu parle c'est une popup ou un message qui se ferme tout seul après genre une seconde ?

[2016-12-21 18:29] gllmc commented on #4091
Je pensais à un message similaire à celui affiché à un membre du staff qui édite le message d'un membre (ou encore, le message qui valide le fait qu'on ait bien modifié son profil). ;)

[2016-12-21 18:32] lypwig commented on #4091
Aaah ok. Oui je trouve ça parfait.

[2016-12-22 08:50] FanJiyong commented on #3751
Avez-vous la liste exhaustive de ces alertes ?

Le mer. 21 déc. 2016 à 23:43, victor felder <notifications@github.com> a
écrit :

[2016-12-22 09:46] Anto59290 commented on #3751
Ca fait l'objet d'un ticket aussi ;) https://github.com/zestedesavoir/zds-site/issues/3770

Dans un commentaire il est écrit ça :
subscription_type c'est : forum, topic, privatetopic, publisablecontent.
type c'est : topic, post, privatepost, contentreaction.

Donc je suppose que l'on peut recevoir des notifs pour les forum, un topic, un mp et un contenu (article / tuto / TL)

[2016-12-22 10:21] FanJiyong commented on #4008
Ca serait possible a terme de garder les notifications dans le menu qui s'ouvre ?
Ca a déjà était proposé ?

C'est un peu anti-ergonomique le double clique pour pouvoir revoir une ancienne notification.

C'est une question ouverte hein, tout changement dans ce sens fera l'objet d'une nouvelle issue.

[2016-12-22 10:29] Anto59290 commented on #4008
Tu veux dire afficher les anciennes notifs dans le menu déroulant ? Oui c'est probablement possible. Après je trouverais ça un peu déroutant. Par exemple sur GH ça fonctionne pareil que sur ZDS :

- 1 clic = nouvelles notifs
- en naviguant on à accès aux autres notifs.

[2016-12-22 10:29] lypwig commented on #4008
Gros +1. Par contre on pourrait afficher les anciennes notifs dans une autre couleur, genre un semi transparent ou un peu grisé.

Je proposais également [ici](https://zestedesavoir.com/forums/sujet/7546/petite-suggestion-concernant-les-notifications/#p134786) de pouvoir marquer les notifs comme non-lues.

[2016-12-22 10:54] FanJiyong commented on #4008
Ouais mais même sur GH ça me gave (ouais carrément). Je fait peut-être une catachrèse de cette fonctionnalité, mais j'apprécierais vraiment de pouvoir revenir sur issue, après avoir réalisé une maquette ou réfléchi murement à la problématique…

Ha bon ? Moi j'ai plus rien après.

Sans revenir totalement sur la couleur, ce bleu a cette endroit est pour moi une hérésie totale !… en blanc ça aurait p

[2016-12-22 10:59] FanJiyong opened #4092 "Ne pas permettre la validation d'une nouvelle image sans titre."
Bonjour tout le monde !

Aujourd'hui j'ai "découvert" une action (un peu) anti-ergonomique dans la galerie qui me semble pas très complexe à régler (d'un point de vue ergo).

Usecase (en tant qu'utilisateur)

- Je vais dans (une de mes) galerie(s)
- Je vais chercher une image
- Je ne met pas de titre
- Je valide

La page recharge, je n'ai plus d'image dans le champ et aucun message pour me signalé

[2016-12-22 12:30] Anto59290 commented on #4092
Salut @FanJiyong ,

Quelques questions :

- Quand tu dit "Je vais chercher une image", ça veut dire que tu clicques sur l'action ajouter une image (dans la galerie) et que tu la sélectionne avec le champ Image ?
- Puis tu valide (sans titre) ?

En reproduisant (sur une version locale) je retombe sur la même page qui me dit comme message (en dessous du champ) : "Ce champ est obligatoire.". Par cont

[2016-12-22 13:44] FanJiyong commented on #4092
Ouais c'est bien de ça que parle.

Oui effectivement.
J'avais bien vu les champs vide mais pas du tt ce message (en meme temps il apparait comme un champ info, pas comme une erreur).

[2016-12-22 14:51] Anto59290 commented on #4092
Tout à fait. Maintenant que l'on est d'accord sur le comportement que l'on a aujourd'hui. Je propose une solution légèrement différente de ce que tu veux mais qui a le mérite d'être très facilement impémentable (enfin je pense :D ).

Je te propose de faire comme ce qui est fait ici : https://zestedesavoir.com/contenus/nouveau-tutoriel/
A savoir que si tous les champs * ne sont pas remplis, le form

[2016-12-22 15:00] FanJiyong commented on #4092
Mise a part que c'est (vraiment) pas très beau, ça pourrait être une solution rapide.

Ca prend vraiment longtemps à désactivé un bouton quand y'a pas les champs requis d'inscrit ?  *regard de puss in boots*

[2016-12-22 22:25] josephcab opened #4094 "Tribunes libre : Bug affichage page d'accueil"
Les tribunes libres ne s'affichent pas automatiquement sur la page d'accueil après publication.

On peut par exemple constater que la liste des derniers billets ne contient que celui de victor, alors que entwanne et joseph en ont créé une.

**Pour constater le bug :**
 - Aller sur la page d'accueil
 - constater qu'il n'y a qu'une seule tribune libre
 - Aller sur la page des tribunes (cliquer sur `

[2016-12-23 00:10] DevHugo commented on #4094
C'est "normal", les tribunes publiées sur la page d'accueil doivent être validé par le staff manuellement. C'était principalement pour éviter qu'on est des tribunes sur la page d'accueil sur des sujets bizarre ou carrément bizarre :) !

Les conditions sont les suivantes pour apparaître sur la page d'accueil (ils faut que toutes les conditions soient réunies) :

- La tribune a été approuvée par le

[2016-12-23 07:24] Anto59290 commented on #4092
Je vais regarder. C'est pas *compliqué*, mais je pense qu'il faut rajouter un mécanisme en plus. Je ne pense pas que ce genre d'approche soit déjà utilisé dans Zds (ou alors je n'ai jamais vu où).

[2016-12-23 07:58] FanJiyong commented on #4092
Non je ne pense pas non plus que ça soit utilisé mais totalement possible
qu'on le réutilise sur certains formulaire.

Le ven. 23 déc. 2016 à 08:24, Anto59290 <notifications@github.com> a écrit :

[2016-12-23 08:12] josephcab commented on #4094
très bien.
Dans ce cas, on peut passer l'issue en résolu.
Et merci beaucoup pour ces infos.

[2016-12-23 08:12] #4094 closed, assigned to nobody

[2016-12-23 08:30] Anto59290 commented on #4092
C'est pour ça que je me dit qu'une fonction JS bien faite pour être utile ;)

[2016-12-23 13:56] FanJiyong commented on #3751
Yop,

En résumer il y a comme icônes a faire :
- Forum
- Topic
- MP
- Article
- Tuto
- TL

Questions :

- Quelle différence entre "Forum" et "Topic" au niveau des notifications
- Les MP rentre aussi dans le cadre des notifications ?

[2016-12-23 14:23] Anto59290 commented on #3751
Les Mp je dirait que non (de mémoire) puisqu'il vont dans leur propre menu.

Pour les "différences" je vérifie ça sur une version de test et je revient vers toi.

[2016-12-23 14:51] FanJiyong commented on #3751
![161223_icon_type](https://cloud.githubusercontent.com/assets/15154100/21456332/9083b29c-c927-11e6-8e48-bddd198116e8.png)

[2016-12-23 14:58] Anto59290 commented on #3751
Et dans le menu de notifs tu juge ça pertinent (la cloche) ?

[2016-12-23 15:01] FanJiyong commented on #3751
Oui du coup on garde la même choses, sauf qu'ils sont blanc. (j'ai juste plus de notifs pour une maquette :p)

[2016-12-23 15:16] Anto59290 commented on #3751
Ca roule. Je met ça sur ma liste alors. Tu peux envoyer un PSD/AI/SVG avec les icônes ?

[2016-12-23 15:35] FanJiyong commented on #3751
et voilà !

[icones_notif.zip](https://github.com/zestedesavoir/zds-site/files/671038/icones_notif.zip)

[2016-12-23 17:13] GerardPaligot commented on #3751
Il y a le ping aussi ! (:

[2016-12-23 17:24] FanJiyong commented on #3751
Quelle contexte ?

Le ven. 23 déc. 2016 à 18:13, Gérard Paligot <notifications@github.com> a
écrit :

[2016-12-23 17:44] GerardPaligot commented on #3751
@FanJiyong <- Celui ci

En gros, dans tous les commentaires (forums et contenus), tu pourras pinger quelqu'un pour créer une notification chez le destinataire vers le commentaire sur lequel il a été pingé.

[2016-12-25 16:39] pierre-24 opened #4098 "Comment améliorer la recherche ?"
Zoyeux nowel les gens !

Puisque c'est enfin noël, donc enfin les vacances, j'ai (enfin) du temps pour m'attaquer à un truc que je garde en tête depuis deux mois : la recherche (voir #4096). En effet, @Spacefox a déjà dit plusieurs fois qu'il vaudrait mieux passer à Elasticsearch (ES), plus puissant (ou en fait plus exploitable, puisque dessous, c'est Lucene à chaque fois) que ce que ZdS utilise a

[2016-12-25 16:42] pierre-24 commented on #3625
En réfléchissant, je crois savoir pourquoi : dans la barre de recherche, l'utilisateur rentre n'importe quoi, et solr demande par demander à Lucene de transformer ça en une liste de *tokens* exploitables (par exemple en virant les déterminants, en mettant tout au singulier et en minuscule, etc), ce qui génère une requête à une *row*.

Et en y réfléchissant, je crois que je vais implémenter exactem

[2016-12-25 16:51] pierre-24 commented on #3881
Je peux me tromper, mais j'ai l'impression que ta modification pour les topics a réduit le nombre de choses affichées par l'administration. Par exemple, moi, j'ai ça :

![screenshot from 2016-12-25 17 50 12](https://cloud.githubusercontent.com/assets/7889675/21472120/c5c0e994-caca-11e6-93a7-6a6615baaf95.png)

Alors que je devrais avoir le topic, l'auteur, etc ...

[2016-12-25 19:22] artragis commented on #4098
Bonjour,

Pour revenir sur la différence boost solr/boost elastic search : le boost solr est forcément normalisé, et la somme des boosts d'un document est égale à 1 (du moins c'est ce que disait la documentation haystack), sur elastic search, tu peux clairement booster plus librement, et quand il y a de la liberté, je suis un fan de la suite de fibonacci. (1, 2, 3, 5, 8, 13, 21... mais je pense qu

[2016-12-26 09:02] pierre-24 commented on #4098
Je suis d'accord, mais j'ai peur de faire ressortir les trolls, qui se mangent plein de pouces verts ;)

Chui d'accord :)

Oui. Après, y'a deux solution : soit j'indexe uniquement ce qui est actuellement nécessaire (j'ai besoin d'un petit peu plus que ce que j'ai présenté, en pratique, pour l'affichage), soit j'indexe tout les champs potentiels en disant "ça servira bien un jour". Faut voir ce que

[2016-12-26 10:32] artragis commented on #4098
bah en fait au départ on avait dit qu'on ferait tout pivoter sur le html généré pour un chapitre. Mais quand on est arrivé à la recherche on s'est rendu compte que haystack n'aimait pas trop alors on a demandé de l'aide à Hugo.

Je pense qu'il faut faire confiance à elasticsearch : indexer en français à partir d'un texte html, le truc sait très bien le faire.

[2016-12-26 13:17] vhf commented on #3881
Bien vu, merci @pierre-24 .

[2016-12-26 16:47] FanJiyong opened #4100 "Stop au Bitmap ! Utilisons du vectoriel !"
Bonjour à tous,

Je prônes de façon générale, pour l'arrêt de l'utilisation du bitmap dans les interfaces de sites web, c'est lourd et parfois ça peut-être moche (bien que ZdS vous avez bien géré ça)

Je trouve que le bitmap à fait son temps et qu'aujourd'hui nous avons un bon nombre de solution intermédiaire comme le SVG ou la FontIcon.

Le vectoriel est plus léger et se compresse bien.

SVG ou F

[2016-12-26 17:19] pierre-24 commented on #3881
... Sauf que je vois pas l'erreur, puisqu'à priori, t'as bien généré l'admin comme il fallait o_O

[2016-12-26 17:25] pierre-24 commented on #4100
Réponse courte : oui.

Réponse longue : oui, SVG.

[2016-12-26 17:30] pierre-24 opened #4101 "Les filtres de recherche ne fonctionnent plus"
[Cette requête](https://zestedesavoir.com/rechercher/?q=test) et [cette requête](https://zestedesavoir.com/rechercher/?q=test&id_models_2=article) renvoient exactement les mêmes résultats, alors que pour la seconde, j'ai demandé uniquement les articles.

Les deux dernières modifications sont #4037 (mettre des unicodes partout par @artragis) et #4010 (fixer le *warning* sur BeautifullSoup par @gasc

[2016-12-26 18:05] firm1 commented on #4100
Carrément pour et en SVG ! parce que la compression, les couleurs ... et surtout, plus besoin de passer par le truc de npm (qui marche une fois sur deux chez moi) pour produire le sprite de zds.

[2016-12-26 21:18] gllmc commented on #4101
Salut :)

Ce n'est pas corrigé par #4086 ?

[2016-12-26 21:22] pierre-24 commented on #4101
Bien vu :-°

[2016-12-26 21:22] #4101 closed, assigned to nobody

[2016-12-26 21:22] gasche commented on #4101
Est-ce qu'on peut avoir des tests de régression pour ça ?

[2016-12-27 12:59] artragis commented on #4100
Pourquoi je dis oui au svg :

- il n'y a besoin d'activer qu'une seule compression: celle de nginx pour que le poids soit optimisé
- les résolutions battarde (assez forte, mais pas au niveau de rétina) ne subiront plus les effets de flou qu'on a parfois (je pense à toi icône de l'éditeur de texte)
- pour faire un POC, j'ai qu'à passer par framadessin et j'ai un brouillon d'icône en attendant qu'un

[2016-12-27 14:36] pierre-24 commented on #4101
ça va être difficile, parce qu'il faut une instance de solr qui tourne quelque part. Je vois difficilement comment faire autrement (mais peut être qu'il y a moyen)

[2016-12-27 18:14] Situphen commented on #4098
Cette idée est super chouette !

Les sujets de la bêta finissent verrouillés quand ils vont en validation et/ou qu'ils sont publiés non ? Donc personnellement je n'en tiendrait pas compte et je resterais sur du "les topics verrouillés sont dévalués" :)

[2016-12-27 18:30] Situphen commented on #4092
Je propose de rester sur le comportement adopté sur tout le site (j'ai vérifié c'est le cas pour les contenus comme le dit @Anto59290 ainsi que sur les forums), soit simplement ajouter l'attribut `required` sur ce champ (enfin, faire en sorte que Django le rajoute). Pourquoi rajouter du JS quand c'est très bien géré par les navigateurs modernes ? :)

[2016-12-27 20:14] pierre-24 commented on #4098
Disons que je suis très prudent et que je demande au gens de vérifier que j'ai pas oublié quelque chose :)

[2016-12-27 20:22] anayrat commented on #3683
C'est peut être possible en utilisant les filtres pandoc?

https://github.com/chdemko/pandoc-latex-tip

[2016-12-28 09:34] FanJiyong commented on #4092
Je propose de ne pas rester sur le comportement actuel que l'on retrouve
sur tous le site. J'ai d'ailleurs ,(sans trop chercher) trouvé quelques
exemples où ce nouveau comportement pourrait apporter de la clarté sur des
éléments où il en manque.

L'attribu requiered donne un comportement différent selon le navigateur
utilisé et généralement c'est hyper moche, et pas toujours adapté au
contexte des

[2016-12-28 20:03] Anto59290 commented on #4100
Vu le support navigateur : http://caniuse.com/#feat=svg Je pense que l'on peut même se priver d'un fallback en Png (pas mal utilisé par le passé) ce qui rend l'utilisation du SVG encore plus simple.

Je pense que c'est largement faisable de manière simple (côté code en tout cas). Je pense que l'intérêt principal est pour les images du sprite et j'ai vu pas mal d'automatisation faisable (par contre

[2016-12-29 00:12] SpaceFox opened #4103 "Staff : page d'utilisateurs avec la même IP → avec le même réseau en IPv6"
En IPv6, une IP (routable) est unique par marche dans l'univers. Par contre, les FAI n'attribuent pas une IP par box, mais N sous-réseaux (N variant de 1 si le FAI est un rapiat à 256 s'il respecte les recommandations).

Donc, une meilleure chance de trouver les doublons serait de lister, dans le cas d'une IPv6, non pas les correspondance d'IP exacte, mais de sous-réseaux.

Ça se fait « facilement

[2016-12-29 09:51] gllmc commented on #4103
Donc finalement, il faut vérifier que l'on a affaire à une IPv6 et, si c'est le cas, rechercher les membres dont l'adresse IP commence par les 19 premiers caractères de l'IP ? Si ce n'est que ça, je devrais pouvoir m'en occuper. :)

[2016-12-29 13:51] firm1 commented on #4100
tant qu'on peut éviter le paquet [lwip](https://github.com/EyalAr/lwip) on peut dire qu'on aura grandement avancé

[2016-12-29 14:38] vhf commented on #4100
On n'utilise pas `lwip` @firm1 . Je sais pas quels problèmes tu as eu avec le front, mais depuis la grosse mise à jour de septembre tout roule sur mes machines.

[2016-12-29 17:23] Emeric54 commented on #3820
Merci @Anto59290 !

[2016-12-29 17:23] #3820 closed, assigned to nobody

[2016-12-29 20:15] firm1 commented on #4100
@vhf j'ai pourtant réessayé récemment, il y'avait la lib de build du sprite qui cherchait `node-gyp` qui cherchait à son tour `lwip`. Donc dans l'idée, en passant sur du SVG, on s'affranchit de la tache de construction du sprite.

[2016-12-29 22:05] vhf commented on #4100
@firm1 ça devait être il y a longtemps quand même. On n'a plus ni `node-gyp` ni `lwip` en dépendance transitive.

[2016-12-30 09:06] Anto59290 commented on #4100
L'idée ça serait quand même de construire un sprite SVG. L'approche est différente d'un sprite bitmap mais l'idée reste la même. ;)

[2016-12-30 09:09] FanJiyong commented on #4100
Comme je disais en introduction la problématique du sprit svg c'est qu'il
se fait côté HTML. Perso je trouve que c'est pas propres.

Le ven. 30 déc. 2016 à 10:06, Anto59290 <notifications@github.com> a écrit :

[2016-12-30 09:13] Anto59290 commented on #4100
Qu'est ce que tu entends par "se fait côté HTML" ? As tu un exemple de la solution que tu trouve pas très propre ?

[2016-12-30 13:12] sandhose commented on #4100
Les sprites SVG en CSS direct comme on fait avec le sprite PNG actuellement, c'est effectivement pas encore tout à fait ça: http://caniuse.com/#feat=svg-fragment (on peut pas se permettre de pas prendre en charge Safari.)

Sinon ouais, ça implique d'utiliser de se traîner dans l'HTML des `<svg ...><use xlink:href="#id-de-l-icone"></use></svg>`, ce qui est AMHA pas un drame (surtout si on peut fair

[2016-12-30 13:15] sandhose commented on #4100
Maintenant, en vue de la prise en charge de l'HTTP2 (cf. <http://caniuse.com/#feat=http2> ; 90% en France), je pense qu'on n'est même pas obligé de faire un sprite avec les différentes icônes, et que du coup ça peut palier au problème des fragments qui sont pas pris en charge partout, sans pour autant perdre la compatibilité avec les navigateurs qui prennent pas en charge l'HTTP2 (au pire, ça sera

[2017-01-02 08:25] Anto59290 opened #4105 "Améliorer la fonction "Noter les notifications commes lues""
Depuis la dernière version de Zds on peut lire les nouvelles notifications comme lues. @FanJiyong  propose d'améliorer l'interface de cette fonctionnalité. La discussion et la maquette se trouvent ici : #4079 .

Je créé un ticket pour éviter de perdre cette idée et la discussion liée ;)

[2017-01-02 10:46] pierre-24 commented on #2910
Merci @Karnaj :)

[2017-01-02 10:46] #2910 closed, assigned to nobody

[2017-01-02 10:49] pierre-24 commented on #3824
L'histoire de faire avancer le machin, je dirais que si ma PR sur elasticsearch passe, ce ne sera plus qu'une question de quelques dizaines de lignes à taper, les recherches à facettes étant [déjà disponibles](http://elasticsearch-dsl.readthedocs.io/en/latest/faceted_search.html) (encore que j'ai pas compris ou ils voulaient en venir).

[2017-01-02 12:15] SpaceFox commented on #4103
À vérifier si les IPv6 qu'on récupère sont au format canonique (on trouve
des :0000: dedans) ou compactées (c'est remplacé par ::). Dans le 1er cas
c'est un test direct, dans le second cas il faut trouver un moyen de les
rendre canoniques d'abord.

Le 29 décembre 2016 à 10:51, Guillaume <notifications@github.com> a écrit :

[2017-01-02 14:51] Karnaj commented on #3832
Quelqu’un arrive à reproduire ? À noter que la mise à jour de la date a fonctionné pour le [tutoriel sur le langage C](https://zestedesavoir.com/tutoriels/755/le-langage-c-1/).

[2017-01-02 14:56] pierre-24 commented on #3832
Et celui sur SDL :)

[2017-01-02 15:08] firm1 commented on #3832
Et celà n'a pas fonctionner lors de la mise à jour majeure du [guide du contributeur](https://zestedesavoir.com/tutoriels/705/le-guide-du-contributeur/) qui a eu lieu le 24 decembre 2016 (on voit encore dans le tutoriel "Dernière mise à jour : mercredi 07 décembre 2016 à 07h58" alors que sur la home on voit bien "24 decembre 2016")

[2017-01-02 15:28] Karnaj commented on #3832
En effet. En regardant attentivement, il y a même des tutoriels dont la date sur la page d’accueil est antérieure à celle affichée sur la page du tutoriel. En regardant les parties de code dédiées aux deux ([ici](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/includes/content_item.part.html#L82-L85) )pour la page d’accueil et [ici](https://github.com/zestedesavoir/zds-site

[2017-01-02 15:41] firm1 commented on #3832
Et encore `pubdate` ne me semble pas mis à jour correctement en fonction du cas. Je n'arrive pas à dégager une analyse correcte (dans quels cas on a quoi), mais une chose est sure, il faut à la fois corriger l'affichage (`pubdate` partout ou c'est publique) et la mise à jour du champ à chaque mise à jour (majeure comme mineure).

[2017-01-02 15:49] Karnaj commented on #3832
On peut comme tu dis afficher `pubdate` partout où c’est public, et supprimer [cette condition](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_validations.py#L426) pour que `pubdate` corresponde toujours à la date de la dernière publication. Dans ce cas, il faudrait soit :

- rajouter par exemple un champ qui indique s’il s’agit de la première publication ou d’une mi

[2017-01-02 16:04] pierre-24 commented on #3832
Un truc m'étonne, c'est qu'on met pas du tout à jour [`update_date`](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/models/models_database.py#L87) dans cette partie là. Est ce que ça viendrait de là ?

[2017-01-02 16:34] Karnaj commented on #3832
Dans ce cas, il faudrait quelque chose dans le genre.

[code]

Comme ça `pubdate` correspond à la date de la première publication, et `update_date` à la date de dernière mise à jour majeure. On affiche partout `update_date` et `pubdate` permet de savoir s’il il y a eu une mise à jour majeure depuis la première publication (et donc d’afficher « Publié » ou « Dernière mise à jour »).

[2017-01-02 19:37] vhf opened #4106 "[v22] Marquer notifications comme lues : 404"
Bug introduit par #4079 (cc @GCodeur :) )

Le bouton "Tout marquer comme lu" présent ici : https://beta.zestedesavoir.com/notifications/
fait un `GET` sur https://beta.zestedesavoir.com/notifications/marquer-comme-lues/ , mais [`mark_notifications_as_read`](https://github.com/GCodeur/zds-site/blob/33f17d80c3bf25607e69f844457e20f5003d6c7c/zds/notification/views.py#L38) n'accepte que `POST`.

[2017-01-02 20:07] gllmc commented on #4106
Je suis un peu étonné car une requête `POST` est bien effectuée à l'origine. Cependant, celle-ci semble rediriger (via une 301, en plus !) vers la requête `GET`. Pourtant, rien dans la vue ne semble justifier ça et il n'y avait aucun problème en local...

![Capture](https://www.pixenli.com/images/1483/1483387612064693500.png)

[2017-01-02 20:29] vhf commented on #4106
Je suppose que ça redirige `/ton-url` vers `/ton-url/` ?

[2017-01-02 20:40] gllmc commented on #4106
En effet, c'est bien ça !

Du coup, j'imagine que mettre `marquer-comme-lues/` comme URL règlera le problème ?

[2017-01-02 20:47] vhf commented on #4106
Yep. 👍

[2017-01-02 22:12] vhf commented on #3944
@Anto59290 Non j'ai pas plus de contexte. Il semble que ça ne fonctionne que rarement et surtout très aléatoirement en production.

[2017-01-03 10:43] firm1 opened #4113 "[zep-13] : résoudre une alerte de tribune redirige vers le boruillon de la tribune"
Scénario :

*Vous devez avoir les pouvoirs de staff*

- Allez sur un billet (j'ai essayé avec [celui-ci](https://beta.zestedesavoir.com/tribunes/1691/mon-premier-billet-edite/))
- Signaler le billet : observez que l'url est bien sous la forme `https://beta.zestedesavoir.com/tribunes/id/slug/`
- Résolvez l'alerte : observez que l'url est passé sous la forme `https://beta.zestedesavoir.com/contenus/

[2017-01-03 10:44] firm1 opened #4114 "[zep-13] : le lien de filtrage des tags de tribune ne doit pas filtrer sur l'ensemble des contenus"
Scénario :

- Allez la liste de tous les billets : https://beta.zestedesavoir.com/tribunes/

On observer pas mal de billets, certains avec un tag comme celui-ci.

![tribunes-filtre](https://cloud.githubusercontent.com/assets/6066015/21605190/c6e023ba-d1a7-11e6-8add-df1679c908fb.PNG)

Si je clique sur le tag "thème", je suis redirigé ici : https://beta.zestedesavoir.com/contenus/?tag=theme

Le prob

[2017-01-03 10:47] firm1 opened #4115 "[zep-13] Publier une mise à jour de son billet annule la mise en avant par le staff"
Scénario

- Créer un billet
- Publiez le
- (*en tant que staff*) faite en la promotion pour qu'il passe en home page
- (*vous avez remarquez une faute*) mettez à jour votre billet et republiez le
- Problème : Il a disparu de la page d'accueil

Je n'ai pourtant pas été prévenu de ce comportement lors de la deuxième publication. Cela signifie que je dois impérativement demander à un staff de mettre

[2017-01-03 10:57] SpaceFox commented on #4115
La disparition est volontaire pour éviter que n'importe quoi se retrouve en
une.

Concernant le second problème, c'est un souci de tri : le billets en une
devraient s'afficher par date de création ou à la limite de première
publication, et non par date de mise en avant ou de dernière modification.

Le 3 janv. 2017 11:47 AM, "firm1" <notifications@github.com> a écrit :

[2017-01-03 11:03] firm1 commented on #4115
Je m'attendais au fait que la version mise en avant reste en avant en attendant qu'un staff mettre en avant la version suivante (comme c'est fait aujourd'hui dans le schema brouillon -> publication d'un tuto). Une solution temporaire serait de rajouter un message pour l'expliquer aux auteurs afin qu'il ne soit pas surpris.

J'aurai dit par date de première publication pour éviter l'effet du bloc i

[2017-01-03 11:07] firm1 opened #4116 "[zep-13] L'alerte de prévention de la promotion en article d'un billet n'est pas très claire"
Lorsqu'un billet est promu en article, par exemple [celui-ci](https://beta.zestedesavoir.com/tribunes/1689/billet-dela-mort/) on voit dans une alerte le texte suivant :

"Ce billet a été promu en article qui est en cours de validation. "

Je ne comprend pas le sens de cette phrase. Il faudrait la reformuler, mais j'ai déjà du mal à comprendre ce que l'on souhaite exprimer ici.

[2017-01-03 13:50] firm1 opened #4117 "[zep-13] mettre à jour le robots.txt"
Aujourd'hui le fichier [robots.txt](https://beta.zestedesavoir.com/robots.txt) exclut les exports extra (pdf, zip, html). Avec l'arrivée des tribunes qui supportent aussi l'export extra, il faudrait mettre à jour ce fichier.

[2017-01-03 13:59] firm1 opened #4118 "[zep-13] La demande d'aide pour un billet ne fonctionne pas"
Dans la page d'édition d'un billet, il est possible de sélectionner un type d'aide (rédaction, correcteur, etc). Mais lorsqu'on coche et on enregistre, ça ne conserve pas l'information.

[2017-01-03 14:13] SpaceFox commented on #4118
Pour moi ça n'a pas de sens de demander de l'aide sur un billet.

[2017-01-03 14:24] SpaceFox opened #4119 "[zep-13][Réflexion] Interface de rédaction des billets trop compliquée ?"
La source d'inspiration des tribunes est ici : http://linuxfr.org/journaux

Dans la version actuelle en bêta, rédiger un billet se fait en 2 temps :

1. Créer un billet avec (obligatoire en gras) :
   - **Titre**
   - Description
   - Tags
   - Type (présélectionné à la bonne valeur)
   - Logo
   - Introduction
   - Conclusion
   - **Licence** (présélectionné)
   - **Sous-catégorie** (avec une lis

[2017-01-03 14:24] firm1 commented on #4118
Pour moi non plus, mais si l'option existe, j'imagine que ça a été demandé ?

[2017-01-03 14:25] SpaceFox commented on #4118
Ou qu'elle a oublié d'être enlevée ? J'ai l'impression qu'on essaie de rendre ces tribunes bien plus complexes que l'idée d'origine.

[2017-01-03 14:43] firm1 opened #4120 "[zep-13] Rajouter les flux RSS des tribunes dans le flux présentés de manière générales"
Lorsqu'on jette un œil au code source html de la beta, on voit bien que les flux RSS/ATOM des tutoriels et articles apparaissent de manière globales.

[code]

Il faudrait rajouter ceux des tribunes libres.

[2017-01-03 19:36] vhf commented on #4118
C'est pas censé être là. On l'a exprès enlevé de la création de billet parce que ça n'a pas de sens.

[2017-01-03 19:39] vhf commented on #4115
C'est effectivement le but.

[2017-01-03 22:26] AmarOk1412 commented on #3944
@vhf @Anto59290 Je viens de regarder vite fait cette issue. En fait, c'est pas aléatoire et je pense comprendre d'où vient l'issue. Dans `zds/notifications/models.py`, l'objet **SingleNotificationMixin** qui s'occupe d'envoyer le mail avec :
[code]

Le probleme c'est que self.by_email est désactivé dans `zds/notifications/managers.py` à l'envoi d'un mail (ou activé). Du coup, self.by_email vaut fa

[2017-01-04 10:19] firm1 opened #4123 "[zep-13] le filtre de validation des billets ne fonctionne pas"
(*Il faut être staff pour cela*)

Scénario :
- Allez dans la zone de validation des articles : https://beta.zestedesavoir.com/validations/?type=article

Vous visualisez dans la *sidebar* quelque chose comme ça :

![valid-trbuene](https://cloud.githubusercontent.com/assets/6066015/21639123/b95c50b6-d26e-11e6-8fa3-e368d55efeb9.PNG)

- Cliquez sur sur "Billet" et observez que vous avez de tout, comme

[2017-01-04 10:49] FanJiyong commented on #4119
Logo ? c'est la petite image ?

[2017-01-04 10:51] firm1 opened #4124 "[zep-13] Message de suppression d'une galerie liée à un billet incorrect"
Scénario :

- Allez sur un de vos billet (ou créez en un si vous n'en avez pas)
- Cliquez sur le lien "Allez à la galerie liée" dans la sidebar
- Cliquez sur "Supprimer la galerie" et confirmez

Le message d'erreur rapporté est : "La galerie « À propos des loups » ne peut pas être supprimée car elle est liée au **tutoriel** « À propos des loups »."

Notez le terme tutoriel dans le message en lieu

[2017-01-04 10:59] SpaceFox commented on #4119
Oui.

[2017-01-04 11:04] FanJiyong commented on #4119
Le terme logo n'est pas bon :(.

Miniature, image de présentation, image à la une … bon je te fait une maquette dans tt les cas.

[2017-01-04 16:01] gllmc opened #4125 "[ZEP-13] Le MP de dépublication d'un billet évoque le système de bêta"
Lorsqu'un billet est dépublié, un MP est envoyé au membre concerné comme pour les autres contenus. Cependant, ce MP mentionne le système de bêta, qui n'existe pas pour les billets.

![Capture](https://www.pixenli.com/images/1483/1483545568072298600.png)

[2017-01-04 16:57] firm1 opened #4126 "[zep-13] La date de publication sur la page d'acceuil est incorrecte"
Lorsqu'un staff approuve un billet sur la *home*, au lieu d'afficher la date à laquelle il a été approuvé (et donc validé en une), on affiche la date à laquelle il avait été publié par le membre.

Voici le MP que j'ai reçu qui montre que mon billet a été publié le 04/01/2017

![mp-tribune](https://cloud.githubusercontent.com/assets/6066015/21650737/498dfa68-d2a6-11e6-9a6c-6f09544979ac.png)

Et sur

[2017-01-04 17:48] FanJiyong commented on #4119
Petite maquette,

J'avoue je me suis un peu lâché… j'ai essayer d'épurer un peu la page… et de la rendre plus ludique.

![170104_billets](https://cloud.githubusercontent.com/assets/15154100/21652619/a9d06ba2-d2ad-11e6-9a2a-0c2b2b1383d0.png)

Vous remarquerez (peut-être) que j'ai supprimer le gris d'arrière plan, je trouve que ça fait plus propre.

J'ai intégré également une idée de Kje : https://z

[2017-01-05 12:20] firm1 opened #4132 "[zep-13] signaler une faute dans un billet crée le MP mais pas de notif"
Scénario :

- Allez sur un billet publié
- Cliquez sur le bouton "Signaler une faute dans ce billet"
- Remplissez la zone de texte avec du texte ("test" par exemple)
- Cliquez sur Envoyer

Allez ensuite dans la [liste de vos MP](https://beta.zestedesavoir.com/mp/) et constatez que vous avez un message qui n'est pas lu, mais qui ne remonte pas dans vos notifications de messagerie. Si vous n'étiez p

[2017-01-05 12:27] firm1 opened #4133 "[zep-13] Les billets sont absents de la recherche"
Il m'est impossible de retrouver un billet en passant par la recherche du site (cases cochées ou non)

[2017-01-05 12:31] pierre-24 commented on #4133
"normal".

Je suis pas sur, vu comment la recherche est codée (puisque ladite recherche fait la différence entre article et tuto), que le moindre billet sois indexé. Ceci étant dit, ma PR sur Elasticsearch est quasi prête, et mon but (en tout cas c'est comme ça que je l'imagine) est d'attendre la ZEP-13 pour l'achever (justement pour tenir compte de cette histoire de "validatin"). Du coup, est ce

[2017-01-05 12:39] firm1 commented on #4133
Ce n'est pas dramatique si les tribunes sortent sans la recherche dessus je pense. ça peut arriver dans une autre itération. Mais je tenais quand même à noter le souci dans une issue, parce que sinon c'est oublié

[2017-01-05 12:45] pierre-24 commented on #4133
~~J'me le met dans la liste de tickets de ma PR pour le garder de vue.~~ (bordel, moi et le français, pour le moment ... ça veut rien dire!)

Je le met dans la liste des *issues* résolues par ma PR afin d'y jeter un coup d'oeil de temps à autre.

[2017-01-05 12:54] firm1 opened #4134 "La publication d'un contenu pour la deuxième fois conserve les anciens auteurs"
Scénario :

- créez un billet
- ajouter un auteur
- publiez le billet : observez bien que le billet est publié avec deux auteurs
- allez sur le brouillon de votre billet et modifiez l'introduction
- éditez le billet pour supprimer le deuxième auteur
- republiez ensuite le billet

**Problème** : la version publique du billet contient encore le 2nd auteur. Pas moyen de le faire partir donc.

[2017-01-05 12:57] pierre-24 commented on #4134
Mmmh :s

Je suis presque convaincu que c'est un problème général aux contenus, ça (*versionning*, toussa). À vérifier avec un autre type de contenu.

[2017-01-05 13:04] firm1 commented on #4134
Bien vu, c'est général à tous les contenus, je supprime donc le tag zep-13

[2017-01-06 14:40] artragis commented on #4134
et c'est pas normal justement. le but est qu'à la republication si l'auteur n'existait pas il n'a pas à y être.

[2017-01-06 15:31] firm1 commented on #4134
Oui oui, c'est pour ça que j'ai supprimé le tag zep-13 et gardé juste l'issue car le problème est général aux contenus

[2017-01-07 11:44] vhf commented on #3704
Un grand merci à @Eskimon qui a semble-t-il consacré quelques heures de vacances à cette tâche ingrate. 👍

[2017-01-07 11:49] vhf commented on #3704
J'ai cru que c'était terminé, au temps pour moi. :)

[2017-01-07 13:52] Eskimon commented on #3704
:D il me reste quelques modules. Sinon ça a pas pris tant de temps quand les bons outils sont mis en oeuvre (et je suis pas en vacances, j'ai juste des enfants qui se lèvent tôt :D )

[2017-01-07 14:33] Anto59290 opened #4137 "Import d'une archive de tuto"
Lorsque j'importe une archive de tutoriel (valide, à ma connaissance) j'obtiens l'erreur suivante :

Le fichier "les-bases\la-photographie-numerique/introduction.md" n'existe pas dans l'archive.

Deux problèmes :

- Le fichier en question existe bien...
- Mais Zds semble se mélanger les pinceaux entre slash et anti-slash.

L'archive peut être envoyé en MP si quelqu'un souhaite constater. Je l'ai r

[2017-01-07 15:27] pierre-24 commented on #4137
Tu peux me l'envoyer que je regarde, mais effectivement, y'a des choses bizarres au niveau des "/" et "\\". La question étant : d'où provient cette archive ?

[2017-01-07 16:18] SpaceFox commented on #2272
Je remonte ce sujet pour signaler que [les dernières versions de certaines de nos dépendances](http://cairosvg.org) commencent à **requérir** Python 3 pour fonctionner.

[2017-01-07 16:35] Anto59290 commented on #4137
Je te fait parvenir ça durant le week end. L'archive vient de Zest Writer il me semble (à vérifier).

[2017-01-08 07:54] pierre-24 commented on #2743
Et voilà qui est fait, merci @Anto59290 :)

[2017-01-08 07:54] #2743 closed, assigned to nobody

[2017-01-08 14:37] pierre-24 commented on #4106
C'est fait :)

[2017-01-08 14:37] #4106 closed, assigned to nobody

[2017-01-09 12:55] artragis commented on #4058
mergé donc à clore @vhf @sandhose

[2017-01-09 12:56] #4058 closed, assigned to nobody

[2017-01-09 12:56] artragis commented on #4058
en fait je pouvais le faire comme je l'avais ouverte :)

[2017-01-09 12:57] artragis commented on #3979
ça a été mergé.

[2017-01-09 13:40] Anto59290 commented on #1722
A été mergé ;)

[2017-01-09 13:45] pierre-24 commented on #1722
Ok :)

[2017-01-09 13:45] #1722 closed, assigned to nobody

[2017-01-09 13:45] pierre-24 commented on #3979
Anéfé.

[2017-01-09 13:45] #3979 closed, assigned to nobody

[2017-01-09 13:46] Anto59290 commented on #4074
A été mergé :)

[2017-01-09 13:49] pierre-24 commented on #4074
Toutafé !

[2017-01-09 13:49] #4074 closed, assigned to nobody

[2017-01-09 15:05] Anto59290 commented on #4137
Ticket à clore. On a regardé de plus prêt avec @firm1 et le problème vient de Zest Writer. Il y un mélange entre / et \ dans le manifest produit par ZW. Ça induit donc Zeste de Savoir en erreur, mais on ne peut rien y faire.

[2017-01-09 15:17] pierre-24 commented on #4137
Ok :)

[2017-01-09 15:17] #4137 closed, assigned to nobody

[2017-01-09 16:13] DevHugo commented on #4098
Je suis désolé, j'était partis en vacances et du coup, j'arrive un peu après la bataille !

Pour solr, j'avais pas trouvé de tokenizer, token filter ou autre qui vire toutes les balises HTML ! Du coup, je le faisait à la main. Si tu as trouvé comment faire mieux, bravo a toi !

Ne pas prendre ce message comme un souhait de truc à implémenter de suite, la PR en cours est très bien comme elle est, o

[2017-01-09 17:22] pierre-24 commented on #4098
Grosso modo, je suis d'accord avec ce que tu dis sur les *facets*, à terme ce serait beaucoup plus gérable de les utiliser. Et oui, c'est facile avec ES ;)

Je crois que j'ai fourché sur *indexé*. En effet, dans la version finale, le forum est sauvegardé, mais la recherche n'as pas lieu sur ce champ. Donc ça rejoint ce que tu dis :-)

Voir point précédent.

[2017-01-09 17:48] Anto59290 commented on #3881
J'ai regardé un peu pour m'occuper de ce ticket. Il me semble qu'une classe comme cela fait l'affaire :

[code]

J'ai l'impression que si l'on ne renseigne pas la variable `fields` il continu avec tous les champs. Est-ce que ça vous va si je précise juste les `raw_id_fields` comme dans mon exemple ?

[2017-01-09 17:59] pierre-24 commented on #3881
Ben essaye et on verra :)

[2017-01-09 18:20] Anto59290 commented on #3881
J'ai essayé et ça marche. Ma question en fait c'était plutôt : y a-t-il une bonne raison de pas faire comme ça ?

[2017-01-09 22:13] vhf commented on #3881
Pas que je sache @Anto59290 ! Je me réjouis que ça soit réglé cette histoire. 👍

[2017-01-10 12:50] Anto59290 commented on #3251
Ayant un peu de temps libre en ce moment, je me suis penché la dessus. J'aime bien l'approche itérative proposée par @Spacefox . Je propose le plan d'action suivant :

V1 :

- On affiche le diff grâce au templatetag, à l'utilisateur de faire son *merge* à la main. C'est un peu long pour le cas où chaque auteur à écrit un pavé, mais c'est une première solution satisfaisante. On a le minimum viable.

[2017-01-10 13:44] pierre-24 commented on #3251
N'hésite pas à proposer ton POC qu'on puisse y regarder :)

[2017-01-10 16:04] Anto59290 commented on #3251
Alors je suis passé un peu à l'étape 1.5 en intégrant Mergely. Le repo de travail est dispo ici : https://github.com/Anto59290/zds-site/tree/3251_git_diff_2 si tu veux tester @pierre-24 .

Je suis pas méga familié de l'ajout de lib dans le projet donc j'espère que ça marche bien. Sinon il suffit de faire `npm install mergely` pour tester ;)

# Procédure de test
- Créer un tuto
- Editer le tuto (le

[2017-01-12 19:15] pierre-24 commented on #3333
Grâce à @Anto59290, c'est bon :)

[2017-01-12 19:15] #3333 closed, assigned to nobody

[2017-01-12 19:15] pierre-24 commented on #4027
Et grâce à @Anto59290, c'est fait :)

[2017-01-12 19:15] #4027 closed, assigned to nobody

[2017-01-12 19:15] pierre-24 commented on #3237
Voilà qui est fait :)

[2017-01-12 19:15] #3237 closed, assigned to nobody

[2017-01-12 19:28] pierre-24 commented on #3881
Et voilà, @Anto59290 a été plus rapide que moi :p

[2017-01-12 19:28] #3881 closed, assigned to nobody

[2017-01-12 20:07] pierre-24 commented on #4123
En même temps, qu'est ce que cette page devrait renvoyer ?

[2017-01-12 20:41] pierre-24 commented on #4115
Donc, que je suive : le comportement attendu est bien "la version sélectionnée du billet reste dans la liste tant que la nouvelle version n'est pas remise en avant ?"

[2017-01-12 20:43] pierre-24 commented on #4126
Y'a pas de champ "date de mise en avant". Donc forcément, on peut pas trier dessus. J'en rajoute un ?

[2017-01-12 21:24] pierre-24 commented on #4132
ça a du être réglé depuis, parce que j'arrive pas à reproduire :

![screenshot from 2017-01-12 22 23 09](https://cloud.githubusercontent.com/assets/7889675/21908839/d09e7ddc-d915-11e6-95ed-3730c7601311.png)

(par contre, le MP ne cause pas de billet, donc ça je corrige)

[2017-01-12 21:24] #4132 closed, assigned to nobody

[2017-01-12 21:36] pierre-24 commented on #4116
Qu'un valido a déjà décidé que le billet méritait de passer au niveau supérieur. Qu'est ce que tu voudrait changer ?

(à noter que c'est visible uniquement pour le staff)

[2017-01-13 09:11] firm1 commented on #4115
Tout à fait

[2017-01-13 09:17] firm1 commented on #4116
Du coup ça ouvre plusieurs questions ?

- Est-ce que c'est uniquement le staff qui décide qu'un billet doit être promu en article ?
    - si oui : la phrase devrait plutôt être "Ce billet a été identifié par un membre du staff comme pouvant faire l'objet d'un article. Il est donc présent dans la zone de validation des articles."
    - si non : la phrase devrait plutôt être : "Ce billet a fait l'ob

[2017-01-13 09:19] pierre-24 commented on #4116
Première option, donc :)

[2017-01-13 10:28] Anto59290 commented on #4008
Pour moi ce ticket a atteint son objectif depuis le merge et peut donc être fermé. Si nouvelle itération il doit y avoir sur ce menu déroulant je pense que ça aurait ça place dans un nouveau ticket (avec une maquette, si possible).

[2017-01-13 13:31] Anto59290 commented on #4100
Bon, j'ai regardé un peu plus dans le détails. Si on part sur la solution de @sandhose en ignorant les sprite c'est techniquement assez simple à mettre en oeuvre. Il y a même [ce petit plugin](https://github.com/mixxorz/django-inline-svg) qui nous simplifie le travail.

Le gros du travail se trouve dans le CSS, par exemple je sais pas du tout comment on va pouvoir gérer [les cas qui se trouvent da

[2017-01-14 08:48] vhf commented on #4126
@pierre-24 Oui, mais pas sur les billets stp.

Regarde le dernier point de la section *TODO* ici : https://github.com/zestedesavoir/zds-site/pull/3993

Cette table serait idéale pour avoir notamment le sha de la version choisie et un timestamp.

[2017-01-14 08:56] #4008 closed, assigned to nobody

[2017-01-14 09:07] pierre-24 commented on #4126
Je comprend pas ce que ça change de le mettre là et ... À vue de nez, à ce qui ressemble à un objet `Validation` :)

[2017-01-14 09:11] vhf commented on #4126
On s'est peut-être mal compris, tu veux le mettre où ce champ "date de mise en avant" ?

[2017-01-14 10:01] pierre-24 commented on #4126
Eh bien:

+ actuellement, les billet, mis en avant ou pas, sont triés par leur `pubdate`. Cette `pubdate` n'est jamais mis à jour, car les billets sont publiés en "modification mineure" (pour éviter que les auteurs jouent avec pour mettre leur billet en avant, j'imagine).
+ Ça signifie que si un billet est créé il y a trois mois, subit plusieurs màj et mérite finalement d'être mis en avant, il y a

[2017-01-14 10:05] pierre-24 commented on #4126
Quand à tes trois derniers TODOs, dans ma tête, pour implémenter ça, il "suffit" d'éttendre [l'objet `Validation`](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/models/models_database.py#L916) en lui donnant de nouveau statuts (`PICKED`, `UNPICKED`, `MASK`, `UNMASK`, ...), en demandant à chaque fois la raison et en la stockant dans l'objet (alors qu'aujourd'hui, question valida

[2017-01-14 10:07] vhf commented on #4126
Du coup tu es d'accord que ce champ `date_picked` dans `PublishedContent` est inutile puisqu'on aura aussi toutes les dates auxquelles un billet a été choisi et qu'il suffit de prendre la dernière ?

Pour l'histoire de l'objet Validation je préfère qu'on ne s'en serve pas ici. Ce serait une mauvaise abstraction. Les billets n'ont pas de validation, gardons la validation pour ce qui a une validatio

[2017-01-14 10:17] vhf commented on #4126
En fait je suis pas fondamentalement contre étendre Validation, mais dans ce cas il faut le renommer en je sais pas quoi et Validation pour les tutoriels et articles en héritera.

StaffContentAction ou je sais pas,  toute suggestion bienvenue.

[2017-01-14 11:50] pierre-24 commented on #4126
Le fait est que c'est déjà le cas pour la date de publication, qui existe elle aussi dans l'objet Validation. Maintenant, ce que tu propose donne une requête un peu tordue : `Validation.objects.get(status='PICKED').select_related('content').distinct().order_by('date_validation')` (ou un truc du genre), ce qui me rappelle un peu ce qui se fait pour la *topbar*, et qui est pas hyper-génial.

Ben je

[2017-01-14 11:58] vhf commented on #4126
Ton argument pour la requête se tient tout à fait. Du coup ajoute un champ `date_last_picked` ?

Pour la question de validation c'est pour moi une question sémantique. J'aimerais éviter au maximum les confusions, avoir le code le plus compréhensible possible. C'est pour ça que le code de la ZEP-13 n'utilise jamais pas le même champ lexical que les autres contenus à ce propos, et tout particulièrem

[2017-01-14 12:08] pierre-24 commented on #4126
Je suis au regret  [de démentir](https://github.com/zestedesavoir/zds-site/pull/3993/files#diff-f2064ec573e3eb343c9c83f99dc36109R643), même si je suis tout à fait d'accord que c'est pas clair, donc je suis  pour le changement à 150% (ça devrait être `PickOpinion`, en fait, et pareil pour le formulaire associé). Je note ça quelque part, parce que je m'étais justement fait la réflexion, mais que je

[2017-01-14 12:09] pierre-24 commented on #4126
Yup :-)

[2017-01-14 12:24] vhf commented on #4126
Yep, il reste quelques erreurs à corriger quand on fera une grosse revue du code de la ZEP-13.

Je propose l'inverse : un modèle qui englobe le 'choix' des billets et la 'validation' des articles. Je ne propose pas de faire hériter quoi que ce soit à Validation, je propose que Validation hérite d'un modèle plus général dont le choix des billets hériterait également. :)

[2017-01-14 12:29] pierre-24 commented on #4126
C'est ce que je voulais dire, mais justement, j'arrive pas à trouver un nom
qui me satisfasse pour ce méga objet et qui ne comprends pas Validation :(

On Jan 14, 2017 1:24 PM, "victor felder" <notifications@github.com> wrote:

[2017-01-14 12:37] vhf commented on #4126
Je propose hmm

[code]

Comme ça on a un *validation workflow* et un *picking workflow*.

[2017-01-14 17:12] pierre-24 commented on #4126
J'approuve :)

[2017-01-15 12:09] Anto59290 commented on #4073
Je pense que ça a été mergé ;)

[2017-01-15 12:27] #4073 closed, assigned to nobody

[2017-01-15 16:04] A-312 opened #4154 "Faute d'orthographe dans le message automatique des tutoriels"
Bonjour,

Pour : "J'ai commencé la rédaction d'un tutoriel au doux nom de « Introduction aux compute shaders » et j'ai dans l'objectif de proposer en validation un texte aux petits oignons. Je fais donc appel à votre bonté **sans limite** pour dénicher le moindre pépin, que ce soit à propos du fond ou de la forme. Vous pourrez consulter la bêta à votre guise à l'adresse suivante :",

On écrit : "s

[2017-01-15 17:29] gllmc commented on #4154
En effet :)

Vous pouvez me l'assigner, je m'en occupe ce soir.

EDIT : finalement, je peux le faire maintenant.

[2017-01-15 20:15] #4154 closed, assigned to gllmc

[2017-01-16 18:23] Anto59290 commented on #3944
Je crois que ça a été mergé ici ;)

[2017-01-16 19:01] #3944 closed, assigned to nobody

[2017-01-17 07:35] Eskimon commented on #3704
Lorsque les deux dernieres PR seront mergées il faudra refaire une dernière passe car il reste 2/3 lignes qui sont passé au travers

[2017-01-17 15:15] Anto59290 commented on #4068
Je prends. Le but se reproduit aussi sur les derniers sujets créés par un auteur. Ca a vraisemblablement été introduit par #3949 .

[2017-01-17 23:56] DevHugo commented on #4098
Juste pour garder en [mémoire](https://zestedesavoir.com/forums/sujet/3363/quelques-ameliorations-pour-la-page-de-recherche/).

[2017-01-18 20:49] artragis commented on #617
vue le gain de perf apporté par la v20 est-ce toujours pertinent @vhf ?

[2017-01-18 20:52] vhf commented on #617
Oui vaguement. C'est hyper basse priorité, clairement. Outre les PR actuelles, faudrait certainement migrer vers la prochaine version de Django par exemple. :)

[2017-01-18 22:00] Situphen commented on #4068
Merci @Anto59290 !

[2017-01-18 22:00] #4068 closed, assigned to nobody

[2017-01-19 18:39] pierre-24 commented on #3704
Voilà voilà :)

[2017-01-19 19:00] Eskimon commented on #3704
Je fais une dernière PR qui ajoute flake8-quote au dépendance de dev + fais quelques derniers ajustements passé au travers des mails du filet

[2017-01-19 21:40] vhf commented on #3704
T'as la classe.

[2017-01-20 19:18] Eskimon commented on #3704
Plus qu'un merge et ce ticket sera fermable \o/

[2017-01-20 20:14] Anto59290 commented on #3477
Des choses ont du bouger de ce côté la depuis #4146 . @SpaceFox : depuis ton premier message des choses se sont-elles améliorées ou c'est resté tel quel ?

[2017-01-20 21:56] vhf commented on #3477
#4146 n'est pas en prod. ;)

[2017-01-20 22:05] pierre-24 commented on #3704
Et grâce au super-caribou, c'est bon :)

[2017-01-20 22:05] #3704 closed, assigned to nobody

[2017-01-23 17:48] Anto59290 commented on #3622
De mon côté j'arrive à me connecter avec un compte Google sur la version en prod actuellement.

[2017-01-30 20:41] Luthaf opened #4168 "Problème d'encodage pour les MP de Clem"
J'ai reçu un MP de Clem à propos d'une alerte, et le titre du message est: ` (u"R\xe9solution d'alerte : [...]",)`. J'ai l'impression qu'un tuple est affiché directement, et qu'il y a un problème d'encodage quelque part.

Je ne crois pas que le problème touche les MP en général, juste ceux générés par Clem.

[2017-01-30 20:53] gllmc commented on #4168
J'avais déjà identifié ce problème sur la bêta avec la ZEP-13. C'était sur la prod cette fois-ci, j'imagine ?

Je pense que j'aurai le temps de regarder demain. Personnellement, j'ai l'impression que ça touche uniquement le MP de résolution d'alerte et pas tous ceux de Clem. :)

[2017-01-30 20:54] Luthaf commented on #4168
Yep, c'est sur la prod.

[2017-01-30 21:11] gllmc commented on #4168
Je pense que je vois le problème, vous pouvez me l'assigner, je ferai une PR demain.

[2017-01-31 20:54] gllmc opened #4170 "Utiliser la méthode update pour la désinscription"
Lors de la désinscription, on recherche actuellement tous les contenus postés par l'utilisateur pour les anonymiser un par un. Cela prend une requête pour chaque contenu, et, en plus, peut avoir des conséquences en terme de sécurité (voir #4167).

Il faudrait donc à la place, utiliser la méthode `update`. Exemple :

[code]

Vous pouvez me l'assigner, je devrais avoir le temps de me pencher dessus

[2017-02-01 17:54] pierre-24 commented on #4168
Merci @GCodeur !

[2017-02-01 17:54] #4168 closed, assigned to gllmc

[2017-02-04 10:47] vhf opened #4173 "Dernier appel pour la v22"
cc/ @zestedesavoir/les-bourgeons @zestedesavoir/les-jeunes-pousses

J'aimerais lancer la release v22 dans la semaine. Parmi les PRs ouvertes (à part ES, pièce de résistance de cette release), y a-t-il des choses qu'on pourrait encore y inclure ?

Merci pour tout votre travail !

[2017-02-04 10:55] gllmc commented on #4173
Salut :)

En ce qui me concerne, il y a #4172 qui pourrait être utile pour optimiser la désinscription, mais rien qui ne relève de l'expérience utilisateur.

#4142 est aussi mergeable si quelqu'un fait la QA, mais ça ne concerne que les admins.

En tout cas, ça fera une belle release puisqu'il y a pas mal de petits changement assez sympas qui ont été codés. Pour la ZEP-13, ça ira dans la v23 du co

[2017-02-04 11:34] gllmc commented on #2802
Vu qu'elle n'est pas référencée, je précise que cette issue pourra être fermée quand #4096 sera mergée. :)

[2017-02-04 11:39] DevHugo commented on #2802
J'avais complètement tord au passage.

[2017-02-04 11:47] #2802 closed, assigned to nobody

[2017-02-04 16:04] DevHugo commented on #4173
Ouai, pour la ZEP, j'aurais jamais le temps de tout finir pour mercredi.

[2017-02-04 16:17] artragis commented on #4173
ça serait bien que l'interface des tutos soit intégrée, elle est
facilement désactivable. Il suffit de faire quelques tests de base et
les retours viendront après.

[2017-02-04 16:20] vhf commented on #4173
Ok. Alors je résume mon plan:

On tente de lancer la release mercredi au plus tard. Reste à y intégrer :

- ~~ElasticSearch~~
- Idéalement l'interface de @artragis
- ~~Eventuellement #4172~~
- ~~Eventuellement #4142~~

Lors de la mise en beta de cette release, on active les pings et l'interface d'artragis. Puis une période de beta idéalement courte genre 1 semaine si tout va bien.

[2017-02-04 19:51] tleb commented on #4173
Je n'ai pas envoyé de patch pour le bug d'alignement vertical du bouton Suivre/Ne pas suivre, pardon. Je fais ça ce soir tard ou demain matin tôt.

[2017-02-04 20:00] DevHugo commented on #4173
Tu as jusqu'à mercredi soir, sinon ça passe dans la release d'aprés, y'a pas de souci.

[2017-02-05 08:25] tleb commented on #4173
#4082 a été résolu ?

[2017-02-05 13:46] gllmc commented on #3858
Pour ce qui est de la suppression des clés pour les bannis définitivement (le titre de l'issue), je peux m'en occuper. Par contre, pour permettre aux bannis de supprimer leur compte, ça va être plus complexe. Faire une demande à l'équipe du site est plus simple (d'ailleurs, je ne suis pas sûr que dans l'état actuel, on puisse supprimer un compte proprement sans passer par la vue dédiée qui est rés

[2017-02-05 14:14] gllmc commented on #2402
Je pense qu'on peut fermer cette issue maintenant que #4096 est mergée. :)

[2017-02-05 14:20] pierre-24 commented on #1755
Fix'd

[2017-02-05 14:20] #1755 closed, assigned to nobody

[2017-02-05 14:21] pierre-24 commented on #2857
Fix'd :)

[2017-02-05 14:21] #2857 closed, assigned to nobody

[2017-02-05 14:22] pierre-24 commented on #2769
C'est implémenté, et *tunable* :)

[2017-02-05 14:22] #2769 closed, assigned to nobody

[2017-02-05 14:22] pierre-24 commented on #3310
A disparu :)

[2017-02-05 14:22] #3310 closed, assigned to nobody

[2017-02-05 14:24] pierre-24 commented on #3393
Mmmmh, j'ai peut être oublié ça :)

[2017-02-05 14:26] pierre-24 commented on #3386
A tester, en fait ;)

[2017-02-05 14:27] pierre-24 commented on #3549
Bon, ça, c'est bon. C'est testé et tout.

[2017-02-05 14:27] #3549 closed, assigned to nobody

[2017-02-05 14:30] pierre-24 commented on #3625
Bon, j'ai même pas eu besoin de ça, et aprioris c'est réglé. A priori, elasticsearch-dsl fait une requête HEAD avant toute recherche, mais à part ça, une seule et unique requête suffit (fait passer en log mode INFO pour le voir)

[2017-02-05 14:30] #3625 closed, assigned to nobody

[2017-02-05 14:32] pierre-24 commented on #3678
Bon, c'est bon. Pas parfait parce que ça crache plus les mini-tuto/article avant les moyen/Big, mais les contenus sortent en premier (en fonction du settings.py, *of course*)

[2017-02-05 14:32] #3678 closed, assigned to nobody

[2017-02-05 14:33] pierre-24 commented on #3725
A tester sous Mac, mais sinon, on a maintenant une zolie doc :)

[2017-02-05 14:33] #3725 closed, assigned to nobody

[2017-02-05 14:34] pierre-24 commented on #3748
Done <3

[2017-02-05 14:34] #3748 closed, assigned to pierre-24

[2017-02-05 14:34] pierre-24 commented on #3833
Bon a priori :)

[2017-02-05 14:34] #3833 closed, assigned to nobody

[2017-02-05 14:36] pierre-24 commented on #4133
Bon, au final, elastic est arrivé avant la ZEP-13. La question reste : on indexe les billets ? Tous? On discriminé sur la mise en avant ou pas ?

[2017-02-05 14:39] pierre-24 commented on #2402
Anéfé :)

[2017-02-05 14:39] #2402 closed, assigned to SpaceFox

[2017-02-05 14:52] Situphen commented on #3393
Bon, il y a bien le `maxlength`qui bloque à 150 caractères ! Si je l'enlève avec la console et que j'envoie le formulaire j'ai une belle erreur 403 (*edit :* précision, avec + de 150 caractères) ! :D

[2017-02-05 15:09] pierre-24 commented on #3393
Oui mais dans le paramètre ?q=qqch, on peut mettre n'importe quoi, nan?

On Feb 5, 2017 3:52 PM, "Situphen" <notifications@github.com> wrote:

[2017-02-05 15:19] gllmc commented on #3393
En ce qui me concerne, j'ai bien une 403 avec 151 caractères (ou plus), mais pas avec 150.

[Exemple avec  151 caractères](https://beta.zestedesavoir.com/rechercher/?q=https://beta.zestedesavoir.com/rechercher/?q=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa)

[2017-02-05 15:22] pierre-24 commented on #3393
Donc a priori, c'est bon (151 vs 150, on va pas chipoter, si ?)

On Feb 5, 2017 4:19 PM, "Guillaume" <notifications@github.com> wrote:

[2017-02-05 15:32] artragis commented on #3386
je ne sais pas si la béta est à jour mais en effet, le bug est toujours présent.

[2017-02-05 15:33] artragis commented on #3393
@vhf tu peux clore du coup?

[2017-02-05 15:37] pierre-24 commented on #3386
À jour ou pas, j'y ai pas touché, donc OK :)

On Feb 5, 2017 4:32 PM, "artragis" <notifications@github.com> wrote:

je ne sais pas si la béta est à jour mais en effet, le bug est toujours
présent.

[2017-02-05 15:37] pierre-24 commented on #3393
Pas besoin :)

[2017-02-05 15:37] #3393 closed, assigned to pierre-24

[2017-02-05 15:43] gllmc commented on #3393
Même pas besoin puisqu'on a le comportement attendu. 150 étant la limite, il est normal qu'on ait une erreur à partir de 151, je me suis mal exprimé. ;)

[2017-02-05 15:45] Situphen commented on #3393
Si on pouvait avoir un message au lieu d'une 403 ce serait cool ! Mais bon, c'est déjà pas gênant en l'état actuel car une personne lambda ne touchant pas à la console n'aura jamais cette erreur.

[2017-02-05 16:03] Anto59290 commented on #4173
Si #4164 peut passer ça améliorerait un peu le menu. Sinon je pense que la PR sur l'interface de merge peut être QA, à voir si on à le temps de l'intégrer.

[2017-02-05 16:14] vhf commented on #3386
Non la beta n'est pas à jour, faudra attendre la release pour ça. :)

[2017-02-06 09:20] pierre-24 opened #4178 "Rajouter les "query strings""
Bon, avec #4096 j'ai déjà un peu amélioré la recherche, principalement avec mes histoires de *boots*. Ce qui est plutôt sympa. Mais ce qui le sera encore plus, ce sera de pouvoir chipoter avec des opérateurs booléens. Or, c'est possible avec Elasticsearch ([d'après la doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html)) et pas forcément très comp

[2017-02-06 12:57] gllmc opened #4181 "Utiliser permission_required pour vérifier les droits"
Actuellement, un certain nombre de nos vues utilisent une condition pour vérifier que l'utilisateur a une permission particulière et lèvent une exception `PermissionDenied` si ce n'est pas le cas. Par exemple :

[code]

Il est possible de faire mieux en utilisant le décorateur `permission_required` situé dans `django.contrib.auth.decorators`. Par défaut, ce décorateur redirige vers la page de conn

[2017-02-07 09:51] artragis opened #4183 "intégrer les user feedbacks de sentry"
Les versions récentes de sentry permettent d'intégrer une popin de "user feedback" entre le site et sentry.
A voir comment on met ça, mais ça permettrait d'avoir des feedbacks des users non enregistrés et qui du coup n'iront pas dans la partie "bug et suggestion".

[2017-02-07 15:53] SpaceFox opened #4184 "Permettre de mettre en bêta/prod BEAUCOUP plus souvent"
Le fonctionnement actuel en version bloque le déploiement de tout un tas de connectifs / améliorations assez triviaux, parce qu'il faut attendre pour qu'ils soient déployés  que la version soit prête et testée, et que comme dans toute version, on voudrait bien que les fonctionnalités X et Y soient embarquées, et donc correctement testées, etc.

C'est long et apporte de la latence, mais c'est encor

[2017-02-07 15:56] SpaceFox commented on #4184
PS : En admettant qu'on trouve une solution qui fasse ça et qui ait grosso merdo les mêmes fonctionnalités que Gitlab CI, on peut bien entendu :

1. Lui faire faire tous les backups imaginables avant la MEP proprement dite, et
2. Lui faire mettre la page de maintenance pendant les opérations.

Puisqu'il s'agit ~~en gros~~exactement d'exécuter un ou plusieurs scripts arbitraires sur un ou plusieurs

[2017-02-07 16:22] SpaceFox opened #4185 "Indiquer que des contenus sont des archives"
Une idée qui me vient de [ce topic](https://zestedesavoir.com/forums/sujet/7726/archive-des-contenus-du-sdz/) : il peut être intéressant d'indiquer qu'un contenu est une archive, donc non mise à jour, donc probablement obsolète.

Si l'idée vient du topic susnommé, j'y vois une application directe en restant purement dans Zeste de Savoir : certains de nos tutos ne sont plus mis à jour et sont déjà

[2017-02-07 16:23] SpaceFox opened #4186 "Historiser les éditions de messages"
Aujourd'hui, quand on édite un message, la version avant édition est définitivement perdue.

L'idée est d'historiser les différentes versions d'un message. Concrètement, si on est l'auteur du message ou membre du staff (limite pour éviter les abus), un clic sur l'indication d'édition afficherait une popup (ou une page) qui afficherait, dans l'ordre chronologique, les différentes versions du messag

[2017-02-07 17:26] pierre-24 commented on #4184
Moi, l’intégration continue, je suis moyen chaud : pour rester concret, je dirais qu'au vu du nombre de RC de nos dernières *releases*, l'intégration continue est assez suicidaire. Et du coup, on peut pas se permettre, avec notre *coverage* actuel (pourtant pas mauvais, mais par exemple on a pas de tests *fronts*), de se reposer uniquement sur les tests, ce qui signifie intensifier la phase de QA,

[2017-02-07 20:39] Eskimon commented on #4185
Idée probablement naïve : Pourquoi ne pas *simplement* mettre un bandeau type "Ce contenu n'a pas été mis à jour depuis plus de [durée à définir], il peut-être obsolète" ? Il suffirait d'un simple test dans le template du coup non ?

[2017-02-07 21:26] gllmc commented on #4185
C'est en effet possible, et plus simple, mais je préfère quand même quand c'est fait à la main. Je pense que c'est assez rapide de traiter ça pour le staff, et ça permet d'éviter de marquer ainsi des contenus sur un sujet qui ne change pas rapidement (ex : une langue), tout comme on peut dire les choses avec certitude pour un vieux tutoriel qui est obsolète (sur un framework par exemple). :)

[2017-02-07 21:31] SpaceFox commented on #4185
@GCodeur a bien résumé mon idée :)

[2017-02-08 10:55] gllmc commented on #4185
Je suis partant pour tenter de faire la PR. Du coup, je vois ça sous la forme d'une option visible par le staff et l'auteur sous `Version brouillon` qui serait `Marquer obsolète` ou `Marquer non obsolète`.

Je propose également de désactiver automatiquement le bandeau lors de la validation d'une version majeure.

[2017-02-08 12:11] pierre-24 commented on #4185
L'auteur aussi ? Pas que j'aie pas envie qu'un auteur ne puisse pas marquer son tuto comme obsolète, mais j'ai pas forcément envie qu'il le marque comme "plus obsolète" alors que le staff a décidé que si. Donc deux possibilités: soit c'est le staff qui gère tout, soit l'auteur a juste le droit de marquer et pas de démarquer. Non ?

[2017-02-08 12:25] gllmc commented on #4185
J'avais pensé à ça aussi. Effectivement on peut autoriser seulement l'auteur à marquer comme obsolète (un peu comme on fait pour le masquage des messages).

[2017-02-08 12:55] firm1 commented on #4185
J'aurai dit d'autoriser que le staff. Car si l'auteur disparait du site, il faut que quelqu'un puisse declarer l'obsolescence.

[2017-02-08 12:57] SpaceFox commented on #4185
Je confirme, d'autant plus que généralement un tuto est obsolète justement parce que son auteur ne vient plus.

[2017-02-08 19:45] pierre-24 commented on #4170
Et merci :l)

[2017-02-08 19:45] #4170 closed, assigned to gllmc

[2017-02-09 10:08] pierre-24 opened #4190 "Supprimer le MP de résolution d'alerte supprime le message de résolution."
J'ai ce matin signalé un message [incomplet](https://zestedesavoir.com/forums/sujet/7944/probleme-de-carte-wifi-sur-mint/?page=1#p140638) (pour dire de répondre s'il n'était pas édité). Informaticienzero l'a 15 minutes plus tard résolu, et a répondu.

L'alerte résolue était sur le message originel. J'ai supprimé le message de Clem (car ça m’embête d'avoir 36 000 messages inutile). Le message d'ale

[2017-02-09 11:24] gllmc commented on #4190
Je l'avais découvert et corrigé par #4172 au passage. ;)

EDIT : pour la précision, je l'ai découvert car la désinscription supprime ces MP, et donc reproduisait le bug. Du coup, j'en avais besoin pour que ma PR fonctionne.

[2017-02-09 12:49] pierre-24 commented on #4190
Ok :)

[2017-02-09 12:49] #4190 closed, assigned to nobody

[2017-02-09 18:45] vhf commented on #4173
Pas pu m'occuper de la release. Je m'y colle ce week-end du coup, dès mon retour. Sauf s'il manque encore des trucs qu'il faudrait faire passer avec, auquel cas on peut encore un peu repousser.

[2017-02-10 08:38] gllmc commented on #4185
On peut fermer. :)

[2017-02-10 09:43] pierre-24 commented on #4185
Juste. J'oublie toujours un truc :(

[2017-02-10 09:43] #4185 closed, assigned to nobody

[2017-02-10 09:48] SpaceFox commented on #4185
T'inquiète, j'oubliais tout le temps aussi :D

[2017-02-10 17:04] vhf commented on #4133
@pierre-24 question pour @FanJiyong à mon avis. :)

[2017-02-10 17:13] vhf commented on #4173
Ok je suis de retour. @artragis on peut partir sans toi ou t'as une forte préférence pour retarder la release encore quelques jours ?

Ping @pierre-24 si t'as un avis ou si j'ai manqué un truc. J'ai rapidement fait un topo en passant sur mes notifs, mais j'ai peut-être raté un truc pendant mon absence.

[2017-02-10 17:28] artragis commented on #4173
On peut faire sans moi. limite on fera une version 23 rapidement après la 22

[2017-02-10 22:27] DevHugo opened #4191 "Les certificats de la prod n'ont pas été renouvelé"
Bonjour,

Pour une raison inconnue les certificats n'ont pas été renouvelé, alors que ça devrait être automatique, si on utilise let's encrypt.

[2017-02-10 23:48] WinXaito commented on #4191
Je confirme, impossible de rejoindre le site sur Chrome mobile ...

[2017-02-11 02:04] WinXaito commented on #4191
C'est apparement bon

[2017-02-11 07:08] SpaceFox commented on #4191
C'est peut-être la même blague que sur mon serveur perso : le certificat
est renouvelé automatiquement, mais la conf nginx n'est pas rechargée, donc
le renouvellement n'est pas actif.

[2017-02-11 08:19] #4191 closed, assigned to nobody

[2017-02-11 10:46] vhf commented on #4191
Aucune idée du pourquoi. J'ai effectivement rechargé nginx dès que j'ai appris le problème, et ça a résolu le problème. Le certificat avait été correctement renouvelé.

[2017-02-11 11:37] DevHugo commented on #4191
On le saura pour la prochaine fois ^^. C'est le vendredi 12 mai 2017 à 01:45, ça va être un peu plus compliqué à redémarrer à cette heure là :p.

[2017-02-11 11:40] vhf commented on #4191
Notre cron est censé recharger nginx quand le certificat est renouvelé. C'est ça le plus surprenant.

[2017-02-11 11:44] DevHugo commented on #4191
Elle est paramétré comment ? au début, j'ai l’impression que c'est tous les deux mois mais y'a un ajout de quelques heures à chaque fois. Par-exemple, le dernier renouvellement, c'était le vendredi 10 février 2017 à 23:16:00 et le prochain est le  vendredi 12 mai 2017 à 01:45.

Si c'est redémarrer après le renouvellement, c'est vraiment bizarre.

[2017-02-11 11:47] vhf commented on #4191
`27 */12 * * * certbot renew --quiet --disable-hook-validation --post-hook "service nginx reload"`

[2017-02-11 11:56] vhf commented on #4173
C'est fait.

[2017-02-11 11:56] #4173 closed, assigned to nobody

[2017-02-11 11:59] pierre-24 commented on #4173
Au vu [de la page de recherche](https://beta.zestedesavoir.com/rechercher/), je pense qu'il y a eu un truc avec la génération du CSS : sur le dernier tests en date de ES, la clem' de noël était présente sur la recherche (en plus du fait qu'il n'y a pas la marge entre le paginateur et la zone bleue, alors qu'elle y était). Me trompe-je ?

[2017-02-11 12:39] DevHugo commented on #4191
Le plus drôle, c'est que ça marche sur la béta !

[2017-02-11 12:51] vhf commented on #4173
Bien vu. Aucune idée pour le CSS. Comme d'hab j'ai pas touché le front, il est buildé par Travis.

[2017-02-11 13:12] vhf opened #4192 "Voir un message où on est pingé donne une 500"
[code]

Probablement facile à réparer.

[2017-02-11 13:15] vhf commented on #4192
Super facile à régler :

[code]

Du coup si quelqu'un sait réparer plus proprement que ça, volontiers. J'ai hotfixé la beta.

En profiter pour corriger le logging svp : `were found`, pas `were find`

[2017-02-11 13:27] vhf opened #4193 "Editer un message pingant reping."
Scénario :

1. Poster un message avec un ping vers X
2. Editer le message
3. Editer le message
4. Résultat, X reçoit 3 notifs de ping.

[2017-02-11 13:37] vhf opened #4194 "Editer un message pour enlever un ping devrait supprimer la subscription"
Scénario :

1. Poster `@x`
2. Editer en `x`
3. `x` reçoit la notif disant qu'il est mentionné, alors qu'il ne l'est plus.

Fix : je suppose qu'on peut, lors de l'edit, croiser les pings existant au préalable sur le message édité avec les pings existant dans la version éditée.

Je pense que c'est plus facile à régler si c'est la même personne qui s'occupe de ce ticket de #4193

[2017-02-11 13:46] DevHugo opened #4195 "Notification persistante quand on est pingé sur un sujet dont on n'a pas les droits"
Bonjour,

Procédure pour reproduire:

- Créé un sujet avec un utilisateur ayant les droits sur le forum "corbeille", dans le message faire un ping sur un utilisateur n'ayant pas les droits sur le forum corbeille
- Mettre le sujet dans la corbeille sans lire la notification associé
- Noter que l'utilisateur ayant fait l'objet du ping à maintenant une notification persistante.

[2017-02-11 13:57] vhf commented on #4195
Pour clarifier le bug, il y a deux scénarios :

1. Déplacement vers un forum auquel le pingé n'a pas accès
    1. Pinger X dans un forum 'public'
    1. Déplacer le sujet dans un forum non-public
1. Créer un ping dans un forum auquel le pingé n'a pas accès
    1. Pinger X dans un forum non-public

[2017-02-11 14:13] artragis commented on #4195
quel est le type de la notif générée par le ping svp?

[2017-02-11 14:21] vhf commented on #4195
`PingSubscription` @artragis

[2017-02-11 14:24] artragis commented on #4195
thx. Pour ce qui est du changement de forum, je vais régler le pb assez
facilement. Pour la partie "pinger dans un forum non visible" je sais
pas encore comment faire par contre. Je regarde.

[2017-02-11 15:23] Situphen commented on #4173
Alors je ne sais pas pourquoi ce n'était pas dans le PR sur le recherche, mais les correctifs pour le front sont dans #4196 !

[2017-02-11 15:33] pierre-24 commented on #4173
Voilà qui n'est pas logique:

![screenshot from 2017-02-11 16 31 41](https://cloud.githubusercontent.com/assets/7889675/22854945/c04c7d98-f077-11e6-9665-c3040be9f69e.png)

[2017-02-11 16:36] vhf opened #4198 "Empêcher l'autoping"
Il est possible de s'auto-pinger. C'est assez inutile.

[2017-02-11 16:38] vhf opened #4199 "Ne pas pinger dans les citations"
Je pense qu'il serait préférable que les pings dans les citations ne soient pas pris en compte. Ça deviendra vite pénible sinon, à mon avis. Ping @FanJiyong un avis ?

Je suppose qu'il faut faire ça dans ZMarkdown. Ping @cgabard, un avis ?

[2017-02-11 17:16] WinXaito commented on #4198
Oui mais pas autrement problématique, si ? ça peut permettre de mettre en évidence une liste d'utilisateur et de s'y mettre dedans.

[2017-02-11 17:18] DevHugo opened #4200 "Documenter le ping dans la doc markdown"
Bonjour,

Penser à mettre le [tutoriel markdown](https://zestedesavoir.com/tutoriels/249/rediger-sur-zds/) à jours.

[2017-02-11 17:52] vhf commented on #4198
Je comprends toujours pas l'intérêt. Si je mets @vhf, j'ai pas besoin de recevoir de notification, je sais ce que j'écris, non ?

[2017-02-11 17:59] pierre-24 commented on #4198
Non, tant qu'on reçoit pas de notification. Pour autant, et comme ton
commentaire le prouve sur GH, le nom est quand même formaté :)

[2017-02-11 18:48] AmauryCarrade commented on #4200
Et ajouter une astuce les concernant dans #4078, éventuellement.

[2017-02-11 19:09] vhf commented on #4198
Oui oui il faut formater le nom. Par contre il ne faut pas pinger. Je ne parle que du ping. Se pinger soi même est inutile.

[2017-02-11 20:30] cgabard commented on #4199
Oui il faut faire ça dans le markdown. Tu peux me faire une issue dans le
dépôt ?

[2017-02-11 21:08] gllmc opened #4201 "[v22] Un contenu sans date de publication donne un résultat blanc"
En faisant une [recherche sur le mot python](https://beta.zestedesavoir.com/rechercher/?q=python), il y a un résultat blanc, provenant de [ce tutoriel](https://zestedesavoir.com/tutoriels/334/panda3d-et-heightmap/), qui d'après @pierre-24 ne possède pas de date de publication.

À voir où est le vrai problème (et pourquoi ce tuto n'a pas de date de publication). :)

[2017-02-11 21:13] pierre-24 commented on #4201
Deux choses ici, donc :

+ D'une part, @vhf n'as peut être simplement pas relancé d'indexation (et je peux le comprendre), sauf que normalement, j'avais *commité* un fix, dont on ne sais pas si il a fait effet ou pas.
+ Quand au pourquoi de l'absence de date de publication, mystère et boule de gomme, mais [j'ai de bonne raisons de croire que ça ne se reproduira pas](https://github.com/zestedesavoi

[2017-02-11 21:44] vhf commented on #4201
J'ai sync la bdd produit vers beta lors de la MEB et tout indexé.

[2017-02-12 07:19] WinXaito commented on #4198
Ah je suis d'accord que l'on ne doit pas recevoir de notification (bien qu'elle soit lu directement) mais je suis pour qu'on garde le formatage du nom

[2017-02-12 07:37] pierre-24 commented on #4198
Tout le monde est d'accord, donc ;)

[2017-02-12 07:38] pierre-24 commented on #4201
Ah, f\*\*. Bon, je regarde ça quand j'ai deux minutes ;)

[2017-02-12 13:40] vhf commented on #4201
Dis-moi si je peux te fournir des infos @pierre-24

[2017-02-12 13:46] vhf commented on #4201
Bon j'ai décidé de régler le problème dans les données. J'ai pris la date de publication du publishable et l'ai mise sur le published, en prod et en beta. En beta, j'ai aussi flaggé "à réindexer".

Si c'est réglé dans ~30min quand le timer sera passé, je ferme l'issue et on perd pas de temps à tenter de régler ça.

[2017-02-12 14:56] vhf commented on #4201
Réglé par le timer.

[2017-02-12 14:56] #4201 closed, assigned to nobody

[2017-02-12 16:43] pierre-24 commented on #4201
Ok, cool, un grand merci :)

[2017-02-12 17:00] pierre-24 opened #4205 "Bouton « comparer à la bêta » et « comparer à la version en ligne »"
Je trouve que ce serait utile pour les auteurs d’avoir un bouton pour comparer la version actuelle d’un tutoriel à la version publiée, en bêta ou encore à la version brouillon. La page d’historique permet ça, mais quand les versions à comparer ne sont sur la même page, c’est plus embêtant (ça se fait en copiant à la main le numéro d’une des versions pour la comparer à l’autre). Je propose donc l’a

[2017-02-12 17:16] gllmc commented on #4205
Vous pouvez me l'assigner, je pense avoir le temps de m'en occuper ce soir. :)

[2017-02-12 17:35] pierre-24 commented on #4205
Quelle efficacité :o

[2017-02-13 20:53] #4205 closed, assigned to gllmc

[2017-02-13 21:29] pierre-24 commented on #3948
Voilà qui est réglé :)

[2017-02-13 21:29] #3948 closed, assigned to nobody

[2017-02-14 12:42] gllmc commented on #4090
On peut probablement fermer cette issue maintenant qu'on n'a plus de raison de masquer la barre de recherche, non ?

[2017-02-14 12:45] pierre-24 commented on #4090
Tout a fait :)

[2017-02-14 12:45] #4090 closed, assigned to nobody

[2017-02-14 12:46] gllmc commented on #3897
J'avais raté cette issue, mais le `# TODO: improve this method's name?` est fixé par #4089 :)

[2017-02-14 12:49] pierre-24 commented on #3897
Merci :)

[2017-02-14 12:50] gllmc commented on #3679
Est-ce que le problème ne serait pas le même que #2985 ? Le badge de gustavi s'affiche maintenant sans problème (le problème n'a duré que quelques temps), ce qui est le même comportement que chez les nouveaux staffeux.

[2017-02-14 13:00] gllmc commented on #2549
Maintenant que #4181 est ouverte, cette issue est obsolète, non ?

[2017-02-14 13:03] gllmc commented on #2328
On a maintenant un middleware qui [déconnecte automatiquement](https://github.com/zestedesavoir/zds-site/blob/dev/zds/middlewares/setlastvisitmiddleware.py#L32) un utilisateur banni. Cela résout-il le problème ?

[2017-02-14 13:59] firm1 commented on #2328
ça résoud le problème pour une grosse majorité des cas.

Il ne reste plus que le cas de l'utilisateur banni qui passe par l'api. Il ne sera pas soumis aux règles du middleware et donc pourra faire les actions exposées par l'api. Ceci dit les actions restent limitées.

[2017-02-14 20:30] pierre-24 opened #4210 "Alerte sur le nombre de contenus orphelins dans la zone de validation"
Ceci est un suggestion pour le groupe staff, mais je la laisse quand même ici pour centraliser dans le forum B&S.

ça serait pas mal d'avoir, pour les staffeux, dans le zone en haut à droite à coté de l'avatar, un bouton d'alerte dédié aux contenus en zone validation non réservés. Avec un compteur qui indique le nombre de contenus orphelins en validation.

ça donnerait plus de visibilité à la zone

[2017-02-14 20:37] pierre-24 commented on #4181
Ok. Moi, à priori, je n'en vois plus :)

[2017-02-14 20:37] #4181 closed, assigned to nobody

[2017-02-14 20:38] pierre-24 commented on #2549
Maintenant, oui. T'as l'oeil ;)

[2017-02-14 20:38] #2549 closed, assigned to nobody

[2017-02-17 10:56] firm1 opened #4215 "[beta][v23] Erreur 500 via opensearch"
Bonjour,

**Lien incriminé** : https://beta.zestedesavoir.com/rechercher/opensearch.xml

**Problème** : j'ai une erreur 500 en allant sur cette url.

[2017-02-17 11:03] firm1 opened #4216 "Les commentaires de contenus ne sont pas indexés"
Bonjour,

La recherche indexe les contenus, les messages de forums, mais elle n'indexe pas les commentaires de contenus.

La preuve en est que je devrais pouvoir avoir au moins [ce message](https://beta.zestedesavoir.com/articles/1449/decouvrons-la-creation-dun-medicament/#p129017) qui remonte dans [cette recherche](https://beta.zestedesavoir.com/rechercher/?q=immunologie)

[2017-02-17 11:07] gllmc commented on #4216
C'est déjà le cas avec la recherche actuelle, non ? Mais effectivement, ça pourrait être sympa.

[2017-02-17 11:15] firm1 opened #4217 "[beta][v23] Le bouton marquer tous les messages comme lus ne semble pas faire le job"
Bonjour,

Prerequis : Il faut avoir des notifications venants du forums non lues

Scénario :
- aller dans tous les notifications
- cliquez sur le bouton "marquer tout comme lus" de la sidebar
- vous avez bien un message de confirmation et le compteur est revenu à la normale dans la zone de notification
- revenez ensuite dans le forum
- constatez que dans la sidebar, dans les sujets suivis, vous av

[2017-02-17 11:23] firm1 commented on #4216
Oui déjà le cas on dirait.

Le ven. 17 févr. 2017 12:07, Guillaume <notifications@github.com> a écrit :

[2017-02-17 11:26] gllmc commented on #4217
En fait, ce comportement est normal car la fonction fait exactement ce qu'elle dit, c'est-à-dire qu'elle marque les notifications comme lues mais sans marquer le sujet comme lu.
À vrai dire, ça ne me choque pas particulièrement car il s'agit à mon sens de deux choses différentes. Si je marque tout comme lu (par exemple car je me suis absenté longtemps et que j'ai donc trop de notifications), je tr

[2017-02-17 12:31] pierre-24 commented on #4215
Bien vu :) Voir [erreur sentry associée](https://sentry.sandhose.fr/zeste-de-savoir/beta-backend/issues/899/).

En gros, j'ai fait le con et j'ai oublié de migrer la template :)

[2017-02-17 12:31] pierre-24 commented on #4216
Ça pourrait être sympa, en effet :) (je dois rajouter les utilisateurs, aussi). Par contre, ce sera pour la version suivante, si ça vous ennuie pas !

[2017-02-17 12:54] firm1 opened #4219 "[beta][v23] du blanc dans le footer de la recherche"
lien de la page : https://beta.zestedesavoir.com/rechercher/

screenshot:

![blanc-search](https://cloud.githubusercontent.com/assets/6066015/23065986/7f64bcf0-f518-11e6-9094-8c8b28405033.PNG)

[2017-02-17 12:55] firm1 commented on #4216
ça me va perso.

[2017-02-17 12:57] firm1 commented on #4217
intuitivement je ne m'y attendais pas, et j'ai beau comprendre ta logique, ça reste déroutant pour moi.

[2017-02-17 15:18] pierre-24 commented on #4217
Donc @FanJiyong doit trancher :)

[2017-02-17 15:31] sandhose opened #4220 "Upgrader OpenSSL pour prendre en charge ALPN (pour HTTP/2)"
Sur la prod, on a une vieille version d'OpenSSL, qui prend en charge NPN, et pas ALPN. Le support d'NPN pour l'HTTP/2 a été drop dans chrome y'a un moment, et plus récemment dans firefox. On a donc pas d'HTTP/2 dans ces navigateurs.

ALPN est pris en charge avec `openssl>=1.0.2`. `openssl-1.0.2k` est dispo dans `jessie-backports` sur debian.

cf. <https://zestedesavoir.com/forums/sujet/8009/active

[2017-02-17 16:12] vhf commented on #4220
Tu me fais une note dans `update.md` sur la branche de release stp ?

[2017-02-18 16:04] #4215 closed, assigned to pierre-24

[2017-02-19 13:47] vhf commented on #4184
J'ai réfléchi à tout ça et je pense que si j'avais une semaine de vacances ce serait jouable.

Petite note :

Là aussi, attention à ne pas autoriser trop de gens à appuyer sur ce bouton. Les données sur la bêta sont généralement quelques jours/semaines derrière la prod. On peut pas se permettre de déployer du code sans être certain qu'il ne donne pas accès à la DB.

[2017-02-19 16:53] #4220 closed, assigned to nobody

[2017-02-19 16:53] vhf commented on #4220
#4222

[2017-02-20 09:49] GerardPaligot commented on #4082
Vous savez s'il y a une solution à court/moyen terme qui est envisageable ? Ce bug est assez pénible pour les utilisateurs des APIs.

[2017-02-20 19:32] vhf commented on #4082
Oui oui @GerardPaligot , cf le dernier ticket mentionné, sur ZMarkdown.

[2017-02-20 20:04] pierre-24 opened #4223 "Les majuscules impactent les résultats de recherche"
[Du forum](https://zestedesavoir.com/forums/sujet/7953/v22-venez-tester-sur-la-beta-svp/?page=2#p141196):

---

Et en effet :  [nazara](https://beta.zestedesavoir.com/rechercher/?q=nazara) vs [Nazara](https://beta.zestedesavoir.com/rechercher/?q=Nazara).

Ce qui est bizarre, parce que Elasticsearch [est configuré chez nous pour être *case insensitive*](https://github.com/zestedesavoir/zds-site/blo

[2017-02-20 20:10] pierre-24 commented on #4223
Du coup, petit devoir pour @vhf : exécuter ces deux commandes et me donner les retours:

[code]

[code]

Bon, ça va générer BEAUCOUP de texte, donc on fait comme la fois passée, utilise des gists. D'avance merci :)

Note pour le futur: la liste des forums en local et en live ne *matchent* évidement pas. Pas oublier de la changer par `[1, 2, 3, 16, 17, 18, 19, 20, 21, 22, 23, 24]`.

[2017-02-20 21:06] pierre-24 commented on #4223
Trouvé : https://www.elastic.co/guide/en/elasticsearch/reference/5.2/keyword.html#keyword

[2017-02-22 14:31] SpaceFox opened #4226 "MAJ de la liste de fournisseurs de mails bloqués"
Aimail a la bonne idée d'utiliser masse de noms de domaines…

Par exemple : http://fr.getairmail.com/zssutslk/qffE :

- `@abyssmail.com`
- `@boximail.com` (déjà utilisée sur ZdS par des comptes louches)
- `@eelmail.com`
- `@vomoto.com`
- `@pwrby.com`
- … et je suppose quelques zillions d'autres.

À voir ce qu'on peut faire dans ce cas.

[2017-02-22 15:57] gllmc commented on #4226
Je viens de tester en générant des adresses jusqu'à être bloqué. Il y avait en effet pas mal de NDD différents, mais certains se recoupaient avec les tiens ou apparaissent plusieurs fois, donc pas sûr qu'il y en ait tant que ça.

Même si on en ratera sans doute quelques uns, je propose déjà de faire une PR avec les domaines que tu as repéré plus d'autres que l'on pourrait trouver en testant (on pe

[2017-02-22 16:24] tleb commented on #4226
Deux autres que j'ai pu relevé avant d'atteindre la limite :

* `@zetmail.com` ;
* `@tafmail.com`.

[2017-02-22 16:37] gllmc commented on #4226
Je viens de faire trois nouvelles séries et je n'en ai trouvé qu'un nouveau qui est tout bêtement `@getairmail.com`. À moins que vous n'en trouviez de nouveaux, je pense qu'on peut faire la PR, non ?

Je récapitule :

- `@abyssmail.com`
- `@boximail.com`
- `@eelmail.com`
- `@vomoto.com`
- `@pwrby.com`
- `@imgof.com`
- `@6paq.com`
- `@anappfor.com`
- `@clrmail.com`
- `@zetmail.com`
- `@tafmail.com`

[2017-02-25 14:29] Karnaj opened #4228 "Incohérence tutoriels publiés d’un membre"
Salut,

Je copie ici un message que j’ai posté sur Zds.

On peut voir une incohérence sur le profil d’un membre au niveau des derniers tutoriels et du nombre de tutoriels en ligne. Ça arrive dans deux cas.

1. Le membre est présent dans les auteurs de la version en ligne d’un tutoriel, mais ne l’est pas pour la version brouillon. Dans ce cas, le tutoriel compte dans le nombre de tutoriels en ligne

[2017-02-25 18:37] gllmc commented on #4223
Est-ce qu'on n'a pas oublié de fermer ?

[2017-02-26 14:05] A-312 commented on #4226
Pourquoi vous ne bloquez pas aussi l'ip smtp du serveur, plutôt que le nom de domaine ?

En php j'utilisais la fonction [gethostbyaddr](http://php.net/manual/fr/function.gethostbyaddr.php) sur le nom de domaine pour récupérer le smtp.

Ensuite rien empêche de mettre un système de cache sur le NDD.

[2017-02-26 14:31] A-312 commented on #3824
[Ici](https://github.com/zestedesavoir/zds-site/pull/2318) la recherche de sujet similaire à la création du sujet semblait être problématique.

[2017-02-26 15:31] vhf commented on #4226
@A-312 dans quel but ?

[2017-02-26 15:47] A-312 commented on #4226
J'ai copié la mauvaise ligne, je voulais dire cette fonction : [gethostbyname](http://php.net/manual/fr/function.gethostbyname.php).

getairmail.com à une liste très grande de nom de domaine, vous ne pouvez pas tous les logger, chaque semaine il y en a des nouveaux.

Alors que si vous faite ceci :

[code]

Vous allez obtenir l’ip du serveur mail :

[code]

Il suffira donc juste d'une ligne pour bl

[2017-02-26 15:54] vhf commented on #4226
Non, c'est pas comme ça que ça fonctionne, pour plusieurs raisons.

L'IP de l'hostname n'est pas souvent celle du serveur mail d'envoi ou de réception. Il n'y a pas de moyen simple d'obtenir les IPs des serveurs mail d'envoi ou de réception. Même si on avait ces IPs, il faudrait que la personne qui veut s'inscrire sur ZdS envoie un email à ZdS pour qu'on puisse vérifier si son fournisseur d'email

[2017-02-26 17:30] #4223 closed, assigned to pierre-24

[2017-02-26 22:03] pierre-24 commented on #3824
Oui, mais avec ES, y'a moyen de faire des trucs "plus proprement", à priori :)

[2017-02-28 16:25] #3300 closed, assigned to Situphen

[2017-02-28 16:27] #1691 closed, assigned to nobody

[2017-02-28 20:22] gllmc commented on #4217
Comme dit sur [ZdS](https://zestedesavoir.com/forums/sujet/8104/notications-toutes-lues/#p142899), je prends. Je ferai ça dans le courant de la semaine et vous pouvez donc me l'assigner. :)

Au passage, on peut enlever les cartouches `v23` (v22 plutôt, non ?) et `beta` puisque ça passera visiblement dans la prochaine version.

[2017-02-28 21:55] GerardPaligot opened #4231 "Recherche n'affiche pas toujours les tutoriels en premier"
Hello les amis,

Comme tout le monde, je suis ravi de voir la recherche revenir sur la page d'accueil, encore plus au vu de la pertinence de ses résultats. Malheureusement, sur certaines recherches (et peut-être sur certaines reindexation), les premiers résultats affichés ne sont pas des tutoriels mais des messages de forum. Chose étrange puisque les priorités me semblaient être : Tutoriel > Artic

[2017-02-28 22:38] DevHugo commented on #4231
Bizarre c'est pas du tout les mêmes résultat sur la béta : https://beta.zestedesavoir.com/rechercher/?q=android.

![](https://screenshotmachine.com/serve.php?img=beta-zestedesavoir-com-1024x768desktop-6156df.png)

[2017-03-01 06:51] gllmc commented on #4231
Même comportement en cherchant `Django` [ici](https://zestedesavoir.com/rechercher/?q=Django) et [là](https://beta.zestedesavoir.com/rechercher/?q=Django). Est-ce que #4224 aurait pu avoir un impact ?

[2017-03-01 07:13] pierre-24 commented on #4231
Possible. M'enfin j'ai décidément l'impression, comme je le disais sur l'article de la v22, que le *boost* pour les tags est trop puissant ([2 vs 1.5 pour le titre](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/models.py#L395-L396)). Et quand bien même [c'est la même chose côté tutos](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/models/models_database.py#L878-L8

[2017-03-02 17:53] gllmc opened #4235 "Erreur"

[2017-03-02 17:54] gllmc commented on #4235
Toutes mes excuses, je faisais un test d'envoi sur GitHub et, après un commit où j'avais donc remis le nom du dépôt principal, j'ai oublié de remettre mon fork dans les settings.

[2017-03-02 17:54] #4235 closed, assigned to nobody

[2017-03-02 19:28] artragis opened #4237 "Utiliser localStorage pour retenir la frappe"
Je crée un sujet technique pour implémenter une foncitonnalité souvent discutée et qui est remontée aujourd'hui sur le forum : https://zestedesavoir.com/forums/sujet/8117/champ-de-reponse-et-sujets-a-plusieurs-pages/

Ce que je propose, c'est qu'on fasse une sorte de plugin JQuery comme on l'a fait pour le karma qui permette d'utiliser le localStorage.

Voici le fonctionnement que je propose :

-

[2017-03-02 19:29] artragis commented on #4237
@vhf, peux-tu m'assigner cette tâche si tu es d'accord avec elle?

[2017-03-02 21:46] WinXaito commented on #4237
Il me semble que Firefox le fait plus ou moins de base, ça ne risque pas de créer des soucis ?

[2017-03-03 06:29] artragis commented on #4237
S'il ne le fait que "plus ou moins", non, ça ne posera pas de soucis, je
pense.

Le 02/03/2017 à 22:46, Kevin Vuilleumier a écrit :

[2017-03-03 21:31] rezemika commented on #4231
Je confirme également. J'ai effectué plusieurs recherches pour voir le comportement.

Forum en 1er :

- django
- rest
- framework (un seul sujet, puis le tuto principal)
- contribuer (idéalement, devrait faire remonter le guide du contributeur)
- zeste de savoir (contrairement à zds, ironiquement)
- informatique
- programmation
- linux
- maths (contrairement à mathématiques)

Contenus en 1er :

-

[2017-03-04 10:05] gustavi commented on #4217
Corrigé, merci @GCodeur !

[2017-03-05 23:32] #4217 closed, assigned to nobody

[2017-03-06 20:52] pierre-24 opened #4238 "La publication d'une nouvel version d'un contenu suivi fait qu'on ne le suit plus"
Bonjour,

Mon article sur les dinos a été publié. Je le suis (par défaut). J'ai fait une modification. Elle a été validée par un autre validateur. Je **ne** suis **plus** mon article. Reproduit sur la bêta (par auto-validation).

Pour reproduire :

- Faire valider un article ;
- Vérifier que vous (l'auteur) le suivez bien ;
- Modifier l'article ;
- Le faire revalider ;
- Constater que vous ne le s

[2017-03-06 21:06] gllmc commented on #4238
Il y a juste un point qui m'étonne, c'est que plusieurs modifications ont été apportées à [l'article sur la v22](https://zestedesavoir.com/articles/1747/zeste-de-savoir-continue-son-amelioration/) et que je lui suis toujours (et je n'ai pas souvenir de m'être réabonné). Est-ce que ça ne se produirait que dans des cas particuliers ?

[2017-03-06 21:16] EGabbro commented on #4238
Il a été validé 3 fois au total (d'après l'historique). Ça a très bien pu faire Suivi -> Plus de suivi -> Re-suivi. Donc finalement, tu suis bien l'article.

[2017-03-06 21:32] gllmc commented on #4238
Je viens de tester tout ça et je confirme ton analyse, il y a suivi à la première et la troisième publication, mais pas à la deuxième.

[2017-03-06 23:10] AmarOk1412 commented on #4119
Je rajouterais juste une ligne orange sous **Nouveau Billet** et je changerais l'ordre à droite (titre, description, tags, texte, licence)

Mais sinon c'est vachement cool :)

[2017-03-06 23:28] AmarOk1412 commented on #3897
forum/views.py L643 fixée vu que ça a été enlevé

[2017-03-07 07:02] pierre-24 commented on #4238
Ça a une gueule de `truc = not truc`, ça :)

[2017-03-07 16:46] gllmc commented on #4238
Je viens de jeter un œil au code et le problème me semble venir d'[ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/notification/receivers.py#L252). ;)

[2017-03-07 19:41] SuperFola commented on #3914
Et si en fait cela venait de ceci :
[code]

Un if sur la localTimeZone, comme juste après y a un `now = now - timedelta(microseconds=now.microsecond)` ca pourrait jouer non ? Léger décalage entre une heure locale et ... une autre x)

edit : après des tests plus appronfondi, je dirais que ca vient du module datetime lui même

Pour preuve :

[code]

`n()` avance en secondes, mais pas quand on fait l

[2017-03-07 21:59] tleb commented on #3914
*Semi-HS : pour faire des tests sur les datetimes, génère en une et une seul par tour de boucle, là t'en génère trois différentes et ça peut fausser tes résultats. Et tu as créé une boucle infini là vu que tu n'incrémentes pas `i`.*

[2017-03-08 18:13] gllmc commented on #4226
On peut fermer. :)

[2017-03-08 22:06] #4226 closed, assigned to nobody

[2017-03-12 21:12] AmarOk1412 opened #4242 "Ping et changement de nom d'utilisateur ?"
Actuellement, si une personne est ping dans un sujet et qu'elle change de pseudo, le ping dans le sujet reste à l'identique et donc mène a une 404.

Je trouverais logique que le ping se modifie en conséquence (je n'ai pas regardé cette partie du code, donc niveau difficulté, je ne sais pas ce que ça donne)

[2017-03-12 21:16] gllmc commented on #4242
Je n'ai pas non plus regardé le code, mais j'imagine que le lien est en dur dans l'attribut `text_html` de `Comment`. Donc je pense que ça risque d'être assez dur à changer (ou du moins, ça pourrait prendre beaucoup de ressources). De fait, il faudrait aussi modifier `text` en cas d'édition du message.

[2017-03-12 21:19] GerardPaligot commented on #4242
Si je prends le ping de GitHub comme exemple, si tu changes ton pseudo, les pings sur tous les dépôts ne sont pas changés.

Si je prends les liens ZdS comme exemple, si tu changes le nom d'un de tes tutoriels, tous les liens partout dans ZdS ne vont pas se modifier.

Pour moi, le comportement est souhaité et ça serait une opération très lourde si on voulait quand même le faire.

[2017-03-12 21:21] vhf commented on #4242
Je trouve ce comportement vraiment indésirable. On devrait faire un lien vers le profile du membre par ID, pas par pseudo, ça réglerait le problème.

[2017-03-12 21:23] GerardPaligot commented on #4242
@vhf Bien vu, par contre le texte sera toujours les anciens pseudos.

[2017-03-12 21:25] gllmc commented on #4242
Par contre, ça impliquerait de revoir l'URL des profils du coup, non ?

Genre un truc comme `/membres/{pk}/{pseudo}` où on serait redirigé si `pseudo` est incorrect (on a ça avec les sujets je crois).

[2017-03-12 21:32] vhf commented on #4242
@GerardPaligot Oui, ce qui pour moi est tout à fait voulu. Modifier un message d'un membre n'est pas acceptable à mon avis. Dans le contexte, le pseudo est celui que l'OP a pingé. C'est correct.

@GCodeur Ça me semble une mauvaise idée. Je ferais plutôt une redirection vers l'URL avec pseudo.

[2017-03-12 22:08] tleb commented on #4242
On ne peut pas sauvegarder les modifications de pseudo et rediriger si quelqu'un GET la page de l'ancien pseudo ? Ça permettrait aussi d'être plus timeproof si on poste un lien vers un profil.

[2017-03-12 22:09] vhf commented on #4242
Si si, on pourrait.

[2017-03-12 22:14] gllmc commented on #4242
Un débat a déjà eu lieu à ce sujet : [https://zestedesavoir.com/forums/sujet/6371/historique-des-pseudos/](https://zestedesavoir.com/forums/sujet/6371/historique-des-pseudos/). Il n'en est pas réellement sorti quelque chose (hormis des suggestions). Mais en gros, l'info est là, mais elle n'est pas directement exploitable (car les changements de pseudo sont archivés en tant que notes de karma, sans

[2017-03-12 22:53] AmarOk1412 commented on #4238
Ouai suffit de vérifier `if not NewPublicationSubscription.objects.get_existing(user, user):` avant. Je prends ;)

[2017-03-13 08:11] WinXaito commented on #4242
Mais si quelqu'un change 5 fois de pseudo sa fait 5 redirection sans parler du fait qu'une autre personne peut récupérer le pseudo.

[2017-03-13 17:00] tleb commented on #4242
Mais si quelqu'un change 5 fois de pseudo, c'est qu'il est pas attaché à son pseudo et donc qu'il a probablement pas beaucoup publié le lien vers son profil.

[2017-03-13 18:24] WinXaito commented on #4242
Bof, parfois pour troll, comme Arius à pu le faire de mémoire, on peut vite y arriver (en revenant à son pseudo)

[2017-03-13 18:57] vhf commented on #4242
Du coup pour le ping, faisons une URL qui redirige l'ID du profile vers l'URL du profile.

[2017-03-13 19:44] gllmc opened #4244 "Aperçu d'une zone du texte lors du clic sur Entrée dans un champ en dessous"
Je me suis rendu compte d'un bug que je soupçonne d'avoir été introduit par #4087 : lorsque j'appuie sur Entrée dans un champ des paramètres du profil après la biographie, cela entraîne l'aperçu de la biographie au-dessus. Il me paraîtrait bien plus logique d'envoyer le formulaire :

![Aperçu lors du clic sur Entrée dans un autre champ](https://zestedesavoir.com/media/galleries/3982/fe0f328f-bd70-

[2017-03-22 20:32] gllmc opened #4251 "Afficher les aides éditoriales sur la bêta"
Salut,

Je lisais un tutoriel en bêta, et je me suis dit que ce serait bien d’avoir un bandeau « Ce tutoriel a besoin de… » quand on lit la bêta d’un tutoriel. Quelqu'un d’intéressé par le sujet peut alors voir directement que le tutoriel a par exemple besoin d’un rédacteur, sans aller sur la page d’aide aux auteurs.

Sujet : https://zestedesavoir.com/forums/sujet/8048/aide-aux-auteurs/
*Envoyé de

[2017-03-23 17:58] Monadologie opened #4253 "CSRF input doublon"
Bonsoir,

On note la présence de deux mêmes champs input pour un même formulaire sur la page de [connexion](https://zestedesavoir.com/membres/connexion/). Par ailleurs, le problème semble, _a priori_, unique ; ce dernier n'étant pas présent dans la page d'inscription.

En voici l'aperçu, `<input type="hidden" name="csrfmiddlewaretoken" value="x">` et `<input type="hidden" name="csrfmiddlewaretoken

[2017-03-23 18:00] Monadologie commented on #4253
Veuillez m'excuser pour ce ... "doublon".

[2017-03-23 18:21] Monadologie opened #4254 "Limiter le nombre d'essais de connexion"
Bonsoir,

Il est actuellement possible de réaliser, _a priori_, une infinité de requêtes pour tenter de se connecter à son compte via cette [page-ci](https://zestedesavoir.com/membres/connexion/).
Je crois important de limiter le nombre de requêtes par session, par IP, ou bien encore en affichant un CAPTCHA après x requêtes échouées.

N'hésitez pas à transmettre vos commentaires,
Merci.

[2017-03-23 21:58] gllmc commented on #4253
Visiblement, il suffirait de supprimer [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/forms.py#L67) pour résoudre le problème (c'est le seul formulaire où elle est présente). Je tague Facile. :)

[2017-03-24 06:35] Monadologie commented on #4253
@GCodeur Yep, j'ai aussi trouvé ça 👍
Merci pour la confirmation.

[2017-03-24 14:31] Monadologie commented on #4254
Qu'en pensez-vous ?
Serait-il plus important de limiter le nombre de requêtes par session, par IP, ou bien encore en affichant un CAPTCHA après x requêtes échouées ?

[2017-03-24 14:47] Monadologie commented on #4253
Problème résolu !

[2017-03-24 14:55] Monadologie opened #4257 "Sidebar de la page « Mot de passe oublié »"
Bonjour,

On observe sur [cette](https://zestedesavoir.com/membres/reinitialisation/) page un block aside .sidebar mobile-menu-hide, inutile...

**Avant**![avant](https://cloud.githubusercontent.com/assets/21309645/24299545/db99b4d8-10a9-11e7-811b-225053dd7517.png)
**Après suppression du block et ce changement**
[code]
![après](https://cloud.githubusercontent.com/assets/21309645/24299663/339ae38c-

[2017-03-24 16:33] gllmc commented on #4253
Merci pour ta PR, j'aurais le temps de la regarder ce soir !
Généralement, on préfère clore le ticket quand la PR est mergée (parce que si finalement on ferme la PR sans la merger par exemple, on aura perdu le ticket). ;)

[2017-03-24 16:34] Monadologie commented on #4253
Pas de problème !
Cependant, j'ai eu un léger problème avec cette dernière xD
Je te laisse regarder...

[2017-03-24 16:45] WinXaito commented on #4254
Pour moi c'est le captcha qui sera le plus efficace, à voir... mais pour avoir les X requêtes avant le captcha, il faut le faire probablement par IP.

[2017-03-24 16:56] Monadologie commented on #4254
C'est ce que je pensais aussi.

[2017-03-24 16:58] vhf commented on #4254
Pourquoi pas plutôt par username ?

[2017-03-24 17:03] Monadologie commented on #4254
Cela pourrait être une bonne idée ; plus simple à mettre en place aussi.

[2017-03-24 18:34] gllmc commented on #4257
Personnellement, ce menu, même s'il est vide, ne me choque pas. Je trouve que ça permet de rester en adéquation avec le reste du design.

Et à la réflexion, pourquoi pas un lien de retour vers la connexion ?

![Retour à la connexion](https://zestedesavoir.com/media/galleries/3982/441bbab3-b441-486b-aec1-6011198eaf78.png)

[2017-03-24 18:41] Monadologie commented on #4257
Pourquoi pas :)

[2017-03-24 20:05] Monadologie commented on #4257
On part sur quoi du coup xD ?

[2017-03-24 20:12] gllmc commented on #4253
Merci @Monadologie !

[2017-03-24 20:12] #4253 closed, assigned to nobody

[2017-03-24 20:22] gllmc commented on #4257
Personnellement, je pense que la meilleure solution d'un point de vue pratique est le lien de retour. Si tu veux faire une PR, n'hésite pas.

(De fait, il faudrait également y ajouter [cette page](https://zestedesavoir.com/membres/validation/).)

[2017-03-24 22:23] WinXaito commented on #4254
En effet je n'y avais pas penser, et ça évite les attaques avec modification d'IP.

[2017-03-25 18:51] Monadologie commented on #4254
On pourrait raisonner de la manière suivante :
Une fois qu'une erreur d'authentification se produit, si l'utilisateur recherché existe on rajoute 1 dans la colonne « failed_attempts ». Parallèlement, on vérifie à chaque requête si l'utilisateur (s'il existe, dans le cas contraire on return) n'a pas un « failed_attempts » >= 10 (par exemple). Si oui on rajoute un CAPTCHA dans la vue, sinon on laiss

[2017-03-25 19:03] gllmc commented on #4254
Il y a un truc qui me dérange : quand l'utilisateur clique sur le lien « Connexion », on ne sait pas sur quel compte il va se connecter. Du coup, s'il tente de se connecter avec un compte concerné par une « attaque », il va falloir refuser la connexion en renvoyant le formulaire avec le captcha, ce qui est un peu lourd.

Deuxième point : quand se termine une « attaque » ? Je pensais plutôt à un tr

[2017-03-25 19:34] Monadologie commented on #4254
Tout à fait ! J'ai également été intrigué par cela...
Dès lors, il serait plus simple de vérifier l'IP non ?

[2017-03-25 20:42] vhf commented on #4254
Si on a un emmerdeur, ce sera une attaque ciblée, contre un voire quelques comptes non ? Les IPs c'est très bon marché. A part si vous venez avec un threat model plus convaincant que le mien, le check par IP j'achète pas. :)

[2017-03-25 20:44] Monadologie commented on #4254
J'ai une meilleure idée xD
On laisse le CAPTCHA pour toutes les connexions, comme ça plus de problème de sécurité !

[2017-03-25 20:47] vhf commented on #4254
Si c'est blague, OK. Sinon, pas question. Accessibilité passe largement devant, dans une situation où on n'a pas de menace crédible.

[2017-03-25 20:50] Monadologie commented on #4254
Oui, c'est une blague.

[2017-03-25 20:53] gllmc commented on #4254
Du coup, je pense que malgré cet inconvénient, il faut rester sur le compte. Il faudrait d'afficher un message après une tentative de connexion de type : « Plusieurs tentatives de connexion échouées ont eu lieu sur votre compte. Afin d'en assurer la sécurité, veuillez remplir le captcha ci-dessous ».

[2017-03-25 20:54] Monadologie commented on #4254
Yep, on reste sur ça du coup.
Tu prends, ou je prends ?

[2017-03-25 20:59] gllmc commented on #4254
Si tu t'en sens capable, n'hésite pas. Tu veux que je t'assigne ?
Sinon, j'ai bien une idée de comment faire mais il n'y a rien de très prioritaire.

[2017-03-25 21:01] Monadologie commented on #4254
Pas pour le moment, merci...
Je vais tester deux trois petits truc, si ça tiens pourquoi pas :)
Pendant ce temps, tu peux y aller 👍

[2017-03-28 16:54] #4251 closed, assigned to nobody

[2017-03-30 19:44] gllmc commented on #3963
Merci @artragis !

[2017-03-30 19:44] #3963 closed, assigned to nobody

[2017-03-30 19:45] Monadologie commented on #4257
@GCodeur Pourrais-tu joindre le code que tu as utilisé dans l'image ?

[2017-03-30 20:09] gllmc commented on #4257
J'ai copié ce qu'on a sur les forums ([ici](https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/topic/index.html#L139-L141)). Si tu as besoin d'aide, tu peux passer sur [IRC](https://smoothirc.net/qwebchat/?channels=#zds-dev). :)

[2017-04-01 13:58] artragis commented on #4133
Question toujours d'actualité.

[2017-04-01 13:59] artragis commented on #4126
Normallement fixed.

[2017-04-01 13:59] #4126 closed, assigned to pierre-24

[2017-04-01 13:59] artragis commented on #4125
Fixed

[2017-04-01 13:59] #4125 closed, assigned to pierre-24

[2017-04-01 14:00] artragis commented on #4124
Fixed

[2017-04-01 14:00] #4124 closed, assigned to pierre-24

[2017-04-01 14:00] artragis commented on #4123
@vhf / @DevHugo tu pourras vérifier? je sais que j'ai galéré lors du merge pour ce qui concerne les filtres. Normellement c'est ok, mais j'aimerais avoir le coeur net.

[2017-04-01 14:01] artragis commented on #4120
@vhf c'est cette issue qu'il faut fermer une fois que tu auras corriger le test.

[2017-04-01 14:02] artragis commented on #4119
à voir pour plus tard. N'oubliez pas qu'il y a une pr en cours sur l'interface des tutos sans besoin de splitter.

[2017-04-01 14:03] artragis commented on #4118
Fixed

[2017-04-01 14:03] #4118 closed, assigned to nobody

[2017-04-01 14:03] artragis commented on #4117
Fixed

[2017-04-01 14:03] #4117 closed, assigned to pierre-24

[2017-04-01 14:03] artragis commented on #4116
Fixed

[2017-04-01 14:03] #4116 closed, assigned to pierre-24

[2017-04-01 14:05] artragis commented on #4114
Fixed avec le comportement débattu sur le forum.

[2017-04-01 14:05] #4114 closed, assigned to artragis

[2017-04-01 14:05] artragis commented on #4113
Fixed

[2017-04-01 14:05] #4113 closed, assigned to pierre-24

[2017-04-01 14:10] vhf commented on #4120
On devrait pas simplement fermer ici puisque #4122 a été mergé ?

[2017-04-01 14:11] artragis commented on #4120
Ouai, en fait me suis gourré, le test qui foire le fait à cause du backend, pas du front.

[2017-04-01 14:11] #4120 closed, assigned to AmarOk1412

[2017-04-02 13:12] #4238 closed, assigned to nobody

[2017-04-02 14:08] qwertygc opened #4261 "Rendre compatible ZDS à Zotero"
Une suggestion serait de mettre les [métadonnées nécessaires](https://www.zotero.org/support/fr/make_your_site_zotero_ready) pour rendre compatible ZDS à la citation dans Zotero.

[2017-04-02 14:10] pierre-24 commented on #4261
Pourquoi pas, en effet.

[2017-04-02 14:14] pierre-24 commented on #4133
D'autant si on touche au bout !

[2017-04-02 14:48] vhf commented on #4133
Ok alors on indexe les billets, mais uniquement ceux publiés, et uniquement leurs versions actuellement en ligne. Partons sur un boost de 2 sur les billets en avant, et 1 sur les autres.

[2017-04-02 16:28] pierre-24 commented on #4231
J'ai tenté un truc ;)

[2017-04-02 16:32] GerardPaligot commented on #4231
@pierre-24 Je ne sais pas si c'est prévu/possible facilement, mais est-il possible de baisser la pertinence d'un contenu s'il est marqué comme étant obsolète par le staff ?

[2017-04-02 16:35] gllmc commented on #4231
Très bonne suggestion à mon avis. Ça m'était venu en tête quand j'ai fait ma PR, puis j'ai oublié.

Pour info, c'est un simple booléen `is_obsolete` sur `PublishableContent`, donc je pense que ça doit être facile à faire. :)

[2017-04-02 17:00] pierre-24 commented on #4231
Comme GCodeur a dit :)

[2017-04-02 18:54] artragis commented on #4133
Done, thx @pierre-24

[2017-04-02 18:54] #4133 closed, assigned to nobody

[2017-04-02 18:55] artragis commented on #4231
Pour la partie is_obsolete, je vais ouvrir un autre ticket afin de garder le tracking clair

[2017-04-02 18:56] pierre-24 commented on #4231
Y'en a pas déjà un avec cette idée ?

[2017-04-02 18:56] artragis opened #4263 "Mettre moins d'importances aux tutos obsolètes dans la recherche"
Reprise de la discussion

**Andro**

**GCodeur**

**pierre-24**

[2017-04-02 18:57] artragis commented on #4231
Pas que je sache mais maintenant on a #4263

[2017-04-03 06:17] pierre-24 commented on #4231
En attendant, @GerardPaligot et @rezemika, vous pouvez tester [sur la bêta](https://beta.zestedesavoir.com/rechercher/?q=arduino) que le nouvel "ordre" est déjà plus en phase avec vos désir :)

[2017-04-03 08:46] GerardPaligot commented on #4231
Malheureusement pas totalement. Tu as bien des publications en premier mais ils sont pas tous au dessus :

<img width="1171" alt="capture d ecran 2017-04-03 a 10 45 32" src="https://cloud.githubusercontent.com/assets/1913901/24601858/cac28370-185a-11e7-826b-11e014f2e008.png">

<img width="1159" alt="capture d ecran 2017-04-03 a 10 45 42" src="https://cloud.githubusercontent.com/assets/1913901/2460

[2017-04-03 08:54] gllmc commented on #4231
Même problème en cherchant Django. Le tuto principal apparaît bien sur la première page, mais celui de gustavi est [sur la deuxième](https://beta.zestedesavoir.com/rechercher/?q=Django&page=2). :/

[2017-04-03 09:08] pierre-24 commented on #4231
Je vois. En gros, le big-tuto est bien remonté comme je l'avais prévu, mais les topics sont toujours trop haut. Bon, pour ajuster ça, faut que j'attrape quelqu'un avec un accès à la bêta (au hasard @vhf) sur IRC et qu'on modifie ensemble deux ou trois truc pour voir ce que ça fait :)

[2017-04-03 13:57] artragis commented on #736
Eh voilà merci @AmarOk1412

[2017-04-03 13:57] #736 closed, assigned to AmarOk1412

[2017-04-03 14:05] GerardPaligot commented on #736
Trop bien ! Merci @AmarOk1412 !!

[2017-04-03 18:35] gllmc opened #4265 "[ZEP-13] Erreur 500 sur la page des alertes"
La page « Toutes les alertes » donne une erreur 500 sur la bêta quand il y a une alerte de billet. L'erreur est `'NoneType' object has no attribute 'id'`.

Je pense que c'est une erreur lors du rebase de la branche `zep-13-b` sur `dev` et donc #4241. La condition pour vérifier si l'alerte est sur un commentaire ou un billet a dû être perdue.

[2017-04-03 19:27] pierre-24 commented on #2985
Voilà qui est fait, merci @GCodeur :)

[2017-04-03 19:27] #2985 closed, assigned to nobody

[2017-04-03 19:27] pierre-24 commented on #3679
Voilà qui fonctionne, merci @GCodeur :)

[2017-04-03 19:27] #3679 closed, assigned to nobody

[2017-04-03 19:30] gllmc opened #4266 "Le groupe staff des fixtures n'a pas les bonnes permissions"
Actuellement, un groupe staff est créé par les fixtures [ici](https://github.com/zestedesavoir/zds-site/blob/dev/fixtures/users.yaml#L1). Cependant, les permissions qu'il se voit assigner ne sont pas les bonnes. Probablement car elles sont données via les `pk`, ce qui n'est pas viable (ils peuvent changer à tout moment et en plus, on n'a aucune idée de quelles permissions il s'agit en lisant les f

[2017-04-04 07:59] SpaceFox opened #4267 "[ZEP-13] Quid des commentaires"
À un moment où à un autre, on pourra transformer un billet de tribune en contenu publié « normal » sur le site.

[Est-il prévu de copier / déplacer les commentaires de ce billet sous le contenu ?](http://linuxfr.org/news/experience-s-de-teletravail#comment-1697027)

[2017-04-04 08:03] pierre-24 commented on #4267
Mmmh, bonne question. Si on les déplacent, il faut les fermer de l'autre côté, sinon ça n'aurais servi à rien (je sais plus si dans la procédure de transformation, la tribune est retirée le cas échéant, donc je vais pas dire de conneries et m'abstenir)

[2017-04-04 08:44] firm1 opened #4268 "[zep-13] Impossible de selectionner un besoin sur un article en passant par la création d'une tribune"
### Comment reproduire ?

1. Dans la liste de tous les billets, cliquez sur "nouveau billet", vous être renvoyé vers cette url : https://beta.zestedesavoir.com/contenus/nouveau-billet/
2. En remplissant le titre, je me rend compte que c'était un article que je voulais, et là, au niveau du type de contenu, je sélectionne "article"
3. On voit bien par la suite que je n'ai pas accès à la liste des be

[2017-04-04 08:51] gllmc commented on #4268
Je pense qu'on peut mettre ça en parallèle avec #4119. Si on crée une interface plus simple pour les billets, celle-ci deviendra spécifique aux tutoriels et aux articles et il n'y aura plus de problème.
Cependant, c'est à long terme. En attendant, il faut effectivement choisir une de tes solutions.

Remarque : le problème inverse existe aussi. Je viens de [créer un billet](https://beta.zestedesavo

[2017-04-04 11:54] SpaceFox opened #4269 "Désactiver automatiquement les bêtas périmées à la publication"
Quand on a un contenu en bêta, et qu'on publie cette version (ou une version postérieure) du contenu, on se retrouve avec une bêta obsolète et rien qui ne signifie clairement qu'il existe encore une version en bêta du contenu publié.

Il faudrait donc que :

- Si la version en bêta est la version publiée ou une version plus ancienne, la bêta soit automatiquement désactivée.
- Si la version en bêta

[2017-04-05 15:52] artragis commented on #4268
Je pense que ça ne doit pas être corrigé en V1.

[2017-04-05 15:53] artragis commented on #4267
Ça sent le débat à plein nez. Mais je pense que non. La tribune vit sa vie, l'article aussi.

[2017-04-05 15:54] artragis commented on #4265
@GCodeur tu peux la fixer celle-là stp?

[2017-04-05 16:04] gllmc commented on #4265
OK, je ferai une PR dans la soirée.

[2017-04-05 19:05] #4265 closed, assigned to gllmc

[2017-04-06 12:25] artragis commented on #4123
Validé, c'est OK

[2017-04-06 12:25] #4123 closed, assigned to vhf

[2017-04-06 14:40] artragis commented on #4269
pour l'instant les béta de tous les articles sont désactivées à la publication.

[2017-04-06 15:05] pierre-24 commented on #4269
Ouais, mais le comportement que propose Spacefox est pas déconnant :)

[2017-04-06 15:10] artragis commented on #4269
Yep, c'était juste pour info.

[2017-04-06 15:56] SpaceFox commented on #4269
On a donc un comportement différent entre article et tuto ?!

[2017-04-06 16:10] pierre-24 commented on #4269
Tout à fait. Voulu et assumé, justement sur la base qu'un article avait peu de chance d'évoler, là ou un tuto oui :)

[2017-04-08 13:40] qwertygc commented on #4261
Merci :-)

[2017-04-10 07:45] Emeric54 opened #4276 "Remplacer fake-factory par Faker"
On utilise dans nos dépendances `fake-factory`, qui est déprécié depuis décembre 2016.
Il faudrait remplacer ce module par [Faker](https://pypi.python.org/pypi/Faker/).

[2017-04-10 17:42] artragis opened #4278 "Dernier appel pour la v23"
BOnjour à tous la Version 23 de zeste de savoir est sur le point de sortir

Elle ajoute plusieurs améliorations internes au code mais aussi :

#Fonctionnalités

- amélioration du reporting des bugs sur github #4249 #4246
- amélioration de l'aide markdown #4078
- Le ping?
- autocomplétion pour les nouveau messages #4236
- LA ZEP 13

# bugfix

- badge staff mieux géré (ça va soulager les templates e

[2017-04-10 17:46] gllmc commented on #4278
Bonne nouvelle !

En ce qui concerne, j'aimerais bien faire passer #4212 dans cette release. Normalement, il n'y a plus qu'à merger. Il y a #4277 aussi que je terminerai ce soir et qui devrait pouvoir passer (sauf s'il y a trop de problèmes).

En tout cas, ça va être une belle release ! :)

[2017-04-10 17:57] Emeric54 commented on #4278
J'essaye de QA ce soir les PRs nécessaires.

[2017-04-10 18:00] artragis commented on #4278
#4277 faudrait mieux attendre, non? on va déjà pas mal toucher à la bdd, n'ajoutons pas du bruit, si possible.

[2017-04-10 18:03] gllmc commented on #4278
C'est possible aussi. Après, cette PR ne touche pas à un modèle existant, mais je comprends que tu puisses préférer attendre vu la taille de la release.

[2017-04-10 18:16] artragis commented on #4278
Sincèrement, je préfère attendre.

[2017-04-10 18:33] SpaceFox commented on #4278
La #4275 ? (au moins le 1er commit !)

[2017-04-10 19:12] #4210 closed, assigned to nobody

[2017-04-10 19:22] gllmc opened #4279 "Ajouter un compteur sur le nombre de billets en validation"
On ne le fera pas pour la v23, mais à l'avenir, il serait utile de rajouter le nombre de billets en validation dans le menu. Le nombre sur l'avatar serait alors la somme des tutoriels, des articles et des billets en validation.

(Par validation, on entend les billets en attente de choix par rapport à leur mise en avant. Il n'y a pas de validation à proprement parler.)

[2017-04-10 19:43] artragis commented on #4278
J'attends la réponse de pierre pour elastic. Je mets ça dans la liste néanmoins.

[2017-04-12 08:50] #4059 closed, assigned to nobody

[2017-04-12 11:23] artragis commented on #4278
TOut est fait, merci à tous.

[2017-04-12 11:23] #4278 closed, assigned to nobody

[2017-04-12 16:02] gustavi commented on #4276
Au passage c'est nécessaire pour Django 1.9.

[2017-04-12 19:47] vhf opened #4283 "Le nombre de billet à traiter n'est pas mis à jour dynamiquement"
<img width="437" alt="screen shot 2017-04-12 at 21 45 36" src="https://cloud.githubusercontent.com/assets/2022803/24976367/7928e0b0-1fc9-11e7-8dd6-aa014bc19343.png">

Reproduire :

1. Avoir un billet en attente
2. Naviguer à l'URL ci-dessus
3. Ignorer temporairement le billet
4. Le titre marque toujours (1), il aurait dû descendre à (0)

[2017-04-12 19:47] artragis commented on #3622
ça sera réglé avec la v23 tiens.

[2017-04-12 19:47] #3622 closed, assigned to nobody

[2017-04-12 20:38] SpaceFox opened #4284 "[Tribunes] Pas moyen de valider un article issu d'une tribune"
Étapes du test :

1. [x] Écrire et publier une tribune (sans contenu, seulement intro/conclusion, comme le feront pas mal de gens j'imagine)
2. [x] Passer la tribune en une.
3. [x] La convertir en article.
4. [x] Réserver l'article.
5. [ ] Valider l'article

Là rien ne se passe, l'article reste en validation. Si je réessaie, j'ai une erreur 500 et l'article est toujours en validation.

PS : ID sen

[2017-04-13 06:03] artragis commented on #4284
Il semblerait qu'il y ait des problèmes de doublons. enfin, surtout qu'il y ait des choses déjà présentes dans le filesystem.

[2017-04-13 06:55] artragis commented on #4284
Je valide que ça se passe comme ça.

[2017-04-13 09:52] nils-van-zuijlen opened #4286 "PDF des tutoriels"
Est-ce qu'il serait possible de générer un PDF du même style que le HTML téléchargeable pour les tutoriels?
L'avantage du PDF par rapport au HTML est que les informations de style et les images du tutoriel sont incluse dans un seul fichier.

[2017-04-13 11:54] artragis commented on #4286
On essaie de le faire grâce à pandoc + latex mais ça ne marche pas systématiquement (voire pas du tout ces derniers temps).

Du coup on a [un projet de réécriture complet du markdown](https://github.com/zestedesavoir/zmarkdown) pour créer nous même le PDF adéquat.

[2017-04-13 22:53] AmarOk1412 commented on #4286
cf #3683

Mais en effet, c'est un des gros projets en cours. et ça avance de ce côté ;)

[2017-04-14 12:02] firm1 opened #4290 "[v23] Problème de sélection d'un titre lors de la création d'un nouveau sujet"
Navigateur : Firefox 52
OS : Windows

**Problème** : lorsque j'essaye de [créer un sujet](https://beta.zestedesavoir.com/forums/sujet/nouveau/?forum=1), je commence a saisir dans le titre "déploiement", je navigue au clavier (avec les flèches haut et bas) pour sélectionner la deuxième proposition. Lorsque je clique sur entrée, le texte affiché dans la zone de texte correspond à : `Créer un nouveau

[2017-04-14 12:07] firm1 commented on #4290
Sinon, ça serait pas mal de limiter les choses de manière a ce que la recherche commence à partir de 3 caractères. En l'état, la recherche est active dès le premier caractère

[2017-04-14 12:10] firm1 opened #4291 "[v23] Erreur 500 sur une url"
Lien incriminé : https://beta.zestedesavoir.com/complete/google-oauth2/

Ce lien revoit une erreur 500 qui empêche de s'authentifier depuis un compte google.

[2017-04-14 12:18] firm1 opened #4292 "[v23] Renommer un contenu l'envoit deux fois dans les flux rss"
En jetant un œil aux [flux rss des billets](https://beta.zestedesavoir.com/tribunes/flux/rss/), on se rend compte que le billet `Un gros Troll de plus sur Javascript` est présent 2 fois.

C'est du au fait que j'ai publié la première fois le billet avec un autre nom. A la deuxième publication, le nom a été modifié et ça apparait deux fois inutilement dans les flux rss.

[2017-04-14 18:12] artragis commented on #4284
Fixed

[2017-04-14 18:12] #4284 closed, assigned to nobody

[2017-04-14 18:12] artragis commented on #4291
#4293 devrait gérer ça.

[2017-04-14 18:18] nils-van-zuijlen commented on #4286
Ah, ok.
Effectivement, ça n'a pas l'air simple.

[2017-04-14 18:27] #4291 closed, assigned to nobody

[2017-04-15 06:32] gustavi commented on #4279
Par "en attente de choix par rapport à leur mise en avant" tu veux dire que si un billet n'est pas mis en avant, il doit être compté ?

[2017-04-15 08:16] gustavi commented on #617
jinja > templates Django de mon expérience. Avec la 1.10 l'utilisateur de jina est clairement possible et facilement. Je pense que la migration doit se faire petit à petit, sachant qu'il est maintenant possible d'utiliser les deux en même temps sans aucun souci.

Mais oui, c'est pas une priorité.

[2017-04-15 08:40] Emeric54 opened #4295 "Licence préférée dans les paramètres du profil"
Quand on crée plusieurs contenus, normalement on met la même licence à tous ses contenus (sauf influence externe : rédaction à plusieurs ou adaptation d'un contenu existant).

On pourrait donc imaginer que chaque membre puisse renseigner sa licence préférée dans ses paramètres, et que ça pré-sélectionne cette valeur à chaque création de contenu.

Autant ça n'avait que peu d'intérêt jusqu'ici, auta

[2017-04-15 08:58] gllmc commented on #4279
S'il n'est pas mis en avant, mais aussi s'il n'a pas été ignoré, sinon il serait impossible de faire baisser le compteur sans mettre en avant des billets qui ne devraient pas l'être. ;)

[2017-04-15 09:32] pierre-24 commented on #617
J'ai un peu joué avec jinja récement, et je me pose une question : est ce qu'il y a un système de *templatetags* comme avec Django ? On peut définir ses propres macro, mais sinon ?

[2017-04-15 10:34] #4292 closed, assigned to gustavi

[2017-04-15 11:03] gustavi commented on #4279
Je ne sais pas si c'est très pertinent.

[2017-04-15 23:19] AmarOk1412 commented on #4290
@firm1 merci du signalement. J'ai le fix pour la première partie.

[2017-04-16 02:35] AmarOk1412 commented on #1334
Possible d'augmenter la priorité de ce ticket ? ça a re-été demandé cette semaine cc @artragis ?

[2017-04-16 19:38] nils-van-zuijlen opened #4299 "Cohérence HTTP / HTTPS dans la même page."
Les images de (certains ?) tutoriels ne sont pas chargées en HTTPS, alors même que la page est demandée en HTTPS ce qui conduit à des warnings dans la console du navigateur :
[code]

Je pense qu'il faudrait remplacer
[code]
par
[code]
puisque les images sont affichées sur le site. Ainsi, le navigateur choisira le protocole qu'il préfère.

[2017-04-16 19:41] nils-van-zuijlen commented on #4299
P.S.: Je l'ai remarqué dans la v22, dans un tutoriel. Mais ce problème est peut-être général à toutes les images utilisateur.

[2017-04-16 20:50] gustavi opened #4300 "[Django 1.9] Utiliser les validateurs pour la taille des mots de passe"
Tout est ici : https://docs.djangoproject.com/fr/1.10/topics/auth/passwords/#password-validation

Il faudra donc refaire les premières lignes de `zds/member/forms.py`. #4296 est un prérequis à cela.

[2017-04-17 08:07] #4276 closed, assigned to gustavi

[2017-04-17 09:55] artragis commented on #4300
Est-ce que ça aura un effet sur les mot de passe déjà existant?

[2017-04-17 10:03] artragis commented on #4299
Pour ce truc en particulier, tu peux contacter Wix pour qu'il modifie son tuto afin de mettre un https (ou simplement `/media/....` à chaque image.

Pour éviter au plus ce genre d'erreur ça fait un petit moment que zds fournit par défaut des urls en `/media/...` pour les images des galleries.

Sauf si tu découvres un cas vraiment génant, je vais fermer le ticket car on ne peut pas vraiment faire p

[2017-04-17 10:12] gllmc commented on #4300
Très bonne idée, d'autant que je trouve les contraintes de ZdS trop souples (les 6 caractères notamment). :)

@artragis : il faudra faire attention à ne pas mettre les nouvelles contraintes sur le `LoginForm` pour permettre aux membres avec des mots de passe "obsolètes" de se connecter. Sinon je ne pense que ça pose problème.

[2017-04-17 10:51] gustavi commented on #4300
@artragis aucun changement.

@GCodeur c'est déjà pris en compte pour le changement de version de Django.

[2017-04-17 12:25] WinXaito commented on #4299
Certes, mais on pourrait imaginer faire une regex qui contrôle si c'est une URL vers une galerie ZdS (Dans ce cas la -> `https`) ou autrement on averti l'auteur qu'il devrait essayer de fournir des images en `https`.

[2017-04-17 16:22] artragis commented on #4300
Ok, donc je te fais confiance.

[2017-04-17 18:47] GerardPaligot opened #4303 "[v23] 404 quand on tente de mettre en beta"
Version : v23-RC1/d72827c
OS : Mac
Navigateur : Chome 57.0.2987.133

---

J'ai tenté de mettre mon tutoriel Android en bêta ([celui-ci](https://beta.zestedesavoir.com/contenus/609/aller-plus-loin-dans-le-developpement-android/)). J'ai eu une 404 à la confirmation et depuis, c'est mon tutoriel qui est placé en 404.

[2017-04-17 18:48] GerardPaligot commented on #4303
J'enlève le tag bloquant. Ca arrive que sur un de mes tutoriels.

Néanmoins, ça reste gênant.

[2017-04-17 18:52] artragis commented on #4303
@vhf faudra voir l'état du dépôt git associé au tuto ainsi que le slug qui est déclaré dans le manifest.json.

Mais ça me paraît excessivement bizarre cette histoire.

Surtout si c'est pas reproduit ailleurs.

[2017-04-17 19:09] #4290 closed, assigned to AmarOk1412

[2017-04-18 09:17] firm1 opened #4305 "[v23] La promotion d'un billet en article fait perdre des icones"
J'ai publié un billet, il a été promu en article directement.

[Version publique du billet](https://beta.zestedesavoir.com/billets/1777/un-gros-troll-de-plus-sur-javascript/)
[Version publique de l'article](https://beta.zestedesavoir.com/articles/1799/un-gros-troll-de-plus-sur-javascript-1/)

On voit bien que la version article n'a plus d’icône, alors qu'elle existait sur le billet.

[2017-04-18 09:24] firm1 opened #4306 "[v23] La recherche sur les billets est kassay"
Lorsqu'on fait une recherche sur un billet, par exemple [celui sur le Troll JS](https://beta.zestedesavoir.com/rechercher/?q=Un+gros+Troll+de+plus+sur+Javascript&models=content), en cliquant sur le lien dans les résultats, on obtient une `404`

[2017-04-18 09:30] firm1 opened #4307 "[v23] L'appel a voir la tribune de ... a disparu"
Suite a [ma déclaration de bug](https://zestedesavoir.com/forums/sujet/8407/v23-en-beta-une-petite-version-de-40-ticket/?page=3#p147201) sur le forum, un [fix a été initié](https://github.com/zestedesavoir/zds-site/pull/4289) et mergé, pour restreindre l'appel à voir les tribunes d'un membre aux billets.

Je suis surpris qu'il ne fonctionne pas en beta. Sur [ce billet](https://beta.zestedesavoir.c

[2017-04-18 09:34] firm1 opened #4308 "[v23] L'ordre de tri des billets sur la page d'accueil est incompréhensible"
Hello,

Regardez cette capture (ce que l'on voit sur la page d'accueil) :

![billets choisis](https://zestedesavoir.com/media/galleries/241/589868da-93fd-4165-91eb-eca4210fc8c1.png)

J'ai l'impression qu'il y a pas d'ordre. Pourquoi ?

Les dates de publications affichées sont disparates. On passe d'un billet publié il y'a 17h à un billet publié il y a 2 jrs, puis a un billet publié il y a 17h, pui

[2017-04-18 09:36] firm1 opened #4309 "[v23] Les tags sur les tribunes ne sont pas pertinents"
Voici la capture de la home page.

![](https://camo.githubusercontent.com/33c17af7fafa7c7c34d2419929220c261bfd4e81/68747470733a2f2f7a6573746564657361766f69722e636f6d2f6d656469612f67616c6c65726965732f3234312f35383938363864612d393366642d343136352d393165622d6563613432313066633863312e706e67)

Sur la capture ci-dessus, lorsque je clique sur le tag "humour", je suis redirigé [vers là](https://beta.zeste

[2017-04-18 09:40] artragis commented on #4309
Cause : on met contenus au lieu de billets. fix incoming;

[2017-04-18 09:49] pierre-24 commented on #4306
Vu qu'il s'agit d'une faute dans l'url (tribune à la place de billet), je dirais simplement qu'on a oublié de réindexer l'ensemble des résultats :) (ping @vhf ou @artragis, je sais pas qui s'en est chargé)

[2017-04-18 09:51] pierre-24 commented on #4308
La même explication que d'habitude. La date que tu vois est celle de publication, tandis que les billets sont triés par date de mise en avant. Je sais pas si afficher la date de mise en avant serait plus judicieux, note, mais si tu trouves que oui ...

[2017-04-18 09:52] SpaceFox commented on #4308
Comme je le disais sur les forums, on ne peut pas laisser en l'état, parce
que c'est incompréhensible.

Le 18 avril 2017 à 11:51, Pierre Beaujean <notifications@github.com> a
écrit :

[2017-04-18 09:56] firm1 commented on #4308
J'aurai tendance a dire que sur la home page, on a même pas besoin d'afficher une date pour les billets.

Parce qu'afficher la date de mise en avant sur la home va rapidement devenir déroutant lorsque l'on ira sur "tous les billets" (les dates seront effectivement celles de publications).

Donc en gros, je suggère de virer la date des billets mis en avant sur la home.

[2017-04-18 10:01] artragis commented on #4308
Ok, je fais ça dès que j'ai le temps.

[2017-04-18 10:01] artragis commented on #4307
Je comprends pas, d'autant que @gustavi a fait la QA.

[2017-04-18 10:02] artragis commented on #4306
Ah, je savais pas qu'il fallait réindexer. Je mets ça dans le upgrade.

[2017-04-18 10:02] artragis commented on #4305
fix incoming.

[2017-04-18 11:38] pierre-24 commented on #4306
[ben ça y est, nan](https://github.com/zestedesavoir/zds-site/blame/release-v23/update.md#L1023) ?

[2017-04-18 11:50] artragis commented on #4306
Je ferme. Merci.

[2017-04-18 11:50] #4306 closed, assigned to artragis

[2017-04-18 15:27] firm1 opened #4311 "[v23] La promotion d'un billet en article fait perdre la source"
J'ai publié un billet, il a été promu en article directement.

[Version publique du billet](https://beta.zestedesavoir.com/billets/1777/un-gros-troll-de-plus-sur-javascript/)
[Version publique de l'article](https://beta.zestedesavoir.com/articles/1799/un-gros-troll-de-plus-sur-javascript-1/)

Dans les sources html du billet on peut voir que la source a été migrée et on aperçoit `<link rel="canonic

[2017-04-18 15:33] firm1 opened #4312 "[v23] Pas d'accès rapide dans la page de profil pour les billets"
Sur ma page de profil j'ai cette capture.

![acces-rapide](https://cloud.githubusercontent.com/assets/6066015/25139215/ed570baa-245c-11e7-908e-06965680de7c.PNG)

On a un lien d'accès rapide pour les tutoriels et article, sujets et cie, mais le lien pour les billets a été oublié.

[2017-04-18 15:52] SpaceFox opened #4313 "Alerter le staff en cas de fournisseur de mail inconnu et pouvoir le bannir facilement."
Il y a maintenant tellement de domaines de premier niveau (TLD) que les fournisseurs de mail-poubelle peuvent pratiquement générer des noms de domaines (NDD) à la demande ; autant dire que notre liste de blocage ne peut plus vraiment fonctionner.

Une idée serait donc de faire évoluer la fonctionnalité en étapes :

1. Quand un membre a validé (= a cliqué sur le lien de confirmation) un NDD d'email

[2017-04-18 15:52] artragis commented on #4312
dans la version 24

[2017-04-18 15:56] artragis commented on #4311
je m'en occupe asap

[2017-04-18 16:06] gllmc commented on #4313
Je prends, ça me paraît intéressant à faire (mais faudra quand même que je termine l'historisation avant). :)

Par un NDD d'e-mail inconnu, tu veux dire que le NDD est utilisé pour la première fois ?

[2017-04-18 16:11] SpaceFox commented on #4313
Exactement.

[2017-04-18 19:38] gllmc opened #4314 "[v23] Erreur 403 lors de l'accès à la galerie liée à un contenu"
Sur la RC2 de la v23, lorsque je crée un contenu (testé avec un article et un billet), j'ai une erreur 403 lorsque j'accède à la galerie liée. Je pense que les droits ne sont pas ajoutés lors de la création du contenu.

Remarque : sur un contenu créé avec la RC1, je n'ai pas ce problème.

- [x] améliorer les tests pour qu'il y ait des assertion sur les galleries
- [x] check `ensure_author_gallery`

[2017-04-18 20:01] artragis commented on #4314
ok c'est ma modif de refacto qui a joué alors.

[2017-04-18 20:03] artragis commented on #4299
ça serait assez intrusif de faire ça dans les contenus.

[2017-04-20 04:27] gustavi commented on #4313
Une feature béton serait de pouvoir lister tous les membres utilisant ce NDD et donc pouvoir détecter facilement des bots/multis/whatever. Bon après ça se fait en 2 secondes via la console Django mais c'est toujours plus sympa quand c'est *user-firendly*.

[2017-04-20 10:14] #4308 closed, assigned to artragis

[2017-04-20 10:14] #4309 closed, assigned to artragis

[2017-04-20 10:14] #4305 closed, assigned to artragis

[2017-04-20 10:15] #4311 closed, assigned to artragis

[2017-04-22 12:26] artragis commented on #4307
Fixed.

[2017-04-22 12:26] #4307 closed, assigned to nobody

[2017-04-23 16:12] gllmc commented on #4313
Reprise depuis IRC :

@GCodeur :

@SpaceFox :

Mais où mettre la liste des fournisseurs bannis ? Un autre lien dans le menu membre ? Puisque j'ai distingué deux modèles : `NewEmailProvider` (un nouveau fournisseur) et `BannedEmailProvider` (un fournisseur banni).

[2017-04-23 21:21] vhf commented on #4313
@GCodeur On ne va pas l'afficher aux visiteurs.

[2017-04-24 06:10] gllmc commented on #4313
@vhf : Non bien sûr, je pensais à des liens qui ne s'affichent que si l'utilisateur courant est staff (comme quand on réserve le lien `Adhérer` aux membres).

[2017-04-24 07:59] vhf commented on #4313
Ok. Ça me semble quand même pas nécessaire. On n'a que 2 niveaux de "permissions" au niveau des "actions" sur le site : staff et pas staff.

Je pense pas que tout le staff doit pouvoir modifier la liste des providers interdits. Du coup pas nécessaire d'avoir une interface pour ça. On le fera depuis django admin et voilà. Il faut en revanche que le message de refus d'inscription soit sans équivoque

[2017-04-24 20:24] gllmc commented on #4313
D'accord, j'avais pas compris la chose comme ça. En l'état, voici ce que j'ai fait :

- un modèle `NewEmailProvider` qui correspond à une alerte envoyée au staff et un modèle `BannedEmailProvider` qui correspond à un fournisseur interdit
- une interface listant les `BannedEmailProvider` avec un lien pour les enlever de la liste et un formulaire pour en ajouter un nouveau
- une liste des `NewEmailP

[2017-04-24 20:53] vhf commented on #4313
Ah bah si c'est déjà fait garde-le. :)

Par contre je sais pas où mettre ça, j'ai pas de bonne idée là.

[2017-04-25 19:38] rezemika opened #4317 "[v23] Certains tags ne fonctionnent pas sur les tribunes"
Sur la bêta actuelle (v23-RC2/ed0cf8f), quand je cliques sur certains tags de tribunes, il arrive que je tombes sur une page vide indiquant "Aucun contenu disponible.", alors que le tag est effectivement attaché à une tribune.

Cela se produit, à minima, avec les tags suivants :

- ccc
- non
- programmation
- wtf
- humour
- test

Aussi, quand je cliques sur le tag "économie" d'une tribune ([celle-

[2017-04-25 20:27] gllmc commented on #4317
C'est corrigé par #4310, qui n'est pas déployée sur la bêta (cf ticket #4309). ;)

[2017-04-25 20:27] #4317 closed, assigned to nobody

[2017-04-26 20:38] gllmc opened #4319 "Dépublier définitivement un billet ne supprime pas les notifications liées à ses commentaires"
Le scénario est le suivant :

- Créez un billet avec `staff` et publiez-le (vous serez abonné).
- Commentez le billet avec `user`.
- Dépubliez définitivement le billet via l'interface de choix des billets.

`staff` a une notification permanante (supprimable via `Tout marquer comme lu` cependant).

[2017-04-27 06:57] #4314 closed, assigned to artragis

[2017-04-27 18:10] vhf opened #4322 "Le script de déploiement ne signale pas quand un tag n'existe pas"
Le script `script/deploy.sh <tag>` fait comme si de rien n'était quand on tente de déployer un tag qui n'existe pas.

On a perdu 5min avec @artragis parce que comme un clown je tentais de déployer `V23-RC3` sur la beta. Le tag s'appelle en réalité `v23-RC3`. :trollface:

Il vaudrait aussi la peine d'y ajouter un warning pour que la personne déployant le truc pense le cas échéant à réindexer les do

[2017-04-27 20:07] artragis commented on #4322
Jez mets priorité haute, car la v24 sera une version de passassion.

[2017-04-27 20:57] SpaceFox commented on #4322
Le script de déploiement était volontairement minimaliste, tout en
interdisant de déployer de la merde. C'était volontaire en supposant que la
personne qui déploie est capable de comprendre pourquoi ça ne fonctionne
pas.
D'ailleurs, c'était un peu la même pour la conf HTTP (qui est devenu
imbitable, j'ai essayé de la repiquer pour un projet perso et j'ai
abandonné).

KISS les gens.

2017-04-27 22:

[2017-04-27 23:02] vhf commented on #4322
Oui voilà ! Il était censé interdir de déployer de la merde, et pourtant une bête faute de casse, j'ai fait `deploy V23-RC3` au lieu de `deploy v23-RC3` déployait une version random, impossible de comprendre ce qui se passait.

Du coup là, ça ira nettement mieux.

Et franchement, c'est pas parce qu'on sait pas ce qu'on fait, et ça tu le sais. ;)

[2017-04-28 06:37] SpaceFox commented on #4322
C'est là où je ne pige pas alors, normalement il était censé s'arrêter en disant que le tag n'existe pas.

[2017-05-01 22:49] AmarOk1412 commented on #3824
Je remonte. @artragis tu peux m'assigner ça ?

[2017-05-02 09:20] Fumble opened #4324 "Changer l'icône des billets sur la page d'accueil"
Actuellement, l'icône des billets sur la page d'accueil est la même que celle des tutoriels.

![image](https://cloud.githubusercontent.com/assets/634461/25611948/2d30dc16-2f29-11e7-94a2-1279de7ca149.png)

Il faudrait peut-être la changer par une icône du genre bloc-notes ou post-it. Ou quelque chose qui rappelle un blog. Le journal étant déjà pris par les articles.

[2017-05-02 09:22] Fumble opened #4325 "Ajout du compteur de commentaires pour les billets sur la page d'accueil"
Il serait sans doute pertinent de rajouter la bulle du compteur de commentaires comme pour les articles:

![image](https://cloud.githubusercontent.com/assets/634461/25612116/bb0850dc-2f29-11e7-80ef-3c5cd46e697a.png)

![image](https://cloud.githubusercontent.com/assets/634461/25612121/c508b7d4-2f29-11e7-8976-7d83d0938751.png)

[2017-05-02 14:58] artragis opened #4326 "Notification qui redirige vers la mauvaise page d'un sujet"
Bonjour,

Je viens de voir dans mes notifications un nouveau message posté sur le sujet « Présidentielles 2017 ».
L'URL associée à la notification est <https://zestedesavoir.com/forums/sujet/8071/presidentielles-2017/?page=23#p149062>

Or, le message en question (qui est bien le `#149062`) apparaît sur la page 24 et non la 23.
Il est d'ailleurs le premier message de la page.

Je ne crois pas avoir

[2017-05-02 15:42] Emeric54 commented on #4324
Je crois que quelqu'un a déjà réalisé une illustration, mais je ne m'en souviens pas de plus, ni de pourquoi elle n'a pas été utilisée...

[2017-05-02 16:41] gllmc commented on #4324
Voici pour l'image déjà faite : https://github.com/zestedesavoir/zds-site/pull/3606#issuecomment-242962177. ;)

[2017-05-02 18:35] gllmc commented on #4325
Merci @rezemika !

[2017-05-02 18:35] #4325 closed, assigned to nobody

[2017-05-03 17:04] AmarOk1412 opened #4330 "Améliorations de l'affichage des sujets similaires"
Il faudrait, à la place d'une barre d'auto-complétion des sujets, les mettre sous une forme de boite comme https://github.com/zestedesavoir/zds-site/pull/2318, qui serait plus pratique.

cf sujet https://zestedesavoir.com/forums/sujet/8538/sujets-similaires-deformation-de-lidee/

[2017-05-06 12:46] gllmc commented on #4326
Je confirme : je viens d'avoir le même problème pour le post `149500` où j'ai été renvoyé à la page 26 au lieu de la page 27 (toujours le même sujet).

[2017-05-07 07:44] #4228 closed, assigned to gllmc

[2017-05-07 08:03] #4312 closed, assigned to gllmc

[2017-05-07 11:14] gllmc opened #4334 "Possibilité de cacher l'aide markdown"
Bonjour,

L'aide markdown s'affiche avec une phrase aléatoire en bas de la zone de rédaction de message, dans un petit cadre coloré. Elle est bien visible, c'est certain. Mon problème, c'est que lorsque je navigue entre la zone de rédaction et la zone d'affichage de mon message, cette phrase aléatoire devient trop visible et me saute aux yeux à chaque fois. Du coup, j'aimerais pouvoir l'enlever, p

[2017-05-07 16:33] Situphen opened #4336 "Lien vers les commentaires des billets sur la page d'accueil"
Les billets sont, comme les articles, des publications où les commentaires sont souvent intéressants. Je propose que sur la page d'accueil on affiche la bulle avec le nombre de commentaires et un lien vers eux, comme pour les articles.

[2017-05-07 17:12] gllmc commented on #4336
Déjà fait par #4328, ça arrivera donc en v24. :)

[2017-05-07 17:12] #4336 closed, assigned to nobody

[2017-05-07 19:11] Situphen commented on #4336
Ah d'accord ! La prochaine fois je regarderai aussi dans les tickets fermés :D

[2017-05-08 12:02] #4186 closed, assigned to gllmc

[2017-05-09 11:28] artragis commented on #4334
done

[2017-05-09 11:28] #4334 closed, assigned to gllmc

[2017-05-09 20:12] rezemika opened #4337 "Erreur d'aperçu d'un message quand le cookie de connexion a expiré"
Bonjour !

J'ai remarqué un bug qui survient lorsque l'on clique sur le bouton "Aperçu" d'un message alors que notre cookie de connexion a expiré. Au lieu d'avoir une erreur du type "Vous n'êtes pas connecté", on obtient un "aperçu" de la page de connexion du site, un peu comme s'il y avait une iframe. Il y a aussi une deuxième astuce Markdown qui "pop" en dessous de la première.

Si l'on clique à

[2017-05-11 18:08] SpaceFox opened #4338 "Mise à jour mineure d'un billet ?"
Cas de test :

1. J'ai un billet qui est validé pour affichage sur la home.
2. On me signale une coquille, je corrige.
3. Je publie la correction.
4. Conséquence : le billet n'est plus en une (vu qu'il a été modifié).
5. Je le re-valide pour affichage en une.

Comportement attendu :

- Le billet reprends sa place d'origine,
- Alternative : il y a une case à cocher qui permet soit de le laisser à s

[2017-05-15 19:53] #4322 closed, assigned to nobody

[2017-05-16 13:09] firm1 opened #4340 "Mettre à jour le CDN de MathJax"
Depuis un moment, on peut lire dans la console Javascript de ZdS le message suivant :

Ils conseillent soit de migrer vers cdnjs soit de s'autohéberger le plus tôt possible.

C'était censé couper le 30 avril, mais pour permettre aux clients de migrer, ils ont mis en place une redirection vers cdnjs, mais nul ne sait combien de temps ça va durer. Raison pour laquelle je taggue en priorité élevée.

[2017-05-17 12:06] lypwig commented on #4082
Du nouveau ici ? J'aimerais me servir des API.

Et sinon en attendant, quelqu'un pourrait copier-coller ici la liste des requêtes des API ? :)

Edit : en fait je veux juste savoir si une API permet de C/R/U/D les messages sur le forum. Mais la liste de toutes les requêtes rendra service à d'autres. ;)

[2017-05-17 14:39] gllmc commented on #4082
Pas encore, mais ça devrait venir : #4136 ! ;)

[2017-05-19 07:19] artragis commented on #4340
bloquant.

[2017-05-19 13:57] rezemika commented on #3734
Désolé de remonter ce vieux ticket, je voudrais juste signaler qu'il y a un autre problème avec ce même smiley. En effet, quand on le tappe manuellement en écrivant ">_<", le markdown l'interprète comme une citation et affiche donc "_<" dans un blockquote.

Il faudrait peut-être ne valider les blockquotes que si les chevrons sont suivis d'une espace ? Par exemple :

`> Une citation.`

Et pas ceci

[2017-05-20 19:33] pierre-24 opened #4343 "L'option filtre disparait s'il n'existe pas de résultat"
Salut,

Si on va dans mes tutos ou mes article ou mes tribunes à gauche il y a l'option pour filtrer par :

-  En bêta
-  En validation
-  Publiés
-  Brouillons

Si on clique sur En beta alors qu'on a pas de tuto / article / tribune en beta le menu disparait. on a plus les choix sous l'onglet filtrer. Par conséquent on peut même plus enlever le filtre, il faut réactualisé la page.

Testé sous Safa

[2017-05-20 20:46] Theodicy commented on #4343
À simple titre d'information, les images ne sont pas visibles _sur GitHub_...

[2017-05-20 20:54] Theodicy commented on #4340
Si j'ai bien compris, il suffrait de remplacer [ceci](https://github.com/zestedesavoir/zds-site/blob/dev/templates/base.html#L773) avec cela https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js ?

[2017-05-21 06:50] pierre-24 commented on #4343
Maintenant oui :)

[2017-05-21 07:05] gllmc opened #4344 "Il reste du code des anciens modules de tutoriels et d'articles"
Dans le module `member`, il reste deux vues qui sont liées aux anciens modules `tutorial` et `article` et qui provoquent une erreur 500 (cf Sentry).

Vues concernées : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L554-L649
URL concernées : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/urls.py#L33-L34

[2017-05-22 06:01] artragis commented on #4340
C'est ça !

[2017-05-22 11:08] Theodicy commented on #4340
Très bien !
Je prends.

[2017-05-22 11:12] Theodicy commented on #4343
Très bien, je jeterai un coup d'œil au code durant l'après-midi.

[2017-05-22 15:55] qwertygc commented on #4338
trier par date de première publication : me semble la meilleure solution.

[2017-05-23 18:02] Theodicy commented on #4343
Bizarrement, je n'avais pas ce problème sur mon espace de développement ; seulement, dès que j'ai mis à jour le dépôt présent sur mon serveur, ce bug est apparu... Le bug est donc sûrement apparu il y a quelques semaines/mois suite à une PR ; ou plus généralement update.

[2017-05-23 19:50] gustavi opened #4346 "Ajouter une option pour désactiver la sortie des commandes pour générer les fixtures et autres"
Afin que ça ne pollue pas les sorties des tests.

[2017-05-24 08:37] lypwig opened #4348 "Ajouter une note sur la ligne éditoriale lors de l'ajout d'un contenu"
Comme discuté dans le forum Staff, afin de clarifier et rendre plus visible notre ligne éditoriale pour les auteurs, il serait bien de l’indiquer clairement en quelques lignes quand on crée un nouveau contenur, avec un lien vers [la page détaillée](https://zestedesavoir.com/articles/222/la-ligne-editoriale-officielle-de-zeste-de-savoir/).

![](https://zestedesavoir.com/media/galleries/2615/f86d61a

[2017-05-24 08:45] lypwig opened #4349 "Ajouter une note sur notre charte éthique dans la page de contact."
Nous recevons régulièrement des mails de demande de partenariat commerciaux. Dans la même lignée que  #4348, je pense qu'il serait bien de rajouter quelques lignes sur l'éthique de ZdS dans la page de contact. Par exemple :

*Vous pouvez joindre l'association par courriel via zestedesavoir@gmail.com. **À toute fin utile, sachez que nous refusons systématiquement toute forme de partenariat commerci

[2017-05-24 12:04] gustavi commented on #4349
Ça se fait en dehors du code du site selon moi, vu que cette partie est gérée via la BDD.

[2017-05-24 14:41] gllmc commented on #4349
Tout à fait : si le CA est d'accord, je pense qu'il faudrait qu'un admin s'en occupe et qu'on ferme cette issue.

[2017-05-24 14:42] gllmc commented on #4348
Je m'en occupe. :)

[2017-05-24 20:29] #4344 closed, assigned to gllmc

[2017-05-25 08:55] #1264 closed, assigned to GerardPaligot

[2017-05-25 10:14] lypwig commented on #4349
Ah ok, je ne savais pas je pensais que c'était en dur dans le code.

[2017-05-25 21:46] #4348 closed, assigned to gllmc

[2017-05-25 21:46] gustavi commented on #4348
Corrigé dans #4351

[2017-05-27 08:01] gustavi commented on #3734
\>\<

[code]

[2017-05-27 08:03] gustavi commented on #4324
On avait convenu que cette image n'allait pas, c'est pour cela qu'on ne l'avait pas intégrée

[2017-05-27 08:37] gustavi opened #4352 "Remplacer python-social-auth par social-auth-core"
https://github.com/omab/python-social-auth#deprecation-notice---2016-12-03

[2017-05-29 11:49] gustavi opened #4353 "Le curseur n'est pas en mode "lien" sur le bouton de déconnexion"
Via le forum : https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=44#p151686

[2017-05-29 11:55] gustavi opened #4354 "Le message d’acceptation des cookies s’affiche mal sur certaines tailles"
Via le forum : https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=44#p147103

![zds-bug-001](https://cloud.githubusercontent.com/assets/2736557/26548853/6b3b45de-4476-11e7-888a-c394dceecf6a.png)

[2017-05-30 11:18] #4313 closed, assigned to gllmc

[2017-05-30 12:28] lypwig commented on #4349
[Résolu](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=44#p151845)

[2017-05-30 12:28] #4349 closed, assigned to nobody

[2017-05-30 12:51] lypwig commented on #4353
J'ajoute l'image tant qu'à faire :

![](http://i.imgur.com/08ITFq6.png)

---

Et je pense que c'est lié, idem pour le menu hamburger en mode tablette :

![](http://i.imgur.com/RnhAV5A.png)

[2017-05-30 14:15] lypwig opened #4356 "Afficher la liste des abonnements dans la page Notifications"
Il y a pleins de place dans la panneau latéral et cette fonctionnalité pourrait être super utile afin de pouvoir visualiser rapidement nos abonnements (et éventuellement se désabonner si on a reçois trop de notifs).

Je parle des abonnements aux forums et aux utilisateurs. Pas des abonnements aux topics (il y en aurait trop ^^ ).

cf. [topic sur le forum](https://zestedesavoir.com/forums/sujet/871

[2017-05-30 18:03] lypwig commented on #2165
Topics associés : [ici](https://zestedesavoir.com/forums/sujet/8715/ajouter-des-images-de-clem-sur-les-pages-derreur) et [ici](https://zestedesavoir.com/forums/sujet/2164/mettre-clem-sur-les-pages-derreur/).

[2017-05-30 21:16] gustavi commented on #2165
Note : l'issue ici concerne les pages d'erreurs de nginx et non celles de Django

Donc le message ci-dessus est faux.

[2017-06-01 15:05] lypwig opened #4358 "Ajouter un bouton de Téléversement à l'interface d'ajout d'une image"
Proposé [ici](https://zestedesavoir.com/forums/sujet/8726/telecharger-les-images-sur-le-serveur-zds/?page=1#p152140)

[2017-06-02 12:34] lypwig opened #4359 "Possibilité d'enregistrer un message en brouillon"
cf. topic [ici](https://zestedesavoir.com/forums/sujet/8725/possibilite-denregistrer-un-message-en-brouillon/?page=1#p152078).

[2017-06-02 17:18] lypwig opened #4360 "Le tag Résolu ne fonctionne pas correctement"
Lorsqu' on résous un sujet :

- le bandeau *Cette réponse a aidé l'auteur* n’apparaît pas ;
- l'icône associée n’apparaît pas sur le sujet dans la liste des sujets ;
- il n'est pas soumis au filtre de recherche *Sujets résolus* dans la liste des sujets.

En revanche il subsiste des sujets résolus tout a fait fonctionnels.

Donc le bug est peut-être apparu suite à la création de l'icône *Favori* ?

[2017-06-03 11:07] Anto59290 commented on #4360
Je n'arrive pas à reproduire le bug sur une instance locale de Zds. Il y a-t-il d'autres éléments particuliers qui permettrait un meilleur ciblage du bug (quel type d'utilisateur ? dans un forum privé ou public ? etc.)

[2017-06-03 13:32] gllmc commented on #4360
Je n'ai pas non plus réussi à reproduire, y compris sur ma branche `prod`.

[2017-06-03 15:30] gustavi commented on #4360
@roipoussiere tu peux donner des exemples de messages qui ne fonctionnent pas ?

[2017-06-03 15:44] gustavi opened #4362 "Pas de message en cas d'absence de notification"
https://i.imgur.com/QYB5GOe.png

[2017-06-03 15:59] gustavi opened #4363 "Typo dans la documentation de l'installation d'ElasticSearch"
[code]

[2017-06-03 17:32] #4353 closed, assigned to gustavi

[2017-06-03 21:35] #4340 closed, assigned to nobody

[2017-06-04 07:08] gustavi commented on #3939
Voir https://github.com/zestedesavoir/Python-ZMarkdown/issues/131

[2017-06-04 07:08] #3939 closed, assigned to Croal

[2017-06-04 07:17] #4299 closed, assigned to nobody

[2017-06-04 07:27] gustavi commented on #3256
Je confirme.

[2017-06-04 07:27] #3256 closed, assigned to nobody

[2017-06-04 07:49] #4362 closed, assigned to gustavi

[2017-06-04 10:33] gustavi commented on #3932
Certainement lié à https://github.com/zestedesavoir/zds-site/pull/4357

[2017-06-04 10:35] gustavi commented on #2842
Ça a été corrigé depuis

[2017-06-04 10:35] #2842 closed, assigned to gustavi

[2017-06-04 10:35] gustavi commented on #617
La réponse à ta question est : oui depuis la 1.10 (ou 1.11 j'ai un doute)

[2017-06-04 12:15] gustavi commented on #3435
up @firm1

[2017-06-04 13:04] gustavi opened #4370 "Supporter ElasticSearch 5.4+"
Aujourd'hui cette version n'est pas supportée.

[2017-06-04 13:15] pierre-24 commented on #4370
Y'a des changements bloquants ?

[2017-06-04 14:14] gustavi commented on #4370
Je ne sais pas du tout, j'ai juste mangé une 500.

[2017-06-04 14:16] pierre-24 commented on #4370
Ah, c'était toi. Note, [vu l'erreur dont il s'agit](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/941/) (aka "all shards failed"), je suis pas certain que ce soit du à la version. Est ce que Elasticsearch tournait convenablement ?

[2017-06-04 14:35] gustavi commented on #4370
Oui. Ça demande un peu de travail pour vérifier en bêta mais pas du tout une urgence.

[2017-06-05 09:08] #4363 closed, assigned to gustavi

[2017-06-05 13:28] #3432 closed, assigned to gustavi

[2017-06-06 10:25] firm1 commented on #3435
Je ne pourrais malheuresement pas reessayer ça avant un bon moment du coup si personne n'arrive a reproduire, on pzut supposer que c'est corrigé.

[2017-06-08 12:56] lypwig commented on #4360
[Des goodies pour Zeste de Savoir ](https://zestedesavoir.com/forums/sujet/2839/des-goodies-pour-zeste-de-savoir/)

- le sujet est résolu (1er commentaire d'Eskimon);
- sur [la page du forum](https://zestedesavoir.com/forums/communaute/bar-smoothies/), l’icône *Résolu* n’apparaît pas sur ce sujet ;
- [après avoir appliqué le filtre](https://zestedesavoir.com/forums/communaute/bar-smoothies/?filter

[2017-06-08 13:00] Anto59290 commented on #4360
Sauf erreur de ma part le sujet n'est pas résolu. L'auteur a simplement cliqué sur cette réponse m'a aidé. Il y a deux fonctionnalité différentes :
- Cette réponse m'a aidé --> mise en avant de la réponse
- Ce sujet est résolu --> Le topic apparait dans les filtre, l'icone est ajouté dans la liste

[2017-06-08 17:44] #4330 closed, assigned to nobody

[2017-06-08 18:05] #4283 closed, assigned to gustavi

[2017-06-08 19:22] #4065 closed, assigned to artragis

[2017-06-08 20:59] gustavi opened #4373 "Revoir toutes les commandes avec argparse"
Issue à traiter une fois le site sous Django 1.10+

Il faut pour chaque commande :

- Utiliser argparse comme il faut
- Ajouter une description
- Documenter les arguments

[2017-06-09 07:58] firm1 opened #4374 "Les exports de billets ne doivent pas être indexés par google"
L'export html par exemple des billets sont indexés par google, ce qui nuit un peu a notre reférencement.

En faisant [cette recherche](https://www.google.fr/search?q=quant+a+moi+j'ai+baissé+le+niveau+de+technologie&ie=utf-8&oe=utf-8gfe_rd=cr&ei=oVI6WZGjONDUXqHPsYAF) par exemple, on voit que les deux premiers résultats sont le billet et son export html. Google risque de nous sanctionner pour duplic

[2017-06-10 16:27] #4343 closed, assigned to gustavi

[2017-06-11 09:50] tleb opened #4375 "Upload d'image depuis une URL"
Je crois que tout est dans le titre. J'ai pas posté dans le forum, j'ai eu tord ?

[2017-06-11 11:47] gustavi commented on #4375
J'avoue ne pas comprendre de quoi tu parles.

[2017-06-11 12:53] lypwig commented on #4360
Aaaah, je pensais que c'était la même chose, au temps pour moi.

Je trouve que c'est pas super clair, pourquoi ne pas fusionner ces 2 fonctionnalités ?

[2017-06-11 13:51] gllmc commented on #4360
Ça ne paraît pas être une bonne idée : un message peut très bien nous avoir aidé sans que l'on soit parvenu à résoudre complètement son problème.
Et il y a aussi tous les sujets autres que des questions (exemple : les stickers) où on peut mettre en avant des messages avec "Cette réponse m'a aidé" sans vouloir marquer le sujet comme résolu (ce qui n'a en général pas de sens avec ce type de cas).

[2017-06-11 13:54] gllmc commented on #4375
Je pense qu'il s'agit de pouvoir ajouter des images à une galerie en les important depuis une URL, c'est bien ça ?

Si oui, ça me semble être une bonne idée, mais je ne saurais pas comment faire.

[2017-06-11 17:03] tleb commented on #4375
C'est bien ça.

Il s'agirait de télécharger l'image avant le traitement et utiliser celle ci. Je pense qu'il y aurait pas mal d'erreurs possibles à gérer par contre.

[2017-06-11 21:25] AmarOk1412 commented on #4360
+1 pour le WONTFIX, ça permet de mettre en avant une réponse de manière très visible.

On ferme ?

[2017-06-12 11:42] #4360 closed, assigned to nobody

[2017-06-13 11:47] gustavi opened #4376 "Le version de l'API de Facebook utilisée ne sera plus disponible le 10 juillet"
Potentiellement lié à https://github.com/zestedesavoir/zds-site/pull/4357

Plus d'informations soon.

[2017-06-13 19:50] #3637 closed, assigned to nobody

[2017-06-14 12:11] gustavi opened #4378 "Erreur 500 sur des notifications en double"
https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/943/

https://zestedesavoir.com/forums/sujet/8804/erreur-500-reponse-a-un-sujet/

[code]

[code]

[2017-06-15 01:19] Alex-D opened #4379 "Impossible de signaler mon propre message masqué"
Ici : https://zestedesavoir.com/forums/sujet/481/your-desktop/?page=40#p153340

J'ai caché mon commentaire. L'interface me propose de "Signaler" celui-ci. Si je le fais et que je valide la modale, j'arrive sur une 403.

[2017-06-15 02:00] AmarOk1412 commented on #4379
oooh joli, je confirme !

[2017-06-16 06:57] artragis commented on #4379
Comme je le disais sur IRC, je dirai qu'en soit ce n'est pas un bug. EN fait je serai plutôt d'avis de rendre indisponible le bouton de signalement de message masqué, sauf (peut-être) pour les modo.

De toute façon les alertes ne sont pas visibles sur un tel message.

[2017-06-16 08:43] gllmc commented on #4379
Je ne peux pas tester maintenant mais je suis quasiment persuadé que les alertes sont encore visibles après masquage. Sinon, ça devrait être corrigé histoire d'en garder la trace, non ?

[2017-06-21 20:00] AmarOk1412 opened #4382 "API des membres : accès rapide pour savoir si un user existe"
o/

Pour https://github.com/zestedesavoir/zmarkdown/issues/37, ce serait uber cool d'avoir la possibilité de savoir si un membre existe ou non.

En ce moment, il y a deux possibilités, mais les deux ne conviennent pas :

1. L'api membre avec search
2. Lien direct.

Le probleme :

https://zestedesavoir.com/api/membres/?search=a demande de parser les résultats jusqu'à trouver `<username>a</username>

[2017-06-22 17:59] vhf commented on #4382
A mon avis le moyen le plus efficace pour ça et peut-être le plus simple à mettre en place c'est de traiter les requêtes HEAD. DRF permet sauf erreur de faire des vues différentes pour les différents verbes HTTP.

Du coup on pourrait traiter le HEAD pour retourner 200 ou 404 si `… .exist()`

[2017-06-23 22:39] AmarOk1412 opened #4383 "Mise à jour du README"
Le site n'étant plus basé sur Django 1.8, il y a quelques trucs à mettre à jour dans le README et la doc ;)

[2017-06-26 11:26] A-312 commented on #3600
Le problème est toujours d'actualité ?

[2017-06-26 11:28] A-312 commented on #3702
https://developer.mozilla.org/fr/docs/Web/HTML/Types_de_lien Explication plus détaillée.

[2017-06-26 16:45] #4295 closed, assigned to gustavi

[2017-06-26 17:03] #4382 closed, assigned to nobody

[2017-06-30 14:49] AmarOk1412 opened #4388 "Migrer vers notre nouveau zmarkdown: Django"
o/

https://github.com/zestedesavoir/zmarkdown avance bien. Et je pense qu'on peut commencer à regarder comment passer de la version Python à celle en JS.

Il y a pas mal de choses à voir, comme enlever Python-ZMarkdown, comment bien interfacer node et Django, etc.

Suggestions d'IRC :
+ Classique : une socket
+ http://www.grpc.io/docs/quickstart/node.html
+ https://channels.readthedocs.io/en/stab

[2017-07-02 13:50] vhf commented on #4388
Merci pour ce ticket @AmarOk1412 . Je trouve pertinent, vu la quantité de travail et les directions diverses qu'on doit emprunter pour y arriver, de splitter ce ticket en 3.

1. Ce ticket concerne le backend/django/python/node<->django
1. Côté front-end https://github.com/zestedesavoir/zds-site/issues/4390
1. Côté PDF/LaTeX https://github.com/zestedesavoir/zds-site/issues/4391

[2017-07-02 14:23] vhf opened #4390 "Migrer vers notre nouveau zmarkdown: Front-end"
Ce ticket pour la migration vers le nouveau zmarkdown, côté frontend.

- [x] Implémenter un signal visual pour les liens/icône d'ancres sur les `<h1...6>`, cf https://beta.zestedesavoir.com/forums/sujet/10349/ancres-sur-les-titres/
- [x] Adapter les 'blocks' / 'panels'  de nouveaux types (neutre), nouvelles fonctionnalités (titres)
- [x] Implémenter les n° de ligne en CSS: https://github.com/zeste

[2017-07-02 14:24] vhf opened #4391 "Migrer vers notre nouveau zmarkdown: PDF / LaTeX"
Ce ticket pour la migration vers le nouveau zmarkdown, côté génération de PDF / LaTeX.

- [ ] Changer la méthode de compression pour que le fichier mimetype soit toujours en tête d'archive
- [ ] Fournir à l'équipe latex des exemple de la vraie vie
- [ ] Intégrer les css pour la coloration syntaxique (@sandhose) dans l'epub
- [ ] Améliorer nav pour que ça soit utile sur epub
- [x] Mettre à jour zmd

[2017-07-02 14:35] AmarOk1412 commented on #4388
Ouai, j'aurais soit fait ça, soit un méta ticket. Mais bon, c'est niquel la.

[2017-07-03 17:35] Situphen commented on #4390
C'est une requête Ajax en asynchrone donc je suppose que c'est une XHR (on passe par jQuery c'est transparent). Je pense aussi que c'est une bonne idée de garder ça dans un premier temps (ça fonctionne et c'est plutôt rapide en général) !

[2017-07-03 18:16] rezemika commented on #4261
J'ai du retard, mais ça me tente bien d'essayer. :)

[2017-07-04 23:40] rezemika commented on #3906
Le sujet a été remonté sur le forum ([ici](https://zestedesavoir.com/forums/sujet/8896/tuto-supprime-encore-dans-la-liste-personelle/)) par @alliocha1805 qui est sujet au même problème. J'en profite pour remonter le ticket idoine.

[2017-07-05 06:45] sandhose commented on #4390
Honnêtement c'est plutôt facile à faire, ça serait dommage de s'en priver.

[2017-07-05 10:47] Situphen commented on #4390
Peut-être mais comme toute modification c'est source de bugs. Il y a aura déjà assez de problèmes avec le zmarkdown, pas la peine d'en rajouter :)

[2017-07-06 14:37] DevHugo commented on #4376
On est le 6 juillet !  C'est bientôt, on peut faire quoi ?

[2017-07-06 14:42] DevHugo commented on #4376
@zestedesavoir/dtc

[2017-07-07 10:19] #4383 closed, assigned to nobody

[2017-07-07 14:45] tleb commented on #4082
C'est pas un peu bloquant comme issue ? Ça empêche tout le monde d'utiliser l'API vu que j'imagine que peu de monde la connait par cœur (on peut aller voir les modèles au pire mais bon...).

Il y a quelque chose que je peux faire ? Ou c'est uniquement des modifications sur l'env de prod ?

[2017-07-07 14:56] vhf commented on #4082
Ça devrait être réglé ça. Kjé a renommé le paquet, cf https://github.com/zestedesavoir/zds-site/issues/4082#issuecomment-281164082

[2017-07-08 09:05] tleb commented on #4082
Merci :)

[2017-07-08 09:05] #4082 closed, assigned to nobody

[2017-07-08 15:31] A-312 opened #4396 "Pas de :hover sur les catégories de la sidebar des tribunes"
Bonjour,

Si on suit la logique des autres éléments, il devrait avoir un effet :hover sur les titres.

![image](https://user-images.githubusercontent.com/18501150/27986728-1d406222-6403-11e7-8906-f2e139e3f545.png)

[2017-07-08 19:39] A-312 commented on #3440
Ca ne fonctionne plus ?

[2017-07-08 20:09] gllmc commented on #3440
@A-312 : cf #4082.

[2017-07-11 09:43] DevHugo opened #4399 "Les certificats de production ont expiré"
Bonjour,

Les certificats de productions ont expiré. Impossible de se connecter au site.

Liés à https://github.com/zestedesavoir/zds-site/issues/4191 ?

[2017-07-11 09:49] SpaceFox commented on #4399
À ce propos, est-ce que le HSTS a pour ZdS une autre utilité que nous péter
les noix quand le renouvellement du certificat a planté ?

Le 11 juil. 2017 11:43 AM, "Hugo Courtecuisse" <notifications@github.com> a
écrit :

[2017-07-11 09:51] pierre-24 commented on #4399
le cron `cerbot` est-il mort ?

[2017-07-11 09:55] vhf commented on #4399
Pas mon job mais ok, j'ai fait.

[2017-07-11 09:55] #4399 closed, assigned to vhf, gustavi

[2017-07-11 09:55] DevHugo commented on #4399
Ouai, excuse, mais je ne savais pas qui mettre. Comme tu l'as fait la dernière fois. C'est qui les dtc maintenant ?

[2017-07-11 10:04] DevHugo opened #4400 "Comment permettre le renouvellement des certificats sans casser la prod"
Bonjour,

ça fait deux fois d'affilé que le renouvellement des certifcats ce passe mal, comment peut-on améliorer notre processus actuel pour que ça marche ?

Cf: #4191 et #4399

Merci d'avance

[2017-07-11 10:39] gllmc commented on #4399
@DevHugo : c'est artragis et gustavi maintenant.

[2017-07-11 10:40] gllmc commented on #4400
Il y a @vhf qui a rajouté un cron, ça devrait être bon donc.

[2017-07-11 10:47] vhf commented on #4400
Ouais mais non. C'est une solution crade. J'ai ajouté un cron qui de temps à autres reload nginx, parce que le hook de certbook censé le faire ne fonctionne pas.

La réponse à la question posée dans le titre est : en ayant un sysadmin pour s'occuper des serveurs. On en a pas.

[2017-07-11 10:47] #4400 closed, assigned to nobody

[2017-07-14 18:08] A-312 opened #4404 "Changement des smileys"
Bonjour,

Buddy a mis à disposition de magnifique [smiley Clem](https://zestedesavoir.com/forums/sujet/538/clem-sur-le-devant-de-la-scene/?page=15#p105025). S'il n'y a aucun retour négatif, je fais une PR.

Je lui ai envoyé un MP à Buddy pour le prévenir.

A-312.

[2017-07-14 21:07] #4374 closed, assigned to nobody

[2017-07-14 21:08] gllmc commented on #3354
Rendu obsolète par la nouvelle aide Markdown.

[2017-07-14 21:08] #3354 closed, assigned to nobody

[2017-07-14 21:26] Situphen commented on #4404
Il faudrait faire une recherche mais de mémoire la solution trouvée pour satisfaire à la fois ceux pour les nouveaux smiley et ceux pour garder les actuels était de laisser le choix au niveau des paramètres.

[2017-07-15 08:38] A-312 commented on #4404
@Situphen C'est-à-dire ?

L'utilisateur choisi ce qui s'affiche chez lui c'est ça ?

Comment on fait ? On utilise un fichier css et un background-image au lieu d'une balise img ? Et en change le fichier css en fonction du paramètre ou on applique une className au body pour choisir quels règles css établir ?

[2017-07-15 08:43] pierre-24 commented on #4404
Quid des smileys déjà insérés "en dur" (par le markdown) et qui ne bougerons pas (genre dans les messages de forums et les contenus, le HTML est sauvé et utilisé) ?

[2017-07-15 12:58] rezemika commented on #4404
Peut-être avec une option dans le markdown pour choisir le groupe d'images à utiliser pour les smileys ? Même si ça implique de refaire le rendu à chaque fois...

[2017-07-15 14:42] A-312 commented on #4404
En sprite (le css est optimisable) :

![sprites](https://user-images.githubusercontent.com/18501150/28240135-c3b69e0a-697b-11e7-9d21-897b8ee1b7be.png)

[code]

Il manque (les gifs) : angry.gif , blank.gif , ninja.gif , rire.gif et unsure.gif

[2017-07-15 15:00] vhf commented on #4404
On a causé avec @artragis sur IRC pour explorer les solutions permettant aux utilisateurs de choisir un set de smileys entre plusieurs sets de smileys d'après leurs options de profil.

* Réécrire le HTML caché n'est pas envisageable.
* Router les requêtes HTTP pour chaque smiley à travers Django pour qu'il serve le bon serait beaucoup trop coûteux en performances.

Le mieux est d'utiliser le cooki

[2017-07-17 12:08] A-312 opened #4409 "Problème de redirection des tags sur les billets dans la recherche"
(Je n'ai pas pu essayer en beta)

Lorsqu'on clique sur un tag d'un billet dans une recherche, on est dirigé vers la liste des "contenus" = tutoriels avec ce tag. Au lieu de la liste des billets avec ce tag.

https://zestedesavoir.com/rechercher/?q=montre+connect%C3%A9e

(Cliquez sur git par exemple sur le billet : https://zestedesavoir.com/rechercher/?q=git )

[2017-07-17 19:26] vhf opened #4410 "UnicodeDecodeError: 'utf8' codec can't decode byte 0x82 in position 9: invalid start byte"
https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/964/

[code]

---

edit: issue créée d'un click depuis sentry. Présent sur v23, y'a un vrai problème mais il est pas super grave.

[2017-07-20 15:53] artragis commented on #4391
https://zestedesavoir.com/billets/2039/nouvelle-experience-on-continue-a-coder-en-live/

[2017-07-25 09:58] artragis commented on #4388
Nota : zerorpc nécessiterait gunicorn pour fonctionner :(

[2017-07-27 12:19] lypwig commented on #4404
Notez que les émoticônes sont aussi hébergées [ici](https://github.com/zestedesavoir/documents-communication/tree/master/emoticones), pour info. C'était pour éviter de farfouiller dans le forum pour les retrouver.

[2017-07-28 12:32] firm1 opened #4412 "[beta][v24] La recherche ne prend pas en compte les billets"
La recherche actuelle ne prend pas en compte les billets.

Si je cherche le terme ["lymphome"](https://beta.zestedesavoir.com/rechercher/?q=lymphome) , je n'ai qu'un seul résultat qui est celui du forum.

Et pourtant je devrais pouvoir au moins avoir [ces trois résultats](https://beta.zestedesavoir.com/billets/?tag=lymphome)

[2017-07-28 14:05] pierre-24 commented on #4412
Régression, puisque [ici, ça fonctionne](https://zestedesavoir.com/rechercher/?q=lymphome). Ou bien la bêta n'as pas été réindexée :)

[2017-07-29 10:42] rezemika opened #4414 "Erreur 500 lors de la publication d'un billet"
J'ai rédigé il y a quelques temps un article expliquant le principe des logiciels libres. Toutefois, manquant d'arguments pour une section "Critique", j'ai décidé de le convertir en billet. J'ai donc créé un billet, y ai importé les images utilisées dans l'article et ai copié le texte, avec juste quelques modifications mineures. Toutefois, au moment de la publication, j'obtiens une erreur 500.

Vo

[2017-07-29 10:54] pierre-24 commented on #4414
... Avec une erreur des plus étonnantes, soit dit en passant: https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/984/ :

[code]

Je te conseille donc, dans l'absolu, d'uploader cette image sur ZdS. Ça te permettra de débloquer la situation pour toi. Maintenant, ça reste un bug étonnant.

[2017-07-29 11:02] rezemika commented on #4414
C'est d'autant plus étonnant que c'est déjà fait. Voilà le markdown du billet à cet endroit.

[code]

Ça viendrait de l'URL du coup ?

[2017-07-29 11:05] pierre-24 commented on #4414
Oh, c'est encore plus bizarre, ça. On dirait effectivement que ça provient du "ê" de l'URL. Sauf que c'est pas sencé le faire à cet endroit là o_O

[2017-07-30 09:37] vhf commented on #4388
Ok, la communication node <> python se fera par HTTP, par express + pm2. Zerorpc pose problème avec l'environnement de développement de Django.

Note :

* Mettre en place le monitoring des process node par Sentry

[2017-07-30 19:21] artragis commented on #4414
il y a probablement un double pb :

- le markdown initial est mauvais et fait planter le système
- à un moment donné l'utf-8 n'est pas géré.

Par contre là tout de suite, je suis pas sûr que ça vienne de la v24

[2017-07-30 20:10] motet-a opened #4415 "Erreur 500 indexée sur Google"
Ici : https://zestedesavoir.com/api/api-docs/api/membres

Notez que ça a été indexé par Google :

![image](https://user-images.githubusercontent.com/15378830/28756694-b9906402-7573-11e7-846a-4be0973fc246.png)

...parce que le serveur retourne étrangement le code 200 :

![image](https://user-images.githubusercontent.com/15378830/28756697-d565b3e4-7573-11e7-82d4-c2ae1d5dfa25.png)

[2017-07-31 05:53] artragis commented on #4415
Ok, merci, il y a ici deux bugs en un ticket :

- l'indexation (il faudra l'ajouter en v24)
- l'erreur 500.

Pour la seconde, la v24 corrige déjà. Merci de la remontée.

[2017-07-31 06:17] gllmc commented on #4414
@artragis : le problème a eu lieu en prod, donc de toute façon, il n'y a rien de spécifique à la v24.

[2017-07-31 08:44] artragis commented on #4412
mmmh il n'est pas improbable que j'ai juste mal redémarré l'indexation, je regarde plus tard.

[2017-07-31 08:46] motet-a commented on #4415
@artragis Du coup je renomme ça en « Erreur 500 indexée sur Google » ?

[2017-07-31 08:47] artragis commented on #4415
Oui, merci :)

[2017-07-31 09:14] motet-a opened #4416 "Gulpfile, sprites et dépendances SCSS"
Bonjour,

En ce moment, je m’amuse un peu avec Docker, ça marche plutôt bien à part une chose assez embêtante.

On peut faire tourner un peu n’importe quoi avec Docker pour développer en local avec des volumes en lecture seule. Ils permettent à un conteneur de lire des dossier tels quels sur l’hôte sans pouvoir les modifier. Tant qu’il y a une séparation claire entre les dossiers des sources et le

[2017-07-31 09:50] motet-a commented on #711
Je me permet de déterrer vu que la PR a été fermée récemment.

Du coup, ça en est où ? Ça pourrai faire gagner pas mal de temps. Si ça peut vous être utile, je m’étais amusé récemment à [lancer Selenium directement chez Travis, sans passer par Saucelab](https://github.com/motet-a/gtsearch/blob/master/.travis.yml). Bon, évidemment c’est lent et un peu _hackish_ (faut compter [de quelques dixièmes d

[2017-07-31 10:13] rezemika commented on #4414
Je viens de modifier l'URL et de publier le billet, mais j'ai téléchargé une copie de l'archive avant. Si ça peut vous être utile pour faire des tests, je la mets en pièce jointe. ;-)

[2017-07-31 11:45] motet-a opened #4417 "404 en allant chercher gtm.js"
Apparaît sur [la page d’accueil de la bêta](https://beta.zestedesavoir.com/) :

![image](https://user-images.githubusercontent.com/15378830/28776227-00f8a598-75f6-11e7-9a9c-1b470f6e7680.png)

[2017-07-31 11:52] motet-a opened #4418 "La barre de recherche dans le menu se comporte étrangement sur mobile"
Il y a un `width: 14%;` un peu sale sur le bouton `+` :

![image](https://user-images.githubusercontent.com/15378830/28776555-58f726d8-75f7-11e7-9aeb-0cafc887e5e4.png)

![image](https://user-images.githubusercontent.com/15378830/28776561-5f04c2ce-75f7-11e7-8f5a-422fa195b0a7.png)

![image](https://user-images.githubusercontent.com/15378830/28776568-67faca5e-75f7-11e7-9f5c-23c8fffd3d26.png)

[2017-07-31 11:59] motet-a opened #4419 "Bannière GA et cookies cassée sur certaines tailles d’écrans"
Toujours sur [la page d’accueil de la bêta](https://beta.zestedesavoir.com/), se produit avec Chrome et Firefox :

![image](https://user-images.githubusercontent.com/15378830/28776750-4944c4b0-75f8-11e7-8aa0-fcc634d6693d.png)

[2017-07-31 15:00] artragis commented on #4416
ping @sandhose (mais perso ça me dérange pas, etj 'aime docker)

[2017-07-31 15:00] artragis commented on #4417
Not a bug, c'est voulu sur la béta.

[2017-07-31 15:00] #4417 closed, assigned to nobody

[2017-07-31 18:45] #4378 closed, assigned to nobody

[2017-07-31 19:07] artragis commented on #4412
fixed

[2017-07-31 19:07] #4412 closed, assigned to nobody

[2017-08-01 06:04] artragis commented on #4376
on n'a toujours pas de solution.

[2017-08-01 12:07] AmarOk1412 commented on #4418
Je pense que le comportement voulu pour le coup c'est de laisser le boutton de la même largeur à chaque fois. Pas faire ce truc assez moche :)

[2017-08-01 12:31] motet-a commented on #4418
Je pense aussi.

[2017-08-01 17:30] motet-a commented on #4416
Je m’en occuppe.

[2017-08-01 21:42] motet-a opened #4423 "CSS : Mettre `box-sizing: border-box;` partout"
Ceci :

[code]

...peut régler bien des problèmes.

Source : https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing.

Ça risque de ne pas être une petite modification toutefois.

[2017-08-02 09:09] pierre-24 opened #4427 "Problème d’affichage de tableaux en format mobile"
[Vu sur le forum](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=47#p158528):

[2017-08-02 09:14] firm1 opened #4428 "[beta][v24] Impossible de consulter la liste de messages postés"
Lorsque j'essaye de consulter la liste de mes messages via l'url [suivante](https://beta.zestedesavoir.com/forums/messages/138/), j'ai une erreur interne du serveur.

[2017-08-02 09:15] pierre-24 commented on #4427
Et, d'après @vhf, pareil sur la gestion des alertes:

![screenshot_20170802-110833](https://user-images.githubusercontent.com/7889675/28866705-09e62854-7774-11e7-9e5c-ca0c4b2c0444.png)

[2017-08-02 09:37] motet-a commented on #4427
Ça semble voulu puisque [ici](https://github.com/zestedesavoir/zds-site/blob/dev/templates/pages/comment_edits_history.html#L36) et [là](https://github.com/zestedesavoir/zds-site/blob/dev/templates/pages/comment_edits_history.html#L43) il y a un `class="wide"`.

[2017-08-02 09:40] pierre-24 commented on #4427
C'est surtout que le dévellopeur a testé sur son pc, à mon avis ^^

[2017-08-02 09:49] motet-a commented on #4427
@pierre-24 C’est à dire ? Le `class="wide"` sur la dernière colonne veut dire « n’afficher que sur écran large » :

https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/base/_helpers.scss#L72

Par « Ça semble voulu », je veut dire que ce n’est pas un bug, mais que le truc est conçu comme ça (mais je ne dis pas que c’est très bien conçu, un tableau n’est pas forcément le bon choix ici).

[2017-08-02 09:52] pierre-24 commented on #4427
En effet.

Mais je pense que les gens aimeraient pouvoir y accéder aussi en format mobile :)

[2017-08-02 10:03] pierre-24 commented on #4423
ping @sandhose :)

[2017-08-02 10:04] pierre-24 opened #4429 "Dépendances front pas à jour"
Je sais pas si c'est de notre fait ou pas, mais :

[code]

[2017-08-02 10:17] motet-a commented on #4427
Je pense aussi :smiley:

[2017-08-02 10:22] artragis commented on #4427
j'ai tendance à penser que ça n'est pas propre à la béta tout ça.

[2017-08-02 10:25] artragis commented on #4428
étrange, aucune trace sur sentry.

[2017-08-02 10:27] vhf commented on #4427
Ça ne l'est pas. Tu peux enlever la milestone v24. Comme je le disais, c'est pareil sur les alertes sur la prod.

[2017-08-02 10:28] pierre-24 commented on #4416
Voilà qui va te permettre d'avancer :)

[2017-08-02 10:28] #4416 closed, assigned to nobody

[2017-08-02 10:30] pierre-24 commented on #4427
Voilà qui est fait.

[2017-08-02 10:49] motet-a commented on #4416
Merci !

[2017-08-02 13:43] pierre-24 opened #4433 "Le menu mobile a des marges bizarres sous Firefox"
Reporté dans #4422:

![](https://user-images.githubusercontent.com/15378830/28871595-977fcbdc-7785-11e7-8b1f-0eea24064274.png)

![](https://user-images.githubusercontent.com/15378830/28871641-c9641824-7785-11e7-97cc-c6b5eb8bf28c.png)

[2017-08-02 13:45] Situphen commented on #4423
Je suis contre l'appliquer partout sur un design existant, le risque de modifications collatérales est grand et ce serait très embêtant à résoudre.

[2017-08-02 13:51] #4418 closed, assigned to nobody

[2017-08-02 14:07] pierre-24 commented on #4429
Le problème sera réglé lorsque gulp passera en version 4: https://github.com/gulpjs/gulp/issues/1571

[2017-08-02 14:07] #4429 closed, assigned to nobody

[2017-08-02 14:37] motet-a commented on #4423
@Situphen Plutôt utiliser une migration progressive alors ? C’est à dire qu’on met `box-sizing: border-box;` sur les nouveaux éléments et on ne touche pas le reste.

[2017-08-02 14:49] pierre-24 opened #4434 "Erreur à la publication d'un tutoriel"
Voir https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/987/

[code]

[2017-08-02 15:11] DevHugo commented on #4434
ça serait peut-être intéressant de voir sur la prod, quel nom a le dossier.

[2017-08-02 15:29] pierre-24 commented on #4434
Un quickfix serait de le marquer comme jamais publié auparavant dans la BDD. Mais n'empêche, je me demande ce qui a causé ça.

[2017-08-02 15:56] DevHugo commented on #4434
ça aurait pas des conséquences sur la redirection ?

[2017-08-02 18:46] Situphen commented on #4423
Oui voilà

[2017-08-02 19:33] pierre-24 commented on #4434
Si, effectivement :/

[2017-08-02 19:35] DevHugo commented on #4434
Sinon, on peut se dire que c'est un moindre mal, pas de contenu est bien pire que pas de redirection.

[2017-08-02 20:23] DevHugo commented on #4434
Il a toujous été là le -1 à la fin ?

[2017-08-02 20:24] pierre-24 commented on #4434
Ce tutoriel a déjà un long historique de *fails* multiples et variés. Je serais pas étonné que ce passé sois une des causes du plantage actuel.

[2017-08-02 20:26] DevHugo commented on #4434
Je pense que le plus simple c'est qu'un admin regarde l'historique GIT du tutoriel et le nom des différents fichiers avec les enregistrements dans la bases de données.

[2017-08-02 20:28] pierre-24 commented on #4434
Bon, qui a accès à la prod, encore ? @artragis et @gustavi ?

[2017-08-03 07:55] motet-a opened #4435 "Remplacer `import zds.settings` par `import django.conf`"
Lorsque l’on fait :

[code]

`zds.settings` reste `zds.settings` alors que `django.conf` vaut `zds.my_custom_settings`.

Je m’en occuppe.

- [x] Écrire un patch par dessus #4413
- [x] Écrire un script à base de `grep` insultant les gens qui font un `import zds.settings` par mégarde

[2017-08-03 08:32] motet-a opened #4436 "Renommer zds/utils/templatetags/smileysDef.py -> smileys_def.py"
Histoire d’avoir un style de noms de fichiers cohérent.

[2017-08-03 08:35] motet-a opened #4437 "Renommer zds/utils/templatetags/remove_url_protocole.py -> remove_url_protocol.py"
Et `remove_url_protocole()` -> `remove_url_protocol()` cuz dis is not english.

[2017-08-03 10:07] motet-a commented on #4435
#4413 corrige le problème partiellement mais pas complètement.

[2017-08-03 16:03] motet-a commented on #4435
Le commit 774ef8f5548e4f295a4f0962cece64c4f8ed2043 passe tous les tests !

[2017-08-03 18:29] motet-a opened #4439 "Découper templates/base.html en plusieurs fichiers plus petits"
800 lignes de HTML ça commence à faire :upside_down_face:

- [x] footer
- [ ] other

[2017-08-03 22:12] rezemika commented on #4427
Je m'en occupe. :-)

Quelles sont les pages affectées ? Seulement celle-ci ou toutes celles qui ont des tableaux avec des boutons ?

Edit : Ce n'est pas le même problème, mais je trouves que les boutons sont très "serrés" sur les petits écrans. Il faudrait peut-être ajouter du padding entre-eux ?

![](https://user-images.githubusercontent.com/1690660/28946380-d4b1fb62-78aa-11e7-986e-a678cbe2ccf9.p

[2017-08-03 22:37] motet-a commented on #4427
@rezemika [Ici](https://github.com/zestedesavoir/zds-site/blob/dev/templates/pages/comment_edits_history.html#L36) et [là](https://github.com/zestedesavoir/zds-site/blob/dev/templates/pages/comment_edits_history.html#L43) il y a un `class="wide"`.

Mais pour corriger le problème correctement, je pense qu’il faut mieux remplacer tout le tableau par quelque chose de responsive.

Concernant les bouto

[2017-08-03 23:42] rezemika commented on #4427
Oui, ceux-là, je les avais bien repérés, mais je parlais des tableaux qu'on peut voir sur d'autres pages (surtout celles des validateurs il me semble).

Ok pour l'issue, je ferais ça dès demain.

[2017-08-04 00:57] motet-a opened #4441 "La taille de la police varie en fonction de la taille de la fenêtre"
Je pense que la taille de police devrait être la même quelle que soit la taille de l’écran et le niveau de zoom et qu’il ne devrait pas y avoir de _media queries_ qui la modifie comme ici :

https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/layout/_content.scss#L415-L429

[2017-08-04 08:48] motet-a opened #4442 "Mettre la couleur de sélection du même bleu que le reste du site"
Pas si joli :

![image](https://user-images.githubusercontent.com/15378830/28961397-75c14290-7902-11e7-9464-bb0c6db3cde6.png)

[2017-08-04 12:16] #4428 closed, assigned to nobody

[2017-08-04 12:31] vhf opened #4444 "Gestion des Unes - dates cassées"
* Il semble impossible de modifier la date d'une Une
* Ajouter une Une avec une date provoque parfois une 500: https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/988/

[2017-08-04 15:42] pierre-24 commented on #4261
Voilà qui est fait, merci @rezemika :)

[2017-08-04 15:42] #4261 closed, assigned to nobody

[2017-08-04 17:39] rezemika opened #4448 "Les boutons sont très proches sur les petits écrans"
Sur les petits écrans, il y a très peu de marges entre les boutons, ce qui peut rendre la navigation un peu compliquée sur les écrans tactiles (pour appuyer sur le bon bouton). Il faudrait peut-être rajouter un peu de padding entre-eux sur les petits écrans.

![](https://user-images.githubusercontent.com/1690660/28979990-60d8086a-794c-11e7-9ee5-82ac2e2ecb0e.png)

Question subsidiaire : est-ce volo

[2017-08-04 18:19] pierre-24 commented on #4448
C'est probablement une erreur.

[2017-08-05 06:43] artragis commented on #4437
et mes excuses pour l'erreur.

[2017-08-05 09:59] motet-a commented on #4437
@artragis L’erreur est humaine.

[2017-08-05 11:25] rezemika opened #4453 "Espace blanc sous le footer sur les petits écrans"
Sur les écrans de moins de 960px de large, il y a un espace blanc sous le footer quand la page est plus petite que l'écran. Il serait plus naturel de le mettre en bas de la page, comme sur les écrans plus grands.

![Une capture d'écran avec un écran simulé de 915x638px](https://user-images.githubusercontent.com/1690660/28995155-5b032c90-79e1-11e7-83a0-d990ce85e52b.png)

[2017-08-05 11:28] pierre-24 commented on #4453
Notez que c'est aussi présent sur la page de recherche, par exemple

![screenshot from 2017-08-05 13 27 09](https://user-images.githubusercontent.com/7889675/28995169-d9371f04-79e1-11e7-8dcf-306270f8cfa9.png)

(et de manière générale sur toutes les pages un peu courtes et sans barre de gauche)

[2017-08-05 11:36] motet-a commented on #4453
La bonne solution est de reprendre le layout avec un `flex-grow: 1;` au centre pour pousser la barre du bas.

[2017-08-05 11:38] motet-a commented on #4453
La bonne solution est de reprendre le layout avec un `flex-grow: 1;` au centre pour pousser le footer en bas.

[2017-08-05 11:42] pierre-24 commented on #4434
Donc l'historique git n'as rien. Du coup, seconde solution (j'ai testé en local la faisabilité de la chose).

Pour @zestedesavoir/infrastructure, quand quelqu'un a 5 minutes:  dans la BDD, le publishablecontent au pk=755 (probablement situé à l'adresse https://zestedesavoir.com/admin/tutorialv2/publishablecontent/755/change/), ayant le slug "le-langage-c-1. Videz le champ "Sha1 de la version publi

[2017-08-05 13:22] motet-a commented on #4453
Allez, je m’en occuppe.

[2017-08-05 14:40] pierre-24 opened #4456 "RTD ne builde plus notre documentation"
Depuis début juillet,

![screenshot from 2017-08-05 16 39 56](https://user-images.githubusercontent.com/7889675/28996255-bb63fa54-79fc-11e7-9272-108bd4e4c4f2.png)

Voir, à priori, https://github.com/rtfd/readthedocs.org/issues/3006

[2017-08-05 20:11] A-312 opened #4457 "Trop d'espace sur la balise spoiler ?"
Bonjour,

J'ai l'impression qu'il y a trop d'espace entre le .spoiler-title et le .spoiler, la règle [margin-top#L194](https://github.com/zestedesavoir/zds-site/blob/24b5cd19c0c800ac3a0c5e3f46c85004d2b31302/assets/scss/layout/_content.scss#L194) n'est pas prise en compte. S'agit-il d'une régression dû à une factorisation du CSS ?

Ce sont les deux premières propriétés qui ne sont pas prise en comp

[2017-08-05 20:17] A-312 opened #4458 "Mauvais support des écrans très large"
Bonjour,

En rapport avec ce message : https://zestedesavoir.com/forums/sujet/9077/alignement-horizontal-du-menu-principal/?page=1#p158725

Il faudrait améliorer le support des grands écrans en ajoutant des max-width.

Solution envisageable :

A-312.

EDIT : J'ai édité mon issue, maintenant que la barre de menu est centré.

[2017-08-05 20:22] A-312 opened #4459 "Problème d'affichage avec le bouton "Envoyer" (marge manquante)"
Bonjour,

Une marge est manquante en dessous du bouton envoyer :

![Screenshot pris avec Firefox](http://i.imgur.com/G9xyS5K.png)

J'ai ce rendu pour Firefox et Chrome (dernière version, Windows).

A-312.

[2017-08-05 20:30] A-312 opened #4460 "Sujets similaires -> target="_blank" manquant"
Bonjour,

Dans les sujets similaires lorsqu'on créaient un nouveau sujet, il manque un `target="_blank"` pour les liens menant vers les catégories.

Pour les titres des sujets le `target="_blank"` y est (il s'agit donc du comportement correct).

Il faut donc ajouter un `target="_blank"` dans le template pour les catégories.

A-312.

[2017-08-05 21:17] A-312 commented on #4457
![image](https://user-images.githubusercontent.com/18501150/28998796-43917082-7a34-11e7-90a0-48582f27e859.png)

[2017-08-05 23:18] motet-a commented on #4459
Ouais, il y a des problèmes de marges comme ça un peu partout.

[2017-08-05 23:26] motet-a commented on #4457
Le sélecteur utilisé pour appliquer `padding: 7px 15px 7px 45px;` est hyper (trop ?) fort. À mon avis, il vaudrait mieux essayer de le réduire plutôt que de mettre un `!important`.

[2017-08-06 09:10] pierre-24 commented on #4456
@firm1 (parce que toi je pense que tu l'as) et/ou @zestedesavoir/infrastructure ... Y'a une question à laquelle je sais pas répondre sur rtfd/readthedocs.org#3006, y'aurais moyen de me donner temporairement l'accès au compte de zds sur rdt ou d'y répondre à ma place ?

[2017-08-06 09:17] vhf commented on #4456
Je ne sais pas comment s'y connecter, je n'ai pas d'identifiants.

[2017-08-06 09:21] vhf opened #4462 "sitemap.xml cassé suite à django 1.10"
https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/989/

[2017-08-06 10:30] #4462 closed, assigned to nobody

[2017-08-06 10:30] #4415 closed, assigned to nobody

[2017-08-06 10:48] vhf commented on #4462
Déployé.

[2017-08-06 10:48] vhf commented on #4415
Déployé.

[2017-08-06 11:02] pierre-24 commented on #4456
M'en doutait un peu, et je suis quasi sur que @firm1 les as.

[2017-08-06 11:21] #4435 closed, assigned to motet-a

[2017-08-06 12:25] motet-a opened #4465 "Boîtes de dialogue plutôt cassées sur IE 11"
![image](https://user-images.githubusercontent.com/15378830/29003225-f9054c62-7ab2-11e7-85a0-1e10102cca65.png)

[2017-08-06 15:12] motet-a opened #4468 "[v25] L’en-tête de la bibliothèque n’est pas toujours très joli"
Par exemple ici, sur [la bêta](https://beta.zestedesavoir.com/bibliotheque/sciences-de-la-nature/biologie/) avec Chrome simulant un iPhone 6 :

![image](https://user-images.githubusercontent.com/15378830/29004600-55dcf27a-7aca-11e7-9f42-79ccfd6ffddc.png)