[2015-10-06 07:06] GerardPaligot commented on #3044
Je fais tous mes tests uniquement sur la bêta.

[2015-10-06 13:36] firm1 commented on #3044
Je confirme que ça marche bien sur la beta avec les espaces. Je pense que j'ai du tester un autre cas verollé en parallèle.

Je ferme donc cette issue.

[2015-10-06 13:36] #3044 closed, assigned to nobody

[2015-10-07 17:22] Situphen commented on #3030
Merci à @artragis ! :)

[2015-10-07 17:22] #3030 closed, assigned to nobody

[2015-10-07 17:28] Situphen commented on #2990
Du coup vu que c'est pas un bug, je ferme ! Si ça gène beaucoup d'auteurs on verra pour intégrer ça dans une prochaine version :)

[2015-10-07 17:28] #2990 closed, assigned to nobody

[2015-10-07 18:10] Situphen commented on #3043
Je viens de tester et effectivement si on met rien, il met Tutoriel par défaut. Par contre, j'ai beau fouiller dans le code, je n'ai pas trouvé de `then, assume tutorial` ! Peut-être que c'est Django qui le fait via `save()` vu que [le champ en base de donnée](https://github.com/zestedesavoir/zds-site/blob/6ed07f0d83233df16cd40934eca1c4bb30f8df7d/zds/tutorialv2/models/models_database.py#L97) n'a q

[2015-10-07 18:15] pierre-24 commented on #3043
Non, en fait, [il est caché là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/utils.py#L734), ou il est initialisé par défaut à `"TUTORIAL"`, et [changé uniquement si le champ `type` est défini dans le manifest](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/utils.py#L742).

[2015-10-07 18:28] Situphen commented on #3043
Voilà, j'ai fait une PR ! Il n'y a pas d'autres coquilles à corriger ?

[2015-10-07 19:15] artragis commented on #3028
à fermer puisque tu as mergé. @Situphen

[2015-10-07 19:33] Situphen commented on #3028
A oui, merci

[2015-10-07 19:33] #3028 closed, assigned to nobody

[2015-10-09 07:07] pierre-24 commented on #3008
Hop :)

[2015-10-09 07:07] #3008 closed, assigned to nobody

[2015-10-09 07:08] pierre-24 commented on #3025
Bon, je ferme, on confirmera au prochain test ;-)

[2015-10-09 07:08] #3025 closed, assigned to nobody

[2015-10-09 08:15] pierre-24 commented on #3043
Il semblerait que non :)

[2015-10-09 08:15] #3043 closed, assigned to nobody

[2015-10-09 09:06] GerardPaligot commented on #3013
Nous en sommes où dans la mise en place de la recherche ? Il ne reste plus que ça à tester si je comprends bien

[2015-10-09 09:50] pierre-24 commented on #3013
Oui. Mais faut arriver à mettre @sandhose et @DevHugo dans la même conversation IRC ;)

[2015-10-09 09:51] DevHugo commented on #3013
Je vais lui envoyer un mp.

[2015-10-09 12:51] firm1 opened #3062 "[beta 15.9] Clem qui migre les tutoriels est inconnue au bataillon"
Dans l'historique d'un tutoriel qui a été migré, on se rend compte qu'il y'a deux commit qui sont effectués. Le premier commit est celui de zds qui fait un "Nettoyage pré-migratoire ", puis un commit de Clem qui fait la "Migration version 2".

Le problème c'est que
- dans cet historique "zds" n'est pas un utilisateur connu sur le site (il serait préférable que ce soit Clem qui fasse les deux commi

[2015-10-09 12:57] firm1 opened #3063 "[beta 15.9] petite coquille dans le code"
En zieutant un peut le code, sur [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/models/models_database.py#L352),on peut lire ceci :

[code]

Les plus vigilents auront remarqués qu'il y'a deux fois le "authors" dans la liste. Je suppose que c'est un effet de la fatigue ?

[2015-10-09 13:10] firm1 opened #3064 "Enlever les TODO dans le code"
Les [TODOs](https://github.com/zestedesavoir/zds-site/search?l=python&o=desc&q=TODO&s=indexed&utf8=%E2%9C%93) dans le code c'est le meilleur moyens de les oublier.

Il faudrait idéalement les retirer en procédant de l'une des deux manières suivantes :
- soit corriger le bug/evolution
- soit créer les issues correspondantes

[2015-10-09 13:32] firm1 opened #3065 "[beta 15.9] Présence des fonctions inutilisées dans le code"
La fonction `def change_type` a été insérée dans le code de la ZEP12, mais n'[est pas utilisée](https://github.com/zestedesavoir/zds-site/search?utf8=%E2%9C%93&q=change_type). On ne sait pas non plus comment elles vont être utilisées plus tard (d'autant plus que je ne pense pas qu'elle puisse être utilisée en l'état).

Il faudrait éviter de surcharger le code avec des fonctions qu'on utilise pas.

[2015-10-09 13:47] firm1 opened #3066 "[beta 15.9] problème de vocabulaire entre le code et l'IHM"
Il y'a un décalage de vocabulaire entre le code et l'interface homme machine.

En regardant le code introduit par la zep12, on remarque que certaines fonction, classes, ... utilisent encore le terme `Extract` et pourtant au sein de l'IHM on n'utilise plus que le terme `Section`.

Il faudrait donc remplacer les notions dans le code pour un dev qui débarque dans le code connaissant le site, il risqu

[2015-10-09 14:09] firm1 opened #3067 "[beta 15.9] du code dupliqué dans le modèle"
En comparant [ce bout](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/models/models_database.py#L571) de code à [celui-ci](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/models/models_database.py#L685) on constate qu'il s'agit du même bout de code.

[code]

Il aurait donc tout intéret à être rangé dans une fonction à appeler par les autres, ça simplifiera auss

[2015-10-09 14:18] firm1 opened #3068 "[beta 15.9] précision sur le mimetype markdown"
D'après le [morceau de code](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_published.py#L170) suivant :

[code]

On pourrait croire que le le mimetype markdown est `text/plain` et pourtant dans la réalité le mimetype mardkwon est `x-markdown`

[2015-10-09 14:37] firm1 commented on #3066
Pour le problème de vocabulaire, je remarque aussi que dans [ce fichier](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_published.py) on retrouve la terminologie `Reaction` et `Note` pour ce qui concerne les commentaires d'un tutoriel/article.

Avant la terminologie Note correspondait aux Tutos et la terminalogie Reaction correspondait aux Articles. Maintenant que le

[2015-10-09 14:44] firm1 opened #3069 "[beta 15.9] harmonisation des typo des alertes"
Dans les messages d'alertes, on retrouve encore des phrases introduitent par la zep 12 qui ne respectent pas la norme des autres alertes du projet (les phrases doivent se terminer par un point par exemple).
- [exemple 1](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_published.py#L622)
- [exemple 2](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/vi

[2015-10-09 14:47] firm1 commented on #3069
On notera aussi [cette phrase](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_contents.py#L355) qui n'est pas internationnalisée

[2015-10-09 14:47] DevHugo commented on #3013
Sandhose, à fait le nécessaire, la recherche fonctionne, merci à lui !

[2015-10-09 15:40] artragis commented on #3013
<3 peut être une release ce week-end alors @Eskimon (en ~vacances~
indisponibilité, non?) @spacefox @sandhose

2015-10-09 16:47 GMT+02:00 Hugo Courtecuisse notifications@github.com:

[2015-10-09 15:43] DevHugo commented on #3013
Il est pas la Eskimon avant la semaine prochaine, il me l'a redit dans le MP.

[2015-10-09 15:49] SpaceFox commented on #3013
Quant à moi, je reviens dimanche soir.

[2015-10-09 15:59] artragis commented on #3013
donc @sandhose (qui a déjà permis le test de la zep-12 donc il sait faire
une release non?)

2015-10-09 17:49 GMT+02:00 SpaceFox notifications@github.com:

[2015-10-09 18:11] pierre-24 commented on #3066
Si on veux jouer à ça, le terme `Container` ne veut rien dire (il n'est employé nul part dans l'interface) et il y a une faute à `licence` (en anglais "correct", on dit ["license"](https://en.wikipedia.org/wiki/License), d'ailleurs [l'objet du même nom porte la même faute](https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/models.py#L151)). Et puis `Content` ne réfère à rien, puisqu'on a

[2015-10-09 18:11] #3066 closed, assigned to nobody

[2015-10-09 18:16] pierre-24 commented on #3069
Norme _de facto_, alors. Comme dit auparavant, on ne peut pas avoir connaissance de quelque chose qui n'est pas écrit.

[2015-10-09 18:18] pierre-24 commented on #3064
Pourquoi c'est tagué "beta 15.9", alors que c'est loin d'être récent pour certrains TODO ?

[2015-10-09 18:21] pierre-24 commented on #3068
C'est, au mieux, [une recommendation](https://datatracker.ietf.org/doc/draft-ietf-appsawg-text-markdown/). Le même argument tient pour les fonctions `moz-` et `webkit-` vs leurs équivalents dans la "vraie" norme dans le CSS.

[2015-10-09 18:21] #3068 closed, assigned to nobody

[2015-10-09 18:34] pierre-24 commented on #3062
Mouairf. [on commite un peu bourin](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/management/commands/migrate_to_zep12.py#L221), en fait, dans le cas de la migration, [c'est par pure chance que ça tombe sur Clem](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/utils.py#L966) (tout ça parce qu'on a décidé de mettre l'_username_ à la place du _pk_ >.> )

[2015-10-09 19:01] artragis commented on #3063
pour ce genre de code, tu as le droit de faire une PR plutôt que d'ouvrir une issue.

[2015-10-09 19:16] sandhose commented on #3013
Je saurais faire, mais j'ai pas d'accès prod

[2015-10-09 19:58] artragis commented on #3013
release = preprod.

Le 09/10/2015 21:16, Sandhose a écrit :

[2015-10-09 19:59] sandhose commented on #3013
Effectivement, j'ai répondu un peu vite

Du coup ouais, j'ai le temps ce Week-end s'il le faut

[2015-10-09 21:24] SpaceFox commented on #3064
C'est pas de la bêta, c'est de la vie de code normale.

[2015-10-10 13:52] Situphen opened #3070 "Déduplication des balises secrets"
[Depuis le forum (ça date un peu)](https://zestedesavoir.com/forums/sujet/2801/trois-balises-secret-pour-le-prix-de-deux/#p50664) :

[C'est revenu aujourd'hui.](https://zestedesavoir.com/forums/sujet/4240/apercu-balise-secret/?page=1#p77238)

[2015-10-10 23:03] Situphen opened #3072 "Augmenter la longueur des titres"
Dans le débat sur "quel titre choisir", il est ressorti que les titres sont trop courts. Il va donc falloir augmenter la longueur, mais jusqu'à quel point ?

[2015-10-13 08:10] #1707 closed, assigned to nobody

[2015-10-13 08:13] Eskimon commented on #417
Plutôt d'accord avec @GerardPaligot , du coup je ferme

[2015-10-13 08:13] #417 closed, assigned to nobody

[2015-10-13 08:14] Eskimon commented on #1245
Absolument, comme le dit @GerardPaligot le ticket n'est pas assez précisé pour pouvoir faire une action de résolution. Du coup je ferme au profit de ticket (ceux sur les slow queries) plus pertinent.

[2015-10-13 08:14] #1245 closed, assigned to nobody

[2015-10-13 08:16] Eskimon commented on #1334
Exact, ca a été relégué en évo sous peine de ralentir la mise en route de la zep-12 pour quelque chose d'utile mais non primordiale dans un premier temps

[2015-10-13 08:18] Eskimon commented on #2534
Parce qu'à l'époque je voyais pas comment simplement virer les membres d'un groupe ou selon certaines conditions ^^ Faudra que je reregarde (sauf si qqun sait et peut le faire rapidement, ca se passe ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L47

[2015-10-13 08:22] Eskimon commented on #2511
Faute de nouveaux commentaires, ce ticket sera a fermer lors du prochain nettoyage.

[2015-10-13 08:24] Eskimon commented on #2506
Perso sur OnePlus One Lollipop + Chrome j'ai le drawer qui pop lors d'un gros scroll mais qui reprend sa place correctement quand le scroll termine. Ca sent plus le bug du navigo que du site pour le coup.

Pour ce qui est des "gestes" de Windows Phone, on ne peut rien y faire (à part rappeler que le menu est aussi dispo en haut à gauche).

Du coup faute de mieux je ferme ici.

[2015-10-13 08:24] #2506 closed, assigned to nobody

[2015-10-13 08:28] Eskimon commented on #1393
Bon, je vais dans ma grande sagesse trancher le souci : On pousse à 2000 et on autorise l'affichage complet au clic sur la signature (pas de nouveaux boutons et attention à ne pas empêcher les clics sur URL)

[2015-10-13 08:31] SpaceFox commented on #1393
Je plusseoie la solution de @Eskimon .

[2015-10-13 08:33] Eskimon commented on #2272
En gros post-release ZEP-12 on peut faire une release technique juste pour faire passer le venv à python 3 ? Ca vous irait ? (On sait si toutes nos dépendances sont compatibles py3 ? ). Pour info la version py3 sur la prod est `Python 3.4.2`

[2015-10-13 08:52] GerardPaligot commented on #3013
D'après ce que je vois sur la beta, la recherche fonctionne. On peut fermer non ?

[2015-10-13 08:53] DevHugo commented on #3013
Ouai.

[2015-10-13 08:56] Eskimon commented on #1143
C'est aussi inclus dans la [ZEP-14](https://zestedesavoir.com/forums/sujet/1009/zep-14-refonte-de-lassistant-dedition-markdown/) :)

[2015-10-13 09:14] Eskimon commented on #3063
@artragis restons sympa, tout le monde n'a pas accès à une machine pour faire des PR, donc il est toujours bon d'avoir un retour _même pour des trucs trivials_ plutôt que de passer à côté de quelque chose.

[2015-10-13 09:18] Eskimon commented on #3066
J'arrive après la bataille mais merci de rester sympa entre vous les gars, comme une belle équipe <3 . S'il y a besoin de faire échapper un peu de pression ou de crever des abcès (ce qui est très sain !) alors zou sur les MP (avec moi en copie si vous voulez un médiateur).

[2015-10-13 09:26] pierre-24 commented on #2272
Moi, j'approuve :)

[2015-10-13 09:28] pierre-24 commented on #3063
Non, mais là, il peut passer direct par GH. Soit, la PR est là, et objectivement, y'a rien à tester (sauf si vous voulez TOUT tester :p )

[2015-10-13 09:31] Eskimon commented on #3063
Pour passer par GH il faut un fork à jour sur GH...

[2015-10-13 09:38] pierre-24 opened #3076 "Le validateur perd le droit de validation lorsque la version change"
Comme dit dans le titre,
- Un auteur passe son contenu en validation ;
- Un valido le réserve ;
- L'auteur met à jour la version en validation ;
- Le validateur recoit un MP pour le prévenir, mais doit re-réserver le contenu.

Il serait probablement plus pratique de garder le validateur et d'envoyer un MP pour le prévenir. Non ?

C'est tout con à faire :)

[2015-10-13 09:40] artragis commented on #3076
La zep-12 ne règle pas le pb?

[2015-10-13 09:41] artragis commented on #3063
pas si sûr. Le système te permet de bien faire les choses (il wrappe autour
de checkout -b .. upstream/release

mais bon pas grave pierre a déjà tout fait.

2015-10-13 11:31 GMT+02:00 Eskimon notifications@github.com:

[2015-10-13 09:46] pierre-24 commented on #3076
Non, on est resté _iso_-prod sur le sujet, même si j'avais effectivement émis l'idée à un moment :

![screenshot from 2015-10-13 11 44 52](https://cloud.githubusercontent.com/assets/7889675/10451351/e65979d0-719f-11e5-9c2d-5b4f2b26987f.png)

Mais comme je dit, il suffit de repasser l'objet `Validation` à `PENDING_V` au lieu de `PENDING` et le tour est joué :)

[2015-10-13 09:59] pierre-24 commented on #3066
Y'a pas réellement de "problème", c'est juste que je regrette d'avoir ce genre de remarques après-coup, c'est (très)¹⁰⁰⁰ frustrant (et impossible à régler avec juste des _find_/_replace_)

[2015-10-13 10:04] Eskimon commented on #3063
J'ai pas compris :( Mais si tu sais comment garder un fork GH à jour ca m'intéresse vivement :)

[2015-10-13 10:25] Eskimon commented on #1851
Bon, je vais ici aussi trancher via ma grande sagesse et son autorité associé en vous dévoilant la spec' finale :

Pour l'aspect graphique :

Les votants seront affichés suite à un clic sur un bouton. Le clic chargera une modale affichant la liste des avatars des votants, chacun souligné par un trait rouge ou vert selon la nature du vote. Les avatars seront clickables pour aller vers le profil du

[2015-10-13 10:52] Situphen commented on #1393
Bah normalement ma PR #2782 respecte ça donc on peut la QAtiser !

[2015-10-13 11:16] SpaceFox commented on #1851
Comment on affiche les (dis)like anonymes ? Si on se contente de ne pas les montrer, ça risque d'être incompréhensible pour les utilisateurs. Idéalement, on aurait un truc comme « … et XY votes anonymes ».

[2015-10-13 11:29] firm1 commented on #3063
C'est bien mon problème aussi et je n'ai pas bien compris la manip de @artragis mais si il sait comment faire ça m'interesse aussi.

[2015-10-13 11:39] pquentin commented on #3063
En fait on peut éditer directement chaque fichier sur GitHub. Je pense que c'est ce que proposait @artragis. Et ci-dessous, voilà comment reproduire ce que fait GitHub quand on édite un fichier sur un répo sur lequel on ne peut pas commiter.

L'idée est de créer une nouvelle branche locale avec un nom plus ou moins descriptif (patch-1 vs patch-attrs-typo). En supposant que la remote se nomme origi

[2015-10-13 11:45] artragis commented on #2957
Si mes souvenirs sont justes cela a été changé lorsque l'ancien serveur a crashé, aujourd'hui les pages 500 ne sont plus générées à la volée, non? @sandhose @Eskimon ?

[2015-10-13 11:46] artragis commented on #2905
on dirait que ça doit être fermé ça.

[2015-10-13 11:46] artragis commented on #2905
@Eskimon

[2015-10-13 11:47] artragis commented on #2866
à tester sur la béta pour voir si ça a changé?

[2015-10-13 11:50] DevHugo commented on #2905
Je crois que j'ai vu encore des soucis en prod ... à confirmer !

[2015-10-13 11:50] firm1 commented on #3063
Peut-être je n'ai pas précisé mes contraintes, mais je pense qu' @artragis les connais.
1. j'ai les droits pour commiter sur le depot officiel (mais ce n'est pas ce qu'il faut faire) et du coup la méthode de @pquentin ne marche pas
2. j'ai un fork qui n'est pas du tout syncro avec l'upstream et que je ne veux pas écraser car il y'a des branches dessus qui m'interesse.

Comment je fais depuis githu

[2015-10-13 11:52] artragis commented on #2497
Nous pourrons noter que ce bug n'apparait plus https://beta.zestedesavoir.com/forums/sujets/membre/82/.

[2015-10-13 11:53] artragis commented on #2310
Toujours vrai?

[2015-10-13 11:57] GerardPaligot commented on #2497
Tu as un sujet avec une formule mathjax dans ta liste ?

[2015-10-13 11:58] firm1 commented on #2310
Alllways truuuuue

![screenshot_2015-10-13-13-55-14](https://cloud.githubusercontent.com/assets/6066015/10454082/3ef5b2b8-71b2-11e5-8d48-7761ecb4149d.png)

[2015-10-13 11:59] artragis commented on #3063
C'est ça que jen e comprends pas. Mon fork n'est pas non plus syncro avec
upstream : ma branche dev est totalement hors de date.

Maintenant la contrainte "1" est la clef du problème : comme tu as les
droits de commits, ils ne te propose pas automatiquement de passer sur ton
fork. Il faut donc qu'à un moment ou à un autre, tu fasses un

git fetch upstream
git checkout -b unebranche upstream/dev
gi

[2015-10-13 12:00] artragis commented on #2497
J'en crée un alorsz.

2015-10-13 13:57 GMT+02:00 Gérard Paligot notifications@github.com:

[2015-10-13 12:04] artragis commented on #2497
voilà

Le 13 octobre 2015 14:00, francois dambrine artragis@gmail.com a écrit :

[2015-10-13 12:07] GerardPaligot commented on #2497
Alors c'est bon !

[2015-10-13 12:07] #2497 closed, assigned to nobody

[2015-10-13 12:33] finkiki commented on #3072
Tout est déjà trop gros sur ZdS ! Ce serait moi, je diviserais tout en 2, niveau taille et police.

[2015-10-13 12:39] firm1 commented on #3063
Et comment on fait pour taper ces commandes git depuis github ?

Le mar. 13 oct. 2015 13:59, artragis notifications@github.com a écrit :

[2015-10-13 12:53] artragis commented on #3072
??

[2015-10-13 12:55] artragis commented on #3063
pas possible.

C'est là qu'est le problème en fait : comme tu as les droits de commit, y'a
pas automatiquement de création d'une nouvelle branche chez toi (quoi que
c'est peut être possible d'une manière ou d'une autre)

Le 13 octobre 2015 14:39, firm1 notifications@github.com a écrit :

[2015-10-13 12:57] firm1 commented on #3063
Donc on revient au problème de départ ... pour ce genre de situation la
meilleure chose que je peux faire c'est une issue.

Le mar. 13 oct. 2015 14:55, artragis notifications@github.com a écrit :

[2015-10-13 13:16] GerardPaligot commented on #3072
@finkiki heureusement que ça ne dépend pas que de toi alors :)...

[2015-10-13 13:39] firm1 commented on #3072
Moi je suis constamment en zoom 90% sur zds, mais j'avoue que j'ai de bons yeux

[2015-10-13 13:48] SpaceFox opened #3078 "Les auteurs de tutos ne sont pas historisés"
Les auteurs de tutos sont attaché au tuto dans son ensemble.

Donc, si un auteur A a écrit une version 1 d'un tuto (publiée), et qu'il ajoute un auteur B pour préparer une version 2, ce nouvel auteur est crédité sur la version 1 _y compris en sur la version publiée_.

Un auteur ne devrait être crédité que sur les versions à partir du moment où il a été ajouté au tuto.

Exemple avec [ce tuto](https

[2015-10-13 15:05] artragis commented on #3078
Bien reçu. Notons que grâce au modèle de la zep-12, le temps de correction de ce bug ne dépassera pas la demie heure et que le plus long risque d'être le temps d'écriture du TU.

[2015-10-13 15:21] Eskimon commented on #2957
:-° faudrait générer une 500 sur la beta pour voir... @firm1 il sait bien faire ca :)

[2015-10-13 15:25] firm1 commented on #2957
[facile](https://beta.zestedesavoir.com/contenus/reactions/ajouter/?cite=75912&pk=205)

[2015-10-13 15:25] Eskimon commented on #2905
Yep j'ai pas l'impression que c'est corrigé non plus d'après les PR

[2015-10-13 15:32] Eskimon commented on #2497
J'ai pas compris en quoi c'est corrigé ? (ou alors j'ai pas compris ou était le bug)

[2015-10-13 15:36] Eskimon commented on #2957
Ca semble bon alors...

Ca a été reporté en prod' un jour pour valider la correction ?

[2015-10-13 15:36] Eskimon commented on #3078
Et ça c'est beau ! (petit larme)

[2015-10-13 15:47] Eskimon commented on #2310
Moi je vois carrément pas la coche dedans... (One Plus Lollipop Chrome)

[2015-10-13 16:03] Eskimon commented on #2866
On parle bien du logo de l'article ? Si oui alors ca semble marcher puisque j'arrive à changer l'image de l'article sur la pierre de lait. (j'ai une erreur à la publication mais je pense que c'est du à la génération pdf)

[2015-10-13 16:03] #2866 closed, assigned to nobody

[2015-10-13 16:13] Situphen commented on #2957
@Eskimon Euh, là c'est le _template_ qui est affiché donc je ne crois pas que ce soit bon !

[2015-10-13 16:17] pierre-24 commented on #3078
Moi, j'ai quand même l'impression que c'est dans le _scope_ de la ZEP-08, non ? (parce que versionner les auteurs, c'est rajouter une ligne dans le manifest, toussa ... ?!?)

[2015-10-13 16:19] pierre-24 commented on #2957
Si jamais, oui, le bug de Firm1 est déjà corrigé ;) (c'est pour la prochaine RC)

[2015-10-13 16:55] #2161 closed, assigned to Eskimon

[2015-10-13 16:56] Eskimon commented on #2957
En fait c'est bon, j'ai eu une autre 500 pour autre chose qui était bien la bonne page :)

[2015-10-13 16:57] Eskimon commented on #3078
Nop, la zep-8 c'est plutôt "Comment githubiser nos repos" (accès externe, accès tiers etc...)

[2015-10-13 17:00] Situphen commented on #2957
Justement le ticket est à pour avoir la même erreur 500 partout ! Donc ce n'est pas réglé (sur la beta au moins).

[2015-10-13 17:03] Eskimon commented on #2957
hum... est-ce pertinent ? Si une "grosse erreur 500" apparait on ne peut pas afficher le site normalement (car Django pété), mais si c'est une "petite 500" alors c'est quand même "moins pire" d'avoir au moins tout ce qui va avec le site non ?

[2015-10-13 17:09] Eskimon commented on #3063
hop cadeau pour @Emeric54 qui nous rejoins :)

[2015-10-13 17:13] Situphen commented on #2957
C'est ce qu'on a actuellement ! Sauf que quand c'est Gunicorn qui pète, il affiche l'erreur 500 "dynamique" mais sans la passer à Django donc on se retrouve avec du texte de _template_ (comme l'image tout en haut du ticket)  !

[2015-10-13 17:20] Eskimon commented on #3056
Je prend j'ai trouvé !

[2015-10-13 17:20] GerardPaligot commented on #2497
Le bug était : Sur la liste des messages d'un utilisateur, si l'un des titres des sujets listés comportait une formule Math, les colonnes étaient toutes pétées. Ca n'est plus le cas (cf. lien de @artragis).

[2015-10-13 17:22] GerardPaligot commented on #3078
Versionner les auteurs ne prendrait que 30 minutes ? Ca semble quand même utopique (mais je peux me tromper).

[2015-10-13 17:26] Eskimon commented on #2957
He bien justement non, plus maintenant sur la beta. À la place on a un truc full page qui fait propre :)

[2015-10-13 17:27] Eskimon commented on #3057
PS : La "bonne" place sera dans la sidebar

[2015-10-13 17:28] artragis commented on #3078
Non pierre ! ne te firminise pas ! Il ne s'agit pas de "versionner" les
auteurs mais de "figer leur état" lors de la publication. Je rappelle que
nous avons un objet appelé "PublishedContent" qui "fige l'état des choses
lors de la publication", il suffit donc d'ajouter les auteurs à "l'état des
choses" et tout roulera.

2015-10-13 18:57 GMT+02:00 Eskimon notifications@github.com:

[2015-10-13 17:30] pierre-24 commented on #3063
... S'aurait été avec plaisir, mais je l'ai déjà réglé :p

[2015-10-13 17:31] pierre-24 commented on #3078
aaaah, j'avais pas compris ça comme ça :p

[2015-10-13 17:32] Situphen commented on #2957
Là c'est parce qu Gunicorn n'est pas pété. Ou sinon faut m'expliquer comment vous avez fait car là je vois pas comment c'est possible !

[2015-10-13 17:32] GerardPaligot commented on #3078
A mon avis, @SpaceFox ne parlait pas spécifiquement de la version publiée.

[2015-10-13 17:33] GerardPaligot commented on #3063
Oh l'autre ! Il fait le travail des nouveaux contributeurs ! :o

[2015-10-13 18:25] Eskimon commented on #2957
En publiant un tuto un peu gros je me prend automatiquement un timeout ;)

[2015-10-13 18:34] pierre-24 commented on #2957
On sait :)

[2015-10-13 18:37] pierre-24 opened #3080 "Désactiver la génération des PDFs"
Aujourd'hui, si le tutoriel à publier est trop gros, la publication peut rater parce que le PDF met trop de temps à être généré (générant un _timeout_). On a déjà une option pour désactiver la génération de PDFs (dans la config), mais il serait bien de rajouter une case à cocher à la génération, exprès pour gagner du temps sur des trops gros tutos (les PDFs pouvant être générés à postériori via `g

[2015-10-13 18:38] Eskimon commented on #2957
Apparemment pas tous ^^ Je parlais juste de ca pour justifier mes experiences des différents types d'erreur 500 ^^

[2015-10-13 18:42] Eskimon opened #3081 "Certains TU sont envahissants"
Certains TU sont du genre à prendre leurs aises... Par exemple celui testant les galleries ira joyeusement virer toutes mes galleries crée par les utilisateurs... (les dossiers des galleries restent mais pas les images)... C'est gênant... (heureusement que les TU sont pas lancés en prod' :-° )

[2015-10-13 18:44] pierre-24 commented on #3081
Aw, ça explique des choses. Pour régler ça, c'est facile, il suffit de rajouter [ce genre de ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/tests/tests_feeds.py#L27) :)

[2015-10-13 18:58] Eskimon commented on #3081
je test...

[2015-10-13 19:16] Eskimon commented on #3081
Bon je comprend pas pourquoi tout semble rentrer dans l'ordre...

[2015-10-13 19:16] Eskimon commented on #3081
Mais je garde ouvert car ce serait quand même plus propre de faire comme ca

[2015-10-13 19:44] SpaceFox commented on #3078
Oui et non. Afficher les vrais auteurs du moment sur la version publiée est le minimum, avoir les vrais auteurs partout est un bonus appréciable.

[2015-10-13 19:54] pierre-24 commented on #2809
Que logiquement, on évite un certain nombres de ce genre de chose, donc qu'on est normalement OK, mais sans déployer la ZEP-12 en prod', j'en mettrais pas ma main à couper.

[2015-10-13 19:54] Eskimon commented on #2568
Bon, des motivés pour ca ou pas ?

[2015-10-13 20:14] Eskimon commented on #2534
Voila qui est fait !

[2015-10-14 08:16] Eskimon commented on #3063
Ok

[2015-10-14 08:16] #3063 closed, assigned to nobody

[2015-10-14 08:16] Eskimon commented on #3065
Ok

[2015-10-14 08:16] #3065 closed, assigned to nobody

[2015-10-14 08:16] Eskimon commented on #3069
Ok

[2015-10-14 08:16] #3069 closed, assigned to nobody

[2015-10-14 08:16] Eskimon commented on #3067
Ok

[2015-10-14 08:16] #3067 closed, assigned to nobody

[2015-10-14 08:31] Eskimon commented on #3062
Ok !

[2015-10-14 08:31] #3062 closed, assigned to nobody

[2015-10-14 09:38] firm1 opened #3086 "[beta 15.9] Le sous-titre d'un article ne "semble" pas versionné"
Environnement : RC3

Scénario :
- Je crée un article avec un titre et une description (la description contient "beau gosse")
- Je demande la validation de mon article
- ce dernier se voit publié
- je vais dans la version brouillon de mon article
- je modifie la description
- **BIM** : la description brouillone apparait direct sur la page d'accueil.

Dans un monde idéal, ce qui est affiché devrait

[2015-10-14 09:40] Eskimon commented on #3086
Sais tu si en RC2 ca faisait ca aussi ?

[2015-10-14 09:42] firm1 commented on #3086
Non, je l'avais pas testé celui là en RC2, mais on avait déjà le même bug pour le titre en RC2

[2015-10-14 09:44] WinXaito opened #3087 "Augmenter la taille des fenêtres modals"
Via Thunderseb sur le forum:

![d63d94e0-d886-4f3f-a4e7-3b5b50c2c647](https://cloud.githubusercontent.com/assets/8223773/10480161/e49d7848-7268-11e5-844e-c05a22d04285.png)

[2015-10-14 09:45] firm1 opened #3088 "erreur 500 lors d'une edition malencontreuse de commentaire saison 3"
Version beta-RC3

Url incriminée : http://beta.zestedesavoir.com/contenus/reactions/ajouter/?cite=76865&pk=83

Pouf **erreur 500**

On ne devrait jamais avoir d'erreur 500 dans le meilleur des mondes

[2015-10-14 09:49] GerardPaligot commented on #3088
De l'information complémentaire ? Les pks sont valides ? Le message est masqué ? ...

[2015-10-14 09:53] firm1 commented on #3088
J'ai pris une url au pif valide et j'ai changé la pk. Je ne sais pas si la pk existe quelque part.

[2015-10-14 09:55] artragis commented on #3088
non en fait l'erreur a changé par rapport à avant (le bug "initial" est corrigé, mais deux corrections de bugs (citer un commentaire masquer) se sont fait de l'ombre.

l'erreur 500 arrive sur une pk qui n'existe pas en bdd, on devrait avoir une erreur 400 et non une 500. Je regarde ça ce midi.

[2015-10-14 09:57] artragis commented on #3086
C'est noté régression, mais, est-ce qu'en prod ça fait pareil?

[2015-10-14 09:57] artragis commented on #3086
note : c'est bien une régression. Minime mais quand même.

[2015-10-14 10:01] Eskimon commented on #3086
En prod' tout marche correctement.

Je suppose que le fix sera similaire à celui du titre (ce ticket : #3028 )

[2015-10-14 10:02] artragis commented on #3086
Ca dépendra, mais possible.

[2015-10-14 10:07] firm1 commented on #3029
Comme je le craignais, ainsi que @GerardPaligot dans la PR de correction, cette issue n'est pas corrigée en RC3.

Je la réouvre donc.

La preuve en screen (on me propose encore de suivre mon propre topic) :

![follow-down](https://cloud.githubusercontent.com/assets/6066015/10480704/f561bc68-726b-11e5-83a6-5bf2497dbb4d.PNG)

[2015-10-14 10:19] firm1 opened #3090 "[beta 15.9] la date de dernière mise à jour d'un contenu publié ne représente pas la réalité"
Version beta-RC3

J'ai un tutoriel déjà publié. Je vais dans la version brouillon, je le modifie. Sans demander de validation de mon contenu, la date de dernière mise à jour visible sur le tutoriel est la date de dernière mise à jour de la version brouillon.

Je suis persuadé d'avoir déjà noté ce bug, mais je ne le retrouve pas.

En attendant c'est une regression par rapport à la prod. Et ce n'est

[2015-10-14 10:23] artragis commented on #3090
tu l'avais noté sur la migration, et là ça a été corrigé. Je regarde ça ce midi.

[2015-10-14 10:56] pierre-24 commented on #3029
M'enfin, [que fait cette ligne de code, alors](https://github.com/zestedesavoir/zds-site/pull/3033/files#r40820893) ? :o

[2015-10-14 10:57] pierre-24 commented on #3029
EDIT : non, [celle là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/forums.py#L149) ?

[2015-10-14 10:58] pierre-24 commented on #3090
Voir MP avec @DevHugo , @artragis  :)

(il FAUT qu'on rajoute une info de temps à `PublishedContent` et qu'on l'utilise, c'est la seule manière de s'en sortir)

[2015-10-14 11:22] artragis commented on #3090
OK je regarde ça.

Le 14 octobre 2015 12:58, Pierre Beaujean notifications@github.com a
écrit :

[2015-10-14 11:27] GerardPaligot commented on #3029
@pierre-24 Tu as vraiment testé quand tu as fais la QA ?

[2015-10-14 12:10] Eskimon opened #3092 "Gallery : Lors d'un update, l'ancienne image et sa miniature ne sont pas supprimées du disque"
Lorsque l'on met à jour une image dans sa galerie, l'ancienne image n'est pas supprimée du disque, ce qui est mauvais (je suppose, quoique comme ca au moins on perd pas les images existantes pouvant déjà être en ligne sur le site...). À mon avis la bonne pratique exigerait de les supprimer...

Tu en penses quoi @SpaceFox ?

[2015-10-14 12:16] firm1 commented on #3092
L'idéal serait de versionner les images (zep-je-ne-sais-plus-combien).

Actuellement si tu supprime l'image en faisant une mise à jour, tu supprime potentiellement une image d'un tutoriel publié.

[2015-10-14 12:17] Eskimon commented on #3092
En fait justement non pour le moment, l'image sera toujours sur le disque ^^ (mais d'où ma question "est-ce bien normal")

[2015-10-14 12:20] firm1 commented on #3092
tant qu'on ne versionne pas les images, ça me parait normal.

[2015-10-14 12:22] SpaceFox commented on #3092
On a pas trop le choix tant que les images ne sont pas versionnées en fait.

[2015-10-14 12:37] firm1 opened #3093 "[beta 15.9] Certains messages d'erreurs sont en anglais"
Un bug pas très grave au final, mais un bug quand même.

Lorsqu'on essaye d'importer un contenu dont le titre est trop long on a ce message d'erreur "**Title must be a string of less than 80 chars**".

L'avoir en Français serait idéal.

![english-town](https://cloud.githubusercontent.com/assets/6066015/10483616/a46755c4-7280-11e5-80c9-c5ffb8872b1e.PNG)

[2015-10-14 12:40] firm1 commented on #3093
Je suis tombé aussi sur un "**manifest is not well formated**" sur la même page.

[2015-10-14 12:47] firm1 opened #3094 "[beta 15.9] Erreur 500 lors de l'import de l'archive d'un article S02E02"
Scénario :
- Je télécharge l'archive d'un article existant
- J'ouvre le manifest.json et je modifie le titre d'un `extract` par "...............".
- Je zippe et je tente de l'importer
- pouff **erreur 500**

Les erreurs 500 ne sont jamais les bienvenues

[2015-10-14 12:57] artragis commented on #3094
tu peux m'envoyer le zip par email stp?

[2015-10-14 13:00] firm1 commented on #3094
Il s'agit du zip de cet [article](http://beta.zestedesavoir.com/articles/180/sortie-de-python-3-5/), dont le manifest a été modifié ainsi.

[code]

[2015-10-14 14:29] artragis commented on #3093
On sait, je propose qu'on le mette en évol.

[2015-10-14 14:30] artragis commented on #3088
/!\ ce bug n'est pas propre à la béta, il est présent en prod.

[2015-10-14 14:35] firm1 commented on #3088
Avec quelle url tu arrive à le reproduire en prod ?

[2015-10-14 14:45] GerardPaligot commented on #3093
Je ne suis pas des masses pour le mettre évol. Afficher de l'anglais pour avertir un utilisateur (potentiellement que francophone) de sa faute, c'est pas cool.

[2015-10-14 14:46] GerardPaligot commented on #3088
Je n'arrive pas à reproduire en prod non plus.

[2015-10-14 14:55] artragis commented on #3093
Alors @Eskimon peut le proposer aux jeunes fruits zestueux.

[2015-10-14 15:04] DevHugo commented on #3090
Je suis overbooker en ce moment. J'aimerai vous aider ...
OK je regarde ça.

Le 14 octobre 2015 12:58, Pierre Beaujean notifications@github.com a
écrit :

—
Reply to this email directly or view it on GitHub
https://github.com/zestedesavoir/zds-site/issues/3090#issuecomment-148022020
.

[2015-10-14 15:05] artragis commented on #3088
https://zestedesavoir.com/articles/message/nouveau/?article=321&cite=7776555

[2015-10-14 15:08] GerardPaligot commented on #3088
Ok, `pk` était `article`. Je retag en conséquence.

[2015-10-14 15:42] firm1 opened #3095 "[beta 15.9] erreur 500 lors de l'ajout d'une image a mon tutoriel"
Scénario :
- je crée un tutoriel avec un titre et une catégorie
- je vais sur "editer" pour mettre une image a mon tutoriel
- je rajoute l'image ci-dessous (qui ne fait que 176Ko)
- pouff **erreur 500**

Au vu de la fonctionnalité cassé, je poserait bien un tag bloquant par ici. A vous de voir

![erreor500](https://cloud.githubusercontent.com/assets/6066015/10488859/f5c83d9c-729a-11e5-9d0d-0c0e0b0

[2015-10-14 16:17] artragis commented on #3095
c'est bloquant et la faute est un peu bête :

[code]

manque un path quelquepart...

[2015-10-14 16:27] WinXaito opened #3096 "Erreur 500 sur l'API"
Bonjour,

en allant sur l'URL https://zestedesavoir.com/api/membres/1237/ avec mon navigateur (Firefox) **aucun problème**.

Par contre quand j'essaye avec la librairie URLConnection de java et bien j'obtient une erreur 500.

Je le post ici plutôt que dans le forum java car sur des sites normaux tel que google aucun problème et si je prend cette URL qui provient de l'API de GitHub j'ai également a

[2015-10-14 17:17] pierre-24 commented on #3029
Vraiment vraiment. Peut être que j'ai pas fait attention, mais je suis certain d'être tombé dans un cas ou c'était ok.

[2015-10-14 22:04] Eskimon commented on #3093
Ca marche, je me garde ca sous le coude :) ( @Emeric54 si tu nous lit ;) )

[2015-10-15 09:56] Eskimon commented on #3095
Résolu

[2015-10-15 09:56] #3095 closed, assigned to nobody

[2015-10-15 10:03] firm1 commented on #3066
Je n'avais pas remarqué que cette issue avait été fermée. Je ne l'avais pas tagguée en bug parce que c'était pas un bug donc pas prioritaire, mais ça me semble utile tout de même.

L'incohérence touche aussi le manifest, dans le sens ou quelqu'un d'habitué à l'IHM doit faire un petit mapping dans sa tete pour faire le lien entre les choses qu'il voir sur l'ihm et ce qu'il voit dans le manifest.

[2015-10-15 10:28] Eskimon commented on #3088
Ok

[2015-10-15 10:28] #3088 closed, assigned to nobody

[2015-10-15 17:31] firm1 opened #3101 "[beta 15.9] recherche : le contenu indexé n'est pas réindexé lors d'une mise à jour du contenu"
Voici le contexte : j'ai [un article](https://beta.zestedesavoir.com/articles/837/binouse-fraiche/) qui a été publié pour la première fois le 30 septembre. Il a subit des mises à jour et a été republié plus tard avec un autre sous-titre.

Le problème ici est que malgré que ça fait longtemps qu'a eu lieu la 2e  publication, l'information n'a toujours pas été réindexée dans la recherche. (cf [ce lie

[2015-10-15 17:41] pierre-24 commented on #3101
Ben ...

Moi j'ai "ça fait du bien" comme sous titre :

![screenshot from 2015-10-15 19 37 37](https://cloud.githubusercontent.com/assets/7889675/10522203/43abc950-7374-11e5-9514-7d58e1048f79.png)

Or, c'est également ton sous-titre, si je suis bien :

![screenshot from 2015-10-15 19 38 47](https://cloud.githubusercontent.com/assets/7889675/10522240/79571dac-7374-11e5-931b-070e17904684.png)

Alors

[2015-10-15 17:46] pierre-24 commented on #3066
Il doit le faire aussi pour "container" qui n'est employé nulle part. L'argument est valide, mais une fois encore, est-ce vraiment là le problème ?

(rappellons [que certaines personnes n'aiment pas nos manifests](https://github.com/zestedesavoir/zds-site/issues/3041#issuecomment-144285386), de toute façon)

[2015-10-15 17:47] firm1 commented on #3101
Ah en effet c'est le meme bug que celui en cours de correction. Je ferme donc :)

[2015-10-15 17:47] #3101 closed, assigned to nobody

[2015-10-16 17:11] ArnaudCalmettes opened #3102 "Empêcher la creation consecutive de threads sur le forum"
Suite à une vague de flood cet après midi, je pense que ça serait pas mal qu'on ait un garde-fou pour empêcher la création consécutive de N threads sur le forum en imposant un délai (un quart d'heure ?) comme pour les posts.

Cela éviterait de pourrir la home le temps que les modérateurs réagissent. En l'occurrence la home était ici remplie de spam en 5 minutes.

[2015-10-16 17:41] GerardPaligot commented on #3102
J'ai pas pu suivre le spam. C'était un bot ou un utilisateur ?

[2015-10-16 18:16] ArnaudCalmettes commented on #3102
Je saurais pas trop dire mais à vue de pif je dirais que c'était un type.

[2015-10-17 10:31] gagath opened #3103 "Résolution d'alerte : message de Clem mal formaté"
Je viens de recevoir un message de résolution d'alerte de Clem, cependant celui-ci a un problème de formatage : il manque au moins un saut à la ligne dans le début du message (ou alors il y a une majuscule en trop au niveau du "vous").

Il pourrait également être intéressant de mettre un lien sur le pseudo de la personne dont on a signalé le message, à voir selon les besoins.

![bug_clem](https://

[2015-10-17 18:15] artragis commented on #3029
ce qui me soule c'est que c'est totalement impossible au vue de ce qu'on fait qu'il ne soit pas "suivi".

En fait il est "partiellement suivi". Si un autre utilisateur poste sur le topic, vous aurez bien une notif. Par contre dans le menu latéral, on l'a pas et ça je comprends pas pourquoi car là ça dépend pas de nous ce bout de code.

[2015-10-17 19:37] GerardPaligot commented on #3029
J'ai regardé un peu le code :
1. Je ne comprends pas bien cette [condition](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_contents.py#L1330).
2. La classe `ManageBetaContent` est grosse, elle aurait au moins mérité d'être découpé en méthode.
3. Du coup, tu es passé à côté d'une répétition de code [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv

[2015-10-17 19:43] Situphen commented on #3029
[Voilà la gestion au niveau du _template_](https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/topic/index.html#L186). Vu le code de `Topic.is_followed()`, ça m'a l'air correct !

[2015-10-17 19:46] artragis commented on #3029
la duplication de code est sûrement en cause. Faudra voir à détacher
tout ça.

Le 17/10/2015 21:43, Situphen a écrit :

[2015-10-17 21:47] Situphen commented on #2310
Je n'arrive pas à trouver pourquoi ça bug sur Chrome Mobile et les solutions sur Internet ne correspondent pas au code HTML généré par notre dépendance donc, à moins que @sandhose ait le temps de chercher et trouver une solution, je vais supprimer la personnalisation des boutons _checkbox_ et _radio_.

[2015-10-18 17:00] Emeric54 opened #3105 "Aucun résultats visibles lors d'une recherche"
Lors d'une recherche, par exemple « c++  ou « c », aucun résulats visibles par un utilisateur normal ne sont affichés sur les premières pages.

![capture](https://github-cloud.s3.amazonaws.com/assets/11984858/10565158/2710dd32-75ca-11e5-8bc7-b22b977e3d7f.PNG)

Une solution provisoire, proposée par Spacefox, pourrait être d'indiquer que les résulats sont invisibles.

[2015-10-18 17:03] Situphen commented on #3105
Déjà reporté par #3050 mais merci quand même ! :)

[2015-10-18 17:03] #3105 closed, assigned to nobody

[2015-10-18 17:21] Situphen commented on #3103
Est-ce réellement nécessaire ? Franchement, je ne pense pas. Au pire, il y a le lien vers le message du sujet.

[2015-10-19 07:41] SpaceFox opened #3107 "Masquer les sujets fermés sur la page d'accueil"
Actuellement les sujets de forum fermés apparaissent quand même sur la page d'accueil. Il serait intéressant de faire que ce ne soit pas le cas.

[2015-10-19 18:07] GerardPaligot commented on #3056
Merci à @Eskimon !

[2015-10-19 18:13] #3056 closed, assigned to Eskimon

[2015-10-19 19:23] #3070 closed, assigned to nobody

[2015-10-19 19:24] pierre-24 commented on #3094
Testé et approuvé :)

[2015-10-19 19:24] #3094 closed, assigned to nobody

[2015-10-19 19:58] pierre-24 commented on #2825
Done :)

[2015-10-19 19:58] #2825 closed, assigned to Eskimon

[2015-10-19 20:29] Eskimon commented on #3107
Grosso modo il faudra rajouter un exclude sur is_locked ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/managers.py#L62

Je marque que je prend pour laisser à un débutant.

[2015-10-19 20:51] Eskimon commented on #2991
hello @WinXaito , je te la garde assigner ou je la relache pour qqun d'autre ?

[2015-10-19 20:54] Eskimon commented on #2950
Faudrait faire des recherches dans les tickets pour ces histoires de pseudo car il me semble qu'on en a déjà parlé il y a très longtemps.

Sinon pour les caractères invisibles ça me semble compliqué d'y faire quoi que ce soit...

Du coup je ferme, d’expérience je serais prêt à parier que ce ticket ne verra jamais de correction.

[2015-10-19 20:54] #2950 closed, assigned to nobody

[2015-10-19 20:55] Eskimon commented on #2934
Yep, go ZEP-24, je ferme ici pour éviter le doublon.

[2015-10-19 20:55] #2934 closed, assigned to nobody

[2015-10-19 20:57] Eskimon commented on #2929
Pourquoi ? Un contenu en Une n'est pas forcément de meilleure qualité qu'un autre, il sert juste à mettre en évidence une création pendant un laps de temps.

Grosso modo je pense que ce ticket ne sera jamais pris en charge au vu des autres développement à faire avant, je le ferme donc, à rouvrir au besoin.

[2015-10-19 20:57] #2929 closed, assigned to nobody

[2015-10-19 21:00] Eskimon commented on #2904
cette version date, ce ticket a encore raison d'être ?

[2015-10-19 21:00] pierre-24 commented on #3103
Voilà qui est réglé.

[2015-10-19 21:00] #3103 closed, assigned to nobody

[2015-10-19 21:01] Eskimon commented on #2892
J'ai mis à jour les migrations via une PR, normalement tout est OK.

[2015-10-19 21:01] #2892 closed, assigned to nobody

[2015-10-19 21:02] Eskimon commented on #2898
[D'après wikipédia](https://fr.wikipedia.org/wiki/Opera#Versions_pr.C3.A9-Chromium_.281996-2012.29) Opéra 8.0 date de 2005. Je vais donc me contenter de "LoL" et fermer ce ticket.

[2015-10-19 21:02] #2898 closed, assigned to nobody

[2015-10-19 21:09] Eskimon commented on #2779
C'est confirmé ?

[2015-10-19 21:16] Eskimon commented on #2568
Je ferme ce ticket, je pense que parti comme on est personne ne s'occupera de ca.

[2015-10-19 21:16] #2568 closed, assigned to nobody

[2015-10-19 21:31] #2534 closed, assigned to nobody

[2015-10-19 21:31] #2597 closed, assigned to nobody

[2015-10-20 06:16] DevHugo commented on #2929
Ok, je comprend vos arguments.

[2015-10-20 10:03] Situphen commented on #3102
On vient de se refaire spammer aujourd'hui ! Heureusement, le Staff a réagit très vite (- de 3 minutes) :D

[2015-10-20 10:06] SpaceFox commented on #3102
Du coup je tagge en bloquant. Ça mérite un hotfix.

[2015-10-20 10:08] SpaceFox commented on #3102
Hmmm non, ce n'est pas le même problème : apparemment aujourd'hui c'est pas des nouveaux topics mais des messages dans divers forums.

[2015-10-20 10:10] SpaceFox commented on #3102
On pourrait imaginer un système pour empêcher ça (vu qu'apparemment c'était manuel) : si tu postes 2 messages (identiques ?) à la suite en moins de X minutes, tu deviens suspect pendant Y temps et tu es limité à un message toutes les Z minutes. Et ton nouveau message est automatiquement accompagné d'une alerte.

[2015-10-20 10:17] Nodraak commented on #3102
Je pense que si deux messages consecutifs sont identiques on peut considerer ca comme du spam et bloquer simplement pendant X minutes. Un utilisateur legitime ne postera jamais deux fois le meme message.

[2015-10-20 10:20] Situphen commented on #3102
+1 Ça ne me semble pas trop compliqué à faire en plus !

[2015-10-20 10:45] ArnaudCalmettes commented on #3102
Je m'interroge sur le "identiques". En première itération ça me semble tout
à fait acceptable, mais il faudra voir si l'égalité stricte est _assez
efficace_ dans la durée (et ne pas trouver une correspondance plus floue +
pas trop coûteuse à calculer).

Dans tous les cas de mon point de vue ça doit venir "en sus" du garde-fou
sur la création successive de threads.

Arnaud

2015-10-20 12:20 GMT+02:

[2015-10-20 10:45] SpaceFox commented on #3102
Bien entendu.
Le 20 oct. 2015 12:45, "Arnaud Calmettes" notifications@github.com a
écrit :

[2015-10-20 11:21] artragis commented on #3093
tu as pu comprendre @Emeric54 ?

[2015-10-20 15:19] firm1 opened #3115 "[beta 15.9] La dernière réponse dans les forums renvoit sur la mauvaise page"
Je suis un membre **nouvellement inscrit**, je vais sur un forum et je clique sur le lien "Dernière réponse" d'un topic que je n'ai jamais consulté, le lien me renvoit sur la même page sur laquelle je suis déjà (c'est à dire l'accueil du forum).

PS : le bug ne se produit pas avec un ancien compte
PS 2 : le bug n'est pas reproductible en prod

**Screen**

![corrompues](https://cloud.githubusercont

[2015-10-20 20:25] WinXaito commented on #2991
Ohh autant pour moi j'avais complétement zapper ça, d'ailleurs je crois que j'en ai encore une autre attribué ?

par contre ces temps j'ai vraiment beaucoup de boulot, donc quelqu'un d'autre peut prendre et si quand j'aurai le temps ce n'est toujours pas fait je m'en occuperai.

Vraiment désolé

[2015-10-20 20:43] Situphen commented on #3087
Et aussi faire en sorte que s'il y a trop de texte, une _scrollbar_ s'affiche !

[2015-10-21 06:15] pquentin commented on #3087
(Je pense que c'est ce qu'il entendait par "overflow": "overflow: scroll".)

[2015-10-21 19:40] sandhose commented on #2310
J'ai voulu prendre, mais c'est finalement plus lourd à faire que prévu. Il faudrait passer par des pseudo-éléments type `:after` sur le label pour recréer le visuel du checkbox, et utiliser le pseudo-sélecteur `:checked` pour gérer l'état, tout en "cachant" le checkbox original. Je vais essayer de le faire, mais peut-être pas tout de suite, pour le coup :v

[2015-10-21 21:19] Berdes commented on #2905
Je confirme : j'ai toujours le bug. En tout cas, je reçois un mail quand je réponds à un MP (et je ne suis pas l'OP). Je vais demander à l'OP s'il est sensé recevoir des mails de notification et s'il en reçoit réellement.

[2015-10-21 21:24] DevHugo commented on #2905
Le nom est bon dans le mail ?
Le 21 oct. 2015 11:19 PM, "Berdes" notifications@github.com a écrit :

[2015-10-21 21:28] Berdes commented on #2905
Dans le mail que je reçois (et comme dans le bug original), c'est le nom de l'OP qui apparaît comme expéditeur de ma réponse.

[2015-10-22 08:14] Berdes commented on #2905
L'OP viens de me dire qu'il n'est pas sensé recevoir de notification et qu'il n'en reçoit pas. Donc ça colle a priori au bug de base.

[2015-10-22 22:02] s-afchar commented on #1143
Au dernières nouvelles pour la partie "smileys clem" on avait ça : https://zestedesavoir.com/forums/sujet/538/clem-sur-le-devant-de-la-scene/?page=13#p48802 avec une bonne idée de MaxRoyo.

De mon côté je n'ai vraiment pas eu le temps de finir les Clemojis (adapter l'idée de Max et créer les smileys manquants) car j'ai eu beaucoup...beaucoup...beaucoup de problèmes d'ordi depuis Juin et pas assez

[2015-10-23 10:48] WinXaito commented on #2950
M'enfin y a rien à faire pour le style ? Un display none .. on verrait plus rien mais c'est toujours mieux que des trucs superposé .. Je trouve moyen.. m'enfin.

[2015-10-23 10:58] pquentin commented on #2950
Oui les pseudos Unicode c'est à prendre au sérieux, cf. https://labs.spotify.com/2013/06/18/creative-usernames/

[2015-10-23 11:13] GerardPaligot commented on #2950
@WinXaito Quand j'entends quelqu'un qui dit ou sous-entend que "il suffit de faire ça", c'est très rarement le cas.

Sinon, je me range du côte du caribou. Vu que nous acceptons tous les caractères dans les pseudos depuis la création du site, ça me semble difficile de mettre en place une solution qui reste compatible avec absolument tous les pseudos sur absolument tous les navigateurs (ordinateurs

[2015-10-23 15:16] WinXaito commented on #2950
Oui bien entendu, je veux pas faire le type qui dise "Faite ça comme ça bande d’incapable c'est tout facile"..

Bien loin de moi cette idée, je dis simplement que ça ne fait pas très pro ceci .. donc avant de fermer et dire on laisse ça comme ça, je trouvais que ça méritait réflexion. Après bien entendu il faut que quelqu'un le fasse.

![](https://cloud.githubusercontent.com/assets/8223773/8990977

[2015-10-25 18:24] Vayel commented on #3076
Les validateurs se sont-ils plaints à propos de cela ? @SpaceFox @ArnaudCalmettes @firm1

[2015-10-25 18:24] artragis commented on #3076
Oui, je m'en suis plaint.

Le 25/10/2015 19:24, Vincent a écrit :

[2015-10-25 19:48] artragis commented on #3093
@Emeric54 @Eskimon ?

[2015-10-25 20:09] pierre-24 commented on #3093
Sinon, on reprend à notre compte :p

(ou la ZEP-12 sortira pour noël 2017, à ce train)

[2015-10-25 20:59] pierre-24 commented on #3090
Voilà :)

[2015-10-25 20:59] #3090 closed, assigned to nobody

[2015-10-25 20:59] pierre-24 commented on #3086
Voilà aussi :)

[2015-10-25 21:56] Emeric54 commented on #3093
Désolé, je n'ai pas eu le temps de regarder. Donc prenez la si vous souhaitez, ce sera plus rapide.

[2015-10-26 21:29] pierre-24 commented on #3093
Voilà, c'est bon.

[2015-10-26 21:41] SpaceFox commented on #3029
Corrigé par #3111

[2015-10-26 21:41] #3029 closed, assigned to nobody

[2015-10-27 07:29] pierre-24 commented on #3115
Et voilà :)

[2015-10-27 07:29] #3115 closed, assigned to nobody

[2015-10-27 10:08] firm1 commented on #3086
Suite [au déploiement de la RC-4](https://zestedesavoir.com/forums/sujet/4149/la-beta-cest-plus-fort-que-toi/?page=4#p79369) je constate que ce bug n'est pas corrigé.

Il suffit de voir la différence de sous titre sur la home et dans [la version publique de ce tutoriel](http://beta.zestedesavoir.com/articles/837/binouse-fraiche/)

Dans le doute je réouvre donc

[2015-10-27 10:12] firm1 commented on #3093
Je constate aussi ici que le ticket n'est pas entièrement corrigé. Il me reste encore le message en anglais qui dit :

Comme précisé plus haut.

[2015-10-27 10:15] SpaceFox commented on #3086
Attention, il n'a jamais été prévu de corriger les données cassées par les précédents tests !

@firm1 peux-tu vérifier que le bug est _vraiment_ présent et que ce n'est pas un artefact d'un ancien test ?

[2015-10-27 10:15] SpaceFox commented on #3093
Dans tous les cas ce problème n'est pas bloquant.

[2015-10-27 10:22] firm1 commented on #3086
Testé sur un [nouveau tuto](http://beta.zestedesavoir.com/articles/893/title-of-my-life/) et le bug est vraiment présent Oo

[2015-10-27 10:29] firm1 opened #3122 "[beta 15.9] erreur 500 lors de l'import d'une article s02e03"
Scénario :
- Je télécharge l'archive d'un article
- J'ouvre le manifest.json
- Pour un extrait je modifie le contenu de slug et de title en remplaceant leurs valeurs par la chaine `...........................................................................................................................................................................................................................

[2015-10-27 10:30] artragis commented on #3086
quand as-tu modifié le sous-titre? après la release?

2015-10-27 11:08 GMT+01:00 firm1 notifications@github.com:

[2015-10-27 10:31] artragis commented on #3086
c'est pas possible ça. J'y comprends plus rien. Pourtant tout a été vérifié
20 fois.

@pierre-24?

Le 27 octobre 2015 11:30, francois dambrine artragis@gmail.com a écrit :

[2015-10-27 10:32] firm1 commented on #3086
après la release, j'ai crée l'article après le message de @SpaceFox ci-dessus

[2015-10-27 10:33] artragis commented on #3086
Oui j'ai vu, je répondais au message tandis que vous étiez en train de
discuter.

2015-10-27 11:32 GMT+01:00 firm1 notifications@github.com:

[2015-10-27 10:35] SpaceFox commented on #3122
On l'avait pas corrigé celui-ci ?!

[2015-10-27 10:36] artragis commented on #3086
Bon, je sais comment gérer le bug, c'est la bonne nouvelle : il s'agit
simplement d'un template pas à jour.

Par contre, ce template, ç afait 3 fois que je le modifie, ce qui signifie
qu'il y a eu des merges bien foireux quelque part.

Le 27 octobre 2015 11:33, francois dambrine artragis@gmail.com a écrit :

[2015-10-27 10:37] artragis commented on #3086
en fait ma PR n'a tout simplement pas été mergée !

Le 27 octobre 2015 11:36, francois dambrine artragis@gmail.com a écrit :

[2015-10-27 10:37] SpaceFox commented on #3086
J'ai comme l'impression qu'il faut arrêter de faire des rebase s'ils ne
passent pas tout seuls…

Le 27 octobre 2015 11:36, artragis notifications@github.com a écrit :

[2015-10-27 10:38] firm1 commented on #3122
C'est une arlésienne aussi.

J'ai envie de dire qu'un TU nous eviterait pas mal de saisons sur ce genre de bug. :-°

[2015-10-27 10:38] SpaceFox commented on #3086
Si c'est la #3091, on a pourtant bien :

[2015-10-27 10:40] SpaceFox commented on #3122
Tant que j'y pense : tu peux gagner du temps en ne mettant plus les phrases comme « On ne devrait jamais avoir d'erreur 500 dans la vie », tout le monde le sait.

[2015-10-27 10:51] artragis commented on #3086
pr ici #3123

[2015-10-27 10:52] artragis commented on #3122
est-ce bloquant?

[2015-10-27 10:53] artragis commented on #3122
(ps : le TU existe)

[2015-10-27 10:53] GerardPaligot commented on #3122
Le cas est super limite. J'estime pas ça bloquant.

Par contre, pourquoi le TU n'échoue pas ?

[2015-10-27 10:54] SpaceFox commented on #3122
Ce n'est pas bloquant du tout, et si le TU existe il devrait planter sur ce cas.

[2015-10-27 10:54] artragis commented on #3122
parce qu'il est unitaire : il vérifie bien qu'on envoie une exception dans
ce genre de cas...

2015-10-27 11:53 GMT+01:00 Gérard Paligot notifications@github.com:

[2015-10-27 10:57] GerardPaligot commented on #3093
Allez, je me met dessus. Je fais une passe sur toutes les strings du module. PR soon.

[2015-10-27 10:58] GerardPaligot commented on #3122
Il vérifie qu'une erreur 500 est lancée ?

[2015-10-27 11:06] artragis commented on #3122
Non, il vérifie que la fonction qui traite le manifeste envoie une exception.

[2015-10-27 11:16] firm1 opened #3124 "[beta 15.9] le nouveau contenu publié ne semble pas indexé par la recherche"
J'essaye tant bien que mal de retrouver un article qui a été publié il y'a 10 jours sur la beta.

Dans la recherche (en spécifiant que je ne cherche qu'un article) je tape donc les mots clés "[market design](http://beta.zestedesavoir.com/rechercher/?q=market+design&models=article)" , "[femme](http://beta.zestedesavoir.com/rechercher/?q=femme&models=article)", "[voisin](http://beta.zestedesavoir.co

[2015-10-27 11:55] artragis commented on #3124
y a-t-il un cron sur la béta @Eskimon @sandhose ?

[2015-10-27 12:09] firm1 opened #3125 "[beta 15.9] avec zero reaction sur un article le lien ne dirige pas au bon endroit"
Lorsqu'un article n'a aucune réaction, le lien sur la home page devrait rediriger vers la fin de l'article (début des commentaires en fait). Ce n'est pas le cas.

Par exemple dans le cas d'un article de la beta, le lien sur le nombre de réactions la home : `https://beta.zestedesavoir.com/articles/207/devez-vous-quitter-votre-femme-pour-celle-du-voisin/#reactions` au lieu d'être `https://beta.zeste

[2015-10-27 12:19] GerardPaligot commented on #3093
PR done #3126!

[2015-10-27 12:57] sandhose commented on #3124
Oups.

![image](https://cloud.githubusercontent.com/assets/1549952/10758308/fa21db1c-7cb0-11e5-9d83-2e3be2d626c6.png)

J'avais pas testé le cron en question à l'installation, et j'avais bêtement copié-collé celui que j'avais sur mon serveur (qui avait pas les même chemin d'installation). Normalement, c'est réglé, plus qu'a attendre que ça réindexe

[2015-10-27 13:02] GerardPaligot commented on #3122
@firm1 Impossible de reproduire ton bug en local en suivant ta procédure puis en la modifiant un peu pour tenter d'y parvenir.

[2015-10-27 14:23] firm1 commented on #3122
Hmm, je viens de le reproduire.

Voici mon manifest

[code]

[2015-10-27 14:25] firm1 commented on #3124
super ça fonctionne mieux

[2015-10-27 14:25] #3124 closed, assigned to nobody

[2015-10-27 14:50] artragis commented on #3122
Etant donné qu'un fichier ne peut pas avoir autant de caractères dans son nom (c'est ça l'erreur), ce bug n'en est pas un. Il faut avoir l'esprit tordu pour aller volontairement faire ce faux manifest.

Il faut juste capter une exception de type IOError quelque part dans le code. Mais là c'est vraiment pas bloquant.

[2015-10-27 14:51] SpaceFox commented on #3122
Je rajoute qu'obtenir un tel manifeste tient de la volonté de faire n'importe quoi, et que donc la solution qui consiste à envoyer chier l'utilisateur avec un message de type « manifeste invalide » est parfaitement valide.

[2015-10-27 15:13] firm1 commented on #3122
Tout à fait. Un message d'erreur clair, mais pas d'erreur 500

[2015-10-27 18:26] pierre-24 commented on #3086
Pouf on referme.

[2015-10-27 18:26] #3086 closed, assigned to nobody

[2015-10-27 18:26] firm1 opened #3128 "Pas de bouton pour supprimer une section dont le contenu est vide"
Scénario :
- Je cree un tutoriel
- J'ajoute une section (je rempli juste son titre, pas le contenu
- J'ajoute une deuxième section (juste le titre aussi)
- J'ajoute pareillement une troisième section

Lorsque je reviens sur la page de mon tutoriel, pour chaque bouton, j'ai un bouton pour déplacer et éditer la section mais je n'ai pas le bouton pour le supprimer.

[2015-10-27 18:30] pierre-24 commented on #3093
Et re-hop :-)

[2015-10-27 18:30] #3093 closed, assigned to GerardPaligot

[2015-10-27 18:52] pierre-24 commented on #3125
Voilà qui est fait, merci @GerardPaligot  :)

[2015-10-27 18:52] #3125 closed, assigned to nobody

[2015-10-27 19:01] pierre-24 commented on #3128
Si par "section", c'est bien les anciens extraits que tu entends, _I'm unable to reproduce the bug_ :

![screenshot from 2015-10-27 19 58 19](https://cloud.githubusercontent.com/assets/7889675/10769218/291ada8e-7ce5-11e5-872c-8dcf8f2dfe53.png)

Est ce que tu sais me rajouter sur le tuto sur la bêta ou tu fais ça ?

[2015-10-27 19:07] firm1 commented on #3128
Je fais ça depuis un mobile. Peut-être que les boutons sont visibles en
effet sur PC.

Le mar. 27 oct. 2015 20:01, Pierre Beaujean notifications@github.com a
écrit :

[2015-10-27 19:46] pierre-24 commented on #3128
_Edit : j'ai rien dit, mauvaise issue._

[2015-10-27 19:50] pierre-24 commented on #3122
Ah. En gros, c'est python qui nous envois balader

[code]

Chouette.

[2015-10-27 19:51] pierre-24 commented on #3128
![screenshot from 2015-10-27 20 49 03](https://cloud.githubusercontent.com/assets/7889675/10770583/5584e31a-7cec-11e5-8e5f-e34de379b98a.png)

En fait, c'est tordu, c'est du front : le bouton est caché derrière le message. Aucune idée de comment gérer ça, c'est du front.

[2015-10-27 20:38] #3013 closed, assigned to nobody

[2015-10-28 08:55] DevHugo commented on #3013
Pourquoi tu me fait peur comme ça @sandhose  ? ^^

[2015-10-28 08:59] artragis commented on #3013
ah ah

2015-10-28 9:55 GMT+01:00 Hugo Courtecuisse notifications@github.com:

[2015-10-28 09:03] artragis commented on #3128
le bug existe en prod on dirait en plus.

[2015-10-28 10:17] artragis commented on #3128
Bon, c'est une certitude, le bug se produit en prod, c'est un problème de front.

Par contre on notera que la zep-12 a inversé l'ordre des bouton edit/déplacer/supprimer.

Bref pour ce bug, merci d'enlever le tag [beta 15.9].

@firm1   @Eskimon @sandhose

[2015-10-28 10:20] artragis commented on #2809
En tout cas http://beta.zestedesavoir.com/tutoriels/631/les-compteurs-numeriques/72/ko/ ne donne pas de 500.

[2015-10-28 10:23] firm1 commented on #3128
Le tag beta est parti.

[2015-10-29 13:02] Emeric54 commented on #2743
L'idée étant intéressante, je me permets de remonter cette issue.

C'est certainement ce qu'il faudrait faire, afin d'avoir l'avis des différents auteurs et des lecteurs. Tu as le temps @SpaceFox ?(sinon, je peux m'en charger).

[2015-10-29 13:15] SpaceFox commented on #2743
Charge-t-en, je ne pourrai pas avant 3 bonnes semaines :)

[2015-10-29 13:21] Eskimon commented on #2743
@Emeric54 même pas besoin de passer par le fofo. L'idée est bonne et aucun débat ne sont nécessaire. Du coup "vas-y pour la dev' si elle te plait :) "

[2015-10-29 13:27] Eskimon commented on #3122
et revoila

[2015-10-29 13:27] #3122 closed, assigned to nobody

[2015-10-29 13:32] Emeric54 commented on #2743
A la base, je parlais uniquement de la création du topic, mais finalement, il peut-être intéressant pour moi d'essayer de développer cette fonctionnalité :) (du coup, je serais peut-être amené a solliciter de l'aide).

[2015-10-29 13:35] Eskimon commented on #2743
Avec plaisir tu le sais bien :)

Indice : il faudra rajouter un champ dans le modèle pour calculer le temps de lecture lorsque la validation est faite (afin de pas recalculer à chaque affichage). C'est le plus "compliqué" à faire, ensuite il faudra rajouter l'information au bon endroit dans les templates et en avant :)

[2015-10-29 14:03] Eskimon commented on #3107
Et voila, bon boulot !

[2015-10-29 14:03] #3107 closed, assigned to Emeric54

[2015-10-29 16:38] Emeric54 opened #3131 "Modifier les suggestions de la barre de recherche"
Les suggestions de la barre de recherche restent inchangés depuis des semaines (« Mathématiques, UDK, HTML, Java, PHP ».) Il serait bon qu'elles soient choisis aléatoirement via les différentes catégories du site ([voir ici](https://zestedesavoir.com/forums/sujet/4422/modifier-les-suggestions-de-la-barre-de-recherche/), sujet sur le forum).

[2015-10-29 16:41] GerardPaligot commented on #3131
Est-ce vraiment nécessaire de faire une requête en base supplémentaire rien que pour ça ?

[2015-10-29 16:43] Emeric54 commented on #3131
Je pensais procéder comme pour les citations de Clem, avec un simple fichier texte.

[2015-10-29 16:45] GerardPaligot commented on #3131
Ca serait bizarre parce qu'on aurait des catégories en base de données et dans ce fichier. Il faut alors maintenir ces 2 sources de données. Je ne suis pas contre cette évolution mais faut trouver une meilleure solution.

[2015-10-29 16:49] Emeric54 commented on #3131
J'ai repris _catégories_ du post initial sur le forum. Mais l'on peut tout simplement parler de _suggestions_, pas forcément des catégories du forum. Cela pemettrait de donner simplement un peu de dynamisme.

[2015-10-29 16:51] SpaceFox commented on #3131
J'aime bien l'idée. Pour éviter de noyer le serveur avec des requêtes inutiles, on pourrait très bien imaginer mettre cette info en cache et la changer, par exemple, tous les jours - ou même toutes les heures.

[2015-10-29 17:45] Emeric54 commented on #3131
Pourquoi pas si c'est nécessaire. Mais pour des requêtes de ce genre, est-ce que ce l'est vraiment ? (_Je n'en ai aucune idée_)

[2015-10-29 18:02] SpaceFox commented on #3131
Oui et non : un aller-retour à la BDD est en soi peu coûteux, mais ici c'est facile à éviter.

En fait, la requête elle-même est très rapide, mais l'enrobage (préparation, envoi au SGBD, traitement du résultat) est relativement coûteux.

[2015-10-29 19:04] Emeric54 commented on #3131
D'accord. Donc dans ce cas, il serait préférable de mettre l'info en cache (?)

Qu'entends tu par _cette info_ ? La liste des catégories ?

_(PS : Désolé pour toutes les questions)_

[2015-10-29 19:47] WinXaito commented on #3131
C'est en effet ce qu'il sous entendait selon moi :) Mais moi  je dis pourquoi pas !

[2015-10-29 19:48] #1454 closed, assigned to nobody

[2015-10-30 06:51] firm1 opened #3132 "[v12] les anciennes alertes de modération n'ont pas été migrées"
Comme le montre le screen suivant, les anciennes alertes sur les comms d'un article pointent sur la version `/oldarticles/`.

![capture d ecran de 2015-10-30 07-45-47](https://cloud.githubusercontent.com/assets/6066015/10840029/fb0b2020-7eda-11e5-9a4c-c1f6402504d0.png)

[2015-10-30 07:08] pierre-24 opened #3133 "Le suivi des articles ne fonctionne plus si on y a pas réagi"
Sur la page d'acceil, le lien de la bulle des commentaires renvois systématiquement à la première réaction, indépendamment du fait qu'on aie déjà lu des commentaires ou pas, ce qui est une régression (plutôt pénible sur les articles à plusieurs pages de commentaires :p )

[2015-10-30 07:11] pierre-24 commented on #3132
"Logique" (enfin, relativement).

Ceci dit, est ce qu'il y a réellement matière à correction, sachant qu'à priori on ne compte pas revenir en arrière ?

[2015-10-30 07:26] firm1 opened #3134 "[v12] Légère dégradation des perfs de lecture sur un article ?"
Si j'en crois les courbes munin, un article met plus de temps à charger qu'avant.

On était plutôt en dessous de la seconde pour le chargement, maintenant on est au dessus de la seconde.

![capture d ecran de 2015-10-30 08-21-54](https://cloud.githubusercontent.com/assets/6066015/10840450/b9d71244-7edf-11e5-9eed-ce27de23a88c.png)

Ce n'est pas très grave puisque le nouveau serveur a de bonne perfs

[2015-10-30 07:31] pierre-24 opened #3135 ""Dans le futur" sur l'historique des tutoriels"
Lorsqu'on effectue une modification, on peut voir apparaitre que la modification a été effectuée dans le futur :

![screenshot from 2015-10-30 08 30 10](https://cloud.githubusercontent.com/assets/7889675/10840541/9934cf62-7ee0-11e5-84f6-f76b2e6ac36a.png)

(on dirait un bug ... De changement d'heure :o )

[2015-10-30 07:43] pierre-24 commented on #3134
À raison, @SpaceFox avait fait la même remarque. Le "pourquoi", par contre, je sais pas encore.

Ceci dit "un article" est un article publié ?

[2015-10-30 07:45] SpaceFox opened #3136 "On peut commenter sur les anciennes versions des articles"
# voir [ça](https://github.com/zestedesavoir/zds-site/issues/3136#issuecomment-168430901) avant de fermer

Cf ce message https://zestedesavoir.com/oldarticles/332/la-ligne-editoriale-officielle-de-zeste-de-savoir/?page=6#p83705 qui n'est pas repris sur la nouvelle version de l'article : https://zestedesavoir.com/articles/222/la-ligne-editoriale-officielle-de-zeste-de-savoir/?page=5#p82654

[2015-10-30 07:49] SpaceFox commented on #3134
Nos confs donnent (dans `/etc/munin/plugin-conf.d/wget_page.conf`) :

[code]

On notera aussi qu'on affiche 2x « un topic » mais pas « Un mini-tuto ». C'est étrange.

[2015-10-30 07:59] pierre-24 commented on #3136
"Normal", on a rien bloqué. Donc à priori, les gens suivent des anciennes notifs (même si j'ai le souvenir qu'elles aie été migrée). Donc à priori, ça va ce calmer, mais on peut toujours bricoler avec un .htaccess.

[2015-10-30 08:02] pierre-24 commented on #3134
Ce qui est "marrant", c'est que les performances de l'articles sont plus dégeu que celle du mini ou du big tuto. Donc j'imagine que la différence provient des commentaires.

[2015-10-30 08:44] firm1 opened #3137 "Un tutoriel sans date de publication"
[ce tutoriel](https://zestedesavoir.com/tutoriels/334/panda3d-et-heightmap/) n'a pas de date de publication et se retrouve relegué à la fin de la liste des tutoriels.

[2015-10-30 09:02] pquentin commented on #3135
(Pardon, c'est corrigé avec F5, pas de souci d'image.)

[2015-10-30 09:17] Deuchnord opened #3138 "Mise en bêta : permettre d'ajouter un commentaire au message auto-publié"
Hello,

J'aurais une petite suggestion à faire pour la fonctionnalité de mise en bêta des tutos : en effet, lorsque l'on met en bêta un tuto ou que l'on met à jour un tuto déjà en bêta, un message est automatiquement publié sur le forum dédié, ce qui est une excellente chose.

Cependant, j'aurais apprécié pouvoir ajouter un commentaire personnalisé pour ajouter par exemple une remarque ou un chang

[2015-10-30 09:28] artragis opened #3139 "disparition de l'article lorsque publication mineure"
Il semblerait que lorsqu'on fait une mise ajour mineure (donc décocher la case "majeur") l'article disparaisse.

[2015-10-30 09:28] pierre-24 commented on #3139
Ah, c'est ennuyeux. Un problème de MàJ de date ?

[2015-10-30 09:34] pierre-24 commented on #3139
Ah, non, je sais ce qui c'est passé : l'article a changé de nom avec la MàJ. Donc a créé un nouveau objet `PublishedContent` (le slug ayant changé), sans `publication_date`. C'est pervers ;)

[2015-10-30 09:36] pierre-24 commented on #3139
Namely, il suffit de rajouter la date de publication éventuelle [là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/utils.py#L648).

[2015-10-30 09:37] artragis commented on #3139
pas impossible. ou de condition dans le template (il y a un truc genre {%
if date... %}

2015-10-30 10:28 GMT+01:00 Pierre Beaujean notifications@github.com:

[2015-10-30 10:09] Eskimon commented on #3138
Doublon je pense ;)

https://github.com/zestedesavoir/zds-site/issues/2532

[2015-10-30 10:09] #3138 closed, assigned to nobody

[2015-10-30 10:13] artragis commented on #3139
je pense que c'est bloquant et appelle un hotfix.

[2015-10-30 10:28] SpaceFox commented on #3139
100% d'accord avec le chaudcorrectif.

[2015-10-30 10:45] Eskimon commented on #3131
Pourquoi du cache, pourquoi ne peux t-on pas faire exactement comme pour les citations de Clem' qui fonctionne sur ce système ?

[2015-10-30 10:46] Deuchnord commented on #2532
Hello,

Je serais également intéressé par une telle fonctionnalité :)
Par contre, comme je le disais dans mon issue #3138, il serait intéressant d'avoir également quelque chose pour ajouter un commentaire sur le message initial du sujet lors de l'ouverture de la bêta, par exemple si l'on a une remarque à ajouter sur une partie du contenu :)

[2015-10-30 10:47] SpaceFox commented on #3131
Les citations sont prises dans un fichier et sont fixes. L'idée de base, si j'ai bien compris, c'est d'aller chercher les exemples dans les tags existants sur le site.

[2015-10-30 10:48] Emeric54 commented on #3131
Pour mieux prendre un main le code de ZdS, je me suis fait un petit système comme pour les citations de Clem' : 5 suggestions sont choisises aléatoirement dans un fichier texte à chaque chargement de la page. Du coup, ça permet également également d'inclure des suggestions autres que des catégories. Mais le problème est qu'en cas de d'ajout d'une nouvelle catégorie, le fichier ne sera pas automati

[2015-10-30 11:07] pierre-24 commented on #3139
+1, j'osais pas le proposer :p

[2015-10-30 12:04] artragis commented on #3139
il est possible que ça soit à cause de ça : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/utils.py#L647 on recrée un PublishedContent sans lui donner de publication_date.

[2015-10-30 12:33] firm1 opened #3141 "[v12] Les liens vers les anciens exports des tutoriels sont cassés"
Il n'y a pas de redirection permanente entre les anciens liens des exports et les nouveaux. Par exemple lorsqu'on recherche le tutoriel [arduino en pdf depuis Google](https://www.google.fr/search?client=ubuntu&channel=fs&q=zeste+de+savoir+programmer+en+java&ie=utf-8&oe=utf-8&gfe_rd=cr&ei=f2AzVsWPCayx8wfm666IAw#channel=fs&q=arduino+zeste+de+savoir+pdf) on tombe sur un lien qui nous renvoit une 404.

[2015-10-30 12:44] SpaceFox opened #3144 "Impossible de commenter si quelqu'un a commenté entre-temps"
**Scénario**

Je veux commenter un article (ça le fait sans doute avec les tutos, mais j'ai pas eu le cas), mais le temps que je rédige mon pavé, quelqu'un d'autre a posté.

**Comportement attendu**

Comme sur les forums, j'ai un avertissement, mon message, et les derniers messages postés.

**Comportement observé**

J'ai une fenêtre de rédaction de commentaire sans avertissement ni les derniers me

[2015-10-30 13:02] pierre-24 commented on #3139
C'est ce que je disais plus haut.

[2015-10-30 13:08] artragis commented on #3141
si seulement l'ancien module avait été bien codé...

[2015-10-30 13:09] Thunderseb opened #3145 "[V12][Staff] Accès à la version hors-ligne d'un tuto"
Le lien permettant de voir la version offline d'un tuto ( exemple sur la version en-ligne ici : https://zestedesavoir.com/tutoriels/344/redorer-votre-blason-sur-google-search-bases-de-reputation/ ) retourne une erreur 404.

Idem si je veux afficher l'historique de validation.

Je pense que c'est parce que l'auteur a changé le titre du tutoriel (et donc l'url). Quoi qu'il en soit, ce n'est pas norm

[2015-10-30 13:12] artragis commented on #3145
en effet. Le diagnostique semble bon.

[2015-10-30 13:12] artragis commented on #3144
@pierre-24 tu sais comment gérer ça?

[2015-10-30 13:21] pierre-24 commented on #3144
Dans les grandes lignes, oui, m'enfin faudra que je me penche dessus.

[2015-10-30 15:00] firm1 commented on #3145
Je taggue en bloquant vu l'impact.

[2015-10-30 15:05] pierre-24 commented on #3145
L'un de vous deux (vous êtes staff) pourrait vérifier qu'il s'agit bien d'un changement de titre ? Juste pour que je passe pas 20 ans à chercher ;)

[2015-10-30 15:07] firm1 commented on #3145
Justement je n'arrive pas à le savoir puisque le lien de l'historique renvoit une 404. Mais je pense effectivement que le titre à changé.

[2015-10-31 12:06] WinXaito commented on #3131
Au pire on peut imaginer un petit script mis en cron 1 fois par jour qui update le fichier non ?

[2015-10-31 12:14] Emeric54 commented on #3131
Avec la solution actuelle, on est parti sur une liste de suggestions, et non une liste des catégories du site (d'ailleurs, les catégories ne sont pas toutes inscrites).

Je ne sais pas si c'est vraiment nécessaire, l'ajout de nouvelles catégories sur ZdS n'est que peu fréquent.

[2015-10-31 14:17] DevHugo commented on #2905
Ça le fait toujours ?

[2015-10-31 15:32] SpaceFox opened #3149 "Vérifier les requêtes SQL faites par les différentes pages"
J'ai l'impression que depuis la MEP de la v12, le serveur SQL prends sensiblement plus de requêtes qu'avant. Mais comme ça coïncide avec une période de forte activité, j'ai du mal à dire si c'est normal ou pas.

Il faudrait donc vérifier ça en local, en commençant par ce qui a été modifié dans cette release (donc à priori les pages tuto / article). Il y a peut-être (ou pas) un lien avec #3134.

Au

[2015-10-31 15:40] SpaceFox commented on #3134
En revérifiant les URLs, toutes provoquent des 307 (passage en HTTPS, au moins sur navigateur) et certaines provoquent des 301. Je vais mettre les URLs à jour dans Munin pour éviter les redirections.

[2015-10-31 16:01] SpaceFox commented on #3134
C'est fait. En attendant je confirme que les articles sont relativement longs à charger. @pierre-24 , @artragis , pour moi charger un article et un mini-tuto ça devrait maintenant être pareil, j'ai loupé un truc ?

[2015-10-31 16:48] SpaceFox commented on #3134
**Attention** il y avait une erreur dans les stats de chargement des pages !

Dans Munin, sur les graphes « wget page », il y a une bizarrerie avec les courbes depuis ~17h aujourd'hui, c'est tout simplement que les courbes précédentes étaient fausses… ou plus exactement chargeaient bien ce qui était affiché jusqu'alors :

| Numéro | Couleur | Avant | Maintenant |
| --- | --- | --- | --- |
| 1 | Ve

[2015-10-31 17:21] pierre-24 commented on #3149
C'est probable, même si je me souviens que @artragis avait fait énormément de "magie noire" à ce sujet (historiquement, ces améliorations dans le code provenait d'amélioration qu'il avait fait sur la ZEP-12). À mon avis, on doit avoir des données qu'on oublie de `prefetch()` quelque part, comme d'habitude :)

[2015-10-31 17:34] pierre-24 commented on #3134
Oui, logiquement.

En local, je me prend 46 requêtes SQL (utilisateur normal, pas de MP) quand je visite un article (quelque soit le nombre de commentaires), contre 44 dans le cas d'un tuto. Je doute que le problème provienne de là, ceci dit, mais il faudrait comparer ligne par ligne les appels (il y a au moins un appel de plus dans le cas des articles pour récupérer précédent/suivant, je sais plu

[2015-10-31 17:39] SpaceFox commented on #3134
Une différence majeure est qu'en général un article a pas mal de
commentaires, et un tuto assez peu. Peut-être est-ce là qu'il faut chercher.

Le 31 octobre 2015 18:34, Pierre Beaujean notifications@github.com a
écrit :

[2015-10-31 17:39] pierre-24 commented on #3134
Ben pour mes tests, j'ai fait exprès de prendre le même nombre de commentaires dans les deux cas, et y'a une différence assez nette quand même.

[2015-10-31 17:43] SpaceFox commented on #3134
Bizarre…

[2015-10-31 17:50] pierre-24 commented on #3134
D'ailleurs, [le graphe le dit lui même](http://munin.kisai.info/static/dynazoom.html?plugin_name=zestedesavoir.com%2Fwww.zestedesavoir.com%2Fwget_page&start_iso8601=2015-10-29T19%3A24%3A27%2B0100&stop_iso8601=2015-10-31T20%3A36%3A27%2B0100&start_epoch=1446143067&stop_epoch=1446320187&lower_limit=&upper_limit=&size_x=800&size_y=400&cgiurl_graph=%2Fcgi-bin%2Fmunin-cgi-graph) :

| Nom | Current | Min

[2015-10-31 17:56] artragis commented on #3134
- les badge
- les +/- 1 très nombreux
- on est passé de 21 à 25 commentaires (pas fait gaffe, pardon pas tapper

Il faut aussi se souvenir que la bdd avait été "chauffée" avec 2 tables,
maintenant on n'en a qu'une seule. La moindre requête passe donc par
deux fois plus de lignes.

Le 31/10/2015 18:50, Pierre Beaujean a écrit :

[2015-10-31 17:59] SpaceFox commented on #3134
Ce qui n'a normalement presque aucun effet visible, puisqu'on est sensés avoir des index pertinents, et que normalement le temps passé ne l'est pas dans MySQL lui-même.

[2015-10-31 18:00] artragis commented on #3134
a-t-on les munin du serveur de prod pour les iops?

Le 31/10/2015 18:59, SpaceFox a écrit :

[2015-10-31 18:06] pierre-24 commented on #3134
Puis de toute façon, le même contenu publié en tant qu'article ou en tant que tuto change complètement le temps, je viens de tester.

[2015-10-31 18:31] SpaceFox commented on #3134
Oui depuis le nouveau serveur. C'est le tout premier graphe de la liste. En cliquant dessus on a des détails en plus (la taille moyenne des paquets).

[2015-10-31 18:32] SpaceFox commented on #3134
Y'a aussi le pourcentage d'utilisation du disque, et on est _très_ loin de la saturation.

[2015-10-31 18:36] artragis commented on #3134
c'est surtout que je voulais voir si la mep de la zep avait fait varié
cet indicateur.

Le 31/10/2015 19:32, SpaceFox a écrit :

[2015-10-31 18:44] pierre-24 commented on #3131
Voilà :)

[2015-10-31 18:44] #3131 closed, assigned to nobody

[2015-10-31 21:01] artragis commented on #3149
D'après le graphique des slowquery j'ai tendance à penser que la zep-12 en a introduite une. Peux-tu essayer de voir s'il n'y en a pas une qui passe souvent au sujet de :
- publishablecontent
- contentread
- contentreaction

[2015-10-31 21:15] Eskimon commented on #1376
Voilà qui est fait, enfin \o/ !

[2015-10-31 21:15] #1376 closed, assigned to Situphen

[2015-10-31 21:23] firm1 commented on #2905
Toujours chez moi

Le sam. 31 oct. 2015 15:17, Hugo Courtecuisse notifications@github.com a
écrit :

[2015-11-01 09:27] Vayel opened #3150 "Le lien de la dernière réponse donne (parfois) une 404"

[2015-11-01 11:53] Eskimon commented on #3150
@artragis @pierre-24 vous disiez avoir touché au paginateur. Ca peut venir de là ?

[2015-11-01 11:56] Eskimon commented on #3135
Sinon une idée de pourquoi ce bug ?

[2015-11-01 11:58] Eskimon commented on #3132
Yep je me pose la question de la pertinence. À priori une fois ces alertes résolues tout ira bien :) Je ferme donc, inutile de perdre du temps sur des corrections qui ne pourront toute façon pas se reproduire ensuite.

[2015-11-01 11:58] #3132 closed, assigned to nobody

[2015-11-01 12:06] Eskimon commented on #3034
C'est corrigé, un artefact des vieux jours dans le settings_prod.py sur le serveur de beta. Tout est ok maintenant.

La prod' n'était pas touché par ca car n'a pas besoin d'override ce paramètre.

[2015-11-01 12:06] #3034 closed, assigned to nobody

[2015-11-01 12:08] Eskimon commented on #2957
Il me semble que tout est bon ici non ? Qqun saurait générer les deux types de 500
1. Lorsque c'est un souci de notre code (mais normalement c'est rare ^^ )
2. Lorsque c'est un souci au dela de notre code (timeout ou worker planté)

[2015-11-01 12:09] Eskimon commented on #2809
Plus de 500 ici. Sans information supplémentaire le ticket ne pourra être traité. Je ferme.

[2015-11-01 12:09] #2809 closed, assigned to nobody

[2015-11-01 12:11] Eskimon commented on #2788
Ca a été mergé mais le ticket est pas fermé. Est-ce que tout est bien corrigé ici ?

[2015-11-01 12:14] Eskimon commented on #2721
Hum. Du coup est-il pertinent de garder ce ticket ouvert ?

[2015-11-01 12:27] GerardPaligot commented on #2721
Il faudrait au moins un morceau de documentation je pense. Ca pourrait être pas mal de prévenir nos utilisateurs d'API de ce genre de problème.

[2015-11-01 12:48] Nodraak commented on #2957
Il faudrait qq un qui a accès à la beta, pour :
1. Lever une exception quelconque : erreur de syntaxe, vue Django qui retourne `None`, ...
2. Arrêter Gunicorn sans toucher à nginx

[2015-11-01 12:52] sandhose commented on #2957
Done.
![image](https://cloud.githubusercontent.com/assets/1549952/10868971/97c9888c-809f-11e5-878f-b633c0c9d624.png)

[2015-11-01 13:04] artragis commented on #3150
on n'y a pas "touché" on a mis le paginateur des MP codé par
@gerardpaligot au lieu du paginateur adhoc qu'il y avait avant.

Le 01/11/2015 12:53, Eskimon a écrit :

[2015-11-01 13:16] sandhose commented on #2957
Ok, on a testé avec @Nodraak, pour l'instant, si c'est Django qui renvoi une 500, on a le template 500 de Django (ce qui est pas bon, puisque du coup, si le template 500 plante, par exemple, on a une magnifique `Internal server error`.)

Du coup, il faut ajouter la directive `proxy_intercept_errors on;` au bloc `location /` dans `/etc/nginx/sites-available/zestedesavoir`, pour que quand le code d'

[2015-11-01 14:58] Eskimon commented on #6
allez, encore le ping du mois qui s'est écoulé ^^ (je passerais presque cette issue en zombie tellement elle est vieille :D )

[2015-11-01 15:02] Eskimon commented on #1846
Je passe cette issue dans une optique "amélioration continue" et donc la déclare zombie.

[2015-11-01 15:02] #1846 closed, assigned to nobody

[2015-11-01 15:34] #2222 closed, assigned to gustavi

[2015-11-01 15:35] Eskimon commented on #2009
Up, faut-il garder ce ticket ouvert ?

[2015-11-01 15:50] Eskimon commented on #2831
Du coup... on a fait quoi au final ici :s ?

[2015-11-01 16:09] GerardPaligot commented on #2831
Faut que le staff (ou une autre personne compétente) se charge de la migration de tous les .tutos dans un format zds.

[2015-11-01 19:41] pierre-24 commented on #3135
Absolument aucune. Peut être que le format de stockage de la date côté Git est pas exactement le même, mais à priori, c'est [filtre de date appliqué sur timestamp](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/view/history.html#L110), comme d'hab' ... Ou presque :

[code]

Et je me souviens plus exactement ou est la PR originale, mais je crois que ce `commit.author_tz_off

[2015-11-01 19:47] pierre-24 commented on #3150
En fait ... J'ai pas compris le problème (j'ai lu ça vite fait ce matin, mais maintenant que je le relis, je vois pas le souchi o_O )

[2015-11-01 20:48] Vayel commented on #3150
Le lien vers la dernière réponse du [sujet 3150](http://zds.francoisdambrine.me/forums/communaute/discussions-generales/) mène à une 404, parce que dans l'url, on est à la page 2 (http://zds.francoisdambrine.me/forums/sujet/69/3150/?page=2#p2279) au lieu de la page 1 (http://zds.francoisdambrine.me/forums/sujet/69/3150/?page=1#p2279).

Ce bug n'intervient que lorsque la dernière réponse est le der

[2015-11-01 21:25] pierre-24 commented on #3150
Aaaaah, ok, je viens de comprendre. Indeed, rien à voir avec la ZEP-12.

[2015-11-01 21:29] Eskimon commented on #3144
De retour à la normale :)

[2015-11-01 21:29] #3144 closed, assigned to nobody

[2015-11-01 21:36] pierre-24 commented on #3145
Un truc me chipote. Si je prend [cet article en bêta](https://beta.zestedesavoir.com/articles/180/sortie-de-python-3-5/), grâce à mes pouvoirs d'admins prêté par Eskimon, je peux accéder à sa version _offline_, et je vois qu'il a été renommé à postériori ([voir là](https://beta.zestedesavoir.com/contenus/180/sortie-de-python-3-5-test/)), donc la procédure que vous me décrivez.

Au delà de ça, est

[2015-11-01 21:37] Eskimon commented on #3139
C'est tout good :)

[2015-11-01 21:37] #3139 closed, assigned to nobody

[2015-11-02 11:16] Eskimon opened #3153 "La pagination article est inversée"
Dans le bas des articles on trouve une barre de pagination pour aller a l'article précédent/suivant. Il me semble que cette barre est inversé puisque l'article précédent est a droite et le suivant est a gauche. Dans la logique de la lecture et du fil des pages occidental, ce qui est avant est a gauche (le passé) et a droite on trouve ce qui vient ensuite (le futur). Voici une capture d'écran télép

[2015-11-02 12:57] firm1 commented on #2831
C'est pas un peu trop tard. La zep 12 est passée donc on ne peut plus
recuperer les .tutos non convertis.

Sauf si on developpe un script pour ça

Le dim. 1 nov. 2015 17:09, Gérard Paligot notifications@github.com a
écrit :

[2015-11-02 13:33] GerardPaligot commented on #2831
@firm1 Ce qui est cool avec Git, c'est que tu peux retourner dans le passé. :)

[2015-11-02 14:04] pierre-24 commented on #2831
Et quand bien même, rien de l'ancien module n'as encore disparu (voir `/oldtutorial/`, toussa ...)

[2015-11-02 14:10] firm1 commented on #2831
On va pas retourner dans le passé en prod quand même, si ? Parce que c'est
la bas que se trouve tous les .tuto a migrer.

Le oldtutorial il me semble qu'il ne donne pas l'acces a la liaison des
profils aux .tuto on est obligé de le faire via l'import et donc ça suppose
que l'auteur soit en possession de son .tuto en local (ce qui n'est pas
toujours le cas).

Le lun. 2 nov. 2015 15:04, Pierre Beauj

[2015-11-02 14:38] GerardPaligot commented on #2831
C'est l'équipe technique ici. Des données sur la prod, on peut aller les chercher si c'est nécessaire. Faut pas dramatiser les choses comme ça. :)

[2015-11-02 14:55] firm1 commented on #2831
Non mais ce n'est pas dramatique, je répondais juste a ta remarque qui disais que le staff doit se charger de la migration. Ce n'est plus du ressort du staff puisqu'ils n'ont plus l'interface pour le faire. Donc soit on fait un script pour migrer les .tutos , soit on copie en ssh depuis la prod tous les tutoriels à importés et le staff le fait un par un via l'interface `oldtutoriels`

Mais le fond

[2015-11-02 15:04] GerardPaligot commented on #2831
Nous sommes d'accord. Il faudrait donc que vous créez un sujet dans la zone staff pour décider des tutoriels que vous désirez conserver. Puis l'équipe technique fera le nécessaire.

[2015-11-03 09:14] Fumble commented on #3150
C'est également reproductible sur le sujet Your Desktop. Page 32 au lieu de 31. J'ai l'impression que cela arrive quand le dernier message posté est le dernier avant que le prochain message ne crée une nouvelle page (ce sera donc lui qui sera cité en tant que "dernier message de la page précédente")..

![bug_lien](https://cloud.githubusercontent.com/assets/634461/10904336/c2af923e-8212-11e5-8566-6

[2015-11-03 17:12] firm1 opened #3154 "Les rapports de couverture ne sont plus envoyés à coveralls"
Depuis un certain temps les rapports de couverture ne sont plus envoyés à coveralls et donc on a plus d'informations publique sur la couverture des tests.

[2015-11-03 17:40] yapper-git commented on #3135
J'ai testé en local et en réalité la date de commit ne correspond pas à la date si je committe à la main dans le dépôt via la commande git commit.
Il y a une différence, voici que j'obtiens avec git log:

Je suppose que le fuseau horaire est incorrect lors d'un commit via gitpython dans le code de ZdS mais je ne sais pas à quel niveau ça coince…

[2015-11-03 20:01] pierre-24 commented on #3135
Le code de Gitpython est très pénible à lire. Ceci dit, on peut trouver [ici](https://github.com/gitpython-developers/GitPython/blob/master/git/objects/commit.py#L102-L105) :

Le code [semble indiquer aussi que](https://github.com/gitpython-developers/GitPython/blob/master/git/objects/commit.py#L81-L83) :

Bref, ?!?

[2015-11-04 05:27] pquentin commented on #3135
Notons quand même que "Tue Nov 3 17:48:11 2015 +0100" est la même heure que "Tue Nov 3 18:48:11 2015 +0200". C'est même "Tue Nov 3 16:48:11 2015 +0000", soit "2015-11-03T16:48:11Z" au format [ISO 8601](https://xkcd.com/1179/).

Comment est-ce que vous parsez la date ensuite : aware ou native ? Est-ce que la date actuelle utilisée pour la comparaison est une datetime aware ou native ? Je veux bien

[2015-11-04 05:35] pierre-24 commented on #3135
Le code [est là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/templatetags/date.py#L72) et fait appel à la fonction un peu plus haut dans le fichier :)

[2015-11-04 09:23] pquentin commented on #3135
Pour commencer, [un bug dans GitPython](https://github.com/gitpython-developers/GitPython/issues/362) (que j'ai pu diagnostiquer grâce à @yapper-git) lui fait croire que les commits sont fait en UTC+2 alors que le serveur est passé en UTC+1.

Ceci dit, le timestamp devrait être correct même si GitPython corrige son bug. Ce qui est bizarre, c'est que utcfromtimestamp() n'a pas d'info de timezone, d

[2015-11-04 12:46] pierre-24 commented on #3135
Il me semble que le bug m'as frappé récement, et pas cet été, mais je testais en général en local.

[2015-11-04 12:47] pierre-24 commented on #3135
(ceci dit, ça le fait en local aussi maintenant, donc à mon avis, c'est lié au changement d'heure o_O )

[2015-11-04 17:18] yapper-git commented on #3135
Je n'avais pas repéré le bug avant. C'est moi qui ait fait la PR pour modifier le diff des tutos (incorporé à la ZEP-12) mais je n'avais pas rencontré ce bug. Il me semble pourtant avoir testé avec des tutoriels modifiés récemment et j'ai dû d'ailleurs soustraire le fuseau horaire pour cela sauf erreur…

En tout cas en local j'ai le même problème et je suis bien sur le fuseau horaire de Paris au n

[2015-11-04 17:34] pquentin commented on #3135
Oui @yapper-git ce bug n'a pas du apparaître avant le changement d'heure.

J'ai le même problème avec la dernière version de GitPython. Non seulement y'a le bug de +0200 au lieu de +0100 mais il semblerait GitPython me renvoie ensuite une mauvaise date, décalée d'une heure : le bug ne serait pas dans ZdS. Je n'ai pas pu investiguer davantage.

[2015-11-05 16:50] pquentin commented on #3135
Je ne sais pas si vous avez vu, mais du coup j'ai essayé de corriger le problème dans la PR #3158. Je suis pas trop au point niveau contribution à ZdS, à vous de me dire ce que je peux améliorer.

[2015-11-05 16:52] yapper-git commented on #3135
Je ne suis pas non plus un régulier contributeur de ZdS mais je peux te dire qu'il manque la partie _QA_ dans ta PR.

[2015-11-05 22:55] Vayel commented on #3150
Le souci est ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/includes/topic_row.part.html#L67

Mais je ne parviens pas à trouver la vue qui utilise ce template. On inclut ce dernier [ici](https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/category/forum.html#L89), et mentionne ce template [là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/vie

[2015-11-06 08:24] GerardPaligot commented on #3150
Le lien de la dernière réponse n'est pas gérée par la pagination. A mon avis, le problème est ailleurs. Surement dans les zones pointées par @Vayel.

[2015-11-06 16:25] charlesfire opened #3160 "Le header du site devrait être fixe pour simplifier la navigation"
Le header du site devrait être fixe pour simplifier la navigation. On pourrait ainsi accédé à la navigation principale du site même en lisant un tutoriel ou en navigant dur le site.
La même idée pourrait être appliqué à la sidebar.

[2015-11-06 16:47] Vayel commented on #3150
Manifestement, le problème vient d'ici : https://github.com/zestedesavoir/zds-site/blob/80f08da6c39888c7cd30f6d002ac3598e65de285/zds/forum/models.py#L300

En effet :
- https://github.com/zestedesavoir/zds-site/search?utf8=%E2%9C%93&q=last_read_url
- Puis : https://github.com/zestedesavoir/zds-site/search?utf8=%E2%9C%93&q=resolve_last_read_post_absolute_url

[2015-11-06 16:49] artragis commented on #3150
oui ça vient de là. il faudrait faire (position - 1) / nb

2015-11-06 17:47 GMT+01:00 Vincent notifications@github.com:

[2015-11-07 01:23] SpaceFox commented on #3160
Cette idée est à discuter sur les forum, parce qu'il peut y avoir un certain nombre d'arguments contre (la place occupée en hauteur, par exemple). Le cas du mobile est aussi à vérifier.

[2015-11-07 07:32] pquentin commented on #3160
Il faut aussi faire attention aux liens internes : c'est pas complètement trivial de faire en sorte que les titres (par exemple) soient juste en dessous du header, et pas cachés par le header.

[2015-11-07 11:44] GerardPaligot opened #3163 "Accès rapide vers le sujet de la bêta"
Aujourd'hui, pour accéder au sujet créé pour la mise en bêta de son contenu, hormis à la mise à jour de la version d'un beta, il faut obligatoirement retrouver le sujet dans la liste des sujets du forum "Contenu en cours de rédaction" ou dans la liste des sujets suivis.

Il pourrait être très pratique d'avoir un accès rapide vers ce sujet directement à partir de la sidebar de son contenu en cours

[2015-11-07 11:48] GerardPaligot commented on #3076
Je remonte cette issue. Cette évolution ne couterait pas grand-chose à développer, semble même plutôt trivial à développer et améliorait grandement un aspect de la validation.

En ce moment, j'ai un contenu en validation. C'est pénible de devoir prévenir mon validateur que j'ai mis à jour le contenu et qu'il doit à nouveau se le réserver (d'ailleurs, ça doit être pénible aussi pour lui).

[2015-11-07 12:16] artragis commented on #3076
Il est déjà prévenu automatiquement.

mais effectivement la correction est triviale Pierre l'a déjà donnée
d'ailleurs.

Le 07/11/2015 12:48, Gérard Paligot a écrit :

[2015-11-07 14:25] Eskimon commented on #1262
Bon du coup j'ai fait la PR avec NoCaptcha et un paramètre dans le settings.py pour activer ou non le module.

[2015-11-07 14:40] Vayel opened #3165 "Message de MAJ d'un contenu lors de la 1è publication"
- Créer un tutoriel
- Le publier
- Recevoir le message de Clem indiquant que la _mise à jour_ du tutoriel a été publiée

Autrement dit, lors de la première publication, on reçoit [ce message](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/messages/validation_accept_update.md) au lieu de [celui-ci](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/mess

[2015-11-07 14:46] Vayel commented on #3163
En fait, ça existe déjà sur la version bêta du contenu : http://beta.zestedesavoir.com/contenus/beta/822/3163/

Mais il semblerait que le lien ne soit présent que sur les contenus créés après la ZEP-12.

[2015-11-07 15:22] GerardPaligot commented on #3163
J'ai parfois le lien aussi mais pas tout le temps. Je connais pas trop la règle d'affichage. Je pensais que c'était lors d'une mise en bêta seulement qu'il affichait le lien vers le sujet dans l'encadré orange.

[2015-11-07 15:25] Vayel commented on #3163
Ah oui, c'est bizarre. La présence du lien n'a pas de rapport avec la date de création ou de mise en bêta (avant ou après la ZEP-12).

[2015-11-07 15:52] GerardPaligot commented on #3163
Bien, après des recherches dans les sources, le lien devrait être affiché dès lors qu'un sujet existe.

Je passe donc l'issue en BUG.

[2015-11-07 15:53] GerardPaligot commented on #3163
D'ailleurs, j'enlève le tag facile parce que je ne suis pas certain que ça l'est.

[2015-11-07 16:00] GerardPaligot commented on #3154
Merci @firm1.

[2015-11-07 16:00] #3154 closed, assigned to nobody

[2015-11-07 16:29] GerardPaligot commented on #1262
Merci @Eskimon.

[2015-11-07 16:29] #1262 closed, assigned to Eskimon

[2015-11-07 16:33] Emeric54 commented on #3165
En effet.

Pourtant, [ce](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_validations.py#L406) n'est pas bon ?

[2015-11-07 18:18] GerardPaligot opened #3166 "L'utilisateur décalé n'est pas dans la doc"
Suite à une PR de @firm1, nous avons un utilisateur avec des identifiants décalés dans nos fixtures mais il n'est pas [documenté](https://github.com/zestedesavoir/zds-site#données-de-test).

[2015-11-07 18:50] pierre-24 commented on #3166
[Si](https://github.com/zestedesavoir/zds-site/blob/dev/doc/source/back-end/member.rst#les-membres-dans-les-environnement-de-test-et-de-développement), c'est juste un oubli dans ce fichier là (ce fichier m'était complètement sorti de la tête quand je l'avais dit  à @firm1, donc c'est ma faute)

[2015-11-07 18:56] GerardPaligot commented on #3166
@pierre-24 Je me doutais qu'il devait y avoir de la documentation dans ce coin là mais j'utilise que le README donc j'ai fais un pif quand je me suis authentifié et heureusement, ça suit la même logique que les autres comptes (decal/decal).

[2015-11-07 18:57] pierre-24 commented on #3163
En fait, en checkant un peu les sources, il y a un oubli : ce lien ne s'affiche pas dans les parties/chapitres, et c'est à mon avis ça qui doit te perturber. Régler ça est facile, édition de la template correspondante et zou.

Au delà de ça, ledit message ne s'affiche que quand on consulte le contenu sous ça version "bêta", donc à priori pas quand on se promène dans son historique. Si c'est ça que

[2015-11-07 18:58] pierre-24 commented on #3166
Ah, mais je cherche pas à me justifier, c'est clairement un oubli :)

[2015-11-07 19:04] GerardPaligot commented on #3163
A la racine de mon contenu, je ne vois pas le lien. Par contre, mon tutoriel est un moyen tuto donc je suis au niveau d'une partie automatiquement (je suppose) mais il m'est arrivé de voir le lien. Donc, je sais pas trop où donner de la tête.

D'après la 2ème règle à respecter que j'ai marqué dans mon premier message :

Ca me semble pertinent de le mettre uniquement dans la version en bêta. Mais,

[2015-11-07 19:54] Vayel commented on #3163
Est-ce que ça ne risque pas de prendre de la place pour rien ? Je veux dire, on peut y accéder assez rapidement en cliquant sur "Voir la version bêta" puis "Voire le sujet".

[2015-11-07 20:07] GerardPaligot commented on #3163
@Vayel Le sujet de ce ticket est justement que le lien "Voir le sujet" n'existe pas chez moi. :)

[2015-11-07 20:10] Vayel commented on #3163
Ouep. Mais ce que je veux dire, c'est que je ne suis pas sûr que ce soit utile d'afficher le lien ailleurs que sur la version bêta (affichage actuellement pas toujours fait).

[2015-11-07 20:16] GerardPaligot commented on #3163
Je ne sais pas pour toi mais pour moi, voici comment je gère mes tutoriels :
1. Je rédige mon tutoriel.
2. Je passe mon tutoriel en bêta.
3. Je modifie le tutoriel avec les retours de la communauté ou les miens.

A l'étape 2, mon tutoriel offline est la version en bêta. Normalement, j'aurais aucun problème pour accéder au sujet puisque le lien devrait m'être proposé (j'utilise le conditionnel part

[2015-11-07 20:19] Vayel commented on #3163
Nop, tu peux cliquer dans la sidebar sur "Voir la version bêta". Tu auras alors le bandeau orange "Cette version est en bêta", suivi normalement du lien vers le sujet correspondant.

[2015-11-07 20:25] GerardPaligot commented on #3163
Autant te dire que si moi je n'y ai pas pensé alors que je suis au fait de la technique, je vois mal un auteur lambda y penser.

Ceci dit, pour donner des infos complémentaires au bug et en sachant que la toute dernière version de mon contenu est en bêta :
- Si je consulte mon tutoriel par la liste de mes contenus avec une URL du type : https://zestedesavoir.com/contenus/839/developper-et-publier-

[2015-11-07 23:06] charlesfire commented on #3160
De mon côté, je suis parvenu à rendre le header fixe sans cacher de partie importante du site. En fait, en restant dans le haut de la page, on ne pouvait pas faire la distinction entre le site normal et le site modifier. Par contre, je ne suis pas parvenu à obtenir le même résultat avec la sidebar. Ayant testé avec plusieurs résolutions, je puis affirmer que les modifications que j'ai testé n'affe

[2015-11-08 00:32] WinXaito commented on #3160
ça rejoint l'issue concernant un bouton "Top" pour mobile qui pourrait être discuter pour version PC.

Concernant un header fixe, je suis moyen pour. Après on peut imaginer en "option" pour chaque utilisateur mais c'est un peu une usine à gaz pour pas grand chose

[2015-11-08 08:50] Vayel commented on #3076
Du coup, je m'intéresse à [cette méthode](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_validations.py#L98) et j'aurais quelques questions :
- La création d'un objet `Validation`, c'est bien pour déplacer la version du contenu dite en validation ? Ne peut-on pas plutôt mettre à jour l'objet `old_validation`, s'il existe ?
- A quoi sert https://github.com/zestedesavo

[2015-11-08 09:13] artragis commented on #3076
Non, c'est pour gareder l'historique qu'on fait un nouvel objet, mais le
principal problème c'est que le statu actuellement est mis à PENDING au
lieu de PENDING_V

à renseigner la date dans l'historique

à enregistrer les modifs en bdd

En fait c'est un bug de la version 1 du module qu'on a copié comme ça on
est compatible mais surtout parce que comme ça on copiait/collait le
code :p C'est là qu'i

[2015-11-08 09:18] Vayel commented on #3076
D'accord, merci.

[2015-11-08 09:29] Vayel commented on #3076
Par contre, il va falloir que je modifie les tests aussi, non ? https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/tests/tests_views.py#L1992

[2015-11-08 09:31] artragis commented on #3076
oui, en effet :p

Le 08/11/2015 10:29, Vincent a écrit :

[2015-11-08 09:33] Vayel commented on #3076
Par contre, [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/tests/tests_views.py#L1995) me paraît étrange étant donné qu'on a fait `validation.validator = old_validator` dans la vue.

[2015-11-08 09:43] Vayel commented on #3076
Etrangement, Travis ne bronche pas pour #3168.

[2015-11-08 14:08] DevHugo commented on #3149
Faut prendre en compte la recherche aussi, maintenant que tous est stocké en base de données.

[2015-11-08 14:13] Deuchnord opened #3170 "La prévisualisation n'affiche pas les formules"
Hello,

Les formules mathématiques ne s'affichent pas lors de la rédaction ou de l'édition d'un message sur les forums et les MP.

En effet, lorsque j'écris une formule mathématique et que je prévisualise, j'obtiens ça :
![Capture du problème](https://cloud.githubusercontent.com/assets/7600265/11020763/80c9ac3a-862a-11e5-9fe2-af074d5e1f6f.png)

Il serait pratique que le résultat de ce code soit af

[2015-11-08 17:53] Eskimon commented on #2708
Voila qui est réglé, la route de l'api est maintenant sorti de l'autentification serveur (auth_basic) mais soumise cependant à un filtre ip pour éviter que l'on fasse fuiter des infos si jamais l'API était bugguée.

[2015-11-08 17:53] #2708 closed, assigned to nobody

[2015-11-08 18:04] GerardPaligot commented on #2708
@Eskimon Ca veut dire que seulement quelques personnes peuvent tester l'API ?

[2015-11-08 18:27] Eskimon commented on #2708
Dans l'immédiat oui. Si cependant tu peux expliquer que "l'API peux pas fuiter si le site fuite pas" (car l'API wrap sur le site) alors je pourrais ouvrir à tous alors.

[2015-11-08 18:49] GerardPaligot commented on #2708
![](http://m.memegen.com/njcqah.jpg)

[2015-11-08 19:29] Eskimon commented on #2708
Chui pas clair ?

[2015-11-08 19:36] GerardPaligot commented on #2708
J'ai rien pigé non. ^^

[2015-11-08 19:44] Eskimon commented on #2708
Je reformule.

Si l'API utilise les mêmes méthodes que les views, alors l'API expose exactement les mêmes risques que les views classique et que le site lui même. En revanche, si l'API travaille selon un biais différent, alors le filtrage IP est pertinent _au cas où_ .

[2015-11-08 19:47] GerardPaligot commented on #2708
Oui et non :
- Oui, il y a du code commun.
- Oui, il s'agit d'un autre point d'entré pour les mêmes fonctionnalités.
- Non, l'API dispose de son propre framework technique pour accéder aux données.

Donc, je suppose que le filtrage IP est pertinent mais est-ce la solution définitive ? N'est-il pas possible de filtrer autrement ?

[2015-11-08 19:52] pierre-24 commented on #2708
Je trouve que le débat n'as pas de sens : le but du .htaccess, c'est pas d'empêcher n'importe qui de faire n'importe quoi, c'est d'empêcher de se faire indexer (en tout cas, c'est toujours comme ça qu'on me l'as présenté). Non ? :)

[2015-11-08 19:53] GerardPaligot commented on #2708
@pierre-24 Toutafé mais si on a un bug dans l'API qui expose absolument toutes les données de tout le monde, ça serait pas cool.

[2015-11-08 20:04] pierre-24 commented on #2776
Et on est bon :)

[2015-11-08 20:04] #2776 closed, assigned to Eskimon

[2015-11-08 20:04] pierre-24 commented on #2991
Voilà qui est fait, merci @poulp :)

[2015-11-08 20:04] #2991 closed, assigned to nobody

[2015-11-08 20:07] pierre-24 commented on #3135
Merci @pquentin (et puis en plus, ça a permis à gitpython de s'améliorier). Concernant le passage éventuel à pygit ...Y'a une histoire de python3.

[2015-11-08 20:07] #3135 closed, assigned to nobody

[2015-11-08 20:19] Eskimon commented on #2708
En fait n'a envie de dire : Si on a des TU qui prouve que les données privées restent privées alors le filtrage n'a pas lieu d'être.

Mais sinon, non, a ma connaissance on a pas d'autre moyen de filtrage que le htpasswd ou IP.

[2015-11-08 20:20] #3150 closed, assigned to nobody

[2015-11-08 20:21] pierre-24 commented on #3150
Voilà, merci @Vayel :)

[2015-11-08 20:33] Vayel commented on #3057
Jeter un coup d'oeil ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_contents.py#L1443

[2015-11-09 11:46] firm1 opened #3172 "Les derniers sujets suivis cette semaine ne le sont pas forcément."
A l'heure ou je poste cette issue, on est lundi et dans mes sujets suivis j'ai des sujets suivis de :
- aujourd'hui : normal
- hier (dimanche) : normal
- cette semaine : il y'a un problème de vocable ici. Car "cette semaine" à commencée en fait aujourd'hui. Le code lui veut plutôt parler des "7 derniers jours".

Donc j'ignore la bonne façon de faire ici ? renommer le "cette semaine" ou modifier le

[2015-11-09 12:13] firm1 opened #3174 "[v12] : le titre d'un tutoriel en zone validation ne semble pas versionné"
Scénario :
- Je crée un tutoriel avec pour titre "ok"
- Je l'envoi en validation le titre du tutoriel dans la zone validation est bien "ok"
- Je modifie le brouillon de mon tutoriel en changeant le titre par "bonjour"
- Je vais en zone validation le titre a changé dans la liste il s'appelle maintenant "bonjour"
- mais quand je clique sur ledit tutoriel en validation il a bien le titre "ok"

C'est

[2015-11-09 12:15] pierre-24 commented on #3174
En effet. C'est probablement parce qu'on charge la version brouillon et pas la version en validation.

[2015-11-09 13:53] artragis commented on #2085
cette requête est-elle encore apparente?

[2015-11-09 14:14] DevHugo opened #3175 "La recherche indexe aucun nouveau contenu"
Bonjour,

On peut voir que la recherche n'indexe pas les contenus depuis la zep-12. En effet, les articles "La ligne éditoriale officielle de Zeste de Savoir" et "Les injections SQL" ne sont pas trouvable depuis le moteur de recherche.

Nous pouvons nous demander, si la tache cron a été mise à jours car aucune erreur n'est remontée.

[2015-11-09 14:31] firm1 commented on #3175
Je rajoute le tag infra puisque ça marchait bien en beta.

[2015-11-09 14:37] DevHugo commented on #3175
Je pense qu'on a oublié de mettre à jours la tache cron car les autres articles/tutoriels sont disponible.

[2015-11-09 15:33] Eskimon commented on #3175
Je viens de vérifier, en tout cas solr est bien en marche. Je vérifie la tache CRON...

[2015-11-09 15:38] DevHugo commented on #3175
Copie la ici, comme ça on vérifie

[2015-11-09 15:44] Eskimon commented on #3175
[code]

[2015-11-09 15:49] Eskimon commented on #3175
Bon je prend la responsabilité de ma bouletitude. L'ensemble des choses pour le cron était bien la, mais le timer n'avait pas été lancé... Je viens de le lancer, on vérifie dans un peu plus de 30 minutes si tout est good...

[2015-11-09 15:52] DevHugo commented on #3175
Ok. Merci Eskimon

[2015-11-09 18:17] Situphen commented on #3170
Il faut changer [cette ligne-ci](https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/ajax-actions.js#L306).

Actuellement, `$$\sqrt{1764} = 42$$` est transformé par le serveur en :

[code]

tandis que `$\sqrt{1764} = 42$` est transformé en :

[code]

Cela est problématique car la condition `$(data).find("mathjax").length > 0` ne prend pas en compte les formules _inlines_ `$`. Elle devrait

[2015-11-09 18:40] DevHugo commented on #3175
On est bon, je ferme !

[2015-11-09 18:40] #3175 closed, assigned to nobody

[2015-11-09 19:16] pierre-24 commented on #3174
Ah, fait ch***, c'est encore plus con que ça : on se sert juste de la BDD pour afficher le titre (en mode "pas besoin de se taper la lecture du manifest pour ça" ... Ben si).

[2015-11-09 19:17] pierre-24 commented on #3172
Le renommage me semble moins casse tête, d'autant que je vois pas vraiment l'intérêt de pas avoir sa liste du mois dernier qui disparait le premier :)

[2015-11-09 20:17] #1393 closed, assigned to Situphen

[2015-11-09 22:07] Eskimon commented on #2957
normalement c'est bon.

[2015-11-09 22:07] #2957 closed, assigned to nobody

[2015-11-09 22:14] pierre-24 commented on #2888
OK, ici on est bon :)

[2015-11-09 22:58] #3153 closed, assigned to nobody

[2015-11-09 22:59] Eskimon commented on #3153
Merci @pierre-24 :)

[2015-11-10 06:56] artragis commented on #3078
pour revenir là dessus :
- chaque commit (donc changement dans le code) est lié à son auteur dans l'historique des tutos
- pour que l'auteur apparaisse dans la liste des auteurs, il faut qu'il soit (encore) inscrit sur le site

En fait l'idée de ne "figer les auteurs que pour la version publique" permet de dire au publique "dans al version que vous regardez, il y a eu ces auteurs là". Ce qu'il se

[2015-11-10 07:22] artragis commented on #3134
Je pense avoir trouvé le potentiel coupable :

[code]

qui est lancé ici :

[code]

Pourquoi dégradation uniquement sur les articles? Car il me semble que contrairement aux tutos qui avaient subi pas mal de traitement pour éviter des bugs bien chients dans l'ancien module, les articles ne faisaient pas une aussi grosse requête. Surtout, la requête était limitée (il y avait un LIMIT quoi) car comme

[2015-11-10 07:33] pierre-24 commented on #3134
À tester, mais il me semblait avoir viré la ligne et pas avoir vu de différences. M'enfin tu peux rajouter un `LIMIT`, ça fait jamais de tord :)

[2015-11-10 10:17] Eskimon commented on #3145
Je remonte la question de pierre :

[2015-11-10 10:19] Eskimon commented on #3133
à fermer ici :)

[2015-11-10 10:19] #3133 closed, assigned to nobody

[2015-11-10 10:23] Eskimon commented on #2775
Bon, je viens de faire des tests en beta, j'ai bien les messages flash comme il faut il me semble. Je ferme donc, le mystère restera entier...

[2015-11-10 10:23] #2775 closed, assigned to nobody

[2015-11-10 10:25] Eskimon commented on #2623
Quid de ce ticket ? Je suppose qu'on attendra le retour de @SpaceFox pour évaluer si faut le fermer ou pas. Merci de le rappeler début décembre :)

[2015-11-10 10:28] Eskimon commented on #1577
@firm1 avait corrigé ce truc, je ferme :)

[2015-11-10 10:28] #1577 closed, assigned to nobody

[2015-11-10 10:38] GerardPaligot commented on #2085
J'aimerais savoir aussi ce qu'il en est de cette requête. :)

[2015-11-10 10:42] GerardPaligot commented on #2217
@ShigeruM Qu'est ce qu'il en est ? :)

[2015-11-10 10:45] GerardPaligot commented on #2245
Est-ce qu'on veut vraiment corriger ça ? Je veux dire : oui on empêche de poster des messages vides mais la manière de contourner la règle est ridicule et ne fait vraiment pas de mal hormis le fait qu'un membre peut effectivement créer un message qui parait vide.

[2015-11-10 11:07] Eskimon commented on #2245
Je suis assez d'accord. Je le passe en zombie pour garder une trace, mais la correction me semble illusoire...

[2015-11-10 11:07] #2245 closed, assigned to nobody

[2015-11-10 16:19] Eskimon commented on #6
Bon, vu que la doc' d'install est suffisamment complète, je ferme ce ticket obsolète.

[2015-11-10 16:19] #6 closed, assigned to nobody

[2015-11-10 17:09] Eskimon commented on #2080
Ce ticket a-t-il une réelle valeur ajoutée ou peut-il être fermé ? (en sachant que le souci des slugs non vérifié est dorénavant réglé)

[2015-11-10 17:11] pierre-24 commented on #2080
Ben après qu'on aie mergé la PR de @artragis sur la suppression totale des anciens modules articles/tutos, faudrait voir comment le chiffre a évolué (en mieux, j'espère :-° )

[2015-11-10 17:11] firm1 opened #3181 "[V12] erreur 500 sur les commentaires d'un tutoriel"
Url incriminée:  https://zestedesavoir.com/contenus/reactions/ajouter/?pk=344

On se prend une erreur 500 qui nous demande de poster le bug ici. Voila qui est fait.

[2015-11-10 17:13] Eskimon commented on #2080
il a pas tellement évolué, mais j'ai des gros doutes sur la pertinence de l'outil quand même... (parce que bon, moins de 10% des pages testés, et la plupart du temps c'est à cause du paramètre &page=

[2015-11-10 17:18] Eskimon commented on #3181
Et voici la stacktrace :

[code]

[2015-11-10 17:19] pierre-24 commented on #3181
Ah. Je pense qu'on se mange notre système de redirection dans la figure, là.

[2015-11-10 17:43] artragis commented on #2080
ma pr n'a pas été mergée eskimon :p

Le 10/11/2015 18:13, Eskimon a écrit :

[2015-11-10 18:39] Eskimon commented on #2080
Arf oui je pense avoir mal compris la remarque, mais mon commentaire sur la pertinence de l'outil reste entier

[2015-11-11 09:39] artragis commented on #3181
si on a un "must redirect" ça veut dire... que la PK n'est pas celle du véritable tuto mais de l'ancien non?

[2015-11-11 09:48] pierre-24 commented on #3181
Plus que probablement.

[2015-11-11 13:40] Eskimon commented on #3102
Je suis pas sur qu'un tag bloquant soit justifié ici. En soit le site marche très bien sans, c'est juste chiant pour les modos qui vont devoir travailler si jamais un spammeur se pointe.

[2015-11-12 07:07] pierre-24 commented on #3145
Bon, si j'ai pas plus d'infos, le ticket va trainer là _at vitam eternam_ :-°

(surtout qu'on c'est fait engueuler comme quoi on laissait des tickets bloquant ouverts, toussa ...)

[2015-11-12 08:15] Eskimon commented on #3145
Engueuler est ptet un peu fort tu crois pas ?

[2015-11-12 09:41] pierre-24 commented on #3145
Ben @GerardPaligot avait pas l'air très content :'(

[2015-11-12 10:00] GerardPaligot commented on #3145
Les robots n'éprouvent aucune émotion. Du coup, il n'y a pas de souci. ^^

[2015-11-12 17:50] GerardPaligot opened #3187 "Les tests ne passent plus sur OS X"
Sur la dernière version de dev (commit 2fcbf7760476be6534e63a7121ad4326ce253425), les tests ne passent plus sur le système OS X. Voici l'output :

[code]

[2015-11-12 17:58] artragis commented on #3187
ne passe plus non plus sous windows avec la même erreur.

[2015-11-12 18:29] pierre-24 commented on #3187
Et sous linux mint non plus, en fait.

[2015-11-12 20:45] artragis commented on #3181
Non l'id est bon, l'url est bonne c'est juste qu'on crée un must_redirect alors qu'on devrait pas. je regarde dans mes armoires si ma baguette magique est toujours là et je te fais ça dès que possible.

[2015-11-12 20:57] pierre-24 commented on #3181
Sort la poupée Vaudou, aussi.

[2015-11-12 21:00] artragis commented on #3181
:p

[2015-11-12 21:55] pierre-24 opened #3190 "Une erreur (d'encodage ?) empêche d'utiliser l'API sur la bêta"
Lorsqu'on essaye de s'autentifier via l'API, c'est impossible, on obtient une erreur 500 :

[code]

L'erreur ressemble à ce qui est reporté là : https://github.com/idan/oauthlib/issues/363 ... Et semble avoir été corrigée. Reste à savoir si on utilise la dernière version de oauthlib.

[2015-11-12 21:56] pierre-24 commented on #3190
(chez sentry, [c'est par là](http://sentry.sandhose.fr/zeste-de-savoir/backend-1/group/280/))

[2015-11-12 22:06] pierre-24 commented on #3190
[Ce commentaire](https://github.com/idan/oauthlib/issues/363#issuecomment-125600336) dit explicitement qu'il "suffit" de passer à django-oauth-toolkit 0.9.0 [là](https://github.com/zestedesavoir/zds-site/blob/dev/requirements.txt#L29). Ça vaut un bêtafix ?

[2015-11-12 22:12] GerardPaligot commented on #3190
C'est bizarre. Pourquoi en local ça fonctionne ? Et il me semble que ça fonctionne chez certaines personnes (ping @Eskimon).

[2015-11-13 06:14] pierre-24 commented on #3190
En local, ça fonctionne nickel, peut-être que c'est lié à postman ?

Tient, au fait, Sentry nous dit [que tu as déjà eu l'erreur](http://sentry.sandhose.fr/zeste-de-savoir/backend-1/group/280/events/8282/)  :)

[2015-11-13 09:18] GerardPaligot commented on #3190
Tout à fait mais je pensais que ça venait de moi parce que Eskimon parvenait à se connecter.

[2015-11-13 11:53] pierre-24 commented on #3190
Ah. Faut voir si @Eskimon utilise pas autre chose que postman :o

[2015-11-13 12:00] Eskimon commented on #3190
J'avais juste fait le test de la doc' pour récupérer mes tokens mais c'est tout. http://zds-site.readthedocs.org/fr/latest/api.html?highlight=api#recuperer-les-tokens-d-authentification

[2015-11-13 12:28] artragis commented on #736
du coup on peut enlever le tag "régression" pour un truc qui date ... d'avant la v1?

[2015-11-13 12:29] artragis commented on #2722
ping @Fumble et @SpaceFox qu'en dit l'assoc ce truc est marqué "régression" donc c'est prioritaire.

[2015-11-13 12:37] Eskimon opened #3192 "[v14] Autocompletion des membres dans les choux"
Sur la v14 l'autocompletion des membres est complètement dans les choux, il n'est plus possible de sélectionner un pseudo et c'est très gênant. J'ai testé ca sur la création de MP ou l'ajout d'un auteur à un tuto et on a les mêmes symptômes. Ce problème n'existe pas sur la prod'.

[2015-11-13 12:49] pierre-24 commented on #3192
@GerardPaligot : l'API des membres ?

[2015-11-13 12:50] artragis commented on #2882
Je pense avoir trouvé une piste : il faudrait sûrement passer un paramètre supplémentaire à notre thumbnailfield.

Voilà il semblerait que ça soit, dans la classe Image :

[code]

[2015-11-13 12:51] artragis commented on #3192
Info technique : la requête ajax se prend une 403.

[2015-11-13 13:00] firm1 commented on #736
Pour info ça marchait avant via l'api REST de solr qui indexe les sujets.
Donc l'API des forums n'est pas forcément  nécessaire  ici (et j'ai même
envie de dire qu'elle n'est pas souhaitable pour notre besoin)

Le ven. 13 nov. 2015 13:28, artragis notifications@github.com a écrit :

[2015-11-13 13:19] Eskimon commented on #3192
Probablement chez toi car l'API est bloqué de ton côté. Par contre chez moi ca marche pas quand même.

[2015-11-13 13:43] Eskimon commented on #3192
Normalement l'API des membres est accessible par tous tout le temps sur la beta (et l'API des MP soumise à filtre IP, et le reste du site soumis au htpass)

[2015-11-13 13:54] Eskimon commented on #3192
Bon apparemment c'est possible que ce soit le front qui soit dans les choux vu qu'on a plus d'icones pour l'éditeur de texte... je vais refaire la release en logguant bien tout je pense...

[2015-11-13 13:59] Eskimon commented on #3192
RAS sur le déploiement, je vois pas d'où vient le problème...

[2015-11-13 14:09] GerardPaligot commented on #3192
On sait me rediriger vers la requête front qui est faite sur l'API ?

[2015-11-13 14:12] GerardPaligot commented on #3190
@pierre-24 Il utilise curl.

[2015-11-13 15:06] Eskimon commented on #3190
si l'un d'entres vous passe me voir sur IRC on pourra essayer avec la beta pour mettre à jour le package oauth et voir si ca change quoi que ce soit :)

[2015-11-13 15:52] Situphen commented on #3192
Je viens de tester sur la béta et en effet l’auto-complétion est morte, mais ça a l'air d'être l'affichage et non pas les requêtes (qui ont un code 200). Je ne sais pas pourquoi car normalement ni le code JS ni les vues ont été changées. Par ailleurs, les smileys aussi ne s'affichent plus alors qu'ils sont encodés en base64 dans le code (S)CSS. Bizarre bizarre cette histoire !

Pour information, l

[2015-11-13 16:50] GerardPaligot commented on #3192
Bon, si le code retourné est un code 200. Inutile pour moi de regarder plus loin. :)

[2015-11-13 19:46] ShigeruM commented on #2217
La dernière fois que j'ai regardé, je n'ai pas trouvé. Je n'ai pas les compétences nécessaires ni, malheureusement , le temps d'acquérir ces compétences en ce moment. Je suis désolé, mais je passe la main.

[2015-11-13 19:54] Eskimon commented on #2217
J'essaierai de voir avec elyppire

[2015-11-14 19:51] artragis commented on #3078
J'aimerai savoir si la solution que je propose est validée histoire que je m'attèle au dev.

[2015-11-14 21:34] pierre-24 commented on #3078
Moi ça me semble tenir la route :) (j'espère qu'on est pas en train de réintroduire des choses en BDD qu'on voulais éviter).

[2015-11-14 23:20] GerardPaligot opened #3194 "Problème de style avec les sommaires des moyens tutoriels"
Sur mon moyen tutoriel, on peut constater un rendu différent entre la version hors ligne et publié.

Publié
<img width="530" alt="capture d ecran 2015-11-15 a 00 16 26" src="https://cloud.githubusercontent.com/assets/1913901/11166316/9a2e1db0-8b2e-11e5-9d7e-c6ac6757a973.png">

Brouillon
<img width="489" alt="capture d ecran 2015-11-15 a 00 20 03" src="https://cloud.githubusercontent.com/assets/191

[2015-11-14 23:31] GerardPaligot commented on #3192
J'ai testé l'autocompletion et on peut clairement se dire que ce n'est pas un problème d'API. La recherche est faite et renvoyée au front mais elle n'est pas bien gérée. On a un gros bug d'affichage. J'ajoute le tag front.

[2015-11-15 08:25] pierre-24 commented on #3194
Ah, je me disais aussi qu'il y avait un problème :o

[2015-11-15 17:43] artragis opened #3196 "Rendre le message d'explication pour les archives plus clair"
Il a été noté sur le forum que lors de l'import des tutoriels (archives) le message `Pour importer des images, veuillez spécifier la seconde archive. Les motifs ![légende](archive:chemin/vers/image.extension), référant aux images stockées dans l'archive, seront remplacés par les URLs générées par le site.` n'était pas suffisamment clair pour les personnes peu habituées.

Il serait sûrement adéquat

[2015-11-15 18:04] pierre-24 commented on #3196
Toutafé. Ne jamais me laisser rédiger un message  :p

[2015-11-15 21:33] artragis opened #3198 "le front ne build pas sur windows"
Mon installation:
dernière version de node (sur leur site)
- npm install
- npm install gulp bower
- npm install

puis :

[code]

[2015-11-16 17:53] Situphen commented on #3198
1. On ne supporte pas Windows
2. Il se peut que cette version de Node ne soit pas supportée

ping @sandhose ?

[2015-11-16 18:00] sandhose commented on #3198
La 4.x de node à priori fonctionne

Par contre contre ta version de npm est pas tout à fait à jour: `npm install -g npm` pour la mettre à jour

`npm install gulp bower` n'était pas je pense une bonne idée (c'est plus dans la doc d'ailleurs), puisque ça a dû mettre la dernière version de gulp sans mettre à jour le reste

Le mieux donc est de supprimer le dossier `node_modules/`, et _juste_ lancer u

[2015-11-16 22:49] pierre-24 commented on #3190
Résultat des tests : mettre à jour la librairie, ça fonctionne très bien pour moi. Par contre, du coup, ça file une 500 au reste du site :'(

(erreur qui me semble bizarement être celle-ci : http://sentry.sandhose.fr/zeste-de-savoir/backend-1/group/282/ )

[2015-11-17 09:00] GerardPaligot commented on #3190
C'est bizarre. Je ne peux pas tester au boulot (IP toussa toussa) mais avant d'aller me coucher hier soir, je n'avais aucune erreur 500 (testé sur /api/mps/ et /api/mps/:id/).

PS : On retrouve quelque part les identifiants de ce Sentry ?

[2015-11-17 09:51] GerardPaligot opened #3200 "Rediriger directement vers le brouillon à partir de la version publiée d'un contenu"
Salut ~~les gars~~,

J'aurais aimé connaitre la différence entre la version hors ligne et brouillon d'un contenu ?

Voilà, c'est tout parce que je ne comprends pas bien.

ping @artragis @pierre-24

[2015-11-17 10:15] artragis commented on #3200
bah en fait tu prends la version hors-ligne, tu l'appelles version
brouillon et paf, tu as la version brouillon.
C'est un truc qui a toujours existé, c'est pas unifié et c'est dommage mais
j'avoue qu'on y a pas pensé sur le coup.

Le 17 novembre 2015 10:51, Gérard Paligot notifications@github.com a
écrit :

[2015-11-17 10:18] GerardPaligot commented on #3200
Malheureusement non, sur une version publiée, si je vais sur la version hors ligne (à partir des raccourcis dans la side bar), je n'arrive pas sur la version brouillon. Pour y aller, je dois encore utiliser un raccourci dans la side bar pour m'y rendre.

Ce process n'a jamais existé avant à ma connaissance.

[2015-11-17 10:36] pierre-24 commented on #3200
Ben le coup, c'est que la version "brouillon", c'est la dernière en date, alors que la version "hors-ligne", c'est la même que la publiée (comprendre le même `sha`) mais dans l'interface d'édition.

[2015-11-17 10:37] artragis commented on #3200
c'est si compliqué que ça? genre pas du tout intuitif là oO

Le 17 novembre 2015 11:36, Pierre Beaujean notifications@github.com a
écrit :

[2015-11-17 10:42] GerardPaligot commented on #3200
@pierre-24 Ok, je comprends la différence. Par contre, @artragis résume bien la situation. C'est juste contre intuitif. Moi je m'en fous de la version hors ligne de la version publiée. Je veux direct arrivé à mon brouillon.

[2015-11-17 10:46] pierre-24 commented on #3200
Ça semble logique, je crois qu'on a gardé ça par rétro-compatibilité :)

[2015-11-17 10:54] GerardPaligot commented on #3200
Bien, je renomme l'issue et je tag large. J'ai presque été tenté de placer le tag "Facile" mais je ne connais pas assez le module des tutos pour savoir si c'est réellement simple.

[2015-11-17 21:18] GerardPaligot commented on #3190
Je passe quand même cette issue en bloquante. Il faut éclaircir ce point sinon pas de release.

[2015-11-19 07:20] artragis opened #3201 "Pouvoir valider les modales avec l'appuie sur "entrée""
Nos modales ne sont validables que si on appuie à la souris sur "valider" ou qu'on sélectionne le bouton avec tab avant. Il serait agréable de pouvoir les valider avec la touche "entrer" lorsque tous les champs sont renseignés, notamment lorsqu'on est dans l'éditeur du forum et des tuto.

La demande initiale vient du forum :

[2015-11-20 20:47] gustavi commented on #617
C'est aujourd'hui possible avec Django 1.8 : https://docs.djangoproject.com/fr/1.8/topics/templates/

[2015-11-20 23:41] GerardPaligot commented on #617
@gustavi La PR Django 1.8 (https://github.com/zestedesavoir/zds-site/pull/3183) est en cours mais il y a une erreur mystique

[2015-11-20 23:44] #3166 closed, assigned to gustavi

[2015-11-21 08:31] gustavi commented on #872
@pierre-24 je peux m'occuper de ça si tu n'as pas commencé ?

[2015-11-21 08:41] artragis commented on #3198
avec bien du mal, j'y suis arrivé (les anciennes dépendances avait créé des fichiers top longs). Je ferme car du coup on supporte officiellement windows.

[2015-11-21 08:41] #3198 closed, assigned to nobody

[2015-11-21 08:48] pierre-24 commented on #872
Je t'en prie ;)

[2015-11-21 09:00] artragis commented on #3192
Je pense que c'est la génération du front qui a foiré.

[2015-11-21 09:01] pierre-24 commented on #3192
Qu'est ce qui te fait dire ça ?

[2015-11-21 09:02] artragis commented on #3192
l'éditeur de texte sans image. et deux trois trucs qui ne fonctionnent
plus dans le js alors que personne n'y a touché.

Le 21/11/2015 10:01, Pierre Beaujean a écrit :

[2015-11-21 09:17] #3076 closed, assigned to nobody

[2015-11-21 10:24] Eskimon commented on #3192
Je déploie une RC3, on verra bien si ca corrige le souci

[2015-11-21 10:32] Eskimon commented on #3192
Bon le front semble un peu mieux marcher, mais l'auto-complétion n'est toujours pas revenu comme elle le devrait.

[2015-11-22 08:51] SpaceFox commented on #2788
Up ?

[2015-11-22 08:51] SpaceFox commented on #2009
Up ?

[2015-11-22 08:58] SpaceFox commented on #3172
+1 pour le renommage. Du coup ça devient normalement « facile ».

[2015-11-22 09:04] SpaceFox commented on #3187
Bizarre… je testerai sous Ubuntu Gnome cet après-midi.

[2015-11-22 13:40] SpaceFox commented on #2722
Idéalement ça devrait être pérennisé sur un serveur de l'association.

[2015-11-22 21:03] Vayel opened #3205 "MAJ automatique des images d'un contenu"
Maintenant que tous les contenus ont une galerie bien définie, il serait chouette de proposer la mise à jour automatique des url de l'image modifiée. L'idée serait simplement de faire un rechercher/remplacer dans le contenu correspondant.

[2015-11-22 21:41] GerardPaligot commented on #3205
Si tu changes les URLs, le problème c'est que tu dois changer ces URLs partout où tu les as utilisé. Alors que maintenant, l'ancienne image est conservée à l'ancienne URL mais la nouvelle image dispose d'une nouvelle URL.

J'aime bien cette façon de faire et je ne suis pas certain de vouloir que ça change de mon côté.

[2015-11-22 21:43] GerardPaligot commented on #2722
@SpaceFox L'ancienne prod n'est pas un serveur pérennisé par l'association ?

[2015-11-22 21:45] GerardPaligot commented on #3187
Linux devrait fonctionner puisque Travis passe sur les tests, non ?

[2015-11-22 21:45] Vayel commented on #3205
La nouvelle image aurait une url différente de l'ancienne, comme actuellement. De toute manière, on est obligé de faire cela pour garantir la validation des images et s'éviter des problèmes avec le cache. L'inconvénient de changer d'url, c'est qu'il faut mettre à jour les anciennes manuellement. Or, comme on veut souvent le faire pour toutes, l'idée serait d'avoir une fonctionnalité permettant de

[2015-11-22 21:47] GerardPaligot commented on #3205
Oui mais toi tu proposes de supprimer l'ancienne URL et donc d'avoir des images "mortes". C'est franchement pas beau.

Impossible. Mes galeries ne sont pas toutes pour des tutoriels/articles.

[2015-11-22 21:50] Vayel commented on #3205
On ne la supprime pas, on se contente de la remplacer là où on veut avoir la nouvelle image

Je crois que tu n'as pas compris. :) L'idée est de remplacer les url dans le contenu. Par exemple, j'ai la section suivante :

[code]

Avec `url1` faisant référence à une image dans la galerie associée au tutoriel.

Je mets à jour cette image dans ma galerie, qui a maintenant l'url `url2`.

Plutôt que de m

[2015-11-22 21:54] GerardPaligot commented on #3205
Ca veut dire que tu veux détecter les galeries attachées à un contenu (du type tutoriel ou article), parser chaque fichier git de ton contenu pour récupérer l'ancienne URL concernée, puis faire les modifications sur chaque fichier qui utilise l'image ?

Déjà, le traitement me parait bien lourd. Puis, on va avoir un comportement différent dans l'édition des galeries d'un contenu et des galeries qui

[2015-11-22 21:55] GerardPaligot commented on #2788
ping @pierre-24

[2015-11-22 21:56] Vayel commented on #3205
Avec la ZEP-12, chaque contenu a une galerie liée, donc l'identification n'est pas compliquée. Après, effectivement, le parcours des fichiers est un peu lourd, mais on n'a pas non plus des thèses de 200 pages sur ZdS.

Si tu en as un, je suis preneur. ^^

[2015-11-23 06:25] pierre-24 commented on #2788
[J'ai testé ici](https://beta.zestedesavoir.com/forums/sujet/4052/questions/?page=1#p76871), à priori on est bon :)

[2015-11-23 06:25] #2788 closed, assigned to nobody

[2015-11-23 06:28] pierre-24 commented on #3205
Malheureusement, @GerardPaligot a raison : ouvrir chacun des fichiers va être très couteux, ne serait-ce qu'en terme d'I/O. L'opération sur un big-tuto me semble donc être particulièrement lourde, surtout pour remplacer des liens.

(donc faire des regex, ce qui n'est pas léger non plus)

[2015-11-23 07:32] gustavi commented on #2009
Faut que quelqu'un avec Debian sous la main test.

[2015-11-23 08:28] GerardPaligot commented on #3205
@Vayel Selon moi, l'utilisateur/auteur devrait être le moins possible côté galerie. Je vois plus cet espace comme un endroit pour récupérer ses ressources si vraiment tu veux les récupérer en dehors de Zeste de Savoir. Du coup, si on améliore pas l'expérience côté galerie, il faut l'améliorer de l'autre côté, l'éditeur. Si on regarde comment fait GitHub pour les ressources, il suffit de placer un

[2015-11-23 08:29] gustavi commented on #2722
Pourquoi ne pas avoir (je sais pas comment fonctionne la prod niveau serveur, faut que je me mette à jour) un VPS dédié à ce genre de choses ? On peut mettre dessus Sentry et Munin par exemple et ça ne couterai que 31€08 par an ce qui est assez peu. Mais je pense que cette discussion devrait avoir lieu sur le forum.

[2015-11-23 08:30] Vayel commented on #3205
Du coup, tu éditerais automatiquement les fichiers, mais côté front-end ? Mais comment gère-t-on les cas où l'image apparaît dans plusieurs sections, vu qu'on ne peut en éditer qu'une à la fois ?

[2015-11-23 08:38] GerardPaligot commented on #3205
Je ne suis pas certain de comprendre. Le front ne fait rien. L'éditeur permet simplement l'upload des images pour les placer dans la galerie associée au contenu (une galerie dédiée aux forums si l'utilisateur se trouve sur un sujet) et le back se charge de traiter l'image.

Comme je le disais, ça ne me semble pas une bonne idée de permettre l'édition de l'image partout. Déjà parce que l'image pour

[2015-11-23 08:39] GerardPaligot commented on #2722
Avec le CA, les membres s'en foutent un peu.

[2015-11-23 08:51] Vayel commented on #3205
Ok, je n'avais pas compris ça. Ce que tu veux faire, c'est épargner aux membres l'upload depuis la galerie et le permettre directement depuis l'éditeur.

Je ne comprends pas ce que tu veux dire par là. Lorsque tu mets à jour une image **rattachée à un tutoriel/article**, tu souhaites généralement que la nouvelle version apparaisse partout à la place de l'ancienne (puisque la nouvelle version est u

[2015-11-23 09:10] artragis commented on #2722
en soit la preprod actuelle peut très bien servir de serveur sentry + munin.

2015-11-23 9:39 GMT+01:00 Gérard Paligot notifications@github.com:

[2015-11-23 12:47] artragis commented on #3141
apparemment google a géré les choses et a compris que ça avait été déplacé, le lien que propose google est le bon. A fermer?

[2015-11-23 13:39] gustavi commented on #3141
Chez moi c'est bon aussi.

[2015-11-23 13:44] gustavi commented on #2722
Ça peut si on ne casse pas la preprod trop souvent ;) Après je suis un partisan de 1 service = 1 serveur (ce que la virtualisation permet de faire) mais c'est assez utopique !

[2015-11-23 16:53] gustavi opened #3208 "Alertes «Gradient has outdated direction syntax » lors du build front"
Voici les alertes en question :

[code]

Les logs complets ici : http://paste.awesom.eu/YCHX

Les version de node et npm :

[code]

[2015-11-23 20:23] #3174 closed, assigned to nobody

[2015-11-23 20:23] #3128 closed, assigned to nobody

[2015-11-23 20:34] gustavi commented on #3187
@pierre-24 on peut avoir un `pip freeze` et un `uname -a` ?

[2015-11-23 21:26] pierre-24 commented on #3187
Tout de suite :
- Je suis bien sur dev:

[code]
- Le test seul réussi :

[code]
- Le test parmi plusieurs tests échoue:

[code]
- Le noyau:

[code]
- Le `pip freeze` :

[code]

[2015-11-23 21:33] pierre-24 commented on #3187
Ceci étant dit, je soupconne la gallerie de contenir ... Un `.silex` ?!?

(ajoutez à cela que la batterie de test détruit joyeusement toutes mes galeries existantes, il faudra [rajouter cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/tests/tests_views.py#L48) au dessus de tout les tests)

[2015-11-23 21:36] pierre-24 commented on #3187
Je confirme, y'a un `.silex` que je sais pas ce qu'il fout là :

![screenshot from 2015-11-23 22 35 23](https://cloud.githubusercontent.com/assets/7889675/11350594/90518894-9232-11e5-9897-8643b4a2ff72.png)

[2015-11-24 07:10] Eskimon commented on #3145
Pas de nouvelles sur le comportement du problème ?

[2015-11-24 08:23] GerardPaligot commented on #3190
J'aurais tendance à tag "infra" ici. Je test à longueur de temps ZMessenger en local et je n'ai jamais aucun problème. 0 erreur 500 depuis que je développe l'application.

Le bug semble donc survenir que sur le serveur de preprod.

[2015-11-24 08:24] GerardPaligot commented on #3192
0 intervention de développeurs fronts. Pour avancer, ça me semble nécessaire.

ping @sandhose et @Situphen (@Alex-D :-°)

[2015-11-24 08:27] pierre-24 commented on #3190
Pareil, jamais de soucis en local. Ceci dit, on ne communique pas exactement pareil avec nos infrastructure en local et "dans la vraie vie".

[2015-11-24 08:32] GerardPaligot commented on #3190
Qu'est-ce que tu veux dire ?

[2015-11-24 08:36] pierre-24 commented on #3190
Ben par exemple, perso, je m'amuse pas à mette un pare-feu/authentification avec `.htaccess` entre mon pc et mon GSM pour tester, alors que c'est le cas sur la bêta. De plus, autant je contrôle ce qui se passe sur mon pc (au niveau des `locale` par exemple), autant je sais pas ce qui se fait sur la bêta/prod'. Pire, je fais tellement de QA qu'il suffit que j'aie "installé un truc" via `pip` pour l

[2015-11-24 08:38] pierre-24 commented on #3145
_nada_ de mon coté :-°

(et irreproductible par ailleurs)

[2015-11-24 08:38] GerardPaligot commented on #3190
Non, tu confirmes simplement que c'est très certainement un problème d'infra.

[2015-11-24 10:32] gustavi commented on #3172
Et pour « Cette année » je mets quoi ? « Les 365 derniers jours » c'est pas génial ... (et en plus c'est 360)

[2015-11-24 10:36] SpaceFox commented on #3172
Y'a la place pour des phrases comme « 1 semaine glissante », « 1 mois
glissant », « 1 an glissant » ?

2015-11-24 11:32 GMT+01:00 Laville Augustin notifications@github.com:

[2015-11-24 10:37] pquentin commented on #3190
(pip-sync pour l'iso-prod niveau pip)

[2015-11-24 10:38] gustavi commented on #3172
Oui mais c'est pas génial je trouve. Après c'est subjectif !

Le code est comme ça :

[code]

[2015-11-24 10:40] SpaceFox commented on #3172
Ou alors on remplace le dernier item par « plus ancien ».

Le 24 novembre 2015 11:38, Laville Augustin notifications@github.com a
écrit :

[2015-11-24 22:15] Fulbert commented on #3192
Chez moi les noms s'affichent mais ils ne sont pas cliquable. Les requêtes fonctionnent bien sur des URL vers https://beta.zestedesavoir.com/api/membres/?search=eski (200).

[2015-11-24 22:56] sandhose commented on #3192
note: si on me mentionne pas, je risque de pas voir ce genre de tickets

Donc, le problème vient du faire que la réponse côté serveur d'un coup s'est transformée de `pk` en `id`

Forcément, comme c'est ce champ qui était [utilisé pour la sélection](https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/autocompletion.js#L228), ça marche moins bien .-.

PR ouverte: #3210

[2015-11-25 16:33] #3192 closed, assigned to sandhose

[2015-11-27 15:58] Situphen commented on #3208
C'est connu par moi et @sandhose depuis quelques temps déjà. Ça doit être une syntaxe CSS qui a changé. Les navigateurs supportent toujours notre code actuel et je n'ai pas réussi à trouver où changer quoi.

[2015-11-27 16:00] Situphen commented on #3201
Par contre, il faudra changer le comportement quand il y a une zone de texte `<textarea>` et valider avec `Ctrl+Enter` !

[2015-11-27 16:33] gustavi commented on #3208
C'est dans les 'grandient' niveau background et autre. Je m'en serai bien occupé mais j'ai peur de tout casse.

Autre chose, vous avez une solution pour que gulp affiche la bonne ligne du bon fichier pour les erreurs comme cela ?

[2015-11-27 22:30] Alex-D commented on #3208
Tu peux chercher comme un bourrin dans tous les fichiers SCSS et remplacer tout les "to left" par des "right" et ça devrait rien changer visuellement mais tu devrais avoir un code plus propre :)

[2015-11-29 16:59] SuperFola opened #3212 "Bug - Impossible de dérouler les menus au survol"
| Q | R |
| --- | --- |
| Correction de bugs ? | oui |
| Nouvelle Fonctionnalité ? | non |

Il n'est pas possible de dérouler les menus de ZdS au survol de la souris, même si l'option "Dérouler les menus au survol" est cochée sur votre profil (https://zestedesavoir.com/membres/parametres/profil/).

Ca à l'air d'être en lien avec [ceci](https://github.com/zestedesavoir/zds-site/blob/e382d5dc04f5b25

[2015-11-29 17:32] GerardPaligot commented on #3212
Une issue est déjà créée https://github.com/zestedesavoir/zds-site/issues/661

[2015-11-29 17:32] #3212 closed, assigned to nobody

[2015-11-29 17:33] GerardPaligot commented on #661
Comme le mentionne récemment @Loodoor via son issue, c'est plus un bug qu'une évolution puisque l'option existe déjà. Je change le tag.

[2015-11-29 20:53] Fumble opened #3213 "Couleur du bouton de recherche sur la home"
Ce vert fait un peu tâche quand on survole le bouton de recherche sur la page d'accueil:
![recherche](https://cloud.githubusercontent.com/assets/634461/11459974/8a5bf89c-96e3-11e5-89e2-b144b35b7649.png)

[2015-11-29 21:07] GerardPaligot commented on #3213
Il y a pas un sujet sur les forums pour discuter des détails comme ça ? C'est plutôt avec la communauté qu'il faut voir ça.

PS : Je me rappel très bien @Situphen qui venait me voir à ce sujet et lui dire que c'était dégeux le vert. Il l'avait changé, puis il l'a remit. Allez savoir pourquoi.

[2015-11-29 21:12] Emeric54 commented on #3213
Le sujet est [ici](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/).

[2015-11-29 21:13] Fumble commented on #3213
Hmm... Je pensais que c'était un bug dans une classe CSS et non une couleur mise en connaissance de cause.

Sinon, je dois t'avouer que j'ai plus tendance à passer directement par GH que par le forum des bugs.

@Emeric54 : merci je vais mettre ma remarque dessus.

[2015-11-29 21:16] Situphen commented on #3213
Je ne sais pas si c'est vraiment un détail. C'est très moche et en page d'accueil.

Oo ?? Euh, si tu as des logs je veux bien ! :) Si j'ai dis ça, que Toutatis crache sa colère sur moi ! Je ne pense pas avoir mis du cette couleur sur ce bouton en page d'accueil. Et je suis d'accord qu'ici c'est moche. Après, je n'exclus pas avoir milité pour ce vert autre-part mais je pense que c'était pour autre

[2015-11-29 23:43] sandhose commented on #3213
C'est en fait un souci de priorité de propriétés CSS, puisque le bouton est censé [être gris](https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/pages/_home.scss#L256). Suffit de rajouter un `!important`, et c'est bon (dans l'absolu j'aime pas les `!important`, mais en l'occurence, la propriété qui override a vraiment trop de sélecteurs, et il faudrait rajouter un truc type `:not(.link

[2015-11-30 09:48] Alex-D commented on #661
C'est une partie des choses que j'ai tenté de relancer via cette ZEP qui n'a pas attiré grand monde : https://zestedesavoir.com/forums/sujet/4491/zep-37-reorganisation-des-menus-deroulants-du-header/

[2015-12-02 07:18] SpaceFox opened #3214 "Passer à Django 1.9"
[Django 1.9 est sorti](https://www.djangoproject.com/weblog/2015/dec/01/django-19-released/).

Devant [les problèmes abscons auxquels on fait face avec Django 1.8](https://github.com/zestedesavoir/zds-site/pull/3183), peut-être qu'un passage direct à la 1.9 nous aiderait ? (j'y crois moyen, mais sait-on jamais).

---

Ce qui a été fait :
- modification des dépendances (là ça va être chiant parce q

[2015-12-02 07:22] gustavi commented on #3214
Surtout que :

[2015-12-02 07:27] gustavi commented on #3214
Spoiler :

[2015-12-02 07:29] SpaceFox commented on #3214
J'avoue ne pas avoir regardé la liste des nouveautés :)

[2015-12-02 07:58] gustavi commented on #3214
Pas de grosse nouveauté comme aux versions précédentes (migrations, templates autres que Django, python 3 etc), les 3 qui nous intéressent sont ici.

EDIT : ce qui change pour ZdS ajouté au premier message.

[2015-12-02 16:53] artragis commented on #3214
je clos ma PR pour django 1.8 alors?

[2015-12-02 17:00] SpaceFox commented on #3214
C'est peut-être plus simple de s'en servir comme base pour passer à 1.9 ? Qu'en pensent les experts ?

[2015-12-02 17:02] gustavi commented on #3214
Je me suis fondé dessus pour ma branche

[2015-12-02 18:01] artragis commented on #3214
si ça fonctionne chez toi parfait.

Le 02/12/2015 18:02, Laville Augustin a écrit :

[2015-12-03 12:09] artragis commented on #2781
Heu, est-ce vraiment un bug?

Il semblerait que la source soit toujours plus grosse que le  texte cité que ce soit ou non sur mobile.

Actuellement la règle est située [ici](https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/layout/_content.scss#L359). Pour clore proprement ce ticket, je vois deux solutions qui ne sont pas mutuellement exclusives:
- diminuer la taille (1.4rem par exemp

[2015-12-03 16:55] Situphen commented on #2781
Perso, je suis pas spécialiste des tailles donc j'en sais rien. :)

[2015-12-03 16:57] pierre-24 commented on #2781
Si je peux rajouter, il y a un problème quand on a un lien dans la source :

![screenshot from 2015-12-03 17 56 35](https://cloud.githubusercontent.com/assets/7889675/11567427/554899c4-99e7-11e5-982a-2a5e7e71e494.png)

On voit qu'effectivement, le lien est plus grand que le texte.

[2015-12-03 17:13] firm1 commented on #2781
J'ajouterai même que si on remonte a quelques versions plus tôt on constate  que c'est une régression jamais remarquée.
Car a l'origine ça n'a pas été  codé ainsi.

[2015-12-04 11:00] #2909 closed, assigned to artragis

[2015-12-04 11:00] gustavi commented on #2909
Corrigé dans #3216.

[2015-12-04 11:04] gustavi opened #3217 "Menu action vide"
Le bug en image : http://i.imgur.com/QUZ30xU.png

Pour reproduire :
- Créer une galerie
- Ajouter un utilisateur en lecture seule
- Se connecter sur cet utilisateur et aller sur la galerie en question

[2015-12-04 15:10] gustavi commented on #1282
Est-ce que vous voulez que je mette en place les 3 choses proposées ?

[2015-12-04 15:38] gustavi commented on #3205
Ça me semble bien compliqué pour pas grand chose. Quand je change des images d'une galerie c'est que je change les images donc je conçois très bien le fait de devoir les mettre à jour dans mes contenus.

De plus changer les URL c'est péter l'historique d'un tuto.

Je suis donc contre ceci et pour moi on a pas affaire à une issue mais plus une suggestion qui aurait sa place sur le forum et non ici.

[2015-12-04 15:49] pierre-24 commented on #1282
oui :)

[2015-12-04 17:27] gustavi commented on #3080
Dans quels cas exactement ? Tu as des exemples ?

[2015-12-04 18:48] GerardPaligot commented on #3080
Il faut alors prévoir un autre bouton pour générer le PDF.

[2015-12-04 18:58] gustavi commented on #2904
UP

[2015-12-04 19:01] gustavi commented on #2995
Pourquoi pas de git ?

Sinon on met en général un `__version__='n.m'` dans le `__init__.py`.

[2015-12-04 20:31] gustavi opened #3223 "Mauvais redirection sur des tutoriels qui n'existent plus"
# Issue à fermer quand v16 en prod et que les url foireuses sur sentry auront été testées.

Via Sentry (URL + /zeste-de-savoir/backend/group/276/).

En gros c'est cette ligne qui plante :  https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_published.py#L36. Je vais fixer ça de suite.

Les logs :

[code]

[2015-12-04 21:41] gustavi opened #3226 "L'URL /login/ existe"
Via [Sentry](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/504/activity/).

J'ai trouvé : https://github.com/zestedesavoir/zds-site/blob/dev/zds/urls.py#L86. En fait c'est *_Exirel_ *sur IRC et je le remercie.

Ça ne concerne que très peu de gens mais on a cette erreur plusieurs fois par semaine.

Soit quelqu'un arrive à savoir de quoi en a besoin dans les URL par défaut pour inclur

[2015-12-04 22:00] GerardPaligot commented on #3190
@gustavi Je te vois super chaud sur le projet pour l'instant alors si tu as une idée à propos de cette issue, ça serait génial. Elle est bloquante pour la release en cours.

[2015-12-04 22:01] gustavi commented on #3190
Je regarde ça dans le WE !

[2015-12-04 22:15] gustavi opened #3227 "Problème d’attribut dans zds/forum/commons.py perform_unread_message()"
Via [Sentry](https://sentry.sandhose.fr/zeste-de-savoir/backend/group/53/).

Logs :

[code]

Le problème est qu'on a `topic_read = None`.

Il faut donc :
1. Analyser comment on a pu avoir ça
2. Faire en sorte d'avoir un truc propre quand on a None

[2015-12-05 09:05] gustavi commented on #3190
Alors j'ai plusieurs questions :
- Est-ce qu'on a un TU là dessus ? Si ce n'est pas le cas il en faut absolument un, on va déjà voir s'il passe et sur quels env (local, CI et preprod).
- Est-ce que les tests actuels passent en preprod ?
- Est-ce qu'on peut déployer une instance avec la dernière version en preprod ?

[2015-12-05 09:43] gustavi commented on #3078
Fixé dans #3199

[2015-12-05 09:47] gustavi opened #3228 "Impossible de faire une demande de màj de validation quand on ajoute un auteur"
Pour reproduire :
- Créer un tuto vide et le publier
- Ajouter un auteur

À partir de là l'auteur n’apparaît pas sur la version publiée (ce qui est normal) mais il est impossible de faire une demande de validation.

La comportement doit être le même avec les articles.

[2015-12-05 10:00] artragis commented on #3228
heu c'était un bug qui venait sûrement de la PR que tu as mergé fallait pas la merger (sauf si le bug existe en prod)

[2015-12-05 10:03] gustavi commented on #3228
Il est impossible de tester ça en prod et je ne vois pas comment la PR que j'ai mergée a pu modifier ça (du moins après une relecture du code c'est correct et ça ne touche pas à la validation).

[2015-12-05 10:34] GerardPaligot commented on #3228
On peut tester le process en bêta ? Si c'est reproductible, pas de problème. Sinon, @gustavi faut y aller molo dans les merges.

[2015-12-05 10:46] artragis commented on #3228
je pense que c'est le merge qui l'a ajouté, faut voir en prod/beta ce qu'il se passe mais on est typiquement dans un pb d'intégration et comme j'ai modifié l'intégration dans ma PR c'est pas impossible.

[2015-12-05 10:48] gustavi commented on #3228
Je teste ça de suite, faut juste me filer les droits sur la preprod.

[2015-12-05 14:43] gustavi opened #3229 "Documenter Sentry"
On a aucune documentation là dessus, ça serait bien d'en avoir.

[2015-12-05 16:57] #3217 closed, assigned to gustavi

[2015-12-05 17:02] #3019 closed, assigned to gustavi

[2015-12-05 17:44] #2977 closed, assigned to Emeric54

[2015-12-05 17:57] gustavi commented on #588
Je travaille là dessus. Je vous tient informé mais ça va prendre un certain temps.

[2015-12-05 17:58] gustavi commented on #1700
C'est outdated ça non ?

[2015-12-05 18:22] GerardPaligot commented on #3228
Les effectifs sont réduits dans cette période de fin d'année. @artragis comme tu sembles présent, tu serais testé rapidement grâce à tes droits de staff ?

[2015-12-05 18:23] artragis commented on #3228
faudrait qu'on me donne le scénario complet et qu'on me dise surquel
serveur je dois le faire.

Le 05/12/2015 19:22, Gérard Paligot a écrit :

[2015-12-05 18:27] GerardPaligot commented on #1700
Tout à fait.

[2015-12-05 18:27] #1700 closed, assigned to nobody

[2015-12-05 18:37] gustavi commented on #1691
Alors j'ai identifié le bug mais je ne sais pas le corriger.

Ça vient du fichier https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/markdown-help.js.

En gros ça ajoute le bouton après `.md-editor` sauf que cette classe ne se trouve pas partout au même endroit.

Sur la création d'un topic ça vient sur le `textarea` sauf que celui-ci est encapsulé dans d'autres `<div>` donc control-group

[2015-12-05 18:48] artragis commented on #3228
j'ai pas les droits de staff sur la béta

Le 05/12/2015 19:22, Gérard Paligot a écrit :

[2015-12-05 19:25] gustavi commented on #1023
UP ! Ping @SpaceFox, c'est toujours d'actualité ça ?

[2015-12-05 19:33] gustavi commented on #1444
ping @Situphen !

[2015-12-05 19:34] Axylium commented on #1700
Si je peux me permettre, pourquoi donc ? Il me semble que les derniers sujets ont été mis sur la home pour débloquer la ZEP et qu'elle continue, mais qu'il était toujours convenu de mettre les sujets chauds sur la home, quand [ils auront été définit](https://zestedesavoir.com/forums/sujet/1213/un-sujet-chaud-quest-ce-que-cest/), non ? (Bon d'accord, le sujet est sans activité depuis des lustres, m

[2015-12-05 19:44] GerardPaligot commented on #1700
@Florianboux Tout à fait mais tant que ce n'est pas décidé par la communauté, ça ne sert à rien d'avoir un ticket sur GitHub. :)

[2015-12-05 19:50] Axylium commented on #1700
Ah ok, je comprends mieux ! Mais vu que tu avais répondu oui à @gustavi pour le _outdated_, je pensais que ça voulait dire complètement abandonné.. ^^

[2015-12-05 19:55] gustavi commented on #2779
@SpaceFox c'est corrigé, tu confirmes ?

[2015-12-05 19:55] GerardPaligot commented on #1700
Non, mais ça sert à rien d'avoir une issue sur GitHub si la fonctionnalité à implémenter n'est pas définie. Si la communauté se met d'accord sur la question, on pourra créer une nouvelle issue qui viendra expliquer en détail la spec. :)

[2015-12-05 19:57] Axylium commented on #1700
Oui oui, j'avais compris, ne t'en fais pas. ;)

[2015-12-05 21:23] Situphen commented on #1691
Comme l'a dit Alex-D plus haut :

Actuellement on utilise `django-crispy-forms` donc on est complètement dépendant des choix de leurs _templates_. Si on veut changer des trucs (pour résoudre ce problème par exemple), il faut faire un fork.

[2015-12-05 21:25] gustavi commented on #1691
Je pense vraiment qu'on peut se passer de faire un fork avec un peu de bidouille. Il suffit de mettre l'attribut `.md-editor` au bon endroit, quitte à le renommer.

[2015-12-05 21:36] Situphen commented on #1691
Je te laisse essayer... Si tu y arrives sans foirer et sans que ce soit trop crade, GG

[2015-12-06 16:29] gustavi commented on #3141
C'est réglé mais j'aimerai accord de @SpaceFox avant de pouvoir fermer.

[2015-12-06 17:22] Eskimon commented on #3228
Maintenant oui :)

[2015-12-06 17:24] Eskimon commented on #1700
Je cale l'étiquette "Zombie" qu'il suffira de virer quand le sujet sera réveillé :)

[2015-12-06 19:34] gustavi commented on #3022
Alors c'est une 500 qui doit faire planter complètement l'application puisque c'est l'erreur 500 avec Clem en gros et non celle avec l'interface du site qui apparait. De plus, ça n’apparait donc pas dans Sentry.

[2015-12-06 19:41] artragis commented on #3228
je viens de comprendre...
not a bug, a feature : s'il n'y a pas eu de changement, pourquoi devrait-on valider quelque chose?

[2015-12-06 19:43] gustavi commented on #3228
Parce que si tu veux ajouter un auteur (par exemple parce que c'est un tuto que tu as importé d'un autre site et qu'un des auteurs ne s'est inscrit qu'après la publication) tu peux le faire mais ça n’apparait pas en prod. Une modification de contenu est nécessaire.

[2015-12-06 19:44] artragis commented on #3228
oui, mais le cas arrive-t-il souvent?

[2015-12-06 23:01] gustavi opened #3233 "La documentation de solr doit être mise à jour"
La page en question :

Ma version est 4.10.4 et les changements notés sont :
- l'url d'accès à solr
- sous Linux on peut détailler un peu, en particulier installer via un packe manager (solr est dans l'AUR sous Arch par exemple)
- sous Linux on peut le lancer avec `systemctl`
- `python manage.py build_solr_schema > %solr_home%/example/solr/collection1/conf/schema.xml` me paraît ne plus être d'actu

[2015-12-07 10:00] gustavi commented on #1958
Fixé dans #3215.

[2015-12-07 10:00] #1958 closed, assigned to artragis

[2015-12-07 10:22] artragis commented on #3233
à fermer, zds n'est pas compatible avec cette version il me semble, c'est même un des travaux en cours de @DevHugo

[2015-12-07 11:49] Eskimon commented on #3190
J'ai mis a jour le package oauth hier en version 0.9 sur la preprod et apparemment tout se passe bien... Bref, on dirait bien qu'une simple PR pour la version fera le boulot

[2015-12-07 11:51] Eskimon commented on #3145
Bon au vu des réactions et de l'importance su bug j'enleve le bloquant...

[2015-12-07 11:57] GerardPaligot commented on #3190
@gustavi L'authentification est faite par une librairie externe. Si on s'amuse à faire les TUs des autres, ça va le faire moyen.

@Eskimon Tu avais pas déjà fais cette manipulation ?

[2015-12-07 12:07] pquentin commented on #3190
@GerardPaligot du coup c'est pas un TU mais un test d'intégration pour vérifier que ZdS utilise la librairie correctement. C'est pas "faire les TUs des autres".

[2015-12-07 13:03] SpaceFox commented on #3141
Je ferme :)

[2015-12-07 13:03] #3141 closed, assigned to nobody

[2015-12-07 13:05] SpaceFox commented on #2779
Je confirme.

[2015-12-07 13:05] #2779 closed, assigned to nobody

[2015-12-07 13:07] SpaceFox commented on #1023
Oui, sauf si quelqu'un y a touché sans prévenir :)

[2015-12-07 13:14] SpaceFox commented on #2904
Plus de raison d'être ici.

[2015-12-07 13:14] #2904 closed, assigned to nobody

[2015-12-07 13:27] DevHugo commented on #3233
Pour l'instant, j'ai la tête sous l'eau, avec le travail donc compter pas trop sur moi.

Je ne m'avancerais pas sur le fait qu'on soit pas compatible avec la dernière version de Solr, c'est possible qu'on le soit ou peut-être pas  (par-contre la dernière version de Haystack, on n'est pas compatible, c'est sur).

Sur la prod, la version officiellement supporté est la 4.9.1. On peut transformer le t

[2015-12-07 13:48] gustavi commented on #3190
@GerardPaligot je parlais juste d'avoir un TU pour voir dans les tests si ça passe. Un simple test tout bidon histoire qu'on se rende compte quand on casse tout ;)

Je confirme que sur la beta tout va bien pas une 500 depuis que @Eskimon a fait la màj.

[2015-12-07 19:45] Eskimon commented on #3190
@GerardPaligot si je l'avais faite, mais a la même époque on avait aussi l'auto complétion et d'autres trucs bizarres qui étaient passé... Du coup je sais pas trop quoi penser...

Qqun a tester la reproducabilite du bug sous jacent ou pas ?

[2015-12-07 19:48] GerardPaligot commented on #3190
Bug pas reproductible en local.

[2015-12-07 20:22] Eskimon commented on #3190
En preprod je voulais dire

[2015-12-07 22:17] gustavi commented on #3214
Je suis dessus.

Voir premier message pour l'avancement.

[2015-12-08 09:38] gustavi commented on #3214
PING @GerardPaligot

À quoi sert cette ligne : `get_cache(extensions_api_settings.DEFAULT_USE_CACHE).clear()`

En fait `get_cache` a été supprimé. Cette ligne est nécessaire ? Si oui par quoi on peut la remplacer ?

[2015-12-08 09:41] GerardPaligot commented on #3214
Je ne suis pas à l'origine de cette ligne mais je sais à quoi elle sert. Elle permet de réinitialiser le cache de l'API entre 2 tests.

Je ping @DevHugo qui est à l'origine de cette modification et qui pourrait sans doute mieux t'éclairer pour la remplacer par autre chose.

[2015-12-08 10:02] gustavi commented on #3214
Il semblerait qu'on ai trouvé une solution.

En revanche on a une dépendance pas à jour qui empêche de faire passer les tests : django-cors-headers. Je suis en train de voir si le dev maintient le truc et sinon je fork ça.

[2015-12-08 10:04] DevHugo commented on #3214
En gros, c'était liés à un souci avec les tests unitaires et memcache de mémoire. Quand on fessait une requête une, il mettait en cache le résultat, puis quand on fessait une requête 2, il nous retournait direct le cache alors que pour les tests unitaires c'était pas pertinent.

Je te laisse lire la [conversation](https://github.com/zestedesavoir/zds-site/issues/2727).

[2015-12-08 20:57] Situphen opened #3234 "Forum - Pouvoir retourner à la liste des sujets facilement sur mobile"
[Proposé par Ishimaru Chiaki sur le forum](https://zestedesavoir.com/forums/sujet/848/fil-dariane-sur-mobile/?page=1#p11704) :

Je propose donc que quand on est sur un sujet du forum, il y ait un lien "retour à la liste des sujets" dans le menu en version mobile.

[2015-12-08 21:51] gustavi commented on #3190
Corrigé dans #3236.

[2015-12-08 21:51] #3190 closed, assigned to Eskimon

[2015-12-09 10:04] gustavi opened #3237 "Pas de prévisualisation de sa biographie"
Lorsqu'on édite son profile (https://zestedesavoir.com/membres/parametres/profil/) il n'est pas possible de prévisualiser sa biographie alors que c'est le cas ailleurs lorsqu'on a du Markdown.

[2015-12-09 10:08] GerardPaligot commented on #3237
C'est plus une évolution qu'un bug.

[2015-12-09 13:10] artragis commented on #3021
dis @sandhose pourquoi la PR n'est pas mise en place?

[2015-12-09 13:10] artragis commented on #3021
heu c'était @Situphen

[2015-12-09 18:04] Situphen commented on #3021
Euh, très bonne question !

[2015-12-10 12:31] gustavi commented on #2888
Ça ne semble pas entièrement fixé (cf pages de mp).

D'ailleurs pourquoi le [v15.6] ?

[2015-12-10 12:37] artragis commented on #2888
en fait c'est fixé sur les featured MAIS pour une raison que j'ignore :
- l'avatar est toujours en http
- par défaut le code d'insertion des galleries prend du http

2015-12-10 13:31 GMT+01:00 Laville Augustin notifications@github.com:

[2015-12-10 12:38] gustavi commented on #2888
Donc je ré-ouvre.

[2015-12-11 22:39] Eskimon commented on #3228
Yep je pense un peu comme artragis : Ce cas va se reproduire tellement rarement face au "j'ajoute un auteur qui va faire des modifs"... J'ai bien peur que ce ticket soit mort-né...

[2015-12-12 13:27] SpaceFox opened #3240 "La taille des images des unes"
Actuellement on a un peu n'importe quoi en images de unes, ce qui fait qu'on télécharges des images beaucoup trop grosses pour ce qu'on affiche (960x960 voir pire, pour une cible de 228x228). De plus, on a régulièrement des images en HTTP ce qui met le bazar dans une page en HTTPS.

Il faudrait donc, dans un monde idéal :
- [ ] 1. Lier toutes les images de la une à une galerie unique accessible pa

[2015-12-13 15:54] sandhose opened #3242 "Configurer la Content Security Policy"
La [CSP](https://developer.mozilla.org/en-US/docs/Web/Security/CSP/Using_Content_Security_Policy) se configure via un Header HTTP (d'où le tag infra ; ca se fera dans la conf nginx) et permet de donner liste explicite des provenance de chaque type de resources (script, images, font, stylesheets...), afin d'éviter au maximum les failles XSS.

Il faut donc se fixer sur une liste de domaines pour cha

[2015-12-13 17:05] SpaceFox commented on #3242
Non, ça pèterait la moindre image hébergée sur un serveur ne supportant pas HTTPS.

[2015-12-13 17:31] #3172 closed, assigned to gustavi

[2015-12-13 17:34] SpaceFox commented on #2888
Attention, certains avatars sont sur des sites externes et donc **ne peuvent pas** être chargés en HTTPS…

[2015-12-13 17:36] gustavi commented on #2888
Le problème ce sont les membres qui utilisent une image sur ZdS et qui utilisent du http. Faudrait forcer le https.

[2015-12-13 17:39] artragis commented on #2888
Oui mais ça OSEF car ça dérange pas la sécurisation de NOTRE connexion.
les avatar qui doivent être traités sont ceux de zds.

Le 13/12/2015 18:34, SpaceFox a écrit :

[2015-12-13 18:00] SpaceFox commented on #3181
Corrigé et mergé --> fermé

[2015-12-13 18:00] #3181 closed, assigned to nobody

[2015-12-13 18:00] SpaceFox commented on #2882
Corrigé et mergé --> fermé

[2015-12-14 11:04] gustavi commented on #2165
La solution est assez simple, il faut dans un premier temps faire les templates semblables à https://github.com/zestedesavoir/zds-site/blob/dev/errors/500.html puis intégrer cela à nginx comme décrit dans ce tutoriel https://www.digitalocean.com/community/tutorials/how-to-configure-nginx-to-use-custom-error-pages-on-ubuntu-14-04

[2015-12-14 11:08] gustavi commented on #2286
Aujourd'hui on a la même chose des deux côtés. SAUF qu'il en manque des deux côtés ...

[2015-12-14 11:10] gustavi commented on #2722
Étant donné qu'on a un serveur Sentry fonctionnel, est-ce que cette issue est toujours pertinente ?

[2015-12-14 11:57] GerardPaligot commented on #2286
@gustavi Tu peux être plus précis ?

[2015-12-14 14:47] firm1 commented on #2666
[Le problème persiste](https://zestedesavoir.com/forums/sujet/4844/impossible-de-manipuler-lapi-de-zds-en-javascript/) et rend inutilisable l'api via du javascript pour faire une webapp externe au site.

[2015-12-14 17:01] Eskimon commented on #2666
Il me semble pourtant que j'avais réussi a faire des requêtes depuis jsfiddle a une époque...

[2015-12-14 18:38] GerardPaligot commented on #2666
Vu les commentaires sur le forum, le bug me semble confirmé mais je n'arrive pas à savoir si c'est l'application qui est en faute ou l'infra. N'y connaissant rien dans ce domaine, je laisse à d'autres régler ce souci.

[2015-12-14 19:35] DevHugo commented on #2666
[Cette](https://github.com/zestedesavoir/zds-site/blob/f097b9aa9d5419ab65363af89af6616f185cf451/doc/source/install/deploy-in-production.rst) documentation est t-elle à jours ? car pas besoin de `add_header Access-Control-Allow-Origin *;`. La librairie le fait déjà. ce qui pourrait créé le souci, quelqu'un veut bien aller voir la configuration sur la prod ou  préprod ? (Vu qu'on  à le même souci en

[2015-12-15 07:12] artragis commented on #3240
bug déjà réglé. Ce problème n'arrivera plus.

Le point 3 peut donc être coché.

[2015-12-15 09:01] artragis commented on #3242
juste par curiosité, les paramètres que tu montres sont les noms "côté nginx" ou ce sont des choses à mettre côté "settings_prod.py"?

[2015-12-15 09:03] artragis commented on #3240
peut être un "point 4" : passer automatiquement une routine optipng sur la gallerie en question?

[2015-12-15 09:04] artragis commented on #3234
peut être marqué comme "facile" car le template est assez clair sur la manière d'ajouter le lien.

[2015-12-15 09:09] gustavi commented on #3242
Pour moi c'est côté nginx.

[2015-12-15 09:10] artragis commented on #3242
je pense aussi, mais la syntaxe telle que donnée ne me fait pas penser à un
fichier nginx là. on a peu de ressource sysadmin alors vaut mieux éviter de
demander @spacefox de faire 50 000 recherches pour gérer ce genre de
paramètres.

2015-12-15 10:09 GMT+01:00 Laville Augustin notifications@github.com:

[2015-12-15 09:33] SpaceFox commented on #3242
Surtout que c'est le boulot de @Un-Cornichon :)

[2015-12-15 11:05] sandhose commented on #3242
Tout ça, c'est côté nginx. C'est un header à rajouter, qui ressemblerait à ça:

[code]

Il y a aussi dans ce header le moyen de donner une URL de report, où le navigateur va envoyer une liste de toutes les resources pas chargées en HTTPS, plus toutes les "violations" de la CSP (donc les potentielles failles XSS). Si on a pas envie/le temps de dev un backend pour ça, y'a le service (à priori gratui

[2015-12-15 11:11] SpaceFox commented on #3242
Par moment à vous lire, je me demande si ZdS n'est pas un site bancaire.

Le 15 décembre 2015 à 12:05, Sandhose notifications@github.com a écrit :

[2015-12-15 13:21] artragis commented on #3242
Je rappelle que les "mixed content" ne concernent que **le domaine zestedesavoir.com** donc on s'en fiche des autres sites.

Ce qu'il nous faudrait c'est forcer les urls en "https" pour les images des galeries (donc qu'on trouve dans les tuto) ou bien mettre par défaut l'url sans le "http://zestedesavoir.com". Il serait bien plus efficace de mettre "/media/gallerie/......".
donc ç part forcer côté

[2015-12-15 16:21] gustavi commented on #3242
Effectivement on devrait pouvoir charger les galeries comme ça, est-ce vraiment compliqué à changer ?

[2015-12-16 09:44] gustavi opened #3243 "impossible de cocher « Se souvenir de moi » sur certains mobiles"
Via le [forum](https://zestedesavoir.com/forums/sujet/4848/impossible-de-cocher-se-souvenir-de-moi/) :

Les cas :
- nexus 5 + Chrome
- oneplus one + chrome
- LG G2 avec Chrome,

Ça ne touche pas tous téléphones.

[2015-12-16 10:02] gustavi opened #3244 "Valider le formulaire d'import d'une galerie sans zip crée une 500"
Via [Sentry](https://sentry.sandhose.fr/zeste-de-savoir/backend/group/296/).

Du coup c'est très simple à corriger.

Les logs :

[code]

L'erreur :

[code]

**NOTE** : comportement à vérifier sur les autres contenus.

[2015-12-16 10:18] artragis commented on #3244
je pense que quelqu'un a appuyé sur "ok" sans mettre de zip.

[2015-12-16 10:19] gustavi commented on #3244
Je confirme ...

[2015-12-16 10:52] sandhose commented on #3242
Bah le problème, c'est surtout les messages existants ; soit on fait ça à coup de grosse requête SQL, soit on fait ça à la volée au moment du rendu markdown. La première solution est plus clean, mais sûrement plus compliquée à mettre en place.

[2015-12-16 10:53] sandhose commented on #3242
Après, pour les nouveaux messages, on peux filtrer directement au moment d'envoyer à coup de RegEx

[2015-12-16 10:54] artragis commented on #3242
bah si côté nginx on force la redirection https ça peut aller non?

sinon au moins il faut que @UnCornichon nous mette la CSP comme tu l'as
proposé.

Le 16 décembre 2015 à 11:53, Sandhose notifications@github.com a écrit :

[2015-12-16 23:07] GerardPaligot commented on #2882
Cette issue est embarquée dans la v14 et la qualité de l'image ZdS sur le [dernier article](https://zestedesavoir.com/articles/978/zeste-de-savoir-passe-en-version-14-et-complete-lapi-avec-les-mp/) est dégueulasse. Je re-ouvre le ticket.

[2015-12-16 23:47] gustavi commented on #2882
C'est juste parce que l'image en question est dégueulasse. Je fais une màj de cette image ainsi que sur les anciens articles avec la fameuse image.

[2015-12-16 23:47] #2882 closed, assigned to nobody

[2015-12-16 23:54] gustavi opened #3246 "Mettre à jour un logo de contenu en brouillon le fait automatiquement sur la version en ligne"
... mais ça propose à nouveau une validation. On a donc un comportement contradictoire. Ça reste néanmoins pas super important.

[2015-12-17 16:52] Emeric54 commented on #2876
Oui, et c'est bien gênant. Je suis persuadé que cette page pourrait être beaucoup plus utilisée, notamment si elle gagnait en visibilité.

Je crois que @sandhose et/ou @Situphen avaient des idées pour ça, mais je ne sais plus exactement quoi. Vous vous en souvenez ?

[2015-12-17 18:21] Emeric54 commented on #2876
L'issue #1921 pourrait résoudre ce problème.

[2015-12-17 18:50] GerardPaligot commented on #2876
Je pense qu'une plus grande réflexion doit être faite que l'issue #1921

[2015-12-18 19:37] #3196 closed, assigned to gustavi

[2015-12-18 19:37] #872 closed, assigned to gustavi

[2015-12-18 19:38] #3244 closed, assigned to nobody

[2015-12-21 16:07] firm1 opened #3251 "La rédaction collaborative fait perdre le texte rédigé si le co-auteur valide son texte avant le mien"
Scénario :
- Je co-écrit un aticle avec un auteur
- Le co-auteur est en train de modifier une section pendant que moi je suis en train de mettre à jour l'introduction et la conclusion tous les deux depuis l'interface en ligne
- Le co-auteur valide son message avant le mien.
- quand j'essaye de valider le mien j'ai un message qui me dit qu'une autre version est passée avant la mienne  ==> bien. Le

[2015-12-21 23:04] GerardPaligot commented on #3251
Il y a un mécanisme qui tente de sauvegarder le contenu rédigé dans l'éditeur non soumis de ZdS ? oO

[2015-12-22 08:29] pierre-24 commented on #3251
Non. Et je suis presque sur qu'il n'y en a jamais eu. Ceci dit, il en faudrait un parce que ce que décrit firm1 est un peu pénible ^^

[2015-12-22 10:56] artragis commented on #3251
Faudra surtout que firm1 apprenne la différence entre regression et bug. Ce comportement a été ajouté lors de la version 1 et ce de manière volontaire car on n'avait pas le temps de faire un truc bien propre !

[2015-12-22 11:22] GerardPaligot commented on #3251
Ca veut dire qu'il y avait quelque chose avant ?

[2015-12-22 11:23] artragis commented on #3251
des erreurs.

Le 22 décembre 2015 à 12:22, Gérard Paligot notifications@github.com a
écrit :

[2015-12-22 11:27] firm1 commented on #3251
La différence entre avant et apres la régression est qu'avant, lorsque le
système te répondais qu'il y'a eu un nouvelle version pendant que je
rédigeais la mienne, le contenu de la zone de rédaction restait inchangé.
Donc on garde tout de même son texte sous la main que l'on peut resoumettre
si l'on juge la soumission légitime. Comme sur les forums quoi.

Le fonctionnement aujourd'hui (post zep12)

[2015-12-22 11:28] GerardPaligot commented on #3251
A mon avis, cela dépendait surtout de ton navigateur parce qu'il n'y a rien dans le code de ZdS qui te garantit cette sauvegarde de tes écrits.

[2015-12-22 11:34] firm1 commented on #3251
@GerardPaligot:  si si. Il suffit,  lorsque ton formulaire n'est pas valide
(c'est a la validation du formulaire qu'on verifiait la possibilité de
conflit) de rebalancer ton formulaire avec son ancien contenu.

C'est le même principe qui est utilisé pour gérer les conflits de
soumission sur le forum.

Le mar. 22 déc. 2015 12:28, Gérard Paligot notifications@github.com a
écrit :

[2015-12-22 11:35] GerardPaligot commented on #3251
Commence par là dude. :)

[2015-12-22 11:51] artragis commented on #3251
en plus ce que tu dis est faux firm1 avant la zep-12 on te disait "une
nouvelle version est a été postée" et c'est CE TEXTE LÀ qu'on te redonnait.
Et on avait dit "un jour mon mettra une interface de merge !

Mais voilà, ce jour n'est pas venu.

Le 22 décembre 2015 à 12:35, Gérard Paligot notifications@github.com a
écrit :

[2015-12-22 12:03] firm1 commented on #3251
Ça ne sert a rien de s'énerver. Si ça s'arrange de penser que  le
comportement était le même avant tant mieux (même si ce n'est pas ce que me
dis le code). Le plus important est de se concentrer sur la résolution du
problème. Et normalement il suffit de faire ce que @GerardPaligot a cité ci
dessus.

Le mar. 22 déc. 2015 12:51, artragis notifications@github.com a écrit :

[2015-12-22 12:11] artragis commented on #3251
Ce n'est pas une question d'énervement mais de justesse. Car justement le
code (que j'avais fait...) dit ceci :
- édition de l'intro/ccl :
  https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L1199
  => on reprend ce qui est stocké sur le serveur
- édition d'une partie :
  https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L1605
  => on reprend ce qui es

[2015-12-22 12:15] artragis commented on #3251
et j'ajouterai que NON il ne "suffit" pas de faire ce que dit andro : car
là on écraserait la version qui a été générée.

Pour les tutos et articles, c'est compliqué de faire un truc qui soit
vraiment utile. Si on règle ça, on aura une killer feature par rapport à OC
mais en attendant, on n'a pas ça.

Le 22 décembre 2015 à 13:11, francois dambrine artragis@gmail.com a écrit
:

[2015-12-22 13:13] SpaceFox commented on #3251
En première approche, je dirais qu'il faudrait pouvoir avoir sur **chaque** champ :
- Un gros avertissement type « Ceci a été modifié entre-temps »
- « Votre version »
- « La version modifiée »

Donc soit doublonner le champ, soit trouver une combine… dans tous les cas ce n'est pas simple.

[2015-12-22 17:00] Vayel opened #3252 "Suggestions de recherche en double"
Dans la barre de recherche sur la page d'accueil apparaissent des suggestions (de simples termes). Mais parfois, certains apparaissent en double. Par exemple :

[code]

Merci.

[2015-12-22 17:50] gustavi commented on #3252
Ça vient de cette ligne là https://github.com/zestedesavoir/zds-site/blob/dev/zds/pages/views.py#L48

Il faut juste changer la méthode pour enlever les index utilisés quand on fait du random.

[2015-12-22 17:52] Vayel commented on #3252
On peut probablement s'inspirer de ça : http://stackoverflow.com/questions/6494508/how-do-you-pick-x-number-of-unique-numbers-from-a-list-in-python

Edit : ah mince, c'est déjà ce qui est fait. --'

[2015-12-22 19:25] Emeric54 commented on #3252
Non, en fait c'est déjà corrigé, et ce sera pour la prochaine version.

J'avais tout bêtement mis deux mots identiques dans le [fichier](https://github.com/zestedesavoir/zds-site/blob/dev/suggestions.txt) contenant la liste des suggestions. Normalement, il y a seulement des problèmes avec _Windows_, _Android_ et _Astronomie_.

Du coup, je suppose que l'on peut fermer ?

[2015-12-22 19:40] Vayel commented on #3252
Ce sont effectivement les mots avec lesquels j'ai rencontré des doublons.

[2015-12-22 19:40] #3252 closed, assigned to nobody

[2015-12-22 20:11] GerardPaligot commented on #3252
Limite, avoir "Android, Android, Android, Android, Android" n'aurait pas été bien dérangeant. :-°

[2015-12-22 20:12] Vayel commented on #3252
Je te mets au défi de me faire un screenshot avec un tel affichage. :P
Edit : ah non, c'est pas possible, vu que le mot n'apparaît que deux fois dans le fichier.

[2015-12-22 20:35] Emeric54 commented on #3252
Oh, vous savez, tout est possible... :-)
![](http://zestedesavoir.com/media/galleries/2674/2fee032d-fb7c-43c8-a941-f08d7bebd686.png)

Au fait @GerardPaligot, on ne devrait pas plutôt écrire _Androïd_ ?

[2015-12-22 20:39] Eskimon commented on #3252
Nop, sûrement car en anglais les tréma n'existent pas (je suppose)

Date: Tue, 22 Dec 2015 12:35:29 -0800
From: notifications@github.com
To: zds-site@noreply.github.com
Subject: Re: [zds-site] Suggestions de recherche en double (#3252)

Oh, vous savez, tout est possible... :-)

Au fait @GerardPaligot, on ne devrait pas plutôt écrire Androïd ?

—
Reply to this email directly or view it on GitHub.

[2015-12-22 20:42] Emeric54 commented on #3252
Justement, si on souhaite repasser ça en bon français, je me posais la question.

[2015-12-22 20:42] SpaceFox commented on #3252
Ce serait alors « Androïde » mais on ne traduit pas les marques (ce qui pourrait néanmoins être drôle).

[2015-12-22 20:45] Emeric54 commented on #3252
Au passage, j'en profite pour mettre ça ici. Si par malchance, on tombe sur les 5 suggestions les plus longues, voilà ce que ça donne :

![](http://zestedesavoir.com/media/galleries/2674/fa6e89f3-a768-4371-a511-60f1034a67bb.png)

L'affichage n'est pas top. Mais d'un autre côté, ça a tellement peu de chances d'arriver...

[2015-12-23 08:27] firm1 commented on #3251
effectivement, mes yeux lisaient le morceau qui concerne l'affichage de la preview plutôt que la soumission du formulaire. Dans ce cas, le comportement existait déjà (c'est bizarre parce que je suis certain d'être déjà tombé sur ce cas et que le comportement était bon).

Sinon, en ce qui concerne la résolution de l'issue. Qu'est ce qui fait que l'on soit obligé d'écraser la version qui a été génér

[2015-12-23 09:03] artragis commented on #3251
si tu remets à l'utilisateur ce que lui a entré, alors tu ne lui donnes pas
ce qui a été modifié, il n'a aucune conscience de l'état du commit. Il
faudrait a la limite lui proposer un "diff view" en plus du formulaire.
diff view où on aurait appliqué son "patch" avec les conflits de merge.

Le 23 décembre 2015 à 09:27, firm1 notifications@github.com a écrit :

[2015-12-23 09:12] pierre-24 commented on #3251
On peut "facilement" présenter une "diff view" puisqu'on a déjà du code pour ça pour l'historique d'un contenu (y'a un templatetag, non ?)

[2015-12-23 09:13] pierre-24 commented on #3251
([en effet](http://zds-site.readthedocs.org/fr/latest/front-end/template-tags.html#le-module-htmldiff))

[2015-12-23 09:20] artragis commented on #3251
omagad, on se met à faire du peugeot "et ce module? oui, zds l'a".

2015-12-23 10:13 GMT+01:00 Pierre Beaujean notifications@github.com:

[2015-12-23 13:10] gustavi opened #3253 "Uniformiser la gestion des tags"
**CETTE ISSUE EST À PRENDRE EN COMPTE APRÈS LA ZEP-25**

Lors de la ZEP-25 il a été décidé de séparer les tags des titres de contenu. Dans un second temps il faudra uniformiser cela avec les forums.

https://zestedesavoir.com/forums/sujet/2378/zep-25-categorisation-des-articles-et-tutoriels/?page=5#p90644

[2015-12-23 14:04] GerardPaligot commented on #3253
Pourquoi cette issue est créée ici si ça rentre dans le cadre d'une zep ?

[2015-12-23 14:23] gustavi commented on #3253
C'est hors ZEP, ça vient après la ZEP-25.

[2015-12-23 20:50] GerardPaligot commented on #2329
Je ne sais pas trop si je dois créer une nouvelle issue ou juste compléter cette issue. Dans tous les cas, voici des informations complémentaires concernant les problèmes de cache sur l'API.

Il y a bien un problème.

Un scénario simple :
1. Dans une conversation, poster un message (à partir de l'API ou non).
2. Demandez la liste des messages de la dite conversation.
3. Constatez que le dernier me

[2015-12-23 22:36] Eskimon opened #3254 "Timeout sans publication lors de la validation d'un gros tuto"
Tout est dans le titre, le site pars en timeout lorsqu'un valido essaie de publier un tutoriel assez gros (en l’occurrence : Arduino). Ce qui est ennuyant c'est que ca ne génère rien du tout, ni le pdf ni l'html ou autre et que le contenu n'est pas mis à jour (pré-ZEP-12 ca partait aussi en timeout mais le contenu en ligne était mis à jour). Du coup à l'heure actuelle le tuto Arduino (et surement

[2015-12-23 23:01] gustavi commented on #3254
Est-ce que l'on sait ce qui génère cette grosse latence ?

[2015-12-23 23:25] Eskimon commented on #3254
Je dirais la public pandoc pdf

[2015-12-24 06:19] pierre-24 commented on #3254
Solution possible : https://github.com/zestedesavoir/zds-site/issues/3080

[2015-12-24 06:55] artragis commented on #3080
ou un tachecron.

[2015-12-24 06:57] artragis commented on #3080
Ou mieux : créer un mode "watchdog" sur la commande "generate pdf" qui observe la création des dossiers dans contents-public.

[2015-12-24 08:52] pierre-24 commented on #3194
Ok :)

[2015-12-24 08:52] #3194 closed, assigned to nobody

[2015-12-24 10:23] artragis commented on #3137
désolé, mais là on ne peut rien faire à part demander @SpaceFox d'aller dans la bdd lui mettre une date de publication en 2014.

[2015-12-24 11:07] Situphen opened #3256 "Pas d'avertissement si quelqu'un a écrit un commentaire avant le sien"
J'étais en train d'écrire le premier commentaire d'un article. Je l'envoie et là je m'aperçois que quelqu'un a écrit et posté un commentaire avant le mien. Normalement j'aurais du être prévenu par le serveur que quelqu'un a écrit un commentaire que je n'ai pas vu !

[2015-12-24 12:04] artragis commented on #3256
Very strange, on a bien tout ça qui est en place pourtant @pierre-24

[2015-12-24 13:34] GerardPaligot commented on #2329
Une issue est en cours sur le dépôt drf-extensions : https://github.com/chibisov/drf-extensions/issues/120

[2015-12-25 11:37] GerardPaligot opened #3259 "Un nouveau message dans un MP crée une notif"
A partir de l'API, si vous créez un nouveau message dans une conversation, une notification sera créée sur le site.

[2015-12-25 20:27] gustavi commented on #3259
En fait je crois que ça fait pareil sur le site sauf que ça charge la page donc ça désactive la notification. Dans ce cas là il faut retirer le tag `API`.

[2015-12-25 21:26] GerardPaligot commented on #3259
Ah oui tiens, j'avais pas vu la chose comme ça. C'est sans doute le cas, je retire le tag.

[2015-12-26 14:09] pierre-24 commented on #3256
Plutôt, oui. Gros problème, c'est que c'est assez difficile à mettre sous forme de T.U.

[2015-12-26 14:51] Eskimon commented on #3256
Ca dépend. La vue nous retourne pas l'ensemble des messages à afficher ? Si oui suffit de regarder qu'on est bien à n au lieu de n+1

[2015-12-28 23:25] SpaceFox commented on #3137
Je veux bien, mais dans l'historique de validation, il n'est jamais considéré comme validé. @Eskimon c'est toi qui t'en étais chargé, tu l'avais validé ou non ?

[2015-12-31 11:40] #3163 closed, assigned to pierre-24

[2016-01-02 17:25] WinXaito commented on #3050
Petit up de ceci car le bug est toujours présent.

[Up de Olybri](https://zestedesavoir.com/forums/sujet/5008/certains-termes-de-recherche-donnent-25-pages-de-resultats-vides/?page=1#p92271)

[2016-01-02 18:14] DevHugo commented on #3050
Je regarde si avec la nouvelle version de Haystack on a le souci mais j'ai pas avancé depuis

[2016-01-02 21:53] SpaceFox commented on #3136
Corrigée pour le code, mais on laisse les tables pour l'instant (cf la discussion de la PR).

[2016-01-03 10:37] Nodraak commented on #2165
Dans l'absolu, au lieu de dire a Nginx de renvoyer tel fichier html pour une 404, on pourrait lui dire d'appeler django, qui renverrais alors la 404 customisée.

Ca évite de devoir mettre à jour un fichier html à chaque changement du template 404 django.

Un truc dans le genre :

[code]

[2016-01-03 10:41] Nodraak opened #3267 "Lien vers le sujet de la bêta-zone pas toujours présent"
Dominus Carnufex [raporte](https://zestedesavoir.com/forums/sujet/5020/lien-vers-le-sujet-de-la-beta-zone-pas-toujours-present/) que :

Je m'en occupe.

[2016-01-03 11:01] aesteve opened #3268 "Pagination : le paramètre page_size peut être ignoré"
Reproducer :

GET `/api/membres?page=2`

Retourne 10 résultats

Puis :

GET `/api/membres/?page_size=100&page=2`

Retourne toujours 10 résultats.

D'après @DevHugo ça semblerait être un problème de [cache](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/api/views.py#L26).

Effectivement il faut toujours inclure l'intégralité des paramètres de la requête dans la clef du cache.

(et év

[2016-01-03 11:03] GerardPaligot commented on #3268
Effectivement, `page` est dans la clé et sans doute pas `page_size`.

[2016-01-03 11:13] aesteve commented on #3268
D'ailleurs je comprends pas bien comment fonctionne le cache.

https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/api/views.py#L38-L40

Le bearer est un paramètre implicite à toute mise en cache ?

Parce que (j'ai pas encore essayé) mais si je fais GetMyDetails pour un utilisateur, puis pour un second utilisateur dans un interval de temps relativement court, faudrait pas qu'il me renvoi

[2016-01-03 11:14] GerardPaligot commented on #3268
Tu trouveras ton bonheur ici : http://chibisov.github.io/drf-extensions/docs/.

[2016-01-03 11:15] GerardPaligot commented on #3268
Ooooh ... ça expliquerait [un problème récent](https://zestedesavoir.com/forums/sujet/4361/zmessenger/?page=3#p91163) que j'ai eu avec un projet basé sur l'API.

[2016-01-03 11:18] aesteve commented on #3268
Yep.

http://chibisov.github.io/drf-extensions/docs/#key-constructor

[code]

[2016-01-03 11:38] Nodraak commented on #3267
97854509d048decaf080255b6537d92737507b53

[2016-01-03 12:26] Nodraak commented on #3267
J'arrive à reproduire le bug avec la version actuellement en prod (v15.0-noel/8f1d710) mais pas avec la plus récente (dev/f182e99).

[Cette pull-request](https://github.com/zestedesavoir/zds-site/pull/3258/files) a surement corrigé l'incohérence.

[2016-01-03 12:26] #3267 closed, assigned to nobody

[2016-01-03 14:41] pierre-24 commented on #3267
Toutafé, je m'en étais occupé :)
On Jan 3, 2016 1:26 PM, "Adrien Chardon" notifications@github.com wrote:

[2016-01-03 17:51] DevHugo commented on #3096
Je sais pas si c'est encore utile mais au cas ou quelqu'un tombe sur le même souci.

Enfait, il te manque un header dans ta requête, le header "Accept" qui te permet de spécifier sous quel format tu attend que le serveur te retourne les données. Par exemple, si tu veux du xml, tu dois lui mettre la valeur "application/xml", si tu veux du json, c'est "application/json".

Ça pourrait donner ça: [htt

[2016-01-03 19:40] aesteve commented on #3096
ça devrait pas renvoyer une 500.

406 à la rigueur.

[2016-01-03 19:59] DevHugo commented on #3096
~~Je suis assez d'accord.~~

Edit: Enfait, je suis pas d'accord, voir la réponse plus bas

[2016-01-03 20:53] WinXaito commented on #3096
Ah merci !

J'essayerai ça quand j'en aurai le temps, merci.
Du coup, selon la suggestion de aesteve, on réouvre une issue pour le `500 -> 406` ou je garde celle-ci ouverte ?

[2016-01-03 22:51] SpaceFox opened #3269 "Requêtes lentes sur la page d'accueil des forums"
La page d'accueil des forums fait des requêtes identiques pour **chaque** forum, dont celle-ci qui provient de [zds/forum/models.py in get_last_message(147)](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/models.py#L142) :

[code]

Problèmes :
1. Le `order` oblige à un tri complet sur une table temporaire, car le critère de tri, bien qu'étant indexé, n'est pas sur la 1ère table de la

[2016-01-03 23:18] SpaceFox opened #3270 "Problèmes de requêtes SQL « cachées » dans les templates"
On a un certain nombre de méthodes sur nos modèles qui provoquent des requêtes SQL quand on les utilise, sans que quoi que ce soit indique au créateur de template que ceci existe.

Si ça permet en général d'avoir un code à peu près clair, c'est catastrophique pour les performances puisqu'on se retrouve à faire des requêtes dans des boucles sur les pages sans même le savoir. Même si les requêtes el

[2016-01-04 07:58] pierre-24 commented on #3270
Si. Après, @artragis a déjà fait énormément de trucs dans ce sens là, donc il "suffit" de continuer :)

[2016-01-04 09:02] gustavi commented on #3270
Une solution pour profile serait de ne plus utiliser de O2O entre User et Profile mais d'utiliser une surcharge de Use : https://docs.djangoproject.com/en/1.9/topics/auth/customizing/#substituting-a-custom-user-model

C'est assez violent.

[2016-01-04 09:05] SpaceFox commented on #3270
Non mais ça, on a déjà essayé, c'est à peu près impossible.

[2016-01-04 09:07] gustavi commented on #3270
Alors on n'a aucune autre option/

[2016-01-04 09:08] gustavi opened #3271 "Uniformiser « commentaire » et « réaction »"
On a commentaire de partout mais à quelques endroits c'est [réaction](https://github.com/zestedesavoir/zds-site/search?utf8=%E2%9C%93&q=r%C3%A9action&type=Code). Ça serait bien d'uniformiser ça.

[2016-01-04 09:12] artragis commented on #3270
C'est lorsqu'on fait la requête qu'on doit jouer avec le chargement des
entités.

ZDS sous utilise clairement les manager, il serait temps qu'on les utilise
plus et mieux.

2016-01-04 10:07 GMT+01:00 Laville Augustin notifications@github.com:

[2016-01-04 09:13] gustavi opened #3272 "Améliorer load_fixtures"
Voici mes remarques pour la commande :
- Il serait bien d'avoir une commande `help` qui affiche les message d'aide
- Les message d'aide manque d'infos (sur la partie contenuv2)
- Le v2 est pénible, est-ce que c'est nécessaire de le garder maintenant qu'on a virer le reste ?
- Les galeries prennent un temps fou, il faut en faire moins par utilisateur
- Pas assez de contenu publié pour les tutos et

[2016-01-04 09:19] SpaceFox commented on #3270
@gustavi je ne vois pas le lien entre tes remarques et le problème que je soulève.

@artragis tu as un lien vers la doc de ce dont tu parles ?

[2016-01-04 09:30] GerardPaligot commented on #3270
En quoi les managers aideront au problème soulevé par spacefox ?

Je pense que le problème est bien plus complexe. Aujourd'hui, pour une vue avec son template donné, on consolide plus ou moins bien partout tout ce qu'il faut pour que le template se suffit à lui même (je dis bien plus ou moins) mais il y a certaines choses inévitables dans les templates parents.

Par exemple, pour tout ce qui est n

[2016-01-04 09:32] artragis commented on #3270
@spacefox : pour le lien
https://docs.djangoproject.com/en/1.9/topics/db/managers/#django.db.models.Manager

basiquement, le manager c'est ce qu'on utilise dans l'attribut .objects

Nous n'utilisons les managers que de manière simpliste (et en plus non
systématique) comme on peut le voir [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/managers.py).

Ces derniers, associés a

[2016-01-04 09:32] pierre-24 commented on #3271
C'est pas une ZEP, ça ?

[2016-01-04 09:33] gustavi commented on #3270
@SpaceFox au temps pour moi j'ai lu un peu vite.

@GerardPaligot mettre du SQL dans le code c'est assez sale et vraiment pénible à maintenir.

[2016-01-04 09:34] pierre-24 commented on #3272
Oui <3

Probablement pas.

Très sincèrement, j'ai choisi les nombres à pouf, on peut imaginer un paramètre pour ça :-)

[2016-01-04 09:34] gustavi commented on #3271
Euh non, pas vraiment, il s'agit juste de changer 2 ou 3 chaines de caractères ^^

[2016-01-04 09:35] pierre-24 commented on #3271
Aaah, my bad, je croyait que tu parlais du nom des modèles :-)

[2016-01-04 09:36] GerardPaligot commented on #3270
Je n'ai nullement proposé d'écrire des requêtes SQL dans le code.

[2016-01-04 09:38] gustavi commented on #3272
Je changerai

[code]

par

[code]

[2016-01-04 09:43] artragis commented on #3270
la suite de ton message donne la réponse à cette question.
- l'organisation : éviter qu'un modèle fasse des choses qu'il ne doit pas
  faire
- une méthode du manager = une méthode qui fait du SQL, même pas besoin de
  préfixer
- simplifer les méthodes qu'on a dans les templatetags
- faire les bons précalculs (style ajouter des .extra pas piqués des
  hannetons comme on peut le voir dans la gestion

[2016-01-04 09:49] aesteve commented on #3270
Y'a pas l'équivalent dans Django du `ModelAndView` de SpringMVC ? Ou de la `contextMap` qu'on retrouve dans d'autres frameworks ?

C'est-à-dire un objet (une simple map/dictionnaire) qui stocke les données dont a besoin le template. Le plus souvent (bis) ces map sont possibles à mettre en cache pour un contexte donné (le contexte peut ou ne peut pas dépendre de l'utilisateur). La complexité est de

[2016-01-04 09:52] GerardPaligot commented on #3270
@aesteve Ce que tu décris semble être déjà le cas actuellement. Nous ne faisons que donner un contexte (qui est une simple map) à nos templates. Cependant, les valeurs dans ces maps sont des objets sur lesquels tu peux appeler des méthodes déclarés dans le modèle. C'est simplement qu'il faudrait rajouter plus d'info dans ces maps pour ne plus devoir faire des appels de méthodes dans nos templates.

[2016-01-04 09:58] DevHugo commented on #3096
Comme tu le souhaite, si on garde celle là, faut changer au moins le titre.

[2016-01-04 10:03] aesteve commented on #3270
Ou renvoyer de "purs" objets et non plus des objets instrumentés / lazy loadés. (mais c'est très difficile à faire il faut encapsuler tous les objets du modèle et court-circuiter le lazy loading, ce qui pose également des problèmes).

Faut renvoyer un objet qui n'est qu'une "vue" (au sens figuré mais potentiellement au sens propre) de la BDD dans ce cas. Je l'ai déjà fait, c'est vraiment pas drôle

[2016-01-04 10:52] pierre-24 commented on #3272
Pourquoi pas. Objectivement, j'ai pas spécialement d'argument pour ou contre ^^ (à part que ça fait pas 100% dans un cas comme dans l'autre :p )

[2016-01-04 10:58] DevHugo commented on #3096
Excuse moi, j'ai écrit une connerie, l'api renvoi bien un 406 quand le header accept est incorrect.
![406](https://cloud.githubusercontent.com/assets/6099338/12088201/6957db36-b2d9-11e5-875c-ec7d3e302a8c.png).

Quand le header n'est pas spécifié, l'api renvoi une erreur 500 comme on a vu au-dessus.

Si on regarde la [RFC](https://www.ietf.org/rfc/rfc2616.txt) (norme) à la page 100:

Si on suit la

[2016-01-04 11:02] aesteve commented on #3096
:+1:

La plupart des API choisissent un mime-type arbitrairement, le plus souvent JSON d'ailleurs.

Après je trouve pas ça délirant de renvoyer une 406.

Mais pourquoi on parlait d'erreur 500 plus haut alors ?