[2015-05-13 06:55] Eskimon commented on #936
bah voila partons comme ca ^^

[2015-05-13 07:05] artragis commented on #2674
chez nous les tags des tutos et des articles sont les mêmes donc faudra juste tester.

[2015-05-13 07:18] Eskimon commented on #2674
Et j'ai trouve le souci ! C'est "simplement" que l'on passe le nom du tag plutot que son slug pour faire le href ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/article/includes/article_item.part.html#L76

(du coup c'est vite corrige :) )

[2015-05-13 07:23] Eskimon commented on #2678
Ca viendrait pas de ca : https://github.com/zestedesavoir/zds-site/blob/fb0cb8e94e534836e5159f372c48a20b9765cc70/assets/scss/pages/_home.scss#L327 ? et que du coup comme on a qu'une seule Une ca fout la merde

[2015-05-13 07:30] Eskimon commented on #2676
Un petit espace ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorial/includes/tutorial_item.part.html#L21

[2015-05-13 07:32] Eskimon commented on #2670
On peut completer au choix le label ou le placeholder ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/featured/forms.py#L50

(PS le format est 228x228 px tu confirmes @sandhose  ?)

[2015-05-13 07:35] Eskimon commented on #2668
Je pense que ta migration a buggue... Dans ma page "Mes articles" certains ont une image. d'autres pas...

![screenshot from 2015-05-13 09 34 41](https://cloud.githubusercontent.com/assets/761168/7605790/6323c864-f953-11e4-96a3-29b45f9103d3.png)

[2015-05-13 07:36] SpaceFox commented on #936
Je n'ai plus de téléphone Android 4.0 au boulot, et même Genymotion ne propose plus d'image de ce type.

Est-ce que quelqu'un a encore ça dans un coin pour tester ?
Si non, on déclare que "tant pis pour les 1.19% des utilisateurs qui ont encore cette chose".

[2015-05-13 07:39] Eskimon commented on #936
Pour moi on rentre dans le même cas que "Les gens qui utilisent IE8 ou un Firefox de 2010" donc oui.

[2015-05-13 07:39] #936 closed, assigned to nobody

[2015-05-13 07:45] SpaceFox commented on #2668
C'est bizarre... Qu'est-ce qu'il y a eu comme modifications à ce sujet ?
D'où proviennent les images des articles ?

2015-05-13 9:35 GMT+02:00 Eskimon notifications@github.com:

[2015-05-13 07:49] Eskimon commented on #2668
Ohhhh j'ai peur...

Voici deux URL d'illustrations d'articles prises en prod (pour comparer l'article qui marche et celui qui marche pas):
- Interview Spacefox : `/media/articles/44/8a06fd25-16f6-430f-81e0-d60aab649c6f.png.60x60_q85_crop.jpg`
- Interview Piwit : `/media/articles/None/ff119055-4a61-446d-b7e6-5af37fb979ba.jpg.60x60_q85_crop.jpg`

Tu vois pourquoi j'ai peur ?

[2015-05-13 10:46] pierre-24 commented on #2674
Je sais plus si c'est le nom ou le slug que j'ai retenu au final dans la ZEP-12 ;)

[2015-05-13 10:49] pierre-24 commented on #2674
... [On est bon côté ZEP-12](https://github.com/artragis/zds-site/blob/zep_12_double_stack/templates/tutorialv2/includes/content_online_item.part.html#L27) !

[2015-05-13 11:13] sandhose commented on #2678
C'est effectivement le fait qu'on a qu'une seule une, puisque les deux dernières sont enlevées sur mobile. Je ferme, donc

[2015-05-13 11:13] #2678 closed, assigned to nobody

[2015-05-13 11:14] sandhose commented on #2670
Je confirme, c'est bien 228x228

[2015-05-13 11:52] firm1 opened #2681 "[Beta 15.5.1] Erreur 500 lors de la consultation d'un tutoriel"
Url incriminée :http://beta.zestedesavoir.com/tutoriels/388/les-cartes-graphiques/516/pipeline-non-programmable/2536/rasterization/

Le problème n'existe pas en prod par contre : http://zestedesavoir.com/tutoriels/388/les-cartes-graphiques/516/pipeline-non-programmable/2536/rasterization/

[2015-05-13 11:58] Eskimon commented on #2681
hum sans stacktrace ca va etre dur...

[2015-05-13 12:29] Eskimon commented on #2659
Plutot ca pierre-24 : https://github.com/orgs/zestedesavoir/people

[2015-05-13 12:53] firm1 opened #2688 "Url de création d'un message privé absente de la doc"
La [doc de l'API](http://beta.zestedesavoir.com/api/) répertorie un ensemble d'url et pas celle de création d'un mp.

[2015-05-13 12:59] GerardPaligot commented on #2688
Toujours le même problème que d'habitude. Les URLs du premier niveau ne s'affichent pas sur la bêta/prod alors qu'elle s'affiche bien en local chez tout le monde. Je change le tags et je préviens @SpaceFox.

[2015-05-13 13:19] pierre-24 commented on #2659
Oui, mais cette page là renseigne uniquement les personnes "reconnues" qui font des contributions régulières. Par exemple, Alex-D n'y est plus, alors que sans lui, ZdS serait probablement nul part. Non ?

[2015-05-13 13:23] firm1 opened #2689 "[v15.5-1/2] Le site n'est plus compatible IE9"
Alors que la page d'acceuil étaient pleinement compatible IE9 en v15.5 (comme en témoigne les screens suivants), la page d'acceuil n'est plus du tout compatible IE9. Je suppose qu'il s'agit d'une regression sauf si on a décidé à un moment l'arrêt du support de IE9.

**Ancienne Home (v15.5)** :

![ie-good](https://cloud.githubusercontent.com/assets/6066015/7611294/d271396a-f983-11e4-91c4-32192491b0

[2015-05-13 13:33] Eskimon commented on #2659
Du coup on met celle-ci et en avant guingamp : https://github.com/zestedesavoir/zds-site/graphs/contributors

[2015-05-13 13:35] GerardPaligot commented on #2689
Je demande confirmation à @SpaceFox mais il semble avoir donné le feu vert pour stopper la compatibilité.

[2015-05-13 13:36] GerardPaligot opened #2690 "Les tests fronts ne passent plus sur Travis"
Tout est dans le titre.

Ping @sandhose et @Situphen

[2015-05-13 13:37] pierre-24 commented on #2681
... Sentry est mort, 502 bad gateway :/

http://sentry.kisai.info/

ping @SpaceFox

[2015-05-13 13:39] pierre-24 commented on #2690
Le problème se situant au niveau de `python-gyp`. Ça peut être passager comme ça peut être un vrai bug méchant.

[2015-05-13 13:40] pierre-24 commented on #2668
Moi je vois pas, je devrais ?

[2015-05-13 13:40] GerardPaligot opened #2691 "Les tests backs ne génèrent plus les fichiers pandoc"
Tout est dans le titre mais ils cherchent des choses dans les templates, je tag donc front.

[code]

[2015-05-13 13:46] Eskimon commented on #2668
Dans la première (qui marche) on a un id, dans la deuxième (qui marche pas) on a `None`

[2015-05-13 13:48] pierre-24 commented on #2668
Oui, ça j'ai vu, mais la question, c'est qu'est ce qui s'est passé pour que ça arrive, d'autant que dans mes souvenirs,  [ce lien là est copié en dur en BDD par le modèle](https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/models.py#L67). Donc à priori, je commencerai par voter pour un truc qui a pas fonctionné dans le _dump_ de la BDD.

[2015-05-13 13:49] Eskimon commented on #2668
Justement, ces deux adresses viennent de la **prod**

[2015-05-13 13:56] pierre-24 commented on #2668
Aaaaah, j'avais pas fait attention, toutes mes excuses.

Ceci étant dit, je crois qu'on à deux problèmes différents, ici: et d'un, on a ce truc bizarre sur l'image de l'interview de Piwit, mais qui n’apparaît que pour celui là (en prod, donc je viens d'aller vérifier). À mon avis, fausse manip ou on a du bousiller notre BDD à un moment.

De l'autre, on à cette histoire d'image. Là, il va falloir a

[2015-05-13 14:01] Eskimon commented on #2668
Ah mon avis le "bousillage de BDD" entraine aussi la merde sur la preprod...

[2015-05-13 15:11] firm1 opened #2692 "[Beta 15.5.1] La rubrique mes tutoriels me renvoit vers la version online d'un tutoriel"
Page incriminée : http://beta.zestedesavoir.com/membres/tutoriels/

**Problème** : Toutes les urls de mes tutoriels en cours d'écriture pointent vers la version online plutôt que vers la version offline. Ce qui fait que la plupart du temps, mes tutos non publiés me renvoient vers une 404

[2015-05-13 15:28] firm1 opened #2693 "[Beta 15.5.1] Le menu d'accessibilité ne fonctionne plus"
Avec la nouvelle page d'acceuil le menu dédié à l'accessibilité de nous ramène plus au bon endroit. Pour ce qui ne l'ont jamais vu, il ressemble à ça :

![accessibilite](https://cloud.githubusercontent.com/assets/6066015/7614152/3de4d196-f995-11e4-9765-5c1aa24fad86.PNG)

Pour y acceder, il suffit d'aller sur beta.zestedesavoir.com et d'appuyer sur la touche `TAB` de votre clavier. Il permet aux ma

[2015-05-13 15:33] Axylium opened #2694 "[Beta 15.5.1] Nouvelle home et Windows Phone"
En testant la préprod sur mon WP, j'ai pu remarqué que la nouvelle home avait des problèmes au niveau des articles, quand il y a plusieurs auteurs (+ 2 en particulier ou deux avec un long pseudo).

Voyez par vous-même :

![wp_ss_20150513_0001](https://cloud.githubusercontent.com/assets/4312887/7614234/cc892906-f995-11e4-8bfd-6ca3801c6e8b.png)

ping @sandhose @Situphen

[2015-05-13 15:37] firm1 commented on #2673
Pour ce qui est de la typo, on a aussi `Tout les membres peuvent écrire et publier des tutoriels`. C'est **Tous les membres**

[2015-05-13 15:38] firm1 commented on #2673
"par et pour les communautés. " => "par et pour **la communauté**."

[2015-05-13 15:39] firm1 commented on #2673
"et garanti sans publicité, le site est géré et".

C'est un point qu'il faudrait à la place de la virgule par exemple.

[2015-05-13 15:51] SpaceFox commented on #2689
En fait ce n'est même pas une régression : [Zeste de Savoir n'a _jamais_ supporté IE9](https://github.com/zestedesavoir/zds-site/issues/2054#issuecomment-70379227). Le support n'a existé que parce que A-312 a voulu faire la PR de support un jour.

[2015-05-13 15:51] #2689 closed, assigned to nobody

[2015-05-13 15:53] SpaceFox commented on #2681
Ha, j'ai oublié de le remettre en route quand j'ai réinstallé mon serveur...

2015-05-13 15:37 GMT+02:00 Pierre Beaujean notifications@github.com:

[2015-05-13 15:54] SpaceFox commented on #2693
Pour être tout à fait honnête, j'ignorais jusqu'à l'existence de ce menu.
Peut-on vérifier qu'elle est bien documentée quelque part ?

[2015-05-13 16:05] firm1 commented on #2693
Ce n'est clairement pas documenté ce truc

[2015-05-13 16:18] firm1 opened #2695 "Derniers sujets sur la Home : la date sur mobile n'est pas optimisée"
Sur mobile on à en général pas beaucoup de place. Et il faudrait éviter d'afficher la date literralle pour optimiser la place. Cf screen (paysage).

![13 mai 2015 181424 gmt 0200](https://cloud.githubusercontent.com/assets/6066015/7615213/59898462-f99c-11e4-866d-a136e7446c5b.jpg)

[2015-05-13 17:27] Situphen commented on #2694
Je renommerais ça en "Nouvelle home et petits écrans" ! :D

Note : Il faudrait passer les dates dans un format plus court et couper les auteurs avec "...". Ou mettre tout en police plus petite mais au risque que ce soit quasiment illisible !

[2015-05-13 17:32] Situphen commented on #2690
Le problème vient de "lwip", une dépendance de "gulp-sass". C'est pas la première fois (en faite c'est tout le temps elle qui foire).

Trois solutions :
- attendre que ça passe ;
- utiliser "npm shrinkwrap" (je pense que ça pourrait résoudre ça mais ça y crée un fichier de 20000 lignes environ) ;
- changer pour utiliser le vrai logiciel sass mais faut installer ruby et tout le bouzin derrière.

Il

[2015-05-13 17:35] Axylium commented on #2694
Ah, je ne sais pas, je n'ai pas pu tester sur d'autres terminaux et vu que c'est Internet Explorer, j'ai pas chercher plus loin.. ^^

[2015-05-13 17:51] pierre-24 commented on #2690
Bon. Heureusement que c'est pas arrivé hier soir, sinon j'entend déjà @SpaceFox crier d'ici. Par contre, c'est particulièrement ennuyeux puisqu'il y a plein de bugfix de la page d'accueil qui concernent le _front_. D'ailleurs, question: est ce qu'il y a éventuellement moyen d'utiliser celui buildé par Travis hier ? Parce que évidement, ce matin, j'ai du faire un `npm install`. Je vous laisse imagi

[2015-05-13 17:59] SpaceFox commented on #2690
Je crois qu'il devient **urgent** de trouver une stack **fiable** pour le front. Vraiment.

[2015-05-13 18:11] Luuka commented on #2679
Le problème vient du fait que le fil d’Ariane n’apparaît plus sur la home.
En temps normal c'est le champ de recherche du fil d'Ariane qui est dupliqué et inséré dans le menu mobile.

cf : https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/mobile-menu.js#L74

[2015-05-13 19:36] Eskimon commented on #2695
hum... je sais pas s'il faut tagger Bug ou Regression...

[2015-05-13 19:39] GerardPaligot commented on #2695
Je dirais une évolution en fait puisque c'est déjà comme ça et que c'est pas un bug d'affichage, juste un confort d'utilisation.

[2015-05-13 20:03] Situphen commented on #2695
Ce sera sûrement réglé en même temps que #2694 ! ;)

[2015-05-13 21:21] SpaceFox commented on #2676
Corrigé, merci !

[2015-05-13 21:29] Eskimon commented on #2676
Pourquoi c'est réouvert ?

[2015-05-13 21:35] Situphen commented on #2676
Erreur, désolé :(

[2015-05-13 21:35] #2676 closed, assigned to nobody

[2015-05-13 22:00] SpaceFox opened #2699 "Se débarrasser de Tox (ou trouver un moyen de le fiabiliser)"
Comme on peut le constater à cette adresse https://travis-ci.org/sandhose/zds-site/jobs/62471904#L640 ; Tox a décidé, seul, sans aucune intervention de notre part, de **ne plus** exposer les variables d'environnement.

La conséquence, c'est que plus aucun build front ne fonctionne.

Ceci viendrait du fait que sa version n'est pas fixée, et que surprise ! on est passés en v2.0.0. Je vous laisse lir

[2015-05-13 22:24] SpaceFox opened #2700 "[Beta 15.5.1] Les fichiers statiques ne sont plus versionnés"
Sur la bêta, les fichiers statiques ne sont plus versionnés (il n'y a plus de hash dans l'URL), du coup les visiteurs ont des problèmes de cache, puisque ces ressources ont un cache navigateur de 1 an.

J'ai vérifié l'infra, toutes les règles demandées dans la PR #2242 qui implémentait ceci semblent respectées.

@Situphen ou @sandhose vous voyez quelque chose avec le nouveau déploiement / build du

[2015-05-13 22:45] Situphen commented on #2700
Je pense que le script de déploiement est bon. Je pencherais plus sur une mauvaise configuration de Django suite au passage à la 1.7

[2015-05-13 22:54] SpaceFox commented on #2700
Ben, la conf sur la prod est bonne, et elle est en Django 1.7.

[2015-05-13 23:28] #2690 closed, assigned to nobody

[2015-05-13 23:28] #2664 closed, assigned to nobody

[2015-05-14 02:55] pierre-24 commented on #2625
Il semblerai que ça fonctionne ?

[2015-05-14 06:49] Eskimon opened #2702 "Comportement de l'edit des MP"
Via moi-même sur le forum, les +1 semblent être d'accord (+8 -0)

A l'heure actuelle on peut éditer nos MP si un des participants n'a pas encore répondu au sujet.

Je trouve ce comportement trop permissif et assez perturbant. En effet, impossible de savoir si mon EDIT sera visible ou non par l'autre (car pas de nouvelles notifs). Du coup je pense qu'il serait plus pertinent de bloquer les edit des

[2015-05-14 07:31] Eskimon commented on #2648
Sur une install toute propre toute fraiche je viens de faire l'install de tout écosystème (solr inclus) et ça marche nickel. Du coup question habituelle : tes requirements sont-ils a jour ?

[2015-05-14 08:27] Eskimon commented on #2483
Cay bon :) Merci @pierre-24 pour toute l'investigation !!

[2015-05-14 08:27] #2483 closed, assigned to pierre-24

[2015-05-14 08:27] Eskimon commented on #2616
Hop tout roule, merci @pierre-24 !

[2015-05-14 08:27] #2616 closed, assigned to pierre-24

[2015-05-14 11:07] #2648 closed, assigned to nobody

[2015-05-14 11:08] DevHugo commented on #2648
Ça doit venir de mon côté, je ferme alors.

[2015-05-14 11:50] Eskimon commented on #2691
En local ? Sur Travis ?

[2015-05-14 12:01] sandhose commented on #2693
Euh, il fonctionne bien...
Le menu va bien... Au menu ;  le contenu, c'est à partir du texte de présentation, et la recherche va bien sur le champ de recherche...

[2015-05-14 12:17] Eskimon commented on #2693
Oui j'ai l'impression que ca marche aussi, en tout cas le comportement est le meme qu'en prod et personne ne s'en ai jamais plaint...

[2015-05-14 13:51] SpaceFox commented on #2671
La PR de @GerardPaligot remet le compteur d'appels de méthodes à une valeur proche de l'actuelle, donc je considère ce ticket comme fermé.

[2015-05-14 13:51] #2671 closed, assigned to nobody

[2015-05-14 14:52] pierre-24 commented on #2640
Mergé !

Ça veux dire qu'on va pouvoir se repencher sur Django 1.8, du coup ... Normalement ^^

[2015-05-14 14:52] #2640 closed, assigned to SpaceFox

[2015-05-14 15:29] sandhose commented on #2691
C'était dû au fait que tox exposait plus les variables d'environnement. Ca a donc été fixé avec ma PR récente sur travis. Je ferme

[2015-05-14 15:30] #2691 closed, assigned to nobody

[2015-05-14 15:36] pierre-24 commented on #2659
Mergé, donc merci @Eskimon  :)

[2015-05-14 15:36] #2659 closed, assigned to nobody

[2015-05-14 16:09] Eskimon commented on #2700
(Est-ce que ca mérite vraiment une mention "bloquant" ?)

[2015-05-14 16:10] SpaceFox commented on #2700
Si la moitié des visiteurs qui reviennent a une home cassée, oui.

[2015-05-14 16:10] SpaceFox commented on #2700
Par contre, ça a fonctionné donc c'est bien une régression.

[2015-05-14 16:11] sandhose commented on #2700
Bah, le site va mal s'afficher chez quasiment tout le monde, et demander au utilisateurs de vider leur cache n'est pas une solution

[2015-05-14 16:20] sandhose commented on #2693
On peut fermer, du coup ?

[2015-05-14 17:34] Situphen commented on #2700
Esty que quelqu'un peut tester le fonctionnement en local ? (Il faut suivre les instructions de #2242)

[2015-05-14 21:29] #2673 closed, assigned to SpaceFox

[2015-05-14 21:32] sandhose commented on #2667
Pour cette page, j'ai rapidement fait cette aprem un design pour les éléments de cette page, qui reprend le design des éléments sur l'accueil:

![](http://s.sandhose.fr/zestedesavoir/help-item.gif)

(il s'agit de l'animation au hover, et elle sera bien sûr plus rapide et plus clean "en vraie", c'est juste pour montrer l'idée)

Je sais pas si j'aurais le temps de l'implémenter ; ping @Situphen, si

[2015-05-14 21:37] sandhose commented on #2625
Oui, ça a été utilisé lors du déploiement de la v15.5.1 en bêta. Je ferme, donc

[2015-05-14 21:37] #2625 closed, assigned to nobody

[2015-05-14 21:58] Situphen commented on #2667
Je n'aurais pas le temps et puis du bugfix reste du bugfix : on se contente de résoudre le problème, point final !

J'aime super bien l'idée (quoique que c'est un peu trop gris) ! Je crois avoir entendu parlé qu'il y aura peut-être une deuxième itération de la ZEP 3, je te conseille donc de proposer ton idée sur le forum. ;)

[2015-05-15 06:20] Eskimon opened #2707 "Ne pas afficher les bannis dans l'autocomplete"
Lorsque l'on rédige un MP (ou qu'on utilise l'autocomplete en général) il serait bon de ne pas afficher les membres bannis, ou alors de les afficher avec une mention précisant qu'ils sont bannis et ne pas pouvoir les sélectionner.

Source : https://zestedesavoir.com/forums/sujet/3157/envoyer-un-mp-a-un-membre-banni/

[2015-05-15 06:45] Eskimon commented on #2699
Le souci est rentré dans l'ordre, la version de tox est la plus récente et est fixée (comme pour toute nos dépendances en fait) pour éviter les surprises futures du même genre. Je ferme car un paquet suffisant de PR viennent de passer Travis avec ce comportement sans souci :)

[2015-05-15 06:45] #2699 closed, assigned to nobody

[2015-05-15 06:53] Eskimon commented on #2662
Et voila, c'est corrigé !

[2015-05-15 06:53] #2662 closed, assigned to DevHugo

[2015-05-15 07:01] Eskimon commented on #2681
Je passe en bloquant, on peut pas se permettre de se prendre des 500 a la lecture des tutos.

[2015-05-15 07:03] Eskimon commented on #2668
Du coup je suis le seul a etre inquiet de voir un `None` comme id ?

[2015-05-15 07:40] Eskimon commented on #1577
@SpaceFox tu pourrais trouver de combien d'indices est le décalage des id entre `profile` et `user` . Parce que la c'est inquiétant comme problème je trouve. Et surtout "a part la fusion de profile et user comment resoudre les problemes ici" ?

[2015-05-15 08:01] SpaceFox commented on #1577
Y'a 1 de décalage : les derniers IDs sont de  2717 / 2718.

Le dernier membre avec les IDs communs est le n°756 "Le Berger".
Le premier avec des IDs différents est le 757 (member_profile) / 758 (user_id) "captain28".

On parle de gens qui se sont enregistrées le 24 juillet 2014.

[2015-05-15 08:13] Eskimon commented on #1577
Quels sont les impacts si on décide de faire un reset des id a partir de l'id 750 par exemple (histoire de réaligner les deux tables) ?

[2015-05-15 08:16] SpaceFox commented on #1577
On ne fait pas.

Ce sont des IDs techniques, ça doit fonctionner même si les IDs sont complètement différents d'une table à l'autre.

Et si on est incapables de gérer ça proprement, on fusionne ces deux tables.

[2015-05-15 08:19] Eskimon commented on #1577
De toute évidence pour Django c'est pas le cas... Problème du framework ou on a fait une merde quelque part ?

[2015-05-15 08:21] GerardPaligot opened #2708 "Impossible de tester l'API avec authentification sur la preprod"
Depuis toujours (même à l'époque des tests sur l'API des membres), il était impossible de tester l'API si nous avions besoin d'une requête authentifiée pour une "simple" raison :

L'en-tête de la protection htaccess et l'en-tête d'authentification de l'API sont identiques et s'écrasent l'un l'autre.

Alors pour les membres, c'était pas "trop" dérangeant. La plupart des URLs étaient non authentifié

[2015-05-15 08:24] Eskimon commented on #2708
solution simple : virer les authentifiant htaccess de la preprod. Est-ce un problème ? Il y a t'il un risque a faire cela ?

[2015-05-15 08:26] SpaceFox commented on #1577
On a forcément fait de la merde quelque part, en se mélangeant les pinceaux entre `member_profile.id` et `auth_user.id` : comme à la base c'était les mêmes (alors qu'absolument rien ne le garantit), on est parti du principe que c'était les mêmes et qu'on pouvait utiliser indifféremment l'un ou l'autre.

[2015-05-15 08:27] SpaceFox commented on #2708
Si on vire le contrôle d'accès de la préprod, on doit **garantir** que le contenu de cette préprod reste **invisible** aux robots d'indexation.

[2015-05-15 08:32] GerardPaligot commented on #2708
La seule piste que j'ai, c'est celle-ci : http://www.django-rest-framework.org/api-guide/authentication/#apache-mod_wsgi-specific-configuration

Mais, à ma connaissance, nos serveurs ne sont pas derrière un Apache. Il faudrait voir s'il existe un équivalent sous nginx.

[2015-05-15 08:33] GerardPaligot commented on #1577
On me rappelle comment on peut merge ces 2 tables ?

[2015-05-15 08:35] Eskimon commented on #1577
Avec plaisir ! https://github.com/zestedesavoir/zds-site/issues/2295

[2015-05-15 08:46] firm1 commented on #2693
Z'etes sur qu'il fonctionne bien ? Chez moi (firefox) j'ai perdu en accessibilité.
- Lorsque je décide d'aller vers le menu, il m'y amène : pas de problème.
- Lorsque je décide d'aller à la recherche : il m'y amène, mais le problème c'est que je ne peut pas saisir dans cette recherche, donc je suis obligé d'utiliser ma souris pour que le cusrseur y soit : **pas ok**
- Lorsque je décide d'aller au

[2015-05-15 08:48] Eskimon commented on #2693
C'est deja comme ca en prod' en tout cas.

Du coup je vois pourquoi reouvrir, mais on est d'accord c'est du bug, pas de la regression ?

[2015-05-15 08:51] firm1 commented on #2693
Non, en prod, je fais ça :
- `<Tab>`
- "Aller à la recherche"
- `<Enter>`
- `<Tab>`
- Je peux saisir ce que je veux dans la recherche.
- `<Enter>`
- J'ai mon résultat de recherche

[2015-05-15 08:52] Eskimon commented on #2693
pas sur chrome :( (mais effectivement oui sur Firefox)

[2015-05-15 08:54] firm1 commented on #2693
Donc on a bien regraissé ?

[2015-05-15 08:55] Eskimon commented on #2693
Vi effectivement sur FF :)

[2015-05-15 08:58] firm1 commented on #2589
Du coup je rajoute le tag bloquant ici.

Une fois qu'on est sanctionné par Google ça sera difficile de se refaire notre SEO

[2015-05-15 09:01] Eskimon commented on #2589
ping @Ge0 :)

[2015-05-15 09:04] firm1 opened #2710 "[15.5.1] Les liens des derniers messages ne sont pas clicables"
Avec la nouvelle Home, les derniers sujets crée sont bien a leur place. Cependant, on a l'information qui nous dit qu'il y'a une dernière réponse, mais ce n'est pas un lien clicable. Du coup depuis la Homme on ne peut arriver qu'au premier message du topic.

Il serait bien de rendre le lien "Derniere réponse" clicable

![no-clicable](https://cloud.githubusercontent.com/assets/6066015/7649919/b7a86

[2015-05-15 10:04] GerardPaligot commented on #2674
Merci à @Eskimon pour le fix et @DevHugo pour la QA.

[2015-05-15 11:43] GerardPaligot opened #2711 "Incohérence entre User et Profile"
Je viens créer l'issue officielle pour ce problème épineux.
# Quel est le problème ?

Historiquement, lorsque nous voulions référencer un utilisateur dans nos modèles, nous spécifions `User` comme clé étrangère. Cela demande donc :
- Faire une requête supplémentaire à chaque fois que nous voulons récupérer son profile. Cela ne doit pas couter chère mais, au vu du nombre de fois que cette requête e

[2015-05-15 11:58] pierre-24 commented on #2668
Ben là, en l'occurence, c'est uniquement sur l'article que tu as cité. Pour moi, c'est pas ça le problème :o

[2015-05-15 12:00] firm1 commented on #2668
ça ressemble très fortement à un problème de migration (et anonymisation) de la base de donnée de prod vers la beta (donc plutot infra finalement). J'ai publié un article recemment et visiblement on a bien l'image de son article.

Est-ce qu'on peut vérifier que la migration des datas a bien réussie ?

[2015-05-15 12:02] SpaceFox commented on #2711
La doc parle en gros de 2 manières d'avoir des éléments custom dans les comptes utilisateurs :
1. [Étendre le modèle utilisateur via un proxy](https://docs.djangoproject.com/en/1.7/topics/auth/customizing/#extending-the-existing-user-model)
   - C'est le modèle actuellement utilisé.
   - Plus simple à créer
   - Permet d'éviter de récupérer les données custom quand on en a pas besoin
   - Nécessit

[2015-05-15 12:03] SpaceFox commented on #2668
_Data_, même au pluriel.

J'ai déjà une API complète avec cette faute au boulot, c'est pas pour la retrouver ici :)

[2015-05-15 12:18] GerardPaligot commented on #2711
Ok, merci pour tous ces détails @SpaceFox. Par contre, j'aimerais t'exposer un autre problème. Je le mentionne pas dans le premier message parce qu'il est fortement lié à notre situation actuelle aujourd'hui.

Prochainement, nous allons mettre en production l'API des MPs, difficilement utilisables à cause de cette incohérence. On pourrait donc être tenté de proposer un fix (sur cette incohérence)

[2015-05-15 12:25] firm1 commented on #2668
hihi, j'ai trouvé un nouveau moyen de te troller alors :)

[2015-05-15 12:29] SpaceFox commented on #2668
N'essaie même pas.

[2015-05-15 13:03] Eskimon commented on #2668
Donc il y a que moi que ca derange que **en prod** j'ai des images d'articles avec des pk et d'autres avec des None ?

[2015-05-15 13:04] SpaceFox commented on #2668
Non, ça me dérange aussi...

[2015-05-15 17:17] pierre-24 commented on #2668
C'est ennuyeux, mais pas critique. Pour moi, ça veux dire que pour une raison donnée, ces articles là ont vu l'upload de l'image être complètement bousillé. [Et c'est pas étonnant, parce que je m'étonne de la manière dont c'est écrit dans le code](https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/models.py#L203) ([et plus précisément ici](https://github.com/zestedesavoir/zds-site/blob

[2015-05-15 17:27] pierre-24 commented on #2668
Je confirme: créer un article en remplissant le champ "image" à la création envoi l'image dans un dossier `None` (parce que `pk` est pas défini au moment de la création), réuploader l'image la balance au bon endroit :)

[2015-05-15 21:12] firm1 opened #2713 "😂"
PouruPourquoi  le

[2015-05-15 21:19] SpaceFox commented on #2713
@firm1 ça va ?

[2015-05-15 21:25] GerardPaligot commented on #2713
Avoir un accès à Internet quand on est bourré, c'est jamais une bonne idée.

[2015-05-15 21:25] #2713 closed, assigned to nobody

[2015-05-15 21:26] SpaceFox commented on #2713
Ou alors il a filé son téléphone à son petit neveu ?
Le 15 mai 2015 23:26, "Gérard Paligot" notifications@github.com a écrit :

[2015-05-15 23:58] Axylium opened #2714 "[Beta 15.5.1] Nouvelle home et catégorie des tutos"
Sur la nouvelle home, quand un tuto possède plus catégories, entre la première et le « _et_ », il manque un espace.
- « _Dans Ordinateurset Electronique [...]_ » ;
- « _Dans JavaScriptet NodeJS [...]_ » ;
- Etc, etc..

![capture du 2015-05-16 01 53 53](https://cloud.githubusercontent.com/assets/4312887/7663677/fd2aa9b0-fb6e-11e4-88b1-257afc4cc553.png)

[2015-05-16 07:52] Eskimon commented on #2714
Déjà remonté, déjà corrigée ;)

[2015-05-16 07:52] #2714 closed, assigned to nobody

[2015-05-16 08:49] Axylium commented on #2714
Ah pardon ! J'avais pas vu l'issue à ce sujet passée !

[2015-05-16 09:27] sandhose commented on #2710
J'adore toujours autant tes montages sur Gimp, @firm1  <3

Sinon, si on rend la dernière réponse cliquable, le membre ne le sera plus (impossible de faire des liens "imbriqués"). Mais je pense pas que ca soit gênant, et effectivement, que la dernière réponse soit cliquable semble important.

Par contre, est-ce que ca doit être la dernière réponse, ou comme sur le forum, la première réponse "non lu

[2015-05-16 09:37] Eskimon commented on #2710
Ca sent plus le paint que le gimp :D

[2015-05-16 10:53] SpaceFox commented on #2710
On peut tout à fait mettre un lien sur "dernière réponse" et un autre sur le nom du membre.

[2015-05-16 11:09] sandhose commented on #2710
@SpaceFox: C'est ce que j'ai fait finalement (cf. #2715 )

![](https://cloud.githubusercontent.com/assets/1549952/7665681/f7967358-fbc3-11e4-98d4-b8ab1a5be25c.png)

[2015-05-16 12:19] DevHugo opened #2716 "Les labels dans la page d'oubli de mot de passe ont disparu"
Sur la brache dev, sur la page d'oubli des mots de passe, les labels accompagnant les champs ont disparu.

Sur dev:

![bug-label](https://cloud.githubusercontent.com/assets/6099338/7666087/5ef33b96-fbd6-11e4-88d3-cd778053717c.png)

En prod:

![bug-label-prod](https://cloud.githubusercontent.com/assets/6099338/7666092/8e2767d4-fbd6-11e4-816a-5c01c53a104b.png)

[2015-05-16 12:25] #2716 closed, assigned to nobody

[2015-05-16 12:25] DevHugo commented on #2716
Viens de mon installation.

[2015-05-16 13:32] SpaceFox commented on #2711
Hmmm... on peut facilement désactiver l'accès à l'API des MPs ?

[2015-05-16 15:05] GerardPaligot commented on #2711
Tu commentes [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/urls.py#L100) et les URLs de l'API des MPs ne sont plus accessibles. Pourquoi penses-tu à cette solution ?

[2015-05-16 15:06] SpaceFox commented on #2711
Pour dire "tant pis, on fait les corrections au propre dans `dev` et on interdit l'accès à la nouvelle API en attendant". Pour éviter de mettre en prod un truc pas sec.

[2015-05-16 15:07] sandhose commented on #2707
C'est lié à l'API membres, qui retourne _tous_ les membres par défaut, même les bannis, et, à ce que sache, il y a pas moyen de filtrer... ping @GerardPaligot

[2015-05-16 15:10] GerardPaligot commented on #2711
Le problème ne se situe pas sur l'API (pour ça, rendez-vous sur ce [ticket](https://github.com/zestedesavoir/zds-site/issues/2708)) et cacher l'API des MPs n'est qu'un pansement sur un des nombreux problèmes que nous rencontrons avec celui exposé dans ce ticket. Autant faire un revert de l'API des MPs et la proposer plus tard à ce compte là.

[2015-05-16 15:11] GerardPaligot commented on #2707
Je confirme, l'API des membres ne permet pas de filtrer mais c'est une fonctionnalité qui peut-être développé par qui veut.

[2015-05-16 15:14] SpaceFox commented on #2711
A condition qu'on puisse _encore_ faire un revert de l'API, d'accord. Sinon, il faudra juste la cacher le temps que le problème de base soit résolu.

[2015-05-16 15:14] SpaceFox commented on #2711
(PS : "encore" dans le sens "les corrections faites ne nous empêchent pas de faire le commit de revert").

[2015-05-16 15:23] Eskimon commented on #2710
Le lien devrait pas etre "juste" sur la date ?

[2015-05-16 15:26] sandhose commented on #2710
C'est pas le cas sur le forum, pourquoi ça le serait ici ?

![image](https://cloud.githubusercontent.com/assets/1549952/7666750/91c65660-fbf0-11e4-8683-109b3435f239.png)

Ça me parait logique que l'on arrive sur la dernière réponse lorsque l'on clique sur "Dernière réponse"...

[2015-05-16 15:32] Eskimon commented on #2710
Ah ok, j'avais jamais remarqué alors XD (cliquant toujours sur la date, une habitude surement...)

[2015-05-16 16:28] firm1 commented on #2713
Je ne sais que penser :( . Je crois que c'est l'effet du thé en fin de soirée.

Désolé pour la gène.

[2015-05-17 08:31] Eskimon commented on #1948
Solution simple, il faut mettre:
- Aller dans le back-end Django
- Aller dans la rubrique `Sites`
- Changer le nom de domaine de la seule ligne présente pour y mettre `beta.zestedesavoir.com`

mais pour ca il faut etre super-user (ping @SpaceFox et @firm1 ;) )

[2015-05-17 08:34] Eskimon commented on #1511
hannnn le DTC qui ferme pas les tickets quand il merge !!

[2015-05-17 08:34] #1511 closed, assigned to nobody

[2015-05-17 08:38] Eskimon commented on #2085
Faudrait surveiller ca à la prochaine release. Etant donnée que le module des MP a été refondu par @GerardPaligot pour l'API des MP on aura ptet du changement ici.

[2015-05-17 08:40] Eskimon commented on #2086
Bon apparemment ca bricole du coté des forums ca... peut-être qu'avec la refonte du module des forums qui sera bientôt mergée ca impactera ? Bref, a surveiller dans le dev qui arrive

[2015-05-17 08:43] Eskimon commented on #2067
Je suis plus staff sur la preprod, on peut me redonner les droits ou vérifier pour moi ?

[2015-05-17 09:44] Eskimon commented on #2129
Bon j'ai regardé un peu, j'ai l'impression que c'est le filtre de coloration qui dit "je colore et vire ce qu'il y a avant" car si je le dégage j'ai ca:

![capture](https://cloud.githubusercontent.com/assets/761168/7669870/12b3c458-fc8a-11e4-8bcd-637d8ff2e750.PNG)

Comparé à ça si je le laisse:

![capture](https://cloud.githubusercontent.com/assets/761168/7669871/34d59c82-fc8a-11e4-988f-7fce1f8de1

[2015-05-17 10:31] sandhose commented on #2667
PR ouverte: #2717

[2015-05-17 10:47] SpaceFox commented on #1948
Manip faite, si quelqu'un peut confirmer que ça fonctionne ?

[2015-05-17 10:58] SpaceFox commented on #2067
Tu es à nouveau staff sur la bêta :)

2015-05-17 10:43 GMT+02:00 Eskimon notifications@github.com:

[2015-05-17 11:14] GerardPaligot commented on #2085
Je ne vois vraiment pas où cette requête pourrait être faite

[2015-05-17 11:20] GerardPaligot commented on #2086
D'après ce que j'en vois de la clause WHERE, ça se traduit en Django par : `topic__forum__group__isnull=True`. Sachant ça, une recherche là dessus nous mène à 4 occurrences à 1 seul endroit, [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/feeds.py#L27).

Cette partie n'est pas touchée par mon refactoring.

[2015-05-17 11:22] sandhose commented on #1948
Testé sur les tutos et sur les articles, en RSS et en ATOM : les liens mènent bien vers la bêta ; je ferme

[2015-05-17 11:22] #1948 closed, assigned to nobody

[2015-05-17 11:27] GerardPaligot commented on #2085
Je rectifie ce que je viens de dire. @SpaceFox, c'est très possible que la requête soit faite par [munin](https://github.com/zestedesavoir/zds-site/blob/dev/zds/munin/views.py#L24).

Ca expliquerait d'ailleurs le fait qu'elle n'est pas exécutée souvent.

[2015-05-17 11:31] Eskimon commented on #2067
Ca semble fonctionner

[2015-05-17 11:32] #2067 closed, assigned to firm1

[2015-05-17 11:37] SpaceFox commented on #2085
C'est bizarre alors, parce que d'après la ligne que tu donnes ça devrait être un `select count(*)...` .

[2015-05-17 11:41] GerardPaligot commented on #2085
Mh c'est vrai mais c'est le seul que je vois faire ce genre de requête sur absolument tous les MPs. Il n'y a pas moyen de faire une requête via munin et vérifier si la requête SQL de ce ticket est lancée en même temps ?

[2015-05-17 11:52] GerardPaligot commented on #2710
Merci @sandhose pour le fix!

[2015-05-17 11:52] #2710 closed, assigned to sandhose

[2015-05-17 11:54] GerardPaligot commented on #2667
Merci @sandhose pour le fix !

[2015-05-17 11:54] #2667 closed, assigned to sandhose

[2015-05-17 11:59] sandhose opened #2718 "Django ne sait pas quand la requête passe en HTTPS"
Django n'a aucun moyen de savoir si la page a été récupéré en HTTPS ou non. Du coup, `request.build_absolute_url` retourne toujours une URL en HTTP, et `request.is_secure` est toujours à `false`. Ca impacte notamment la [doc de l'API](http://zestedesavoir.com/api/) qui n'arrive pas a charger, puisque la page fait une XHR en HTTP et pas en HTTPS, ce qui est bloqué sur la plupart des navigateurs mod

[2015-05-17 12:31] SpaceFox commented on #2718
Attention à la version de Django quand vous regardez la doc :)

[2015-05-17 12:32] GerardPaligot commented on #2718
Tout à fait, cela dit c'est une solution non spécifique à Django 1.8. C'est aussi la réponse à l'issue que j'avais créé : https://github.com/marcgibbons/django-rest-swagger/issues/220

[2015-05-17 12:34] SpaceFox commented on #2718
Tout à fait, mais tous les liens récents que j'ai vu passer contenait 1.8 dans l'URL.

[2015-05-17 12:44] GerardPaligot commented on #2681
Faudrait quand même la stacktrace puisque le bug est reproductible facilement.

[2015-05-17 12:52] GerardPaligot commented on #2670
Merci à @sandhose pour le fix.

[2015-05-17 12:52] #2670 closed, assigned to sandhose

[2015-05-17 12:53] GerardPaligot commented on #2675
Merci à @sandhose pour le fix.

[2015-05-17 12:53] #2675 closed, assigned to sandhose

[2015-05-17 12:53] GerardPaligot commented on #2692
Merci à @sandhose pour le fix.

[2015-05-17 12:53] #2692 closed, assigned to sandhose

[2015-05-17 12:53] GerardPaligot commented on #2694
Merci à @sandhose pour le fix.

[2015-05-17 12:53] #2694 closed, assigned to sandhose

[2015-05-17 12:53] GerardPaligot commented on #2695
Merci à @sandhose pour le fix.

[2015-05-17 12:53] #2695 closed, assigned to sandhose

[2015-05-17 13:58] sandhose commented on #2700
Apparemment, c'était un problème de config propre à la bêta, @SpaceFox a corrigé ça ; je ferme

[2015-05-17 14:00] SpaceFox commented on #2700
Oui mais non. Je suis dessus, il y a quand même un truc à faire, donc ça reste ouvert.

[2015-05-17 14:33] SpaceFox commented on #2708
[D'après Google, un bête robots.txt ne suffirait pas à lui interdire l'accès](https://httpd.apache.org/docs/2.2/howto/auth.html) : il suffirait d'un lien vers le site pour qu'il indexe quand même.

Les autres solutions proposées sont le contrôle d'accès actuel ou une solution lourde à base de balise meta.

[2015-05-17 15:25] SpaceFox commented on #2711
Bon, j'ai étudié [les 2 solutions présentées dans ce post](https://github.com/zestedesavoir/zds-site/issues/2711#issuecomment-102381509).

La 2ème solution (fusion des 2 tables) n'est plus possible avec notre connaissance en Django, puisque Django n'accepte qu'un, et un seul, objet de type User dans une application. Autrement dit : si cette modification doit être faite, aucun test n'est possible,

[2015-05-17 15:37] GerardPaligot commented on #2711
L'usage de request.user (dans le back et les templates) est à proscrire partout alors ?

[2015-05-17 15:38] SpaceFox commented on #2711
À remplacer par `request.user.profile` partout où c'est utile, et à laisser comme tel là où on a pas besoin du profile.

[2015-05-17 16:19] #2679 closed, assigned to Luuka

[2015-05-17 17:06] GerardPaligot commented on #2669
On a un indice de quelque chose ? La vue sur cette page n'a pas changé depuis un bon moment.

[2015-05-17 17:21] SpaceFox commented on #2669
C'est le passage au nouvel affichage des blocs.

[2015-05-17 17:23] GerardPaligot commented on #2669
Donc, c'est un problème front non ?

[2015-05-17 17:23] SpaceFox commented on #2669
Ben, pas vraiment non.

[2015-05-17 18:18] SpaceFox commented on #2401
Je viens de re-jeter un coup d'œil à ceci dans le cadre de la ZEP-12.

Si je prends la version de dev actuellement, que je passe des fixtures et que j'essaie d'indexer, ça plante avec le 1er message d'erreur indiqué ici : https://www.zestedesavoir.com/forums/sujet/846/zep-12-refonte-du-principe-des-tutoriels-et-articles/?page=18#p57266

Du coup, je ne sais pas trop comment ça peut marcher aujourd'

[2015-05-17 19:37] WinXaito opened #2721 "Erreur 500 sur l'API"
Bonjour,

sur internet explorer j'obtiens une erreur à cette url: http://zestedesavoir.com/api/membres/1234/
Mais pas sur firefox.

(J'ai essayer http et https sur IE, pareil).
(Opéra ça fonctionne).

WinXaito

[2015-05-17 19:40] Situphen commented on #2721
Quelle version d'IE ? :)

[2015-05-17 19:42] WinXaito commented on #2721
IE 11 (En modifiant pour avoir l'affichage d'une autre version pareil, après je ne sais pas si ça reprend que l'affichage ou le comportement entier)

[2015-05-17 19:48] SpaceFox commented on #2721
On ne supporte que IE11.

Cela dit, ça a l'air mystique...

C'est reproductible sur la bêta ?

[2015-05-17 19:49] Situphen commented on #2721
C'est possible d'avoir une capture d'écran de l'erreur rencontrée ? :)

[2015-05-17 19:53] WinXaito commented on #2721
http://cloud.winlap.ch/pic/413.jpg

http://cloud.winlap.ch/pic/414.jpg

Voilà

[2015-05-17 20:54] pierre-24 commented on #2401
Je suis tout ouïe :)

[2015-05-17 21:26] SpaceFox commented on #2401
Des paires de variables  `text` et `txt`, ou des définitions de "template d'indexation" inexistants ou qui contiennent des choses vraiment étranges.

[2015-05-17 21:30] pierre-24 commented on #2401
Bon, je vais tenter de me taper la doc de chez haystack ...

[2015-05-17 22:12] SpaceFox opened #2722 "Rapatrier le serveur Sentry sur un serveur de l'association"
Bonjour les gens,

Suite à ma réinstallation de serveur, le serveur Sentry qui existait est mort.

J'ai essayé de réinstaller la dernière version (7.4.3, la dernière disponible sur Pip)... sauf que ce dernier déconne complètement même en suivant à la lettre les instructions.

Donc... ben, il n'y a plus de Sentry jusqu'à nouvel ordre :(

[2015-05-18 06:17] Eskimon commented on #2666
On a des soucis sur le site lui-meme : https://zestedesavoir.com/forums/sujet/3166/de-la-physique-quantique-sur-zds/

[2015-05-18 12:28] Vayel opened #2723 "Déplacement des éléments d'un contenu"
Il serait apprécié, je pense, d'avoir à sa disposition une page pour déplacer les éléments d'un contenu. En effet, il faut actuellement se rendre sur l'élément concerné pour accéder au bouton de déplacement. Ce n'est pas très pratique.

[2015-05-18 14:10] pierre-24 commented on #2648
Spacefox ayant rencontré la même erreur ... Ça m'inquiète.

@Eskimon : est ce que tu avais testé avec des tutos générés par les fixtures ?

@DevHugo : à un moment, il me semble que la commande te demande si tu veux supprimer l'ancien, tu as bien répondu "oui" ?

[2015-05-18 14:11] Eskimon commented on #2648
Non

[2015-05-18 14:11] pierre-24 commented on #2648
Aïe. J'ai peur.

[2015-05-18 14:21] Situphen commented on #2589
Up ! Il y a un risque que ça nous plombe notre référencement !

Par exemple, si on recherche ["zeste de savoir" avec Qwant](https://www.qwant.com/?q=zeste%20de%20savoir) on obtient :
- "zestedesavoir.com" ;
- "https://zestedesavoir.fr" ;
- "https://zestedesavoir.fr/api/".

La première est bonne mais les deux autres ne devraient pas exister !

[2015-05-18 14:23] Situphen commented on #1376
Sera réglé par #2494

[2015-05-18 14:30] Situphen commented on #401
Si je résume, il faut :
- créer le sous-domaine `static` ;
- lors d'une prochaine MEP, configurer `settings_prod.py` et _nginx_ pourque ça fonctionne.

Est-ce qu'il ne faudrait pas aussi créer un sous-domaine pour `media` ?

[2015-05-18 14:32] Situphen commented on #1789
C'est toujours d'actualité ?

Je pense que c'est plutôt du Back que de l'Infra, non ?

[2015-05-18 14:37] SpaceFox commented on #1789
Edit : Rien  dit.

[2015-05-18 14:39] firm1 commented on #401
Mauvaise idée. On a des urls existantes qui contiennent ce média dans leur nom

[2015-05-18 14:41] Situphen commented on #401
Redirection ?

[2015-05-18 14:45] firm1 commented on #401
Pas si évident que tu peux le penser avec les urls relatives.

[2015-05-18 14:46] Situphen commented on #401
Bah relative ou non, ce n'est pas l'url qui compte, c'est la requête. et quand `zestedesavoir.com/media` arrive sur le serveur, il la redirige vers `media.zestedesavoir.com`, non ?

[2015-05-18 14:53] firm1 commented on #401
En théorie oui, mais en pratique il faudra je pense vérifier dans le code si on a pas quelque chose qui fait des vérification là dessus. Là comme ça en tête je pense à l'import des tutoriels externe avec images ou encore le cas de l'url des avatars.

[2015-05-18 15:15] DevHugo commented on #2721
Son adresse est en http et pas en https. Tous les navigateurs ont l'air de forcer le https mais pas ie.

[2015-05-18 15:38] Situphen commented on #2721
Ça ne change rien : la page fonctionne bien en HTTP !

![La preuve en image](http://i.gyazo.com/f65dfa8b7fe3522246e73c3818f5a53b.png)

[2015-05-18 15:47] WinXaito commented on #2721
Comme je l'ai dit:

![En https](https://cloud.githubusercontent.com/assets/8223773/7684591/968c1fd4-fd87-11e4-8917-48b47df1d82d.PNG)

[2015-05-18 16:40] GerardPaligot commented on #2721
D'après les tests que j'ai fais avec Sandhose, IE mentionne comme header `Accept: text/html` et ne spécifie jamais `application/xml` ou `application/json` dans `Accept`. Ca fait alors crasher DRF mais je pense que c'est un bug dans la librairie et pas chez nous (puisque la stacktrace ne mentionne aucune occurrence chez nous).

[2015-05-18 19:39] SpaceFox commented on #2669
Brace yourselves, Memcached is coming!

[2015-05-19 09:05] firm1 commented on #2589
Coup de théatre, l'issue a à nouveau changé de forme (qu'est ce qui s'est passé ?)

Maintenant : http:/zestedesavoir.[fr|net|org] redirige bien vers le .com

Le problème restant est que **https**:/zestedesavoir.[fr|net|org] ne fait pas de redirection. Donc les moteurs de recherche, ils considèrent qu'il s'agit d'un site différent, et peuvent donc pénaliser ces noms de domaines là.

L'issue est tou

[2015-05-19 09:23] firm1 commented on #2711
Si j'ai bien compris cette issue le problème vient de la différence entre les id de la table user et les id de la table profile pour le même utilisateur. Ils s'agit d'identifiants techniques, donc rien ne nous dit qu'ils seront pareil un jour.

Cependant, le problème a été mis en exergue quand on a décidé d'exposer un identifant pour un membre. Le choix a été fait d'exposer l'identifant du profile

[2015-05-19 12:06] Eskimon commented on #2499
C'est meme plus qu'un seul caractere... La limite de longeur pour un titre de tuto est de [80 caracteres](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/models.py#L51). Celle d'un sujet de [fofo idem](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/models.py#L87). MAIS, la beta rajoute deux tags (`[beta][tutoriel]`)et un espace. On a donc 17 caractères de differences.

[2015-05-19 12:11] Eskimon commented on #2490
Je viens de tester des choses sur la beta (v15.5.1):
- Rajouter `anonyme` dans un de mes MP existant = j'ai bien un message d'interdiction
- Signaler une erreur dans un tuto d'Auteur externe uniqement = j'ai bien un message d'interdiction
- Signaler une erreur dans un tuto avec Externe + Auteurs reels = le MP auto part correctement.

Pour moi cet ticket est donc réglé !

[2015-05-19 12:11] #2490 closed, assigned to nobody

[2015-05-19 12:12] GerardPaligot commented on #2499
J'ai jamais compris pourquoi nous déduisons les tags à partir du titre. Pour moi, ça doit être un champ à part un peu à la StackOverflow.

[2015-05-19 12:13] Eskimon commented on #2498
En beta 15.5.1

Je viens d'essayer d'ajouter anonyme ou l'auteur externe a un de mes tutos/article, ca me le refuse correctement. Je considere ce ticket comme ok.

[2015-05-19 12:13] #2498 closed, assigned to nobody

[2015-05-19 12:17] SpaceFox commented on #2499
Ca, c'est une excellente idée d'evol !

2015-05-19 14:12 GMT+02:00 Gérard Paligot notifications@github.com:

[2015-05-19 14:55] Situphen commented on #2700
Donc c'est un problème Infra et non pas Front ?

[2015-05-19 14:58] SpaceFox commented on #2700
C'est un problème de conf infra + code.

[2015-05-19 19:39] SpaceFox opened #2725 "Un bout de template qui ne peut pas fonctionner"
Dans les templates, on trouve à au moins un endroit : `{{ zds.settings.ZDS_APP.forum.posts_per_page }}`.

Cette syntaxe ne renvoie rien et donc le code associé ne fonctionne probablement pas comme prévu.

[2015-05-19 22:10] SpaceFox opened #2727 "API des membres + Cache = KBOOOM !"
Bug découvert en tentant [d'activer Memcached dans Travis](https://github.com/zestedesavoir/zds-site/pull/2724#issuecomment-103418560) (cf [ce job](https://travis-ci.org/zestedesavoir/zds-site/jobs/63226412)) et parfaitement reproductible en local.

Quand on lance les tests avec Memcached d'activé, certains tests plantent. Tous sont des tests liés à l'API des membres.

Le fait de ne lancer que cet

[2015-05-19 22:41] GerardPaligot commented on #2727
Les échecs des tests mentionnés par Travis sont cohérents avec le comportement actuel de l'API des membres en production. J'étais persuadé que le problème se situait sur les problèmes serveurs que nous avons eu avec OVH mais cette issue me fait douter.

Donc nous semblons avoir un problème de cache avec la pagination (ici et en prod) mais, dans le code source, nous renseignons bien la pagination c

[2015-05-20 10:18] yapper-git opened #2728 "Erreurs 404 non générées sur certaines pages"
Certaines pages devraient générées des erreurs 404 au lieu d'afficher le contenu des pages.
J'ai découvert ce bug en voulant corriger des erreurs dans les liens sur la page des CGU, un oubli de mailto produit actuellement un lien vers http://zestedesavoir.com/pages/cgu/communication@zestedesavoir.com qui affiche la page des CGU. Or une erreur 404 devrait être générée. Peu importe la suite de l'URL

[2015-05-20 12:07] Eskimon commented on #2728
Tout a fait, et voila qui est fait :)

[2015-05-20 12:07] Situphen commented on #2728
C'est ça, bien vu ! ;)

Ça dépend des devs car on a pas de règle définies pour ça. Ici, je pense que le plus simple est de supprimer l'importation de `views`.

Merci

C'est ça, problèmes de droits ;D

**EDIT :** Grillé par le caribou !

---

N'hésites pas à poser des questions sur ZdS (tu as un compte ?) ou IRC (`irc.smoothirc.net` canal `#zds-dev`) !

[2015-05-20 12:17] Situphen commented on #2725
C'est introduit par #1901.

@artragis : Tu dois connaître cette partie vu que tu as fait la PR donc peut-être que tu sais si c'est grave ou pas ? :)

[2015-05-20 12:19] GerardPaligot commented on #2725
Ces paramètres sont utilisés dans la pagination mais ne seront plus nécessaires après le merge de https://github.com/zestedesavoir/zds-site/pull/2697.

[2015-05-20 13:52] yapper-git commented on #2728
Je viens de repérer d'autres pages concernées, par exemple : http://zestedesavoir.com/rechercher/opensearch.xmlqsdqsd
Je vais faire un autre commit et voir s'il n'y en a pas d'autres encore.

EDIT: De plus le . n'est pas échappé, donc ceci fonctionne : http://zestedesavoir.com/rechercher/opensearch~xml

[2015-05-20 14:11] yapper-git commented on #2728
Voilà j'ai parcouru les _urls.py_ et vérifier à la main s'il n'y avait pas d'autres oublis, cela semble OK.

[2015-05-20 14:13] GerardPaligot opened #2731 "[Beta 15.5.1] Les sujets cachés sont affichés sur la home"
Serveur : Bêta
Version : v15.5½-RC1
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Créez un sujet non accessible à tous les utilisateurs.
- Constatez que le sujet est visible par tout le monde sur la home.

[2015-05-20 14:15] Eskimon commented on #2731
Je suis dessus :)

[2015-05-20 14:16] yapper-git commented on #2728
J'oubliai de vous remercier pour vos réponses @Eskimon et @Situphen !
Oui j'ai un compte sur ZdS mais avec le pseudo [yvand](http://zestedesavoir.com/membres/voir/yvand/).

[2015-05-20 14:37] Eskimon commented on #2731
Voilou !

[2015-05-20 16:13] DevHugo commented on #2727
Les tests chez moi passe pas non plus pour les mp, si on active le cache.

On voit clairement d'après, les logs qu'il essaye toujours de comparer un résultat en cache (qui est de 10).

On peut supposer que lors du test, il est passé par une méthode qui a insérer 10 membres et qu'il a fait une requête GET vers api-member-list. Le cache est créé avec les 10 réponses pour une période par défaut. Lors

[2015-05-20 17:57] #2642 closed, assigned to Eskimon

[2015-05-21 09:48] Eskimon commented on #2681
Bon, on fait comment ici ? Car si ce bug est pas corrigé alors pas de release (on va pas s'amuser a prendre le risque de voir tout nos tutos pété...)

[2015-05-21 11:16] GerardPaligot commented on #2681
Faut juste trouver un moyen de récupérer la stacktrace. Après, on pourra bosser dessus.

[2015-05-21 12:36] pierre-24 commented on #2681
Yep. Quitte à ce qu'un dev' provoque l'erreur exprès pendant que l'autre regarde le log.

[2015-05-21 12:50] Eskimon commented on #2410
Doc mergee. A completer en cas de souci.

[2015-05-21 12:50] #2410 closed, assigned to firm1

[2015-05-21 12:50] Eskimon commented on #2247
Doc mergee. A completer en cas de souci.

[2015-05-21 12:50] #2247 closed, assigned to nobody

[2015-05-21 12:59] Eskimon commented on #2070
Cette feature n'existant pas dans la base de code actuelle, je ferme ce ticket.

[2015-05-21 12:59] #2070 closed, assigned to nobody

[2015-05-21 17:43] GerardPaligot opened #2735 "[Beta 15.5.1] Erreur 500 à la consultation des tutoriels d'un membre"
Serveur : Bêta
Version : v15.5½-RC1
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
1. Rendez-vous sur n'importe quel profil (par exemple, [moi](http://beta.zestedesavoir.com/membres/voir/Andr0/)).
2. Consultez mes tutoriels en ligne via la sidebar sur le lien "En ligne" de la catégorie "Tutoriels".
3. Constatez une erreur 500.

Reporté par [yvand](https://zest

[2015-05-21 18:05] GerardPaligot opened #2736 "Impossible de synchroniser la base de données"
Serveur : Local
Branche : release-v15.5.1 (dernier commit 253a6e3)
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
1. Supprimez votre base de données locale pour être certain que vous allez générer la base la plus clean possible.
2. Exécutez la commande pour générer la base et appliquez les migrations `python manage.py syncdb`.
3. Constatez que la migration n'a

[2015-05-21 18:16] Eskimon commented on #2736
Il me semble que ce probleme avait ete sur une vieille migration non ? Si tu repars de zéro tout se passe bien ? Car j'ai fait plusieurs fois la réinstall récemment pour tester une VM et j'ai jamais eu de souci

[2015-05-21 18:19] GerardPaligot commented on #2736
J'ai créé une branche à jour par rapport à `release-v15.5.1` (donc aucun changement git), j'ai supprimé mon `base.db`, j'ai installé les dépendances puis j'ai voulu synchronisé les données.

Mise à part refaire un git clone, je ne vois pas comment être plus propre.

[2015-05-21 18:25] Eskimon commented on #2736
Et tu as essayé de faire ce que django te propose ou pas ? Du coup ce problème doit être vraiment récent (PR des fofos ?) car il n'y a pas si longtemps il n'existait pas

[2015-05-21 18:29] GerardPaligot commented on #2736
Je viens à l'instant et après la migration passe. Par contre, il a fait la migration dans mon installation de Django dans virtualenv. Du coup, je ne sais pas si c'est mon installation ou non. Dans tous les cas, je retire le bloquant.

On est sur la branche de release, ça ne peut pas être le refactoring des fofos qui est mergé dans dev.

[2015-05-21 18:35] GerardPaligot commented on #2735
Je change le tag de Back en Front après vérification. Je m'assigne la tâche.

[2015-05-21 18:59] yapper-git commented on #2735
Le lien (ancre) dans la sidebar vers "Derniers articles" ne fonctionne pas (même en prod), par exemple : http://beta.zestedesavoir.com/membres/voir/Andr0/#derniers-articles à cause d'une [typo](https://github.com/yapper-git/zds-site/commit/9f64a7c72188751e9ee2363bc182dc325e732791)

J'ai ajouté un correctif dans ma PR, voir #2726.

[2015-05-22 07:54] Eskimon commented on #2735
Nickel :)

[2015-05-22 07:54] #2735 closed, assigned to GerardPaligot

[2015-05-22 08:02] Eskimon commented on #2735
J'en ai profite pour faire un petit check, et apparemment c'est le seul endroit ou un `with` manquait

[2015-05-22 08:03] GerardPaligot commented on #2735
Oui, j'ai fais la vérification aussi hier soir. Par contre, PyCharm me signal **beaucoup** d'erreur front dans les templates sur l'usage de "=" et "==". Faudrait peut-être se pencher là dessus. Ca me stress le rouge dans un projet. :)

[2015-05-22 08:07] GerardPaligot commented on #2589
Cette issue est-elle bloquante par rapport à la release 15.5.1 ?

[2015-05-22 08:07] DonKnacki opened #2738 "[Beta 15.5.1] Aider les auteurs : icones non grisées"
Serveur : Bêta
Version : v15.5½-RC1
Système : windows 7
Navigateur : Firefox 38.0.1

Scénario :

Sur ce lien : http://beta.zestedesavoir.com/tutoriels/aides/

les icones ne sont pas grisées même lorsque le tuta n'a pas besoin d'aide sur un domaine
exemple "Une introduction à Ruby "
Je vois parfaitement les icônes "Tutoriel jamais publié" et "Ne cherche aucun illustrateur"
A noter que le tooltip es

[2015-05-22 08:07] GerardPaligot commented on #2708
Cette issue est-elle bloquante par rapport à la release 15.5.1 ? (Sachant que l'API sera désactivée en prod)

[2015-05-22 08:13] cgabard commented on #2708
On peut pas faire en sorte que l'authentification http utilise les même login/mdp que nos comptes ? C'est pour moi le plus simple :
- les robots ne pourraient pas y accéder
- on a plus de probs de collisions puisque les deux en tete représenteraient la même chose et attendraient la même valeur

Le seul défaut que je vois est que ça limite l'accès à la beta aux membres qui ont un compte mais ça me

[2015-05-22 08:15] Eskimon commented on #2738
Les soucis de la page d'aide ont ete regle, ils ne sont juste pas encore remis en preproduction. Je viens de verifier ce ticket et tout semble Ok dans la branche de release. Je ferme :) .

Merci quand meme de la vigilance @DonKnacki :)

[2015-05-22 08:15] #2738 closed, assigned to nobody

[2015-05-22 08:16] GerardPaligot commented on #2736
Bon, je tiens juste à signaler que le merge suggéré à complètement péter mon environnement de dev.

[2015-05-22 08:18] GerardPaligot commented on #2708
Je ne suis déjà pas certain que c'est possible puis je suis encore moins certain que ça fonctionne. L'API a besoin d'envoyer un token d'authentification dans l'en-tête qui a été généré par `oauth2_provider`. Je ne suis pas certain que ça soit compatible avec l'authentification htaccess du serveur de preprod.

[2015-05-22 08:19] Eskimon commented on #2736
Quelle merge ?

[2015-05-22 08:19] Eskimon commented on #2736
J'ai rien dit en fait, je croyais que tu parlais git mais en fait tu parlais Django...

[2015-05-22 08:20] GerardPaligot commented on #2736
Je pense qu'on peut fermer cette issue. Je suppose que c'était lié à mon environnement mais gardons à l'esprit que si ça arrive en prod, faut pas merge et faut trouver une autre solution. :)

[2015-05-22 08:42] Eskimon commented on #2736
Il y a un souci quelque part mais j'arrive pas a trouver ou... Surtout que faire le "merge" des migrations semble effectivement foutre joyeusement en l'air les migrations... Bref. Je sais pas sur quelles pied danser ici. :/

[2015-05-22 09:39] Situphen commented on #2589
C'est séparé de la _release_ mais ça reste bloquant !

[2015-05-22 14:08] firm1 opened #2739 "[beta 15.5.1] Les liens dans le message d'acceuil sont mal contrastés"
Sur la release en cours (derniers commits), quand on est pas connecté, le message d'accueil contient des liens dont le contraste fait mal aux yeux (en tout cas au miens).

Des liens oranges seraient préférables ici.

Screenshoot :

![link-not-real](https://cloud.githubusercontent.com/assets/6066015/7772092/572047cc-009c-11e5-93e4-d7e67d3ec89d.PNG)

[2015-05-22 14:10] SpaceFox commented on #2739
[Déjà corrigé](https://github.com/zestedesavoir/zds-site/pull/2704#issuecomment-102149480)

[2015-05-22 14:10] #2739 closed, assigned to nobody

[2015-05-22 14:21] firm1 commented on #2739
Ah, je front mal généré je suppose.

[2015-05-22 14:29] Eskimon commented on #2739
Pas généré tout court, certains commits sont pas encore remis en préprod c'est tout.

[2015-05-22 16:04] firm1 opened #2740 "[beta 15.5.1] Le lien de présentation de l'association ne pointe vers rien"
Screen :
![pointu](https://cloud.githubusercontent.com/assets/6066015/7774591/ad5e98ae-00ac-11e5-9cff-389f9186f2f6.PNG)

Le lien qui est censé pointer vers l'url de présentation de l'association (comme on peut le voir sur le l'image ci-dessous ) ne pointe vers rien.

La faute à une variable `url_association` oubliée [ici](https://github.com/zestedesavoir/zds-site/blob/release-v15.5.1/templates/hom

[2015-05-22 16:54] #2728 closed, assigned to yapper-git

[2015-05-22 19:30] cgabard commented on #2708
Le token est pas envoyé avec le meme champs donc ça importe peu. Quand
j'avais essayé, d'après mes souvenirs, c'était le champs de login qui était
identique aux deux méthode où il fallait mettre ton login pour oauth et
clémentine pour le passage http.

Christophe
Le 22 mai 2015 10:18, "Gérard Paligot" notifications@github.com a écrit :

[2015-05-22 19:50] sandhose commented on #2708
Sinon, c'est possible de renommer le header Authorization oauth vers quelque chose comme "X-API-Authorization" ?

C'est à dire que les requètes vers l'API comporteraient dans les header un champ "X-API-Authorization", qui contiendrait la clé d'API. L'on peut à priori (pas testé par contre) ensuite configurer nginx pour qu'il transforme le header "X-API-Authorization" en "Authorization", pour que c

[2015-05-22 19:56] GerardPaligot commented on #2708
Si on doit changer un en-tête, c'est pas celui de l'API qui doit rester le plus standard possible (pour des raisons évidentes d'utilisation par les applications tiers).

[2015-05-22 20:01] sandhose commented on #2708
Hum... La préprod est la pour l'API pour tester les nouvelles API, donc lors du développement d'application... De toutes façons, il faut modifier l'url à laquelle l'application tierce fait ses requêtes, donc changer le nom d'un header en plus, c'est pas non plus insurmontable...

Entre une API pas testable, et une API où il faut modifier une ligne dans son code pour tester en préprod...

Le header

[2015-05-22 20:15] Eskimon commented on #2708
Et via nginx on peut pas triché pour que la route de l'API court-circuite l'authentification ?

[2015-05-23 00:23] pierre-24 commented on #2731
Merci Eskimon, c'est mergé :)

[2015-05-23 00:23] #2731 closed, assigned to Eskimon

[2015-05-23 00:24] pierre-24 commented on #2669
Caching _merged_ !

[2015-05-23 00:47] #2669 closed, assigned to SpaceFox

[2015-05-23 16:25] GerardPaligot commented on #2509
Merci à @Situphen pour la feature et @pierre-24 pour la QA.

[2015-05-23 16:25] #2509 closed, assigned to nobody

[2015-05-23 16:31] GerardPaligot commented on #2736
Bien, j'ai testé sur un autre environnement et j'ai encore eu le problème. A mon avis, quand je passe d'une branche synchronisée via dev vers une branche synchronisée avec la release, ça pète mon environnement.

[2015-05-23 16:37] GerardPaligot commented on #2668
On a un bug identifié ici ? On sait si c'est à cause d'une mauvaise manipulation sur la preprod ?

[2015-05-23 16:37] GerardPaligot commented on #2681
@SpaceFox ou @firm1, vous pouvez vous en charger ?

[2015-05-23 16:38] GerardPaligot commented on #2700
C'est quoi qu'il reste à faire et qui justifie le bloquant ?

[2015-05-23 16:42] Eskimon commented on #2668
C'est pas une mauvaise manip non. Pour résumé : lorsqu'on crée un article avec immédiatement une image, cette dernière est chargée sur le disque dans un dossier 'None' au lieu de l'id. Apparemment la prod' le vit bien mais le passage en preprod (et nouvelle page d'accueil?) a mis en évidence ce bug (qui sera corrigée en zep-12 j'imagine)

[2015-05-23 16:46] pierre-24 commented on #2668
Oui, c'est corrigé. Et logiquement, le script de migration remettra tout au bon endroit dans une galerie qui va bien. Reste à ce demander pourquoi les images qui sont pas dans un dossier `None` s'affichent quand même pas.

[2015-05-23 18:59] sandhose commented on #2700
Si on règle pas cette issue, la home ne s'affichera pas correctement
(genre, pas du tout) , a moins que l'on vide le cache côté client.

Mais sinon, a part le merge de la PR, y'a rien a faire :)

On Sat, May 23, 2015, 18:38 Gérard Paligot notifications@github.com wrote:

[2015-05-23 20:46] GerardPaligot opened #2742 "Retirer la taille fixe sur les légendes"
Aujourd'hui, quand on soumet une image dans une galerie, les légendes ont une taille fixe. Par contre, à l'usage, nous pouvons avoir des légendes sans aucune limite. Chose qui me semble bien plus logique.

Il faudrait donc uniformiser ce comportement en faisant sauter cette limite.

[2015-05-23 22:10] Situphen commented on #556
Note : sera normalement réglé par [la ZEP 26](https://zestedesavoir.com/forums/sujet/2558/zep-26-rendre-les-urls-plus-coherentes/)

[2015-05-23 22:11] Situphen commented on #754
@pierre-24, @artragis : ce sera dans la ZEP 12 ou se sera la ZEP 8 ?

[2015-05-23 22:16] pierre-24 commented on #754
La ZEP-08: on a déjà trop de truc à gérer :)

[2015-05-23 22:22] Situphen commented on #1319
Ping @ChantyTaguan (ZEP 24) aussi pour faire gaffe à ne pas l'enlever par mégarde lors du rebasage (après le merge de la ZEP 12) ! :)

[2015-05-23 22:24] SpaceFox commented on #2681
J'essaierai d'y penser demain soir, fais-moi signe si j'oublie.

[2015-05-23 22:30] Situphen commented on #1545
Up !

Je plussoie Alex-D :

Il faut aussi voir si c'est générique à plusieurs messagerie ou réservé à GMail.

[2015-05-23 22:37] Situphen commented on #1780
@pierre-24 @artragis Si je crois [ça](https://zestedesavoir.com/forums/sujet/846/zep-12-refonte-du-principe-des-tutoriels-et-articles/?page=19#p58125) :

C'est dans la ZEP 12 ?

[2015-05-23 22:43] Situphen commented on #1999
@pierre-24 @artragis : les urls de téléchargements ont été changées par la ZEP 12 ? :)

[2015-05-23 22:46] Situphen commented on #2084
C'est toujours d'actualité ?

[2015-05-23 22:48] Situphen commented on #2183
C'est bon ici ?

[2015-05-23 22:51] Situphen commented on #2203
@SpaceFox actuellement le téléchargement du fichier Markdown est réservé aux auteurs et aux Staff. Est-ce qu'on doit l'autoriser aux autres ?

[2015-05-23 22:54] SpaceFox commented on #2203
Je n'en vois pas l'intérêt.

[2015-05-23 22:58] Situphen commented on #2391
Up ! Quelqu'un sait "si on est conformes aux bonnes pratiques en la matière. Entre autres la durée des connexions." ?

[2015-05-23 22:59] Situphen commented on #2400
**EDIT :** Rien dit.

[2015-05-23 23:03] Situphen commented on #2515
@ChantyTaguan ça pourrait être développé avec la ZEP 24 ?

[2015-05-23 23:36] pierre-24 commented on #1780
Ah, tient, oui ! On as essayé de reproduire ce que ce passait quand on importait des *.tuto

[2015-05-23 23:37] pierre-24 commented on #1999
On a un ticket pour ça, donc c'est au programme :)

[2015-05-24 00:08] pierre-24 commented on #2544
C'est corrigé, merci @Situphen :)

[2015-05-24 00:08] #2544 closed, assigned to nobody

[2015-05-24 06:57] artragis commented on #1319
la zep12 ajoute cette fonctionnalité.

[2015-05-24 06:59] artragis commented on #2400
testé unitairement et qatisé

Le 24/05/2015 00:59, Situphen a écrit :

[2015-05-24 06:59] artragis commented on #1780
du coup on ne fait que la moitié de l'issue puisque l'export ne s'en
occupe pas.

Le 24/05/2015 01:36, Pierre Beaujean a écrit :

[2015-05-24 10:52] SpaceFox opened #2743 "Ajouter une estimation du temps de lecture calculé automatiquement"
Comme nos contenus ont une durée de lecture _très_ variée dans un même "type de contenu", je me dis qu'il serait intéressant d'y adjoindre une durée estimée de lecture :
- Article
- Page de tuto
- Intégralité du big et moyen tuto

**Intérêts :**
1. Le lecteur a une idée du temps dont il va avoir besoin
2. L'auteur a une idée du temps qu'il va demander au lecteur
3. L'auteur peut équilibrer ses par

[2015-05-24 11:48] Situphen commented on #1319
Je sais, je prévenait juste @ChantyTaguan qu'après le merge de la ZEP 12, il rebasera sa branche et qu'il doit faire attention à ne pas enlever ce que vous venez d'ajouter ;)

[2015-05-24 12:18] Situphen commented on #2743
Je pense que ça aurait dans un premier temps plus sa place dans le forum Bugs & Suggestion pour que la communauté puisse discuter !

Sinon, je ne sais pas trop si c'est bien car le temps de lecture dépend énormément du lecteur !

[2015-05-24 15:04] martinqt commented on #2599
Bonjour, je débarque donc veuillez excuser mon éventuelle mauvaise idée.

Vu que le premier message de chaque page (à part la première) est une "redite" et qu'il porte la classe CSS `repeated`, il ne serait pas possible à l'endroit où la classe est ajoutée de mettre en plus un `id` du genre `first`?

[2015-05-24 16:59] Situphen commented on #2621
C'est toujours d'actualité ? Si oui j'enverrai un MP @Alex-D car je crois qu'il a mis les notifications du dépôt en silencieux.

[2015-05-24 17:07] Situphen commented on #2158
Up ! On fait quoi ?

[2015-05-24 17:11] SpaceFox commented on #2621
C'est toujours d'actualité.

[2015-05-24 17:19] Situphen commented on #2621
MP envoyé !

[2015-05-24 19:43] artragis opened #2745 "[Beta 15.5.1]Liste des tutoriels pas toujours par 3"
Lorsqu'on n'est pas connecté (pas testé avec un membre connecté) et qu'on va sur la page de la liste de tous les tutos, on se retrouve avec les 5 premiers qui singent la home page alors que la norme sur cette page là c'est 3 contenu par ligne. Du coup sur la première ligne on en a 5 et les contenus 2 à 5 sont plus petits et donc moins lisibles.

firefox 38 Xubuntu 15.04 écran 15.5'' 16/9 1024p

![

[2015-05-24 19:48] sandhose commented on #2745
Ca, c'est un problème de cache je dirais... Je pense que c'est la version "mini" qui est mise en cache à cause de la home, et c'est celle la qui est rendue sur la page d'index des tutos... Je sais pas trop comment marche ce cache, donc ping @SpaceFox

[2015-05-24 20:42] ChantyTaguan commented on #1319
A mon avis le mécanisme de notification aura tellement changé que ça reviendra surtout à virer tout ce qui a trait aux anciennes notifs pour remplacer par le nouveau mécanisme. Et ce comportement étant prévu déjà dans la ZEP-24, ça devrait bien être pris en compte.

[2015-05-24 21:13] Situphen commented on #2621
@Alex-D m'a dit :

Après une petite recherche, il semblerait que Do Not Track est activé par défaut sur IE 11 :

Je n'ai rien trouvé pour Safari.

Comme je le disais à @Alex-D par MP :

Même si ma dernière hypothèse semble très très peu probable ! :D

[2015-05-24 21:15] SpaceFox commented on #2745
Putain, c'est pour ça que je _déteste_ cette possibilité d'avoir des paramètres facultatifs... surtout quand comme ici lesdits paramètres ne sont précisés nulle part dans le fichier appelé.

[2015-05-24 21:18] SpaceFox commented on #2745
Je note aussi que la manière de gérer les version bêta sur `tutorial_item.part.html` est totalement incohérent avec son pendant `article_item.part.html`. J'espère que la ZEP-12 corrigera ça.

[2015-05-24 21:20] SpaceFox commented on #2621
Les gens qui arrêtent d'utiliser un outil le jour où on met EU Cookies Banner en prod ? J'ai un gros, gros doute...

[2015-05-24 21:23] Situphen commented on #2621
Je m'auto-cite :

[2015-05-24 21:52] SpaceFox commented on #2681
L'erreur est :

[code]

On dirait un problème de synchronisation des données prod --> bêta, puisque sur la bêta dans ce tuto le sous-dossier 516 s'appelle _516_les-composants-dune-carte-graphique_ et non _516_pipeline-non-programmable_.

À noter que sur la prod, c'est bien _516_les-composants-dune-carte-graphique_ qui est présent et attendu.

C'est très facilement explicable si ce dossier a été re

[2015-05-25 00:06] pierre-24 commented on #2681
Mouais. Ça va être dur de faire plus que ça ... Non ?

[2015-05-25 00:08] pierre-24 commented on #2745
Il faudra qu'on fasse de la "doc de template" ? :p

Sur un ton plus sérieux, oui, la ZEP-12 règle ça, puisque la gestion revient deux fois au même, ou presque (y'a une subtilité avec les commentaires).

[2015-05-25 00:34] pierre-24 opened #2747 "[bêta 15.5.1] On est renvoyé sur la bêta des tutoriels et non sur la version brouillon"
Il y a intrinsèquement un problème [avec la template `tutorial_item.part.html`](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorial/includes/tutorial_item.part.html):
- Créer un tutoriel, le mettre en bêta
- Rajouter un extrait au tutoriel
- Revenir sur la page qui liste les tutoriels de l'auteur et cliquer sur le lien du tuto

... Et on est renvoyé sur la version bêta et non sur

[2015-05-25 06:09] Eskimon commented on #2743
Perso j'aime beaucoup cette idée (a dire vrai un truc similaire mais moins bien formulé m’était venu en tête a la lecture du sujet idoine sur le forum).

C'est pour ça que @SpaceFox sort une "moyenne". Le lecteur régulier de ZdS sera habitue aux nombres et saura que pour lui le "20 minutes" est en fait un "15 minutes" par exemple, et pour le lecteur occasionnel ce sera juste une indication.

[2015-05-25 06:10] Eskimon commented on #2158
[L'avertissement est la](http://zds-site.readthedocs.org/fr/latest/install/backend-windows-install.html), je ferme puisqu'on pourra pas faire mieux sans contributeurs sur cette plateforme.

[2015-05-25 06:13] Eskimon commented on #2681
Ah moins d'avoir un autre tuto qui bug aussi... QQun a-t-il eu une erreur sur un autre tuto ?

[2015-05-25 06:49] SpaceFox commented on #2681
Si quelqu'un a le courage de vérifier l'historique d'édition de ce tuto en prod ?

[2015-05-25 06:50] SpaceFox commented on #2747
Est-ce vraiment un problème vu que c'est comme ça depuis l'origine et que personne ne s'est plaint du fonctionnement jusqu'ici ?

[2015-05-25 08:01] Eskimon commented on #2681
Voici les dates vues en prod' : http://pastebin.com/YaQC8gSB

[2015-05-25 08:46] #2158 closed, assigned to nobody

[2015-05-25 12:20] pierre-24 commented on #2681
Pourquoi il y a deux fois "en ligne" ?

[2015-05-25 12:20] pierre-24 commented on #2747
Que du contraire, c'est tout nouveau de la ZEP-04 !

[2015-05-25 12:22] SpaceFox commented on #2747
Heu, non : https://github.com/zestedesavoir/zds-site/blob/prod/templates/tutorial/includes/tutorial_item.part.html

[2015-05-25 12:29] pierre-24 commented on #2747
[Oui mais non, en fait](https://github.com/zestedesavoir/zds-site/blob/prod/templates/tutorial/member/index.html#L77) !

Le `tutorial_item.part.html` était pas appelé pour généré la page "mes tutoriels", à l'époque, donc le cas ne se présentait pas (et c'était toujours bien la version brouillon)

[2015-05-25 12:45] pierre-24 commented on #2745
Oups, j'avais oublié de le fermer :)

[2015-05-25 12:45] #2745 closed, assigned to SpaceFox

[2015-05-25 13:23] pierre-24 commented on #2740
Merci à @Situphen de ne pas avoir écouté mes bêtises, c'est corrigé et mergé :)

[2015-05-25 13:23] #2740 closed, assigned to nobody

[2015-05-26 07:07] firm1 opened #2749 "[15.5.1] Dernier message non lu d'un article"
En allant sur là bêta (depuis un mobile) et en cliquant sur le nombre de réactions du dernier article publié "essai", je suis dirigé vers là première reaction plutôt que vers là troisième (puisque j'ai déjà consulté toutes les réactions une fois).

[2015-05-26 07:23] firm1 opened #2750 "[15.5.1] Quiproquo sur l'auteur de la dernière réponse"
Sur la HOME quand on lit "dernière réponse , par yoch" on s'attend à lire le message de yoch en cliquant sur ce lien. Or ici on arrive sur le dernier message non lu qui n'est pas forcément celui de yoch.

![tmp_32712-26 mai 2015 091430 gmt 0200-1037565967](https://cloud.githubusercontent.com/assets/6066015/7807005/e1135288-0387-11e5-9916-3af52a198cf0.jpg)

Je me demande dans qu'elle mesure c'est p

[2015-05-26 08:07] Situphen commented on #2750
On a le même problème sur la liste des sujets du forum actuellement.

[2015-05-26 08:08] Situphen commented on #2749
~~Problème de cache ?~~ Rien dit il n'y a pas de cache sur ces tiems là.

[2015-05-26 08:08] AlexRNL commented on #2750
Yes, j'en avais parlé dans #1523.

[2015-05-26 08:17] firm1 opened #2751 "[15.5.1] Erreur 500 lors de la desinscription"
En essayant de me desinscrire, je me mange une erreur 500 et mon compte est toujours là. Testé avec un compte créé via réseau social ou par le site directement. Même résultat.

Je suis à peu près certain que ça marchait avant, donc ça ressemble a une régression.

[2015-05-26 08:21] Eskimon commented on #2751
Je viens de tester sur ma branche `dev` a jour et ca se passe bien.
Sur la branche `release` aussi ca semble bien se passer.

Du coup il va falloir absolument un log car incapable de reproduire en local.

[2015-05-26 08:22] GerardPaligot commented on #2751
Si on est incapable de se désinscrire, c'est même bloquant.

[2015-05-26 09:09] sandhose commented on #2749
J'ai tout de même l'impression que c'est un problème de cache, mais la, je vois pas comment contourner le problème, puisque cela change en fonction de l'utilisateur, et change régulièrement...

Du coup, soit on abandonne cette feature, soit on le fait côté back (genre via un argument dans l'url, pour rediriger vers la dernière réaction), soit on abandonne le cache sur cette page, avec les problème

[2015-05-26 09:27] firm1 commented on #2674
Je réouvre cette issue, car, elle n'est pas corrigée entièrement.

En allant [ici](http://beta.zestedesavoir.com/articles/) ou [là](http://beta.zestedesavoir.com/) et en cliquant sur le tag "Gnu/Linux" on tombe sur le bug.

La correction doit aussi être appliquée sur les nouveaux items.

[2015-05-26 09:35] firm1 opened #2752 "[beta 15.5.1] l'item article dans la speedbar est toujours souligné"
Il n y a rien a faire, que je sois sur la home, sur la page de tous les tutoriel, sur la page des forums, etc. L'item "Articles" dans la speedbar est toujours souligné (comme on peut le voir ci-dessous).

![poire](https://cloud.githubusercontent.com/assets/6066015/7809507/145e50b2-039b-11e5-822e-db6925bba8cc.PNG)

Je suppose que c'est une regression vu que ça marche très bien en prod.

Notons que

[2015-05-26 09:37] GerardPaligot commented on #2752
Donne des informations sur ton environnement parce que je n'ai pas le bug sur OS X avec Chrome, ni FF.

[2015-05-26 09:38] firm1 commented on #2752
En effet.

Navigateur : Firefox 37
OS : Windows 7

[2015-05-26 09:45] SpaceFox commented on #2752
Zoom à 100% ?
Le 26 mai 2015 11:38, "firm1" notifications@github.com a écrit :

[2015-05-26 09:48] firm1 commented on #2752
Zoom a 100%, 90%, 120% => le bug reste le même.

[2015-05-26 10:01] firm1 opened #2753 "[beta 15.5.1] L'API est kaputt => erreur 500"
Url incriminée : http://beta.zestedesavoir.com/api/membres/

On obtient une erreur 500. Ce problème a donc plusieurs conséquences diverses et variées et plus ou moins embettantes. Telles que :
- L'autocomplémention ne fonctionne plus nulle part sur le site
- La doc de l'API ne fonctionne plus
- Une erreur 500 c'est jamais jolie

**NB** : l'erreur survient en mode connecté ou non.

Il s'agit donc p

[2015-05-26 10:56] pierre-24 commented on #2674
Moui. Sauf que à priori, cette issue est taguée "version de développement", et donc n'est PAS corrigée dans cette bêta ;)

[2015-05-26 11:07] firm1 commented on #2674
En effet, je me suis quelque peu emmêlé les pinceaux entre les versions

Le mar. 26 mai 2015 12:56, Pierre Beaujean notifications@github.com a
écrit :

[2015-05-26 11:08] #2674 closed, assigned to nobody

[2015-05-26 14:19] firm1 opened #2755 "[beta 15.5.1] Impossible de créer une Une dont l'url est trop longue"
J'ai voulu créer une Une dont l'url serait [celle-ci](http://www.alvencapital.com/en/actualites/investissements/openclassrooms-boucle-une-seconde-levee-de-fonds-d%E2%80%991me-aupres-d%E2%80%99alven-capital/). Mauvaise idée, l'url de rentre pas dans la zone dédiée.

J'hésite à noter en bug ou évolution ...

[2015-05-26 14:26] Situphen commented on #2752
Problème de cache https://github.com/zestedesavoir/zds-site/blob/release-v15.5.1/templates/base.html#L175

[2015-05-26 14:47] SpaceFox commented on #2752
Ouais, donc en fait le front est tellement dynamique de partout qu'on peut tout de suite abandonner l'idée du cache...

[2015-05-26 17:53] pierre-24 commented on #2755
Je dirais bug.

[2015-05-26 17:55] pierre-24 commented on #2752
J'ai du mal avec cet affirmation du "front trop dynamique". Objectivement, c'est ce qu'on lui demande, c'est d'être dynamique, justement.

Alors il faut faire un choix ou repenser le front, mais si on continue comme ça, on va dans le mur.

[2015-05-26 18:03] SpaceFox commented on #2752
C'est une question de performances aussi. Si le moindre octet du front dépend de 12000 paramètres, il va falloir de plus gros serveurs, puisque tous ces calculs consomment et qu'on ne peut rien mettre en cache.

Pour donner une idée des temps de réponse actuels :

![mois](https://cloud.githubusercontent.com/assets/5786268/7819448/264ab27e-03e2-11e5-986a-1e8eab221182.png)

![jour](https://cloud.git

[2015-05-26 18:24] pierre-24 commented on #2752
_cet avis n'engage que moi_:

Je vois bien, et je te suis absolument, mais donc ça veut dire qu'avant de mettre en place le moindre cache, il faut repenser une partie du front. Hors, et c'est très malheureux, on manque de dev _front_, et j'ai l'impression qu'on tente rustine sur rustine ([par exemple ça](https://github.com/zestedesavoir/zds-site/pull/2754)) pour quand même faire un truc potable qu

[2015-05-26 18:29] SpaceFox commented on #2752
Ha non mais les trucs comme #2754, il ne faut _surtout_ pas faire !

Quant au reste, [le statut est déjà ici](https://www.zestedesavoir.com/forums/sujet/3142/tres-cher-ami-aurez-vous-lextreme-obligeance-de-tester-la-v1551/?page=5#p58560)

[2015-05-26 18:35] pierre-24 commented on #2752
Ah, mais je parle pas simplement de la _release_ en cours (j'avais bien vu qu'elle étais annulée et ça me semble une bonne chose à faire), je parle carrément de dire "Stop, on arrête maintenant, on fait un MP/un Zest'meeting/un post sur le forum et on réfléchis _convenablement_ à comment intégrer le cache au front, et plus personne ne tente rien d'ici là".

Pour moi, on est déjà mal embarqué (on a

[2015-05-26 18:38] SpaceFox commented on #2752
Même pas. L'API n'a **jamais** fonctionné correctement de ce point de vue, si j'en crois ce que dit @GerardPaligot [ici](https://github.com/zestedesavoir/zds-site/issues/2727#issuecomment-103687807).

Sinon, cf #2756

[2015-05-26 18:40] GerardPaligot commented on #2752
Non, l'API a fonctionné. C'est à cause d'évènements récents qui m'échappent que ça ne fonctionne plus.

[2015-05-26 18:41] pierre-24 commented on #2752
Fort bien. Mais je pense que tu n'acceptera jamais une release sans cache, donc c'est temporaire.

[2015-05-26 18:47] SpaceFox commented on #2752
C'est pas le cache l'important, c'est les perfs. Si on a un meilleur moyen d'avoir des perfs correctes, on a pas besoin de cache (et ce serait l'idéal).

[2015-05-26 18:53] pierre-24 commented on #2752
Je voudrait pas être défaitiste, mais coté _back_, [faire mieux que ça](https://github.com/zestedesavoir/zds-site/pull/2701) va être très difficile. Sauf si quelqu'un est un magicien en SQL et trouve la requête qui permet de récupérer le nombre de commentaires et le dernier message avec (pour moi le truc le plus consommateur de requêtes actuellement quand je regarde la _django toolbar_).

[2015-05-26 18:54] pierre-24 commented on #2752
(après, il y a un fix facile, c'est de `prefetch_*()` l'image, aussi)

[2015-05-26 19:25] artragis commented on #2752
En terme de nombre de requête, j'ai travaillé pas mal sur ça dans la zep12 : nos pages de listes sont horribles à ce propos et on a de quoi gagner plus de 50% de perfs là !

Déjà on peut appliquer un fix très simple pour toutes les pages où il y a des messages en cassant les requêtes sur les badges de cette manière :

(fichier zds.utils.templatetags.profile.py)

[code]

Ensuite, il y a des astuces

[2015-05-26 19:26] SpaceFox commented on #2752
La consommation du site, ce n'est pas _que_ le nombre de requêtes, loin de là. Et je ne parle pas _que_ de la home ; les forums sont bien pires. Générer une page à partir d'un template, c'est _lourd_. Souvent bien plus que les requêtes par exemple (cas de tous les articles et tous les tutos).

Et quand bien même, une page d'accueil qui a besoin de 57 requêtes en mode optimisé pour s'afficher, quel

[2015-05-26 19:30] SpaceFox commented on #2752
J'ajoute que le moteur de templates de Django est connu pour être lent. D'ailleurs Django 1.8 propose Jinja2 à la place.

[2015-05-26 19:34] artragis commented on #2752
Spacefox, je suis tout à fait d'accord, le nombre de requête n'est qu'une stat. C'est d'ailleurs pour ça que mon travail s'est avant tout consacré à faire du précalcul avant de faire de la réduction de requête. La réduction du nombre de requête est un effet de bord très intéressant car ce sont les requêtes **répétitives** qui ont été supprimées. Quand je fais 5 fois dans une page la **même requête

[2015-05-26 19:41] SpaceFox commented on #2752
Concernant les précalculs, je suis d'accord : c'est typiquement le genre de chose qu'il faut faire avant de mettre du cache.

Ça, c'est typique d'une refactorisation mal maîtrisée (pour rester poli). Quel que soit le langage et le contexte, si tu dois passer plein de paramètres à ta méthode générique pour gérer les cas particuliers, c'est que tu t'es planté et qu'elle n'avait pas à être générique,

[2015-05-26 19:44] artragis commented on #2752
on est d'accord. Perso, ce n'est pas moi qui ai factorisé le front. M'étant concentré pendant très très longtemps sur le bugfix du back, je ne saurai même pas dire qui a fait quoi sur le front, par contre je sais que les templates m'ont donné pas mal de suées sur la zep12, et c'est pas @pierre-24 qui dira le contraire.

Je veux bien mettre en pause la zep 12 pendant deux semaines pour faire quelqu

[2015-05-26 20:46] pierre-24 commented on #2752
Justement, fait sans cache, et après on verra.

Concernant les templates, c'est l'horreur intégrale. C'est pour ça que j'avais voulu attendre que l'intégration de la bêta soit terminée pour les faire sur la ZEP-12, parce que c'est du bricolage complet. Donc si quelqu'un s'amuse à faire un peu d'opti, je suis preneur :)

[2015-05-29 11:15] DevHugo commented on #2727
Je permet de te ping @GerardPaligot pour avoir ton avis, il ont mis à jours la documentation de l'api et propose une solution pour invalider le cache.

Si je résume la solution de la documentation, dans le `ListKeyConstructor`, on ajoute un champ comme ceci `updated_at = UpdatedAtKeyBit().`

Après la méthode associé qui nous permet de créé une clé de cache api_updated_at_timestamp qui représentera

[2015-05-29 11:50] GerardPaligot commented on #2727
Je ne comprends pas le rapport avec le problème de cette issue qui est lié à la pagination et dont la clé est renseignée en fait.

[2015-05-29 12:08] DevHugo commented on #2727
Pour moi, c'est pas liés à la pagination.

Je me permet de me citer:

[2015-05-29 12:14] GerardPaligot commented on #2727
C'est sans doute ce qu'il fait mais pour moi, il ne faut pas modifier le code source parce que nous savons pas comment le tester. Si les tests Django sont unitaires, le cache ne devrait pas subsister à travers les méthodes et toutes les données devraient être supprimées. Après, s'ils ne sont pas unitaires, il faut faire évoluer les tests en conséquence puisqu'ils ont été développé en partant du pr

[2015-05-29 12:37] DevHugo commented on #2727
Ok, je comprend tes arguments, ça me parait pertinent.

[2015-05-29 16:28] Eskimon commented on #2755
Le souci vient de la taille des URL fixé à 128 caractères. https://github.com/zestedesavoir/zds-site/blob/dev/zds/featured/models.py#L21

@GerardPaligot tu as écris ce bout de code, il y avait une raison pour imposer une taille max ou pas ? (je serais tenté de dire "on fait comme ca dans les autres modules" )

[2015-05-29 16:35] Eskimon commented on #2755
Donc la question mystère sera "pourquoi / selon quelle norme on a fait comme ca dans les autres modules" :D

[2015-05-29 16:40] GerardPaligot commented on #2755
Quand je l'ai fais, je me suis dis qu'il y avait sans doute une raison à ce nombre. Sachant que les navigateurs acceptent des URLs de 255 caractères, la raison était sans doute mauvaise (si tant bien même il y en avait une).

[2015-05-29 16:52] GerardPaligot commented on #2753
C'est en tout cas bloquant mais je comprends pas comment c'est possible alors qu'il n'y a eu aucune modification sur l'API des membres depuis des semaines, voire des mois.

[2015-05-29 16:56] Eskimon commented on #2753
Il faudrait vraiment que l'outil de monitoring qui nous remontait les erreurs reviennent en vie.

[2015-05-29 17:12] SpaceFox commented on #2753
Si quelqu'un a un serveur… personnellement je n'ai pus le temps ni la
patience de déboguer Sentry.
Le 29 mai 2015 18:56, "Eskimon" notifications@github.com a écrit :

[2015-05-29 20:53] Situphen commented on #1784
Il a encore des problèmes lors de la réponse à un message privé ([voir ce sujet](https://zestedesavoir.com/forums/sujet/3257/notification-de-messages-prives-par-mail/)) !

[2015-05-30 14:23] DevHugo commented on #2753
J'ai pas le souci en local, donc c'est uniquement sur la plateforme de beta.

[2015-05-30 21:46] Situphen opened #2762 "Les sujets masqués sont quand même affichés dans la recherche"
[Reporté par quark67 sur le forum](https://zestedesavoir.com/forums/sujet/3297/le-moteur-de-recherche-du-forum-affiche-du-texte-masque/) :

[2015-05-31 08:02] DevHugo commented on #2762
Je prend. Je vais faire des PR Solr dans la semaine.

[2015-05-31 08:20] Eskimon commented on #983
@DevHugo je peux t'assigner ça ?

[2015-05-31 09:24] DevHugo commented on #983
Yes, c'est ma prochaine PR, ça arrive dans la semaine. J'ai déjà en local.

[2015-05-31 10:53] DevHugo opened #2769 "Boost les champs de la recherche sur les topics et sur les posts"
Il serait bien de booster les champs, c'est une bonne pratique.

**EDIT**: voir http://django-haystack.readthedocs.org/en/latest/boost.htm

[2015-05-31 16:25] Situphen commented on #2762
Merci @DevHugo ! :)

[2015-05-31 16:25] #2762 closed, assigned to DevHugo

[2015-06-01 09:39] Eskimon commented on #2755
Apparemment il existe une sorte de consensus autour de la taille "2000 caractères".
Il me semble sage d'allonger nos restrictions pour suivre cela.

http://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers
http://boutell.com/newfaq/misc/urllength.html

[2015-06-01 09:40] Eskimon commented on #2736
La release ayant été fermée et mergee dans dev, doit-on garder ce ticket ?

[2015-06-01 11:08] Eskimon commented on #2203
Donc on ferme. Si qqun le réclame alors on re-ouvrira.

[2015-06-01 11:08] #2203 closed, assigned to nobody

[2015-06-01 11:20] Eskimon commented on #2217
On pourrait verifier qu'il y a bien une cle pour facebook en prod ?

[2015-06-01 11:31] Eskimon commented on #2129
Long story short, il faut bricoler `highlight` pour avoir un resultat potable :
- http://grokbase.com/t/gg/django-haystack/132nqw4zrk/showing-more-of-the-highlighted-context
- http://django-haystack.readthedocs.org/en/latest/highlighting.html

[2015-06-01 11:46] Eskimon commented on #2751
Bon, en local j'arrive a bien me desinscrire, mais sur la preprod j'y arrive pas... c'est balot... et faudra des logs :D

[2015-06-01 11:56] Eskimon commented on #2626
J'ai l'impression que ca a ete corrige avec la refacto des fofos, je ne reproduis pas en local... je ferme donc mais ca serait bien de vérifier ca en preprod (j’essaierai d'y repenser)

[2015-06-01 11:56] #2626 closed, assigned to Eskimon

[2015-06-01 12:08] Eskimon commented on #1784
Je viens de tester sur la beta et j'ai la grosse impression que tout marche bien...

[2015-06-01 12:29] firm1 opened #2773 "Le taux de couverture du code affiche à 0%"
En ce moment, le taux de couverture du code est de 0%.

Le dernier build travis indique ce job [coveralls](https://coveralls.io/jobs/6327685) dans lequel acune donnée n'a été remontée.

Notons que l'avant dernier build pointait sur ce [job coveralls](https://coveralls.io/jobs/6291357) qui indiquait quant à lui 83.81% de couverture.

[2015-06-01 12:47] firm1 opened #2774 "Les fixtures automatiques sont cassés sur les forums"
## Scénario :
- Je pars d'une install propre
- Je lance la commande : `python manage.py load_fixtures size=low racine=user`
- Je me connecte avec admin/admin
- Je clique sur un topic généré qui n'a aucune réponse

**=> Erreur 500**
## Stacktrace :

[code]

[2015-06-01 12:50] Eskimon commented on #2774
Tu aurais pas un peu plus etendu comme stackrtrace ? Histoire de voir sur quelle ligne ca se gaufre

[2015-06-01 12:52] firm1 opened #2775 "Aucun message pour nous confirmer de la prise en compte des alertes du forum"
Ce bug est visible uniquement sur la version de dev.

Scénario :
- Je me connecte en tant qu'un simple membre
- Je signale un message
- Je n'ai plus le fameux message qui s'affiche en vert qui me dit `Une alerte a été envoyée à l'équipe concernant ce message.` comme c'est le cas en prod et en beta.

Je suppose donc qu'il s'agit d'une regression de la refacto des forums.

[2015-06-01 12:54] firm1 commented on #2774
[code]

[2015-06-01 12:55] Eskimon commented on #2774
Merfi :)

[2015-06-01 12:57] Eskimon commented on #2775
- Est-ce que l'alerte est cependant bien envoyée ? (tu la vois en tant qu'admin)
- Est-ce que tu as le meme comportement si tu fais l'alerte avec admin ?

Car c'est bizarre, faire l'alerte est appelée [ici](https://github.com/zestedesavoir/zds-site/blob/8e61c96bed981f8968ed64c3377010b6fc95b85c/zds/forum/views.py#L469) et balance le message [la](https://github.com/zestedesavoir/zds-site/blob/8e61c9

[2015-06-01 12:59] Eskimon commented on #2774
Je pense que ca tombe pile dans mes corrections ici : https://github.com/zestedesavoir/zds-site/pull/2712/files#diff-d9e47ece3e055339353c712faa8ad7edR290

Si tu merges ma branche de landscape tu devrais voir que ca corrige le souci non ?

[2015-06-01 13:00] firm1 commented on #2775
En tant qu'admin je ne la vois pas.

oui, même comportement

[2015-06-01 13:03] Eskimon commented on #2775
Ok, donc c'est carrément l'alerte qui est pas créée on dirait.

[2015-06-01 13:09] Eskimon commented on #2775
Je viens de tester sur ma version dev et moi je vois bien l'alerte dans le menu de l'admin et sur le message alerté mais effectivement le message flash n’apparaît jamais.

[2015-06-01 13:14] Eskimon commented on #2775
Bon, en fait il y a carrément 0 messages qui s'affiche (par exemple pour l’édition en tant que modo)

[2015-06-01 13:16] Eskimon commented on #2775
Et on a aussi perdu les messages dans les MP en fait... a l'aide @GerardPaligot :D

[2015-06-01 13:26] firm1 opened #2776 "Les sens caché des pouces n'est plus lisibles"
A noter que le problème ne se voit que sur à l'instant ou j'écris ces lignes.

Dans le forum, il y'a des pouces rouges et des pouces verts. Avant la refacto des forums, quand on allait en survol sur le pouce rouge ou le pouce verts, on avait un message qui disait "**Ce message est utile (x personnes ont trouvé ce message utile)**".
Maintenant on a plus que le message qui dit "**Ce message est util

[2015-06-01 13:40] Eskimon commented on #2776
Sur ma version dev a jour locale j'ai ca pourtant :

![screenshot from 2015-06-01 15 37 08](https://cloud.githubusercontent.com/assets/761168/7914035/84d162f2-0874-11e5-9f82-7ff356fe917f.png)

[2015-06-01 13:41] Eskimon commented on #2776
(je tag back car a priori s'il y a un souci il vient du back vu que c'est la qu'a eu lieu la refacto)

[2015-06-01 13:46] firm1 commented on #2776
La preuve que je suis très très à jour et que je vois toujours le bug :)

![goupille](https://cloud.githubusercontent.com/assets/6066015/7914120/4b0ae7ae-0875-11e5-81a4-f9696d25c86c.png)

[2015-06-01 13:51] Eskimon commented on #2776
Et si tu mets un deuxième pouce (via le grand choix user/staff/admin) ca donne quoi ?

(c'etait pas une attaque hein, je voulais juste rapporter ce que moi je voyais ^^' )

[2015-06-01 14:02] firm1 opened #2777 "L'édition du premier post d'un topic ne permet pas de modifier le titre/sous-titre"
Scénario :
- Créer un topic
- Cliquer sur editer

**Problème** : je ne vois plus le champ "titre" et "sous-titre"

Je taggue donc en regression.

[2015-06-01 14:03] GerardPaligot commented on #2775
Là maintenant, je n'ai pas le temps mais il me semble que j'ai rien refactorisé sur les alertes parce que c'était hors scope de la ZEP API forum.

[2015-06-01 14:04] Eskimon commented on #2775
C'est pas les alertes le souci (elles fonctionnent) mais c'est la gestion des "messages flash d'informations" (ils ont aussi disparu des MP)

[2015-06-01 14:04] firm1 commented on #2776
Bien vu. Le bug se transforme (un problème de comptage).

![goupille](https://cloud.githubusercontent.com/assets/6066015/7914546/f0127c24-0877-11e5-942f-cee6f62d46b6.png)

[2015-06-01 14:07] GerardPaligot commented on #2775
C'est bizarre. Ils sont pourtant créé dans le back.

[2015-06-01 14:09] SpaceFox commented on #2776
Ça ressemble à des fixtures incomplètes. Cette info est dénormalisée.
Le 1 juin 2015 16:04, "firm1" notifications@github.com a écrit :

[2015-06-01 14:11] Eskimon commented on #2776
Je dirais pourtant que c'est bien une régression, on a un offset de 1 on dirait. Les fixtures ont pas bouge et si tu crées a la main tu as le même problème.

[2015-06-01 14:51] GerardPaligot commented on #2626
Rendons à césar ce qui appartient à césar, ça avait été corrigé avant mon refactoring et, de tête, par @firm1.

[2015-06-01 14:53] GerardPaligot commented on #2777
Regarde dans ta sidebar.

[2015-06-01 15:00] firm1 commented on #2777
En effet, je vois dans la sidebar le bouton "Editer le sujet" qui fait le taff, dans ce cas pourquoi ne pas avoir conservé le fonctionnement actuel à ce niveau. C'est déroutant je trouve d'avoir deux bouton d'édition pour un même message qui permettent de faire deux choses différentes.

[2015-06-01 15:01] GerardPaligot commented on #2777
Question de point de vue. Je trouve bien plus bizarre de jouer avec 2 formulaires en fonction du message et d'avoir un truc qui était horrible dans le back avec une tonne de conditions.

[2015-06-01 15:06] SpaceFox commented on #2777
La vraie règle, c'est qu'il faut que ce soit ergonomique pour l'utilisateur.

[2015-06-01 15:07] GerardPaligot commented on #2777
Et c'est quoi qui est ergonomique pour l'utilisateur ?

[2015-06-01 15:09] SpaceFox commented on #2777
Qu'il ne se pose pas de question de savoir comment éditer quel bout du message. Ici visiblement ça ne fonctionne pas vraiment.

[2015-06-01 15:11] firm1 commented on #2777
C'est bien mon problème aussi le coté ergonomique (qui doit primer sur la technique).

![buisson](https://cloud.githubusercontent.com/assets/6066015/7915900/cd528e5a-0880-11e5-8c51-126a235d86c1.PNG)

Dans cette image, je m'attend à ce que le bouton 1 me permette de modifier mon message, titre et sous-titre. S'il ne le permet pas, alors pourquoi le conserver ?

[2015-06-01 15:19] GerardPaligot commented on #2777
Je ne suis pas un pro de l'ergonomie mais avoir un bouton "Editer" où le comportement change en fonction du contexte et mettre l'action d'édition d'un sujet avec la création d'un sujet, ça me semble vraiment pas déconnant.

De toute façon, je peux me tromper mais je pense que personne ici n'est expert en ergonomie.

[2015-06-01 15:27] firm1 opened #2778 "Un invité ne peut pas voir les signatures du forum"
Le problème n'est visible que sur la branche de dev.

Lorsque je suis non connecté, je ne peux pas voir les signature des membres dans le forum, alors que c'est le cas en prod.

Chose étrange parce qu'on voit bien les signature quand on va sur les commentaires des articles/tutoriels, mais pas dans le forum.

J'imagine qu'on a une regression dus à la refacto des forums. Et le fait que le comporteme

[2015-06-01 15:33] firm1 opened #2779 "Google Analytics commence à grogner sur les redirections du site"
**Google Analytics a écit**

Le problème me semble être au niveau de la redirection dns entre `www.zestedesavoir.com` et `zestedesavoir.com`.

ça ressemble donc fortement à de l'infra, je taggue en conséquence.

[2015-06-01 15:35] SpaceFox commented on #2779
Ce devrait être réglé par #2757

[2015-06-01 15:49] Situphen commented on #2777
Je pense que la plupart des utilisateurs s'attendent à pouvoir modifier le titre et le sous-titre du sujet en éditant le premier message car ils ont rentré le titre et le sous-titre. Peut-être que remettre l'ancien comportement en remplaçant "Éditer le sujet" à la place de "Éditer" sur le premier message déroutera moins l'utilisateur ?

Personne ici n'est expert Django.
Personne ici n'est expert j

[2015-06-01 15:53] firm1 opened #2780 "La structure schema.org (et donc l'accessibilité) des forums est un peu cassée"
Le problème est visible uniquement sur la branche de dev en ce moment.

Les moteurs de recherches (Google, Yahoo, etc.) utilisent la structure schema.org pour savoir comment est organisé notre site. Et donc, notre forum avant fonctionnait ainsi.
1. le premier post était marqué comme étant une question (cf. attribut [Question](https://schema.org/Question))
2. les réponses aux topics étaient marqués

[2015-06-01 19:52] Situphen commented on #2681
Qu'est-ce qu'on peut faire ici ?

[2015-06-01 19:52] Situphen commented on #2589
Du coup, @Ge0 tu aurais le temps de remettre ces redirections? Si Ge0 ne peut pas, qui pourrait le faire ?

[2015-06-01 19:56] Situphen commented on #2708
On ne peut pas simplement mettre les identifiants dans l'URL comme par exemple `https://clementine:orange@beta.zestedesavoir.com/api/` ?

[2015-06-01 19:57] sandhose commented on #2708
Non, parce qu'au final, en faisant cela, le navigateur va remplir le header "Autorization" tout seul

[2015-06-01 20:02] Situphen commented on #2708
Ah ok, j'ai compris

[2015-06-02 08:42] Eskimon commented on #2751
Est-ce qu'on pourrait avoir un truc similaire avec https://github.com/zestedesavoir/zds-site/issues/2753 ?

[2015-06-02 08:44] Eskimon commented on #2776
@GerardPaligot j'ai essaye de comprendre comment fonctionne les +1/-1 avec la nouvelle architecture mais j'ai un peu du mal. Notamment je comprend pas pourquoi on voit pas directement dans le modèle un champ portant le nombre de [dis]like comme avant...

Si tu as 5 minutes pour faire un petit topo je suis preneur :)

[2015-06-02 08:50] GerardPaligot commented on #2776
https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/models.py#L188 ?

J'ai refactorisé que les vues. J'ai pas touché aux modèles.

[2015-06-02 08:53] Eskimon commented on #2778
:D nos tests qui se contredisent <3 (maintenant va falloir comprendre pkoi on a un truc different :D )

Version : dev/3e91b08

![screenshot from 2015-06-02 10 52 08](https://cloud.githubusercontent.com/assets/761168/7932020/7e6e20a2-0915-11e5-9855-2cfa01d5d0e7.png)

[2015-06-02 09:00] Eskimon commented on #2776
rha excuse moi je suis un boulet. J'etais dans l'idee que le compteur appartenait a `Post` et que `Comment` etait un truc Django :( #boulay

Sinon Je viens de refaire des tests, le comportement est en fait comme en prod'...
- S'il n'y a pas de +/-1 le message indique "Ce message est [in]utile".
- S'il y a des +/-1 On a comme ci-dessus ET entres parenthèses la version littéral du compteur
- Si je c

[2015-06-02 09:05] Eskimon commented on #2777
Perso j'aimais aussi le comportement précédent :( ...

[2015-06-02 09:07] GerardPaligot commented on #2777
Pas cool, c'est toi qui a QA le refacto ...

[2015-06-02 09:13] Eskimon commented on #2777
Oui je sais. Pour me défense la QA des fofos est quand même assez monstrueuse en terme de tout les comportements a voir, penser, tester. Effectivement j'ai pas du tout pensé a l’édition du premier message d'un post, je ne le nie pas et j'en suis désolé.

[2015-06-02 09:22] GerardPaligot commented on #2777
Dans tous les cas, pour moi c'est un problème front. Du côté back, nous devons gardons une distinction dans les vues pour ne pas avoir des vues qui font n'importe quoi. Nous venons quand même de [ça](https://github.com/zestedesavoir/zds-site/blob/7147114dfb50c32336d4e61a6140634d735b362f/zds/forum/views.py#L657-L813) pour arriver à [ça](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/v

[2015-06-02 09:27] Eskimon commented on #2773
Ca se serait pas regle tout seul et c'etait pas juste un bug du service coveralls ? Sur la home page GH je vois bien le badge et la bonne couverture.

[2015-06-02 09:48] Eskimon commented on #2777
Sur le principe (point de vue back) je suis complètement d'accord avec toi. Du coup pourrais tu dire ce que le front/template devrait faire pour atteindre le bon endroit ?

et a l'utilisation, une fois qu'on a compris que le bouton etait la c'est pas si genant en fait... je retire donc mon precedent commentaire, l'utilisation est pas tellement genante, c'est plutot qu'on est hyper habitue a l'anci

[2015-06-02 11:13] GerardPaligot commented on #2777
Récupérer l'URL du nouveau bouton pour éditer un sujet et la remplacer avec l'URL d'édition d'un message lorsqu'il s'agit du premier message d'un sujet.

[2015-06-02 11:18] Situphen commented on #2777
Au niveau des templates ?

[2015-06-02 11:24] GerardPaligot commented on #2777
Oui

[2015-06-02 12:01] Situphen commented on #2596
On en est où ici ? Je n'arrive pas à comprendre le problème !

[2015-06-02 12:03] firm1 commented on #2773
Indeed. C'est réglay

[2015-06-02 12:07] #2773 closed, assigned to nobody

[2015-06-02 12:08] GerardPaligot commented on #2596
https://github.com/zestedesavoir/zds-site/pull/2761 devrait régler le problème de cette issue.

[2015-06-02 13:57] Situphen commented on #2711
@SpaceFox vu que c'est long et chiant à faire, ça ne serait pas mieux de le faire module par module pour que ce soit moins difficile pour éviter des _rebases_ monstres ?

[2015-06-02 14:04] GerardPaligot commented on #2711
La dépendance à `User` est omniprésente. C'est difficilement possible.

[2015-06-02 15:30] Situphen commented on #2780
La structure schema.org du fil d'ariane est cassé sur certaines pages aussi. Globalement, il faudrait que quelqu'un s'y connaissant en accessibilité viennent nous aider !

[2015-06-02 15:58] firm1 opened #2781 "Perte de proportionnalité d'une source linkée sur mobile"
Navigateur Firefox
OS : Android
Smartphone : Galaxy S6 Edge
Problème : la police de la source est trop grande par rapport au reste du texte
Environnement : prod
Screen :
![2 juin 2015 175419 gmt 0200](https://cloud.githubusercontent.com/assets/6066015/7940397/db9827ce-0950-11e5-8f8f-7184e232c2ba.jpg)

[2015-06-02 16:36] firm1 opened #2783 "Le compte admin ne peut plus faire de modération de topic."
Ce problème n'existait pas hier en dev, donc j'imagine que c'est un effet de bord de la PR #2758

**Scénario :**
- Je pars d'un environnement clean, je fais un `python manage.py syncdb`, puis un `python manage.py migrate`
- Je charge les fixtures simples : `python manage.py loaddata fixtures/*.yaml`
- Je me connecte en tant que admin/admin
- Je vais sur un topic par exemple `/forums/sujet/4/redige

[2015-06-02 16:40] firm1 commented on #2776
En effet, je viens de voir. Il faut actualiser la page pour que ce soit pris en compte et donc le bug est le même sur la prod.

C'est donc un bug et non une regression.

[2015-06-02 16:56] Eskimon commented on #2783
Je tag même bloquant car sans modération les modos vont pas faire les malins longtemps :D

[2015-06-02 16:56] Eskimon commented on #2783
Et j'invoque @artragis qui aura ptet une idée...

[2015-06-02 16:59] artragis commented on #2783
voilà mon effet de bord :(

je regarde de plus prêt, mais c'est sûrement à cause de la gestion bien foireuse des autorisations à l'heure actuelle. du coup je vais voir si j'ai pas mis une condition là où il fallait pas.

[2015-06-02 17:01] firm1 opened #2784 "Erreur 500 lorsque j'essaie de masquer un message sur le forum"
Ce problème n'existait pas hier en dev, donc j'imagine que c'est un effet de bord de la PR #2758

**Scénario :**
- Je pars d'un environnement clean, je fais un `python manage.py syncdb`, puis un `python manage.py migrate`
- Je charge les fixtures simples : `python manage.py loaddata fixtures/*.yaml`
- Je me connecte en tant que admin/admin
- Je vais sur un topic par exemple `/forums/sujet/4/redige

[2015-06-02 17:04] Eskimon commented on #2784
et reping @artragis :D

[2015-06-02 17:09] artragis commented on #2784
tu peux passer la stacktrace stp?

[2015-06-02 17:12] firm1 commented on #2784
Aussitot demandé, aussitot servi :)

[code]

[2015-06-02 17:22] artragis commented on #2784
comprends pas, tu as bien démarré avec une bdd neuve?

[2015-06-02 17:24] firm1 commented on #2784
Neuve comme décrit dans le scenar.

[2015-06-02 17:42] firm1 commented on #2778
Je n'exclu pas l'hypothèse que c'est moi qui ait mal testé. Je te confirme
ça à mon prochain passage général.

Le mar. 2 juin 2015 10:53, Eskimon notifications@github.com a écrit :

[2015-06-02 20:42] artragis commented on #2784
on est bien d'accord que tu masquais en ne mettant aucun texte?

[2015-06-02 22:54] firm1 commented on #2784
La modale qui s'affiche ne me demande pas de fournir du texte. C'est la modale qui apparait quand on est simple membre (alors que j'étais connecté en admin) et qui dit que le masquage est irreversible.

[2015-06-03 04:55] artragis commented on #2784
Ok, en fait je pense qu'il n'y avait tout simplement pas de TU. C'est
pas forcément moi qui ait mis ce bug (sauf peut être pour la modale).

Le 03/06/2015 00:54, firm1 a écrit :

[2015-06-03 07:19] Eskimon commented on #2776
Par contre c'est du front ca, c'est au javascript de mettre a jour le morceau de texte

[2015-06-03 07:23] Eskimon commented on #2725
Le merge sus-mentionne ayant eu lieu, on peut fermer ici ? (je suppose que non vu qu'on trouve la syntaxe encore ici : https://github.com/zestedesavoir/zds-site/blob/8e61c96bed981f8968ed64c3377010b6fc95b85c/templates/forum/base.html#L75 )

[2015-06-03 07:32] artragis commented on #2725
Je l'avais fait à l'époque pour deux raisons :
- je suis un gars du back qui n'y connaissait pas encore trop à django
  (j'étais pas encore passé par la zep12) et que les templates me
  paraissaient ultra complexes
- je me souviens avoir galéré pendant deux/trois heures pour corriger les
  "mais" de la QA de @pierre-24 tellement c'était ingérable. En fait mon
  erreur a été de ne pas mettre "TODO

[2015-06-03 11:39] GerardPaligot commented on #2753
Est-ce que @firm1 ou @SpaceFox peuvent nous fournir la stacktrace de la bêta ? Je suis tenté de rajouter le tag "infra" puisque nous ne parvenons pas à reproduire en local.

[2015-06-03 13:12] SpaceFox commented on #2783
Normalement corrigé.

[2015-06-03 13:12] #2783 closed, assigned to nobody

[2015-06-03 13:12] SpaceFox commented on #2784
Normalement corrigé.

[2015-06-03 13:12] #2784 closed, assigned to nobody

[2015-06-03 13:22] Eskimon commented on #2778
QQun pour donner un autre avis ?

[2015-06-03 13:38] firm1 commented on #2778
Je crois que mon oeil a rippé. J'ai testé et tout va bien.

Sorry.

[2015-06-03 13:38] #2778 closed, assigned to nobody

[2015-06-03 13:39] Eskimon commented on #2775
Bon j'ai regarde un peu et je crois que ce sont TOUT les messages flash qui ont disparu (le module des tutos encore intouche n'en affiche plus non plus).

Les messages sont censee etre affiche ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/base.html#L522 et la derniere fois que ca a ete touche c'est par @Situphen ici : https://github.com/zestedesavoir/zds-site/commit/8a443e8f87

[2015-06-03 13:41] Eskimon commented on #2775
J'ai l'impression qu'ils ont disparu en prod' aussi du coup d'ailleurs...

[2015-06-03 13:42] Eskimon commented on #2774
Maintenant que ma PR est mergée tu pourrais refaire le meme test (et me dire que tout va bien :D ) ?

[2015-06-03 13:49] firm1 commented on #2774
Toujours cassay

[2015-06-03 13:51] Eskimon commented on #2775
Je retire ce que j'ai dit sur le commit précédemment mentionne, je l'ai revert et ca n'a rien change dans ma copie locale...

[2015-06-03 13:57] firm1 opened #2787 "Les alertes rouges sanglantes ne se voient/lisent plus dans les commentaires d'article/tutoriel"
Ce bug est visible uniquement sur la version de dev, j'imagine que c'est un effet de bord de la PR #2758
- Lorsque je signale un message dans le forum en tant qu'admin, je vois l'alerte sanglante : cool
- Lorsque je signale un message dans les comm d'un article en tant qu'admin, je ne vois pas l'alerte sanglante quand je vais sur le message ne question : **pas cool**
- Lorsque je signale un messag

[2015-06-03 14:06] Eskimon commented on #2774
En meme temps, quand j'interroge ma bdd a la main je vois que les topics vides ne possede meme pas 1 message... du coup plutot normal que ca merde

Du coup ce sont les fixtures qui sont pas au point, en effet, la creation d'un topic ne cree pas le premier post qui va avec (https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/management/commands/load_fixtures.py#L195)

[2015-06-03 14:12] Eskimon commented on #2787
Etant donne que le seul bout qui a change et qui explique cela c'est ca : https://github.com/zestedesavoir/zds-site/blame/dev/templates/misc/message.part.html#L204 je fais un ping @artragis ^^ Je suppose que c'est un `with` qui manque :)

[2015-06-03 14:13] GerardPaligot commented on #2774
De toutes façon, les fixtures de manière générales sont cassées. Je sais plus si c'est les articles ou les tutoriels mais tu te manges des erreurs quand tu essayes d'y accéder.

[2015-06-03 14:28] GerardPaligot commented on #2775
![capture d ecran 2015-06-03 a 16 26 43](https://cloud.githubusercontent.com/assets/1913901/7962416/7e9af35e-0a0d-11e5-8d4c-6fb73bd2d8e6.png)

Avec une version à jour par rapport à dev

[2015-06-03 14:35] firm1 commented on #2775
@GerardPaligot on tient un mystère là. Je viens d'essayer avec n'importe quel type de user, et pas moyen de voir le message flash :(

[2015-06-03 14:35] Eskimon commented on #2775
Idem, j'ai beau repartir sur une BDD propre et tout il y a pas moyen d'avoir ce message !

[2015-06-03 14:37] GerardPaligot commented on #2775
Je vous jure que j'ai pas photoshopé ma capture. ^^°

Voici ce que j'ai fais :
1. J'ai créé une toute nouvelle branche synchronisé avec dev de l'upstream.
2. J'ai mis à jour mes dépendances.
3. J'ai mis à jour le front.
4. J'ai supprimé ma base existante et je l'ai regénéré avec un `syncdb`.
5. Je me suis connecté avec un user.
6. J'ai signalé le message de la capture.

[2015-06-03 14:38] firm1 commented on #2775
Dans ton scénar, tu as bien fait un `migrate` aussi ?

[2015-06-03 14:39] GerardPaligot commented on #2775
Non, pourquoi je devrais faire un `migrate` ? Ce n'est plus censé être utilisé depuis Django 1.7, non ?

[2015-06-03 14:40] Situphen commented on #2775
Je crois plutôt que c'est `syncdb` qui n'est plus sensé être utilisé.

[2015-06-03 14:41] GerardPaligot commented on #2775
@Situphen Je ne fais plus que des `syncdb` depuis des semaines et cette commande fait toutes les migrations :

[code]

[2015-06-03 14:44] SpaceFox commented on #2775
syncdb est obsolète et est devenu un alias de migrate :
https://docs.djangoproject.com/fr/1.7/ref/django-admin/#syncdb

Cf aussi
https://github.com/zestedesavoir/zds-site/blob/dev/README.md#mettre-à-jour-votre-version-locale-de-zds

2015-06-03 16:41 GMT+02:00 Gérard Paligot notifications@github.com:

[2015-06-03 14:47] GerardPaligot commented on #2775
Ok, faut plus que je l'utilise mais comme c'est un alias, c'est tout pareil.

Cela dit, j'ai quand même regénéré la base de données avec un `migrate` (pour être certain) et le message s'affiche bien.

Est-ce que vous êtes sûr que vous avez bien généré le front ?

[2015-06-03 14:51] firm1 commented on #2775
Front regénéré, cache nettoyé. Rien a faire, je ne vois rien.

C'est magique :) Mais on est deux à avoir le problème donc c'est potentiellement un vrai problème

[2015-06-03 14:54] GerardPaligot commented on #2775
Rien à faire, avec un user ou un admin. Je vois tout (enfin les alertes en rouge uniquement par admin bien sûr).

![capture d ecran 2015-06-03 a 16 53 10](https://cloud.githubusercontent.com/assets/1913901/7963064/1c78ac9e-0a11-11e5-800c-22acb7af8143.png)

[2015-06-03 14:57] GerardPaligot commented on #2775
Je viens de tester sur Chrome, Firefox et Safari. Tout fonctionne chez moi.

Je ne sais pas du tout comment c'est possible que ça ne fonctionne pas chez vous.

[2015-06-03 15:01] SpaceFox commented on #2775
Quelles bases de données sont utilisées de part et d'autre ?

[2015-06-03 15:01] GerardPaligot commented on #2775
SQLite chez moi.

[2015-06-03 15:02] firm1 commented on #2775
SQLite aussi mon capitaine !!!

[2015-06-03 15:03] WinXaito commented on #2775
C'est toujours marrant à résoudre ce genre de situation :p

[2015-06-03 15:04] SpaceFox commented on #2775
Phoque. Une théorie qui s'envole.

[2015-06-03 15:05] Eskimon commented on #2775
Ca passe pas par les cookies aussi pour ce genre de truc ?

[2015-06-03 15:05] firm1 opened #2788 "Problème de référencement d'un pseudo dans un MP"
Source:[La source](http://zestedesavoir.com/forums/sujet/3321/lien-sur-le-pseudo-lorsque-lon-signale-une-erreur/?page=1#p59701)

Le lien vers l'url du membre est censé être `/membres/voir/La%2520source/` et non `/membres/voir/La%252520source/`

[2015-06-03 16:59] artragis commented on #2787
pas normal mais possible.

Le 03/06/2015 16:12, Eskimon a écrit :

[2015-06-03 17:44] WinXaito opened #2789 "Erreur dans la génération du markdown"
Bonsoir à tous,
en testant un petit truc, je suis tomber sur une erreur dans la génération du markdown.

![zds_bug_10](https://cloud.githubusercontent.com/assets/8223773/7967212/f34020e2-0a28-11e5-9f30-2b29ba5a82a6.PNG)

Bon après pour tomber sur ce bug j'ai ... peut-être un poil forcé :')

![zds_bug_11](https://cloud.githubusercontent.com/assets/8223773/7967214/f7e0e0aa-0a28-11e5-8fb2-17585c6ad93

[2015-06-03 17:58] Eskimon commented on #2789
hum... on va vraiment garder un ticket pour ca ? (de toute façon si la réponse est oui il faudra le même sur le [dépôt markdown](https://github.com/zestedesavoir/Python-ZMarkdown) )

[2015-06-03 18:00] WinXaito commented on #2789
Bien entendu j'ai mis ça en particulier pour plaisanter, après si quelqu'un est motivé à corrigé ça ...

[2015-06-03 18:08] #2789 closed, assigned to nobody

[2015-06-03 18:08] Eskimon commented on #2789
(en tout cas ca m'aura fait sourire :D )

[2015-06-03 18:10] GerardPaligot commented on #2789
Je suis presque content que notre Markdown nous disent que nous ne pouvons pas le faire.

[2015-06-03 20:06] Eskimon commented on #2751
Stacktrace :

[code]

[2015-06-03 20:09] GerardPaligot commented on #2751
`OperationalError: (1054, "Unknown column 'oauth2_provider_application.skip_authorization' in 'field list'")`

Il n'y aurait pas un problème de déploiement de la branche sur le serveur ?

[2015-06-04 06:41] La-source opened #2790 "Lien sur le pseudo lorsque l'on signale une erreur"
Bonjour,

J'ai signalé une erreur dans un tuto, ce qui a créé un MP pour les auteurs dudit tuto.
Dans ce MP automatique le html donne:

[code]

Donc dans mon pseudo il y a un problème dans le lien vu que sa ne mène pas sur mon profil.

[2015-06-04 06:42] GerardPaligot commented on #2790
Merci @La-source mais @firm1 a déjà créé l'[issue](https://github.com/zestedesavoir/zds-site/issues/2788) pour ton bug. :)

[2015-06-04 06:42] #2790 closed, assigned to nobody

[2015-06-04 06:44] La-source commented on #2790
D'accord... désolé ><' je n'avais jamais ajouté d'issue sur GitHub et je me suis dit que je pourrai essayé de le faire moi-même.

Sa m'apprendra a pas regarder avant :D

[2015-06-04 09:21] Eskimon commented on #2753
Voila la stacktrace, c'est la même erreur que pour la désinscription non ?

[code]

[2015-06-04 09:25] GerardPaligot commented on #2753
Tout à fait et comme pour la désinscription, je pense que le souci se situe côté infra du serveur de bêta. D'autant plus que @DevHugo a vérifié et il n'a pas le problème en local.

[2015-06-04 09:33] pierre-24 commented on #2755
C'est bon, merci @Eskimon :)

[2015-06-04 09:33] #2755 closed, assigned to Eskimon

[2015-06-04 09:34] Eskimon commented on #2753
Du genre ? Requirements pas a jour ? BDD pas migrate ? Il y a des choses simples que je peux tester ?

[2015-06-04 09:41] DevHugo commented on #2753
Quelque truc sur le sujet:
- https://github.com/evonove/django-oauth-toolkit/issues/219
- https://github.com/evonove/django-oauth-toolkit/issues/236

Comme ça, je dirais requirements pas à jours.

2015-06-04 11:34 GMT+02:00 Eskimon notifications@github.com:

[2015-06-04 09:50] Eskimon commented on #2753
Nop j'ai vérifié:

[code]

[2015-06-04 10:01] DevHugo commented on #2753
Les migrations alors ?

[2015-06-04 10:05] Eskimon commented on #2753
C'est là que le bât blesse, j'ai peut de tenter un `python manage.py migrate` et de mettre en vrac la BDD :D

[2015-06-04 10:10] DevHugo commented on #2753
Fait pas ça, si ça marche pas, je vais me sentir coupable =)

[2015-06-04 10:18] DevHugo commented on #2753
Tu peux tenter un manage.py migrate --list

[2015-06-04 10:39] Eskimon commented on #2753
Bien vu...

[code]

[2015-06-04 10:48] DevHugo commented on #2753
/o/

[2015-06-04 11:08] Eskimon commented on #2753
Du coup en mode fifou je lance le migrate ou pas #jesuissurderien @SpaceFox tu en penses quoi (et le cas échéant faudra noter ca quelque part)

[2015-06-04 11:09] GerardPaligot commented on #2753
Attendons l'avis de @SpaceFox mais de toute façon, nous sommes sur le serveur de bêta. Dans tous les cas, c'est pas dramatique.

[2015-06-04 11:14] Eskimon commented on #2753
Ouai c'est pas dramatique mais si on peut éviter de devoir remettre une BDD sur pied depuis un backup c'est aussi bien

[2015-06-04 11:56] pierre-24 opened #2792 "On ne peut plus indexer de tutoriels"
Quand on indexe un tutoriel publié, on obtient cette erreur:

[code]

J'ajoute que si le tuto est vide, ça ne change rien, donc l'erreur ne vient pas de l'indexation des parties ou chapitre.

C'est même potentiellement bloquant.

[2015-06-04 12:12] firm1 commented on #2792
Ce problème n'existe pas en prod, du coup c'est une regression non ? Et je dirais même bloquante.

[2015-06-04 12:14] GerardPaligot commented on #2792
Ca dépend, est-ce que le problème survient uniquement quand ce sont des tutoriels provenant des fixtures ?

[2015-06-04 12:14] pierre-24 commented on #2792
Non, j'ai testé en créant un mini-tuto vide à la main.

[2015-06-04 12:16] firm1 commented on #2792
Donc on est bien sur de la regression là

[2015-06-04 12:18] GerardPaligot commented on #2792
Je sais pas. Mon cas est un peu spécial parce que je ne suis jamais parvenu à faire tourner un Solr correctement mais ça fait longtemps que j'avais un problème sur l'indexation du contenu.

[2015-06-04 12:23] firm1 commented on #2792
@GerardPaligot tu peux ouvrir un thread sur ton pb d'install solr ? Normalement ça se résume à un (wget + mv + jar). C'est du java, donc ça devrait être facilement multiplateforme.

@pierre-24 si tu peux, est-ce que tu arrive à revenir sur la version de prod pour vérifier si tu reproduis le bug ?

[2015-06-04 12:24] pierre-24 commented on #2792
@Spacefox [l'avait déjà reporté il y a une quinzaine de jour](https://zestedesavoir.com/forums/sujet/846/zep-12-refonte-du-principe-des-tutoriels-et-articles/?page=18#p57266). Par ailleurs, [on dirait que ça bugge sur la bêta](http://beta.zestedesavoir.com/rechercher/?q=promesse&models=tutorial.tutorial) (j'ai essayé de chercher le tuto "les promesses en javascript").

Donc "bloquant" et "régressi

[2015-06-04 12:25] GerardPaligot commented on #2792
Ca devient incontestable. Nous sommes sur de la régression bloquante.

[2015-06-04 12:27] pierre-24 commented on #2792
Oui. Par contre, ça m'étonne que @SpaceFox ne l'aie pas vu, parce que si ça bugge, ça doit bugger toutes les 30 minutes.

[2015-06-04 12:27] Eskimon commented on #2792
Je vois pas en quoi c'est bloquant. Oui c'est dommage que les tutos ne soient pas indexé, mais ca n'empêche pas d’accéder au contenu, ne nous met pas dans l'illégalité etc.

[2015-06-04 12:30] firm1 commented on #2792
En gros, depuis la v15.5 (peut-être même avant) on a un problème d'indexation des tutoriels en prod. et :
- ça n'a pas été remarqué : il faudrait superviser ça
- la new-home met en avant la recherche : il faudrait que les choses soient un minimum trouvable.

[2015-06-04 12:31] GerardPaligot commented on #2792
Je complèterais les propos de @firm1 : Nous spécifions sur la page de la recherche les tutoriels. Donc si nous ne les indexons plus, nous ne proposons plus les nouveaux tutoriels et ça devient bloquant dans le cadre de cette fonctionnalité.

[2015-06-04 12:33] pierre-24 commented on #2792
C'est ... "conflictuel". La doc dit ceci :

Si on applique la définition pure et dure, c'est pas "bloquant", c'est juste ... "ennuyeux" :p

[2015-06-04 12:34] pierre-24 commented on #2792
Tient, au fait, c'est un retour de #2648 :s

[2015-06-04 12:36] SpaceFox commented on #2792
Vue l'importance de la recherche sur la nouvelle home, ce genre de gag est hélas  bloquant :(

[2015-06-04 14:46] firm1 opened #2793 "Le compteur d'alertes ne va pas au delà de dix"
Le compteur d'alerte est quelque peu trompeur, car au delà de 10 alertes le compteur reste bloqué. Si on a plus de 10 alertes, difficile de le savoir.

Le problème est aussi en prod (mais vu qu'en général on a une équipe très réactive sur les alertes, on ne le voit jamais). Mais on ne sait jamais si les modos décident de faire la grève un jour ... :D

[2015-06-04 14:58] firm1 opened #2794 "Un staff peut se sanctionner lui même"
Il existe une petite incohérence dans les droits sur les sanctions.

Un staff peut se sanctionner lui même. ça ne devrait pas être faisable car si quelqu'un fait ça, c'est très probablement qu'il a confondu de page.

[2015-06-04 15:08] pierre-24 commented on #2792
Ping @DevHugo ?

[2015-06-04 15:36] firm1 opened #2795 "L'affichage de mes articles en brouillon est troublant"
Lorsque je vais dans ma rubrique article, j'ai l'affichage de mes articles en brouillon qui affiche une bulle alors que la bulle est bien vide (normal on est en brouillon).

Il faudrait peut être ne pas afficher la bulle si elle n'a pas d'utilité dans cette rubrique ?

![brouillonay](https://cloud.githubusercontent.com/assets/6066015/7987806/156755f2-0ae0-11e5-90db-1fb209d08466.PNG)

[2015-06-04 17:50] DevHugo commented on #2792
Je suis de retour dans la soirée, je regarde ça asap.

[2015-06-04 18:04] DevHugo commented on #2792
Je suis pas sur un ordi fixe, peut tu commenter la ligne: https://github.com/DevHugo/zds-site/blob/dev/zds/tutorial/search_indexes.py#L14 et me dire si ça marche ?

[2015-06-04 18:53] pierre-24 commented on #2792
Ça marche, en effet :)

[2015-06-04 19:31] DevHugo commented on #2792
Cool, un grand merci =).

Maintenant 'le pourquoi' ^^ ! Car c'est pas normal qu'on est pas eu le problème avant.

Typiquement, pourquoi celui la, ça marche et pas l'autre https://zestedesavoir.com/rechercher/q=Les+promesses+en+JavaScript&models=tutorial.tutorial.

Ça semble pas liés au nombres de sous catégories, j'ai peur qu'on est un autre bug derrière.

Edit: Bon j'abandonne pour la raison du p

[2015-06-05 08:25] Eskimon opened #2796 "Le staff "voit" les articles des autres membres comme si c'etait les siens"
Probleme bizarre sur ma branche dev...
- Je cree un article avec user
- Je me log avec admin
- Dans la page "tout mes articles" je vois l'article de user

![screenshot from 2015-06-05 10 22 20](https://cloud.githubusercontent.com/assets/761168/8002208/36ec297c-0b6d-11e5-8ce6-0a846104dba1.png)

(Je tag Back car c'est ce dernier qui renvoi trop de choses)

[2015-06-05 08:33] GerardPaligot commented on #2796
Effet de bord des précalculs, possible ? ( @artragis )

[2015-06-05 08:41] artragis commented on #2796
si je comprenais le titre, je pourrais te répondre.

2015-06-05 10:33 GMT+02:00 Gérard Paligot notifications@github.com:

[2015-06-05 08:47] Eskimon commented on #2795
Bon pire que ca, le nombre de reactions ne remonte carrement pas j'ai l'impression...

[2015-06-05 08:52] Eskimon commented on #2796
J'ai retitre mais la description est plutot correcte je pense

[2015-06-05 08:56] artragis commented on #2796
il m'a fallu un moment pour percuter en fait. c'est le "mes" qui est étrange.
C'est _peut être_ un effet de bord de ma PR, mais ça peut aussi en être un du changement de design dans la v4

[2015-06-05 09:15] pierre-24 commented on #2795
En même temps, c'est logique: l'article n'ayant jamais été publié, il ne peut pas avoir de réactions ;)

[2015-06-05 09:16] Eskimon commented on #2796
@artragis ca vient bien de toi j'ai l'impression car c'est cette ligne qui pose souci je pense : https://github.com/zestedesavoir/zds-site/blame/dev/zds/member/views.py#L488 via ce commit https://github.com/zestedesavoir/zds-site/commit/0e4b35cb09ba897c46b65b0c8f136b6f24bb7c73

[2015-06-05 09:16] Eskimon commented on #2795
Bon j'ai regle le souci d'affichage ici, mais on a un autre souci qui fait que le commit https://github.com/zestedesavoir/zds-site/commit/0e4b35cb09ba897c46b65b0c8f136b6f24bb7c73 ne renvoi plus le nombre de reactions

[2015-06-05 09:21] pierre-24 commented on #2795
Mmmh ... Quelle branche, chez toi ?

[2015-06-05 09:23] Eskimon commented on #2795
sur dev

[2015-06-05 09:24] pierre-24 commented on #2795
C'est pour ça que je la trouvais pas ^^

Par contre, tu dis que le commit introduisait déjà le problème ou que ta correction à induit le problème ? (pour un peu savoir ou je dois chercher)

[2015-06-05 09:27] pierre-24 commented on #2795
C'est parti pour une QA d'une heure ;)

[2015-06-05 09:32] Eskimon commented on #2795
Je resume :

Le probleme de firm1 c'est la bulle, j'ai une PR pour ca https://github.com/zestedesavoir/zds-site/pull/2797

Mon souci est parrallele, c'est une regression sur l'affichage du nombre de reactions. Ca ne marche carrement plus a cause du commit sus-linke. (et meriterait surement une nouvelle issue)

[2015-06-05 09:33] artragis commented on #2796
en effet, je vois pourquoi.

2015-06-05 11:16 GMT+02:00 Eskimon notifications@github.com:

[2015-06-05 09:41] Eskimon commented on #2796
Tu pourras jeter un oeil ici en meme temps : https://github.com/zestedesavoir/zds-site/issues/2795#issuecomment-109214259

Car c'est induit par le meme commit :)

[2015-06-05 09:53] Eskimon commented on #2793
Tu pourrais expliquer plus ? Car je me souviens d'il y a quelques mois le compteur etait grimpe a 42 sans broncher :D

Tu as teste sur la preprod ou sur dev ou autre ?

[2015-06-05 10:01] Eskimon commented on #2793
C'est bon en fait j'ai vu et trouve pourquoi !

https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/templatetags/interventions.py#L156

Je corrige ca

[2015-06-05 13:16] Eskimon commented on #2794
Tu parles des lectures seules et autres banissement c'est bien ca ?

[2015-06-05 13:19] Eskimon commented on #2777
Je propose de laisser comme ca et voir comment la communauté réagit. En soi le comportement est finalement plutot logique aussi bien techniquement qu’ergonomiquement (vraiment, je trouve).

Bref, je ferme et l'on rouvrira si vraiment ca pose problème a trop le monde.

(Argument sans valeur, même GH sépare l’édition du titre de l’édition du premier post.

[2015-06-05 13:24] Eskimon commented on #2753
Du coup @SpaceFox on peut tenter de mettre cette migration ??

[2015-06-05 13:28] firm1 commented on #2794
Ouaip

[2015-06-05 15:02] Eskimon commented on #2708
@GerardPaligot comme convenu lors du dernier ZM tu pourras nous faire une PR de désactivation de l'API des MP pour virer le tag bloquant ici et ne pas bloquer la release à venir, le temps de trouver une solution viable.

[2015-06-05 15:16] Eskimon commented on #2681
Bon j'ai testé des trucs en long/large/travers avec un nouveau tuto et je n'arrive pas à reproduire de scénario mettant un tuto en vrac. Je pense vraiment qu'on est tombé sur un coup de pas de bol sur le moment ou la copie des données a été faite. Je ferme car j'ai bien peur qu'on ne trouvera pas de meilleur explication...

[2015-06-05 15:16] #2681 closed, assigned to nobody

[2015-06-05 15:19] firm1 commented on #2681
Peut-être dans ce cas il faudra refaire la copie des données alors et croiser les doigts pour que ce soit vraiment ça ? J'aurai laissé l'issue ouverte en passant le tag coté infra.

[2015-06-05 15:21] Eskimon commented on #2681
La copie de donnée prend un certain temps quand même. Si tu veux le faire je t'en prie (idem @SpaceFox ) et dans ce cas je te laisse ré-ouvrir le ticket :) Mais sinon faute de mieux on peut rien faire. J'ai trainer sur plusieurs autres big-tutos sans aucun souci.

[2015-06-05 15:33] firm1 commented on #2681
Je comprend bien, je dis juste que le problème de fond du coup est un problème infra ('fin j'espère) et donc plus bloquant. C'est grave de laisser le ticket ouvert au moins pour que quelqu'un pense à le corriger ?

[2015-06-05 15:36] Eskimon commented on #2681
Dans ces cas-là ne vaudrait-il pas mieux faire un autre ticket du genre "Faire un script fiable de synchro prod-preprod" ? Parce que là on aura une discussion qui n'aura plus rien à voir

[2015-06-05 15:38] SpaceFox commented on #2681
C'est pas un problème de script de synchro à mon avis. C'est tout simplement que vue que la copie est très longue, on ne peut pas garantir une cohérence parfaite entre l'état de la BDD et l'état des dépôts Git.

Il n'y a que 2 moyens de garantir ça :
1. Arrêter l'application le temps de la copie
2. Avoir un système de fichier qui gère les snapshots et utiliser cette fonctionnalité

[2015-06-05 15:40] firm1 commented on #2681
Y'a pas moyen de faire la copie depuis le serveur de sauvegarde plutot ?

[2015-06-05 15:43] SpaceFox commented on #2681
Non. Récupérer une sauvegarde depuis le serveur de sauvegarde, c'est chiant.

PS : C'est normal que ce soit chiant. C'est un Bacula, et donc c'est un outil de sauvegarde (qui gère l'historique, la rétention, etc...), pas un outil de "je copie dans un coin".

[2015-06-05 16:07] yapper-git commented on #2788
Il semble que l'argument "La source" dans l'URL soit échappé trois fois au lieu d'une fois ou de deux (d'après le 1er post de @firm1).

En effet:

[code]

EDIT: D'après @firm1 le lien devrait être `/membres/voir/La%2520source/`.
Dans l'absolu ce devrait même être `/membres/voir/La%20source/` en toute logique !
En réalité les 2 fonctionnent actuellement (càd échappé 1 ou 2 fois) mais selon moi seul

[2015-06-05 20:13] Eskimon commented on #2708
API des MP commenté pour le moment, j'enlève le bloquant mais garde le ticket ouvert.

[2015-06-05 21:28] yapper-git commented on #2788
J'ai regardé le code et il semble que `zds/member/models.py` soit en cause (plusieurs liens sont affectés : lien vers l'auteur lors du signalement d'une typo dans un article ou un tuto, lien sur la liste des articles/tutos à valider par un admin notamment).

Pour régler le problème, il suffit de supprimer le **urlquote** autour du nom d'utilisateur dans la méthode `get_absolute_url` de `Profil` (e

[2015-06-05 22:01] DevHugo commented on #2792
Je le remet ici, la PR corrige une partie du problème, celle de l'indéxaiton des catégories des tutos qui font planter l'indéxation des tutoriels.

Sans info complémentaires des logs de l’indexation la prod, impossible de deviner le problème qui fait que certains tutoriels sont pas indexé.

[2015-06-06 07:12] Eskimon commented on #2788
l'ulrquote est là pour ca : https://github.com/zestedesavoir/zds-site/issues/2301

[2015-06-06 08:01] #2777 closed, assigned to nobody

[2015-06-06 08:08] Eskimon commented on #2668
J'ai l'impression que ce sont tout simplement des fichiers manquants. En effet, le dossier `media/articles/None/` existe bien en preprod et possède quelques images (5 + leur miniatures). Si je prend par exemple l'interview sur Taguan, en prod on constate que la source est bien dans ce dossier mais en preprod je ne vois pas l'image pour autant.

Question @SpaceFox , est-il possible que des fichiers

[2015-06-06 08:29] Eskimon commented on #2780
Aucune régression ici quand je compare Prod/Beta/dev
1. Depuis quand ? Je ne trouve rien sur la prod' à ce sujet ? Dois-je remonter encore ?
2. C'est le cas si la réponse possède un karma positif (+1>-1)
3. C'est le cas si la réponse est marqué comme "Cette réponse m'a aidée"

La seule chose qui pourrait être à faire et mettre comme "Question" le premier post d'un thread de forum (uniquement de fo

[2015-06-06 08:54] SpaceFox commented on #2668
C'est possible oui.

Le 6 juin 2015 10:08, Eskimon notifications@github.com a écrit :

[2015-06-06 10:54] DevHugo opened #2802 "Passage à Solr 5"
Le passage à Solr 5 pour nous développeurs aurait plusieurs avantages:
- Fini le schema.xml o/, c'est moins chiant pour la QA.
- Possibilité de partager la configuration entre plusieurs coeurs
- Corrections de bugs
- [Un outil de stastique](https://cwiki.apache.org/confluence/display/solr/The+Stats+Component) très très intéressent
- Solr est un serveur en standalone. Plus de war !
- [et plein d'au

[2015-06-06 11:08] SpaceFox commented on #2802
J'espère qu'ils gèrent aussi systemd

Sinon je me demande bien comment vont être gérées les options de
configuration : structure des documents à indexer, stemming, gestion des
spécificités des langues, etc. La présentation est floue à ce sujet.
Le 6 juin 2015 12:54, "Hugo Courtecuisse" notifications@github.com a
écrit :

[2015-06-06 12:02] yapper-git commented on #2301
Ce bug n'est pas résolu et devrait être réouvert.

En effet:
- Connectez-vous sur la béta avec comme username `$ïtréma /slash #hash @arobase$` et mot de passe `itrema` (sans caractères spéciaux).
- Rendez-vous à la liste des MP, sélectionner un MP.
- Les liens sur les MP ne fonctionnent pas (s'ils contiennent &, espaces etc.) ! Par contre ceux où il y a la liste des participants OUI !! La QA a dû

[2015-06-06 12:05] yapper-git commented on #2788
En tout cas chez moi (tout à jour), cet urlquote est inutile pour corriger #2301 et ne fonctionne pas ! (voir message posté sur le sujet #2301 en question)

En effet ce n'est pas cette fonction là qui est appelée lors du message.author.get_absolute_url mais celle de Django dans le template !

A priori il faut mettre le urlquote dans le settings.py au niveau de:

[code]

Par contre avec le MP il y

[2015-06-06 13:51] Situphen opened #2803 "La structure schema.org du fil d'ariane imcomplète à certains endroits"
[Certaines pages](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorial/base.html#L22) contiennent bien des informations schema.org dans le fil d'ariane mais [d'autres](https://github.com/zestedesavoir/zds-site/blob/dev/templates/gallery/base.html#L13) non !

[2015-06-06 13:51] Situphen commented on #2780
C'est fait avec #2803 ! ;)

[2015-06-06 13:52] yapper-git commented on #2788
En résumé, actuellement:
- les liens vers les pages de profil sont anormalement échappés (2 fois) lorsqu'on fait appel à Profil.get_absolute_url: (une fois en auto par Django puis par urlquote) https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/models.py#L110
- la page de profil fonctionne si l'URL est quoté une fois (normal) ou deux fois
- le lien vers la page de profil dans les MP n'e

[2015-06-06 13:55] yapper-git commented on #2301
Le problème est simple à corriger, comme évoqué dans #2788 le urlquote est à mettre dans settings.py et non là où il a été mis (models.py).

[2015-06-06 16:42] yapper-git commented on #2788
Il y a actuellement d'autres problèmes du fait que le parseur Markdown soit utilisé pour envoyer ces MP et que le markdown a ses propres caractères qu'il faudrait échapper…

Par exemple si le nom d'utilisateur contient `]`, `\` ou `$` (d'autres ?) alors le lien n'est pas généré car le parseur n'a pas compris qu'il s'agissait d'un lien (et c'est plutôt logique d'ailleurs).
Or ZdS n'a aucune restric

[2015-06-07 01:34] jonathanpoelen opened #2805 "Couleur de texte modifiée, mais couleur de fond par défaut"
Dans le forum, après demande d'aperçu, si javascript désactivé et sur une configuration de couleur sombre, le texte est noir sur fond gris foncé pour le textarea. Pareil pour les inputs de connexion.

Le gris foncé vient de ma couleur système.

[2015-06-08 11:21] GerardPaligot opened #2806 "Dissocier les tags du titre"
Aujourd'hui, les tags doivent être spécifiés dans le titre d'un sujet à sa création ou à son édition. Une évolution intéressante serait de consacrer un champ entier rien que pour ça.

2 avantages notables :
- Eviter des problèmes de taille sur les sujets.
- Suggérer des tags à l'utilisateur pour éviter la multiplication des tags. Par exemple : "mac os x", "osx", "os x", etc.

[2015-06-08 12:26] DevHugo opened #2807 "Indexer les différents membres"
Ça pourrait être sympa d'indexer les différents membres, tout à l'heure, j'ai voulu chercher un profil pour retrouver un membre, et j'ai du aller chercher sur le forum pour trouver un sujet ou le membre avait répondu. Pas très pratique.

Bien sur, il faudrait 'bencher' l'indexation et la recherche pour savoir si cette amélioration est faisable.

[2015-06-08 20:30] DevHugo opened #2808 "La recherche renvoi dans la description none."
Comme on peut le voir dans le premier résultat, la première description est à None.

![bug_recherche_none](https://cloud.githubusercontent.com/assets/6099338/8044534/aa822112-0e2d-11e5-9f74-01c0565f46ec.png)

@Eskimon : Cela peut t-il faire bugger https://github.com/zestedesavoir/zds-site/pull/2786, dans ce cas la on pourrais avoir des conséquences assez bizarre ?

[2015-06-09 08:51] firm1 opened #2809 "Erreur 500 sur une url modifiée d'un minitutoriel publié"
Le bug se trouve actuellement en production.

Url incriminée : http://zestedesavoir.com/tutoriels/631/les-compteurs-numeriques/72/ko/

On ne devrait jamais avoir d'erreur 500 dan la vie.

[2015-06-12 11:27] pierre-24 commented on #2792
Merci à vous :)

[2015-06-12 11:27] #2792 closed, assigned to DevHugo

[2015-06-13 16:01] WinXaito commented on #2649
Du nouveau par ici ?

[2015-06-15 06:21] Eskimon commented on #2787
C'est corrigé

[2015-06-15 06:21] #2787 closed, assigned to artragis

[2015-06-15 06:22] Eskimon commented on #2796
C'est corrigé

[2015-06-15 06:22] #2796 closed, assigned to artragis

[2015-06-15 06:23] Eskimon commented on #2808
Je ne pense pas non, il y a un test pour s'assurer de cela normalement.

[2015-06-15 06:25] Eskimon commented on #2753
Faut qu'on avance, je ferais la migration dans l’après midi pour voir ce qui se passe. @SpaceFox il faudra remplir un document qque part pour le suivi ? Car normalement ce truc se fait automatiquement lors des maj non ?

[2015-06-15 06:44] SpaceFox commented on #2753
Oui, c'est fait automatiquement.

[2015-06-15 07:15] Eskimon commented on #2753
Du coup on a une idee de pourquoi l'initiale de `oauth2_provider` n'est pas passée ?

[2015-06-15 07:25] artragis commented on #2753
j'ai tendance à penser qu'on un mis un "fake" devant celle-ci comme pour les thumbnail?

[2015-06-15 07:34] Eskimon commented on #2753
C'est a dire ? (notamment "pourquoi on aurait fait ca" et "de quoi les thumbnails ?"

[2015-06-15 07:42] artragis commented on #2753
la lib easythumbnails étant de base compatible django 1.7, lorsqu'il y a eu migration, la [doc](https://github.com/zestedesavoir/zds-site/blob/dev/update.md#issue-1455-django-17) nous a dit de mettre un `--fake` pour migrer cette application là. Il se peut que par erreur, par extrapolation ou encore par choix technique on ait fait la même chose pour les oauth-provider.

[2015-06-15 09:46] Eskimon commented on #2753
Bon j'ai tente de faire la migration qui manque en faisant `python manage.py migrate oauth2_provider` ou `python manage.py migrate oauth2_provider 0001_initial` mais dans un cas comme dans l'autre j'ai le droit a une stacktrace qui se finit par `django.db.utils.OperationalError: (1050, "Table 'oauth2_provider_application' already exists")`

Des idées ?

[2015-06-15 09:59] artragis commented on #2753
fake it.

(en fait mon assertion était dans le mauvais sens) `python manage.py migrate
--fake oauth2_provider`

2015-06-15 11:46 GMT+02:00 Eskimon notifications@github.com:

[2015-06-15 10:00] DevHugo commented on #2808
Ok. Good to merge so. Désolé du dérangement.

[2015-06-15 10:46] Eskimon commented on #2753
mais si je la fake du coup j'aurais toujours le souci original non ? (probleme de colonne inexistante)

[2015-06-15 12:18] jonathanpoelen commented on #2805
Plus gênant, cela se fait aussi avec les messages édités.

[2015-06-15 13:03] Eskimon commented on #2753
Bon j'ai trouve sur la preprod' (je ne peux pas verifier en prod').
1. On utilise plus South depuis Django 1.7
2. On a 3 migrations via South pour oauth et une (initial) pour "non-south django 1.7"
3. La migration south numero 3 est cense (entre autre) creer la colonne qui fait bugguer l'affaire
4. Une fois cette migration faite, on pourra fake la migration initial non-south je pense

Question : C

[2015-06-15 15:49] Eskimon commented on #2753
(Au passage, ce souci vient de la mise à jour de django-oauth-toolkit

-django-oauth-toolkit==0.7.2
+django-oauth-toolkit==0.8.1

Cette mise à jour à été faite dans le but d'avoir toutes nos dépendances à jour proprement. Un moyen simple de contourner le souci **temporairement** serait de revenir en arrière sur la version de ce package.

[2015-06-15 17:44] DevHugo commented on #2753
C'est possible de créé la colonne à la main ?

Edit:

Voila les trois solutions officielle:

Le 15 juin 2015 17:49, Eskimon notifications@github.com a écrit :

[2015-06-15 20:11] Eskimon commented on #2753
- La solution 1 me plait personnellement, mais comment qu'on fait ?
- La solution 2 me semble hors de propos
- La 3 me semble un bon "dernier recours pourquoi pas si c'est pas trop chaud"

[2015-06-16 06:43] Eskimon commented on #2751
(J'ai oublie de le redire mais je confirme que c'est bien le meme souci que ca : https://github.com/zestedesavoir/zds-site/issues/2753 )

[2015-06-16 06:50] Eskimon commented on #2753
Je trouve 0 doc/explication pour lancer une migration South spécifique lorsqu'on est passé a Django 1.7.
Du coup la solution 3 me semble la seule restante... Cela signifie qu'il faut reussir a me pondre le SQL qui execute ceci:

[code]

[2015-06-16 07:20] artragis commented on #2753
ALTER TABLE oauth2_provider_application ADD COLUMN skip_authorization
TINYINT NOT NULL DEFAULT 0;
ALTER TABLE oauth2_provider_accesstoken ADD CONSTRAINT
fk_user_oauth2_provider_accesstoken FOREIGN KEY(user_id) REFERENCES(
auth_user.id);

2015-06-16 8:50 GMT+02:00 Eskimon notifications@github.com:

[2015-06-16 07:25] Eskimon commented on #2753
Si tu es sur de toi je lance la manœuvre en mode copie/colle en preprod et consigne ca dans le update.md si tout marche

[2015-06-16 07:27] artragis commented on #2753
Je suis sûr de moi pour la première. Pour la seconde, je fais "ce qui demande le moins de
noeuds au cerveau" mais c'est pas "certain".

Le 16 juin 2015 09:25, Eskimon notifications@github.com a écrit :

[2015-06-16 08:08] Eskimon commented on #2753
La premiere passe bien mais pas la seconde, je regarde mais si tu as vois pourquoi hesite pas !

[code]

[2015-06-16 08:10] artragis commented on #2753
Oui je vois pourquoi :

`ALTER TABLE oauth2_provider_accesstoken ADD CONSTRAINT
fk_user_oauth2_provider_accesstoken FOREIGN KEY(user_id) REFERENCES
auth_user(id);`

CF [ici](http://www.w3schools.com/sql/sql_foreignkey.asp)

2015-06-16 10:08 GMT+02:00 Eskimon notifications@github.com:

[2015-06-16 08:17] Eskimon commented on #2753
:D je lisais la même chose a l'instant :D

et BOUUUUMMMMM tout remarche !!

Je fais la PR de suite pour informer de la démarche a faire :) Gros merci a tous !!

[2015-06-16 08:24] artragis commented on #2753
Bientôt le lancement de la v15.06 alors!

Le 16 juin 2015 10:17, Eskimon notifications@github.com a écrit :

[2015-06-16 08:39] Eskimon commented on #2753
Et voila, PR lancée !! (et moi j'ai level up sur ma "prise de confiance sur la preprod" :D )

[2015-06-16 11:20] pierre-24 commented on #2129
C'est mergé ;)

[2015-06-16 11:20] #2129 closed, assigned to Eskimon

[2015-06-16 17:54] pierre-24 commented on #983
Je pense qu'on est finalement bon, ici, merci @DevHugo :)

[2015-06-16 17:54] #983 closed, assigned to nobody

[2015-06-16 18:01] pierre-24 commented on #2793
Merci @Eskimon ... Et @GerardPaligot pour la QA ;)

[2015-06-16 18:01] #2793 closed, assigned to Eskimon

[2015-06-16 18:16] pierre-24 commented on #2788
Donc, on est ok pour le "double parsage" ... L'erreur markdown est à mon avis impossible à régler, me trompe-je ?

[2015-06-16 18:17] pierre-24 commented on #2301
Donc ça c'est bon, merci @yapper-git  :)

[2015-06-16 18:17] #2301 closed, assigned to firm1

[2015-06-16 18:34] pierre-24 commented on #2655
C'est bon, on peut désormais recevoir à nouveau un mail de confirmation, merci @DevHugo :)

[2015-06-16 18:34] #2655 closed, assigned to nobody

[2015-06-16 18:56] Situphen commented on #2649
@WinXaito : Je suis en pause de dev pendant quelques semaines et @sandhose passe des examens (si je dis pas de bétises) donc il faudra attendre un peu :)

[2015-06-16 19:02] Situphen commented on #2805
Donc si je résume, tu as changé la couleur de fond des _textareas_ et _inputs_ en gris ?

[2015-06-16 19:30] pierre-24 commented on #2753
Et c'est mergé !

[2015-06-16 19:30] #2753 closed, assigned to nobody

[2015-06-16 19:31] pierre-24 commented on #2751
C'est bon :)

[2015-06-16 19:31] #2751 closed, assigned to nobody

[2015-06-16 20:39] sandhose commented on #2649
J'ai effectivement la première épreuve de Bac demain matin :-°

L'issue en soit est assez relou à gérer, parce qu'elle vient du fait qu'on applique une transition sur [quasi systématiquement](https://github.com/zestedesavoir/zds-site/search?utf8=%E2%9C%93&q=%24transition-duration) **toutes** les propriétés sur les boutons et autres liens ; du coup, certains navigateurs calculent les propriétés CSS

[2015-06-16 21:32] DevHugo opened #2812 "Suppression du chapitre lors de la suppression d'un d'icone de chapitre"
Une erreur 404 apparaît et bloque l'édition du tutoriel lorsqu'un supprime une icone d'un chapitre.

Pour reproduire le bug, suivez les étapes:
- Créé un big-tuto, créé une partie et un chapitre
- Éditer un chapitre et ajouter un icone pour le chapitre
- Aller dans votre galerie et supprimer l'icone
- Tenter d'editer le chapitre

Ping zep-12: @artragis et @pierre-24

[2015-06-16 22:34] DevHugo commented on #2812
J'ai l’impression qu'il supprime le chapitre, dans la base de données, ce qui serait très embêtant ! Mais pas dans le .git donc on est sauvé. Mais faut absolument supprimer ce champs qui sert à rien.

[2015-06-16 22:40] DevHugo commented on #2812
Je confirme, on a oublié un `on_delete=models.SET_NULL` dans le modèle des chapters !

C'est __BLOQUANT__ la ! => @Situphen

[2015-06-17 06:40] pierre-24 commented on #2812
Coté ZEP-12, le champ n'existe tout simplement plus, donc on est _safe_ à ce niveau là. Côté _back_ actuel, effectivement, c'est un problème (mais dans tout les cas, faut pas trop aller chipoter sa galerie, c'est sensible, ces petites bêtes là). Enfin, si il suffit de rajouter un `on_delete`, ça va vite.

... De la à être bloquant ?

[2015-06-17 06:48] Eskimon commented on #2812
C'est genant, pas bloquant. Ce serait bloquant si on pouvait plus rédiger/consulter de tutos du tout. Je reconnais que c'est chiant comme souci, mais il existe depuis des mois (je suppose) et c'est la première fois qu'on en entend parler. Alors bloquant me parait excessif.

[2015-06-17 08:07] pierre-24 commented on #2812
D'autant que si on le corrige vite, il peut passer dans la prochaine release :-)

[2015-06-17 08:13] Eskimon commented on #2812
Allez zou, voici un quick fix qui se contente juste de virer le champ du formulaire en attendant la ZEP-12.

[2015-06-17 08:56] artragis commented on #2812
en passant elle est pour quand la prochaine release puisqu'il n'y a plus de
ticket bloquant?

2015-06-17 10:13 GMT+02:00 Eskimon notifications@github.com:

[2015-06-17 09:02] SpaceFox commented on #2812
Je la lance ce soir.

[2015-06-17 09:02] Eskimon commented on #2812
Si faut regler au moins ca 2727 non ?

[2015-06-17 09:06] artragis commented on #2812
On a pas détruit le cache?

2015-06-17 11:02 GMT+02:00 Eskimon notifications@github.com:

[2015-06-17 09:09] Eskimon commented on #2812
Plus ou moins, il y a une PR pour le revert et une autre pour regler des soucis d'API

[2015-06-17 09:44] artragis commented on #2812
Ah ok, comme rien n'était marqué "bloquant" dans les pr je pensais que tout
avait déjà été mergé.

Le 17 juin 2015 11:09, Eskimon notifications@github.com a écrit :

[2015-06-17 09:47] Eskimon commented on #2623
[Cette PR](https://github.com/zestedesavoir/zds-site/pull/2785) ne devrait-elle pas inclure ce ticket ?

[2015-06-17 09:55] Eskimon commented on #2775
Bon alors la c'est mystique. Je viens de simplement me checkout sur la branche dev a jour en local et ca marche en partie... Quand je veux editer un post de fofo en tant qu'admin j'ai un avertissement (donc bien) mais quand je quitte un MP j'ai pas le message de confirmation (donc pas bien) par exemple

[2015-06-17 10:00] artragis commented on #2623
Si.

2015-06-17 11:47 GMT+02:00 Eskimon notifications@github.com:

[2015-06-17 10:21] artragis commented on #2623
mais en même temps ça ne résoud pas tous les problèmes, juste une partie, ce n'est qu'une première passe.

[2015-06-17 11:24] Eskimon commented on #2309
Je viens de tester sur mobile, les boutons sont bien la (serveur beta, 15.5.1). Je ferme.

[2015-06-17 11:24] #2309 closed, assigned to nobody

[2015-06-17 11:29] Eskimon opened #2814 "Le compte anonyme a une dernière date de visite incohérente"
(via saroupille sur IRC)

Lorsqu'un utilisateur se desinscrit, il passe tout ses posts au compte anonyme. Hors ce dernier n'est utilise par personne et donc a une date de dernier passage sur le site datant de 2014. On tombe dans la situation amusante ou anonyme a reussi a poster _apres_ etre passe sur le site pour la derniere fois ^^

Pour avoir un truc coherent et nickel, il faudrait que la date

[2015-06-17 11:33] SpaceFox commented on #2814
Ou plus simplement masquer la date de dernière connexion sur les comptes qui ne peuvent pas se connecter.

[2015-06-17 11:34] Eskimon commented on #2814
C'est meme mieux je pense oui

[2015-06-17 12:14] pierre-24 commented on #2747
Pas un problème de cache à proprement parler, il faut reprendre #2748 !

[2015-06-17 12:15] pierre-24 commented on #2749
Ok ici :)

[2015-06-17 12:15] #2749 closed, assigned to sandhose

[2015-06-17 12:16] pierre-24 commented on #2752
Bon, ça a un peu dégénéré, mais le problème initial est "résolu".

[2015-06-17 12:16] #2752 closed, assigned to nobody

[2015-06-17 12:18] Eskimon commented on #2752
C'est a dire ?

[2015-06-17 12:19] pierre-24 commented on #2752
Ben on c'est mis à discuter de cache et de solutions, quoi ;)

[2015-06-17 12:54] pierre-24 commented on #2727
Sur ce, on est finalement OK :)

[2015-06-17 12:54] #2727 closed, assigned to nobody

[2015-06-17 18:42] DevHugo opened #2817 "[Reminder] Reverse le code de la pagination"
La correction de la pagination inclue une correction temporaire. Celle-ci devra être modifiée lorsqu'une correction dans la librairie: [drf-extension](https://github.com/chibisov/drf-extensions) (custom extensions for Django REST Framework) sera proposé dans [ce fichier](https://github.com/chibisov/drf-extensions/blob/master/rest_framework_extensions/key_constructor/bits.py#L166).

Les actions sui

[2015-06-17 18:59] jonathanpoelen commented on #2805
Pas directement: j'ai changé le thème de mon bureau.
Cela impact les couleurs _par défauts_ du navigateur.

[2015-06-17 21:43] DevHugo commented on #2217
Faut attendre que je fasse une PR avant. Facebook n'enregistre pas les emails par-défaut.

Comme Twitter.

[2015-06-18 07:38] DevHugo opened #2819 "[15.6] Impossible d'indexer un tutoriel dont une partie n'est pas publié"
Il est impossible d'indexer un tutoriel dont une des parties n'est pas indexés.

Comment reproduire:
- Créé un tutoriel avec une partie et publier le.
- Ajouter une partie
- Indexer

[2015-06-18 07:43] Eskimon commented on #2819
Je met meme "bloquant" car ca fait planter l'indexation solr et donc potentiellement on indexera plus rien.

[2015-06-18 07:44] Eskimon opened #2820 "[15.6] Amélioration du module des Unes et de la phrase "Nouveau !""
Via [Shigerum](https://zestedesavoir.com/membres/voir/ShigeruM/) :
### Sur le message d'info
- [x] Il serait bien de pouvoir ne pas afficher de message du tout. Là, à partir du moment où on en a mis un une fois, on peut le remplacer par un autre, mais pas le supprimer. Or il arrivera qu'on n'ait rien à dire.
- [x] Il serait bien de pouvoir modifier la mention "Nouveau". Parfois on voudra probablem

[2015-06-18 07:48] DevHugo commented on #2819
Ça indexe tous avant le plantage enfait mais ça fait pas le reste de l'indexation.

[2015-06-18 08:04] ShigeruM commented on #2820
Pour moi il y a deux choses :
- Pouvoir supprimer la mention "nouveau" pour pouvoir afficher un message qui n'a rien de "nouveau" mais qui a un intérêt tout de même.
- Pouvoir supprimer totalement le message (mention "nouveau" ou pas) quand on n'a rien à dire.

Après c'est peut-être à voir comme une évolution de la feature qui, en l'état, fait bien le job tout de même.

[2015-06-18 08:32] Eskimon commented on #2820
J'ai mis a jour mon premier post pour refleter ca

[2015-06-18 09:35] Eskimon commented on #2599
C'est pas con du tout ca (et `last` quand on revient en arriere ?). A voir comment integrer ca :)

[2015-06-18 09:37] Eskimon commented on #2222
Ce ticket peut-il etre ferme avec la PR "precalcul" d' @artragis ou on garde encore pour plus d'opti ?

[2015-06-18 09:38] Eskimon commented on #2183
Je ferme ce ticket. Landscape semble bien marcher depuis un moment maintenant

[2015-06-18 09:38] #2183 closed, assigned to nobody

[2015-06-18 09:39] Eskimon commented on #2568
@GerardPaligot Tu avais pu teste un peu ou pas ? On fait quoi de ce ticket ?

[2015-06-18 09:40] GerardPaligot commented on #2568
Le gars de linthub semblait emballé qu'un projet comme le notre s'intéresse à son projet puis plus de réponses à mes e-mails et je n'ai ni le temps, ni trop l'envie de me pencher sur la question.

[2015-06-18 09:41] GerardPaligot commented on #2568
Cela dit, je reste convaincu de l'utilité de l'outil.

[2015-06-18 09:44] Eskimon commented on #2568
C'est vrai que ca a l'air sexy comme truc. C'est complique a intégrer ? On peut faire un test sur genre quelques semaines et voir comment ca se comporte

[2015-06-18 09:49] GerardPaligot commented on #2568
A l'époque, j'avais fais un test super rapide pour afficher des erreurs PEP8 sur une branche (https://github.com/GerardPaligot/zds-site/pull/15) mais non concluante. Après, j'avais vraiment pas cherché beaucoup.

[2015-06-18 09:49] Eskimon commented on #2156
Bon, j'ai pas d'arguments quantitatif a apporter ici mais plutot "philosophiques" en partant du principe que le gain de perf est minime dans un sens ou l'autre voire inexistant :
- Tout d'abord, ce fichier est uniquement appelé a la création d'un compte ou au changement d'email. Ça représente moins de 20 appels par jour pour le moment. Le jour ou on aura des milliers d'inscriptions par jour on pou

[2015-06-18 09:54] Eskimon commented on #1949
Je ferme ici, a mon avis une solution équivaudrait a réinventer la solution que je donne juste au-dessus.

[2015-06-18 09:54] #1949 closed, assigned to gustavi

[2015-06-18 10:08] Eskimon commented on #2568
Euh... elle est ou leur doc ?

[2015-06-18 10:19] artragis commented on #2222
Etant donné que ce ticket ne donnait aucun objectif réel, il faudra qu'on
regarde en prod ce que ça donne.

Pour l'instant, oui, faut le fermer pour éviter de s'y perdre avec un trop
grand nombre de tickets mais là faudra aller plus loin plus tard.

2015-06-18 11:37 GMT+02:00 Eskimon notifications@github.com:

[2015-06-18 11:01] GerardPaligot commented on #2568
Leur e-mail :)

[2015-06-18 11:03] Eskimon commented on #2568
Je partais pour dire ca "Arf... On veut vraiment essayer d’intégrer un truc avec pour dos "leur email" ?" puis j'osais tellement pas croire que c'etait possible que je suis retourner sur leur GH pour enfin trouver ca... http://docs.linthub.io/

[2015-06-18 11:13] Eskimon commented on #2568
Ca fait un peu peur la liste des autorisations demandées (même si je suppose qu'elles sont justifiées) et leur page d'explication a ce sujet envoie évidemment sur une 404...

[2015-06-18 11:23] GerardPaligot commented on #2568
Ah oui, j'avais oublié cette page. Sorry. Faut dire, elle est bien cachée.

[2015-06-18 11:48] Eskimon commented on #2386
Ca marche du feu de dieu ton astuce @GerardPaligot !!

[2015-06-18 11:58] Situphen commented on #2805
Pour moi ce n'est pas le problème de ZdS si les paramètres de ton thème affectent les couleurs par défaut du navigateur ! Je ne pense pas que ZdS puissent y faire quelque chose. Quel est ton OS ? Quel est ton thème ? :)

[2015-06-18 12:10] Situphen opened #2825 "Documenter le module `featured`"
Créer un fichier `doc/source/back-end/featured.rst` expliquant ce qu'il y a dans `zds/featured/` !

[2015-06-18 12:19] Eskimon commented on #2525
(coucou les copains de la ZEP-12, vous avez le temps de regarder ou on garde ca ici pour plus tard ? @artragis et @pierre-24 )

[2015-06-18 13:02] Eskimon commented on #2014
J'ai un POC en cours de route mais j'ai une question... Comment on fait pour les commentaires present sous le tuto original ?

[2015-06-18 13:53] firm1 opened #2827 "Espace perdu sur la home sur mobile"
Sur mobile on perd de la place en choisissant d'afficher les punchline sur une semi-moitié de l'espace. Cf la capture d'écran.

![18 juin 2015 154157 gmt 0200](https://cloud.githubusercontent.com/assets/6066015/8232719/1c912b58-15d2-11e5-8a75-0fe758121d12.jpg)

[2015-06-18 13:56] firm1 opened #2828 "L'affichage des dates sur la home en version mobile n'est pas optimal"
Tout est dans le titre et aussi visible sur le scène suivant.

![screenshot_2015-06-18-15-44-57](https://cloud.githubusercontent.com/assets/6066015/8232777/848e4510-15d2-11e5-99ac-9288fa26989a.png)

[2015-06-18 14:00] GerardPaligot commented on #2828
C'est quoi le problème ?

[2015-06-18 14:02] firm1 commented on #2828
Au lieu d'écrire Mardi 28 avril 2015, on devrait avoir "28/04/2015"

[2015-06-18 14:06] GerardPaligot commented on #2828
Pourquoi donc ? Sur la home actuelle, c'est le même format et ça n'a jamais dérangé personne, moi encore moins.

[2015-06-18 15:06] firm1 commented on #2828
Avant tout n'étaient pas entassé dans une boite, on se sent un peu à l'étroit du coup.

[2015-06-18 16:35] GerardPaligot commented on #2828
Entassé, c'est un bien grand mot mais je vois ce que tu veux dire.

Cela dit, je reste contre cette fonctionnalité. Si nous avons la place pour mettre toute la date, autant ne pas s'en priver.

[2015-06-18 16:48] jonathanpoelen commented on #2805
Kubuntu, thème Wonton Soup.

Le problème vient surtout que ZdS ne modifie qu'une partie des couleurs par défaut.
Sur le css actuel  (main.min.1155581.ceecc.css, ligne 687 (avec les outils de dev de firefox)) on peut voir une règle pour `body,button,html,input,select,textarea` avec  `color: #222` sans `background: ...` associé.

[2015-06-18 16:53] pierre-24 commented on #2525
Mmmmh ... On peut essayer, mais comme ça implique du cache, c'est pas ma tasse de thé, je t'avoue :p

[2015-06-18 16:54] ghost commented on #401
Ne pas oublier qu'en cas de sous domaine différent, pour le HTTPS, il faut que le certificat soit valide. Le fait d'avoir un sous-domaine différent est beaucoup utilisé, mais dans le cas où c'est le même serveur qui sert le contenu static et le contenu dynamique, j'ai du mal à voir l'intérêt si ce n'est cette augmentation des coûts.

[2015-06-18 17:20] pierre-24 commented on #2050
Merci @Eskimon :)

[2015-06-18 17:20] #2050 closed, assigned to Eskimon

[2015-06-18 18:42] pierre-24 commented on #2217
Ok, merci @DevHugo !

[2015-06-19 06:35] Eskimon commented on #2525
Pas spécialement en fait. Apres tout c'est comme si un utilisateur allait lire le tuto en ligne non ?

[2015-06-19 08:33] GerardPaligot opened #2830 "Améliorer l'éditeur"
Aujourd'hui, je me concentre beaucoup plus sur le contenu de ZdS, notamment dans le cadre de ce [projet](https://zestedesavoir.com/forums/sujet/3404/learn-it-faire-ses-listes-de-vocabulaire/).

Je suis donc passé de l'autre côté de la "barrière" : utilisez ce que nous développons. Je peux vous dire que l'éditeur est juste horrible à utiliser pour écrire du contenu. J'ai identifié plusieurs raisons

[2015-06-19 08:36] Eskimon commented on #2830
Coucou ! As tu vu la ZEP sur le sujet ou pas ? Je pense que tes idées seraient pas mal la bas :)

https://zestedesavoir.com/forums/sujet/1009/zep-14-refonte-de-lassistant-dedition-markdown/

[2015-06-19 08:38] GerardPaligot commented on #2830
Oh. On ferme cette issue ?

[2015-06-19 08:40] pierre-24 commented on #2774
Fixé, merci @Eskimon :)

[2015-06-19 08:40] #2774 closed, assigned to Eskimon

[2015-06-19 08:41] pierre-24 commented on #2525
Je vais reformuler: ça serait bien d'employer le cache, comme ça on évite de l'I/O à chaque fois que quelqu'un recharge le flux RSS.

[2015-06-19 08:52] Eskimon commented on #2830
Je pense oui, histoire de concentrer les discussions avec le plus grand nombre :)

[2015-06-19 08:52] #2830 closed, assigned to nobody

[2015-06-19 09:00] pierre-24 commented on #2795
Merci @Eskimon  :)

[2015-06-19 09:00] #2795 closed, assigned to Eskimon

[2015-06-19 12:09] pierre-24 commented on #2386
Merci @Eskimon du coup !

[2015-06-19 12:09] #2386 closed, assigned to nobody

[2015-06-19 12:16] GerardPaligot opened #2831 "Importer une liste de .tuto présent dans un dossier"
Avant le merge de la ZEP-12, il faut avoir la possibilité de migrer un dossier avec des .tutos pour convertir tous ces tutoriels dans le format ZdS et ainsi pouvoir se débarrasser du support des .tutos dans Zeste de Savoir.

Ca permettra après de migrer ces tutoriels dans le nouveau format des contenus de la ZEP-12.

[2015-06-19 12:23] Situphen commented on #2014
Oo Je ne parlais pas de cette aide là ! Je parlais seulement de celle-ci :

![Image](http://i.gyazo.com/f25af60d2c2952e29133cd11af5d43dc.png)

[2015-06-19 12:24] Situphen commented on #2805
Du coup là effectivement on devrait pouvoir mettre un `background: ...;` !

[2015-06-19 12:30] Eskimon commented on #2014
Et c'est un echec du caribou :D

[2015-06-19 12:31] Eskimon commented on #2386
Par contre faut s'assurer qu'on a un ticket sur le souci de copier/coller

[2015-06-19 13:38] pierre-24 commented on #2831
Justement, je disais ce matin à @Eskimon que j'avais complètement oublié cette histoire de .tuto et qu'il fallait que je me penche dessus ce weekend. Donc ...
- Soit on converti les .tuto (et donc faut écrire un script) et on ne développe plus cette fonctionnalité
- Soit on la code et donc pas besoin de convertir

J'avoue que la première option est séduisante, mais si c'est moi qui l'écrit, je cod

[2015-06-19 13:41] pierre-24 commented on #2819
Bref, c'est bloquant quand même.

[2015-06-19 13:44] GerardPaligot commented on #2831
Ca vous concerne directement alors je vous laisse gérer. Sachez simplement que l'équipe ZdS accepte d'importer tous les .tuto en privé sur l'auteur Auteur externe. Sachant qu'un script de conversion .tutos -> zmarkdown est déjà dispo. Autant opter sur cette conversion puis d'utiliser votre script pour passer du zmarkdown au zep12.

.tutos : Tutoriel format SdZ
zmarkdown : Format ZdS pré ZEP-12
zep

[2015-06-19 13:48] artragis commented on #2831
Si le script .tuto->zmarkdown donne vraiment un dossier tel qu'on l'a dans
zds v1, moi je prends. Sinon, effectivement va falloir passer par un truc
fait par nos propres soins car actuellement c'est un simple .xml

Le 19 juin 2015 15:44, Gérard Paligot notifications@github.com a écrit :

[2015-06-19 13:55] pierre-24 commented on #2831
... D'autant que pour rappel, on prend les tutos v1 (enfin, sauf si c'est mac qui les compresse :p )

[2015-06-19 14:12] artragis commented on #2831
(sauf si c'est mac qui les compresse en ligne de commande à la bourrin)

2015-06-19 15:55 GMT+02:00 Pierre Beaujean notifications@github.com:

[2015-06-19 14:26] GerardPaligot commented on #2831
Je n'avais pas utilisé la ligne de commande.

[2015-06-19 15:58] Eskimon commented on #2820
@ShigeruM j'ai une question pour toi. À l'heure actuelle lorsqu'une Une est mise à jour elle repasse devant toute les autres. Si on vire la mise à jour de la date lors de la modification, elle restera à sa place mais tu n'auras plus moyen de la déplacer (à part en en créant une nouvelle qui repassera devant). Est-ce que ca t'irais comme solution dans un premier temps (puis plus tard implémenté un

[2015-06-19 15:59] ShigeruM commented on #2820
Tu veux dire qu'il y aurait une checkbox "mettre à jour la date de modif Oui/Non" ? Un peu comme lors de la publication des tutos ? Si c'est ça, oui, ça peut être pas mal !

[2015-06-19 16:04] Eskimon commented on #2820
Ah j'avais pas pensé à la checkbox mais oui ca pourrait un moyen simple de faire ca dans un premier temps :) . Je met l'idée en oeuvre dans le weekend ou la semaine du coup :)

[2015-06-19 16:08] ShigeruM commented on #2820
Tu es exceptionnel comme Caribou, on te l'a déjà dit ?

[2015-06-19 16:21] pierre-24 commented on #2831
Mouais, stop le /trolling/.

Tout ça pour dire que si on a un outil qui fait .tuto → v1, alors on a
besoin de rien faire.

On 06/19/2015 04:26 PM, Gérard Paligot wrote:

[2015-06-19 16:27] Eskimon commented on #2820
:blush:

[2015-06-19 16:46] Situphen commented on #2827
Voici un petit _diff_ qui **devrait corriger** (je n'ai pas testé) ce problème et qui met la même marge pour les visiteurs non connectés !

[code]

[2015-06-19 17:35] DevHugo commented on #2819
Je dit pas le contraire, c'était juste pour l'info quoi.

[2015-06-19 17:51] GerardPaligot commented on #2831
Je ne sais pas pour vous mais moi je ne trollais pas. L'archive que j'avais faites était un ZIP tout à fait standard sur OS X et utilisé par tous ses utilisateurs.

Vous, potentiellement pas. Mais pour le staff, il faut un outil qui prend plusieurs .tutos pour faire tous les imports.

[2015-06-20 09:26] Eskimon commented on #2820
@ShigeruM voila les modifications apportées à présent (en attente de QA mais je te tiens informé histoire d'avoir des retours !):

### Phrase "Nouveau"
- Le "Nouveau" est changeable en autre chose si tu veux (champ libre).
- Tout les champs sont facultatifs. Si un champ est vide alors il ne s'affichera pas sur la page d'accueil.

### Les Unes
- Les auteurs sont maintenant un champ libre (texte de

[2015-06-20 09:28] DevHugo commented on #2802
325 issues sont ouverte la-bas avec ces deux tags, on est pas prêt d'avoir Solr 5.

[2015-06-20 17:06] DevHugo commented on #2819
@Eskimon ça serait possible de cherry-pick un commit et de me dire si la recherche passe bien ? ça te demande beaucoup de travail ?

[2015-06-20 19:03] pierre-24 commented on #2819
Ah, zut ... Ta PR pointait sur _dev_ et pas sur la branche de release. Et je l'ai mergée :/

[2015-06-20 19:08] DevHugo commented on #2819
Je refais une Proposition dans quelques minutes

[2015-06-20 19:09] pierre-24 commented on #2819
Là n'est pas le problème, c'est que j'ai mergé une PR au mauvais endroit :/

[2015-06-20 19:55] pierre-24 commented on #2819
Mieux. Après, faut voir si il faut faire un commit de revert ou pas.

@Eskimon ?

[2015-06-20 19:56] #2819 closed, assigned to nobody

[2015-06-20 20:09] Eskimon commented on #2819
Hum bonne question... Si on fait d'autres commits dans les memes fichiers ca risque de mal se mettre effecivtement... Du coup j'ouvre le revert via le bouton idoine dans la PR fautive ;)

[2015-06-21 13:49] DevHugo commented on #2711
Du coup, si on a besoin du nom d'utilisateur, on fait `request.user.profile.user.username` ?

[2015-06-21 14:31] Eskimon commented on #2711
La réponse est dans la question ;) "à laisser comme tel là où on a pas besoin du profile." . Pour avoir l'username tu n'as pas besoin du profile, donc je suppose qu'il ne faut pas s’embêter :)

[2015-06-21 14:44] DevHugo commented on #2711
Ah ok, j'ai compris en relisant le thread et ta réponse. Merci.

[2015-06-21 18:04] artragis commented on #2820
le https est-il accepté?

[2015-06-22 06:23] Eskimon commented on #2820
Oui bien sur. Je voulais juste dire qu'il fallait une adresse web et non pas un texte quelconque.

[2015-06-22 07:14] artragis commented on #2820
ok, merci.

Le 22 juin 2015 08:23, Eskimon notifications@github.com a écrit :

[2015-06-22 10:39] Eskimon opened #2842 "Le script de déploiement ne vérifie pas l'existence du tag a déployer"
Le script de déploiement ne vérifie pas l'existence du tag a déployer et du coup ca plante au milieu de nulle part si jamais il est absent. Il faudrait que l'existence du tag soit vérifié avant le lancement du mode maintenance et tout le tsoin-tsoin.

(donc bouger ca au debut par exemple https://github.com/zestedesavoir/zds-site/blob/dev/scripts/deploy.sh#L42 )

[2015-06-22 11:21] pierre-24 commented on #2842
... Bloquant, non ?

[2015-06-22 13:31] SpaceFox commented on #2828
100% d'accord avec Andr0 ici.
Le 18 juin 2015 18:35, "Gérard Paligot" notifications@github.com a écrit :

[2015-06-22 14:26] Eskimon commented on #2842
Pas vraiment, le script marche bien c'est juste que si la personne qui déploie est rapide alors le tag est pas encore prêt et du coup ca merde.

[2015-06-23 11:07] SpaceFox commented on #2842
Non, c'est juste chiant quand tu fais une release un peu à l'arrache et que tu as oublié qu'il fallait attendre.

Le vrai problème, c'est que le script laisse le système dans un état instable.

[2015-06-23 11:17] SpaceFox commented on #2156
D'ailleurs, on a déjà eu une PR pour étoffer sérieusement cette liste.

[2015-06-23 11:22] Eskimon commented on #2736
J'ai l'impression que le probleme est regle ici. J'ai pas mal joue avec ma BDD recement et chez moi tout marchait. Je ferme, a rouvrir si plus d'infos.

[2015-06-23 11:22] #2736 closed, assigned to nobody

[2015-06-23 12:04] Eskimon commented on #2391
Je viens de regarder, en preprod on est a 600. Je trouve ca un peu surprenant car la plupart des trucs que je lis parlait plutot de l'echelle de la minute voire des dizaines de secondes.

Au cas ou, la doc est la : https://docs.djangoproject.com/en/1.7/ref/databases/#persistent-database-connections

[2015-06-23 13:04] Eskimon commented on #1846
A quoi servent ces `except` la ?
- https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/decorator.py#L17
- https://github.com/zestedesavoir/zds-site/blob/dev/zds/middlewares/SetLastVisitMiddleware.py#L14

Quelles sont les exceptions a spécifier pour ca :
- https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L590
- https://github.com/zestedesavoir/zds-site/blob/dev/zds/u

[2015-06-23 13:29] Eskimon commented on #2820
Les differentes idees de la com' ont ete integre, je propose qu'on en reste la pour ce ticket et que l'on voit comment le besoin evolue avant d'aller faire plus de dev. Je ferme et laisse les gens de la com' nous faire des retours apres utilisation.

[2015-06-23 13:29] #2820 closed, assigned to Eskimon

[2015-06-24 11:43] Eskimon opened #2849 "[15.6] Les boutons de formulaires sont mal lisible"
Sur la beta (15.6) les couleurs des boutons de formulaires (tout du moins ceux disant "Apercu/Valider") ont change de contraste et deviennent difficile a lire.

Avant:
![screenshot from 2015-06-24 13 41 28](https://cloud.githubusercontent.com/assets/761168/8329104/f9ee79e4-1a76-11e5-995e-66e84c384bbb.png)

Apres:
![screenshot from 2015-06-24 13 41 34](https://cloud.githubusercontent.com/assets/761

[2015-06-24 12:12] Eskimon commented on #2775
Bon j'en perds mon latin, c'est trop mystique pour moi la...

Exemple : module des MP.
Scenario : Quitter un MP soit depuis le MP lui meme ou soit depuis la liste des MP

Cas 1 : Depuis le MP lui meme : Tout marche
Le code est ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/mp/views.py#L144

Cas 2 : Depuis la liste des MP : Ca ne marche pas.
Le code est ici : https://github.com/zested

[2015-06-24 12:56] firm1 opened #2851 "Impossible d'acceder à la documentation de l'API en prod [15.5]"
Url incriminée : https://zestedesavoir.com/api/
Navigateur : Firefox

Le screen obtenu :
![cors-1](https://cloud.githubusercontent.com/assets/6066015/8330355/1b07380a-1a81-11e5-9f78-bac73eb299e0.PNG)

Le contenu de ma console JS :

![cors-2](https://cloud.githubusercontent.com/assets/6066015/8330351/17749c8c-1a81-11e5-992f-0aa6493125ff.PNG)

Etant donné que le problème n'est pas présent en beta, j

[2015-06-24 13:50] Eskimon commented on #2693
Toujours pas OK sur Chrome. Quand je selectionne "aller a la recherche" puis fais `<tab>` je retourne au menu d'accessibilite

[2015-06-24 14:05] DevHugo commented on #2851
Marche sur la beta, faudrait vérifier le paramètre « CORS_ORIGIN_ALLOW_ALL » dans la config de prod et vérifier ce cas la, https://github.com/ottoyiu/django-cors-headers/issues/50.

[2015-06-24 19:56] Situphen commented on #2851
Moi en HTTPS j'ai toujours l'erreur "fetching resource list: http://zestedesavoir.com/api/api-docs/" mais en HTTP ça fonctionne normalement sur la prod !

[2015-06-24 20:10] Eskimon commented on #2851
Ca a l'air de dépendre du navigo

[2015-06-24 20:31] Situphen commented on #2851
Bah moi c'est Firefox comme @firm1 ! FF 38.0

[2015-06-24 20:54] sandhose commented on #2851
C'est lié à #2718, et sera fixé avec la PR #2757

[2015-06-26 14:43] Eskimon commented on #2827
Ok

[2015-06-26 14:43] #2827 closed, assigned to Situphen

[2015-06-27 05:58] artragis commented on #2849
Il en est de même pour le bouton "Lecture ZEN":

Avant:
![old_zen](https://cloud.githubusercontent.com/assets/1523653/8390676/3a911222-1ca2-11e5-9a75-c58c44bf775d.PNG)

Après 15.6
![new_zen](https://cloud.githubusercontent.com/assets/1523653/8390678/43f30ea6-1ca2-11e5-8e7c-6bf3208495a3.PNG)

[2015-06-27 06:27] DevHugo opened #2857 "Impossible d'utiliser les critères de recherche sur mobile"
Quand on fait une recherche sur mobile on ne peut pas utiliser les critères de recherche car il ne sont pas visible. En effet, ils sont dans la barre à droite et cette barre n'est pas visible.

[2015-06-27 07:18] Situphen commented on #2849
Étant donné que le texte n'est plus visible facilement, je pense que c'est Bloquant ! J'essaye de voir ça ce soir. @sandhose, si tu as le temps de le faire avant moi, ne te gêne pas ;)

[2015-06-27 08:51] Situphen commented on #2849
Le bug est vraiment bizarre ! On dirait que c'est Firefox qui interprète différemment le CSS.

| Béta | Prod |
| --- | --- |
| ![Situation 1](http://i.gyazo.com/abb0ae72ceae89435db3f58984c9b9a5.png) | ![Situation 1](http://i.gyazo.com/2a2714f2108dc9af45662accb04c61ad.png) |
| ![Situation 2](http://i.gyazo.com/9903b1a0f8aecefa2d69252ee4e326bb.png) | ![Situation 2](http://i.gyazo.com/abd390b0f11a65a

[2015-06-27 12:16] sandhose commented on #2849
Si, `git bisect` vient de m'informer que c'est ta faute, @Situphen :^)

C'est corrigé dans la #2858

[2015-06-27 16:59] Situphen commented on #2849
Corrigé ! Merci @sandhose :)

[2015-06-27 16:59] #2849 closed, assigned to nobody

[2015-06-27 22:04] Eskimon commented on #2849
Pour info ce bug ne devait pas être considéré comme bloquant. Ilbedt gênant oui mais n'empêche pas l'utilisation du site et ne compromet pas la sécurité des données.

[2015-06-28 08:22] Situphen commented on #2849
pour moi si ça empêche l'utilisation du site !

[2015-06-28 08:43] artragis commented on #2849
on est obligé de se disputer pour un truc déjà corrigé?

Le 28/06/2015 10:22, Situphen a écrit :

[2015-06-28 20:15] DevHugo opened #2860 "La fixature topics.yml n'a pas de text_html de remplis"
Dans le fichier, fixatures/topics.yml, il manque un attribut `text_html` dans le `Comment` avec l'id 5, du coup, quand on affiche la fixatures, on voit le sujet vide.

Dans le genre, pas important, on peut pas faire moins!

[2015-06-28 21:11] sandhose opened #2861 "[beta 15.6] Les méta des tutos dans l'affichage de petite liste sont plus sur 2 lignes"
Les auteurs + catégories des items de la liste des tutoriels sur 2 colonnes sur l'accueil sont actuellement sur une ligne, alors qu'il devraient être sur deux.

Comment ils sont:
![image](https://cloud.githubusercontent.com/assets/1549952/8398347/dcf29f42-1dea-11e5-9ae1-c39552f09850.png)

Comment il devraient être:
![image](https://cloud.githubusercontent.com/assets/1549952/8398346/ce7926b6-1dea-1

[2015-06-28 21:47] sandhose commented on #2861
Eh bien ça a été introduit par moi-même, par la 182c2f1 ; my bad

C'est réglé avec #2862

[2015-06-29 09:04] pierre-24 commented on #2860
C'est aussi le genre de "connerie" qui prend 30 secondes à corriger ;)

[2015-06-29 09:16] pierre-24 opened #2863 "L'outil de diff est complexe à utiliser"
Plusieurs problèmes ont été reportés ([là](https://zestedesavoir.com/forums/sujet/3490/interface-de-lhistorique-des-versions/?page=1#p63126) et [là](https://zestedesavoir.com/forums/sujet/2850/voir-ce-qui-a-ete-modifie-entre-plusieurs-versions-dun-article/#p51470)). Outre la demande pour avoir un diff sur les articles (#1443, qui sera offerte par la ZEP-12), cette interface n'est pas pratique.

[2015-06-29 11:48] DevHugo commented on #2860
Faut juste rajouter les ""+ partout sur la chaine HTML. Donc c'est un peu long ou on supprime cette fixature

[2015-06-29 12:37] pierre-24 commented on #2861
Ça, c'est réglé, BTW ;)

[2015-06-29 12:37] #2861 closed, assigned to sandhose

[2015-06-29 12:45] pierre-24 commented on #2401
Merci @DevHugo :)

[2015-06-29 12:45] #2401 closed, assigned to nobody

[2015-06-29 12:51] pierre-24 commented on #2814
Voilà qui est fait :)

[2015-06-29 12:51] #2814 closed, assigned to Eskimon

[2015-06-29 16:11] GerardPaligot opened #2865 "[Beta 15.6] Pas de message en avant affiche "NOUVEAU" quand même"
Serveur : Bêta
Version : v15.6-RC3
Système : OS X
Navigateur : Google Chrome Version 43.0.2357.130 (64-bit)

Scénario :

Rendez-vous sur la page d'accueil et constatez le mot "Nouveau!" sans aucun message.

Au cas où quelqu'un aurait mis un message entre temps, voici un rendu au moment où j'ai constaté le bug :

![capture d ecran 2015-06-29 a 18 08 31](https://cloud.githubusercontent.com/assets/19

[2015-06-29 21:57] Eskimon commented on #2865
En fait c'est pas censé arriver. Là c'est juste que la mise en prod' de la nouvelle façon de faire a fait sauter le message précédent mais en soi ça devrait pas se reproduire. Donc en gros le fait de pouvoir juste mettre un titre de bug = "It's not a bug, it's a feature!" (ça faisait longtemps tiens !)

[2015-06-29 21:57] #2865 closed, assigned to nobody

[2015-06-29 22:02] Situphen commented on #2865
Je pense qu'on devrait mettre le message en obligatoire, non ?

[2015-06-30 09:11] Eskimon commented on #2865
Seul les gens de la com' ont besoin de cet outil. Je pense qu'on peux leur faire confiance sur l'utilisation et du coup si un jour ils ont besoin que du titre bah ils peuvent. Mais a priori oui il y aura toujours un texte (mais encore une fois, on doit pouvoir faire confiance aux gars de la com' :)

[2015-06-30 14:42] firm1 opened #2866 "Erreur 500 lors de la modification de l'image d'un tutoriel déjà publié."
Prerequis :
- Etre staff

Scénario :
1. Aller sur un article déjà publié qui ne vous appartient pas
2. Consulter la version hors ligne de l'article
3. ajouter une image et valider
4. **Pouf : Erreur 500**

Précision : je ne reproduis pas le bug avec mes propres articles, je ne reproduis pas le bug sur des articles non publics.

J'ignore si je dois tagguer en bloquant (car c'est peut être du au pro

[2015-06-30 14:59] firm1 opened #2867 "Les dates de la Homepage qui jouent à cache-cache"
OS : Windows 7
Navigateur : Firefox 38
Température extérieure : **28°C**
Zoom : 100%

Comme on peut le voir dans la capture d'écran ci-dessous, la date de publication d'un tutoriel essaye de se cacher.

![cachette](https://cloud.githubusercontent.com/assets/6066015/8434029/53c2467c-1f49-11e5-9d85-c7deea92d357.PNG)

[2015-06-30 15:43] firm1 opened #2868 "[beta] Les catégories des forums ne respectent pas l'ordre défini dans le tri"
Petite comparaison entre la [prod](https://zestedesavoir.com/forums/) et la [beta](https://beta.zestedesavoir.com/forums/)

Sur la beta, la catégorie Communauté apparait en premier, alors que d'après l'ordre définit c'est d'abord Savoirs qui doit apparaitre. D'autant plus que le comportement est incohérent avec celui de la topbar.

Il s'agit donc d'une regression de la nouvelle release.

[2015-06-30 15:48] GerardPaligot commented on #2865
J'aime pas trop l'argument : faisons confiance à l'utilisateur, aussi qualifié peuvent-ils l'être à l'heure actuelle.

[2015-06-30 19:04] GerardPaligot commented on #2868
C'est du back. J'avais vu passer le bug pendant mon refacto mais j'ai zappé de le corriger.

[2015-06-30 19:08] GerardPaligot commented on #2867
Se passe quoi si on a, en plus, une description sur 2 lignes à ce niveau ? Genre on publie un nouveau tutoriel et on fait passer le tuto Arduino dans la liste d'en dessous.

PS : Je ne fais que le mentionner mais je n'ai jamais aimé ces 2 colonnes pour la suite des tutoriels.

[2015-06-30 19:22] GerardPaligot commented on #2868
Pour information à celui qui va corriger le bug :

Les informations de la topbar sont récupérées [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/templatetags/topbar.py#L19) et la liste des catégories avec ses forums sont traitées [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/views.py#L35). Et avant, les deux utilisaient `topbar.py`.

D'un point de vue person

[2015-06-30 20:16] Situphen commented on #2615
Corrigé par @SpaceFox !

[2015-06-30 20:16] #2615 closed, assigned to SpaceFox

[2015-06-30 20:16] Situphen commented on #2718
Corrigé par @SpaceFox !

[2015-06-30 20:16] #2718 closed, assigned to SpaceFox

[2015-06-30 20:17] Situphen commented on #2658
Corrigé par @SpaceFox !

[2015-06-30 20:17] #2658 closed, assigned to SpaceFox

[2015-07-01 07:16] artragis commented on #2860
"fixture". C'est typiquement le genre de fixture qui doit être chargée avec `load_factory_data` qui elle appellera "update_text" et fera le save adequat.

[2015-07-01 09:11] Luuka commented on #2857
Je viens de regarder le code, à l'origine les critères sont censés être déplacés vers le menu mobile, le problème se situe dans la fonction `appendToSidebar` [ici](https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/mobile-menu.js#L165) qui ne gère pas l'import des listes à puces.

Au passage l'attribut `data-title` des critères de recherche est erroné [ici](https://github.com/zestedesavo

[2015-07-01 10:23] Situphen commented on #2596
#2761 a été reprise par @Eskimon en #2816 donc je ferme !

[2015-07-01 10:23] #2596 closed, assigned to nobody

[2015-07-01 10:24] Eskimon opened #2871 "Ajout de date sur les Unes"
[Je me quote](https://zestedesavoir.com/forums/sujet/3429/la-release-v156/?page=4#p63731) :

dans une version future de ce module, on pourrait tout simplement vous laisser le choix dans la date de publication de la Une. Ainsi la page d'accueil afficherai les 5 news entre "maintenant et les 5 suivantes" et comme ca vous pourriez programmer des trucs futures et faire remonter/redescendre des unes

[2015-07-01 10:25] Situphen commented on #2329
Est-ce encore d'actualité ? Si oui, que faire pour résoudre ça ?

[2015-07-01 10:26] Situphen commented on #2302
Up ?

[2015-07-01 10:27] Eskimon commented on #2302
il faut ping @Un-Cornichon ;)

[2015-07-01 11:10] DevHugo commented on #2857
Ok, merci, ça m'évite de debug le truc.

Ouai, je pense que ça serait mieux en-dessous. J'aurais pas eu le réflexe d'aller dans le menu.

[2015-07-01 12:42] firm1 commented on #2867
@GerardPaligot ça donne ça :

![plink](https://cloud.githubusercontent.com/assets/6066015/8454633/5bf3f8a2-1fff-11e5-8d06-d1932eac3c3b.PNG)

[2015-07-01 12:45] GerardPaligot commented on #2867
Ah d'accord, l'espace n'était pas destiné à afficher la description. Ca va être quelque chose à revoir.

[2015-07-01 12:54] GerardPaligot opened #2872 "Revoir l'ordre des tutoriels qui ont besoin d'aide"
Récemment, j'ai commencé la rédaction d'un tutoriel sur Zeste de Savoir et j'ai mentionné que j'avais besoin d'un illustrateur pour l'icône de mon tutoriel. Une fois mon tutoriel créé, j'ai quand même été vérifié dans la liste des tutoriels qui ont besoin d'aide et je m'aperçois que le miens ne figurait pas dans la liste, ou plutôt c'est ce que je me suis dis.

En fait, mon tutoriel est bien dans

[2015-07-01 12:59] Eskimon commented on #2872
C'est pas con du tout. Ca fait longtemps on s'était dit qu'il fallait revoir l'ordre d'affichage, mais je sais plus si on était revenu un peu dessus ou pas...

[2015-07-01 13:02] ShigeruM commented on #2865
Je pense que c'est parfait comme ça. Il pourrait arriver qu'on ne mette qu'une accroche sans message, pourquoi pas. Rendre le message obligatoire serait ajouter une contrainte là où il n'y en a pas besoin, donc ça complique le système (relativement) inutilement.

Je viens de tester sur la bêta, c'est vraiment top comme ça. Merci aux devs !

[2015-07-01 13:04] firm1 opened #2873 "[beta] La liste des sujets suivis n'est pas cohérente avec la réalité"
Url incriminée : https://beta.zestedesavoir.com/forums/notifications/

Comme en témoigne le screen ci-dessous, lorsque j'ai un sujet suivis que je n'ai pas encore lu, dans la sidebar le gras est visible et montre que le topic n'est pas lu, mais dans la liste qui s'affiche on a pas de graisse pour différencier les topic lu ou non.

![graisser](https://cloud.githubusercontent.com/assets/6066015/8455

[2015-07-01 13:09] SpaceFox commented on #2873
Voilà :

![](http://recette3.supertoinette.com/49241/thumb/800/-/49241.jpg)

[2015-07-01 13:10] firm1 commented on #2873
Haha, you made my day :P

[2015-07-01 13:25] Eskimon commented on #2873
Du coup tu as bien fait de tagguer en "ré-graisse-ion" ;)

[2015-07-01 13:35] firm1 opened #2874 "[beta] La recherche permet de lire du contenu auquel on ne doit pas avoir accès"
**Prérequis**.

Appartenir à un groupe qui n'a aucun privilège particulier (dev par exemple).

**Url incriminée** : http://beta.zestedesavoir.com/rechercher/?q=hello+staff

On voit dans la liste des résultats des informations censés être réservés au forum staff. Ce qui n'est pas normal, d'autant plus quand essayant d'y acceder on tombe bien sur une 403. Le fait est qu'on peut ainsi lire des bout d

[2015-07-01 13:40] firm1 opened #2875 "[beta] Problème de mise en forme dans le texte du MP de changement de groupe"
Lorsque l'on modifie le groupe d'un membre via l'interface de promotion (en enlevant des groupes), le texte reçu par MP est mal formé. Celui que j'ai reçu ressemblait à celui-ci

On voit l'étoile au lieu de voir la puce. Il manque donc un espace quelque part dans une template markdown.

[2015-07-01 13:44] firm1 commented on #2873
:P

Et sinon, le bug est aussi visible dans la liste des sujets d'un topic.

[2015-07-01 14:09] DevHugo commented on #2874
Lesquels ? si je suis ton lien, on peut accéder au sujet sans se taper de 403 en tant que membres. Tu as pas un lien qui marche pas car j'arrive pas à reproduire en local.

Ton user à plusieurs groupes ? ou pas ? Quels droits sur le sujet ?

[2015-07-01 14:38] firm1 commented on #2874
Je t'ai rajouté au groupe devs sur le beta pour que tu puisse vérifier. C'est le prérequis pour reproduire la regression

[2015-07-01 14:42] DevHugo commented on #2874
Ok, je vois le bug, c'est des groupes créé avec l'interface admin de Django ?

[2015-07-01 14:43] firm1 commented on #2874
Oui

[2015-07-01 15:31] DevHugo commented on #2874
C'est surement cette ligne mais avec le bug haystack, c'est vite compliqué: https://github.com/zestedesavoir/zds-site/blob/release-v15.6/zds/search/views.py#L44

Je vais finalement pencher pour la solution, valeur sentinelle.

[2015-07-01 17:04] GerardPaligot opened #2876 "Rendre plus accessible les tutoriels qui ont besoin d'aide"
Aujourd'hui, pour voir la liste des tutoriels qui ont besoin d'aide, nous sommes obligé de se rendre sur la liste des tutoriels, puis de cliquer sur "Aider les auteurs" pour afficher la liste des tutoriels qui ont besoin d'aide.

Hormis le nom du lien "Aider les auteurs" que je trouve très mal choisis parce qu'on s'attends pas forcément à une liste de tutoriels, c'est juste horrible de se rendre s

[2015-07-01 17:06] GerardPaligot opened #2877 "Impossible de filtrer sur les tutos jamais publiés et les tutos en bêta dans les demandes d'aide"
Il n'est pas possible de filtrer les tutoriels jamais publiés ni en bêta dans la liste des tutoriels qui ont besoin d'aide.

PS : Je marque évolution mais j'ai hésité avec bug.
PS 2 : C'est quoi un tutoriel jamais publié ?

[2015-07-01 17:11] GerardPaligot opened #2878 "Faire une demande de sous catégorie pour les tutos au staff"
Il pourrait être intéressant de faire des demandes de sous catégories automatique au staff lorsque les auteurs jugent nécessaires qu'il n'en existe pas une appropriée pour eux dans la liste existante.

L'auteur n'aurait qu'à renseigner des sous-catégories supplémentaires et elles seraient créées par un membre du staff s'il les jugent pertinentes au moment de la validation ou de la publication du t

[2015-07-01 21:08] Situphen commented on #2877
Un tutoriel en écriture ?

[2015-07-01 21:27] Situphen commented on #2873
Ça m'a l'air lié à #2785 ! Ping @artragis ;)

[2015-07-01 21:31] Situphen commented on #2875
Ça se passe [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L1030)

[2015-07-01 21:43] GerardPaligot commented on #2877
Mais donc absolument tous les tutoriels privés des gens sont dans cette liste ?

[2015-07-01 21:43] Situphen commented on #2877
Non, seulement ceux qui ont au minimum une demande d'aide, et heureusement ! ;)

[2015-07-01 21:44] Situphen commented on #2877
J'ai raison @Eskimon ? :)

[2015-07-01 21:46] GerardPaligot commented on #2877
Si ça sert à ça, déjà il m'a fallu des explications pour comprendre donc d'autres pourraient se poser la même question. Mais surtout, je ne comprends pas du tout son utilité.

[2015-07-01 21:48] GerardPaligot commented on #2877
Ça doit pas être ça puisque mon tutoriel n'a jamais été publié mais il n'est pas marqué comme sélectionné.

[2015-07-01 21:51] Situphen commented on #2877
L'icône "Tutoriel jamais publié" n'est pas un filtre, c'est juste un indicateur, hein.

[2015-07-01 21:59] GerardPaligot commented on #2877
Je crois que tu ne comprends pas : J'ai un tutoriel en zone de bêta qui est donc la liste des tutoriels qui ont besoin d'aide. Si je comprends bien ce que tu m'affirme, l'indication qui signal que le tutoriel n'a jamais été publié devrait s'activer sur mon tutoriel mais ce n'est pas le cas.

Puis, si c'est pas un filtre, faut le montrer. La, en tant que simple utilisateur qui n'a même pas suivi de

[2015-07-01 22:03] Situphen commented on #2877
L'indication ne s'active que si le tutoriel est publié. Ce n'est pas le cas pour la majorité donc la plupart des indications de publications sont en mode OFF.

C'est vrai il n'y a que 4 filtres sur 6 indicateurs, mais est-ce que des filtres sur la publication et la mise en béta du tutoriel seraient pertinents ? Je ne pense pas. Qu'un tutoriel soit publié, en béta ou en rédaction ne change rien à l

[2015-07-01 22:16] GerardPaligot commented on #2877
Donc l'indication "Tutoriel jamais publié" s'active uniquement quand le tutoriel a déjà été publié. Soit c'est l'heure qui me fait dérailler, soit il y a un problème.

Une mise en bêta, c'est une demande d'aide et c'est exactement le filtre que je voulais faire quand je me suis rendu sur la page. Ici, je donne un avis d'utilisateur final, je n'ai pas ma casquette du contributeur technique.

[2015-07-01 22:24] Situphen commented on #2877
Ça doit être l'heure ! :D
- Quand le tutoriel n'est pas publié, l'icône s'affiche en transparent avec le texte "Tutoriel jamais publié" au survol
- Quand le tutoriel est publié, l'icône s'affiche sans transparence avec le texte "Lire la version en ligne" au survol (et l'icône est un lien vers le tutoriel en ligne)

Si on prend une image provenant de [la page 4](https://zestedesavoir.com/tutoriels/

[2015-07-02 09:00] artragis commented on #2873
nope, je ne touche pas à cette page là. C'est plutôt le refacto des forums qui a possiblement été cassé.

[2015-07-02 09:13] firm1 opened #2879 "[beta] Problème d'affichage au survol de mes tutoriels"
Lorsque je passe la souris sur un de mes tutoriels en cours d'écriture dans la liste des tutoriels, j'ai un affichage `None` qui n'a pas de sens (cf. capture).

![why-o-why](https://cloud.githubusercontent.com/assets/6066015/8473613/487c1104-20ab-11e5-9231-40c77bddbb61.png)

J'en déduis qu'on tient une regression là aussi.

[2015-07-02 09:46] Situphen commented on #2873
Si, [tu touches au `topic_row.part.html`](https://github.com/zestedesavoir/zds-site/commits/dev/templates/forum/includes/topic_row.part.html) et plus précisément à [la condition `if` qui met en "unread" ou pas le topic](https://github.com/zestedesavoir/zds-site/blame/dev/templates/forum/includes/topic_row.part.html#L8) !

[2015-07-02 10:37] artragis commented on #2873
c'est bon, j'ai vu pourquoi !. Je fais une PR ce midi.

2015-07-02 11:46 GMT+02:00 Situphen notifications@github.com:

[2015-07-02 11:41] artragis commented on #2873
PR [faite](https://github.com/zestedesavoir/zds-site/pull/2880) et j'ai même fait ça en mode TDD (i.e le teste fail, je développe, le test passe).

[2015-07-02 12:02] artragis commented on #2879
il semblerait que la "pubdate" ne soit pas forcément mise, ce qui génère un `None` [ici](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorial/includes/tutorial_item.part.html#L25)

[2015-07-02 12:21] firm1 commented on #2879
Ce qui est normal puisque mes tutoriels n'étaient pas publiés

[2015-07-02 12:24] artragis commented on #2879
Je n'en sais pas plus.

[2015-07-02 15:52] GerardPaligot opened #2881 "La licence n'est pas conservée à l'édition d'un tutoriel"
Scénario :
1. Création d'un tutoriel avec une licence donnée (par exemple, CC BY-NC-SA).
2. Editez ce même tutoriel et constatez qu'il positionne la licence sur CC BY.
3. Constatez que si vous validez votre édition sans toucher à la licence, elle est positionnée à CC BY.

Un changement de licence est donc super vite arrivé.

cc @artragis et @pierre-24 pour savoir si c'est corrigé dans la ZEP-12.

[2015-07-02 15:53] GerardPaligot commented on #2877
Alors, il faut trouver un autre affichage pour cette indication "Tutoriel jamais publié" ou "Lire la version en ligne". Comme tu peux le voir, j'ai mis beaucoup de temps à savoir que ce n'était pas un filtre malgré le fait que rien ne le différentie des autres indications/filtres.