[2016-04-04 19:06] SpaceFox commented on #3499
Cause : une erreur 500 sur l'AJAX quand on tente de suivre un topic.

L'erreur en question :

[code]

[2016-04-04 19:07] #3482 closed, assigned to gustavi

[2016-04-04 20:35] sandhose commented on #3492
Il s'agit donc bien d'un débat qui n'a pas abouti, et qui semble ne plus intéresser grand monde depuis 6 mois.

Je veux bien qu'il y ait eu à un moment une demande par quelques personnes juste après la sortie de la ZEP-04, mais pour moi, **ça ne justifie pas un tel changement.**

[2016-04-04 21:21] SpaceFox commented on #3492
Pour moi, les 3 principaux problèmes qu'a l'accueil actuel en bêta, c'est :
1. La surcharge en informations des blocs. En dégageant les heures de publication, voire en simplifiant l'affichage de la date qui est ultra-long (vendredi 19 septembre 2019 --> le 19/09/2019), qui fait que l'information primordiale (le titre du tuto/article) est noyé dans la masse). On peut éventuellement imaginer supprim

[2016-04-04 23:56] sandhose opened #3503 "[beta v18] C'est possible de créer un tag vide"
En bossant sur le design de la page des tags, j'ai malencontreusement laissé une virgule à la fin de la liste des tags, ce qui a eu pour effet de créer un tag vide.

ping @gustavi

[2016-04-04 23:57] sandhose opened #3504 "Possibilité de changer les tags après publication"
Le champ des tags peut être modifié après publication, et la modification est prise en compte immédiatement. Pareil il me semble pour les catégories. Je suis pas sûr que ce comportement soit voulu.

[2016-04-05 07:37] GerardPaligot commented on #3504
Ce bug est aussi présent pré version 18.

[2016-04-05 09:48] sandhose opened #3505 "[beta v18] IntegrityError: (1062, "Duplicate entry '138-69582' for key 'utils_commentvote_user_id_3ea65e81563eda03_uniq'")"
https://sentry.sandhose.fr/zeste-de-savoir/backend-1/issues/442/

[code]

[2016-04-05 09:50] GerardPaligot commented on #3505
Du contexte ?

[2016-04-05 09:52] sandhose commented on #3505
Les votes sont censé êtres uniques niveau `(user, post)`. La, il semblerait qu'on a un problème de concurrence entre deux workers qui fait qu'il y a quand même eu une entrée en double dans la DB. J'ai pas encore regardé en détail, je rapporte juste l'erreur qu'on a eu sur sentry

[2016-04-05 12:34] informaticienzero commented on #3463
Je m'en occupe.

[2016-04-05 13:24] artragis commented on #3504
Oui, c'est un "bug" déjà présent, mais je ne sais pas combien il est souhaitable. N'oublions pas qu'on a déjà eu besoin de faire ça dans la vie réelle.

[2016-04-05 13:54] firm1 opened #3507 "[v18] Filtrer les contenus par catégories/tags ne donne aucune indication sur le filtre par la suite"
Version 18
Navigateur Firefox
OS Windows

Lorsque je vais sur les url suivante :
- filtrer tous les contenus de catégorie "bureautique et rédaction" : https://beta.zestedesavoir.com/tutoriels/?category=bureautique-et-redaction
- filtrer tous les contenus de tag "latex" : https://beta.zestedesavoir.com/contenus/?tag=latex

Je n'ai aucune information dans la page qui me permet de savoir quel filtre

[2016-04-05 13:58] firm1 opened #3508 "[v18] Les liens vers le flux rss d'une catégories/tags n'est pas disponible"
Le lien incriminé : https://beta.zestedesavoir.com/contenus/?category=autres

En allant sur ce lien, on ne peut pas cliquer sur le flux rss qui apparait en bas à gauche. Le lien vers le flux est inexistant.

Le problème concerne les deux types de flux. Il s'agit peut-être d'un oubli coté template/front. Dans le doute je taggue large.

[2016-04-05 13:59] sandhose opened #3509 "Utiliser l'autocomplétion pour le champ des tags quand on édite/créé un contenu"
Actuellement, on a le problème que le champs des tags quand on édite un tutoriel, on risque d'avoir des tags en double, parce qu'on ne va pas entrer exactement le même nom de tags. Par exemple, `PHP7 != PHP 7`, et ça génère deux tags différents. C'est déjà le cas de `c++` et `c plus plus`.

Maintenant, ca pourrait être relativement facile d'ajouter de l'autocomplétion dessus, suffit d'un endpoint

[2016-04-05 14:00] firm1 commented on #3508
Le problème est le même pour tous les contenus aussi.

[2016-04-05 14:04] firm1 opened #3510 "[v18] Lien dans le fil d'ariane des contenus non clicacle"
L'url incriminée est la suivante : https://beta.zestedesavoir.com/contenus/

Le lien montré dans la capture d'écran ci-dessous n'est pas un lien puisqu'il n'y a pas de lien derrière et il n'est donc plus clicable.

![no-clicable](https://cloud.githubusercontent.com/assets/6066015/14284478/05b751bc-fb48-11e5-8e68-9d6e709021b4.PNG)

ça ressemble à un oubli.

[2016-04-05 14:09] GerardPaligot commented on #3508
Doublon https://github.com/zestedesavoir/zds-site/issues/3496

[2016-04-05 14:09] #3508 closed, assigned to nobody

[2016-04-05 14:09] GerardPaligot commented on #3510
Doublon https://github.com/zestedesavoir/zds-site/issues/3496

[2016-04-05 14:09] #3510 closed, assigned to nobody

[2016-04-05 17:17] sandhose commented on #3494
Est-ce que cette évolution ira encore dans la v18, ou on se dit qu'on release la v18 ASAP, et que la v19 suivra juste après ?

[2016-04-05 17:21] SpaceFox commented on #3494
Vue la tête de la v18, ça va prendre je pense au moins 2 semaines avant qu'elle sorte.

[2016-04-05 17:30] sandhose opened #3511 "[beta v18] Sprite @2x pas utilisé sur certaines images"
Sur écran @2x (rétina), certaines images n'utilisent pas le sprite rétina. C'est le cas par exemple des bulles de réactions sur les articles de la home, ou de la clem de la home. Je soupçonne un problème sur des propriétés CSS.

[2016-04-05 17:38] sandhose opened #3512 "Les urls de l'API devraient autoriser avec et sans slash final"
On a eu le souci avec les votes à la dernière mise en beta: notre config nginx corrige automatiquement les URLs pour ajouter un slash final. Du coup, l'URL pour les votes ne fonctionnait plus.

Si cette technique est utile pour les contenus indexés par les moteurs de recherche, son intérêt est minime pour les urls de l'API (qui ne sont pas indexées par Google, pour le coup).

Pour faire fonctionne

[2016-04-05 17:54] Emeric54 commented on #3503
@gustavi, vu ton commit, tu t'en occupe ?

[2016-04-05 17:58] firm1 opened #3513 "[v18] Les boites s'emboitent dans l'editeur markdown"
Version 18
Navigateut Firefox
OS : Android 6

En essayant de selectionner un smiley ou un code depuis l'editeur JS je n'arrive plus a fermer les boites sans reactualiser mon navigateur sur mobile. Ce qui me fait perdre le contenu de ma saisie en cours.

Voici un aperçu du problème.
![screenshot_20160405-194945](https://cloud.githubusercontent.com/assets/6066015/14292503/a8bd970c-fb68-11e5-9cbc-1b1

[2016-04-06 02:42] gustavi commented on #3503
Oui, juste un souci de rebase. Ça vient soon.

[2016-04-06 04:33] gustavi commented on #3494
Je vais faire cette issue. C'est un truc qui a foiré sur le rebase, désolé.

[2016-04-06 05:54] gustavi commented on #3495
Merci @pierre-24, je corrige ça de suite.

[2016-04-06 06:17] gustavi commented on #3481
Des nouvelles @Anto59290 ?

[2016-04-06 07:52] #3489 closed, assigned to gustavi

[2016-04-06 08:03] artragis commented on #3495
Le pire c'est que ça je l'avais dit dans la revue de code initiale...

[2016-04-06 08:09] gustavi commented on #3495
J'avais compris le contraire @artragis :/ Désolé, c'était pas clair, ça l'est maintenant :)

[2016-04-06 09:05] artragis commented on #3513
Reproduit sur firefox + windows

[2016-04-06 11:04] #3494 closed, assigned to gustavi

[2016-04-06 13:59] #3492 closed, assigned to sandhose

[2016-04-06 14:40] #3497 closed, assigned to gustavi

[2016-04-06 15:42] Croal commented on #3405
Où en sont les tests ?

[2016-04-06 18:28] WinXaito commented on #3405
J'ai aussi le bug

Je clique sur le pousse vert (Message de Spacefox), il augmente de 1 en ayant la couleur vert. Ensuite après actualisation il n'y plus la couleur verte et si je clique dessus il se supprime et prend la couleur verte à ce moment la (Couleur inversé).

Win10 / FF Dev 47.0a2 (2016-04-04) / Prod même page que @gustavi

[2016-04-06 20:47] Anto59290 commented on #2707
Je m'en suis chargé, la PR arrive bientot

[2016-04-06 20:49] Anto59290 commented on #3481
Je regarde ca de suite ;)

C'est corrigé, j'envoi la PR quand j'ai une vraie connection internet ;)

[2016-04-07 18:05] Emeric54 commented on #3513
Le correctif est passé, on peut donc fermer ici. @sandhose

[2016-04-07 19:28] #3513 closed, assigned to nobody

[2016-04-08 10:57] Emeric54 commented on #3490
La correctif d'@artragis est passé, on peut fermer ici.

[2016-04-08 16:59] firm1 commented on #3511
Done.

[2016-04-08 16:59] #3511 closed, assigned to nobody

[2016-04-09 16:11] Anto59290 commented on #3509
Apres l'autocompletion de membres je pense pouvoir realiser ca de manière efficace, je prends donc. A venir dans pas longtemps si tout roule.

[2016-04-09 22:12] #3503 closed, assigned to gustavi

[2016-04-10 14:04] SpaceFox commented on #3498
@GerardPaligot des nouvelles sur ce ticket ? Vu qu'il empêche de tester une des grosses nouveautés, j'aimerais qu'il soit corrigé pour pouvoir demander à tout le monde de tester sur la bêta.

[2016-04-10 15:25] Situphen commented on #3300
Go go go alors ! ;)

[2016-04-10 16:22] GerardPaligot commented on #3498
Le bug est identifié. Je bosse dessus.

[2016-04-10 18:21] GerardPaligot commented on #3498
Bien, PR done.

[2016-04-10 18:30] #3499 closed, assigned to GerardPaligot

[2016-04-10 19:07] #3512 closed, assigned to sandhose

[2016-04-10 19:22] Emeric54 commented on #3498
Du coup, on doit pouvoir fermer ici. @GerardPaligot

[2016-04-10 19:46] #3507 closed, assigned to gustavi

[2016-04-10 21:06] sandhose opened #3534 "Problème de migration de la ZEP-25"
Logs: (cc @gustavi )

[code]

[2016-04-10 21:48] sandhose commented on #3534
En enlevant tous les `u` devant les strings des prints du script (c'est du monkey-patching dégueu, je sais.), j'ai réussi à passer outre cette erreur. Voici (une partie) des logs:

https://gist.github.com/sandhose/74378c5d8efe375454e452dd49d022c9

[2016-04-10 22:14] Emeric54 commented on #3490
J'ouvre à nouveau cette issue car le message n'est toujours pas bon : au lien d'y voir notre pseudo, nous sommes tous nommés Taurre :

Si on ne veut plus s'embêter avec ce pseudo, on l'enlève tout simplement, et on laisse le simple bonjour.

[2016-04-10 22:29] sandhose opened #3535 "[beta v18] C'est possible de créer deux tags avec le même slug"
Par exemple, utiliser le tag `python` et `python?` ;  ça sera deux tags distincts, mais avec le même slug. Du coup, erreur 500: https://beta.zestedesavoir.com/contenus/?tag=python

[2016-04-11 01:02] firm1 commented on #3498
Je réouvre cet issue, car autant j'ai récupéré certains sujets suivis, autant il y en a qui ne sont pas là dans dans la sidebar des sujets suivis. Il suffit d'aller sur ce lien : https://beta.zestedesavoir.com/forums/notifications/ et voir la différence entre les sidebar et le reste des notifs

[2016-04-11 01:06] firm1 opened #3536 "[v18] Les notifications sont mal triés"
Sur ce lien : https://beta.zestedesavoir.com/forums/notifications/

Mes notifications sont triés un peu sans ordre. Sur la capture ci-dessous, on a des sujets de 2016 et d'autres de 2014 qui se côtoient.

![capture d ecran de 2016-04-11 03-04-26](https://cloud.githubusercontent.com/assets/6066015/14414374/3a7420ee-ff92-11e5-99e8-43b9337fe147.png)

[2016-04-11 07:23] GerardPaligot commented on #3498
Ouais. Pour information, le bug n'est plus le même. Les sujets sont bien suivis mais la liste des sujets suivis retournés ne sont pas les bons. A mon avis, le bug est semblable à celui de ta dernière ici (à savoir, https://github.com/zestedesavoir/zds-site/issues/3536).

[2016-04-11 14:49] #3490 closed, assigned to nobody

[2016-04-12 13:40] Anto59290 commented on #3337
Quid des gens ayant un pseudo de deux caractères comme notre ami ici : https://zestedesavoir.com/membres/voir/Sy/ ?

[2016-04-12 14:07] GerardPaligot commented on #3337
A mon avis, tu n'as pas vraiment besoin de l'autocompletion pour ce membre. :)

[2016-04-12 14:37] Anto59290 commented on #3337
Certes, mais ca veut dire que l'api (en filtrage recherche) ne renvoit jamais les membres dont le pseudo est de deux caractères. Dans l'autocomplétion ce n'est pas un problème, mais _in fine_ c'est exclure des membres de la recherche sans raison. Que ce passe t il si une application tierce fait des appels sur l'API ZdS.

[2016-04-19 07:31] gustavi commented on #3386
On fait quoi du coup ici ?

[2016-04-19 09:40] firm1 opened #3545 "[v18] Les invités peuvent voir le bouton suivre ce contenu"
Lorsqu'on est en mode invité sur un article ([celui-ci](https://beta.zestedesavoir.com/articles/1214/magasins-mise-a-disposition-dequipement-scientifique/) par exemple) on voit le bouton "suivre ce contenu" qui forcément ne fonctionne pas puisqu'on est invité.

Il ne faut l'afficher que lorsqu'on est connecté.

[2016-04-19 09:43] ghost opened #3546 "Possibilité de augmenter les pouces de façon considerable"
_Supprimé_

[2016-04-19 09:45] GerardPaligot commented on #3546
Le bug est connu et sera corrigé dès la publication de la v18. Merci quand même du rapport.

[2016-04-19 09:45] #3546 closed, assigned to nobody

[2016-04-19 09:47] GerardPaligot commented on #3545
Bien vu, normalement l'héritage dans les templates auraient du cacher les blocs actions aux utilisateurs invités mais je suppose que cet héritage ne couvrait pas les templates des tutos.

[2016-04-19 09:54] firm1 opened #3547 "[v18] Les votes positifs sont encore anonymes"
Aujourd'hui les votes positifs, contrairement aux votes négatifs sont anonymes quand on survolent les pouces verts.

Pour comprendre le bug, allez sur ce message : https://beta.zestedesavoir.com/forums/sujet/5766/nuits-debout-votre-avis/?page=4#p105466 (à l'heure ou je crée l'issue il y a 2 votes positifs et deux votes négatifs).

On voit clairement en survolant les votes négatifs qui sont les opp

[2016-04-19 09:57] pierre-24 commented on #3547
Pas d'accord, je viens de voter positif [là](https://beta.zestedesavoir.com/forums/sujet/5766/nuits-debout-votre-avis/#p105343) et je suis bien comptabilisé ET visible.  Ou j'ai pas compris ^^

[2016-04-19 09:59] pierre-24 commented on #3547
(et [là](https://beta.zestedesavoir.com/forums/sujet/5766/nuits-debout-votre-avis/#p105347), y'a Spacefox aussi).

[2016-04-19 09:59] SpaceFox commented on #3547
Ce sont 2 votes anonymes.

Je viens de dé-voter et re-voter, et maintenant on voit 1 vote anonyme et le mien.

Les votes positifs (postérieurs à la date de mise en bêta) sont donc bien désanonymisés.

[2016-04-19 09:59] #3547 closed, assigned to nobody

[2016-04-19 10:03] firm1 opened #3548 "[v18] erreur 500 à la lecture d'un tag"
J'obtiens une erreur 500 en allant sur tous les contenus avec le tag biologie.

Url incriminée : https://beta.zestedesavoir.com/contenus/?tag=biologie

[2016-04-19 10:06] firm1 commented on #3547
Bizarre, ça veut dire que c'est la clé de limitation des votes négatifs dans le settings_prod.py n'a pas été prise le même jour que celle des votes psotifs.

[2016-04-19 10:42] gustavi commented on #3548
C'est déjà connu, cf 2 issues en dessus avec le tag « Bloquant » #3535

[2016-04-19 10:42] #3548 closed, assigned to nobody

[2016-04-19 10:46] Situphen commented on #3386
@Sandhose a proposé une solution sur la PR

[2016-04-19 10:47] SpaceFox commented on #3547
Il n'y a qu'une clé.
Le 19 avr. 2016 12:06, "firm1" notifications@github.com a écrit :

[2016-04-19 12:53] Anto59290 commented on #2743
Je travaille sur une PR pour cette Evolution. Quelques choix que je fait, a voir si cela vous parrait bon.
- La vitesse de lecture SEC devient un parametres du fichier Settings
- La fonction compte betement tous les caractères du contenu (images et formules comprises) pour éviter un parsing complexe.

[2016-04-19 12:55] SpaceFox commented on #2743
Nickel.

[2016-04-19 16:41] Anto59290 commented on #2743
Comme la PR joue sur les contenus publiés, il y faudra aussi executer un script de migration qui fera le tour des contenus publiés pour compter leur nombre de SEC et enregistrer en BDD. Le script sera inclut dans la PR, mais il risque de prendre un petit peu de temps en prod : le script fait un traverse et quelques operations sur tous les contenus publiés. Tout sera notifié dans le fichier UPDATE.

[2016-04-19 21:18] Situphen opened #3549 "Nettoyer l'index de recherche quand un contenu change de structure"
[Voir le cas qui s'est produit](https://zestedesavoir.com/forums/sujet/5848/erreur-404-en-suivant-un-lien/)

Étant donné que c'est au niveau de la recherche, je suppose que le contenu en question a déjà été publié, non ?

Quand un contenu change de structure (exemple, il passe de big-tuto à moyen-tuto), les URLs changent forcément. Ce qui donne des liens morts dans la recherche.

[2016-04-20 04:02] gustavi commented on #3411
Sur une Archlinux avec `npm` et `node` qui viennent d'être installés :

[code]

[2016-04-20 09:53] gustavi opened #3551 "Problème d'affichage sur les votes"
Il vaut se rendre sur [cette page](https://zestedesavoir.com/forums/sujet/5853/petite-questions/#p106549) et on a ça :

![Humm ...](http://i.imgur.com/lFQODvU.png)

Il n'y a pas de vote appliqué et je ne suis pas le seul avec ce bug.

[2016-04-20 09:58] sandhose commented on #3551
Problème de concurrence des votes, déjà résolu avec la désanonymisation dans la v18

[2016-04-20 10:55] gustavi commented on #3551
Je laisse ouvert jusqu'à la v18 pour être sûr, tellement de problèmes avec ces votes.

[2016-04-20 17:18] DevHugo commented on #3549
Faudrait confirmer mais je pense qu'ils ont créé un autre tutoriel, peut-être que mon script d'indexation est trop con pour supprimer les anciens tutos

[2016-04-21 00:39] gustavi opened #3553 "Problème lors de la suppression de contenus avec le même nom"
Via le [forum](https://zestedesavoir.com/forums/sujet/5862/quand-un-article-et-un-tuto-ont-le-meme-nom-la-suppression-cause-des-404/?page=1#p106668) :

[2016-04-21 01:05] gustavi commented on #3553
Après un test en local impossible de reproduire. De même que sur la prod. Je vais voir avec Mewtow si c'est du vieux contenu.

EDIT : c'est pas du vieux contenu. C'est donc vraiment un bug.

[2016-04-21 04:57] gustavi commented on #3145
@Thunderseb du nouveau là dessus ? Pour moi ça a été corrigé avec la ZEP-12 mais il me faut confirmation :)

[2016-04-21 15:31] Thunderseb commented on #3145
Ca semble marcher, je n'ai plus de 404 sur le lien que je donne dans le 1er post.

[2016-04-21 15:35] gustavi commented on #3145
\o/

[2016-04-21 15:35] #3145 closed, assigned to nobody

[2016-04-23 21:30] Eskimon opened #3555 "Notification persistente et un MP n'est pas arrivé"
Hello tout le monde !

Je suis victime d'un bug récemment, et je suis presque persuadé que c'est une régression (car j'avais fait parti de ceux qui avait codé le truc à la base si ma mémoire est bonne :D )

Voilà le truc. J'étais dans un groupe (CA) et donc je pouvais poster dans des fofos privés (CA et staff). N'étant plus membre du CA depuis la dernière AG, j'ai logiquement été enlevé de ce grou

[2016-04-24 09:21] GerardPaligot commented on #3555
Est-ce que le fait de passer par l'espace admin ne bypasse pas la lecture des notifications actives et la réception du MP ? Si oui, je me demande si la personne qui t'a retiré tes droits n'est pas passé par là (cc @SpaceFox je suppose).

[2016-04-24 15:29] DevHugo opened #3556 "Créé des webhooks pour l'api des messages"
Salut à tous,

Je pensais à un truc ça serai sympa de faire des webhooks pour l'api des mp, une appli s'enregistre comme quoi elle veut être prévenue sur telle adresse qu'il y'a un message qui est arrivé. Zeste de savoir envoit un POST sur l'url.

[2016-04-24 17:14] GerardPaligot commented on #3556
Tu parles de webhook, de push notification ou des 2 ? Parce que les webhooks pour ZdS, j'en vois pas trop l'utilité, contrairement aux pushs.

[2016-04-24 19:08] DevHugo commented on #3556
Un peu des deux, je pensais que faire des notifications était quand même compliqué, faire un serveur de notification, c'est quand même assez chiant (faut en place des websockets et tout).
Je me disais qu'on pourrait mettre en place, un système de webhook, c'est vachement plus simple et après libre au dev de mettre en place leurs serveurs de notifications si ils veulent. Comme ça on peut mettre le

[2016-04-25 09:41] Eskimon commented on #3555
Ca serait sympa si un super-admin pouvait me remettre puis enlevé du groupe Staff et CA via la bonne interface (celle de mon profil) car sinon les notifs commencent a s'accumuler, il va falloir que je me desinscrive a la main de chaque sujet, c'est naze ^^

[2016-04-25 10:39] firm1 commented on #3555
Je t'ai rajouté puis supprimé du groupe CA via la bonne interface cette
fois.

Visiblement ça a été fait via la mauvaise interface (celle de django) la
premiere fois.

Je ne sais pas du coup qui d'autre est dans ton cas, mais il faudrait
corriger pour tout les autres aussi.

Le lun. 25 avr. 2016 11:41, Eskimon notifications@github.com a écrit :

[2016-04-25 12:02] Eskimon commented on #3555
Ca a corrigé les soucis pour moi. Du coup je ferme ce ticket qui n'a pas vraiment de raison d'être :)

[2016-04-25 12:02] #3555 closed, assigned to nobody

[2016-04-25 16:06] GerardPaligot commented on #3505
@sandhose Tu as dans l'intention de corriger ça avant la mise en prod ? Sachant que la bêta est bien moins utilisée que la prod et que nous avons réussi à obtenir l'erreur, j'ai peur d'une potentielle mauvaise surprise sur la prod.

[2016-04-25 16:11] GerardPaligot commented on #3493
@artragis Ta PR (https://github.com/zestedesavoir/zds-site/pull/3533) corrige cette issue aussi ?

[2016-04-25 16:15] artragis commented on #3493
Nein.

2016-04-25 18:11 GMT+02:00 Gérard Paligot notifications@github.com:

[2016-04-25 16:16] artragis commented on #3493
Ou peut-être que si. Faut avouer que je l'avais pas vue celle-là.

2016-04-25 18:15 GMT+02:00 francois dambrine artragis@gmail.com:

[2016-04-25 16:21] GerardPaligot commented on #3493
Le sujet me semble assez lié. Ca mériterait peut être d'intégrer cette issue à ta PR (sauf si c'est vraiment très différent bien sûr).

[2016-04-25 22:25] sandhose commented on #3505
Après, j'ai aucun moyen de reproduire le bug, et il s'est produit qu'une seule fois, donc je sais pas trop :x

[2016-04-26 01:07] gustavi commented on #3556
Comme d'habitude : discussions et suggestions => forums.

[2016-04-26 05:59] #3545 closed, assigned to GerardPaligot

[2016-04-26 06:20] #3536 closed, assigned to GerardPaligot

[2016-04-26 06:20] #3498 closed, assigned to GerardPaligot

[2016-04-26 06:39] gustavi opened #3560 "Supprimer les « warning » lors de la génération de la documentation"
Actuellement (`sphinx==1.3.6`) j'ai : `build succeeded, 17 warnings.` et avec la dernière version de sphinx j'en ai 3 de plus. La majorité est corrigeable facilement.

Il y a un « warning » qui n'est pas à corriger ici mais dans une PR à part, cf https://github.com/zestedesavoir/zds-site/issues/3561

[2016-04-26 06:41] gustavi opened #3561 "Le modèle « Category » existe deux fois"
Et ça c'est pas vraiment une bonne pratique. J'ai trouvé ça en générant le doc :

[code]

Il va falloir penser à en renommer un.

[2016-04-26 07:16] gustavi opened #3562 "L'action « Annuler la validation » apparaît même si je n'ai pas les droits"
Pour reporduire :
- être staff
- envoyer mon contenu en validation
- réserver mon contenu **avec un autre utilisateur**
- revenir sur mon contenu (le modifier est peut-être nécessaire)
- avoir ça : http://i.imgur.com/GMg3yiI.png
- cliquer sur « Annuler la validation »
- 403 !

EDIT : en fait je dois pouvoir annuler ma damande de validation.

[2016-04-26 07:26] gustavi commented on #3493
J'essaye de fixer ça quand @artragis a corrigé #3533 s'il ne le fait pas dedans

[2016-04-26 07:53] GerardPaligot commented on #3535
@gustavi Tu confirmes que c'est bon suite à ton merge ?

[2016-04-26 07:53] #3481 closed, assigned to nobody

[2016-04-26 07:53] #3535 closed, assigned to nobody

[2016-04-26 07:53] gustavi commented on #3535
@GerardPaligot qui me laisse même pas le temps de fermer les issues ^^

[2016-04-26 08:17] #3495 closed, assigned to artragis

[2016-04-26 08:37] artragis commented on #3551
Si c'est résolu, pourquoi on laisse ouvert alors qu'on est en train de courrir après la fin de cette release?

[2016-04-26 08:41] gustavi commented on #3551
Parce qu'on a apas vérifié sur la beta/prod si c'était OK. Combien de fois on a corrigé ce bug des votes ? Je crois @sandhose mais on est jamais à l’abri d'un problème, autant être prudent.

[2016-04-26 10:33] artragis commented on #3493
Il est fort probable que ma PR ait corrigé le problème. A tester donc.

[2016-04-26 12:56] #3496 closed, assigned to nobody

[2016-04-26 15:27] gustavi commented on #3562
Bon en fait je suis tombé sur un bug qui n'a pas lieu d'être suite à des modifications via l'admin Django. Je n'arrive par à reproduire quelque chose de correcte donc je ferme ici.

[2016-04-26 15:27] #3562 closed, assigned to nobody

[2016-04-26 15:29] #3459 closed, assigned to nobody

[2016-04-26 15:29] #3288 closed, assigned to Emeric54

[2016-04-26 15:42] #2707 closed, assigned to nobody

[2016-04-26 15:49] #3057 closed, assigned to nobody

[2016-04-26 20:33] GerardPaligot commented on #3505
Bien, j'ai un peu regardé comment on aurait pu arriver à cette erreur et c'est pas simple.

Nous avons cette méthode :

[code]

Cette méthode est l'unique méthode qui fait une modification sur le modèle `CommentVote`, ça limite le champ de recherche et la méthode se comprends assez aisément. Si nous réfléchissons un peu sur la méthode, on peut avoir tendance à penser que la méthode `update_or_crea

[2016-04-26 20:52] GerardPaligot commented on #3493
Issue pas corrigée ici.

Si nous allons dans le menu des tutos ou des articles, on aura les tags les plus utilisés dans ces 2 sections. Par exemple, j'ai un seul tuto publié avec le tag "Bla" et 2 articles publiés avec le tag "Bli", j'aurais la liste :
- Bla
- Bli

Et quand je clique sur "Tous les tags", j'ai tous les tags de tous les contenus confondus. J'ai rien contre mais alors il faudrait le

[2016-04-27 00:09] gustavi commented on #3505
Pour le coup je pense qu'on a une issue qui n'a peut-être pas lieux d'être. Si jamais c'est bien une issue je pense fortement que c'est notre code qui n'est pas bon et non celui de Django. Je pense qu'il faut tester plus en détails sur la beta lors de la 18-RC5.

[2016-04-27 02:23] gustavi commented on #3493
Je laisse ça à @artragis, le fix est presque le même que dans son autre PR

[2016-04-27 05:34] artragis commented on #3493
On sait et ça a été demandé comme ça.

pour le "tous les tags" si ça dérange vraiment c'est deux mots à changer.
Pour la liste, c'est plus complexe, mais bon.

Le 26/04/2016 22:52, Gérard Paligot a écrit :

[2016-04-27 08:27] GerardPaligot commented on #3493
@artragis Ca été demandé où ? Si ça a vraiment été demandé, il faut changer pour quelque chose du genre "Tous les tags des contenus", ça sera moins perturbant.

[2016-04-27 08:29] gustavi commented on #588
Laquelle des deux options proposées par @ChantyTaguan vous semble la mieux ? ping @SpaceFox

[2016-04-27 08:38] artragis commented on #3493
Dans la spec de la zep sur le forum.
Je suis d'accord pour changer l'intitulé.

Le 27 avril 2016 à 10:27, Gérard Paligot notifications@github.com a écrit
:

[2016-04-27 08:41] ShigeruM commented on #588
Pour moi l'ajout automatique dans Buffer, qui nous laisserait le temps de modifier le post tout en publiant un message par défaut si on n’intervient pas, c’est top. Et si en plus on a une notification d’ajout dans le Buffer, c’est encore mieux. Vraiment, ça serait vraiment, vraiment top.

[2016-04-27 08:45] gustavi commented on #588
@ShigeruM deux questions :
- Quel texte par défaut ?
- Je peux facilement faire des notifications mais qui notifier ? On a un groupe « communication » ?

[2016-04-27 10:16] ShigeruM commented on #588
Je dirais quelque chose comme ça :

[Tuto | Article] : Titre - Sous-Titre URL #tag1 #tag2

Avec le sous-titre uniquement si le tout ne dépasse pas les 140 caractères. Pour les tag, il faut enlever les espaces éventuels. Et on affiche autant de tags que possibles, toujours dans la limite des 140 caractères. La priorité allant aux tags par rapport au sous-titre (autrement dit, il est préférable d'av

[2016-04-27 10:21] viki53 commented on #588
Pas sûr que le sous-titre soit important, en tout cas pour Twitter.

Sur les autres plateformes pourquoi pas (et encore, il y a la preview du lien en général), mais bon…

[2016-04-27 10:32] ShigeruM commented on #588
Si le sous-titre rentre, je crois qu'il est important au contraire, car souvent c'est un petit trait d'humour qui rend alors le post (tweet ou autre) plus vivant, plus humain. Et dans d'autres cas il apporte de l'information sur le contenu partagé, ce qui ne peut pas faire de mal. Cela dit ce n'est clairement pas la partie du message à mettre en priorité. On ne le met que s'il rentre.

Reste la qu

[2016-04-28 12:18] firm1 opened #3563 "Le titre des pages de validation n'est pas correcte"
Lorsque je me rends sur les pages :
- https://zestedesavoir.com/validations/?type=article
- https://zestedesavoir.com/validations/?type=tuto

Le titre (contenu dans la balise `<title>`) de la page est `Validation . Validation . Zeste de Savoir`

Je suppose que le deuxième "Validation" que l'on voit dans le titre devrait être "Tutoriel" ou "Article"

[2016-04-28 12:20] GerardPaligot commented on #3563
Préfère une capture pour ce genre de choses. Tout le monde ne peut pas utiliser tes liens.

[2016-04-28 12:36] firm1 commented on #3563
Voilà mon capichef :dancer:

![noice](https://cloud.githubusercontent.com/assets/6066015/14885964/921dc42a-0d4e-11e6-8cca-fc3d2383602b.PNG)

[2016-04-29 11:47] gustavi opened #3565 "[v17] ImproperlyConfigured: TemplateResponseMixin requires either a definition of 'template_name' or an implementation of 'get_template_names()'"
Via [Sentry](https://sentry.sandhose.fr/zeste-de-savoir/backend/issues/459/) :

[code]

URL :  https://zestedesavoir.com/contenus/ajouter-auteur/PK/

@cgabard : on peut avoir plus de détails sur comment tu as eu cette 500 ?

[2016-04-30 13:07] gustavi commented on #3435
J'ai le même souci depuis que je suis passé à node 6

Les logs :

[code]

Le fichier de debug : http://paste.awesom.eu/n2JG

[2016-04-30 13:28] SpaceFox commented on #3435
Node 6 est officiellement pas stable, pourquoi l'utiliser ?

2016-04-30 15:07 GMT+02:00 Laville Augustin notifications@github.com:

[2016-04-30 13:32] gustavi commented on #3435
Parce que c'est dans mon package manager :

[code]

Qu'entends-tu par « pas stable » ?

[2016-04-30 13:54] malnuxstarck opened #3567 "403 lors d'une recherche contenant « <script> »"
Euh ! Bien il m'est Arrivé de Taper Un code Tout Bete dans la barre de recherche et sa m'affiche Une page Bizarre..Quand je tape du code html sa m'affiche des resultats mais quand je tape du script sa m'affiche sa Voir le lien : https://zestedesavoir.com/rechercher/?q=%3Cscript%3E+alert%28%27Bien%27%29%3B+%3C%2Fsrcipt%3E
Le code Script Que j'ai tapé dans la barre de recherche est `<script> alert('

[2016-04-30 13:56] SpaceFox commented on #3435
« Pas stable » :
http://www.nextinpact.com/news/99628-node-js-6-0-nombreuses-nouveautes-mais-pas-encore-stable.htm

2016-04-30 15:32 GMT+02:00 Laville Augustin notifications@github.com:

[2016-04-30 14:07] vhf commented on #3567
Repro minimale : https://zestedesavoir.com/rechercher/?q=%3Cscript%3E

De mon point de vue ça pose problème. On peut chercher `<strong>` mais pas `<script>` : https://zestedesavoir.com/rechercher/?q=%3Cstrong%3E

Perso j'aurais tendance à faire confiance au process de code review actuel et à Django, et donc éliminer quelques unes des règles présentes ici : https://github.com/zestedesavoir/zds-site

[2016-04-30 14:11] gustavi commented on #3549
Est-ce que ajouter `reindex_content` (`zds.search.utils`) [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/publication_utils.py#L23) corrigerai le problème ?

[2016-04-30 14:18] gustavi opened #3568 "Erreur si le forumaire « Ajouter un auteur » sur un contenu est vide"
Tout est dans le titre.

[2016-04-30 15:53] sandhose commented on #3435
Comme pour genre, tous les problèmes de front sur les 6 derniers mois, c'est _juste_ `lwip` qui est mal compilé, **pas** à cause d'une version de node pas stable. Go regarder [la doc de `node-gyp`](https://github.com/nodejs/node-gyp#installation) (le système de build pour les modules natifs dans node) pour vérifier que les pré-requis sont OK (pas besoin d'installer `node-gyp`, c'est fait automatiq

[2016-04-30 16:22] sandhose commented on #3435
Oh, my bad, node 6 a quand même cassé des choses, dont [`lwip`](https://github.com/EyalAr/lwip/issues/249) (pas encore fixé) et [`node-sass`](https://github.com/sass/node-sass/pull/1498) (fixé, mais les changements sont pas encore fait dans `gulp-sass`, donc faudra encore attendre) ; donc, en attendant que ces dépendances soient mises à jour, comme dit dans notre doc : **Utilisez la LTS de Node, à

[2016-04-30 16:34] SpaceFox commented on #3435
Je dirais même qu'on va rester sur la LTS de Node tant qu'on a pas de bonne raison de faire autrement.

[2016-04-30 16:36] sandhose commented on #3435
Bah, mettre à jour les dépendances, voir chercher à en dégager certaines (genre, lwip qui fait ch*er depuis le début) pour quand même fonctionner avec les nouvelles versions, tant que ça casse pas la LTS, on peut le faire, nan ?

[2016-04-30 16:46] SpaceFox commented on #3435
Dans la mesure où le site de Node.js lui-même me recommande d'utiliser la v4 et pas la v6, je ne vois pas bien pourquoi on se ferais chier à maintenir une double compatibilité ?

[2016-04-30 19:33] WinXaito commented on #3435
Je n'ai pas trop suivi, mais si y a un moyen de dégager lwip c'est cool, car il est relativement chiant.

[2016-04-30 20:39] DevHugo commented on #3549
Normalement lors de la publication du contenu, le flag must_reindex est mis à [True](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/publication_utils.py#L123).

Quand la commande [index_content](https://github.com/zestedesavoir/zds-site/blob/dev/zds/search/management/commands/index_content.py) passe elle appelle la fonction `reindex_content`.

[2016-04-30 21:36] Situphen commented on #3435
Passer à PostCSS (#3305) je crois, tu confirmes @sandhose ?

[2016-04-30 23:07] sandhose commented on #3435
Non, `node-sass` pose quasi aucuns problèmes, vu qu'ils fournissent des binaires pré-built sur la plupart des plateformes, et donc y'a en général aucun problème avec ; `lwip` sert pour `sprity` qui génère les sprites, mais vu qu'on a maintenant un Makefile, c'est plus simple d'utiliser d'autres outils, éventuellement en python pour générer le sprite, et donc virer lwip, au profit d'outils comme [`

[2016-05-01 01:20] SpaceFox opened #3570 "Requirement de dev nécessaires en run"
Ce if https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py#L287-L290 ne fonctionne pas : par défaut on est en debug, donc le système s'attends à avoir `debug_toolbar` d'installée.

[2016-05-01 01:22] SpaceFox opened #3571 "Indiquer les dépendances Python facultatives quelque part"
Et avec leur numéro de version !

- gunicorn
- MySQL-python
- raven

[2016-05-01 01:56] SpaceFox opened #3572 "Les confs nginx (et gunicorn ?) de la bêta et de la prod sont TOUJOURS différentes"
… et ça fait littéralement **des mois** qu'on me promet que ça va être corrigé.

J'en ai marre, je viens _encore_ de perdre environ une heure à cause de ça.

Je décide donc une grève : je ne touche plus aux environnements de prod et de bêta tant que ce n'est pas réparé. C'est non négociable, j'ai déjà été beaucoup trop sympa sur ce point.

Ça inclus le déploiement de la v18. En admettant qu'on ait

[2016-05-01 02:31] gustavi commented on #3572
Ça concerne qui cette issue ?

[2016-05-01 06:57] GerardPaligot commented on #3572
Je suppose @sandhose

[2016-05-01 08:00] cgabard commented on #3565
J'ai voulu rajouté un auteur a un article en entrants dans l'ascenseur.
L'envoie des données à forcément coupé, quand j'ai retrouvé une connexion
j'ai fais "rafraichir" sur mon tel et la bing, 500.

Le ven. 29 avr. 2016 13:49, Laville Augustin notifications@github.com a
écrit :

[2016-05-01 08:14] gustavi commented on #3565
Si quelqu'un a une idée ici, j'ai check tout le code et essayé de reproduire sans succès.

EDIT : merci @cgabard :)

[2016-05-01 10:23] A-312 commented on #3387
Oui les images sont flou, il faudrait les remplacer une par une.

http://www.famfamfam.com/lab/icons/silk/

[2016-05-01 18:22] GerardPaligot commented on #3461
J'aurais une question : Est-ce qu'il ne serait pas plus pertinent de générer une notification ? La seule chose qu'on perdrait, c'est le message du membre du staff mais est-ce important ?

Après, c'est sans doute une question à poser sur les forums.

[2016-05-01 18:49] Emeric54 commented on #3461
J'approuve @GerardPaligot.

Une seule chose : une alerte peut parfois être inutile. Dans ce cas, le message du membre du staff est important, afin de le signaler au membre qui l'a émise.

[2016-05-01 19:08] GerardPaligot commented on #3461
Tu as un exemple ?

[2016-05-01 19:17] Emeric54 commented on #3461
Imaginons qu'un utilisateur signale un topic, pour `x` raison. Si finalement la raison `x`  n'est pas valable, le staff ne changera rien au topic. L'utilisateur qui a émis l'alerte recevra alors une notification de résolution, mais rien n'aura changé. Il pourra donc penser que son alerte a été ignorée.

Avec la possibilité d'un MP, le membre du staff pourra expliquer que la raison `x` n'est pas va

[2016-05-01 20:02] GerardPaligot commented on #3461
Bien vu. Du coup, c'est vraiment à discuter avec la communauté et ne fait pas l'objet de cette issue. :)

[2016-05-02 08:25] La-source opened #3576 "erreur 500 quand on répond + notif à soie même"
Bonjour,

Depuis ce matin j'ai remarqué que lorsque je répond à un sujet je me chope à chaque fois une erreur 500, le message est bien enregistrer mais du coup cette erreur est étrange.

Par ailleurs, je reçois une notification pour le message que je viens de poster.

![auto notif](https://cloud.githubusercontent.com/assets/10511322/14950190/1e827240-1050-11e6-814c-9d1b099e33db.PNG)

[2016-05-02 08:26] GerardPaligot commented on #3576
Salut @La-source,

Toute la plateforme semble instable ce matin. Un peu tout le monde se prend des erreurs 500 pour un peu près n'importe quoi.

[2016-05-02 08:27] gustavi commented on #3576
Bonjour,

Nous sommes au courant pour les 500, on est dessus. Pour le reste c'est connu.

Merci du retour (à l'avenir préfère toutefois le forum ;) ).

[2016-05-02 08:27] #3576 closed, assigned to nobody

[2016-05-02 08:28] GerardPaligot commented on #3576
Dans la mesure où ZdS est instable ...

[2016-05-02 08:30] La-source commented on #3576
Eu... je croyais que les bug devaient plutôt être traité sur github justement... chaque fois que quelqu'un poste un rapport de bug il est reporté sur github alors je me suis dit qu'autant directement le tapé au bon endroit.. non ?

[2016-05-02 08:32] gustavi commented on #3576
C'est pour filtrer, le bug est déjà connu https://github.com/zestedesavoir/zds-site/issues/3259

[2016-05-02 08:34] GerardPaligot commented on #3259
Ah tiens, il se pourrait bien que la ZEP-24 ait corrigé ce bug.

[2016-05-02 08:34] SpaceFox commented on #3259
« Corrigé par mégarde » :)

[2016-05-02 08:39] GerardPaligot commented on #3259
En fait, je suis certain que je corrige ce bug. Je ne génère plus de notif pour l'auteur quand un utilisateur poste un message : https://github.com/zestedesavoir/zds-site/blob/dev/zds/notification/receivers.py#L208-L210

[2016-05-02 08:40] gustavi commented on #3259
Je confrme après un test !

[2016-05-02 08:40] #3259 closed, assigned to GerardPaligot

[2016-05-02 08:42] GerardPaligot commented on #3493
L'issue a oubliée d'être fermée ici. Merci @artragis en tout cas.

[2016-05-02 08:42] #3493 closed, assigned to artragis

[2016-05-02 08:54] GerardPaligot commented on #1851
On a oublié de fermé ici.

[2016-05-02 08:54] #1851 closed, assigned to nobody

[2016-05-02 11:14] SpaceFox commented on #3396
Corrigé et mergé, merci !

[2016-05-02 11:14] #3396 closed, assigned to nobody

[2016-05-02 11:24] artragis commented on #3571
requirements prod?

[2016-05-02 11:29] #3563 closed, assigned to nobody

[2016-05-02 11:38] artragis commented on #3448
ça sera réglé lors de la mise en place de la v18 ça. Peut-on l'inclure dans la milestone svp?

[2016-05-02 11:44] DevHugo commented on #3448
Faut faire le script pour supprimer les anciennes table pre-zep12.

[2016-05-02 11:46] GerardPaligot commented on #3448
Comment ça se fait que cette issue sera réglée ?

[2016-05-02 11:52] artragis commented on #3448
Elle est due à la présence des anciennes tables pré-zep12 . En les
supprimant, plus d'issue.

2016-05-02 13:46 GMT+02:00 Gérard Paligot notifications@github.com:

[2016-05-03 03:00] gustavi commented on #3570
Deux choses :
- c'est le cas car un serveur de prod ne doit en aucun cas être en `DEBUG=True`
- si jamais on décide qu'on peut avoir `DEBUG=True` en cas de tests sur une version de prod alors il faut l'ajouter dans `requirements.txt`.

[2016-05-03 03:13] gustavi commented on #3363
On règle ça avec la v18 ou pas @sandhose ?

[2016-05-03 04:44] firm1 commented on #3570
En fait je pense que les propos de @SpaceFox ici c'était pour dire que le code du fichier `settings.py` rend la `debug_toolbar` necessaire pour installer une prod alors que c'est une dépendance qui est par nature une dépendance de dev.

Une solution correcte pour cette issue serait de simplement déplacer [le fameux bloc](https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py#L287-L290)

[2016-05-03 06:42] gustavi commented on #3417
C'est `*.yaml` c'est pour ça. Je ferme ici donc.

[2016-05-03 06:42] #3417 closed, assigned to nobody

[2016-05-03 06:45] gustavi commented on #3382
Doublon de https://github.com/zestedesavoir/zds-site/issues/3448

[2016-05-03 06:45] #3382 closed, assigned to nobody

[2016-05-03 07:49] gustavi commented on #2328
Après avoir fait quelques recherches, `python-social-auth` vérifie si l'utilisateur est actif via le champs `is_active` de `djang.contrib.auth.models.User`. En l'état des choses on ne peut pas vérifier autrement.

Deux options s'offrent à nous :
- Demander d'ajouter une fonctionnalité qui permet à `python-social-auth` de vérifier si un utilisateur peut se connecter (on peut leur faire une PR)
- Re

[2016-05-03 08:21] gustavi commented on #2217
Quand j'essaye de m'inscrire avec Facebook sur la prod http://i.imgur.com/0O1WhLz.png

Je pense juste que ce sont nos clés API qui sont mauvaises, qui possède les droits là dessus ? cc @SpaceFox

[2016-05-03 08:27] SpaceFox commented on #2217
Aucune idée, demande au bureau.

[2016-05-03 08:35] gustavi commented on #2311
Suite à deux tests avec deux personnes différentes ça semble corrigé. Tu peux me confirmer ça @firm1 ?

[2016-05-03 08:43] firm1 commented on #2311
Yes c'est corrigé ça (en prod en tout cas). Par contre je ne sais pas dans quelle version mais je ferme.

[2016-05-03 08:43] #2311 closed, assigned to nobody

[2016-05-03 08:57] gustavi commented on #2217
@firm1 est-ce toi qui les a ? Si oui peux-tu me les faire passer en privé ?

[2016-05-03 09:00] firm1 commented on #2217
@gustavi malheureusement non je n'ai pas clés de ce compte.

Ceci dit toute la comm a les clés. Et @cgabard et @ArnaudCalmettes en tant que président et vices de l'asso devraient les avoir aussi.

[2016-05-03 09:03] cgabard commented on #2217
Je n'ai pas (encore) accès au compte FB mais il y a pas une différence entre le compte FB de la page et ces accès à l'API ?

[2016-05-03 09:04] firm1 commented on #2217
les accès aux clés de l'API sont gérés sur le compte Facebook de Clem

[2016-05-03 17:15] sandhose commented on #3363
Oui

[2016-05-03 17:15] #3363 closed, assigned to nobody

[2016-05-03 18:17] #3534 closed, assigned to gustavi

[2016-05-03 19:41] #3572 closed, assigned to nobody

[2016-05-03 19:45] GerardPaligot commented on #3448
Merci @artragis

[2016-05-03 19:45] #3448 closed, assigned to nobody

[2016-05-03 22:06] sandhose opened #3584 "Problèmes de migrations (ZEP25 + suppression des anciennes tables)"
Pendant la commande `python manage.py migrate_to_zep25`:

[code]

---

Lors de la suppression des anciennes tables: (voir https://github.com/zestedesavoir/zds-site/blob/release-v18/update.md#supprimer-toute-trace-des-tables-pré-zep-12 )

[code]

[2016-05-03 22:09] sandhose commented on #3584
cc @gustavi @SpaceFox

[2016-05-04 00:09] gustavi commented on #3584
WTF. C'est ici https://github.com/zestedesavoir/zds-site/blob/release-v18/zds/tutorialv2/management/commands/migrate_to_zep25.py#L231 donc on a soit un titre qui n'est pas bon soit c'est encore UTF-8. Je regarde mais je ne comprends pas comment c'est possible.

http://stackoverflow.com/a/17828127 ?

EDIT : je regarde ça d'ici quelques heures, impossible de me connecter en SSH où je suis.

[2016-05-04 06:42] GerardPaligot commented on #3584
Personne n'a envie d'annuler la v18 mais c'est ce qui pourrait bien arriver si on ne débloque pas la situation rapidement ...

@sandhose Tu sais sur quel tutoriel le script plante pour filer les données à @gustavi ?
@artragis Tu serais nous dire pourquoi le DROP des tables n'a pas fonctionné ?

[2016-05-04 06:52] DevHugo commented on #3584
Visiblement il a pas trouvé les deux premiers champs, ni la table et les autres sont les conséquences des premiers echec.

@sandhose y'a quoi dans la table, tutorial_tutorial et article_article comme champs ?

[2016-05-04 06:59] artragis commented on #3584
J'ai créé ces regex à partir des fichiers tels qu'ils étaient dans
l'historique git, il se peut qu'il y ait des problèmes dans le nommage,
mais comme je n'ai pas accès à la béta, je ne saurai vous dire.

2016-05-04 8:52 GMT+02:00 Hugo Courtecuisse notifications@github.com:

[2016-05-04 09:23] gustavi commented on #3584
HS @SpaceFox serveur down, tu peux check (pas possible d'accèder au serveur d'où je suis) /HS

(pas moyen de te contacter facilement autrement)

[2016-05-04 09:28] SpaceFox commented on #3584
Ping OK, disk latency à 14 secondes… je crois qu'on ne peut qu'attendre (et
je n'ai normalement pas accès à la prod d'ici non plus).

2016-05-04 11:23 GMT+02:00 Laville Augustin notifications@github.com:

[2016-05-04 09:29] SpaceFox commented on #3584
Je confirme ne pas avoir accès à la prod.

Le 4 mai 2016 à 11:27, SpaceFox ujueseo.yeou@gmail.com a écrit :

[2016-05-04 13:39] #3461 closed, assigned to nobody

[2016-05-04 18:57] poulp commented on #3256
Je viens d'essayer mais j'arrive pas à reproduire en local. Peut être plus de précision sur l'article en question.

[2016-05-04 18:59] artragis commented on #3256
Je pense que depuis le temps ça a été corrigé silencieusement. Faudra vérifier sur la béta quand elle sera up

[2016-05-05 13:29] poulp commented on #2911
Je partirais sur la solution de stocker ces informations, on aurait un modèle qui regrouperait un lien vers le groupe et une description. La description pourrait se faire au format markdown mais le hic que je vois c'est qu'on peut pas faire de mailto :/ Et au niveau de la création de ces modèle de passer directement par l'interface admin.

[2016-05-05 18:25] gustavi commented on #2911
Cette page devrait être revue bientôt donc ne vous engagez pas dessus pour le moment ;)

[2016-05-06 14:00] #3568 closed, assigned to gustavi

[2016-05-07 08:49] firm1 opened #3587 "[v18][RC5] Impossible de lire un sujet"
En allant sur la beta, il m'est impossible de lire un sujet, ou tout simplement d'aller sur un forum. Je tombe sur une erreur 500 de nginx (et pas de django) comme si le serveur attendais une reponse pendant trop longtemps.

Les pages incriminées me font penser que le probleme se situe dans la liste des derniers sujets suivis que l'on affiche dans la sidebar.

Voila.

[2016-05-07 08:57] GerardPaligot commented on #3587
@sandhose @gustavi Il y a eu des problèmes dans la migration des notifications ? oO

[2016-05-07 09:01] firm1 commented on #3587
Je précise que ça n'arrive qu'en mode connecté donc le problème vient bien des sujets suivis

[2016-05-07 09:07] firm1 opened #3588 "[v18][RC5] On affiche le slug du tag d'un contenu au lieu d'afficher le titre du tag"
Si on regarde la page d'accueil sur la beta, on peut voir la capture suivante :

![capture d ecran de 2016-05-07 11-04-06](https://cloud.githubusercontent.com/assets/6066015/15091261/792ce788-1443-11e6-954f-b93fa9243e24.png)

Le problème c'est que comme on peut le voir, les tag affichés sont les slug, qui sont :
- pas toujours compréhensibles
- limité à 20 caractères

Ce qui donne des choses comme

[2016-05-07 09:10] firm1 opened #3589 "[v18][RC5] le titre de la page de filtre des contenus par tag n'est pas correct"
Url : https://beta.zestedesavoir.com/contenus/?tag=windows

On voit dans la barre de titre le titre `<Tag: windows>` , comme le montre les captures ci-dessous.

![capture d ecran de 2016-05-07 11-10-11](https://cloud.githubusercontent.com/assets/6066015/15091277/49ed3760-1444-11e6-9147-a370dc8f1370.png)

![capture d ecran de 2016-05-07 11-10-52](https://cloud.githubusercontent.com/assets/6066015/1

[2016-05-07 09:21] firm1 opened #3590 "[v18][RC5] le bloc de présentation du site prend plus de place en hauteur qu'avant"
Le bloc de présentation du site, lorsqu'on est en mode déconnecté prend maintenant plus de place en hauteur. Pour les petits écran, c'est moins pratique, car les Unes deviennent moins visibles.

Cf. La capture animée ci-dessous.

![1462612674 4056animation3](https://cloud.githubusercontent.com/assets/6066015/15091309/c039a024-1445-11e6-98f9-5f1935a6429a.gif)

[2016-05-07 09:27] firm1 opened #3591 "[v18][RC5] On a des tags en double dans la liste de tous les tags"
L'url à laquelle on observer ce phénomène est la suivante : https://beta.zestedesavoir.com/contenus/tags/

La capture d'écran suivante nous montre certains tag en double avec à chaque fois un seul contenu.

![capture d ecran de 2016-05-07 11-26-14](https://cloud.githubusercontent.com/assets/6066015/15091331/b63fbd64-1446-11e6-9b1f-56d4c118d958.png)

[2016-05-07 09:32] firm1 opened #3592 "[v18][RC5] Le lien de demande de contribution ne pointe sur rien"
En mode déconnecté on a droit à une présentation du site dans lequel on dit :

![capture d ecran de 2016-05-07 11-31-45](https://cloud.githubusercontent.com/assets/6066015/15091349/4ea24b4e-1447-11e6-8415-82338cb8c879.png)

Le "contribuer au code" est censé être un lien, comme le montre la capture ci-dessus. Mais malheureusement, le lien ne pointe sur rien.

[2016-05-07 09:54] firm1 opened #3593 "Revoir l'icône sur le page « Tous les contenus »"
La v18 met un peut plus en avant le concept de contenu, notamment grâce à la page : https://beta.zestedesavoir.com/contenus/

Avant on avait :

[Tout les articles](https://beta.zestedesavoir.com/articles/) :
![capture d ecran de 2016-05-07 11-51-27](https://cloud.githubusercontent.com/assets/6066015/15091457/0ddaef3c-144a-11e6-812e-acb6d0d37212.png)

[Tous les tuoriels](https://beta.zestedesavoir.

[2016-05-07 10:17] GerardPaligot commented on #3590
Cette évolution est voulue.

[2016-05-07 10:17] #3590 closed, assigned to nobody

[2016-05-07 11:56] firm1 commented on #3234
Je réouvre ici car l'issue n'a été corrigé qu'à moitié.

Lorsqu'on est en mode connecté on a bien le bouton "revenir à la liste des sujets", mais en mode non connecté ce bouton n'est pas présent.

Il faudrait donc l'avoir pour tout le monde.

[2016-05-08 00:41] gustavi commented on #3587
Pas à ma connaissance. Je serai dispo qu'à partir de lundi dans la journée, mon réseau ressmble à ça quand tout va bien :

[code]

[2016-05-08 06:08] GerardPaligot commented on #3587
Pas d'inquiétude. Le problème a été identifié et est expliqué dans ma PR https://github.com/zestedesavoir/zds-site/pull/3594

[2016-05-08 11:43] Emeric54 commented on #3567
C'est résolu depuis la mise à jour de la configuration Nginx.

[2016-05-08 11:45] #3567 closed, assigned to nobody

[2016-05-08 14:23] #3592 closed, assigned to nobody

[2016-05-08 15:30] orandin commented on #3589
:information_source:  **Je prends**

[2016-05-08 16:47] SpaceFox commented on #3590
Si c'est vraiment gênant, on pourrait peut-être diminuer la marge entre
l'en-tête et le début de la présentation ?

2016-05-07 12:17 GMT+02:00 Gérard Paligot notifications@github.com:

[2016-05-08 19:50] artragis commented on #3551
Le problème semble réglé sur la béta. On peut fermer siouplet

[2016-05-08 21:51] #3551 closed, assigned to nobody

[2016-05-09 09:01] artragis commented on #3593
même si cela est vrai, je propose de détagger cette issue v18 et de la résoudre dans le process de développement normal.

[2016-05-09 09:07] GerardPaligot commented on #3593
Elle rentre dans le cadre de la release v18 et sera sans doute comptée comme une issue encore ouverte lors de la release mais elle n'est en aucun cas bloquante pour la release.

[2016-05-09 09:20] DevHugo commented on #3591
ça à l'air de se produire, quand le tag dépasse le nombre de caractères autorisé et que le tag à plusieurs contenu associé. ça créé un tag par contenu.

[2016-05-09 09:22] GerardPaligot commented on #3588
Pourtant, c'est bien le titre qui est demandé : https://github.com/zestedesavoir/zds-site/blob/release-v18/templates/tutorialv2/includes/content_item.part.html#L122

@gustavi Tu n'enregistrerais pas le slug dans le titre quelque part dans ton script de migration ?

[2016-05-09 09:23] GerardPaligot commented on #3588
Si, voici la cause : https://github.com/zestedesavoir/zds-site/blob/release-v18/zds/tutorialv2/management/commands/migrate_to_zep25.py#L36

[2016-05-09 09:28] GerardPaligot commented on #3591
En fait, un même tag semble être créé plusieurs fois. Quand on clique sur un item, on obtient la surprise suivante :

![capture d ecran 2016-05-09 a 11 26 51](https://cloud.githubusercontent.com/assets/1913901/15108942/21fecb42-15d9-11e6-8b9a-c8fe6b2c4846.png)

[2016-05-09 09:29] DevHugo commented on #3588
Je regardais le même commentaire, j'était sur la même ligne, j'était entrein de me dire la même chose ! Arf toujours plus rapide ce robot.

[2016-05-09 09:34] gustavi commented on #3588
J'ai déjà corrigé ça pourtant ... Tout comme la dernière erreur sur ce script de migration ... Il y a du code qui s'est perdu

[2016-05-09 09:36] gustavi commented on #3593
Justement ça sera corrigé après donc il ne faut pas la mettre ici non ?

Pour le coup je suis au courant, c'est même volontaire. Si quelqu'un veut me faire une icône c'est avec plaisir car c'est pas dans mes compétences (et c'est pas faute d'avoir demandé).

[2016-05-09 09:39] gustavi commented on #3589
Ça aussi je l'ai déjà corrigé ... Des choses louches

[2016-05-09 09:42] GerardPaligot commented on #3588
@gustavi Tu sais t'en occuper ce soir ?

[2016-05-09 09:44] #3587 closed, assigned to nobody

[2016-05-09 09:50] gustavi opened #3598 "Améliorer l'ergonomie pour contacter un membre"
Cf https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=36#p108881 et les commentaires qui suivent.

[2016-05-09 10:13] gustavi commented on #2985
C'est peut-être à cause de cache, à essayer de déconnecter/reconnecter.

[2016-05-09 10:21] gustavi commented on #3591
Je vais vérifier sur la nouvelle BDD propre mais c'est possible que ça soit lié à #3588 et à la correction que j'ai apporté. Je confirme ça soon.

[2016-05-09 10:29] gustavi opened #3600 "Corriger l'input de recherche sur la page d'accueil sur Safari"
Le problème est décrit sur [le forum](https://zestedesavoir.com/forums/sujet/5844/champ-de-recherche-avec-outline-par-defaut-rend-mal-sous-safari/) et la solution est [ici](https://github.com/zestedesavoir/zds-site/pull/3543#issuecomment-217457418).

[2016-05-11 20:30] GerardPaligot commented on #3584
Merci @gustavi

[2016-05-11 20:30] #3584 closed, assigned to nobody

[2016-05-11 21:40] DevHugo opened #3603 "Chiffrer les adresses emails dans la base de données"
Bonjour,

Faudrait faire une étude pour voir si c'est possible de chiffrer les emails dans la base de donnée. Sachant qu'on ne peut pas modifier l'objet `User`de Django, mais on pourrait laisser le champs vide "email" de l'objet `User` et se créer un champ "email_criffre" dans l'objet `Profile` qui lui serait chiffré.

L'implémentation du chiffrement et déchiffrement dans une base de donnée est tr

[2016-05-11 21:43] SpaceFox commented on #3603
Quitte à chiffrer des bouts de la BDD (pour éviter les fuites en cas d'accès à la base je suppose ?) autant chiffrer aussi les MP.

Cela dit, concrètement j'ai un peu de mal à voir l'intérêt : y a-t-il un scénario dans lequel l'attaquant aurait accès à la base sans avoir accès à la clé de chiffrement, sachant qu'on a un seul serveur ?

[2016-05-11 22:04] DevHugo commented on #3603
Oui, c'était pour éviter les fuites en cas d'accès à la base. On peut aussi chiffrer les MP, faudrait faire attention à ne pas faire trop régresser les performances. Faut trouver un compromis, chiffrer les mp sur demande utilisateur ?

Comme ça, ce soir, non. Le seul que je vois qui est pourri, c'est que l'attaquant aurait accès qu'au serveur mysql et l'utilisateur mysql. C'est qui peu de chance d

[2016-05-11 22:23] SpaceFox commented on #3603
Pour les performances, j'imagine (peut-être à tord ?) qu'un bon système de chiffrement serait capable de tirer partie des extensions AES des processeurs (je viens de vérifier, présentes chez OVH comme chez Gandi). Auquel cas les performances ne sont probablement plus un problème.

Pour le scénario d'attaque, c'est surtout une question de priorité de la fonctionnalité ; dans l'état ça me paraît êtr

[2016-05-12 03:32] gustavi commented on #3603
Comme d'hab @DevHugo ça serait bien d'en parler sur les forums quand c'est une proposition comme ça.

[2016-05-12 03:33] gustavi commented on #3603
Et please, on ne crypte par, on chiffre. http://www.bortzmeyer.org/cryptage-n-existe-pas.html

[2016-05-12 13:34] gustavi opened #3604 "Insérer un lien via le bouton de l'éditeur remet le scroll en haut de page"
Insérer un lien via le bouton de l'éditeur (sélectionner du texte, cliquer sur le bouton, indiquer l'URL, valider) remet le scroll en haut de page.

[2016-05-12 13:35] gustavi opened #3605 "Mettre le champ date de publication au type date sur la page des Unes"

[2016-05-12 13:36] gustavi commented on #3591
Fixé par @artragis

[2016-05-12 13:36] #3591 closed, assigned to nobody

[2016-05-12 13:36] viki53 commented on #2871
Je sais pas trop si c'est l'endroit pour ça, mais le champ en question pourrait être de type `datetime`, siouplé ?

Ce serait plus simple, avec les fonctionnalités des navigateurs pour afficher un calendrier, ça simplifierait le truc

[2016-05-12 13:36] gustavi commented on #3589
@orandin tu peux mettre à jour ta PR ?

[2016-05-12 13:37] gustavi commented on #2871
@viki53 j'ai déjà créé un ticket ;)

[2016-05-12 13:52] gustavi commented on #3589
Tu peux faire d'une pirre deux coups avec https://github.com/zestedesavoir/zds-site/issues/3588 car c'est quasiment la même chose.

[2016-05-12 18:40] WinXaito commented on #3604
De mémoire c'est pour toutes les popups (Image entre-autres)

[2016-05-12 18:48] GerardPaligot opened #3608 "Créer un sujet sur le forum du CA pour chaque demande d'adhésion"
D'après ce qui a été décidé au CA du 12 Mai 2016, une demande d'adhésion depuis le [formulaire d'adhésion](https://zestedesavoir.com/pages/association/inscription/) doit créer un sujet sur le forum CA.

[2016-05-12 18:51] GerardPaligot opened #3609 "Revoir la page de contact"
D'après ce qui a été décidé au CA du 12 Mai 2016, une évolution est à apporter sur la page de contact :
- Lister l'équipe communication ;
- Lister le bureau ;
- Pour chaque groupe, donner le responsable.

Voici les responsables :
- Equipe association : Kje
- Equipe communication : ShigeruM
- Equipe staff : Thunderseb
- Equipe technique : Andr0

[2016-05-12 19:24] GerardPaligot commented on #3609
@SpaceFox @firm1 @cgabard @gustavi @vhf

Est-ce que l'un de vous pourrait fournir la liste des groupes présent sur ZdS pour permettre de développer cette issue ?

[2016-05-12 19:48] gustavi commented on #3609
J'ai pas les accès à ce niveau là.

[2016-05-12 19:49] GerardPaligot commented on #3609
Ah, je pensais que SpaceFox vous avait déjà donné ces accès. Bon alors, je ping uniquement les 3 premiers. :)

[2016-05-12 20:10] viki53 commented on #2871
My bad alors, j'avais rien trouvé sur le sujet…

[2016-05-12 20:46] firm1 commented on #3609
Les groupes existants sont :
- bot
- CA
- Communication
- devs
- staffs
- stuff-anonymes

Le derniers, je crois qu'il ne devrait plus exister.

[2016-05-13 09:16] lthms opened #3610 "Les archives d’articles n’ont pas de dossier racine"
Du coup, le contenu est à la racine, alors qu’on aurait pu s’attendre à ce qu’ils soient dans un dossier du nom du tuto (son slug ?).

De ce que j’en sais c’est une bonne pratique de mettre le contenu d’une archive dans un dossier.

Je n’ai pas vu d’issues à ce sujet, donc je me permets d’en créer une.

[2016-05-13 09:44] cgabard commented on #3609
Il faudrait donc rajouter un groupe "bureau" (et peut être mettre a jour la liste des dev)

[2016-05-13 16:11] pierre-24 commented on #3610
Je ne sais pas d'où tu sort ça ^^

Ceci étant dit, je pense qu'on en avais déjà discuté à un moment, à cause du fait que Mac OSX fait ça par défaut. On peut changer ça, mais il faudrait assurer la rétrocompatibilité (ou @firm1 qui fait Zest'Writer va pas être content), et ensuite ça ne change pas grand chose ...

[2016-05-13 19:51] GerardPaligot commented on #3589
Merci @orandin !

[2016-05-13 19:51] #3589 closed, assigned to nobody

[2016-05-13 19:54] GerardPaligot commented on #3588
<img width="582" alt="capture d ecran 2016-05-13 a 21 53 38" src="https://cloud.githubusercontent.com/assets/1913901/15260107/327c7706-1955-11e6-8804-30dc5f7a1457.png">

Il serait pas corrigé ce bug ?

[2016-05-13 20:14] gustavi commented on #3588
Alors c'est corrigé dans la PR de @artragis.

[2016-05-13 20:14] #3588 closed, assigned to nobody

[2016-05-13 21:08] firm1 commented on #3610
Ne vous inquiétez pas pour moi, Zest Writer saura s'adapter. On est assez
flexible.

Le ven. 13 mai 2016 18:11, Pierre Beaujean notifications@github.com a
écrit :

[2016-05-13 21:53] DevHugo commented on #3603
Je reconnais mon erreur, j'ai utilisé le mot "crypté" à mauvais escient une fois en fin de message lors de l'édit pour préciser que j'était d'accord avec Spacefox. Il était une heure trente du mat, et la fatigue à fait son effet.

Juste pour dire, l'article que tu cite n'est pas du tout une référence et est même partiellement faux. Je vais juste te laisser réfléchir pourquoi cet article est partie

[2016-05-14 05:30] gustavi commented on #3603
Alors :
- http://www.cnrtl.fr/definition/cryptage
- http://www.cnrtl.fr/definition/crypter
- https://fr.wikipedia.org/wiki/Chiffrement#cite_note-2
- http://atilf.atilf.fr/dendien/scripts/generic/form.exe?5;s=3141851430

Le seul dictionnaire où on le retrouve c'est le Larousse et la Larousse c'est bien une grosse merde, tout le monde le sait.

Toute personne qui se respecte sait que « crypter » n'e

[2016-05-14 07:07] GerardPaligot commented on #3603
C'est pas le lieu pour débattre sur cette question.

[2016-05-14 09:15] DevHugo commented on #3603
Ok, on arrête cette discussion.

Nope. D'ailleurs je connait un chercheur en crypto qui te dirait le contraire. Y'a des arguments pour comme des arguments contre. C'est pas aussi blanc ou noir.

[2016-05-14 09:59] pierre-24 commented on #3610
Soit ;)

Mais la question c'est ... Est ce que c'est réellement important ?

[2016-05-14 10:43] firm1 commented on #3610
Oh bah je vois pas trop l'interet non plus, et perso ça me convient bien en
l'état

Le sam. 14 mai 2016 11:59, Pierre Beaujean notifications@github.com a
écrit :

[2016-05-14 10:48] lthms commented on #3610
Il me semblait, mais on m’a pourtant appris à me méfier des vraies fausses vérités générales. Il semblerait en effet que je me sois inventée celle là tout seul, désolé.

Donc je concluerai que je préfère personnellement. Ça permet de ne pas désarchiver le truc dans un dossier, mais bon finalement c’est juste de l’affect et que donc, vous pouvez juste ignorer ça si la solution courante vous va.

Dé

[2016-05-14 12:41] Nodraak commented on #3603
Chiffrer les mails c'est une feature cool, mais n'est ce pas un peu _overkill_ ? [KISS](https://en.wikipedia.org/wiki/KISS_principle).

_Je_ pense que ça ne vaut pas le coup : comme dit plus haut, si un attaquant est root ça ne servira strictement à rien. Et une fuite de la bdd seule me semble asser improbable.

[2016-05-14 14:31] sandhose opened #3614 "[beta v18] L'URL mes tuto/articles dans les MP de migration ZEP-25 est invalide"
Via https://zestedesavoir.com/forums/sujet/6064/on-ne-lattendait-plus-voici-la-v18/?page=1#p110019

Même problème que pour le `Bonjour {0},`, l'URL de ces deux liens utilise le PK de l'utilisateur, qui est donc mal substitué [ici](https://github.com/zestedesavoir/zds-site/blob/release-v18/zds/tutorialv2/management/commands/migrate_to_zep25.py#L156)

Question à part, une raison de pourquoi ce messa

[2016-05-14 14:36] gustavi commented on #3614
Parce que ça ne va servir qu'une fois donc osef.

[2016-05-14 14:38] sandhose opened #3615 "Revoir l'ordre d'affiche des catégories du menu"
Via https://zestedesavoir.com/forums/sujet/6064/on-ne-lattendait-plus-voici-la-v18/?page=1#p110015

Actuellement, les catégories `Autre` des différentes "grandes catégories" se trouvent en plein milieu de la liste, et ça fait bizarre. Dans l'idéal, elles devraient à chaque fois se trouver en bas de chaque liste.

[2016-05-14 14:43] gustavi commented on #3615
C'est car on affiche par ordre alphabétique. Il faut ajouter un champs `position` et classer avec, c'est pas vital pour la v18.

[2016-05-14 14:44] gustavi commented on #3610
Pas de souci. Tu peux toujours faire ce genre de proposition sur le forum, c'est plus pratique ;)

[2016-05-14 14:44] #3610 closed, assigned to nobody

[2016-05-14 14:45] gustavi commented on #3603
À discuter sur le forum.

[2016-05-14 14:45] #3603 closed, assigned to nobody

[2016-05-14 14:50] gustavi commented on #3556
À discuter sur le forum. Et surtout attendre les prochaiens versions de Django.

[2016-05-14 14:50] #3556 closed, assigned to nobody

[2016-05-14 14:50] #3487 closed, assigned to nobody

[2016-05-14 14:51] gustavi commented on #3504
Bug ou pas ici ?

[2016-05-14 15:41] DevHugo commented on #3487
Euh c'est loin d'être résolu, faut faire le code toussa.

[2016-05-14 15:45] DevHugo commented on #3603
Avant de proposer, faut être sur de ce qu'on peut faire avant de savoir ce que l'on veut faire. Si c'est utile ou pas, je parle, juste de faire une étude au départ, pour voir si on avait les ressources matérielles pour le faire et si j'en avait, faire un benchmark de ce qu'on peut chiffrer ou pas. Ça sert à rien de demander un avis, si on sait même pas si on a les ressources, ni c'est utile ou pas

[2016-05-14 15:46] gustavi commented on #3603
Justement, le forum est fait pour ça.

[2016-05-16 22:13] DevHugo commented on #3615
Tu peux tagger en facile, non ?

[2016-05-17 03:40] gustavi commented on #3360
Je pourrai investiguer un peu plus quand j'aurai les accès admin ;)

[2016-05-17 03:40] gustavi commented on #3405
Corrigé en v18.

[2016-05-17 03:40] #3405 closed, assigned to nobody

[2016-05-17 12:45] LudovicDrtt commented on #3604
ça me le fait aussi quand je charge un aperçu sur l'éditeur de section dans un tuto.

[2016-05-17 14:03] WinXaito opened #3618 "Erreur 500"
Bonjour, il ne me semble pas avoir vu une issue la dessus d'aujourd'hui.

Depuis ce matin je j'arrive plus accéder au site, erreur 500.

[2016-05-17 14:05] gustavi commented on #3618
Bonjour, nous sommes au courrant rassure toi. Nous travaillons a résoudre le problème dans les plus brefs délais.

[2016-05-17 14:05] #3618 closed, assigned to nobody

[2016-05-17 14:06] WinXaito commented on #3618
Merci, en passant vous avez déjà une idée du problème ?

[2016-05-17 14:07] gustavi commented on #3618
En partie, nous communiquerons sur les forums pour vous donner plus d'informations.

[2016-05-17 14:55] Fumble commented on #3618
Ceci dit, la catégorie VPS est rouge sur [la page des travaux d'OVH](http://travaux.ovh.net/). D'ici à ce que ce soit chez eux...

[2016-05-17 14:59] gustavi commented on #3618
Pour le coup le serveur était totalement HS depuis 40 minutes donc j'ai pris l'initiative de le reboot (ce qui a marché pour la panne de 12h41) sauf que là il ne répond plus du tout, @SpaceFox va le hard reboot des qu'il peut.

[2016-05-17 15:06] SpaceFox commented on #3618
Ce ne sera « jamais », le compte de l'asso n'a pas les droits pour hard reboot ou se connecter en console. Parce que si le compte de l'asso est celui de l'asso, le compte gestionnaire technique est un compte inconnu, je suppose celui de Devock…

[2016-05-17 15:24] WinXaito commented on #3618
Le site est à nouveau opérationnel, qu'est-ce qui a donc résolu le problème ?

[2016-05-17 15:24] WinXaito commented on #3618
Ca sera réglé quand ce problème ?

[2016-05-17 15:27] SpaceFox commented on #3618
@cgabard la question est pour toi :)

[2016-05-17 18:32] GerardPaligot commented on #3615
C'est pas si simple que ça (pour un débutant j'entends). Faut quand même mettre à jour un modèle existant ce qui veut générer un fichier de migration, avoir un script de migration des catégories existantes et puis, appliquer l'ordre selon la position de la catégorie dans le dropdown.

Pour nous, c'est simple. Je suis pas certain que ça soit pareil pour des nouveaux contributeurs.

[2016-05-17 18:58] GerardPaligot commented on #3604
@gustavi Sur quoi tu te bases pour marquer l'issue comme "Facile" ?

[2016-05-17 20:28] cgabard commented on #3618
"Dès que possible"... Là on est en train de faire les démarches pour mettre a jour l'asso auprès de la prefecture. La première demande a été rejeter, sur des problèmes de "mise en page" des documents envoyé. J'étais en train de la refaire mais le site s'est foutu en maintenance.

Ils ont l'air de traiter ça vite, on peut espérer que ça soit fait rapidement. A partir de là on pourra lancer les déma

[2016-05-17 20:33] WinXaito commented on #3618
Cool :)

[2016-05-17 22:19] DevHugo commented on #3615
Ok, tu as surement raison.

[2016-05-18 15:05] Emeric54 commented on #3605
Sinon, on peut même utiiser un _datepicker_.

[2016-05-18 15:37] firm1 commented on #3605
Les deux ne sont pas incompatibles.

[2016-05-19 12:36] pierre-24 opened #3620 "Les liens vers les images ne sont pas en HTTPS lorsqu'on importe une archive"
Tout est dans le titre :

Lorsqu'on importe un nouveau contenu ou qu'on met un contenu à jour avec archive et qu'on se sert de la fonctionnalité d'import d'image,

![Import d'archive](http://zestedesavoir.com/media/galleries/1426/981c8b17-c1b9-4b09-a75a-caf3ee8f0c50.png)

... Eh bien les liens insérés ne sont pas en HTTPS.

[2016-05-20 15:48] gustavi commented on #3615
@GerardPaligot a tout à fait raison. Je corrigerai ça et j'en profiterai pour apporter quelques améliorations par rapport à la ZEP-25.

[2016-05-22 07:42] Fumble opened #3621 "Erreur avec le captcha sur la page d'inscription"
Il est impossible de s'inscrire au site car le catcha sur la page d'inscription affiche ce message d'erreur:
 "ERREUR importante pour le propriétaire du site : Invalid domain for site key".

![captcha](https://cloud.githubusercontent.com/assets/634461/15452962/5fac5d1a-2001-11e6-8dc8-ddad668c40ce.png)

Problème rapporté par un membre [ici](https://zestedesavoir.com/forums/sujet/6115/inscription-im

[2016-05-22 08:12] Emeric54 commented on #3621
Pourquoi le captcha est activé ? On ne devait pas l'utiliser uniquement en cas de flood ?

[2016-05-22 09:33] Fumble commented on #3621
Ca fait un problème 2-en-1 alors.
Pourquoi le catcha est affiché alors qu'il ne devrait pas et si jamais on est obligé de l'activer, il devrait fonctionner.

[2016-05-22 09:52] GerardPaligot commented on #3621
@SpaceFox

Pour ne plus faire apparaitre le captcha, il y a une option à placer dans le fichier `settings_prod.py`.
Pour le domaine, faut voir dans la configuration du module je suppose.

[2016-05-22 09:55] Emeric54 commented on #3621
Oui, il faut juste que quelqu'un avec les droits vérifie la valeur de `USE_CAPTCHA` dans le `settings_prod.py`.

[2016-05-22 10:35] SpaceFox commented on #3621
C'est corrigé. Pour une raison inconnue, ça avait été activé…

[2016-05-22 10:35] #3621 closed, assigned to nobody

[2016-05-22 14:22] gustavi commented on #3360
Voir également https://zestedesavoir.com/forums/sujet/6101/404-sur-un-tutoriel-supposement-en-beta/?page=1#p110969

[2016-05-22 19:26] #3614 closed, assigned to gustavi

[2016-05-23 01:24] gustavi commented on #3614
Il semblerait que la v18 soit OK. D'après le Sentry pas de bug relevé depuis la dernière RC.

[2016-05-24 02:56] gustavi opened #3622 "Problème de connexion depuis un compte Google"
Via Sentry [ici](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/507/) et [là](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/517/activity/) :

[code]

Peut-être un souci d'URL depuis la migration chez gandi. Sinon un souci de clé. Je vais vérifier ça.

[2016-05-24 11:43] cgabard commented on #3622
poke @SpaceFox

Il y a eu un problème de clé mais il doit etre corrigé maintenant a priori

[2016-05-25 09:10] firm1 opened #3624 "Correction des frais d'adhésion à l'association"
Pour l'instant les frais d'adhésion à l'association sont inconnus (pour des raisons administratives). Cependant la [page d'adhésion à l'asso](https://zestedesavoir.com/pages/association/inscription/) indique toujours **20€** comme montant.

Il serait intéressant de préciser sur cette page que les frais d'adhésion sont pour l'instant inconnus. Il existe un paramètre pour régler cela (cf. [cette lig

[2016-05-25 09:28] SpaceFox commented on #3624
Pas besoin d'attendre le déploiement de la v18 pour faire la correction
normalement :)

Le 25 mai 2016 à 11:10, firm1 notifications@github.com a écrit :

[2016-05-25 11:40] gustavi commented on #3624
C'est corrigé :)

[2016-05-25 11:40] #3624 closed, assigned to gustavi

[2016-05-25 11:45] firm1 commented on #3624
ça rendait mieux avec mes balises `<em>`  mais bon. Au moins c'est corrigé

[2016-05-25 12:23] gustavi commented on #3624
Elles ne passent pas comme il faut c'est pour cela que je les ai retirées ;)

[2016-05-25 12:31] firm1 commented on #3624
Ah ok. bien joué donc.

[2016-05-25 12:31] pierre-24 commented on #3624
sinon `{{machin|safe}}`. Mais soit :p

[2016-05-25 12:46] gustavi commented on #3624
Oui oui, j'ai juste pas envie de faire une PR juste pour ça ;)

[2016-05-25 20:14] SpaceFox opened #3625 "Toute recherche fait 2 requêtes à Solr"
Tout est dans le titre.

Logs :

[code]

La différence est dans le nombre de rows renvoyées : 1 à la première requête, 20 à la seconde.

[2016-05-25 21:16] DevHugo commented on #3625
Je met dans mon agenda, je tente de regarder ça la semaine prochaine.

[2016-05-26 03:40] gustavi opened #3626 "Problème d'espace dans les tags"
« foo, bar » est mal parsé mais pas « for,bar ». Je bosse dessus de suite.

[2016-05-26 18:59] GerardPaligot commented on #3626
Merci @gustavi

[2016-05-26 18:59] #3626 closed, assigned to gustavi

[2016-05-28 06:14] gustavi commented on #3335
OK je crois avoir compris ce qui se passe ici : GA ne détecte pas le code de suivit car on ne l'affiche que lorsque les cookies ont été acceptés. Ça vous semble correct ?

[2016-05-28 07:08] firm1 opened #3628 "[v18] Date incorrecte dans les notifications"
J'ai reçu une notification pour un topic que je suivais avant la v18.

Selon la notification elle datait d'il y'a 7h, sauf qu'en cliquant dessus, je suis tombé sur un message qui date d'il y'a 7 minutes. On peut le voir sur les screens ci-dessous.

**Notification avant le clic** :

![capture d ecran de 2016-05-28 09-03-31](https://cloud.githubusercontent.com/assets/6066015/15625756/7d2d85ba-24b3-1

[2016-05-28 07:12] gustavi commented on #3628
ping @GerardPaligot

[2016-05-28 07:12] firm1 commented on #3628
Après visite du sujet, et après le post de quelqu'un d'autre, j'ai a nouveau la notification avec la mauvaise heure.

**La preuve en image** :

![capture d ecran de 2016-05-28 09-09-58](https://cloud.githubusercontent.com/assets/6066015/15625767/0eccf000-24b4-11e6-8295-b2e2b0236328.png)

Pour information les **7h** correspondent à la date de la notification que j'avais **AVANT** la MEP de la v18.

[2016-05-28 07:23] firm1 opened #3629 "Les votes négatifs pré-MEP n'ont pas été annonymisés"
Il me semblait déjà avoir relevé ce bug sur la bêta, mais ça n'a pas été corrigé on dirait. Mais les votes négatifs avant la MEP de la v18 sont tous visibles. Ils étaient censé être anonymes.

Les votes positifs ne sont pas affectés par le bug.

**La preuve en image**

![capture d ecran de 2016-05-28 09-19-44](https://cloud.githubusercontent.com/assets/6066015/15625829/a641432c-24b5-11e6-900f-d808

[2016-05-28 07:28] firm1 opened #3630 "Le suivi des topics par email n'a pas été migré"
Les topics que je suivais par email n'ont pas été migrés correctement. En allant sur un topic que je suivais par email avant la MEP, on me propose de le re-suivre par email, alors que je le suivais déjà par email.

Je suis obligé de me rendre sur chaque topic que je suivais par email pour refaire le suivi par email moi-même.

[2016-05-28 07:33] GerardPaligot commented on #3629
@sandhose Tu sais regarder ça rapidement ?

[2016-05-28 07:35] GerardPaligot commented on #3628
Ca risque d'être compliqué dans la mesure où il n'existait pas de date à une notification puisque pas d'objet. C'était une info calculé à chaque fois.

J'essayerais de voir ce que je peux faire mais je n'ai pas beaucoup de temps en ce moment et cela, jusqu'au 9 juin. Autrement dit, si quelqu'un d'autres veut être sur cette regression, qu'il ne s'en prive pas.

[2016-05-28 07:39] gustavi commented on #3629
Je check ça.

[2016-05-28 07:48] GerardPaligot commented on #3628
Juste une précision : Ca concerne que les notifications actives avant la MEP de la v18 + les nouvelles notifications sur ces sujets qui avaient des notifications actives ? Ou la portée est plus large ?

[2016-05-28 07:49] GerardPaligot commented on #3629
@gustavi Regarde du côté des identifiants à renseigner (dans le `settings`) pour bloquer l'affichage des votes à partir d'un identifiant donné.

[2016-05-28 07:50] firm1 commented on #3628
Si j'en crois ce que je vois. ça concerne **tous les topics que je suivais avant la MEP**.

Le problème est le même pour les notifications des contenus.

[2016-05-28 07:52] GerardPaligot commented on #3628
Et tu sais à quoi correspond ce 7h ? Et si c'est toujours 7h ?

[2016-05-28 07:56] GerardPaligot commented on #3630
Pour cette issue, il faut :
- Utiliser l'attribut de `TopicFollowed` qui dispose toujours de toutes les données dans sa table.
- D'utiliser son attribut `email` : https://github.com/zestedesavoir/zds-site/blob/dev/zds/notification/models.py#L318
- De créer un nouveau script de migration (on va pas ré-appliquer le gros script, il est inutile maintenant).
- D'itérer sur tous les sujets suivis grâce

[2016-05-28 08:01] GerardPaligot commented on #3628
Je ne comprends pas parce que à vue de nez, le code semble cohérent :
- Récupère le dernier message non lu du sujet suivi : https://github.com/zestedesavoir/zds-site/blob/dev/zds/notification/management/commands/migrate_subscriptions.py#L28
- Ou le dernier message : https://github.com/zestedesavoir/zds-site/blob/dev/zds/notification/management/commands/migrate_subscriptions.py#L30
- Affectation de

[2016-05-28 08:03] firm1 commented on #3628
Ah bah je viens d'inspecter et le public est plus restreint. le 07h correspond aux notifications que je n'ai pas lus **JUSTE AVANT** qui étaient activent avant la MEP.

Les anciens topics que je suivaient sont OK.

[2016-05-28 08:39] gustavi commented on #3629
C'est bon de ce côté là. Ça ne peut pas être ça vu que ça n'affecte que les votes négatifs.

[2016-05-28 08:49] firm1 opened #3631 "Les format externes (pdf, epub, etc) ne sont plus générés depuis le passage sur le serveur gandi"
Depuis le passage sur le serveur gandi le 21/22 mai, toutes les publications (à commencé par [cet article](https://zestedesavoir.com/articles/963/controler-la-propagation-des-erreurs-de-calculs-numeriques/)) n'ont ni de pdf, ni de epub, ni de html généré.

Etant donné que ça fonctionnait avant le switch de serveur, je vais attribuer ça à l'infra.

[2016-05-28 08:52] artragis commented on #3631
Timer pas mis en place.

[2016-05-28 10:17] gustavi opened #3634 "[v18] Erreur 500 sur un contenu"
Via [Sentry](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/518/) :

[code]

[2016-05-28 10:19] gustavi commented on #3622
C'est toujours d'actualité

[2016-05-28 12:41] GerardPaligot commented on #3629
Le bug est donc plus complexe qu'il n'y parrait puisque tous les votes ne sont pas désanonymes.

[2016-05-28 14:19] Nodraak opened #3637 "Nombre de messages postés par Clem incoherent"
Sur [cette page](https://zestedesavoir.com/membres/voir/Clem/), on voit que Clem a posté 3 messages. Quand on clique [sur le lien](https://zestedesavoir.com/forums/messages/1/), il n'y en a plus.

Piste à confirmer : pourquoi [cette ligne](https://github.com/zestedesavoir/zds-site/blob/c73fa0704ed78f2676697c17c77ce24572f0ab03/zds/forum/managers.py#L115) n'apparait pas dans la condition au dessus ?

[2016-05-28 14:48] GerardPaligot commented on #3637
En fait, les sujets concernés sont dans le forum Staff. Forum dont tu n'as pas les accès.

[2016-05-28 14:51] gustavi commented on #3629
Corrigé.

[2016-05-28 14:51] #3629 closed, assigned to nobody

[2016-05-28 15:28] Nodraak commented on #3637
Arf, je me doutais qu'on me cachais des choses comme ça ^^

J'imagine que le temps de dev et l'impact sur les perf rend la correction trop complexe pour être rentable.

[2016-05-28 15:46] GerardPaligot commented on #3637
C'est pas tellement ça. C'est plutôt : Est-ce que nous devons fausser le nombre de messages d'un membre sur cette page pour enlever les messags non visibles par le visiteur ou est-ce qu'il faut coller à la réaliter mais ne pas afficher les messages non visibles parce que le visiteur n'a pas les droits.

Personnellement, je préfère la seconde solution.

[2016-05-28 15:48] Nodraak commented on #3637
Hum. Mais dans ce cas, il vaut mieux peu être mettre un message "X messages non affichés".

Autant une différence de trois messages sur 100 ou 1000 messages ne se remarque pas, autant pour Clem ça surprend.

[2016-05-28 16:05] GerardPaligot commented on #3637
C'est tout à fait envisageable, même plus pertinent. :)

[2016-05-28 16:44] gustavi opened #3638 "Améliorer la selecition d'une demande d'aide lors de la création/édition d'un contenu"
Voir le [forulm](https://zestedesavoir.com/forums/sujet/6169/deselection-recherche-aide-lors-de-creation-contenu/?page=1#p112264) pour les détails.

C'est assez simple à faire, il suffit de modifier le type de champs dans le formulaire via Django pour mettre des boites (avec sélection multiple) comme pour les contenus.

[2016-05-28 19:53] Deuchnord opened #3639 "Les notifications ne sont pas supprimées à la suppression d'un MP"
Hello,

Suite à la réception de nombreux MP automatiques pour la mise à jour de mes articles, je les ai supprimés sans les ouvrir étant donné que j'en connaissais déjà la teneur.
Problème : les notifications sont restées, et impossible de les supprimer. Un clic dessus mène à une 404, et la notification ne disparaît pas :-/

[2016-05-28 20:10] GerardPaligot commented on #3639
Ah, bien vu ! Je n'avais pas prévu ce cas de figure.

Si quelqu'un corrige le bug avant moi : il suffit d'envoyer le signal qui marque un MP comme lu quand on quitte un MP.

[2016-05-29 04:52] gustavi opened #3640 "[v18] Impossible de suivre certains contenus"
Via Sentry [ici](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/519/) et [là](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/520/) :

[code]

Le contenu en question (bug uniquement sur ce contenu dans les logs, à voir si ça en touche d'autres) : https://zestedesavoir.com/tutoriels/681/a-la-decouverte-des-algorithmes-de-graphe/

[2016-05-29 09:34] Deuchnord commented on #3639
Du coup, il faudra peut-être voir pour supprimer les notifications rémanentes, je ne sais pas trop comment vous pourrez faire ça :-/

[2016-05-29 09:51] GerardPaligot commented on #3639
Tout à fait, il faut penser à développer un script de migration pour détecter toutes les notifications plus nécessaires.

[2016-05-29 16:13] firm1 opened #3642 "[v18] Un tag trop long provoque une erreur 500"
Lorsqu'on édite (je précise bien éditer pas créer) un contenu en lui attribuant cette valeur par exemple `aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa` l'idée étant que le titre du tag soit trop long, on se prend une erreur 500.

Via [Sentry](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/521/) :

[code]

[2016-05-30 15:53] gustavi opened #3644 "Quand on envoit un message (mp) sur une page autre que la dernière page, on n'est pas redirigé vers le dernier message"
Tout est dans le titre, il faut juste changer `success_url` et vérifier le comportement sur les forums.

[2016-05-30 16:21] thepolienist commented on #3448
Un petit passage juste pour dire que j'ai put me désinscrire, merki ;) .

[2016-05-30 16:59] GerardPaligot commented on #3448
@thepolienist Content que le problème soit résolu mais c'est bien dommage de voir un membre quiter Zeste de Savoir. :)

[2016-05-30 17:22] gustavi opened #3645 "Supprimer les fonctions des tutoriels du SdZ"
Parce que ça ne sert plus à rien. Les deux fonctions à sortir: https://github.com/zestedesavoir/zds-site/tree/zds/member/models.py#L529 + clean templates et urls

[2016-05-30 17:34] gustavi commented on #1023
J'ai entièrement nettoyé le fichier sur la prod. Organisé, commenté, tout beau tout propre !

Juste pour les inquiets :

[code]

[2016-05-30 17:34] #1023 closed, assigned to nobody

[2016-05-31 06:29] firm1 commented on #3631
La mise en place de ce timer est documentée quelque part ? Parce que là tout ce qui est publié sort sans _extra contents_

[2016-05-31 06:31] gustavi commented on #3631
Si on me donne les informations pour mettre ça en place ça sera fait de suite !

[2016-05-31 06:33] pierre-24 commented on #3631
En toute bonne foi  : [là ?](https://github.com/zestedesavoir/zds-site/blob/dev/update.md#changer-la-politique-de-génération-des-documents-3080) (scrollez un peu, c'est #3080 mais le lien cafouille)

(ok, c'est pas dans la doc d'instal, c'est mal, @artragis :p )

[2016-05-31 06:38] gustavi commented on #3631
Pour le coup tout était OK sur le serveur, j'ai relancé le service. Quelqu'un peut republier le contenu ? @firm1 ?

[2016-05-31 08:35] firm1 commented on #3631
Republier, peut-être pas ça pourrait mettre une version non désirée, mais tu peux au moins utiliser la  [génération de pdf](https://zds-site.readthedocs.io/fr/latest/utils/generate_pdf.html). en faisant ceci (j'ai mis les id des contenus qui posent souci):

[code]

Sauf si c'est possible de redéclencher la génération autrement.

[2016-05-31 08:42] gustavi commented on #3631
J'ai trouvé, on a pas pandoc d'installé ! ping @SpaceFox

[2016-05-31 08:47] SpaceFox commented on #3631
Heu, normalement si, en suivant la doc de la procédure d'install, ça m'a
pris plus d'une heure…

2016-05-31 10:42 GMT+02:00 Laville Augustin notifications@github.com:

[2016-05-31 09:02] gustavi commented on #3631
Les paquets Debian sont bien installés mais impossible de trouver des traces de pandoc (et d'une utilisation de cabal).
Je vais essayer de réinstaller ça.

[2016-05-31 09:04] gustavi commented on #3631
En fait pandoc est bien installé, je sais juste pas où :/ (je cherche)

[2016-05-31 09:06] SpaceFox commented on #3631
Je n'ai _pas_ utilisé le paquet Pandoc de Debian ! Je ne sais pas où l'a
installé la procédure indiquée dans la doc.
Et surtout IL NE FAUT PAS suivre cette procédure sur le serveur de prod
pendant qu'il y a du monde dessus, c'est la mort assurée !

2016-05-31 11:04 GMT+02:00 Laville Augustin notifications@github.com:

[2016-05-31 09:08] gustavi commented on #3631
T'inquiète pas @SpaceFox, je cherche juste où est le fichier binaire mais impossible de trouver où il est.

[2016-05-31 09:15] pierre-24 commented on #3631
Si c'est la procédure suivie sur [cette doc](http://zds-site.readthedocs.io/fr/latest/install/backend-linux-install.html#aller-plus-loin), c'est `/usr/bin/pandoc` (vraiment). Ceci dit, je me doute que c'est pas aussi simple. J'ai aussi `~/.cabal/bin/pandoc` à proposer.

[2016-05-31 09:18] gustavi commented on #3631
Malheureusement aucun des deux n'existe.

[2016-05-31 09:29] firm1 commented on #3631
Une fois que tu auras trouvé le binaire de pandoc, si celui-ci n'est pas accessible dans le PATH, tu peux surcharger dans le `settings_prod.py` ce [paramètre](https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py#L346) pour renseigner le chemin complet de pandoc.

[2016-05-31 09:30] gustavi commented on #3631
Je sais firm1, j'ai passé 30 minutes à le "nettoyer" ce matin ;)

[2016-05-31 09:33] artragis commented on #3631
et which pandoc ça marche pas?

2016-05-31 11:30 GMT+02:00 Laville Augustin notifications@github.com:

[2016-05-31 11:56] ShiiFu commented on #3628
J'ai eu le même problème aujourd'hui. J'ai lu toutes mes notifications ce matin et en début d'après midi je vois ceci :
![notifications](https://cloud.githubusercontent.com/assets/10438692/15673510/7342a388-2737-11e6-823a-de34f9ccba65.png)
Et en cliquant dessus je vois bien le soucis de concordance des dates. (Si je marque non lu, la notification revenu a toujours la mauvaise date)
![notification1

[2016-05-31 15:58] cgabard commented on #3631
Vu la gueule des pdf actuellement, c'est vraiment nécessaire ?

[2016-05-31 16:41] GerardPaligot commented on #3631
Tant qu'on a pas une autre solution, oui.

[2016-06-01 02:21] gustavi opened #3646 "Ajouter un paramètre sur le chemin du template TeX pour Pandoc"
C'est ici https://github.com/zestedesavoir/zds-site/blob/97691b626292fcf45b45f0e08def0fa725ea0df2/zds/settings.py#L347

Il faut ajouter un paraètre facilement modifiable sans avoir besoin de réécrire la commande en entier.

[2016-06-01 02:37] gustavi opened #3647 "Mettre à jour la documentation pour l'installation de Pandoc (pour la prod mais pas que)"
À changer :
- Installer pandoc en global : `sudo cabal install --global pandoc`
- La police se trouve dans le paquet `texlive-fonts-extra` pour Debian (l'installation peut être assez longue).

[2016-06-01 03:02] gustavi commented on #3631
Bon alors, heure creuse j'en profite pour ré-installer pandoc globalement avec `cabal update && sudo cabal install --global pandoc`. Tout s'est bien passé et rapidement (quelques minutes seulement). Le chemin a changé par rapport à l'ancien serveur donc je l'ai mis à jour dans le `settings_prod.py`.

Je tente donc de regénérer ce qui ne l'avait pas été mais je me suis mangé encore des erreurs :

[

[2016-06-01 06:29] pierre-24 commented on #3631
J'ai une "solution", mais c'est cochon: _dixit_ n'importe quel log travis,

[code]

Sinon, Andale Mono, je suis quasi certain qu'elle est dans [`ttf-mscorefonts-installer`](https://packages.debian.org/fr/jessie/ttf-mscorefonts-installer) (ou un truc du genre, bref, le paquet de _fonts_ de 'crosoft). Quand à Merriweather, elle sont dispo [là](http://www.ctan.org/tex-archive/fonts/merriweather/truet

[2016-06-01 06:40] gustavi commented on #3631
J'y ai pensé mais j'ai trouvé ça assez sale et je comptais l'utiliser en dernière option.

[2016-06-01 06:41] pierre-24 commented on #3631
D'ou le paragraphe du dessous ou je tente de contourner :p

[2016-06-01 20:04] DevHugo commented on #3628
/blague Je suis célèbre, je tiens à remercier tout d'abord ma mére sans qui … o/

Même souci qu’au dessus un sujet souscrit avant la MEP. Joseph poste dedans y'a 45 minutes, la date de la notification. J'ai l’impression que c'est la date de l'avant dernière notification pour le sujet.

![notification](https://cloud.githubusercontent.com/assets/6099338/15723819/6fd5b56a-2844-11e6-98f2-7ca187d72767.

[2016-06-01 20:44] firm1 commented on #3628
Dans mon cas ce n'est pas ça. Moi il me renvoit toujours a une notification trop vieille (difficile de l'identifier)

[2016-06-02 07:48] cgabard commented on #3628
Ce matin j'ai eu la meme chose qu'Hugo : Une notif mais la date était celle de l'avant dernier message (juste avant celui concerné par la notif)

[2016-06-02 11:20] SpaceFox commented on #3628
Je confirme que dans certains cas, la date de la notif est foireus.

2016-06-02 9:48 GMT+02:00 Christophe Gabard notifications@github.com:

[2016-06-03 18:37] GerardPaligot commented on #3628
Ok, je pense avoir compris le bug de cette issue :

La valeur `pubdate` d'une notification est enregistrée automatiquement à la sauvegarde d'une nouvelle instance du modèle ([comme en témoigne la déclaration du champ dans le modèle](https://github.com/zestedesavoir/zds-site/blob/dev/zds/notification/models.py#L290)) mais comme nous réutilisons la notification existante si elle existe, nous ne mett

[2016-06-06 08:44] Deuchnord opened #3648 "Markdown/images : trop de crochets tuent les crochets"
En voulant résumer le contenu d'une capture d'écran dans la description d'une image, j'ai tronqué une partie du texte et signalé le troncage avec le _[…]_ usuel aux endroits adéquats.

Or, il semble que la présence multiple de crochets dans la description d'une image empêche Markdown de comprendre la présence de ladite image.

Petite démonstration pour que vous puissiez mieux visualiser.

[code]

[2016-06-06 08:57] GerardPaligot commented on #3648
Est-ce que tu pourrais reporter le bug directement sur le dépôt de notre parseur ? https://github.com/zestedesavoir/Python-ZMarkdown

Je ferme ici. :)

[2016-06-06 08:57] #3648 closed, assigned to nobody

[2016-06-06 09:17] Deuchnord commented on #3648
Oups, désolé, j'avais pas vu qu'il y avait un dépôt spécifique au parseur ^^'

[2016-06-06 17:45] DevHugo commented on #3440
Ça [remarche](https://zestedesavoir.com/api/#!/membres), je pense que c'était l'entête cors.

[2016-06-06 17:51] GerardPaligot commented on #3440
Je dirais même plus !

Ca remarche mieux que mieux ! https://github.com/zestedesavoir/zds-site/issues/2286

Je ferme.

[2016-06-06 17:51] #3440 closed, assigned to nobody

[2016-06-06 17:52] GerardPaligot commented on #2286
Le nouveau serveur doit régler le souci puisque la documentation des listes des membres et des MPs s'affichent dorénavent.

[2016-06-06 17:52] #2286 closed, assigned to nobody

[2016-06-06 17:59] DevHugo commented on #2286
Je [confirme](https://jsfiddle.net/fnqcssmr/5/) o/ (Testé avec firefox).

[2016-06-07 13:10] DevHugo opened #3649 "Impossible de signaler un message quand le message est masqué"
Bonjour,

Il est impossible de signaler un message quand celui-ci est masqué. [Exemple](https://zestedesavoir.com/forums/sujet/6251/-/).

[2016-06-07 13:33] Vayel commented on #3649
Quel est l'intérêt de pouvoir le faire ?

[2016-06-07 13:44] GerardPaligot commented on #3649
Same que @Vayel

[2016-06-07 14:29] cgabard commented on #3649
Le cas arrive comme ici : L'auteur a écrit un message puis l'a totalement viré par édit et la masqué : il est impossible de signaler le message aux modérateur pour leur dire de le mettre a la corbeille

[2016-06-09 01:09] enzzc opened #3652 "Impossible de voter avant que la récupération des votants n'ait eu lieu"
Bonsoir,

La dernière version proposait de rendre les votes non-anonymes, permettant ainsi de voir la liste des gens ayant déjà voté sur un message. Il semblerait que la requête qui récupère la liste des votants, quand on passe le curseur au dessus d'un pouce vert ou rouge (GET sur `/api/forums/message/ID/karma` d'après ce que j'ai cru comprendre), soit bloquante, de façon à ce qu'on ne puisse pas

[2016-06-09 15:38] lypwig opened #3653 "Éditer le 1er message d'un topic devrait renvoyer sur la page "Édition du sujet"."
Cela arrive de se tromper si on fait une faute ou autre...

Cf. [mon petit fail](https://zestedesavoir.com/forums/sujet/6271/hebergement-du-site/)

[2016-06-09 15:41] firm1 commented on #3653
Hello, c'est bien possible d'éditer ton topic, c'est juste que la façon de faire n'est pas ergonomique.

Tu as un bouton dédié dans la sidebar (cf. la capture)

![edit](https://cloud.githubusercontent.com/assets/6066015/15935931/6cdbd490-2e69-11e6-90b6-ef3f4e6213f1.PNG)

[2016-06-09 16:43] lypwig commented on #3653
Ah oui,

En fait le problème niveau ergonomie, c'est que le bouton _Éditer le sujet_ sur le panneau de gauche n'a pas le même comportement que le bouton _Éditer_ au dessus du message :
![editer_topic](https://cloud.githubusercontent.com/assets/1665542/15937984/64510d42-2e71-11e6-827e-3da77b54882d.png)

Je comprend que ce bouton permet d'éditer le message, qu'il soit le début d'un topic ou pas. Mai

[2016-06-10 07:53] viki53 commented on #3605
Hello, avec la v18 j'ai l'impression que ça a tout cassé : on a un input `text` avec une date affichée au format français, mais impossible de l'enregistrer (en tout cas sur une édition pour mettre dans le passé).

[2016-06-10 11:30] artragis commented on #3634
Je ne sais pas si c'est un bug a proprement parler : jusqu'à la v18 on disait que seul l'auteur pouvait suivre un tuto dès le début. La v18 a ajouté la capacité à suivre le tuto donc a priori, on peut le suivre dès le début.

Ceci dit on peut facilement le changer ça.

[2016-06-10 14:30] ShiiFu opened #3654 "Suivre un sujet, messages oubliés"
J'ai remarqué un soucis mineur lorsqu'on suit un nouveau sujet et que des réponses sont apparus entre temps, voici un petit scénario pour m'expliquer.

Je vois un nouveau sujet, il contient déjà une réponse, je lis l'ensemble.
Je clique sur suivre le sujet quelques minutes après et je quitte le sujet. Je me rend alors compte qu'il a de nouvelles réponses qui sont apparues avant que j'ai activé le

[2016-06-10 16:02] GerardPaligot commented on #3654
C'est exactement ça. La génération des notifications d'un sujet se font à la création d'un nouveau message ou quand tu marques un message comme non lu.

[2016-06-10 19:44] GerardPaligot commented on #3639
J'ai un souci avec cette issue.

Après quelques tests en local, je ne suis pas parvenu à reproduire le bug. J'ai créé un message privé avec des participants et quand j'ai supprimé les MP (sans les lires) du côté des participants, la notification a disparu. J'ai fais la même chose en supprimant plusieurs messages privés d'un coup.

J'ai aussi vérifié si j'avais pensé à ce cas. Contrairement à ce qu

[2016-06-10 19:52] Deuchnord commented on #3639
Je confirme, c'était des messages automatiques de Clem, à chaque fois j'étais seul dans les conversations

[2016-06-12 08:43] GerardPaligot opened #3658 "Texte incohérent au niveau des notifications"

[2016-06-12 09:44] DevHugo opened #3659 "Notification permanante"
Bonjour,

Depuis le forum,

[2016-06-12 10:08] DevHugo commented on #3659
Je rajoute que quand :
- Je créé un sujet avec l'utilisateur "User"
- J'ajoute un message avec l'utilisateur "Admin"
- Je clique sur le bouton " Ne plus suivre ce sujet" en tant qu'admin, l'api des notifications me renvoi une erreur 500.

C'est peut-être un bug différent ou le même, je sais pas, à investiguer.

Stacktrace:

[code]

et la variable response vaut `<Abonnement du membre "admin" aux ré

[2016-06-12 10:55] GerardPaligot commented on #3659
L'API ? Tu as la stacktrace de l'erreur 500 ?

[2016-06-12 10:56] GerardPaligot commented on #3659
De quelle API parles-tu ?

[2016-06-12 11:16] DevHugo commented on #3659
J'ai vu json + requêtte HTTP + 500, j'ai supposé qu'il avait une api mais c'est peut-être pas le cas.

[2016-06-12 16:14] GerardPaligot commented on #3659
Je confirme le bug de ton premier message par contre je n'ai aucune erreur 500 pour ton second message.

Es-tu certain d'être sur une bonne branche avec toutes les migrations qui vont bien et des données cohérentes ?

[2016-06-13 11:59] #3659 closed, assigned to nobody

[2016-06-13 12:04] #3639 closed, assigned to GerardPaligot

[2016-06-13 12:45] malnuxstarck commented on #3658
je m'en charge

[2016-06-13 14:22] DevHugo commented on #3659
D’après ce que je vois de la correction, si quelqu'un se ré-inscrit et désinscrit au sujet, ça va bien supprimer l'ancienne notification ?

[2016-06-13 14:54] GerardPaligot commented on #3659
Ca va supprimer toutes les notifications attachées à ce contenu

[2016-06-14 10:09] #3630 closed, assigned to GerardPaligot

[2016-06-14 10:09] #3628 closed, assigned to nobody

[2016-06-14 10:09] gustavi commented on #3628
v18.2 inc

[2016-06-14 10:31] gustavi commented on #3652
@sandhose ?

[2016-06-14 10:32] gustavi commented on #3649
Pas faux mais est-ce vraiment utile ?

[2016-06-14 11:56] GerardPaligot commented on #3652
Le process me semble logique dans la mesure où les votes sont récupérés dans des requêtes par après pour éviter d'alourdir la consolidation des messages quand on les affiche (par exemple en visitant un sujet).

[2016-06-14 11:57] sandhose commented on #3652
J'arrive pas à reproduire le bug, mais je pense que ça _peut_ arriver lorsque le `GET` est plus lent que le `PUT`, et que donc son résultat arrive après. Du coup, il vote, mais il met à jour avec les données du `GET` juste avant, ce qui fausse l'affichage. Je vais voir pour un fix dans la semaine.

[2016-06-14 16:12] cgabard commented on #3649
Bin on a aucun moyen de signalé le message... Ça arrive pas souvent et avec le nombre de modérateur qui traine c'est pas critique. Mais bon si tu veux un site parfait, ce serait logique.

Peut être que c'est surtout la possibilité de masquer le premier message d'un sujet qui n'est pas logique.

[2016-06-14 21:32] DevHugo commented on #3659
Je comprend rien pour le deuxième souci, j'ai recréé une base depuis zéro et plus de souci … . Mais avec l'ancienne base de données, j'arrivais à le reproduire à chaque fois et j'avais toutes les migrations de faite.

Tant mieux, c'est un faux positif et c'est cool.

[2016-06-14 22:00] enzzc commented on #3652
@sandhose J'ai pu, "par chance", observer ce comportement quand ma connexion devait faire des siennes j'imagine. Mais j'ai pu, avec la console de développement de Chrome, forcer l'observation en activant un throttle (en mode 2G, 3G, etc.).

[2016-06-15 07:27] sandhose commented on #3652
@enzzc J'ai aussi essayé avec le throttle de Chrome, mais les requêtes arrivent quand même dans le bon ordre, ce qui empêche de reproduire le bug

![image](https://cloud.githubusercontent.com/assets/1549952/16071392/64ed998c-32db-11e6-8ce0-dfe934441c45.png)

[2016-06-15 14:25] firm1 opened #3665 "Les tags les plus utilisés des forums sont triés par pk au lieu d'être triés par compte"
Les tags les plus utilisés sont mal triés. On s'attend intuitivement à un ordre qui correspond aux nombres de sujets liés à ce tag. Mais ce n'est pas le cas.

Après analyse, on voit qu'ils sont triés par pk des tags et non par nombre de sujets derrière ces tags. L'image ci-dessous (accompagné des chiffres) le montre bien :

![taggs](https://cloud.githubusercontent.com/assets/6066015/16083512/85583

[2016-06-16 13:59] #3570 closed, assigned to gustavi

[2016-06-16 15:29] #3608 closed, assigned to gustavi

[2016-06-16 15:58] gustavi commented on #3665
Deux possibilités pour corriger ça :
- Modifier le templatetag `topbar.py` et la requête monstreuse associée
- Utiliser https://docs.djangoproject.com/fr/1.9/ref/templates/builtins/#dictsort dans le template

[2016-06-16 15:59] gustavi commented on #3654
Est-ce vraiment un bug ? Une solution serait de passer le `pk` du dernier message lu dans la requête pour suivre un contenu et de vérifier s'il n'y a pas des messages après.

[2016-06-17 12:11] #3571 closed, assigned to gustavi

[2016-06-17 12:25] #3397 closed, assigned to gustavi

[2016-06-17 12:25] #3609 closed, assigned to gustavi

[2016-06-17 12:39] gustavi commented on #3505
Jamais reproduit ici donc je ferme.

[2016-06-17 12:39] #3505 closed, assigned to nobody

[2016-06-17 16:00] Situphen commented on #3509
Merci @Anto59290 !

[2016-06-17 16:00] #3509 closed, assigned to nobody

[2016-06-17 16:03] Anto59290 commented on #3509
Merci les gars !

[2016-06-17 16:53] Situphen commented on #3658
Merci @malnuxstarck !

[2016-06-17 16:53] #3658 closed, assigned to nobody

[2016-06-17 20:28] Fumble opened #3668 "Problème de rendu des smileys dans une citation"
Tout est dans le titre et la capture d'écran qui suit.

![citation](https://cloud.githubusercontent.com/assets/634461/16163648/c032a818-34da-11e6-8928-0a207f001b85.png)

Testé sous Windows 10 64 bits avec Firefox 47 et IE 11.

Pour voir le problème en direct, ça se passe sur [ce topic](https://zestedesavoir.com/forums/sujet/6327/crypter-code-source/).

[2016-06-17 21:12] gustavi commented on #3668
@cgabard une idée ?

[2016-06-19 13:54] gustavi opened #3671 "Changer le nombre de contenus par page"
Via le forum :

La solution 3 est la meilleure.

[2016-06-19 14:25] Emeric54 opened #3672 "Sur le profil d'un banni, le bouton pour envoyer un MP est toujours présent"
Sur le profil d'un banni, le bouton pour envoyer un MP est toujours présent, alors qu'il est par la suite impossible d'envoyer le message. Exemple [ici](https://zestedesavoir.com/membres/voir/phdphdphd/).

Il faudrait donc ne plus afficher cette option si le membre est banni.

[2016-06-19 14:38] DevHugo commented on #3672
Tu peux ajouter facile aussi ! ^^

[2016-06-19 15:02] gustavi opened #3673 "Masquer la biographie des membres bannis définitivement"
Pour la simple et bonne raison que c'est presque toutjours fait (publicité, etc). Aucune raison de laisser ça et ça va faire moins de travail à la modération.

La laisser avec un message (« Cette biographie est masquée pour le publique car le membre est banni » par exemple) pour le staff.

[2016-06-19 15:03] Situphen commented on #3673
Seulement ceux bannis définitivement ou aussi ceux temporairement ?

[2016-06-19 16:08] gustavi commented on #3673
Définitivement pour moi.

[2016-06-19 19:51] #3671 closed, assigned to Emeric54

[2016-06-20 12:13] cgabard commented on #3668
Hum... Quand je regarde la source de mon message je ne vois pas de smiley dessus. Je soupçonne que j'ai fais un copier/coller du html dans l'éditeur et qu'il aurait remplacé l'image par un caractère unicode (sous chrome/linux je vois rien, sous FF je vois bien un caractère étrange).

Du coup je sais pas trop qui doit corriger ça.

[2016-06-20 17:45] #3645 closed, assigned to Emeric54

[2016-06-20 20:07] artragis commented on #3640
la cause est simple : historiquement on ne permet pas de suivre un contenu neuf. Seul les auteurs le peuvent.
En fait il suffit de supprimer le bout de code qui empêche les non auteurs de suivre un tuto. Par contre, il est fort probable qu'il y ait un test de ce comportement, donc faut aussi le virer.

[2016-06-20 20:08] artragis commented on #3634
duplicata de #3640

[2016-06-20 20:09] artragis commented on #3447
depuis le passage à gandi, on en a eu ou pas?

[2016-06-20 20:12] gustavi commented on #3447
Non. À fermer une fois le passage chez Gandi validé par le CA.

[2016-06-21 09:11] gustavi commented on #3634
Pas sûr, on a pas la même exception

[2016-06-21 09:53] lypwig opened #3678 "Modifier le comportement de la barre de recherche"
Un exemple (il y en aurait bien d'autres) :

Je veux apprendre Python. Je tape _Python_ dans la barre de recherche : le tutoriel _Les bases de Python_ (qui est la réponse la plus évidente à ma recherche) apparaît en 9ème position, en bas de page (nécessité de scroller).

La plupart des propositions sont des messages dans les forums, qui n'aident en rien. Par exemple, ce message qui arrive en premi

[2016-06-21 10:49] GerardPaligot commented on #3678
Tout dépend de l'utilisateur. Personnellement, je recherche plus souvent un message dans les forums qu'un contenu.

[2016-06-21 10:56] firm1 commented on #3678
Étant donné que sur la page d'accueil on affiche dans la liste des
suggestions, des mots clés relatifs aux contenu, j'aurai tendance a dire
moi aussi qu'il vaut mieux rediriger que vers des contenus.

Le mar. 21 juin 2016 12:49, Gérard Paligot notifications@github.com a
écrit :

[2016-06-21 11:12] DevHugo commented on #3678
Dans le même genre: https://github.com/zestedesavoir/zds-site/pull/2770.

Je pense perso qu'il faut donner la priorité au contenu, si le mot clé est dans le titre.

[2016-06-21 11:17] GerardPaligot commented on #3678
Ce qui est renseigné en suggestion n'est pas du tout lié aux contenus. Ce sont des thématiques, elles ne sont liées à rien. D'ailleurs, c'est un fichier texte dans lequel on place des mots randoms.

[2016-06-21 11:27] firm1 commented on #3678
Elle ne sont lié a rien au niveau des tables certes, mais quand
l'utilisateur voit "Html", "Php", "Java", "Android", .... il s'attend a
tomber sur les contenus qui parlent de ces thématiques et non pas sur les
posts dans le forum qui parlent de ces thématique.

Je ne sais pas si tu vois la nuance.

Le mar. 21 juin 2016 13:17, Gérard Paligot notifications@github.com a
écrit :

[2016-06-21 11:33] GerardPaligot commented on #3678
Bien entendu mais je n'en ferais pas une généralité. Par exemple, pour mon usage strictement personnel et parce que c'est pas simple de récupérer la liste des sujets d'un tag, je renseigne "Android", "Java" et d'autres thématiques dans la barre de recherche pour récupérer les sujets associés.

C'est extrèmement rare que je recherche un contenu.

[2016-06-21 12:21] firm1 commented on #3678
J'ai l'impression que ton cas est plutôt spécifique. Car tu peux simplement
cocher les case "sujet" et "post" dans la sidebar quand tu veux étendre ta
recherche.

Mais ça serait intéressant de créer un topic sur le site pour avoir plus
d'avis.

Le mar. 21 juin 2016 13:33, Gérard Paligot notifications@github.com a
écrit :

[2016-06-22 08:03] gustavi opened #3679 "Problème sur l'encart « STAFF »"
Sur mes MP : http://i.imgur.com/rLomYk2.png

Sur le forum : http://i.imgur.com/FcZWCQG.png

EDIT :  il faut en fait refacto tout ça.

[2016-06-22 08:41] Eskimon opened #3680 "Les auteurs sont mal transmis lors de la desinscription"
Apparemment lorsqu'un auteur se désinscrit, les règles de transmission du contenu sont mal respectées.

Par exemple, ce tuto suite au départ de Mewtow : https://zestedesavoir.com/tutoriels/526/les-sols/

[2016-06-22 08:44] gustavi commented on #3680
Effectivement ! Solution : si contenu publié et auteur unique qui se désinscrit alors attribuer Auteur externe.

[2016-06-22 08:48] Eskimon commented on #3680
C'est plutôt une régression, ca "marchait" normalement ca (on avait pas des TU d'ailleurs à ce niveau là ?) (marchait entre guillemets car pas sur qu'on est trop testé en vrai situation vu le faible taux d'auteurs qui partent)

[2016-06-22 08:49] firm1 commented on #3680
Je confirme que c'est une régression.

[2016-06-22 08:50] SpaceFox commented on #3680
Je confirme que ça a marché au moins avec les articles de Geo.

Le 22 juin 2016 à 10:48, Eskimon notifications@github.com a écrit :

[2016-06-22 08:50] pierre-24 commented on #3680
Le test unitaire méga-chiant à maintenir pour le vérifier est [là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/tests/tests_views.py#L425-L464), du coup je pige pas trop ce qui c'est passé.

[2016-06-22 09:03] Situphen commented on #3679
Est-ce que ça a une utilité dans la messagerie privée ? Je sais pas si c'est un bug, je dirais plutôt une évolution.

[2016-06-22 09:06] gustavi commented on #3679
Le problème c'est que je suis STAFF à un endroit mais pas à l'autre.

[2016-06-22 09:10] firm1 commented on #3679
Attention tout de même. Tu es dans un cas particulier, ton badge staff sur les forums est du au fait que tu soit superuser et pas réellement dans le groupe staff.

Il faudrait vérifier avec un vrai "staff" aussi

[2016-06-22 09:11] gustavi commented on #3679
Je suis pas superuser, impossible de me connecter à l'admin.

[2016-06-22 09:20] Fumble commented on #3679
En tant que simple Staff, j'ai bien le badge de partout.

[2016-06-22 13:20] WinXaito commented on #3679
Reporter ici sur le forum. Selon le membre. Sur le profil de Gustavi il le voit aléatoirement avec et sans badge.

https://zestedesavoir.com/forums/sujet/6385/apparition-de-lembleme-staff-sur-un-compte/

Désoler de ne pas mettre les images, un peu galère sur mobile.

[2016-06-22 13:25] cgabard commented on #3679
L'accès à l'admin de Django demande une action supplémentaire au statut de superuser : il faut cocher la case "Statut équipe" dans l'admin Django.

Je viens de le faire, tu devrais avoir accès à l'admin maintenant.

Le plus simple pour corriger ce bug est probablement de simplement te mettre dans le groupe "Staff" officiellement

[2016-06-22 13:28] WinXaito commented on #3679
Ouais, fin.. Faudrait mettre des guillemets sur le corrigé :p

[2016-06-22 14:00] StaloneLab commented on #3680
Je ne passe pas souvent par ici, mais je souhaiterais signaler qu'il serait cool de pouvoir choisir, lors de la désinscription, si l'on souhaite, ou non, laisser son pseudo comme auteur.

[2016-06-22 14:01] pierre-24 commented on #3680
... Quelle serait la différence avec le fait de ne pas se désinscrire mais de plus venir, dans ce cas ?

[2016-06-22 14:10] SpaceFox commented on #3680
En fait on peut déjà : comme [expliqué dans le message de desinscription](https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/settings/unregister.html#L45-L57), il suffit de demander au staff de rajouter le nom de l'auteur dans les tutos avant de se désinscrire.

[2016-06-22 14:32] StaloneLab commented on #3680
Au temps pour moi, dans ce cas, je ne savait pas que c'était possible.

[2016-06-22 14:46] DevHugo commented on #3679
En même temps, on a confiance en lui, il est pas dtc pas pour rien. Il a les accès à la prod donc bon être staff, ça change pas grand chose.

[2016-06-22 17:14] Eskimon opened #3682 "Popup ajout auteur qui bug sur mobile"
Hello !

J'ai l'impression que la popup pour ajouter un auteur à un tuto bug sur mobile. Avec mon smartphone (One plus One , Android 6, chrome) elle ne s'affiche pas :(

[2016-06-23 06:04] gustavi commented on #3679
En fait je ne tiens pas à être dans le groupe « STAFF » car ils sont chargés de la modération et de la validation ce qui n'est pas mon cas.

[2016-06-23 14:39] DevHugo commented on #3680
Si on télécharge les pdf, on a encore le nom.

[2016-06-24 12:36] Situphen commented on #3642
Merci @artragis !

[2016-06-24 12:36] #3642 closed, assigned to nobody

[2016-06-26 19:43] lypwig opened #3683 "La syntaxe markdown zds n'est pas mise en forme sur les pdf exportés"
Pour reproduire :
- créer un nouveau tutoriel ;
- insérer le texte suivant :

[code]
- exporter le tutoriel en PDF.
- constatez que la syntaxe markdown n'est pas mise en forme sur le PDF :

![](http://i.imgur.com/Q2wjijZ.png)

cc [ticket sur ZestWriter](https://github.com/firm1/zest-writer/issues/134)

[2016-06-29 12:01] lypwig opened #3684 "Il ne devrait pas être possible de créer 2 tutoriels portant le même nom"
Il est actuellement possible de créer 2 tutoriels portant le même nom, ce qui est déroutant car on ne sait pas réellement le quel on modifie. De plus, cela peut poser des problèmes pour les applications tierces qui téléchargent les tutos via l'API.

![](http://i.imgur.com/uwmddSL.png)

cc [le ticket associé sur Zest Writer](https://github.com/firm1/zest-writer/issues/131)

[2016-06-29 12:16] pierre-24 commented on #3684
Moui. Le nom est le même, mais le _slug_ est différent, donc les contenus sont effectivement unique, donc du coté du stockage, on est bon (pareil pour les applications tierces). Un moyen de faire la différence, c'est bien entendu la date de création, quand elle est disponible (certes pas sur ZW, à priori).

Mais le débat est plus philosophique que ça, pour moi: quel est l'intérêt de créer deux con

[2016-06-29 12:51] lypwig commented on #3684
Aucun, AMHA.

Rien, AMHA

D'où ce ticket : éviter cette erreur.

[2016-06-29 12:57] pierre-24 commented on #3684
Ben oui ... Mais je vois pas ce qui pousserai un utilisateur à le faire dans la "vraie" vie (au delà des tests, donc). Je suis pas contre l'idée (qui prend 3 lignes de codes+tests), je dis juste que ça fait un peu ... Inutile (surtout que quand il s'agit de développer, dieu sait combien de contenu "test" j'ai créé ...).

[2016-06-29 13:03] WinXaito commented on #3684
Et bien si le ticket est ouvert, cest que cela c'est produit. En l'ocurence sur Zest Writer

[2016-06-29 13:08] lypwig commented on #3684
[Oui](https://github.com/firm1/zest-writer/issues/131)

[2016-06-29 13:09] pierre-24 commented on #3684
Encore une fois, je suis d'accord ... Mais c'était dans le cadre de tests ^^

[2016-06-29 13:16] lypwig commented on #3684
[Pas ici](https://github.com/firm1/zest-writer/issues/159), par exemple.

Ci-dessus c'est un bug à corriger, mais il peut y en avoir d'autres du même style et le fait d’empêcher la création de contenus portant le même nom pourrait éviter des propagations d'erreurs. En l’occurrence, dans le ticket ci-dessus, l'API pourrait renvoyer un truc du style _erreur : un contenu portant le même nom existe dé

[2016-06-29 13:27] pierre-24 commented on #3684
Oui, mais comme tu dis, c'est un bug. Cela ne peut (!) pas arriver sur ZdS (sauf si la BDD est corrompue). Et je vais même aller plus loin: autant sur ta machine, tu fais ta popote comme tu veux. Autant sur ZdS, ce qu'implique ce que tu veux, c'est que si deux auteurs différents créent un contenu nommé "le langage C", eh bien le deuxième va s'entendre dire qu'il n'as pas le droit parce que le cont

[2016-06-29 13:46] GerardPaligot commented on #3684
Je viens juste signaler que moi j'ai 2 tutoriels avec le même nom et ça m'est utile. J'aimerais donc que ça reste possible.

[2016-07-01 07:54] cgabard commented on #3683
Oui, cf ZEP-5 et les pages de discussions à ce sujet. Envoi moi un MP si tu veux un résumé rapide

[2016-07-01 09:28] gustavi commented on #3684
Exact, c'est pas un bug. Imaginons que l'utilisateur A crée un tutoriel « Le langage C » alors plus aucun utilisateur ne peut faire un tutoriel comme cela.

[2016-07-01 09:28] #3684 closed, assigned to nobody

[2016-07-03 19:04] Situphen opened #3685 "Possible de s'abonner deux fois à un sujet (et d'avoir une erreur 500 après)"
Donc je trainais sur [ce sujet](https://zestedesavoir.com/forums/sujet/6452/link-rel-touches-dacces/) quand j'ai voulu le suivre. J'ai donc cliqué sur le bouton "Suivre ce sujet" sauf que le texte ne s'est pas actualisé donc j'ai réessayé en vain. J'ai rechargé la page pour voir et je suis tombé sur une erreur 500.

Plus récemment, j'ai eu deux notifs pour ce même sujet :

![Image des deux notifs]

[2016-07-03 19:06] vhf commented on #3685
J'ai bien l'impression qu'il y aura plus d'erreur 500 quand #3650 sera en prod. Par contre reste le problème qu'on peut s'abonner 2x à un topic.

[2016-07-03 19:11] GerardPaligot commented on #3685
A mon avis, la double souscription vient de la latence de Zeste de Savoir qui a du permettre à @Situphen de retenter sa souscription avant que le front ne le bloque.

Il faut mettre une valeur unique au niveau de la base de données.

[2016-07-11 22:12] SpaceFox commented on #3416
À noter qu'au boulot et contrairement à ce qui a été indiqué ici, on a résolu le problème en passant la base (et ses tables) en `utf8mb4` – c'était du MySQL 5.7 / Java, mais la fonctionnalité est présente en MySQL 5.5. À vérifier si Python gère le cas.

[2016-07-12 09:44] firm1 opened #3687 "[v19] Impossible de suivre un forum depuis mon smartphone"
Navigateur : Firefox 46
OS : Android
Smartphone : Samsung Galaxy S6 Edge
Température extérieure : 22 degrés celsius :P

Scénario :
- Je me rend sur un forum depuis mon smartphone
- Je slide pour ouvrir la sidebar de gauche
- Je clique sur "suivre ce forum" -> le bouton se transforme en "Ne plus suivre le forum" (jusqu'ici tout va bien)
- Je refresh la page
- Je slide pour afficher la sidebar et je

[2016-07-12 09:46] GerardPaligot commented on #3687
Uniquement sur mobile ?

[2016-07-12 11:43] firm1 commented on #3687
Oui juste sur mobile.

Le mar. 12 juil. 2016 11:46, Gérard Paligot notifications@github.com a
écrit :

[2016-07-12 18:30] vhf opened #3689 "Les tests ne passent pas suivant la gitconfig utilisateur"
Depuis que j'ai changé ma gitconfig, j'ai 125 tests qui ne passent plus.

Le gitconfig utilisateur ne devrait pas impacter les tests du projet.

Exemple minimal de gitconfig qui casse les test :

[code]

[2016-07-12 21:02] #3689 closed, assigned to nobody

[2016-07-12 22:06] vhf opened #3692 "Proposer HTTP/2"
Ce serait une bonne idée.

[2016-07-12 22:27] vhf commented on #3416
Internet dit que Python 2.7 et Django gèrent le cas. Je regarde rapidement, avec des tests sur la beta d'abord.

[2016-07-13 13:40] #3463 closed, assigned to nobody

[2016-07-14 07:57] GerardPaligot opened #3695 "Sélection random dans le menu"
Serveur : Prod
Version :  v19-mangoustan/f7c21f7
Système : OS X
Navigateur : Google Chrome Version 51.0.2704.103 (64-bit)

Peu importe où vous vous trouvez, le menu "Article" est continuellement sélectionné.

<img width="888" alt="capture d ecran 2016-07-14 a 09 54 42" src="https://cloud.githubusercontent.com/assets/1913901/16832166/505c6b1c-49a9-11e6-82c3-2f541cd5ae91.png">

Je tag large. Je ne s

[2016-07-14 07:59] GerardPaligot commented on #3695
Là je n'ai plus le bug mais plus rien n'est jamais sélectionné.

[2016-07-14 09:25] WinXaito commented on #3695
Sur Firefox je n'ai rien, mais sur chrome.... C'est **Tutoriels** qui est tout le temps séléctionné.

![zds_bug_13](https://cloud.githubusercontent.com/assets/8223773/16834751/99ce5f74-49b5-11e6-865a-3b74f79a96db.PNG)

Edit1: Et impossible de m'en débarrasser

[2016-07-14 09:26] pierre-24 commented on #3695
Et si c'était un effet de cache ? (vraie question)

Parce que ça en a la gueule.

EDIT: et chez moi, rien n'est sélectionné.

[2016-07-14 09:28] GerardPaligot commented on #3695
Effectivement, la mise en cache récente du menu peut jouer là dessus. En fait, c'est sans aucun doute ça.

[2016-07-14 09:29] WinXaito commented on #3695
Sur Edge j'ai aussi **Tutoriels** qui est en permanence sélectionné.

Cache effacé, rien de changé.

[2016-07-14 09:31] pierre-24 commented on #3695
Nan, le cache coté serveur ;)

[2016-07-14 09:31] gustavi commented on #3695
Oui c'est bien ça.

[2016-07-14 09:32] WinXaito commented on #3695
Ahh autant pour moi :p

[2016-07-14 09:33] pierre-24 commented on #3695
Mmmh, je vois pourquoi ça a été fait, mais y'a pas moyen de réduire la "zone de cache" à juste les tags et les catégories ?

(Typiquement, [ça](https://github.com/zestedesavoir/zds-site/blob/dev/templates/base.html#L185-L333), c'est un peu fort ^^ )

[2016-07-14 10:00] firm1 commented on #3695
C'est bien le cache coté serveur qui a été ajouté recemment.

Le jeu. 14 juil. 2016 11:33, Pierre Beaujean notifications@github.com a
écrit :

[2016-07-14 10:10] SpaceFox opened #3697 "Nouveau MP : « Un des participants saisi est introuvable » ← lequel ?"
Quand on crée un nouveau MP et que l'un des participants n'existe pas (typo, désinscrit, etc), on a un message « Un des participants saisi est introuvable ». Qui ne dit pas lequel pose problème. Ce qui est un peu nul d'un point de vue utilisateur.

[2016-07-14 10:31] WinXaito commented on #3695
Oui, plus de problème pour ma part.

[2016-07-14 12:31] lypwig opened #3698 "Les formules mathématiques ne fonctionnent pas sur les forums"
En message de forum, les formules mathématiques sont sont pas interprétées (mais elles fonctionnent dans les tutoriels).

Pour reproduire, tapez ceci dans un forum :

[code]

[2016-07-14 19:54] Emeric54 opened #3700 "ZEP-09 : Sondages, questions à propos de l'API"
Comme vous le savez peut-être, je suis sur le développement de la ZEP-09, les sondages. Comme conseillé par @vhf, j'ouvre une issue ici afin de faciliter les discussions.

J'ai une API fonctionnelle. Il faut que j'effectue une passe complète pour nettoyer le code, et donc par la même occasion, il faudrait que je structure proprement mon API, car comme @sandhose me l'a justement fait remarqué, pour

[2016-07-14 21:54] GerardPaligot commented on #3700
Je ne comprends pas où est la question.

[2016-07-14 21:56] Emeric54 commented on #3700
Comment faire ça mieux, plus _proprement_ ?

[2016-07-14 22:15] GerardPaligot commented on #3700
Hormis la liste des utilisateurs qui devrait avoir un résultat comme toutes les autres listes de l'API, rien ne me choque.

[2016-07-15 07:07] pierre-24 commented on #3700
J'ai quelques suggestions/questions:
- `startdate` : on ne sais jamais, ça peut être utile (sauf si tu me dis que c'est redondant avec la date de création du topic ... Mais on pourrait envisager de l'étendre pour les tribunes, par exemple).
- `type_vote` ? À quoi ça correspond ? Pourquoi `u` ? (je vais probablement te suggérer de mettre un truc plus explicite que "u")
- Est ce qu'on peut ne pas me

[2016-07-15 08:03] Emeric54 commented on #3700
En effet, je vais ajouter ça.

Type du vote => unique ou multiple. C'est vrai que ce n'est pas très explicite.

C'est possible, sachant qu'il est possible de fermer un sondage manuellement à tout moment.

Pas faux, je vais regarder de ce côté.

[2016-07-15 11:58] gustavi opened #3701 "Problème d'affichage sur mobile sur la page d'un sujet qui n'est pas la dernière"
Via le [forum](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=39#p115711)

Vu sur Microsoft Lumia 640 :

![screen](http://img11.hostingpics.net/pics/402360wpss201606250002.png)

[2016-07-15 12:07] gustavi opened #3702 "Utiliser les touches d’accès usuelles pour faciliter la navigation"
Pour plus d'informations c'est [sur le forum](https://zestedesavoir.com/forums/sujet/6452/link-rel-touches-dacces/?page=1#p116617).

[2016-07-15 16:42] vhf commented on #3700
Salut ! Super, merci pour ton boulot.
- Précise quels verbes sont associés à quels endpoints ;)
- Pour le vote, plutôt `/api/sondages/<pk>/vote` ?
- Peut-on renommer `type_vote` en `poll_type`, puisque ça concerne le sondage et pas le vote ?
- Je vois `html_url`, `is_active`, `date_joined`, mais `startdate`, `enddate`. Possible d'uniformiser ça en ayant du `snake_case` partout ?

[2016-07-15 16:50] GerardPaligot commented on #3700
Je suppose que @Emeric54 s'est inspiré de `pubdate` qui est cohérent du coup.

[2016-07-15 17:32] vhf commented on #3700
Ok merci @GerardPaligot. Du coup @Emeric54, `start_date` et `end_date`. `pubdate` reste tel quel pour l'instant.

[2016-07-15 17:59] vhf opened #3703 "Uniformiser certains noms vers snake_case"
Exemples de code actuel :

[code]

[code]
### Note

Si vous faites du code review ou si vous développez un truc en vue d'une PR, veillez à ne pas introduire de noms qui ne seraient pas snake case. Il n'est pas nécessaire que vous changiez ceux existants à ce stade.

Exemple : Si vous touchez du code où il y a `pubdate`, n'ajoutez pas `enddate` mais `end_date`. Pas nécessaire de changer `pubdate` p

[2016-07-15 18:01] vhf opened #3704 "Uniformiser l'usage des quotes, utilisez des single quotes partout"
Par exemple avec https://github.com/zheller/flake8-quotes

Exemple de code actuel :

[code]
### Note

Evitez d'introduire des double quotes (`"`). Si vous reviewez, signalez les double quotes qui font partie du diff. Pas nécessaire de signaler les double quotes qui ne sont pas touchées par une PR.

On préfère toujours `'blah'` à `"blah"`, mais si la string contient `'` on préfère `"l'utilisateur"`

[2016-07-15 23:09] GerardPaligot opened #3706 "La réservation d'un contenu crée un MP sans le validateur"
Lorsque un validateur réserve un contenu, un MP est créé pour le(s) auteur(s) mais sans le validateur alors que le premier message est bien signé avec son pseudo.

Le code concerné se trouve [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_validations.py#L271-L279) et il suffit de rajouter `validation.validator` dans la liste des auteurs en second paramètre.

[2016-07-15 23:31] GerardPaligot opened #3708 "Documentation éparpillée"
Aujourd'hui, nous avons de la documentation à 3 endroits différents :
- [Read the Docs](http://zds-site.readthedocs.io/fr/latest/) pour toute la documentation (enfin, je le pensais) ;
- Le [wiki](https://github.com/zestedesavoir/zds-site/wiki) pour le script de la synchro de la bêta à la prod (aucune idée de savoir s'il est à jour) ;
- La [page GitHub](http://zestedesavoir.github.io/zds-site/#/) p

[2016-07-16 11:35] gustavi commented on #3708
Niveau Wiki le script est OK. Il a été mis là pour qu'on l'ai quelque part je pense.

J'avais oublié l'existance de http://zestedesavoir.github.io/zds-site/#/interface-utilisateur/icones

[2016-07-16 11:43] sandhose commented on #3708
Absolument pas à jour, je mettrais bien un truc en place type Astrum[1](http://astrum.nodividestudio.com/)
ou `postcss-style-guide`[2](https://github.com/morishitter/postcss-style-guide) pour de la doc front type styleguide, avec
snippets et tout ; à voir. (pour la question que je vois venir de
« pourquoi pas dans Sphinx », c'est juste non, c'est pas possible
simplement et proprement)

[2016-07-16 11:53] pierre-24 commented on #3708
On en avait longuement débatu, et ça avait déjà été dit. Sauf que il semble quand même il y avoir une directive `raw` ([voir ici](https://groups.google.com/forum/#!topic/sphinx-users/d6gg86LnItY), et plus d'infos [là](http://docutils.sourceforge.net/docs/ref/rst/directives.html#raw-data-pass-through), entre autre la possibilité d'inclure arbitrairement un autre fichier). Bref, ce serait probableme

[2016-07-16 12:12] sandhose commented on #3708
D'où mon « simplement _et_ proprement ».

Au final, c'est juste un set de fichier statiques à servir (c'est aussi le cas pour sphinx) ; du coup, je pense vraiment qu'on peut envisager un `docs.zestedesavoir.com` qui pointe sur un serveur (ça peut être le serveur de prod, hein) qui sert 2/3 fichiers statiques, updaté par travis lorsqu'on pousse un tag de release, et c'est bon

[2016-07-16 13:21] pierre-24 commented on #3708
Alors autant rapatrier ce qui est sur ReadTheDocs avec, non ?

[2016-07-16 13:54] vhf commented on #3708
Pourquoi pas docs.zestedesavoir.com hébergé par github pages ?

[2016-07-16 15:47] GerardPaligot commented on #3708
Si nous partons dans l'idée de conserver une page dans le style de la [documentation front obsolète](http://zestedesavoir.github.io/zds-site/#/), on est en droit de se poser la question si nous conservons Read The Docs ou pas ? Est-ce que quelqu'un à connaissance d'une raison valable de l'utiliser plutôt qu'un autre outil ?

J'aimerais simplement avoir à un même endroit toute la documentation. L'o

[2016-07-16 18:21] pierre-24 commented on #3708
Je vois deux raisons évidentes, mais pas incontournables:
- C'est hébergé ailleurs. Donc indépendant de nos éventuels soucis de serveur.
- Le _build_ de la doc est à peu près automatique et géré de manière efficace (build par branche, re-fait à chaque _merge_, et ainsi de suite). Mais de toute façon, c'est une question à poser aussi si on part sur un outil comme ceux que propose sandose.

[2016-07-16 18:36] GerardPaligot commented on #3708
@pierre-24 Ce que tu proposes, c'est exactement ce que permet les pages GitHub aussi. On peut même imaginer stocker la documentation sur la branche `dev`, rajouter un hook qui écoute les merges sur dev pour builder la documentation automatiquement et placer les fichiers statiques sur une branche `gh-pages` pour les rendre accessible depuis l'URL de la documentation front obsolète actuelle.

[2016-07-16 18:51] pierre-24 commented on #3708
Je sais ;)

[2016-07-17 16:24] vhf commented on #3416
wip

### Check current encoding settings

[code]

### Change database settings

[code]

### Convert each table

[code]

### Convert each field

[code]

# Change Django MySQL db settings.py

[code]

# Change my.cnf

[code]

[2016-07-17 16:44] SpaceFox commented on #3416
On avait pas des tables en case sensitive ?

2016-07-17 18:24 GMT+02:00 victor felder notifications@github.com:

[2016-07-17 16:53] sandhose opened #3711 "Pas d'HTTPS partout ?"
Y'a-t-il une raison qui explique pourquoi on a pas par défaut de l'HTTPS partout ?

On a du code spé pour forcer ça sur les membres & sur certaines vues, ce qui implique d'ailleurs aussi d'avoir un paramètre dans le `settings.py` pour _ne pas_ forcer quand l'HTTPS est pas dispo (typiquement, en local), alors qu'on pourrait juste avoir nginx qui redirige tout, tout le temps, en HTTPS.

En plus, on

[2016-07-17 17:08] vhf commented on #3416
Possible @SpaceFox. Je regarderai ça plus tard.

Pour le moment je rencontre un autre problème lié à notre version de MySQL : innodb n'accepte pas d'indexes sur des champs pouvant contenir plus de 767 bytes. Du coup un index sur un varchar(255) utf8 est OK parce qu'utf8 = 3B / char, et 255*3B = 765B. Par contre varchar(255) utf8mb4 ça fait 255*4B = 1020B, donc pas d'index complet sur ce champ.
- S

[2016-07-17 17:11] SpaceFox commented on #3416
MySQL 5.6 est dans les backports (Debian a un retard important sur les versions de MySQL).

Une autre possibilité, c'est de réduire la taille des champs qui n'ont peut-être pas besoin de 255 caractères.

[2016-07-17 17:15] vhf commented on #3416
@SpaceFox @gustavi @GerardPaligot , mettez un +1 au commentaire de @SpaceFox ci-dessus pour passer à MySQL 5.6. Mettez un +1 à ce commentaire (le mien là, ici) pour rester à 5.5.

Commentaires et avis bienvenus.

[2016-07-17 18:25] Emeric54 commented on #2911
On peut fermer ici.

[2016-07-17 18:29] #2911 closed, assigned to nobody

[2016-07-17 19:21] GerardPaligot commented on #3416
C'est pas délirant de mettre à jour notre version de MySQL mais c'est pas délirant non plus de retirer les 255 caractères pour les champs qui n'en ont pas besoin. Je serais donc d'avis de faire une passe sur les champs avec 255 caractères avant puis de faire une mise à jour MySQL si c'est toujours nécessaire.

[2016-07-17 19:24] GerardPaligot commented on #796
J'entends de plus en plus parlé de refacto du front. N'oubliez pas cette issue quand vous démarrez ce chantier ! @sandhose

[2016-07-17 19:27] vhf commented on #3416
Ok, merci pour vos avis.

@GerardPaligot et les autres, j'aurai besoin de vos talents d'archéologues pour creuser 2-3 trous à coup de brosse à dent. Voici les modifications nécessaires pour passer l'entier de notre base de donnée en utf8mb4:

[code]

Notez que les nouvelles tailles sont "simplement" `191-x`, où `x` est la taille de l'autre champ d'un index. Exemple :

Ici on a un index sur 3 champ

[2016-07-17 19:28] GerardPaligot commented on #1350
Aujourd'hui, nous avons une documentation fournie qui couvre toutes les plateformes les plus répandues, un makefile pour les commandes d'installation (notamment) et un dockerfile en bêta qui semble bien fonctionner.

Je le demande à tous. Est-ce que vous jugez cette issue encore pertinente ?

[2016-07-17 19:29] vhf opened #3712 "Cohérence des utils_tag.title en prod"
On a petit problème en prod. Il ne semble pas porter à conséquence, mais il est gênant pour le futur et doit être régler rapidement. (Les émojis en dépendent ! 🐙)

[code]

[code]

Notez qu'on a un UNIQUE sur `title`:

[code]

Et que la duplication n'est pas détectée en utf8, seulement en utf8mb4.

[2016-07-17 19:31] GerardPaligot commented on #2750
Dans les 2 cas on parle des sujets, c'est donc une duplication de l'issue d'@AlexRNL.

[2016-07-17 19:31] #2750 closed, assigned to nobody

[2016-07-17 19:34] vhf commented on #3712
Notez le `C2A0`. C'est le [caractère utf8 `00A0`](https://codepoints.net/U+00A0).

[2016-07-17 19:35] GerardPaligot commented on #1722
Les TODO indiquent qu'il manque des asserts mais quoi comme assert ?

[2016-07-17 19:39] GerardPaligot commented on #1927
@cgabard Est-ce que tu serais confirmer ou infirmer le bug ? Savoir si c'est toujours d'actualité.

[2016-07-17 19:40] vhf commented on #1350
Nope.

[2016-07-17 19:40] GerardPaligot commented on #2009
La PR a été mergée mais cette issue est restée ouverte. Quelqu'un peut me confirmer que tout est ok ?

[2016-07-17 19:43] GerardPaligot commented on #2033
Issue créée : https://github.com/zestedesavoir/Python-ZMarkdown/issues/104

[2016-07-17 19:43] #2033 closed, assigned to nobody

[2016-07-17 19:50] GerardPaligot commented on #2080
- Aucune activité sur l'issue depuis plusieurs mois.
- Pertinence douteuse de l'outil utilisé.
- Il pourrait y avoir un travail à faire sur le couplage `pk` + `slug` mais cette issue ne traite pas directement de ça. Si vous jugez ça vraiment pertinent, je vous invite à ouvrir un autre ticket.

Donc, je ferme. Libre à vous de rouvrir si vous jugez ça toujours pertinent mais j'émettrais de grosses r

[2016-07-17 19:50] #2080 closed, assigned to nobody

[2016-07-17 19:51] GerardPaligot commented on #2083
C'est pas le cas partout ça ? Quel genre de protection nous pouvons mettre ?

[2016-07-17 19:52] vhf commented on #3416
Hello: `https://beta.zestedesavoir.com/forums/sujet/6497/sphinx4-en-c-voce/?page=1#p117397`

[edit @artragis] c'est surtout en hommage à mon pote, là : http://imgur.com/a/7RtKV

[2016-07-17 19:53] GerardPaligot commented on #2085
@SpaceFox, @gustavi et @vhf Vous avez un moyen de voir si cette requête est toujours exécutée ?

[2016-07-17 19:54] GerardPaligot commented on #2086
@SpaceFox, @gustavi et @vhf Vous avez un moyen de voir si cette requête est toujours exécutée ?

[2016-07-17 19:56] GerardPaligot commented on #2155
Même conclusion que la PR linké par notre renard juste au dessus : https://github.com/zestedesavoir/zds-site/issues/2156#issuecomment-183652059

[2016-07-17 19:56] #2155 closed, assigned to nobody

[2016-07-17 19:59] GerardPaligot commented on #2217
Qui sont les personnes avec les accès au facebook ?

cc @cgabard, @gustavi, @vhf

[2016-07-17 20:00] GerardPaligot commented on #2277
@sandhose Est-ce vraiment non voulu ?

[2016-07-17 20:00] artragis commented on #3416
ça poulp sur la béta, hommage à @GerardPaligot

[2016-07-17 20:02] GerardPaligot commented on #2284
Aujourd'hui, marquer un message comme non lu rajoute bien une notification (merci au récent refactoring).

[2016-07-17 20:02] #2284 closed, assigned to nobody

[2016-07-17 20:04] vhf commented on #2085
Oui. Non.

[2016-07-17 20:04] #2085 closed, assigned to nobody

[2016-07-17 20:06] vhf commented on #2083
On pourrait limiter à 5 envois par jour par exemple. Mais c'est du luxe. Je propose qu'on laisse ouvert, à très faible priorité.

[2016-07-17 20:06] GerardPaligot commented on #2344
@cgabard Ca pourrait pas être renvoyé par zMarkdown via les méta données que tu comptes implémenté ? Si oui, il faudrait placer cette issue sur le dépôt Python-ZMarkdown.

[2016-07-17 20:07] vhf commented on #2217
Nous on l'a pas. @cgabard, tu nous le donnes dans le notepad identifiants techniques ?

[2016-07-17 20:15] WinXaito commented on #2083
Ou alors mettre un captcha, ça n'évite pas une personne d'envoyer en permanence des requête, mais ça évite que ce soit fait par un bot.

[2016-07-17 20:15] GerardPaligot commented on #2551
@gustavi Tu n'as pas fais cette modification partout ?

[2016-07-17 20:16] vhf commented on #3416
Après réflexion, et vu les 4 votes en faveur de MySQL 5.6, et sachant que MySQL 5.7 est sorti, voici un avis plus éclairé et plus tranché :
- Inspecter nos dépendances pour piger l'impact d'en réduire 4 champs de quelques caractères sera vraiment pénible.
- C'est une solution un peu sale, si ça se trouve pour bien faire faudra surcharger ces modèles pour pas avoir à y monkey-patcher les tailles de

[2016-07-17 20:18] GerardPaligot commented on #2622
@vhf @gustavi Une idée pour faire avancer cette issue ?

[2016-07-17 20:21] GerardPaligot commented on #2722
@gustavi @vhf N'oublions pas cette issue pour la prochaine réunion qui discutera d'argent ! :)

[2016-07-17 20:23] vhf commented on #2722
La prochaine réunion tu veux dire ?

[2016-07-17 20:24] GerardPaligot commented on #2722
édité, au temps pour moi.

[2016-07-17 20:25] GerardPaligot commented on #2831
On ne supporte plus les .tuto depuis v19.

[2016-07-17 20:25] #2831 closed, assigned to nobody

[2016-07-17 20:26] GerardPaligot commented on #2842
@gustavi @vhf J'ai cru comprendre que vous modifiez le script de déploiement. Vous savez jeter un oeil à cette issue ?

[2016-07-17 20:27] GerardPaligot commented on #2878
Dans la mesure où les tags ont été intégrés, cette issue n'est plus pertinente.

[2016-07-17 20:27] #2878 closed, assigned to nobody

[2016-07-17 20:29] GerardPaligot commented on #2897
@WinXaito Si tu as toujours un Lumia, tu pourrais faire une capture pour récupérer le visuel du bug ?

[2016-07-17 20:30] WinXaito commented on #2897
Avec plaisir, je te donne ça tout de suite.

[2016-07-17 20:30] GerardPaligot commented on #2976
@gustavi Moi je veux bien que tu regardes ça quand tu as du temps. ^^

[2016-07-17 20:32] GerardPaligot commented on #2985
C'est toujours le cas ? @firm1 @gustavi ?

[2016-07-17 20:34] WinXaito commented on #2897
![wp_ss_20160717_0001](https://cloud.githubusercontent.com/assets/8223773/16902927/8bf51152-4c6e-11e6-8515-730ece562686.jpg)

Les images ne sont toujours pas centré.

[2016-07-17 20:35] GerardPaligot commented on #2897
Merci @WinXaito !

[2016-07-17 20:40] vhf commented on #2622
Réglé.

[code]

[2016-07-17 20:40] #2622 closed, assigned to vhf

[2016-07-17 21:54] vhf commented on #2842
@gustavi Si tu galères on peut regarder ensemble. Je t'assigne ici.

[2016-07-17 22:06] vhf commented on #3712
Facilement résolu par `DELETE FROM utils_tag WHERE id=839;`

Par contre il faut s'assurer à l'avenir qu'on trim proprement les tags.

[2016-07-18 06:36] gustavi commented on #2985
En fait l'apparition du badge Staff est à refaire correctement car aujoud'hui c'est assez mal foutu.

[2016-07-18 06:38] gustavi commented on #2551
Oui c'est fait depuis un moment ça.

[2016-07-18 06:38] #2551 closed, assigned to nobody

[2016-07-18 06:42] gustavi commented on #2083
Le CAPTCHA est une bonne idée car de mémoire il en existe un pour l'inscription (désactivé et ne sera activé qu'en cas de SPAM). Le jour où ça se présente on active tout ça.

[2016-07-18 06:44] gustavi commented on #2344
Humm, je suis pas super fan de l'issue. On peut vite se retrouver avec des sujets avec 10 tags.

[2016-07-18 06:55] pierre-24 commented on #2344
@gustavi peut être alors se limiter au premier message ?

[2016-07-18 10:27] WinXaito commented on #2344
@gustavi comme le dit @pierre_24 il était préciser uniquement le premier message.

[2016-07-18 11:30] vhf commented on #2344
Il faudra prévoir une map d'alias de langages. (ping @cgabard si c'est de ton côté)

Exemple :

[code]

sont équivalents, mais le tag doit être `python`.

[2016-07-18 11:39] vhf commented on #3654
Pour moi oui, c'est un bug. @gustavi ta solution me semble tout à fait viable. @GerardPaligot qu'en penses-tu ? Faisable ? Facile ? Demande une refactorisation importante ?

[2016-07-18 11:39] Eskimon opened #3716 "Bug dans la pagination d'un (très) gros MP"
Je suis membre d'un MP très long quelques centaines de pages. Depuis un moment déjà, la pagination/notification bugouille. En effet, les notifs ne nous emmène pas sur la bonne page lorsqu'un changement de page a eu lieu. au lieu de ca, on est emmené en haut de la page précédente. Il faut alors changer à la main de page (en scrollant comme un dingue pour vérifier qu'on rate pas une page).

J'ai l'i

[2016-07-18 11:54] vhf commented on #3652
J'ai regardé, le GET qui récupère les votes n'est pas bloquant. Je ne vois pas comment ce GET pourrait empêcher le PUT tant que le GET n'est pas terminé.

@sandhose est-ce qu'il te semble possible qu'actuellement le GET empêche de voter tant que son `always` n'est pas atteint ? Si oui peux-tu m'expliquer pourquoi/comment, et je tente un fix ? Si non, peux-tu fermer cette issue ?

[2016-07-18 12:43] gustavi commented on #3716
ping @GerardPaligot

[2016-07-18 12:49] gustavi commented on #2086
Je ne sais pas comment @SpaceFox faisait pour obtenir ces infos en prod.

[2016-07-18 12:53] gustavi commented on #2009
Lors de ma dernière installation sous Debian c'était OK.

[2016-07-18 12:53] #2009 closed, assigned to nobody

[2016-07-18 12:54] gustavi commented on #1350
Idem.

[2016-07-18 12:54] #1350 closed, assigned to nobody

[2016-07-18 12:55] SpaceFox commented on #2086
En analysant les slow queries avec les outils standards pour ce faire.

2016-07-18 14:49 GMT+02:00 Laville Augustin notifications@github.com:

[2016-07-18 12:55] gustavi commented on #1722
Je n'en ai absolument aucune idée.

[2016-07-18 12:58] vhf commented on #2086
@gustavi : `/var/log/mysql/mysql-slow.log`

La requête en question n'est plus présente dans les logs il me semble. Par contre on en a d'autres de gênantes.

[2016-07-18 13:57] cgabard commented on #2217
Il ne me semble pas les avoir ou alors faudrait que je fouille. Demandez à Shigerum il les aura et ça ira plus vite.

[2016-07-18 13:58] cgabard commented on #1927
J'ai rien pour tester là. Ça m'étonne mais faudrait tester sur un pandoc pour vérifier

[2016-07-18 14:15] GerardPaligot commented on #1722
Sans information supplémentaire, je suis pour une PR qui retire ces TODO.

[2016-07-18 14:18] GerardPaligot commented on #2217
Je me charge de le contacter par MP sur ZdS.

[2016-07-18 14:29] GerardPaligot commented on #3654
[Comme je le disais](https://github.com/zestedesavoir/zds-site/issues/3654#issuecomment-225223918), la génération des notifications se fait à la création des messages (pour ce cas ci présicément). Donc il faudrait pouvoir récupérer le dernier message lu par l'utilisateur connecté grâce au modèle `TopicRead` et à la souscription, calculer si des messages ont été créés par rapport à ce que dit `Topi

[2016-07-18 15:31] vhf commented on #2086
Celle-ci est particulièrement étrange :

Elle retourne 97'000 lignes en moyenne, mais n'est partie que 12 fois, ce qui est peu (la slow query qui a le plus tourné est une requête de la home, avec 6487 occurrences).

[code]

Idem ici, rare mais trop grosse :

[code]

La requête la plus lente qu'on a est celle-ci :

[code]

[2016-07-18 15:35] SpaceFox commented on #2086
Sachant que si personne n'a modifié le réglage, sont considérées comme slow
queries les requêtes factuellement lentes et celles qui ont un critère sans
index.

2016-07-18 17:31 GMT+02:00 victor felder notifications@github.com:

[2016-07-18 15:55] GerardPaligot commented on #3685
Merci @vhf

[2016-07-18 16:41] gustavi commented on #2217
Le papa noël est passé et c'est good ici ! Inscription + connexion fonctionnent sur la prod !

Pour la beta faut créer une autre application, etc, etc, etc donc on ne laisse ça que sur la prod (vue que personne n'utilise ça).

[2016-07-18 16:42] #2217 closed, assigned to gustavi

[2016-07-18 18:27] SpaceFox opened #3718 "BDD : indexes avec une sélectivité basse"
La dernière version de MySQLTuner sort des stats intéressantes. Par exemple, peut-être qu'on devrait se poser des questions sur la pertinence de ces indexes :

[code]

[2016-07-18 18:32] vhf commented on #3718
Wow, merci @SpaceFox .

[code]

:/ Sans blague.

[2016-07-18 18:45] vhf commented on #3718
- [x] [!!] forum_topicfollowed_830a6ccb(email)
- [x] [!!] notification_subscription_4264c638(is_active)
- [x] ~~[!!] notification_subscription_417f1b1c(content_type_id)~~ On n'y peut rien ici.
- [x] ~~[!!] easy_thumbnails_source_3f0464e5(storage_hash)~~ On n'y peut rien ici.
- [x] ~~[!!] easy_thumbnails_thumbnail_3f0464e5(storage_hash)~~ On n'y peut rien ici.
- [x] [!!] forum_topic_f025b597(is_sol

[2016-07-18 19:17] vhf commented on #3718
Pas de quick win de ce côté. https://github.com/zestedesavoir/zds-site/pull/3719#issuecomment-233429422

[2016-07-18 19:17] #3718 closed, assigned to nobody

[2016-07-18 21:27] #3706 closed, assigned to nobody

[2016-07-18 22:46] gustavi opened #3721 "Ajuster le script de déploiement"
Aujourd'hui le script fonctionne bien sur la beta mais est totalement cassé sur la prod (chemins faux).

Il faut donc faire une petite màj, je m'en occupe.

[2016-07-18 22:55] vhf commented on #3472
Bon, j'en ai marre. Il faut régler ça.

[2016-07-19 13:24] vhf commented on #3631
J'avais pas vu cette issue.

c/c du MP envoyé à @gustavi il y a 5 minutes:

---

zds-watchdog était mort sur la prod, probablement depuis l'installation de la prod.

Il refusait de se lancer :

[code]

J'ai dû le modifier comme suit:

[code]

[2016-07-19 14:06] vhf commented on #3631
J'ai installé les fonts. Un script est là pour ça, `/home/zds/install_fonts/`. A documenter.

J'ai aussi dû modifier le template latex en live sur la prod, ce qui est moche mais je peux pas tester autrement. Il y manquait une macro latex, problème connu de pandoc, et le chemin vers la coverpage n'était plus valide. J'ai suis en train de régénérer tous les PDFs, puis je vais annuler mes modificatio

[2016-07-19 14:35] pierre-24 commented on #3631
C'est @artragis le spécialiste: là, les PDFs sont effectivement générés ... Mais pas le reste ;) (epub et HTML)

EDIT: si on galère, c'est qu'on a oublié de le noter quelque part ou qu'on sais pas chercher.

[2016-07-19 15:02] Maelan commented on #3716
je confirme le bog (ainsi que plusieurs autres personnes). je l’ai constaté avec certitude dans le cas où le premier message non lu est celui qui provoque une nouvelle page. dans ce cas, le lien mène incorrectement à la page n−1 mais l’ancre est correcte (et ne mène à rien, du coup). Eskimon a l’impression que ça ne s’applique pas forcément qu’au premier message de la nouvelle page, mais je n’ai o

[2016-07-19 15:25] Maelan opened #3724 "la fonctionnalité d’abréviation de l’éditeur est boguée"
(testé sur la version en production)

la fonctionnalité d’abréviation de l’éditeur (pour n’importe quel type de contenu) est intrusive et même boguée. cliquer sur le bouton remplace tout le contenu du message par un grossier « NaN », ce qui est assez moche en soi. le contenu est restauré lorsqu’on fait « valider », mais **pas** si on fait « annuler », provoquant la perte du message (heureusement r

[2016-07-19 15:28] artragis commented on #3631
alors comment que ça fonctionne :

Il y a trois modes possibles pour la génération des contenus :
- ne rien faire
- le faire au moment de la publication
- laisser notre watchdog s'en occuper

Le watchdog se contente d'encapsuler le **même** processus que "au moment
de la publication" mais dans une tâche de fond. La seule différence c'est
que le site va simplement déposer un jeton dans un dossier s

[2016-07-19 15:31] vhf commented on #3631
Ok @artragis. Du coup, il faut que le site dépose ce jeton, puis watchdog génère un type de contenu externe indiqué dans le jeton ? Genre par exemple : pour un contenu X, après validation on aura un token correspondant au contenu X, watchdog verra l'apparition du token, verra que le token demande la génération d'un PDF et d'un EPUB mais pas d'un HTML ? C'est ça ?

Si oui, y'a moyen de générer un t

[2016-07-19 16:01] artragis commented on #3631
non, les formats générés sont mis "en dur" dans le code et ne sont
surchargeable que dnas le settings.py

Le 19 juillet 2016 à 17:31, victor felder notifications@github.com a
écrit :

[2016-07-19 16:36] #3697 closed, assigned to nobody

[2016-07-19 17:42] GerardPaligot opened #3725 "Documentation incomplète pour solr"
Aujourd'hui, j'ai tenté d'installer mon environnement de recherche solr en suivant la documentation. Hormis la documentation manquante pour Mac OS (PR soon si on m'aide avec cette issue), j'ai suivis l'installation pour la partie commune à travers tous les systèmes et quand je veux indexer ma base, j'ai les erreurs suivantes :

[code]

La documentation n'aide pas parce que la documentation s'atten

[2016-07-19 17:47] GerardPaligot opened #3726 "Merge de la branche hotfix-v19 vers dev pas fait"
Pour éviter d'avoir un trop gros merge à faire et pour éviter de perdre des commits, la branche `hotfix-v19` aurait du être mergé dans `dev` suite à la release-v19.1.

Je tag bloquant parce que ça doit être fait urgemment avant la v20.

[2016-07-19 17:49] vhf commented on #3726
Yep bien vu. Faut même faire ça avant tout autre merge si possible.

On Jul 19, 2016 19:47, "Gérard Paligot" notifications@github.com wrote:

[2016-07-19 17:50] vhf commented on #3726
Répondu trop vite avant de lire. Faut merger hotfix-truc dans dev, pas prod
dans dev. Ça revient presque au même mais je le dis quand même.

On Jul 19, 2016 19:48, "Victor Felder" victorfelder@gmail.com wrote:

[2016-07-19 17:50] GerardPaligot commented on #3726
Tout à fait. J'édite.

[2016-07-19 19:25] pierre-24 commented on #3631
Mince, j'étais convaincu qu'il y avait un moyen de forcer watchdog à repasser faire tout ce qui n'avait pas été fait pendant qu'il était pas là :/

[2016-07-19 20:25] gustavi commented on #3726
De mémoire c'est pas fait lorsqu'on fait la v20 ?

[2016-07-19 20:55] vhf commented on #3726
Nope, c'est sitôt que le hotfix est en prod. Ainsi on évite que son merge
dans dev fasse des conflits après d'autres merges dans dev. Le but étant la
parité ou plutôt une sorte de suivi environ chronologique des commits entre
dev et prod après chaque release. :)

On Jul 19, 2016 22:25, "Laville Augustin" notifications@github.com wrote:

[2016-07-19 21:08] DevHugo commented on #3725
Salut,

La dernière version supporté par Haystack de Solr est la version [4.10.4](https://archive.apache.org/dist/lucene/solr/4.10.4/). La version [5.X de Solr](https://github.com/django-haystack/django-haystack/pull/1315) est prévue avec la version [2.5.0](https://github.com/django-haystack/django-haystack/pull/1315) de Haystack.

Normalement, si tu essaye avec la version 4.10.4, ça devrait march

[2016-07-19 21:14] WinXaito commented on #3725
Je ne comprend pas trop pourquoi on ne met pas tous dans les versions les plus récentes, soucis de compatibilité?

[2016-07-19 22:11] GerardPaligot commented on #3725
Malheureusement, l'erreur survient avec cette version. :/

Ne t'excuse pas voyons. ^^

Cela ne dépend pas de nous. Nous utilisons la bibliothèque Haystack dans sa version 2.4. Cette version est la dernière et ne supporte que la version 4.10.4 alors que Solr en est à sa version 6.1.0.

Donc on utilise les dernières versions de nos librairires (on tente en tout cas) mais ces librairies ne supportent

[2016-07-20 11:35] DevHugo commented on #3725
Excuse numéro 1 du bon informaticien: chez moi, ça marche ^^ ! Je viens de tester, j'ai pas d'erreur sur mon mac.

Peux-tu nous donner le contenu de ton fichier `schema.xml` qui est dans le dossier `solr-4.10.4/example/solr/collection1/conf/` ?

[2016-07-20 11:43] GerardPaligot commented on #3725
<details><summary>

/usr/local/Cellar/solr4/4.10.4/example/solr/collection1/conf/schema.xml</summary>

[code]

</details>

A noter que à la ligne :

[code]

J'ai testé avec et sans `multiValued`.

[2016-07-20 11:52] DevHugo commented on #3725
C'est pas le bon contenu, tu devrais avoir un truc qui ressemble à ça:

[schema.xml.txt](https://github.com/zestedesavoir/zds-site/files/373605/schema.xml.txt). Tu peux essayer avec ce schema.xml ?

Que retourne la commande `python manage.py build_solr_schema` ? Le même schéma que je t'es donné ?

ça pourrait venir de cette commande qui merde à un endroit: `python manage.py build_solr_schema > %so

[2016-07-20 12:01] GerardPaligot commented on #3725
Bien, c'était 100% ma faute, j'ai skip la première commande de cette [section de la documentation](http://zds-site.readthedocs.io/fr/latest/install/install-solr.html#procedure-commune).

Tout fonctionne maintenant.

PR prochainement pour la doc OS X.

[2016-07-20 12:03] DevHugo commented on #3725
C'est cool !

o/

[2016-07-20 14:24] GerardPaligot commented on #3472
Je ferme avec plaisir.

[2016-07-20 14:24] #3472 closed, assigned to vhf

[2016-07-20 14:31] #3726 closed, assigned to nobody

[2016-07-20 21:50] gustavi opened #3729 "Ajouter les votes (+1/-1) aux tribunes"
C'est plus une note qu'une issue : il faudra penser à ajouter les votes sur les tribunes quand le système aura été refacto.

Ne pas oublier d'ajouter ça dans `zds.tutorialv2.managers.PublishableContentManager.get_last_opinions()`.

[2016-07-21 09:07] vhf commented on #2086
Je me suis penché sur une slow query qui revenait régulièrement et qui scannait ~67'000 lignes. En fait c'est une stats Munin.

[2016-07-21 12:14] gustavi commented on #2086
C'est lancé par Munin directelent ou par Munin via Django ?

[2016-07-21 12:36] sandhose commented on #3692
Bloquée par #3711

[2016-07-21 12:42] vhf commented on #2086
Via Django. Ce qu'il fallait comprendre c'est qu'au final c'est pas du tout important, il faut juste garder en tête en regardant les slow queries qu'elles impactent pas toutes les perfs du site. Munin passe chaque 5 minutes. Si on a 4-5 queries de 0.3s chaque 5 minutes, c'est pas urgent d'améliorer notre django-munin.

Si on a une query de 0.3s sur la homepage ou sur les forums, là c'est la mort e

[2016-07-21 12:46] SpaceFox commented on #3692
Absolument pas @sandhose . On peut tout à fait proposer HTTP 1.1 sans TLS, et HTTP/2 sur HTTPS uniquement. Les deux sujets sont donc parfaitement décorrellés.

Cf http://textes.spacefox.fr et https://textes.spacefox.fr (dans cet ordre !) pour un exemple.

[2016-07-21 14:12] vhf commented on #3692
Testé sur la bêta, voici ma doc :

[code]

Par contre Chrome accepte pas. [Il semble](http://serverfault.com/a/733556) que ça soit la faute d'openssl **et de Chrome**. Firefox prend volontiers l'http2.

[2016-07-21 14:21] SpaceFox commented on #3692
Anéfé, mon serveur est sous Ubuntu et donc n'a pas ce problème.

2016-07-21 16:12 GMT+02:00 victor felder notifications@github.com:

[2016-07-21 19:04] gustavi opened #3732 "Lecture zen et commentaires"
Via le [forum](https://zestedesavoir.com/forums/sujet/6570/lecture-zen-et-commentaires/?page=1#p118265) :

[2016-07-21 20:02] malnuxstarck commented on #3732
J'ai lu une solution dans le forum. Si on mettait la class en display: none elle va plus s'affiché moi je pense plutot qu'on doit regarder lorsqu'on clique sur lecture zen . on cache la classe  dans le cas contraire on l'affiche.

[2016-07-21 20:15] Karnaj commented on #3732
@malnuxstarck : en changeant le css de cette manière, on cache le bloc seulement dans le cas où on est en lecture zen.

Je prends.

[2016-07-21 22:48] vhf commented on #2525
Cf. #1282. C'est lié, du coup si quelqu'un fait ça, si vous pouvez aussi faire l'autre... :)

[2016-07-21 22:49] vhf commented on #2547
Encore d'actualité @GerardPaligot @SpaceFox ?

[2016-07-21 22:50] vhf commented on #2548
Encore d'actualité @GerardPaligot @SpaceFox ?

[2016-07-21 22:50] vhf commented on #2549
Encore d'actualité @GerardPaligot @SpaceFox ?

[2016-07-22 13:21] gustavi commented on #2549
En fait faut refaire le système des droits proprement. Ça prendra un peu plus de temps mais ça évite de mettre du scotch un peu partout dans notre code à chaque fois.

[2016-07-22 13:25] gustavi commented on #2547
Pas mal de trucs sympas niveau sécu, à creuser pour voir ce qui peut m'intéresser et qui ne ferait pas doublon avec ce que fait nginx.

[2016-07-22 23:36] WinXaito opened #3734 "Caractère smiley inséré incorecte"
Bonsoir,

Il ne me semble pas que ça aie déjà été dit, mais quand je souhaite insérer le smiley `>_<`, l'éditeur m'ajoute `&gt;_&lt;`

J'ai contrôlé tous les autres caractères, c'est le seul qui pose problème.

@cgabard

[2016-07-22 23:41] vhf commented on #3668
Citer un message contenant des smileys fonctionne. Copier-coller des images, par contre, c'est pas top. :)

[2016-07-22 23:41] #3668 closed, assigned to nobody

[2016-07-22 23:56] vhf commented on #3734
Yep. La raison est que les codes des smileys sont dans un attribut html, et doivent donc être échappés. Le problème est qu'ensuite on ajoute ces codes dans la textarea comme texte.

[2016-07-23 00:16] vhf commented on #3685
`django.db.utils.NotSupportedError: (1235, "This version of MySQL doesn't yet support 'LIMIT & IN/ALL/ANY/SOME subquery'")`

https://github.com/zestedesavoir/zds-site/pull/3686/files#r71961864

[2016-07-23 15:05] GerardPaligot commented on #2548
Oui, sans doute.

[2016-07-23 15:11] GerardPaligot commented on #3685
Je referme, merci @vhf

[2016-07-23 15:11] #3685 closed, assigned to vhf

[2016-07-23 15:40] WinXaito commented on #3695
J'ai à nouveau le problème.

[2016-07-23 15:43] vhf commented on #3695
@WinXaito normal, rien n'a encore été entrepris pour résoudre cette régression.

[2016-07-23 16:10] vhf commented on #3695
PR introduisant la régression: #3607

[2016-07-23 20:55] SpaceFox opened #3738 "Google indexe nos pages de recherche"
En voulant vérifier quelque chose quant à l'efficacité de notre moteur de recherche interne, j'ai lancé une recherche sur Google avec `site:zestedesavoir.com` ([cette recherche](https://www.google.fr/search?q=site:zestedesavoir.com+myrath) pour être exact).

Et là, c'est le drame : dans les résultats de recherche je trouve :

[code]
1. Je ne pense pas qu'indexer nos résultats de recherche soit per

[2016-07-23 21:00] SpaceFox commented on #3738
PS : j'ai mis une priorité haute, parce que du coup c'est un fort risque de duplicate content et que ça devrait être facile à corriger donc y'a pas de raison que ça traîne. N'hésitez pas à corriger si vous n'êtes pas d'accord.

[2016-07-23 21:16] vhf commented on #3738
Je crois que du côté sitemap c'est OK mais je vérifierai. Le robots.txt
doit suffire, le nofollow semble superflu. Ça me semble aussi important
comme problème, bien vu.

[2016-07-23 22:20] vhf opened #3741 "Sitemap pour /pages/"
Aucun [sitemap](https://zestedesavoir.com/sitemap.xml) ne donne nos pages [/pages/](https://zestedesavoir.com/pages/).

C'est pas top niveau SEO, vraiment pas top.
## Comment résoudre
1. Regarder comment les autres sitemaps sont générés.
2. Générer un sitemap similaire mais pour les pages.

[2016-07-23 22:39] vhf opened #3742 "Documenter l'utilisation des milestones"
Notre doc (read the docs) ne contient rien au sujet de l'utilisation des milestones, pourtant clairement je vois qu'on en utilise.

[2016-07-23 22:44] GerardPaligot commented on #3742
Cette issue est une bonne chose. Pour info, on utilise quotidiennement 3 milestones :
- Abandon / Ferme / Doublon / etc. : En toute sincérité, je ne sais pas trop pourquoi elle existe. A mon avis, c'est historique.
- Version n : On y regroupe toutes les issues (ou PR si la PR n'a pas d'issue) qui concerne la dernière release en date (dans sa version majeure, on en compte pas les hotfix).
- Version

[2016-07-23 23:05] SpaceFox commented on #3742
Tiens, j'étais persuadé que c'était écrit quelque part…
- « Abandon / Ferme / Doublon / etc. » fait ce que son nom indique, elle a surtout servi à faire du tri à une époque. @Eskimon tu confirmes ?
- Toute issue (ou PR s'il n'y a pas d'issue) dont la correction est mergée dans `dev` → « Version de développement »
- Toute issue (ou PR s'il n'y a pas d'issue) dont la correction est mergée ailleurs (

[2016-07-24 09:14] GerardPaligot commented on #3738
Merci @vhf !

[2016-07-24 09:14] #3738 closed, assigned to nobody

[2016-07-24 10:41] vhf opened #3744 "Supprimer model_name.py"
Cf. #3743, `zds/utils/templatetags/model_name.py` n'est pas utilisé, c'est du code mort.

Il faut le supprimer et en supprimer la doc : http://zds-site.readthedocs.io/fr/latest/front-end/template-tags.html#le-module-model-name

[2016-07-24 12:52] DevHugo commented on #3744
Je confirme que le fichier sert à rien. J'étais sur d'en avoir déjà discuté dans un ticket mais j'arrive pas à remettre la main dessus.

[2016-07-24 13:11] vhf commented on #3640
Ce bug est très gênant.

Il est simple à reproduire, est présent _potentiellement_ sur tous les contenus (certains n'en souffrent pas mais je n'ai pas cherché à savoir lesquels bug et lesquels pas), et @artragis semble dire qu'il est simple à régler.

Cliquer ici :

<img width="637" alt="screen shot 2016-07-24 at 15 09 41" src="https://cloud.githubusercontent.com/assets/2022803/17083961/b0d2d666-5

[2016-07-24 13:48] vhf commented on #3742
Ok, merci.

J'ai ouvert #3747 avec une proposition et son pourquoi.

[2016-07-24 14:05] DevHugo opened #3748 "Faire une étude pour voir si le passage à ElasticSearch est possible/justifié"
Bonjour,

Ça serait bien de faire une étude pour voir si le passage à [Elasticsearch ](https://www.elastic.co/fr/products/elasticsearch) serait possible, cela comprend étudier les performances, niveau documentation, possibilité ou non d'utiliser d'avoir une recherche en français (tokenizers, …), niveau de difficulté de l'installation sur la prod et pour un poste de développeur.

La deuxième partie

[2016-07-24 14:08] vhf commented on #3748
Bonne idée.

J'ai utilisé :

[code]

il y a 2 ans et j'avais trouvé très facile à mettre en place et à utiliser.

[2016-07-24 14:33] artragis commented on #3640
Simple à régler oui.

Simple à évaluer les effets de bords. Je n'en mettrai pas ma main à
couper. Si on a fait ce choix, c'est peut être parce qu'on avait une
bonne raison.

Maintenant, le mieux ça serait simplement d'enlever la condition et le
test afférant (si test il y a). On regarde si travis passe puis on le
met sur la béta.

Le 24/07/2016 à 15:11, victor felder a écrit :

[2016-07-24 20:19] GerardPaligot commented on #3744
Thanks.

[2016-07-24 20:19] #3744 closed, assigned to nobody

[2016-07-24 21:55] GerardPaligot commented on #3640
@artragis Tu aurais un peu de temps pour nous pointer le ou les partie(s) du code concernée(s) ? Parce que je ne vois pas bien le rapport entre la souscription à un contenu et l'erreur donnée par @gustavi

[2016-07-25 11:32] DevHugo commented on #3748
C'était l'idée de Spacefox à la base, rendons au renard, le fromage.

Ça serait bien de faire un tour des compétences de l'équipe sur cette techno pour savoir qui a des connaissances.

[2016-07-25 12:38] firm1 commented on #3748
[Mon point de vue d'il y'a un an](https://zestedesavoir.com/articles/61/elasticsearch-maintenant-en-version-1-4/#p80875) sur la question n'a pas changé. J'approuve cette idée.

Ayant une bonne connaissance du bidule, je peux répondre a des questions si vous en avez, mais pas forcément le temps d'en faire plus.

Sinon,

Coté perf, Elasticsearch fait au moins aussi bien que Solr (je n'ai pas de chif

[2016-07-25 12:55] SpaceFox commented on #3748
Très honnêtement, on a absolument pas besoin de « transition en douceur » ni de « récupérer les index de Solr ». Les index complets de prod se re-construisent en moins d'un quart d'heure et ne contiennent pas d'historique.

Mon avis personnel après avoir joué avec ElasticSearch 2, c'est qu'on aurait tout intérêt à l'utiliser, et surtout à l'utiliser le plus directement possible.

Pour moi on a là

[2016-07-25 13:24] WinXaito opened #3749 "Limite des 15min après avoir posté"
Bonjour,

Je suis tombé cette après-midi sur le poste de `pascal.ortiz` sur son cours python: https://zestedesavoir.com/forums/sujet/6598/decouvrir-la-programmation-avec-python/

Et ce qui m'a interpelé c'est `Il y a une heure, il y a 57 minutes, il y a 55 minutes`, car dans tous les cas on a pas les 15 minutes pour éviter le flood.

![capture](https://cloud.githubusercontent.com/assets/8223773/17

[2016-07-25 13:30] GerardPaligot commented on #3749
Ce cas présent est un peu particulier. Le sujet est géré par Zeste de Savoir lui même suite à des actions de l'auteur sur la mise en bêta de son contenu. A chaque nouvelle mise en bêta, un message est créé sur son sujet pour prévenir les membres.

Le flood n'a donc pas de raison d'être appliqué dans ce cas précis.

[2016-07-25 13:32] WinXaito commented on #3749
Ok je comprend mieux, si on y pense pas, rien ne le différencie. C'est juste étonnant que l'auteur aie décidé de les masquer.

[2016-07-25 13:32] #3749 closed, assigned to nobody

[2016-07-25 18:23] DevHugo commented on #3748
Au moins, on a quelqu'un à qui se référer, c'est déjà cool.

La question était plus, est-ce simple à mettre en place, car pour Haystack, c'était marqué dans les petits caractères de la documentation. C'était pas difficile au final mais pour le trouver ^^ .

À la louche repartir de zéro veut dire un peu prés une trentaine à une cinquantaine d'heure de dev.

Pas de retour en arriére possible, c'est

[2016-07-27 22:12] vhf commented on #3698
#3750 pour référence. Ça corrige peut-être ce bug.

[2016-07-27 23:14] GerardPaligot opened #3751 "Créer des icones pour le nouvel affichage des notifications"
Quand vous listez la liste des notifications (anciennes et nouvelles), on aimerait bien des icones qui donnerait un visuel quand au type de la notification.

[2016-07-29 17:31] Emeric54 commented on #3741
Bien vu @vhf. Je prends.

[2016-07-29 17:47] #3700 closed, assigned to nobody

[2016-07-29 17:57] GerardPaligot commented on #3700
@Emeric54 Plus besoin de retours ? :)

[2016-07-30 21:49] GerardPaligot commented on #3721
Je retire le tag bloquant vu le message de @vhf sur la PR associée.

[2016-07-31 14:53] #3742 closed, assigned to GerardPaligot, gustavi

[2016-07-31 19:59] GerardPaligot commented on #3741
Merci @Emeric54 !

[2016-07-31 19:59] #3741 closed, assigned to nobody

[2016-07-31 20:12] GerardPaligot commented on #3698
La PR semble bien corriger le bug. :)

![capture d ecran 2016-07-31 a 22 09 42](https://cloud.githubusercontent.com/assets/1913901/17279026/8bbc8d48-576b-11e6-9640-124527196a9a.png)

[2016-07-31 20:12] #3698 closed, assigned to nobody

[2016-07-31 20:32] GerardPaligot commented on #3695
Merci @vhf !

[2016-07-31 20:32] #3695 closed, assigned to nobody

[2016-07-31 20:41] GerardPaligot commented on #3732
Encore merci @Karnaj !

[2016-07-31 20:41] #3732 closed, assigned to nobody

[2016-08-01 08:01] sandhose commented on #3652
@vhf: une solution serait de balancer un timestamp à chaque réponse, et vérifier en front que les infos du dernier message reçu sont bien antérieures à celles des messages précédents

[2016-08-01 15:31] vhf commented on #3665
`dictsort` n'est pas une option ici, parce qu'on a une liste d'objets `Tag` sans leur compte associé.

J'ai modifié le templatetag et refactoré le truc, c'était pas top.

La source du problème était un peu planquée. Le fonctionnement était :
1. Récupérer une liste de pk des tags, ordonnés par popularité
2. Récupérer les tags dont la pk est dans la liste

Donc la requête `2.` fait genre `SELECT * F

[2016-08-01 15:38] vhf commented on #3649
@cgabard On peut pas trop empêcher de masquer le premier message d'un sujet. Si on fait ça, les gens éditeront simplement leur premier message pour en enlever le contenu.

Je pense que c'est effectivement un truc à implémenter, l'alerte sur les messages masqués.

[2016-08-01 15:42] vhf commented on #3649
Est-ce qu'il ne suffit pas d'enlever cette condition : https://github.com/zestedesavoir/zds-site/blob/32ed04f815e25492728c3582c9002193c1e35958/templates/misc/message.part.html#L87 ?

[2016-08-01 19:11] SpaceFox opened #3760 "Passer à Django 1.10"
Un peu dans l'idée de [la petite sœur de cette _issue_](https://github.com/zestedesavoir/zds-site/issues/3214) mais avec Django 1.10 : https://www.djangoproject.com/weblog/2016/aug/01/django-110-released/

En vrai, il va falloir attendre que nos dépendances soient compatibles, mais ça veut dire qu'il va vraiment falloir se bouger pour passer à Django 1.9 pour ne pas prendre trop de retard.

[2016-08-02 07:30] ChantyTaguan commented on #3620
Je prends :)

[2016-08-03 08:31] qwertygc opened #3762 "Notification persistante"
Bonjour,

Je vais vous remonter un petit bug, j’ai évoqué sur un [autre topic](https://zestedesavoir.com/forums/sujet/6637/notification-non-voulu-et-persistante/), mais vu que c’est pas exactement le même problème, je préfère ouvrir un [topic dédié](https://zestedesavoir.com/forums/sujet/6661/notification-persistante/), ainsi qu’une issue Github.

J’ai voulu m’abonner à un [topic](https://zestedes

[2016-08-03 10:36] Emeric54 commented on #3700
Euh, j'aurais plutôt dit que c'est le vote qui peut-être unique ou multiple, non ?

---

Donc pour le vote on aurait :
`PUT` ou `DELETE` sur `/api/sondages/<pk>/vote` avec un body de type `{ "choice":  1 }` ?

---

Je ne devrais pas tarder à ouvrir une PR sur le dépôt ZdS. Ce sera encore un WIP (quelques bugs à corriger + tout le front), mais ça me permettra d'avoir vos retours sur ma façon de fai

[2016-08-04 17:24] GerardPaligot commented on #3762
Merci @qwertygc du rapport de bug.

@sandhose @vhf @gustavi Nous avons un souci avec le Sentry de la prod puisqu'il n'y a aucune exception qui semble correspondre à la 500 de @qwertygc. En fait, il n'y en a plus depuis 2 mois.

Serait-il possible de le remettre en état pour récupérer la stack ici ?

[2016-08-04 19:08] vhf commented on #3762
Hmm @GerardPaligot je serais pas surpris qu'en effet Sentry ne signale plus rien depuis la prod.

@sandhose comment est configuré Sentry ? Que lui faut-il comme accès ? Quels services ? Bref tout ça.

[2016-08-04 19:34] vhf commented on #3762
Bon c'est pas le cas @GerardPaligot . Le dernier event Sentry depuis la prod date d'il y a environ 1j.

Faudrait vraiment réparer les notifications.

La 500 de @qwertygc vient probablement du fait qu'il a une double notif sur ce topic. Du coup le `get()` retourne 2 objets au lieu d'un seul, donc 500.

[2016-08-05 21:52] SpaceFox opened #3764 "Google a indexé uploads.zestedesavoir.com comme un doublon de zestedesavoir.com"
Dans une recherche Google, je trouve https://uploads.zestedesavoir.com/membres/voir/SpaceFox/ en résultats (et plusieurs autres pages en uploads.zestedesavoir.com).

Pire : ce lien réponds et sert le même contenu que https://zestedesavoir.com/membres/voir/SpaceFox/

Plusieurs problèmes donc :
1. Ça réponds, ce qui me fait dire qu'il y a _au moins_ une erreur d'infra.
2. Ça sert _exactement_ la mêm

[2016-08-06 08:30] GerardPaligot commented on #3762
@vhf On ne doit pas voir le même Sentry. Moi je regarde celui de [Production / Backend](https://sentry.sandhose.fr/zeste-de-savoir/backend/searches/1/) et la dernière erreur remontée date de 3 mois.

Ou alors, je ne sais pas utiliser cet outil, chose possible. :-°

[2016-08-06 09:09] vhf commented on #3762
@sandhose tu peux me passer admin sur le Sentry, que je change ça ?

[2016-08-06 09:11] GerardPaligot commented on #3762
Normalement, si tu es authentifié avec GitHub, tu as les droits automatiquement (de mémoire).

[2016-08-06 09:15] vhf commented on #3762
Nope, je suis 'membre' et je ne peux donc pas te donner accès au projet 'Gandi' du Sentry, encore moins supprimer 'Prod' et renommer 'Gandi' en 'Prod'.

[2016-08-06 10:02] vhf commented on #3762
Voilà @GerardPaligot c'est réglé.

[2016-08-06 14:36] DevHugo opened #3765 "API - Les adresses en PATCH ne semblent pas fonctionner"
Bonjour,

Quand j'effectue les requêtes suivantes en patch:
- PATCH /api/membres/1/
- PATCH /api/mps/3/

J'ai l'erreur python suivante retourné par le serveur:

[code]

[2016-08-06 15:00] GerardPaligot commented on #3765
Toutà fait. L'API de Zeste de Savoir n'a jamais été compatible avec le verbe `PATCH`. Pire que ça, `PUT` permet la modification partielle.

[2016-08-06 15:01] DevHugo commented on #3765
Alors, il faut le supprimer de la documentation :) !

[https://zestedesavoir.com/api/#!/membres/Member_Detail_Api_PATCH](https://zestedesavoir.com/api/#!/membres/Member_Detail_Api_PATCH)

[2016-08-06 15:06] GerardPaligot commented on #3765
@DevHugo Pour bien faire, il faudrait supporter ce verbe mais je suis jamais arrivé à le supprimer de la documentation.

[2016-08-06 15:27] GerardPaligot commented on #3649
Merci @vhf

[2016-08-06 15:27] #3649 closed, assigned to nobody

[2016-08-06 15:48] DevHugo commented on #3765
"[enabled_methods](https://github.com/zestedesavoir/zds-site/blob/1b066e0b57122a59b213550c8418e34d8f91abaf/zds/settings.py#L255)" dans la conf sert uniquement à afficher ou pas le bouton pour tester mais ne cache pas les méthodes précisés dans swagger.

Swagger se base sur les mixins quand il voit [UpdateAPIView](http://www.django-rest-framework.org/api-guide/generic-views/#updatemodelmixin), il c

[2016-08-06 16:43] DevHugo opened #3766 "Changer l'adresse email devrait normalement envoyer une confirmation sur l'ancienne."
Bonjour,

Pour des raisons de sécurité, changer son adresse email devrait envoyé une confirmation du changement d'adresse sur l'ancienne.

Le flow devrait être:
- Je change mon mot de passe dans le formulaire
- Un email est envoyé sur mon ancienne adresse avec un lien pour confirmer
- Je clique sur le lien  pour confirmer le changement.
- Le changement est effectué.

[2016-08-06 16:44] SpaceFox commented on #3766
Je suis d'accord, mais il faut prévoir le cas où on veut changer d'adresse
email parce qu'on a justement plus accès à l'ancienne.

Le 6 août 2016 6:43 PM, "Hugo Courtecuisse" notifications@github.com a
écrit :

[2016-08-06 16:49] GerardPaligot commented on #3766
La remarque de @SpaceFox est pertinente et implique donc de proposer une alternative pour s'identifier comme une question secrète.

Sincèrement, je suis moyen chaud. :)

[2016-08-06 17:04] GerardPaligot commented on #3672
Merci à @Karnaj pour la fonctionnalité !

[2016-08-06 17:04] #3672 closed, assigned to nobody

[2016-08-06 17:07] DevHugo commented on #3766
Ce qui être encore mieux et qui résout le souci soulevé au-dessus:
- Je change mon mot de passe dans le formulaire
- Un email m'informant qu'un changement d'email a été effectué sur l'ancien email est envoyé avec un bouton "c'était pas moi" qui renvoi sur une page. Cette page permet de revert le changement d'email et qui propose de changer le mot de passe.

[2016-08-06 17:44] Karnaj commented on #3673
@gustavi t’es toujours dessus ou je peux prendre ?

[2016-08-06 19:19] GerardPaligot commented on #3673
@Karnaj Tu peux prendre. :)

[2016-08-07 16:19] vhf commented on #3766
Je suis pour ne rien changer sur ce point.

Un compte compromis par mot de passe, ça peut arriver. Une adresse email compromise aussi. La proposition ici ne résout rien à mon avis.

D'une part les questions secrètes sont généralement soit très compliquées soit très vulnérables. Je connais beaucoup plus de cas où ça a été le vecteur d'une attaque réussie que de cas où ça a permis à quelqu'un de réc

[2016-08-07 19:11] GerardPaligot commented on #3766
Je suis 100% d'accord avec @vhf !

(Et c'est assez rare pour le signaler par un message :D)

[2016-08-08 19:37] sandhose commented on #3700
## Endpoints

[code]

## Réponses

[code]

[code]

[code]

---

Pour les endpoints de listes, il faut filtrer en param get (ex: `/sondages?user=me&active`)

Pour les autres, il faut voir quel champ on _expand_ de base, bien sûr réglable via paramètre GET

Par exemple, `Poll.votes` et `Poll.choices` ne _devraient_ pas apparaître en vue liste, mais peut-être en vue d'un seul sondage ; pareil pour `V

[2016-08-09 06:51] DevHugo commented on #3766
**TLDR: Tu perd en sécurité dans un cas qui a très peu de chance de se produire, la perte complète de ton email et que tu aurais été plus rapide pour changer ton email et mot de passe. Par-contre dans le cas, de la perte partielle du compte email, le cas courant, on gagne en sécurité. Gain de sécurité pour le cas ou tu perd que ton compte zeste de savoir. Qui est le cas, le plus probable.**
**Je s

[2016-08-12 08:08] GerardPaligot commented on #3762
La procédure pour reproduire le bug a été expliquée sur ce [message](https://zestedesavoir.com/forums/sujet/6638/notification-dun-sujet-non-accessible/?page=1#p120032).

[2016-08-12 19:44] GerardPaligot commented on #3620
Merci pour le fix @ChantyTaguan ! :)

[2016-08-12 19:44] #3620 closed, assigned to nobody

[2016-08-13 19:40] Situphen commented on #3711
Il y a eu trois petites discussions a ce propos ([ici](https://zestedesavoir.com/forums/sujet/1463/suggestion-http-https-www-ou-pas/), [ici](https://zestedesavoir.com/forums/sujet/2626/forcer-le-https-pour-les-membres-connectes/) et #2040). Globalement tout le monde était d'accord pour forcer lors de la connexion et lorsque l'utilisateur est connecte mais il y avait un désaccord pour le forcer sur

[2016-08-13 22:55] Situphen commented on #3764
De mémoire c'était pour les tutoriels importés du SdZ, non ?

[2016-08-14 10:27] gustavi commented on #3764
Si c'est ça, ça n'existe plus depuis des mois.

[2016-08-14 16:00] qwertygc commented on #3762
Si je clique sur suivre le topic, j'ai ce message :

![](https://zestedesavoir.com/media/galleries/2245/de14878f-deaa-4878-9447-9423c910bcbc.png)

HS, mais comment vous avez eu le badge zds member ?

[2016-08-14 23:31] Situphen commented on #3762
C'est un groupe sur Github, ça donne les droits de merge et de gestion des PRs/tickets. C'est le CDP ou le DTC qui gère les membres du groupe je crois.

Edit de gustavi : c'est exact ;)

[2016-08-14 23:33] Situphen commented on #3673
Merci @Karnaj !

[2016-08-14 23:33] #3673 closed, assigned to nobody

[2016-08-15 00:23] Situphen commented on #3604
@LudoBike : alors, j'ai vérifié et effectivement lors de l'aperçu d'une section de tutoriel la page se recharge donc tu remontes en haut de la page. Je ne crois pas que ce soit un bug, l'aperçu des messages se fait en arrière-plan mais pas pour la rédaction de contenus.

[2016-08-15 09:02] vhf commented on #3762
@GerardPaligot Est-ce que tu as une piste pour débugger ça ? Une idée d'où on devrait regarder ?

[2016-08-15 11:23] firm1 commented on #3764
les upload.zds.com sont des urls pour heberger des images de certains
tutoriels importés. Donc si on casse cette url, pas mal de tutoriel se
retrouverons sans images (c'est le cas du MOOC sur Arduino, et de pas mal
de cours importés de OC).

A mon avis il faudrait corriger la conf nginx pour que le domaine ne serve
pas les pages du site.

Le dim. 14 août 2016 12:27, Laville Augustin notifications@

[2016-08-15 11:31] vhf commented on #3764
Bien vu, merci @firm1 . Le problème est plus vaste que ça. On a un tas de CNAME qui pointent et servent le site. `ftp.`, `smtp.`, `utils.`, `uploads.`, etc. C'est super mauvais. (Notez que je mets pas des liens parce qu'on veut pas que ce soit crawlé.)

Je suis pas expert en config nginx mais je suppose qu'il suffit d'ajouter les bons server names dans la config `zestedesavoir` et d'y ajouter un t

[2016-08-15 12:39] vhf commented on #3764
J'ai fait un dump de la DB de la prod et greppé `//uploads.zestedesavoir`, y'a que 11 résultats et ils sont dans des discussions à propos de l'utilisation potentielle de ce domaine.

Il n'est pas mentionné dans notre config nginx. Il ne sert donc rien d'autre que zestedesavoir.com, et on peut le virer sans trop se poser de questions.

J'ai fait une PR avec les changements.

[2016-08-15 17:53] gustavi commented on #3764
C'est changé sur la prod, ça le sera sur la bêta dans la soirée, merci @vhf.

[2016-08-15 17:53] #3764 closed, assigned to nobody

[2016-08-15 21:52] Karnaj commented on #3389
Je prends.

[2016-08-16 05:09] gustavi opened #3770 "Préciser dans le code/la doc les valeurs possibles pour les types de notifications"
Voir https://github.com/zestedesavoir/zds-site/pull/3739#issuecomment-238014416 et les commentaires qui suivent pour plus d'informations

[2016-08-16 05:30] gustavi commented on #3766
Je pense qu'on va trop loin là. Un simple mail sur l'ancienne adresse « Votre adresse mail a été changée, si ce n'est pas vous merci de vous connecter+changer de mdp+changer de mail/nous contacter en cas de problème bla bla bla » (<- en plus travaillé et plus joli) suffit.

[2016-08-16 08:34] #2329 closed, assigned to GerardPaligot

[2016-08-18 07:06] gustavi commented on #3447
Ce problème est résolu !

[2016-08-18 07:06] #3447 closed, assigned to nobody

[2016-08-18 07:08] gustavi opened #3771 "Documenter l'installation de MySQL en production"
Aujourd'hui on n'a absolument rien sur MySQL sur la production, ça serait bien d'ajouter un petit morceau de doc là dessus, au moins pour avoir le nom de la BDD et de l'utilisateur qui y accède afin d'avoir des scripts fonctionnels.

[2016-08-18 08:05] SpaceFox commented on #3771
On a besoin de ça dans les scripts ?
Normalement du moment que le settings_prod est cohérent avec la base, ça
marche non ?

Le 18 août 2016 9:08 AM, "Laville Augustin" notifications@github.com a
écrit :

[2016-08-18 08:29] gustavi commented on #3771
Script de syncro prod/beta. Sinon je suis d'accord.

[2016-08-18 08:52] gustavi commented on #2548
Pour avoir fait des tests sur zds.gallery ça veut dire réécrire énormément de nos tests car « Be careful not to modify any objects created in setUpTestData() in your test methods. Modifications to in-memory objects from setup work done at the class level will persist between test methods. If you do need to modify them, you could reload them in the setUp() method with refresh_from_db(), for example

[2016-08-18 08:52] #2548 closed, assigned to gustavi

[2016-08-18 12:32] #3604 closed, assigned to nobody

[2016-08-18 14:09] #3234 closed, assigned to nobody

[2016-08-18 16:02] gustavi commented on #3762
Bon j'ai identifié le problème. Lorsqu'un lis un sujet pas encore lu on a https://github.com/zestedesavoir/zds-site/blob/dev/zds/notification/receivers.py#L52 qui est appelé. Donc à ce moment on vérifie si l'utilisateur à une notification liée au sujet (il s'est abonné spécifiquement à ce sujet) ou une notification liée à un abonnement au forum du topic du sujet.

Donc le problème c'est que si on

[2016-08-18 16:36] vhf commented on #3762
Solution 3 : lorsqu'on déplace le sujet de A vers B on update toutes les ~~notifications~~ souscriptions de ce sujet.

[2016-08-18 19:39] #3721 closed, assigned to gustavi

[2016-08-18 20:34] vhf commented on #3771
Yep. Ce sera d'autant plus important après le passage à utf8mb4, puisque ça demande un tuning de la conf mysql assez conséquent. Je m'en occupe après la mep v20.

[2016-08-19 16:10] #3389 closed, assigned to nobody

[2016-08-19 16:33] gustavi opened #3776 "Réserver son propre contenu crée un MP vide avec 2 fois le même utilisateur"
Pour reproduire, avec un utilisateur qui peut valider des contenus (admin par exemple via les fixtures):
- Créer un contenu (article ou tutoriel)
- Demander la validation du contenu
- Réserver le contenu
- Aller dans ses MP

Bug en image : http://i.imgur.com/b73ojhz.png

[2016-08-19 16:35] GerardPaligot commented on #3776
Congrats, tu viens de gagner le premier usage du tag `P-Basse`. :)

Dans la vraie vie, c'est pas censé arrivé qu'un staff valide son propre contenu.

[2016-08-19 16:45] gustavi commented on #3716
Est-ce que vous avez un mp et un message en particulier pour que j'essaye de débug ça ? Je n'arrive pas à reproduire en dev :/

[2016-08-19 18:17] gustavi commented on #3640
Après avoir passé pas mal de temps à debug ça je pense que ça sera corrigé en v20, à vérifier quand on on l'aura mise sur le beta.

[2016-08-20 09:19] gustavi commented on #3631
Sur les derniers contenus c'est bien généré.

[2016-08-20 14:06] GerardPaligot commented on #3631
Je re-ouvre, parfois il y a le PDF, parfois non. Idem pour l'ePub.

[2016-08-20 14:16] gustavi commented on #3631
Est-ce qu'on est vraiment sur la même issue ? Quand je lis le premier poste de @firm1 c'est réglé, je pense que le reste c'est principalement des erreur de compilation dans le format voulu.

[2016-08-20 14:19] GerardPaligot commented on #3631
Si tu fermes celle-ci, faut en ouvrir une autre. :)

[2016-08-20 14:27] vhf commented on #3631
Cette issue semble effectivement réglée. Elle concerne la génération des formats externes pour les nouveaux contenus.

Le fait que la génération échoue sur certains vieux contenus est un autre problème. @GerardPaligot peux-tu stp ouvrir une autre issue avec quelques exemples de contenus dont les formats externes sont manquants ? On pourra ainsi relancer la génération de ces contenus uniquement et

[2016-08-20 14:27] #3631 closed, assigned to nobody

[2016-08-20 14:33] #3416 closed, assigned to vhf

[2016-08-20 19:38] Karnaj commented on #3776
Dans ce cas, il faut faire quoi ? Interdire la réservation de ses propres contenus, ou ne pas envoyer de MP quand ça arrive ?

[2016-08-20 19:41] Situphen commented on #3776
~~Plutôt interdire la réservation de ses propres contenus je dirais, non ? Car ils ne sont pas sensés pouvoir publier un de leur contenu tout seul (si un Staff pète un cable et met un tutoriel nawak en page d'accueil, c'est bof)~~

(voir https://github.com/zestedesavoir/zds-site/issues/3776#issuecomment-241238357)

[2016-08-20 19:57] SpaceFox commented on #3776
Ne pas envoyer de MP. Réserver son propre contenu, c'est pratique pour
corriger des fôtes.

Le 20 août 2016 à 21:41, Situphen notifications@github.com a écrit :

[2016-08-20 20:00] Situphen commented on #3776
Tu peux détailler ? Je comprends pas trop. :/

[2016-08-20 20:34] gustavi commented on #3776
Le jour où on ne peut plus publier ses propres contenus j'arrête la QA !

[2016-08-20 21:27] vhf commented on #3776
@Situphen imagine que @SpaceFox soit DTC de ZdS. Il écrit un article à propos de la dernière version de ZdS. Il le publie. Il voit qu'il y a une faute de frappe, il veut la corriger. Il la corrige. Quelle est la procédure idéale ? Soumettre sa correction de faute de frappe à validation, attendre des heures que quelqu'un réserve et valide, ou plutôt réserver lui-même le contenu pour valider immédia

[2016-08-21 00:40] SpaceFox opened #3779 "URGENT / BLOQUANT / SITE HS : Certificat HTTPS de prod expiré"
Le certificat HTTPS de prod a expiré. Et comme on a HSTS activé, toute personne ayant accédé au site au moins une fois en HTTPS est bloquée dehors sans aucun moyen de contournement.

Je ne comprends pas bien comment c'est possible que personne n'ait réagi, normalement les relances sont faites sur la boite mail de l'asso, et il devait y avoir au moins un MP à ce sujet.

Notez que je suis indisponib

[2016-08-21 04:30] Situphen commented on #3776
En y réfléchissant, je suis d'accord avec la proposition de @SpaceFox, réserver son propre tutoriel peut être très utile et puis si jamais un Staff pète un câble, il a 3600 autres manières de faire du site une poubelle xD (mais ça n'arrivera pas, <3 aux Staffeux) !

[2016-08-21 09:16] vhf commented on #3779
J'ai réglé y'a ~10 minutes. J'ai pas accès à la boite mail de l'asso, j'ai reçu 0 email à ce sujet sur mon adresse email. On va continuer à voir comment améliorer le processus et la comm, mais pas ici, par MP.

J'ai mis en place letsencrypt, ça a pris 4-5 minutes. Il est renouvelé par un cron.

[2016-08-21 09:16] #3779 closed, assigned to vhf, gustavi, cgabard

[2016-08-21 10:04] SpaceFox commented on #3779
C'est parce que vous n'avez pas accès à la boite mail que j'ai fait cette
issue en l'attribuant aux DTC et surtout que les relances ont été
transmises par MP. Si aucune de ces 2 actions ne vous envoie de mail, c'est
probablement un problème.

Le 21 août 2016 11:16 AM, "victor felder" notifications@github.com a
écrit :

[2016-08-21 16:36] Karnaj commented on #3776
Et les autres messages (validation annulée, validation refusée), faut-il aussi ne pas les envoyer dans le cas où l’auteur est seul et qu’il est le validateur ?

[2016-08-21 19:28] GerardPaligot commented on #3776
Aujourd'hui, en parcourant les tests des contenus, je suis tombé là dessus : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/tests/tests_views.py#L1889-L1906

On semble avoir spécifié que nous ne voulons pas s'auto-publier.

[2016-08-21 19:56] vhf commented on #3776
Effectivement @GerardPaligot , il faudra penser à enlever ce test.

[2016-08-21 20:44] GerardPaligot commented on #3762
Pour rappel, voici comment fonctionne les notifications : Les membres **souscrivent** à des **contenus notifiables** et des notifications sont crées à partir des souscriptions créées par ces utilisateurs. Il est important de savoir qu'une notification **ne devrait pas exister** si elle n'a pas de souscription.

Second rappel, voici la procédure pour reproduire le bug : Plusieurs utilisateurs ont u

[2016-08-21 20:56] vhf commented on #3762
Je propose d'ajoute un flag sur les notifications, genre `is_dead`. Une notification est valide quand elle n'est pas `is_dead`. Au lieu de supprimer les notifications comme dans la solution 1, on les passe en `is_dead`. Quand on affiche un sujet à un membre connecté et qu'on doit de toute façon faire un petit traitement pour marquer la potentielle notification comme `lue`, si la notif en question

[2016-08-21 21:40] GerardPaligot commented on #3762
Ma solution est simple, bonne et acceptable. La solution de @vhf est chiante mais pourrait être meilleure si on la change un petit peu. Voici l'algo théorique qui devrait résoudre le bug pour la solution de @vhf :
1. Rajouter un champ boolean `is_dead` dans le modèle des notifications pour marquer une notification comme morte parce qu'elle n'est plus attachée à une souscription sur le bon forum.
2

[2016-08-21 22:05] GerardPaligot commented on #3762
Pour information, voici une commande qui détecte les notifications persistantes :

[code]

C'est sans doute un algo naif, n'hésitez pas à le signaler si vous avez mieux. :)

[2016-08-22 05:41] A-312 opened #3782 "Problème avec l'aspostrophe ( ' -> &#39; )"
Bonjour,

Dans les MPs de clem, (ainsi que le message de Bienvenue sur Zeste de Savoir) si il y a une apostrophe `'` dans le pseudo on obtient : `&#39;`, ainsi que dans les sujets qui signale une mise à jour d'un tutoriel en bêta.

https://zestedesavoir.com/forums/sujet/6775/pourquoi-la-vie-privee-est-important-navoir-rien-a-cacher-est-hors-sujet/

(Les mails semblent être ok).

[2016-08-22 05:59] pierre-24 commented on #3776
Non, @GerardPaligot : malgré ce commentaire succin (et pas très explicite), un staff peut très bien s'auto-publier. Le test est plus là pour vérifier qu'on c'est pas foiré sur la gestion des droits et qu'un utilisateur lambda n'as pas le pouvoir d'un staff :)

[2016-08-22 06:23] vhf commented on #3762
[code]

Trop beau pour être vrai, hélas. Merci pour la commande !

[2016-08-22 07:36] GerardPaligot commented on #3762
Fonctionne pas ?

[2016-08-22 07:37] GerardPaligot commented on #3762
Ceci dit, vu la notification persistante du premier message, j'ai des doutes sur le fait que le sujet "Récap' communautaire" ai été déplacé ... :)

[2016-08-22 08:00] tleb commented on #3762
Ça a fonctionné pour moi en tout cas. Merci !

[2016-08-22 08:06] firm1 commented on #3762
Ma notif a disparue. Merci

Le lun. 22 août 2016 10:00, tleb notifications@github.com a écrit :

[2016-08-22 12:32] firm1 opened #3783 "La topbar a perdu son élément de contextualisation"
Navigateur : Firefox 45
OS : Windows Seven
Zoom : 100%

Il fut un temps, ou lorsqu'on était dans le forum, on avait une barre orangée qui soulignait le menu forum, idem pour les article et les tutoriels. ça permettait de voir d'un coup d'oeil ou on se trouve.

J'ai l'impression que ça n'existe plus (que ce soit en mode connecté ou pas). Je la trouvais assez pratique cette contextualisation.

[2016-08-22 12:46] GerardPaligot commented on #3783
duplicate https://github.com/zestedesavoir/zds-site/issues/3695 et donc corrigé dans la v20 ?

[2016-08-22 12:51] firm1 commented on #3783
Ah j'aurai juré que l'autre issue avait été fixée avec la v19. Bon bah je ferme celle-ci

[2016-08-22 12:51] #3783 closed, assigned to nobody

[2016-08-22 15:26] Karnaj commented on #3776
@pierre-24 : il faudrait tester qu’un utilisateur non staff ne peut pas publier un contenu, pas seulement ses contenus, donc il faudrait tester la réservation et la validation avec un autre utilisateur non staff que l’auteur.

[2016-08-22 15:31] pierre-24 commented on #3776
Ce qui est fait [juste en dessous](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/tests/tests_views.py#L1910) ;)

(j'ai assez bien betonné les tests à ce niveau là)

[2016-08-22 15:42] Karnaj commented on #3776
Non, il y a juste le test pour l’accès à la version en validation (`public cannot access a tutorial in validation` et `Same for guest`), il n’y a pas le test pour la réservation et la validation.

[2016-08-22 15:53] pierre-24 commented on #3776
Anéfé, j'avais pas vu ;)

[2016-08-23 18:15] #3762 closed, assigned to nobody

[2016-08-23 18:24] vhf opened #3787 "Beta test v20"
La v20 est en beta, ça fait longtemps qu'on l'attendait !

Malgré les vacances de beaucoup de devs, j'ai l'impression que c'est quand même une grosse release qui nous attend là !

@zestedesavoir/les-jeunes-pousses @zestedesavoir/les-bourgeons @zestedesavoir/pleins-pouvoirs : à vous pour les tests en live sur la beta ! 👯

Si tout roule, on met ça en prod ce week-end :)

[2016-08-23 18:28] vhf commented on #3787
Rapport pour le jalon **[Version de développement](https://github.com/zestedesavoir/zds-site/milestones/Version de développement)** _()_

56 tickets sont compris dans ce jalon (0 ouverts et 56 fermés)

# Tickets toujours ouvert

Aucun ticket

# Tickets fermé

## Corrections de bug

| Ticket # | Titre | Label(s) |
| --- | --- | --- |
| [#3779](https://github.com/zestedesavoir/zds-site/issues/3779)

[2016-08-23 18:52] GerardPaligot commented on #3787
A annoncer sur le forum [Dev Zone](https://zestedesavoir.com/forums/communaute/dev-zone/).

[2016-08-23 19:03] vhf commented on #3787
Bien vu, je cherchais la démarche mais je la trouvais pas. 👍

[2016-08-23 19:03] GerardPaligot opened #3788 "[beta][v20] Numéro de version manquant"
Serveur : Beta
Version : v20
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

Rendez-vous sur la page d'accueil et constatez que le numéro de version est manquant dans le footer.

![capture d ecran 2016-08-23 a 21 02 04](https://cloud.githubusercontent.com/assets/1913901/17905877/17357b80-6975-11e6-9476-80e44910f0c2.png)

[2016-08-23 19:10] vhf commented on #3788
Yep, on était en detached head. `g co release-v20` et c'est bon.

[2016-08-23 19:10] #3788 closed, assigned to nobody

[2016-08-23 19:17] GerardPaligot opened #3789 "[beta][v20] Serveur de beta anormalement lent"
Serveur : Beta
Version : v20/6bb2f75
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---

D'après mes précédents usages de la beta, je peux signaler que le serveur est anormalement lent. Par exemple, il a fallu plus d'1 minute pour me déconnecter.

C'est vrai que le serveur de bêta a toujours été plus lent que la prod mais jamais à ce point là.

[2016-08-23 19:18] GerardPaligot opened #3790 "[beta][v20] Aucun forum dans le menu de la topbar"
Serveur : Beta
Version : v20/6bb2f75
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---

Avec un utilisateur connecté ou non, regardez le menu de la topbar des forums :

![capture d ecran 2016-08-23 a 21 13 48](https://cloud.githubusercontent.com/assets/1913901/17906327/1a0a7da4-6977-11e6-8695-7836e4ee236f.png)

Vide.

[2016-08-23 19:20] vhf commented on #3789
Yep, merci. J'ai lancé un git prune et il tourne depuis 10 minutes mais il est presque terminé. Il fait monter la charge à 5-6 donc normal que ce soit très lent depuis un petit moment.

Je vais aussi relancer memcached. Faudrait voir si MySQL 5.6 est pas en cause aussi.

[2016-08-23 19:24] vhf opened #3791 "[beta][v20] Liste des notifications, template cassé"
Cf. ici : https://beta.zestedesavoir.com/notifications/ en comparaison à https://zestedesavoir.com/forums/notifications/ , on a un template bien cassé.