[2014-09-24 20:24] artragis opened #1532 "Apparement il n'existe pas d'url pour la désinscription"
Alors que tout fonctionne sur les branches de développement réservées à la désinscription, aucune url ne semble mener à `membres/desinscrire/attention/` empêchant ainsi toute désinscription.

[2014-09-24 20:40] sandhose commented on #1529
## tl;dr

npm est un outil de build, on pourrais balancer le paquet déjà build sur la prod, et host les dépendances npm autre part pour Travis

## En détail:

En soit, npm sert à _installer_ les différents outils qui servent à build, c'est à dire (selon le package.json, en enlevant les plugins purement utilitaires):
- **gulp**: Task-runner qui "orchestre" tout le build, selon le Gulpfile.js
- **gu

[2014-09-24 23:42] firm1 commented on #1520
Je prend par exemple la couleur du header qui est [clairement hardcodée](https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/_all-supports.scss#L108) car il faudrait lui attribuer la même couleur que celle du footer à savoir `$primary`. Plus généralement toutes les occurences de `#084561` dans les fichiers scss qui ne sont pas main.scss doivent être modifiées.

[2014-09-24 23:47] firm1 commented on #1341
Quelqu'un a t-il fait ce qui est indiqué [ici](https://github.com/zestedesavoir/zds-site/issues/1341#issuecomment-54322349) ?

[2014-09-25 03:21] Alex-D commented on #1520
Le footer est déjà basé sur un darken du $primary, j'ai du zapper le header. Je ferais ça du coup.

[2014-09-25 03:31] Alex-D commented on #1529
Ca va pas être problématique pour les choses qui sont recompilées ? Car j'avais pensé à ça, mais certains modules tapent dans `~/.node` si je ne me trompe pas :/

On la build où ? Comment ? Avec quels moyens ?

La réponse est pour moi simple : celui qui met en prod le fait à partir d'une branche dédiée (celle de la stabilisation par exemple) fait un build en local, force l'ajout de `/dist` et tag

[2014-09-25 03:35] Alex-D commented on #1532
Je n'ai pas bien saisi le soucis, côté back c'est ici :

https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/urls.py#L10

et côté front, c'est là :

https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/settings/base.html#L31

Donc pour moi, c'est tout bon (si ce n'est que la modification d'indentation que j'avais demandé n'a pas été faite :-° ).

[2014-09-25 05:34] sandhose commented on #1341
**Toutes** les images contenues dans assets/images et assets/smileys sont optimisées lors du build gulp (via imagemin), avant d'être copiées respectivement vers dist/images et dist/smileys. Il y avait une issue par rapport à l'optimisation du sprite (le dist/images/sprite@2x.png), mais elle a été reglé. Toutes les images gérées par le front sont donc maintenant optimisées.

[2014-09-25 05:44] artragis commented on #1532
Sur la préprod on a néanmoins un 404 :( peut être une mauvaise config
des utilisateurs externe et anonyme mais ça ne devrait pas entrer en
compte pour la page d'avertissement /!\
Le 25/09/2014 05:35, Alexandre Demode a écrit :

[2014-09-25 06:16] Eskimon commented on #1249
Faudra d'ailleurs voir ca post-v1.1 vu qu'on pourra aussi faire l'import de tuto zds (et non pas uniquement sdz vous m'suivez ?) . Bref, je veux bien m'en occuper :)

[2014-09-25 06:24] SpaceFox opened #1533 "Système pour ne pas oublier les actions spécifiques lors du déploiement"
Trouver un système pour noter quelque part toutes les actions spécifiques à faire lors du déploiement **et** afficher au moins un avertissement lors du lancement du script.

Si ce système implique la doc, ces actions doivent être regroupées dans une seule page (il n'est pas question d'aller éplucher la doc avant tout déploiement) et doit permettre de savoir facilement ce qui est à faire et ce qui

[2014-09-25 08:05] Eskimon commented on #1298
Bon... je viens de tester en preprod, si j'ecris a EsKimOn je peux bien m'ecrire a moi meme...

[2014-09-25 08:06] SpaceFox commented on #1298
C'est normal, il y avait une opération documentée je ne sais où qui donc n'a pas été faite...

[2014-09-25 08:06] #1298 closed, assigned to Eskimon

[2014-09-25 08:07] Eskimon commented on #1298
Ok... Faudra prevenir quand ca sera ok alors, histoire de pas oublier de retester :)

[2014-09-25 08:09] SpaceFox commented on #1298
J'en parle ici
https://zestedesavoir.com/forums/sujet/1313/prets-pour-la-v11/?page=1#p22686
et si personne ne se dévoue pour le faire, ça devra attendre jusqu'à
dimanche soir...

2014-09-25 10:07 GMT+02:00 Eskimon notifications@github.com:

[2014-09-25 08:12] Eskimon commented on #1422
Ca fail un max les signalements sur la preprod...

![screenshot from 2014-09-25 10 10 54](https://cloud.githubusercontent.com/assets/761168/4401296/9ba55eb4-448b-11e4-91a0-6aef44269e65.png)

[2014-09-25 08:24] firm1 commented on #1533
Cette issue ressemble a un doublon de celle-ci : #1510 qui est censée regrouper et versionner entre deux tags le delta des modifications à appliquer.

[2014-09-25 08:35] firm1 commented on #1532
Il y'a surtout un problème dans le code. Les urls [desinscription](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/urls.py#L10) et [attention](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/urls.py#L11) sont en conflits.

Quand tu demandes `/membres/desinscrire/attention/` il pense que tu demandes `/membres/desinscrire/` (voila pourquoi j'insiste pour avoir des tests u

[2014-09-25 08:36] artragis commented on #1532
c'est étrange, en version de dev il ne fait pas cette erreur, j'ai bel
et bien accès à attention. J'avoue ne pas comprendre là.
Le 25/09/2014 10:35, firm1 a écrit :

[2014-09-25 08:39] firm1 commented on #1532
ça c'est surrement du à la configuration spécifique sur nginx de la prod. Qui est : "si une url saisie ne se termine pas par `/` rajoute un `/` dans l'url".

C'est la raison pour laquelle la version de dev n'a pas ce problème. Mais quoiqu'il en soit ça reste une mauvaise pratique dans le nommage des urls

[2014-09-25 12:42] Alex-D commented on #1422
Heu... dis moi que tu n'as pas utilisé le filtre markdown là ? Parce que pour les messages de validation c'est OK, mais pour les messages de modération, non. C'est du texte brut qu'il faut.

[2014-09-25 12:57] Eskimon commented on #1422
C'est quoi le rapport avec le mardkdown ? Tu parles de ma PR ? Si oui vu qu'elle est encore en review ca risque pas d'avoir un quelquonque rapport.

[2014-09-25 14:19] Alex-D commented on #1422
Oui je parlais de cette PR là. On a quasi rien touché sur ces box là, et le bug est totalement WTF :/

[2014-09-28 21:24] SpaceFox commented on #1533
Non, ça n'a rien à voir, l'issue #1510 concerne la mise à jour de la doc de déploiement et ne parle absolument pas de ce dont tu parles.

[2014-09-28 21:25] SpaceFox opened #1540 "Incohérences dans nos settings"
[code]

D'une manière générale, j'ai l'impression que faire le ménage dans le `settings.py` ne fera pas de mal.

[2014-09-28 21:28] SpaceFox commented on #1540
D'autre part j'ai l'impression qu'on a des paramètres dans le settings_prods.py de préprod qu'on a pas en prod...

[2014-09-28 21:47] SpaceFox commented on #1529
https://travis-ci.org/zestedesavoir/zds-site/builds/36514469

[2014-09-29 06:14] firm1 commented on #1540
Moi je ne vois pas d'incohérence là. Ce sont des paramètres fonctionnels (c'est à dire destiné à être mise à jour dans le settings de prod). Donc au final ce qui est marqué dans le settings.py, on s'en fou un peu tant que c'est cohérent avec nos fixtures. Quelqu'un voudra peut-être appeler son utilisateur annonyme tartanpion s'il veut demain.

[2014-09-29 06:26] SpaceFox commented on #1540
Ben nos comptes techniques s'appellent `_ACCOUNT` et `_USER`. Elle est là l'incohérence. (En plus du franglais dans les paramètres par défaut mais ça c'est du détail).

[2014-09-29 06:39] SpaceFox commented on #1533
Ce ticket est important pour éviter que tout les processus de déploiement doivent être faits par la même personne en permanence. Si la doc est complète, toute personne de confiance ayant un accès aux serveurs devrait pouvoir mettre en (pré-)production, éventuellement avec le _soutien_ de quelqu'un d'expérimenté.

[2014-09-29 06:51] firm1 commented on #1540
Ah en effet :)

[2014-09-29 12:11] firm1 opened #1541 "Rendre l'utilisateur anonyme injoignable"
Actuellement, l'utilisateur anonyme prend la place de n'importe quel utilisateur lorsqu'il se desinscrit.
- on peut encore envoyer des MP à ce membre, ce qui ne devrait pas être le cas, vu qu'il n'y a personne au bout du fil.
- La zone "Derniers sujet crées" ne devrait pas exister pour l'utilisateur annonyme
- On ne devrait pas pouvoir ajouter l'utilisateur anonyme comme co-auteur

[2014-09-29 12:15] firm1 opened #1542 "Lorsqu'on se désinscrit, on est toujours trouvable"
Lorsqu'un utilisateur se désinscrit, toutes ses traces ne disparaissent pas forcément.

Il suffit de taper son ancien pseudo dans la recherche pour se rendre compte qu'on arrive à retrouver les messages que ce dernier a posté.

[2014-09-29 12:18] firm1 commented on #1411
Je ré-ouvre cette issue, car, Mathjax est down !

[2014-09-29 12:22] Eskimon commented on #1542
C'est pas du au fait que Solr ne s'est pas réactualisé entre temps ?

[2014-09-29 12:25] SpaceFox commented on #1411
Il va falloir être plus précis, parce que chez moi ça marche nickel.

[2014-09-29 13:05] germinolegrand opened #1543 "Liens incestueux : des liens implicites dans des liens explicites"
Actuellement (version en ligne je précise), un bug de markdown pose problème lorsqu'un lien explicite contient un lien implicite :
`[sur isocpp.org](https://isocpp.org/std/status)` est interprété comme :

[code]

Ghithub n'a apparemment pas ce problème : [sur isocpp.org](https://isocpp.org/std/status)

[2014-09-29 14:08] artragis commented on #1542
ça veut dire qu'il faut qu'un worker passe pour rebuilder l'index solr.

Actuellement, je ne sais pas faire ça et comme c'est intestable en version de dev, je touche pas à ça.
Maintenant soyons pragmatiques : le worker finira par repasser et donc par changer les contenus. Donc là on est OK, non?

[2014-09-29 14:10] SpaceFox commented on #1542
De mémoire il passe toutes les 30 minutes en préprod et en prod.

Le 29 septembre 2014 16:08, artragis notifications@github.com a écrit :

[2014-09-29 14:26] firm1 commented on #1411
C'est revenu.

[2014-09-29 14:26] #1411 closed, assigned to nobody

[2014-09-29 14:31] firm1 commented on #1542
En effet, une fois la tache cron passée, ça va mieux

[2014-09-29 14:31] #1542 closed, assigned to nobody

[2014-09-29 15:12] firm1 opened #1544 "Les tutoriels deviennent inaccessibles si on les renomme"
[Ce tutoriel](http://zestedesavoir.com/tutoriels/339/apprenez-la-sculpture-numerique-avec-pixologic-zbrush/) est devenu innacessible en ligne

[2014-09-29 15:14] SpaceFox commented on #1544
[Errno 2] No such file or directory:
u'/opt/zdsenv/ZesteDeSavoir/tutoriels-public/339_apprenez-la-sculpture-numerique-avec-pixologic-zbrush/introduction.md.html'

Stacktrace (appel le plus récent en dernier) :

  File "django/core/handlers/base.py", line 112, in get_response
    response = wrapped_callback(request, _callback_args, *_callback_kwargs)
  File "zds/tutorial/views.py", line 762, in vie

[2014-09-29 15:31] artragis commented on #1532
Testé en préprod : ça marche impec, 2 be close.

[2014-09-29 15:31] artragis commented on #1522
Je prends, que quelqu'un me l'assigne. Deadline prévue : lundi 6 octobre.

[2014-09-29 17:15] Eskimon commented on #1532
Voila voila !

[2014-09-29 17:15] #1532 closed, assigned to nobody

[2014-09-29 17:20] Alex-D commented on #1529
C'est moi ou c'est encore `image-min` qui fou son brin @sandhose ?

[2014-09-29 17:23] sandhose commented on #1529
Je dirais juste que npm est pas à jour env de test (1.4.14 vs 2.1.0)... Et
que les env. travis sont pas totalement clean, ce qui fait planter npm 1x
sur 2...

[2014-09-29 19:10] Alex-D commented on #1543
[Rapporté dans le bon dépôt](https://github.com/zestedesavoir/Python-ZMarkdown/issues/52).

[2014-09-29 19:10] #1543 closed, assigned to nobody

[2014-09-29 19:17] Alex-D commented on #1541
C'est assez ennuyeux de créer des issues qui mêlent back et front sans aucun détail sur la répartition.

Purement back.

Ca rejoint une chose que j'avais déjà dite : la page membre "Anonyme" et "Auteur Externe" n'ont aucun sens. Soit on les retire purement et simplement (en retirant tous les liens qui pointeraient vers ces pages), soit on redirige vers une page statique qui explique le pourquoi c'

[2014-09-29 19:24] SpaceFox commented on #1541
Personnellement ça ne me pose aucun problème. C'est même quelque chose qui arrive, genre "tout le temps" dans la vraie vie : l'issue proposée est fonctionnelle, aux développeurs de faire en sorte que les différents aspects du problèmes soient traités proprement. Si les différentes parties de la résolutions sont faites en des temps très différents pour une raison X ou Y, alors là on peut séparer l'

[2014-09-29 20:03] Eskimon commented on #1541
+1 (mais genre très gros +1)

[2014-09-29 20:45] Alex-D commented on #1541
C'est une alternative raisonnable, mais qui nécessite un peu de dev tout de même : masquer les stats dans la sidebar et les différentes informations du genre (articles, tutoriels, sujets, etc).

Et ce qu'on va me dire c'est : "suffit de le faire dans le template" à quoi je répondrais : il suffit de le faire côté back : si anonyme, ça renvoie un tableau vide pour les tutos, articles et sujets.

Du

[2014-09-29 20:48] Alex-D commented on #1533
On parle bien d'infra là non ? Ou est-ce qu'on parle d'une MEP de façon générale (donc, par exemple sur un autre serveur pour lancer un autre site, etc) ?

[2014-09-29 20:49] SpaceFox commented on #1533
À priori on parle bien d'un dev ou d'une procédure à mettre en place quelque part, pas spécifiquement d'une tâche d'infra - ce que désigne ce tag.

[2014-09-29 21:20] SpaceFox opened #1545 "Ajout d'actions inbox dans nos mails"
https://developers.google.com/gmail/actions/actions/actions-overview

Parce que c'est quand même vachement pratique (cf celles de Github).

[2014-09-29 21:35] Alex-D commented on #1545
Tu pense qu'il faudrait en mettre sur/vers quoi ?

Il faut établir au moins une ébauche de liste des choses que l'on veut rendre accessible de cette façon.

[2014-09-30 11:34] firm1 commented on #1544
Nouveau cas d'erreur 500 : http://zestedesavoir.com/tutoriels/475/la-cryptographie-asymetrique-rsa/677/la-theorie/3168/le-dechiffrement/#1-lutilisation-de-la-cle-privee

Et c'est pareil sur tous les chapitres suivants du même tutoriel

[2014-09-30 11:39] SpaceFox commented on #1544
Hmmm et je ne reçois pas d'alerte Sentry à propos de cette erreur. Alors que sur le premier me renvoie systématiquement l'erreur que j'ai déjà mentionné.

[2014-09-30 15:47] germinolegrand opened #1546 "Bug dans les liens RSS"
Les flux rss sont buggés, en effet je viens de recevoir une notification pour un nouvel article, et le lien est le suivant : http://zestedesavoir.com/articles/off/94/la-vulnerabilite-shellshock/

Il s'agit du lien offline, et non public.

[2014-09-30 20:04] Eskimon commented on #1546
Voila, PR en cours !

[2014-09-30 20:15] Eskimon commented on #1474
Et donc ?

[2014-09-30 20:17] Eskimon commented on #1454
Du nouveau ?

[2014-09-30 20:19] Eskimon commented on #1376
Est-ce réellement compliquer à mettre en oeuvre ? Ce serait quand meme sympa de le proposer et Google semble favoriser les sites sécurisé dans son référencement

[2014-09-30 20:23] Eskimon commented on #1518
Plus précisément:

[code]

[2014-09-30 23:12] Alex-D commented on #1376
De façon générale, est-ce qu'on aurait pas intérêt à passer tout le site en HTTPS ? Est-ce que ça pose des soucis chez certaines personnes dans certains cas ?

[2014-09-30 23:15] Alex-D commented on #1474
Donc, je masque le soulignement au survol sur le sous-titre et on est OK ?

[2014-10-01 06:07] SpaceFox commented on #1376
Quel intérêt d'avoir un site comme le nôtre en full HTTPS ?

Le 1 octobre 2014 01:12, Alexandre Demode notifications@github.com a
écrit :

[2014-10-01 06:10] Eskimon commented on #1376
Faire plaisir a google ? En tout cas la page de login semble le minimum...

[2014-10-01 06:15] SpaceFox commented on #1376
On pourrait avoir une source fiable sur ce point ? La dernière fois que
j'ai entendu parler de cette histoire d'influence du HTTPS sur le
référencement, c'était 1. à la marge et 2. sur la possibilité d'avoir du
HTTPS partout (et pas sur du HTTPS forcé partout).

Le HTTPS n'a du sens sur ce site que sur :
1. Les pages de connexion
2. Les pages personnelles privées (MP, édition du profil)
3. L'admin

[2014-10-01 06:17] Eskimon commented on #1376
http://googlewebmastercentral.blogspot.fr/2014/08/https-as-ranking-signal.html

Pas mal de sources avec la recherche "google referencement https"

[2014-10-01 09:00] firm1 commented on #944
Du nouveau ici ? ça serait vachement sympa d'implémenter ça.

[2014-10-01 10:37] Eskimon commented on #1544
QQun ayant accès a la prod' pourrait voir ce qui cloche avec ce dossier ? Format incorrect ? nouveau format pour les nouveaux tutos ? Quel est la différence avec les autres dossiers ?

[2014-10-01 10:40] Eskimon commented on #1493
Du nouveau ? Le tuto Arduino arrivera bientot dans la validation et est assez consequent en termes de volumes et d'images je pense... Ca permettera un bon gros tests des familles :D

[2014-10-01 10:40] Eskimon commented on #1474
Moi ca me va :)

[2014-10-01 10:46] Eskimon commented on #1226
Tu avais eu le temps de regarder ou on laisse tomber au profit de ZEP-12 ?

[2014-10-01 10:47] Eskimon commented on #1213
Ca fait 2 mois sans nouvelles, du nouveau ?

[2014-10-01 10:49] Eskimon commented on #1149
J'avais completement oublie ce truc, j'essaie de rajouter le bout de texte ASAP !

[2014-10-01 12:39] pierre-24 commented on #1226
Objectivement, c'est pas réelement bloquant. C'est frustrant, mais pas réelement bloquant. Donc je la garde en tête, mais ça viendra de toute façon avec la ZEP-12. Autrement dit, je veux bien garder l'assignation.

[2014-10-01 13:39] firm1 commented on #1544
En téléchargeant l'archive du tutoriel je ne remarque rien de bien méchant. A mon avis, étant donné que ces derniers jours il y'avait des problème d'accès IO sur le serveur de prod, quelque chose (echec de connexion à la bd, problème de lecture, ...) à fait foirer la validation. Le problème étant que lorsque la validation foire, il n'y a aucune routine pour nettoyer après.

Là ce qu'il faudra fair

[2014-10-01 13:40] firm1 commented on #1474
moi aussi

[2014-10-01 21:37] Alex-D commented on #1376
Je m'explique : à quoi bon protéger la page de connexion si quand on retourne sur les autres pages, on repasse en HTTP et donc on peut nous prendre notre cookie de connexion sur le réseau ?

Donc je réitère ma proposition plus précisément : oui au HTTPS sur la page de connexion ET sur toutes les pages à partir du moment où on est connecté.

[2014-10-01 22:09] Alex-D opened #1552 "Ajouter le support des icônes sur les alert-box"
Actuellement, il n'est pas possible d'appliquer une icône proprement sur une alert-box, or il se trouve que ce pourrait être utile.

[2014-10-01 22:26] Alex-D commented on #1422
J'ai trouvé, ça vient d'une autre PR que j'avais faite, l'une et l'autre n'étaient pas compatible visiblement. C'est désormais corrigé. À tester :)

[2014-10-02 01:06] Alex-D opened #1557 "Le bouton "Afficher l'aide Markdown" se superpose au bouton "Aperçu" sur mobile"
On ne peut pas accéder au bouton "Aperçu" car il est derrière le bouton d'aide Markdown sur mobile.

[2014-10-02 03:15] Alex-D commented on #1450
Voilà qui est mergé :)

[2014-10-02 03:15] #1450 closed, assigned to Eskimon

[2014-10-02 06:53] Eskimon commented on #1544
Une raison vient d'etre identifiee (tout du moins pour le tuto pixologic), le renommage du tuto entraîne l'erreur 500. En effet, je pense (j'ai pas lu le code) que le slug est mis a jour mais pas le nom du dossier, du coup le contrôleur retrouve plus le chemin correctement... (pour blinder ca on pourrait utiliser juste l'id dans le nom des dossiers non ?)

[2014-10-02 07:06] cgabard commented on #1544
Tu remarque que ton tuto sur les ultrason provoque la meme chose depuis son renommage

[2014-10-02 07:20] Eskimon commented on #1544
Yep, et j'ai remis le vieux nom et tout est rentre dans l'ordre. C'est ce comportement couple a une remarque de coyote qui a mis la puce a l'oreille sur le renommage+slug.

[2014-10-02 07:31] Axylium opened #1560 "Le mot « licence » est doublé"
Salut le monde. :)

Juste pour signaler un petit bug - _rien de bien méchant_ - qui apparaît sur l'historique des versions d'un tutoriel. En fait, devant la licence, le mot « licence » est répété, ce qui donne ceci :

![capture du 2014-10-02 09 30 17](https://cloud.githubusercontent.com/assets/4312887/4487941/2a523c48-4a06-11e4-9de9-de91847b5847.png)

[2014-10-02 07:52] Eskimon commented on #1560
En fait le souci c'est que dans l'admin Django les licences sont marquees comme "Licence CC-BY" par exemple plutot que juste "CC-BY" (vu qu'on a aussi "Touts droits reserves"). Il faudrait aligner et decider d'un comportement pour savoir si oui ou non on vire le mot licence dans le nom des licences ou dans le titre du texte mis en cause

[2014-10-02 07:54] Coy0te commented on #1544
Je confirme, repasser à l'ancien nom fonctionne aussi pour http://zestedesavoir.com/tutoriels/339/apprenez-la-sculpture-digitale-avec-pixologic-zbrush/ .

[2014-10-02 07:57] Eskimon commented on #1544
A t'on le même comportement sur un article ?

[2014-10-02 08:08] firm1 commented on #1544
Est-ce que vous arrivez à reproduire le bug sur la preprod ?

[2014-10-02 08:14] Eskimon commented on #1544
Yep, sur la preprod je viens de casser le tuto sur la recherche d'informations par exemple.

[2014-10-02 11:05] Ge0 commented on #1213
Navré pour l'attente.

J'ai normalement corrigé les deux problèmes soulevés par sandhose. Quelqu'un peut-il relancer les tests et confirmer ?

[2014-10-02 11:18] Eskimon commented on #1213
Perso je sais pas trop comment ca marche mais voici le lien pour le test : https://sslcheck.globalsign.com/fr/sslcheck?host=zestedesavoir.com#176.31.187.88

[2014-10-02 11:24] Ge0 commented on #1213
Bon, je ne suis pas vraiment au fait en ce qui concerne cette fameuse attaque "BEAST" mais je me charge de la corriger dès que possible.

[2014-10-02 12:30] Alex-D commented on #1560
Si c'est ça, ça veut dire que dans le back, il faut sauvegarder "Licence CC-BY..." dans le manifest. Actuellement il y a une différence entre le manifest et ce qui sort de l'admin (en tous cas la dernière fois que j'ai regardé).

Après, c'est simplement un mot à retirer dans les templates, rien de bien compliqué.

[2014-10-02 12:52] Alex-D commented on #1518
Validé, mergé, fermé.

Merci @Eskimon :)

[2014-10-02 12:52] #1518 closed, assigned to Eskimon

[2014-10-02 12:58] Ge0 commented on #1213
Encore moi.

Juste pour dire qu'il n'est apparemment pas simple de pousser la sécurité des mécanismes de chiffrement au maximum. Je m'explique :
- Si j'active les chiffrements forts par défaut, le test m'informe que le serveur est potentiellement vulnérable aux attaques vulnérables de type BEAST. On a quand même un score de "A".
- Si j'active l'algorithme de chiffrement RC4 en priorité, alors nous

[2014-10-02 14:37] Eskimon commented on #1135
@coma94 tu auras le temps de t'en occuper ou tu préfères que qqun prenne le relais ?

[2014-10-02 14:41] Eskimon commented on #1135
Ca se passe par ici pour les tutos:
- refus : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L302
- validation : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L378

Pour les articles
- refus: https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views.py#L516
- valide: https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views

[2014-10-02 15:23] emersion opened #1562 "Liens dans le flux Atom sur les articles"
Les liens des articles dans le flux Atom est incorrect. J'ai par exemple http://zestedesavoir.com/articles/off/84/un-zeste-sans-fin-chapitre-2/ au lieu de http://zestedesavoir.com/articles/84/un-zeste-sans-fin-chapitre-2/

Avec le `off/` comme actuellement, je tombe sur une erreur 403 (_Vous n'avez pas les droits suffisants pour accéder à cette page._). Si je l'enlève j'accède à l'article.

Il y a

[2014-10-02 15:33] Eskimon commented on #1562
48h de retard :D

https://github.com/zestedesavoir/zds-site/issues/1546

[2014-10-02 15:33] #1562 closed, assigned to nobody

[2014-10-03 14:06] gustavi commented on #617
https://www.djangoproject.com/weblog/2014/oct/02/crowdfunding-multiple-template-engines-django/

[2014-10-03 14:50] Alex-D commented on #1149
Le petit texte est rajouté, LaTeX est bien écrit, c'est donc tout bon ! Je ferme :)

[2014-10-03 14:50] #1149 closed, assigned to Eskimon

[2014-10-03 16:07] Eskimon commented on #1541
Bon, comme on peut le voir dans la discussion sur la PR ci-dessus, on se prend toujours les infos car ca passe par le profile. Il y a deux solutions:
- Le back renvoi une info supplémentaire "is_bot" et le template est modifié pour filtrer les éléments a afficher si oui ou non on affiche un bot (j'ai une PR pour ca de prête en local si vous le souhaiter). Ca marche mais c'est crade car rajoute une

[2014-10-03 22:17] Eskimon commented on #1452
J'ai le sentiment que globalement c'est réglé avec ca non ? https://github.com/zestedesavoir/zds-site/pull/1548

[2014-10-03 23:57] Alex-D commented on #1452
Je confirme pour l'avoir testé que c'est bon. So, it's closed :)

[2014-10-03 23:57] #1452 closed, assigned to Eskimon

[2014-10-04 13:25] Alex-D commented on #1541
Je ne suis pas pour cette logique

Je ne suis pas pour non plus : quand je l'ai proposé on m'a dit que c'était idiot car ça faisait deux pages à maintenir. Et je comprends que ce soit pénible, donc je préfère la solution qui suit :

Mon alternative énoncée dans la PR est que pour anonyme, les getters tuto/articles ne retournent rien (on en aura besoin nul part : c'est le but même de l'anonymisatio

[2014-10-05 08:54] artragis opened #1569 "Impossible de télécharger l'archive du tutoriel bêta"
Bonjour,
Entre la béta et le site actuel, deux comportement existent quant au téléchargement de l'archive pour les tutos en béta test.
# Sur le site

Pour le peu qu'on soit membre et que le tutoriel soit en béta :
- le bouton "archive" apparait
- en cliquant dessus, on peut télécharger l'archive targz du tutoriel
# Sur la preprod
- le bouton "archive apparaît"
- en cliquant dessus, **si on n'est p

[2014-10-05 08:58] artragis opened #1570 "La roue dentée n'affiche pas le menu sur FF"
Sur FF, en résolution large (1920/1080), je vois trois boutons en entête :
- les messages privés
- les notifs
- la roue dentée

puis à côté de ça mon avatar.

Sur le site, en prod, le clic sur l'avatar et la roue dentée ont **le même comportement** depuis la RC5.
Sur la preprod, le clic sur la roue dentée fait "clignoter" le menu utilisateur, un deuxième clic donne à la roue dentée le comportement

[2014-10-05 09:42] Axylium commented on #1570
Je confirme, avec la config suivante :
- Linux/Ubuntu 14.04 LTS
- Firefox 32

Il faudrait voir avec @Alex-D c'est lui qui avait précédemment réglé ce bug.

[2014-10-05 19:06] Alex-D commented on #1569
Solution : n'afficher ce bouton que pour les auteurs. C'est bien cela ?

[2014-10-05 19:10] Alex-D commented on #1570
J'ai fait les tests suivants, sur Windows 8.1 :
- Sur la prod actuelle v1.0b 9dc0e98 :
  - Firefox 31.0 : **OK**
  - Firefox 32.0.2 : **OK**
  - Firefox 32.0.3 : **OK**
  - Internet Explorer 11.0.9600.17278 : **OK**
  - Chrome toutes versions : **OK** (pas la même logique de focus, donc pas de bug)
- Sur la preprod actuelle v1.1-RC2 497bd3c :
  - Firefox 32.0.3 : **Pas OK**, s'ouvre et ferme, puis

[2014-10-05 19:28] coma94 commented on #1135
J'ai déjà ça codé dans un coin !
Je PR dans quelques jours le temps de mettre à jour mon code avec la versoin actuelle de zds.

[2014-10-05 20:15] artragis commented on #1569
Yep. Dans le cas de la béta test.
Le 05/10/2014 21:06, Alexandre Demode a écrit :

[2014-10-05 20:47] Alex-D commented on #1569
C'est pas le cas même quand le tuto est en ligne ? Il me semble que l'archive n'est disponible que pour le staff et pour les auteurs.

[2014-10-05 23:41] Alex-D commented on #1570
Voilà un bon gros patch, j'ai corrigé au passage les problèmes de navigation au clavier qui étaient présent à ce niveau également (tabulation toussa), ainsi qu'une légère erreur de tabindex que j'ai commise dans le code HTML du site.

Après ça, ça devrait être bon :)

[2014-10-06 00:18] Alex-D commented on #1569
Voilà qui devrait être corrigé dans la PR #1572, un peu longue à tester mais qui devrait faire son job :)

[2014-10-06 00:27] Alex-D commented on #1560
Pour le front, j'ai soumis la PR #1573 qui retire le mot "Licence" en trop. Mais cela va demander de faire des modifications dans l'admin et une mise à jour des manifest pour que le mot "Licence" soit ajouté devant "CC-BY" et compagnie, à moins qu'on laisse juste "CC-BY" tout seul, mais ça n'est pas très clair.

En somme, une fois cette PR mergé c'est du ressort de l'infra.

[2014-10-06 00:46] Alex-D commented on #1528
Je tiens à insister sur cette issue. Elle est **bloquante** selon moi.

Dans les états _Hors ligne_ et _Bêta_, sur un big tuto, le sommaire n'est pas affiché sur l'accueil du tutoriel et sur les chapitres. Il est par contre disponible lorsque l'on est sur une partie du tutoriel.

Cela veut dire que la navigation au sein d'un tutoriel demande de repasser systématiquement par l'accueil du dit tutori

[2014-10-06 01:09] Alex-D commented on #1249
Je crois bien qu'on a fait le tour de tous les problèmes rencontrés : on a l'import d'archive depuis ZdS et un contrôle des champs avec un texte explicatif pour l'import de tuto depuis l'ex-SdZ.

Bravo à vous :)

[2014-10-06 01:09] #1249 closed, assigned to Eskimon

[2014-10-06 02:26] Alex-D commented on #1504
Voilà un petit patch qui devrait éviter à beaucoup d'être frustrés :)

[2014-10-06 06:18] SpaceFox commented on #1528
Définition de "bloquant" : _"une fonctionnalité **majeure** du site n'est pas disponible **du tout**, ce qui bloque l'utilisation du site"_ (définition communément admise).

Là c'est chiant, je suis d'accord, mais n'empêche en rien l'utilisation du site y compris sur les tutos en bêta.

[2014-10-06 08:21] jcval commented on #818
Petit fix ortho à faire :

"Parmi" (modale de la dernière chance) ne prend pas de "s"

[2014-10-06 12:38] Alex-D commented on #1560
Voilà qui est mergé, ça devrait arriver en preprod bientôt. Il faut donc que les admins mettent à jour (ou pas, selon le choix qui est fait) le nom des licences.

[2014-10-06 12:43] Alex-D commented on #1528
En soi, c'est selon moi le coeur du site que je considère donc comme une fonctionnalité majeure qui nuit à l'UX. En admettant que ce ne soit pas bloquant, j'ai donc appliqué le tag adéquat : **Régression** qui pour le coup me semble plus juste.

Selon moi, **ce doit être _impérativement_ corrigé dans la v1.2**

[2014-10-06 12:50] SpaceFox commented on #1528
On a déjà essayé d'attendre une correction précise pour lancer une release. On a tous vu ce que ça donne. Je propose qu'on apprenne de nos erreurs et qu'on ne recommence pas.

Ceci n'enlève rien au caractère régressif de ce bug.

[2014-10-06 12:52] Eskimon commented on #1528
J'ai ptet pas tout suivi, mais c'est pas deja corrige par la PR en cours de firm1 juste au dessus ?

[2014-10-06 13:20] Alex-D commented on #1528
En gros, "ce doit être impérativement corrigé dans la v1.2" => ce doit être corrigé en priorité parmi les fix de la v1.2

Et @firm1 affirme que sa PR corrige déjà le bug, donc ça ne devrait pas nous bloquer dans le temps.

[2014-10-06 15:42] Alex-D commented on #818
Voilà qui est corrigé :) Merci @Eskimon !

[2014-10-06 18:01] Alex-D opened #1577 "Le karma n'est plus "voted" sur les membres récents"
[Sujet du forum](http://zestedesavoir.com/forums/sujet/1376/les-pouces-vertrouge/)

Un nouveau membre signale que lorsqu'il vote, après rechargement de la page son vote est bien compté mais il n'a pas de retour visuel (vert/rouge) sur celui qu'il a cliqué.

[2014-10-06 18:18] Alex-D opened #1579 "Petites erreurs de typo sur les infobulles du karma"
- Une espace en trop entre le chiffre et "personne"
- Manque la gestion du pluriel, c'est toujours "personnes ont" qui est appliqué

[2014-10-06 21:08] Eskimon commented on #1570
J'enleve le tag bloquant, le site est toujours utilisable avec ce bug.

[2014-10-06 21:12] Eskimon commented on #1474
réglé

[2014-10-06 21:12] #1474 closed, assigned to Alex-D

[2014-10-06 21:25] Eskimon commented on #1422
Ok

[2014-10-06 21:25] #1422 closed, assigned to Alex-D

[2014-10-07 21:33] SpaceFox opened #1581 "On peut s'écrire un MP à soi-même en changeant la casse"
Si je m'écris un MP à moi-même mais avec une autre casse (ex : SpaceFox --> spacefox), le système ne détecte pas que c'est moi et donc m'envoie le MP à moi-même.

C'est un effet de bord de la correction de #738 : la vérification de pseudo est maintenant sensible à la casse donc cette ligne https://github.com/zestedesavoir/zds-site/blob/dev/zds/mp/forms.py#L81 ne couvre plus tous les cas.

[2014-10-07 21:38] #1404 closed, assigned to SpaceFox

[2014-10-07 21:45] SpaceFox commented on #1569
Du coup ce bug attendra la prochaine version pour être corrigé. Après tout, le téléchargement d'archives en bêta n'est pas non plus super critique.

[2014-10-07 21:46] SpaceFox commented on #1570
Corrigé et mergé --> Fermé.

[2014-10-07 21:46] #1570 closed, assigned to Alex-D

[2014-10-07 22:27] SpaceFox commented on #1560
OK, donc voici l'exemple typique de _"pourquoi il ne faut pas rajouter une PR à une release même si elle a l'air complètement inoffensive"_ et aussi de _"pourquoi il faut systématiquement QA une PR même quand elle a l'air complètement con"_.

Pourquoi ?

Parce que certes, la PR #1573 corrige le rendu dans l'historique des versions... sauf que la réalité est plus compliquée que ça.

La page corrigé

[2014-10-07 22:28] SpaceFox commented on #1560
PS : Pas la peine de se jeter sur un ticket "bloquant" ou sur un hotfix, ça n'en faut vraiment pas la peine.

[2014-10-07 23:50] Alex-D commented on #1560
Au back de renvoyer ce qu'il faut, ça n'était certes pas pressé, je ne sais plus pourquoi j'ai fait ça sur la release. Aussi, c'est mieux d'avoir retiré "Licence" rapidement pour ne pas avoir de "Licence Tous droits réservés" qui est bien plus moche que de sombres histoires d'historiques, même si c'est pas top, j'entends bien.

## The solution

En gros, pour régler le soucis, il faut que côté back

[2014-10-08 06:12] Eskimon commented on #1581
rajouter un `toLower()` suffirait ?

[2014-10-08 06:24] SpaceFox commented on #1581
Je ne sais pas, c'est quoi la technique habituelle pour faire une
comparaison de chaînes de caractères sans tenir compte de la casse en
python ?
C'est ça qu'il suffit d'appliquer.

2014-10-08 8:12 GMT+02:00 Eskimon notifications@github.com:

[2014-10-08 06:32] Eskimon commented on #1581
StackOverflow répond `lower()` :D

[2014-10-08 06:33] SpaceFox commented on #1581
GG !

Le premier motivé peut faire la modif.

Rappel : c'est encore à tester sur du MySQL **et** avec la table auth_user en utf8_bin.

[2014-10-08 10:24] Luthaf commented on #1519
Alors concernant le tuto qui m'a fait découvrir ce problème, après téléchargement, édition à la main du manifest.json et suppression des fichiers puis upload, le problème est réparé.

C'est une manière comme une autre de fixer les tutos cassés.

[2014-10-09 01:24] Alex-D commented on #1552
Ca a été mergé donc c'est fermé :)

[2014-10-09 01:24] #1552 closed, assigned to Alex-D

[2014-10-09 06:33] Eskimon commented on #1560
J'ai pas tout suivi avec l'excitation autour du bordel, mais c'est bon ou pas ?

A fermer ? (et modifier en prod' les licences concernées ?)

[2014-10-09 06:35] SpaceFox commented on #1560
Heu non pas du tout, je l'ai sortie de la v1.1 justement parce qu'elle est buggée !

Il ne faut surtout pas toucher les licences en prod, qui sont OK, et modifier le back pour afficher le nom des licences et pas leurs codes.

[2014-10-09 06:36] Eskimon commented on #1343
Le problème venant des tutos, ce ticket doit-il rester ouvert ?

[2014-10-09 06:53] Eskimon commented on #1560
Ok, merci de la clarification :)

---

Début de recherche:
- Le modèle de la licence montre que l'affichage "littéral" de la licence est correct : https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/models.py#L142

J'ai pas ete capable de trouver ou est-ce qu'on renvoie uniquement le code de la licence. En general on renvoi "toute" l'objet licence au template, donc je vois pas trop ou est

[2014-10-09 13:57] Alex-D commented on #1560
Le modèle à la base il est beau, mais c'est pas ça qui est renvoyé par la suite.

En gros, la licence est versionnée dans le manifest et c'est ça qui est renvoyé. Donc il faut que le back aille chercher le `title` qui correspond au code de la licence qui se trouve dans le manifest.

Partout dans les templates j'ai fait comme ça :

[code]

Donc il ne reste plus qu'au back à renvoyer le bon résultat

[2014-10-09 13:59] Alex-D commented on #1560
Je viens de faire un test sur la preprod, la licence est bien versionnée, donc a priori elle vient du manifest, mais je n'ai aucune idée de où c'est chargé...

[2014-10-09 14:03] Alex-D commented on #1560
`load_dic` charge en fait les données qui viennent de la BDD (auteurs, etc) donc la licence n'est pas concernée ici.

Donc visiblement, [ça vient de là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L1284) :

[code]

C'est le `json_reader.loads` qui charge le manifest et qui charge donc brutalement la licence. Il faut faire une passe supplémentaire pour "transformer" le

[2014-10-09 16:29] Eskimon commented on #1579
Ok

[2014-10-09 16:29] #1579 closed, assigned to Alex-D

[2014-10-09 16:50] Eskimon commented on #1581
Je suis un peu perdu avec ce message : http://zestedesavoir.com/forums/sujet/1313/prets-pour-la-v11/?page=3#p23995

C'est en `utf8_bin` ou en `utf8_general_ci`qu'il faut mettre la table au final ?

[2014-10-09 17:08] Eskimon commented on #1581
Finalement j'ai opté pour la méthode "même solution que pour la création de compte". Je trouvais ca plus joli si c'était aligné.

[2014-10-09 17:31] SpaceFox commented on #1581
La réponse était là : http://zestedesavoir.com/forums/sujet/1313/prets-pour-la-v11/?page=3#p24010

Il faut bien que la table soit en utf8_bin pour que la correction du ticket  #738 fonctionne.

[2014-10-09 18:12] #1504 closed, assigned to Alex-D

[2014-10-09 22:05] Alex-D commented on #1569
Voilà qui est corrigé et mergé.

[2014-10-09 22:05] #1569 closed, assigned to Alex-D

[2014-10-10 06:51] jcval opened #1585 "Galerie : répétition de l'unité de mesure lors de l'upload d'une image trop lourde."
![image](https://cloud.githubusercontent.com/assets/4648693/4588782/ce32beac-5049-11e4-8657-ff60cd29915c.png)

[2014-10-10 07:36] GerardPaligot commented on #1350
Je relance cette issue parce que docker semble une techno super intéressante et apporterait beaucoup à ZdS (imaginez une documentation allégée à une simple explication de docker et plus sur tous les OS !)

[2014-10-10 08:01] GerardPaligot opened #1587 "Freeze du navigateur sur l'article Zeste Sans Fin"
Si je tente d'accéder à l'article [Zeste Sans Fin - Chapitre 2](http://zestedesavoir.com/articles/84/un-zeste-sans-fin-chapitre-2/) la pagê du navigateur freeze et plus possible de faire quoi que ce soit.

Cela ne semble pas lié à un navigateur (testé sur FF, Chrome, etc.) et le coupable semble être le fichier `zestedesavoir.com/static/all.min.js`.

[Sujet du bug sur ZdS](http://zestedesavoir.com/

[2014-10-10 08:05] SpaceFox commented on #1350
Certes, mais docker pose aussi des problèmes (il me semble déjà mentionnés
ci-dessus) que l'on doit résoudre.

Le 10 octobre 2014 09:36, Gerard notifications@github.com a écrit :

[2014-10-10 08:09] SpaceFox commented on #1587
Ce bug peut mériter un hotfix au besoin.

Demandez-moi si la procédure n'est pas claire (c'est celle standard du
Giflow).

Le 10 octobre 2014 10:01, Gerard notifications@github.com a écrit :

[2014-10-10 08:26] GerardPaligot commented on #1350
Je parcourus l'issue et le seul problème que je relève c'est par firm1 avec pandoc où il donne une solution dans la foulée.

[2014-10-10 08:32] SpaceFox commented on #1350
C'est pas ici qu'on avait parlé de la taille du truc, du temps de téléchargement et des mises à jour ??

[2014-10-10 08:43] GerardPaligot commented on #1350
Si, si mais je ne comptais pas vraiment ça comme un problème vu le temps que prend un nouveau contributeur a initialiser le projet et la taille des choses téléchargées pour cette installation.

[2014-10-10 11:35] firm1 commented on #1540
Fixé -> mergé.

On ferme donc

[2014-10-10 11:35] #1540 closed, assigned to firm1

[2014-10-10 11:36] firm1 commented on #1520
C'est corrigé coté back-end.

Il ne manque plus que la correction complète coté front-end, ainsi que sa documentation, et on est bon.

[2014-10-10 11:56] Coy0te commented on #1587
J'ai dépublié et republié le cours, ça n'a rien changé, le problème persiste.

Par ailleurs, il n'y a aucun problème sur la version hors-ligne du cours, elle s'affiche sans problème.

[2014-10-10 12:02] Eskimon commented on #1587
Il faudrait publier, aller voir la page en mode "no javascript", regarder si un nouveau commentaire semble mettre le boxon et agir en conséquence ?

[2014-10-10 12:04] firm1 opened #1588 "Mettre en production zds v1.2"
En attendant, une solution plus propre à l'issue #1533 , on va rouvrir tout de suite un ticket destiné à regrouper l'ensemble des choses necessaires pour la MEP de la v1.2 de zds. C'est donc une tâche Infra ici.

Je vous encourage à signaler ici toute modification importante à faire manuellement pour la MEP 1.2
## Installation d'outils

Pour l"instant, aucun nouvel outil à installer pour la MEP
##

[2014-10-10 12:14] SpaceFox commented on #1588
En fait au lieu de rédiger dans cette issue, il suffit de créer un fichier nommé par exemple `update.md` qui contiendrait :

[code]

Toute personne qui fait un ticket qui ajoute des actions spécifiques de mise à jour rajoute un bloc de ce genre **à la fin du fichier** :

[code]

Quand la branche concernée sera mergée, le bloc viendra naturellement à la fin du fichier et donc sera naturellement bie

[2014-10-10 12:16] SpaceFox commented on #1588
Quant au changelog, je le génère à partir de la liste des tickets mergés
dans la version déployée (représenté sur Github par les milestones).

Le 10 octobre 2014 14:04, firm1 notifications@github.com a écrit :

[2014-10-10 12:18] Coy0te commented on #1587
J'ai répondu sur le sujet ZdS.

[2014-10-10 12:26] Eskimon commented on #1588
D'ailleurs a ce sujet, dois t-on appliquer la milestone sur les PR ? Pour l'instant je le faisais mais je suis pas sur que ce soit pertinent car au final la PR peut etre retrouve via le ticket et du coup ca fait du "bruit" quand on filtre sur la milestone

[2014-10-10 12:28] SpaceFox commented on #1588
Non, pas de milestone sur les PR sauf si elles ne corrigent pas entièrement
le ticket.

Le 10 octobre 2014 14:26, Eskimon notifications@github.com a écrit :

[2014-10-10 12:33] cgabard commented on #1587
Ping @Alex-D ou @sandhose , cela semble être un conflit entre les spoiler et mathjax (cf le sujet). Le html semble correcte, c'est au niveau du JS que ça part en vrille

[2014-10-10 12:34] firm1 commented on #1588
J'y ai pensé le fichier dans le dépot, mais je n'ai aucune idée si c'est une solution efficace. Et j'avoue que je ne sais pas s'il doit aller dans la doc sphinx ou juste un simple markdown.

J'aurai tendance à dire que ça devrai aller dans la doc sphinx, et du coup je ne vais pas pouvoir faire la PR qui va bien (manque d'outils toussa), donc je laisse cette issue en pense bête pour pas oublier des

[2014-10-10 12:36] firm1 commented on #1588
Pour le changelog je pense qu'il doit figurer dans la doc, ne serait-ce que pour ceux qui réutiliseront notre code, afin de suivre les évolutions de celui-ci.

[2014-10-10 13:57] Alex-D commented on #1520
J'y ai travaillé hier et je continue là, je vais faire une PR sous peu.

Ca c'est une autre issue.

[2014-10-10 13:58] Taluu commented on #1588
'Faudrait séparer "version du code" et "version du site". Ainsi, le code publie ses versions (1.1, 1.2, ... etc), et le site, qui l'utilise, vis sa vie en dehors du dépôt du code.

Et donc quand y'a une release du code, faire ce genre de tickets... mais [en release](https://github.com/zestedesavoir/zds-site/releases).

[2014-10-10 14:01] SpaceFox commented on #1588
J'ai pas compris.

[2014-10-10 14:03] Ymox commented on #522
Yop,

J'utilise pour la première fois mon compte GitHub, donc je vais juste me permettre de faire mes propositions et signaler quelques corrections.

Pour le message à la première mise en beta :
"J'aimerai avoir…" -> "J'aimerai**s** avoir…"
"Si vous êtes interessé…" -> "Si vous êtes int**é**ressé…" (à deux endroits, lignes 615 et 675 de views.py)

Autrement, comment est choisi l'auteur du message

[2014-10-10 14:34] Alex-D commented on #522
Là tu peux ouvrir un sujet sur le forum, c'est plus tellement le sujet ici.

[2014-10-10 14:42] Alex-D commented on #1588
En gros, il faut séparer la version du code et la version du site.

On peut avoir le site en v1.0 tandis que le code est en 0.9-RC ou que sais-je, simplement en jouant sur les tags (version du code) VS les releases (version du site).

[2014-10-10 14:46] Taluu commented on #1588
Et utiliser le module de release de Github pour les changelogs d'une version specifique depuis la version précédente. Exemple : https://github.com/Behat/Behat/releases (j'ai pris un repo au pif qui utilisait cette feature)

[2014-10-10 14:46] SpaceFox commented on #1588
Quel intérêt ? (à séparer les versions site et code)

Le 10 octobre 2014 16:42, Alexandre Demode notifications@github.com a
écrit :

[2014-10-10 14:48] SpaceFox commented on #1588
J'ai l'impression que notre page de release
https://github.com/zestedesavoir/zds-site/releases est HS depuis qu'on a
dit que "master" s'appelait en fait "prod".

Le 10 octobre 2014 16:46, Baptiste Clavié notifications@github.com a
écrit :

[2014-10-10 14:51] Eskimon commented on #1560
Bon j'ai testé, effectivement ca marche... Par contre c'est moche car ca oblige a faire une requête SQL de plus pour récupérer le titre, c'est triste...

[2014-10-10 14:52] firm1 commented on #1588
Idem, je ne vois pas l'interet d'avoir une version du site vu que la seule composante versionnable du site c'est son code.

Pour le changelogs est-ce que c'est possible de faire ça automatiquement @Taluu ? car sinon c'est après coup, et on a des risque d'oubli.

[2014-10-10 14:59] Alex-D commented on #1588
Nop, en haut tu as "Show 5 newer tags" et il y a bien les tags, mais sans commentaire de release donc ils sont masqués.

[2014-10-10 15:02] Taluu commented on #1588
Et tu a aussi la possibilité de voir les commits effectués depuis une version. On peut aussi cibler n'importe quelle branche / tag au fait.

[2014-10-10 15:07] SpaceFox commented on #1588
Hmmm il faudra que je creuse ça alors. Merci pour le tuyau.

Le 10 octobre 2014 17:02, Baptiste Clavié notifications@github.com a
écrit :

[2014-10-10 15:11] Alex-D commented on #1560
Pourquoi c'est moche ? On stock un ID on récupère le titre en BDD, quoi de plus normal ?

[2014-10-10 15:15] Alex-D commented on #1350
Docker = VM ? Si oui, VM = 1Go à télécharger = je ne peux plus contribuer ou alors je dois laisser tourner ma machine un ou deux jour non-stop pour avoir un environnement de travail. A moins que ça pèse moins que ça (ça se peut), quelqu'un aurait une estimation ?

[2014-10-10 15:15] Alex-D commented on #1585
Dans l'absolu, il faudrait le convertir en Mo, ça sera plus simple je trouve, non ?

[2014-10-10 15:18] Alex-D commented on #1585
Le soucis vient de là : https://github.com/zestedesavoir/zds-site/blob/dev/zds/gallery/forms.py#L151

Faudrait penser au passage à être uniforme sur les unités : https://github.com/zestedesavoir/zds-site/blob/dev/zds/gallery/forms.py#L123

C'est un peu la foire au boudin :D

[2014-10-10 15:21] Eskimon commented on #1350
Si docker est utilisé rien ne t'obligeras à l'utiliser hein.

[2014-10-10 15:21] Eskimon commented on #1560
Bah pourquoi pas stocker la licence littéralement directement en fait ?

[2014-10-10 17:30] Alex-D commented on #1560
Heu ? Ca c'est moche par contre.

Par exemple, une chose qui manque à l'heure actuelle, c'est un lien vers le détail de la licence. Pour faire ça il faudrait rajouter une propriété à l'objet Licence. Si on stoque en texte, il faudra encore patcher le back et ainsi de suite. Si on fait une requête, on récupère l'objet, on a le title et le lien à la fois.

C'est qu'une requête par page, c'est pas di

[2014-10-10 17:32] Alex-D commented on #1350
@GerardPaligot sous-entend qu'il n'y aurait plus à maintenir la documentation sur les 3 OS, ce qui sous-entend que je n'aurais plus de support pour installer tout ça sur mes machines.

[2014-10-10 20:22] GerardPaligot commented on #1350
Docker se base sur des conteneurs et pas des vm. C'est important parce que justement, docker en soit ne pèse rien. Sur Linux, docker est supporté nativement, à partir d'une contribution en loose D par Google dans le noyau Linux il y a quelques années.

Pour Mac et Windows, oui ce n'est pas supporté nativement. Donc oui, c'est une VM mais extrêmement légère (quelques Mo). Il n'y a vraiment aucun pr

[2014-10-10 22:16] Alex-D commented on #1350
Ca me va dans ce cas :)

[2014-10-11 08:47] Eskimon opened #1594 "Rajouter un bouton "Signaler une faute""
En attendant la ZEP-8 et son lot de nouveauté géniale, ne serait-il pas une bonne idée de rajouter un bouton "Signaler une faute" en bas des tutos/article (entre contenu et zone de commentaire). Ainsi, cela éviterais de voir le fil des commentaires "pollués" par des messages signalant des typos.

[2014-10-11 20:14] Alex-D commented on #1522
Le mode lecture fonctionnera désormais (mergé)

[2014-10-11 20:14] #1522 closed, assigned to artragis

[2014-10-11 20:17] Alex-D commented on #1594
Niveau front ça se cantonne (a priori) à un bouton et une modale associé, rien de nouveau donc.

Côté back, à mon avis, il faut faire au plus simple : pourquoi pas tout simplement un MP ?

[2014-10-11 21:56] Eskimon commented on #1594
J'ai une solution quasi fonctionnelle avec une modale contenant un text area (ou un lien vers MP) et preque tout marche (il faut juste que je tests quelques cas). La PR arrive très vite.

[2014-10-12 15:32] Alex-D opened #1596 "[DEV] La branche dev ne passe plus les tests"
Suites à des soucis de tests sur des PR, j'ai relancé les tests sur dev (qui étaient bons à ce moment là). Il se trouve que les tests ne passent plus.

Il faudrait donc corriger le problème sur dev pour que tout le monde puisse continuer à développer tranquillement :)

Le build concerné : https://travis-ci.org/zestedesavoir/zds-site/builds/37703425

[2014-10-12 15:53] SpaceFox commented on #1596
Heu, on a pas Travis qui est sensé empêcher ça ?!
Le 12 oct. 2014 17:32, "Alexandre Demode" notifications@github.com a
écrit :

[2014-10-12 15:56] Alex-D commented on #1596
Pour une raison inconnue, hier ça buildait et c'était tout vert sur un merge que j'ai fait. Et là c'est rouge.

Et l'erreur a l'air d'être un truc d'encodage ou je ne sais quel truc étrange du genre.

[2014-10-12 17:13] Eskimon commented on #1596
J'ai trouvé, et c'est lolesque :) on s'amuse à faire une comparaison de date avec un date codée en dur... seulement depuis quelques jours, la date testé n'est plus représenté de la même facon car elle a dépassé l'année (entre maintenant et cette date en dure fautive)...

Le test : https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/templatetags/tests/tests_date.py#L99
La date : https://gi

[2014-10-13 09:12] firm1 commented on #1560
J'aimerai pouvoir passer une code review par ici avant que ce soit mergé.

A lire les échanges, il y'a un truc qui cloche et qui ne devrait pas.
Le 10 oct. 2014 19:30, "Alexandre Demode" notifications@github.com a
écrit :

[2014-10-13 09:15] SpaceFox commented on #1560
Merger quoi ? Y'a pas de PR en cours.

[2014-10-13 12:46] Alex-D commented on #1560
Le truc qui cloche me semble pas tant clocher que ça.
- On stock le code dans le JSON
- Donc, on doit récupérer en BDD le libellé qui correspond au code sauvegardé

[2014-10-13 13:16] firm1 commented on #1560
Je n'ai pas tout lu en profondeur, mais vu que ça touche la structure des tutoriels, j'aimerai quand même passer une revue dessus quand la PR partira.

[2014-10-13 17:39] Eskimon commented on #1560
Voila _une_ solution.

[2014-10-13 17:45] Eskimon commented on #1596
PR en cours :)

[2014-10-13 18:49] #1587 closed, assigned to nobody

[2014-10-13 22:42] Alex-D commented on #1596
Hallelujah !

[2014-10-14 14:36] Alex-D commented on #1596
Fix by @Eskimon on peut reprendre les PR :)

NB : Il faut rebase les diverses PR qui ne passent pas pour que ce correctif prenne effet.

En étant sur la branche :

[code]

Vérifiez (grâce au mode interactif) que le rebase fait bien ce qu'il faut, et validez \o/

[2014-10-14 14:36] #1596 closed, assigned to Eskimon

[2014-10-15 10:06] GerardPaligot opened #1599 "Faire évoluer la structure des tutoriels et des articles"
Le projet étant encore en plein développement actif, la structure des tutoriels et des articles évoluent mais **aucune migration n'est faite sur la structure des anciens tutoriels et articles**. Les développeurs back-end doivent donc développer **en sachant que** la structure précédente était différente et donc gérer tous les cas possibles (ils essayent en tout cas).

Ne pas migrer ces structures

[2014-10-15 12:22] Alex-D commented on #1599
C'est à dire ? Pour les hash public, beta et tout ?

[2014-10-15 15:11] Taluu commented on #1599
wait wait wait, j'ai vu "réécrire l'historique", j'ai lu, et.... NON !

Si la structure change, il **faut** faire une migration (une commande, mettre à jour les exemples, les fixtures, ... etc), mais NE SURTOUT PAS changer l'historique ! Que faire si quelqu'un a besoin, pour une raison x ou y de checkout une version spécifique ?

Normalement si la structure change, c'est **DEPUIS** que la structur

[2014-10-15 15:13] Taluu commented on #1599
Enfin après je peux avoir mal interpréter le ticket, et c'est ce que j'espère..

[2014-10-15 15:27] Taluu commented on #1599
OK j'ai donc en effet mal interprété le ticket ; il s'agissait en fait des repos des **tutos**

Ca peut en effet poser probllème, et la facon actuelle de faire les choses est en effet pas viable. Mais, je doute que réécrire l'historique soit tout aussi viable... que faire des types qui ont dl leur tuto ?

L'idée serait peut-etre de versionner par des versions le module de tuto / articles de facon

[2014-10-15 20:49] SpaceFox opened #1600 "Garbage collector automatique sur les dépôts Git techniques"
Aujourd'hui on a aucune forme de maintenance sur nos dépôts Git "techniques".

Résultats : tous les objets sont chacun dans leurs fichiers, ce qui donne un dépôt énorme pour sa taille et un nombre de fichiers hallucinants.

Mon idée est de faire passer régulièrement (toutes les semaines ?) un script de ce genre sur l'ensemble des dépôts git des articles et des tutos (publics comme privés) :

[code

[2014-10-16 08:35] Taluu commented on #1600
Je n'ai jamais utilisé la commade `gc` à la main, mais je n'y vois pas trop de contre-indication ; par contre, vu qu'en général ce genre de tâche (enfin quand c'est automatique) prend du temps, faudra voir si faudrait pas fragmenter cette commade (y aller par lots) ?

[2014-10-16 08:39] SpaceFox commented on #1600
"Prends du temps", c'est relatif. Je ne pense pas qu'on en ait pour plus
d'une heure sur le premier lancement et plus d'un quart d'heure à chaque
fois après. Ça peut se lancer la nuit, typiquement avant la sauvegarde.

Pour la petite histoire, gc n'est pas sensée être lancée tant que le dépôt
ne râle pas qu'il en a besoin, sauf que le seuil de déclenchement est ultra
haut. Au boulot, on a réduit u

[2014-10-16 09:14] Taluu commented on #1600
Ouais mais sauf qu'on a beaucoup de tutos, c'est juste ca auquel il faut faire attention

[2014-10-16 16:45] firm1 commented on #1600
Il ne faut surtout pas mettre ça en place sans tester LONGUEMENT tout ça (y compris l'historique).

Pour info : https://github.com/gitpython-developers/GitPython/issues/61

[2014-10-16 19:04] Axylium opened #1601 "Bug dans la recherche (pagination & résultats)"
Salut. :)

Juste pour prévenir d'un bug, lorsque qu'on fait une recherche avec le terme « _staff_ ». On obtient des résultats qu'à partir de la page **6** et ces derniers sont à chaque fois qu'au nombre de deux, toutes les deux pages.. !

Quelques captures pour illustrer mon propos :

![capture du 2014-10-16 20 59 06](https://cloud.githubusercontent.com/assets/4312887/4668619/a07b9548-5566-11e4-94

[2014-10-16 19:11] SpaceFox commented on #1600
Si je comprends bien ce que tu décris ici est un problème GitPython qui donc ne concerne pas ce que je propose ?

[2014-10-17 05:31] firm1 commented on #1600
Oui d'où le fait de s'assurer que GitPython arrive a lire correctement un
dépôt après passage de GC.
 Le 16 oct. 2014 21:11, "SpaceFox" notifications@github.com a écrit :

[2014-10-17 06:16] Eskimon commented on #1601
Du a cette PR : https://github.com/zestedesavoir/zds-site/pull/1384

[2014-10-17 06:39] SpaceFox commented on #1601
Du coup c'est pas un bug. C'est un fonctionnement moche qu'il faudra corriger un jour, mais ça c'est le boulot du ticket #983.

[2014-10-17 06:39] #1601 closed, assigned to nobody

[2014-10-17 06:40] SpaceFox commented on #983
L'évolution ici, c'est d'implémenter une version propre de ce truc.

[2014-10-18 13:50] Alex-D commented on #1585
Mergé.

[2014-10-18 13:50] #1585 closed, assigned to Eskimon

[2014-10-18 15:44] artragis opened #1604 "Les liens auto sont rendus en double"
En utilisant une URL auto, le code généré, est celui là :

[code]

On voit bien que tout est en double.

[2014-10-18 21:07] Axylium commented on #1604
Ça ne devrait pas se trouver dans le dépôt MD de ZDS ?

Car c'est dû à une mauvaise génération du MD, non ?

[2014-10-18 23:45] Alex-D commented on #1604
+1 Go sur zMD, et je crois qu'un truc similaire a déjà été signalé.

[2014-10-18 23:45] #1604 closed, assigned to nobody

[2014-10-19 16:37] SpaceFox opened #1605 "La publication d'un tuto a cassé l'historique Git"
Cf http://zestedesavoir.com/membres/voir/Dominus%20Carnufex/

Ce qui s'est passé : une action (à priori la publication, vues les dates et heures), a forcé la branche "master" à revenir sur un vieux commit (celui publié). Cette action est notée "reset: moving to 21ef0f32a7f6e2a2fe4a714e81119feb5c5c2373" dans l'historique.

Résultat : tous les commits faits après le commit publié deviennent invisibl

[2014-10-20 10:08] gustavi commented on #1023
UP !
Le fichier `settings_prod.py` est là pour écraser certains paramètre du `settings.py` (`DEBUG = False`, accès base de données, etc) et il donc possible qu'il soit assez gros mais globalement, tout ce qui peut être accessible au publique et qui n'est pas spécifique à la prod doit de trouver dans le `settings.py` et non le `settings_prod.py`.

[2014-10-20 10:13] gustavi commented on #1341
On en est où ici ? cc @SpaceFox et les gens qui ont accès à l'infra.

[2014-10-20 10:16] SpaceFox commented on #1341
C'est nulle part, c'est à ajouter à la liste des trucs à faire pour la release sinon ça ne sera jamais fait.

[2014-10-20 10:23] gustavi opened #1606 "Décalage des pouces sur mobile"
Le bug en question : http://i.imgur.com/9Ye8fSq.png.

Il n'apparait que sur les pouces où l'on n'a pas voté.

Testé sur Firefox mobile dernière version/Android 4.x (CyanogenMod)/Nexus 4.

[2014-10-20 10:33] gustavi commented on #6
On a pas un doublon avec https://github.com/zestedesavoir/zds-site/issues/1350 ? La discution semble plus aboutie là bas qu'ici.

[2014-10-20 10:51] gustavi commented on #200
UP !

Cette issue a 7 mois et les choses ont pas mal évoluées.@GerardPaligot est-tu toujours sur ta position ?

Personnellement ce qui manque c'est une interface où le commun des mortels (comprenez ceux qui ne font pas parti de l’équipe de dev et qui n'utilisent pas régulièrement Github ou une plateforme équivalente) peut signaler facilement un bug, une suggestion ou une question. OK on a les foru

[2014-10-20 11:01] gustavi opened #1607 "La mise à jour d'une tutoriel en beta remet le message par défaut dans le forum"
Reporté via le forum par [Aabu](https://zestedesavoir.com/forums/sujet/1456/mettre-a-jour-la-beta-remet-les-messages-par-defaut/) :

[2014-10-20 11:22] firm1 commented on #6
Non non pas vraiment.

Ici on essaye de créer un script de déploiement pour une version locale. Là
bas, on parle de VM, containers, docs, etc.
Le 20 oct. 2014 12:33, "Laville Augustin" notifications@github.com a
écrit :

[2014-10-20 11:27] gustavi opened #1608 "Notification fantôme lors d'une dépublication"
Via les forums pas [Coyote](https://zestedesavoir.com/forums/sujet/1454/notification-fantome/) :

Je propose de passer le message en « lu » puis de laisser un message indiquant que le cours en question n'est plus disponible. Peut-être élargir à d'autres contenus qui pourraient poser le même problème.

[2014-10-20 13:04] GerardPaligot commented on #200
J'avoue ne plus trop me soucier de ces questions puisque mon investissement dans le développement n'est plus aussi conséquent. Mais je pense toujours qu'un JIRA est nécessaire pour des questions de clarté dans les bugs & suggestions et de gestion de projets.

Après, je sais que ça ne sera pas fait et la gestion du projet actuelle semble convenir aux contributeurs très actifs actuels du projet.

[2014-10-20 13:06] GerardPaligot commented on #6
En fait, si dans l'issue #1350 on opte pour la solution docker, cette tâche ci-présente n'aurait plus raison d'être.

[2014-10-20 13:34] firm1 commented on #6
Bah non justement docker c'est pour ceux qui ont les ressources materielles
pour installer un container.

Docker ne doit pas entraver le support d'installation de base.
Le 20 oct. 2014 15:06, "Gerard" notifications@github.com a écrit :

[2014-10-20 13:40] GerardPaligot commented on #6
Jusqu'à présent, nous sommes partis du principe que tous les contributeurs de Zeste de Savoir utilise virtualenv pour contribuer, la chose pourrait évoluer pour docker (s'il s'avère qu'il est "meilleur"). Dans ce cas (et, bien entendu, uniquement dans ce cas), cette issue n'aurait plus raison d'être.

Elles sont plutôt logicielles et elles sont minimes.

[2014-10-20 14:21] firm1 commented on #6
La différence entre virtualenv et docker c'est que l'un consomme des ressources et l'autre non.

L'idée de l'issue actuelle c'est en gros de faire exactement ce qui est marqué dans la doc d'installation tout simplement. Dire que tu remplaces ça par docker, c'est supposer que Docker consomme rien en mémoire.

Virtualenv contrairement a docker n'intervient qu'en one-shot pour cloisonner ton environn

[2014-10-20 14:23] firm1 commented on #200
Moi ça ne me convient pas mais bon :(

[2014-10-20 14:25] gustavi commented on #200
@firm1 explicite !

[2014-10-20 14:26] GerardPaligot commented on #6
L'idée derrière docker, c'est justement de consommer le moins possible (il consomme vraiment peu) contrairement à ses concurrents, les machines virtuelles. Mais on s'éloigne du sujet de cette issue.

[2014-10-20 14:33] SpaceFox commented on #200
+1

Un "ça ne me convient pas" sans la moindre explication, c'est juste du bruit.

[2014-10-20 14:36] firm1 commented on #200
Pour être plus précis. ça fait un moment déjà (depuis l'ouverture du code) que JIRA est devenu indispensable pour le projet car aujourd'hui on utilise github assez mal et au final on s'y perd clairement dans les issues.

Le must serait de developper un truc maison pour ZdS, mais mon petit doigt me dit qu'il y'a d'autres priorité, et que JIRA serait une meilleure solution provisoire que le bordel a

[2014-10-20 14:38] SpaceFox commented on #200
Ce n'est **jamais** une bonne solution, à moins d'avoir des besoins ultra-spécifiques qu'on a pas.

[2014-10-20 14:40] GerardPaligot commented on #200
Je t'aime firm1 ! ^^

[2014-10-20 14:41] firm1 commented on #6
Je connais bien Docker (je l'utilise même très souvent), mais le problème est là :

Il consomme le moins possible, mais il consomme quand même. C'est bien pour ça que je sépare les deux, pour garder un support pour ceux qui n'ont pas les moyens de travailler avec docker (ou n'importe quel autre outil)

[2014-10-20 14:43] firm1 commented on #200
Veux tu m'épous .....

Non mais plus sérieusement, on a déjà la problématique des taches infra sur lesquelles ont a aucun suivi par exemple. On a une gestion des priorité un poil désastreuse actuellement. Tout ceci est déjà fourni gratuitement dans JIRA, pourquoi ne pas l'utiliser ?

Quand je disais le must, c'était surtout pour avoir un truc vraiment intégré au site et user-friendly. Aucun outil

[2014-10-20 14:45] GerardPaligot commented on #6
Avons-nous une idée d'une configuration minimale (hardware et/ou software) pour l'utilisation de docker ?

[2014-10-20 14:47] SpaceFox commented on #200
Ben en même temps, aujourd'hui on a plusieurs problèmes en parallèle :
- On a des issues sur github, sur le forum et parfois même dans la tête des gens
- La gestion des priorités on l'a à l'heure actuelle : bloquant, à faire bientôt, à faire si on a le temps un jour. 95% des tickets _sont_ priorisés. Sauf que personne n'en a rien à faire (principalement parce que les trucs bloquants sont les trucs

[2014-10-20 14:48] SpaceFox commented on #200
J'en rajoute : on avait un redmine à une époque. On a arrêté de l'utiliser le jour où on a commencé à utiliser Github. Et ce n'était pas prémédité.

[2014-10-20 14:52] SpaceFox commented on #200
D'autre part, parlons de communication : s'il y a un problème _"depuis l'ouverture du code"_, c'est _"depuis l'ouverture du code"_ qu'il faut en parler.

Là, ça fait deux mois et je n'ai jamais entendu cette doléance, pas même quand j'ai [relancé le sujet il y a un mois et demie](https://github.com/zestedesavoir/zds-site/issues/200#issuecomment-48522868).

[2014-10-20 15:13] SpaceFox commented on #200
Je précise un truc : je n'ai rien contre JIRA ou un quelconque concurrent si ça peut améliorer notre process et notre qualité de développement.

Ce que je veux dire ici, c'est que depuis le début on se fixe sur les outils, alors que les outils ne sont clairement pas le problème : ce sont les processus. J'ai expliqué pourquoi [ici](https://github.com/zestedesavoir/zds-site/issues/200#issuecomment-5

[2014-10-20 15:17] firm1 commented on #200
Pour ma défense j'en avais parlé sur le topic de changement de bugtracker (il a malheuresement disparu depuis) et je l'ai relancé [ici](http://zestedesavoir.com/forums/sujet/954/creer-un-depot-github-pour-gerer-les-issues-infra/?page=1#p20270) :)

[2014-10-20 15:22] SpaceFox commented on #200
D'accord, je vois mieux les arguments.

Du coup reprenons : si on passe à JIRA :
1. Comment migre-ton les tickets actuels ? (Je rappelle qu'un double ticketing ne fonctionnera pas par expérience sur ce projet ; il y a 136 tickets à migrer en ne migrant que les ouverts, avec leurs discussions associées).
2. Comment peut-on faire pour les les priorité assignées soient _un minimum_ suivies ?
3. Comme

[2014-10-20 15:24] gustavi commented on #200
J'avoue que les différentes discutions que j'avais loupés m'ont fait un peu changer d'avis.

Si JIRA apporte vraiment quelque chose pourquoi pas, ça semble beaucoup plus flexible et ça centralise un peu tout. Je pense qu'un ZdS-meeting sur l'infra et le process de dev pourrait être une bonne chose.

@SpaceFox : il existe un truc pour migrer fait par les gens de JIRA. (cf. https://www.atlassian.com

[2014-10-20 15:33] firm1 commented on #200
C'est intégré dans JIRA, on lui passe le lien projet et il migre toutes les issues actuelles. Et propose même par défaut de les ranger par priorités.

[2014-10-20 15:50] SpaceFox commented on #200
OK, donc la contrainte technique principale est levée.

Maintenant rentrons dans le fonctionnel :

1._Concrètement_, que nous apporte JIRA que Github ne nous permet pas ?
2. Quels seraient les inconvénients ? (je pense notamment à l'hébergement si ce n'est pas fourni en SaaS).

L'idée est de sortir une balance bénéfice / risques pour savoir dans quoi on se lance, pourquoi et avec quels risques et

[2014-10-20 16:21] GerardPaligot commented on #200
Prenons les fonctionnalités clés des deux plateformes.
1. [Fonctionnalités de JIRA](http://www.getapp.com/jira-application)
2. [Fonctionnalités de GitHub](http://www.getapp.com/github-application)

GitHub est excellent dans la gestion d'un repo git (évidemment) au sens large (visualisation des sources, de la documentation, d'outils liés à l'intégration contenu, dans la visualisation des branches,

[2014-10-20 17:31] SpaceFox commented on #1581
Mergé, corrigé, fermé.

[2014-10-20 17:31] #1581 closed, assigned to Eskimon

[2014-10-20 17:41] Eskimon commented on #200
Outils ou pas, en tout cas faut pas se faire d'illusions sur ces points la:

C'est un projet bénévole, les gens font ce qui les intéresse (normal) donc faut pas rêver, les issues chiantes resteront chiantes et resteront les dernieres corrigées...

[2014-10-20 17:44] SpaceFox commented on #200
Je suis 100% d'accord hein : on avance comme on peut. Si des gens se motivent à faire les trucs chiant, tant mieux, et je remercie grandement ces personnes ! Sinon tant pis, on ne peut obliger personne ici.

Par contre il faut bien comprendre que si ceci est vrai _de fait_ :

Aucun outil ne permettra de nous améliorer sur ce point, parce qu'on est un projet amateur. Râler sur ce point c'est donc f

[2014-10-20 19:33] gustavi opened #1612 "Plus de fixtures"
Aujourd'hui le contenu du site est assez pauvre. Il serait sympa d'avoir par défaut quelques tutoriels et articles !

[2014-10-20 20:05] firm1 commented on #1612
En doublon avec la #914 ?

[2014-10-20 22:02] #1260 closed, assigned to Alex-D

[2014-10-20 22:43] Alex-D commented on #200
Yop !

Personnellement, les seules choses que j'ai à dire sont :
- si JIRA est dans son coin sans lien avec les notifs Github, je ne les verrais clairement pas (je suis plusieurs projets sur Github, donc je passe régulièrement et j'y vois ZdS au passage)
- JIRA c'est de la belle mécanique, mais on a déjà du mal à maintenir tout le bousin avec une gestion "simple" des tickets, qu'est-ce que ça va ê

[2014-10-20 22:51] Alex-D commented on #1612
Doublon oui.

[2014-10-20 22:52] #1612 closed, assigned to nobody

[2014-10-20 22:55] Alex-D commented on #1606
J'avais déjà vu le bug, mais j'ai jamais trop compris le pourquoi du comment, faudrait que je m'y re-penche.

C'est pas vraiment un bug, un glitch visuel si on veut, mais pas un bug.

[2014-10-21 06:35] SpaceFox commented on #1606
Un élément qui ne fonctionne pas comme prévu, c'est un bug. Même ultra-mineur, ça reste un bug.

[2014-10-21 06:47] cgabard commented on #200
Perso j'ai du mal a voir en quoi Jira reglerai quoique ce soit. Je ne pense pas que la gestion des ticket soit notre plus gros problème actuellement.

Pour les utilisateur, 90% des bugs sont rapporter sur le forum donc ça changera rien. Pour les dev je doute. Perso j'ai déjà du mal a suivre les ticket ici alors que j'utilise github quotidiennement pour le taf donc sur un service annexe il est fort

[2014-10-21 06:48] SpaceFox commented on #200
Attention, je vais faire mon chef de projet relou dans le type d'argumentation :

Donc si je reprends vos messages et la liste des "Key Features of JIRA"  et que je raye ceux dont on a pas l'utilité :
- Project Tracking
- ~~Agile, Scrum, Kanban~~ <-- on ne fait pas ça
- ~~Project Planning~~ <-- on ne planifie pas
- Issue Tracking
- Code Integration
- ~~Service Desk~~
- Mobile <-- on va espérer que

[2014-10-21 07:18] gustavi commented on #1612
Désolé !

[2014-10-21 07:21] GerardPaligot commented on #200
Rapidement, j'ai été voir quelques projets open-sources (Wordpress, JUnit et commons-lang) pour voir leur gestion des tickets. Aucun des trois n'utilisent la gestion des tickets de GitHub hormis JUnit pour recenser les bugs de la communauté.

Je suppose (parce que je n'ai trouvé pour aucun des trois), ils ont tous un système de ticketing à côté pour la gestion du projet.

Dans notre cas, nous avon

[2014-10-21 07:30] Eskimon commented on #200
Tout cela on le fait déjà sur GH non ?

[2014-10-21 07:34] cgabard commented on #200
Ce qui me laisse perplexe c'est que j'ai du mal a voir en quoi changer d'outil va améliorer le process actuel. La principale raison est que là tout de suite je n'arrive toujours pas a vraiment mettre le doigts sur ce qu'est le problème. Donc dire que Jira les résoudra...

On va bientôt fêter les un an du premier commit, il est peut etre temps d'organiser un débat sur le forum pour centraliser les

[2014-10-21 07:37] cgabard commented on #200
Je ne suis pas surs que ce soit des projets comparables au notre. Entre autre parce que "Wordpress" est géré par une entreprise (ce qui du coup explique l'obligation d'avoir un vrai outils de ticket) ou "commons-lang" qui est un projet Apache et qui donc hérite automatiquement du process de l'organisation (c'est même pas une question de choix du projet). JUnit je ne connait pas assez pour juger.

[2014-10-21 07:41] gustavi commented on #200
Notons également que WordPress c'est 23% du web. Je pense qu'on parle de choses pas comparables.

[2014-10-21 07:42] GerardPaligot commented on #200
Tout à fait mais de manière plus chaotique. Par exemple, à mon niveau de contribution, je n'ai aucune idée de savoir comment vous renseigner les version pour les fixes dans vos issues, ni les issues prioritaires/majeures (pour l'instant, je regarde plus ou moins les bloquantes).

En fait, selon moi, le problème c'est que nos issues regroupent un peu de tout (des discussions, des suggestions, des b

[2014-10-21 07:55] cgabard commented on #200
N'est ce pas juste un problème de communication interne alors ? Car si je me souvient bien, les prioritaires sont celles notés "Bloquante" et on a dit que hotfix mit a part, on ne fixait pas de millestone sur les issues car on a pas les ressources de developpeurs necessaire pour les respecter et que ça n'entraine que des retard dans la livraison des versions.

Je comprend. Est ce que JIRA évitera

[2014-10-21 08:10] GerardPaligot commented on #200
D'accord mais les bloquantes, il n'y en a pas énormément. Les centaines d'autres issues, c'est freestyle.

Pas du tout. Comme je le mentionne, si nous restons sur GitHub, il faut que les choses changent en discutant sur les forums et, une fois le débat arrivé à son terme, transférer sur GitHub ou les discussions sont minimes (nous ne sommes pas à l'abris de quelques modifications à faire après cou

[2014-10-21 08:13] cgabard commented on #200
Du coup est ce que la solution que tu préconise ne serait pas de décourager (voir d'empecher ?) les gens de poster sur github et réserver ça pour les dev et de forcer tout le monde a aller sur le forum ?

Malheureusement je pense que cela ne servira pas a grand chose, ce sont surtout les dev qui discutent et ils discutent où ils voient la conversation. Ce débat serait mieux sur le forum et pour ta

[2014-10-21 08:16] firm1 commented on #200
La discussion a pas mal avancée ici, cool. Pour moi mon avis est le suivant :
- Aujourd'hui on fais de la gestion de ticket en double. Les membres postent sur le forum, et "parfois" ces bugs son raportés sur github. La tâche de recopie sur Github représente une perte de temps non négligeable car :
  - il faut suivre des deux cotés (quand on y pense)
  - à chaque avancée du problème il faut aller s

[2014-10-21 08:36] SpaceFox commented on #200
Les "bloquants", c'est les tickets qui risquent de péter un truc en prod tant qu'ils ne sont pas corrigés.

Les autres sont rangés dans des milestones qui disent en gros "ce serait cool de pas trop laisser trainer" et "franchement, ça peut attender".

Ça c'est clairement un problème, prévu depuis le jour où on a décidé d'avoir ce fonctionnement. Comme prévu à l'époque, je ne touche pas à la synchr

[2014-10-21 08:45] cgabard commented on #200
2014-10-21 10:36 GMT+02:00 SpaceFox notifications@github.com:

Et la deuxième est d'etre centralisé avec le code. Ça ne fait qu'un endroit
a regarder.

Christophe.

[2014-10-21 08:48] firm1 commented on #200
**SpaceFox a écrit**

Et comme je l'avais déjà dit à l'époque c'était déjà une erreur de conserver ce fonctionnement après ouverture du code. La synchro Github <--> Forums est chiante et perso, ça fait parti des barrières à l'entrée qui font que j'ai tout de suite la flemme de proposer une PR correctrice.

**SpaceFox a écrit**

Le truc c'est que les tags doivent parler à tout le monde, pas juste a

[2014-10-21 08:54] SpaceFox commented on #200
Ah mais je suis 100% d'accord, et c'est exactement pour ça que je ne touche pas à cette synchro.

On avait conservé ce mode parce que certains s'étaient proposés pour assurer la synchro. Force est de constater que le fonctionnement prévu n'est pas effectif :(

[2014-10-21 09:01] cgabard commented on #200
Donc le prob c'est d'avoir 2 bug tracker. Donc on fait quoi ? On vire le
forum bug et suggestion ?
Le 21 oct. 2014 10:54, "SpaceFox" notifications@github.com a écrit :

[2014-10-21 09:04] GerardPaligot commented on #200
- On ne pourra pas empêcher les membres de rapporter des bugs à gauche et à droite. Actuellement, le forum les centralise.
- Les issues GitHub vont devenir interminable.
- Il faut l'avis de la communauté pour une aussi grosse décision.

[2014-10-21 09:27] gustavi commented on #200
Je pense qu'il faudrait éventuellement intégré une solution automatique pour reporter les bugs du forums sur GitHub. Les dev pourraient reporter les problèmes via un bouton et un encadré en dessus du premier message mettrait en évidence l'état sur GitHub (reporté, en cours, corrigé/prochaine version, etc). Lidéal serait qu'à chaque étape/ajout et suppression de tag sur GitHub une notif soit envoyé

[2014-10-21 09:28] Eskimon commented on #200
Euh... je m’étais engage a le faire, et je suis quasiment persuade que ça a été fait correctement pendant treeeees longtemps, au moins jusqu'a la v1. Le suivi n'est ptet plus aussi bon maintenant, mais avec le peu d'issues qui remonte maintenant compare a la sortie officielle du site c'est beaucoup moins un problème.

Si on vire B&S, c'est certain que les utilisateurs n'ayant pas de GH ne feront p

[2014-10-21 09:30] cgabard commented on #200
2014-10-21 11:27 GMT+02:00 Laville Augustin notifications@github.com:

Ça c'est possible via l'API de Github mais vu qu'on a déjà du mal a gérer
le dev des fonctionnalités du site, est ce que développer un pont entre les
deux vaut vraiment le coup ?

Christophe.

[2014-10-21 09:31] SpaceFox commented on #200
Je ne nie pas. Mais la sortie de la v1.0 technique, ça fait 2 mois maintenant.

+1

[2014-10-21 10:00] cgabard commented on #200
Pour préciser, en théorie je serait pour avoir notre forum et GH liés
automatiquement via l'API. Ça simplifierai grandement les choses et
supprimerai le besoin de rapporter les issues d'un coté vers l'autre tout
en ayant tout intégré au site. Mais en pratique ça va demander du dev, des
tests et probablement des probs qu'on a pas encore trouvé. Après si c'est
la meilleur solution au problème, on pe

[2014-10-21 11:55] Alex-D commented on #200
J'aime bien l'idée d'intégrer Github à ZdS, so +1.

[2014-10-21 11:58] Alex-D commented on #1606
On a décidément jamais la même définition du bug. Mais soit, disons que c'est un bug.

[2014-10-21 12:05] SpaceFox commented on #200
Je propose qu'on fasse une autre issue (ou mieux : une ZEP) pour cette histoire d'intégration Github <---> ZdS ; et qu'on revienne au problème initial : que fait-on en attendant ?

[2014-10-21 12:05] SpaceFox commented on #1606
Je veux bien ta définition du bug si ce n'est pas "un comportement imprévu".

[2014-10-21 12:10] Alex-D commented on #200
On continue comme on est là, on va pas perdre du temps sur ça, alors qu'on a tout juste les ressources pour le dev.

Personnellement, mis à part la légère désynchro site/Github, je ne vois aucun problème.
- Toutes les issues sont taguées
- Les PR sont taguées selon leur difficulté (facile/difficile/pas de tag) et leur type (front/back/...)
- Les fix pour une version donnée sont indiqués par la mil

[2014-10-21 12:12] GerardPaligot commented on #200
Si nous avons une intégration pour une version 42 (mais une intégration quand même) de GitHub, je propose de garder le ticketing de GitHub mais de répertorier dans la documentation un fonctionnement clair et établi de cet outil.

Connaitre le sens de tous les tags, avoir un mécanisme de priorisation, demander aux contributeurs de maintenir leur avancement et continuer à recenser les bugs/suggestio

[2014-10-21 12:12] GerardPaligot commented on #200
+1

[2014-10-21 12:17] GerardPaligot commented on #1606
A partir du moment où il y a un comportement non désiré pour une fonctionnalité donnée (même visuel), c'est un bug. Il est peut-être inutile de continuer ce débat assez ridicule. :)

[2014-10-22 15:05] SpaceFox opened #1614 "Filtre des membres par IP"
Proposer un filtre par IP afin de repérer les multis facilement.

[2014-10-22 15:05] SpaceFox commented on #1614
Corrigé et mergé --> fermé.

[2014-10-22 15:05] #1614 closed, assigned to Eskimon

[2014-10-22 15:05] SpaceFox commented on #1614
(Je crois que c'est l'issue la plus rapidement fermée de tout le projet !)

[2014-10-22 16:57] Eskimon commented on #1614
(ouai mais c'etait un peu cheaté :D )

[2014-10-22 18:50] SpaceFox commented on #1354
Voilà une bonne chose de faite !

[2014-10-22 18:50] #1354 closed, assigned to SpaceFox

[2014-10-22 18:54] SpaceFox commented on #1511
Ceci n'a à priori rien à voir avec l'infra.

[2014-10-22 18:55] SpaceFox commented on #1493
On a une idée du où et du combien ?

[2014-10-22 19:57] SpaceFox commented on #1588
Corrigé et mergé --> Fermé.

[2014-10-22 19:58] SpaceFox commented on #1533
Corrigé et mergé --> Fermé.

[2014-10-22 19:58] #1533 closed, assigned to nobody

[2014-10-22 20:45] SpaceFox commented on #1588
Alors, @firm1, tes instructions concernant le ZDS_APP ne fonctionnent absolument pas.

Les mises à jour de l'objet ZDS_APP se font sur un objet qui vient d'un autre fichier... et donc qui est invisible... et donc qui ne peut pas être mis à jour. Remplacé, OK. Pas mis à jour.

Donc je suis obligé de copier **tout** l'objet ZDS_APP pour que ça marche (parce que si je ne copie que les clés qui ont ch

[2014-10-22 21:20] firm1 commented on #1588
Il y'a pas de raison que ça soit aussi immense. Je suis certain de l'avoir déjà fait chez moi pourtant.

[2014-10-22 22:21] SpaceFox commented on #1588
Peut-être, mais c'est ce que j'ai constaté en préprod. Tu peux essayer de ton côté si tu trouves mieux.

[2014-10-23 06:46] SpaceFox commented on #1588
Je viens de penser à un truc : est-ce qu'un import de ZDS_APP ne suffirait pas en fait ?

(Il faut vraiment que je me mette sérieusement au Python moi).

[2014-10-23 10:13] cgabard opened #1617 "Export de galeries"
Je pense que de la même façon qu'il est possible d'exporter un tuto ou d'importer une gallerie il serait utile de permettre l'export de galleries. En fait quand on exporte les sources d'un tutos, on a pas les images.

Je ne vous cache pas que c'est entre autre pour un besoin personnel (mais lié au dev du site) que je le propose : l'export avec support complet de notre markdown vers les pdf avance

[2014-10-23 10:59] Eskimon opened #1618 "Manque de coherence timestamp alert moderation"
Le timestamp sur les alertes de modération manque un peu de cohérence. En effet, sur l'alerte il est fait mention de l'heure du message a modérer, alors qu'il serait probablement mieux de montrer l'heure de l’émission de l'alerte non ?

Un exemple :

![screenshot](https://cloud.githubusercontent.com/assets/761168/4751856/65aca14a-5aa3-11e4-8d31-cd2ba2dd52f8.png)

[2014-10-23 12:56] Alex-D commented on #1618
Faudrait vérifier que cette ligne appelle bien la bonne fonction/attribut.

https://github.com/zestedesavoir/zds-site/blob/dev/templates/base.html#L359

[2014-10-24 11:14] firm1 opened #1620 "Les tags masquent le titre des sujets sur mobile"
![screenshot_2014-10-24-13-10-53](https://cloud.githubusercontent.com/assets/6066015/4768730/1b8b053a-5b6f-11e4-89a1-3b7a62d5debe.png)

 Tout est dans le titre (et sur l'image). Quand on au moins 3 tags on ne voit plus le titre.

Smartphone Android/Chrome.

[2014-10-24 12:10] thauti opened #1621 "Internationalisation du site"
Suite à cette discution : http://zestedesavoir.com/forums/sujet/1505/traduire-le-site/

Est-il envisageable (et pertinent) de mettre en place les outils d'internationalisation de Django, afin de faciliter la traduction du site.
Sachant que cela implique de revoir tout le code afin d'enlever le texte brut.

La question de faire des commits/PR/issues en anglais et faire traduire la documentation du

[2014-10-24 12:17] cgabard commented on #1621
C'est envisageable et pertinent.

On le savait, on avait fait le choix de ne pas le faire tant que personne en avait besoin. C'est le cas maintenant !

A priori on partirait pour autoriser ticket et PR en anglais, sans les imposer pour autant. Je pense qu'une transition en douceur ne fera pas de mal.

[2014-10-24 12:46] GerardPaligot commented on #1621
Dans un souci d'"opensourcification", ça me semble nécessaire. Et je regrette la décision qui avait été prise à l'époque de tout faire en français mais c'est du passé.

[2014-10-24 12:55] SpaceFox commented on #1621
Ben c'était pas vraiment prévu que quelqu'un d'autre se serve réellement du code du site, et encore moins aussi vite !

Plus sérieusement, de mon point de vue (qui se discute donc) :
1. Code en anglais
2. Commentaires en anglais
3. Messages de commits en anglais
4. PR et issues en français ou en anglais

Pourquoi toujours du français sur les PR et les issues ? Par pragmatisme. Aujourd'hui, toute l

[2014-10-24 13:05] GerardPaligot commented on #1621
Je ne pense pas que tout doit être en anglais. Comme tu le dis, nous avons parfois du mal à se comprendre en français alors en anglais, ça risque d'être encore pire. Je pense que le code, les commentaires, les commits **et la documentation** doivent être en anglais.

Pour les issues et les PRs, le premier message peut être en anglais (c'est même mieux pour que les anglophones puissent au moins com

[2014-10-24 13:07] SpaceFox commented on #1621
Ah oui, la doc bien entendu doit être en anglais.

[2014-10-24 14:06] firm1 commented on #1621
Je ne serais pas si catégorique. Car ça signifie non seulement de traduire toute [la doc actuelle](http://zds-site.readthedocs.org/fr/latest/), mais aussi que la nouvelle doc soit produite automatiquement et uniquement en anglais.

ZdS est developpé aujourd'hui par des francophones, je serais plutot pour dire que l'obligation de rédiger la doc liée aux nouvelles features doit être faite en françai

[2014-10-24 14:20] thauti commented on #1621
Ou, mais bon c'est pas une urgence absolue, il peut très bien y avoir du temps entre la publication de la version Française et la version Anglaise.
Surtout qu'au final il n'y a pas grand chose à traduire (même si c'est vraiment ennuyeux à faire ça) si chacun en fait une petite partie pendant 1 mois, ça passe.

[2014-10-24 14:25] GerardPaligot commented on #1621
@firm1 : Je peux comprendre l'argument pour les issues et les PRs, pas pour la documentation.

[2014-10-24 16:53] gustavi commented on #584
404 sur le lien @Eskimon

[2014-10-24 17:03] Axylium commented on #584
Normal, c'était un sujet de la bêta !

[2014-10-24 17:04] SpaceFox commented on #1357
Peut-on avoir un point d'avancement ici ? J'ai du mal à savoir dans quelle mesure la doc est avancée (le front n'est pas du tout mon boulot, donc c'est pas facile pour évaluer) et le dernier commit sur la branche date du 12 septembre.

[2014-10-24 22:09] Alex-D commented on #1357
Je n'ai pas des masses de temps en ce moment. Le peu de temps que j'ai, je le passe sur le code plutôt que la doc.

En gros tu peux voir dans la sidebar les ticks verts sont les parties finies, la fiole = en cours, et rien = y a rien :/

[2014-10-24 22:10] Alex-D commented on #1620
C'est un bug qui est résolu par une PR en cours.

[2014-10-25 14:49] SpaceFox opened #1626 "Améliorer l'accessibilité des listes de topics"
Tout est ici : http://zestedesavoir.com/forums/sujet/1516/accessibilite-de-zds-aux-lecteurs-decran-et-au-clavier/?page=1#p26154

[2014-10-25 18:13] GerardPaligot commented on #1626
Son sujet semble avoir comme objectif de recenser toutes les améliorations liées à l'accessibilité, pas uniquement sur les listes des topics. Il faudrait peut-être copier coller de son message tout ce qui est lié à ces listes.

[2014-10-25 19:29] Alex-D commented on #1626
Personnellement, je préfère qu'on en parle sur le site avant de créer des issues telles que celle-ci. Ca permettra d'éviter d'avoir soit des issues qui englobent trop de choses, soit des issues trop petites.

Il faut analyser la chose avant de s'emballer en somme.

[2014-10-25 19:30] artragis commented on #1599
Juste une question : est-ce que cette issue a à voir avec la ZEP 12 ou bien les petites évolutions style ZEP 3 ou import d'archive?

[2014-10-25 20:05] Alex-D commented on #1599
Ca a à voir avec toute modification qui impliquerait une modification du manifest.json en gros.

Donc a priori ZEP-12, ZEP-08 sont concernées. La ZEP-03 non.

[2014-10-25 20:08] SpaceFox commented on #1626
@GerardPaligot tu as raison, je rajoute la partie du message qui concerne ce ticket dans le 1er message. Comme ça, si le sujet couvre autre chose et/ou dévie, on aura un ticket propre.

@Alex-D il y a clairement un problème d'accessibilité, décrit avec précision par l'une des rares personnes à même de nous faire un retour sur l'utilisation _exacte_ et non _supposée_ d'un lecteur d'écran. Le ticket

[2014-10-25 20:22] artragis commented on #1599
Donc la question que je me pose est :
Durant l'implantation d'une ZEP, doit-on être :
- rétrocompatible ? i.e dire "si les nouveaux éléments n'existent pas, on utilise un comportement par défaut"
- migrable à la manière python 2 -> python 3 : i.e on crée une moulinette qui migre.

Notons que l'un comme l'autre peuvent demander un gros travail alors autant se décider tout de suite clairement.

[2014-10-25 20:36] Alex-D commented on #1599
Tu as résumé à ta façon ce que @GerardPaligot disait dans le premier message. C'est tout le problème et c'est ici qu'on en parle, et donc il faut y réfléchir. En sachant que la migration = réécrire l'historique git du repo du tutoriel, cf les messages de @Taluu pour comprendre les problèmes que ça soulève.

[2014-10-25 21:07] Alex-D opened #1628 "[1.2] Impossible de signaler un message"
Il est impossible de signaler un message sur la version 1.2 (voir preprod).

Le soucis vient du fait que dans les paramètres en POST il n'y a pas "signal_message" qui est le name du bouton de soumission.

C'est étrange et je ne comprends pas pourquoi.

[2014-10-25 21:08] Alex-D commented on #1618
J'ai trouvé d'où ça venait, PR soon.

[2014-10-25 21:55] Alex-D commented on #1628
J'ai trouvé le pourquoi du comment : le name étant sur le bouton, et le bouton étant passé en disable pour éviter le double-clic, le name n'est plus envoyé. De ce fait, ça plante en fait sur tous les formulaires du site qui utilisent un name sur les button.

Du coup, je prend, c'est du front et non du back.

[2014-10-26 06:55] artragis commented on #1599
Justement, je n'ai pas compris pourquoi il faut réécrire l'historique...
Le 25/10/2014 22:36, Alexandre Demode a écrit :

[2014-10-26 19:46] Alex-D commented on #1599
Parce que si on affiche une ancienne version d'un tutoriel qui a un manifest qui ne colle pas aux exigences de la version actuelle, ça va planter. Typiquement si on change la structure du JSON pour quelque chose de différent (genre déplacer l'introduction, ou changer le nom de la clé) et bien il faudra répercuter la modification sur tout l'historique afin de pouvoir visionner n'importe quelle vers

[2014-10-26 20:39] SpaceFox commented on #935
Corrigé, mergé, fermé.

[2014-10-26 20:39] #935 closed, assigned to Alex-D

[2014-10-26 20:40] SpaceFox commented on #1620
Corrigé, mergé, fermé.

[2014-10-26 20:40] #1620 closed, assigned to Alex-D

[2014-10-26 22:16] firm1 commented on #1133
Mergé -> je ferme

[2014-10-26 22:16] firm1 commented on #1133
Mergé -> je ferme

[2014-10-26 22:16] #1133 closed, assigned to firm1

[2014-10-26 23:14] Alex-D commented on #1557
Mergé.

[2014-10-26 23:14] #1557 closed, assigned to Alex-D

[2014-10-27 06:54] Eskimon commented on #584
Normal mais dommage car du coup on a perdu toute trace de cette discussion...

[2014-10-27 09:47] Eskimon opened #1631 "Message d'avertissement pas en UTF8 = 500"
Ce message d'erreur n'est pas en utf8 et donc entraîne un message d'erreur:

https://github.com/zestedesavoir/zds-site/blob/dev/zds/gallery/views.py#L112

(question subsidiaire, comment a t'il passe la QA ?)

Pour resoudre si vous avez 5 minutes : Rajouter un "u" devant la declaration de la chaine pour la passer en unicode.
Bonus : rajouter un TU...

[2014-10-27 10:35] SpaceFox opened #1632 "MAJ des noms de domaine interdits dans les mails"
Met à jour la liste des noms de domaines interdits dans les mails.

[2014-10-27 10:36] SpaceFox commented on #1632
Corrigé avec la PR #1624.

[2014-10-27 10:36] #1632 closed, assigned to nobody

[2014-10-27 11:00] Alex-D commented on #584
L'idée n'était pas neuve, on sait très bien où on veut arriver. Globalement, c'est "juste" des changements de contraste pour passer de clair/foncé à foncé/clair.

Je ne l'ai pas fait jusqu'ici car secondaire et on avait beaucoup d'activité sur le front, s'il fallait maintenir deux déclinaison à chaque patch, ça aurait été un enfer ^^

[2014-10-27 11:33] Situphen opened #1633 "Rendre les messages d'erreur et d'avertissement plus cohérents entre eux"
Il faut corriger les fautes si il y en a et mettre un verbe et un point à tous les messages (ou ne pas en mettre à tous les messages).

Dans certains messages on tutoie et dans d'autres on vouvoie, il faut donc choisir soit l'un, soit l'autre.

_Si quelqu'un qui a les droits peut m'assigner à cette issue, ce serait cool ! :)_

[2014-10-27 11:35] Situphen commented on #1631
Je m'occupe de ça en même temps que l'issue #1633. Par contre pour les TU, je n'en ai jamais fait mais je veux bien essayer.

[2014-10-27 11:36] Eskimon commented on #1633
Non ca c'est voulu. Dans certains il y a une relation d’autorité ou le tutoiement ne passerait pas (cas d'un ban par exemple)

[2014-10-27 11:37] Eskimon commented on #1631
Pour les tests, regarde ce qui se fait dans `zds/members/tests/` :) et n’hésite pas a demander :)

[2014-10-27 11:38] Situphen commented on #1633
Ok, bah du coup, je vais faire attention à ça !

[2014-10-27 11:40] Eskimon commented on #1633
Comme d'hab, si tu as une question n’hésite pas :) (ca sera dommage de corriger pour rien des tournures qui n'en avait pas spécialement besoin)

[2014-10-27 11:51] firm1 opened #1634 "Les images .svg font planter la publication d'un tuto"
En essyant de publier un tuto je suis tombé sur une 500 car le tuto contient des images avec une extension svg.

[2014-10-27 11:58] Eskimon commented on #1634
Et la solution serait quoi ? Trouver un moyen de tolérer les svg ou les interdire ?

[2014-10-27 12:02] firm1 commented on #1634
Si possible les tolérer, sinon, appliquer le même traitement que celui
actuellement appliqué sur les liens d'images introuvables, c'est a dire
remplacer par un carré noir dans les exports (car c'est au niveau de
l'export que ça plante)
Le 27 oct. 2014 12:58, "Eskimon" notifications@github.com a écrit :

[2014-10-27 16:17] gustavi commented on #1634
Les logs :

[code]

Il faudrait retourner autre chose qu'une 500, même si c'est pas un fichier image. C'est au niveau de Django qu'on doit vérifier ça, avant de l'envoyer a PIL.

Je sais pas comment c'est géré aujourd'hui (mimetype ?) mais faut éviter de retourner des 500.

[2014-10-28 08:39] gustavi opened #1636 "UnboundLocalError: local variable 'gallery' referenced before assignment"
Erreur 500 via Sentry (titre à changer quand on a plus d'info sur le problème exact) dans zds.gallery.views in modify_gallery.

Les logs :

[code]

Event at Oct. 27, 2014, 9:44 a.m.

Ping @Eskimon c'est toi qui a fait l'erreur ( http://zdsappserver/galerie/modifier/).

En revanche il semblerait que  ça vienne de http://preprod.zestedesavoir.com alors que ça arrive sur le Sentry de la prod. Ping @S

[2014-10-28 08:50] gustavi opened #1637 "Erreur UTF8 lors de la suppression d'une gallerie liée à un tutoriel"
Reproduire le bug :
- Créer un tutoriel avec un caractère accentué (« é » par exemple)
- Essayer de supprimer la galerie associé

Les logs en détail :

[code]

Encore un souci d’Unicode. Je suis pas un grand connaisseur de python 2 mais un u'' doit fixer le problème je pense.

Je suis dessus.

[2014-10-28 08:52] Eskimon commented on #1637
Doublon je pense : https://github.com/zestedesavoir/zds-site/issues/1631

[2014-10-28 08:53] gustavi commented on #1637
Toutes mes excuses, j'avais pas vu passer l'autre.

[2014-10-28 08:53] #1637 closed, assigned to nobody

[2014-10-28 08:54] Eskimon commented on #1636
Je sais je l'ai fait exprès pour tester la reproduction et si le problème est bien ou je pensais ;)

Doublon : https://github.com/zestedesavoir/zds-site/issues/1631 ;)

[2014-10-28 08:55] gustavi commented on #1636
Non je pense pas que ce soit la même erreur. Il semblerait que la variable `gallery` ne soit pas définie (donc c'est pas un problème d'utf8).

[2014-10-28 08:56] gustavi commented on #1631
Plus d'infos sur le bug (j'avais ouvert une autre issue sans faire exprès).

Reproduire le bug :
- Créer un tutoriel avec un caractère accentué (« é » par exemple)
- Essayer de supprimer la galerie associé

Les logs en détail :

[code]

[2014-10-28 09:08] gustavi opened #1638 "Mauvaise redirection sur « zestedesavoir.com/tutoriels/telecharger/html/%3Ftutoriel%3D<n> »"
Quand on essaye d'accéder à « http://zestedesavoir.com/tutoriels/telecharger/html/%3Ftutoriel%3D432 », un « / » est automatiquement rajouté à la fin et fait tout planter (ce qui n'est pas le cas avec http://zestedesavoir.com/tutoriels/telecharger/html/?tutoriel=432). Je suppose que ça vient de `APPEND_SLASH` qui est à `True` par défaut (est c'est bien ; https://docs.djangoproject.com/en/dev/ref/se

[2014-10-28 09:26] gustavi commented on #1343
Il semblerait qu'il reste très peu d'erreur lié à ce problème et elle sont fixés (3 erreur sur la dernière semaine).

Si c'est les tuto importés de la beta publique alors il faudrait les fixer un par un non ? Je vois pas comment dans le back on peut éviter ça si le problème vient des tutos eux même.

[2014-10-28 09:28] cgabard commented on #1343
En effet mais il reste une question : comment peut on fixer les tutos qui
font planter la home ?

Christophe.

2014-10-28 10:26 GMT+01:00 Laville Augustin notifications@github.com:

[2014-10-28 09:36] gustavi opened #1639 "ValueError: No JSON object could be decoded"
C'est ce qui produit le plus d'erreurs 500 sur le site (plus de 6600 et rien que 595 hier soir).

C'est un bug qui sévit de temps à autre à une période donnée (cf http://i.imgur.com/bkrmFUR.png ).

Ping @SpaceFox : est-ce que c'est lié au serveur de prod ?

C'est cette ligne qui fait tout planter : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/models.py#L250. Il semblerait que le

[2014-10-28 09:37] gustavi commented on #1343
@cgabard je viens juste de reporter l'erreur qui n'est pas la même : https://github.com/zestedesavoir/zds-site/issues/1639

[2014-10-28 09:41] gustavi commented on #1639
En fait ça touche pas que la page d'accueil et on est à beaucoup plus que 6600.

[2014-10-28 09:44] SpaceFox commented on #1639
C'est pas un doublon de https://github.com/zestedesavoir/zds-site/issues/1544 ?

[2014-10-28 09:48] gustavi commented on #1639
Non non, aucun rapport. Là on parle d'une grosse partie des .JSON qui sont inaccessibles pendant une certaine période. Regarde les logs vers hier 19h et tu vas vite voir qu'il y avait un problème.

PS : @SpaceFox le Sentry de prod et preprod semble confondus alors qu'il faudrait les séparer !

[2014-10-28 09:52] GerardPaligot commented on #1639
A première vue, nous pourrions avoir des informations plus précises si nous utilisons `simplejson` plutôt que `json` : http://stackoverflow.com/a/14956465/3006692

[2014-10-28 09:54] Eskimon commented on #1639
C'est deja le cas non ? https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/models.py#L6

[2014-10-28 09:56] GerardPaligot commented on #1639
Avec cet import, je n'ai juste aucune idée de l'import qui est utilisé et très sincèrement, ça semble bien dégueulasse comme solution.

[2014-10-28 10:28] gustavi commented on #1631
Est-ce qu'il est possible de rendre les titres des issues qui concernent des 500 un peu plus explicites ?

[2014-10-28 10:41] gustavi opened #1640 "Adresse email avec des caractères spéciaux provoque des 500 avec gravatar"
On a un membre qui a une adresse email avec un caractère spécial dedans et ça lève une exception quand on appelle cette ligne : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/models.py#L123.

L'email ressemble à : `<foo>@\xfbgmail.com`

Le gros souci c'est que ça affecte toutes les pages où il y a l'avatar de ce membre.

Est-ce qu'il est normal qu'il puisse avoir une adresse email c

[2014-10-28 10:44] Eskimon commented on #1640
A priori dorénavant oui : http://fr.wikipedia.org/wiki/Adresse_%C3%A9lectronique

En gros, ne suffirait-il pas de passer simplement en unicode la chaîne (rajout du 'u').

[2014-10-28 10:51] SpaceFox commented on #1640
Je crois qu'il va falloir faire un patch "unicode", qui colle des "u"
devant TOUTES les chaînes de caractères du code.

Le 28 octobre 2014 11:44, Eskimon notifications@github.com a écrit :

[2014-10-28 10:52] gustavi commented on #1640
Ou alors on passe à python3 et plus de problème !

[2014-10-28 10:54] SpaceFox commented on #1640
Si tu corriges les dépendances qui ne supportent pas Python 3, ça peut se
faire !

2014-10-28 11:52 GMT+01:00 Laville Augustin notifications@github.com:

[2014-10-28 11:27] gustavi commented on #280
Je pense qu'on peut ré-ouvrir cette issue. Je suis en train de faire des tests avec python 3 et seules 2 dépendances n'ont pas voulues s'installer (python-memcached et GitPython). J'ai pas tester le fonctionnement des autres mais vu le nombre de problème qu'on a avec l'utf8 et autre, passer à python3 (ce qui sera nécessaire un jour) est pour moi une bonne idée. Surtout que Django depuis la 1.5 sup

[2014-10-28 11:30] SpaceFox commented on #280
Le connecteur MySQL est compatible Python 3 maintenant ?
Le 28 oct. 2014 12:27, "Laville Augustin" notifications@github.com a
écrit :

[2014-10-28 11:31] cgabard commented on #280
Alors, techniquement nos extensions de python-markdown ne le sont pas mais :

1- Ça peut etre fait vite
2- vu le travail a faire pour passer, on utilisera probablement pandoc d'ici là

Pour GitPython, le mieux serait qu'on profite de la refonte du module de tuto/article pour utiliser libgit2. Ça va nous obliger a fournir une version compilé de la lib pour les windowsiens mais c'est le moment de le

[2014-10-28 11:33] gustavi commented on #280
@SpaceFox ça dépend ce que tu utilises mais : https://docs.djangoproject.com/en/dev/ref/databases/#mysql-db-api-drivers .

Je suis en train de tester plus en détail les dépendances qui foirent lors de l'exécution du code. Pour memcached j'ai trouvé un fork compatible python3 mais aucune activité depuis 2 ans : https://pypi.python.org/pypi/python3-memcached/ .

[2014-10-28 11:36] firm1 commented on #280
Boarf, je ne suis toujours pas convaincu de l'urgence de passer a python 3.

Si c'est juste pour une question d'utf8 on peut déjà les corriger en passant toutes les chaines a "u".

Pour le long terme oui il faudra passer a python3 mais uniquement sur le long terme selon moi.

[2014-10-28 12:11] cgabard commented on #280
2014-10-28 12:36 GMT+01:00 firm1 notifications@github.com:

Ou simplement ajouter `from __future__ import unicode_literals` en haut des
fichiers

Christophe.

[2014-10-28 12:12] cgabard commented on #280
BTW je maintient que le passage a libgit2 est une bonne idée

Christophe.

2014-10-28 13:11 GMT+01:00 Christophe Gabard christophe.gabard@gmail.com:

[2014-10-28 12:16] SpaceFox commented on #280
Pour memcached j'utilise pylibmc mais je ne sais pas s'il est compatible
python 3.

Sinon je plusseoie @firm1 : pour moi il n'y a pas d'urgence à passer à
Python 3 (surtout avec un problème de dépendance tel que GitPython, qui est
tout le socle du site) mais plutôt à mettre ceci en application :
http://sametmax.com/lencoding-en-python-une-bonne-fois-pour-toute/

Le 28 octobre 2014 12:36, firm1 not

[2014-10-28 12:27] gustavi commented on #280
Alors je propose de mettre un `from __future__ import unicode_literals` dans chaque fichier pour fixer le problème et ne pas à avoir à virer le u' ... ' lors du passage à python3. En même temps il faudrait virer les u' ... '.

[2014-10-28 12:33] Eskimon commented on #280
Le truc cool c'est qu'une bonne regex ca peut virer tout les `u'...'` et les `u"..."`

Il y a une raison pythonesque de pourquoi le `from machin` etait pas utilise plus tot ?

[2014-10-28 12:34] SpaceFox commented on #280
Je penche pour une méconnaissance

2014-10-28 13:33 GMT+01:00 Eskimon notifications@github.com:

[2014-10-28 12:44] firm1 commented on #280
Il y'a aussi et "surtout" les effets de bords qui vont avec.

Ce n'est pas anodin comme modifications
Le 28 oct. 2014 13:34, "SpaceFox" notifications@github.com a écrit :

[2014-10-28 12:44] gustavi commented on #280
Je vais fixer tout ça alors.

[2014-10-28 12:44] SpaceFox commented on #280
Par exemple ?

[2014-10-28 12:45] cgabard commented on #280
Pas besoin regex, le script 2to3 fournit par python s'en occupe tres bien.

Yep, le principal soucis est qu'il va être compliqué d'utilisé une chaine ascii. En gros ça passe tout en unicode. C'est tres bien si tout est en unicode, si certains morceaux de codes ne fonctionnent qu'avec des chaines Ascii brut, ça risque de casser. Mais a la limite c'est un mal pour un bien car ça veut dire que ça pet

[2014-10-28 12:47] cgabard commented on #280
A noter qu'il existe des libs, tel que six utilisé entre autre par Django, qui permettent de faciliter la transition en proposition des éléments au comportement commun entre les deux versions. Ce qui permet de produire du code compatible 2 et 3

[2014-10-28 12:53] firm1 commented on #280
Toutes les chaines ingurgitées par gitpython et aussi python-markdon.
Le 28 oct. 2014 13:45, "SpaceFox" notifications@github.com a écrit :

[2014-10-28 12:54] gustavi commented on #280
Donc on part sur quoi ? On fixe avec `from __future__ import unicode_literals` ou des `u` de partout ?

[2014-10-28 13:17] firm1 commented on #280
Moi perso je préfère la solution à coup de u"..." qu'on pourra virer tout d'un coup le jour ou l'on migrera.

[2014-10-28 14:56] gustavi opened #1642 "Autoriser les adresses mail avec des caractères non-ASCII"
Aujourd'hui il n'est pas possible de s'enregistrer avec des caractères non-ASCII. Ça serait bien qu'on puisse le faire pour respecter les différentes RFC (cf. http://fr.wikipedia.org/wiki/Adresse_%C3%A9lectronique ).

[2014-10-28 14:57] SpaceFox commented on #1642
(Je fais mon chieur sur le titre, mais ces caractères ne sont "spéciaux" que pour les anglophones).

[2014-10-28 15:05] gustavi commented on #1642
(Pas faux mais j'ai suivi Wikipédia http://fr.wikipedia.org/wiki/Aide:Liste_de_caract%C3%A8res_sp%C3%A9ciaux ;) )

[2014-10-28 16:11] Eskimon opened #1643 "Profil : rendre la section "Article" de la sidebar plus "logique""
Source:[Jérôme Deuchnord](http://zestedesavoir.com/forums/sujet/1424/profil-rendre-la-section-article-de-la-sidebar-plus-logique/?page=1#p24490)

---

Hello,

Je me permets une petite suggestion quant à l'affichage de la section _Articles_ de la sidebar : je trouve pour ma part qu'elle manque de « logique » (au sens humain du terme, pas au sens mathématique).

Voici par exemple ce que l'on peut vo

[2014-10-28 16:18] Eskimon commented on #1642
En fait je suis pas sur qu'il y ait un probleme ici... Sur ma version locale en mysql j'arrive à créer un compte avec accent sans souci

[2014-10-28 16:19] Eskimon commented on #1642
Autant pour moi, ca marche si le domaine est non-ascii mais pas la partie avant le @

[2014-10-28 16:39] Deuchnord commented on #1643
Il faudrait que je mette plus souvent mes suggestions et rapports de bugs sur Github :/

[2014-10-28 16:53] Eskimon commented on #1643
Nan pas obligé, ca nous permet aussi de filtrer les doublons etc si jamais.
Passer par le forum permet de discuter surtout (pour les évolutions notamment)

[2014-10-28 16:54] Deuchnord commented on #1643
Ah, d'accord. :)
Le 28/10/2014 17:53, Eskimon a écrit :

[2014-10-28 17:05] Eskimon commented on #1642
Bon, c'est une limite de Django, on n'y peut rien... https://code.djangoproject.com/ticket/21859

[2014-10-28 18:02] gustavi commented on #1642
Il suffit de réécrire temporairement une fonction du validateur : https://docs.djangoproject.com/en/dev/_modules/django/core/validators/#EmailValidator

[2014-10-28 23:07] Alex-D commented on #1643
Faudrait juste soustraire ceux qui sont en ligne et en bêta à ceux en rédaction au final non ?

[2014-10-28 23:11] gustavi commented on #1643
Oui. Je suis dessus, PR demain matin.

[2014-10-28 23:15] Alex-D commented on #1639
@GerardPaligot c'est pour la compatibilité multi OS. En prod c'est `ujson` qui est pris si je me souviens bien.

[2014-10-28 23:17] Alex-D commented on #1638
C'est pas ngnix qui rajoute le slash ?

[2014-10-28 23:20] firm1 opened #1644 "L'icône des tutoriels chevauche le texte"
Tout est sur l'image
![screenshot_2014-10-29-00-17-31](https://cloud.githubusercontent.com/assets/6066015/4818845/d57139ce-5ef8-11e4-8218-7f4a6b778ad7.png)

[2014-10-28 23:20] Alex-D commented on #1636
`galery` ? C'est `gallery` partout dans le code normalement.

[2014-10-28 23:33] firm1 commented on #1639
J'avoue que là comme ça les titres des issues ne sont pas très parlant pour quelqu'un qui souhaite les corriger.

Il faudrait (quand l'origine du problème sera trouvé) noter le titre adéquat.

Et pour @GerardPaligot, @Alex-D a bien répondu, on a une lib (usjon) qui est utilisée pour la lecture sur la prod car elle est plus rapide, cependant, elle n'est pas compatible multi-os, raison pour laquelle

[2014-10-28 23:34] firm1 commented on #1638
si

[2014-10-28 23:41] firm1 opened #1645 "Du texte qui se chevauche dans le sommaire global d'un big tuto"
Tout en image (cf. [lien en préprod](http://preprod.zestedesavoir.com/tutoriels/403/apprenez-a-programmer-avec-ada/), Chapitre 7).

Navigateur Chrome 37.

![capture d ecran de 2014-10-29 00 38 04](https://cloud.githubusercontent.com/assets/6066015/4819022/b31af772-5efb-11e4-9203-872cb9689e57.png)

[2014-10-29 07:01] Eskimon commented on #1636
c'est juste @gustavi qui c'est trompe en ecriveant, c'est bien `gallery` partout dans le code

[2014-10-29 09:05] gustavi commented on #1636
C'est du franglais !!!

On peut savoir comment t'as réussi à faire péter ça @Eskimon ?

[2014-10-29 09:15] gustavi commented on #1643
Le léger souci que j'ai c'est qu'en fait un article est toujours en brouillon.

[2014-10-29 09:19] Eskimon commented on #1643
Il y a pas un moyen de faire une comparaison de dates entre date de publication et date de dernière édition (si une telle donnée existe)

[2014-10-29 09:20] gustavi commented on #1643
je vais regarder ça, ça me semble assez hard comme solution.

[2014-10-29 10:00] gustavi commented on #1643
SI jamais un article est « brouillon » et « validation » on fait quoi ? On l'affiche dans les deux ? Ça me semble le mieux.

[2014-10-29 11:16] gustavi opened #1648 "Le filtre « brouillon » ne fonctionne pas sur les tutoriels"
Tout est dans le titre.

Même problème que ici : https://github.com/zestedesavoir/zds-site/pull/1646/
Je corrige ça.

[2014-10-29 11:49] gustavi opened #1650 "Le logo sur la page « À propos » rend très mal"
Vu sur la preprod : http://preprod.zestedesavoir.com/pages/apropos/.

Le bug en question pour les autres : http://i.imgur.com/Xu7VX2x.png .

PING @Alex-D : il faudrait rajouter un background sur l'image ?

[2014-10-29 11:53] gustavi commented on #1650
Il semblerait que ce soit OK sur dev mais j'ai pas vu de commit qui parle de ça. Bug ou bien oublie de la mise à jour du pack.zip ?

[2014-10-29 12:27] firm1 commented on #1643
La règle de fait être : un article/tuto est en brouillon/rédaction si et seulement si la version draft est différente de la version publique. Autrement dit, si `sha_draft <> sha_public`

[2014-10-29 12:44] Eskimon opened #1651 "Un membre banni ET en lecture seule a un mauvais statut"
Si un membre est banni ET mis en lecture seule (redondant mais admettons) alors le statut sous son avatar est absent au lieu de mentionner le "BANNI" (visible uniquement pour les staff)

Pour cela il faut changer la priorité de l'un sur l'autre dans le filtre: https://github.com/zestedesavoir/zds-site/blob/92da3bef853066b6ffa44c53f3c3c590b9565430/zds/utils/templatetags/profile.py#L38

[2014-10-29 15:27] gustavi opened #1652 "Le travis.yml est invalide"
cf https://lint.travis-ci.org/

Il faut enlever « pip » dans « cache ».

[2014-10-29 15:31] Eskimon commented on #1651
Ah nan, ca n'a pas l'air de venir de la en fait... Du coup je comprend pas, en prod un membre est banni et pourtant rien ne s'affiche sous son avatar...

[2014-10-29 16:30] Alex-D commented on #1651
Il y a peut être quelque chose à voir par ici aussi :
https://github.com/zestedesavoir/zds-site/blob/dev/templates/misc/badge.part.html

[2014-10-29 16:39] Alex-D commented on #1650
Non. C'est juste que l'image utilisée est celle du logo en haut à gauche, il faudrait sortir une autre image pour cet endroit ou alors sortir une déclinaison du logo pour fond clair.

[2014-10-29 16:39] Alex-D commented on #1650
La version en prod n'est pas bonne (pour une raison inconnue) donc ça se peut oui.

[2014-10-29 16:42] Alex-D commented on #1645
Il interdire les titres de plus de 4 mots :-°

Faut "juste" rajouter une marge à droite.

[2014-10-29 16:48] SpaceFox commented on #1650
Vu que c'est 100% automatisé, ça me fait peur là.

Le 29 octobre 2014 17:39, Alexandre Demode notifications@github.com a
écrit :

[2014-10-29 17:01] Alex-D commented on #1650
Moi je t'ai déjà dit que l'image n'était pas à jour, chaque fois tu rejette la faute sur node et tout les outils front. Tout ce que je peux dire c'est que partout où je m'en sert (Win 8, Win 8.1, Debian Squeeze) ça fonctionne sans que je n'ai à bidouiller.

[2014-10-29 17:04] SpaceFox commented on #1650
Ça va bien la paranoïa oui ? Où est-ce que je dis ici que c'est la faute à Node ?

Je dis ici que toute la chaîne de déploiement est automatisée. Toute. La récupération Git et tout.

Donc je ne comprends pas comment on peut avoir _un_ élément qui foire en plein milieu. _Tous_ les éléments j'aurais compris, mais _un_ c'est vraiment bizarre.

Ça implique forcément qu'on a un bout de processus non ma

[2014-10-29 18:22] Alex-D commented on #1650
Je le sais bien, mais elle produit le pack.zip qui est utilisé par les dev pour la branche de développement. Donc c'est cohérents qu'ils n'aient pas le logo transparent si sur la prod c'est l'ancien logo avec fond.

Non, en préprod ça fonctionne impec. Il n'y a que la prod qui a foiré et que sur cette image.

Mon avis est qu'il y a du y avoir une tambouille d'utilisateurs/droit/chmod sur le fichie

[2014-10-30 07:18] Deuchnord commented on #1643
Hmmm, en fait je n'avais pas envisagé ce cas particulier : un article
peut être en validation et avoir été modifié, mais la version en
validation reste en validation. Je pencherais donc effectivement plus
pour la proposition d'Augustin, puisque la version en validation peut
très bien être mise en ligne avant l'envoi en validation de l'état en
brouillon (avis subjectif, pour ouvrir le débat :P). C'

[2014-10-30 13:30] firm1 opened #1653 "Le filtre du contenu en validation par catégorie ne marche pas"
L'url concernée est celle-la `/tutoriels/validation/?subcategory=17`

Elle devrait lister l'ensemble des tutoriels en validation mais pour la sous catégorie 17. Elle ne marche pas pour l'instant car elle renvoie tous les tutoriels en validation.

Il en est de même pour les articles.

[2014-10-30 13:33] firm1 opened #1654 "La date de dernière mise à jour d'un tuto est fausse"
La date de dernière mise à jour d'un tuto n'est pas mise à jour lorsqu'on modifie les extraits du tutoriel.

Ce qui fait donc que la date de dernière mise à jour affichée est souvent fausse. Et peut porter à confusion

[2014-10-31 09:23] firm1 opened #1655 "Erreur 500 si je tente de lire un article ne rédaction via son url publique"
L'url en cause est celle là : `http://zestedesavoir.com/articles/105/crime/`

Etant donné que l'article est en cours de rédaction seulement, et que je tente d'y acceder via son url publique, j'ai une erreur 500 au lieu d'avoir tout simplement une 404.

Précision : l'erreur survient que je soit connecté ou pas. Staff ou pas.

[2014-10-31 09:34] Eskimon commented on #1655
C'est pas pareil que ca ?

https://github.com/zestedesavoir/zds-site/issues/1518

[2014-10-31 11:16] firm1 commented on #1655
On dirait bien. Mais pourquoi c'est pas corrigé du coup ?
Le 31 oct. 2014 10:34, "Eskimon" notifications@github.com a écrit :

[2014-10-31 11:22] Eskimon commented on #1518
Dans quelle version ce merge a t'il ete fait ?

[2014-10-31 11:22] Eskimon commented on #1655
La bonne question... c'est ptet en preprod ?

[2014-10-31 11:23] firm1 commented on #1529
On peut en parler ici : http://zestedesavoir.com/forums/sujet/1564/rationalisation-des-outils-de-developpement/

[2014-10-31 12:50] firm1 commented on #1655
En effet, c'est en preprod. :( je ferme ici donc

[2014-10-31 12:50] #1655 closed, assigned to nobody

[2014-10-31 13:17] firm1 commented on #1357
Je ne sais pas si c'est ici qu'il faut poster ou sur le forum, mais dans le doute je le fais ici.

Actuellement la documentation existante du front est sur une branche orpheline du depot ce qui pose plusieurs soucis.
- la documentation du front-end est séparée de la documentation du back-end (urls différentes, format de rédaction différents, visuels différents). Ce qui concours à entrainer de l'am

[2014-10-31 14:29] Alex-D commented on #1357
Comment est-ce qu'on fait une démo du code si on utilise un truc du genre readthedoc ? Impossible à moins d'avoir des iframes partout qui vont pointer sur un tas de fichier HTML et encore, ça sera pas possible de faire certaines choses sans ouvrir une nouvelle fenêtre, là où la doc telle qu'elle est actuellement peut le faire (header, footer, sidebar, etc.).

Suffit de faire 2 PR.

En local le tru

[2014-10-31 14:43] SpaceFox commented on #1357
Super pratique à l'utilisation : _"tu dois aussi faire une PR sur une autre branche pour mettre à jour la doc front"_. Très pratique aussi pour vérifier la cohérence de la doc avec la PR.

Ne pourrait-on pas réintégrer ceci à sa place, i.e. dans les branches principales ?

[2014-10-31 14:56] Alex-D commented on #1357
Il faut que je regarde si on peut mettre une partie de la doc (le markdown) sur `dev` et le conteneur sur `gh-pages`.

Ainsi on aurait la doc en texte en local, le rendu en ligne (et en local en faisant un checkout) et on pourrait maintenir la doc sur `dev`.

[2014-10-31 14:58] Alex-D commented on #1518
C'était dans la 1.1, désolé.

[2014-10-31 15:20] Eskimon commented on #1518
Un truc m'échappe, si c'était dans la 1.1 le bug devrait pas être visible en prod' (ni en préprod')

[2014-10-31 15:23] firm1 commented on #1357
Ce serait vraiment l'idéal selon moi.

Ok je vois.

Ne pourrais t-on pas imaginer d'appliquer tout simplement le css de zds à l'ensemble de la doc sphinx ?

[2014-10-31 23:06] Alex-D commented on #1357
Si tu veux, mais personnellement je ne m'en chargerais pas et ça ne doit pas affecter les fichiers du projet, uniquement les fichiers de la doc ou le générateur (aucune idée de comment ça fonctionne).

J'ai codé en truc rapido avec AngularJS pour proposer un truc qui tourne assez vite et sans me casser la tête, maintenant si vous avez envie de mettre ça dans Sphinx, c'est comme ça vous chante, moi

[2014-10-31 23:09] Alex-D commented on #1518
Pourtant j'ai vérifié les dates et c'est bien en 1.1. Quand bien même ça serait 1.1b c'est quand même en prod. Et si c'est en 1.2, faut check sur la preprod pour en être sûr, mais je ne comprendrais plus rien à la logique du temps :-°

[2014-11-01 16:31] Alex-D commented on #1628
Corrigé, mergé.

[2014-11-01 16:31] #1628 closed, assigned to Alex-D

[2014-11-01 17:05] Axylium opened #1657 "Banissement et envoie de MP"
Salut tout le monde !

J'ai pu remarqué en faisant joue-joue avec ma version locale de ZdS, que quand un modo bannit un membre, ce dernier reçoit un MP.. Or, si le membre est bannit, il ne va pas pouvoir lire ses MPs.. Ne serait-il pas plus pertinnent d'envoyer un e-mail dans ce cas ?

[2014-11-01 23:31] Alex-D commented on #1645
Mergé en release.

[2014-11-01 23:31] #1645 closed, assigned to Alex-D

[2014-11-02 00:00] Alex-D commented on #1644
Corrigé. Validé. Mergé.

[2014-11-02 00:05] Alex-D commented on #1651
En local je ne peux rien faire, si je LS ou Ban j'ai cette stack d'erreur :

[code]

[2014-11-02 00:20] Alex-D commented on #1606
Corrigé. Validé. Mergé.

[2014-11-02 00:20] #1606 closed, assigned to Alex-D

[2014-11-02 00:31] Alex-D commented on #1477
Coucou, juste pour dire que j'avais fait une PR qui résolvait le problème il y a deux mois et que le débat n'a pas été ouvert (pour moi il n'y a pas de débat, donc je ne l'ouvrirais pas). On a donc actuellement toujours le problème.

Mais, pour moi ça rentre dans le cadre de la réfacto de l'accueil : le design d'un item vers un tutoriel va changer sur l'accueil et donc ça doit changer sur la liste

[2014-11-02 06:57] gustavi commented on #1651
Oui `detail` n'est pas défini par défaut. Il faudrait la mettre à `''` ou `None` (ou une vraie valeur en fonction de ce qui se passe).

[2014-11-02 06:59] gustavi commented on #1477
Je suis d'accord avec ça.

[2014-11-02 13:43] Luthaf commented on #6
Pour linux : un noyau récent (>3.8). Pour OsX et Windows, la config de VirtualBox (pour faire tourner la VM avec le noyau linux), et un téléchargement de 150M.

Les dépendances formelles sont listées là : http://docs.docker.com/installation/binaries/

Pour virtualBox, j'ai trouvé ça : http://stackoverflow.com/a/24204805, https://www.virtualbox.org/wiki/End-user_documentation

[2014-11-02 15:44] Alex-D commented on #6
Ca me semble raisonnable.

[2014-11-02 15:45] Alex-D commented on #1651
Donc c'est un bug bloquant de la 1.2 si je comprends bien ?

`None` me semble plus propre que `''`

[2014-11-02 17:29] Alex-D commented on #1650
Corrigé, testé, mergé. Arrivera en 1.3.

[2014-11-02 18:02] Alex-D commented on #1170
Mergé il y a un mois.

[2014-11-02 18:02] #1170 closed, assigned to Alex-D

[2014-11-02 19:47] Alex-D commented on #1153
J'ai opté pour une autre solution qui résout le problème plus proprement selon moi.

Si on ne peut pas poster de nouveau message, alors on a pas de formulaire. Et alors on a le message d'avertissement formaté d'une façon plus jolie et plus lisible.

Voyez la PR #1664 pour avoir une idée du rendu.

[2014-11-02 20:02] SpaceFox commented on #1652
Une bonne fois pour toutes : le tag "Infra" ne sert **que** dans les situations où une action est requise **sur le serveur**.

[2014-11-02 20:04] SpaceFox commented on #1652
Mergé --> Fermé

[2014-11-02 20:04] #1652 closed, assigned to Alex-D

[2014-11-02 20:10] SpaceFox commented on #1657
Bien vu, en effet :)

[2014-11-02 21:17] Alex-D commented on #1153
Corrigé. Mergé.

[2014-11-02 21:17] #1153 closed, assigned to Alex-D

[2014-11-02 21:53] SpaceFox commented on #1588
Ça fonctionne semble-t-il. Du coup tout ce qui est au-dessus n'est plus d'actualité et cette issue est résolue.

[2014-11-03 11:07] jcval opened #1665 "Problème statistiques modération"
Prérequis : groupe staff.

Situation : j'ai un message signalé. Lorsque je consulte mon profil, la statistique "Alertes actives" vaut 0. Par contre, si un autre staff consulte mon profil, je suppose qu'il est affiché 1 (à confirmer).

[2014-11-03 11:16] Eskimon commented on #1665
Alerte active je vois 0 aussi sur ton profil

[2014-11-03 11:22] jcval commented on #1665
Par contre, tout fonctionne sur l'autre alerte. Peut être est-ce lié au groupe.

@Eskimon : peux tu rajouter les tags ?

[2014-11-03 11:59] Eskimon commented on #1665
Pour ceux que ca interesse, c'est ici que ca se passe:

Dans le template : https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/profile.html#L396
Dans le modele : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/models.py#L200

[2014-11-03 17:27] firm1 commented on #1588
Je crois que dans la même lancée, tu peux virer tout le contenu des variables `MIDDLEWARE_CLASSES` `THUMBNAIL_ALIASES` et `INSTALLED_APPS` car, elles ne servent plus à rien ici et/ou font doublons avec le settings.py. Et la dernière lance même des trucs que le projet n'utilise pas.

[2014-11-03 17:29] SpaceFox commented on #1588
OK.

2014-11-03 18:27 GMT+01:00 firm1 notifications@github.com:

[2014-11-04 18:46] Eskimon commented on #1651
Je me désengage, j'ai pas trop de temps/énergie en ce moment

[2014-11-05 10:45] gustavi opened #1666 "Problème d'affichage sur « Tous les articles »"
Le bug en question : https://i.imgur.com/0jIZu9v.png.

[2014-11-05 10:53] firm1 commented on #1544
Juste pour remonter un peu cette issue qui est **très** bloquante tout de même.

[2014-11-05 13:56] Alex-D commented on #1666
Ça va être corrigé avec la nouvelle accueil, cf ZEP 4 qui change le style des items.

Et il aurait fallu plus de précision : URL, taille d'écran, navigateur, etc.

[2014-11-05 20:34] SpaceFox commented on #944
Corrigé, mergé, fermé.

[2014-11-05 20:34] #944 closed, assigned to Alex-D

[2014-11-05 21:38] Alex-D commented on #1626
Des h4 ont été rajouté, testé, mergé. Ca arrivera donc dans la 1.3.

Pour d'autres soucis d'accessibilité, il faudra créer un ticket par problème. Ici le soucis des listes de sujets a été considéré.

[2014-11-05 21:38] #1626 closed, assigned to Alex-D

[2014-11-05 21:38] gustavi commented on #1666
Firefox 32.0.3 (ArchLinux), http://zestedesavoir.com/articles/, 1600*900

[2014-11-05 21:49] SpaceFox commented on #1520
C'est bon ici !

[2014-11-05 21:49] #1520 closed, assigned to firm1

[2014-11-05 21:49] SpaceFox commented on #1341
C'est fait !

[2014-11-05 21:49] #1341 closed, assigned to nobody

[2014-11-05 21:53] SpaceFox commented on #1448
C'est fait ici !

[2014-11-05 21:53] #1448 closed, assigned to SpaceFox

[2014-11-05 22:03] firm1 opened #1669 "La liste des topics sur mobile s'affiche mal"
Tout en image (depuis le passage en 1.2)

Chrome sur Android

![screenshot_2014-11-05-22-58-32](https://cloud.githubusercontent.com/assets/6066015/4926922/625ad45a-6537-11e4-9d3e-8c557a93c5fe.png)

[2014-11-05 22:12] firm1 commented on #1588
Je réouvre ici, car le fichier update.md doit être MAJ pour prendre en compte l'ajout de l'import de ZDS_APP dans le settings_prod.py

[2014-11-05 22:17] firm1 opened #1670 "La liste des topics s'affiche très mal sur PC en 90%"
Chrome 37 sur PC, voir la capture. Le bug est introduit depuis la v1.2

![capture d ecran de 2014-11-05 23 16 09](https://cloud.githubusercontent.com/assets/6066015/4927212/81c50bf6-6539-11e4-8238-ada65080d1d1.png)

[2014-11-05 22:19] SpaceFox commented on #1588
Je ne comprends pas l'intérêt de rouvrir ça après la MEP ?!

[2014-11-05 22:20] firm1 commented on #1588
Pour qu'on pense à mettre à jour ce fichier car il n'est pas bon pour le moment. J'ai hésité entre ouvrir ici et ouvrir une autre issue.

[2014-11-05 22:21] SpaceFox commented on #1670
Aucun problème sous Chrome 38.0.2125.111 m.

Essaie de mettre ton cache à jour ?

[2014-11-05 22:22] SpaceFox commented on #1588
Mettre à jour quel fichier ? Je ne comprends rien à ce que tu dis...

[2014-11-05 22:24] firm1 opened #1671 "Affichage des tags dans un topic"
Sur ce [topic](http://zestedesavoir.com/forums/sujet/1463/suggestion-http-https-www-ou-pas/?page=1#p27653) j'ai l'affichage ci-dessous. Sur l'affichage des tags en haut à droite en bleu, on n'a pas de séparation entre le tag http et le tag suggestion (on est censé avoir une ligne verticale blanche qui sépare les deux comme a coté). Alors qu'il s'agit en réalité de deux tags différents.

Chrome 37

[2014-11-05 22:25] firm1 commented on #1588
[ce fichier](https://github.com/zestedesavoir/zds-site/blob/dev/update.md) ne prend pas en compte les remarques faites [ici](https://github.com/zestedesavoir/zds-site/issues/1588#issuecomment-61425538)

[2014-11-05 22:26] firm1 commented on #1670
Cache mis à jour et ça ne change rien.

[2014-11-05 22:26] SpaceFox commented on #1671
Non reproductible sous Windows 8 : Chrome 38 / Opera 25 / IE11 / FF32.

Vérifie ton cache.

[2014-11-05 22:27] SpaceFox commented on #1588
J'ai envie de dire : OSEF, les environnements le prennent en compte. Et personne d'autre n'utilise ZdS donc n'utiliseront ce bout du fichier.

[2014-11-05 22:29] Axylium commented on #1670
Sous Firefox 33.0 je n'ai pas ce problème qui apparaît sur les pages de topics, par-contre, je l'ai sur les pages de profils.

Cache mis à jour !

[2014-11-05 22:29] SpaceFox commented on #1670
Non reproductible sous Windows 8 : Chrome 38 / Opera 25 / IE11 / FF32.

Merci d'envoyer les URLs des pages problématiques.

[2014-11-05 22:31] firm1 commented on #1670
Firefox 32 (ubuntu), c'est moins pire, mais il y'a aussi un bug.

url : http://zestedesavoir.com/forums/sujets/tag/218/beta/

![capture d ecran de 2014-11-05 23 29 57](https://cloud.githubusercontent.com/assets/6066015/4927443/7bcaaec0-653b-11e4-8148-0abccc181bce.png)

[2014-11-05 22:32] Axylium commented on #1670
Par-exemple sur ma page de profil : http://zestedesavoir.com/membres/voir/Flori%40n.B/

Et je rectifie aussi ce que j'ai dit avant, je l'ai également sur les forums. Dès qu'un sous-titre passe sur deux lignes.

Pour info je l'ai sur : Firefox 33.0 & Chromium 37.0.2062.120 (le tout sous ubuntu)

[2014-11-05 22:39] firm1 opened #1672 "Les emails sont illisibles sur la page de profil"
Sur ma page de profil, mon email est devenu illisible (depuis la v1.2) :
 http://zestedesavoir.com/membres/voir/firm1/#infos-generales

Tout ce que je vois c'est ça : `E-mail : %s`

Chrome 37 / Ubuntu

[2014-11-05 22:42] firm1 opened #1673 "Affichage des tutoriels en beta depuis un profil membre est cassé"
url : http://zestedesavoir.com/tutoriels/recherche/174/?type=beta

Chrome 37/Ubuntu

![capture d ecran de 2014-11-05 23 41 25](https://cloud.githubusercontent.com/assets/6066015/4927596/facac8e4-653c-11e4-8f60-2e4cd5c558db.png)

[2014-11-05 22:48] firm1 opened #1674 "Le logo sur la page à propos pointe sur la preprod."
via [Luthaf](http://zestedesavoir.com/forums/sujet/1596/lien-vers-la-preprod-sur-la-page-da-propos/)

En effet en allant sur [la page en question](http://zestedesavoir.com/pages/apropos/), on voit le souci.

[2014-11-05 22:49] Axylium opened #1675 "Lien vers la préprod en prod"
Par Luthaf sur ZdS :

J'ai vite regardé et, l'image du logo est mise à partir d'une URL de la préprod. Je pense donc que c'est cela qui génère la demande d'authentification.

[2014-11-05 22:50] Axylium commented on #1675
Grillé par @firm1, je ferme !

[2014-11-05 22:50] #1675 closed, assigned to nobody

[2014-11-05 22:52] firm1 opened #1676 "Lien vers la preprod dans les emails de notifications"
via [Luthaf](http://zestedesavoir.com/forums/sujet/1597/liens-vers-la-preprod-dans-les-email-de-notifs-mp/)

Je penche ici pour un problème dans le settings_prod.py

[2014-11-05 23:02] firm1 opened #1677 "Erreur 500 en essayant de résoudre une alerte"
Comme on peut le voir dans la capture ci-dessous, j'ai tenté de résoudre une alerte sur un topic du forum beta et j'ai une erreur 500 sur l'url : http://zestedesavoir.com/forums/resolution_alerte/

PS : l'alerte n'est toujours pas résolue.

![capture d ecran de 2014-11-05 23 59 22](https://cloud.githubusercontent.com/assets/6066015/4927934/b880d278-653f-11e4-8202-ed54b9755105.png)

[2014-11-06 00:02] Alex-D commented on #1669
J'ai un hotfix.

[2014-11-06 00:05] Alex-D commented on #1669
Done. A valider.

[2014-11-06 00:07] Alex-D commented on #1671
Ca doit être lié à tes pilotes graphiques. Et dans l'absolu c'est méga mineur et très spécifique (à priori c'est ta config matérielle/logiciel bas niveau plus que navigateur).

[2014-11-06 00:10] Alex-D commented on #1676
Je justifie le tag bloquant : c'est un problème général qui touche donc les emails d'inscription et de confirmation. C'est donc bloquant car a priori il n'est plus possible de s'inscrire.

[2014-11-06 00:11] Alex-D commented on #1674
A mon avis c'est lié à #1676

[2014-11-06 00:13] Alex-D commented on #1673
J'ai trouvé la source du bug, je fais un patch dans les jours à venir.

[2014-11-06 00:19] Alex-D commented on #1672
https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/profile.html#L64

Le front est OK. Ca vient du back (tout du moins, du Python).

[2014-11-06 00:23] Alex-D commented on #1670
Doublon de #1669 qui a déjà son petit patch en attente.

[2014-11-06 00:26] Alex-D commented on #1677
J'apporte un complément : ça plante uniquement si on met un message. Si on laisse la zone vide, ça passe. Donc il doit y avoir un soucis au niveau de la gestion du message dans le MP ou quelque chose de ce style.

[2014-11-06 01:11] Alex-D opened #1679 "Rediriger www.zestedesavoir.com vers zestedesavoir.com (ou l'inverse)"
Yop !

Les www sont facultatif, on a donc deux URLs possible pour toutes les pages, donc c'est pas cool, notamment pour le référencement, les cookies, le localStorage, etc. Car c'est un sous-domaine donc c'est gênant.

Il faudrait donc rediriger http://zestedesavoir.com vers http://www.zestedesavoir.com (ou l'inverse)

Personnellement, je trouve que les www sont inutiles et qu'ils sont un vestige

[2014-11-06 07:12] Eskimon commented on #1677
Ca doit etre ma faute je pense : https://github.com/zestedesavoir/zds-site/pull/1514

[2014-11-06 08:10] Eskimon opened #1680 "Les liens des miniatures ne sont pas préfixés"
Les liens des miniatures générées sont pas préfixés de `http://zestedesavoir.com`, du coup lors d'un clic on n'est pas renvoyé vers le site mais vers `/media/blablabla.png` au lieu de `http://zestedesavoir.com/media/blablabla.png`

[2014-11-06 08:13] firm1 commented on #1672
Comment ça se fait que ça marchait bien avant et que ça a pété à la MEP de la 1.2 ?

[2014-11-06 08:17] GerardPaligot commented on #1671
Whaaaaaaat ?! Comment la config matérielle peut influencer du CSS dans une page web ?

[2014-11-06 08:23] Eskimon commented on #1671
antialiasing, résolution et autre joyeuseté j'imagine ?

[2014-11-06 08:31] firm1 commented on #1671
Je veux bien "imaginer" que c'est ma confi matérielle, mais je ne vois pas comment ça ne pourrais se produire que sur un malheureux boutons qui traine au fond de l'écran.

J'ai jamais vu ça

[2014-11-06 08:35] GerardPaligot commented on #1671
Je rejoins à 100% @firm1. Je trouve juste ça surréaliste.

[2014-11-06 08:35] SpaceFox commented on #1671
100% d'accord, je ne pige pas.
Le 6 nov. 2014 09:35, "Gerard" notifications@github.com a écrit :

[2014-11-06 09:15] Alex-D commented on #1671
Bah écoutez :
- il y a une propriété CSS qui fonctionne partout sauf chez @firm1
- dans une configuration logiciel iso à la sienne on obtient pas le bug

Donc :
- je ne peux pas le reproduire
- je ne peux pas le corriger

La seule raison qui peut affecter ça c'est un bug de Blink ou un problème de sa config matériel / drivers.

Surtout qu'il y a du flotant et que le flotant ça n'a jamais été ce qu

[2014-11-06 09:39] Alex-D commented on #1672
Est-ce que ça pourrait venir du filtre `email_obfuscator` ?

[2014-11-06 09:41] Alex-D commented on #1680
~~Est-ce que ça n'est pas encore lié à #1676 à cause d'un problème de configuration du coup ?~~

J'ai dit une ânerie.

[2014-11-06 09:43] Alex-D commented on #1680
En théorie, quand tu es sur un domaine, et que tu fais `/quelquechose` ça doit fonctionner. Donc j'ai du mal à comprendre le bug. Tu as une page où le bug est visible ?

[2014-11-06 09:51] Eskimon commented on #1680
Test simple : Ajoute une image dans une gallerie puis colle le texte de la miniature (celle avec le lien) dans un sujet (fofo ? teste sur MP perso). Tu verras quand tu clic sur l'image ca bug

[2014-11-06 09:58] firm1 commented on #1672
J'aurai dit oui s'il avait changé entre la v1.1 et la v1.2, mais ce n'est pas le cas

[2014-11-06 10:04] gustavi opened #1681 "Problème d'UTF-8 lors de l'envoi d'un MP"
(Via Sentry)

La 1.2 semble avoir introduit un problème lors de l'envoi d'un MP avec des caractères spéciaux.

Logs :

[code]

où `g_topic.title` est « À propos de ton cours sur le ligne de commande ».

[2014-11-06 10:12] gustavi commented on #1677
J'ai trouvé d'où ça vient avec Sentry :

[code]

[2014-11-06 10:21] gustavi opened #1682 "Erreur 500 si la pagination n'est pas un int"
Quand on accède à url?page=_autre_chose_qu_un_int_ on se mange une belle 500, il serait peut-être préférable de renvoyer la page 1.

Le bout de code à modifier dans `zds/article/views.py` (ligne 166) est :

[code]

qu'il faudrait remplacer par :

[code]

Il faudrait même le faire de partout et peut-être mettre cette fonction dans `misc`.

[2014-11-06 10:33] Eskimon commented on #1681
Reponse : préfixez avec `u` pour passer en unicode.

[2014-11-06 10:33] Eskimon commented on #1677
Pour corriger, utiliser la variable d'opensourcisation

[2014-11-06 10:59] Alex-D commented on #1682
Non. La bonne solution est de renvoyer une 404. La page demandée est introuvable, c'est texto le cas dans lequel on rentre.

[2014-11-06 11:01] Alex-D commented on #1672
C'est aussi ce qui me semble étrange. Le front n'a pas été touché à ce niveau là non plus (en tous cas je n'y ai pas touché).

Donc ça pourrait venir de la PR qui filtre le contenu affiché pour les comptes bot qui foirerait dans le cas de cet attribut pour les membres ?

[2014-11-06 11:04] Alex-D commented on #1680
Bug de Markdown en fait.

[2014-11-06 11:06] Alex-D commented on #1680
Voilà rapporté : #54

En attendant on peut toujours rajouter le domaine comme tu dis, ~~mais ça veut dire qu'on aura des liens pétés en preprod par exemple.~~ En fait ça fonctionnera.

[2014-11-06 11:27] firm1 opened #1683 "Le menu de gauche de la page profil d'un membre incompréhensible sur mobile"
L'image parle d'elle même dans la zone d'activité.

Qu'est ce qui est en ligne ? Qu'est ce qui est en beta ?

Chrome/Android

![screenshot_2014-11-06-12-24-41](https://cloud.githubusercontent.com/assets/6066015/4935021/bf18c092-65a7-11e4-8119-8204fec658b0.png)

[2014-11-06 12:45] Alex-D commented on #1683
Ah en effet il manque un niveau. Ca se met à jour assez simplement.

Je vois d'ailleurs que les compteurs sont mal positionnés.

[2014-11-06 15:05] firm1 opened #1684 "Les liens automatiques des sujets en beta, pointent sur la preprod"
Sur [ce topic](http://zestedesavoir.com/forums/sujet/1603/redorer-votre-blason-sur-google-search-le-personal-branding/) crée automatiquement, le lien pointe sur la preprod.

[2014-11-06 15:09] firm1 commented on #1546
Je ré-ouvre ce ticket car en 1.2 j'ai encore les lien des [flux rss des articles](http://zestedesavoir.com/articles/flux/rss/) qui pointent vers la version offline.

[2014-11-06 15:11] Axylium commented on #1684
Petite question peut-être bête, mais bon. Ne serait-il pas plus pertinent d'ouvrir une seul issue pour tout ça ? Car nous savons maintenant que la plupart (tous ?) des liens pointent vers la préprod'. Et, apparement de ce que j'ai compris cela vient du même bug. Ouvrir un sujet pour chaque lien n'est-ce pas trop ?

[2014-11-06 15:16] firm1 opened #1685 "Le bouton de lecture zen est mal placé"
Comme on peut le voir sur l'image ci-dessous.

Firefox 33.
Windows 7
Url : http://zestedesavoir.com/tutoriels/234/creer-un-jeu-html5-avec-quintus/275/quelques-manipulations-de-base/1551/vocabulaire-de-base/

![bouggi](https://cloud.githubusercontent.com/assets/6066015/4937914/b6d2b512-65c7-11e4-830e-5fa63bca727d.PNG)

[2014-11-06 15:23] firm1 opened #1686 "Manque de cohérence dans l'affichage des licences"
Windows 7
Firefox 33

Tutoriel Quintus.

[url générale du tutoriel](http://zestedesavoir.com/tutoriels/234/creer-un-jeu-html5-avec-quintus/)

Affichage.
![step1](https://cloud.githubusercontent.com/assets/6066015/4938019/8603536e-65c8-11e4-8318-7c63fc475853.PNG)

[url d'un chapitre du même tutoriel](http://zestedesavoir.com/tutoriels/234/creer-un-jeu-html5-avec-quintus/275/quelques-manipulations-d

[2014-11-06 15:30] firm1 opened #1687 "Mauvaise optimisation de l'espace dans la liste des forums"
Windows 7
Firefox 33

url : http://zestedesavoir.com/forums/

Le tout en image.

![nextbref](https://cloud.githubusercontent.com/assets/6066015/4938201/bb7a0b36-65c9-11e4-88d8-c8edd606a6a6.PNG)

[2014-11-06 15:33] firm1 opened #1688 "Le bouton lecture zen se trouve sur des pages où il ne devrait pas"
Windows 7
Firefox 33

On aperçoit le bouton "lecture zen" dans l'historique d'un tutoriel. [ici par exemple](http://zestedesavoir.com/tutoriels/historique/234/creer-un-jeu-html5-avec-quintus/)

Ce n'est pas une page de lecture de contenu, donc le bouton "lecture zen" ne devrait pas y être

[2014-11-06 15:35] firm1 commented on #1686
Le bug est décidément présent un peu partout. sur la page d'historique (du même tutoriel) on voit le mot licence qui apparait deux fois (cf. image).

![topo](https://cloud.githubusercontent.com/assets/6066015/4938311/89d6b434-65ca-11e4-8725-6a0042b2e0d8.PNG)

[2014-11-06 15:38] Eskimon commented on #1686
Doublon ? https://github.com/zestedesavoir/zds-site/issues/1560

[2014-11-06 15:40] firm1 commented on #1686
Ah en effet :)

[2014-11-06 15:40] #1686 closed, assigned to nobody

[2014-11-06 16:15] Alex-D commented on #1688
La détection est automatique et en JS : s'il y a un titre + date + ... (voir le JS pour les détails) ça considère que c'est une page de contenu.

Donc, au niveau du code _c'est_ une page de contenu. Du coup, en ce sens c'est cohérent.

La solution serait alors d'ajouter une classe sur toutes les pages où il faut rajouter le bouton : beaucoup plus lourd mais plus sûr (puisqu'on sélectionne exacteme

[2014-11-06 16:17] Alex-D commented on #1687
Ca n'est pas un bug. Mais une suggestion : ça fonctionne et c'est le comportement souhaité jusqu'à preuve du contraire.

La justification est simple : c'est calqué sur la grille de la liste des sujets. Si on veut changer les largeurs ici, on augmente le risque d'incohérence entre cette page et celle de la liste des sujets.

[2014-11-06 16:20] Alex-D commented on #1685
En fait ce sont les tags qui ne sont pas à leur place.

[2014-11-06 16:24] #1674 closed, assigned to nobody

[2014-11-06 16:24] Alex-D opened #1690 "[1.2] La configuration de la prod n'est pas bonne"
Voilà tout un tas d'issues qui ont en réalité le même problème :
#1674
#1676
#1684

Il faut modifier le `settings_prod` pour mettre le bon domaine.

[2014-11-06 16:24] Alex-D commented on #1674
J'ai regroupé ici : #1690

[2014-11-06 16:24] Alex-D commented on #1676
J'ai regroupé ici : #1690

[2014-11-06 16:25] #1676 closed, assigned to nobody

[2014-11-06 16:25] Alex-D commented on #1684
J'ai regroupé ici : #1690

[2014-11-06 16:27] firm1 commented on #1687
Je ne sais pas d'ou vient cette suggestion, mais je trouve ça (d'un point de vue utilisateur pur) bugué.

J'ai de la place, mais elle n'est pas utilisée. L'utilisateur n'a pas besoin de savoir que le code est ré-utilisé ou pas, tout ce qu'il voit c'est qu'il y'a de l'espace qui est perdu sur la page.

[2014-11-06 16:30] Eskimon commented on #1677
Je prend, j'ai la correction + TU

[2014-11-06 16:30] Alex-D commented on #1687
Pas optimisé != bugué. On va arrêter de dire sans arrêt que tout est bugué. C'est impossible de savoir ce qui est prioritaire ou non après.

Bref. Il faut en discuter sur le forum et rapatrier le résultat de la discussion ici. Il faut savoir ce que les gens veulent qu'on affiche, où et comment.

[2014-11-06 16:44] firm1 opened #1691 "Manque de cohérence dans l'affichage du bouton d'aide markdown"
Firefox 33
Windows 7

Cf. Image. Dans la première capture, on voit que le bouton "Afficher l'aide markdown" n'est pas sur la même ligne que les boutons "Aperçu" et "Envoyer"

**Le mauvais exemple** :

![eloigne](https://cloud.githubusercontent.com/assets/6066015/4939519/a45a1bb2-65d3-11e4-8732-c46f39094872.PNG)

**Le bon exemple** :

![gud](https://cloud.githubusercontent.com/assets/6066015/493953

[2014-11-06 16:50] firm1 opened #1692 "La croix des alert-box n'est pas centrée"
Firefox 33
Windows 7

Le problème en image.

![label](https://cloud.githubusercontent.com/assets/6066015/4939694/eab0f4e0-65d4-11e4-9fe1-23122ba62dea.PNG)

[2014-11-06 17:05] firm1 opened #1694 "Erreur 500 quand on télécharge un tuto pas encore créé"
Il suffit d'aller sur [ce lien](http://zestedesavoir.com/tutoriels/telecharger/?tutoriel=), pour avoir une erreur 500.

J'ai réussi à l'avoir en tentant de télécharger (puisque le lien m'était proposé) un tutoriel sans l'avoir crée depuis via ce [lien](http://zestedesavoir.com/tutoriels/nouveau/tutoriel/) et en cliquant sur archive.

[2014-11-06 17:10] Eskimon commented on #1687
Toutafé

[2014-11-06 17:33] GerardPaligot commented on #1687
Ce "bug" est loin de me choquer. Là est toute la difficulté dans le responsive design. Toi tu vois de la place, une autre personne n'en verra pas tant que ça avec un écran plus petit.

[2014-11-06 19:38] Alex-D commented on #1694
Soucis de template. Faudrait juste retirer le bloc de la sidebar quand c'est pas utile.

[2014-11-06 19:39] Alex-D commented on #1692
J'ai vu ça tout à l'heure, je n'ai pas trop compris le pourquoi du comment.

[2014-11-06 19:43] Alex-D commented on #1691
Très honnêtement, ça fait un nombre de fois incalculable que c'est remonté et que je réponds à chaque fois : #465 et #464

C'est pas nouveau, et on est pas magicien.

**Résumé** :

Le formulaire de réponse à un sujet est soigné : je l'ai recodé de A à Z en shintant la gestion des formulaire du back, puisque non adapté.

Sur les formulaires des tutos, édition de message, etc. J'ai laissé le back fa

[2014-11-06 20:48] SpaceFox commented on #1688
Heu oui, c'est à faire comme ça... je ne pige même pas la logique de "la détection automatique en JS".

[2014-11-06 20:49] SpaceFox commented on #1684
Le paramètre est corrigé mais il faut éditer les 1ers messages de tous les topics de mis en bêta créés aujourd'hui.

[2014-11-06 20:49] SpaceFox commented on #1690
Fait.

[2014-11-06 20:49] #1690 closed, assigned to SpaceFox

[2014-11-06 21:05] SpaceFox commented on #1682
+1 Alex.

Le 6 novembre 2014 11:59, Alexandre Demode notifications@github.com a
écrit :

[2014-11-06 21:56] Alex-D commented on #1688
Ca a été fait à un moment où les templates bougeaient pas mal, donc la solution d'une détection sans toucher aux templates était pratique. Mais à terme c'est naze. Tout comme d'autres trucs tels que l'aide Markdown, etc.

[2014-11-07 09:42] Alex-D opened #1699 "[ZEP-04] Intégration de la nouvelle page d'accueil"
Dépendance : #1700

Intégrer la nouvelle page d'accueil selon la [ZEP-04](http://zestedesavoir.com/forums/sujet/669/zep-04-nouvelle-page-daccueil/).

[2014-11-07 09:42] Alex-D opened #1700 "[ZEP-04] Sujets chauds"
Il faut quelqu'un qui s’attelle assez rapidement au dev back pour sortir 10 "sujets chauds" comme défini dans la [ZEP-04](http://zestedesavoir.com/forums/sujet/669/zep-04-nouvelle-page-daccueil/) pour permettre au front d'avancer sur cette section de la page d'accueil, cf #1699

[2014-11-07 09:50] Eskimon opened #1701 "Outils statistique sur les posts des membres"
Comme expliqué ici : https://zestedesavoir.com/forums/sujet/1611/bout-de-code-inutile/?page=1#p28186

un bout de code pour generer un graphe des posts/jour est propose au staff. Cet outil genere un fichier image tout le temps, pour tout le monde, a chaque visite de profil. C'est peu productif.

Il faut donc :
- Faire le rendu seulement si un staff visite le profil (back)
- Renvoyer le chemin de l'

[2014-11-07 09:50] Eskimon commented on #1701
Je m'occuperais des deux premiers points.

[2014-11-07 09:54] Eskimon commented on #1700
Rappel, dans un premier temps les sujets chauds sont les x derniers sujets ayant recu une réponse

La discussion sur les sujets chaud se passe ici : https://zestedesavoir.com/forums/sujet/1213/un-sujet-chaud-quest-ce-que-cest/

[2014-11-07 10:54] Alex-D commented on #1701
Note relativement important : l'image est en réalité un SVG généré par le back, c'est pour ça qu'on peut la styliser en CSS.

[2014-11-07 13:40] GerardPaligot opened #1702 "Blanc sur le côté droit de la home"
Lorsque vous êtes sur la home, si vous slidez vers la droite, vous pouvez voir du blanc apparaitre (cf. image ci-dessous). Ce bug semble se rencontrer seulement sur la home page.

Ma configuration :
Macbook pro 15 pouces
Navigateur Google Chrome, version 38.0.2125.111

![capture d ecran 2014-11-07 a 14 37 28](https://cloud.githubusercontent.com/assets/1913901/4953647/8b4b33ee-6683-11e4-93b6-ab91f0

[2014-11-07 13:44] firm1 commented on #1702
J'ai moi aussi le bug sur Windows 7 / Firefox.

Et visiblement viki [l'a aussi](http://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=24#p28222)

[2014-11-07 13:48] Axylium commented on #1702
J'ai testé sous Firefox (v33.0) et Chromium (v37.0.2062.120) et je n'ai pas ce bug. Le tout sur Ubuntu 14.04.

[2014-11-07 13:55] firm1 opened #1703 "Incohérence dans les couleurs des boutons de validation/confirmation"
Les boutons de validation/confirmation sur le site sont tous de couleur verte. Par contre les boutons de validation des modales restent de couleur bleue. Ce qui fait que lorsqu'on clique sur le bouton, on voit un effet vert sur sur bouton bleu (cf. l'image). Ce n'est pas cohérent.

![nope](https://cloud.githubusercontent.com/assets/6066015/4953825/a755947e-6685-11e4-8f39-f0d0638fb697.png)

[2014-11-07 14:02] firm1 opened #1704 "Incohérence dans les numéros de pages du forum"
Si je demande la page 18 (qui n'existe pas) du forum programmation par exemple via l'url `http://zestedesavoir.com/forums/savoirs/programmation/?page=18` je tombe sur la dernière page du forum, qui n'est pas la page 18 mais la page 6.

On devrait renvoyer une 404 car la page 18 n'existe pas.

[2014-11-07 15:00] Alex-D commented on #1702
Faut rajouter un

[code]

ici : https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/_wide.scss#L347

[2014-11-07 15:01] Alex-D commented on #1704
Doublon avec #1682

[2014-11-07 15:01] #1704 closed, assigned to nobody

[2014-11-07 15:03] Alex-D commented on #1703
C'est même étrange qu'il ne soit pas grisé puisqu'il est cliqué. (T'as dû en suer pour faire le screen :D)

J'ai dû oublier le cas des modales dans mon traitement visuel du bug "double clic".

[2014-11-07 15:18] Axylium commented on #1702
Le changement est a envoyé où ? Branche `dev` ou autre ?

[2014-11-07 15:23] Eskimon commented on #1702
dev. C'est un bugfix rien de compromettant pour la vie du site et son fonctionnement habituel

[2014-11-07 16:54] firm1 opened #1706 "Impossible de poster une image dans une galerie depuis son mobile"
Le bouton qui permet de rajouter une image dans une gallerie n'existe pas.

[2014-11-07 17:04] firm1 commented on #1691
Sur mobile c'est pire. Le bouton d'aide est caché derrière les boutons aperçu et envoyer. Cf. Screen.

![screenshot_2014-11-07-17-49-52](https://cloud.githubusercontent.com/assets/6066015/4956865/8868e542-669f-11e4-9a72-34d21ccd3484.png)

[2014-11-08 00:36] Alex-D commented on #1691
Y la PR #1558 qui a corrigé ça. Vérifie ton cache ou alors il y a un soucis.

[2014-11-08 00:37] Alex-D commented on #1706
Problème de template. Il manque les classes pour indiquer au JS de rajouter le bloc dans la sidebar mobile.

Dans l'absolu, ça devrait même être un bouton d'action principal, plutôt que de créer une galerie à partir du moment où on est dans une galerie.

[2014-11-08 07:37] firm1 commented on #1691
Il y'a bien un souci. Cache verifié

[2014-11-08 09:46] gustavi opened #1707 "Rendre le settings.py plus uniforme et documenté"
Il y a quelques soucis dans le `settings.py` :
- parenthèses inutiles https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py#L192
- import au plein milieu du fichier https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py#L262
- on a l'utilisation de guillemets simples et de guillemets doubles (ex : https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py#L275)

C'

[2014-11-08 13:42] SpaceFox commented on #1707
Bonne idée, à cumuler avec #1023 je pense.

[2014-11-08 13:45] firm1 opened #1709 "Une date trop longue casse le design d'un message du forum sur mobile"
Tout est sur le screen.

Galaxy S3/Android/Chrome

![screenshot_2014-11-08-14-41-53](https://cloud.githubusercontent.com/assets/6066015/4964292/c3e7785c-6755-11e4-892a-7ed101ee4b7c.png)

[2014-11-08 14:26] gustavi commented on #1707
Je prends, je fais ça dans la soirée ou demain.

[2014-11-08 14:31] gustavi commented on #1709
je changerai le `novembre` en `nov` sur mobile (Django le fait très bien)

[2014-11-08 17:05] gustavi commented on #1639
Ça c'est reproduit entre 17h50 et 18h00 aujourd'hui. Quelqu'un peut investiguer les logs ?

[2014-11-08 17:07] gustavi opened #1710 "Mauvais lien dans la doc"
http://zds-site.readthedocs.org/fr/latest/install/install-linux.html#front-ou-back où `[la documentation dédiée](gulp.md)` apparait tel que.

[2014-11-08 17:55] gustavi opened #1712 "render_template() n'a pas lieux d'être"
En essayant de résoudre #1151 je me suis rendu compte qu'une chose assez mauvais a été faire depuis le début du site : `render_template()`. En effet, cette fonction a pour but de remplacer `render()` et ainsi permettre l'ajout de variables présentes dans tous les templates (ex : la version du site). Or ce n'est **pas** la bonne manière, il vaut mieux utiliser un `context_processor`.

Quelques lien

[2014-11-08 17:57] gustavi commented on #1151
Ça sera corrigé avec https://github.com/zestedesavoir/zds-site/issues/1712.

Dans le cas où #1712 ne passe pas, il faudra surcharger les fonctions qui se trouvent [ici](https://github.com/django/django/blob/master/django/views/defaults.py) pour leur ajouter les variables qui manquent (et c'est vraiment pas propre).

[2014-11-08 18:00] SpaceFox commented on #1712
Pour l'avoir utilisé sur un projet perso (j'ai découvert ça la semaine dernière et j'ai oublié d'en parler ici, honte !), je confirme que c'est super efficace. Et je confirme que ça vient de PDP.

[2014-11-08 18:22] gustavi commented on #1654
Je prends.

[2014-11-08 18:28] GerardPaligot commented on #1639
Tu dois parler des erreurs 500 survenues après la publication du tutoriel [Le droit d'auteur, Creative Commons et les licences sur Zeste de Savoir](http://zestedesavoir.com/tutoriels/281/le-droit-dauteur-creative-commons-et-les-licences-sur-zeste-de-savoir/) que j'ai validé.

Il y a eu une première publication foireuse à cause d'images SVG dans le tutoriel. Les images ont été retirées puis il y a

[2014-11-08 18:36] GerardPaligot commented on #1712
Question peut-être bête mais pourquoi c'est mieux d'utiliser `context_processor` ?

[2014-11-08 19:02] gustavi commented on #1712
Parce que si jamais autre chose que la fonction `render_template()` est utilisé (ce qui est le cas des pages 403 et 404) alors les variables sont quand même passées au template.

[2014-11-08 19:08] gustavi opened #1713 "Réorganiser toute la documentation back"
La solution décidée dans le [ZDS-meeting 3](https://zestedesavoir.com/forums/sujet/1095/un-zestmeeting/?page=5#p27789) est la suivante : « On dégage toute la doc ce qui est old (GH et forums) sauf le README et le CONTRIBUTING et on centralise dans la doc accessible via readthedoc. »

À faire :
- Mettre à jour la doc si nécessaire
- Réorganiser la doc sur GH
- Nettoyer les forums (merci @SpaceFox )

[2014-11-08 19:09] gustavi opened #1714 "Passer à libgit2"
Comme décidé dans le [ZDS-meeting 3](https://zestedesavoir.com/forums/sujet/1095/un-zestmeeting/?page=5#p27789) on passe à libgit2. Il faut adapter donc le code en fonction.

[2014-11-08 19:09] SpaceFox commented on #1713
Attention ça nécessite aussi du ménage côté forums !

Le 8 novembre 2014 20:08, Laville Augustin notifications@github.com a
écrit :

[2014-11-08 20:20] gustavi opened #1716 "Coder comme il faut « assets/js/find-solved-topics.js »"
De le but de résoudre la #308 il faudrait nettoyer ce fichier. PING @Alex-D et @sandhose ça semble très simple.

[2014-11-08 20:22] gustavi opened #1717 "Mettre l'icône en background pour .search-more"
De le but de résoudre la #308 il faudrait nettoyer ce fichier. La ligne en question : https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/_all-supports.scss#L566

[2014-11-08 20:25] gustavi opened #1718 "Nettoyer le fichier « scss/_icons.scss »"
De le but de résoudre la #308 il faudrait nettoyer ce fichier. C'est une issue 2 en 1 puisqu'il il y a 3 TODO (logique quand tu nous tiens) :
- https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/_icons.scss#L12
- https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/_icons.scss#L114
- https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/_icons.scss#L297

(les deux de

[2014-11-08 20:30] gustavi opened #1719 "Comprendre comment designer l'export dans « tutorial/export.html »"
De le but de résoudre la #308 il faudrait nettoyer ce fichier. Le TODO en question que je ne comprends pas : https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorial/export.html#L5

PING @Alex-D : tu l'as introduit dans https://github.com/zestedesavoir/zds-site/commit/4417446fde4fac513ec9e04ba2ed41474871ef83, est-ce que c'est corrigé ?

[2014-11-08 20:31] gustavi opened #1720 "Ajouter les metadatas pour les utilisateurs"
De le but de résoudre la #308 il faudrait nettoyer ce fichier et pour cela ajouter les métadonnées à https://github.com/zestedesavoir/zds-site/blob/dev/templates/misc/message_user.html#L13.

[2014-11-08 20:34] gustavi opened #1721 "Proposer les diffs sur les articles dans « article/member/history.html »"
De le but de résoudre la #308 il faudrait nettoyer ce fichier. Le TODO en question : https://github.com/zestedesavoir/zds-site/blob/dev/templates/article/member/history.html#L121

[2014-11-08 20:37] gustavi opened #1722 "Améliorer les tests can_read_now et can_write_now pour le modèle utilisateur"
De le but de résoudre la #308 il faudrait nettoyer ce fichier et donc ajouter les test qui manquent.
- https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/tests/tests_models.py#L268
- https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/tests/tests_models.py#L275

[2014-11-08 20:39] gustavi commented on #308
Pour j'ai ouvert plein d'issues mais il en reste (pas le courage pour ce soir).

Si certains ont du courage, voici ce qui me reste à regarder sur un grep :

[code]

[2014-11-08 20:49] gustavi commented on #423
Je sais pas si cette issue est encore d'actualité. On est plus sur de la recommandation qu'un vrai problème. En général c'est plutôt bien fait (merci @Eskimon ).

[2014-11-08 20:49] gustavi commented on #731
Humm, un oubli ?

[2014-11-08 20:53] artragis commented on #423
Encore une victoire d'@Eskimon et des zest'meeting. Effectivement on peu
clore, je pense.

Le 8 novembre 2014 21:49, Laville Augustin notifications@github.com a
écrit :

[2014-11-08 20:53] gustavi commented on #850
C'est corrigé non ? cf http://i.imgur.com/B8Wg6fr.png

[2014-11-08 21:08] gustavi commented on #1282
Ça semble fixé.

[2014-11-08 21:14] gustavi commented on #1356
Un problème sur la milestone non ?

[2014-11-08 21:28] gustavi commented on #1405
Via #django-fr sur IRC :

[code]

[2014-11-08 22:15] firm1 commented on #1282
Pas fixé totalement. J'avais volontairement mis de coté l'implémentation des "Améliorations Sympa" vu que ça n'a pas été discutté/validé quelque part.

Mais il faut du coup soit ouvrir une discussion dessus sur le forum, soit en parler ici, car en l'état l'issue n'est pas terminée.

[2014-11-08 22:18] firm1 commented on #850
Je ne sais pas ce qui a été fait sur les articles de ce coté, mais le MAJ en validation des articles est buguée en ce moment. Je soupçonne donc que quelqu'un a rajouté le bouton, mais sans finir d'implémenter la feature.

Que faire de l'issue ? ça je ne sais pas

[2014-11-08 22:20] firm1 commented on #423
plus de 80% de couverture, tout va bien. Je ferme

[2014-11-08 22:20] #423 closed, assigned to nobody

[2014-11-08 22:21] gustavi opened #1723 "Le FRONT est cassé sur la recherche"
Tout est cassé sur http://zestedesavoir.com/rechercher/?q=django par exemple (http://i.imgur.com/2CpO9zv.png). Ça me semble assez urgent.

PING @Alex-D @sandhose

[2014-11-08 22:34] Axylium commented on #1723
Je dirais un doublon de la #1669.

C'est car ça passe sur deux lignes.

[2014-11-09 08:32] gustavi commented on #1723
Non je ne pense pas, ça me le fait via un PC.

[2014-11-09 08:42] Axylium commented on #1723
Oui, mais c'est la même chose, et le même problème. Regarde la #1670 @Alex-D redirige vers la #1669.

[2014-11-09 08:47] gustavi commented on #1723
À voir si son hotfix corrige ça.

[2014-11-09 09:04] gustavi opened #1724 "Versionner les fichiers statiques"
Comme on a été plusieurs à le voir, lors de la mep 1.2 on avait encore les anciens fichiers statiques en cache. Il faut donc les versionner pour éviter que ça se reproduise.

Je m'en occupe.

[2014-11-10 16:57] Alex-D commented on #1691
J'ai en effet le même rendu :/ Pourtant la PR visait à corriger tout ça... je regarderais.

[2014-11-10 17:00] Alex-D commented on #1723
C'est certain que c'est un doublon de #1669. Le style utilisé est le même. #factorisation !

[2014-11-10 17:01] #1723 closed, assigned to nobody

[2014-11-10 17:06] Alex-D commented on #1716
Il n'y a pas à nettoyer, il faut coder la fonctionnalité.

[2014-11-10 17:10] Alex-D commented on #1720
C'est déjà en cours par Eskimon sur la PR #1566

[2014-11-10 17:14] Alex-D commented on #1717
Attention : il faut gérer le "+" sur ordinateur ET sur mobile (ça change de couleur, il faut donc deux icônes à ajouter dans le sprite).

[2014-11-10 17:14] Alex-D commented on #1719
Nop. Je n'ai jamais regardé la sortie HTML à vrai dire. Mais c'est à faire.

[2014-11-10 17:16] Alex-D commented on #1718
En gros, il faut :
- faire les icônes manquantes
- balancer ça à l'automatisation pour ressortir tout au format @1x depuis le @2x.

[2014-11-10 17:22] Alex-D commented on #1709
C'est déjà reporté quelque part. On peut éventuellement passer le format de la date sur mobile à jj/mm/aa à hh:mm (rajouter `:True` derrière le filtre de la date) et changer selon qu'on est sur mobile ou ordi/tablette.

[2014-11-10 17:37] gustavi opened #1727 "Les modales n'ont pas de hauteur dynamique"
Via [2ohm](http://zestedesavoir.com/membres/voir/2ohm/) sur [le forum](http://zestedesavoir.com/forums/sujet/1638/zone-dedition-limitee-lors-de-la-demande-de-validation/) :

J'ai essayé de reproduire le bug et voici ce que j'ai réussi à obtenir : http://i.imgur.com/pgxB3I1.png

Je cite @sandhose sur IRC à propos de cela :

[2014-11-10 22:54] gustavi commented on #1669
C'est en preprod.

[2014-11-10 22:54] #1669 closed, assigned to nobody

[2014-11-10 22:55] gustavi commented on #1681
C'est en preprod.

[2014-11-10 22:55] #1681 closed, assigned to Eskimon

[2014-11-10 22:55] gustavi commented on #1677
C'est en preprod.

[2014-11-10 22:55] #1677 closed, assigned to Eskimon

[2014-11-10 23:11] gustavi opened #1729 "Ajout d'un filtre « Sujets sans réponse » dans les forums"
Aujourd'hui on peut filtrer les topics par « sujets résolus » ou « sujets non résolus » (http://i.imgur.com/ObP3d0d.png). Un troisième filtre « Sujets sans réponse » peut être assez sympa et très simple à mettre en place.

[2014-11-11 12:06] Eskimon commented on #423
Si un jour j'ai du temps et pas de bugfix à faire je continuerais... mais d'ici là on a le temps :D

[2014-11-11 12:59] gustavi opened #1731 "Ajout d'un filtre « Trier par ordre alphabétique » dans les articles et tutoriels"
Via [Guy](http://zestedesavoir.com/membres/voir/Guy/) sur le [forum](http://zestedesavoir.com/forums/sujet/1645/proposition-assez-simple-sur-les-pages-mes-tutoriels-et-mes-articles/?page=1#p28696) :

[2014-11-11 13:42] Axylium commented on #1577
Peut-être faudrait-il réouvrir ici. J'ai actuellement le même problème que le membre du post, depuis peu.

[2014-11-11 18:08] Luthaf opened #1736 "Pas de liens pour télécharger l'archive d'un tuto récent"
Pour reproduire : créer un nouveau tuto, aller sur la page principale du tuto, et paf, pas de section "Télécharger" ni de lien "Archive".

Le lien direct (`/tutoriels/telecharger/?tutoriel=<id>`) fonctionne toutefois.

**EDIT (gustavi)** : Une fois la 1.3 en prod vérifier si le bug est toujours présent. Ensuite on peut fermer si c'est bon.

[2014-11-11 18:14] Luthaf commented on #1599
Pourquoi ne pas ajouter un numéro de version dans le `manifest.json` (la version actuelle est la version 1), et avoir du code de chargement de tuto spécifique à la version ? Pour le moment, c'est `load_tuto_v1` qui est utilisé.

Si un jour la structure est modifiée, le numéro de version passe à 2, et on écrit la fonction `load_tuto_v2`. Devant tout ça, un dispatcher se charge d’appeler les bonne f

[2014-11-11 18:18] gustavi commented on #1736
Je n'ai pas ce bug en local mais il est présent sur la prod. Étrange.

[2014-11-12 07:31] firm1 commented on #1670
Je ré-ouvre ici, car le problème n'est pas résolu sur PC (Cf capture). J'ai encore des sous titres qui se décalent vers la droite.

Chrome 37.

![capture d ecran de 2014-11-12 08 19 09](https://cloud.githubusercontent.com/assets/6066015/5006645/3bb6d772-6a46-11e4-9a22-b89ab15c1bb8.png)

[2014-11-12 13:28] SpaceFox commented on #1631
Mergé.

[2014-11-12 13:28] #1631 closed, assigned to nobody

[2014-11-12 13:29] SpaceFox commented on #1633
Mergé.

[2014-11-12 13:29] sandhose opened #1738 "Réorganisation du code SASS"
La partie SASS du front doit être réorganisée. Je propose une séparation par module, et par page, pour les styles spécifiques. Ca donnerait un truc comme ça:

[code]

Ce qu'il y a dans "scss/pages/" n'est pas encore tout à fait clair, et risque de changer au fur et à mesure que j'avance dans la réorganisation. Je suis en train de la faire en ce moment même

[2014-11-12 13:39] #1633 closed, assigned to nobody

[2014-11-12 14:18] firm1 commented on #1738
Comme ça, à première vue il manque les modules suivants :
- breadcrumb
- accordion
- pagination
- topbar (différent de dropdown)
- label (ou tag)
- ...

Je ne vois pas non plus le sens de `scss/pages/` car on a pas mal de composant qui se retrouvent a plusieurs niveau.

[2014-11-12 14:18] SpaceFox commented on #1529
Normalement le problème avec Travis est corrigé.

À rouvrir si la correction ne suffit pas.

[2014-11-12 14:22] sandhose commented on #1738
La topbar, je la pensais dans la nav, et/ou dans le header. A voir

Pour les autres, je vais voir, je sais pas si ça a réellement un sens d'avoir des fichiers de 5 lignes (je pense notamment aux labels), alors qu'ils peuvent peut-être se caser autre part. Je vais voir ça au fur et à mesure

Pour le dossier pages, c'est pour les pages spécifiques. Je pense notamment à la home, mais aussi à la vue g

[2014-11-12 14:23] firm1 commented on #1529
C'est corrigé pour travis, mais est-ce que c'est corrigé pour les MEPs ?

[2014-11-12 14:30] sandhose commented on #1529
J'avais proposé d'investiguer avec SpaceFox y'a un moment, mais ça ne s'est finalement pas fait.

Avec les ajouts de la v2.0 de npm, il y a possibilité de n'avoir que npm/node comme dépendance, et que l'on ai plus besoin de gulp/bower d'installé. Ca permet notamment d'être en non-root tout le temps quelque soit l'installation, et de réduire les erreurs liés aux permissions.

Je vais faire une issu

[2014-11-12 14:30] firm1 commented on #1738
Ah j'ai écrits label, mais je pensais plutôt à alert (pour les erreurs, warning, etc.) qui apparaissent plus haut.

Pour le dossiers pages, oui, on verra, je ne pense pas qu'on aura grand chose dedans. Car même sur la home, pour moi ce sont plutôt de composants "box" qu'on devrait avoir.

[2014-11-12 14:37] sandhose opened #1739 "Utiliser les scripts npm pour gulp et bower"
npm depuis la version 2.0 permet de spécifier des arguments aux scripts. Ça nous permet de wrapper bower et gulp entièrement dans le projet, et plus en dépendance globale.

Concrètement, ça permet d'enlever l'étape `npm install -g gulp bower`, qui devait, dans certaines install de node se lancer en root, ce qui posait problème. Du coup, le build gulp se ferait par `npm run-script gulp -- [task]`,

[2014-11-12 14:39] sandhose commented on #1529
cf. #1739

@Situphen est sur le coup :+1:

[2014-11-12 16:57] firm1 commented on #1684
Les sujets en questions on été corrigé.

Je ferme ici donc.

[2014-11-12 16:57] #1684 closed, assigned to nobody

[2014-11-12 17:40] firm1 commented on #1408
Ce problème est réglé avec les récentes corrections. Je ferme donc ici.

[2014-11-12 17:40] #1408 closed, assigned to nobody

[2014-11-12 18:26] firm1 commented on #1680
Fixé.

[2014-11-12 18:26] #1680 closed, assigned to firm1

[2014-11-12 18:27] Eskimon commented on #1618
Ok

[2014-11-12 18:27] #1618 closed, assigned to nobody

[2014-11-12 20:18] firm1 commented on #1682
Fixé

[2014-11-12 20:18] #1682 closed, assigned to Eskimon

[2014-11-13 10:41] firm1 opened #1744 "Rajouter un lien qui explique les licences lors de création d'un tuto/article"
L'idée c'est de rajouter un lien explicatif de la licence à coté de la zone de choix des licences pour que l'auteur puisse être informé lors de son choix.

L'idéal étant de rajouter dans le settings.py un paramètre pour l'url explicative des licence qui sera visible lors de la création d'un tuto/article.

[2014-11-13 10:49] gustavi commented on #1744
Il y a le tuto sur les CC où il est possible de remprendre un synthèse pour celles-ci. Je pense qu'un rapide tuto pour servir à cela, où tout est synthétique, quitte à renvoyer vers des liens plus précis.

[2014-11-13 10:54] firm1 commented on #1744
C'est même plus simple que ça. Juste faire comme précisé dans l'image ci-dessous.

![capture](https://cloud.githubusercontent.com/assets/6066015/5027127/d014bfa2-6b2b-11e4-8a39-7f622cd032d4.PNG)

[2014-11-13 18:16] firm1 commented on #1720
Ça c'est fait. On dit merci a @Eskimon

[2014-11-13 18:16] #1720 closed, assigned to Eskimon

[2014-11-14 10:37] firm1 commented on #1657
Ici le MP est là surtout pour garder une trace coté membre sur le site. Quand un membre est sanctionné il reçoit 1 MP et 1 Mail. Le mail en question contient le même message que le MP. Dans ton cas, vu que tu testais en local je suppose que tu n'a pas pu apprecier la fonctionnalité mail

[2014-11-14 10:46] Eskimon commented on #1657
Un moyen simple de verifier est de s'assurer de bien activer le backend mail dans la console (je me rappel plus de la ligne, je retrouve ca ce soir)

Cependant il me semble que le comportement est correct... Florian si tu veux contact moi par MP et je te ban sur la preprod :D (puis te deban après évidemment)...

[2014-11-14 11:58] firm1 commented on #1546
Vraiment corrigé cette fois-ci

[2014-11-14 11:58] #1546 closed, assigned to Eskimon

[2014-11-14 12:13] Eskimon commented on #1636
Arf j'avais pas vu ton message... J'avais casse ca en renommant ma galerie avec un caractère accentué. Du coup je sais pas si ca va etre simple a reproduire puisque cette histoire de caractère est corrigée.

[2014-11-14 12:14] Eskimon commented on #1642
Ca en vaut vraiment la peine ? (si oui faut transformer le ticket en evolution plutot que bug)

[2014-11-14 12:18] Eskimon commented on #1528
En reprenant l'exemple de l'OP tout semble OK non ? (en tout cas pour un tuto en redaction tout semble bon)

[2014-11-14 12:19] Eskimon commented on #1343
Toujours besoin de ce ticket ? Quelles sont les actions a faire ?

[2014-11-14 13:18] firm1 commented on #1528
Pas vraiment, l'OP parle du sommaire de la sidebar, et non du sommaire au centre

[2014-11-14 13:21] firm1 commented on #1343
Ce ticket n'est qu'une mauvaise conséquence d'un ou plusieurs autres problèmes.

Il vaut mieux fermer ici car ça fait doublons avec les autres tickets de bugs.

[2014-11-14 13:21] #1343 closed, assigned to nobody

[2014-11-14 13:22] firm1 commented on #1642
je pense que oui, perso.

je pense que oui aussi (fait)

[2014-11-14 13:24] Eskimon commented on #1528
Ah ok, my bad

[2014-11-14 13:24] firm1 commented on #1636
Euh ... c'est normal que je ne trouve pas le bouton pour editer/renommer une gallerie ?

[2014-11-14 13:26] Eskimon commented on #1636
C'est ptet moi qui dit de la merde... Plutôt en supprimant en fait...

[2014-11-14 13:35] firm1 commented on #1636
De mon coté, je n'arrive pas a reproduire avec toutes les bidouilles possibles sur les galleries.

Peut-être un conséquence heureuse d'une autre correction ? Du coup cette issue a t-elle lieu d'exister ?

[2014-11-14 13:36] firm1 commented on #1721
Cette issue est un doublons de la #1443

Je ferme donc.

[2014-11-14 13:36] #1721 closed, assigned to nobody

[2014-11-14 13:45] Eskimon commented on #1636
J'aurais tendance a dire que, comme explique dans mon premier message, ce n'etait qu'une consequence d'un autre bug lie a l'UTF8 et qui a ete corrige.

[2014-11-14 14:18] SpaceFox commented on #1529
Visiblement la solution proposée en #1734 ne suffit pas si j'en crois ce commentaire : https://github.com/zestedesavoir/zds-site/pull/1747#issuecomment-63069578

[2014-11-14 14:41] firm1 commented on #1636
bon bah on ferme alors. On réouvrira si necessaire quand ça se reproduira

[2014-11-14 14:41] #1636 closed, assigned to nobody

[2014-11-14 14:57] firm1 commented on #1529
D'ailleurs nos dépendances npm sont rouges. Elles sont carrément out-of-date.

Il faudrait penser à la MAJ : [![Dependency Status](https://david-dm.org/zestedesavoir/zds-site.svg)](https://david-dm.org/zestedesavoir/zds-site)

[2014-11-14 15:07] Axylium commented on #1657
D'acc' ! Merci des précisions !

Ouaip je sais, mais je ne m'amuse pas toujours à rajouté cette ligne. ^^

Je ferme donc !

[2014-11-14 15:07] #1657 closed, assigned to nobody

[2014-11-14 18:24] Situphen opened #1750 "Remplacer les dépendances npm dépréciées"
Comme l'a dit frim1 [ici](https://github.com/zestedesavoir/zds-site/issues/1529#issuecomment-63075369), les dépendances npm sont dans le rouge ! [![Dependency Status](https://david-dm.org/zestedesavoir/zds-site.svg)](https://david-dm.org/zestedesavoir/zds-site)

Je propose qu'on dépoussière un peu ! Je veux bien essayer de le faire...

[2014-11-14 18:38] gustavi commented on #1744
Je m'en occupe.

[2014-11-14 19:04] Situphen commented on #1750
Les dépendances dépréciées données par david-dm.org sont :
- gulp-compass --> On ne l'utilise plus donc à la poubelle.
- gulp-load-plugins --> Il nous permet de ne pas avoir à lister toutes les dépendances gulp dans le Gulpfile.js donc, sauf si on trouve un remplaçant, il reste.
- gulp-newer
- gulp-sass --> Il permet de faire SCSS -> CSS donc, sauf remplaçant, il reste
- gulp-uglify --> Sert à pou

[2014-11-14 20:08] Eskimon commented on #1608
Ca roule, merci @firm1 !

[2014-11-14 20:08] #1608 closed, assigned to firm1

[2014-11-14 21:17] SpaceFox commented on #1621
Bon ben apparemment c'est fait !

[2014-11-14 21:17] #1621 closed, assigned to nobody

[2014-11-15 10:05] gustavi commented on #1744
Un truc comme cela ça va http://i.imgur.com/g7BNBcv.png ?

[2014-11-15 10:18] Eskimon commented on #1744
Très bien pour moi !

[2014-11-15 10:37] sandhose commented on #1750
Je viens de le faire, il s'agissait juste de mettre à jour certaines dépendances, pas de les remplacer ou quoi que ce soit... Il y a pour ça un utilitaire qui s'appelle `david` (`npm install -g david`), et qui permet d'avoir un truc de ce genre la:

[code]

Du coup, suffit de lancer la commande qu'il donne en dessous pour mettre à jour toutes les dépendances...

Après, suffisait de virer `gulp-com

[2014-11-15 11:14] sandhose commented on #1529
@firm1 Corrigé dans #1752

@SpaceFox Le problème est que vu que le build a été relancé, je ne retrouve pas les logs... Sinon, j'ai vu [une erreur par rapport à node-sass](https://travis-ci.org/zestedesavoir/zds-site/builds/41082016#L2154)... Je suis suis en train de voir si c'est une erreur récurrente, et si je peux éventuellement trouver comment fixer ça... (Même si la, je vois pas trop, puisque

[2014-11-15 17:33] gustavi opened #1755 "L'alignement des boxs des filtres de la recherches est mauvais"
Le bug en images : http://i.imgur.com/2mafnc9.png sur https://zestedesavoir.com/rechercher/.

Je l'ai avec sous ArchLinux avec Firefox 33.1 et Chromium 38.0.

EDIT : une PR avait été faite mais abandonnée : https://github.com/zestedesavoir/zds-site/issues/1755. Vous pouvez vous fonder là dessus.

[2014-11-15 17:36] gustavi opened #1756 "Supprimer la possibilité de s'envoyer un MP via son propre profil"
Quand on est sur la page de son profil on a un lien « _Envoyer un message privé_ » alors que c'est inutile vu qu'on ne peut pas le faire.

[2014-11-15 23:31] gustavi opened #1759 "Absence de « Cochez pour dérouler les menus au survol » sur sa page de profil"
Le bug en image : http://i.imgur.com/ne60ZQs.png. Ça se produit sur plusieurs navigateurs et OS donc ça vient des dernière modifications (PING @firm1 l'internationalisation ?) sachant que c'est pas sur la prod.

[2014-11-16 13:57] gustavi opened #1761 "Erreur de Django (non critique) lors des tests"
L'erreur en question :

[code]

J'attends plus d'infos de la part des dev Django, je mets à jour des que j'ai du nouveau.

[2014-11-16 14:39] gustavi opened #1762 "Ajouter la possibilité de déplacer un chapitre d'un tutoriel d'une partie à une autre"
Via [Guy](https://zestedesavoir.com/membres/voir/Guy/) sur le [forum](https://zestedesavoir.com/forums/sujet/1691/deplacements-de-chapitres-dans-un-tutoriel-en-redaction/) :

[2014-11-16 15:30] gustavi commented on #1544
Fixé !

[2014-11-16 15:30] #1544 closed, assigned to nobody

[2014-11-16 17:53] artragis commented on #1443
C'est presque obligatoire que l'unification article/tutoriel apportera cette fonctionnalité.

[2014-11-16 17:57] #1756 closed, assigned to gustavi

[2014-11-16 17:57] Eskimon commented on #1756
Tout roule !

[2014-11-16 18:01] Eskimon commented on #1762
A mon avis ca attendra plutot la ZEP 12 non ?

[2014-11-16 18:07] gustavi commented on #1762
Oui, je l'ai informé que c'est pris en compte mais qu'on attend la ZEP-12 avant de faire quoi que ce soit.

[2014-11-16 19:43] gustavi opened #1764 "Décalage sur la pages de tous les forums sur mobile."
Le bug en image : http://imgur.com/PgTiGRX

Pour reproduire aller sur cette page et essayer de faire un scroll sur la droite.

Vu avec Firefox mobile 33.1 / Android 4.3.1 (Cyanogenmod 10) / Nexus 4

[2014-11-16 20:58] #1729 closed, assigned to gustavi

[2014-11-16 21:32] Eskimon commented on #1135
Tout roule :) merci @coma94 et @firm1 :)

[2014-11-16 21:32] #1135 closed, assigned to nobody

[2014-11-16 21:37] gustavi commented on #49
UP ! On en est où d'ici ? C'est encore pertinent ?

[2014-11-16 21:49] gustavi commented on #508
UP @SpaceFox ! C'est toujours d'actualité ? Si oui de quelle page parles-tu ?

[2014-11-16 21:50] gustavi commented on #523
Ça le semble résolu non ? Avec le `ZDS_APP` et l'internationalisation.

[2014-11-16 21:57] Eskimon commented on #49
Je suppose que ca sera réglé avec la ZEP 12 qui unifiera le tout ?

[2014-11-16 22:19] Eskimon commented on #1638
Issue non fermé, fermeture auto a cause du nom d'un commit...

[2014-11-16 22:43] firm1 commented on #508
Je sais pas ce que Github a fait, mais il parle de la page de toutes les alertes. Et c'est toujours d'actualité

[2014-11-17 10:00] Nodraak opened #1766 "Doublons dans les résultats de la recherche"
Lorsque qu'une recherche correspond au titre et au texte d'un topic du forum, ce topic apparaît deux fois dans les résultats.

Exemple avec "croustillante"
![image](https://cloud.githubusercontent.com/assets/4773741/5067937/d70ebf90-6e48-11e4-8ba7-181ccfb0216f.jpg)

[2014-11-17 10:15] firm1 commented on #1766
c'est parce que le premier lien est le lien du topic et le deuxième lien est le lien du message (vu que ce n'est pas précisé en filtre)

[2014-11-17 12:14] Eskimon opened #1767 "Ticket sur l’internationalisation"
Voici un petit ticket pour recenser les soucis et corrections a apporter sur la traduction. Merci de l'utiliser comme reference dans vos futures PR notamment.

[2014-11-17 12:14] Eskimon commented on #1767
Un souci ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/base.html#L537

le 'A' n'est pas inclus dans la chaine a traduire https://www.transifex.com/projects/p/zestedesavoir/translate/#en/djangopo-65/37178698?translated=no

[2014-11-17 12:19] Nodraak commented on #1766
Justement, il faudrait filtrer les doublons via la `pk` du topic (ou article ou tutoriel)

[2014-11-17 12:24] Alex-D commented on #1764
Faut :
- soit jouer sur le `width` avec un `calc` en retirant le padding.
- soit jouer avec `box-sizing`
- soit tenter un `width: auto;` (mais j'ai des doutes)

[2014-11-17 12:35] Eskimon commented on #1767
Je propose que "validation" soit traduit en "review", qui est semantiquement correct et adapte je pense.

[2014-11-17 13:49] firm1 commented on #1767
Je profite du ticket pour dire que chaque personne qui modifie, lors du dev, une ligne de texte à traduire dans le code, doit penser à mettre à jour le .po avec cette ligne de commande : `python manage.py makemessages -l en`

[2014-11-17 13:53] firm1 commented on #1766
C'est un peu plus compliqué que ça.

Si on cherche un mot, il peut se retrouver dans le titre d'un topic, dans un message de la page1, dans un message de la page 6 et dans un message de la page 10.

Actuellement les resultats de la recherchent renvoient un lien pour chaque message. Si on filtre sur le pk, on risque de renvoyer à chaque fois sur le premier post. Et du coup si le topic à 10 pages, l

[2014-11-17 14:17] Eskimon commented on #1767
@firm1 dans ce morceau, les blocs trans sont a mon avis pas les bienvenus car ce sont des variables get...

https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/post/new.html#L45

[2014-11-17 15:00] firm1 commented on #1767
Tu as totalement raison. :) je crois que la fatigue commencer à prendre le dessus.

[2014-11-17 15:48] firm1 commented on #280
Bon ça fait 2 semaines que ça bouillone du coté du projet upstream concernant GitPython.

Si j'en crois ce que je [lis de leur](https://github.com/gitpython-developers/GitPython/pull/206/files) coté depuis 1 semaine, GitPython devrait être rapidement compatible python3.

[2014-11-17 16:11] cgabard commented on #280
Il n'en reste pas moins que passer à libgit2 serait probablement une
meilleur idée sur le long terme.

On Mon Nov 17 2014 at 16:48:49 firm1 notifications@github.com wrote:

[2014-11-17 16:44] firm1 commented on #280
Yop on est bien d'accord.

[2014-11-17 17:36] Nodraak commented on #1766
Effectivement, j'ai créé l'issue un peu rapidement ...

Je ferme donc.

[2014-11-17 17:36] #1766 closed, assigned to nobody

[2014-11-18 09:31] poulp commented on #1486
doublon #1436

[2014-11-18 09:41] Eskimon commented on #1767
Ici la traduction devrait etre une seule chaine avec les balises https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/post/new.html#L33

[2014-11-18 09:45] Eskimon commented on #1767
Le E doit faire parti de la chaine https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/topic/index.html#L183

Idem ici https://github.com/zestedesavoir/zds-site/blob/dev/templates/gallery/gallery/details.html#L42

Et la c'est le O https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/profile.html#L465

le e : https://github.com/zestedesavoir/zds-site/blob/dev/templates

[2014-11-18 09:52] firm1 commented on #1486
Pas faux

[2014-11-18 09:52] #1486 closed, assigned to nobody

[2014-11-18 13:46] firm1 commented on #1767
On a un problème aussi ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/article/view.html#L85 . Le é est en dehors.

Problème là aussi https://github.com/zestedesavoir/zds-site/blob/dev/templates/email/forgot_password/confirm.html#L16 . Le é est sorti

ici aussi :  https://github.com/zestedesavoir/zds-site/blob/dev/templates/pages/alerts.html#L41 : il faut externaliser dans un `w

[2014-11-18 15:27] hadrienj commented on #12
Merci delphiki !

[2014-11-18 22:26] Eskimon commented on #1653
Euh ca vient d'où ca ? car dans les URL je viens qui repond a ce schéma

[2014-11-18 22:28] Eskimon commented on #1528
Et je confirme que la PR de @firm1 répare le sommaire latéral

[2014-11-18 22:30] Eskimon commented on #1665
Tu peux expliquer ?

[2014-11-18 23:14] Eskimon commented on #1767
tout les messages au dessus de la PR sont corrigé normalement

[2014-11-18 23:49] firm1 commented on #1767
Possible de synchro avec transifex ?

[2014-11-19 01:05] #1643 closed, assigned to gustavi

[2014-11-19 08:59] gustavi opened #1771 "Absence de notification lorsqu'on nous ajoute à une conversation via MP"
On m'a ajouté à une conversation via MP et je n'ai reçu aucune alerte avant le premier message posté. Ce serait cool d'avoir une notification (mail).

[2014-11-19 10:22] gustavi opened #1772 "Fusion de tutoriels ou parties de tutoriels pour en faire un plus gros"
Via [Guy](https://zestedesavoir.com/membres/voir/Guy/) sur le [forum](https://zestedesavoir.com/forums/sujet/1695/retours-dexperiences-des-auteurs/#p29798) :

Les messages postés en dessous éclaircissent le notion des tailles des tutoriels.

[2014-11-19 10:27] gustavi commented on #495
Doublon de https://github.com/zestedesavoir/zds-site/issues/1282

[2014-11-19 10:27] #495 closed, assigned to nobody

[2014-11-19 10:35] gustavi commented on #523
UP ! PING @firm1 tu confirmes que c'est résolu avec l'internationalisation ?

[2014-11-19 13:00] firm1 commented on #523
Résolu

[2014-11-19 13:00] #523 closed, assigned to nobody

[2014-11-19 16:12] firm1 commented on #766
ça c'est fait.

[2014-11-19 16:12] #766 closed, assigned to nobody

[2014-11-19 16:31] firm1 opened #1774 "La taille de la police est différente entre un texte et une puce sur mobile"
Tout est sur l'image ci-dessous.

Chrome/Android.

![screenshot_2014-11-19-17-28-32](https://cloud.githubusercontent.com/assets/6066015/5109490/e11e6b46-7011-11e4-9062-069d8727fac5.png)

[2014-11-19 16:34] SpaceFox commented on #1774
J'aime beaucoup ton exemple :-°

2014-11-19 17:31 GMT+01:00 firm1 notifications@github.com:

[2014-11-19 22:31] gustavi opened #1776 "Mauvais lien de citation dans les commentaires des tutoriels"
Lorsqu'on cite une personne dans un tutoriel le lien vers son pseudo est faux.

La ligne qui est foireuse est la suivante : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/models.py#L476

Il faut rajouter le domaine.

Par la même occasion lorsqu'on est déjà en train de cite quelque chose et qu'on reclique sur un lien « Citer » on a une page 404 car ça ne retourne pas la bonne URL.

[2014-11-20 09:59] gustavi commented on #1759
Ça semble avoir été résolu tout seul. Quelqu'un confirme ?

[2014-11-20 10:00] Eskimon commented on #1759
Pourtant j'ai un fix pour ca ici : https://github.com/zestedesavoir/zds-site/pull/1770

[2014-11-20 10:14] gustavi commented on #1665
Est-ce que tu peux expliquer en détails comment reproduire le bug @jcval ?

[2014-11-20 10:41] jcval commented on #1665
Alors le prérequis, c'est être Staff (ping @Eskimon)

Etape 1 : quelqu'un **autre que moi** signale un de mes messages (https://zestedesavoir.com/forums/sujet/1557/erreur-500-sur-une-page-du-listing-des-membres/?page=1#p26981)

Etape 2 : je vais dans mon profil, rubrique modération > statistiques. Je vois : Alertes actives : 0

[2014-11-20 10:45] Eskimon commented on #1665
Ce qui me semble normal, moi (qui ai fait le signalement) voit bien 1 dans mes alertes actives

[2014-11-20 10:46] Eskimon commented on #1665
En gros le "alertes actives" presente le nombre de signalement que le membre a en cours. Si tu fait un signalement tu devrais le voir s'incrementer tant que l'alerte est pas resolu

[2014-11-20 10:58] Eskimon commented on #1665
Ok, apres discussion et eclaircissememt, pas de bug ici !

Pour rappel, voici ce que voit le staff :
- x alertes en cours que le membre a émise
- x messages que le membre s'est fait moderer

[2014-11-20 10:58] #1665 closed, assigned to nobody

[2014-11-20 16:08] Eskimon commented on #1776
J'men charge, mais ca vient pas du modele mais de la vue (qui a pas un comportement aligné avec les autres...)

[2014-11-20 19:23] firm1 commented on #1701
C'est fixé

[2014-11-20 19:23] #1701 closed, assigned to Eskimon

[2014-11-21 09:37] Eskimon commented on #1739
Hop c'est fait !

[2014-11-21 09:37] #1739 closed, assigned to nobody

[2014-11-21 14:08] Luthaf opened #1780 "[suggestion] Ajouter les images lors de l'import/export d'un tutoriel"
Il serait intéressant d'ajouter la galerie liée à un tutoriel lors de l'exportation du tutoriel sous forme d'archive. Et pourquoi pas d'ajouter un support pour l'ajout d'images à la galerie lors de l'import d'une archive dans un tutoriel.

Idéalement, il serait même possible d'ajouter des images hors-ligne, de les référencer dans le code markdown, et que le code markdown soit automatiquement mis à

[2014-11-21 14:14] Eskimon commented on #1780
Le ticket https://github.com/zestedesavoir/zds-site/issues/1617 sera un prerequis.

[2014-11-21 14:37] firm1 commented on #1776
Fixé.

Merci le caribou

[2014-11-21 14:39] Eskimon commented on #1694
C'est merge, c'es ferme !

[2014-11-21 14:39] #1694 closed, assigned to firm1

[2014-11-21 16:01] poulp commented on #1653
Je n'arrive pas à reproduire le bug. J'ai crée deux tutoriels appartenant à deux catégories différentes sous le même utilisateur, mais le filtre marche bien.

[2014-11-21 16:08] firm1 commented on #1653
Je viens de retester actuellement en prod (et en préprod) et ça ne marche toujours pas.

C'est bizarre

[2014-11-21 16:40] poulp commented on #1653
Est ce que la catégorie 17 existe bien sur la prod ?

[2014-11-21 16:51] poulp commented on #1672
Si ça vient bien de _email_obfuscator_, la version pypi est plus ancienne que le repo dans lequel il a ajouté un fix pour ce problème, faut installer la version la plus récente et ça fonctionne : `pip install git+https://github.com/morninj/djangomail-obfuscator.git`

[2014-11-21 16:56] firm1 commented on #1653
Oui.

Pour avoir ce lien, je vais dans la list des tutos en validation, et je clique sur une catégorie au hasard en dessous du libellé des tutos.

Tu ne reproduis pas en local ?

[2014-11-21 16:58] firm1 commented on #1672
Tu nous fait une joli PR ? je suppose qu'il suffit de modifier le fichier requirements.txt ?

[2014-11-21 17:51] poulp commented on #1736
J'arrive pas à le reproduire en local non plus

[2014-11-21 17:56] firm1 commented on #1736
Le bug a très certainement été fixé par cette PR https://github.com/zestedesavoir/zds-site/pull/1741

[2014-11-21 18:15] firm1 commented on #1672
C'est fixé.

Merci à @poulp content de te revoir sur notre dépot.

[2014-11-21 18:16] #1672 closed, assigned to nobody

[2014-11-21 18:27] gustavi commented on #1776
Euh @Eskimon le deuxième souci est fixé ?

[2014-11-21 18:41] gustavi opened #1783 "Références croisées dans les tutoriels"
**Déplacé ici : https://github.com/zestedesavoir/Python-ZMarkdown/issues/56**

Via [Luthaf](http://zestedesavoir.com/membres/voir/Luthaf/) sur le [forum](http://zestedesavoir.com/forums/sujet/1735/references-croisees-dans-les-tutoriels/?page=1#p30446) :

Je reporte ici pour pas qu'on oublie.

[2014-11-21 18:54] Axylium commented on #1783
J'aurais plus vu ça dans le repo de Python-zMarkdown !

[2014-11-21 19:09] gustavi commented on #1783
OK je déplace alors ! Désolé !

[2014-11-21 19:09] #1783 closed, assigned to nobody

[2014-11-21 20:39] gustavi opened #1784 "Le nom du site n'est pas présent dans les mails de MP"
On a le droit à un :

lorsqu'on reçoit un mail suite à un nouveau MP. Souci de template, je suis dessus.

[2014-11-21 23:36] SpaceFox commented on #1767
`CommandError: Can't find msgfmt. Make sure you have GNU gettext tools 0.15 or newer installed.`

Visiblement le `update.md` n'a pas été mis à jour.

[2014-11-21 23:39] SpaceFox commented on #1767
À ajouter au `update.md`: `apt-get install gettext`

[2014-11-22 12:49] Eskimon commented on #1767
Difficile de blamer qui que ce soit, c'est surement le genre de truc qu'on peut pas forcément se rendre compte car c'est ptet un paquet souvent installé ? (en tout cas quand j'ai commencé à jouer avec l'internationalisation j'ai pas eu ce souci de paquet à installer)

[2014-11-22 12:53] SpaceFox commented on #1767
C'est pas un blâme, c'est un constat.

[2014-11-22 12:54] Eskimon commented on #1776
Nan j'avais pas vu ca... Du coup je rouvre !

[2014-11-22 12:55] SpaceFox commented on #1776
On peut rouvrir un autre ticket avec le problème qui reste ? Parce que si on commence à _sortir_ des issues de la milestone, je n'arriverai jamais à savoir ce qu'il y a dedans !

[2014-11-22 12:55] gustavi commented on #1776
OK je fais ça.

[2014-11-22 12:56] #1776 closed, assigned to Eskimon

[2014-11-22 12:57] Eskimon commented on #1776
Yep désolé tu as bien raison

[2014-11-22 12:58] gustavi opened #1787 "Mauvais lien de citation lorsqu'on est déjà en train de citer quelqu'un"
Lorsqu'on est déjà en train de cite quelque chose et qu'on reclique sur un lien « Citer » on a une page 404 car ça ne retourne pas la bonne URL. Ça vient du `?tutorial=<foo>` où `foo` est vide.

Ceci concerne les tutoriels, à voir si ça affecte aussi d'autre parties du site.

[2014-11-22 14:44] SpaceFox commented on #1600
Je profite du fait que je réaligne la préprod avec les tutos actuel pour passer le GC sur la préprod. On verra bien ce que ça donne.

[2014-11-22 15:33] gustavi opened #1789 "Mettre du cache sur la version de git (présente sur toutes les pages)"
Cette issue est prête à être résolue une fois qu'on aura du cache qui fonctionne bien sur la prod.

Le fichier à modifier est le context_processor (une fois ma PR pushée) : http://paste.awesom.eu/dBvY

Ça peut sembler doublon avec d'autres issues mais là c'est vraiment trivial à faire une fois que tout est bon niveau infra.

[2014-11-22 21:49] Situphen commented on #1764
Je confirme que le bug est bien présent quand la sidebar est cachée (donc que sur les smartphones et les tablettes en mode portrait). Je confirme sur Chrome et Firefox avec Nexus 5 et Nexus 10 sous Android 5.0

[2014-11-22 21:50] gustavi opened #1791 "Faute de frappe sur « Remarques sur cette utilisateur »"
Via la preprod en 1.3 :

Ça concerne https://github.com/zestedesavoir/zds-site/blob/defea39fcc6b0db273a6d96732255bd6a110dce8/templates/member/profile.html#L78

[2014-11-22 21:58] Situphen opened #1792 "Décalage sur la page d'accueil sur les tablettes mode portrait"
Bug trouvé en mode portrait avec Chrome (version 39 je crois) sur la tablette Nexus 10 sous Android 5.0

Pour retrouver le bug, il suffit d'aller sur la page d'accueil et de glisser la page vers la gauche, comme si il y avait un menu caché à droite.

[J'éditerai pour mettre une capture d'écran]

[2014-11-22 23:05] Eskimon commented on #1791
Je l'ai déjà corrigé ici : https://github.com/zestedesavoir/zds-site/pull/1770

Mais comme personne ne QA mes PR :(

[2014-11-22 23:09] Eskimon commented on #1792
C'est pareil que ca ? https://github.com/zestedesavoir/zds-site/issues/1702

Si oui alors à fermer et une PR est prête et attend la QA : https://github.com/zestedesavoir/zds-site/pull/1705

[2014-11-22 23:11] Situphen commented on #1792
Oui, c'est un doublon, désolé !

[2014-11-23 04:09] firm1 commented on #1792
Zouu

[2014-11-23 04:09] #1792 closed, assigned to nobody

[2014-11-23 10:38] #1787 closed, assigned to gustavi

[2014-11-23 10:39] Eskimon opened #1794 "Mauvais lien de citation lorsqu'on est déjà en train de citer quelqu'un (articles)"
Lorsqu'on est déjà en train de cite quelque chose et qu'on reclique sur un lien « Citer » on a une page 404 car ça ne retourne pas la bonne URL. Ça vient du ?article=<foo> où foo est vide.

Ceci concerne les articles

[2014-11-23 10:40] Eskimon commented on #1794
@gustavi tu peux reproduire le fix de https://github.com/zestedesavoir/zds-site/issues/1787 mais pour les articles ?

[2014-11-23 10:42] gustavi commented on #1794
Oui je m'en occupe.

[2014-11-23 12:00] Axylium commented on #1650
Il faudrait rouvrir ici. Le bug ici, est toujours présent sur la v1.3.

[2014-11-23 14:42] firm1 opened #1796 "Demander a Google de ne pas indexer le forum beta"
Tout est dans le titre. C'est pas top pour le référencement.

Pour info, la clé du forum beta se trouve dans les settings.

[2014-11-24 14:33] firm1 commented on #1761
Cecia a été corrigé en même temps que la PR de passage a mysql pour travis.

[2014-11-24 14:34] #1761 closed, assigned to nobody

[2014-11-24 14:48] firm1 commented on #1736
Je confirme que la PR a corrigé le problème.

[2014-11-24 15:59] firm1 commented on #1639
Bon visiblement cette erreur n'est qu'une conséquence d'autre chose (publication échouée) et ne se reproduit plus depuis un moment.

Je ferme donc, et on ré-ouvrira en cas de soucis.

[2014-11-25 16:47] firm1 commented on #1796
J'enlève le tag infra. ça doit être fait dans le code.

[2014-11-25 16:52] shiningfm commented on #932
Je pensais m'en occuper, mais en quoi les solutions proposées arrangent les choses en matière d'accessibilité ? Concrètement, rajouter une image ou un effet au survol, je ne trouve pas ça pertinent pour une personne aveugle (ou autre).

Il ne faudrait pas tout simplement spécifier des rôles WAI-ARIA ?

[2014-11-25 17:36] #1791 closed, assigned to Eskimon

[2014-11-25 17:36] #1759 closed, assigned to Eskimon

[2014-11-25 17:36] Eskimon commented on #1767
Voila une partie des choses de faites

[2014-11-25 18:03] firm1 commented on #1560
Fix'd.

[2014-11-25 18:03] #1560 closed, assigned to nobody

[2014-11-27 12:45] Eskimon commented on #1703
@Situphen ou @sandhose chaud pour faire ca ? Ca devrait pas prendre trop longtemps j'imagine ? (juste changer la couleur du hover ?)

[2014-11-27 12:54] Eskimon commented on #1477
Dites, les elements sont tous dans des h3. Est-ce qu'on pourrait pas avoir le titre aussi dans l'attribut "title" des h3 pour ainsi avoir un titre qui s'affiche au survol en tooltip ? Ca marchera toujours, c'est pas un bricolage js ou quoi que ce soit, les gens sont habitues a ce genre de comportement...

Maintenant est-ce qu'une mauvaise pratique web l'en empeche ?

Je dis ca parce qu'a l'heure a