[2017-08-06 15:13] motet-a commented on #4468
@abdelaz3r

[2017-08-06 15:21] motet-a opened #4469 "Erreur 500 sur /billets/"
Repéré par @entwanne (pas moi, lui) : https://beta.zestedesavoir.com/billets/

https://sentry.sandhose.fr/zeste-de-savoir/beta-backend/issues/991/

[2017-08-06 15:23] pierre-24 opened #4470 "Le pager de la page des tutos/articles donne également le dernier élément de la page précédente"
Voir par exemple [ici](https://beta.zestedesavoir.com/bibliotheque/?type=tutorial&subcategory=programmation-et-algorithmique&page=2).

[2017-08-06 15:25] pierre-24 opened #4471 "Modifier le nombre d'éléments à afficher dans la bibliothèque"
Je cite:

[code]

ping @abdelaz3r

[2017-08-06 15:27] pierre-24 commented on #4471
Et pour le niveau 4, y'a ce [12, là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_published.py#L490) qui sort de nul part et qui devrait probablement être une variable du setting, genre `content_per_page`

[2017-08-06 15:27] abdelaz3r commented on #4471
Je prends

[2017-08-06 15:32] pierre-24 commented on #4469
`topbar.py` ...

[2017-08-06 16:00] gllmc opened #4473 "Le nombre de contenus affichés est incorrect"
Il est affiché sur la bêta qu'il y a 455 contenus validés alors qu'il y en a moins. D'après @pierre-24, les contenus servant à rediriger sont pris en compte, alors qu'ils devraient être exclus.

(Ce n'est pas un problème lié aux billets car si on les compte, on passe à 480 contenus).

[2017-08-06 16:02] gllmc opened #4474 "Le nom du site a disparu partout"
Le nom du site a disparu de tous les endroits où il est affiché : `title` des pages, footer, etc. Pour information, il s'agit du paramètre d'un `ZDS_APP` (`litteral_name`).

[2017-08-06 16:08] motet-a commented on #4474
Je crois que `litteral_name` a été renommé en `literal_name` récemment. Ça peut venir de là.

[2017-08-06 16:09] gllmc commented on #4474
En effet, certains endroits n'ont pas été mis à jour. Un coup de replace en viendra rapidement à bout, je m'en occupe.

[2017-08-06 16:10] pierre-24 commented on #4474
C'est tout conement ça ? J'étais en train de me casser la tête pour rien :p

[2017-08-06 16:11] motet-a commented on #4474
Je pense que oui : https://github.com/zestedesavoir/zds-site/commit/d9794b1ab2d855e24bd3013befcfd4928508a8c8#diff-02280df5f63dd13cb1a7e40384d029f1R1060

[2017-08-06 16:36] pierre-24 opened #4476 "L'affichage des contenus n'est plus dans le même ordre"
Alors que ça devrait être du plus récent au plus vieux [ici](https://beta.zestedesavoir.com/bibliotheque/?subcategory=mathematiques&type=tutorial), c'est l'inverse :)

[2017-08-06 16:40] pierre-24 commented on #4476
... Ce qui est bizarre, puisque y'a bien le `-pubdate` [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_published.py#L489)

[2017-08-06 16:42] pierre-24 commented on #4476
Ah, trouvé.

[2017-08-06 16:48] gllmc opened #4477 "Le type de contenus n'est pas vérifié dans le niveau 4 de la bibliothèque"
Ce problème permet :

- d'afficher les billets en mettant `opinion`. [Exemple](https://beta.zestedesavoir.com/bibliotheque/?type=opinion&subcategory=mathematiques)
- de provoquer une erreur 500 en mettant n'importe quoi. [Sentry](https://sentry.sandhose.fr/zeste-de-savoir/beta-backend/issues/993/)

[2017-08-06 17:01] abdelaz3r commented on #4471
Done

[2017-08-06 17:01] abdelaz3r commented on #4470
Done

[2017-08-06 17:44] vhf commented on #4477
don't trust user input

[2017-08-06 18:26] gllmc opened #4481 "Recherche par tag dans la bibliothèque"
Les tags sur les contenus ou dans le menu redirigent actuellement vers une URL de type https://beta.zestedesavoir.com/bibliotheque/?tag=zds, mais cela n'applique aucun filtre, il faudrait gérer cela (je pense qu'on devrait passer par le niveau 4).

[2017-08-06 19:22] #4477 closed, assigned to nobody

[2017-08-06 19:36] #4474 closed, assigned to gllmc

[2017-08-06 20:34] motet-a commented on #3862
(Je déterre)

Le 99<sup>ème</sup> percentile me semble très bien. Ça veut dire qu’on retire le support d’IE 10, ce qui est une bonne nouvelle pour nous ([même IE 11 est loin d’être facile](https://github.com/zestedesavoir/zds-site/issues/4465)…).

[2017-08-06 20:35] abdelaz3r commented on #4468
Voilà j'ai fait un petit refactoring du CSS pour l'entête, pour que ce soit plus maîtrisable et surtout plus joli en mobile. J'ai aussi réduit légèrement la taille du titre principal (des gens ont fait la remarque sur le forum).

[2017-08-06 21:41] motet-a opened #4483 "Le lien de déconnexion dans le menu mobile ne marche pas avec IE"
Avec Microsoft® Internet Explorer™ 11 :

![image](https://user-images.githubusercontent.com/15378830/29007320-ae216a0c-7b00-11e7-88ff-f5d78ebe3d65.png)

Le lien “Déconnexion” ne marche pas.

[2017-08-06 22:10] pierre-24 commented on #4473
Le problème va plus loin que ça, en fait ([vu ici](https://beta.zestedesavoir.com/bibliotheque/informatique/)):

![screenshot from 2017-08-07 00 09 30](https://user-images.githubusercontent.com/7889675/29007495-c0f15c88-7b04-11e7-82d3-5a6efaca7595.png)

(y'a deux fois le contenu OAuth2)

[2017-08-06 22:27] pierre-24 commented on #4473
Ah, ben oui ... Y'a des contenus qui ont plusieurs catégories en même temps.

[2017-08-06 23:13] motet-a commented on #4483
C’est encore un autre problème endémique à Internet Explorer® : https://stackoverflow.com/questions/20658402/internet-explorer-issue-with-html5-form-attribute-for-button-element

[2017-08-07 05:21] motet-a opened #4486 "Mélanges de `and` et de `or` trompeurs"
[Ici](https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/profile.html#L577) et [là](https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/profile.html#L326) dans `/templates/member/profile.html`. C’est un peu ambigu pour un être humain :

[code]

[code]

Par exemple :

[code]

[2017-08-07 06:26] motet-a opened #4488 "Remplacer <span /> par <span></span> dans base.html"
Erreur idiote introduite par moi-même.

[2017-08-07 07:16] gllmc commented on #4486
En fait, dans les templates Django, il n'est pas possible d'utiliser les parenthèses et les `and` sont toujours évalués avant les `or`. Donc je ne sais pas si ça doit être corrigé.

[2017-08-07 07:30] motet-a commented on #4486
@gcodeur À la limite on peut mettre un `{% if` dans un autre `{% if` à la place des `and`. C’est plus verbeux mais c’est toujours plus clair.

[2017-08-07 08:01] gllmc commented on #4486
@motet-a : ce que tu décris est la solution si on veut que `or` soit pris en compte avant `and`, mais dans le cas contraire (exemples de ton ticket), cette solution ne marche pas. ;)

[2017-08-07 08:33] motet-a commented on #4486
Bon, il n’y a pas de solution simple du coup (peut-être faut-il changer des choses dans le controlleur ?). Merci !

[2017-08-07 08:33] #4486 closed, assigned to nobody

[2017-08-07 10:25] #4488 closed, assigned to nobody

[2017-08-07 10:28] gllmc opened #4492 "Impossible de décocher "Se souvenir de moi""
Bonjour tout le monde !

Je ne me suis pas connecté du week-end, mais je viens de remarquer qu'il n'est pas possible de dé-cocher "Se souvenir de moi" (en écho à [ce sujet](/forums/sujet/4848/impossible-de-cocher-se-souvenir-de-moi)) sur la page de connexion…

Rien de vraiment grave ni de bloquant, mais je voulais quand même le signaler ;)

Sujet : https://zestedesavoir.com/forums/sujet/9101/impos

[2017-08-07 11:24] pierre-24 commented on #4481
Quasi fixée par erreur dans #4484 ... Donc je termine :-°

[2017-08-07 11:49] #4471 closed, assigned to abdelaz3r

[2017-08-07 12:44] #4453 closed, assigned to nobody

[2017-08-07 12:45] pierre-24 commented on #4453
Merci @motet-a =)

[2017-08-07 14:19] #661 closed, assigned to nobody

[2017-08-07 14:19] pierre-24 commented on #661
ET c'est enfin réglé :)

[2017-08-07 15:49] pierre-24 commented on #4470
Et c'est mergé ;)

[2017-08-07 15:49] #4470 closed, assigned to abdelaz3r

[2017-08-07 20:11] pierre-24 commented on #4492
Merci @rezemika :)

[2017-08-07 20:28] #4492 closed, assigned to nobody

[2017-08-08 15:08] motet-a opened #4498 "Utiliser yarn au lieu de npm"
For the sake of reliability.

[2017-08-08 20:20] #3897 closed, assigned to nobody

[2017-08-09 08:54] pierre-24 commented on #4031
Recement, j'ai lancé les tests, et à part celui sur les pdf (logique), ça passait. Je tape #4497 , comme ça je vérifie en même temps :)

[2017-08-09 11:31] pierre-24 opened #4500 "[v25] Changer le texte de la page d'accueil"
Il y aurait peut être moyen d'améliorer un tout petit peu le texte d'accueil pour laisser sous-entendre que article et tutoriels sont rangés dans la "bibliothèque", non ?

[2017-08-09 11:32] motet-a commented on #3387
Il faudrait utiliser une police d’icône ou du SVG. Voir #4100. On peut fermer ça ?

[2017-08-09 14:25] rezemika opened #4501 "Certains contenus n'ont pas de temps de lecture estimé"
Tout est dans le titre, certains contenus n'affichent aucune estimation de leur temps de lecture. Voici la liste complète, générée à l'instant avec un script (il y en a 10 au total, tous des billets) :

- https://zestedesavoir.com/billets/2063/anniversaire/
- https://zestedesavoir.com/billets/2044/geobreve-2-quelle-difference-entre-technopole-et-technopole/
- https://zestedesavoir.com/billets/1966

[2017-08-09 15:09] A-312 commented on #4457
La règle que j'ai cité est présente dans le CSS, je suppose qu'a cause d'une factorisation du CSS, cette règle a été déplacé et n'est plus prise en compte dans le rendu.

[2017-08-09 18:01] Situphen commented on #4483
Je met en Priorité basse étant donné que IE est très peu utilisé par nos membres (d'après [le bilan en février 2017](https://zestedesavoir.com/articles/1717/zeste-de-savoir-en-2016-lannee-de-de-quoi-en-fait/#2-les-visiteurs-et-les-membres)) :

[2017-08-09 18:02] Situphen commented on #4465
Je met en Priorité basse étant donné que IE est très peu utilisé par nos membres (d'après [le bilan en février 2017](https://zestedesavoir.com/articles/1717/zeste-de-savoir-en-2016-lannee-de-de-quoi-en-fait/#2-les-visiteurs-et-les-membres)) :

[2017-08-10 18:01] vhf commented on #4498
❤️

[2017-08-10 18:01] #4498 closed, assigned to nobody

[2017-08-10 18:07] #4444 closed, assigned to pierre-24

[2017-08-10 18:07] #4469 closed, assigned to pierre-24

[2017-08-11 00:10] AmarOk1412 commented on #4481
@pierre-24 fixé ici? Si oui on peut fermer.

[2017-08-11 00:11] AmarOk1412 commented on #4476
la même ici @pierre-24

[2017-08-11 00:11] AmarOk1412 commented on #4473
et ici :D @pierre-24

[2017-08-11 06:26] pierre-24 commented on #4481
Oui :)

[2017-08-11 06:26] #4481 closed, assigned to pierre-24

[2017-08-11 06:26] pierre-24 commented on #4473
Oui :)

[2017-08-11 06:26] #4473 closed, assigned to pierre-24

[2017-08-11 06:26] pierre-24 commented on #4476
Oui :)

[2017-08-11 06:26] #4476 closed, assigned to pierre-24

[2017-08-11 10:11] pierre-24 opened #4506 "[v25] La consultation par tag mène à une erreur 500"
[Exemple ici](https://beta.zestedesavoir.com/bibliotheque/?tag=python).

Le problème est que le tag est recherché par son slug, slug qui n'est pas unique, comme discuté dans #3601. La solution apportée alors était de rendre le titre unique et de rechercher par titre. @vhf et moi-même pensons que ce n'est pas extra comme idée, et je pense qu'il faudrait donc se servir d'`uuslug`, puisque c'est déjà

[2017-08-11 10:17] pierre-24 opened #4507 "[v25] Les liens vers les sous-catégories ne sont pas corrects"
[Dans le `content_item.part.html`](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/includes/content_item.part.html#L55), on a oublié de changer le lien vers la sous-catégorie. C'est également le cas  [dans `tags_authors.part.html`](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/includes/tags_authors.part.html#L74), et probablement encore à l'un ou l

[2017-08-11 16:20] A-312 commented on #4501
Apparemment il n'aime pas que le temps soit inférieur à une minute.

[2017-08-11 16:24] A-312 commented on #4500
des tutoriels de tous niveaux ;

A)

B)

[2017-08-11 16:36] A-312 opened #4511 "Mettre au pluriel "Voir la tribune de ....""
Bonjour,

Lors de la lecture d'un billet, le choix "Voir la tribune de ...." n'est pas claire. Et ne prend pas en compte le cas où l'auteur à plusieurs tribunes.

 - Rajouter cette phrase au pluriel ?
 - Modifier la phrase en : "Voir les autres tribunes de ....".

Le problème se trouve ici : [content_online.html#L231](https://github.com/zestedesavoir/zds-site/blob/2416d5ad8a0c87e0686851f04189bacdb

[2017-08-11 19:22] gllmc commented on #4501
En soi, ça me choquerait d'afficher "Temps estimé : 0 minute", donc je pense que le comportement actuel n'est pas si mal que ça. On peut aussi afficher "moins d'une minute".

[2017-08-12 08:07] A-312 opened #4513 "[v25] La version mobile de la bibliothèque est trop longue"
Bonjour,

Je viens ici car la version mobile de la bibliothèque est trop longue, la liste des catégories n'est pas des plus utile et cache le vrai contenu de la page (Sans parler du bug avec la largeur).

Suggestion :
 - Mettre la liste des catégories dans le menu à gauche ;
 - Faire un slide gauche/droite ;
 - Afficher seulement les titres des catégories, et afficher le reste au clique dans l'idé

[2017-08-12 08:17] A-312 commented on #4501
Je vote pour "moins d'une minute".

[Donc :](https://github.com/zestedesavoir/zds-site/blob/d9794b1ab2d855e24bd3013befcfd4928508a8c8/templates/tutorialv2/includes/tags_authors.part.html#L79)

        {% if online and reading_time %}
            {% trans "Temps de lecture estimé : " %}{{ reading_time | minute_to_duration:"long"}}
        {% elseif online %}
            {% trans "Temps de lecture es

[2017-08-12 08:21] pierre-24 commented on #4501
"à" me semble bien.

[2017-08-12 08:21] A-312 opened #4514 "[v25] Ecran large (1920px) et fixed layout dans la bibliothèque"
Bonjour,

Si je me souviens bien, il y a quelques années, la question du fixed layout a été de ne pas appliquer de taille fixe, et de laisser le choix de profiter de toute la largeur.

Je propose donc de reste sur cette continuité.

Sur la beta avec la bibliothèque :

![beta](http://i.imgur.com/xz3jmHp.png)

Actuellement sur la v24 :
![v24 srevinu](http://i.imgur.com/elNZLdU.jpg)

[2017-08-12 08:26] pierre-24 commented on #4513
Lié à #4482 ?

[2017-08-12 08:39] pierre-24 commented on #4511
"La" tribune est l'endroit ou un auteur publie "des" billets (sinon ça s'appellerait des tribunes) ;)

[2017-08-12 08:42] A-312 opened #4515 "[v25] Liste des catégories manquantes dans la liste de tous les tutoriels"
Bonjour,

La liste des catégories est manquante dans la liste des tutoriels **dont pour la liste "tous les tutoriels"**. Sachant que j'ai choisi aucune catégorie, ne devrions-nous pas justement intégrer la liste des catégories pour affiner le choix/la liste ?

(Dans le cas où je fais Page d'accueil > Bibliothèque > "Accéder à tous les contenus..." > "Plus de tutoriel").

Sur la beta avec la biblio

[2017-08-12 08:43] A-312 commented on #4513
Seulement pour ce qui a entre parenthèse, ici je parle de la longueur (hauteur) de la page.

[2017-08-12 08:45] A-312 commented on #4511
Ah ! Ce n'est pas claire... Je pensais que "une tribune" = "un billet".

Donc on reste sur la position actuelle ? Même si j'imagine que je ne suis pas le seul à faire cette erreur.

[2017-08-12 08:54] motet-a commented on #4513
C’est sur quel navigateur que ça fait ça ? Normalement toute la page doit s’adapter correctement à la largeur de la fenêtre, il n’y a pas besoin de mettre un défilement horizontal ou je ne sais quoi.

[2017-08-12 09:28] gllmc commented on #4515
Le comportement est normal : pour afficher la liste des tutoriels d'une catégorie, il faut cliquer sur la catégorie puis sur "Plus de tutoriels dans ...". À plus long terme, il me semble qu'il est prévu de pouvoir affiner les filtres directement depuis le niveau 4 de la bibliothèque, ce qui permettra ce que tu proposes.

[2017-08-12 09:42] A-312 commented on #4513
Ce rendu vous pertube (normalement la partie de droite avec le background noir, n'est pas accessible, le rendu à pris de façon strict le --fullpage.

Le vrai rendu est celui-ci :
![image](https://user-images.githubusercontent.com/18501150/29239630-1f8991d2-7f53-11e7-8d13-e3ed4511e0c3.png)

Ce que je critique ici, c'est la partie "Domaines de savoir" qui est trop longue. Je ne parle pas du bug de l

[2017-08-12 09:44] pierre-24 commented on #4515
~~Par ailleurs, le retour à un layout fixe est une volonté, pas une erreur, pour être raccord avec ce qui se fait ailleurs sur le site ( si @abdelaz3r peut confirmer ?)~~

(*pas le bon sujet*)

[2017-08-12 09:45] pierre-24 commented on #4513
Bon, je reconnais qu'en mobile, on pourrait peut être faire disparaitre un ou deux contenus de chaque liste, et éventuellement les sous-catégories. Par contre, l'accordéon, je suis pas forcément pour.

Ping @abdelaz3r :)

[2017-08-12 09:48] A-312 commented on #4515
@pierre-24 Le fixed layout c'est l'issue voisine : #4514

[2017-08-12 09:50] pierre-24 commented on #4515
Bien vu :)

(note, pareil, c'est une volonté)

[2017-08-12 09:51] pierre-24 commented on #4514
Je disais donc ...

[2017-08-12 09:58] abdelaz3r commented on #4514
Alors concernant ça, effectivement ça n'a jamais été officiellement validé.

Cependant, et suite à [cette discussion](https://zestedesavoir.com/forums/sujet/4856/discussions-sur-le-design-de-zestedesavoir/) (et plus précisément dans le section *A propos du design d'Alex-D*) qui posait les bases de la réflexion qui a mené ce choix, et au vue de l'aval important reçu (par les pouces verts), on a déc

[2017-08-12 09:58] abdelaz3r commented on #4515
Exact

[2017-08-12 10:08] A-312 commented on #4514
Ils ont voté explicitement pour un fixed layout ? Quel est la taille de leur écran ?

[2017-08-12 10:10] abdelaz3r commented on #4513
Alors en fait, à mon avis, cette page doit (et va) beaucoup évoluer. Là on a mis uniquement ce qu'on a pour l'instant mais on aimerai à terme rendre cette page plus intéressante. Donc je suis pas spécialement pour faire beaucoup de développement (genre JS pour un accordéon) surtout si on fait des modifications par la suite.

[2017-08-12 10:12] A-312 commented on #4513
Quand je parlais d'un accordéon c'était un simple effet "spoiler".

[2017-08-12 10:14] abdelaz3r commented on #4514
Non comme tu peux le voir. Cepandant, pour la page d'accueil ce *fixed layout* avait remporté la partie et vu les 36 likes et les 2 dislikes (effectivement sur tout mon message) et la réflexion que je propose derrière (qui me semble pas trop déconnante) je suis partit sur cette proposition.

Maintenant rien ne t'empêche de refaire une demande et un débat. Moi je vais pas le faire, je considère (co

[2017-08-12 10:17] A-312 commented on #4514
Je souhaite un contenu de taille dynamique uniquement pour cette page/niveau. Ca risque d'être incohérent avec le reste ?

[2017-08-12 10:23] A-312 commented on #4396
Avec la v25 les tutoriels c'est ok. Par conte les tribunes demande encore une modification.

[2017-08-12 10:29] abdelaz3r commented on #4514
Complètement. Mais vraiment complètement (et je dis pas ça pour te faire chier ou être contre ta proposition). Mais ça tue totalement l'interface, la logique et la progression de cette UI/UX.

Du coup si vraiment tu sembles considérer ça comme essentiel je te propose :

1. De proposer ceci sur le forum (et voir le débat qui vient), en sachant que perso, trouvant cela hérétique, je ne m'occuperai p

[2017-08-12 10:32] vhf commented on #4514
Pour l'instant @A-312 on va rester sur un layout fixe, comme visible actuellement sur la beta.

[2017-08-12 10:32] #4514 closed, assigned to nobody

[2017-08-12 10:35] A-312 commented on #4514
En effet, je pensais juste à modifier le niveau 4. Mais si c'est incohérent autant ne rien faire.

[2017-08-12 10:36] vhf commented on #4515
Yep. (Je fais un peu de ménage dans les issues histoire qu'on voit clairement ce qu'il reste à faire.)

[2017-08-12 10:36] #4515 closed, assigned to nobody

[2017-08-12 10:38] vhf commented on #4511
En français une tribune c'est un espace d'expression (au figuré), un lieu surélevé genre estrade (au sens propre). On s'y exprime (en écrivant des choses) ou on y prononce des discours.

[2017-08-12 10:38] #4511 closed, assigned to nobody

[2017-08-12 10:39] A-312 commented on #4396
Je prends.

[2017-08-12 14:28] A-312 commented on #4396
Cet effet convient ?

![](http://i.imgur.com/vc2Z5Pq.png)

[2017-08-12 14:47] artragis commented on #4414
rezemika, peux-tu m'envoyer l'archive par quelque media que ce fût? (mon pseudo @ gmail.com devrait fonctionner)

[2017-08-12 15:29] vhf opened #4518 "TypeError: exception() takes at least 2 arguments (1 given)"
Problème en prod: la liberté de logging semble mal utilisée.

https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/1000/

[code]

[2017-08-12 15:29] artragis commented on #4518
je m'en occupe.

[2017-08-12 15:52] A-312 commented on #4457
Je pensais le faire. Mais après 3 essais je n'ai pas reussi (même en annulant mes modifs avec git checkout) a compilé le CSS pour tester le rendu. La commande gulp watch n'a pas arrêté de crier qu'il y avait une erreur avec une variable non déclaré (font machin au début du fichier), même en essayant d'ajouter un simple espace à la fin d'une ligne.

[2017-08-12 16:10] motet-a commented on #4457
C'est étrange. Que t'affiches `git status` ?

[2017-08-12 18:05] artragis commented on #4427
@vhf @rezemika ça semble fixé, non?

[2017-08-12 18:12] artragis commented on #4370
je clos car doublon de #4420

[2017-08-12 18:12] #4370 closed, assigned to nobody

[2017-08-12 18:14] artragis commented on #4286
Je clos car on a une tâche plus précise ici #4391
pour un aperçu https://www.youtube.com/watch?v=cdJsptRdJnc

[2017-08-12 18:14] #4286 closed, assigned to nobody

[2017-08-12 18:14] artragis commented on #4279
Je clos car c'est déjà présent sur la v24

[2017-08-12 18:15] artragis commented on #4266
est-ce toujours le cas @gcodeur ?

[2017-08-12 18:17] artragis commented on #4242
@vhf y-a-t-il quelque chose à faire côté zds-site ou bien #4388 suffira à lui-même?

[2017-08-12 18:18] artragis commented on #4183
Complexe pour peu d'intérêt, je clos.

[2017-08-12 18:18] #4183 closed, assigned to nobody

[2017-08-12 18:19] artragis commented on #4178
je propose qu'on crée un tag elastic pour indexer toutes les issues qui sont relatives.

[2017-08-12 18:20] artragis commented on #4105
La #4079 est mergée. Je ferme.

[2017-08-12 18:30] pierre-24 commented on #4266
Oh que oui.

[2017-08-12 18:30] pierre-24 commented on #4178
Pour !

[2017-08-12 19:31] gllmc commented on #4266
Oui. En fait, je pense que la meilleure solution serait d'appliquer dynamiquement toutes les permissions en `change_` comme on fait pour les tests, mais je ne sais pas comment ça se fait.

[2017-08-12 19:33] #4518 closed, assigned to artragis

[2017-08-12 19:34] #4437 closed, assigned to artragis

[2017-08-12 19:41] gllmc commented on #4427
Je confirme que c'est fixé par #4446. :)

[2017-08-12 19:41] #4427 closed, assigned to nobody

[2017-08-12 19:48] pierre-24 commented on #4460
(et on oublie pas de fermer l'issue, cette fois)

[2017-08-12 19:48] #4460 closed, assigned to artragis

[2017-08-12 20:06] pierre-24 commented on #4501
Voilà :)

[2017-08-12 20:06] #4501 closed, assigned to artragis

[2017-08-12 21:04] rezemika commented on #4414
@artragis : C'est fait, désolé pour le délai.

Si quelqu'un d'autre en a besoin, je la mets ici en pièce-jointe.

[quest-ce-quun-logiciel-libre-1.zip](https://github.com/zestedesavoir/zds-site/files/1220059/quest-ce-quun-logiciel-libre-1.zip)

[2017-08-13 10:07] pierre-24 commented on #4468
ça, normalement, c'est réglé :)

[2017-08-13 10:07] #4468 closed, assigned to abdelaz3r

[2017-08-13 13:32] motet-a opened #4524 "Réécrire le CSS"
Bonjour,

Après avoir passé quelques jours à essayer d’améliorer
doucement le CSS, je pense de plus qu’il ne serait pas
forcément si idiot de le réécrire complètement.

[Bon, je sais bien que ce n’est pas forcément une bonne idée.](https://www.joelonsoftware.com/2000/04/06/things-you-should-never-do-part-i/)

Comme je l’ai déjà dit, je trouve qu’il y a vraiment beaucoup
de choses assez vielles dan

[2017-08-13 13:35] pierre-24 commented on #4524
"Quels sont les avantages de Stylus sur SCSS qui justifierais un tel changement ?" est la première question que j'ai envie de poser.

[2017-08-13 13:46] motet-a commented on #4524
@pierre-24 Je trouve que les avantages de Stylus sur SCSS sont quasiment que syntaxiques. Actuellement, je n’ai pas vu de choses possibles avec Stylus et pas possibles avec SCSS. Si je propose de réécrire le SCSS actuel, c’est pas pour le plaisir de changer de techologie, mais c’est parce je trouve que le *code* actuel mériterait d’être vraiment amélioré.

[2017-08-13 13:49] pierre-24 commented on #4524
Je ne remet absolument pas en question le fait que le (S)CSS actuel aurait besoin d'un coup de ménage (quitte à le réécrire entièrement si tu te sens de porter ça sur la longueur). Je m'interroge juste sur le changement de techno, en fait.

[2017-08-13 15:36] motet-a commented on #4524
Ah OK 🙃. En fait j'ai à peine essayé Stylus, mais étant donné sa similarité avec SCSS on aura vite fait de tout traduire (concrètement il faut juste rajouter des points virgules, des accolades et quelques bricoles dans le genre).

[2017-08-13 22:31] Situphen commented on #4524
@motet-a Pour le changement SCSS -> Stylus, le problème n'est pas l'adaptation à la syntaxe mais plutôt le passage des outils SCSS->CSS aux outils Stylus->CSS. Actuellement notre stack pour builder le front tourne plutôt bien (avec Gulp et compagnie), passer à Stylus c'est risquer de ce casser la tête sur cette partie-là.
Réécrire tout le SCSS va te prendre **énormément** de temps, ne te complique

[2017-08-13 23:15] AmarOk1412 commented on #711
@motet-a cf #4526 pour le coup :)

Et ça utilise Selenium sans passer par Saucelab pour Travis (et sans Docker).

[2017-08-14 07:49] motet-a commented on #4524
@Situphen En fait, il n’y a presque rien à changer dans le Gulpfile. Il n’y a pas besoin de toucher PostCSS, il faut juste traduire `_sprite.scss.hsb` et remplacer `gulp-sass` par `gulp-stylus`. Et hop.

[2017-08-14 07:51] pierre-24 commented on #4524
Je reste d'accord que le faire en deux étapes reste plus *safe*.

[2017-08-14 14:47] #4500 closed, assigned to nobody

[2017-08-15 05:11] motet-a opened #4527 "Erreur de balisage dans le menu principal"
Et voici un splendide `ul>ul` :

![image](https://user-images.githubusercontent.com/15378830/29302912-89699e12-8188-11e7-8479-9563cf11e7b5.png)

Sur le MDN, [on peut lire ça à propos de `<ul>`:](https://developer.mozilla.org/en/docs/Web/HTML/Element/ul)

Bon, si ça ne se produit que lorsqu’il n’y a aucun élément, on peut considérer ça comme mineur.

[2017-08-15 07:06] motet-a opened #4528 "Certaines erreurs dans les formulaires ne sont pas jolies"
Par exemple, lors de l’inscription :

![image](https://user-images.githubusercontent.com/15378830/29304401-14730516-8193-11e7-9cb6-1d3caa6b3057.png)

[code]

Le template de ce `<div class="alert alert-block alert-error">` a l’air de venir de quelque part chez Crispy Forms. Il y a un moyen de changer ça ? Je pense que ça serait bien d’afficher ces erreurs comme les bandeaux qu’on voit partout (vous

[2017-08-15 07:18] pierre-24 commented on #4528
En l'occurence, d'habitude, ça se pase un peu mieux. C'est généré [par ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/forms.py#L90), donc je me demande si c'est lié au fait d'utiliser des validateurs (ce qui est une bonne idée en soit)

[2017-08-15 09:17] A-312 commented on #4524
Stylus c'est sass sans les brackets et point virgule ?

[2017-08-15 09:29] A-312 opened #4530 "Alerter la différence entre billets et contenus validés"
En rapport avec ce sujet : https://zestedesavoir.com/forums/sujet/9090/bandeau-pour-alerter-la-difference-entre-billets-et-contenus-valides-tutorielsarticles/

Pour rendre la différence entre billet/contenus validés plus visible une idée de bandeau/message a été proposé.

Selon le message d'ache, il suffirait d'ajouter [à la suite de ce fichier](https://github.com/zestedesavoir/zds-site/blob/dev/t

[2017-08-15 20:54] motet-a commented on #4524
[En gros ouais](http://stylus-lang.com/).

[2017-08-15 21:28] vhf commented on #4242
@artragis ça dépend. Tu veux implémenter https://github.com/zestedesavoir/zds-site/issues/4242#issuecomment-286208654 dans #4388 ?

[2017-08-16 01:10] AmarOk1412 commented on #3560
@artragis cette issue n'est plus d'actualité je pense :)

[2017-08-16 01:13] AmarOk1412 commented on #3646
@artragis, si tu peux fermer aussi ça.

[2017-08-16 01:14] AmarOk1412 commented on #3647
@artragis à fermer.

[2017-08-16 01:50] AmarOk1412 commented on #1927
@artragis à fermer

[2017-08-16 01:53] AmarOk1412 commented on #2076
@artragis à fermer. cf https://zestedesavoir.com/forums/messages/1757/?page=16

[2017-08-16 02:01] AmarOk1412 commented on #3335
@gustavi fixé ça ?

[2017-08-16 02:02] AmarOk1412 commented on #3435
@gustavi je pense que c'est bon ici alors :)

[2017-08-16 02:07] AmarOk1412 commented on #3683
@artragis je serais d'avis de fermer cette issue.

[2017-08-16 05:59] pierre-24 commented on #3435
Je pense aussi :)

[2017-08-16 05:59] #3435 closed, assigned to nobody

[2017-08-16 14:16] motet-a opened #4533 "logo-mobile@2x.png a été créé à partir d’une image JPEG"
...et c’est moche et ça se voit un peu :

![image](https://user-images.githubusercontent.com/15378830/29367698-101056d4-829e-11e7-8d94-b4ff9435a806.png)

Il faudrait le recréer proprement à partir d’une image vectorielle, avec un fond transparent.

[2017-08-16 14:29] firm1 commented on #4456
Normalement @vhf a réussi a récupérer les accès à Readthedocs.

[2017-08-16 15:51] motet-a opened #4534 "Renommer {% append_to_get %} en {% append_query_params %}"
Je pense que ça sera plus clair.

Il ne faut pas oublier de changer la doc.

[2017-08-16 19:08] pierre-24 commented on #4456
Bon, j'ai essayé dans tout les sens (créer un nouveau projet, build avec ou sans virtualenv, tripoter des options du coté de RTD, tripoter des options du coté de notre `setup.py`), RTD ne VEUT PAS compiler notre documentation. Rien n'y fait.

[2017-08-16 19:58] motet-a commented on #4456
Du coup, on laisse tomber RTD ? C’est pas forcément la peine de perdre plus de temps avec.

[2017-08-17 08:21] DevHugo commented on #4533
https://github.com/zestedesavoir/documents-communication/tree/master/logo . Si ça peut t'aider ...

[2017-08-17 10:50] #4506 closed, assigned to pierre-24

[2017-08-17 10:56] #4338 closed, assigned to nobody

[2017-08-17 11:41] AmarOk1412 commented on #4456
Bah maintenant, les pages n'existent plus.

La question c'est on la laisse juste sur le github du coup ?
~~On remet en place le wiki ?~~

On fait la proposition de @vhf :

ça va permettre de régler https://github.com/zestedesavoir/zds-site/issues/3708

[2017-08-17 12:10] Situphen commented on #2076
Euh, moi je vois encore les numéros de ligne donc ce n'est pas bon, si ?

[2017-08-17 21:38] A-312 commented on #4533
J'ai illustrator pour ouvrir les fichiers .ai si personne ne le fait avant.

[2017-08-17 22:49] Situphen commented on #4527
Pas que pour les billets apparemment ! **À faire** : enlever les balises `<ul>` ou `</ul>` [ici](https://github.com/zestedesavoir/zds-site/blob/v24.2-Srevinu/templates/base.html#L223) [là](https://github.com/zestedesavoir/zds-site/blob/v24.2-Srevinu/templates/base.html#L227) [ici](https://github.com/zestedesavoir/zds-site/blob/v24.2-Srevinu/templates/base.html#L274) [là](https://github.com/zestede

[2017-08-18 06:47] motet-a commented on #4533
@A-312 Je n’ai pas Illustrator mais ça peut se faire avec Inkscape, il y a des SVG.

[2017-08-18 07:03] pierre-24 commented on #4456
Chui pour tenter un test avec github page :)

[2017-08-18 10:53] #4507 closed, assigned to pierre-24

[2017-08-18 10:59] artragis commented on #4022
Aujourd'hui, on a ça :

![image](https://user-images.githubusercontent.com/1523653/29456231-18f9eed6-8415-11e7-950b-090531013c29.png)

[2017-08-18 11:01] artragis commented on #4022
rien dit, c'est toujours identique.

[2017-08-18 11:03] artragis commented on #3878
à noter que https://zestedesavoir.github.io/zmarkdown/public/html.html rend ça de manière rapide quand même.

J'ai tendance à penser que ça veut dire que zmd gèrera le pb @vhf .

[2017-08-18 11:54] vhf commented on #3878
Yep, zmd gère bien ce cas. En fait zmd, à la différence de python-zmd, permet de parser déterministiquement du markdown arbitraire. En revanche construire un AST en mémoire a un coup largement supérieur à ce que faisait python-zmarkdown. En pratique on verra généralement pas la différence parce que c'est compensé, les performances de node étant largement supérieures à celle de Python, MAIS.

Si on

[2017-08-18 11:57] pierre-24 commented on #3878
Même si c'était vrai, c'est gratuit.

[2017-08-18 11:58] artragis commented on #3683
#4391 implémente déjà ça. Du coup je ferme pour laisser à l'issue concernée le droit d'exister

[2017-08-18 11:58] #3683 closed, assigned to nobody

[2017-08-18 12:05] artragis commented on #3716
est-ce encore d'actualité?

[2017-08-18 12:43] vhf commented on #3878
Non c'est pas gratuit. Je te le répète pour que tu comprennes bien cette fois-ci :

Python-ZMarkdown est moins coûteux en terme computationnel que zmarkdown. Mais cette augmentation de coût est largement compensée par le fait que zmarkdown tourne dans un runtime beaucoup plus performant que Python.

[2017-08-18 13:58] pierre-24 commented on #3878
Autant je n'ai aucun mal à te croire quand tu dis que les performances
de python-zmarkdown sont inférieures, parce que c'est quantifiable et
que vous avez bien bossé. Autant comparer les performances de deux
runtimes (ou de deux langages), ça tient de "mon langage est (le)
meilleur", c'est gratuit, c'est limite religieux (ou *corporate*,
selon), et ça ne prouve rien du tout.

On 08/18/2017 02:43 P

[2017-08-18 14:43] vhf commented on #3878
J'ai dit exactement l'inverse. Deux fois.

Je n'ai porté aucun jugement de valeur, je n'ai pas été arbitraire, je ne comprends pas pourquoi tu t'enflammes, pourquoi tu te sens agressé, pourquoi tu viens râler. Personne ne t'attaque.

Il n'y a pas de religion là-dedans, pas de guerre de paroisse, je n'ai rien à défendre, rien à gagner. Je ne fais pas de commentaires gratuits non plus. Calme-toi un

[2017-08-18 15:13] artragis commented on #3878
@pierre-24,  en therme de calcul pur, pour l'instant v8 est largement plus efficient que python. Python n'est pas un langage ultra rapide et n'a pas besoin de l'être, par contre, à l'heure actuelle, l'efficacité de node/v8 pour faire du traitement rapide est assez prouvé. Côté chiffre, https://benchmarksgame.alioth.debian.org/u64q/compare.php?lang=node&lang2=python3 devrait donner un début de pist

[2017-08-18 16:56] A-312 commented on #4533
Si ça rend fidèlement la qualité, faisons ça.

[2017-08-18 18:10] rezemika commented on #4442
La PR a été mergée, j'imagine qu'on peut clore le ticket ?

[2017-08-18 19:36] motet-a commented on #3878
Bon écoutez, ce débat Python vs. JS n'a rien à voir avec le sujet de l'issue 🙃 — (mais ce débat m’intéresse hein)

[2017-08-18 20:18] #4442 closed, assigned to nobody

[2017-08-18 20:20] gllmc commented on #4379
Merci @AmarOk1412 !

[2017-08-18 20:20] #4379 closed, assigned to nobody

[2017-08-18 20:28] gllmc commented on #4219
Fixé par #4461.

[2017-08-18 20:28] #4219 closed, assigned to nobody

[2017-08-18 23:27] vhf commented on #3878
De mon point de vue il n'y a pas de débat. On prend des décisions basées sur des faits, ces décisions visent l'optimum pour le cas qui nous occupe -- zds.

Ces décisions et les compromis qu'elles impliquent sont clairement énoncées ici.

[2017-08-19 11:58] vhf commented on #4388
- [ ] #4242
- [ ] #4199
- [ ] #4198
- [ ] #4194
- [ ] #4193
- [ ] #4192
- [ ] #3878

[2017-08-19 22:40] Ymox commented on #3716
On vérifiera à l'occasion, mais il me semble qu'au dernier changement de page le 12 (donc un jour après le déploiement il me semble), malheureusement oui, c'était encore d'actualité.

[2017-08-20 08:39] vhf opened #4539 "Notifications créées 2x"
https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/745/

[code]

Wrapper [ça](https://github.com/zestedesavoir/zds-site/blob/766568cd912da45d95152aaa66c77ac07cfe253c/zds/notification/managers.py#L70-L92) dans une transaction devrait suffire à régler le problème.

[2017-08-20 14:34] DevHugo opened #4541 "Les trois points de suspensions ne devrait pas s'afficher dans la recherche quand on est dans une catégorie bien précise"
Cf: https://beta.zestedesavoir.com/bibliotheque/sciences-humaines-et-sociales/economie/

[2017-08-20 15:11] DevHugo opened #4542 "La page déborde horizontalement"
Bonjour,

Sur une taille d'écran moyen, les boutons envoyer et apperçu ne sont pas visible. Uniquement sur firefox, tous les OS. Présent sur la béta, pas sur la prod.

![](https://user-images.githubusercontent.com/6099338/29496027-6c0a4cc2-85ca-11e7-9462-3903f1daa574.png)

Merci d'avance

[2017-08-20 15:15] pierre-24 commented on #4542
Y'a un problème avec le redimensionnemnt, en fait.

[2017-08-20 15:19] DevHugo commented on #4542
Je suis pas sur de bien comprendre ce que tu veux dire ^^ , tu veux dire sur tout le site ?

[2017-08-20 15:20] motet-a commented on #4542
OK, c’est sans doute dû à mon bricolage du footer.

[2017-08-20 16:09] Situphen commented on #4542
En fait c'est tout le site qui est touché là, comme s'il y avait un max-width. En fait comme le dit @motet-a c'est son bricolage, et plus précisément le [`display: flex;`](https://github.com/zestedesavoir/zds-site/commit/9a07f4be69cec58b06c953991103e35c15394838#diff-24bb8a5cd0a83851fcb95c6775388516R68) qui est la cause !

[2017-08-20 16:16] DevHugo commented on #4542
C'est bizarre, ça marche sur chrome ! Les joies des implémentation différente par navigateur !

[2017-08-20 16:26] Situphen commented on #4542
Bon, c'est bizarre car je n'arrive pas à reproduire le bug en local (ceci dit mon installation locale de ZdS n'est pas vraiment tenue à jour :D ). Je veux bien qu'un d'entre vous essaie pour voir si c'est seulement moi ou pas :)

Vu que sur la beta le problème se résout quand j'enlève le `display: flex;` (et son équivalent `display: -webkit-box`) à `main-container` bah je fais une PR quand même.

[2017-08-20 16:27] motet-a commented on #4542
@Situphen Je m’en occuppe.

[2017-08-20 16:30] motet-a commented on #4541
Dans le *placeholder* de la barre de recherche tu veut dire ?

![image](https://user-images.githubusercontent.com/15378830/29496584-b27ebc0a-85d5-11e7-9226-950c1b0487ee.png)

[2017-08-20 16:32] Situphen commented on #4542
@motet-a Tu résout le problème par *ajouter* `min-width: 0;` et effectivement ça fonctionne mais je préfère ma solution qui consiste à *enlever* `display: flex;` qui n'a pas l'air de servir :)

[2017-08-20 16:36] motet-a commented on #4542
@Situphen Oulà, je vois pas comment tu peux enlever le `display: flex;` du `.main.wrapper` sans tout casser :upside_down_face:

[2017-08-20 16:38] Situphen commented on #4542
Pas le `.main.wrapper` mais le `.main-container` ;)

[2017-08-20 16:48] motet-a commented on #4542
@Situphen Ouais ça se tient, mais la *sidebar* ne descend plus jusqu’en bas de la page dans ce cas (en fait, elle ne descend pas non plus sur la production, mais j’aime bien ça (et il me semble que @abdelaz3r aime aussi ça) donc bon…)

Puis personnellement, je trouve que `display: flex;` est toujours un peu plus simple que `display: block;` pour ce genre de choses quand on passe un petit peu de te

[2017-08-20 17:38] motet-a commented on #4542
Bon en fait, comme me l’a signalé @gcodeur, ce bug ce présente aussi sur Chrome avec la page d’accueil :

![image](https://user-images.githubusercontent.com/15378830/29496980-25093e2c-85df-11e7-9c02-0cb4f9a04300.png)

Le patch reste le même.

[2017-08-20 17:50] Situphen commented on #4542
@motet-a Ah d'accord bah du coup oui ça a un intérêt d'utiliser ta solution plutôt que la mienne :)

[2017-08-20 17:57] gllmc opened #4545 "Impossible de modifier la casse de son pseudo"
Il est actuellement impossible de modifier son pseudo en ne changeant que la casse (ex : passer de test à Test). On nous dit que le pseudo est déjà pris. J'imagine qu'il est vérifié que le pseudo n'existe pas déjà avec une requête insensible à la casse, mais que le test pour vérifier si c'est l'utilisateur courant qui utilise ce pseudo y est lui sensible.

[2017-08-20 20:25] DevHugo commented on #4541
Oui

[2017-08-21 04:47] motet-a opened #4546 "Grosse panne"
Coucou,

Selon @artragis c’est juste que l’association n’a pas payé Gandi.

[2017-08-21 05:50] DevHugo commented on #4546
Je confirme.

[2017-08-21 06:06] pierre-24 commented on #4546
Ce qui est "marrant", c'est que la bêta est pas touchée (sinon, je confirme)

[2017-08-21 06:10] motet-a commented on #4546
@pierre-24 `whois` me dit que beta.zestedesavoir.com est hébergé chez Scaleway/Online.net alors que zestedesavoir.com est chez Gandi.

[2017-08-21 06:23] pierre-24 commented on #4546
Mmmh. L'édit de @motet-a fait sens.

[2017-08-21 06:53] DevHugo commented on #4546
Si on a des problèmes de sous, je peux avancer de l'argent.

[2017-08-21 06:55] motet-a commented on #4546
@DevHugo En fait, je crois que c’est [plus un problème d’organisation qu’un problème de sous](https://beta.zestedesavoir.com/billets/1998/deboires-financiers-suite-et-fin/).

[2017-08-21 07:09] nils-van-zuijlen commented on #4546
Il y a un progrès :/ nginx renvoie une erreur HTTP 403 ...

[2017-08-21 07:12] DevHugo commented on #4546
![](https://rlv.zcache.com/its_something_meme_postcard-r048747b5c6b24a2381258f05fd149b78_vgbaq_8byvr_324.jpg)

motet-a > wait and see

[2017-08-21 07:29] A-312 commented on #4542
@motet-a Comme le premier screen de #4513 ? Je pensais que c'était lié à la page d'accueil et que ça allait être corrigé par abdelaz3r. Oups, je suis passé a côté. 🙄

[2017-08-21 07:32] motet-a commented on #4542
@A-312 Ouais, je crois que c’est bien ça.

(Je me demande encore comment j’ai pu ne pas voir un tel problème sur Chrome…)

[2017-08-21 07:40] A-312 opened #4547 ""Poste avec ma casquette :" margin-left manquant."
Sur chrome mobile quand on souhaite poster un message, le "Poste avec ma casquette :" est collé contre le bord de la page, il faudrait ajouter un margin-left pour le décaler comme les autres éléments de la page.

Et peut-être mettre le select sur la même ligne que le label ?

![Imgur](http://i.imgur.com/lTuscuI.png)

A-312.

[2017-08-21 07:42] motet-a opened #4548 "On ne peut plus suivre certains sujets"
1. Allez à https://beta.zestedesavoir.com/forums/sujet/9162/test/

2. Cliquez sur “Suivre ce sujet” dans la barre de gauche
![image](https://user-images.githubusercontent.com/15378830/29508407-b6ee02d0-8654-11e7-977a-627f1ade9ec1.png)

3. Rien ne se passe parce que 403 :

![image](https://user-images.githubusercontent.com/15378830/29508354-8bd44f5a-8654-11e7-854b-d8ad0207d773.png)

[2017-08-21 07:43] pierre-24 commented on #4548
Mmh. Ça m'a tout l'air d'être un effet de #4529 :(

[2017-08-21 08:03] motet-a commented on #4546
Merci aux réparateurs, ils ont réparé !

[2017-08-21 08:03] #4546 closed, assigned to nobody

[2017-08-21 08:45] entwanne opened #4549 "Erreur de connexion à Elasticsearch lors d'une recherche"
Bonjour,

En voulant utiliser la barre de recherche pour retrouver un sujet, j'ai été confronté à un bandeau « Impossible de se connecter à Elasticsearch ».

Pour reproduire : <https://zestedesavoir.com/rechercher/?q=toto>

![Impossible de se connecter à Elasticsearch](http://i.imgur.com/qkbvAe2.png)

[2017-08-21 08:46] pierre-24 commented on #4549
Le service n'a problablement pas été démaré :) (dire que j'avais hésité à le mettre, ce message, parce qu'il est pas très joli)

[2017-08-21 08:58] #4549 closed, assigned to nobody

[2017-08-21 12:12] firm1 opened #4551 "[v25][beta] La page "tous les tags" d'une tribune montre des tags qui renvoient vers la bibliothèque"
Bonjour,

Lorsque je vais sur la page de tous les tags de la tribune j'arrive sur [ce lien](https://beta.zestedesavoir.com/contenus/tags/?type=opinion) (topbar > tribune > Tous les tags).

Et là je vois ceci :

![touttag](https://user-images.githubusercontent.com/6066015/29518504-e591aea0-8679-11e7-9b7b-0983d137fd11.PNG)

Le problème c'est que si je clique sur un tag, je suis redirigé dans les con

[2017-08-21 12:19] firm1 opened #4552 "[v25][beta] La zone de saisie pour la recherche dans la bibliothèque pas assez grande"
Navigateur : Firefox 52
OS : Windows
Image :

![recherche](https://user-images.githubusercontent.com/6066015/29518849-5f1f1d4c-867b-11e7-8d6b-fac51bd71901.PNG)

Comme je le montre dans l'image, visuellement la barre de recherche ne rend pas top sur un écran de pc. La zone en bleu est plus large que la zone en rouge. ça donne un effet déséquilibré à la page. Il faudrait etendre la zone de saisie ve

[2017-08-21 12:31] firm1 opened #4553 "[v25][beta] Le menu dans la topbar n'est vraiment centré"
Navigateur : Firefox 52
OS Windows

Voici ce que je vois sur la page d'accueil. J'avais une impression de désiquilibre au départ, j'ai essayer de mesurer pour vérifier mon impression t il s'avère que le menu de la top bar n'est pas centré.

![centrage](https://user-images.githubusercontent.com/6066015/29519316-453e134a-867d-11e7-8ba9-057842e8d2eb.PNG)

Comme on le voit dans l'image le cercle vert

[2017-08-21 12:36] motet-a commented on #4553
Et oui, bien vu ! Je sais comment régler ça, d’ailleurs le pied de page a exactement le même petit problème (je me suis dit que c’était assez mineur et que ça pouvait attendre :upside_down_face:).

[2017-08-21 12:41] firm1 opened #4554 "[v25][beta] La recherche dans la biblio depuis une catégorie n'est pas fonctionnelle"
Procédure pour reproduire le bug.

- Allez dans les publications de la catégorie biologie ([ce lien](https://beta.zestedesavoir.com/bibliotheque/sciences-de-la-nature/biologie/))
- Vous voyez qu'un article qui a été publié s'appelle "le gaz sarin"
- Saisissez dans la zone de recherche "gaz" et cliquez sur rechercher
- Constater que vous n'avez aucun résultat dans la recherche.

Aide à la résolutio

[2017-08-21 12:48] firm1 opened #4555 "[v25][beta] Qui est autorisé à donner/supprimer des casquettes ?"
Suite à la lecture de [ce message](https://beta.zestedesavoir.com/forums/sujet/9161/les-nouveaux-smileys/#p160127) sur le forum, il semblerait que @EGabbro puisse supprimer/donner des badges.

Le truc c'est que moi aussi j'ai les droits pour faire ces actions. Donc je m'interroge.

Etant donné que j'appertiens aux groupes "devs" et "ca" et que @EGabbro appartient au groupe "staff" uniquement, est-

[2017-08-21 12:50] pierre-24 commented on #4554
[Mais mais mais ...](https://github.com/zestedesavoir/zds-site/blob/dev/zds/searchv2/tests/tests_views.py#L863) ?!?

[2017-08-21 13:07] firm1 opened #4556 "La page de documentation de l'API est moins stylée qu'avant"
Navigateur: Firefox 52
OS : Windows

Sur la prod le fait que ce soit centré est plus joli je trouve.

### La page de doc de l'API sur la prod :

![doc-api-prod](https://user-images.githubusercontent.com/6066015/29520638-37e0d688-8682-11e7-87ac-aa400567143a.PNG)

### La page de doc de l'API sur la beta

![doc-api](https://user-images.githubusercontent.com/6066015/29520600-fefcd7ae-8681-11e7-813b-93

[2017-08-21 13:15] firm1 opened #4557 "[v25][beta] Les boutons plus de [articles/tutoriels] ne devraient s'afficher que quand il y'en a"
Dans la bibliothèque, si on affiche par exemple les publications de la catégorie "économie", on a ceci :

![more-and-more](https://user-images.githubusercontent.com/6066015/29520902-7474bcf8-8683-11e7-8979-ecfffe50912a.PNG)

Le problème là dessus c'est que les boutons "plus d'articles" et "plus de tutoriels" sont inutiles dans ce cas (comme dans beaucoup de cas), puisqu'en cliquant dessus, on a pa

[2017-08-21 13:17] pierre-24 opened #4558 "[v25] L'ordre des catégories dans la bibliothèque est "étrange""
Du forum,

[2017-08-21 13:18] pierre-24 commented on #4558
Et comme j'ai répondu,

[2017-08-21 13:38] firm1 opened #4559 "[v25][beta] Une ligne blanche de pixel est apparue sur la page d'accueil"
Navigateur : Firefox52
OS : Windows

Image :

![pixel-cache](https://user-images.githubusercontent.com/6066015/29521615-83fed0a2-8686-11e7-95a2-78d920d33c97.png)

Il y a une ligne blanche qui se situe entre la ligne orange et le le bouton "Tous les ..." qui fait un effet détaché que je trouve moins esthétique que ce que l'on a en prod aujourd'hui.

[2017-08-21 13:43] firm1 opened #4560 "[v25][beta] Impossible de trouver un billet sur la beta"
Je suis a la recherche du billet intitulé "une introduction aux fanfictions". Et pour celà je tape dans la recherche de la page d'accueil ["fanfiction"](https://beta.zestedesavoir.com/rechercher/?q=fanfiction&category=&subcategory=).

Je ne retrouve pas le fameux billet.

Si je fais la même [recherche sur la page d'accueil de la prod](https://zestedesavoir.com/rechercher/?q=fanfiction), j'ai des r

[2017-08-21 13:51] pierre-24 commented on #4560
Bon, ce serait pas plutôt un oubli (ou un bug) dans l'indexation ? Parce que ça me semble bizarre, objectivement.

Ping @artragis !

[2017-08-21 13:53] motet-a commented on #4559
Je crois que c’est dû à [ça](https://github.com/zestedesavoir/zds-site/commit/d9794b1ab2d855e24bd3013befcfd4928508a8c8#diff-3a105891d031d363e91c0046610e7700R60).

[2017-08-21 13:54] pierre-24 commented on #4560
Mmh. partons sur [un bug](https://sentry.sandhose.fr/zeste-de-savoir/beta-backend/issues/919/), y'a Sentry qui dit que le code est pas content.

[2017-08-21 13:56] pierre-24 commented on #4560
Encore que c'est récurent, et présent depuis longtemps. Y'aurait moyen de faire un `python manage.py index-all` ?

[2017-08-21 14:03] firm1 commented on #4388
J'ai une question concernant cette migration. Si j'ai bien compris, après migration, il faudra obligatoirement faire tourner un serveur node en local à coté du serveur local django pour pouvoir bosser en local ?

[2017-08-21 14:17] EGabbro commented on #4555
Si j'ai bien suivi, toute personne possédant les droits de modération peut changer la casquette d'un message parmi les casquettes disponible pour le membre.

Ainsi, je ne peux que placer « Staff » sur mes messages, mais je peux placer « devs » et « ca » sur les tiens, ainsi que « staff », « le Jacques Chirac du bulgur » ou « Équipe technique » sur ceux de victor.

Normalement, tu ne peux toi chang

[2017-08-21 14:28] firm1 commented on #4555
Ce que je voulais dire c'est que j'ai accès à la [liste des casquettes en cours de demande](https://beta.zestedesavoir.com/membres/casquettes/demandes/) et que j'ai les droits pour donner une casquette quelconque à celui qui en fait la demande.

Est-ce que toi aussi tu as accès à cette page des demandes de casquette ?

[2017-08-21 14:32] pierre-24 commented on #4555
Anéfé, j'ai le droit d'accorder des casquettes, alors que ça ne devrait pas être le cas. Voilà qui me semble bloquant.

[2017-08-21 14:38] motet-a commented on #4388
Techniquement, je ne pense pas que ce soit obligatoire. Comme les rendus HTML sont cachés, on devrait pouvoir naviguer en lecture seule sur le site sans zmarkdown (comme on peut utiliser le site sans ElasticSearch). C’est juste limité.

[2017-08-21 14:40] motet-a commented on #4388
@firm1 Mais j’ai fait la PR #4430 pour essayer de simplifier drastiquement la mise en route de tout le bazar.

[2017-08-21 14:48] firm1 opened #4561 "Sur la page de profil et d'autres pages c'est pas tout a fait aligné au pixel perfect"
Navigateur : Firefox 52
OS : Windows

Url de la page:

### Screen de la version de production

![pixel-perfect-yes](https://user-images.githubusercontent.com/6066015/29524403-04d63ef0-8690-11e7-9366-5f185a91ce90.png)

### Screen de la version de beta

![pixel-perfect](https://user-images.githubusercontent.com/6066015/29524392-fe5d03c4-868f-11e7-987a-384fae832e32.png)

On voit que les choses ne son

[2017-08-21 14:58] firm1 commented on #4388
Je n'ai pas lu le code pour savoir comment ça s'integrera d'où ma question. Il y a quand même les cas de création/edition d'un topic/mp/tuto/article/billet/etc qui necessite le markdown et que l'on utilise souvent en local pendant le dev.

oui j'ai vu passer ça. Mais bon c'est quand même ça à installer en plus. Je me demande si c'est jouable d'utiliser le service node à distance. C'est à dire que

[2017-08-21 15:00] motet-a commented on #4561
Oui, c’est moi qui ai indroduit ça un peu volontairement, c’est en attente de reprendre les choses plus correctement.

Bon, ça peut sembler pas trop justifié, mais dans l’effort de corriger des problèmes importants comme le footer qui ne se mettait pas toujours en bas de la page et d’autres moins importants comme l’alignement du menu (qui sera d’ailleurs parfaitement centré quand j’aurais le temps

[2017-08-21 15:05] firm1 commented on #4561
Tant que le problème est connu, j'imagine que ça va finir par être corrigé. Mais ça ne me semble pas urgentissime, je le note juste pour pas qu'on le jette aux oubliettes.

[2017-08-21 15:11] motet-a commented on #4388
Il y a quand même les cas de création/edition d'un topic/mp/tuto/article/billet/etc qui necessite le markdown et que l'on utilise souvent en local pendant le dev.

Oui !

En fait c’est carrément jouable et ça risque vraiment de se faire.

[2017-08-21 15:12] pierre-24 commented on #4388
Gardez pas la solution locale trop loin, ça m'arrive de coder dans le train/l'avion.

[2017-08-21 15:23] firm1 opened #4562 "[v25][beta] L'ordre de tri des publications a changé sur la page de profil"
En comparant ma page de profil de [production](https://zestedesavoir.com/membres/voir/firm1/) et de [beta](https://beta.zestedesavoir.com/membres/voir/firm1/) je me rend compte que l'ordre d'affichage des publications à été modifié. Au lieu d'afficher d'abord les publications récentes on affiche d'abord les plus vieilles ce qui n'est pas super super niveau ergonomie.

Surtout que pour ceux qui ont

[2017-08-21 15:28] artragis commented on #4560
c'est clairement un pb d'indexation après un sync.

[2017-08-21 15:34] firm1 opened #4563 "L'image par défaut des contenus ne s'affiche pas sur la page du contenu"
On a maintenant des images par défaut lorsque l'auteur oublie de renseigner une image. Ce qui donne la capture ci-dessous que l'on voit sur la page d'accueil.

![default-image](https://user-images.githubusercontent.com/6066015/29526640-9c63239a-8696-11e7-9fd0-cd6d727324bf.PNG)

Le pépin survient lorsque l'on consulte le contenu en question (via [cette url](https://beta.zestedesavoir.com/billets/20

[2017-08-21 15:44] Situphen commented on #4563
Est-ce vraiment un problème ? :) Cette illustration par défaut permet d'éviter d'avoir un carré gris dans les listes de contenus mais en soit elle n'apporte pas grande information à l'utilisateur !

[2017-08-21 15:46] EGabbro commented on #4555
J'ai une 403 (droit insuffisant).

[2017-08-21 15:47] firm1 commented on #4563
Je me suis posé la question de son utilité aussi là. A part le coté uniforme de la présentation ce n'est effectivement pas le truc le plus utile.

[2017-08-21 15:49] firm1 commented on #4555
Ah donc on dirait que c'est un droit accordé uniquement aux membres de l'équipe dev (ce qui me semble très bizarre).

Bref, comme dit @pierre-24 ça sent le bug bloquant.

[2017-08-21 15:51] Situphen commented on #4563
Certes ça rendrait la page uniforme avec les autres mais bon vu l'utilité ça alourdi la page je trouve ! Je suis pour fermer cette issue, ou au minimum mettre P-Basse. D'ailleurs c'est déjà le cas sur la prod donc il faudrait enlever "[v25][beta]" :)

[2017-08-21 15:51] pierre-24 commented on #4555
Mmmh. C'est peut être issus d'un test de la part d'un dev qui a demandé de rajouter spécialement ça pour pouvoir jouer, et je m'excite pour rien. Ping @artragis ?

[2017-08-21 15:54] firm1 commented on #4563
Je laisse qui de droit décider du sort du ticket :)

[2017-08-21 16:04] firm1 opened #4564 "Alignement des smileys dans le texte"
Navigateur Firefox 52.
OS : Windows

Les nouveaux smileys sont, je trouve, mal alignés lorsqu'ils sont dans un texte. Regardez ce que l'on obtient :

![without-vertical-bottom](https://user-images.githubusercontent.com/6066015/29528029-d66df8a4-869a-11e7-8fff-9b74a576151e.PNG)

J'ai regardé un peu rapidement le css, et il me semblerait que la solution reviendrait à remplacer `vertical-align : midd

[2017-08-21 17:07] cgabard commented on #4545
Ça me semble pas trop urgent et pas trop compliqué, je veux bien m'en charger. Ça va me donner une excuse pour re-rentrer dans le code.

[2017-08-21 18:17] gllmc commented on #4555
Ce sont les groupes qui ont la permission `utils.change_hat` qui peuvent modifier les casquettes. J'ai demandé à @vhf de mettre ce droit au groupe `devs` sur la bêta pour pouvoir jouer. Pas de problème, donc. :)

[2017-08-21 18:17] #4555 closed, assigned to nobody

[2017-08-21 18:19] cgabard commented on #4545
Ça s'annonce plus compliqué que prévu : j'ai bien le soucis sur la prod mais pas en local...

[2017-08-21 18:20] gllmc commented on #4563
Personnellement, je trouve que l'image fait assez jolie sur la page du contenu, donc je serais favorable à l'ajouter également (pas important pour la v25, bien sûr).

[2017-08-21 18:26] gllmc commented on #4548
Non, c'est un autre problème qui était déjà là avant : la vue est bloquée si le premier message est masqué. Je crois qu'il y a une issue là-dessus mais je ne la retrouve pas. :(

[2017-08-21 18:29] gllmc commented on #4545
Étrange, il y est bien en bêta. Je me demande si SQLite n'est pas sensible à la casse ou quelque chose comme ça.

[2017-08-21 18:42] cgabard commented on #4545
Hum la beta est comme la prod, fuck. Pourtant il me semble pas qu'il y a ce genre de prob de casse dans SQLite, d'autant que je vois rien dans le code qui justifie le fonctionnement de prod. Je vais continuer à chercher

[2017-08-21 19:12] cgabard commented on #4545
Bon il y a bien des problèmes de casses avec sqlite mais uniquement pour les recherches partiels et non exact comme ici. Dans tous les cas c'est la prod qui se comporte comme si elle était insensible à la casse.

[2017-08-22 09:10] firm1 opened #4569 "Un utilisateur peut poster deux fois de suite sur le même topic"
En parcourant la beta, je suis tombé sur [ce double message](https://beta.zestedesavoir.com/forums/sujet/6152/suivi-de-lassociation/?page=2#p160185) de @gcodeur

Je ne sais pas comment il a réussi a poster ça, mais le fait est que ça semble possible au vu des résultats.

[2017-08-22 09:23] gllmc commented on #4569
J'étais sur un très mauvais réseau en postant ça, donc je suppose que la requête a été envoyée deux fois quasiment au même moment, ce qui fait que le test est passé deux fois.

[2017-08-22 09:29] firm1 opened #4570 "[v25][beta] une recherche dans la bibliothèque nous fait trouver des éléments qui n'y sont pas"
Je vais dans la [bibliothèque](https://beta.zestedesavoir.com/bibliotheque/) (des contenus validés donc) et je saisi dans la recherche le terme "st honoré".

J'ai le malheur de voir afficher un billet (un contenu non validé) qui ne fait pas partie de la bibliothèque normalement.

[2017-08-22 09:35] pierre-24 commented on #4570
En effet, "content" ne fait pas la différences entre contenus publiés ou pas. Mmh. Ça va pas être marrant à régler, il va falloir rajouter un truc [par là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/searchv2/views.py#L170).

[2017-08-22 10:07] motet-a commented on #4569
Ouais mais ça devrait être atomique et rejeter la deuxième requête, non ?

[2017-08-22 10:11] firm1 commented on #4569
oui

[2017-08-22 10:17] gllmc commented on #4569
En effet. Par contre, ce n'est pas lié à la v25 du coup. ^^

[2017-08-22 10:26] motet-a commented on #4569
Je viens de faire un essai à l’instant sur la beta, j’ai envoyé deux requêtes pour créer un message quasiment au même moment avec un petit script. La première est passée et j’ai eu une belle 500 sur la seconde.

C’était un POST vers `https://beta.zestedesavoir.com/forums/message/nouveau/?sujet=9161`.

[2017-08-22 10:27] pierre-24 commented on #4569
Pour ceux qui y ont accès, [c'est probablement celle là](https://sentry.sandhose.fr/zeste-de-savoir/beta-backend/issues/1022/).

``OperationalError: (1213, 'Deadlock found when trying to get lock; try restarting transaction')``

À tes souhaits :)

[2017-08-22 12:23] firm1 opened #4571 "[v25][beta] Certaines sous-catégories sont affichées même si on y trouve aucune publication"
En allant dans la bibliothèque, dans la [catégorie des SHS](https://beta.zestedesavoir.com/bibliotheque/sciences-humaines-et-sociales/) je constate que dans la liste des catégories affichées en bas, il y a la catégorie langue, qui ne contient pourtant aucune publication.

![langue-vide](https://user-images.githubusercontent.com/6066015/29565254-7b703eac-8745-11e7-8e8e-9decbd6d492b.PNG)

On ne devr

[2017-08-22 12:26] pierre-24 commented on #4571
Pour le coup, je trouve que ça se discute. Autant pour le dropdown, y'a une optique de place (trop long dropdown = pas pratique sur petit écran), autant ici je trouve ça moins grave. Mais c'est mon avis.

[2017-08-22 12:31] firm1 commented on #4571
Disons que j'ai du mal à voir l'utilité d'afficher une catégorie vide.

Pour celui qui cherche un contenu, il n'y verra que déception lorsqu'il cliquera dessus. Sans compter le fait que ça surcharge la page avec du bruit.

[2017-08-22 13:53] artragis commented on #4571
à fixer mais pas prioritaire, si on y arrive avant la release finale tant mieux, sinon on verra après.

[2017-08-22 17:17] #4560 closed, assigned to nobody

[2017-08-23 08:35] artragis commented on #4456
Je vais voir d'ici la fin de la semaine si je peux pas lier le build au compte zds-bot.

[2017-08-23 08:41] firm1 opened #4573 "[v25][beta] L'estimation du temps de lecture d'un chapitre est fausse"
Si on consulte le chapitre suivant : [Conteneurs](https://beta.zestedesavoir.com/tutoriels/954/notions-de-python-avancees/1-starters/1-containers/), le temps de lecture est estimé à moins d'une minute. Et on sait bien que c'est impossible de le lire en moins d'une minute.

L'information affichée est donc erronée. Je tag v25 parce que sur la v24 (prod) on affichait pas l'info dans les chapitres. Il

[2017-08-23 08:44] lypwig commented on #4456
[pierre24](https://github.com/rtfd/readthedocs.org/issues/3006#issuecomment-321340199)

C'est vrai que c'est super chelou...

[2017-08-23 16:29] #4557 closed, assigned to pierre-24

[2017-08-23 18:47] entwanne opened #4575 "[v25][beta] Un ctrl+clic sur une notification ferme le menu"
Bonsoir,

J'avais l'habitude, quand je disposais de plusieurs notifications, de dérouler le menu et de toutes les ouvrir dans des onglets différents avec un ctrl+clic (utilisant un *touchpad* et n'ayant pas facilement accès à un clic-molette).

Je viens de remarquer que cela n'était plus possible sur la beta : chaque ctrl-clic ferme le menu, je suis donc obligé de le rouvrir pour chaque notificati

[2017-08-23 19:00] vhf commented on #4388
La solution locale est obligatoire oui, c'est l'autre qui est en bonus. ;)

Il faut pouvoir développer offline, les tests doivent tourner offline, c'est un impératif.

Mais déployer juste le markdown séparément sur la beta et le rendre accessible aux devs qui souhaitent pas installer node localement, c'est largement jouable. Notez quand même que sans node vous pouvez pas builder le front localemen

[2017-08-23 21:02] motet-a commented on #4542
J’ai renommé l’issue vu que ça n’est pas propre à Firefox.

[2017-08-24 03:00] AmarOk1412 commented on #4456
Ok.
Alors je viens de foutre **gh-pages** sur https://amarok1412.github.io/ pour tester de mon côté.

Je vais tenter de traduire tous les `.rst` de *RTD* en `.md` pour le foutre sur la branche **gh-pages** ce week-end, revoir un peu la structure de la doc pour éviter les doublons, les trucs pas à jour, etc.

Ensuite faudra que @zestedesavoir/infrastructure redirigent https://docs.zestedesavoir.com

[2017-08-24 05:49] motet-a commented on #4456
Cool !

Du coup, tu vas retirer la partie de la doc générée automatiquement par le backend, non ?

Je pense que ça serait bien de construire la doc avec les assets de ZdS, histoire que le CSS soit à jour surtout. Mais ça risque de demander qu’on laisse la doc dans le dépot de ZdS.

[2017-08-24 06:20] pierre-24 commented on #4456
On est obligé de repasser sur une doc en MD, et ne pas la faire générer par Travis ou une histoire comme ça ? (vraie question)

Parce que par exemple, on va perdre la "documentation technique du back" :(

[2017-08-24 07:25] motet-a commented on #4456
Vu comment est parti @AmarOk1412, oui. Sinon il faut s’y prendre autrement (par exemple, garder Sphinx, compiler un site statique et push tel-quel vers les pages de GitHub).

-------------------------

*[Let’s bikeshed now](http://bikeshed.org/).*

\<bikeshedding\>Personnellement, je préfère Markdown à reStructuredText. Je doute que la partie de la doc générée automatiquement par le backend soit t

[2017-08-24 07:41] pierre-24 commented on #4456
Si je devais défendre Sphinx (et ReST) ici, je dirais les choses suivantes, dans l'ordre de l'importance que j'y attache:

+ Construction automatique de table des matières, des liens qui vont avec et d'une recherche.
+ *autodoc*. Moi ça m'arrive de l'utiliser,
+ Des éléments de syntaxe plus complet que markdown (par exemple, tout ce qu'on désigne par *blocs* dans notre markdown), mais c'est vrai q

[2017-08-24 07:52] motet-a commented on #4456
Note que l’on peut parfaitement utiliser Sphinx avec du Markdown, et ça marche super bien : https://github.com/motet-a/liblapin-tutorial

En fait, il y a juste un tout petit peu de reStructuredText pour la table des matière. Comme ça on garde le meilleur des deux mondes :upside_down_face:

[2017-08-24 08:05] pierre-24 commented on #4456
Ah, ça, je dis pas. C'est justement pour ça que j'ai mis ReST lui même en troisième point, avant les deux premiers qui sont dû à Sphinx. Faudrait justement voir les cas ou ReST est pertinent par rapport à MD, mais comme @AmarOk1412 va passe dessus, il saura probablement répondre à ça :)

[2017-08-24 08:08] pierre-24 commented on #4456
(à noter que certaines de nos docstrings sont pleines de ReST)

[2017-08-24 09:34] firm1 commented on #4456
Pour la petite histoire, à l'époque le problème que l'on trouvait aux gh-pages c'était que, puisque tout ça était sur une branche séparée on ne pouvais pas dans une même PR mettre à jour le code et sa documentation. Aujourd'hui c'est pratique avec RTD pour s'assurer que l'on merge une fonctionnalité dans son ensemble (une fonctionnalité devant toujours être accompagnée de sa documentation).

[2017-08-24 09:44] motet-a commented on #4456
Je ne vois pas trop pourquoi tout changer en fait. À mon avis, c’est assez facile de laisser le dépot `zds-site` tel quel et de mettre un petit service qui compile la doc et qui commit le HTML dans un autre dépot, celui des gh-pages.

[2017-08-24 11:33] AmarOk1412 commented on #4456
@pierre-24 mmh, en effet, je vais éviter d'aller trop vite.

Surtout sur ce point *Construction automatique de table des matières, des liens qui vont avec et d'une recherche*, perdre ça serait pas cool amha...

[2017-08-24 13:57] SpaceFox opened #4579 "Interdire 1 000 000 (un million) de mots de passe trop communs ?"
Je ne sais pas si c'est vraiment une bonne idée, mais en tous cas on peut : https://raw.githubusercontent.com/danielmiessler/SecLists/master/Passwords/10_million_password_list_top_1000000.txt

[2017-08-24 14:03] motet-a commented on #4579
*(J’ai édité le titre parce qu’il n’y a que le top 1 million de mot de passe trop communs dans cette liste, c’est déjà pas mal :upside_down_face:)*

[2017-08-25 03:00] nils-van-zuijlen commented on #4542
Effectivement Safari à aussi ce problème.

[2017-08-25 03:40] nils-van-zuijlen commented on #4579
Ça devrait pouvoir se faire assez simplement comme Django à déjà une fonctionnalité d'interdiction de certains mots de passe.
Malheureusement je n'ai pas les compétences pour le faire moi-même actuellement

[2017-08-25 03:44] AmarOk1412 commented on #4456
@pierre-24 j'ai vite fait regardé ce soir pour voir ce que j'allais faire. Je pense que je compte passer `sphinx` et `mkdocs` http://www.mkdocs.org/ pour les fichiers qui restent, compiler et publier sur le gh-pages.

Comme ça, ça permet de garder notre doc écrite, la doc générée pour le back-end, laisser les PR sur dev et garder la recherche (en plus, `mkdocs` a un thème `readthedocs`, ça sera co

[2017-08-25 05:55] pierre-24 commented on #4456
Ok. Si jamais, il y a peut être quelque chose à creuser [par là](http://www.sphinx-doc.org/en/stable/ext/githubpages.html) (avec [cette extention](http://www.sphinx-doc.org/en/stable/ext/githubpages.html) qui rajoute automatiquement le `.nojekyll`, quoique ce soit ;) )

[2017-08-25 09:04] artragis commented on #4579
je me permet de réserver, ça sera sujet à un petit livestream je pense.

[2017-08-25 09:41] motet-a commented on #4456
Si ça fait juste un `touch .nojekyll`…

[2017-08-26 08:17] motet-a opened #4584 "Utiliser des espaces insécables dans les templates"
Parce que ça, c’est moche :

![image](https://user-images.githubusercontent.com/15378830/29739820-ab73a6f2-8a47-11e7-9b0a-9ac3123939bd.png)

[2017-08-26 08:55] vhf commented on #4584
Tout ce qui passe par le markdown est déjà et sera encore ok de ce côté. Là je suppose que c'est du contenu qui passe par là… :(

[2017-08-26 09:15] motet-a commented on #4584
Oui, carrément. Je sais bien que tu as fait du bon travail avec zmarkdown :upside_down_face:

C’est les templates qui posent problèmes.

[2017-08-26 09:21] vhf commented on #4584
Est-ce qu'on peut pas déjà passer les strings qui sont injectées dans ce template par le filtre markdown ? `foo|emarkdown` ou un truc du genre. Ça devrait résoudre le problème

[2017-08-26 10:05] motet-a commented on #4584
Je sais pas. Mais on devrait pourvoir le faire avec `sed` vu que `grep -r ' :' templates` et `grep -r ' ;' templates/` m’ont l’air de trouver ce qu’il ne va pas de manière très efficace.

[2017-08-26 11:23] motet-a opened #4585 "Utiliser des apostrophe typographiques dans les templates"
Constatez : `egrep -r "[[:alpha:]]'[[:alpha:]]" templates/`

Je pense qu’il faudrait faire une PR séparée pour le dossier `templates/pages/` parce qu’il y en a vraiment beaucoup dedans, et c’est un coup à faire pleins de conflits.

[2017-08-26 11:26] vhf commented on #4584
Aaah je comprends mieux ce que tu veux dire. C'est des strings dans le code, pas du texte en base de donnée.

Dans ce cas oui. Je pense que tu peux faire une bonne regex en prenant que ce qui est dans les strings i18n, tout remplacer, et `git add --patch` pour ajouter que ce qui est ok. 👍

[2017-08-27 12:17] A-312 commented on #4579
Pense à prévenir suffisamment tôt si tu fais un stream. :)

[2017-08-27 12:21] A-312 commented on #4573
https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/includes/tags_authors.part.html#L79

readtime doit renvoyer nul ici.

[2017-08-27 18:07] vhf commented on #4388
@sandhose `md.zestedesavoir.com` pointe désormais sur la beta.

[2017-08-27 18:21] #4551 closed, assigned to pierre-24

[2017-08-27 18:24] #4573 closed, assigned to artragis

[2017-08-27 18:25] #4558 closed, assigned to pierre-24

[2017-08-27 18:25] #4562 closed, assigned to pierre-24

[2017-08-27 18:25] #4553 closed, assigned to motet-a

[2017-08-27 18:26] #4575 closed, assigned to motet-a

[2017-08-27 18:26] #4542 closed, assigned to motet-a

[2017-08-27 18:31] #4513 closed, assigned to nobody

[2017-08-27 20:53] WhyCannotIPostAnonymously commented on #4579
Est-ce que ce sera rétroactif ? (Moi je suis contre, mon mot de passe est dans cette liste… ;) )

[2017-08-27 22:32] AmarOk1412 commented on #4456
Ok alors des petites nouvelles vu que je n'ai pas eu le temps de compléter ça ce week end...

Mais au final, juste sphinx ça fonctionne (cf https://amarok1412.github.io/), pas besoin d'autre choses.

Bref l'idée au final, c'est dans un nouveau job Travis, on fait un `make html` qui nous donne notre site de docs (qu'il faut que je complète avec la doc éparpillée), puis ce job fait un petit `git add

[2017-08-27 22:38] AmarOk1412 commented on #4579
@WhyCannotIPostAnonymously nop, sauf si tu veux changer de mot de passe logiquement.

Par contre je t'encourage pour le coup à le changer où d'utiliser un gestionnaire de mot de passe.

[2017-08-28 08:20] firm1 opened #4587 "[beta][v25] L'icone de création d'un nouveau message n'est pas alignée/centrée"
Os : Android
Navigateur : Chrome 59

Contrairement a l'affichage en prod, l'icone de création d'un nouveau message en beta n'est plus centrée corrzctement.

### Capturr de la beta

![screenshot_20170828-101244](https://user-images.githubusercontent.com/6066015/29765135-44ab6d62-8bda-11e7-8c47-a81dffec06fc.png)

### Capture de la production

![screenshot_20170828-101253](https://user-images.githubu

[2017-08-28 08:23] firm1 commented on #4552
Je me permet de ré-ouvrir ce ticket qui n'a pas encore été corrigé.

[2017-08-28 09:12] abdelaz3r commented on #4552
Je fais

[2017-08-28 16:28] EGabbro opened #4590 "[beta][v25] Les lignes dans les <textarea> débordent les unes sur les autres"
Bonjour,
Sur la béta, la hauteur des lignes est foireuse. Cela a été introduit par une mise à jour de normalize.css, qui ajoute l’attribut ` line-height: 1.15;`.
Confère [ce message](https://zestedesavoir.com/forums/sujet/9161/la-v25-est-en-beta-casquettes-uiux-smileys-clem-etc/?page=2#p160203) et les suivants.
Gabbro.

[2017-08-28 18:44] A-312 commented on #4579
_avion_ y est 😢 Je pensais que c'était un super mot de passe. Je vais rajouter *312*, il sera plus compliquer comme ça 😀

Ce ne sera pas long de vérifier tout ça ?

[2017-08-28 19:10] motet-a commented on #4579
On peut vérifier si un texte est inclus dans une liste de *n* éléments avec un temps qui se rapproche plus de *O(1)* que de *O(n)* si la liste est indexée correctement (par exemple avec une *hash table* : https://en.wikipedia.org/wiki/Hash_table).

[2017-08-29 09:35] gllmc commented on #4554
J'ai l'impression que ça a été [corrigé](https://beta.zestedesavoir.com/rechercher/?q=gaz&models=content&category=sciences-de-la-nature&subcategory=biologie), non ?

[2017-08-29 09:50] firm1 commented on #4554
Tout a fait. Je confirme que c'est corrigé

[2017-08-29 10:02] #4554 closed, assigned to nobody

[2017-08-29 10:13] #3760 closed, assigned to nobody

[2017-08-29 10:13] #3214 closed, assigned to gustavi

[2017-08-29 10:20] gllmc commented on #3477
Actuellement, il me semble que le dernier point a été corrigé, mais pas le reste. C'est assez facile à faire : il faut mettre à jour `list_display` et `search_fields` sur les classes d'admin, je peux m'en occuper ?

[2017-08-29 10:59] abdelaz3r commented on #4564
Perso je préfère qu'ils soient centré que aligné sur le bas.

[2017-08-29 11:01] abdelaz3r commented on #4552
C'est fait.

[2017-08-29 12:10] A-312 commented on #4533
format 512x512 (les png sont entrelacés) :

png transparent :
![icone_512entrelace](https://user-images.githubusercontent.com/18501150/29820044-5d269102-8cc3-11e7-91a4-5e3de7df4945.png)

png :
![icone_512e](https://user-images.githubusercontent.com/18501150/29820122-a6e26f6e-8cc3-11e7-8c1d-2086cc41e81d.png)

jpg :
![icone_512](https://user-images.githubusercontent.com/18501150/29820045-5ea66836-8c

[2017-08-29 14:09] abdelaz3r commented on #4587
Je viens de proposer une PR

[2017-08-30 03:08] AmarOk1412 commented on #4456
Bon je suis enfin entrain de faire la PR, elle devrait apparaitre ce soir.

J'ai ajouté une page de doc venant du github-pages actuel, juste enlevé la partie du scss qui n'est plus à jour avec le gros travail des dernières semaines de @motet-a.

Pour le wiki, vu que les quelques pages qui y étaient ont été supprimées car inutiles, c'est fait :)

[2017-08-30 04:05] nils-van-zuijlen commented on #4579
Je pense qu'il faudrait implémenter #4300 avant, ça rendra l’implémentation de ce filtre plus facile.
Il ne faut pas que ce soit rétroactif, cependant, je pense qu'il devrait être possible de vérifier la sécurité des mots de passe des membres lors de leur connexion et de leur proposer de changer de mot de passe si besoin.

[2017-08-30 04:30] nils-van-zuijlen commented on #3102
Est-ce que ce problème n'aurait pas été résolu ? Actuellement on ne peut pas poster deux messages consécutifs (cad qu'on doit attendre 15 minutes entre deux messages).

[2017-08-30 04:40] nils-van-zuijlen commented on #2428
Hum, est-ce que c'est encore d’actualité ? Certes, les options ne sont pas aussi détaillées, mais je pense que ça suffit pour la plupart des gens, non ?

[2017-08-30 04:44] nils-van-zuijlen commented on #2051
Maintenant que le site a un h1 sur ses pages, ce ticket peut être fermé.

[2017-08-30 06:58] #2051 closed, assigned to nobody

[2017-08-30 06:59] #4552 closed, assigned to abdelaz3r

[2017-08-30 07:04] gllmc commented on #2428
Actuellement, il n'est pas possible de désactiver les e-mails pour les nouveaux MP, ça me semble assez gênant. :/

[2017-08-30 07:07] gllmc commented on #3102
Non, on peut toujours créer des sujets consécutifs. Par contre, il y a un délai entre les posts d'un même thread.

[2017-08-30 08:10] #4587 closed, assigned to nobody

[2017-08-30 08:40] artragis commented on #4556
pour info, voici la différence de style:

quand c'est ok:
![image](https://user-images.githubusercontent.com/1523653/29863302-884b93bc-8d6f-11e7-80b2-aa48377b9626.png)

quand c'est pas ok
![image](https://user-images.githubusercontent.com/1523653/29863322-9b890996-8d6f-11e7-8e20-90cc14538e01.png)

c'est une question de flex

[2017-08-30 09:54] abdelaz3r commented on #4564
Je propose qu'on laisse comme ça pour la v25 et qu'on regarde les réactions des gens quand ce sera en prod. Dans tout les cas c'est assez mineur.

[2017-08-30 09:56] motet-a commented on #4579
Hey, pas si vite. Il y a beaucoup de choses à dire dans ce thread. Sur IRC, les gens ont pas mal disserté dessus. Je vais essayer d’en faire un résumé rapide.

Déjà, qu’est-ce qu’un mot de passe fort ? Si tout le monde a le même mot de passe “fort”, alors ce mot de passe devient “faible”. Peut-on donc lister les mots de passe forts ?

Ensuite, on peut très bien mettre un indication de force du mot

[2017-08-30 10:16] gllmc commented on #4564
Je suis assez d'accord. Personnellement, aucune des deux positions ne me choque.

[2017-08-31 04:41] nils-van-zuijlen commented on #4579
Non, c'est d'ailleurs une de leurs caractéristiques. Il est proposé d'utiliser une liste de mots de passe connus pour être faibles, afin de les interdire dans un souci de sécurité.

Je pense qu'une indication de la force du mot de passe serait la bienvenue dans le front, mais qu'elle ne serait pas suffisante pour s'assurer de la sécurité des comptes.

Enfin, il me semble qu'il vaut mieux ne pas cr

[2017-08-31 04:54] nils-van-zuijlen opened #4598 "Poster des messages sur les forums sans compte"
Dans le ticket #4579 est sortie l'idée des comptes bidons.

Afin de simplifier la procédure de post de message et d'alléger la BdD de ces comptes à usage unique, je propose qu'il soit possible aux utilisateurs anonymes de poster des messages dans les forums, voire de créer des discussions dans ces derniers.

J'ai pensé à un formulaire à l'image de ceux de [PlanetCasio](http://www.planet-casio.com/

[2017-08-31 05:12] motet-a commented on #4579
Oups, je voulais plutôt dire “peut-on lister les mots de passes faibles” :upside_down_face:

Pourquoi ? Si Monsieur Dupont a un mot de passe faible, c’est plus son problème que le nôtre. Dans le pire des cas où il se fera piquer son compte, si il ne réinitialise pas son email, le voleur va poster des choses pas bien sur ZdS, se faire bannir¹ et lui piquer un autre compte d’un autre site sur lequel

[2017-08-31 05:26] motet-a commented on #4598
(Bon, les captchas du genre *« Résultat en chiffres de sept plus cinq : »* sont terriblement inefficaces)

[2017-08-31 07:49] pierre-24 opened #4599 "Barre de navigation pour parcourir les articles en haut"
Pour passer d'un article à un autre il y a la barre de navigation qui permet d’accéder au précédent et au suivant mais elle est sous l'article. Et donc quand l'article suivant ne m’intéresse pas je suis obligé de faire défiler toute la page ou presque (pour ne pas finir dans les commentaires) pour atteindre cette barre de navigation et je trouve cela dommage ! Une copie de celle-ci ou une version

[2017-08-31 11:42] #4590 closed, assigned to motet-a

[2017-08-31 15:53] nils-van-zuijlen commented on #4598
Je ne parlais pas du type de captcha, mais des informations demandées. Par
exemple, un utilisateur anonyme peut quand même utiliser un pseudo si il
n'est pas déjà utilisé, et son adresse mail est comparée à celles des
membres.

--
Nils Van Zuijlen

Hey, give me a click <http://justclick.re/> bro!

[2017-09-01 15:52] motet-a opened #4607 "Ouvrir les astuces de l’éditeur dans des nouvelles fenêtres"
Quand l’utilisateur va cliquer sur “Envie d’en savoir plus ?” :

![image](https://user-images.githubusercontent.com/15378830/29977514-e8a1278e-8f3d-11e7-9f72-974e4fff6cad.png)

…il peut avoir écrit du texte dans l’éditeur. Perdre ce texte peut être frustrant (certains navigateurs peuvent retrouver les contenus des formulaires quand on revient à une page précédente mais bof), je pense donc qu’il va

[2017-09-01 19:19] motet-a opened #4608 "Supprimer buttonholder.html"
Dans le fichier [`/templates/bootstrap/layout/buttonholder.html`](https://github.com/zestedesavoir/zds-site/blob/dev/templates/bootstrap/layout/buttonholder.html), c’est indiqué :

[code]

Cette PR a été merge : django-crispy-forms/django-crispy-forms#551

[2017-09-02 02:35] AmarOk1412 commented on #4607
Perso je suis contre forcer le fait d'ouvrir un lien dans un nouvel onglet. Les sites ne devraient pas faire ça, c'est à l'utilisateur de décider si il ouvre le lien dans un nouvel onglet (il a les options pour entre clic droit=>ouvrir dans un nouvel onglet/fenetre, ctrl-clic, etc).

Au pire des cas, une boite de warning pour confirmer, mais je pense que c'est pas nécessaire ici.

[2017-09-02 05:09] motet-a commented on #4607
Perso, je suis aussi généralement contre le fait d’ouvrir les liens dans des nouveaux onglets. Mais pour moi, ici c’est une exception justifiée : L’utilisateur peut très bien oublier d’ouvrir “manuellement” le lien dans un nouvel onglet et perdre son texte.

D’ailleurs, GitHub se comporte de la même manière avec ce lien en dessous de l’éditeur :

![image](https://user-images.githubusercontent.com/

[2017-09-02 06:53] motet-a commented on #4607
(D’ailleurs, ouvrir des liens dans de nouvelles fenêtres peut ouvrir des failles de sécurité vu que par défaut, la fenêtre ouverte a accès à l’objet `window` de la fenêtre ouvrante et peut scrapper la page autant qu’elle veut)

[2017-09-02 14:53] AmarOk1412 commented on #3708
Fixed http://docs.zestedesavoir.com/!

[2017-09-02 14:53] #3708 closed, assigned to AmarOk1412

[2017-09-02 14:53] AmarOk1412 commented on #4456
Fixed http://docs.zestedesavoir.com/!

[2017-09-02 14:53] #4456 closed, assigned to AmarOk1412

[2017-09-02 14:56] abdelaz3r commented on #4456
J'ai ça :

[code]

[2017-09-02 15:05] pierre-24 commented on #4456
Faut qu'on demande un certif' a certbot, nan ?

[2017-09-02 15:06] vhf commented on #4456
Non. Vous devez attendre que vos DNS se mettent à jour.

[2017-09-02 15:08] abdelaz3r commented on #4456
Ok ok

[2017-09-02 15:10] #3647 closed, assigned to nobody

[2017-09-02 15:10] #3560 closed, assigned to gustavi

[2017-09-02 15:10] #2479 closed, assigned to nobody

[2017-09-02 15:11] #1927 closed, assigned to nobody

[2017-09-02 15:15] #3646 closed, assigned to nobody

[2017-09-02 15:18] #4404 closed, assigned to nobody

[2017-09-02 15:18] #4434 closed, assigned to nobody

[2017-09-02 15:19] #4300 closed, assigned to gustavi

[2017-09-02 15:19] vhf commented on #4195
Depuis que je suis plus dans le CA j'ai une notification persistante lors de chaque nouveau topic dans le forum CA.

[2017-09-02 15:20] artragis commented on #4195
ok, il faut donc aussi mettre un listener sur le changement de permission. ça va être beau.

[2017-09-02 15:22] artragis commented on #4607
Cosidérant qu'on a trop de choses à faire et que les principaux développeurs front sont contre, je ferme.

[2017-09-02 15:22] #4607 closed, assigned to nobody

[2017-09-02 15:30] #3335 closed, assigned to nobody

[2017-09-02 15:34] artragis commented on #4396
@A-312 est-ce ok sur la v25 pour toi?

[2017-09-02 15:37] artragis commented on #3387
je ferme pour #4100

[2017-09-02 15:37] #3387 closed, assigned to nobody

[2017-09-02 15:37] #4031 closed, assigned to nobody

[2017-09-02 15:40] artragis commented on #4458
@motet-a ça dit quoi sur la v25?

[2017-09-02 15:45] #3600 closed, assigned to nobody

[2017-09-02 15:49] artragis commented on #3734
#4388 @vhf

[2017-09-02 16:27] motet-a commented on #4396
Le problème est toujours présent sur  la bêta @artragis.

Notez que c’est plus cohérent avec le reste au niveau des marges et du padding en rajoutant (à l’arrache, faites pas ça en prod’) ces propriétés CSS :

[code]

![image](https://user-images.githubusercontent.com/15378830/29997134-dbf7e198-900b-11e7-96dd-5a74a7d83932.png)

[2017-09-02 17:01] gllmc commented on #4195
Lors du changement de groupe en fait. Je pense que tu peux ouvrir un nouveau ticket pour ça @vhf, car c'est un problème différent.

[2017-09-02 17:58] Situphen commented on #1714
[GitPython](https://github.com/gitpython-developers/GitPython) m'a l'air maintenu et est compatible Python 3, le ticket est-il toujours d'actualité ?

[2017-09-02 18:04] Situphen commented on #2014
Je ferme car l'aide a été remplacée par les astuces Markdown

[2017-09-02 18:04] #2014 closed, assigned to nobody

[2017-09-02 18:20] gllmc commented on #2979
À noter que si le problème est toujours présent, il ne concerne maintenant plus que les billets.

[2017-09-02 18:23] Situphen commented on #2993
@sandhose si tu pourrais vérifier que c'est bon histoire qu'on puisse fermer :)

[2017-09-02 18:26] Situphen commented on #3160
Si jamais beaucoup de membres réclament la fonctionnalité on peut en faire une option dans les paramètres, sinon il est toujours possible de se faire un script Tampermonkey ou Greasemonkey. Donc je ferme.

[2017-09-02 18:26] #3160 closed, assigned to nobody

[2017-09-02 18:30] Situphen commented on #3242
Up ! Ça a été fait ou pas ?

[2017-09-02 18:38] Situphen commented on #3411
Je ne pense pas que ce soit encore d'actualité, je ferme.

[2017-09-02 18:38] #3411 closed, assigned to nobody

[2017-09-02 18:39] Situphen commented on #3457
Plus d'actualité avec le nouveau menu, je ferme.

[2017-09-02 18:39] #3457 closed, assigned to nobody

[2017-09-02 18:41] Situphen commented on #3593
Plus d'actualité avec la v25, je ferme

[2017-09-02 18:41] #3593 closed, assigned to nobody

[2017-09-02 18:50] Situphen commented on #3353
Je n'arrive plus à le reproduire, je ferme.

[2017-09-02 18:50] #3353 closed, assigned to nobody

[2017-09-02 18:59] Situphen commented on #4267
Up ? C'est possible de transformer un billet en article actuellement ? Si oui il faut régler cette question.

[2017-09-02 19:13] gllmc commented on #4267
C'est possible en effet. Je rejoins l'avis d'@artragis personnellement, je ne trouve pas ça forcément souhaitable.

[2017-09-02 19:28] gllmc commented on #2993
Je viens de vérifier : la dépendance est absente en bêta, mais présente en prod. Du coup, j'imagine qu'il n'y a plus de problème, mais que c'est resté installé en prod.

[2017-09-02 19:32] gllmc commented on #3242
Pas encore, [visiblement](https://cspvalidator.org/#url=https://zestedesavoir.com) (idem sur la bêta).

[2017-09-02 21:23] motet-a commented on #3242
Vous pouvez aussi `curl -s -o /dev/null -D - https://zestedesavoir.com | grep -i content-security-policy`.

[2017-09-03 12:35] artragis commented on #1714
je clos.

[2017-09-03 12:35] #1714 closed, assigned to nobody

[2017-09-03 12:37] #2993 closed, assigned to nobody

[2017-09-03 12:38] artragis commented on #4267
je pense que les gens se contentent de la solution actuelle, je ferme.

[2017-09-03 12:38] #4267 closed, assigned to nobody

[2017-09-04 09:55] A-312 commented on #4396
Je n'ai pas la possibilité de faire le changement rapidement. J'avais fais une PR le jour même mais le rendu ne me convenait pas (si quelqu'un le fait avant, il n'y a pas de soucis).

[2017-09-04 14:12] firm1 opened #4611 "On est redirigé vers la bibliothèque si on clique sur la catégorie d'un billet"
NB : le bug est aussi présent en prod d'où le non-tag "v25".

Lorsque je vais sur un billet ([celui-ci par exemple](https://beta.zestedesavoir.com/billets/1959/considerations-sur-le-domain-sharding/)) et que je clique sur sa catégorie "Développement Web", je suis redirigé vers les contenus de la bibliothèque.

Ce qui est incompatible avec le besoin d'isolation entre les contenus validés et les con

[2017-09-04 14:16] firm1 opened #4612 "Les billets sur la tribune d'un auteur devrait être triés par date par défaut"
Lorsque je me rend sur la tribune d'un auteur ([celui-ci](https://beta.zestedesavoir.com/contenus/tribunes/72/) par exemple) les billets sont triés par ordre alphabétique par défaut.

Disons que ce n'est pas très naturel, on s'attend à retrouver au top de la liste des contenus triés par date de dernière publication.

[2017-09-04 14:29] firm1 opened #4613 "[v25][beta] Impossible de trouver un billet depuis la recherche"
Je cherche le terme "[lymphome](https://beta.zestedesavoir.com/rechercher/?q=Lymphome&category=&subcategory=&from_library=)" depuis la page d'accueil du site, je ne trouve pas la serie de billet de gabbro.

J'ignore si on est sur l'un des problème suivant :

- en corrigeant le ticket #4570 , la PR a du casser la recherche dans les billets
- le ticket #4560 : qui semble être récurrent à chaque sync

[2017-09-04 14:54] artragis commented on #4613
oui et c'est normal.

[2017-09-04 14:57] firm1 commented on #4613
Du coup si c'est aussi la cause de ce bug, tu peux fermer. Mais ça serait pas mal de faire une réindexation a chaque mise en beta pour m'éviter de vous déclarer des bugs de ce genre à chaque fois. Sinon ça biaise les tests

[2017-09-04 15:11] artragis commented on #4613
faut regarder mais c'est possible que #4570 a vraiment joué un rôle même si je ne vois pas trop comment pour l'instant.

le pb de la réindexation c'est que si tu réindexe 100% du site à chaque fois ça prend des plombes. mais genre c'est au minimum 30min et ça ne fait qu'augmenter à chaque synchro.

[2017-09-04 15:27] motet-a commented on #4613
C’est envisageable de faire tourner la bêta sur une infra un peu plus solide pour que la réindexation se passe plus vite (surtout que ça m’a l’air d’être un petit Scaleway actuellement :upside_down_face:) ? Si le site est utilisable pendant l’indexation, ça ne me semble pas idiot.

J’imagine qu’il y a aussi la possibilité de réindexer automatiquement la première nuit après le déployement de la bêt

[2017-09-04 15:40] firm1 commented on #4613
Oui il ne faut pas faire ça. Mais ça n'a pas grand chose a voir avec notre ticket je pense puisque  les tutos/articles sont indexés mais pas les billets (en sachant que je cherche toujours a chaque fois des billets assez vieux)

[2017-09-04 15:44] artragis commented on #4613
nope.

voici l'explication : pour indexer on utiliser un flag en bdd (must_index). Lorsqu'un tuto/article/billet est publié, le flag vaut true, une fois que la routine d'indexation est passée elle vaut false.

lorsqu'on synchro en béta, le flag est donc à false alors que dans l'ES de béta il n'est pas indexé.

[2017-09-04 16:43] Ymox commented on #3716
Bon, ça vient de me faire le coup. J'avais bien vu un message en fin de page, et la suite est arrivée (8 messages non-lus, tous sur la page suivante). En cliquant sur la notification, ça m'a dirigé vers l'avant-dernière page, donc celle qui comportait que des messages déjà lus.

[2017-09-04 19:35] firm1 commented on #4613
Je ne suis pas certain d'avoir compris. Ce que je vois en beta c'est que les tutoriels, les articles sont [trouvable par la recheche](https://beta.zestedesavoir.com/rechercher/?q=sarin&category=&subcategory=&from_library=) (donc je suppose qu'il ont été indexés). Par contre je n'arrive a retrouver aucun billet, tout comme c'était aussi le cas avec #4560 .

J'ai donc l'impression qu'il y a un trait

[2017-09-04 20:41] artragis commented on #4613
c'est une question de date, s'il n'y a pas eu de NOUVEAU tuto/article entre deux synchro, tu n'auras pas de pb dans la recherche.
Pour les billets les NOUVEAUX billets depuis la dernières synchro sont toujours présent (il en est de même pour les messages du forum d'ailleurs).

[2017-09-04 22:13] firm1 commented on #4613
Je distingue 2 categorie de billet :

- Les billets qui n'ont pas bougés entre deux synchro prod -> beta
- Les nouvaux billets (ou ceux qui ont été modifié).

Selon ton explication, la premiere catégorie devrait être accessible via la recherche et pas la seconde. Mais justement aucun billet n'est accessible, c'est là que se trouve mon problème.

[2017-09-05 07:31] abdelaz3r commented on #4613
Je confirme, il y a effectivement des vieux billets (genre juin) qui sont pas indexés.

[2017-09-05 08:30] artragis commented on #4613
Oui c'est pour ça que ce bug est différent de #4560 à l'époque j'arrivais à trouver certains billets.

[2017-09-05 19:22] #4548 closed, assigned to nobody

[2017-09-05 21:48] vhf commented on #4029
https://github.com/zestedesavoir/zmarkdown/issues/168

[2017-09-05 21:48] #4029 closed, assigned to nobody

[2017-09-06 17:53] entwanne opened #4615 "Accès au menu utilisateur depuis une fenêtre étroite"
Bonjour,

Je viens de remarquer un léger problème sur la v25, sur de petits écrans (enfin, en l'occurrence, un écran coupé en deux).

Sur la version actuelle comme sur la beta, quand la fenêtre est étroite, l'image de l'avatar en haut à droite disparaît.
Mais sur la v24, il reste la roue crantée pour accéder au menu utilisateur.
Ce n'est plus le cas sur la v25.

![v24.2 à gauche (actuelle), v25-RC

[2017-09-06 18:18] gllmc commented on #4615
La roue crantée sur mobile n'ouvre pas le menu utilisateur, mais est un lien direct vers son profil. ;)
Normalement, ce lien est présent en haut du menu dépliant, et un lien direct vers son profil ne me semble pas aussi important. Je pense qu'il serait plus souhaitable de pouvoir (avec la roue crantée ou l'avatar, peu importe) accéder au menu utilisateur comme sur desktop au lieu de l'avoir tout e

[2017-09-06 18:36] gllmc opened #4616 "Cliquer sur le pseudo du membre ayant résolu une alerte la ferme"
Lorsqu'une alerte est résolue, le nom du modérateur l'ayant résolue est affiché avec un lien vers son profil. Cependant, cliquer sur ce lien n'a pas l'effet attendu et ferme l'alerte à la place.

![Lien causant problème.](https://www.pixenli.com/images/1504/1504722869059687700.png)

[2017-09-06 20:27] entwanne commented on #4615
Ah, oui, c'est vrai que j'avais déjà constaté cette différence un peu gênante (je trouve), ça m'était sorti de la tête.

Mais, étant donné que techniquement il est possible d'avoir un menu sur petit écran (puisque c'est ce qui est fait avec le menu *sandwich*), je trouve qu'il serait adapté d'avoir un menu dans ce cas aussi.

[2017-09-07 16:21] gllmc commented on #4615
Par menu *sandwich*, tu entends celui activé par le bouton à gauche du logo ? Si oui, le menu membre est déjà présent en bas de celui-ci.

Je pensais plutôt à remettre la roue crantée, mais au lieu d'ouvrir le profil, elle pourrait afficher le menu membre comme c'est fait sur desktop (et on le vire du menu sandwich dans ce cas).

[2017-09-07 16:35] gllmc commented on #4613
Je vois assez mal comment #4604 aurait pu jouer un rôle, d'autant que j'arrivais à trouver des billets en local (j'ai testé avant de proposer la PR). Je pense que ça vaudrait le coup de lancer une réindexation pour voir ce que ça donne.

[2017-09-07 16:38] gllmc commented on #4570
Fixé par #4604.

[2017-09-07 16:38] #4570 closed, assigned to pierre-24

[2017-09-07 16:47] gllmc commented on #4541
Personnellement, je ne trouve pas que cela soit un problème : je n’interprète pas ces points de suspension comme l'indication que ce n'est pas une catégorie précise, mais plutôt comme le fait que l'utilisateur est incité à taper quelque chose.

[2017-09-07 18:00] entwanne commented on #4615
Oui c'est ce que je voulais dire. Puisqu'il est possible d'afficher un menu (la preuve avec le menu en haut à gauche), autant ajouter aussi le menu utilisateur.

[2017-09-07 18:47] gllmc commented on #4598
@nils-van-zuijlen : l'ajout d'une telle fonctionnalité est loin d'être un point de détail et cela doit être discuté sur le forum. Je t'invite à créer un sujet dans le forum [bugs et suggestions](https://zestedesavoir.com/forums/communaute/bug-suggestions/) pour en parler. Je ne suis personnellement pas sûr que ce soit une bonne idée.

[2017-09-10 09:40] artragis commented on #4571
pas réussi à gérer ça pour l'instant, dsl

[2017-09-10 12:52] Situphen commented on #4390
Pour que le site soit full responsive design (qu'aucun n'éléments ne débordent sur mobile), il faut rajouter ce CSS (certains bouts y sont peut-être déjà) :

[code]

[2017-09-10 13:06] gllmc commented on #4613
[Problème résolu](https://beta.zestedesavoir.com/rechercher/?q=lymphome&category=&subcategory=&from_library=) par la réindexation, je ferme. :)

[2017-09-10 13:06] #4613 closed, assigned to nobody

[2017-09-10 13:40] #4598 closed, assigned to nobody

[2017-09-10 14:32] vhf commented on #4390
@Situphen Fais une PR vers https://github.com/zestedesavoir/zds-site/tree/zmarkdown-notes stp

[2017-09-11 22:35] firm1 opened #4622 "Les tags marchent sur les plates bandes du titre de sujet sur mobile"
OS : Android Nougat
Navigateur : Chrome

Screen :

 ![20170912_002749](https://user-images.githubusercontent.com/6066015/30299852-f9f3863c-9751-11e7-9b05-a01b0cee9601.png)

[2017-09-13 16:49] gllmc commented on #4279
@artragis : je me permets de rouvrir car je pense qu'il y a eu confusion. Le nombre apparaît bien sur les tutoriels et les articles, mais pas sur les billets (l'objet du ticket).

[2017-09-18 09:37] firm1 opened #4627 "[beta][v25] Cohérence du vocabulaire dans la topbar"
Sur [ce lien](https://beta.zestedesavoir.com/forums/) dans la topbar, sur la v25 on a décidé de passer "Forums" en "Forum" (au singulier).

Le travail a bien été fait pour les versions PC, mais pour les versions mobiles/tablette, on a oublier de changer le vocabulaire.

### Rendu de la version PC

![big-forum](https://user-images.githubusercontent.com/6066015/30536312-a0a978c0-9c65-11e7-9400-29feb

[2017-09-18 09:59] #4559 closed, assigned to nobody

[2017-09-18 11:22] sandhose opened #4628 "Signatures DKIM des mails la prod"
On reçoit des rapports DMARC nous indiquant que les signatures DKIM des messages sortants de la prod sont pas valides/inexistantes.

Je crois qu'on avait mis ça en place mais que c'est plus le cas ; je m'en occupe.

[2017-09-18 12:27] sandhose commented on #4628
Cébon. Normalement.

Le démon dkim était plus lancé, et crachait des erreurs à causes de problèmes de permissions. Du coup j'ai réglé ça, relancé le démon, et ça fonctionne.

Au passage, j'ai remarqué qu'on avait des mails vers GMX dans la queue, qui passaient pas à cause de notre reverse DNS (on avait le reverse "par défaut" de Gandi). Je l'ai passé à `gandi.zestedesavoir.com`, du coup ces mails

[2017-09-18 12:27] #4628 closed, assigned to sandhose

[2017-09-18 12:27] sandhose commented on #4628
(Note: la conf postfix est dégueu, je clean-erai ça à l'occas.)

[2017-09-18 15:46] sandhose commented on #4627
C'est aussi présent dans le `<title>` de la page. C'est vite fixé aussi par contre. On fait quoi ?

Exemple:

https://github.com/zestedesavoir/zds-site/blob/65a25baad3115d41c245c3d6b1e52b4c16fe792b/templates/forum/base.html#L10-L18

[2017-09-18 16:20] firm1 opened #4630 "[beta][v25] La navigation au survol sur mobile n'est pas efficace"
Sur mobile, lorsque la navigation au survol sur les menus est activée toutes les actions necessite un clic (ce qui est normal).

Là ou le problème survient c'est lorsque l'on clique (via mobile) sur la cloche pour afficher les notifications, au lieu de dérouler la boite faite pour, on est redirigé vers la page "toutes les notifications".

Donc fonctionnellement on est Ok, mais l'utilisateur lambda

[2017-09-18 16:30] firm1 opened #4631 "[beta][v25] Les icones dans la topbar sur mobile n'ont pas le bon background."
Navigateur : Chrome
OS : Android

L'icone ne messagerie et celle de la cloche possede un background d'une autre couleur que le reste de la ligne. Ça ne rend pas super sur mobile.

### Screen de la prod

![20170918_182553](https://user-images.githubusercontent.com/6066015/30552682-213c7b70-9c9f-11e7-87cf-2e2b105673be.png)

### Screen de la beta

![20170918_182358](https://user-images.githubusercont

[2017-09-18 16:41] artragis commented on #4627
Faut mettre forums partout comme avant.

[2017-09-18 16:49] artragis commented on #4630
le survol n'est présent que pour les membres qui le désirent, et je supposent que ceux qui le désirent ne sont pas sur mobile.

[2017-09-18 16:53] gllmc commented on #4630
Perso, je pense que le déroulement au survol ne devrait pas avoir d'effet sur mobile, mais ça peut attendre la v26.

[2017-09-18 16:58] firm1 commented on #4630
Sauf que je de nos jours on utilise facilement plusieurs supports en parallèlle.

Comme le dit @gcodeur le code "survol" devrait se limiter aux pc.

Mais oui ça peut attendre la prochaine version.

[2017-09-18 17:09] firm1 opened #4633 "[beta][v25] Les marges à gauche dans la bibliothèque sont trop grandes"
Navigateur : Chrome
OS : Android

Attzntion c'est du pixel pzrfect, mais les marges a gauche sont au moins 2 fois plus grand que les marges a droite sur mobile sur ce lien : beta.zestedesavoir.com/bibliotheque/sciences-de-la-nature/

![20170918_190504](https://user-images.githubusercontent.com/6066015/30554415-ba82327a-9ca4-11e7-91b9-e726eecec6e0.png)

[2017-09-18 17:17] motet-a commented on #4633
Ouais, je trouve qu’il y a d’autres problèmes de marges un peu partout sur le site d’ailleurs.

[2017-09-18 19:36] #4631 closed, assigned to nobody

[2017-09-19 09:20] #4627 closed, assigned to nobody

[2017-09-19 11:24] #4534 closed, assigned to nobody

[2017-09-19 13:50] Fumble opened #4640 "Problèmes avec la zone de choix des smileys"
Quelques problèmes avec la zone de choix des smileys (quand on répond à un sujet du forum):

![smileys](https://user-images.githubusercontent.com/634461/30595654-1343620a-9d52-11e7-8662-28df0be2d274.png)

- Le smiley "en colère" entre entre l'ange et le démon n'est pas aligné.
- Le smiley ninja qui se téléporte sur la gauche est aligné à droite dans la sélection
- ~~Le bouton smileys dans l'éditeu

[2017-09-19 14:34] motet-a commented on #4640
En fait, les nouveaux smileys sont arrivés, mais comme il y a une histoire un peu compliquée de cache, il faut normalement que tu fasse Ctrl+F5 (pour actualiser le site sans le cache) un coup sur la page.

Not a bug. C’est un nouveau smiley, et c’est nécéssaire pour son animation (enfin, tu peux en discuter avec les gens qui se sont occupés des smileys, mais je suis sûr que ça a été déjà discuté a

[2017-09-20 08:19] #711 closed, assigned to nobody

[2017-09-20 08:42] motet-a commented on #4533
D’ailleurs, il y a le même problème sur les `apple-touch-icon-*.png`.

[2017-09-20 15:32] artragis opened #4646 "L'alias tribune.zestedesavoir.com est mal réglé"
Source: [SpaceFox](/articles/2108/la-25e-version-de-zeste-de-savoir/?page=1#p162775)

[2017-09-20 17:00] motet-a commented on #3081
Il me semble que tous ces problèmes ont été corrigés depuis le temps, non ?

[2017-09-20 17:01] Situphen commented on #4646
J'aimerais bien savoir ce qui a motivé la création de ce sous-domaine :) Je n'ai rien trouvé ni dans Bugs&Suggestions ni en Dev Zone. Si ça s'est discuté sur IRC, quelqu'un a des logs ? :)

[2017-09-20 17:25] motet-a commented on #3096
`curl -i https://zestedesavoir.com/api/membres/1237/` retourne désormais une 200, et `curl -i -H 'Accept: invalidcontenttype' https://zestedesavoir.com/api/membres/1237/` retourne une 406 avec `{"detail":"L'en-tête « Accept » n'a pas pu être satisfaite."}`. Tout me semble bon.

[2017-09-20 17:25] #3096 closed, assigned to nobody

[2017-09-21 06:10] artragis commented on #4646
Proposé et implémenté par @vhf

[2017-09-21 06:11] #3081 closed, assigned to Eskimon

[2017-09-21 07:59] vhf commented on #4646
Ça n'a pas été implémenté à ma connaissance.

[2017-09-21 08:26] artragis commented on #4646
apparament l'adresse existe et va vers la racine du site.

[2017-09-21 09:16] motet-a commented on #4646
@Situphen @gcodeur [Voici une explication](https://zestedesavoir.com/billets/1931/le-point-sur-les-stats-des-billets/#p152453).

[2017-09-21 14:54] motet-a commented on #4419
Dupliquée, voir #4354.

[2017-09-21 14:54] #4419 closed, assigned to nobody

[2017-09-22 07:40] A-312 commented on #4640
Ce n'est pas possible de faire une sorte de proxy pour définir le etag du cache ? Pour rajouter un prefix "old" ou "new", comme ça plus besoin de faire un CTRL+F5.

[2017-09-22 20:55] SpaceFox opened #4656 "Impossible de passer la dépendance factory-boy en v2.9.2 (2.9.0)"
[Le changelog ne prévient de rien](https://factoryboy.readthedocs.io/en/latest/changelog.html#v2-9-0), mais si on passe la dépendance factory-box en version ≥ 2.9.0 (testée 2.9.2 pour éviter des versions buggées), plus aucun de nos tests qui utilisent les modèles Django ne fonctionnent.

Je ne comprends pas pourquoi, je laisse ça à qui veut.

[2017-09-23 14:43] A-312 commented on #4633
En effet : #4547 et #4459 . C'est le soucis quand on refactorise le CSS.

[2017-09-23 14:45] A-312 commented on #4615
J'ai fais le même commentaire sur le forum, le menu utilisateur est manquant sur la v25. 😞

[2017-09-23 14:52] A-312 commented on #4611
Je pense qu'il faudrait corriger la #4409 dans la foulée.

[2017-09-23 14:54] A-312 commented on #4564
Je préfère que le smiley soit en bottom (lors de la QA, il faudra vérifier la réaction avec les images).

EDIT : Bien que le line-height augmente ce qui fait moche, j'ai donc une préférence pour le middle.

[2017-09-23 15:01] A-312 commented on #4579
Par contre, il ne faut pas oublier que cette liste est principalement créé par des anglophones (pour ce que j'ai pu survoler).

[2017-09-23 15:32] artragis commented on #4579
Je pense que ça va être un won't fix, non?

[2017-09-23 17:47] SpaceFox commented on #4646
Je ne vais pas débattre ici de la pertinence d'un sous-domaine (on est dans la pure considération de dev là), mais il me semble important que ce sous-domaine, qui commence à être écrit à plusieurs endroits sur le net et donc indexable par Google, soit **désactivé** tant qu'il n'est pas correctement implémenté – en particulier les _duplicate content_.

[2017-09-23 20:16] #3898 closed, assigned to sandhose

[2017-09-23 20:54] #4354 closed, assigned to nobody

[2017-09-24 13:00] motet-a commented on #4237
Je pense qu’il faudrait juste prendre soin de limiter le nombre de textes mémorisés. Une simple liste triée par date de création devrait faire l’affaire.

Je ne sais pas si il y a vraiment besoin d’un attribut `data-storage-id`. On devrait pouvoir se débrouiller avec l’URL, non ?

[2017-09-24 13:01] #4527 closed, assigned to nobody

[2017-09-24 15:53] artragis commented on #4237
pas con du tout le coup de l'url :)

[2017-09-24 18:43] motet-a commented on #3952
Je plussoie.

Par contre, je suis vraiment contre le fait de s’occupper des fuseaux horaires côté serveur. Déjà parce que l’implémentation est trop compliquée (il faut rajouter un réglage, ça risque d’être la pagaille niveau cache), et ensuite parce que les utilisateurs n’aiment pas les trucs à régler.

Je pense que le plus simple est de faire comme GitHub :

 - Dans le HTML généré côté serveur, o

[2017-09-25 14:12] motet-a opened #4664 "Mettre des espaces insécables à l’intérieur des guillemets français"
[Source](https://zestedesavoir.com/articles/2071/introduction-a-lorthotypographie-1/#2-la-ponctuation)

À corriger à coup de `sed`.

[2017-09-26 11:48] artragis commented on #4414
PR en cours.

[2017-09-28 13:51] #2272 closed, assigned to firm1

[2017-09-28 18:53] motet-a commented on #2272
Corrigé par #4673.

[2017-09-29 07:45] motet-a opened #4677 "Changer les IOError en OSError"
Comme l’a [signalé](https://github.com/zestedesavoir/zds-site/pull/4674/files#r141799665) @pquentin, depuis Python 3, [IOError est un simple alias pour OSError](https://stackoverflow.com/a/29347946). Il serait donc bien de changer [les occurences de IOError](http://gtsearch.3.141.ovh/repository/zds?q=IOError) en OSError.

[2017-09-29 09:42] viveksyngh commented on #4677
Can you assign this to me ? I will do this.

[2017-09-29 19:52] gllmc commented on #4677
I can't assign this to you, because you're not in the organization, but you can create a pull request. Thanks for your help!

[2017-09-30 21:20] #4533 closed, assigned to motet-a

[2017-10-01 13:53] Heziode commented on #4664
@motet-a tu t'en charge ? J'ai des instructions `sed` prêtes à corriger ça sinon.

[2017-10-01 14:05] motet-a commented on #4664
@Heziode Oups, je n’aurais pas dû m’assigner là-dessus, désolé. Fais-le si tu veut.

[2017-10-01 14:12] gllmc opened #4681 "Utiliser des ModelForm et des vues génériques d'édition"
Actuellement, une grande partie des formulaires du site est géré avec des objets `forms.Form` dont les contraintes (taille maximale, `required` ou non, etc) sont dupliquées entre le `models.py` et le `forms.py`.

Pour éviter cette duplication, il faudrait utiliser des `forms.ModelForm` qui sont des formulaires spécialement adaptés aux modèles et dont les contraintes sont gérées automatiquement. On

[2017-10-02 03:01] AmarOk1412 commented on #3268
Je ferme, https://zestedesavoir.com/api/membres/?page_size=100&page=2 retournant bien 100 résultats :)

[2017-10-02 03:01] #3268 closed, assigned to nobody

[2017-10-02 03:02] AmarOk1412 commented on #3187
fixé ?

[2017-10-02 19:23] gllmc commented on #4677
Corrigé par #4685.

[2017-10-02 19:23] #4677 closed, assigned to nobody

[2017-10-03 18:27] gllmc opened #4686 "Certains espaces insécables sont mal utilisés"
Intégré par #4659.

Certains fichiers `.py` (modèles et formulaires notamment) contiennent des espaces insécables inclus avec `&nbsp;`. Le problème est que ces chaînes sont ensuite échappées par Django dans les templates, ce qui fait que le code est visible au lieu de l'espace.

[2017-10-03 18:29] motet-a commented on #4686
Il vaut donc mieux utiliser le caractère unicode plutôt que l’échappement `&nbsp;` :upside_down_face:

[2017-10-03 18:31] gllmc commented on #4686
Je suis en train de m'occuper de ça pour les chaînes en question, mais ce serait pas mal de faire ça ailleurs en effet. :)

Édit : j'ai tout fait finalement.

[2017-10-06 13:11] #3477 closed, assigned to gustavi, gllmc

[2017-10-06 13:58] motet-a opened #4692 "Plusieurs éléments ont le même ID sur la page de création de contenu"
Sur https://zestedesavoir.com/contenus/nouvel-article/, il y a plusieurs éléments avec l’ID `id_subcategory_1`, `id_subcategory_2`, `id_subcategory_3`, …

[2017-10-06 14:53] motet-a opened #4694 "Case à cocher pas très utile dans la confirmation de suppression de galerie"
![image](https://user-images.githubusercontent.com/15378830/31283764-ce81bf78-aab6-11e7-84a9-64d25853cb72.png)
C’est amusant.

[2017-10-06 17:38] #4686 closed, assigned to gllmc

[2017-10-07 11:38] motet-a opened #4698 "Erreur d’encodage lorsque l’on publie un document avec un titre Unicode"
- Mettez une locale (moisie) en US-ASCII
- Allez sur la branche `dev`.
- Créez un billet avec “bépo” comme titre
- Publiez !

[code]

Il est bien possible qu’il n’y ai pas de problème avec une locale en UTF-8, mais j’ai ouï dire que changer la locale sous Windows posait bien des problèmes.

[2017-10-07 17:11] motet-a opened #4700 "Retirer tous les commentaires `# coding: utf-8` en haut des fichiers"
Ils ne servent plus à rien avec Python 3.

À faire avec `sed` ou autre (ne faites pas ça à la main hein).

[2017-10-07 17:43] NullSilence commented on #4700
Je m'en occupe.

[2017-10-07 17:59] motet-a opened #4701 "Retirer tous les `@python_2_unicode_compatible`"
…parce qu’on est passé à Python 3 :upside_down_face:

[2017-10-07 18:34] NullSilence commented on #4700
Je n'ai pas les accès pour créer de nouvelles branches (Pour éventuellement faire un pull-request). Dois-je pousser directement mes changements sur la branche develop? Ou préférez-vous créer la branche issue4700 pour moi?

[2017-10-07 18:52] motet-a commented on #4700
En fait, il faut que tu *fork* le dépot pour que tu aie une copie personnelle avec un accès en écriture dessus. Ça sera le dépot “NullSilence/zds-site”. Ensuite, tu pourrais faire une *pull request* de ton dépot (NullSilence/zds-site) vers celui-ci (zestedesavoir/zds-site).

Plus d’infos :

- https://help.github.com/
- https://help.github.com/articles/fork-a-repo/
- https://help.github.com/article

[2017-10-08 08:20] #4701 closed, assigned to nobody

[2017-10-08 08:55] #4698 closed, assigned to nobody

[2017-10-08 12:12] #4664 closed, assigned to nobody

[2017-10-09 10:13] #4612 closed, assigned to AmarOk1412

[2017-10-09 14:10] SpaceFox commented on #4646
C'est **URGENT** de dégager cet alias si on ne peut pas le corriger en prod très rapidement : Google a commencé à le référencer.

https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=49#p163978

[2017-10-09 14:25] sandhose commented on #4646
C'est bon, tout est redirigé, avec un certificat valide.

[2017-10-09 14:25] #4646 closed, assigned to nobody

[2017-10-09 14:31] SpaceFox commented on #4646
Merci pour la correction rapide.

[2017-10-09 14:31] firm1 commented on #4646
Chez moi, il redirige toujours vers `zestedesavoir.com`, je croyais que le but était qu'il redirige vers les billets ...

[2017-10-09 14:35] SpaceFox commented on #4646
Honnêtement ? De mon point de vue, c'est très bien comme ça.

La redirection vers les billets, ça implique d'isoler une partie du site et de gérer proprement des URLs canoniques pour éviter le duplicate content. Or, la logique d'avoir « un sous-domaine pour les tribunes » ne fonctionne vraiment que pour des devs, le visiteur standard se fiche complètement de l'URL du site qu'il visite, voire souve

[2017-10-09 14:46] firm1 commented on #4646
Disons que du coup, je ne comprend pas pourquoi on ne supprime pas tout simplement ce sous domaine, puisqu'il redirige de toute façon vers la page d’accueil.

Il sera toujours temps de le recréer, quand on saura en faire une redirection propre vers les billets.

[2017-10-09 14:48] SpaceFox commented on #4646
C'était la solution rapide, mais @sandhose a eu le temps de faire la solution propre qui nous garantit de ne pas péter le référencement des pages en tribunes… qui auraient déjà été référencées (et il y en a).

[2017-10-11 14:05] SpaceFox opened #4715 "[Suggestion] Intégrer Mermaid, qui permet de faire des graphes à partir de Markdown"
Un truc pratique à faire dans un tuto mais toujours un peu compliqué, c'est d'ajouter des graphiques (diagrammes de décision, etc).

C'est là qu'on pourrait ajouter [Mermaid](https://mermaidjs.github.io), qui permet de créer des graphes directement à partir du Markdown (cf [les démos](https://mermaidjs.github.io/demos.html)).

**Avantages**

- C'est prévu pour s'intégrer dans le markdown donc dans

[2017-10-11 14:07] SpaceFox opened #4716 "[Suggestion] Assouplir la gestion des blocs spéciaux"
Aujourd'hui nos blocs spéciaux sont quelque part entre [ce genre d'alerte](http://docdock.netlify.com/shortcodes/alert/) et [ce type de notice](http://docdock.netlify.com/shortcodes/notice/), dans le sens où ils n'ont pas d'en-tête mais ou l'icône est imposée par le type de bloc.

Ma proposition est d'ajouter [ce type de bloc](http://docdock.netlify.com/shortcodes/panel/), qui aurait les avantages

[2017-10-11 14:14] artragis commented on #4715
C'est plutôt un truc à gérer côté zmarkdown. il y a déjà une issue à ce propos.
https://github.com/zestedesavoir/zmarkdown/issues/171

[2017-10-11 14:15] artragis commented on #4716
C'est plutôt un truc à gérer côté zmarkdown, bien qu'il n'y ai pas encore de ticket à ce propos dans le projet zmd.

[2017-10-11 14:16] SpaceFox commented on #4715
Les deux, non ?

Le 11 oct. 2017 4:14 PM, "artragis" <notifications@github.com> a écrit :

[2017-10-11 14:17] artragis commented on #4715
Non, zmd génère un svg et basta, faut "juste" coder le plugin qui prend un code mermaid et te sort un svg inliné.

[2017-10-11 14:25] SpaceFox commented on #4715
Alors attention, on ne parle pas de la même intégration.

Le SVG inliné craché par markdown, c'est la version « avancée ». Si c'est plus simple, on a peut-être tout intérêt à faire la version simple, à savoir : les blocs Mermaid sont conservés à l'identique et entourés d'un `<div class="mermaid">…</div>` et on passe le Mermaid-JS dessus. Cf https://mermaidjs.github.io/usage.html

Le jeu dans cette

[2017-10-11 14:27] artragis commented on #4715
avec zmd c'est la version "naturelle". et ça évite d'avoir un proco à 100% pour générer les diagrammes à chaque fois, surtout dans les pages dont l'arbre dom est déjà bien touffu.

[2017-10-11 14:28] SpaceFox commented on #4715
Je ne sais pas : je dis surtout qu'il faut faire attention à ne pas laisser ce genre d'idée en plan parce qu'on essaie de faire une intégration « plus efficace ».

[2017-10-11 14:32] artragis commented on #4715
Le temps de développement sera le même ou presque (en fait le principal delta viendra du fait qu'avec la génération du svg côté serveur on va surtout permettre d'exporter le tout en latex donc faut l'intégrer à rebber).

L'utilisation de mermaid dans notre site avec la solution "on place le div class=mermaid" n'est pas si évident car il faut modifier pythonzmd pour creer un exception spécial merma

[2017-10-11 14:35] SpaceFox commented on #4715
Ha, c'est parce que j'ai oublié qu'on a un MD spécial qui commente toute
forme de HTML qu'on essaie de lui faire ingérer – ici ça nous complique en
effet sérieusement la vie.

Le 11 octobre 2017 à 16:32, artragis <notifications@github.com> a écrit :

[2017-10-11 14:38] artragis commented on #4715
PS: ajoutons que logiquement le plan d'attaque c'est

v26 <=> py3 + quelques débug
v27 <=> zmd + quelques debug
v28 <=> reprise des gros chantiers fonctionnels (ping @sandhose @gcodeur)

[2017-10-12 09:13] motet-a opened #4718 "Ne pas mettre les commentaires en italique dans les blocs de code source"
[Voir ceci](https://zestedesavoir.com/forums/sujet/9498/ne-pas-mettre-les-commentaires-en-italique-dans-les-blocs-de-code-source/).

[2017-10-12 19:00] #4718 closed, assigned to nobody

[2017-10-12 19:57] #4694 closed, assigned to nobody

[2017-10-12 19:58] #4692 closed, assigned to nobody

[2017-10-16 16:37] #4414 closed, assigned to artragis

[2017-10-21 20:22] rezemika commented on #2780
Up ! :)

Je viens de jeter un coup d'oeil au [schéma d'un topic](https://search.google.com/structured-data/testing-tool?hl=fr#url=https%3A%2F%2Fzestedesavoir.com%2Fforums%2Fsujet%2F9447%2Fgoose-search%2F). Apparemment, tous les posts sont maintenant marqués comme des réponses ("Answer") vraies ou fausses ("An answer offered to a question; perhaps correct, perhaps opinionated or wrong.").

Du coup,

[2017-10-21 20:36] rezemika commented on #2076
Je viens de tester sur la bêta ([ici](https://beta.zestedesavoir.com/forums/sujet/9377/hey/)), c'est toujours d'actualité.

`1 2 3# A simple script. print("Hello world!") exit(0) Juste un petit test.`

Je vais faire quelques recherches, je vous tiens au courant si je trouves d'où ça vient.

[2017-10-21 20:43] motet-a commented on #2076
La manière la plus propre de régler le problème qui me vient en tête est de faire un rendu vers du texte brut depuis le moteur de Markdown. Mais c’est pas simple puisque le rendu HTML de chaque message est mis en cache, et je ne pense pas que ça vaille le coup de faire pareil avec du texte brut.

[2017-10-22 07:26] #2780 closed, assigned to nobody

[2017-10-23 14:29] motet-a opened #4736 "Réécriture des réglages"
Salut,

Le déployement sur la bêta d’hier a bien cafouillé comme il faut
à cause de l’import (traître) de `settings_prod.py` depuis
`settings.py`. Le moment est venu de reprendre ça.

## Proposition

Après quelques discussions avec Sandhose, je propose de
s’inspirer de [ce qui est fait sur djangoproject.com](https://github.com/django/djangoproject.com/tree/master/djangoproject/settings) :

[code]

[2017-10-23 14:33] motet-a commented on #4736
Ah, autre chose : Je vais pouvoir tester ça facilement avec l’espèce de mini-préprod que j’ai faite récemment avec Docker. C’est un environnement bien différent par rapport à ce qu’il y a en prod et en bêta, mais je pense que ça peut beaucoup aider.

[2017-10-23 20:08] #2076 closed, assigned to nobody

[2017-10-23 21:09] #3226 closed, assigned to gustavi

[2017-10-24 12:27] motet-a opened #4741 "Logger les suppressions de galleries et de publications"
Logger juste le fait que ce soit une suppression, le type d’objet concerné et le slug histoire qu’on puisse facilement remonter aux logs de nginx correspondantes avec la date et l’heures en cas de problème.

[2017-10-24 13:11] gllmc opened #4743 "Les majuscules des noms de catégories sont mal gérées"
Actuellement, sur la page des [publications de ZdS](https://zestedesavoir.com/bibliotheque/autres/zeste-de-savoir/), il manque les majuscules dans le `placeholder` de la barre de recherche :

![Capture](https://www.pixenli.com/image/Gnby2eKH)

Ce problème est dû au fait que les catégories sont actuellement enregistrées avec une majuscule dans la base de données. Du coup, `lower` est appliqué dans

[2017-10-24 15:07] motet-a opened #4744 "BASE_DIR devrait être un pathlib.Path"
C’est [complètement possible](https://github.com/django/djangoproject.com/blob/master/djangoproject/settings/common.py#L10), c’est pas difficile à faire (c’est juste long) et ça enlèverai pleins de `os.path.join` tout moches.

[2017-10-24 19:50] motet-a opened #4746 "Indiquer les notifications dans le favicon du site"
Ça serait bien d’avoir un petit marqueur de notification dans l’icône du site. GitHub font ça maintenant et c’est vraiment joli.

![github-favicon-notification](https://user-images.githubusercontent.com/15378830/31964582-c4afba48-b904-11e7-9517-ef666e541d3d.png)

Bon après, tant que les notifications n’arrivent pas en “temps réel” c’est assez futile. Mais je pense qu’il peut y avoir pas mal de dis

[2017-10-26 11:47] motet-a opened #4747 "Certains fichiers HTML sont chmodés avec +x"
Par exemple :

[code]

Il faudrait `chmod -x templates/gallery/base.html` et les quelques autres dans le genre.

[2017-10-26 20:32] #4747 closed, assigned to nobody

[2017-10-27 11:59] #4741 closed, assigned to gllmc

[2017-10-28 07:53] A-312 opened #4752 "Ajouter smiley v2 : ^(;,;)^"
Bonjour,

Lors de l'issue #4404, il manquait le petit monstre ! Je l'ai en ma possession. Il faudrait le rajouter ici : [assets/smileys](https://github.com/zestedesavoir/zds-site/tree/dev/assets/smileys).

Il s'appelle "cthulhu".

![ctulumachin_hd](https://user-images.githubusercontent.com/18501150/32132530-8777c378-bbc5-11e7-90c2-ad6f0b05c625.png)
![ctulumachin](https://user-images.githubusercont

[2017-10-28 14:02] Anto59290 opened #4753 "Faciliter la mise en Une"
Je trouve la mise en Une est super relou. Pour info ça ressemble à ça :

![L'interface de mise en Une](https://zestedesavoir.com/media/galleries/3753/49e5725f-0236-4c3e-a299-7a3eadb702c3.png)

Donc par exemple pour mettre en Une un article déjà publié, je dois :

- cliquer sur le bouton "gérer les Unes" ;
- "Ajouter une Une" ;
- dans un autre onglet, aller à la page d'accueil et depuis celle-ci co

[2017-10-28 14:04] Anto59290 commented on #4753
Je prends ce ticket pour essayer de me relancer un peu :)

[2017-10-29 14:27] motet-a opened #4755 "Typage statique via mypy"
Que pensez-vous de commencer à typer statiquement des parties des sources avec [mypy](http://mypy.readthedocs.io/en/stable/introduction.html) ?

Notez que ça ne veut pas dire du tout que les sources de ZdS vont être traduites en un espèce de Java illisible avec des noms de classe abstraites et d’interfaces génériques à rallonge après chaque paramètre de chaque fonction. On n’est absolument pas obl

[2017-10-29 16:18] motet-a commented on #1921
Il y a désormais une belle section en bas de la bibliothèque :

![image](https://user-images.githubusercontent.com/15378830/32145685-13eed7ee-bccd-11e7-8628-6e7f32164885.png)

Je ne pense pas que ce soit la peine de rajouter des choses dans le menu.

[2017-10-29 16:25] artragis commented on #4755
en attendant, on peut ajouter des annotations dans les nouvelles fonctions qu'on créé, ça , ça ne me dérange pas.

[2017-10-29 16:25] motet-a commented on #2391
C’est toujours d’actualité ?

[2017-10-29 17:06] motet-a commented on #4755
Ouais. Concernant la stabilité de mypy je pense que c’est OK. Déjà la [PEP 484](https://www.python.org/dev/peps/pep-0484/) a été publiée en 2014 (donc ça fait un paquet de temps), et après avoir fait un tour sur leur Gitter, on m’a dit que mypy serait quelque part entre la alpha et la bêta, donc même si la v1.0 va un peu casser des choses, il n’y aura pas de gros changements incompatibles par la s

[2017-10-29 17:08] motet-a commented on #4755
Et concernant la migration, il va falloir y aller petit bout par petit bout dans tous les cas. Donc oui, l’idée serait de rajouter ça dans le nouveau code et de refactorer plus doucement le vieux code.

[2017-10-29 17:28] lypwig commented on #4358
Related : [mon UP non volontaire](https://zestedesavoir.com/forums/sujet/9580/faciliter-lajout-dimages/?page=1#p165145) ^^

[2017-10-29 17:36] motet-a commented on #3229
Après c’est quand-même un outil interne dont les données ne peuvent pas être dévoilées au public. Et Sentry est mis à jour fréquemment. Donc si on documente l’interface de Sentry telle qu’elle est actuellement, ça risque de ne pas intéresser grand-monde et de devenir obsolète rapidement.

[2017-10-29 17:37] motet-a commented on #3240
228x228 ça va être moche sur les écrans HDPI. Je pense qu’il faudrait le double.

[2017-10-29 18:05] motet-a commented on #4119
Voir https://zestedesavoir.com/forums/sujet/9442/rediger-sur-zeste-cest-quand-meme-un-peu-complique/.

[2017-10-29 18:58] motet-a commented on #4755
![image](https://user-images.githubusercontent.com/15378830/32147181-6c1e4fb0-bce3-11e7-9394-23b1d66cd165.png)

Bon, Guido en personne a répondu à ma question :)

[2017-10-29 19:19] artragis commented on #3229
@sandhose comme sentry est propre à notre installation de prod, je suis favorable à clore ce ticket.

[2017-10-29 19:21] artragis commented on #1921
@sandhose on clos?

[2017-10-29 19:23] #2391 closed, assigned to nobody

[2017-10-29 19:50] gllmc commented on #1921
J'ai quand même un doute par rapport à ça : c'est en effet bien mis en avant sur l'accueil de la bibliothèque. Par contre, je pense pas que ce soit une page sur laquelle on aille beaucoup (elle n'est accessible qu'avec `Accéder à tous les contenus de la bibliothèque`).

[2017-10-29 20:26] gllmc opened #4758 "Refactoring de la gestion des permissions"
La gestion des droits d'accès de Zeste de Savoir (utilisant le système de permissions de Django) fonctionne assez bien, mais il y a quelques problèmes :

- On ne sait pas quelle permission permet quoi : toutes ne sont pas documentées et on se retrouve avec des permissions inutiles (le groupe staff a actuellement des permissions qui ne sont pas utilisées dans le code).
- Il y a des incohérences : l

[2017-10-29 20:27] motet-a commented on #3187
Bon je ferme, chez moi ça marche et toutes les sources des tutoriels ont dû complètement changer depuis et personne n’a l’air de se plaindre.

[2017-10-29 20:27] #3187 closed, assigned to nobody

[2017-10-29 20:30] motet-a commented on #2240
Il faudrait quand-même que le serveur envoie l’évènement aux clients pour implémenter ça proprement. Je met en priorité basse parce que ça ne sera pas possible avant longtemps.

[2017-10-30 06:42] motet-a opened #4759 "Faire un truc intelligent pour les `import json`"
Actuellement, on utilise soit `json` en dev, soit `ujson` en prod. Du coup, il y a des choses comme ça un peu partout :

https://github.com/zestedesavoir/zds-site/blob/56c3126c0b5df20fd5344b20716ea6e93eb54641/zds/tutorialv2/tests/tests_views.py#L40-L46

Ça serait beaucoup plus joli de faire un fichier `zds/utils/json.py` avec ça dedans et de remplacer tout ça par des `import zds.utils.json`. Et il

[2017-10-30 06:50] artragis commented on #4759
faurait pas appeler le fichier json.py (pour pas écraser le module json de python) par contre effectivement, on peut faire un fichier d'utilitaire autour du json.

[2017-10-30 07:01] motet-a commented on #4759
Pas avec Python 3, non ? Il me semble bien que dans le dossier `zds/utils/`, `import json` va toujours importer le module `json` de Python alors que `import .json` va toujours importer le module `zds.utils.json`, non ?

http://pulkitgoyal.com/absolute-relative-imports

(Ça serait quand-même choquant que le système d’imports de Python 3 soit cassé à ce point :upside_down_face:)

[2017-10-30 07:02] motet-a commented on #4759
En fait, quand j’y pense, ceci explique peut-être les noms à rallonge un peu rébarbatifs de certains fichiers. (Mais bon, c’est un autre problème.)

[2017-10-30 07:46] Anto59290 commented on #4436
@motet-a : ça semble avoir été fait, non ?

[2017-10-30 08:25] #4436 closed, assigned to nobody

[2017-10-30 11:33] qwertygc opened #4765 "Créer un flux RSS pour suivre un membre"
Bonjour,

une idée d'amélioration : suivre un membre par flux RSS. Ainsi, on peut voir l'ensemble de ses contributions (billets, articles, tuto) à un seul endroit !

On aurait une adresse du genre : https://zestedesavoir.com/membres/qwerty/flux/atom/

[2017-10-30 14:31] #3229 closed, assigned to nobody

[2017-10-30 16:54] motet-a commented on #3703
C’est un truc qui est en train d’être fait au fur et à mesure, je pense qu’on est sur la bonne voie et qu’il n’y a plus besoin d’une issue ouverte pour se souvenir de ça :upside_down_face:

[2017-10-30 16:54] #3703 closed, assigned to nobody

[2017-10-30 19:09] #4608 closed, assigned to nobody

[2017-10-31 13:32] viki53 commented on #4743
Pourquoi appliquer des modifications à l'affichage, en fait ?

Une nom de catégorie étant un titre, autant laisser la majuscule partout (et donc plus besoin de `lower` ni `capfirst` derrière), non ?

[2017-10-31 13:42] Monadologie opened #4768 "Espace insécable avant un signe de ponctuation"
Le Markdown n'ajoute pas les espaces insécables avant tout signe de ponctuation (point d'exclamation, point d'interrogation, point-virgule, etc.).

[2017-10-31 13:42] Monadologie commented on #4768
Je prends.

[2017-10-31 13:54] Monadologie opened #4769 "Guillemets"
Les guillemets utilisés par le Markdown sont anglais ("..."). Il faut utiliser les guillemets français (« ... »).

[2017-10-31 14:01] artragis commented on #4768
arrivera avec zmd.

[2017-10-31 14:02] artragis commented on #4769
arrivera avec zmd : https://github.com/zestedesavoir/zmarkdown/tree/master/packages/typographic-guillemets

[2017-10-31 14:13] motet-a commented on #4768
https://github.com/zestedesavoir/zmarkdown/tree/master/packages/typographic-question-mark

[2017-10-31 14:13] #4768 closed, assigned to nobody

[2017-10-31 14:15] motet-a commented on #4768
Mais il reste encore un peu de travail sur cette nouvelle implémentation de zmarkdown et tout aide là dessus est la bienvenue.

[2017-10-31 14:26] #4769 closed, assigned to nobody

[2017-10-31 14:30] gllmc commented on #4743
C'est discutable en effet, mais j'aime bien le fait d'avoir une minuscule pour un nom commun (exemple : « Recherche dans astronomie... »). Dans tous les cas, il faut faire quelque chose car le comportement actuel est incohérent pour les noms propres.

[2017-10-31 14:33] viki53 commented on #4743
Le fait d'avoir une majuscule permet aussi de voir que c'est un titre, donc que ça correspond bien à la catégorie du même nom.

Plus une même chose est affichée de façon cohérente partout mieux c'est.

On est bien d'accord, le `lower` actuel est une mauvaise idée.

[2017-10-31 18:45] A-312 opened #4771 "Améliorer le mode Halloween"
Bonjour,

Pour Halloween 2018, il faudrait améliorer le mode en modifiant les couleurs du css :

https://zestedesavoir.com/forums/sujet/7095/le-theme-dhalloween/?page=1#p165439

[code]

[2017-11-03 17:22] Situphen commented on #4758
Il faudrait aussi les renommer parce que bon "change_validation" c'est bof :/

[2017-11-04 09:31] gllmc commented on #4758
@Situphen : ces noms sont ceux automatiquement créés par Django lorsqu'on ajoute un modèle. Par exemple, quand on ajoute un modèle `Validation`, les permissions `add_validation`, `change_validation` et `delete_validation` sont automatiquement créées. Elles sont par défaut utilisées pour déterminer les accès dans l'admin Django.

Ici, j'ai repris des permissions qui existent déjà (sauf pour `github

[2017-11-04 10:45] motet-a opened #4774 "Faire en sorte que Travis regarde automatiquement si il ne manque pas des migrations"
@gcodeur a toujours la gentillesse et la patience de vérifier ça à la main à chaque PR parce qu’il y a toujours des étourdis comme moi qui n’y pensent jamais. Soyons gentils avec @gcodeur.

Je pense qu’un simple `./manage.py makemigrations --check` suffit.

[2017-11-04 10:51] #4584 closed, assigned to nobody

[2017-11-04 11:01] motet-a commented on #4758
Hum, à mon avis ça serait mieux de mettre des verbes dans les noms des permissions, comme ce qui est fait de base avec Django. Je verrais plutôt : 

- `tutorialv2.validate`
- `tutorialv2.moderate`
- `forum.moderate`
- `member.moderate`
- `member.show_ip` (ne change pas, il y a déjà un verbe)
- `member.change_email_providers` ? (je suppose que c’est ça, je ne sais pas ce que signifie `member.email_

[2017-11-04 22:14] motet-a commented on #4199
J’enlève le feedback, je pense que c’est tout décidé vu que la PR a été merge.

[2017-11-04 22:19] motet-a commented on #3959
Je me demande si ça n’a pas été corrigé par 247f7de26d7086994ef843f42abe9dc52e29692e.

[2017-11-05 09:43] Anto59290 commented on #4752
A fermer puisque la PR a été mergée

[2017-11-05 09:44] #4752 closed, assigned to nobody

[2017-11-05 11:26] gllmc commented on #3959
Je ne pense pas @motet-a, je crois que c'est un problème lié à la vérification CSRF, qui retourne cette 403 bien moche, peu importe la vue.

[2017-11-05 11:54] motet-a commented on #3959
Ah oui pas faux.

[2017-11-05 11:55] motet-a commented on #3959
Bon, je met priorité basse, d’après ce que j’ai compris c’est juste un défaut cosmétique.

[2017-11-05 14:41] Anto59290 opened #4775 "Déplacer l'action "Marquer comme résolu" pour le staff"
Les membres du staff peuvent marquer un sujet comme résolu. J'aurais 2 remarques à ce propos.

##  Déplacer le bouton dans la zone de Modération

Tout d'abord, si ce n'est pas l'auteur du sujet qui marque le message comme résolu, il s'agit d'une action de modération : il convient donc de déplacer le bouton *Marquer comme résolu* dans la zone appropriée afin d'éviter les fausses manipulations de la

[2017-11-05 15:17] motet-a commented on #4775
(Ça serait top de faire deux issues différentes :upside_down_face:)

[2017-11-05 19:10] Anto59290 opened #4776 "Expliciter l'auteur de la résolution d'un sujet"
Les membres du staff peuvent marquer un sujet comme résolu.

##  Expliciter la résolution par modération

On ne peut pas faire la différence entre un sujet marqué comme résolu par son auteur et un sujet marqué comme résolu par un membre du staff, dans les 2 cas on a :

![Sujet marqué comme résolu (ici sur un message supprimé, pour test)](https://zestedesavoir.com/media/galleries/3753/16f04184-837d

[2017-11-05 19:10] Anto59290 commented on #4775
Done: #4776

[2017-11-06 18:35] Anto59290 commented on #4776
Je vais m'occuper de ce ticket ;)

[2017-11-07 07:40] Anto59290 opened #4779 "Faciliter les propositions de mises en une"
Aujourd'hui pour proposer au staff la mise en une d'un sujet du forum deux possibilités existent :
- Poster un message dans le topic approprié
- Envoyer un message au staff (alerte ou MP)

Le but de ce ticket est de rendre plus simple la proposition de mise en une de sujets du forum. Pour ce faire l'idée est d'ajouter un lien "Proposer pour la mise en Une" dans la sidebar Partage du sujet. Au clic

[2017-11-07 19:59] SpaceFox opened #4780 "Ajouter/supprimer un groupe devrait ajouter/supprimer la casquette correspondante"
Aujourd'hui, les deux sont décorellés, ce qui rends la gestion des droits un peu pénible.

À moins que quelqu'un n'ait une bonne raison ou que ça prenne un temps déraisonnable à faire, je propose qu'ajouter un membre dans un groupe lui donne une casquette de même nom, et pareil dans l'autre sens.

[2017-11-07 20:01] #4775 closed, assigned to nobody

[2017-11-07 20:02] gllmc commented on #4780
Ça arrive en v26 : #4624. :)

[2017-11-07 20:07] SpaceFox commented on #4780
Vous êtes géniaux :)

[2017-11-07 20:07] #4780 closed, assigned to nobody

[2017-11-07 20:21] #4743 closed, assigned to nobody

[2017-11-08 19:14] viki53 commented on #4779
Les propositions pourraient être faites en *upsert* avec plusieurs auteurs, ça permettrait de les remonter tout en ayant une idée de l'intérêt pour la mise en Une.

Et pour la Comm' ça fait plus qu'un clic sur un bouton pour valider la publication : les membres sont plus investis et on a moins de boulot, c'est tout bénéf' ! 😃

[2017-11-08 20:42] Anto59290 commented on #4779
Salut @viki53

J'ai du mal a comprendre ce que tu veux dire par la. Est ce que tu veux dire que dans la deuxième idée d'implémentation on aurait pour un topic à mettre en Une le pseudo des utilisateurs ayant demandé la mise en Unes (et donc leur nombres).  Par exemple si on est 2 a demander une mise en Une sur un même topic on aurait une ligne "Super Topic proposé par viki53 et Anto59290" plutot q

[2017-11-09 07:19] viki53 commented on #4779
Je verrais plutôt une seule ligne par contenu, avec la liste des utilisateurs l'ayant proposé au bout.

[2017-11-09 07:23] Anto59290 commented on #4779
Ok, je crois que j'ai compris ce que tu voulais dire, je pensais aussi a quelque chose dans ce genre. Je vais clarifier un peu le ticket ;)

[2017-11-09 07:46] motet-a commented on #4779
Du coup, vous comptez créer un topic à la première proposition et modifier le titre à chaque fois que quelqu’un refait la même proposition ?

(Le seul truc qui me dérange c’est que ça va charger encore un peu plus la sidebar qui est déjà bien chargée. Mais je pense qu’il faudrait faire quelque chose de propre pour toute la sidebar, et ne pas se priver de cette fonctionnalité)

[2017-11-09 08:00] Anto59290 commented on #4779
@motet-a : On ne s'est pas compris je pense. Si on utilise la proposition 1 on poste un message dans le topic dédié (comme c'est fait aujourd'hui à la main par certains membres). Si on utilise la proposition 2 la liste des proposition faites au staff ne passe pas par un topic.

Je sais pas si c'est clair :p

[2017-11-09 08:03] motet-a commented on #4779
Ah OK. Mais à mon avis, il vaut mieux simplement mettre des +1 plutôt que de poster un message à chaque fois, non ?

[2017-11-09 08:04] motet-a commented on #4779
Ouais quoi que ça ne devrait pas flooder tant que ça. Oubliez ce que j’ai dit :upside_down_face:

[2017-11-09 11:37] motet-a opened #4783 "Erreur de balisage dans tutorialv2/view/content.html"
Je ne vois pas où ce `<li>` est fermé :

https://github.com/zestedesavoir/zds-site/blob/afcc37add9df549fc5b4ec4fb64fc92ca5298944/templates/tutorialv2/view/content.html#L267

Ça serait top de découper ce template dans plusieurs fichiers.

(Problème trouvé avec [jinjalint](https://github.com/motet-a/jinjalint))

[2017-11-09 20:22] gllmc commented on #4779
Par rapport à ce deuxième point, je pense que rien n'empêche de mettre cette page en accès public et n'activant les boutons de décision que pour l'équipe de com', ça me semblerait être une bonne solution en terme de transparence. :)

[2017-11-09 20:38] Anto59290 commented on #4779
Yep ça parait pas mal ;)

[2017-11-12 21:32] Situphen commented on #4092
Je n'arrive pas à reproduire le problème donc je suppose que ça a été réglé a un moment et je ferme. Si ce n'est pas le cas on rouvrira.

[2017-11-12 21:32] #4092 closed, assigned to nobody

[2017-11-14 19:54] Situphen commented on #4736
@sandhose est que #2995 encore d'actualité ? Si oui, je pense que @motet-a pourrait l'intégrer dans ce ticket

[2017-11-14 20:42] sandhose commented on #4736
À long terme oui, à court terme, pas dans cette PR.

Si on peut avoir à terme juste à déployer des sdist/egg/wheel python, et chopper la version directement depuis ça, ça serait bien.

Vous saviez que ZdS est en [`0.2` selon le `package.json`](https://github.com/zestedesavoir/zds-site/blob/dev/setup.py#L27) et en [`1.7` selon le `setup.py`](https://github.com/zestedesavoir/zds-site/blob/dev/setup.

[2017-11-14 21:11] motet-a commented on #4736
Il n’est déployé ni sur pypi ni sur npm donc c’est tout bidon.

[2017-11-14 21:18] motet-a commented on #2995
D’ailleurs, avant de faire tout ça, je pense que ça serait bien de faire en sorte que le site puisse tourner en production sans le dépot Git (c’est à dire sans dossier `.git` à la racine), et du coup sans lire les informations du dépot pour afficher la version dans le footer. Ça implique d’avoir la version quelque part ailleurs, et si elle est dans un fichier Python c’est super facile de l’importe

[2017-11-14 21:46] vhf commented on #4736
Pour moi le sha dans le footer n'a pas d'utilité. Actuellement on a une étape de build faite sur travis sur chaque tag, si on continue dans cette direction d'avoir des builds, y inclure le tag est facile.

Comme ça on ne dépend plus du tout d'un repo au déploiement, on a toujours le tag en footer, et on vire le sha ?

[2017-11-14 21:46] vhf commented on #2995
Pour moi le sha dans le footer n'a pas d'utilité. Actuellement on a une étape de build faite sur travis sur chaque tag, si on continue dans cette direction d'avoir des builds, y inclure le tag est facile.

Comme ça on ne dépend plus du tout d'un repo au déploiement, on a toujours le tag en footer, et on vire le sha ?

[2017-11-14 21:50] vhf opened #4798 "Notification persistante de nouveau topic sur forum privé"
(Cf. [ceci](https://github.com/zestedesavoir/zds-site/issues/4195#issuecomment-326750419).)

Pour reproduire je pense qu'il suffit de

1. user1 a accès à un forum privé et s'y abonne
2. user1 perd accès au forum privé (changement de groupe)
3. user2 créé un sujet dans le forum privé en question
4. user1 est notifié, la notification mène à une 403 mais reste présente

[2017-11-14 21:56] artragis commented on #2995
@vhf j'ai tendance à ne pas virer le sha, puisque sentry l'utilise pour gérer les release :)

[2017-11-16 20:05] #4776 closed, assigned to Anto59290

[2017-11-17 19:47] #4257 closed, assigned to nobody

[2017-11-18 15:09] #4622 closed, assigned to nobody

[2017-11-18 15:09] #4633 closed, assigned to nobody

[2017-11-18 15:09] #4541 closed, assigned to nobody

[2017-11-18 15:09] #4547 closed, assigned to nobody

[2017-11-18 15:09] #3359 closed, assigned to nobody

[2017-11-19 23:34] AmarOk1412 opened #4801 "Passez aux f-string, (après python 3.6)"
See https://www.python.org/dev/peps/pep-0498/

[2017-11-21 19:44] gllmc commented on #2860
J'enlève le tag `Facile` vu que la solution "simple" (ajout d'un `text_html`) serait ingérable (cf #3082).

[2017-11-21 19:48] gllmc commented on #3605
Corrigé par #4450.

[2017-11-21 19:48] #3605 closed, assigned to Emeric54

[2017-11-21 19:52] gllmc commented on #4178
Je ne pense pas que ce ticket soit si simple que ça pour un nouveau contributeur : ça implique de bien connaître ES et de comprendre la manière dont on l'a implémenté, je me permets donc d'enlever le tag `Facile`. ;)

[2017-11-21 19:54] gllmc commented on #4324
Sans icône approuvée, ce ticket n'est pas facile, j'enlève le tag. ^^

[2017-11-21 19:55] gllmc commented on #4346
Corrigé par #4523.

[2017-11-21 19:55] #4346 closed, assigned to artragis

[2017-11-21 19:57] gllmc commented on #4396
Personnellement, l'absence d'effet `:hover` ne me choque pas. Par ailleurs, ces éléments ne se comportent pas comme les autres : ce ne sont pas des liens, ils n'affichent qu'un menu déroulant.

[2017-11-21 20:03] gllmc commented on #4774
Il faudrait préciser comment faire pour ajouter le tag `Facile`, je l'enlève en attendant. :)

[2017-11-21 20:10] motet-a commented on #4774
Comme ça c’est bon ? :upside_down_face:

[2017-11-21 20:13] gllmc commented on #4774
Oui, c'est parfait :+1:

[2017-11-21 20:51] gllmc commented on #4759
Voilà qui est fait, merci @artragis !

[2017-11-21 20:51] #4759 closed, assigned to nobody

[2017-11-27 20:11] #4736 closed, assigned to nobody

[2017-11-28 20:03] rezemika opened #4804 "Conflit entre plusieurs notes de "pied de page""
Quand il y a plusieurs notes de "pied de page" (*footnote*, pas super adapté ici vu que les-dites notes sont en fait en pieds de sections) qui portent le même nom, seule la première est utilisable.

Ironiquement, c'est le billet ["Mais pourquoi ça bug?"](https://zestedesavoir.com/articles/2263/mais-pourquoi-ca-bug/#fn-source) qui m'a fait trouver ce comportement. Les deux premières sections possèd

[2017-11-28 20:05] motet-a commented on #4804
Probablement lié à https://github.com/zestedesavoir/zmarkdown/issues/168 et https://zestedesavoir.com/forums/sujet/9280/references-non-uniques-dans-un-sujet/.

[2017-11-28 20:07] Situphen commented on #4804
Est-ce qu'il faut laisser le ticket ouvert ici étant donné que ça concerne le Markdown ?

[2017-11-28 20:19] motet-a commented on #4804
Je viens de relire ces choses et oui, ça concerne vraiment le Markdown. D’ailleurs, dans https://github.com/zestedesavoir/zmarkdown/issues/168 il y a une solution vraiment simple à ce problème.

[2017-11-28 20:19] #4804 closed, assigned to nobody

[2017-12-05 10:31] informaticienzero opened #4805 "Ajouter localhost à ALLOWED_HOSTS en dev"
Salut les agrumes,

En tentant de lancer mon instance locale de ZdS (instance bien à jour), la console m'a signalé une erreur.

[code]

La résolution est très simple et je m'en occupe.

[2017-12-07 10:17] informaticienzero commented on #4805
Après discussion, le problème vient plutôt du Makefile qui devrait lancer sur `localhost`.

[2017-12-08 10:09] #4805 closed, assigned to nobody

[2017-12-10 17:56] #4700 closed, assigned to nobody

[2017-12-10 18:43] motet-a opened #4810 "Renommer “registery” → “registry”"
C’est une faute d’orthographe ou de frappe.

https://gtsearch.3.141.ovh/repository/zds?q=registery

[2017-12-10 20:27] gllmc opened #4811 "Passer à Django 1.11"
Actuellement, le site est sur Django 1.10. Il faudrait que nous passions à la version 1.11 afin d'obtenir un support étendu (c'est une LTS) et de ne pas prendre de retard pour la suite.

- [Doc sur les mises à jour](https://docs.djangoproject.com/fr/1.11/howto/upgrade-version/)
- [Notes de version 1.11](https://docs.djangoproject.com/en/dev/releases/1.11/)

[2017-12-12 20:32] EGabbro opened #4813 "Supprimer l'encouragement à contacter l'équipe pour ajouter une catégorie dans la page de création de contenu"
Bonjour,

La page de création / édition de contenu (là il y a l'intro, conclusion, les tags, catégories, etc) contient la phrase

« Sous catégories de votre contenu. Si aucune catégorie ne convient n'hésitez pas à en demander une nouvelle lors de la validation ! »

Version courte : je propose la suppression de la deuxième partie (ne laisser que
« Sous catégories de votre contenu. »).

Version long

[2017-12-13 08:37] #4798 closed, assigned to artragis

[2017-12-16 18:22] rezemika commented on #4811
J'ai fais une petite tentative de mon côté, et il y a plein de Warnings que je ne saurais résoudre.

J'ai juste résolu quelques erreurs, je mets les solutions ici si ça peut aider quelqu'un.

Le fichier https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/templatetags/date.py devient : voir #4815.

Cette ligne (https://github.com/zestedesavoir/zds-site/blob/dev/zds/notification/receivers.p

[2017-12-18 09:27] artragis commented on #3942
Ce n'est plus d'actualité car on ne peut plus chercher sur les chapitres.

[2017-12-18 09:27] #3942 closed, assigned to nobody

[2017-12-18 09:28] artragis commented on #3458
@AmarOk1412  tu es toujours dessus?.

[2017-12-19 17:16] AmarOk1412 commented on #3458
nop, mais vu que je reviens pour quelques mois cq peut etre une de mes taches :)

[2017-12-19 17:43] Situphen opened #4817 "Modifier la boite modale de publication d'un contenu"
Quand on valide un contenu, il faut mettre un commentaire d'au moins 3 caractères d'en la boite modale de publication d'un contenu.

Actuellement, on a une erreur :

Il faudrait que les crochets et les guillemets ne s'affichent pas.

Il serait bien de rajouter un `minlength=3` sur le `textarea` de la modale :)

[2017-12-19 20:05] artragis commented on #3458
on attend ta MR avec impatience alors.

[2017-12-19 20:14] artragis commented on #4817
je le tag en facile car :

- ajouter le min-length sera assez facile, il suffit de toucher au template content.html
- pour retirer les crochets etc. il faudra soit modifier le moment où on affiche les erreurs dans le templates soit créer un templatetag qui fait globalement ça :

[code]

[2017-12-20 15:37] Anto59290 commented on #2964
Ça serait cool d'avoir une mise à jour de ce ticket (et éventuellement de #3296) pour pouvoir voir si il y a toujours des grosses requêtes qui seraient améliorables ;)

[2017-12-20 16:07] SpaceFox commented on #2964
Pour faire les choses dans l'ordre : à l'heure actuelle, le serveur MySQL de la prod se touche la nouille. D'autre part, le temps passé dans les requêtes (tel que mesuré par Munin) n'a d'impact, dans les pages sensibles de l'application, que sur l'accueil des forums. Et ce bien que ces requêtes soient 2x (select) à 20x (insert/delete) plus lentes que ce qu'elles devraient.
Pour **toutes** les autr

[2017-12-20 16:34] Anto59290 commented on #2964
@SpaceFox : merci pour cette précision. Si on a des statistiques sur les vues qui sont le plus consommatrices de ressources de manière inhabituelle on peut aussi voir pour améliorer / refactorer notre code Python pour le rendre plus efficace.

[2017-12-20 16:52] SpaceFox commented on #2964
Quelques stats en images :

Les temps de réponse des pages :
![wget_page-pinpoint 1479228143 1513788143](https://user-images.githubusercontent.com/5786268/34218364-482b4c9a-e5ae-11e7-8e06-6d75d60fc89e.png)

L'usage CPU du serveur :
![cpu-pinpoint 1479228142 1513788142](https://user-images.githubusercontent.com/5786268/34218282-13e31116-e5ae-11e7-8c74-03221dd779bf.png)

Deux stats sur l'usage de My

[2017-12-21 07:13] Anto59290 commented on #2964
Donc si je lit correctement les graphs, les pages les plus lentes sont :
- Accueil des forums
- Categorie de forum
- Homepage / Un topic

[2017-12-21 07:50] SpaceFox commented on #2964
Un article a aussi la même réactivité que Accueil et Un topic.

[2017-12-21 07:52] SpaceFox commented on #2964
À noter que ce qui est intéressant, pour les pages « Un Bidule » en particulier, c'est de comparer l'évolution d'une métrique et pas les métriques entre elles : les pages « Un Bidule » tapent toujours sur le même Bidule, donc si ça se trouve avec un autre Bidule le classement serait autre.

[2017-12-21 19:22] nils-van-zuijlen commented on #4810
Je prends

[2017-12-21 22:04] nils-van-zuijlen commented on #4817
Hum, pour avoir essayé, sans connaitre l'architecture des fichiers et leur contenu, **ce n'est pas facile**, enfin, du moins avec le peu d'informations que vous donnez.

De quel content.html s'agit-il ? De quel formulaire s'agit-il au sein de ce fichier ? Les formulaires ne seraient-ils pas générés automatiquement ?

[2017-12-21 22:14] nils-van-zuijlen commented on #4783
Je prends la fermeture du `<li>`
Pour le découpage, il faudra quelqu'un de plus compétent.

[2017-12-21 22:15] AmauryCarrade commented on #4817
Je suppose que le `content.html` est [celui-là](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/view/content.html#L531) ; par contre en effet le formulaire est généré par django & crispy donc sauf erreur, il faudrait plutôt modifier l'attribut [par là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/forms.py#L660-L669).

MàJ : et tant qu'à faire, il serait

[2017-12-21 22:52] nils-van-zuijlen commented on #4817
Je prends, maintenant que la TODO list est claire

[2017-12-22 00:11] nils-van-zuijlen commented on #4817
Ouh là, plus je regarde le code, plus je trouve ça vieux.
Pourquoi est-ce qu'on fait les vérifications sur le texte "à la main" et qu'on n'utilise pas [les validateurs de Django](https://docs.djangoproject.com/fr/1.10/ref/forms/validation/#using-validators) ?

Certes, après tests manuels, ils donnent le même résultat visuel, mais ils devraient permettre une plus grande adaptabilité par rapport aux

[2017-12-22 20:13] nils-van-zuijlen commented on #4817
J'ai trouvé le pourquoi du comment de ce bug d'affichage.
Dans tous les autres formulaires standards, l'affichage des erreurs est géré automatiquement par le générateur de formulaires, puisque le formulaire est affiché lors des erreurs.
Cependant, ces formulaires étant dans des fenêtres modales, ils ne sont pas affichés en cas d'erreur et on affiche ces dernières à partir des messages dans [base.h

[2017-12-23 16:06] #4783 closed, assigned to nobody

[2017-12-26 09:07] Anto59290 opened #4821 "L'image associée au Facebook share n'est pas bonne"
En me baladant sur le Facebook de Zds je suis tombé la dessus :

https://www.facebook.com/ZesteDeSavoir/posts/1697403103660857

L'image associé à l'article est l'avatar de Kje, or il me semblait bien que c'était Eskimon l'auteur du tuto. Après validation on doit en effet avoir un problème quelque part.

- URL du tuto : https://zestedesavoir.com/tutoriels/686/arduino-premiers-pas-en-informatique-em

[2017-12-27 19:55] rezemika commented on #4585
Les deux PR ont été mergées, je pense qu'on peut fermer le ticket ?

[2017-12-28 15:29] gllmc commented on #4585
Tout à fait :)

[2017-12-28 15:29] #4585 closed, assigned to nobody

[2017-12-28 15:51] artragis commented on #4585
pas vraiment, il en reste encore à merger.

[2017-12-28 16:05] gllmc commented on #4585
De quelle PR parles-tu @artragis ?

[2017-12-28 16:15] #4810 closed, assigned to nobody

[2017-12-28 16:15] artragis commented on #4585
me suis trompé, j'ai supprimé mon commentaire :p

[2017-12-28 16:23] gllmc commented on #4585
Ah, j'avais pas vu car GH charge les commentaires en temps réel, mais pas les suppressions de commentaires, désolé :p

[2017-12-31 08:16] pierre-24 opened #4824 "L'historique des versions a des problèmes avec les accents"
Depuis peu (c'était OK avant-hier), l'historique des versions a des problèmes d'affichage. Extrait :

Les accents, et certains retours à la ligne, s'affichent à l'aide de `\`-machin-chouette. Cela le fait pour tous les contenus que j'ai testés, y compris d'autres auteurs. Cela a lieu dans les deux colonnes (avant-après).

Le texte du tuto, lui, s'affiche sans aucun problème.

Sujet : https://zeste

[2017-12-31 13:10] rezemika commented on #4824
Voici les fichiers concernés (pour vous économiser le temps de la recherche) :

- https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/view/diff.html
- https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/contents.py#L1271
- https://github.com/zestedesavoir/zds-site/blob/049390e2b6b3405dc6ac204d09dc4e105dd618e0/zds/utils/templatetags/htmldiff.py

[2018-01-01 17:24] Anto59290 commented on #4813
Pas d'opposition franche et 6 personnes pour, ça semble bon pour tout le monde. D'un point de vue UX il semble  en effet logique de mettre le texte en accord avec l'usage.

Merci @EGabbro pour la création du ticket

[2018-01-01 18:23] #4753 closed, assigned to Anto59290

[2018-01-01 19:41] #4409 closed, assigned to nobody

[2018-01-02 07:58] Anto59290 commented on #4821
Cf. la PR #4531.

Pour faire ça proprement il faudrait avoir une image de plus de 200px x 200px pour les contenus. Je propose pour ce ticket :

- Virer les alias avatar_mini, tutorial_illu et article_illu qui ne semblent pas être utilisé
- Pour les contenus existants calculer une nouvelle image au format 228x228, soit en faisant un upscale, soit en plaçant la miniature au centre et en remplissant

[2018-01-02 12:36] #4824 closed, assigned to nobody

[2018-01-02 21:27] gllmc opened #4828 "Les sous-titres de sujets ne sont plus affichés correctement."
Problème rapporté sur [ce sujet](https://zestedesavoir.com/forums/sujet/10007/souci-daffichage-des-sous-titres/).

![Capture d'écran](https://zestedesavoir.com/media/galleries/321/cb3b1b60-9609-4635-9ea3-ce1b796d639d.png)

[2018-01-03 12:55] Situphen commented on #4828
C'est probablement lié à #4797 ... :-°

[2018-01-03 19:40] entwanne opened #4832 "Le bouton « Citer » n'insère plus la citation au bon endroit dans le message"
J'ai remarqué depuis quelques jours que le bouton « Citer » sur les messages du forum n'avait plus le même comportement qu'avant.

Quand le *textarea* est vide, il insère une ligne vide suivie de la citation, c'était l'inverse auparavant.
Et quand il n'est pas vide, la citation n'est pas insérée à la position du curseur (je crois que c'était le cas avant).

[2018-01-04 07:51] Anto59290 commented on #4832
En relation avec #4711.

En effet le comportement a changé, mais ça semble être voulu.

Cf la PR #4711 . Chez moi ça insère bien la citation au niveau du curseur. Peux tu confirmer que chez toi ça ne fonctionne pas ? SI oui avec quel navigateur ?

[2018-01-04 09:12] entwanne commented on #4832
Hmm, soit, je trouve juste ça bizarre dans le cas d'un message vide, ayant l'habitude de placer la citation avant la réponse.

Ça fonctionne bien si le curseur est placé sur une ligne vide, pas si le le curseur est placé en fin de ligne (ni s'il est placé en milieu de ligne, mais là ce n'est pas censé fonctionner comme ça si j'en crois la PR citée).

Je tourne actuellement sur Chromium 57, mais lo

[2018-01-04 11:22] #4828 closed, assigned to nobody

[2018-01-04 12:02] #4611 closed, assigned to nobody

[2018-01-05 19:37] Situphen opened #4833 "Markdown, espace insécable en code HTML au lieu de l'Unicode"
[Reporté par Xalty](https://zestedesavoir.com/forums/sujet/10034/affichage-des-et-des-deux-points/)

Après une petite examination du code HTML généré :

[2018-01-06 10:39] Situphen commented on #4833
[Commentaire de SpaceFox](https://zestedesavoir.com/forums/sujet/10034/affichage-des-et-des-deux-points/?page=1#p170457)

[2018-01-06 16:19] artragis opened #4834 "TypeError: unorderable types: method() >= int()"
https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/1319/

[code]

[2018-01-06 18:46] Situphen commented on #4828
Un autre problème avec les sous-titre a été signalé dans [ce sujet](https://zestedesavoir.com/forums/sujet/10041/probleme-daffichage-des-tags/) du forum mais la correction pour ce ticket corrige ça donc on n'a rien à faire (voir [mon message](https://zestedesavoir.com/forums/sujet/10041/probleme-daffichage-des-tags/#p170574) pour plus d'infos)

[2018-01-07 10:32] motet-a opened #4836 "Utiliser des ^ pour les dépendances dans le package.json"
`^1.2.3` veut dire “compatible avec 1.2.3”, alors que `1.2.3` veut dire “exactement la version 1.2.3”. Quand il y a des `^`, c’est un peu plus pratique pour les mises-à-jour avec Yarn. Et on n’a plus besoin de spécifier les versions exactes dans le package.json parce qu’il y a un `yarn.lock` maintenant.

Notez que par défaut, `yarn` tout comme `npm` mettent des `^`.

À faire une fois que #4835 est

[2018-01-07 13:49] motet-a commented on #4834
À mon avis, ce `if` ne sert à rien :

https://github.com/zestedesavoir/zds-site/blob/a815bff56455606fb19e440c94a25cc6b1a3c756/zds/member/views.py#L415

[2018-01-07 17:51] artragis commented on #4834
oui c'est çàa :p

[2018-01-08 17:30] Situphen opened #4837 "Pas de notification de nouveau sujet lors du déplacement d'un sujet dans un forum"
D'après [Eskimon](https://zestedesavoir.com/forums/sujet/10057/pas-de-notification-lors-dun-deplacement-de-sujet/?page=1#p170713)

[2018-01-08 22:47] rezemika commented on #4832
Je plussoie, il me semblait que ça insérait la citation au début avec deux sauts de lignes après quand le post était vide, mais ça le fait aussi de mon côté avec Firefox 58.0b14. Je regarderai demain pour trouver la cause de ce problème.

[2018-01-09 08:45] Anto59290 commented on #3386
Je n'arrive pas a reproduire en prod, ça semble fixé, non ?

[2018-01-09 08:47] Anto59290 commented on #3289
La PR en question semble avoir été mergée, on devrait pouvoir fermer ce ticket.

[2018-01-09 09:57] #3289 closed, assigned to nobody

[2018-01-11 11:48] firm1 opened #4838 "[v26] les nouveaux contenus ne sont pas indexés"
[Ce lien](https://zestedesavoir.com/rechercher/?q=exoplan%C3%A8tes&category=&subcategory=&from_library=) ou encore [celui-ci](https://zestedesavoir.com/rechercher/?q=pedro+robot&category=&subcategory=&from_library=) devraient renvoyer respectivement un article et un billet dans la recherche.

Donc je soupçonne que le service d'indexation ne tourne pas sur le serveur.

[2018-01-11 11:50] firm1 opened #4839 "[v26] Mauvais titre sur mobile"
Comme le montre la capture ci-dessous, en allant sur la [liste des billets](https://zestedesavoir.com/billets/) sur mobile, on tombe sur une page titrée "Bibliothèque".

Capture d'écran :
![capture d ecran de 2018-01-11 12-48-38](https://user-images.githubusercontent.com/6066015/34824207-7463285a-f6c5-11e7-954a-ec13c0611728.png)

[2018-01-11 19:11] gllmc commented on #4838
C'est probablement lié au changement du serveur de prod. @sandhose pourra vérifier ça.

[2018-01-11 19:16] gllmc commented on #3386
Je ne reproduis le problème ni sur Chrome, ni sur Firefox, je pense que c'est résolu.

[2018-01-11 19:16] #3386 closed, assigned to pierre-24

[2018-01-12 22:01] rezemika commented on #4746
Si quelqu'un fait la favicon modifiée (je suis une bille en graphisme), je veux bien faire la PR. :)

[2018-01-14 19:53] rezemika opened #4842 "Ignorer les IntegrityErrors sur load_fixtures"
Quand on fait `python3 manage.py load_fixtures --forum --topic` alors que des forums sont déjà créés, on obtient une IntegrityError un peu mystérieuse. À la place, on pourrait simplement ignorer cette erreur, et éventuellement d'afficher un petit message pour expliquer qu'il n'y a pas besoin du paramètre "forum". Ça rendrait l'outil plus simple et plus intuitif (on peut penser qu'on a fait une con

[2018-01-17 23:12] nils-van-zuijlen commented on #4746
Voilà ce que je propose :
![512 svg](https://user-images.githubusercontent.com/22444937/35072676-e0ed50d4-fbe5-11e7-8ad5-092ad79d34e4.png)
J'ai trouvé intéressant d'utiliser un citron comme indicateur.

[2018-01-17 23:31] nils-van-zuijlen commented on #4715
Certes, l'implémentation back de mermaid doit se faire dans zmd, mais il faudrait avoir un éditeur qui permette d'intégrer facilement des graphes mermaid. Sinon, il ne sera presque jamais utilisé.

[2018-01-17 23:54] nils-van-zuijlen commented on #4716
Ben, maintenant, il y a un ticket à ce propos ^^

[2018-01-17 23:58] nils-van-zuijlen commented on #4616
C'est dû à la façon dont les alertes sont fermées.
Les liens dans une alerte sont écoutés, leur action normale est annulée et ils ferment l'alerte.
Il faut voir si il n'y a pas une classe qui évite ce mécanisme (évite la sélection pour fermeture de l'alerte).
Si il y en a une, le tag Facile peut être ajouté.

[2018-01-18 08:26] artragis commented on #4715
oui comme je le disais dans ma chronique. Comme la v28 est sensé amener une nouvelle interface de rédaction ça sera sûrement le moment.

[2018-01-20 14:04] entwanne opened #4847 "Nombreuses pages 404 indexées par Google"
Bonjour,

Depuis quelques temps je remarque en faisant des recherches sur Zeste de Savoir depuis Google que de nombreux résultats du domaine `docs.zestedesavoir.com` remontent, qui sont tous en 404, mais qui correspondent à des chemins valides sur `zestedesavoir.com` : [requête d'exemple](https://www.google.fr/search?q=toto+site%3Azestedesavoir.com).

Je ne sais pas à quoi est due cette erreur, s'

[2018-01-20 16:02] entwanne opened #4848 "Les tags dans les résultats de recherche ne pointent pas sur les bonnes pages"
Bonjour,

En me baladant dans [les résultats de recherche](https://zestedesavoir.com/rechercher/?q=python) depuis le moteur du site, j'ai remarqué que les liens des tags n'étaient plus corrects (probablement depuis la refonte « Bibliothèque »).
Ils pointent en effet vers des pages du type `/contenus/?tag=` (<https://zestedesavoir.com/contenus/?tag=python>), qui redirigent vers `/bibliotheque/`, pe

[2018-01-20 16:22] entwanne commented on #4848
Je me dis qu'il faudrait peut-être simplement remplacer `content:list` par `publication:list` dans [le *template* `publishedcontent.part.html`](https://github.com/zestedesavoir/zds-site/blob/dev/templates/searchv2/includes/publishedcontent.part.html#L59).
Je n'ai pas vraiment d'environnement sous la main pour tester si c'est bien ça.
En tout cas c'est la seule occurrence de `content:list` qui exis

[2018-01-21 17:55] gllmc commented on #4716
Vu que cela ne concerne que zmarkdown, je ferme le ticket ouvert ici. :)

[2018-01-21 17:55] #4716 closed, assigned to nobody

[2018-01-21 18:02] gllmc commented on #4847
Il me semble qu'il y avait eu un problème de configuration du proxy de la doc lors de la mise en place du nouveau serveur, donc ça vient sûrement de là et les liens devraient rapidement disparaître (par contre, ça a quand même été résolu il y a un certain temps maintenant et je trouve étrange qu'on retrouve toujours de tels liens).

[2018-01-21 19:55] #4834 closed, assigned to artragis

[2018-01-21 19:56] #4842 closed, assigned to artragis

[2018-01-24 20:52] rezemika commented on #4848
J'ai testé en local : tu as raison, ça vient de bien de là. Je fais une PR. :)

[2018-01-25 09:31] #4848 closed, assigned to nobody

[2018-01-26 12:24] #4319 closed, assigned to artragis

[2018-01-27 08:49] artragis commented on #4801
Je pense que faire ça ne sert à rien sinon à générer encore une fois une nouvelle PR hyper grosse et de la magie dans notre code.
Nous utilisons un grand nombre de variables locales dans notre code, cela peut générer des bugs de type copier/foirer. En fait vue l'historique de zds, je dirais que ça va générer des bugs de ce type. (on copie un fstring d'une vue à l'autre sans se rendre compte que le

[2018-01-27 20:52] motet-a commented on #4847
Il n’y a pas des infos là-dessus sur la Google Search Console ? (@sandhose ?)

[2018-01-27 21:49] sandhose commented on #4838
My bad effectivement. Fixé.

Je documenterais ce que j'ai fait sur la prod récemment à l'occas.

[2018-01-27 21:49] #4838 closed, assigned to nobody

[2018-01-28 12:03] #4813 closed, assigned to nobody

[2018-01-28 19:39] rezemika commented on #4832
Et voilà. Désolé pour le retard.

[2018-01-29 12:40] #4832 closed, assigned to nobody

[2018-01-29 12:42] artragis opened #4860 "Alerte persistante lorsqu'un billet est dépublié"
- publiez un billet
- envoyez un messag
- signalez le message avec un autre utilisateur
- dépubliez le billet

l'alerte est toujours présente.

[2018-01-29 19:18] ludovicm67 opened #4861 "« Les identifiants fournis ne sont pas valides » si le compte n'est pas encore activé"
Bonjour,

Je viens de m'inscrire sur ZdS, et après avoir validé mon inscription, j'ai souhaité m'y connecter directement.
Je suis tombé sur une erreur _« Les identifiants fournis ne sont pas valides »_, comme on peut le constater sur la capture d'écran suivante :
![zds1](https://user-images.githubusercontent.com/9420561/35529272-d6265688-0530-11e8-9093-be773ab84e1a.png)

Cela peut porter confusion

[2018-01-29 19:21] rezemika commented on #4861
+1

C'est peut-être corrigé par la #4822, je regarde ça tout à l'heure.

Edit : J'ai pas pu trouver avec certitude l'origine de ce problème, mais il semble être toujours présent dans la branche de dev (j'avais le message "Mot de passe incorrect."). Apparemment, la fonction `authenticate()` retournerait `None` avec un utilisateur inactif (à confirmer).

[2018-01-29 19:35] ludovicm67 opened #4862 "« Vous êtes déjà inscrits » après s'être connecté"
Bonjour,

Après m'être inscrit et activé mon compte via le lien reçu par mail, j'ai fermé l'onglet ouvert lors de l'activation, puis sur le premier onglet dans lequel j'ai effectué mon inscription, j'ai cliqué sur le bouton de connexion en haut à droite, et après m'être authentifié je tombe sur le message « Vous êtes déjà inscrits », comme on peut le constater sur la capture ci-dessous :
![ZdS](ht

[2018-02-02 11:08] #4860 closed, assigned to artragis

[2018-02-02 16:51] entwanne opened #4865 "Ajouter les commentaires sur les billets/articles/tutos à l'activité d'un membre"
Bonsoir,

Dans la page de profil d'un membre, on peut accéder à un lien qui liste tous ses messages postés sur le forum.
Je trouve que, de la même manière, il serait intéressant de pouvoir lister les interventions des membres dans les commentaires de tutoriels/articles/billets.

Avec l'arrivée des tribunes, et les billets qui prêtent au débat, certains fils de commentaires pourraient s'apparenter

[2018-02-02 16:53] entwanne opened #4866 "Ajouter un bouton « Non lu » sur les commentaires de billets/articles/tutos"
Bonjour,

De la même manière que sur les messages du forum, je trouverais bien utile d'avoir un bouton « Non lu » sur les commentaires des contenus, qui permettraient de les replacer dans la liste des notifications quand les contenus sont suivis.

Merci.

[2018-02-02 21:41] #4599 closed, assigned to nobody

[2018-02-03 13:08] #3615 closed, assigned to gustavi

[2018-02-03 17:07] artragis commented on #1334
voilou les gens, j'ai fait la PR

[2018-02-05 07:58] sandhose opened #4867 "Cycle d'import dans les settings en mode production"
Lors du chargement des settings en mode production, la version reportée à Sentry est calculée à la volée par le *context processor* `get_git_version`, qui lui-même utilise le settings `BASE_DIR`

https://github.com/zestedesavoir/zds-site/blob/5eebddc22e86a8521076dbac8e64ed5e8b7c88e4/zds/settings/prod.py#L81-L84

https://github.com/zestedesavoir/zds-site/blob/5eebddc22e86a8521076dbac8e64ed5e8b7c88e

[2018-02-06 12:29] #4571 closed, assigned to nobody

[2018-02-07 15:37] rezemika opened #4869 "Il manque une espace insécable devant les sous-titres courts des MP"
Sur la listes des topics d'un forum, il y a une espace insécable entre le titre du topic et son sous-titre (quand celui-ci est court, sinon il est à la ligne du dessous).

Dans la liste des MP, cette espace n'est pas présente et les balises `span` du titre et du sous-titre sont à touche-touche. Il faudrait rajouter une espace insécable (ou du padding ?) entre les deux.

![Un MP avec un sous-titre

[2018-02-10 21:36] rezemika opened #4872 "Le compte du bot est-il essentiel au fonctionnement du site ?"
Je poste ce ticket suite à une remarque de @vhf sur la PR #4870.

Dans le projet, on trouve 7 fois la ligne suivante :

[code]

Cela pose la question : est-il souhaitable de lever une erreur 404 quand l'instance n'a pas de compte de bot ? Si ce compte est considéré comme essentiel, il faudrait vérifier sa présence au démarrage de l'instance, et non lever une 404. S'il ne l'est pas, il faudrait sim

[2018-02-11 11:03] gllmc commented on #4872
Oui, le compte bot est essentiel au fonctionnement de l'instance, de mêmes que les comptes anonyme et auteur externe d'ailleurs.

On a déjà eu [des problèmes](https://zestedesavoir.com/forums/sujet/10038/impossible-de-se-desinscrire/) à cause de paramètres mal définis, donc une erreur au démarrage de l'instance serait très pertinent. ;)

[2018-02-14 19:14] rezemika commented on #4744
J'ai tenté de mon côté, mais j'obtiens une erreur que je n'arrive pas à résoudre et qui vient apparemment causée par `django.utils.autoreload`.

[code]

Est-ce qu'il y a un moyen de contourner ça ?

[2018-02-14 20:03] Arnaud-D commented on #4744
Salut,

Le ticket est tagué comme facile, mais ce n'est pas si facile que ça. Je dis ça en connaissance de cause, parce que j'ai tenté de mon côté et j'ai eu un peu les mêmes problèmes, qui ne sont pas si évidents à résoudre.

Notamment, il y a plein d'endroits dans le code où on utilise le `BASE_DIR` indirectement, et où les fonctions attendent un chemin sous forme de `string` et pas de `PosixPat

[2018-02-14 20:22] rezemika commented on #4744
Han merci, j'avais pas fait gaffe à ça ! J'ai fais des `str(BASE_DIR / 'contents-private')` et ça marche.

Maintenant, du courage, plus que 300 tests unitaires à corriger (edit : un peu moins de 200 maintenant, mais j'ai une segfault, je vais faire une PR) ! :D

[2018-02-15 20:48] #4410 closed, assigned to nobody

[2018-02-15 22:16] #3878 closed, assigned to vhf

[2018-02-22 22:39] entwanne opened #4876 "Mauvais affichage des caractères de contrôle dans le diff entre deux versions d'un contenu"
Bonsoir,

Je viens de voir en travaillant sur un billet que la différence entre deux versions d'un contenu n'avait plus la même forme qu'avant.
Jusqu'alors, la vue présentait deux cadres côte à côte reprenant les différences ligne par ligne.

Il y a maintenant un problème d'affichage des caractères de contrôle qui fait que les retours à la ligne n'apparaissent plus tels quels, mais sous la forme d

[2018-02-22 23:35] AmauryCarrade commented on #4876
Déjà signalé par #4824 et corrigé par #4826 :) Il faut juste attendre la prochaine version. (Moi aussi j'attends, c'est vrai que c'est peu pratique.)

[2018-02-23 06:53] entwanne commented on #4876
Ok, merci, désolé pour le doublon.

[2018-02-23 06:53] #4876 closed, assigned to nobody

[2018-02-23 22:07] #1334 closed, assigned to artragis

[2018-02-26 13:09] #4199 closed, assigned to nobody

[2018-02-26 13:11] artragis commented on #2344
@vhf je pense qu'une possibilité ça serait d'exporter les langages comme on exporte les pings et côté zds on joue avec ça.

[2018-02-26 19:39] vhf commented on #2344
Je peux sortir ça ouais, sans problème.

[2018-02-26 20:54] vhf commented on #2344
https://github.com/zestedesavoir/zmarkdown/pull/210

Doc ici: https://github.com/zestedesavoir/zmarkdown/blob/d00e305c4a481a30059662dc6c6790e03008b837/packages/zmarkdown/README.md#response-1

Je passe la main pour la partie backend zds-site.

[2018-02-26 20:59] artragis commented on #2344
merci. je m'en occupe asap.

[2018-02-27 12:43] SpaceFox opened #4883 "Les liens RSS ne sont plus disponibles facilement dans la bibliothèque"
Les liens RSS/Atom sont dans la colonne de gauche, mais le design de la bibliothèque n'a pas de colonne de gauche.

Du coup, il n'y a plus de liens direct aux RSS dans ces pages :(

[2018-02-27 13:34] artragis commented on #4883
il me semble que c'était volontaire de la part d'anto.

[2018-02-27 13:36] SpaceFox commented on #4883
Admettons, mais quel intérêt alors ?

[2018-02-27 13:40] artragis commented on #4883
ping @Anto59290
peut être simplement alléger la page.

[2018-02-27 13:41] abdelaz3r commented on #4883
Juste, les RSS/atom sont encore dispo sur la page d'accueil de la biblio (pour les nouveaux tutos et les nouveaux articles).

Par contre effectivement ailleurs (dans les niveaux inférieurs) ils ne sont plus dispo.

[2018-02-27 13:45] Anto59290 commented on #4883
Il me semble pas avoir voulu faire ça de manière volontaire (en tout cas je n'en ai pas souvenir)

[2018-02-28 18:22] artragis commented on #4390
@Situphen tu peux faire une PR sur dev pour intégrer ça?

[2018-02-28 18:48] Situphen commented on #4390
Ça marche ! :)

[2018-02-28 20:45] #2044 closed, assigned to nobody

[2018-03-01 08:27] #4801 closed, assigned to nobody

[2018-03-02 13:17] #4192 closed, assigned to nobody

[2018-03-02 13:17] #4193 closed, assigned to nobody

[2018-03-02 13:17] #4195 closed, assigned to nobody

[2018-03-02 13:17] #4198 closed, assigned to nobody

[2018-03-02 13:17] #4194 closed, assigned to nobody

[2018-03-03 20:40] artragis opened #4893 "Mauvaise redirection lors de la connexion"
https://sentry.sandhose.fr/zeste-de-savoir/beta-backend/issues/1493/

lorsqu'on se connecter avec pour "next" une page du forum, ça fait 404.

[2018-03-04 07:56] artragis opened #4895 "pinger un membre qui n'existe pas fait planter le site"
et génère https://sentry.sandhose.fr/zeste-de-savoir/beta-backend/issues/1516/

[2018-03-04 09:02] Situphen commented on #4893
QA OK

[2018-03-04 09:26] #4895 closed, assigned to artragis

[2018-03-04 09:40] artragis opened #4898 "Equations latex mal alignées"
Source: [Heziode](/billets/2457/chronique-zest-of-dev-6/?page=1#p174862)

[2018-03-04 10:22] Situphen commented on #4898
J'ai regardé un peu et ça m'a l'air d'être un bug très bizarre !

1. le bug se produit pour moi sur la béta (avec Chrome et Firefox) mais pas en local (avec Chrome et Firefox)
2. le CSS n'a pas l'air d'être en cause (dans l'inspecteur de Chrome, je ne vois pas de différences dans le CSS entre la béta et en local)
3. le contenu de `.katex-html` sur la béta est différent de celui en local, et quand

[2018-03-04 10:39] Situphen commented on #4898
J'ai pensé à mettre à jour zmarkdown en local chez moi et j'ai le bug, donc il vient probablement des dernières modifications d'un des modules de zmarkdown

[2018-03-04 11:01] #4893 closed, assigned to artragis

[2018-03-04 16:03] artragis opened #4899 "tutoriels publiés sans archive"
, le lien pour télécharger l’archive a disparu sur la version publiée (mais il est toujours présent sur le brouillon).

[2018-03-04 21:58] Situphen opened #4900 "Afficher les derniers messages privés et notifications dans les dropdowns"
[Proposé par d3m0t3p  sur le forum](https://zestedesavoir.com/forums/sujet/10365/afficher-les-derniers-messages-et-notifications/)

L'idée est de laisser tout le temps dans leur dropdown respectif les 5 (ou un autre nombre) derniers messages privés et dernières notifications

[2018-03-04 22:42] D3m0t3p commented on #4900
Si je me suis pas perdu dans [le code](https://github.com/zestedesavoir/zds-site/blob/56a5b2e8b524848efa2d328c0a46365a44c1d43e/templates/base.html)
Et surtout que j'ai pas fait trop d'erreur 😃
il suffirait de modifier ceci (pour la messagerie privée) :
[code]

en :
[code]

et pour les notifications
[code]

En

[code]

je ne peux pas tester car je n'ai pas d'installation de zds sur mon ordi, donc l

[2018-03-05 17:52] firm1 opened #4901 "[v27][beta] Erreur 500 lors d'une connexion en passant par un topic"
Prerequis : vous devez être déconnecté

Méthode de reproduction :

- Allez sur un topic (toujours en mode déconnecté) : [celui-ci par exemple](https://beta.zestedesavoir.com/forums/sujet/10348/tuto-de-beta-pour-verifier-lexport-epubpdf/), mais ça marche avec d'autres
- Cliquez ensuite sur le bouton de login
- Entrez vous identifiants et validez

Une erreur 500 fait son apparition.

[2018-03-05 18:51] rezemika commented on #4901
C'est bizarre, j'arrive à reproduire ce comportement sur la bêta mais pas en local. Mais les deux n'en sont pas au même commit. La bêta est à `dev/d28279f` et je suis à `fix-4901/a9d83a7` (normalement le dernier commit sur `upstream/dev`.

[2018-03-05 19:18] artragis commented on #4901
déjà fixé par https://github.com/zestedesavoir/zds-site/pull/4897

[2018-03-05 19:18] #4901 closed, assigned to nobody

[2018-03-07 20:56] #2086 closed, assigned to nobody

[2018-03-07 21:01] #2964 closed, assigned to nobody

[2018-03-07 21:03] #2860 closed, assigned to nobody

[2018-03-07 21:03] #2649 closed, assigned to Situphen

[2018-03-07 21:59] artragis opened #4905 "Le ping est KO sur les réponses à un tuto/billet/article"
https://sentry.sandhose.fr/zeste-de-savoir/beta-backend/issues/1523/

[2018-03-08 23:16] AmarOk1412 opened #4908 "renouvelement de certificat ?"
En ce moment on se tape une petite erreur de certif "The certificate expired on March 8, 2018, 5:27 PM. The current time is March 8, 2018, 6:14 PM.". J'ouvre juste le temps de l'issue

[2018-03-08 23:34] AmarOk1412 commented on #4908
done

[2018-03-08 23:34] #4908 closed, assigned to nobody

[2018-03-09 11:33] rezemika commented on #4900
Si j'ai bien compris, les notifs doivent rester dans le dropdown même après avoir été lues, mais le badge `(1)` doit disparaitre ?

Je viens de tester le code en local, une fois la notif' lue, le dropdown est vide. Je pense que le problème vient du backend. Il me semble que seules les X dernières notifications non-lues sont envoyées au template, mais je ne sais plus à quel endroit ça se passe. À c

[2018-03-11 17:23] #4899 closed, assigned to nobody

[2018-03-11 17:24] #4905 closed, assigned to nobody

[2018-03-18 10:39] #4898 closed, assigned to nobody

[2018-03-18 10:42] artragis opened #4915 "[beta v27]: les équations sont trop grosses et mal alignée verticalement"
message :

[code]

résultat attendu:
- police à la même taille que le reste du texte
- alignement verticcal sur le texte

résultat obtenu:

![alignemen](https://user-images.githubusercontent.com/1417570/37564825-f9fb7db2-2a9d-11e8-996a-f86b1b0f4573.png)

vu sur #4903

[2018-03-19 19:57] rezemika commented on #4869
J'avais oublié, mais vu que la PR est mergée, je pense qu'on peut clore le ticket. :)

[2018-03-19 20:45] #4869 closed, assigned to nobody

[2018-03-22 20:49] vhf commented on #4915
Pas réussi à reproduire en local:

<img width="759" alt="screen shot 2018-03-22 at 21 48 53" src="https://user-images.githubusercontent.com/2022803/37797717-de5990c8-2e1a-11e8-85b8-fba470dd44e3.png">

[code]

[2018-03-23 10:45] nils-van-zuijlen opened #4918 "Créer un flux RSS des notifications d'un membre."
Ça serait une bonne idée de faire un flux RSS/Atom des notifications d'un membre, accessible à l'aide d'un token.

L'URL pourrait être de la forme `zestedesavoir.com/notifications?token=fhuTjE35fghHki-etc`

[2018-03-23 10:46] nils-van-zuijlen opened #4919 "Créer un flux RSS des notifications d'un membre."
Ça serait une bonne idée de faire un flux RSS/Atom des notifications d'un membre, accessible à l'aide d'un token.

L'URL pourrait être de la forme `zestedesavoir.com/notifications?token=fhuTjE35fghHki-etc`

_Thread du forum : https://zestedesavoir.com/forums/sujet/10412/suggestion-un-flux-rss-personnalise/_

[2018-03-23 10:48] #4918 closed, assigned to nobody

[2018-03-23 10:50] nils-van-zuijlen opened #4920 "Créer un flux RSS des notifications d'un membre."
Ça serait une bonne idée de faire un flux RSS/Atom des notifications d'un membre, accessible à l'aide d'un token.

L'URL pourrait être de la forme `zestedesavoir.com/notifications?token=fhuTjE35fghHki-etc`

[2018-03-23 10:52] #4920 closed, assigned to nobody

[2018-03-23 11:08] nils-van-zuijlen commented on #4920
@artragis pourquoi ?

[2018-03-23 11:25] nils-van-zuijlen commented on #4920
Excusez moi pour le triple post, il y avait des bugs de connexion.

[2018-03-27 15:40] AmauryCarrade commented on #4915
Y'a moins de décalages, mais on note tout de même le trait de fraction manquant. Le bon rendu devrait être, pour cette formule particulière :
![capture d ecran de 2018-03-27 17-40-00](https://user-images.githubusercontent.com/1417570/37978264-f156912a-31e5-11e8-8433-6df2d55f39fa.png)

[2018-03-31 23:11] #4915 closed, assigned to nobody

[2018-04-04 09:10] viki53 opened #4926 "Reset de mot de passe inactif"
Petit bug (à confirmer) signalé via Twitter :

https://twitter.com/nlavielle/status/981457319681765376

Si vous voulez bien y jeter un œil… :)

[2018-04-05 07:07] Situphen commented on #4926
J'ai moi-même testé en production et je n'ai pas eu de problème. Néanmoins le problème n'est toujours pas résolu ([d'après ce tweet](https://mobile.twitter.com/nlavielle/status/981642656517447680)). ~J'ai l'impression que c'est un compte créé via les réseaux sociaux car il y a [cette erreur Sentry](http://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/1320/) qui est apparue et l'horaire coll

[2018-04-28 05:17] arobase-che commented on #4237
Salut,

Où en est cette issue ? Quelqu'un se souvient où on doit tout recoder ?

[2018-05-01 15:42] #4774 closed, assigned to nobody

[2018-05-02 15:57] artragis opened #4935 "[beta v27] il manque un bloc tuto dans la page d'accueil"
# en prod (ce qui est désiré)

![image](https://user-images.githubusercontent.com/1523653/39534551-1b0207e4-4e32-11e8-884d-8614d8287050.png)

# sur la béta

![image](https://user-images.githubusercontent.com/1523653/39534599-3556690a-4e32-11e8-9609-fa105a882fa0.png)

[2018-05-02 18:39] gustavi opened #4937 "Installation ArchLinux - Ajouter un message pour inviter l'utilisateur à mettre sur système à jour si ce n'est pas le cas"
En gros, si jamais on a déjà des paquets installés qu'on met à jour (et c'est quasi-obligé vu qu'il y a le groupe `base-devel`) on risque de casser des choses.

Plus d'informations dans la doc https://wiki.archlinux.org/index.php/System_maintenance#Partial_upgrades_are_unsupported

Une autre solution c'est de faire `-Syu` pour la màj du système en même temps mais c'est pas la meilleure solution se

[2018-05-02 20:08] artragis opened #4938 "Intégrer le bloc neutre à l'éditeur"
Ajouter un bouton à l'éditeur qui permet d'ajouter un bloc neutre et de générer le texte suivant;

[code]

[2018-05-04 13:18] sandhose opened #4939 "La compilation LaTeX dépend de chemins hardcodés"
https://github.com/zestedesavoir/zds-site/blob/751d9930c4534acfef07a81c7cc5c47e5d105fd3/zds/tutorialv2/publication_utils.py#L382-L388

Est-ce vraiment nécessaire ? À aucun moment c'est garanti que c'est installé à cet endroit. Il y a un mécanisme de recherche de paquets dans latex pour ça, symlink des fichiers comme ça à l'arrache, c'est pas très beau.

C'est bloquant pour le déploiement.

cc @art

[2018-05-04 13:19] sandhose commented on #4939
Dans mes tests j'ai cloné latex-template en récursif dans `TEXMFHOME/tex/generic/`, et ça marchait™.

[2018-05-04 13:27] artragis commented on #4939
cf le projet latex-template, je n'ai fait que porter ce qu'ils demandaient
au départ on n'en avait pas beosin mais on a eu des pbs lorsqu'on est passé à lualatex.

[2018-05-04 20:07] pierre-24 commented on #4939
Comme le dis @sandhose, c'est sencé fonctionner si tu met le .cls et le .lua dans `$TEXMFMACHIN`. Il faut juste, comme tu l'a dit, faire un `texhash` après.

[2018-05-05 13:03] artragis commented on #4939
il me semble que @vhf avait eu des soucis, c'est même pour ça qu'il avait ajouté cette copie. A l'heure actuelle, tout fonctionne, et le script d'installation est bon.

Si vous avez une solution qui marche bien partout je veux bien faire la revue, mais ça serait cool que ça ne ralentisse pas la release, ça fait vraiment longtemps que c'est dans les tuyaux là.

[2018-05-08 12:08] A-312 opened #4941 "Ajouter une précision sur la page "Association""
Bonjour,

Je propose de rajouter une précision dans la page "Association".
Sur le fait qu'on est pas obligé d'être membre pour faire partie du staff.

https://zestedesavoir.com/pages/association/

Ajouter : "Ni à l'équipe du site, puisque tout le monde peut prétendre à une responsabilité au sein de l'équipe du site."

Ce changement ne mange pas de pain, et permet d'éviter une confusion (que j'ai e

[2018-05-16 10:50] finkiki opened #4943 "500 sur l'envoi d'un MP"
J'a essayé d'envoyer un MP sans titre et le site m'a renvoyé une erreur 500. J'ai actualisé et réessayé mais la même erreur est réapparue. Pourtant le message est quand même parti (j'en ait envoyé deux du coup)

[2018-05-17 23:01] AmarOk1412 commented on #4943
Comment as-tu envoye un message sans titre ? Normalement, il te demande de remplir le texte field.

[2018-05-24 19:10] #4839 closed, assigned to firm1

[2018-05-25 03:26] AmarOk1412 opened #4945 "Page de recherche: Les tags de marche pas."
Pour reproduire:

1. Se rendre sur la page https://zestedesavoir.com/rechercher/?q=gpl&category=&subcategory=&from_library= (ou autre recherche)
2. On voit "La GPL, la licence des cornus", avec deux tags sur les cotes (zds/libre), cliquer sur l'un deux (ou autre sur la page)
3. On est redirige vers https://zestedesavoir.com/bibliotheque/ alors qu'on devrait voir la liste des contenus de ce tag pou

[2018-05-25 07:05] #4945 closed, assigned to nobody

[2018-05-25 07:06] artragis commented on #4945
fixed on v27

[2018-05-25 16:08] AmarOk1412 commented on #4945
Too fast :D

[2018-05-31 08:46] Arnaud-D opened #4946 "Clarifier et homogénéiser la page des paramètres du compte"
Les pages des paramètres du compte manquent de clarté et d'homogénéité.

1) La dénomination "Mon profil" de la page de [paramètres du compte](https://beta.zestedesavoir.com/membres/parametres/profil/) prête à confusion avec la page "Mon profil" du [profil public](https://zestedesavoir.com/membres/voir/Clem/).

2) Le lien [Mon profil](https://beta.zestedesavoir.com/membres/parametres/profil/) de la

[2018-05-31 09:35] Arnaud-D opened #4947 "Changer les limites pour les champs de saisie"
Les champs de saisie ont tendance à être trop courts à plusieurs endroits :

* champ des tags,
* titre des images,
* légende des images,
* titre des contenus.

Ma proposition est la suivante :

* [ ] passer le champ des tags à 120 caractères **au minimum** (150 serait plus confortable),
* [ ]  passer le titre des images à 120 caractères  (je crois que c’est acté),
* [ ] passer le titre des contenu

[2018-05-31 12:22] Arnaud-D opened #4948 "Absence de message d'erreur quand un staff tente de s'ajouter lui-même comme auteur"
Quand un membre du staff tente de s'ajouter comme auteur du contenu d'un tiers, il se passe la chose suivante :

* le membre du staff n'est pas ajouté (fonctionnalité anti-abus),
* il n'y a pas de message d'erreur (bug).

L'absence de message d'erreur est très embêtante et la fonctionnalité anti-abus discutable. Je propose donc deux alternatives pour résoudre ce problème :

1. Rajouter un message

[2018-06-01 21:26] GuimDev opened #4949 "Insertion du smiley >_<"
On obtient `&gt;_&lt;`

Solution 1 : Modifier le code ici : https://github.com/zestedesavoir/zds-site/blob/4ae0431bbf199e318dd6f2b1301ac7b6adc40198/assets/js/editor.js#L132 Vérifier qu'il n'y a pas un bug/fail avec ">" et "<".

Solution 2 : On peut ajouter l'alias `X/` pour ce smiley et remplacer le code dans l'éditeur. https://github.com/zestedesavoir/zds-site/blob/56a5b2e8b524848efa2d328c0a46365

[2018-06-01 21:27] GuimDev opened #4950 "Ajouter le smiley " :B ""
https://zestedesavoir.com/forums/sujet/10801/ajouter-le-smiley-b/?page=1#p181226

|    |                  Normal                   |                      HD                   |
|----|-------------------------------------------|-------------------------------------------|
| :B | ![19x27](https://i.imgur.com/wb9p8Z9.png) | ![38x54](https://i.imgur.com/lRZXqNb.png) |

[2018-06-05 10:31] Arnaud-D opened #4952 "Fautes d'orthographe et cohérence dans la barre latérale de la page de profil"
Il y a deux problèmes dans la barre latérale de la page de profil :

* pour le nombre d’articles en bêta, on peut lire « En béta », ce qui est une faute d’orthographe,
* pour le nombre de tutoriels en bêta, on peut lire « En version bêta », ce qui n’est pas cohérent avec précédemment.

Je propose les choses suivantes :

* écrire « bêta » pour corriger l'orthographe,
* harmoniser pour que  les deux

[2018-06-06 15:44] Karnaj opened #4953 "Comparer à la version en validation"
Bonjour,

En plus des liens pour comparer à la version en ligne et comparer à la version en bêta, ce serait bien d'avoir un lien pour comparer à la version en validation. Ça peut-être utile pour les auteurs qui veulent voir s'ils ont bien modifié tout ce qui a été demandé par un validateur.

[Ça se passe ici](https://github.com/zestedesavoir/zds-site/blob/a08d2de4c3119ed7b7c6fdfe4b9788f14e748326/t

[2018-06-08 08:47] #4939 closed, assigned to nobody

[2018-06-15 13:11] philippemilink opened #4956 "Bouton de recherche non aligné pour la petite barre de recherche sur Safari"
Bonjour,

Je viens rapporter un petit bug que j’ai remarqué sur Safari (11.1, macOS 10.13.4): le bouton de la loupe de la petite barre de recherche présente en haut du site n’est pas alignée avec le champ de recherche et le bouton de recherche détaillée. La capture d’écran montre le bug:Bug barre recherche Safari

![Bug barre recherche Safari](https://zestedesavoir.com/media/galleries/5176/4d940bb

[2018-06-16 16:23] Situphen commented on #4947
Note : Je met C-Back car, en plus de changer les limites des formulaires, il faut vérifier la taille des champs en base de donnée

[2018-06-16 16:30] Situphen commented on #4956
Alors je n'ai pas de mac donc pas de Safari sous la main, mais d'une manière générale si tu as besoin d'aide pour contribuer n'hésites pas à me MP sur ZdS :)

[2018-06-19 12:21] nils-van-zuijlen opened #4958 "[BETA] Smileys et underscore"
Le smiley >_< n'est pas converti en image sur la beta actuelle (beta de la v27).
Le bug est présent sur les forums et les commentaires des tutos.

De plus, il y a un conflit entre l'underscore présents dans ledit smiley et ceux utilisés pour l'emphase.

[2018-06-19 12:29] artragis commented on #4958
ok, faut faire une remontée sur le projet zmarkdown car c'est là que ça se règle.

[2018-06-19 12:35] nils-van-zuijlen commented on #4958
Le truc, c'est que le bug n'est pas présent dans les tutos en eux même.

[2018-06-19 12:39] nils-van-zuijlen opened #4959 "Émoticone :ninja:"
L'émoticone :ninja: est liée à l'image `ninja.png` alors que c'est vers `ninja.gif` qu'elle devrait pointer.

[2018-06-19 12:39] nils-van-zuijlen commented on #4949
Je prends

[2018-06-19 12:51] nils-van-zuijlen commented on #4959
Pour les nouveau emojis.

[2018-06-19 13:55] nils-van-zuijlen commented on #4949
J'utilise la solution 2 car elle me semble plus facile à implémenter de façon fiable, et que taper `X/` est plus facile que `>_<`.

[2018-06-19 13:58] nils-van-zuijlen commented on #4959
Oups, c'est géré au niveau serveur par nginx et la conf est pas active chez moi :man_facepalming:

[2018-06-19 13:58] #4959 closed, assigned to nobody

[2018-06-21 09:18] artragis commented on #4958
quand tu dis "pas présent dans les tuto", c'est "pas présent dans les nouveaux tutos" ou "pas présent dans ceux déjà publiés"?

[2018-06-21 09:36] nils-van-zuijlen commented on #4958
Dans les nouveaux tutos. J'ai pas vérifié pour ceux déjà publiés.

[2018-06-21 12:08] artragis commented on #4958
Merci de la précision :)

[2018-06-22 12:11] Situphen opened #4961 "Remise à zéro intempestive des abonnements à un forum"
[Yoda a réussi à reproduire le bug](https://zestedesavoir.com/forums/sujet/10881/topic-de-test/) :

[2018-07-02 07:55] Karnaj commented on #4134
[Ça se passe ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/publication_utils.py#L127) je pense, on rajoute les auteurs à la liste d'auteurs, mais cette liste n'est pas forcément vide, elle contient les anciens auteurs si une version du tutoriel avait déjà été publié vu [comment on crée `public_version`](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/publ

[2018-07-02 08:33] artragis commented on #4134
AH ok je comprends c'est une question de "version majeure" du coup.

[2018-07-02 08:54] Karnaj commented on #4134
Pourquoi ce serait lié à si c'est une mise à jour majeure ? On récupère la version publique (et donc les anciens auteurs) dans tous les cas non ?

PS : mais on peut tester, j'ai demandé la validation du tutoriel Ruby sur la bêta. Ce serait bien si quelqu'un pouvait le valider en mise à jour majeure pour qu'on voit si la mise à jour d'auteurs est prise en compte.

[2018-07-02 09:13] artragis commented on #4134
tu as raison @Karnaj ça ne change rien. Le retrait d'auteur est inopérant actuellement et c'est un vrai bug.

[2018-07-02 09:37] Karnaj commented on #4134
On peut rajouter le tag facile je pense. Il suffit d'utiliser `clear` sur la liste des auteurs avant le `for` normalement. Et de rajouter le test qui va bien.

[2018-07-02 10:06] Karnaj commented on #4228
Le problème n'est pas totalement réglé, par exemple, on le voit toujours sur le profil de Dominus Carnufex avec le tutoriel Ruby. Sur la page des derniers tutoriels, c'est `content/find-tutorials` qui est utilisé, et il utilise `ContentOfAuthor` qui ne cherche pas les tutoriels comme `PublishedContentManager`. @gcodeur

[2018-07-04 16:22] Situphen opened #4964 "Masquer le site web et la signature des membres bannis"
[Suggestion de Karnaj sur le forum](https://zestedesavoir.com/forums/sujet/10940/masquer-la-signature-des-membres-bannis/)

[2018-07-15 00:00] nils-van-zuijlen commented on #4964
Je prends.

[2018-07-16 06:53] pierre-24 opened #4966 "Plus d'accès à des parties d'un tutoriel en édition"
Beau travail pour la v27 ... Mais j'ai trouvé un bug plutôt étrange, et non présent sur la bêta: les liens vers les parties en édition d'un tutoriel se voient agrémentées d'un `?version={%27url%27:%20%27https://github.com/zestedesavoir/zds-site/tree/63b85778549c6b0670f389b49f47388661f4cb83%27,%20%27name%27:%20%27v27-klaxon/63b8577%27}`. Voilà qui est ... Handicapant (il suffit de l'enlever pour re

[2018-07-16 06:59] artragis commented on #4966
une bonne nouvelle : le fix existe déjà

une mauvaise nouvelle : il n'est pas en prod car @sandhose  s'est trompé de sha1 au moment de tagger

[2018-07-16 07:33] pierre-24 commented on #4966
Ah, ok :)

[2018-07-16 09:14] #4966 closed, assigned to nobody

[2018-07-16 15:54] #4953 closed, assigned to nobody

[2018-07-16 15:58] artragis opened #4968 "Rendre les parties marqué comme "a ne pas valider" plus sombre"
Bonjour et un énorme merci pour enfin me permettre de ne pas envoyer des chapitres/sections complètes en validation. Ça ma remotive à continuer mon tutoriel !

Ducoup j'ai commencé à "masquer" des chapitres et des sections.

Je voudrais vous faire une suggestion qui m'aiderait vraiment :

Quand on est sur la page principale de notre tuto, il est impossible de savoir quels chapitres/sections son ma

[2018-07-17 08:23] artragis opened #4969 "Les parties "a ne pas valider" sont affiche dans la beta"
Pour une raison que j’ignore, il semblerait que les parties marquées comme « à ne pas valider » soient affichées dans la Beta. Est-ce normal ?

https://zestedesavoir.com/contenus/beta/947/utiliser-python-dans-autodesk-maya/

Ne serait-il pas plus pertinent de n’afficher en beta uniquement les parties marque comme « à valider ».

Sujet : https://zestedesavoir.com/forums/sujet/10998/les-parties-a-ne

[2018-07-17 08:48] artragis opened #4970 "Le nombre de membres est absent"
Bonjour,

Sur [cette page](https://zestedesavoir.com/membres/), le nombre de membre est absent chez moi (cf. image ci-dessous).

![Nombre de membres](https://zestedesavoir.com/media/galleries/5254/864502af-abda-416e-94ce-e128d0967d35.png)
Figure:Nombre de membres

C'est aussi le cas chez vous ou c'est juste moi ?

Sujet : https://zestedesavoir.com/forums/sujet/10999/le-nombre-de-membres-est-absent