[2015-01-27 09:47] SpaceFox commented on #2156
Je suis sérieux.

[2015-01-27 10:00] firm1 opened #2160 "Il n'y a plus d'alertes sur les messages non lus"
Je n'ai plus d'alertes (entendez par là la petite boite rouge sur l'icone des messages) qui m'indique le nombre de MP non lus.

Il s'agit d'une regression introduit avec la 1.5 que je qualifierait de bloquante quand même car la fonctionnalité est très utilisée.

Screen :

![new_member](https://cloud.githubusercontent.com/assets/6066015/5916651/a31a48e6-a613-11e4-8a76-d9a4382dc2fe.PNG)

[2015-01-27 10:02] firm1 opened #2161 "Lors de la désinscription, impossible de savoir ce que devient les images que j'ai uploadé"
Voici le texte que j'ai qui m'explique ce qui va se passer si je me désinscris :

Je ne sais donc pas ce que deviendra mes galleries d'images

[2015-01-27 14:05] firm1 opened #2163 "La barre du haut n'est pas compatible écran 10 pouces"
Via Solid sur le forum

[2015-01-27 14:46] firm1 opened #2164 "Problème de typo dans la doc"
J'ouvre cette issue pour lister les problèmes de typos dans la doc.

[Installation du frontend](http://zds-site.readthedocs.org/fr/latest/install/frontend-install.html)

Il s'agit plutot de `Node.js`

Il y'a une quote en trop

Les asterisques se baladent dans le texte

Pas besoin de `sudo` pour mettre à jour npm

On a une quote en trop

On a une quote en trop

On a une quote en trop

[2015-01-27 14:49] SpaceFox commented on #2164
Tu n'as pas les droits pour ouvrir directement une PR pour modifier le fichier (via l'éditeur Github) sur ce genre de problèmes ?

Ça doit pouvoir s'arranger, parce qu'ici c'est plus rapide que de faire le ticket :)

[2015-01-27 14:52] firm1 commented on #2164
Je n'ai pas de branche sur mon fork assez synchro avec le repo officiel pour faire ça.

[2015-01-27 14:56] SpaceFox commented on #2164
Je parlais de faire la branche directement sur le dépôt source (d'où la
nécessité de droits).

Oui, je sais, c'est sale bla bla bla... mais franchement pour des typo, je
n'y vois pas de problème.

2015-01-27 15:52 GMT+01:00 firm1 notifications@github.com:

[2015-01-27 15:02] firm1 opened #2165 "Certaines 404/403 ne sont pas designés"
url incriminées : `http://beta.zestedesavoir.com/static/papa`

On obtiens une erreur 404 moins belle que les autres.

EDIT : voir https://zestedesavoir.com/forums/sujet/2164/mettre-clem-sur-les-pages-derreur/?page=1

[2015-01-27 15:03] firm1 commented on #2165
Il en va de même pour certaines 403 : `http://beta.zestedesavoir.com/static/`

[2015-01-27 15:03] SpaceFox commented on #2165
Ah oui, il semblerait que la règle des statics soit prioritaire sur celle
des 404.

Pour moi c'est un argument pour la séparation des statics sur un
sous-domaine particulier.

2015-01-27 16:02 GMT+01:00 firm1 notifications@github.com:

[2015-01-27 15:13] firm1 opened #2166 "Le fichier pack.zip contenant le build du front n'est plus accessible"
Le fichier pack.zip contenait l'ensemble des fichier du front pour ceux qui ne voulaient/pouvaient pas installer les outils du front. Depuis la 1.5 ce fichier n'est plus généré, ce qui rend donc l'installation de la stack front obligatoire pour les developpeurs.

Sur la prod l'url est : http://zestedesavoir.com/static/pack.zip

Sur la beta l'url est : http://beta.zestedesavoir.com/static/pack.zip

[2015-01-27 15:17] SpaceFox commented on #2166
Question : avec la simplification de l'installation du front, et maintenant que la doc correspondante devrait être correcte, ce fichier est-il encore nécessaire ?

[2015-01-27 15:21] firm1 commented on #2166
J'en sais trop rien, je ne l'ai jamais utilisé, mais je remarque juste qu'il a disparu sans raison apparente.

[2015-01-27 15:37] Situphen commented on #2166
@sandhose l'a effectivement enlevé lors des changements récents des tâches Gulp. Si vous jugez nécessaire qu'il soit présent, ça ne devrait pas prendre trop de temps de remettre ça en place.

[2015-01-27 15:39] Situphen commented on #2165
Je pense que c'est juste qu'actuellement les 403 et 404 désignés sont en template Django et que comme les fichiers statiques sont génés directement par nginx, c'est nginx qui envoie en cas de 404 ou 403 sur le `/static/`.

[2015-01-27 15:39] firm1 opened #2168 "Marquer un sujet comme non résolu enlève l'avertissement de flood"
Scenario :
- Créer un topic : un bandeau s'affiche avec le message "Vous venez de poster. Merci de patienter au moins 15 minutes entre deux messages consécutifs afin de limiter le flood."
- marquer ce topic comme résolu
- actualiser votre page (F5)
- marquez ensuite comme non résolu

Le fameux bandeau a disparu sans raison apparente.

[2015-01-27 15:39] SpaceFox commented on #2166
Je propose que pour s'éviter du travail inutile, on attende que quelqu'un en ait besoin.

[2015-01-27 15:48] Situphen commented on #2164
C'est du reStructured Text donc il faut deux quotes ; il en manque effectivement une.

Si tu as déjà les droits administrateurs oui, sinon, non.

Si je fais `npm install -g npm`, j'obtiens :

[code]

---

Je fais une PR pour corriger ça.

[2015-01-27 17:24] Situphen commented on #2140
Je pense que c'est normal mais j'aimerais bien l'avis de @sandhose !

[2015-01-27 18:14] Axylium commented on #2141
Ça a été reporté par Mewtow sur le forum, donc oui pour la prod. Puis j'ai moi-même regardé sur cette dernière.

-----Message d'origine-----
De : "SpaceFox" notifications@github.com
Envoyé : ‎27/‎01/‎2015 10:13
À : "zestedesavoir/zds-site" zds-site@noreply.github.com
Objet : Re: [zds-site] Affichage intro/conclusion chapitre des tutos (#2141)

On est d'accord pour dire que c'est bien un bug en pro

[2015-01-27 22:03] gustavi commented on #2112
Corrigé et mergé ! Merci @DevHugo !

[2015-01-27 22:03] #2112 closed, assigned to nobody

[2015-01-28 10:56] gustavi commented on #2165
Exactement @Situphen !

[2015-01-28 11:06] firm1 commented on #2165
C'est bien le cas, mais on peut aussi designer les pages renvoyée par nginx comme c'est le cas de la [page de maintenance](https://github.com/zestedesavoir/zds-site/blob/dev/errors/maintenance.html). Ce n'est pas le plus urgent, mais ça serait tout de même plus propre.

[2015-01-28 13:21] Situphen opened #2170 "Transférer le reste de la documentation dans le dossier Sphinx"
Aujourd'hui, la documentation du backend est sur Sphinx (`doc/sphinx/source`. Cependant, il reste quelques documentations en markdown qu'il faudrait transférer.
- supprimer `doc/backend-linux-install.md`, `doc/backend-windows-install.md`, `doc/backend-os-x-install.md` et `doc/frontend-install.md` car ils sont maintenant sur Sphinx
- corriger `doc/deploy.md` (mettre un lien vers la documentation d'

[2015-01-28 13:34] GerardPaligot commented on #2170
Pour moi, le README doit rester à la racine du projet. C'est le point d'entré principal à la documentation (tant au niveau de GitHub que sur les clones de tous les développeurs).

[2015-01-28 13:37] SpaceFox commented on #2170
Le README.md et le CONTRIBUTING.md doivent rester à leur place du fait de leurs rôles spécifiques dans Github.

Le reste doit partir sur Sphinx.

[2015-01-28 13:41] firm1 commented on #2170
+1 pour @SpaceFox et @GerardPaligot

le deploy.md quant à lui n'[est plus a jour par contre](https://github.com/zestedesavoir/zds-site/issues/1510)

[2015-01-28 15:35] sandhose commented on #2140
### Pourquoi il compile du C/C++ ?

Certains modules node utilisent des bindings C pour soit combler certains manques de fonctionnalité dans node (ex: syscalls kernel, ou interaction avec d'autres packages "natifs"), soit pour des questions de performances. Le module en question, lwip, est un module permettant de manipuler les images, et utilise entre autre libpng et libjpeg pour des questions de

[2015-01-28 15:38] SpaceFox commented on #2140
Attention, ici c'était le déploiement de la **v1.5-RC2**, les modules étaient sensé déjà être présents dans la v1.5-RC1.

Est-ce que ce sont des modules qui ont été ajoutés par un hotfix ou est-ce qu'on a un problème qui fait que le cache n'a pas fait son office correctement ?

[2015-01-28 15:55] sandhose commented on #2140
Ok my bad, en fait dans le deploy.sh, c'est npm update qui est utilisé, qui va parcourir _toutes_ les dépendances et sous dépendances et les mettre à jour à la dernière version _possible_... Du coup forcément, ça prend trois plombes, et certains packets sont mis à jour, alors que c'est pas nécessaire...

[2015-01-28 16:00] SpaceFox commented on #2140
OK, donc si tu peux me dire ce qu'il faut corriger - ou faire la PR pour corriger ça - ce serait super :)

(Sur la branche de release si PR tu fais).

[2015-01-28 16:06] sandhose commented on #2140
J'ai pas d'env de dev opé sous la main, et pas trop le temps de m'en occuper ; tu peux le faire ? Juste à changer dans [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/server/deploy.sh#L51) le `update` par `install`... Je peux t'assurer à 100% que ça marchera, donc bon :)

[2015-01-28 16:07] Situphen commented on #2140
Je fais ça ce soir si vous voulez !

[2015-01-28 17:49] SpaceFox commented on #2140
Correction mergée. J'attends le test en préprod pour fermer ici.

[2015-01-28 23:35] firm1 commented on #1903
Bon, je viens de passer sur la preprod et la prod, c'était bien un problème infra. J'ai corrigé la conf de nginx afin de ne plus exposer le nom interne, et maintenant ça marche.

Je ferme donc.

[2015-01-28 23:35] #1903 closed, assigned to nobody

[2015-01-28 23:35] firm1 commented on #1972
Bon, je viens de passer sur la preprod et la prod, c'était bien un problème infra. J'ai corrigé la conf de nginx afin de ne plus exposer le nom interne, et maintenant ça marche.

Je ferme donc.

[2015-01-28 23:35] #1972 closed, assigned to nobody

[2015-01-29 09:58] gustavi commented on #1510
Une partie a été corrigée dans d'autres issues je pense aux IP notamment).

[2015-01-29 11:22] SpaceFox commented on #2068
@Eskimon les reliquats sont en local ou en préprod ?

[2015-01-29 11:23] SpaceFox commented on #2071
Bon visiblement non. Si @Eskimon  ou quelqu'un d'autre peut revert le commit fautif comme proposé, ce serait génial.

[2015-01-29 11:24] SpaceFox commented on #2152
@artragis tu as le temps de corriger le bug ou quelqu'un d'autre s'en charge ?

[2015-01-29 11:56] gustavi commented on #2160
@firm1 j'ai bien le nombre sur la version de dev et la préprod ...

[2015-01-29 12:02] Eskimon commented on #2068
Je sais pas si j'ai bien compris ta question. En preprod, on a des articles en doubon/triplons dans la zone de validation alors que ce n'est pas cense pouvoir arriver. Je ne sais pas comment nettoyer ca et je ne me rappelle plus les conditions qui faisaient apparaître les doublons.

Ce bug de doublon existe depuis longtemps mais avait ete corrige, seulement je ne sais pas si les doublons en prepro

[2015-01-29 12:07] Eskimon commented on #2071
Bon j'ai essaye depuis l'interface GH qui propose le bouton "revert" mais ca apporte du bordel. Je ferais donc ca proprement depuis mon PC et vous envoie ca se soir.

[2015-01-29 12:07] firm1 commented on #2160
Screen or it didn't happen :)

[2015-01-29 12:09] GerardPaligot commented on #2152
J'étais aussi étonné que toi pendant le développement de la ZEP-17. C'est pourquoi, je les ai rajouté dans la [PR de la ZEP](https://github.com/zestedesavoir/zds-site/pull/2167/files#diff-3faca8bf94c4192b3d380f14a9c82270R92).

[2015-01-29 12:15] pierre-24 commented on #2152
**tout le monde:** la QA c'est moi et j'avais en tête que ça fonctionnais quand je l'ai fait, je suis peut-être passé à coté de quelque chose, donc _my bad_ (c'est bien la PR qui concernait les bots, nan ?). Bon. Je vais régler ça, parce que c'est correction en une ligne. Et comme @GerardPaligot a mis le TU des profils dans la ZEP-17, avec votre permission, je ne vais pas écrire de TU cette fois-c

[2015-01-29 12:18] GerardPaligot commented on #2152
@pierre-24 : Tu viens de pinger https://github.com/tout. :-°

[2015-01-29 12:19] pierre-24 commented on #2152
Fait ch***.

Bref.

TL;DR : je prend.

[2015-01-29 12:21] pierre-24 commented on #2141
Je prend.

[2015-01-29 12:41] artragis commented on #2152
pas du tout le temps, désolé.
Le 29/01/2015 12:24, SpaceFox a écrit :

[2015-01-29 13:00] SpaceFox commented on #2152
Pas de pb, le tout c'est que personne n'attendre que tu le fasse :)

2015-01-29 13:41 GMT+01:00 artragis notifications@github.com:

[2015-01-29 13:13] Eskimon opened #2176 "L'avertissement de reponse entre-temps est mal affiche"
L'avertissement signalant qu'il y a eu une reponse entre-temps s'affiche mal : "{% trans "Au moins un nouveau message a été posté dans la discussion pendant que vous rédigiez le votre" %}."

C'est du a la balise strong qui traine dans la chaine d'internationalisation ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/post/new.html#L33

Il faut la remplacer par:

[code]

Merci

[2015-01-29 13:13] SpaceFox commented on #2067
C'est utilisé beaucoup comme fonctionnalité ? (pour pouvoir prioriser cette issue)

[2015-01-29 13:18] SpaceFox commented on #2080
Pour commencer on a un truc à faire ici : quand on accède à une URL par PK + slug, il faut :
1. Vérifier que les 2 soient cohérents (je sais que c'est fait dans au moins un cas)
2. S'ils sont incohérents, la PK a raison. Donc on doit avoir une redirection permanente vers l'URL avec le bon slug (exemple : /tuto/1234/slug_foireux renvoie toujours vers /tuto/1234/bon_slug).

[2015-01-29 13:20] firm1 commented on #2067
Comment savoir ça ?

Il faut demander aux valido, mais vu que ça ne marche pas depuis au moins 4 mois, ça ne doit pas être utilisé

[2015-01-29 13:21] SpaceFox commented on #2113
Le texte est corrigé, ce ticket est maintenant une évolution pour ajouter la fonctionnalité.

[2015-01-29 13:21] Eskimon commented on #2067
Personne ne s'en ai jamais plaint dans mes souvenirs

[2015-01-29 13:23] firm1 commented on #2067
si, moi :)

[2015-01-29 13:27] firm1 opened #2177 "Erreur 500 lors de la création malencontreuse d'une réponse a un mp"
Url incriminée : `http://beta.zestedesavoir.com/mp/message/nouveau/?sujet=x`

On ne devrait jamais avoir d'erreur 500

[2015-01-29 13:33] SpaceFox commented on #2114
Non reproductible non plus ici.

url : http://beta.zestedesavoir.com
Navigateur : Opera 26.0.1656.87080
OS : Android 4.4.4
Smartphone : Galaxy S4
Ecran : 4.0 pouces
Résolution : 1080 x 1920

[2015-01-29 13:38] firm1 opened #2178 "Icones de filtres de type d'articles changent de manière incohérente"
Les icones des filtres de la sibebar qui permettent de filtrer changent sans raison apparente. Regardez les screens.
## Aucun filtre

![filter_no](https://cloud.githubusercontent.com/assets/6066015/5958377/30333c36-a7c4-11e4-9713-c3a0be4b5c92.PNG)
## Filtre bouillons

![filter_draft](https://cloud.githubusercontent.com/assets/6066015/5958379/34f74f14-a7c4-11e4-9d55-49c373053635.PNG)
## Filtre vali

[2015-01-29 13:58] firm1 commented on #1454
Juste pour dire qu'en plus de la page asso et de la page contact, cette adresse est présente aussi dans les CGU. D'un point de vue légal ça ne fait pas très propre.

Je propose qu'on adopte l'idée de @ChantyTaguan ici, en remplaçant temporairement l'adresse de l'asso par communication@zestedesavoir.com.

Pour celà, rien de plus simple que d'aller modifier dans le setting de prod le paramètre [suiv

[2015-01-29 14:04] firm1 opened #2179 "Les adresses emails des pages de contacts sont capturables par les bots"
Autant pour afficher le mail d'un membre sur sa page profil, on utilise un filtre qui nous permet de masquer l'adresse email aux bots, autant les pour les adresses mails de la page contact, cgu, et asso, on a pas de filtre.

Il serait bon d'appliquer le même filtre (email_obfuscator) sur tous les adresses emails affichés.

[2015-01-29 14:10] poulp commented on #2160
Quand j'envoie des mp avec les différents utilisateurs de ma version dev ça fonctionne. Par contre lorsque que je publie un article ou un tutoriel je retrouve le bug pour l'auteur de la publi, le mp est marqué non lu mais pas d'alerte sur la top bar.

[2015-01-29 14:27] firm1 commented on #2160
On dirait que la PR qui a cassé la fonctionnalité [est la suivante](https://github.com/zestedesavoir/zds-site/pull/2093), si ça peut aider

[2015-01-29 14:30] Eskimon commented on #2154
Done, merci @Situphen !

[2015-01-29 14:30] #2154 closed, assigned to nobody

[2015-01-29 14:58] #2131 closed, assigned to gustavi

[2015-01-29 15:10] Eskimon commented on #2152
C'est réparé, merci @pierre-24 pour l'efficacité !

[2015-01-29 15:10] #2152 closed, assigned to pierre-24

[2015-01-29 15:14] SpaceFox commented on #2135
Corrigé et mergé --> Fermé.

[2015-01-29 15:14] #2135 closed, assigned to nobody

[2015-01-29 15:18] firm1 commented on #1875
C'est fixé. Merci a @DevHugo

[2015-01-29 15:18] #1875 closed, assigned to nobody

[2015-01-29 15:20] Eskimon commented on #2071
Voila, revert en PR.

[2015-01-29 15:21] Eskimon commented on #1939
Je ré-ouvre ce ticket.

Comme mentionnée dans le ticket #2071 , un souci subsiste. J'ai donc annulé ce commit dans la PR #2182 afin de ne pas bloquer la release 1.5.

Pour continuer cette feature, il faudra donc faire un cherry-pick du commit 0286f043ea8cb2e7c7d67c571f9acabe859f9cec puis corriger les soucis.

[2015-01-29 15:30] Eskimon commented on #2141
Nickel, bravo @pierre-24 pour la rapidité et l’efficacité !

[2015-01-29 15:30] #2141 closed, assigned to pierre-24

[2015-01-29 15:33] Eskimon commented on #2160
La encore, si on ne trouve pas de solution je peux fournir le revert...

[2015-01-29 15:35] SpaceFox commented on #2160
Ouais, enfin... entre le bout de code qui est en train d'exploser le serveur et celui qui n'affiche pas de notification dans certains cas, je ne suis pas certain de savoir lequel je préfère...

[2015-01-29 15:35] Eskimon commented on #2160
En tout cas je confirme, c'est bien ca qui fout le boxon (j'ai fait le revert en local, tout est rentré dans l'ordre)

[2015-01-29 15:37] SpaceFox commented on #2160
D'autre part, je ne m'explique pas la différence qu'il peut y avoir entre un "vrai" MP et un MP auto. Parce que si j'ai bien compris, c'est les notifications des MP auto qui déconnent.

Ce qui sous-entendrait qu'on a un problème dans l'envoi de MP auto qui ne fonctionne pas comme prévu.

[2015-01-29 15:44] SpaceFox commented on #2160
PS : Je ne nie pas que le problème est apparu avec ma PR hein.

Par contre je me demande vraiment :
- Si le problème vient de la "nouvelle" méthode de récupération des MP non lus ou s'il vient de la méthode d'envoi des MP automatiques.
- S'il vaut mieux avoir cette fonctionnalité ou s'il vaut mieux alléger la charge du serveur.

Les deux questions sont de vraies questions ; je me penche sur la pre

[2015-01-29 15:50] firm1 commented on #2160
D'après mon enquête (2-3 tests en preprod) il s'avère que le problème ne survient pas "pour les mp automatiques" mais plutot **pour les MPs ou je suis le seul participant**.

Donc les MP autos rentrent dans la clause, mais si quelqu'un envoi un mp puis se désinscrit, il tombe dans la même case et le bug apparait.

My 2 cents

[2015-01-29 15:50] Eskimon commented on #2160
Ah tiens oui je confirme que c'est juste le MP auto qui déconne... Du coup c'est "moins grave mais dommage quand meme".

Petit tip pour pas faire deux fois la requete (d'apres ton commentaire),

[code]

Comme ca `list` fera la requete et ensuite `len` fera le comptage du truc récupéré

[2015-01-29 15:52] poulp commented on #2160
Ok j'arrive à reproduire le bug partout, il suffit de créer un nouveau mp avec un participant et de le quitter.

[2015-01-29 15:52] SpaceFox commented on #2160
Merci @Eskimon  pour le tip.

@firm1 ah oui, j'avais complètement oublié qu'un MP pouvait avoir un seul participant. sans être lu... du coup ça ne m'étonne pas que ce cas ne soit pas géré. Merci pour l'info, maintenant qu'on sait d'où ça vient ça va être beaucoup plus simple à corriger !

[2015-01-29 15:52] Eskimon commented on #2160
Je confirme completement ce point... J'ai fait un MP avec admin et user, envoyé une réponse avec user puis virer user de la conversation. Je rafraichit alors l'accueil pour admin et je ne vois pas la notif.

[2015-01-29 15:53] Eskimon commented on #2160
good job tout le monde les gens !

[2015-01-29 15:55] Eskimon commented on #2101
Le bouton fonctionne bien sur ma version locale syncro sur la branche de release. Un fix a du etre poussé ?

[2015-01-29 15:55] SpaceFox commented on #2101
Ce serait le 2ème bug qui se corrige par magie sur cette branche. Moi ça commence à m'inquiéter...

[2015-01-29 16:09] firm1 commented on #1885
Je confirme qu'ici il n'y a rien a faire. Je ferme donc.

[2015-01-29 16:09] #1885 closed, assigned to nobody

[2015-01-29 16:12] firm1 commented on #1851
Pour info la spec est [encours de spec sur le forum](http://zestedesavoir.com/forums/sujet/2235/1-1-avec-affichage-des-votants/)

[2015-01-29 16:14] firm1 commented on #1846
Je ferme ici vu qu'une PR a été mergée sur le sujet. Merci @steenzout

[2015-01-29 16:34] firm1 commented on #1767
On a quasi plus rien ici. Je ferme.

[2015-01-29 16:34] #1767 closed, assigned to nobody

[2015-01-29 18:14] Situphen commented on #2101
En fait, ça vient du sprite. Il n'y a pas plus d'images dans `assets/images/sprite@2x/` que dans `assets/images/sprite/` ! Avant, on utilisait tout le temps le `sprite@2x` donc il n'y avait aucun problèmes, mais vu que maintenant on utilise un des deux en fonction de la résolution, ça pause problème... J'essayerai de régler ça demain, si je n'y arrive pas il faudra voir avec @sandhose.

[2015-01-29 19:27] Eskimon commented on #2101
C'est quoi le rapport avec une checkbox ?

[2015-01-29 19:38] sandhose commented on #2101
@Situphen Rien à voir: le sprite @1x, c'est juste le @2x redimensionné, donc ça devrait pas poser problème

[2015-01-29 20:00] sandhose commented on #2101
La règle existe pour le sprite @2x (donc rétina), mais pas pour le "normal". Comme avant on utilisait forcément le sprite rétina, on avait pas le problème. Au passage, vu le code, je dirais que le problème est aussi présent sur les radio. Pour fixer ça, il suffit à priori de rajouter `@include sprite();` [à cet endroit](https://github.com/zestedesavoir/zds-site/blob/c805788c43e744cf51ad9152f1ebfb8

[2015-01-29 21:38] Situphen commented on #2101
@Eskimon : on utilise une image à la place de la croix par défaut des checkboxs, et elle est dans le sprite.

@sandhose : je vais essayer de corriger ça demain soir. AMHA, il faudra revoir la génération du sprite car on je vois pas pourquoi on a deux dossier `sprite/` et `sprite@2x`, et des images (logo...) qui ne sont pas dans le sprite. (**EDIT** : Je ferai sûrement une PR demain.)

[2015-01-29 21:46] GerardPaligot opened #2183 "Configurer landscape"
Récemment, nous avons intégré [landscape](https://github.com/zestedesavoir/zds-site/pull/2173), un analyseur static pour mesurer la "santé" de notre code sur plusieurs critères. Avec l'une de mes [PRs](https://github.com/zestedesavoir/zds-site/pull/2167#issuecomment-72098369), j'ai tenté de diminuer les erreurs et les avertissements que cet outil signalait.

Même s'il y avait des remarques pertine

[2015-01-30 08:28] SpaceFox commented on #2071
Corrigé --> fermé

[2015-01-30 08:28] #2071 closed, assigned to nobody

[2015-01-30 08:29] #2101 closed, assigned to nobody

[2015-01-30 17:41] gustavi commented on #2160
Note : on peut aussi accéder à la taille d'une `list` ou d'un `dict` (et d'un `tuple` / `str`) via `{{ foor|lenght }}` dans les templates. Ça reste toujours moins performant qu'un `len()`.

[2015-01-30 17:48] gustavi commented on #1846
Et moi je ré-ouvre parce qu'il en reste une quarantaine (cf `grep -R "except:" zds | wc -l`).

[2015-01-30 18:03] gustavi commented on #2179
Je suis dessus mais actuellement on ne peut pas ajouter un sojet au mailto. 3 options :
- On supprime le sujet pour le template `pages/template.html`
- J'ajoute un templatetag et je crée une PR sur le projet
- On vire la dépendance et on inclue le code dans nos templatetag vu qu'il est extrêmement simple (https://github.com/morninj/django-email-obfuscator/blob/master/email_obfuscator/templatetags/

[2015-01-30 18:11] gustavi commented on #2178
Problème trouvé : ça vient de la classe `unread` qui a un comportement étrange.

PING @sandhose @Situphen

[2015-01-30 18:13] DevHugo commented on #2179
Je partirais sur la troisième solution, faut aussi voir pour l'attribut target="_top".

[2015-01-30 18:15] Eskimon commented on #2178
Est-ce que ca pourrait venir de la bricole de @SpaceFox https://github.com/zestedesavoir/zds-site/pull/2120 ?

[2015-01-30 18:18] gustavi commented on #2178
Je ne pense pas, il n'a pas touché aux fichiers SCSS.

[2015-01-30 18:20] Situphen commented on #2178
Le problème c'est que la classe "unread" correspond aussi à une icône (https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/_icons.scss#L41). Ce qu'il faut c'est changer le nom de cette classe https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/_all-supports.scss#L866 par un autre (et aussi modifier les templates) !

[2015-01-30 19:13] DevHugo commented on #2113
Je prends.

[2015-01-30 19:33] Axylium commented on #2113
HS qui n'a rien à voir, mais pour @DevHugo : Je te vois de plus en plus ici ! Si tu participes au développement activement, demande à @SpaceFox ou @ArnaudCalmettes de te passer dans la team. Ça permettra de t'assigner les issues plus facilement. ;)

[2015-01-30 19:49] gustavi commented on #2113
En fait il faudrait surtout un second groupe « Contributeurs occasionnels » pour ceux qui contribuent de temps en temps ou alors depuis pas très longtemps avec juste la possibilité d'être assigné à une issue.

[2015-01-30 20:15] SpaceFox commented on #2113
C'est une excellente idée, si tu sais comment faire.

[2015-01-30 20:24] SpaceFox commented on #2179
D'accord pour la 3ème.

[2015-01-30 20:24] SpaceFox commented on #2113
En fait, le groupe existe mais avec un autre nom :)

@DevHugo je t'ai envoyé une invitation.

[2015-01-30 21:56] Eskimon commented on #2081
je fais ca

[2015-01-30 22:34] steenzout commented on #1846
yes there were 37 clauses to fix (you may have more or less now) but I didn't want to risk it.

hmm... I guess I can do a "except Exception:".
do you guys want me to do that?
this would be compatible with py2.x and py3.x (I think and looking at the docs it would) and
it would be generic enough.
only GeneratorExit, SystemExit and KeyboardInterrupt would be left out.

do you feel ok if I replace all

[2015-01-31 00:43] SpaceFox opened #2193 "Boucle de requêtes SQL sur les alertes"
On a des requêtes en boucle sur les alertes : une requête de chaque type par alerte.
# Requête 1

Dans `zds-site/templates/base.html` ligne 358 : `{% with alerts=user|alerts_list nb_alerts=user|alerts_count %}`

[code]
# Requête 2

Dans `zds-site/templates/base.html` ligne 358 : `{% with alerts=user|alerts_list nb_alerts=user|alerts_count %}` (oui, c'est la même ligne que la 1) :

[code]

[2015-01-31 01:10] SpaceFox commented on #2089
En fait, j'ai dit complètement de la merde dans mon post d'avant. L'ORM de Django est intelligent et sait parfaitement gérer les relations 1..1 entre `User` et `Profile`.

Du coup il suffit de coller des `.select_related("profile")` à chaque fois qu'on appelle un `User` pour l'affichage et ça marche sans autre forme de modification. Je prépare une PR avec ça.

[2015-01-31 01:21] SpaceFox commented on #2089
Hmmm... mon truc ne marche que dans certains cas. Y'a encore des récupérations tordues. Je vais attendre que la v1.5 soit déployée, déjà ça me dégagera les listes de requêtes de pas mal de merde.

Mais je commence à avoir une bonne idée de ce qu'il faut faire.

[2015-01-31 08:52] gustavi commented on #2089
Alors j'ai la solution après avoir discuté avec des devs de Django. En gros il faut surcharger le modèle `User`. @SpaceFox si ça t'intéresse, je peux faire une POC.

Note : ça veut également dire toucher le modèle qui est en relation avec **tous** les autres modèle donc ça va demander une QA lourde.

[2015-01-31 09:54] Torejy commented on #2176
Je prends !

[2015-01-31 10:26] Torejy opened #2196 "Lien vers l'article faux quand on modifie et répond à un article"
Quand on modifie un article (éditer), le lien dans le fil d'ariane renvoit vers la page de modification et non vers l'article en off.

(edit1) En fait, le contenu du href est vide car la fonction/variable appelée n'existe pas (cf la recherche https://github.com/zestedesavoir/zds-site/search?utf8=%E2%9C%93&q=get_absolute_online_url).

(edit2) La vraie fonction est get_absolute_url_online et non get

[2015-01-31 10:51] gustavi commented on #2176
On peut ajouter @Torejy aux contributeurs occasionnels pour l'assigner ici ? PING @SpaceFox

[2015-01-31 10:56] Torejy commented on #2176
Il y a le même problème sur ce template aussi.
https://github.com/zestedesavoir/zds-site/blob/d2b279fdb56e7f515a3960a1acc82002a56615f0/templates/forum/post/new.html#L33

[2015-01-31 10:58] gustavi commented on #2176
Tu peux faire d'une PR deux coups ;)

[2015-01-31 10:59] SpaceFox commented on #2176
Invitation envoyée.

[2015-01-31 11:02] SpaceFox commented on #2089
Ah ouais... vu les impacts, je pense qu'il faut garder l'idée sous le coude, mais uniquement si on arrive à rien par d'autres biais. Parce qu'on sortirait complètement des recommandations officiels Django, et qu'on se retrouverait avec une migration de données particulièrement immonde.

[2015-01-31 11:03] Torejy commented on #2176
C'est bête mais c'est justement les lignes que ma PR corrige. :p

[2015-01-31 11:05] gustavi commented on #2089
Bah en fait non (pour _on sortirait complètement des recommandations officiels Django_). Surcharger le modèle semble être quelque chose de courant (j'avoue ne jamais avoir eu à le faire) mais ça se fait à la création d'un projet.

Actuellement ce qu'il faudrait faire c'est de modifier une méthode de `User` pour ajouter un `.select_related('profile')`. Ensuite on modifie les imports un peu partout

[2015-01-31 11:10] Torejy commented on #2196
Question : Pourquoi rediriger vers la version en ligne quand on rédige un article ? C'est pas plus logique de renvoyer sur la version off ?

[2015-01-31 11:15] #2160 closed, assigned to SpaceFox

[2015-01-31 11:18] SpaceFox commented on #2089
Je pense comprendre.

En fait, le code de PdP fonctionnait avec la méthode [`AUTH_PROFILE_MODULE`](https://docs.djangoproject.com/en/1.6/ref/settings/#std:setting-AUTH_PROFILE_MODULE), dépréciée lors du passage à Django 1.6.

Ce que tu proposes revient à la [substitution de modèle utilisateur](https://docs.djangoproject.com/en/1.6/topics/auth/customizing/#substituting-a-custom-user-model), que je

[2015-01-31 11:22] gustavi commented on #2089
Oui ça me parait tout à fait cohérent ! Ce qu'il faut c'est surtout avoir `User` et `Profile` toujours liés ! Ça ne changera pas grand chose en DB étant donné qu'on a presque toujours besoin des deux.

[2015-01-31 13:19] gustavi commented on #2183
#2197 devrait régler une partie des problèmes je l'espère.

[2015-01-31 14:30] Situphen opened #2199 "Vidéos YouTube qui ne s'affichent plus"
Je viens de remarquer que les vidéos YouTube ne s'affiche plus sur le site (par exemple sur [ce sujet](https://zestedesavoir.com/forums/sujet/544/mettons-en-musique-la-communaute/?page=7#p36834)) ! Je pense que ça doit venir du récent passage de YouTube en full HTML5, ce qui fait que l'on ne peut plus utiliser des `<iframe>`.

J'ai ce bug sur Firefox et Chrome sous Kubuntu 14.04 et Android 5.0.

[2015-01-31 14:41] Situphen commented on #2199
YouTube compte bien se passer d'HTML [d'après Numerama](http://www.numerama.com/magazine/32035-youtube-passe-au-html5-par-defaut.html). Cependant :

Et elle propose le code suivant :

[code]

Or, nous utilisons bien un `<iframe>` très similaire dans nos pages ! Bref, c'est bizarre ! Quelqu'un a le même bug que moi ?

[2015-01-31 14:42] gustavi commented on #2199
Bug confirmé (Firefox / Archlinux).

[2015-01-31 14:44] Situphen commented on #2199
Bug trouvé : on utilise "http" alors qu'il faut utiliser "https" !

[2015-01-31 14:49] Situphen commented on #2199
Pourtant d'après le code (https://github.com/zestedesavoir/Python-ZMarkdown/blob/master-zds/markdown/extensions/video.py#L139) on génère bien un "https" !

[2015-01-31 14:54] Situphen commented on #2199
Bug non présent en local et en béta, seulement en prod !

[2015-01-31 15:24] Situphen commented on #2199
|  | HTTP | HTTPS |
| --- | --- | --- |
| Local | Pas de bug | ? |
| Prod | Pas de bug | Bug |
| Béta | Pas de bug | Bug |

[2015-01-31 15:25] gustavi commented on #2199
Tu veux pas éditer tes commentaires @Situphen ? Là ça devient pénibles les notifications !

[2015-01-31 22:42] Axylium commented on #2199
Pour ce qui est de la non présence des vidéos Youtube via le HTTPS c'est connu depuis un bon moment. Il me semble néanmoins que c'est un problème lié à notre markdown.. ping @cgabard

[2015-02-01 13:16] #2193 closed, assigned to gustavi

[2015-02-01 14:45] Eskimon commented on #2199
euh... c'est pas nouveau ce probleme, @cgabard a meme fait un update du markdown pour forcer le passage des videos en https donc normalement elle devrait toujours bien s'afficher si les requirements sont a jour

[2015-02-01 14:47] Situphen commented on #2199
@Eskimon : cette modification a été faite avant ou après le passage en béta de la v1.5 ? autrement dit, est-ce que le bug devrait être résolu sur la béta ?

[2015-02-01 16:21] Eskimon commented on #2199
Je viens de test en beta, je peux afficher des vidéos http(s) que je sois connecté en http(s), donc pour moi tout va bien

[2015-02-01 16:25] Situphen commented on #2199
C'est bon pour moi aussi : je ferme !

[2015-02-01 16:26] gustavi commented on #2199
On fermera quand on aura confirmation que tout est OK sur la prod.

[2015-02-01 18:41] Axylium commented on #2199
Je viens de tester sur la bêta, pour moi tout comme Eskimon, c'est bon !

Par-contre sur la prod, c'est une autre histoire..

[2015-02-01 18:55] #1939 closed, assigned to Eskimon

[2015-02-02 07:37] Eskimon commented on #1944
C'est bizarre, en prod ca se comporte pas vraiment comme je le pensais... aurais-je fait une betise dans mon filtre ?

@pierre-24 tu en penses quoi (je te prends a partie car tu m'as aidé avec ta QA ^^ )

[2015-02-02 08:12] firm1 opened #2202 "Les branches de dev et de prod sont cassées."
Le dernier commit qui est passé en prod est [celui-là](https://github.com/zestedesavoir/zds-site/commit/c3056a10cb571994a9ebaeba95ba006906c08d3d), son build travis correspond à [celui-ci](https://travis-ci.org/zestedesavoir/zds-site/builds/49104769).

On constate que la branche crache 2 erreurs au niveau des tests back

Je note ça en bloquant quand on est sur la branche de prod et qu'il faut hotfi

[2015-02-02 08:14] firm1 commented on #2202
On a aussi le meme problème sur [la branche de dev](https://travis-ci.org/zestedesavoir/zds-site/jobs/49104750)

[2015-02-02 08:45] cgabard commented on #2199
A noter, sur la prod, que le changement changeant le rendu html ET que les sujets sont mit en caches, des sujets avec vidéos dont le cache html a été généré avant la mise en prod peuvent encore poser problèmes.

En fait il faut vérifier sur la prod que les nouveaux sujet et messages se comportent bien. Si oui, le bug est bien fixé coté markdown et il faudrait dévalider le cache des messages après

[2015-02-02 08:49] cgabard commented on #2199
http://zestedesavoir.com/forums/sujet/1035/les-players-youtube-ne-saffichent-pas-en-https/?page=1#p42008

A priori c'est bon sur les nouveaux messages

[2015-02-02 09:02] GerardPaligot commented on #2202
Comment est-ce possible que nous ayons ces branches cassées ?

[2015-02-02 09:03] firm1 commented on #2199
On a une date précise de la dernière mise a jour de Python-ZMarkdown en
prod ? Je peux faire un refresh du cache des forums sur la prod si besoin.

Le lun. 2 févr. 2015 09:49, Christophe Gabard notifications@github.com a
écrit :

[2015-02-02 09:10] SpaceFox commented on #2202
Je me pose exactement la même question.

Ces deux branches viennent de la branche de release, dont le dernier commit est `6eeb2c7e575921e369769c6c51159751ecb2d353`, qui correspond au merge de [cette PR](https://github.com/zestedesavoir/zds-site/pull/2194).

Je soupçonne un problème de Travis, parce que [si on regarde l'historique](https://travis-ci.org/zestedesavoir/zds-site/builds) :
- Le [build

[2015-02-02 09:40] SpaceFox commented on #2202
Youpie, c'est magique : j'ai relancé les builds 2774, 2778 et 2779. Le 2774 passe, pas les autres.

Je me demande à quel point il n'y a pas une collision entre les tests (une sombre question d'ordre pour que ça marche).

[2015-02-02 09:48] firm1 commented on #2202
D'après travis, quand ça foire, le problème vient des tests qui ont été rajouté avec [cette PR](https://github.com/zestedesavoir/zds-site/pull/2194/files).

[2015-02-02 09:50] SpaceFox commented on #2202
... je vais arrêter de me prendre la tête à faire marcher ZdS si mes interlocuteurs ne prennent pas la peine de lire mes messages.

[2015-02-02 09:50] SpaceFox commented on #2202
1. https://github.com/zestedesavoir/zds-site/issues/2202#issuecomment-72425243
2. https://github.com/zestedesavoir/zds-site/issues/2202#issuecomment-72428691

[2015-02-02 10:07] firm1 commented on #2202
Biensur que je lis, mais le problème est que justement on a un delta [entre le tag 1.5 et la branche prod](https://github.com/zestedesavoir/zds-site/compare/v1.5...prod).

Donc, il y'a une désynchro quelque part

[2015-02-02 10:15] SpaceFox commented on #2202
... je ne comprends pas : ton lien dit justement qu'il **n'y a pas** de delta : "0 files changed". Pour te convaincre, [un cas où il y a un delta](https://github.com/zestedesavoir/zds-site/compare/v1.4...prod#files_bucket).

Le seul truc inhabituel de cette release, c'est que la version de Git Flow que j'ai utilisé n'est pas la même que d'habitude, et a collé le tag sur le dernier commit de la bra

[2015-02-02 10:20] firm1 commented on #2202
Quand j'ai crée l'issue le 2774 n'avais pas le souci.

'fin bref, on dirait que ça marche aléatoirement, mais pour corriger, il faut taper dans les deux tests qui failed.

[2015-02-02 10:32] SpaceFox commented on #2202
... soit y'a un cache quelque part dans Travis que je n'ai pas vu à jour, soit quelqu'un a relancé le build entre ta création d'issue et la mienne et ça a foiré, soit je ne sais pas. Mais quand je suis arrivé sur la liste tout à l'heure, le build était daté de la date du merge.

Et quand bien même, ça n'explique pas le fait que 2774 marche mais pas le 2778, alors qu'ils correspondent très exacteme

[2015-02-02 10:46] firm1 commented on #2199
J'ai lancé le script suivant sur la préprod (je suppose qu'il n' y avait pas grand monde connecté dessus) pour raffraichir le cache.

[code]

Conclusion, on devrait être dans les mêmes tons pour la prod (entre 3 à 4 min).

On pourrais l'inclure comme commande d'ailleurs. Mais je n'ai pas mes outils de dev à portée.

[2015-02-02 10:51] pierre-24 commented on #1944
En effet, le comportement est un peu différent de ce à quoi je m'attendais. Ceci dit, je pense que le "problème" provient de l'inclusion de "update", auquel j'ai pas forcément pensé quand j'ai fait la QA: dès que tu fais une modif', `update` est mis à jour (ou en tout cas c'est ce que j'entend par "update" et ce qui est à peu près le cas dans le code, modulo l'état du module des tutos), du coup à

[2015-02-02 10:56] firm1 opened #2203 "Impossible de télécharger la version markdown d'un tuto quand on est invité"
C'est peut être voulu (et dans ce cas on peut fermer), mais il est impossible en tant qu'invité de télécharger la version markdown d'un tutoriel publié.

Et pourtant toutes les autres version sont téléchargeable.

[2015-02-02 11:01] firm1 commented on #2202
Et voilà, à la fin du build, le 2774 remarche :) .

[2015-02-02 11:06] SpaceFox commented on #2202
Oui, mais pourquoi pas les 2 autres ? Celui sur `dev` ça pourrait s'expliquer s'il y avait une autre erreur, mais celui sur `prod` qui correspond très exactement au même code ?!

[2015-02-02 11:10] firm1 commented on #2202
Y'a pas de secret, faut checkouter, et lancer les tests en local plusieurs fois pour comprendre pourquoi sa plante de manière alétoire.

[2015-02-02 11:38] firm1 commented on #2114
Bon le bug est arrivé en prod. Et je l'ai aussi sur un autre smartphone.

Navigateur : Chrome 40
OS: Android 4.4.4
Smartphone : One Plus
Écran : 5.5 pouces

![screenshot_2015-02-02-12-32-19](https://cloud.githubusercontent.com/assets/6066015/5999940/e4a3d0e8-aad7-11e4-9a4b-6ff4095334e0.png)

[2015-02-02 12:02] Situphen commented on #2114
Tu es vraiment damné ! J'ai essayé de le reproduire sans succès ! :(

[2015-02-02 12:10] GerardPaligot commented on #2114
@firm1 Est-ce que tu pourrais nous donner ta manipulation exacte (étape par étape) pour reproduire le bug ?

[2015-02-02 12:24] Eskimon opened #2204 "La notification par email est cassee si on s'enregistre par un compte social"
La notification par email est cassée si on s'enregistre par un compte social.

Scénario :
- A est enregistre par un compte "social" (facebook, twitter...) ;
- A poste dans un forum et s'inscrit a la notification par email ;
- B répond dans le topic ;
- B se prend une 500 car le serveur SMTP galère avec l'email.

Ce cas a été testé avec une personne inscrite via Twitter.

Cependant, l'envoi de MP s

[2015-02-02 12:49] cgabard commented on #2199
L'historique git du fichier requierement devrait te donner une date facile
MAIS le cache n'a pas forcément été re-généré à la dernière mise a jour.
Donc je pense que le plus simple serait peut être de forcer une
re-génération total.

Christophe.

On Mon, Feb 2, 2015 at 11:46 AM, firm1 notifications@github.com wrote:

[2015-02-02 13:08] firm1 commented on #2199
Etant donné que la PR correspondante est [celle-ci](https://github.com/zestedesavoir/zds-site/pull/1978) mergée le 27 dec, je suppose que la correction a été poussée dans la 1.5 qui a été mise en prod le 01/02/2015.

Donc autant le faire sur tous les posts ?

[2015-02-02 13:10] firm1 commented on #2114
Je sais pas trop comment j'arrive là. Tout ce que je sais c'est que sur Chrome je ne suis pas pisté par analytics et après quelques moments de navigation, la home devient comme ça.

Si je reinitialise tout, tout va bien.

[2015-02-02 13:13] DevHugo commented on #2202
TLDR: À jour sur dev et des erreurs différentes.

Je suis à jours sur les branches, mon dernier commit de ma branche dev étant le 0caa64e7ae9472fa57e1c59abf1b236598236cae ou plus connus sous le nom de « Finish V1.5 ».

Les tests ne passent pas mais pas avec les mêmes erreurs qu'au dessus : http://pastebin.com/zwUF3evM.
Encore plus drôle, si je demmande qu'à passer le premier test qui fail sous PyC

[2015-02-02 13:18] SpaceFox commented on #2202
WTF ?!

[2015-02-02 13:19] DevHugo commented on #2202
Peut-être que c'est pas liés, cela peut-être juste mon environnement mais bon.

[2015-02-02 13:32] firm1 commented on #2202
@DevHugo ton problème c'est que [tu es sous windows](https://github.com/zestedesavoir/zds-site/issues/2158) :)

[2015-02-02 13:34] DevHugo commented on #2202
Je suis sous ArchLinux, je vais faire une ré-installation et voir ce que ça donne.

[2015-02-02 13:35] GerardPaligot commented on #2158
Ok, cette issue n'est pas bloquante comme tu sembles l'entendre mais elle est quand même urgente à régler ! Si des développeurs Windows sont dispos ...

[2015-02-02 13:38] firm1 commented on #2202
Ah donc c'est pas que windows alors :) Car j'ai eu les même erreurs que toi quand j'ai lancé les tests sur windows.

[2015-02-02 14:23] firm1 commented on #2199
Le script a été rejoué en prod pour raffraichir les anciens caches sur les forums.

Le périmètre était tous les posts qui ont été crée avant le 01 fev 2015, il y'en avait 35 971 et ça a pris ~5 min.

Je ferme donc cette issue

[2015-02-02 14:23] #2199 closed, assigned to nobody

[2015-02-02 15:54] DevHugo commented on #2202
Pour mes tests qui passent pas, uniquement, j'ai continué un peu l'investiguation, quand j'affiche la valeurs de self dans PrivatePostForm de zds/mp/forms.py.

J'avais des affichages comme ça:

[code]

or aucun test dans ce fichier, n'utilise la chaine « blabla » mais dans le fichier tests/test_forms.py cette chaine existe. Dans le fichiers des forms, on ajoute donc des réponses avec « blabla ». C

[2015-02-03 07:20] firm1 opened #2205 "Du code mort et faux à supprimer dans les tutoriels"
Fonction incriminée 1 : [view_tutorial](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L796)
Fonction incriminée 2 : [export_tutorial_to_md](https://github.com/zestedesavoir/zds-site/blob/f3851a4cf4260c8022dc077f096950e00d1f3da1/zds/utils/tutorials.py#L116)

Il s'agit dans les deux cas, de la ligne `chapter["position_in_tutorial"] = cpt_c * cpt_p` à supprimer.

Elle est f

[2015-02-03 07:32] Eskimon commented on #2205
Est-ce que la ZEP-12 ne va pas s'en occuper ?

[2015-02-03 14:28] gustavi commented on #2204
C'est bloquant. On ne peut pas répondre aux sujets sur le forum.

[2015-02-03 17:45] #2075 closed, assigned to gustavi

[2015-02-03 18:53] pierre-24 commented on #2205
Très clairement, ce bout de code va disparaitre avec la ZEP-12. Donc est-ce critique, ou pas ?

[2015-02-03 18:55] SpaceFox commented on #1738
C'est corrigé et mergé, encore merci !

[2015-02-03 18:55] #1738 closed, assigned to sandhose

[2015-02-03 18:55] SpaceFox commented on #1718
C'est corrigé et mergé, encore merci !

[2015-02-03 18:55] #1718 closed, assigned to sandhose

[2015-02-03 19:01] SpaceFox commented on #2205
Non. Ça attendra la ZEP-12.

[2015-02-03 19:01] #2205 closed, assigned to nobody

[2015-02-03 19:05] pierre-24 commented on #2202
Bon, l'erreur commence a se répandre, ça devient lourd, on l'as systématiquement, maintenant.

[2015-02-03 21:01] GerardPaligot commented on #2202
Il y a des pistes à ce sujet ? Je tente de reproduire le bug en local, pas moyen ...

[2015-02-03 21:48] Situphen opened #2206 "Mettre à jour la page "A propos""
Cette page contient encore un lien vers Compass que l'on n'utilise plus. Il y a peut-être d'autres choses à modifier aussi.

[2015-02-03 21:57] Situphen commented on #2166
Du coup on ferme ?

[2015-02-03 21:58] Situphen commented on #2164
PR mergée donc à fermer !

[2015-02-03 21:59] Situphen commented on #2140
On ferme ici ?

[2015-02-03 22:12] SpaceFox commented on #2166
Ouais, je ferme et on rouvrira au besoin.

[2015-02-03 22:12] #2166 closed, assigned to nobody

[2015-02-03 22:12] #2164 closed, assigned to nobody

[2015-02-03 22:12] SpaceFox commented on #2140
A oui exact.

[2015-02-03 22:12] #2140 closed, assigned to nobody

[2015-02-03 22:33] SpaceFox commented on #2202
OK, donc :
- L'erreur ne semble survenir qu'avec MySQL
- C'est un problème de collision entre tests. Comment ça ? Comme ça :
1. `python manage.py test zds/utils` passe nickel. Pas de bol, c'est avec ça que j'ai développé.
2. `python manage.py test` pète...

Si quelqu'un a une idée, je prends. Moi je nage dans le mystère le plus complet.

[2015-02-03 22:35] SpaceFox commented on #2202
Réduisons le scope : `python manage.py test zds/mp zds/utils` pète aussi. C'est donc bien un problème de collision entre le module de MP et les tests de l'utilitaire qui utilise les MP.

~~Et si je mettais ces derniers tests dans le module de MP ? Est-ce que ça vous paraît correct ?~~

Edit : que ceux qui se posaient la question se rassurent : déplacer le module de tests ne change rien au fait que

[2015-02-03 23:15] SpaceFox commented on #2202
La piste la plus probable serait qu'il manque un bout de contexte et que ma source qui disait "sisi les templatetags se testent comme des méthodes normales" s'avérait fausse.

Cela dit, j'ai pas de solution pour ce soir donc ça attendra encore un peu.

Lorsqu'on met une trace dans la méthode, on voit qu'elle fonctionne comme prévu lorsqu'elle est appelée pendant les tests de vue des MP.

[2015-02-04 00:30] GerardPaligot commented on #2202
Le contexte ne semble pas être la solution finalement. J'ai mis à jour les [tests](https://github.com/GerardPaligot/zds-site/blob/dev/zds/utils/templatetags/tests/tests_interventions.py) par rapport à la [documentation](http://test-driven-django-development.readthedocs.org/en/latest/07-templatetags.html) et des exemples concrets [ici](https://github.com/django/django/blob/master/django/contrib/fla

[2015-02-04 07:42] SpaceFox commented on #2202
OK, ça commence à devenir mystique comme truc...

[2015-02-04 07:52] Eskimon commented on #814
Merci pour cette feature, c'est si pratique !

[2015-02-04 08:08] GerardPaligot commented on #2202
La solution de facilité temporaire serait d'inverser les modules dans la configuration de Travis mais c'est sale ...

[2015-02-04 08:36] GerardPaligot commented on #2202
Par le plus grand des hasards, est-ce que une base de données est créée pour chaque classe de tests (ce que je ne pense pas) ou une pour tous les tests ? Si c'est la seconde solution, serait-t-il possible que les utilisateurs utilisées dans tes tests @SpaceFox soient aussi utilisées dans le module des MPs et donc que tu ne maitrises pas totalement l'environnement dans lequel tu exécutes les tests

[2015-02-04 08:40] SpaceFox commented on #2202
J'y ai pensé. J'ai affiché les objets `Users.objects.all()` (et aussi les MP) dans le log lors de l'arrivée dans la méthode de test, et cette liste était bien vide.

[2015-02-04 08:46] GerardPaligot commented on #2202
Est-ce que tu as vérifié aussi que l'état de la base était correct après le setUp ? C'est-à-dire d'avoir bien 2 utilisateurs dans un MP et un message dans cette conversation (si je me souviens bien du test) ? Et ceci dans le cas où tu exécutes le test seul ou à la suite du module des MPs ?

[2015-02-04 08:49] SpaceFox commented on #2202
Non - et je ne sais pas faire ça autrement qu'à grand coups de débugger et de traces.

[2015-02-04 09:04] Situphen commented on #814
Content que ça te plaise ! ;D

[2015-02-04 09:14] GerardPaligot commented on #2202
Ca serait intéressant de savoir si l'état qu'on veut tester est bien correct à chaque fois parce que :
- Si l'état est correct dans toutes les situations, le bug est vraiment mystique et je m'avoue vaincu.
- Sinon, il y a forcément un lien avec les tests des MPs et/ou l'usage des factories (nous sommes pas à l'abri d'un bug là dedans aussi).

[2015-02-04 11:01] firm1 opened #2209 "Faute d'orthographe qui s'immisce"
Quand quelqu'un a réservé un tutoriel en validation et qu'on veut le retirer de la personne, on a le message suivant : "La validation de ce tutoriel est actuellement réservé par xxx . Êtes-vous certain**s** de vouloir le retirer ? "

Il ne devrait pas y avoir de "s" a certain.

[2015-02-04 13:01] DevHugo commented on #2209
Pour les motivés, c'est sur la ligne 439 du fichier templates/tutorial/tutorial/view.html.

[2015-02-04 13:11] SpaceFox commented on #2209
C'est fait, merci :)

[2015-02-04 13:28] firm1 commented on #2209
Bon je ré-ouvre désolé, mais je viens de remarquer que je n'ai pas cité toutes les erreurs de la phrase.

"La validation de ce tutoriel est actuellement réservé par xxx . Êtes-vous certains de vouloir le retirer ?"

Il y'avait le problème de "s" à certain, et il faut un "e" à la fin de "réservé"

[2015-02-04 15:18] DevHugo commented on #2209
Excuse, ma faute, j'ai pas vérifié.

[2015-02-04 18:20] #2209 closed, assigned to nobody

[2015-02-04 22:06] #2206 closed, assigned to gustavi

[2015-02-05 15:35] DevHugo opened #2217 "Impossible de se connecter à partir de Facebook"
Il est impossible de se connecter avec le réseau social de facebook. Une erreur apparait: « Application non configurée: Les développeurs de cette application ne l’ont pas correctement configurée pour se connecter à Facebook. »

Donc la variable, SOCIAL_AUTH_FACEBOOK_KEY dans le setting.py doit-être mal configuré ou le compte associé ne posséde pas les bonnes url de callback.

Sentry : [là](https:/

[2015-02-05 15:40] firm1 commented on #1679
Ceci est déjà fait.

[2015-02-05 15:40] #1679 closed, assigned to nobody

[2015-02-05 15:54] DevHugo commented on #2204
On enregistre pas l'email, donc c'est logique que ça bloque.

Pour Facebook, il suffit de rajouter une variable nommé SOCIAL_AUTH_FACEBOOK_SCOPE = ['email'] - [cf docs](http://psa.matiasaguirre.net/docs/backends/facebook.html).

Mais twitter ne fournit pas d'adresse email comme [ça](https://dev.twitter.com/faq#26).

Une idée pour régler le bogue rapidement pourrait de rédiger une page avec juste u

[2015-02-05 17:24] #2073 closed, assigned to nobody

[2015-02-05 19:25] SpaceFox opened #2219 "Progdupeu.pl a changé de nom de domaine et d'hébergement Git"
Comme on est un _fork_ de progdupeu.pl, on se retrouve avec quelques références cassées depuis [les récents changements sur progdupeu.pl](https://pdp.microjoe.org/forums/sujet/882/a-propos-des-problemes-recents-de-domaine)

La PR arrive.

[2015-02-05 23:54] SpaceFox opened #2222 "Amélioration des performances des forums"
Les forums (accueil, catégorie, forum lui-même) font des quantités délirantes de requête.

Je crains que la correction de tout ceci n'oblige pas mal de dénormalisation...

Liste non exhaustive :
- 1 requête par sujet suivi
- Accueil
  - 1 requête par forum pour en récupérer les infos
  - 1 requête par forum pour récupérer l'URL, entre autres du dernier message non lu
  - 1 requête par forum pour r

[2015-02-06 07:25] Eskimon opened #2223 "Un champ manquant durant la validation des articles"
Lorsqu'un article est réservé, dans la sidebar il manque le nom du valido comme on peut le voir sur la capture ci-dessous. A noter que ce bug n'est pas present sur les tutos.

![screenshot from 2015-02-06 08 21 13](https://cloud.githubusercontent.com/assets/761168/6075780/b130934a-add9-11e4-8cc7-e073a4f7ed2f.png)

[2015-02-06 08:23] Eskimon commented on #2199
Il faudrait rejouer ca sur les tutos/articles aussi : https://zestedesavoir.com/tutoriels/613/ajouter-des-sorties-numeriques-a-larduino-le-74hc595/

[2015-02-06 08:38] Situphen commented on #2199
On peut pas mettre un script dans `server/` qui supprime tous les caches avec des paramètres ? Je vous préviens déjà que je compte modifier la génération de certains éléments Markdown prochainement donc on aura encore besoin du script ! :D

[2015-02-06 09:50] firm1 commented on #2199
Mon script précédent ne peut pas marcher sur les tutos articles. Voici le script qui fonctionnerait bien.

Je n'ai pas d'outil de dev à dispo, dont je ne peux pas faire de PR, donc n'hésitez pas à la faire pour moi (il faudra cependant ajouter sa documentation). Le script sera utilisable avec une commande du style `python manage.py refresh_tutorials ids=672,152` et `python manage.py refresh_articl

[2015-02-06 16:47] #2196 closed, assigned to gustavi

[2015-02-06 17:00] AmarOk1412 commented on #2114
Yo. Je confirme le bug. Par contre il me semble vraiment random. Sur les forums l'affichage est encore pire des fois et quand je tente de reproduire le bug, je n'ai plus ce probleme :D
Navigateur: Firefox 35
OS: Android 4.1.2
Smartphone: Motorola Razr i
Écran: 4.5 pouces
![screenshot_2015-02-06-17-53-24](https://cloud.githubusercontent.com/assets/1888628/6083553/c1068f4a-ae29-11e4-95db-a7798bd7dc1

[2015-02-06 17:53] Axylium commented on #2114
Je confirme aussi le bug de mon côté sur la version IE d'un Windows Phone.

Par-contre comme le dit @AmarOk1412 c'est assez aléatoire. Une page peut s'afficher correctement, si je la recharge tout pête..

[2015-02-06 17:57] Situphen commented on #2114
Vous aviez ce problème avant ?

[2015-02-06 17:58] Axylium commented on #2114
Moi, non. Je l'ai depuis la v1.5.

-----Message d'origine-----
De : "Situphen" notifications@github.com
Envoyé : ‎06/‎02/‎2015 18:57
À : "zestedesavoir/zds-site" zds-site@noreply.github.com
Cc : "Flori@n.B"
Objet : Re: [zds-site] Le responsive cassé si je refuse les cookies (#2114)

Vous avez ce problème avant ?
—
Reply to this email directly or view it on GitHub.

[2015-02-06 18:50] #2176 closed, assigned to Eskimon

[2015-02-06 18:58] AmarOk1412 commented on #2114
1.5 aussi

[2015-02-06 19:18] ghost opened #2227 "Améliorer la documentation "Installation du backend sous Windows""
Bonjour,

Il faudrait amélioration [la documentation sous Windows](https://github.com/zestedesavoir/zds-site/blob/dev/doc/sphinx/source/install/backend-windows-install.rst), elle n'est pas assez précise.

Je trouves qu'il faudrait ajouter ces mentions :

Il est conseillé de lancer à chaque fois PowerShell en administrateur pour les étapes suivantes et choisissez un répertoire pour le zds par exemp

[2015-02-06 21:00] Situphen commented on #2227
@A-312 : Il y a déjà ma PR #2187 qui modifie les documentations. Pour éviter d'avoir des conflits, je propose que tu attendes le merge de ma PR pour faire la tienne ou que tu fasses une PR sur ma branche. ;)

[2015-02-07 00:34] SpaceFox opened #2229 "Remplacer caffeinehit/django-oauth2-provider"
Comme indiqué partout dans les docs, notre fournisseur d'authentification oauth2 sur l'API est caffeinehit/django-oauth2-provider.

Ce projet [n'est pas compatible avec Django 1.7](https://github.com/zestedesavoir/zds-site/pull/2167#issuecomment-71936587). Pire, son [dernier commit date du 18 mars 2014](https://github.com/caffeinehit/django-oauth2-provider/commit/6b5bc0d3ad706d2aaa47fa476f38406cdd

[2015-02-07 02:04] firm1 opened #2230 "L'autocompletion ne fonctionne plus"
Il n'est plus possible d'avoir l'autocomplétion sur la liste des membres quand on crée un message privé

[2015-02-07 02:07] firm1 opened #2231 "Plus de pagination dans la liste des membres"
Url incriminée :  http://beta.zestedesavoir.com/membres/

On ne voit que 100 membres inscrit, alors qu'il y'en a plus.

[2015-02-07 02:09] firm1 opened #2232 "Erreur 500 lorsque j'essaie de modifier mon profil"
Scenario :
- Je vais sur l'url : http://beta.zestedesavoir.com/membres/parametres/profil/
- Je modifie quelque chose (ma bio par exempe)
- J'enregistre
- J'ai une erreur 500

[2015-02-07 02:13] firm1 opened #2233 "Impossible de modifier son mot de passe"
Scenario.
- Je vais sur la page : http://beta.zestedesavoir.com/membres/parametres/compte/
- **le premier problème est que j'ai un message qui m'indique que certains champs sont obligatoire comme si j'avais soumis un formulaire**
- je modifie mon mot de passe
- je n'ai aucun messge d'erreur, mais en vrai **Le mot de passe est resté le meme**

[2015-02-07 02:15] firm1 opened #2234 "Impossible de modifier son adresse email"
Scenario :
- Je vais sur l'url : http://beta.zestedesavoir.com/membres/parametres/user/
- Je renseigne une autre adresse email
- Je clique sur "Enregistrer"
- J'ai une erreur 500

[2015-02-07 02:37] firm1 opened #2235 "Impossible de s'inscrire via l'API"
La commande executée est la suivante :

[code]

Le retour me donne :

[code]

[2015-02-07 04:51] poulp commented on #2235
Il te manque l'authentification :

[code]

[2015-02-07 07:55] firm1 commented on #2235
Ah ouais indeed

[2015-02-07 07:55] #2235 closed, assigned to nobody

[2015-02-07 08:05] gustavi commented on #2233
Bug assez étrange, ce formulaire n'a pas été modifié par la ZEP-17 (pour la partie « Ce champ est obligatoire »).

[2015-02-07 08:32] GerardPaligot commented on #2231
Sera corrigé avec https://github.com/zestedesavoir/zds-site/pull/2228

[2015-02-07 08:32] GerardPaligot commented on #2230
Sera corrigé avec https://github.com/zestedesavoir/zds-site/pull/2228

[2015-02-07 09:07] A-312 commented on #2227
Pour l'instant je n'ai pas réussi à installer sur Windows, donc la documentation ne sera pas modifié.

[2015-02-07 11:03] GerardPaligot commented on #2202
Je re-ouvre, la branche dev semble à nouveau cassé ...

Exemple : https://github.com/zestedesavoir/zds-site/pull/2236 et https://github.com/zestedesavoir/zds-site/pull/2238

[2015-02-07 11:27] Eskimon commented on #2114
Ca semble bien un souci de 1.5 puisque pour firm1 c'était sur la beta lors de la release et maintenant pour les deux VDD c'est sur la prod qui vient de passer en 1.5.

[2015-02-07 12:21] ghost opened #2239 "Question: Peut-on rencontrer un problème de sécurité si on ouvre le port du zds ?"
Bonjour,

Je voudrais savoir si le fait d'ouvrir le port du zds (8000) sous Windows, pour donner accès à la copie qu'on a en local à d'autres internautes, ne cause pas de problème de sécurité spécifique ?

A312.

[2015-02-07 12:38] Situphen opened #2240 "Etre informé des nouveaux messages quand on en écrit un"
Reporté par Vayel [dans les forums](http://zestedesavoir.com/forums/sujet/2251/zep-24-refonte-et-enrichissement-des-notifications/?page=1#p42697) :

[2015-02-07 12:46] Situphen commented on #2239
Si ce n'est que ta copie local, je ne vois pas pourquoi ça causerait des problèmes vu que le code source est ouvert ! ;)

[2015-02-07 12:47] #2239 closed, assigned to nobody

[2015-02-07 12:49] Situphen commented on #2114
Je pense que vous pouvez taguer ce ticket en "Régression".

@sandhose : Ça pourrait du faite qu'il y a plus de _media queries_ qu'avant, ce qui ferait "bugger" le navigateur ? Tu en penses quoi ?

[2015-02-07 14:55] #2179 closed, assigned to gustavi

[2015-02-07 14:58] SpaceFox commented on #2202
C'est pas les mêmes erreurs. Il faut rouvrir une issue et y mettre les nouveaux problèmes.

[2015-02-07 14:58] #2202 closed, assigned to SpaceFox

[2015-02-07 15:00] ghost commented on #2227
Je te laisse le rajouter à ta PR comme tu l'as mentionné sur IRC, c'est le plus simple.

[2015-02-07 15:11] Situphen commented on #2227
AMHA, le plus simple est que ce soit toi qui fasse les modifications quand ma PR sera mergée. Pourquoi ? Vu que tu es sur Windows ça te prendre beaucoup moins de temps qu'à moi !

[2015-02-07 15:24] SpaceFox commented on #2170
Et voilà, c'est mergé.

[2015-02-07 15:24] #2170 closed, assigned to nobody

[2015-02-07 15:42] poulp commented on #2170
Le build de la doc est cassé

[2015-02-07 15:51] GerardPaligot opened #2241 "La branche dev est cassée"
Nous avons la branche dev à nouveau cassée. Tous les tests passent mais, après ça, l'erreur suivante est afficher dans Travis :

[code]

Quelqu'un comprend le problème ?

[2015-02-07 16:01] SpaceFox commented on #2170
Oui, cf #2241

[2015-02-07 16:03] Situphen commented on #2170
@SpaceFox : je crois qu'il voulait dire que la doc ne s'est pas mise à jour sur http://zds-site.readthedocs.org

[2015-02-07 16:05] SpaceFox commented on #2170
Ah. Possible. Je sais pas, je n'ai pas la moindre idée de comment c'est fait.

[2015-02-07 16:13] ghost commented on #2168
Je prends.

[2015-02-07 16:20] ghost commented on #2178
J'ai corrigé le problème avec une class "selected".

[2015-02-07 16:20] poulp commented on #2241
Logiquement il faut enlever les espaces entre les `=` dans les arguments de la fonctions appelée, mais ce que je comprend pas c'est que flake8 ne m'alerte pas en local

[2015-02-07 16:30] ghost commented on #454
Je prends.

[2015-02-07 16:46] ghost commented on #2227
D'accord je le fais après que ta PR soit mergée.

[2015-02-07 16:47] Situphen commented on #2227
Elle a été mergée donc tu peux le faire dès maintenant ! ;)

[2015-02-07 17:20] Situphen commented on #2241
tu utilises bien la commande `tox -e flake8` ?

[2015-02-07 20:57] Axylium opened #2245 "Possible d'envoyer des messages vides en MP et sur les forums"
Via PG06 sur la bêta.

Et, effectivement c'est possible..

[2015-02-07 21:24] Axylium commented on #2245
Ce problème s'étend jusqu'au topics. On peut facilement créer un topic vide via l'ajout dans le titre de `$`.

[2015-02-07 21:28] SpaceFox opened #2246 "La doc ReadTheDocs ne builde plus"
La doc ReadTheDocs ne builde plus.

On a un log d'erreurs ici : https://readthedocs.org/builds/zds-site/2293784/

Personnellement je n'y comprends rien. Je soupçonne le fait qu'on ait déplacé notre répertoire de sources de la doc... sauf que je ne trouve nulle trace de paramètre permettant de changer ça dans ReadTheDocs.

En fait, je ne trouve nulle trace de paramètre tout court. Par exemple, j'ai

[2015-02-07 21:38] poulp commented on #2246
Dans le menu admin normalement on peut choisir les version à mettre à disposition (latest, master (branches), 1.4, 1.5 (tag) etc.) et toujours dans le même menu, si le dossier doc a bougé, il faut faire pointer vers le fichier `conf.py`

[2015-02-07 21:52] SpaceFox opened #2247 "Pourquoi tox et comment ça marche ?"
Quelqu'un m'explique c'est quoi cette daube de `tox` et ce que ça fout dans notre projet ?

Si j'en crois le commentaire initial de la PR #2138 :

Première question : comment se fait-il que ces commandes ne soient pas documentées ?

Aujourd'hui, sur une branche `dev` à jour :
- `tox -e flake8` ne fonctionne pas
- `tox -e back` est inutilisable parce que s'amuse à réinstaller toutes les dépendances

[2015-02-07 21:54] SpaceFox commented on #2246
Alors je ne sais pas où est ce menu admin. Soit je ne l'ai pas dans l'interface de readthedocs, soit il est ailleurs.

[2015-02-07 21:57] poulp commented on #2246
![readoc](https://cloud.githubusercontent.com/assets/819246/6094114/a7b52670-af1c-11e4-81b0-985570c49bdb.png)

[2015-02-07 21:58] SpaceFox commented on #2246
C'est bien ce que je dis : je n'ai pas ce menu.

[2015-02-07 22:00] poulp commented on #2246
Il faut être identifié et proprio du dépôt

[2015-02-07 22:01] SpaceFox commented on #2246
En fait, je ne comprends rien à l'interface de cet outils (ceux qui l'ont conçue devraient prendre des cours d'ergonomie, c'est une catastrophe).

Une fois un compte créé, je peux aller sur le projet de ZdS. Je peux faire certaines actions, comme relancer des builds. Par contre, je ne peux rien faire côté gestion, même pas le mettre en bookmark - alors en demander la propriété...

[2015-02-07 22:06] poulp commented on #2246
Ben normalement il doit y avoir une personne admin ( celle qui a crée le compte sur readthedocs, qui est ce ? ) qui a accès à la gestion, elle peut aussi ajouter des personnes avec les même droits.

[2015-02-07 22:07] SpaceFox commented on #2247
PS : en quoi c'est problématique ? Aujourd'hui Travis ne passe plus à cause de bugs incompréhensibles, cf https://github.com/zestedesavoir/zds-site/issues/2241, et ni @gustavi ni moi ne pouvons reproduire le problème en local... Autrement dit, ça bloque tous les merge.

[2015-02-07 22:07] Situphen commented on #2246
Normalement il devrait y avoir un compte admin du projet, non ? Il faudrait demander à nohar ou @devock s'ils savent.

[2015-02-07 22:07] SpaceFox commented on #2246
Pas la moindre idée. On peut savoir ça sans faire une enquête ?

[2015-02-07 22:11] poulp commented on #2246
Sur la page d'acceuil du projet : Owners -> zestedesavoir
Voila j'imagine qu'il faudra une enquête ^^

[2015-02-07 22:12] SpaceFox commented on #2246
C'est donc la 2ème fois ce soir que je regrette de dépendre d'un outil externe...

[2015-02-07 22:19] Situphen commented on #2245
Le message d'exemple de PG06 n'est pas vide, il contient un `<hr/>`, c'est-à-dire un barre de séparation.

De toute façon, c'est utopique que penser que ZdS peut analyser le message et voir s'il contient vraiment un message ou juste du code HTML. Si jamais un message comme ça est trouvé, on le signale et les modérateurs font leur boulot !

[2015-02-07 22:21] Axylium commented on #2245
Ce `<hr />` est automatiquement rajouté. J'ai testé moi-même ce bug avec un message vide.

Oui mais bon, si on pourrait éviter d'avoir une faille qui permettrait à des p'tits malins de faire les fifous, ça serait cool. :) Au-moins ce bug est connu et l'issue qui va avec, créée.

[2015-02-07 22:56] #2241 closed, assigned to SpaceFox

[2015-02-07 22:57] SpaceFox commented on #2241
C'est corrigé, mais je ne sais toujours pas pourquoi du code vieux de presque 1 an pète seulement maintenant...

[2015-02-07 23:01] SpaceFox commented on #2230
Devrait être OK, mais j'attends quand même le test en QA avec un vrai environnement pour fermer ici.

[2015-02-07 23:01] SpaceFox commented on #2231
Devrait être OK, mais j'attends quand même le test en QA avec un vrai environnement pour fermer ici.

[2015-02-07 23:01] GerardPaligot commented on #2241
Technique ninja ça. Attendre pour devenir invisible et attaquer quand on s'y attend le moins.

[2015-02-07 23:08] A-312 commented on #454
Je vais continuer à améliorer cette fonctionnalité :
- Prendre en compte la position du caret dans le textarea.
- Il manque plus que de parser les tableaux en markdown.
- Ajouter des tests.
- Lors d'un coller, prendre en compte la mise en forme (event paste) pour avoir un format markdown directement.

PS : J'ai oublié de vérifier le "endContainer" (position de fin de la selection).

[2015-02-07 23:30] SpaceFox commented on #1724
Solution fonctionnelle et mergée, je ferme.

[2015-02-07 23:30] #1724 closed, assigned to gustavi

[2015-02-07 23:53] SpaceFox opened #2249 "Rendre les messages d'erreurs moins agressifs"
Aujourd'hui, les messages d'erreur suivants sont affichés dans un orange très agressif :
- Utilisateur non connecté qui ne peut donc pas répondre dans un forum
- Utilisateur seul dans un MP
- Message anti-flood

Je propose de rendre ces messages moins agressifs :
- Utilisateur non connecté : message vert de l'information
- Utilisateur seul dans un MP : message vert de l'information
- Message anti-

[2015-02-08 00:40] #2219 closed, assigned to SpaceFox

[2015-02-08 00:47] #2229 closed, assigned to nobody

[2015-02-08 01:10] #2232 closed, assigned to gustavi

[2015-02-08 01:10] #2233 closed, assigned to gustavi

[2015-02-08 01:10] #2234 closed, assigned to GerardPaligot

[2015-02-08 01:32] SpaceFox commented on #2247
Allez, et encore une... je me retrouve avec des comportements différents en local et sur Travis.

En local, sur [ce commit](https://github.com/zestedesavoir/zds-site/commit/4b5b7dbb0a9d898c372b7fb378612913e74789c0), les tests passent.

Sur Travis, j'ai une erreur que je ne pige pas : https://travis-ci.org/zestedesavoir/zds-site/jobs/49908422

Je fais quoi ? Je dois absolument passer 1/2h et bouffe

[2015-02-08 08:47] #2249 closed, assigned to SpaceFox

[2015-02-08 09:17] pierre-24 commented on #2246
C'est @firm1 qui l'as créé. Et de base, c'est plutôt fiable. De base ...

[2015-02-08 09:25] ghost opened #2253 ""gulp watch" crash si il y a une erreur javascript"
Bonjour,

Lorsque qu'on utilise gulp watch, et que notre code javascript possède une erreur (par exemple une paranthèse non fermé), gulp plante.

[2015-02-08 09:37] poulp opened #2254 "Test qui ne passe pas en local"
[code]

J'ai ce test qui ne passe pas en local, quelqu'un aurait rencontré le même problème ?

Pour infos je fait passer les tests avec sqlite.

[2015-02-08 09:39] gustavi commented on #2254
J'ai corrigé ça normalement dans #2252, à confirmer.

[2015-02-08 09:44] poulp commented on #2254
Nop l'erreur persiste.

[2015-02-08 10:14] gustavi commented on #2254
Je n'ai pas cette erreur. Tu peux essayer avec un env propre ?

[2015-02-08 10:31] #2253 closed, assigned to nobody

[2015-02-08 11:15] sandhose commented on #2240
Pour faire une implémentation pas trop dégueu, il faut attendre l'API forum, qui permettrait à priori de récupérer les messages dans un thread ; ça n'a rien à voir avec les notifications

[2015-02-08 11:16] ghost opened #2256 "Problème d'alignement avec le markdown"
Bonjour,

Il y a un problème d'alignement, lorsque deux centrages sont séparés par un alignement à droite.

[code]

On obtient ceci :

center

right ->

left

-> center
</div>

[2015-02-08 11:38] Situphen commented on #2240
Je suis du même avis.

[2015-02-08 11:45] Axylium commented on #2256
Cette issue aurait plus sa place au sein de: [zestedesavoir/Python-ZMarkdown](https://github.com/zestedesavoir/Python-ZMarkdown)

[2015-02-08 11:58] ghost commented on #2256
Je ne connaissais pas merci

[2015-02-08 11:58] #2256 closed, assigned to nobody

[2015-02-08 12:00] Eskimon commented on #2223
C'est corrigé !

[2015-02-08 12:00] #2223 closed, assigned to nobody

[2015-02-08 12:42] ghost commented on #454
Deux exemples de rendu :

http://www.mergely.com/Uv0yk4Wf/
http://www.mergely.com/i4n4chlX/

[2015-02-08 12:49] SpaceFox commented on #2240
Attendons l'API forum, c'est pas pressé.

[2015-02-08 14:59] Situphen commented on #2168
Corrigé par #2226 donc à fermer. Il faut aussi fermer #2244 qui n'est plus utile.

[2015-02-08 15:06] Situphen commented on #2030
A fermer car réglé par #2226 !

[2015-02-08 15:26] #2168 closed, assigned to nobody

[2015-02-08 15:27] #2030 closed, assigned to nobody

[2015-02-08 17:46] SpaceFox commented on #2134
Corrigé et mergé --> Fermé.

[2015-02-08 18:00] SpaceFox commented on #2096
Corrigé et mergé.

[2015-02-08 18:00] #2096 closed, assigned to nobody

[2015-02-08 18:00] SpaceFox commented on #2097
Corrigé et fermé.

[2015-02-08 18:00] #2097 closed, assigned to nobody

[2015-02-08 18:02] ghost commented on #454
Commit x6 à cause d'un bug...

[2015-02-08 18:02] SpaceFox commented on #2068
Bon, on a réussi à publier des articles avec la v1.5, c'est donc que ce bug étrange est bel est bien corrigé. Je ferme.

[2015-02-08 18:02] #2068 closed, assigned to nobody

[2015-02-08 18:06] SpaceFox opened #2257 "Poser des limites d'utilisation à l'API"
Actuellement, l'API n'a aucune limite dans son utilisation (en terme de requêtes par secondes), ce qui peut être gênant avec des fonctionnalités comme, disons, la création de membres.

Il faut donc trouver une solution pour éviter qu'un petit malin n'explose le site via l'API.

Cf le topic pour les détails : https://zestedesavoir.com/forums/sujet/1365/zep-17-elaboration-de-lapi-des-membres/?page=1

[2015-02-08 18:48] GerardPaligot commented on #2230
L'autocompletion semble fonctionner mais ... enfin je vous laisse juger par vous-même :

![capture d ecran 2015-02-08 a 19 46 02](https://cloud.githubusercontent.com/assets/1913901/6097819/34b6bef4-afcb-11e4-915d-93d89de51053.png)

Ceci n'étant plus lié à du back, je retire le label "Back" en "Front".

[2015-02-08 19:02] SpaceFox commented on #2230
Uh ? Bizarre...

[2015-02-08 21:35] Situphen commented on #2254
L'erreur persiste comme @poulp chez moi !

[2015-02-08 22:10] GerardPaligot commented on #2231
J'avais mal compris le problème. J'avais juste lu le titre et comme il y avait un problème avec la pagination dans l'API, j'ai pensé que c'était le bug que tu remontais.

btw, j'ai fais une PR pour corriger le problème.

[2015-02-08 22:20] Chaoxys opened #2260 "Image PHP avec boucle infinie"
Salut,

Comme demandé, je fais un ticket ici.

Lorsqu'on inclut une image sous le format http://monsite.com/image.php (dans une réponse sur le forum par exemple) ou le script fait une boucle infinie, cela génère des appels venant du site d'où est appelée l'image en continu quand on charge le sujet sur ZdS. Un peu embêtant pour le lecteur. Je n'ai pas laissé l'exemple sur le site pour n'embêter per

[2015-02-08 22:48] poulp commented on #2254
Je viens d'essayer avec un environnement propre et toujours la même erreur.

[2015-02-08 22:49] #2231 closed, assigned to GerardPaligot

[2015-02-09 05:16] firm1 commented on #2246
Il y'a pas de secret. Deux choses se sont passés ici :
- La doc est passée de `doc/sphinx/source` à `doc/source` et donc readthedocs était un peu perdu
- [Cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/doc/source/conf.py#L18) (qui fait planter la compil de la doc) a été rajoutée.

J'ai revus les paramètres de readthedocs ( @SpaceFox je t'envoi les ids en effet ), mais il manque le

[2015-02-09 05:23] firm1 commented on #2247
Visiblement [le dernier merge sur la doc](https://github.com/zestedesavoir/zds-site/pull/2187) a écrasé la documentation que j'avais rajouté à ce sujet. J'imagine que si ça a été QA/mergé, c'est que ça convenait.

Pour le reste des erreurs, ça ressemble pas mal à un problème entre l'écran et le clavier :) . Il faudrait investiguer plus.

[2015-02-09 05:26] firm1 commented on #2245
Pour ce bug, la façon de faire assez propre serait de vérifier le formulaire à coup de [striptag](https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#striptags) sur le html.

[2015-02-09 05:45] firm1 commented on #2229
Je ne sais pas s'il faut réouvrir l'issue ou la rennomer, mais visiblement [la nouvelle bibliothèque](https://github.com/evonove/django-oauth-toolkit) n'est pas non plus compatible django 1.7 meme si elle a déjà plus de chance de passer dessus, ce n'est pas encore le cas.

Il y'a bien Zopieux [qui a tenté une PR](https://github.com/evonove/django-oauth-toolkit/pull/186) en ce sens, mais ça n'a pas

[2015-02-09 06:36] ghost commented on #2260
Je ne pense pas qu'on puisse faire quelques choses, c'est le navigateur qui est fautif.

[2015-02-09 06:38] ghost commented on #2054
Je prends.

[2015-02-09 07:05] ghost commented on #2066
Je prends.

[2015-02-09 07:06] pierre-24 commented on #2246
Ping @Situphen  ?

[2015-02-09 07:51] SpaceFox commented on #2247
Oui, la doc a rétabli les anciennes pratique pour le lancement de tests back... justement à cause de ce que j'indique ici ! [Parce que tox est inutilisable pour tester le back, vu que ça réinstalle tout](https://github.com/zestedesavoir/zds-site/pull/2187/files#r23900977).

D'autre part, pas de bol, je viens de vérifier : les seules commandes écrasées, c'est celles de lancement des tests back. Tou

[2015-02-09 07:56] SpaceFox commented on #2229
Je lis :

D'autre part, [la branche avec Django 1.7](https://github.com/zestedesavoir/zds-site/pull/1905) semble fonctionner.

La PR de Zopieux concerne des cas particulier : est-ce qu'on peut s'assurer que ça nous concerne ?

[2015-02-09 07:57] SpaceFox commented on #2054
Très honnêtement @A-312, je pense que n'importe lequel de 208 autres issues ouvertes est plus utile que celle-ci. Cf les chiffres un peu plus haut dans la conversation.

[2015-02-09 11:13] #2089 closed, assigned to SpaceFox

[2015-02-09 11:19] Eskimon commented on #1651
J'ai retrouve le membre, et je ne vois plus le souci... bref, je ferme !

[2015-02-09 11:20] ghost commented on #1194
Il faudrait rajouter quels raccourcis avec quels actions ?

[2015-02-09 11:23] Eskimon commented on #2047
Doublon de 1936 effectivement

[2015-02-09 11:23] #2047 closed, assigned to nobody

[2015-02-09 11:23] Situphen commented on #1194
- la touche "J" pour descendre de topic en topic
- la touche "K" pour monter de topic en topic

[2015-02-09 12:02] ghost commented on #736
Le code back est où ?

[2015-02-09 12:48] Eskimon commented on #736
planque au fin fond des versions... je regarde

[2015-02-09 12:52] Eskimon commented on #736
Voila, tout est la... https://github.com/zestedesavoir/zds-site/pull/580 (on constatera la difference de style avec les PR de l'epoque :D )

[2015-02-09 13:12] ghost commented on #1936
Il faudrait envisager de réécrire proprement cette fonction, ou en tout cas de la "nettoyer".

[2015-02-09 13:12] ghost commented on #796
Je pense que ça serait une bonne idée peut-être créer un sujet sur le forum ?

@sandhose Les variables globales sont peut-être des variables qui sont non déclarées ou mal déclarées.

[2015-02-09 13:39] firm1 opened #2266 "Actualiser le site fait disparaitre le message d'avertissement de la CNIL"
Si je vais pour la première fois sur le site, j'ai bien une barre qui me dit `Ce site utilise Google Analytics. En poursuivant votre navigation sur ce site, vous nous autorisez à déposer des cookies à des fins de mesure d'audience. Pour s'opposer à ce dépôt vous pouvez cliquer ici`.

Cependant, si je fais un _refresh_ de la page, le message disparait.

Sauf que je n'ai ni accepté, ni refusé d'être

[2015-02-09 13:43] SpaceFox commented on #2266
C'est le comportement voulu, il me semble documenté par la CNIL : si tu ne fais rien et que tu continues à naviguer, on considère que tu acceptes. Rafraîchir la page, c'est un comportement qui est assimilé pour des raisons techniques à "continuer à naviguer".

Après, c'est vrai que c'est pas ultra clair pour le visiteur... ça mériterait d'être amélioré, mais je ne pense pas que ce soit une priorit

[2015-02-09 14:20] ghost commented on #1477
Je prends.

[2015-02-09 14:48] ghost commented on #736
Merci, je prends.

[2015-02-09 18:39] firm1 opened #2268 "Erreur 500 lors de la recherche d'un sujet"
Url incriminée : `http://beta.zestedesavoir.com/forums/sujets/recherche/`

On ne devrait jamais avoir d'erreur 500

[2015-02-09 20:48] A-312 commented on #2268
Tu as oublié le paramètre :

http://beta.zestedesavoir.com/forums/sujets/recherche/?q=sujet

[2015-02-09 20:57] ghost commented on #2268
La page plante car il manque les paramètres.

Je m'en occupe.

[2015-02-09 21:15] A-312 commented on #2266
Je prends, je corrigerai ça demain.

[2015-02-09 21:43] ghost commented on #2266
Vu que cliquer sur le bouton "Ok" n'est pas demandé par la CNIL, je trouve que le code actuel fonctionne très bien.

[2015-02-09 21:59] ghost commented on #2230
Le _autocomplete.scss n'est pas include dans le main.scss.

Je prends.

[2015-02-09 23:26] ghost commented on #736
![Imgur](http://i.imgur.com/TzvvdOJ.png)

J'améliore ça comment ?

[2015-02-10 07:15] Eskimon commented on #736
Han, je souhaite élire A-312 comme "brute du debut de la semaine" avec toutes ses PR :D

Je me rappel plus comment c’était avant, mais voici deux choses qui me plairaient maintenant:
- "Sujets **résolu** similaire au votre"
- Mettre la liste sous le sous-titre, sinon ca perd une certaine "unité"

[2015-02-10 08:01] ghost commented on #1421
J'ai fais quelques maquettes d'un rendu possible :

![Imgur](http://i.imgur.com/TeA9860.png)

Différencier les post-its lu ou non lu ? (Limité à une semaine ?)
![Imgur](http://i.imgur.com/IXAmmug.png)

Cliquer sur le logo pour afficher/masquer les détails ?
![Imgur](http://i.imgur.com/yc02UyF.png)

[2015-02-10 08:30] gustavi commented on #1421
Surtout pas ! Il m'arrive de ne pas passer sur le forum pendant plus d'une semaine et j'aime bien suivre ce qu'il s'y passe.

[2015-02-10 08:37] GerardPaligot commented on #1421
Pour moi, le problème n'est pas forcément là où vous semblez le croire. Un sujet en post-it, c'est quoi ? C'est un sujet que nous voulons mettre en avant parce qu'il est intéressant, utile et/ou comporte des règles relatives au forum dans lequel il a été posté. Partant de là, il faut qu'il soit **visible** par les membres.

Cependant, je suis d'accord que les post-its dans la Dev Zone prennent tro

[2015-02-10 08:40] ghost commented on #1670
@firm1 est-ce que c'est encore présent ?

[2015-02-10 08:41] ghost commented on #1671
@firm1 est-ce que c'est encore présent ?

[2015-02-10 08:42] ghost commented on #1673
Bug d'actualité ?

[2015-02-10 08:44] ghost commented on #1687
Personnellement ça ne me choque pas, peut-être l'ajuster avec du JS ?

[2015-02-10 08:49] #1936 closed, assigned to nobody

[2015-02-10 08:51] ghost commented on #1716
Issue similaire à la #736 ?

[2015-02-10 08:55] ghost commented on #1755
Je prends suffit de faire correspondre "height" et "line-height".

[2015-02-10 08:56] SpaceFox commented on #2230
Pensez à attribuer l'issue à une version quand vous la fermez (sinon on va les oublier dans la liste des issues de la prochaine release).

[2015-02-10 08:57] ghost commented on #1893
Comment peut-on générer une erreur 500 en local, pour reproduire la même situation pour corriger ce problème ?

[2015-02-10 08:57] Eskimon commented on #1716
Yep doublon.

[2015-02-10 08:57] #1716 closed, assigned to nobody

[2015-02-10 08:59] ghost commented on #1925
Quel est la solution envisagée ? Remplacer le texte en trop par "..." ?

[2015-02-10 09:00] Eskimon commented on #1673
Chez moi ca marche bien sur Chrome/Ubuntu et Chrome/Android 4.4.4. Si qqun peut confirmer sur un autre navigateur on peut fermer.

[2015-02-10 09:02] gustavi commented on #1893
Je crois que c'est fixé ça ? PING @SpaceFox ?

[2015-02-10 09:04] Eskimon commented on #1893
Ici non ? https://github.com/zestedesavoir/zds-site/pull/2236

[2015-02-10 09:05] Eskimon commented on #1925
Ce serait frustrant quand on voit toutes la place disponible a droite...

[2015-02-10 09:07] SpaceFox commented on #1925
+1 Eskimon.

[2015-02-10 09:07] ghost commented on #2003
Facile à faire mais il faut choisir quels noms de variable utiliser, pour qu'ils soient claires et correspondent entre eux.

[2015-02-10 09:07] SpaceFox commented on #1893
Oui, en fait on a fait un doublon et on l'a corrigé. Donc ici c'est bon.

[2015-02-10 09:07] #1893 closed, assigned to nobody

[2015-02-10 09:13] firm1 commented on #1670
Ouaip.

![decale](https://cloud.githubusercontent.com/assets/6066015/6124397/6ddd1b9a-b10d-11e4-8d40-9be8b4095cdb.PNG)

[2015-02-10 09:17] SpaceFox commented on #1670
J'ai fini par comprendre : c'est parce que tu es dézoomé.

Ce n'est pas l'utilisation normale du front. Donc soit je ferme ici en mode "wontfix", soit je le laisse mais en évolution non prioritaire.

[2015-02-10 09:18] SpaceFox commented on #1670
PS : la prochaine fois que tu signales des bugs de design, vérifie que tu es bien à 100% d'affichage, ou alors indique le clairement dans l'issue.

[2015-02-10 09:22] ghost commented on #1421
Je trouve que certain sujet devrait être en post-it alors qu'ils ne le sont pas. Peut-être revoir l'assignement et la présentation des posts-it, dans un même sujet comme une FAQ.

[2015-02-10 09:24] SpaceFox commented on #1421
Le sujet est intéressant mais à débattre sur les forums. C'est de
l'organisation du site, pas du code.

Le 10 février 2015 10:22, A-312 notifications@github.com a écrit :

[2015-02-10 09:25] #2123 closed, assigned to gustavi

[2015-02-10 09:29] ghost commented on #736
Il faudrait tester en preprod le retour de solr.

Je profiterai de ma PR pour supprimer ce fichier :
- https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/find-solved-topics.js

[2015-02-10 09:35] A-312 commented on #1670
C'est quasiment impossible de faire un css compatible au zoom... Je pense qu'il faudrait fermer.

[2015-02-10 09:37] ghost commented on #1670
Ca doit être des petits détails qui ont une différence de quelques pixels ou dixièmes de pixel...

[2015-02-10 10:38] firm1 commented on #1670
Ah oui, je pensais l'avoir précisé dans le premier post. Je navigue sur ZdS toujours en dezoom 90%. Etant donné qu'on est sur des tailles de type em/rem, on devrait quand même avoir un bon affichage à 90%.

Du coup le marquer en evolution serait pas mal.

[2015-02-10 10:39] SpaceFox commented on #1670
Voilà.

[2015-02-10 10:59] #1477 closed, assigned to nobody

[2015-02-10 11:06] SpaceFox commented on #2246
@firm1 tu n'oublieras pas de m'envoyer les IDs :)

[2015-02-10 11:21] gustavi commented on #2268
@SpaceFox tu peux ajouter @A-312 au groupe des assignés ? Tout comme @Situphen

[2015-02-10 11:36] gustavi opened #2272 "Passer à Python 3"
Ce passage semble nécessaire pour beaucoup de choses. Cette issue à pour but de lister les applications externes qui ne sont pas encore compatibles ainsi que les problèmes éventuels.

Aussi pour qu'on ne se marche pieds et qu'on ne soit pas 36 à bosser chacun dans son coin.

Les discussions se font sur le forum : https://zestedesavoir.com/forums/sujet/2257/migration-python-3

Une liste de ce qui p

[2015-02-10 11:46] Eskimon commented on #2081
En fait je fais pas, j'ai pas trop de temps...

[2015-02-10 12:33] SpaceFox commented on #2272
Concernant le cas de supervisor :
- Soit on reste sur une version courante de Debian sur nos environnements, donc le plus simple c'est d'utiliser python3 pour le site et python2 pour supervisor. Sauf erreur de ma part, supervisor ne sert qu'à superviser et lancer des processus, qui peuvent être eux dans n'importe quel langage.
- Soit on mettra à jour vers une Debian 8, qui utilise systemd, donc su

[2015-02-10 12:35] SpaceFox commented on #2268
Invitations envoyées (je pensais que c'était fait depuis longtemps pour @Situphen !)

[2015-02-10 13:01] gustavi commented on #2272
Merci @SpaceFox de l'info. Je pense que migrer vers Debian 8 peut être une bonne chose sachant qu'en plus on va devoir refaire un venv.

[2015-02-10 14:28] Vayel opened #2274 "Les tags du tutoriel pour son sujet dans la Bêta-zone"
Pour plus de clarté dans la bêta-zone,il serait bien d'ajouter automatiquement au sujet associé à un tutoriel les tags de ce dernier.

[2015-02-10 15:12] gustavi opened #2275 "Incohérence sur le nombre de messages d'un membre"
Les 2 pages en questions : https://zestedesavoir.com/membres/voir/Iris13/ https://zestedesavoir.com/forums/messages/1927/.

On a 3 messages alors que aucun n'est affiché.

[2015-02-10 15:14] SpaceFox commented on #2275
Chez moi c'est cohérent. Je pense que c'est parce que les 3 messages en question sont modérés, et que donc tu ne peux pas les voir sans avoir les droits staff.

[2015-02-10 15:15] gustavi commented on #2275
Oui effectivement. Dans ce cas on doit changer le nombre de messages qu'un simple membre peut voir non ?

[2015-02-10 15:22] SpaceFox commented on #2275
Si ça ne nécessite pas des requêtes dans une boucle, oui :)

Au pire, il suffit de rajouter pour les non-staff un message du genre :
"des messages modérés peuvent ne pas apparaître dans cette liste" ou un
truc du genre.

Le 10 février 2015 16:15, Laville Augustin notifications@github.com a
écrit :

[2015-02-10 15:45] firm1 opened #2276 "Possible de se sélectionner pendant l'autocomplétion"
Il s'agit d'une regression certainement due à la ZEP17. Mais avant, lorsqu'on faisant de l'autocomplétion pour rechercher un membre en créant un MP, le membre lui même n'était pas proposé dans la liste. Ce qui est normal puisqu'on ne peut pas s'écrire à soit même.

On a donc une regression à ce niveau.

[2015-02-10 15:58] GerardPaligot commented on #2276
Notons que ce n'est pas une régression importante puisque le back effectuera après la vérification.

[2015-02-10 17:34] sandhose commented on #2272
Comme dit sur le forum, pour node-gyp, suffit de dire à npm où se trouve python2 via `npm config set python /path/to/executable/python2.7` ; comme dit, c'est à faire qu'une seule fois, et que dans le cas où python2 n'est pas l'exécutable par défaut

[2015-02-10 17:49] ghost opened #2277 "Bug sidebar qui ne fait pas toute la hauteur"
Bonjour,

Sur les navigateurs chromes (webkit), firefox, .... La sidebar ne fait pas toute la hauteur.

![Imgur](http://i.imgur.com/uHQayvz.png)

[2015-02-10 18:25] SpaceFox commented on #2277
C'est voulu non ?
Le 10 févr. 2015 18:49, "A-312" notifications@github.com a écrit :

[2015-02-10 18:26] ghost commented on #2277
Je ne pense pas, je laisse cette issue pour plus tard, il faudra surement utiliser la même méthode que la PR #2263.

[2015-02-10 18:30] ghost commented on #2276
Je m'en occupe.

[2015-02-10 18:37] SpaceFox commented on #2277
Vérifie avant de « corriger ». Un « bug » présent sous Chrome ET Firefox
que personne n'a déclaré n'est sans doute pas un bug…
Le 10 févr. 2015 19:26, "A-312" notifications@github.com a écrit :

[2015-02-10 18:48] ghost commented on #1925
Je n'avais pas fais attention, je prends.

[2015-02-10 19:19] SpaceFox commented on #2277
Peux-tu indiquer avec quelle version des navigateurs et du code tu reproduits ?

PS : OK, c'est sur la version en bêta. Essaie d'indiquer ça clairement dans l'issue, ça évitera d'y réfléchir :)

[2015-02-10 19:24] jcval opened #2280 "Bug affichage message"
Lorsque quelqu'un a posté pendant que l'on rédigeait, on a :

{% trans "Au moins un nouveau message a été posté dans la discussion pendant que vous rédigiez le votre" %}.

[2015-02-10 19:26] Eskimon commented on #2280
Ahah la cavalerie qui arrive trop tard :D

Déjà reporté : https://github.com/zestedesavoir/zds-site/issues/2176
et corrigé : https://github.com/zestedesavoir/zds-site/pull/2225

[2015-02-10 19:26] #2280 closed, assigned to nobody

[2015-02-10 19:27] SpaceFox commented on #2280
Déjà corrigé dans la #2195, mais merci quand même :)

[2015-02-10 19:27] SpaceFox commented on #2280
Combo !

[2015-02-10 19:28] Eskimon commented on #2280
Que dalle ! Je t'ai grillé un point c'est tout !

[2015-02-10 19:28] jcval commented on #2280
Bon, faut vraiment que j'apprenne à rechercher des informations sur internet...

[2015-02-10 19:29] Eskimon commented on #2280
cette perche... https://zestedesavoir.com/tutoriels/205/la-recherche-dinformations-sur-internet/

[2015-02-10 19:31] jcval commented on #2280
Tiens, c'est moi qui ai co-rédigé ce truc ? ;)

[2015-02-10 19:45] #2066 closed, assigned to nobody

[2015-02-10 19:56] SpaceFox commented on #2246
Quelqu'un peut vérifier sur le site si c'est OK maintenant ?

[2015-02-10 19:56] #2268 closed, assigned to nobody

[2015-02-10 20:52] ghost commented on #1925
![Imgur](http://i.imgur.com/oHnTclc.png)

Je n'ai pas réussi à faire mieux en css.

**EDIT :** Je vais devoir changer de méthode.

[2015-02-10 21:11] Situphen commented on #2246
C'est OK pour la version web et l'ePub. Je verrai si je peux faire quelque chose pour la version PDF !

**EDIT :** La version pdf échoue car il y a des caractères unicodes (├) dans la partie sur le design. D'après ce commentaires sur le dépôt de readthedocs https://github.com/rtfd/readthedocs.org/issues/416#issuecomment-61596994 il y aurait une solution.

[2015-02-10 21:13] Situphen commented on #1925
@A-312 : Tu peux utiliser du JS vu que le dropdown est déjà géré en JS ! ;)

[2015-02-10 21:17] poulp commented on #2246
Le build des anciennes versions ne marche pas, je sais pas si c'est important, mais à préciser.

[2015-02-11 07:32] ghost commented on #2000
Je prends.

[2015-02-11 08:55] ghost commented on #1973
Je prends.

[2015-02-11 09:03] ghost commented on #1973
Le problème vient de la PR : #2226. Qui a été partiellement réalisé.

[2015-02-11 09:26] ghost commented on #1973
J'ai corrigé le problème pour :
- Marquer comme résolu
- Suivre ce sujet
- Être notifié par courriel

Pas besoin d'être sur mobile, suffit de diminuer la largeur de la page.

[2015-02-11 10:11] A-312 commented on #1958
Je prends.

[2015-02-11 10:21] A-312 commented on #2106
Je prends.

[2015-02-11 10:29] ghost commented on #2106
Ca semble être un problème de back. La vue  n'a pas toutes les variables (authors.all).
- http://127.0.0.1:8000/articles/historique/2/article-unity-3d/ - fonctionne pas
- http://127.0.0.1:8000/articles/off/2/article-unity-3d/ - fonctionne

[2015-02-11 10:33] ghost commented on #1958
Finalement je ne prend pas il faut solr pour tester.

[2015-02-11 13:10] GerardPaligot opened #2284 "Message non lu non notifié"
Actuellement en prod, lorsqu'on veut marquer un sujet comme non lu avec un message qui n'est pas le dernier du sujet, la notification n'est pas rajoutée dans mon centre de notifications.

C'est sans doute du "Back" mais c'est à vérifier.

[2015-02-11 13:21] poulp commented on #2284
De mon côté ça fonctionne, c'est un sujet en particulier ou sur n'importe lequel ?

[2015-02-11 13:28] GerardPaligot commented on #2284
Effectivement, précision : Quand on marque le premier message d'un sujet comme non lu, aucune notification.

[2015-02-11 13:34] poulp commented on #2284
Ah d'accord, mais il me semble que c'est voulu, si on marque le premier message d'un sujet non lu c'est tout le sujet qui est non lu, et un sujet non lu n’emmène pas de notifications. Enfin à voir avec ceux qui ont développé le module.

[2015-02-11 13:36] SpaceFox commented on #2284
Je pense que @poulp a la bonne explication.

Une solution serait alors, quand on clique sur le bouton "message non lu" d'un 1er message, de marque ce message en "non lu" **et** de marquer le sujet comme suivi. Ainsi, il apparaîtrait dans les notifications.

[2015-02-11 13:41] GerardPaligot commented on #2284
J'aime cette solution parce qu'en cliquant sur "Non lu", je m'attendais à avoir le sujet dans mes notifications (premier message ou non).

[2015-02-11 15:38] SpaceFox commented on #2246
OK. J'avais activé les versions anciennes surtout "pour faire bien", je dégagerai toutes celles qui foirent.

@Situphen j'attends ton retour pour fermer ici.

[2015-02-11 17:14] #2276 closed, assigned to nobody

[2015-02-11 17:25] gustavi commented on #2260
Je ferme ici car ce n'est pas une vraie issue.

[2015-02-11 17:25] #2260 closed, assigned to nobody

[2015-02-11 17:28] firm1 opened #2286 "URL pour lister les membres ou les MPs via l'API absente de la doc"
Url : http://beta.zestedesavoir.com/api/

On retrouve l'ensemble des urls de l'API sauf celle qui permet de lister tous les membres a savoir http://beta.zestedesavoir.com/membres/

[2015-02-11 17:29] SpaceFox commented on #2286
C'est un problème d'infra : l'URL est bien présente en dev mais pas sur la version déployée en bêta... si quelqu'un a la moindre idée de ce qui peut être la cause de ceci, je prends. Parce que personnellement je sèche.

(PS : pour une fois que _j'ajoute_ le tag "infra" ^^ )

[2015-02-11 17:44] firm1 opened #2287 "Problème de taille entre les boutons connexion et inscription sur mobile"
Navigateur firefox.
Os : Android
Smartphone : One plus

![tmp_29984-screenshot_2015-02-11-18-39-02-1640495332](https://cloud.githubusercontent.com/assets/6066015/6152482/d5545e26-b21d-11e4-923c-c3edbd60b458.png)

[2015-02-11 18:04] ghost commented on #2052
C'est le back qui envois "Licence".

[2015-02-11 18:11] firm1 opened #2288 "Cliquer sur la banniere de désactivation de Google analytics ne fait pas partir la zone bleu"
Navigateur : Chrome 39
Os : Android

Quand je clique sur "OK" (cf. Screen) rien ne se passe. Je suis obligé de rafraîchir pour que la zone bleue disparaisse.

![tmp_29984-screenshot_2015-02-11-19-03-46809985689](https://cloud.githubusercontent.com/assets/6066015/6152985/7caafe98-b221-11e4-9c77-c7a3665f3aef.png)

[2015-02-11 18:18] firm1 opened #2289 "Problème d'affichage de "suivant" dans l'aide aux auteurs sur mobile"
Navigateur : Chrome 37
Os : Android

![screenshot_2015-02-11-19-16-11](https://cloud.githubusercontent.com/assets/6066015/6153125/afbfc858-b222-11e4-971f-76892e4a9035.png)

[2015-02-11 18:21] ghost commented on #661
Fonctionnalité non intégré au front (Juste cette ligne : https://github.com/zestedesavoir/zds-site/blob/93abd4894706145228675ca9887e8eb230fd788f/templates/base.html#L167).

[2015-02-11 18:25] Eskimon commented on #2000
Laissons ouvert il reste **prévisualisation du latex** a faire dans ce ticket

[2015-02-11 18:34] SpaceFox commented on #661
On notera le nom particulièrement ambigu du paramètre d'ailleurs : il est
vrai quand c'est hover ou quand c'est click ?

2015-02-11 19:21 GMT+01:00 A-312 notifications@github.com:

[2015-02-11 19:02] ghost commented on #2287
Le problème se situe ici : https://github.com/zestedesavoir/zds-site/blob/3eedb9f9a855107bbde8f8a2fdd09473a8c19b41/assets/scss/components/_alert-box.scss#L90

Elle apparait suite à la réoganisation du CSS par shandhose (#2057).
Avant c'était cette règle qui s'appliqué : https://github.com/zestedesavoir/zds-site/blob/3eedb9f9a855107bbde8f8a2fdd09473a8c19b41/assets/scss/base/_forms.scss#L117

[2015-02-11 19:08] ghost commented on #2289
Pas sûr que ça soit facile, il faut trouver une solution qui fonctionne.

A partir d'une largeur de 360 c'est problèmatique : 360x640 et 320x480. Peut-être tronquer les mots.

![Imgur](http://i.imgur.com/WxnCy0G.png) ![Imgur](http://i.imgur.com/AHWoRPe.png)

[2015-02-11 22:16] gustavi commented on #2289
Je pense qu'on peux même supprimer les mots à parti d'un certain taille. J'avais également constaté ce problème sur mon ZTE Open C.

[2015-02-11 22:30] Fulbert commented on #2287
![sans titre](https://cloud.githubusercontent.com/assets/4991264/6157952/86469696-b1fa-11e4-986b-3f47830dd95f.png)

Problème presque similaire sur desktop.

[2015-02-11 23:14] Situphen commented on #2289
Je plussoie @gustavi : le mieux est de tronquer les mots ; les flèches sont assez compréhensibles !

[2015-02-12 09:46] firm1 opened #2293 "Problème d'alignement dans les filtres du besoin de l'aide aux auteurs"
url : http://beta.zestedesavoir.com/tutoriels/aides/

On voit bien dans la capture que "Annuler le filtre" est décalé par rapport aux autres

Navigateur : Firefox
OS : Windows

![besoin-aligned](https://cloud.githubusercontent.com/assets/6066015/6164964/3ee8297c-b2a4-11e4-8a6b-a0ab6dbeaf46.PNG)

[2015-02-12 09:53] firm1 opened #2294 "API : paramètres pour le ban mal nommés"
Lorsqu'on regarde la doc de l'API, et plus précisément l'appel POST sur `/api/membres/{pk}/ban/`, on voit que l'url accepte en POST les paramètres `ls-jrs` et `ls-text` (cf capture ci-dessous).

Ces paramètres sont mal adaptés car non seulement ce sont les paramètres utilisés pour `/api/membres/{pk}/lecture-seule/` , mais on s'attendrait plutôt à `ban-jrs` et `ban-text`.

Je n'ai pas regardé plus

[2015-02-12 09:59] GerardPaligot commented on #2294
C'est dans la documentation.

[2015-02-12 10:10] firm1 opened #2295 "le détail du membre renvoyé par l'API est incohérent avec celui renvoyé par le site"
# Résultat de l'API
## membre dont l'id est 957

Il s'agit du membre "anonyme"

![decalage-1](https://cloud.githubusercontent.com/assets/6066015/6165325/4f981586-b2a7-11e4-8135-1809482a77bb.PNG)
## membre dont l'id est 958

Il s'agit du membre "Sebajuste"

![decalage-2](https://cloud.githubusercontent.com/assets/6066015/6165327/4f9f9c70-b2a7-11e4-977f-c33e50582a6e.PNG)
# Résultat du site
## membre

[2015-02-12 10:21] firm1 opened #2296 "L'url de l'avatar renvoyée par l'API est souvent relative, souvent absolue"
L'API fournit pour l'url de l'avatar soit une url absolue, soit une url relative, c'est une mauvaise pratique.

Soit on fournit une url absolue, soit on fournit une url relative. Ce n'est pas au client de l'API de deviner les règles pour savoir quand rajouter le nom de domaine du serveur.

Capture d'écran d'un rendu de l'API avec url relative.

![signature](https://cloud.githubusercontent.com/asse

[2015-02-12 10:21] GerardPaligot commented on #2295
L'incohérence commence à apparaitre à partir de `http://beta.zestedesavoir.com/forums/sujets/membre/757/` qui correspond à une 404 sur le site mais à captain28 dans l'API.

Je me demande si c'est pas une incohérence dans les données de la bêta.

[2015-02-12 10:23] SpaceFox commented on #2295
Je ne comprends pas comment c'est possible d'avoir une incohérence alors
qu'on est sensé récupérer les données par ID.

Le 12 février 2015 11:21, Gérard Paligot notifications@github.com a écrit
:

[2015-02-12 10:24] GerardPaligot commented on #2296
Elle ne fait que renvoyer ce qui est sauvegardé en base. La mauvaise pratique pourrait donc se situer dans la gestion de l'avatar dans le modèle ?

[2015-02-12 10:26] GerardPaligot commented on #2295
@SpaceFox Ca m'échappe aussi. Je ne sais pas pour la page précisée par @firm1 mais je suis sûr à 100% que l'API se base sur la pk du `Profile` pour renvoyer un utilisateur. (https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/api/serializers.py#L60)

[2015-02-12 10:31] firm1 opened #2297 "L'API renvoit du html pour certaines 404 au lieu du json"
Voici une url dont la 404 renvoyée est normale (c'est à dire du json avec une 404) : `http://beta.zestedesavoir.com/api/membres/3/`

Voici une url dont la 404 renvoyée n'est pas bonne : `http://beta.zestedesavoir.com/api/membres/c/`.

Dans la deuxième url, on a toute la partie html du site. Ce n'est pas un comportement normal pour une API.

[2015-02-12 10:32] GerardPaligot commented on #2295
Faut pas chercher plus loin : https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/views.py#L970

[2015-02-12 10:44] firm1 opened #2298 "L'autocomplétion ne marche pas pour certains membres particuliers"
Je suis allé voir le profil de [ce monsieur](http://beta.zestedesavoir.com/membres/voir/&amp;/) au pseudo très interessant : `&amp;`.

Je voulais lui écrire un MP. J'ai cliqué sur "Envoyer un message privé", mais je ne le vois pas dans la liste des participants. Et là je tente de commencer à saisir son pseudo, mais l'autocomplétion ne me renvoit rien qui correspond à son pseudo.

Le pauvre n'a don

[2015-02-12 10:48] Eskimon commented on #2298
Quand on regarde dans la sidebar, on peut penser qu'il est banni et que le badge bug (autre ticket a rouvrir). S'il n'etait pas banni ca marcherait ?

[2015-02-12 10:49] firm1 commented on #2298
Ah mais en fait il n'était pas actif.

Je l'ai activé, et toujours rien.

[2015-02-12 10:52] Eskimon commented on #2298
Yep je confirme tout cela...apparemment c'est le `&` qui gêne (je verrais bien ca du cote de la bdd qui filtre mal)...

[2015-02-12 10:53] Eskimon commented on #1651
En fait j'ai trouve ce qui pose probleme, ce sont les membres pas encore active... Dans la sidebar on les voit comme banni+LS alors qu'ils sont simplement pas active...

[2015-02-12 10:53] Eskimon commented on #1651
Je vais faire un nouveau ticket pour ca...

[2015-02-12 10:53] #1651 closed, assigned to nobody

[2015-02-12 10:54] firm1 opened #2299 "Il est possible d'envoyer un MP a un membre qui n'a pas encore activé son compte"
Le membre est question : `http://beta.zestedesavoir.com/membres/voir/asilajan/`

Son compte n'est pas activé, mais je peux quand même lui envoyer un message.

[2015-02-12 10:55] Eskimon opened #2300 "Un membre non activé n'a pas de badge et une sidebar fausse"
Un profil qui n'a pas été active (pas de clique sur le lien d'activation) ne possède pas de badge avec cette information et a une sidebar erronée qui laisse penser que le membre est LS + Banni.

[2015-02-12 10:58] firm1 opened #2301 "Impossible de voir le profil de certains membres avec des caractères particuliers"
Le membre en question est `&#34;a`.

Scénario :
- je vais dans nouveau MP : http://beta.zestedesavoir.com/mp/nouveau/
- Je saisi le pseudo ci-dessus dans les participants
- Je rempli le autres colonnes obligatoires
- J'envoi le MP
- Je clique sur l'icone du membre qui apparait dans la liste des participants
- J'ai une 404 sur son profil.

[2015-02-12 11:02] Eskimon commented on #2301
Car l'URL est automatiquement transformée en `http://beta.zestedesavoir.com/membres/voir/&/#34;a/` (notez le slash qui s'est immiscé entre le `&` et le `#`)

[2015-02-12 11:17] Situphen commented on #2299
Franchement, est-ce réellement un problème qu'un membre puisse envoyer un message privé à un autre membre non activé ?

[2015-02-12 11:19] Situphen commented on #2301
Le problème c'est que l'on encode pas les liens qui s'affichent sur le site !

[2015-02-12 11:24] firm1 opened #2302 "L'url de l'API n'est pas la bonne"
Selon la spec l'API devrait être dispo en prod sur :  `api.zestedesavoir.com` et en beta sur `api.beta.zestedesavoir.com`.

L'url pour la version en bêta n'est pas fonctionnelle malgré [la création du nom de domaine](http://zestedesavoir.com/forums/sujet/2320/creer-un-sous-domaine-pour-lapi/?page=1#p41998).

Vu comme ça on pourrait penser que c'est un problème de pur infra (redirection) mais c'est

[2015-02-12 11:25] firm1 commented on #2299
Par principe un membre non activé n'est pas censé être joignable.

[2015-02-12 11:30] Eskimon commented on #2299
Yep,
- Le nom active se prendra un email pour un MP auquel il ne pourra pas repondre
- L'expediteur n'a aucune info que ce message restera sans reponse pour le moment

D'une maniere generale, les membres non active ne devrait pas etre visible/ajoutable sur aucun truc (co-auteur, MP...)

[2015-02-12 11:49] firm1 opened #2303 "L'affichage de L'Ajax sur les +1/-1 ne colle pas a la réalité"
## Avant

![tmp_8797-screenshot_2015-02-12-12-44-07661574998](https://cloud.githubusercontent.com/assets/6066015/6166905/4a6b8abc-b2b5-11e4-9bd6-1b2e17a72c46.png)
## Après clic sur +1

![tmp_8797-screenshot_2015-02-12-12-44-23-1640495332](https://cloud.githubusercontent.com/assets/6066015/6166910/4eaa075c-b2b5-11e4-8991-543becb41299.png)
## Après refresh de la page

![tmp_8797-screenshot_2015-02-1

[2015-02-12 11:51] ghost commented on #2301
Il suffit de de encoder la valeur avant de l'utiliser ?

J'esssayerai peut-être de faire cette issue.

[2015-02-12 11:52] A-312 commented on #2299
C'est plus une évolution qu'un bug.

[2015-02-12 11:55] ghost commented on #2293
C'est peut-être voulu ? (Le tag bug c'est un peu fort).

[2015-02-12 12:01] Eskimon commented on #2293
C'est un bug, mais on a pas vraiment de parade (a part jouer avec le CSS) car la methode d'affichage n'est pas la meme (l'un utilise un affichage via le CSS alors que l'autre c'est une "vrai" image qui est utilisee

[2015-02-12 12:02] ghost commented on #2303
Je prends.

[2015-02-12 12:02] GerardPaligot commented on #2293
J'avais notifié la chose lorsque c'était en développement et ça n'a pas changé depuis. Comment la QA a pu dire ok à ça ?

[2015-02-12 12:08] Eskimon commented on #2293
Parce que la QA avait déjà pas mal de chat a fouetter la dessus et on est passe a cote "parce que c'est franchement pas dramatique" ? Je suis d'accord qu'on aurait pu passer encore un peu de temps a peaufiner, mais a l’époque on avait 0 dev front pour nous filer un coup de main et des outils front qui n'en faisait qu'a leur tête, donc la ZEP serait encore reste en pause pour si peu.

[2015-02-12 12:30] Situphen commented on #2303
Ce bug a été résolu. Pour voir la barre verte s'afficher, il faut cliquer en-dehors du bouton !

**EDIT :** Je viens de tester, rajoutant un `$thumb.blur();` après https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/ajax-actions.js#L71 on n'a pas besoin de cliquer ailleurs (cette technique ne fonctionne que sur _desktop_ et pas sur mobile) !

[2015-02-12 12:57] firm1 commented on #2303
Idéalement ça devrait être visible dès le clic sur +1. Surtout que sur
mobile ce n'est pas vraiment une habitude de cliquet dans le vide.

Le jeu. 12 févr. 2015 13:30, Situphen <notifications@
<notifications@github.com>github.com notifications@github.com> a écrit :

[2015-02-12 13:06] ghost commented on #2303
Je crois que c'est le comportement voulu, que quand le bouton à le focus il ne soit pas souligné (clique ailleur sur la page, il perd le focus, et devient sourligné).

Je pense que c'est le comportement voulu.

[2015-02-12 13:09] firm1 commented on #2303
C'est bien ce que je dis, sur mobile le réflexe n'est pas au clic. On clique en général sur un bouton particulier, mais pas dans le vide.

[2015-02-12 13:10] SpaceFox commented on #2299
Non pour le coup, je suis d'accord avec @firm1 : le comportement actuel n'a aucune logique, c'est donc un bug.

[2015-02-12 13:42] ghost commented on #2303
J'enlève le système de focus ?

[2015-02-12 13:45] firm1 commented on #2303
Si c'est possible d'enlever le focus juste après le clic, je pense que ça serait plus logique.

[2015-02-12 13:46] Situphen commented on #2303
Je propose plutôt qu'on laisse le bordereau de couleur au survol !

[2015-02-12 13:47] firm1 commented on #2303
Sur mobile le survol n'existe pas. Si ?

[2015-02-12 13:54] Situphen commented on #2303
Non il existe pas. J'aurais dû dire : "Je propose plutôt qu'on laisse le bordereau de couleur au survol **et au focus** !" Sur mobile, on utilise le focus pour "émuler" le hover.

---

~~@A-312 : J'ai [une branche de prête](https://github.com/Situphen/zds-site/compare/fix-2303) : je fais la PR ou tu veux la faire ?~~

[2015-02-12 13:55] firm1 opened #2304 "Libellé Administration réduit dans la sidebar"
Le libellé "Administration" de la sidebar est devenu "Admin" dans la visualisation d'un tutoriel en hors-ligne.

Le bug n'est pas présent en prod, mais en beta, donc il s'agit d'une régression.
## PROD

[Url](http://zestedesavoir.com/tutoriels/329/algorithmique-pour-lapprenti-programmeur/399/presentation-de-la-notion-de-complexite-algorithmique/2018/quest-ce-quun-algorithme/)

Screen :
![sidebar-1

[2015-02-12 14:32] ghost commented on #2293
![Imgur](http://i.imgur.com/rmwAswP.png)

Vous aimez comme ça ?

[2015-02-12 14:32] Eskimon commented on #2293
Nickel (sur mobile aussi ?)

[2015-02-12 14:33] firm1 opened #2305 "Il est possible d'envoyer un MP à l'auteur externe"
D'après la PR #1865 il dervait être impossible d'envoyer un MP au compte Auteur Externe et au compte anonyme.

Cependant, c'est possible en ce qui concerne le compte Auteur Externe. Comment faire ?

Scénario :
- Je vais sur un tutoriel rédigé par un auteur externe : [celui-ci par exemple](http://beta.zestedesavoir.com/tutoriels/489/le-tri-par-selection/)
- Je clique sur le bouton "Signaler une fau

[2015-02-12 14:33] firm1 commented on #2293
J'aime

[2015-02-12 14:34] SpaceFox commented on #2305
Pour moi, le vrai problème, c'est qu'on peut signaler une faute sur un tutoriels où il n'y aura personne pour corriger. Le MP n'étant qu'un effet de bord.

[2015-02-12 14:51] ghost commented on #2293
![capture d ecran 2015-02-12 a 15 51 08](https://cloud.githubusercontent.com/assets/10801383/6169608/00662570-b2cf-11e4-8e6a-04b3c9be9672.png)

Vu que l'image est plus petite ça donne l'impression que c'est plus grand, je peux réduire la hauteur :
![capture d ecran 2015-02-12 a 15 52 45](https://cloud.githubusercontent.com/assets/10801383/6169651/4f63aa80-b2cf-11e4-86be-eb4da8b106eb.png)

[2015-02-12 14:53] Eskimon commented on #2293
Je suis content :)

[2015-02-12 14:57] ghost commented on #2303
@Situphen Je te laisse faire je suis perdu.

[2015-02-12 15:03] firm1 commented on #2293
Moi aussi

[2015-02-12 15:08] GerardPaligot commented on #2293
Partout ailleurs, sur la version desktop, les icones ne sont pas plus à gauche ?

[2015-02-12 15:15] ghost commented on #2304
Réoganisation CSS foireuse. Je prends.

[2015-02-12 15:17] SpaceFox commented on #2304
Une réorganisation CSS peut changer un libellé ?!

[2015-02-12 15:18] ghost commented on #2304
@SpaceFox oui :

[code]

[2015-02-12 15:19] Situphen commented on #2303
Toi aussi ? :D En fait, j'ai une idée de comment faire. POC à venir dans la soirée !

[2015-02-12 15:20] SpaceFox commented on #2304
OK... je vais vomir et je reviens.

[2015-02-12 15:21] GerardPaligot commented on #2304
Un renard de l'espace qui vomit dans son casque, c'est pas un peu crade ? ^^

[2015-02-12 15:26] SpaceFox commented on #2304
J'enlève mon casque pour ce faire !

[2015-02-12 15:28] ghost commented on #2304
Un renard ça utilise quoi comme navigateur ? ^^"

[2015-02-12 15:28] firm1 commented on #2304
Comment tu réussit à respirer sans ton casque ? ^^

[2015-02-12 15:30] SpaceFox commented on #2304
Opera.

J'ai aussi un truc qu'on appelle un vaisseau spatial hein.

Et si on revenait au sujet ?

[2015-02-12 15:36] firm1 opened #2307 "La recherche ne marche ni pour les chapitres, ni pour les parties, ni pour les extraits d'un tutoriel"
Rechercher dans un chapitre, partie, ou extrait d'un tutoriel ne renvoi rien (cf. capture).

On est a mon avis sur une régression. C'est dommage quand on sait que la fonctionnalité est très mise en avant.

![search-bug](https://cloud.githubusercontent.com/assets/6066015/6170486/5787ff3a-b2d5-11e4-9925-1e7a3282bb30.PNG)

[2015-02-12 15:38] Eskimon commented on #2307
On est sur que solr tourne bien sur la preprod ? (j'approuve le mot clé de recherche :D )

[2015-02-12 15:41] firm1 commented on #2307
Aucun moyen de vérifier là tout de suite, mais étant donné que j'ai un résultat (dont le tuto Arduino) si je coche "tutoriel" dans la sidebar, je suppose que oui.

[2015-02-12 15:53] #2000 closed, assigned to nobody

[2015-02-12 15:53] SpaceFox commented on #2307
Est-ce que c'est pas un problème de données ? Peut-être qu'il n'y a tout
simplement pas le tuto arduino sur la préprod.

Le 12 février 2015 16:41, firm1 notifications@github.com a écrit :

[2015-02-12 15:54] Eskimon commented on #2000
Nickel, si je dis pas de betise on a un apercu completement fonctionnel maintenant :)

[2015-02-12 15:58] firm1 commented on #2134
Je ré-ouvre cette issue, car elle ne marche pas comme prévue.

Il y a bien toutes les catégories dans la [section des articles](http://beta.zestedesavoir.com/articles/), mais en cliquant sur les sous catégories, elles renvoient vers les tutoriels, et non vers les articles.

[2015-02-12 15:58] firm1 commented on #2307
[Normalement oui](http://beta.zestedesavoir.com/tutoriels/537/arduino-premiers-pas-en-informatique-embarquee/)

[2015-02-12 16:05] firm1 opened #2308 "Erreur 500 sur le diff d'un nouveau tutoriel"
Scénario :
- Je crée un mini-tuto
- Je vais dans l'historique
- Je clique sur l'unique lien de diff
- J'ai une erreur 500

Donc OK, le scénario est rare, mais on ne devrait pas avoir d'erreur 500.

[2015-02-12 16:23] firm1 opened #2309 "Aucune action possible dans une galerie depuis son mobile"
Dans une de mes galeries sur mobile je ne peux pas faire d'action (ajouter une image, supprimer une galerie, etc.) car elle n'existent pas dans la sidebar (cf. Screen)

![tmp_3065-screenshot_2015-02-12-17-18-38661574998](https://cloud.githubusercontent.com/assets/6066015/6171571/ce2174a4-b2db-11e4-8c3a-e8a232ecb771.png)

[2015-02-12 16:34] firm1 opened #2310 "Les cases a cocher ont un rendu étrange sur mobile"
Navigateur : Firefox
Os : Android
Smartphone : one Plus

![tmp_3065-screenshot_2015-02-12-17-32-24-132311335](https://cloud.githubusercontent.com/assets/6066015/6171799/588a4584-b2dd-11e4-879c-3be6f6f1810b.png)

[2015-02-12 17:01] ghost commented on #2307
Comment on peut installer solr en local ? (Où se passe la configuration ?)

[2015-02-12 17:03] firm1 opened #2311 "Galerie : Problème d'affichage des boutons radios"
En essayant d'ajouter des utilisateurs a une galerie sur mobile, j'ai un affichage étrange.

Navigateur : Firefox
Os : Android

![tmp_3065-screenshot_2015-02-12-17-59-541707345936](https://cloud.githubusercontent.com/assets/6066015/6172484/6c0fe466-b2e1-11e4-93d3-a9457d929910.png)

[2015-02-12 17:04] ghost commented on #2304
Erreur sur la syntaxe :

[code]

Au lieu de :

[code]

[2015-02-12 17:05] firm1 commented on #2307
Tout est la pour solr : http://zds-site.readthedocs.org/fr/latest/install/install-solr.html

[2015-02-12 17:20] Situphen commented on #2310
Je prends

[2015-02-12 17:20] Situphen commented on #2311
Je prends

[2015-02-12 17:26] ghost commented on #2311
@Situphen Peut-être en profiter pour régler aussi ce problème : https://github.com/zestedesavoir/zds-site/issues/1755 (toujours avec les boutons radios/checkbox).

En plus les checkbox ne semblent pas aligné dans le screen (sans parler de l'indentation).

[2015-02-12 17:28] Situphen commented on #2311
Je ne pense pas que ce ticket et #1755 ont quelque chose à voir en commun. Et puis, une PR pour un ticket, c'est la règle !

[2015-02-12 17:40] ghost commented on #2311
@Situphen Le code de radio n'est pas top, il faudrait normaliser ceci. Alors qu'il y a que 4 pages avec...

https://github.com/zestedesavoir/zds-site/search?l=html&q=checkbox&type=Code&utf8=%E2%9C%93

On arrive avec aucune règle commune, il faudrait peut-être normaliser ceci via une autre issue. Après cette issue peut toujours être fermé, pour laisser place à une issue plus générale, c'est qu'un d

[2015-02-12 18:03] Situphen commented on #2311
@A-312 : Je vois pas en quoi il est pas propre ! Mais si tu peux le rendre plus propre, fais une PR ;)

[2015-02-12 18:05] ghost commented on #2311
Instable #2273, pourtant le css que j'ai appliqué c'est ceux du profil.

Je te fais ce commentaire, car tu as l'intention de faire aussi la #2310, qui s'applique au checkbox.

[2015-02-12 18:06] Situphen commented on #2266
Du coup on fait quoi si l'utilisateur ne clique pas ? On considère qu'il accepte ou on continue d'affiche le bandeau ?

[2015-02-12 18:08] ghost commented on #2266
Pourquoi utiliser COOKIE EU ? Alors que le code interne fonctionne très bien ?

[2015-02-12 18:10] Situphen commented on #2266
@A-312 : Pour fixer #2058 sans avoir besoin de redévelopper quelque chose qui existe déjà, qui est propre, qui fonctionne bien et qui sera maintenu

[2015-02-12 18:11] ghost commented on #2266
Suffit de faire une meta et de l'ajouter dans le code ?

[2015-02-12 18:13] Situphen commented on #2266
@A-312 : Cookies EU Banner supporte Do Not Track et corrige quelques erreurs qu'il y a actuellement dans le code. https://zestedesavoir.com/forums/sujet/2301/amelioration-de-la-gestion-des-cookies/#p41133

[2015-02-12 18:15] Situphen commented on #2311
@A-312 : Corrige ces tickets si tu as la solution, je n'ai pas eu le temps de regarder encore !

[2015-02-12 18:17] ghost commented on #2266
`window.navigator.doNotTrack`

Ce n'est pas très dure... Des erreurs ? J'ai vérifié le fonctionnement de la bannière, et je ne vois pas le soucis.

[2015-02-12 18:23] Situphen commented on #2266
Je laisse @SpaceFox trancher sur l'intégration ou non de Cookies EU Banner.

[2015-02-12 18:24] ghost commented on #2266
Je suis le seul à être choqué d'utiliser une dépendance externe, alors que le code actuel fonctionne très bien, et necessite qu'un minuscule changement ?

Si les modifications des précédents particiapants n'ont pas de valeur...

[2015-02-12 18:42] Eskimon commented on #2266
Perso le fonctionnement actuel me va aussi (modulo  qu'on variabilise le code GA). On est dans les clous légalement, autant pas s’embêter.
D'autant plus que 0 utilisateur n'a émis de plainte à ce sujet.

[2015-02-12 18:45] Situphen commented on #2266
Tu n'es pas le seul, il y en a d'autres dans [ce sujet](https://zestedesavoir.com/forums/sujet/2301/amelioration-de-la-gestion-des-cookies).

Il fonctionne mais ne respecte pas toutes les règles de la CNIL.

Pour moi les changements à faire ne sont pas si petits que ça.

Elles ont de la valeur ! Les modifications du code font partie de la vie de l'open-source. Et puis, là c'est Alex-D qui a tout c

[2015-02-12 18:47] Eskimon commented on #2266
Quelles règles ne le sont pas ? Parce que dans mes souvenirs la CNIL c'est simple : "Si l'utilisateur ne clic pas alors il accepte".

[2015-02-12 18:50] Situphen commented on #2266
Source : https://zestedesavoir.com/forums/sujet/2301/amelioration-de-la-gestion-des-cookies/#p41133

[2015-02-12 18:54] Eskimon commented on #2266
Perso ca ca me va comme argument :)

[2015-02-12 19:13] SpaceFox commented on #2266
La "prise en compte" du DoNotTrack [n'est qu'une recommendation](http://www.cnil.fr/documentation/deliberations/deliberation/delib/300/) et non une obligation légale.

Le comportement de la page "En savoir plus" était assez curieusement celui du code source fourni par la CNIL à l'époque où on a implémenté ce truc. Par contre, la version actuelle a l'air plus au point. Peut-être que le plus simple

[2015-02-12 21:24] ghost commented on #736
Solr fonctionne bien sous windows, je finis ça se WE.

[2015-02-12 21:49] #2257 closed, assigned to nobody

[2015-02-12 21:55] GerardPaligot opened #2317 "Throttling partagé entre tous les utilisateurs"
Sur la release 1.6, actuellement sur la bêta, le throttling semble partagé entre tous les utilisateurs. Dès qu'un utilisateur arrive à la limite, tout le monde se mange des codes 429.

[2015-02-13 03:31] Fulbert opened #2319 "L'extrait d'un message masqué est affiché sur la page "Sujets créés par...""
Signalé lors de la QA de #2285, [ici](https://github.com/zestedesavoir/zds-site/pull/2285#issuecomment-73946128).

Lorsque qu'un message est masqué et qu'il est le premier message d'un sujet, alors son extrait est toujours disponible sur la page _Sujets créés par ..._. Cf. [ici](http://beta.zestedesavoir.com/forums/sujets/membre/328/) (premier lien).

C'est pas un gros problème, car à priori si le

[2015-02-13 07:33] firm1 opened #2320 "L'auto complétion ne fonctionne pas"
Sur la 1.6 RC1, l'auto complétion ne marche jamais.

[2015-02-13 08:20] GerardPaligot commented on #2320
C'est sans aucun doute lié au throttling (https://github.com/zestedesavoir/zds-site/issues/2317)

[2015-02-13 08:27] GerardPaligot commented on #2317
Il semble possible de forcer DRF à identifier un utilisateur par son IP :

Source:  [Documentation](http://www.django-rest-framework.org/api-guide/throttling/#how-clients-are-identified)

[2015-02-13 08:31] SpaceFox commented on #2317
Ce que je voudrais d'abord vérifier, c'est si Nginx envoie correctement les `X-Forwarderd-For` et `Remode-Addr` aux processus Django.

[2015-02-13 08:39] GerardPaligot commented on #2317
Bien, je te laisse vérifier ça. Par contre, je pourrais difficilement résoudre cette issue moi-même étant donné que le throttling ne fonctionne pas chez moi.

[2015-02-13 12:10] firm1 opened #2321 "Erreur 500 lors de l'édition d'un profil"
URL incriminée : http://beta.zestedesavoir.com/membres/parametres/mini_profil/1/

On ne devrait jamais obtenir une erreur 500.

[2015-02-13 12:25] Situphen commented on #2320
SI elle fonctionne lors de la création d'un message privé. Par contre, elle ne fonctionne pas lors de l'ajout d'un membre à un message privé, mais c'est un bug Front !

[2015-02-13 13:26] firm1 opened #2324 "Compteur de membres erroné dans la liste des membres"
Actuellement sur la 1.6 RC1 en allant sur le lien : http://beta.zestedesavoir.com/membres/

On voit que le nombre de membre est égal à 100 et pourtant il y'en a bien plus.

[2015-02-13 13:35] GerardPaligot commented on #2324
L'API n'est pas concerné ici.

[2015-02-13 13:41] firm1 opened #2325 "Le nom de l'association est manquant dans le mail de demande d'adhésion"
En testant l'adhesion à l'association, les membres du CA ont reçu ceci.

Il manque le nom de l'association après "adhérer à"

[2015-02-13 13:56] firm1 opened #2326 "Problème de typo dans la sanction de type lecture seule"
Quelques souci de typo.
- Le V en majuscule au milieu de la phrase
- "1 jour**s**" ne doit pas avoir de "s"
- Il manque un saut à la ligne entre cordialement et "Zeste de Savoir"

![typo-ls](https://cloud.githubusercontent.com/assets/6066015/6188302/25788940-b390-11e4-8526-385b5a99a293.PNG)

[2015-02-13 13:58] firm1 opened #2327 "Message d'autorisation d'écriture illogique"
Le texte du message ressemble à un message de sanction (cf. capture).

![typo-auto-ls](https://cloud.githubusercontent.com/assets/6066015/6188386/b3bf9ae0-b390-11e4-8e4d-f188c705928c.PNG)

[2015-02-13 14:08] firm1 opened #2328 "Un membre inscrit via les reseaux sociaux et banni peut encore se connecter au site"
Un membre qui s'est inscrit via les réseaux sociaux et banni peut toujours se connecter au site.

Il ne peut pas faire d'actions sur les forums, ni sur les tuto/articles, mais il peut encore envoyer des messages, ce qui ne devrait plus être le cas.

[2015-02-13 14:11] SpaceFox commented on #2327
Tiens je pensais qu'il avait été corrigé celui-ci. On doit déjà avoir un ticket du genre qui traine.

[2015-02-13 14:32] firm1 opened #2329 "Problème de cache dans les appels à l'API"
Scénario :
- Je me connecte en tant que firm1
- Je change mon username pour devenir firm2
- J'envoi un mp à un membre
- Je retourne encore changer mon username pour redevenir firm1
- Je vais dans une de mes galleries d'image
- Je choisi d'ajouter un utilisateur à ma gallerie
- Je commence à saisir "fir" et dans la liste des propositions j'ai "firm2" alors que ce username est censé ne plus exister

[2015-02-13 14:37] GerardPaligot commented on #2329
Sous-entendu, je fais un appel à l'API pour récupérer un membre via l'auto completion qui fait un appel à l'API et qui le met en cache, je suppose ?

Si c'est bien ça, le cache a été placé à 15 minutes sur l'API.

[2015-02-13 14:40] SpaceFox commented on #2329
Dans un monde idéal, changer le nom d'un utilisateur invalide les caches
qui contiennent cet utilisateur - et seulement eux.

Seulement, y'a moyen que ce soit tellement complexe à mettre en cache que
le cache de 15 minutes reste une meilleure solution.

Le 13 février 2015 15:37, Gérard Paligot notifications@github.com a écrit
:

[2015-02-13 14:43] firm1 commented on #2329
Je suppose que c'est à cause de ça, mais je n'étais pas sur à 100 %.

Par contre, on a un petit bout de doc qui donne les parametrages en terme de cache sur le serveur et ce que ça implique en gros ?

Parce que du coup je me demande si ça veut dire qu'un utilisateur peut s'inscrire, et reste invisible pendant 15 minutes. En gros, est-ce que l'invalidation du cache est mise en place ?

EDIT : d'apr

[2015-02-13 14:46] GerardPaligot commented on #2329
J'ai prévu d'améliorer la documentation de l'API ce week-end. Mon week-end vient de se libérer. Je vais pouvoir travailler là dessus.

Il faut que je vérifie dans la documentation.

[2015-02-13 14:51] firm1 opened #2331 "Le front de la zone d'administration ne fonctionne pas"
Url concernée : http://beta.zestedesavoir.com/admin/

La page n'a pas de design (malgré le raffraichissement du cache). Il semblerait donc que la procédure de MEP ne mette pas à jour le front de la zone d'admin.

[2015-02-13 14:53] SpaceFox commented on #2331
Je suppose un effet de bord de https://github.com/zestedesavoir/zds-site/pull/2242.

[2015-02-13 16:00] Situphen commented on #2331
Je n'ai pas ce problème en local. Sur la béta, il manque la version avec hash (https://beta.zestedesavoir.com/static/admin/css/base.c8269a10a4bc.css) mais la version sans hash (https://beta.zestedesavoir.com/static/admin/css/base.css) est bien présente. Les autres modules n'ont pas l'air d'être touchés.

[2015-02-13 16:06] SpaceFox commented on #2331
J'ai pourtant suivi très scrupuleusement les instructions fournies dans le
update.md lors de la MEP.

Le 13 février 2015 17:00, Situphen notifications@github.com a écrit :

[2015-02-13 18:25] gustavi commented on #2307
Bon je le dis ici mais c'est valable pour d'autres issues : @firm1 est-ce que tu peux mettre une milestone sur les issues que tu crées **s'il te plait** ?

[2015-02-13 18:31] #2304 closed, assigned to nobody

[2015-02-13 18:35] gustavi commented on #2331
@SpaceFox faut vérifier la config de nginx.

[2015-02-13 20:07] Eskimon commented on #2325
meme correction qu'ici : https://github.com/zestedesavoir/zds-site/pull/2091/files

[2015-02-13 22:04] Axylium opened #2332 "Liens comptes sociaux footer - version mobile"
Sur la version mobile du site (_Windows Phone 8.1 - IE_), les liens vers les comptes sociaux de ZdS se superposent aux autres liens, comme le montre la capture suivante :

![wp_ss_20150213_0002](https://cloud.githubusercontent.com/assets/4312887/6196031/8691a664-b3d4-11e4-85f4-077ce41d00ab.png)

Ce n'est pas une régression, je l'ai depuis la v1.5, mais je pensais que ça avait été corrigé pour la v

[2015-02-14 11:11] Situphen commented on #2266
Du coup on fait quoi si l'utilisateur ne clique pas ? On considère qu'il accepte ou on continue d'affiche le bandeau ?

[2015-02-14 11:16] ghost commented on #2266
Il y a un passage sur le site de la CNIL qui dit que continuer de naviguer est assimiler à un consentment.

[2015-02-14 14:19] #2178 closed, assigned to nobody

[2015-02-14 14:20] #2293 closed, assigned to nobody

[2015-02-14 19:20] ghost opened #2334 "Contraste sur les boutons de stylisation d'un message"
Bonjour,

Il faudrait corriger le constrate (selon la qualité de l'écran c'est très flagrant).

![Imgur](http://i.imgur.com/9cbS4TA.png)

[2015-02-14 21:59] Situphen commented on #2003
J'ai commencé à faire un peu le ménage, j'ai tout mis sur [cette branche](https://github.com/Situphen/zds-site/tree/fix-2003-variabilize-scss-colors) et vous pouvez vous l'avancée du travail [ici](https://github.com/Situphen/zds-site/compare/fix-2003-variabilize-scss-colors).

Pour l'instant pour faciliter le travail plus tard, j'ai mis toutes les valeurs hexadécimal en majuscule (par exemple, `#f

[2015-02-14 22:23] firm1 commented on #1973
Je ré-ouvre cette issue car la correction ne prend pas en compte un cas.

Scénario:
- Depuis mon mobile, je vais sur un sujet que je ne suivais pas
- Je vais dans la sidebar
- Je clique sur "Etre notifié par mail"
- **Problème : le bouton du dessus me demande encore si je veux suivre le sujet alors que la demande de notification par mail signifie qu'on suit déjà le topic.**

Le comportement de l'a

[2015-02-14 22:54] firm1 opened #2335 "Libellé réduit dans la sidebar des tutoriels"
Meme problème que la #2304.

En prod : http://zestedesavoir.com/tutoriels/

En beta : http://beta.zestedesavoir.com/tutoriels/

Dans la sidebar on peut apercevoir que le libellé "Catégories de tutoriels" est réduit sur PC.

[2015-02-14 22:57] gustavi commented on #2003
J'ai tout remplacé comme un gros dégueux ;) De tout façon vu comme les membres du fork ont pas l'air d'avoir envie de se sortir les doigts, ça va rester comme ça un moment dont t'inquiète pas !

[2015-02-14 23:13] firm1 opened #2336 "Les titres de MPs sont coupés alors qu'il y'a de la place"
Scénario :
- Je crée un tutoriel dont le titre est "Le monde la vie, la france, l'huile le feu et les océans de l'amour valentins"
- Je l'envoi en beta
- Je reçoit un MP dont le titre est "Tutoriel en beta : Le monde la vie, la france, l'huile le feu et les océans de l"

Le MP a donc été coupé à 80 caractères alors que selon la PR #2151 un titre de MP peut avoir 130 caractères

[2015-02-14 23:23] firm1 commented on #2126
Je réouvre cette issue car elle n'a pas été correctement corrigée.

On aperçois encore une différence entre la version hors ligne et l version en ligne. C'est la fameuse ligne `<hr />` qui l'ont retrouve avant le plan (dans la version hors ligne) et que l'on ne voit pas dans la version en ligne.

[2015-02-15 08:03] firm1 commented on #2230
Je ré-ouvre cette issue, car l'autocomplétion a un léger problème d'affichage quand on ajoute un auteur à un tutoriel/article (cf screen).

Navigateur : Firefox 35

![capture d ecran de 2015-02-14 23 32 37](https://cloud.githubusercontent.com/assets/6066015/6202535/6fd9f93a-b4f1-11e4-90be-501352a6fae7.png)

[2015-02-15 09:06] ghost commented on #1973
Je ne comprends quel "bouton du dessus" ?

[2015-02-15 09:25] ghost opened #2337 "Icone "Sujet résolu" écrasé par le texte dans la liste des derniers sujets crées"
**Navigateur :** Sur Firefox et Chrome.

![Imgur](http://i.imgur.com/dEe1crK.png)

[2015-02-15 09:26] ghost commented on #2337
Je la prend suffit de rajouter un `min-width`.

[2015-02-15 09:54] ghost opened #2339 "Décalage du titre des sujets en format mobile"
Il s'agit d'une erreur de la règle CSS (tout navigateur).

Le problème ici :
![Imgur](http://i.imgur.com/CL78osK.png)

Le résultat attendu :
![Imgur](http://i.imgur.com/5GSDAzT.png)

[2015-02-15 09:55] ghost commented on #2339
Je prends.

[2015-02-15 10:30] ghost commented on #2239
(Faute de frappe dans le numéro de l'issue, mon fix n'a rien avoir avec cette issue).

[2015-02-15 13:42] ghost commented on #2335
Étrange, la correction de la PR #2312 devrait s'appliquer.

Peut être prendre en compte la remarque de @SpaceFox :

https://github.com/zestedesavoir/zds-site/search?l=html&q=class%3D%22wide%22&type=Code&utf8=%E2%9C%93

[2015-02-15 18:28] Vayel opened #2344 "Tags automatiques quand du code est inclus dans un message"

[2015-02-15 18:37] ghost commented on #2344
Peut-être rajouter un message qui conseil de rajouter le tag plutôt que de forcer l'ajout ?

[2015-02-15 19:23] Situphen commented on #1357
Bon, maintenant que la doc front est sur Sphinx, est-ce que le contenu vous convient ou vous voulez plus d'explications ? :)

[2015-02-16 02:37] tvxb1 commented on #2161
Je prends cette issue, ça me semble être bien pour me lancer dans la contribution au code :)

[2015-02-16 09:50] Eskimon commented on #2126
Donc on a rajoute un `hr` a la fin (avant la conclusion) et il en manque une aussi au début ?

[2015-02-16 09:55] Eskimon commented on #1973
Lorsqu'on suit par email, le bouton "suivre ce sujet" doit automatiquement etre clique aussi. Et si on on suit pas email, lorsque l'on clique sur "arreter de suivre le sujet" le suivi par email doit etre arrete aussi.

J'ai mal QA, je n'avais pas pense a l'implication de l'un avec l'autre.

[2015-02-16 10:29] firm1 commented on #2124
Je réouvre ici car l'issue ne me semble pas terminé. On remarque que les balises `<LI>` ont été rajoutée dans la table d'historique, mais il manque le style ces qui va avec.

![tmp_9223-screenshot_2015-02-16-11-23-20-1169894047](https://cloud.githubusercontent.com/assets/6066015/6210348/109e24c6-b5cf-11e4-9713-6725a8fc0980.png)

[2015-02-16 10:31] SpaceFox commented on #2124
Je ne vois pas le problème ?

2015-02-16 11:29 GMT+01:00 firm1 notifications@github.com:

[2015-02-16 10:34] firm1 commented on #2124
Non seulement la police est trop grande mais il manque qu'un identificateurs visuel qui indique que c'est une liste

[2015-02-16 12:22] firm1 opened #2346 "Incohérence entre le nombre de notifs affiches et la page "toutes les notifs""
Je ne sais plus comment j'en suis arrivé a ce bug mais je me retrouve avec 0 notifs d'après le compteur de notifs en haut. Mais quand je vais voir voir toutes mes notifs je découvre qu'il y'en a une graissée.

![tmp_12976-screenshot_2015-02-16-11-58-28-1169894047](https://cloud.githubusercontent.com/assets/6066015/6211857/cf7701ce-b5de-11e4-9781-45ad30a7c5c2.png)

[2015-02-16 12:23] GerardPaligot commented on #2346
Par hasard, est-ce que tu auras cliqué sur "Non lu" sur le premier message d'un sujet ?

[2015-02-16 12:28] firm1 commented on #2346
C'est possible, je me souviens plus de tout ce que j'ai fais.

[2015-02-16 12:38] GerardPaligot commented on #2346
Balancer le bug sans savoir comment le reproduire, c'est pas génial ...

Cela dit, la manipulation que j'indique arrive au même état que le tiens. Cela pourrait donc être un doublon à l'issue https://github.com/zestedesavoir/zds-site/issues/2284.

[2015-02-16 12:46] firm1 commented on #2346
en effet, je viens d'essayer avec la meme manip, on arrive on au meme resultat. Donc ça doit etre un doublon.

[2015-02-16 12:46] #2346 closed, assigned to nobody

[2015-02-16 18:04] ghost commented on #1973
C'est surtout ma faute. ^^"

[2015-02-16 19:00] ghost commented on #2332
Ce bug est lié à IE (même sur PC). ^^" Je crois qu'il gère mal `flex`, par contre avec IE9 ça fonctionne.

Je la prend.

[2015-02-16 19:05] A-312 commented on #2332
Je la prend.

[2015-02-16 19:07] ghost commented on #2309
Je la prend.

Il manque le bouton "Ajouter une image" et "Importer une archive".

[2015-02-16 20:09] GerardPaligot commented on #2204
Ou simplement d'afficher un dialogue lorsque l'utilisateur clique sur la création du compte par Twitter.

[2015-02-16 20:14] ghost commented on #2332
Je ferais la correction lorsque la PR #2263 sera acceptée.

[2015-02-16 21:28] SpaceFox commented on #2317
Il semblerait que le problème vienne d'une erreur de configuration du proxy cache : les clés de conf que reçoit memcached sont toutes de ce type (et ce quelle que soit l'IP de la personne qui utilise l'application) :

[2015-02-16 21:40] GerardPaligot commented on #2317
Ok, est-ce que tu as une idée de comment corriger le bug ? Si c'est du côté code ou infra ?

[2015-02-16 21:41] SpaceFox commented on #2317
à priori c'est de l'infra, je suis en train de scruter la chose.

[2015-02-16 22:24] SpaceFox commented on #2317
Bon alors, c'est définitif : **personne** ne comprends et sait faire fonctionner les requêtes de X-forward et consorts avec nginx en mode reverse proxy. C'est à tel point que sur les 10 premiers résultats Google, tu as 10 manières différentes de les traiter... dont 9 plus ou moins partiellement fausses.

Avant, on avait ça :

[code]

Ce qui ne fonctionne pas comme voulu.

A priori, cette configura

[2015-02-16 22:26] SpaceFox commented on #2317
PS : il semblerait qu'il n'y ait pas d'IPv6 en bêta. C'est normal ?

[2015-02-16 22:28] SpaceFox commented on #2317
PPS (oui je spamme) : avant de fermer, je voudrais tester ce que ça donne en IPv6 et avoir la confirmation de quelqu'un d'autre.

[2015-02-16 22:31] GerardPaligot commented on #2317
Ok, donc si je comprends bien. Le problème est résolu ?

IPv6 : Tu parles encore de l'infra ou c'est l'API qui supporte pas l'IPv6 ?

[2015-02-16 22:32] SpaceFox commented on #2317
J'ai pas de résolution DNS de beta.zestedesavoir.com ou preprod.zestedesavoir.com sur une adresse IPv6, donc je ne peux pas tester le throttling pour un utilisateur IPv6.

Normalement le problème est résolu, mis à part un test tiers et un tests sur IPv6.

[2015-02-16 23:19] GerardPaligot commented on #2317
Je confirme que le throttling fonctionne en mode anonyme et connecté avec leurs limitations respectives.

[2015-02-17 09:07] GerardPaligot commented on #2329
En faisant une rapide recherche sur la [documentation du cache avec DRF-Extensions](http://chibisov.github.io/drf-extensions/docs/#caching) (bibliothèque pour intégrer le cache dans l'API), il ne mentionne nulle part une invalidation. Simplement la possibilité de pouvoir appliquer un _timeout_ (que j'ai fixé à 15 minutes).

Concernant la documentation, vous pouvez en voir une nouvelle version sur

[2015-02-17 09:08] GerardPaligot commented on #2295
Je retire le tag API, cela ne concerne pas l'API.

[2015-02-17 10:44] firm1 commented on #2295
Hmm, j'ai un doute quand même. La table User étant la table centrale, l'API devrait se baser sur celle-ci. La table profile n'est qu'une table satellite au final, et on voit bien qu'il y'a une desynchro entre ses ids et les ids de la table user.

Est-ce qu'il y'a une raison importante pour laquelle l'API est basée sur le profile plutot que sur le User ?

[2015-02-17 10:52] GerardPaligot commented on #2295
Oui, il y en avait plusieurs :
- Il a fallu faire un choix entre `User` et `Profile` et ne pas jongler avec les deux.
- A l'époque de ce choix, on se disait que ça serait bien d'utiliser au plus possible le `Profile` plutôt que `User`. La discussion avait commencé suite à la pagination qui faisait à chaque fois une requête à partir de l'`User` pour avoir le `Profile` associé.
- Cela oblige les ser

[2015-02-17 10:56] firm1 commented on #2295
Bon, je laisse ça au DTC ( cc @SpaceFox ) mais, c'est une mauvaise idée de se trainer une désyncrho pareille.

[2015-02-17 11:25] firm1 commented on #2317
o/

Autre chose à vérifier aussi. On a vu que l'autocomplemtion se basait sur l'API. Est-ce que ça signifie que l'autocomplétion sera aussi soumise aux mêmes règles de throttling qu'un utilisateur normal ?

[2015-02-17 11:43] GerardPaligot commented on #2317
Je me suis posé la question aussi et je ne sais pas trop. Mais, si oui, ça sera le taux d'un utilisateur connecté fixé à 2000 requêtes. Nous sommes large mais ça mérite d'être testé.

[2015-02-17 11:48] firm1 opened #2352 "Problème de build du front sur debian"
J'ai essayé de builder le front de zds sur un environnement propre sur une debian 7 64 bits sans succès. Étant donné que c'est quasi la même conf que la produit je me que le problème doit certainement se trouver entre ma chaise et mon clavier.

L'erreur survient pendant le `npm install` et concerne node-gyp

[code]

J'ai pourtant les pré-requis installés (make, GCC 4.7, python2.7.8).

Quelqu'un vo

[2015-02-17 12:53] SpaceFox commented on #2295
En fait, ton erreur est là : la table `User` n'est **pas** la table centrale, c'est bien `Profile` qui l'est. Ou plus exactement, ce sont les deux qui la sont.

Théoriquement, c'est une seule et même table (solution officielle Django depuis la dépréciation de la solution qui était utilisée jusqu'au passage à Django 1.6). Sauf que les modifications que ça impliquait étaient trop lourdes, donc on a

[2015-02-17 13:08] Eskimon commented on #2295
Question peut-etre conne : Dans nos modele de tutos et autre chose on link toujours vers User non ? Du coup est-ce qu'on pourrait pas faire un coup de patch pour:
- Ajouter le lien sur les id (pour que `Profile` suive `User`)
- Forcer le recopiage de tout les id de User vers Profile ?

[2015-02-17 13:20] A-312 commented on #1699
Je prend, je vous tiens au courant. (La première PR sera établie avant samedi 21).

[2015-02-17 13:24] firm1 commented on #2295
Ce n'est pas ce que me dit mysql. la table member_profile contient un "id_user" qui représente la clé étrangère de user dans profile. La table auth_user quant à elle ne contient aucune clé étrangère. Donc on a aucune contrainte d'intégrité au niveau de la base qui nous dit force à avoir un profile associé à chaque user. On peut donc avoir (niveau bd) un user sans profil associé, mais on ne peut pa

[2015-02-17 13:31] SpaceFox commented on #2295
Je ne sais pas pourquoi je me fais chier à pondre un pavé d'explication si c'est pour que tu ne le lise pas. Sérieusement.

[2015-02-17 13:36] SpaceFox commented on #2295
Pour d'aider :
1. La logique de fonctionnement a été **inversée** par rapport à ZdS pré Django 1.6
2. Les données de `Profile` te garantissent la cohérence avec `User` et pas l'inverse, ce qui fait que **fonctionnellement** `Profile` est la table principale.

Mais encore une fois, cette notion de table principale n'a pas vraiment de sens : on ne devrait jamais récupérer l'une sans l'autre.

[2015-02-17 13:43] abdelaz3r commented on #1699
Je prends. Je dois regarder avec sandhose comment on s'organise, installer tout le projet et après je commence l'intégration.

[2015-02-17 13:45] Eskimon commented on #1699
SVP communiquez aussi avec A-312 et formez un MP/equipe pour bosser la dessus. Si on se retrouve avec deux PR on va jamais s'en sortir et se serais vraiment dommage...

Donc je resume, personne bossant ici :
- @sandhose
- @abdelaz3r
- @A-312

[2015-02-17 13:47] firm1 commented on #2295
C'est lu, mais ce que j'explique c'est que ce qui théoriquement devrait être une relation 1..1 n'est pas le cas en pratique, donc partant de là, profile n'est qu'une table satellite.

Donc il est plus judicieux (vu l'état de nos données) de linker la table centrale (user d'après le modèle physique de la base). C'est tout aussi bénéfique pour les perfs. Car on a toujours besoin des infos contenus d

[2015-02-17 13:51] Situphen commented on #1699
Je peux aider aussi !

@abdelaz3r : Tu peux me contacter au moindre problème lors de l'installation ! AMHA le mieux est IRC (https://smoothirc.net/qwebchat/ sur le canal `zds-dev`) mais tu peux aussi par MP sur ZdS.

[2015-02-17 13:53] Situphen commented on #2352
Je sais pas pourquoi ça a buggé. Fait `rm -rI node_modules/`et essaye de réinstaller. Le problème vient peut-être des dépendances qui ne sont pas en strictes. La PR #2353 devrait arranger ça...

[2015-02-17 13:54] SpaceFox commented on #2295
J'explique ce qu'il en est dans mon pavé, et pourquoi contrairement à ce que tu imagines, Profile reste la table principale qui fait foi dans ce qui est important dans nos données.

J'ai écrit tout un pavé pour expliquer pourquoi ceci c'est faux. En particulier parce qu'aujourd'hui, et je me répète, et je commence à détester ça, tout appel à l'une des tables nécessite un appel à l'autre.

[2015-02-17 14:03] firm1 commented on #2295
J'ai peut être mal compris, donc j'aimerai des eclaircissements. Mais en quoi, baser les appels sur profile, nous évitera d'appeler à chaque fois `profile.user` ?

Car, aujourd'hui, un topic, un post, un mp, un tutoriel, un article, un groupe,.. est basé sur la clé étrangère d'un user.

[2015-02-17 14:06] SpaceFox commented on #2295
Réponse :

OK, on va la faire encore plus courte : la seule solution vraiment propre, c'est de fusionner ces tables. Point.

[2015-02-17 14:34] firm1 commented on #2295
Si c'est bien le cas, en effet, l'une ou l'autre c'est pareil au niveau perfs. Mais du coup pour résoudre l'issue on passe en profile partout ailleurs ?

[2015-02-17 16:02] firm1 commented on #2352
c'est bizarre quand meme. J'essayerai avec ta branche du coup.

[2015-02-17 17:37] ghost commented on #1699
J'espère que ça sera vite réglé.

[2015-02-18 10:30] firm1 commented on #2352
Bon, j'ai compris le problème finalement. node-sass n'est supporté que par `node 0.10.x`. Moi j'avais installé la version 0.11.16 et ça ne marchait pas.

Donc information à retenir : ne pas mettre à jour la preprod/prod sur sa version de nodejs. Et du coup, ça me fait penser à cette PR #2351 qu'il faudra tester sur une debian quand même.

Je ferme donc.

[2015-02-18 10:30] #2352 closed, assigned to nobody

[2015-02-18 11:18] poulp opened #2355 "Autocomplétion mp validation du formulaire"
Quand je veux écrire un mp et que j'ajoute un participant via l'auto-complétion, par exemple user, ça me donne `user,` ce qui invalide le formulaire. Il faudrait juste avoir `user`.

[2015-02-18 12:00] GerardPaligot commented on #2355
Via la bêta ?

[2015-02-18 12:26] poulp commented on #2355
Oui c'est présent sur la bêta

[2015-02-18 16:57] Alex-D commented on #2266
Au passage :

C'est juste [un booléen en deuxième paramètre](https://github.com/Alex-D/Cookies-EU-banner#waitaccept) ça.

[2015-02-18 19:46] Eskimon commented on #2295
Ca peut ptet eclaircir les choses ? https://zestedesavoir.com/forums/sujet/2016/le-bar-back/?page=2#p44530

[2015-02-18 21:59] SpaceFox commented on #2204
Plus sérieusement, comment on fait ? On se tape du code spécifique de partout juste pour gérer les comptes créés via des API tierces qui ne fournissent pas le minimum d'informations ?

Personnellement j'ai très envie de faire sauter la connexion via Twitter là...

[2015-02-18 21:59] SpaceFox commented on #2247
Si demain soir je n'ai pas d'explication claire ici, tox saute.

[2015-02-18 22:00] SpaceFox commented on #2355
Je ratisse large, il faudra dégager les labels non pertinents.

[2015-02-18 22:01] SpaceFox commented on #2335
Ouais, j'aimerais bien une réponse à cette question...

[2015-02-18 22:02] SpaceFox commented on #2289
Je plusseoie, pour moi les flèches se suffisent très bien à elles-mêmes.

[2015-02-18 22:04] GerardPaligot commented on #2355
C'est clairement du front. Le back, plus précisément l'API, ne fait que renvoyer un tableau avec la liste des utilisateurs. Rien de plus.

[2015-02-18 22:07] SpaceFox opened #2356 "La bêta n'a pas d'IPv6"
Pour autant que je sache, la bêta ne répond pas en IPv6. Ce qui nous empêche de tester certains points particuliers (notamment avec l'API).

Aux dernières nouvelles, l'IPv6 c'était environ 10% du trafic.

[2015-02-18 22:09] DevHugo commented on #2204
C'est pas très compliqué a implanté, la solution proposée, si personne se dévoue, je peut faire ça pour dimanche prochain (1 février).

[2015-02-18 22:10] SpaceFox commented on #2204
Le problème c'est qu'il n'y a _pas_ de solution proposée lorsque la personne est inscrite via Twitter. Juste des débuts d'idées.

[2015-02-18 22:31] SpaceFox commented on #2266
Je confirme qu'on ne se fait pas chier et qu'on assimile ça à un consentement.

[2015-02-19 08:36] Situphen commented on #2246
Le PDF s'est bien généré donc on peut fermer !

[2015-02-19 08:36] Situphen commented on #2266
OK

[2015-02-19 08:40] #2246 closed, assigned to SpaceFox

[2015-02-19 08:47] Situphen commented on #2355
C'est plutôt au Back de gérer la virgule et l'espace, sinon l'utilisateur ne pourra pas rentrer plusieurs pseudos dans le champ !

[2015-02-19 09:03] Eskimon commented on #2355
A noter : le comportement de l'autocompletion est le même en prod (ajout de la virgule etou) mais le back se comporte bien, le message est bien envoyé.

[2015-02-19 09:07] Eskimon commented on #2355
Un `git blame` nous indique que la derniere modification date d'il y a 14 jours par...@poulp !

https://github.com/zestedesavoir/zds-site/blame/dev/zds/mp/forms.py#L79

C'est ce commit qui semble embeter le formulaire : https://github.com/zestedesavoir/zds-site/commit/8be73f7db59b0645087a5a960a572dcdf05d9654 dans cette PR : https://github.com/zestedesavoir/zds-site/pull/2216

[2015-02-19 09:10] GerardPaligot commented on #2355
![](http://image.noelshack.com/fichiers/2013/30/1374518815-35734259.jpg)

Hum, sorry.

[2015-02-19 09:14] Eskimon commented on #2355
`git blame`, la commande du petit délateur !

[2015-02-19 09:18] poulp commented on #2355
Oui effectivement c'est moi qui ai mis en place la contrainte au niveau du formulaire en oubliant de changer le comportement du front

[2015-02-19 09:24] Eskimon commented on #2355
(J'en profite pour m'excuser éventuellement pour mon comportement (histoire qu'on soit sur la même longueur d'onde), je ne jette pas la pierre, je cherche juste a trouver la solution :) . Que ce soit toi ou un autre qui a introduit le "problème" c'est pas bien grave ^^ . Le reste n'est qu'humour bien entendu).

Le fix sera a faire sur la branche de release.

[2015-02-19 09:38] poulp commented on #2355
On est sur la même longueur d'onde, pas de soucis ;)

[2015-02-19 12:15] Ge0 commented on #2356
Hello.

Comment on teste l'accès à ZdS en IPV6 ?

[2015-02-19 21:58] DevHugo opened #2359 "Le wiki de github n'est pas à jour"
Le [wiki du github](https://github.com/zestedesavoir/zds-site/wiki) n'est pas du tout à jours. Il faudrait le mettre à jours car il contient des données érronnées sur l'installation et sur d'autre truc aussi. C'est beaucoup de doublons avec la doc existante.

Je suis pour supprimer la page.

[2015-02-19 22:03] Situphen commented on #2359
Je plussoie fortement ! @SpaceFox ? @firm1 ?

[2015-02-19 22:19] SpaceFox commented on #2359
J'avais oublié qu'il existait... je le supprime, oui. Merci.

[2015-02-19 22:20] SpaceFox commented on #2359
Et voilà !

[2015-02-19 22:20] #2359 closed, assigned to SpaceFox

[2015-02-20 08:25] GerardPaligot commented on #2317
Est-ce que cette issue peut être close ? Elle est marquée bloquante pour la release-1.6 mais j'ai l'impression que plus rien ne le justifie.

[2015-02-20 08:26] GerardPaligot commented on #2204
Cette issue est marquée comme bloquante. Est-ce qu'elle l'est vraiment ? Je n'en ai pas l'impression.

[2015-02-20 08:32] SpaceFox commented on #2317
J'aimerais bien savoir si on peut tester l'IPv6 en bêta, et si non comment on peut améliorer ça.

[2015-02-20 08:33] SpaceFox commented on #2204
Dans la mesure où ceux qui sont inscrit via un réseau social se retrouvent avec un site cassé, c'est quand même très emmerdant.

[2015-02-20 08:36] GerardPaligot commented on #2204
C'est un bug emmerdant mais ce n'est pas bloquant. Après, je pense qu'il y a une PR en cours donc je suppose que c'est pas bien important, l'issue sera sans doute réglée avant la fin des 2 semaines pour la release 1.6.

[2015-02-20 08:40] SpaceFox commented on #2204
On a une PR en cours sur un problème dont on a aucune solution ? Je m'inquiète là (en plus de ne pas la voir dans la liste des PR).

[2015-02-20 08:50] GerardPaligot commented on #2204
Sorry, je pensais que @DevHugo avait déjà proposé une PR sur le sujet. J'ai rêvé.

[2015-02-20 09:27] SpaceFox commented on #2355
Corrigé.

[2015-02-20 09:27] #2355 closed, assigned to nobody

[2015-02-20 10:34] firm1 commented on #2247
Reprenons un peu ici les problèmes rencontrés. Si j'ai bien compris la pile de messages :
- **les commandes tox ne sont pas documentées** : elles ont pourtant été écrasées dans le contributing et le readme, donc j'ai du mal à voir ou est-ce qu'elles pourraient apparaitre.
- **les tests flake8 ne fonctionnaient pas** : à priori le problème était du à une mise à jour de flake8 et non à cause de tox

[2015-02-20 11:03] SpaceFox commented on #2247
- **les commandes tox ne sont pas documentées** : Comme dit plus haut, les 3 morceaux de docs que tu avait mis ont été écrasés parce qu'inutilisables. Si ça concernait spécifiquement Travis, il fallait faire un bout de doc qui en parlait.
- **les tests flake8 ne fonctionnaient pas** : C'est un problème parce que Tox étant tellement merdique à utiliser (lentissme dans un contexte de dev, bouffe une

[2015-02-20 11:23] firm1 commented on #2247
Encore une fois si le problème ici était que les dépendances en local des devs n'étaient pas à jour. Tox ou pas tox, travis aurait gueulé de la même façon. Idem pour les incohérences local vs travis. Si le dev n'est pas a jour dans ses dépendances, il y'aura forcément un souci. Donc cet argument n'est pas valable.

Là il faut une mise à jour à faire sur la documentation.

Désolé, mais je pense vra

[2015-02-20 13:18] firm1 commented on #1510
Cette issue est désormais corrigée.

[2015-02-20 13:18] #1510 closed, assigned to nobody

[2015-02-20 13:18] SpaceFox commented on #2247
Alors on a un problème de gestion des tests. J'ai pas le temps d'aller vérifier dans les tickets, mais il me semble bien avoir lu des choses comme "j'ai bien MAJ mes dépendances locales et je ne reproduit pas".

Non, ça n'a rien à voir avec la doc. Le problème ici, c'est que tu as fait une PR avec des instructions qui ne peuvent pas passer, et que la QA n'a pas été faite parce que personne n'a rem

[2015-02-20 13:19] firm1 commented on #1713
On peut fermer ici, je pense.

[2015-02-20 13:19] firm1 commented on #2010
Cette issue est maintenant corrigée.

[2015-02-20 13:19] #2010 closed, assigned to nobody

[2015-02-20 13:19] SpaceFox commented on #1510
Heu, par quel miracle ? Il n'y a pas de PR mergée qui correspond à ce ticket.

[2015-02-20 13:22] SpaceFox commented on #2010
Là aussi, il manque une PR mergée qui correspond à la fermeture de ce ticket.

D'autre part, attention aux milestones : si ça correspond à une PR qui était déjà mergée depuis un moment, il est possible qu'en fait ce soit sur la v1.6.

[2015-02-20 13:22] SpaceFox commented on #2356
Pour moi la première chose à faire c'est de vérifier qu'on a bien une entrée IPv6 dans le DNS pour la bêta.

[2015-02-20 13:46] firm1 commented on #2247
tox ne fais pas de magie, [il se contente d'executer les commandes que tout le monde connait](https://github.com/zestedesavoir/zds-site/blob/dev/tox.ini). La seule chose qu'il t'assure c'est que les tests seront lancés dans un environnement semblable à celui qu'on à décrit (dans les dépendances).

En effet les instructions de QA n'étaient pas précises. Mais dans la PR, [la commande en elle même es

[2015-02-20 13:49] firm1 commented on #1510
ça a été fixé via la #2187

[2015-02-20 13:50] firm1 commented on #2010
ça a été fixé via la #2187

Et en effet, fait en 1.6

[2015-02-20 14:48] SpaceFox commented on #2295
Oui et non : techniquement, on voit bien que les liens se font vers users,
ce qu'on savait.

Mais ça ne change rien au fond du problème : aujourd'hui nos 2 tables sont
intimement liées au point qu'elles devraient être fusionnées. Et la vraie
donnée qui fait foi, c'est bel et bien Profile qui la porte, parce que
Profile garantit qu'il y a un User derrière alors que l'inverse est faux.

2015-02-18 2

[2015-02-21 15:36] gustavi commented on #2356
Pour info :

[code]

[2015-02-23 07:41] SpaceFox commented on #2320
Corrigé.

[2015-02-23 07:41] #2320 closed, assigned to Situphen

[2015-02-23 08:22] GerardPaligot opened #2363 "Soumettre un formulaire avec CMD+Enter"
Il m'a semblé qu'un jour, il était possible de soumettre un formulaire avec la combinaison CMD+Enter (et non CTRL+Enter qui elle fonctionne).
- Soit c'était possible et nous avons une régression puisque CMD+Enter ne fonctionne plus en production.
- Soit c'était pas possible et cela devient une suggestion. C'est plus agréable pour les utilisateurs OS X.

J'asperge donc les tags et vous rectifiez le

[2015-02-23 08:42] GerardPaligot opened #2364 "Saut à la ligne avec la soumission par CTRL+Enter"
Lorsque je veux soumettre un formulaire avec le raccourci CTRL+Enter, mon texte fait un saut à la ligne après la soumission (il n'apparait donc pas dans le message final) mais c'est toujours troublant et à chaque fois, je vérifie que mon texte est bien comme il faut.

Si c'est possible, faudrait éviter cette action après la soumission du formulaire.

Bug disponible en production.

[2015-02-23 08:55] firm1 opened #2365 "L'auto complétion ne fonctionne pas sur mobile"
En essayant d'envoyer un MP , je n'ai pas l'auto complétion dans la liste des participants.

Smartphone : One Plus.
Os : Android
Navigateur : Firefox

![tmp_1128-screenshot_2015-02-23-09-52-26526993474](https://cloud.githubusercontent.com/assets/6066015/6325013/0993968e-bb42-11e4-8aa0-1eeffc3a3951.png)

[2015-02-23 10:00] Situphen commented on #2363
C'était possible avant que l'on restreigne les touches Alt, Shift et Meta. Or, Meta est apparemment le nom de la touche Command en JavaScript.

Je prend le ticket. Pour moi, c'est une évolution et non pas un bug ! :)

[2015-02-23 10:01] Situphen commented on #2364
Je prends. Là aussi, je vois plutôt ça comme une évolution.

[2015-02-23 10:02] Situphen commented on #2365
AMHA, c'est plutôt une évolution non ?

[2015-02-23 10:07] Eskimon commented on #2364
Non c'est un bug si la ligne est rajouté sans le consentement de l'auteur.

[2015-02-23 10:28] firm1 commented on #2365
Bah une incohérence PC vs mobile c'est plus un bug

[2015-02-23 10:53] SpaceFox commented on #2365
Non, pas forcément.

[2015-02-23 12:07] SpaceFox commented on #2356
En fait la préprod n'a pas d'adresse IPv6 publique, seulement une adresse en `fe80:` qui correspond à une adresse "locale lien".

Je ne sais pas si on peut corriger ça...

[2015-02-23 12:34] firm1 opened #2366 "Doublon dans la sidebar d'édition d'un MP"
En editant mon MP, j'ai deux fois le lien "Nouvelle conversation" dans la sidebar.

Le screen :
![inception](https://cloud.githubusercontent.com/assets/6066015/6327811/9eba499c-bb60-11e4-98f0-b79fec9ab49e.PNG)

[2015-02-23 12:44] firm1 opened #2367 "L'auteur d'un tutoriel ne peut pas télécharger l'archive de ce dernier"
Scénario :
- Je crée un tutoriel (big ou mini, _it doesn't matter_)
- Je ne peux pas en télécharger l'archive pour faire des modification hors-ligne

Par contre un compte staff peut le faire.

[2015-02-23 13:33] firm1 commented on #2317
Après vérification, l'autocomplétion (ajax) n'est pas soumise au throttling utilisateur, mais au throttling anonyme, et donc 60 requetes par heure.

ça monte très vite en plus.

Scénario : Avec 10 participants dont le pseudo a au moins 6 caractères. A chaque fois que je tape une lettre, une requête est lancée à l'API. Et donc étant donné que je tape les 5 premières lettres à la main en me trompant

[2015-02-23 13:35] GerardPaligot commented on #2317
Et c'est certainement due au fait que l'authentification est différente entre le site et l'API. Ca c'est un problème ...

[2015-02-23 13:41] firm1 commented on #2317
Pas vraiment, ici, le [script Javascript](https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/autocompletion.js#L284) qui se charge de l'autocomplétion ne fait jamais d'authentification. Il se connecte directement en GET et il utilise donc mon adresse IP en tant que utilisateur anonyme de l'API

[2015-02-23 13:43] GerardPaligot commented on #2317
Tu voudrais que, pour chaque appel à cette fonction, il s'authentifie avant ? Ca semble pas super propre et la table des tokens va monter en flèche (une ligne par token générée en base de données).

[2015-02-23 13:52] firm1 commented on #2317
Non, pas pour chaque appel, mais au chargement du site le JS devrait se connecter une seule fois à l'API et executer les requêtes par la suite avec son token (un vrai client JS quoi, comme on en fait avec Angular/Ember et cie). Sauf que je viens de me souvenir que l'API ne gère pas le CORS :(

La deuxième solution serait que django expose une vue de recherche et le script JS n'aurait qu'à appeler

[2015-02-23 13:55] GerardPaligot commented on #2317
Si la configuration donnée par Javier fonctionne, ce soir l'API supportera le CORS.

[2015-02-23 13:56] firm1 commented on #2317
Yop et dans ce cas il restera juste a faire la partie JS.

[2015-02-23 16:11] Situphen commented on #2364
Je n'ai pas réussi à refaire le bug, cependant je pense que ma PR résoud le problème. @GerardPaligot : tu peux QA ? :)

[2015-02-23 16:20] GerardPaligot commented on #2364
Je QA ce soir.

[2015-02-23 18:34] GerardPaligot commented on #2363
C'est corrigé. Merci @Situphen !

[2015-02-23 18:34] #2363 closed, assigned to Situphen

[2015-02-23 19:32] geoffreyc commented on #2356
Yop ! Normalement, beta.zestedesavoir.com est accessible via ipV6 maintenant :)

Tenez moi au courant si il y a un soucis ;)

[2015-02-23 19:50] SpaceFox commented on #2356
Je confirme que ça marche :)

[2015-02-23 20:30] GerardPaligot opened #2374 "Afficher son profil par l'API sans spécifier un identifiant"
Actuellement, pour récupérer ses informations par l'API, soit l'utilisateur connait son identifiant et il n'y a pas de problèmes, soit il doit d'abord trouver son identifiant dans la liste des membres puis refaire une requête pour récupérer ses informations.

Une évolution intéressante serait de récupérer ses informations par une URL du style `/api/membres/mon_profil/`.

[2015-02-23 20:46] GerardPaligot opened #2375 "L'API ne retourne pas toujours les mêmes infos pour un membre"
Source:[Kje](http://zestedesavoir.com/forums/sujet/1365/zep-17-elaboration-de-lapi-des-membres/?page=18#p45095)

[2015-02-23 20:51] GerardPaligot commented on #2364
C'est corrigé. Merci @Situphen !

[2015-02-23 20:51] #2364 closed, assigned to nobody

[2015-02-23 21:06] Situphen commented on #2365
Je viens de tester quelques manipulations et il s'avère que les événements sur lesquels on se base actuellement (`keyup` et `keydown`) ne sont pas créé quand on est sur un téléphone.

Apparemment, ce serait en partie à cause de suggestion de mot quand l'on tape sur un clavier virtuel comme expliqué en anglais [ici](https://code.google.com/p/chromium/issues/detail?id=118639#c7) :

@sandhose, @A-312

[2015-02-24 06:43] ghost commented on #2365
J'ai regardé sur internet certain parle de l'event `input`.

https://developer.mozilla.org/en-US/docs/Web/Events/input

[2015-02-24 08:53] GerardPaligot commented on #2356
Du coup, l'issue est close ?

[2015-02-24 08:54] SpaceFox commented on #2356
Il faut juste vérifier que le throttling fonctionne en IPv6, ce que je n'ai pas eu le temps de tester hier.

[2015-02-24 08:54] GerardPaligot commented on #2329
Que faut-il faire pour cette issue encore ?

[2015-02-24 11:04] SpaceFox commented on #2204
On fait quoi ici ? On planque le problème sous le tapis en espérant que personne ne se serve de cette fonctionnalité ? On l'enlève purement et simplement ? On exige une adresse mail à la première connexion avec un compte externe ?

[2015-02-24 11:21] firm1 commented on #2204
Surtout pas.

On pourrait exiger une adresse mail à la première connexion, mais je me demande s'il y'a pas plus propre comme méthode.

[2015-02-24 11:26] SpaceFox commented on #2374
Corrigé.

[2015-02-24 11:26] #2374 closed, assigned to nobody

[2015-02-24 12:04] GerardPaligot commented on #2204
Si aucune solution n'est proposée d'ici la fin des tests de la release v1.6, je propose de supprimer Twitter des réseaux sociaux supportés. Puis, vu comment s'est partie, on va sûrement proposer un fix temporaire un peu crade alors que nous pourrions proposer une version plus propre et plus adaptée par la suite.

[2015-02-24 12:08] GerardPaligot commented on #2317
L'issue semble converger vers un nouveau problème. Le throttling a été corrigée mais le front doit effectuer des requêtes authentifiées pour récupérer la liste des utilisateurs dans l'auto-completion. Pouvons-nous clore cette issue bloquante pour la création d'une autre (non bloquante) ?

[2015-02-24 12:13] GerardPaligot commented on #2366
Corrigé. Merci @Situphen !

[2015-02-24 12:13] #2366 closed, assigned to nobody

[2015-02-24 15:03] #1973 closed, assigned to nobody

[2015-02-24 15:04] firm1 commented on #1973
C'est résolu

[2015-02-24 15:30] Situphen commented on #2287
@SpaceFox : ça passe en betafix ou en simple fix ?

[2015-02-24 15:32] SpaceFox commented on #2287
On s'en fout, c'est un détail, c'est un simple fix.

[2015-02-24 16:07] Situphen opened #2377 "Utiliser le markdown pour éviter de doubler les templates des emails ?"
Actuellement pour chaque message on a une version html et une autre en texte. C'est assez pénible à maintenir et je pense que l'on pourrait utiliser le markdown pour s'en affranchir ! Le markdown est lisible, donc on pourrait l'utiliser directement pour la version en texte. Vu que l'on peut le transformer en html, on peut l'utiliser pour la version html. Est-ce que ça vous convient ?

[2015-02-24 16:14] SpaceFox commented on #2377
Je ne pense pas : les mails répondent à des règles très particulières, je ne suis pas sûr du tout qu'un HTML généré sera correct.

[2015-02-24 16:39] Situphen commented on #2377
A mon avis si l'on utilise juste le markdown pour le gras, les liens et les titres, on en devrait pas avoir trop de problèmes.

[2015-02-24 16:54] cgabard commented on #2001
[En cours de merge](https://github.com/zestedesavoir/zds-site/pull/2291)

[2015-02-24 20:40] Eskimon commented on #2324
Effectivement, c'est plus au niveau du refactoring que ca cloche. Ce qui se passe c'est que l'on renvoie toujours xx membres par page du paginator et du coup comme on affiche "members.count" on se retrouve à afficher xx. Il faudrait j'imagine retourner une variable supplémentaire "total" mais avec le nouveau "format" du module je galère un peu à voir comment faire

[2015-02-24 20:57] GerardPaligot commented on #2324
Comme j'avais retiré le tag API, j'avais complètement oublié cette issue. PR faite du coup.

@Eskimon : En fait, la solution que tu as proposé m'a fait peur. Fallait absolument que je propose la solution propre. ^^

[2015-02-24 21:51] Eskimon opened #2381 "Les barres de pagination n'apparaissent pas"
Les barres de pagination n'apparaissent pas dans le cas ou l'on a que une seul item dans une liste (en tout cas c'est le cas pour la page du nombre de membres).

Apparemment c'est du front d'après les explications de @GerardPaligot et serait ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/misc/pagination.part.html#L6 et date d'il y a trèèèès longtemps !

Pour reproduire, charger

[2015-02-24 21:59] #2334 closed, assigned to nobody

[2015-02-24 22:05] #2337 closed, assigned to nobody

[2015-02-24 22:20] SpaceFox commented on #2247
Pour en finir ici, j'aimerais vraiment beaucoup une PR qui indique dans la doc clairement c'est quoi tox, à quoi ça sert et comment on s'en sert...

[2015-02-24 22:30] SpaceFox commented on #2317
Le throttling marche en IPv6, donc cette issue est corrigée.

Par contre, que se passe-t-il @GerardPaligot si le problème que tu mentionnes n'est pas corrigé ?

[2015-02-24 22:31] SpaceFox commented on #2204
OK pour ça.

[2015-02-24 22:31] Eskimon commented on #2324
Voila ca c'est fait rapidement et proprement :)

[2015-02-24 22:31] #2324 closed, assigned to gustavi

[2015-02-24 22:34] GerardPaligot commented on #2317
Il n'y a plus d'autocompletion. Rapporté par @firm1 un [peu plus haut](https://github.com/zestedesavoir/zds-site/issues/2317#issuecomment-75541049).

[2015-02-24 22:36] SpaceFox commented on #2317
Pas bloquant :)

[2015-02-24 22:49] GerardPaligot commented on #2319
Corrigé, merci @Fulbert !

[2015-02-24 22:49] #2319 closed, assigned to nobody

[2015-02-24 22:58] Fulbert commented on #2319
Merci @Eskimon et à toi surtout d'avoir pris le temps de m'expliquer quelques détails. :)

[2015-02-24 23:08] Fulbert commented on #2319
En ce qui concerne la page "Messages postés", les messages masqués n'apparaissaient pas dans le tableau pour les membres simples (non-admin). Donc la condition dupliquée pour cette page par @Eskimon me semble inutile voir contraignante, car du coup l'extrait ne s'affiche pas pour les admins qui sont les seuls à le voir...

C'est franchement du détail... Le compromis serait d'indiqué que le message

[2015-02-25 12:28] Situphen commented on #2230
A fermer car corrigé par #2323 !

[2015-02-25 12:30] #2230 closed, assigned to nobody

[2015-02-25 15:14] Situphen commented on #2266
Du coup on fait quoi ? On intègre Cookies EU banner ou on code une solution maison ?

[2015-02-25 19:16] #2275 closed, assigned to gustavi

[2015-02-26 19:48] SpaceFox commented on #2204
Bon ben c'est parti : Twitter dégage.

[2015-02-26 20:18] SpaceFox commented on #2204
Voilà, si quelqu'un peut tester cette PR : https://github.com/zestedesavoir/zds-site/pull/2383

[2015-02-26 22:13] SpaceFox commented on #2204
Voilà, c'est corrigé.

[2015-02-26 22:13] #2204 closed, assigned to nobody

[2015-02-26 22:54] SpaceFox commented on #2124
L'issue est en prod, donc je la ferme. Merci de refaire une issue avec le nouveau problème.

[2015-02-26 22:54] #2124 closed, assigned to gustavi

[2015-02-26 22:55] SpaceFox commented on #2126
Cette issue est en prod donc je la ferme. Merci de réouvrir un ticket avec le nouveau problème.

[2015-02-26 22:55] #2126 closed, assigned to gustavi

[2015-02-27 08:53] GerardPaligot commented on #2295
Quelle est la décision pour finir ? Devons-nous fermer cette issue pour en créer une nouvelle qui explique qu'il faut changez toutes les dépendances à User partout pour Profile ?

[2015-02-27 08:56] SpaceFox commented on #2295
Au point où on en est et vu que l'API est finie, j'aimerais bien savoir si c'est faisable de revenir à un modèle à table unique. Parce que ça nous simplifierait bien la vie (une fois en place, parce que la PR pour faire ça risque d'être un poil complexe).

[2015-02-27 09:06] GerardPaligot commented on #2295
Du côté de l'API, si je n'ai plus qu'une table (donc si Profile est fusionné avec User), je vais pouvoir faire fondre du code parce que je me suis cassé la tête à afficher sur un seul niveau toutes les informations. Donc, avoir quelque chose comme ceci :

[code]

Plutôt que :

[code]

Je ne peux que encourager cette fusion du côté de l'API.

[2015-02-27 09:40] Eskimon opened #2385 "Lien d'avatar irrecuperable"
via l'API on ne peut pas obtenir l'avatar d'un membre dont l'image est servie par gravatar. En effet, le lien gravatar n'est pas donnée et ne peut être déduit après coup car il faut l'email du membre. Il faut donc que l'API serve ce lien tout prêt.

( @SpaceFox je ne sais pas quel milestone mettre. Est-on dans le cadre d'un bug simple ou passons nous cela dans du hotfix ?)

[2015-02-27 09:44] GerardPaligot commented on #2385
Tu t'es basé sur quoi pour placer le tag "Facile" ? Perso, je n'ai aucune idée de comment générer l'URL de l'avatar gravatar et ce n'est pas si simple de compléter de l'information dans une réponse de l'API (surtout pour des nouveaux devs sur l'API).

[2015-02-27 09:45] SpaceFox commented on #2385
Ce n'est pas un hotfix, ça ne bloque rien.

[2015-02-27 09:53] Eskimon commented on #2385
Sur mon expérience :) je sais ou trouver et comment générer le lien sans souci :D Pour info, c'est dans le modele `member` ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/models.py#L126

[2015-02-27 10:41] firm1 commented on #2317
Je réouvre ici, car le throlling est encore partagé sur la prod.

c'était le cas avec [simbilou](http://zestedesavoir.com/forums/sujet/2549/jouons-avec-lapi-des-membres/?page=1#p45788), et moi même.

PS : cette issue n'est assignée à aucune milestone

[2015-02-27 10:41] #2317 closed, assigned to nobody

[2015-02-27 10:41] SpaceFox commented on #2317
J'ai chié une conf, déjà signalé, en cours de correction.

[2015-02-27 11:02] firm1 opened #2386 "Revoir la gestion de l'autocomplétion sur le site"
Actuellement, l’auto complétion sur le site utilise l'API, ce qui est très bien. Le problème c'est que le front-end ne se connecte pas en tant que client de l'API pour pouvoir passer sur un throlling raisonnable.

La conséquence étant donc que l’auto complétion ne marche plus après 60 requêtes à l'API dans l'heure. Le nombre de requête vers l'API évoluant assez vite lors d'une recherche d'un membr

[2015-02-27 11:35] Situphen commented on #2386
Par contre, il a une durée d'expiration le token ? Si non, faut-il lui en mettre une ?

[2015-02-27 12:11] GerardPaligot commented on #2386
J'ai fais des recherches à ce sujet. Il faudrait tester [SessionAuthentication](http://www.django-rest-framework.org/api-guide/authentication/#sessionauthentication) qui, si je le comprend bien, utilise les sessions Django pour passer l'utilisateur à l'état authentifié auprès de l'API. Cela résoudrait donc le problème exposé ci-présent avec une seule ligne de code à rajouter à la suite de [cette l

[2015-02-27 14:01] DevHugo commented on #2308
L'erreur est sur cette ligne: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L214.

L'erreur se produit aussi dans se scénario:
- Je crée un mini-tuto
- Je fait des modifications
- Je vais dans l'historique
- Je clique sur le premier lien de diff
- => Le diff est vide.

La commande qu'il pourrait exécuter est git diff 4b825dc642cb6eb9a060e54bf8d69288fbee4904 < Hash du pre

[2015-02-28 18:12] Situphen commented on #2386
Je viens de tester l'autocomplétion en appuyant sur toutes les touches pour que mon navigateur envoie plus de 60 requêtes au serveur, sans que je n'ai de 304 et j'ai réussi. L'autocomplétion fonctionne toujours bien après 100 requêtes ! Les logs du serveur sont [ici](http://pastebin.com/Dp5bRttb).

[2015-03-01 10:22] artragis opened #2388 "[POST ZEP-25] Revoir les limitations sur les titres et les tags"
Comme décrit [ici](https://zestedesavoir.com/forums/sujet/2455/un-champ-pour-les-tags/?page=1#p46018), la limitation à 128 caractères entre en conflit avec le fait que les tags sont compris à l'intérieur du titre.

Deux possibilités sont envisageables :
- externaliser les tags dans un autre champs
- faire en sorte que la vérification de la longeur se fasse _après_ le parsing des tags.

Pour ma par

[2015-03-01 14:38] GerardPaligot commented on #2386
Qu'est-ce que tu as testé @Situphen ? Sur quel serveur ? Un serveur avec un throttling correctement configuré ?

[2015-03-01 14:43] Situphen commented on #2386
J'ai testé avec le serveur par défaut de Django mais vu ce que tu me demandes, je me pose en effet la question de savoir s'il faut un vrai serveur devant ou pas !

[2015-03-01 14:46] GerardPaligot commented on #2386
Le problème n'est pas de devoir tester sur une serveur de production ou non. Le problème c'est que je ne sais pas quelles sont les modifications que tu as fais pour que ça fonctionne chez toi en local et si tu as un throttling qui fonctionne à la base ou non. :)

[2015-03-01 14:48] Situphen commented on #2388
La limitation du titre est à 80 caractères (voir https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/models.py#L132) ! Aussi, il faut penser à changer ça https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/forms.py#L20 car sinon le champ HTML aura toujours un attribut `maxlength` à 80 !

[2015-03-01 14:50] artragis commented on #2388
Yep, comme je le disais, il y a des choses à déporter.

Soit on crée un nouveau champ pour le form helper qui faire le parsing du tag, soit met la validation dans toutes les actions. Je ne sais pas si le premier est possible mais si c'est le cas il respecte la philosophie DRY.

[2015-03-01 16:03] Situphen commented on #2386
Je n'ai fait aucune modification et je suis à jour avec upstream/dev (le dépôt officiel).

J'ai testé 2000 requêtes et j'ai réussi mais au milieu j'ai coupé sans faire exprès le serveur donc je sais pas si le test reste correct.

[2015-03-02 10:57] SpaceFox commented on #2356
C'est clos ici, au fait.

[2015-03-02 10:57] #2356 closed, assigned to Ge0

[2015-03-02 11:22] firm1 opened #2390 "Les topics ne sont plus épinglés dans la navigation par tag"
Naviguant via le [tag zep](https://zestedesavoir.com/forums/sujets/tag/51/zep/), on se rend compte que les sujets épinglés ne sont plus en haut de la liste, comme lors de la navigation par forum.

[2015-03-02 12:22] SpaceFox commented on #2390
Je crois que c'est volontaire.
Le 2 mars 2015 12:22, "firm1" notifications@github.com a écrit :

[2015-03-02 13:05] GerardPaligot commented on #2390
Ca me ferait bizarre d'épingler les sujets avec la navigation par tag.

[2015-03-02 13:22] firm1 commented on #2390
Si c'est voulu, alors on ferme l'issue

[2015-03-02 13:22] #2390 closed, assigned to nobody

[2015-03-02 13:38] SpaceFox opened #2391 "Est-ce qu'on utilise un pool de connexions sur ZdS ?"
Salut les devs,

J'ai l'impression, au vu des stats Munin, qu'on utilise absolument pas de pooling sur les connexions à la base de données.

Donc, on s'emmerderait à ouvrir une nouvelle connexion à chaque requête... et on a des pages franchement lourdes en requêtes !

Il se trouve qu'il y a [une forme de pooling intégré à Django depuis la v1.6](https://docs.djangoproject.com/en/1.6/ref/databases/#

[2015-03-02 13:46] firm1 commented on #2391
On est bien en mode persistent en preprod/prod et le `CONN_MAX_AGE` est fixé à 10 minutes.

En gros toutes les 10 minutes django réinitialise une nouvelle connexion à la base de donnée.

Par contre [ce n'est pas le cas dans travis](https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings_test.py)

[2015-03-02 13:47] SpaceFox commented on #2391
Ce qui m'inquiète alors c'est que ce paramètre [ne soit pas déclaré dans le settings.py](https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py)

[2015-03-02 13:49] firm1 commented on #2391
Il est dans la settings_prod (ça fait partie de la conf spécifique de prod), c'est une option du dictionnaire `DATABASES`

[2015-03-02 13:51] SpaceFox commented on #2391
Il faut vraiment qu'on discute de  ce qui est mis dans ce fichiers settings_prod.py. Pour moi ce n'est pas normal qu'on se retrouve à y mettre des valeurs sans qu'elles soient (au moins avec une valeur par défaut) dans le fichier settings.py.

Pourquoi  ? Parce que du coup les développeurs n'ont pas conscience de l'existence de ces paramètres. Par exemple, tous mes tests sur les gains des améliora

[2015-03-02 13:55] GerardPaligot commented on #2391
A mon sens, ce débat aurait sa place dans le prochain Zest'Meeting.

[2015-03-02 13:56] firm1 commented on #2391
Entièrement d'accord, et en plus il y'a déjà une [issue sur le sujet](https://github.com/zestedesavoir/zds-site/issues/1023)

[2015-03-02 13:57] SpaceFox commented on #2391
OK, donc :
- Je laisse ouvert ici, parce que j'aimerais bien savoir si on est conformes aux bonnes pratiques en la matière. Entre autres la durée des connexions.
- On parle du settings_prod.py au prochain zest'meeting.

[2015-03-02 16:41] firm1 opened #2392 "Les sujets privés ne sont pas si privés que ça"
Via poliorcetics [sur le forum](http://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=27#p46178), il est possible en tant que membre simple ou invités de voir les titres/sous titre des topics sur la page de profil d'un membre du staff.

ça ressemble à une regression du refactoring des membres

Voir screen :

![probleme-secu](https://cloud.githubusercontent.com/assets/6066015/6445299/4c

[2015-03-02 16:47] SpaceFox commented on #2392
Je suis presque sûr que c'est une régression aussi.

Le 2 mars 2015 17:41, firm1 notifications@github.com a écrit :

[2015-03-02 17:32] GerardPaligot commented on #2392
Chose surprenante puisque la requête pour récupérer cette liste des sujets n'a pas changé.

[Requête sur la version 1.5-RC3](https://github.com/zestedesavoir/zds-site/blob/v1.5-RC3/zds/member/views.py#L253)

[Requête sur la version 1.6](https://github.com/zestedesavoir/zds-site/blob/v1.6/zds/forum/managers.py#L13)

[2015-03-03 11:05] firm1 commented on #2392
@GerardPaligot sur les deux liens que tu montres, on voit bien que la méthode à changé.

Avant on avait

[code]

Après on a

[code]

La regression est bien là

[2015-03-03 11:55] GerardPaligot commented on #2392
Bien vu, je ne l'avais pas remarqué. Est-ce un hotfix ou une PR pour la release 1.7 ?

[2015-03-03 12:35] Eskimon commented on #2392
Je dirais hotfix car c'est un bug apparu dans la release

[2015-03-03 12:36] SpaceFox commented on #2392
+1, et la fuite d'infos privées, c'est pas cool.

[2015-03-03 12:53] GerardPaligot commented on #2392
Bien, je m'en occupe ce soir alors.

[2015-03-03 14:47] firm1 opened #2393 "Impossible de modifier le titre/sous-titre d'un MP"
Actuellement quand on crée un MP, il n'est plus possible de modifier le titre/sous titre de celui-ci.

C'est dommage car j'aimerai pouvoir modifier une faute d'orthographe dans mon MP qui ne fait pas très sérieux du coup.

[2015-03-03 14:51] firm1 opened #2394 "Il est possible de créer un topic/mp sans titre apparent"
Scénario :
- Allez sur l'url suivante : http://beta.zestedesavoir.com/forums/sujet/nouveau/?forum=16
- Saisir dans la le titre la chaine `$ $`
- Remplir le contenu du message
- Valider

Le topic ressemblera à ça :

![vide](https://cloud.githubusercontent.com/assets/6066015/6464805/1826eb70-c1bd-11e4-88c3-d30b4da197f8.PNG)

[2015-03-03 14:58] GerardPaligot commented on #2394
Pourquoi `$ $` ?

[2015-03-03 14:59] SpaceFox commented on #2394
C'est toujours le même problème du LaTeX dans les titres.

2015-03-03 15:58 GMT+01:00 Gérard Paligot notifications@github.com:

[2015-03-03 15:33] firm1 opened #2395 "Impossible de se désinscrire quand on est en lecture seule"
La mise en lecture seule d'un membre l'interdit d'écrire sur le site, ça c'est bien.

Mais le problème c'est que si le membre en lecture seule veux se désinscrire car il ne veut peux recevoir de notification par mail venant du site, il ne peut pas.

En effet, en lecture seule on ne peut ni acceder/modifier ses paramètres (pour désactiver la réception des mails par exemple), ni se désinscrire. Ce q

[2015-03-03 15:40] firm1 opened #2396 "Un membre banni peut encore envoyer des MPs tant qu'il n'est pas déconnecté"
Lorsqu'on ban un membre, celui-ci n'est pas déconnecté automatiquement, et donc il peut encore faire des choses comme envoyer des MPs à qui il veut.

C'est une regression de la refacto du module des membres, car avant, la session du membre banni était tuée lors du ban.

[2015-03-03 15:58] GerardPaligot commented on #2396
Qu'est ce qui faisait ça ?

[2015-03-03 15:59] SpaceFox commented on #2396
Aucune idée, mais je suis pratiquement certain d'avoir testé cette fonctionnalité. Note le "pratiquement" :)

[2015-03-03 16:04] firm1 commented on #2396
Il me semble qu'on capturait la session du membre à bannir, et on la killait. Ce qui fait que l'utilisateur était déconnecté automatiquement. ça devrait pouvoir être fait facilement en remontant dans l'historique de modification.

[2015-03-03 16:10] GerardPaligot commented on #2396
Si c'était bien [cette ligne ci](https://github.com/zestedesavoir/zds-site/blob/v1.5-RC3/zds/member/views.py#L331) qui faisait la déconnexion. Elle le fait toujours via [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/commons.py#L381) où `profile` est bien l'[utilisateur à bannir](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L358).

Es-tu bien s

[2015-03-03 16:14] Situphen commented on #2394
Similaire à #2245 et #1817.

[2015-03-03 16:42] firm1 commented on #2396
Oui je suis sur du bug

[2015-03-03 17:49] GerardPaligot opened #2397 "Doublon de vues dans l'édition d'un MP"
Pendant mon refactoring dans le module des MPs, je suis tombé sur deux méthodes dans les vues : [edit](https://github.com/zestedesavoir/zds-site/blob/dev/zds/mp/views.py#L249) et [add_participant](https://github.com/zestedesavoir/zds-site/blob/dev/zds/mp/views.py#L524).

J'aimerais que quelqu'un me confirme (ou m'infirme), que ce sont bien deux implémentations différentes pour la même fonctionnali

[2015-03-03 18:48] Situphen commented on #2397
Je confirme ! D'ailleurs, la vue "edit" n'est même pas utilisée dans les templates...

[2015-03-03 19:12] GerardPaligot commented on #2397
Merci de confirmer ma conclusion. Je vais fusionner les deux.

Je ferme.

[2015-03-03 19:12] #2397 closed, assigned to nobody

[2015-03-03 19:26] Situphen commented on #2397
N'oublie pas de fusionner aussi les tests ! ;)

[2015-03-03 19:30] GerardPaligot commented on #2397
`add_participant` n'est qu'une version plus complexe de `edit`. Du coup, la fusion est simple. :)

[2015-03-05 13:29] Deuchnord opened #2399 "Envoi d'un message sur une page qui n'est pas la dernière"
Je ne sais pas si je suis le seul, mais personnellement j'ai souvent tendance à ne pas voir qu'il y a une nouvelle page qui est apparue sur un sujet de forum, ce qui fait que je commente souvent sans avoir vu les tous derniers messages en date. Assez embêtant, car il m'est déjà arrivé de me retrouver en total HS à cause de ça…

Le plus simple serait peut-être d'afficher une petite alerte au-dessus

[2015-03-05 14:16] artragis opened #2400 "On peut demander la validation d'une version inexistante"
Je poste ceci sur le dépôt public car bien qu'on soit dans le cas d'une faille elle est légère et son exploitation ne donne pas lieu à de gros problèmes.

Aujourd'hui, pour demander la validation d'un tutoriel, nous envoyons la version dudit tuto dans le champ caché nommé "version".
Seulement aucune vérification n'est faite quant à cette version ce qui peut amener à des erreurs 500 chez les valida

[2015-03-05 15:45] Axylium commented on #2399
C'est vrai, que ça pourrait être pas mal ! Ça permettrait d'éviter pas mal de confusions !

[2015-03-05 22:46] SpaceFox opened #2401 "Configurer la recherche Solr."
Ci-dessous le schéma Solr généré automatiquement. En gros, c'est un peu n'importe quoi. A commencer par le fait qu'il est localisé en anglais alors que tout le contenu est en français.

Il faudrait voir comment on peut le configurer (et si possible via Django, pour qu'il puisse être généré propre) pour améliorer la pertinence des recherches.

[code]

[2015-03-05 22:52] SpaceFox opened #2402 "Cesser de faire réindexer toujours la même chose à Solr"
Aujourd'hui, toutes les demi-heures, on réindexe l'intégralité du contenu de ZdS.
Autant dire que ça ne va pas pouvoir durer bien longtemps, parce que c'est de plus en plus long.

L'idée est de trouver une combine pour indexer fréquemment le _nouveau_ contenu (pourquoi pas carrément à sa publication, si c'est faisable).

On peut imaginer de réinitialiser l'index de façon propre (c'est de toute man

[2015-03-05 22:58] firm1 opened #2403 "Incohérence entre les +1/-1 en mode invité et en mode connecté."
Quand on est en mode invité et que le message a reçu plus de positifs que de négatifs, on se retrouve avec le pouce coloré. Chose que l'on a pas lorsque l'on est connecté et que l'on a pas voté.

Le gras sur le pouce est censé dire qu'on a voté pour le message. Ça n'a donc pas de sens de l'avoir quand on est en mode invité.

Screen : mode connecté (pas voté)

![tmp_21435-screenshot_2015-03-05-23-5

[2015-03-05 23:10] firm1 commented on #2402
On a une idée de la consommation de la réindexation actuellement sur la prod ?

[2015-03-05 23:27] firm1 opened #2404 "Libellé incomplet dans la sidebar sur mobile"
Firefox/Android/One Plus.

Voir Screen.

![tmp_21435-6 mars 2015 002512 cet1913268008](https://cloud.githubusercontent.com/assets/6066015/6517045/7876b574-c397-11e4-9542-0c7e24cdc3ff.jpg)

[2015-03-06 00:10] #2375 closed, assigned to nobody

[2015-03-06 00:12] SpaceFox commented on #2402
Beaucoup trop. Genre, un cœur à 100% pendant plus de 5 minutes toutes les demi-heures... sans tenir compte des requêtes débiles que ça provoque, du genre "va lire toute la base" puis "va lire tous les tutos publiés".

[2015-03-06 13:13] GerardPaligot opened #2405 "Erreur 500 sur un tutoriel (en validation)"
Dans l'espace de validation des tutoriels, ce [tutoriel](https://zestedesavoir.com/tutoriels/off/625/le-developpement-durable-en-entreprise-la-rse/?version=60daa67e3336c3003080e4b6e2f74008da01243d) provoque une erreur 500 lorsqu'on veut y accéder.

Ping @SpaceFox pour connaitre l'erreur via Sentry.

[2015-03-06 14:10] #2054 closed, assigned to nobody

[2015-03-06 14:11] GerardPaligot commented on #2054
Merci @A-312, issue corrigée !

[2015-03-06 14:26] ghost commented on #2401
Il n'était pas censé être "inutile" ce fichier ? (se ref : https://github.com/zestedesavoir/zds-site/pull/2362 ).

[2015-03-06 14:30] SpaceFox commented on #2401
Sa version sur le dépôt est inutile, oui. Il doit être généré dans le dossier Solr.

[2015-03-06 15:03] Situphen commented on #2403
Doublon de #1683 ?

[2015-03-06 15:04] Situphen commented on #2404
Doublon de #1683 ?

[2015-03-06 23:18] SpaceFox commented on #2392
@GerardPaligot tu as pu t'en occuper ?

[2015-03-06 23:22] SpaceFox commented on #2405
[code]

Bizarre...

[2015-03-07 08:35] GerardPaligot commented on #2392
Sorry, j'avais complètement oublié ! Du coup, je l'ai fais maintenant. Sur quelle branche je dois faire ma PR ?

[2015-03-07 11:56] SpaceFox commented on #2392
`prod`, c'est un hotfix.

[2015-03-07 12:44] GerardPaligot commented on #2392
PR faite.

[2015-03-07 17:09] DevHugo commented on #2405
Si on demmande gentillement à l'auteur, on pourrait avoir le .git, tu pense ?

[2015-03-07 17:26] GerardPaligot commented on #2405
Le bug est bizarre.

Le tutoriel est accessible via ce [lien](https://zestedesavoir.com/tutoriels/off/625/le-developpement-durable-en-entreprise-la-rse/) mais il est vide tout autant que son historique.

ping @artragis pour savoir ce qu'ils ont fais.

[2015-03-07 17:38] artragis commented on #2405
En fait, le tuto **est** vide.
je l'avais mis en validation en y mettant une fausse version et il
m'affichait "une autre version de ce tutoriel est en validation". En
local, cela créait des problèmes côté validateur quand il voulait
afficher un tuto, mais comme je ne suis pas validateur sur le site en
prod, je n'ai même pas pu tester et pour éviter qu'ils ne se retrouvent
avec un truc qui les envo

[2015-03-08 00:35] SpaceFox opened #2407 "Les catégories d'article renvoient vers les tutos"
Sur la page de listing des articles (https://zestedesavoir.com/articles/) on a une jolie collection de catégories. Qui renvoient toutes vers les catégories des _tutos_.

C'est là qu'on voit que cette fonctionnalité a l'air très utilisée.

Je ne sais pas si c'est un bug ou une régression de la v1.6.

[2015-03-08 00:50] firm1 commented on #2407
[Déjà signalé](https://github.com/zestedesavoir/zds-site/issues/2134#issuecomment-74095406)

[2015-03-08 00:51] SpaceFox commented on #2407
Je garde cette issue parce qu'elle décrit directement le problème alors, c'est bien plus clair que l'autre.

[2015-03-08 00:52] SpaceFox commented on #2134
Cf la #2407 pour ce problème spécifique. Je ferme ici.

[2015-03-08 00:52] #2134 closed, assigned to gustavi

[2015-03-08 14:19] SpaceFox commented on #2247
Non mais franchement... Pourquoi la batterie de test qui est sensée utiliser SQLite exige une dépendance à MySQL ?

"Documentation" :

Réalité :

[code]

PS : J'ajoute que c'est normal, puisque quand on demande un test sous MySQL, on demande bien l'installation de la dépendance MySQL :

[code]

@firm1 on a une chance d'avoir une vraie conf de Tox qui fonctionne et une vraie doc sur la manière de l

[2015-03-08 14:46] SpaceFox commented on #2247
En fait, c'est la doc de `tox -e back` : il ne lance **pas** le test sur SQLite mais **sur la base spécifiée dans les settings**. Ce qui est très différent : si comme moi vous avez MySQL dans les settings... ça va planter. Parce que du coup il manquera la dépendance...

[2015-03-08 15:29] SpaceFox opened #2410 "Tox ne gère pas correctement les BDD pour les tests"
Théoriquement, présente 2 moyens de lancer les tests back :
- `tox -e back` : test du back end sur sqlite (la commande prend en compte flake)
- `tox -e back_mysql` : test du back end sur mysql (pour travis)

Or, Tox ne gère pas correctement les données de connexion : il utilise celles présentes dans le `settings.py` et l'éventuel `settings_prod.py`.

Conséquences :
1. Si en dev j'ai une BDD MySQL,

[2015-03-08 15:32] SpaceFox commented on #2410
PS : Je me demande aussi si ce n'est pas la source des erreurs "MySQL has gone away" : parce que du coup MySQL ne reçoit aucune requête...

[2015-03-10 20:05] #1771 closed, assigned to nobody

[2015-03-11 08:07] #2095 closed, assigned to gustavi

[2015-03-11 08:08] GerardPaligot commented on #2098
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:08] #2098 closed, assigned to gustavi

[2015-03-11 08:08] GerardPaligot commented on #2099
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:08] #2099 closed, assigned to gustavi

[2015-03-11 08:08] GerardPaligot commented on #2100
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:08] #2100 closed, assigned to gustavi

[2015-03-11 08:08] GerardPaligot commented on #2102
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:08] #2102 closed, assigned to gustavi

[2015-03-11 08:08] GerardPaligot commented on #2103
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:08] #2103 closed, assigned to gustavi

[2015-03-11 08:09] GerardPaligot commented on #2104
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:09] #2104 closed, assigned to gustavi

[2015-03-11 08:09] GerardPaligot commented on #2107
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:09] #2107 closed, assigned to gustavi

[2015-03-11 08:09] GerardPaligot commented on #2108
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:09] #2108 closed, assigned to gustavi

[2015-03-11 08:09] GerardPaligot commented on #2111
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:09] #2111 closed, assigned to gustavi

[2015-03-11 08:09] GerardPaligot commented on #2177
Corrigé. Merci à @gustavi et @pierre-24 pour le rebase.

[2015-03-11 08:09] #2177 closed, assigned to gustavi

[2015-03-11 08:24] GerardPaligot commented on #477
Les choses s'améliorent sur ce point. Avec l'API, les managers sont apparus naturellement pour éviter la répétition du code. Cependant, cette issue est inutile puisqu'aucune PR se chargera d'utiliser les managers pour chaque requête (cela ne serait pas très pertinent d'ailleurs). Je ferme.

[2015-03-11 08:24] #477 closed, assigned to nobody

[2015-03-11 08:26] GerardPaligot commented on #2183
Est-ce que nous sommes satisfait de landscape (et clore cette issue) ou est-ce qu'il y a encore des choses à configurer ?

[2015-03-11 12:27] #2303 closed, assigned to Situphen

[2015-03-11 12:36] SpaceFox commented on #2113
Corrigé et mergé --> fermé.

[2015-03-11 12:40] #2113 closed, assigned to nobody

[2015-03-11 13:15] SpaceFox commented on #2115
Corrigé et mergé, merci à tous.

[2015-03-11 13:15] #2115 closed, assigned to nobody

[2015-03-11 14:02] firm1 commented on #2410
Je pense que cette issue n'a plus lieu d’être étant donné qu'on a pu voir en creusant le sujet et en Zest'Meeting que le problème ne vient pas de tox.

Les problèmes de cette issue n'arrivent que dans le cadre de la PR de passage à [django 1.7](https://github.com/zestedesavoir/zds-site/issues/1905) le reste du projet fonctionnant toujours bien, la conclusion évidente me parait être que le problème

[2015-03-11 14:05] SpaceFox commented on #2410
Tu devrais lire la PR en question : le problème vient au moins en partie du couple Tox + Travis... c'est expliqué dans la PR. Je l'explique partout et je ne sais pas comment te le faire comprendre. Et ce bout de dialogue de sourds commence à m'épuiser.

[2015-03-11 14:30] firm1 commented on #2410
Je récapitule pour être sur :
- Tox permet d'encapsuler un workflow de test. Aujourd'hui nous en avons 3 (back, back_mysql, front)
- Encapsuler signifie qu'il charge les dépendances spécifiques à chaque workflow et lance tests (d'ailleurs il reprend les commandes `python manage.py test blabla` )
- C'est grâce à ce principe qu'on peut paralléliser dans travis sans tout charger à chaque fois (et don

[2015-03-11 19:23] Situphen commented on #2001
Ça a été corrigé et mergé donc je ferme ! Merci @cgabard :)

[2015-03-11 19:23] #2001 closed, assigned to nobody

[2015-03-11 21:33] GerardPaligot commented on #2407
Merci @DevHugo, je ferme.

[2015-03-11 21:33] #2407 closed, assigned to nobody

[2015-03-11 23:27] #2332 closed, assigned to nobody

[2015-03-11 23:28] firm1 commented on #2332
Corrigé, merci @A-312

[2015-03-12 01:09] pierre-24 commented on #2401
Et en plus de tout ça, la dernière version de Solr (la 5.0) ne semble plus fonctionner avec ce fichier (voir à ce sujet https://github.com/django-haystack/django-haystack/pull/1148)

[2015-03-12 01:17] pierre-24 opened #2419 "MathJaX est cassé sur dev ?"
Je ne sais pas si c'est juste moi ou si c'est vraiment un bug, mais quand même. Quand j'emplois le code suivant : `Avec $U$ le potentiel, défini par $\sum_i K\,(\theta-\theta_i)$.`, j'obtiens ceci:

![screenshot from 2015-03-11 21 12 21](https://cloud.githubusercontent.com/assets/7889675/6610288/8f97f092-c833-11e4-9b41-2a2e98009551.png)

Autrement dit, le code _inline_ est intérpreté comme du code