[2014-06-28 22:37] ArnaudCalmettes commented on #1013
Oui j'ai bien compris et du coup je reconnais que tu n'y étais pour rien si l'issue n'était pas présente.
On a du monde qui arrive pour faire la QA.

[2014-06-28 22:43] Alex-D commented on #1013
Good ça :)

Je pense que cette PR n'a pas été validée simplement parce qu'il faut créer au moins deux pages de commentaires ou de topics pour vérifier qu'elle est correcte, et qu'on manque de fixtures (c'est en cours par @Eskimon si mes souvenirs sont bons). Pour l'avoir fait pour le test, c'est super long et chiant à faire.

[2014-06-28 22:47] Alex-D commented on #1008
Épinglé *

Ca me semble chaud à gérer...

Galerie ne prends qu'un l en français... :-° #easytroll

Plus sérieusement, il ne faut pas oublier de supprimer les fichiers au delà de la simple table en base.

[2014-06-28 22:50] ArnaudCalmettes commented on #1008
C'est prévu. On fera ça en tout début de semaine prochaine (puisque les
accès sont coupés dimanche soir à minuit).

Arnaud

Le 29 juin 2014 00:47, Alexandre Demode notifications@github.com a écrit :

[2014-06-29 10:31] ShigeruM commented on #929
C'est une issue à tiroirs en fait.

1- Je viens de changer les paramètres pour permettre à n'importe qui d'écrire au google group com-zeste-de-savoir@googlegroups.com, tout en conservant le contenu de ce group privé. Ça fonctionne dans le sens où le group reçoit bien le mail. Le group peut même répondre à l'email. Mais ensuite la discussion s'arrête là : la personne ne peut plus répondre au group.

[2014-06-29 10:36] ArnaudCalmettes commented on #929
Ça me semble la bonne solution.

Au moins temporairement, en tout cas.

[2014-06-29 14:35] Alex-D commented on #929
Je vote pour l'utilisation de l'adresse de communication actuelle. Evitons d'avoir 36 comptes différents.

comm-zds@gmail.com

Fix'd !

[2014-06-29 18:33] Eskimon commented on #893
Pourquoi c'est encore ouvert cette issue ?

[2014-06-29 18:34] Eskimon commented on #743
Etant donnée qu'ont ne voit plus les derniers messages mais qu'on a juste "Pas de nouveaux messages" d'affichés, est-ce encore pertinent de garder cette issue ?

[2014-06-29 18:36] Eskimon commented on #481
Ca fait partie des trucs corrigés dans la [PR #1001](https://github.com/zestedesavoir/zds-site/pull/1001)  non ?

[2014-06-29 18:38] Eskimon commented on #88
Durant la fin de la beta front, plus personne n'avait l'air de se plaindre de souci de taille sur ce sujet... On pourrait retester vite fait avec un nouveau batch de participant et fermer ?

[2014-06-29 19:10] geoffreyc commented on #929
Ya aussi l'option de pas passer par gmail dutout, et d'avoir une boite
directement sur le serveur. Avec l'avantage de pouvoir renvoyer des emails
a partir de (from:)comm@zestedesavoir.com

On Sun, Jun 29, 2014 at 3:35 PM, Alexandre Demode notifications@github.com
wrote:

[2014-06-29 19:18] vhf commented on #929
Note que tu peux aussi faire ça avec gmail.

[2014-06-29 19:24] #481 closed, assigned to nobody

[2014-06-29 19:25] geoffreyc commented on #929
On peut sans avoir le "xxx@xxx.com on behalf of yyy.yyy.com ? (en gros que
le header "sender" soit pas l'adresse gmail?)

2014-06-29 20:18 GMT+01:00 victor felder notifications@github.com:

[2014-06-29 19:30] firm1 commented on #964
Fixé.

[2014-06-29 19:30] #964 closed, assigned to nobody

[2014-06-29 20:59] SpaceFox commented on #964
Tu en es 100% certain ?

Parce que dans Munin, j'en vois encore passer (c'est le graphe "slow
queries" parce que c'est le même fichier").
Pour moi ça mérite d'être vérifié plus en détail du côté du serveur SQL.

2014-06-29 21:30 GMT+02:00 firm1 notifications@github.com:

[2014-06-29 21:53] Alex-D commented on #929
Oui, je le fais avec des domaines custom et ça fonctionne bien depuis GMail :)

[2014-06-29 21:54] Alex-D commented on #88
Pour moi on peut déjà fermer, je ne peux rien faire de mieux actuellement.

[2014-06-29 21:55] Alex-D commented on #743
Bah le bug est "corrigé" en quelques sortes. Du coup, ça n'a plus d'intérêt selon moi.

[2014-06-29 21:55] #743 closed, assigned to nobody

[2014-06-29 21:57] Alex-D commented on #1006
Ils fonctionnent localement, car c'est grâce à JSHint que j'ai pu le voir et que je l'ai corrigé. Il doit manquer un petit quelque chose dans la configuration de Travis pour le prendre en compte.

Du coup, ping @sandhose :)

[2014-06-30 00:30] ArnaudCalmettes commented on #88
Pour moi aussi.

[2014-06-30 00:30] #88 closed, assigned to Alex-D

[2014-06-30 10:56] vhf opened #1018 "404 sur les pages suivantes dans résultat de recherche"
Étapes pour reproduire :
1. Faire une recherche qui retourne plus d'une page de résultats
2. Choisir une page autre que la première page
3. Obtenir un 404

[2014-06-30 11:03] Eskimon commented on #1018
D'apres ca : https://github.com/zestedesavoir/zds-site/issues/708 ton probleme serait un doublon de ca: https://github.com/zestedesavoir/zds-site/issues/953 et serait resolu par le merge de ca: https://github.com/zestedesavoir/zds-site/pull/987

[2014-06-30 11:10] vhf commented on #1018
Bien vu. Je laisse quand même cette issue ouverte jusqu'à résolution du problème.

[2014-07-01 00:13] sandhose commented on #893
Parce que.

[2014-07-01 00:13] #893 closed, assigned to Eskimon

[2014-07-01 00:16] sandhose commented on #1006
[Voila pourquoi :-°](https://github.com/zestedesavoir/zds-site/blob/beta-0.2/Gulpfile.js#L149)

M'en occupe

[2014-07-01 09:45] Eskimon commented on #883
On a une raison de garder ça toujours ouvert ?

[2014-07-01 09:46] sandhose commented on #883
Peut-être

[2014-07-01 09:46] #883 closed, assigned to nobody

[2014-07-01 12:55] Alex-D commented on #1018
Je confirme.

[2014-07-01 15:34] Eskimon commented on #914
J'ai une base de prête permettant de charger des users et des fofos...
https://github.com/Eskimon/zds-site/tree/moar_fixtures

Vous voulez une PR pour en discuter plus simplement ou on parle ici si besoin ?

[2014-07-01 16:09] firm1 commented on #914
Un lien vers dataloader.py ne serait pas de refus.

Pourquoi donc ? il faudrait fixer un nombre d'utilisateurs staff et un nombre d'utilisateurs normaux. Et les login/pass doivent être donnés dans le readme.

Pourquoi seulement trois ? Quitte a paramétrer autant paramétrer aussi le nombre de catégories, qui sera fixé à 3 par défaut.

En utilisant ceci pour les titres, il faudrait limiter la taille

[2014-07-01 16:33] artragis commented on #953
Spacefox, attends deux secondes. Mon test n'a pas été aussi concluant que je ne le pensais. A peine ai-je rebuildé les outils front que la fenêtre modale de la recherche ne prenait plus en compte la requête.

[2014-07-01 16:36] SpaceFox commented on #953
Je ne sais pas dé-merger...

[2014-07-01 16:37] artragis commented on #953
Moi non plus mais comme je l'ai dit, c'est quand j'ai rebuildé les outils front que ça a merdé.
Il se peut que ça soit mon environnement qui merde plutôt que la PR de Alex.
A moins qu'il voit lui même qu'il y a une erreur.

[2014-07-01 17:07] Alex-D commented on #953
Je n'ai rien compris là.

[2014-07-01 17:09] artragis commented on #953
tu lances une recherche où il y a beaucoup de résultat.
tu cliques sur les "..." et tu as une modale
cette dernière ne prend pas le paramètre ?q=tarecherche.

[2014-07-01 17:57] Eskimon commented on #914
Zai oublié :(

Pourquoi pas ? Ce sont tous des dummy donc on s'en fiche non ? J'ai rajouté un utilisateur staff "connu" si on veut jouer avec l'administration. Mais sinon je vois pas trop l'intéret d'avoir plein de trucs statiques si on s’embête a avoir un dynamique

Ouai c'est vrai. J'en ai fait 3 pour avoir un truc similaire à la prod', mais c'est vrai que ca pourrait/devrais etre étendu simplem

[2014-07-01 19:16] #1013 closed, assigned to Alex-D

[2014-07-01 19:58] Eskimon commented on #1006
C'est QuAlitisé, mergé toussa = je ferme !

[2014-07-01 19:58] #1006 closed, assigned to sandhose

[2014-07-01 20:11] Alex-D commented on #953
C'est un problème différent alors. Ca n'a pas été introduit par cette PR. Et cette PR corrige le templating.

[2014-07-01 20:18] artragis commented on #953
Bah c'est juste que j'ai voulu bien faire hein, t'inquiète. Comme la PR parlait des "..."(puisqu'elle corrigeait 3 issues), bah j'ai signalé.
Et comme en plus le problème c'est que la boîte modale ne prend pas en compte le param ?q=tarecherche c'est lié.

[2014-07-01 20:21] Alex-D commented on #953
Oui, mais du coup c'est du JS, c'est lié mais ça ne concerne pas le même endroit. Du coup, pas besoin de "dé-merger", ça n'introduit aucun bug :)

Juste qu'il y en a un qui est encore là.

[2014-07-01 20:23] Eskimon commented on #996
Tout est réglé sur ce ticket :) Testé et tout est bon !

Merci @vulser pour les tests :)

[2014-07-01 20:23] #996 closed, assigned to nobody

[2014-07-01 21:49] ArnaudCalmettes commented on #1008
Voilà. La base en prod est clean.

[2014-07-01 21:51] ArnaudCalmettes commented on #1008
Vu le nombre de backups que SpaceFox a faits, je pense qu'on peut fermer cette issue, du coup.

[2014-07-01 21:51] #1008 closed, assigned to ArnaudCalmettes

[2014-07-02 00:22] 0hexit opened #1022 "Internal Server Error lors de l'upload d'images"
Lorsque j'essaie de mettre en ligne une image dans une galerie, j'obtiens une erreur : "Internal Server Error". J'ai l'impression que le problème est apparu depuis la mise à jour du serveur de prod il y a quelques heures.

Ça doit être lié à la config du serveur car sur mon installation locale, l'upload fonctionne très bien.

[2014-07-02 05:31] artragis commented on #953
Ok, effectivement pas besoin de démerger puisque le bug était là avant.
Par contre faut pas clore l'issue ^^. Je vais voir ce soir si je peux pas y toucher.
Faut-il mettre un CSRF à la modale ou pas?

[2014-07-02 07:49] firm1 commented on #1022
Durant la maintenance d'hier soir, un `python manage.py migrate` a été oublié.

ça marche mieux maintenant.

[2014-07-02 07:49] #1022 closed, assigned to nobody

[2014-07-02 07:55] SpaceFox commented on #1022
Je ne comprends pas, parce que je l'ai fait ce `python manage.py migrate`...

Ou alors c'est lié à l'état du fichier `settings_prod.py` et à ce qu'y a ajouté @ArnaudCalmettes.

[2014-07-02 07:57] firm1 commented on #1022
Tu as du le faire sur une mauvaise branche/commit car là je viens de le passer et la migrations sur la table des images n'était pas faite.

[2014-07-02 07:58] SpaceFox commented on #1022
Uniquement sur celle des images ?

[2014-07-02 07:59] firm1 commented on #1022
J'ai passé le migrate partout, mais il m'a juste signalé l'évolution des tables des images.

[2014-07-02 08:03] SpaceFox commented on #1022
Alors c'est du au fait que dans le fichiers `settings_prod.py` on trouve une surchage **complète** de `INSTALLED_APPS` et de `MIDDLEWARE_CLASSES`, qui n'ont strictement rien à foutre là.

Quand @ArnaudCalmettes  a mis à jour ces valeurs, il a oublié de lancer la migration, et j'ai pas pensé que comme je l'ai fait avant il faudrait le refaire.

Conclusion : on doit **vraiment** nettoyer ce fichier.

[2014-07-02 08:05] SpaceFox opened #1023 "Nettoyer le fichier settings_prod.py"
Il faut nettoyer le fichier `settings_prod.py` qui contient des masses d'informations qui n'ont rien à y faire.

Ça n'est pas strictement urgent puisque la prod marche aujourd'hui, mais vu qu'on a une grosse coupure autant en profiter.

PS : je m'en occupe ce soir.

[2014-07-02 08:18] firm1 commented on #1023
Hmmm, je pense plutot qu'elle sont toutes utiles.

Les surchagers d'Installed App sont là pour éviter d'avoir le DEBUG_TOOLBAR sur la prod. Si tu vire cette surcharge, tu auras très problablement la debug toolbar qui remontera (suffit de regarder l'ordre des appels)

Les surcharges de middlewares sont là en cas de bug incompréhensible. Le middleware Lastvisit à tendance à masquer la bonne erreur d

[2014-07-02 08:32] SpaceFox commented on #1023
Mon problème est qu'actuellement toute mise en prod qui touche à ces paramètre qui sont **écrasés** par ce fichier risque d'échouer.
C'est exactement ce qui est arrivé hier par exemple.

D'autre part ce fichier est critique. Pour moi, la production doit coller au plus près de ce qui est testé et donc dans Git. Le fichier `settings_prod.py` devrait donc être très petit, à l'heure actuelle il est ju

[2014-07-02 08:34] Ge0 commented on #497
Hello,

Je sais pas si la correction des failles CSRF est responsable du dysfonctionnement des +1/-1, mais en tout cas ils ne fonctionnent plus. Dois-je créer une nouvelle issue ?

[2014-07-02 08:35] SpaceFox commented on #497
Non c'est normal pour le moment
Le 2 juil. 2014 10:34, "Geoffrey R." notifications@github.com a écrit :

[2014-07-02 08:46] firm1 commented on #1023
En effet, sauf que le mode debug se désactive à la fin du fichier (lorsqu'on surcharge la variable DEBUG dans le settings_prod.py). Faudrait essayer de l'activer à la fin (après l'import du settings_prod).

ça je ne sais pas trop. Mais faut faire des essais. C'était juste pour rappeler pourquoi est-ce que les surcharges sont arrivés là

[2014-07-02 08:47] Ge0 commented on #497
Ok :)

[2014-07-02 09:16] SpaceFox commented on #324
Est-ce qu'on a une ETA pour cette issue ?

[2014-07-02 09:16] SpaceFox commented on #953
Est-ce qu'on a une ETA pour cette issue ?

[2014-07-02 09:17] firm1 opened #1024 "Augmenter la limite mémoire de Latex"
Un bug que je pensais avoir noté sur github, mais qui visiblement n'était pas fait.

Pour certains tutos avec de nombreuses images, lors de la production du PDF, Latex refuse de convertir les fichier et renvoi l'erreur `! TeX capacity exceeded`

Il doit donc y avoir un moyen d'étendre la limite mémoire de Latex.

[2014-07-02 09:20] artragis commented on #953
ETA?

[2014-07-02 09:21] SpaceFox commented on #929
Reste à faire si je comprends bien : paramétrer l'adresse de comm pour utiliser comm-sdz@gmail.com .

Je suppose que c'est dans le fichier de conf.

C'est fait ce soir.

[2014-07-02 09:22] SpaceFox commented on #953
Estimated Time of Arrival

2014-07-02 11:20 GMT+02:00 artragis notifications@github.com:

[2014-07-02 09:28] artragis commented on #953
L'issue en elle même concerne :
le bug de la pagination en elle même
le bug des "...".
Le premier est terminé.
Le second le sera sûrement ce soir.

[2014-07-02 09:31] geoffreyc commented on #929
Pour tout ce qui est redirection de mail ca se passe dans mysql.

2014-07-02 10:21 GMT+01:00 SpaceFox notifications@github.com:

[2014-07-02 09:47] Eskimon commented on #324
Plop @sandhose (que je viens d'assigner, je faisais juste placehoder avant)

[2014-07-02 09:48] devock commented on #324
Il me semble qu'@Alex-D devait s'en occuper hier.

[2014-07-02 12:08] Alex-D commented on #324
Le soucis c'est que le sujet du forum qui détaillait tout n'a pas a été gardé, SpaceFox tu aurait moyen de le restaurer ou de me refiler un log en texte plat au pire ?

[2014-07-02 12:09] Alex-D commented on #1018
Du coup ça a été corrigé avec le merge de la #987 .

[2014-07-02 12:09] #1018 closed, assigned to Alex-D

[2014-07-02 12:11] SpaceFox commented on #324
Tout est ici je pense :
http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/outils-et-codes-sources/la-mesure-daudience/#c5584

N'hésite pas à demander s'il manque quelque chose en particulier.

Le 2 juillet 2014 14:08, Alexandre Demode notifications@github.com a
écrit :

[2014-07-02 12:12] Alex-D commented on #324
Merci je n'avais plus ce lien justement, je vais tenter de faire quelque chose avec ça dès que possible.

[2014-07-02 13:39] coma94 opened #1026 "Back to top"
J'en remet encore une couche, mais le problème des _back to top_ n'est toujours pas résolu.

Pour ceux qui ne m'ont toujours pas vu râler: lorsqu'on scroll rapidement dans la page, on est ramené en haut une fois la pages chargée à 100%.
Sur PC c'est juste chiant, mais sur mobile, où le chargement est plus lent, ça rend la navigation quasi impossible, où alors en attendant 3 minutes que la page soi

[2014-07-02 13:45] vhf commented on #1026
Je confirme avoir le même problème sur mobile et sur PC.

[2014-07-02 14:34] Coy0te commented on #1000
Je suis certain également qu'on en avait déjà discuté avec Christophe au moment où il développait les fonctionnalités markdown, et qu'on avait conclu qu'il fallait limiter au strict minimum.

Je pense qu'à l'époque, ça a dû se faire sur la première ML.

[2014-07-02 16:27] vhf commented on #1026
Ok, alors en commentant les lignes suivantes :

[code]

Le comportement du scroll est à nouveau normal.

@Alex-D, que peut-on faire pour cette issue ?

[2014-07-02 17:19] artragis commented on #953
J'ai une copie à rendre. J'attends un review pour valider tout ça (notamment mon code JS qui est pas terrible, je pense) et le defreeze pour faire une PR :
https://github.com/artragis/zds-site/tree/fix_modal_supension

[2014-07-02 18:42] Eskimon commented on #981
Je prends !!

La limite a trois caractère ca devrait suffire non ? (genre le mec signal "Pub") ?

[2014-07-02 18:49] Eskimon commented on #497
Hop, PR mergé (https://github.com/zestedesavoir/zds-site/pull/1017) = issue fermé !! Bravo tout le monde, uen bonne chose de faite !

[2014-07-02 18:49] #497 closed, assigned to SpaceFox

[2014-07-02 20:15] Eskimon commented on #981
A ce propos : Si lors de la résolution le staffeux se contente de résoudre sans laisser de message, doit-on tout de même envoyer le MP de résolution (ça fait juste du spam inutile non ?)

[2014-07-02 20:43] amorison commented on #981
Une solution pourrait être de pré-remplir ce champ avec un truc du genre "Merci pour ton alerte, c'est réglé !", et de laisser au modo le soin de personnaliser, non ?

[2014-07-02 20:45] artragis opened #1028 "Personnaliser les pages d'erreurs pour les rendre plus agréables"
Bon, paraît qu'en 2014, il faut customiser les pages d'erreurs.
Mais il faut le faire bien, sans oublier d'où l'on vient.

Je propose donc :

500 : Clem qui dit "J'ai tout cassé" ou sa version plus personnelle "zeste ou cassé" (un truc du genre)
401/403 : Clem qui dit "Vous ne zesterez pas"
404 : "Es-tu perdu noble étranger/zesteur"
400 : "Mauvais zeste"

Je sais pas ce que ça vaut, mais je pense

[2014-07-02 20:46] Alex-D commented on #981
Il faudrait éviter de tout mélanger, l'issue de base parle des alertes membre -> modo. Pas de la réponse, et c'est à mon avis le problème principal.

[2014-07-02 20:47] Eskimon commented on #981
Assez d'accord @Alex-D , je me doutais que c'est ce qu'on allais me répondre, mais dans le doute (et gain d'un ticket) je proposais quand même :D

[2014-07-02 20:48] Alex-D commented on #953
Ta façon de faire n'est pas bonne du tout en fait. Je m'en charge ne t'inquiètes pas de ça. Il y a tout un tas d'issues back à régler ;)

[2014-07-02 20:51] artragis commented on #953
J'aurai quand même aimé connaître la bonne façon.
Néanmoins, je suis rassuré, parce que sur irc quelqu'un m'a dit que pour lui mon code était "bon", et même moi je doutais de sa grande qualité. Mais j'avoue que j'ai trop peu l'habitude de twig...
Pour les issues back, je verrai ce que je peux faire quand la béta publique sera lancée, parce que là y'a pas mal de chose qui ne sont aps de mon ressort

[2014-07-02 21:06] Alex-D commented on #1026
J'avais déjà testé pourtant et ça ne résolvait pas le problème.

Au pire ça peut dégager, mais c'est assez étrange.

[2014-07-02 21:13] Eskimon commented on #981
Je me demandais d'ailleurs, est ce que ça vaut le coup de s’embêter a faire un traitement côté back ou pas plus simplement mettre un contrôle sur l'input.

Parce qu'en sois c'est pas gênant si ça arrive vide, et c'est même contre productif de renvoyer le formulaire à l'utilisateur parce qu'il a rien écris non ? (car un signalement doit etre simple et rapide AMHA, donc s'il commence à nous revenir

[2014-07-02 21:23] vhf commented on #981
100% d'accord avec @Eskimon sur ce coup.

[2014-07-02 21:26] Alex-D commented on #981
A part que si le formulaire est bien fait il vient du back donc required + pattern = forms.py. Mais maintenant que tu le dis, c'est peut-être bien un truc moche fait en HTML brut.

[2014-07-02 21:45] Eskimon commented on #995
J'ai réglé le probleme dans le back sur le isvalid du form, par contre je comprend pas pourquoi ce dernier est codé en dur dans [https://github.com/zestedesavoir/zds-site/blob/master/templates/misc/message_form.html#L7](https://github.com/zestedesavoir/zds-site/blob/master/templates/misc/message_form.html#L7)

Du coup je rajoute aussi à la mano le required sur le form codé en dur ? (mais ca fait t

[2014-07-02 22:02] SpaceFox commented on #929
OK ça se passe dans MySQL, mais on fait comment ?

Est-ce qu'on est **certains** que la tâche à faire c'est rediriger communication@zestedesavoir.com vers comm-sdz@gmail.com ? Personnellement j'étais resté à "changer l'adresse dans le code" !

[2014-07-02 22:10] firm1 commented on #929
J'ai redirigé  communication@zestedesavoir.com vers comm-sdz@gmail.com

Sauf que comm-sdz@gmail.com n'existe pas !

[2014-07-02 22:10] SpaceFox commented on #929
-zds pas -sdz :D

[2014-07-02 22:12] firm1 commented on #929
Oh kay

[2014-07-02 22:13] Eskimon commented on #981
Pas de pot, [c'est un truc tout moche en dur](https://github.com/zestedesavoir/zds-site/blob/master/templates/misc/message.part.html#L69) (spa moi qui l'ai dit ^^)

[2014-07-02 22:15] firm1 commented on #929
Je confirme l'adress  comm-zds@gmail.com n'existe pas. Qui était censé la créer ? fallait pas plutot rediriger vers l'actuelle boite générale de clementine pour tout centraliser ?

[2014-07-02 22:15] Alex-D commented on #981
Donc on dit qu'on limite au niveau du front only ?

[2014-07-02 22:17] firm1 commented on #981
La bonne pratique serait de faire ça en front ET en back. Au cas ou le required n'est pas géré sur un navigateur le back refusera qund même.

[2014-07-02 22:19] SpaceFox commented on #929
Là, seule l'équipe de comm' pourra répondre.

[2014-07-02 22:19] Eskimon commented on #981
Ouai mais ca devient tout de suite plus chiant si on fait en back aussi, car renvoi de variable + réaffichage de la modale avec message d'erreur (pour au final juste un signalement qui ne concernera que les staff et dont un message vide n'est pas si dramatique).

J'en convient que la bonne pratique serait Back + Front cependant, mais dans ces cas la je vais passer la main car ca me demandera plus

[2014-07-02 22:20] firm1 commented on #929
C'est leur boulot non ? je croyais que le but c'était de pas polluer la terre des agrumes.

[2014-07-02 22:21] Eskimon commented on #976
Si c'est une contrainte légale il faudrait ptet voir a passer ça en bloquant V1 non ?

[2014-07-02 22:21] firm1 commented on #981
J'avais pas conscience de ce point chiant, donc je dis ok pour la solution front toute simple

[2014-07-02 22:22] vhf commented on #981
+1 @firm1

[2014-07-02 22:23] Alex-D commented on #981
Disons que pour les alertes on s'en moque un peu si le message est vide, c'est pas bloquant. Donc la solution du front-only me va parfaitement.

[2014-07-02 22:24] firm1 commented on #976
La contrainte légale s'applique à la newsletter, sauf qu'actuellement ZdS n'a pas de newsletter.

La page de teasing n'est pas une page de newsletter (même si on pourra l'utiliser pour ça plus tard)

[2014-07-02 22:29] Eskimon commented on #981
Dans ce cas la PR sera la demain :)

[2014-07-02 22:33] Alex-D commented on #976
A part que c'est indiqué comme tel : "S'inscrire à la newsletter pour être averti des nouveautés"

Du coup, même si on ne s'en sert pas comme tel jusqu'ici, il faut le prévoir.

[2014-07-02 22:34] firm1 commented on #976
on ne devrait pas l'appeler newsletter. 'fin bref, ce n'est pas bloquant

[2014-07-02 22:43] Alex-D commented on #929
Faut tout balancer sur zestedesavoir+communication@gmail.com

[2014-07-03 05:26] ShigeruM commented on #929
C'est ça. Il n'existe qu'une adresse : zestedesavoir@gmail.com. On peut utiliser un alias zestedesavoir+communication@gmail.com si vous voulez.

Le but est bien de tout centraliser et d'éviter de créer un autre compte google. Comme c'est l'équipe comm qui gère la boîte mail actuelle, ça aurait fait sérieusement doublon.

[2014-07-03 05:31] Ge0 commented on #929
J'ai mis à jour la redirection de communication@zestedesavoir.com à zestedesavoir+communication@gmail.com. Elle fonctionne. On est bon ?

[2014-07-03 05:34] ShigeruM commented on #929
Je viens de tester, c'est tout bon. Merci.

[2014-07-03 06:57] Ge0 commented on #929
On ferme l'issue du coup, non ?

[2014-07-03 08:57] #929 closed, assigned to SpaceFox

[2014-07-03 09:12] firm1 commented on #991
Possiblement un lien "Tous les tutoriels en beta" visible uniquement par les membres et qui renvoi vers la liste de tous les tutos en version beta.

Etant donné qu'on ne fera pas de review à la github avant au moins 23 versions, je proposerais bien le fonctionnement suivant :
- Lorsqu'on mets en beta une version de notre tuto, un sujet est crée dans le forum beta
- On peut donc commenter la versio

[2014-07-03 12:11] Taluu opened #1033 "Le compteur de karma ne se met pas à jour lors du vote"
Hello,

Quand on up / down vote un message, autant le curseur prend bien la bonne couleur (vert si +1, rouge sinon), ou la perd si on annule notre vote, mais le compteur (+1, +2, ... etc) ne se met pas à jour.

Il faut rafraîchir la page pour qu'il se mette à jour.

[2014-07-03 12:13] vhf commented on #1033
Salut, oui c'est noté.

@sandhose a une PR sous le coude qui corrige ça.

[2014-07-03 14:52] Taluu commented on #1033
Fixé lors du merge de #1035

[2014-07-03 14:52] #1033 closed, assigned to nobody

[2014-07-03 14:59] firm1 commented on #937
Fixé

[2014-07-03 14:59] #937 closed, assigned to nobody

[2014-07-03 15:24] vhf commented on #1026
Est-ce que quelqu'un peut confirmer que virer ce bout de code résout le problème ?

[2014-07-03 17:33] SpaceFox commented on #324
Pour info, parce qu'il semblerait que ce ne soit pas tout à fait clair : le **seul** truc qui manque pour sortir cette issue de l'état "bloquant pour la sortie", c'est le bidule de la CNIL pour refuser d'être googleanalysé.

Le reste sera soit une autre issue, soit celle-ci mais en mode "v2+".

[2014-07-03 17:34] vhf commented on #1026
Résolu par #1037 .

[2014-07-03 17:34] #1026 closed, assigned to nobody

[2014-07-03 18:56] #981 closed, assigned to Eskimon

[2014-07-03 18:57] SpaceFox commented on #953
Corrigé + mergé = fermé

[2014-07-03 18:57] #953 closed, assigned to Alex-D

[2014-07-03 21:41] SpaceFox opened #1042 "On ne peut plus créer de BDD depuis zéro"
Si j'essaie de créer une nouvelle BDD depuis 0, lors du migrate, j'obtiens cette erreur :

[code]

[2014-07-03 22:24] firm1 commented on #813
Je réouvre ce ticket, car les filtres ont à nouveau disparus pour les utilisateurs non connectés.

[2014-07-03 22:28] Alex-D commented on #813
Exact, je viens de comprendre pourquoi.

[2014-07-04 06:49] pierre-24 commented on #991
Ça va générer un sacré bazar si l'utilisateur change un mot et bourine le bouton "passer en béta" à chaque fois, si un recrée un sujet. Je verrais plus un message dans le topic du genre "ce tutoriel a été mis à jour, [...]" et limite un lien vers le diff, si le diff est accessible aux _users_. Ça évitera au moins de polluer le forum dédié de topics (mêmes lockés). Enfin je pense.

[2014-07-04 07:08] firm1 commented on #991
Maintenant que tu le dis, ce comportement irait très bien aussi.

Cependant le diff est pas accessible aux users.
Le 4 juil. 2014 08:49, "Pierre Beaujean" notifications@github.com a écrit
:

[2014-07-04 10:21] firm1 commented on #963
Il me semble que la [PR suivante](https://github.com/zestedesavoir/zds-site/pull/998) fait le boulot.

[2014-07-04 10:30] #963 closed, assigned to nobody

[2014-07-04 10:30] SpaceFox commented on #963
Je confirme, c'est même en prod depuis un moment.
Le 4 juil. 2014 12:21, "firm1" notifications@github.com a écrit :

[2014-07-04 11:43] firm1 opened #1045 "La barre d'affichage des cookies prend trop de place."
Os : Windows
Navigateur : FF 22

**Problème** : Je trouve l'affichage un peu Grossier.

A voir sur la préprod.

Screenshoot.

![cookies](https://cloud.githubusercontent.com/assets/6066015/3481389/587c3b6e-0370-11e4-96e9-a8ac8f28b29f.PNG)

[2014-07-04 11:45] Eskimon commented on #1045
Os : Ubuntu 12.04
Navigateur :  Chrome 35.0.1916.153

![screenshot from 2014-07-04 13 44 44](https://cloud.githubusercontent.com/assets/761168/3481404/bb8f0dd0-0370-11e4-8fbc-6d8ab1415a9f.png)

[2014-07-04 11:48] Eskimon commented on #1045
Et je sais que j'aurais pu donner mon avis plus tot, mais je trouve le bouton/lien "ici" pas adapte... j'aurais plutot vu le terme "refuser" (dans un bouton ?) qui montre une prise de position que "ici" qui donne l'impression qu'on va etre redirige autre part...

[2014-07-04 11:51] firm1 commented on #1045
+1

[2014-07-04 11:54] SpaceFox commented on #1045
+1 aussi.

Ce qui me chagrine en fait, c'est que lien pour refuser est pratiquement invisible. Pour moi il devrait avoir le même traitement que les autres.

[2014-07-04 11:57] vhf commented on #1045
Je trouve cette barre très bien. Elle répond exactement aux exigences de la CNIL, où le "ici" est aussi un petit lien : http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/outils-et-codes-sources/la-mesure-daudience/#c5584

[2014-07-04 12:02] firm1 commented on #995
Fixé, merci @Eskimon

[2014-07-04 12:03] #995 closed, assigned to Eskimon

[2014-07-04 12:06] Coy0te commented on #1045
@SpaceFox : c'est un détail, mais là au moins le réflexe des gens qui ne lisent pas c'est de cliquer sur OK. C'est pas ce qu'il y a de plus éthique, mais si on veut des stats qui tiennent la route, on a plutôt intérêt à ne pas mettre le bouton refuser en aussi gros que le bouton OK... :/

Par contre, je suis d'accord que le fonctionnement du lien "ici" est ambigu.

[2014-07-04 12:06] Eskimon commented on #1045
En meme temps la CNIL donne une ligne directrice pas une obligation. Si on estime que l'on veut informer l'utilisateur différemment et mettre des termes sans ambiguïtés on peu aussi non ? (parce que vraiment le "ici" stylise comme un lien mais fonctionnant comme un bouton je trouve ca genant, + la semantique du ici...)

On peut rajouter "anonyme" en gras pour rassurer le lecteur ?

[2014-07-04 12:08] SpaceFox commented on #1045
Je préfère avoir un site ethique que des stats précises, mais c'est un avis personnel.

[2014-07-04 12:08] vhf commented on #1045
Pour moi la priorité n'est pas éduquer les gens sur ce qu'est un Cookie et ce qu'on en fait, mais sur respecter les exigences de la CNIL.

[2014-07-04 12:08] SpaceFox commented on #1045
+1. Pour moi on est en train de discuter le futur là, le site sortir en bêta publique avec la version actuelle du bandeau.

[2014-07-04 12:10] Coy0te commented on #1045
Tu extrapoles un peu trop loin. C'est pas éthique vs stats, mais plutôt parfaitement éthique vs suffisamment éthique.

[2014-07-04 12:10] firm1 commented on #1045
Moi ça m'embête juste que la police soit aussi grosse et que la barre me prend 2 ligne pour rien. ça ne devrait pas être aussi aggressif pour les yeux

[2014-07-04 12:16] firm1 commented on #407
Ah cette issue aussi peut être fermée, Maintenant que les templates sont stables, j'ai passé un gros coup de balai dans les requêtes. Le nombre de requêtes a été réduit d'au moins 1/3 dans le pire des cas.

Voici [un résumé](https://github.com/zestedesavoir/zds-site/pull/1030#issuecomment-47931347) des nouvelles perfs :

[2014-07-04 12:16] #407 closed, assigned to nobody

[2014-07-04 12:33] SpaceFox commented on #324
Messieurs : je ferme le **dernier** ticket de la bêta publique \o/

[2014-07-04 12:33] #324 closed, assigned to sandhose

[2014-07-04 12:36] SpaceFox commented on #324
PS : la tronche du bandeau, les considérations graphiques et les améliorations à apporter dans le système de stats se feront dans d'autres tickets. Divisons pour mieux régner !

[2014-07-04 14:40] firm1 commented on #315
Avec toutes les discussions je ne sais plus si le choix de Verdanna en tant que police pour les Pdf est le bon.

Actuellement le site utilise [Merriweather](http://www.google.com/fonts/specimen/Merriweather), ça ne serait pas plus intelligent de garder la même police pour les pdf ?

[2014-07-04 14:43] Coy0te commented on #315
+1

[2014-07-04 14:48] SpaceFox commented on #315
+1
Le 4 juil. 2014 16:43, "Coyote" notifications@github.com a écrit :

[2014-07-04 14:58] firm1 commented on #421
Le titre de cette issue ne la rend pas bloquante beta publique ?

[2014-07-04 15:01] ShigeruM commented on #1045
Quel que soit le choix fait par le visiteur, la barre disparaît. On se
moque donc un peu qu'elle fasse une ou deux lignes.

Le 4 juillet 2014 14:10, firm1 notifications@github.com a écrit :

[2014-07-04 15:04] firm1 commented on #1045
Si l'utilisateur choisit de ne pas choisir, et bah il est bien emmerdé.

[2014-07-04 15:05] SpaceFox commented on #1045
Je crois que c'est exactement le but de ce genre de message, en fait : te
faire choisir.

Le 4 juillet 2014 17:04, firm1 notifications@github.com a écrit :

[2014-07-04 15:08] ShigeruM commented on #1045
Je voulais dire par là que ça ne concernera que quelques visiteurs (ceux
qui choisissent de ne pas choisir pour une raison obscure donc) et qu'à
partir de là, on se moque un peu d'avoir une ou deux lignes pour cette
barre.

Le 4 juillet 2014 17:05, SpaceFox notifications@github.com a écrit :

[2014-07-04 15:11] firm1 opened #1048 "Un moyen simple d'écrire des tableaux en markdown"
Je ne sais pas si vous avez déjà essayé, mais faire un tableau en mardkdown est assez chiant et on a 3 chances sur 4 de se rater.

L'idée est donc d'avoir via un bouton au dessus de la zone de rédaction, une boite modale dans laquelle on éditerait un tableau, et en validant, le contenu devra être inséré dans la zone de texte.

Pour information, la lib [fox js](https://github.com/jamesgpearce/foxjs

[2014-07-04 15:15] SpaceFox commented on #1048
Excellente idée.

Le 4 juillet 2014 17:11, firm1 notifications@github.com a écrit :

[2014-07-04 16:25] Eskimon commented on #1042
J'ai un fix testé sur une base mysql vide... Je pousse !!

[2014-07-04 17:07] Alex-D commented on #315
Aucune idée de comment ça se règle dans ZdS so, feu vert @firm1 :)

[2014-07-04 20:03] coma94 opened #1050 "Orthographe dans "À propos""
Petit mélange entre deux phrases..

Si ça ne vous dérange pas j'aimerai essayer de le corriger moi-même demain, en guise de première contribution ça semble pas mal non?

[2014-07-04 22:12] #1050 closed, assigned to nobody

[2014-07-04 22:23] Eskimon commented on #990
J'ai commencé à regarder vite fait et c'est pas si trivial qu'il n'y parait...

Est-ce qu'une solution acceptable pourrait etre :
- Dans un premier proposé l'atterrissage sur un formulaire de connexion pré-remplie avec le pseudo
- Plus tard dans le dev faire l'autoconnexion (qui pose un souci : l'utilisateur n'a pas le controle de la variable "rester connecté")

[2014-07-04 22:27] Eskimon commented on #928
A priori c'est fermé...

A priori seulement car on a pensé à un truc après coup : Cette correction devrait elle aussi s'appliquer sur les commentaires d'articles et tutos ? (je dirais oui)

[2014-07-04 22:31] Eskimon commented on #667
Je viens juste pour discuter et parce que les issues se corrige bien tfacon...

Alex a ecrit:

Pourquoi pas un code couleur ? les lignes en rouge sont le fofo, en jaune les tutos et en orange les articles par exemple. Ca fait moins de clic...

[2014-07-04 23:33] Axylium commented on #1028
Pour apporter ma pierre à l'édifice, si vous voulez, je peux m'en occuper.

[2014-07-05 08:28] Eskimon commented on #1028
Alors go :D Si le projet est open-source c'est bien pour recevoir des contributions du genre je pense :)

Tant que tu respectes la charte graphique (via les templates) tout devrait bien se passer ;) (il doit _peut-être_ y avoir des images de la mascotte qui traîne quelque part...)

(Et si tu as des questions sur l'utilisation des templates, je pense que @sandhose ou @Alex-D pourront t'aider sans s

[2014-07-05 10:32] Eskimon commented on #667
Ca a été corrigé depuis le temps ? Sur ma version local fraichement pullé de master, j'ai bien une page toutes les alertes completes... donc ca semble ok !

Une sidebar avec des filtres et se serait nickel !!

[2014-07-05 10:33] Axylium commented on #1028
D'acc' !

Je vais voir pour sûrement en contacter un des deux, puisque j'ai un peu de mal à faire tourner une version local de ZdS chez moi. Donc un peu d'aide ne serait pas de refus. :)

Pour les images de la mascotte, j'ai fais un peu le tour des dossiers, et je n'ai vu aucune d'elle ! ;)

[2014-07-05 16:45] Alex-D commented on #1028
Je n'ai rien contre la personnalisation des pages d'erreurs, seulement il y a des choses à faire en amont pour garantir une certaine uniformisation : créer une maquette type des pages d'erreurs.

Aussi, il faudrait intégrer la mascotte sur la page d'accueil (je sais je suis à la bourre là dessus) pour que ces pages d'erreur prennent sens, sinon on ne comprendra pas.

[2014-07-05 16:46] Alex-D commented on #667
Aucune idée, mais en tous cas je n'ai pas intégrer les différentes catégories d'alertes dans le menu en haut.

[2014-07-05 16:49] Alex-D commented on #428
A l'heure actuelle, aucun bug de la sorte n'a été relevé, est-ce qu'on peut considérer cette issue comme close ?

[2014-07-05 17:34] Alex-D commented on #665
Je relance : est-ce que ça doit être un fichier indépendant, etc ?

Il faudrait davantage d'informations pour faire quelque chose :)

[2014-07-05 17:42] Alex-D commented on #714
Pas de réponse, je considère donc cette issue comme doublon à la #152

[2014-07-05 17:42] #714 closed, assigned to nobody

[2014-07-05 17:43] Alex-D commented on #152
Je m'y met pour finir cette page correctement et corriger les bugs liés.

[2014-07-05 17:43] Alex-D commented on #813
En attente de validation :)

[2014-07-05 17:52] Alex-D commented on #123
Vu ce qu'on a pour l'instant dans ces dropdown, je ne peux pas tester et globalement on ne perd pas de place du tout.

Si le problème réapparaît un jour, on pourra rouvrir, d'ici là je ferme.

[2014-07-05 17:52] #123 closed, assigned to nobody

[2014-07-06 08:27] artragis commented on #423
La partie "tutoriel" a été totalement unit testée par @firm1  @Eskimon  et moi.

[2014-07-06 09:21] ShigeruM opened #1058 "Impossible d'éditer un tutoriel"
Après avoir importé un tutoriel SdZ, en essayant d’éditer son intro (modification de la catégorie par exemple), on tombe sur une "Internal Server Error".

J'ai testé avec les deux tutoriels actuellement sur la page d'accueil : "Dissimuler un texte dans une image" et "Débuter avec Windows 8". Pour le tuto Windows 8, j'ai essayé avant et après validation, le problème est le même.

En revanche l'édit

[2014-07-06 14:19] vhf commented on #1058
On peut avoir une copie du-dit tuto pour débugger ? (Par email ou par MP, volontiers.

[2014-07-06 15:44] ShigeruM commented on #1058
Une copie du tuto ? Il suffit de prendre le tuto Windows 8 actuellement sur
la home sur la prod. Plus simplement, il suffit de :
- créer un nouveau mini-tuto (pas essayé avec un big mais Windows 8 étant
  un big, j'imagine que c'est pareil) ;
- ajouter un extrait (le bug ne se produit pas sans extrait) ;
- essayer de modifier l'introduction du tuto ;
- constater l'erreur.

Je viens de faire cela à

[2014-07-06 15:44] vhf commented on #1058
En fait c'est bon avec les tutos des fixtures, merci !

[2014-07-06 16:25] vhf opened #1060 "[tutos] Introduction et Conclusion mis à "None" après déplacement d'un extrait"
Après déplacement d'un extrait, l'Intro et la Conclusion d'un tuto deviennent `None`.

[2014-07-06 16:25] #1058 closed, assigned to nobody

[2014-07-06 16:27] artragis commented on #1060
Uniquement si elles sont vides, non?

[2014-07-06 16:29] vhf commented on #1060
Non.

Si elles sont remplies, elles deviennent `None` quand même.

Elles deviennent `None` dans tous les cas, en fait.

[2014-07-06 16:34] artragis commented on #1060
bizarre, j'ai pas ce bug sur un mini tuto
Je regarde sur un big tuto.

[2014-07-06 17:03] artragis commented on #1060
J'ai corrigé le bug, je crée des tests unitaires puis je lance une PR.

[2014-07-06 21:07] #1060 closed, assigned to nobody

[2014-07-06 21:21] SpaceFox commented on #428
Pour moi c'est clos grâce au front d'@Alex-D, ce sera réouvert si le pb se représente.

[2014-07-06 21:21] #428 closed, assigned to nobody

[2014-07-06 21:35] SpaceFox opened #1062 "Problèmes d'indexation Solr"
Suite à la MEP de ce soir, j'ai trouvé des erreurs d'indexation Solr  sur ce tuto : http://zestedesavoir.com/tutoriels/190/dissimuler-un-texte-dans-une-image/

Je suppose parce que c'est parce qu'il a été cassé par le bug de déplacement des parties, mais c'est à vérifier.

[2014-07-06 22:28] Luthaf commented on #1024
Mes deux centimes sur le sujet (Je participe à ZdS \o/) : si vous utilisez TeXLive, il faut simplement éditer le fichier texmf.cnf. Voir [cette réponse](http://tex.stackexchange.com/a/7954) sur SO.

[2014-07-06 23:02] Alex-D commented on #1048
L'idée n'est pas nouvelle. Tu en fais déjà mention ici : https://github.com/zestedesavoir/zds-site/issues/59

Elle ne sert à rien dans notre cas : il faut déjà avoir le code ASCII pour qu'elle fasse quoi que ce soit. Ou alors je n'ai pas compris l'intérêt de la lib.

Dans tous les cas, cette issue est un doublon, je la ferme donc et invite tout le monde à en discuter sur la #59.

[2014-07-06 23:02] #1048 closed, assigned to nobody

[2014-07-07 00:09] Alex-D commented on #1028
Voilà ce que je propose :

![Erreur 500](http://storage.alex-d.fr/zestedesavoir/zds-erreur-500.png)

![Erreur 403](http://storage.alex-d.fr/zestedesavoir/zds-erreur-403.png)

![Erreur 404](http://storage.alex-d.fr/zestedesavoir/zds-erreur-404.png)

Ce ne sont que des maquettes, il faut encore les intégrer et les rendre fluides (responsives).

[2014-07-07 03:30] coma94 opened #1063 "Notifications sur mobile"
Depuis ce matin les menus deroulant notifications, MP et alertes ne fonctionnent plus sur mobile. Testé sur firefox et chrome mobile.

(Version v1.0-RC1/1a6a5ca)

[2014-07-07 03:34] coma94 opened #1064 "Créer un sujet sur mobile"
Sur mobile je ne trouve pas de bouton "créer un sujet" dans le menu de gauche lorsque je navigue dans un forum.

[2014-07-07 05:01] firm1 commented on #1024
Merci a toi, on utilise bien Texlive, et la limite a été étendu.

[2014-07-07 05:01] #1024 closed, assigned to nobody

[2014-07-07 07:19] coma94 commented on #1064
Je dirai même plus, le menu "actions" est complètement vide.

[2014-07-07 07:40] cgabard opened #1065 "Visibilité de tous les forums"
En allant dans les sous-catégories de forum ["Communauté"](http://zestedesavoir.com/forums/communaute/) ou ["Savoir"](http://zestedesavoir.com/forums/savoirs/) via le fil d’Ariane, non seulement la liste n'est pas restreinte à cette seule catégorie, mais surtout tous les forums y sont visibles, y compris ceux dont on est pas censé avoir acces (zone staff, corbeille, etc.)

Capture de démonstration

[2014-07-07 08:17] SpaceFox opened #1066 "BLOQUANT SORTIE PUBLIQUE : Référencement et "rel="canonical"""
Tout est ici : http://zestedesavoir.com/forums/sujet/448/le-referencement-de-zds/

Je n'ai pas trouvé d'issue Github à propos de ce sujet pourtant complètement bloquant.

Qu'en est-il en réalité ?  Qu'est-ce qui a été fait ? Pas fait ?
Qu'est-ce qui doit être fait pour l'ouverture au public ?

[2014-07-07 08:42] devock opened #1067 "BLOQUANT SORTIE PUBLIQUE : Erreur 500 aléatoire sur home"
Sur la home du site on a une erreur 500 aléatoire. J'ai l'impression que ça vient des manipulations sur mon tuto, car j'ai eu pas mal d'erreur 500 (lors de l'édition, de la validation notamment).

Je pense que l'élément déclencheur a été la tentative de validation du tutoriel qui a causé une erreur 500 (testé par @SpaceFox et moi).

J'ai l'impression que cela touche maintenant tout ce qui est tuto

[2014-07-07 09:29] cgabard commented on #1067
Il y aurait une corruption dans la db ?

[2014-07-07 09:33] geoffreyc commented on #1067
J'ai redémarré gunicorn, ca vous lance toujours les erreurs aléatoires?

On Mon, Jul 7, 2014 at 10:29 AM, Christophe Gabard <notifications@github.com

[2014-07-07 09:33] cgabard commented on #1067
Plus chez moi

[2014-07-07 09:35] SpaceFox commented on #1066
https://zestedesavoir.com/forums/sujet/449/actions-pour-louverture/

[2014-07-07 09:35] SpaceFox commented on #1067
https://zestedesavoir.com/forums/sujet/449/actions-pour-louverture/

[2014-07-07 09:36] Eskimon commented on #1067
Idem chez moi c'est bon, la home et l'edition des tutos (qui provoquait tout deux des 500)

[2014-07-07 09:38] cgabard commented on #1067
"Dans le doute, redémarrez"

[2014-07-07 09:39] geoffreyc commented on #1067
Je pense que ça vient du fait q'un worker gunicorn avait crashé, et que
quand il s'occupait de la request en cours, il renvoyait une 500 error.

Je me documenterais sur la meilleur solution pour y remédier, pour qu'au
moins gunicorn se redémarre tout seul quand ca arrive.

On Mon, Jul 7, 2014 at 10:36 AM, Eskimon notifications@github.com wrote:

[2014-07-07 09:40] devock commented on #1067
Pour moi c'est ok.

[2014-07-07 09:46] vhf opened #1068 "Éditer un big-tuto donne une 500"
URL : /tutoriels/editer/tutoriel/?tutoriel=3

[code]

[2014-07-07 09:50] cgabard commented on #1068
Encore ? Il semblait que le redémarrage de gnuicorne avait résolut les erreurs 500 il y a quelques minutes.

[2014-07-07 09:51] cgabard commented on #1068
(cf https://github.com/zestedesavoir/zds-site/issues/1067 )

[2014-07-07 09:51] vhf commented on #1068
J'ai cette erreur en local, sur le tag v1.0-RC1.

L'erreur se trouve ici :

[code]

D'ailleurs cette fonction est mal commentée puisqu'elle est aussi appelée lors de l'édition d'un big-tuto.

Un workaround serait ceci  :

[code]

qui marche chez moi™

[2014-07-07 09:58] Eskimon commented on #1068
Bah alors qu'est ce t'attends ? Elle est ou la PR et son TU ? :D

[2014-07-07 10:03] ShigeruM commented on #1067
Pas bon pour moi, j'ai toujours une 500 quand j'essaire d'éditer un tuto ("Algorithmique pour l'apprenti programmeur" en l'occurrence).

[2014-07-07 10:04] vhf commented on #1067
@ShigeruM cf. #1068

[2014-07-07 10:37] Eskimon commented on #813
A ete revalide et remerged, je referme :)

[2014-07-07 10:37] #813 closed, assigned to Alex-D

[2014-07-07 10:58] ShigeruM opened #1071 "Apparition de la mention "None" dans le titre d'un tuto non validé"
Sur la page d'un tuto hors ligne (non validé), le titre est complété par la mention " - None".

[2014-07-07 11:02] vhf commented on #1071
Comment reproduire ce bug ?

[2014-07-07 11:04] Eskimon commented on #1071
Tu crees un (mini-?)tuto et dans la page de plus haut niveau (celle qui liste les extraits pour les minituto) tu peux voir le titre "< titre du tuto > - None"

![screenshot from 2014-07-07 13 05 44](https://cloud.githubusercontent.com/assets/761168/3494483/b0cade44-05c6-11e4-9dd6-9091fa41caa4.png)

[2014-07-07 11:19] cgabard commented on #1067
C'est de retour, je ré-ouvre.

NB: Shig import/envoie en validation des tutos en ce moment, il semblerait donc que ça confirme la source que mentionnait devock

[2014-07-07 11:29] #1071 closed, assigned to nobody

[2014-07-07 12:16] #1068 closed, assigned to nobody

[2014-07-07 14:40] Alex-D opened #1076 "Notifications MP après avoir quitté le MP"
J'ai beau avoir quitté un MP, je vois les notifications, un clic dessus et la notification disparaît mais j'ai bien une 403.

Quelque chose cloche à ce niveau.

[2014-07-07 15:09] Eskimon commented on #1066
@firm1 vient de pousser une branche... https://github.com/zestedesavoir/zds-site/tree/hotfix_issue_1066

[2014-07-07 15:42] delphiki commented on #1067
C'est systématique pour moi sur les pages d'historique de validation des tuto.

[2014-07-07 15:52] Eskimon opened #1078 "Barre de pagination vide"
En bas des articles/tutos, la barre de pagination apparait meme s'il n'y a pas de réactions (ou pas assez pour paginer).

Il faudrait la virer/cacher s'il n'y a pas de quoi paginer.

[2014-07-07 15:57] cgabard commented on #1067
Oui en fait il semblerait que quelque chose fasse planter le systeme et une fois que c'est arrivé on a des erreurs 500 tant que gunicorn n'est pas redémarré

[2014-07-07 16:07] Eskimon opened #1079 "Bulletin d'adhesion international"
Dans le bulletin d’adhésion à l'association, il faut spécifier son code postal.
Ce dernier est limité à 5 caractères, Pourquoi ?

Je me doute que c'est une cause "historique" mais si vous demandez le pays, vous sous entendez qu'on peut adhérer depuis autre part que la France… et du coup la restriction du code postal n'est plus valide (par exemple chez moi le format c'est <xx-yyy>)

Il serait donc

[2014-07-07 16:11] SpaceFox commented on #1079
Plus généralement je simplifierais le formulaire complet en  :
- Nom (placeholder : "M/Mme Prénom Nom")
- Adresse courriel
- Adresse (champ multi-lignes, placeholder : "Votre adresse complète, y
  compris le pays")
- Pourquoi voulez-vous adhérer

L'avantage c'est qu'avec ces champs, tous obligatoires, on gère absolument
tous les cas d'adresses / noms foireux qui puissent exister dans le monde.
Et

[2014-07-07 16:42] cgabard opened #1081 "Bandeau cookie sur mobile affiche en permanence"
Le bandeau d'info pour les cookies est affiché sur mobile systématiquement et sur toutes les pages, même si on a déjà donné son accord ce qui rend la navigation mobile ultra pénible.

Au moins sur FF android

[2014-07-07 17:20] vhf commented on #1081
Je confirme Chrome/Android.

[2014-07-07 17:24] devock commented on #1081
Chez moi c'est ok : Chrome/Android

[2014-07-07 17:44] ArnaudCalmettes commented on #1081
Je constate le même bug: Chrome 35.0.1916.141 / Android 4.4.2.

Arnaud

2014-07-07 19:24 GMT+02:00 devock notifications@github.com:

[2014-07-07 17:47] Eskimon commented on #1081
Opera Mini 7.5.33361 / Android 2.3.5 (lol)

Idem, bandeau qui revient tout le temps...

[2014-07-07 17:55] SpaceFox commented on #1066
Corrigé + mergé = fermé.

[2014-07-07 17:55] #1066 closed, assigned to nobody

[2014-07-07 17:56] SpaceFox opened #1083 "La licence des tutos n'est pas affichée"
L'information de licence des tutos est bien en base, mais n'est affichée nulle part sur le front... il faudrait corriger ça sans trop tarder :)

[2014-07-07 18:00] Eskimon commented on #1083
C'est à dire ? Le champ "description" de la licence ?

[2014-07-07 18:16] SpaceFox commented on #1062
J'en ai encore où sur l'indexation de la MEP de la RC2 :S

[2014-07-07 18:42] Eskimon opened #1084 "Erreur 500 dans la liste des tutoriels/articles d'un membre"
[Via paspro](http://zestedesavoir.com/forums/sujet/453/erreur-500-dans-la-liste-des-tutorielsarticles-dun-membre/?page=1#p4488)

Lorsque que l'on est sur le profil d'un membre, nous avons accès à la liste des tutoriels/articles qu'il a rédigé. Sur cette page, si on modifie l'adresse de manière à envoyer autre chose qu'un nombre en lieu et place de l'ID du membre, le serveur retourne une erreur 500

[2014-07-07 18:43] artragis opened #1085 "Erreur 500 quand l'URL est mal formée au lieu de 404"
Comme décrit [ici](http://zestedesavoir.com/forums/sujet/453/erreur-500-dans-la-liste-des-tutorielsarticles-dun-membre/), lorsqu'on remplace les id par des lettres, on a une 500 au lieu d'une 404.
A moins que ça soit le standard django?
Quoi qu'il arrive, bug ou non, c'est pas prioritaire.

[2014-07-07 18:43] artragis commented on #1084
pff et eskimon qui me grille...

[2014-07-07 18:45] #1085 closed, assigned to nobody

[2014-07-07 18:49] sandhose commented on #1028
J'aime beaucoup!

Je verrais bien un gros champ de recherche sur la 404, qui s' "auto-rempli" en fonction de l'url (je sais pas exactement comment, mais bon...)

[2014-07-07 18:50] Alex-D commented on #1028
Pour la recherche, ça me semble pas très pertinent sachant que l'URL ça peut être tout et n'importe quoi.

[2014-07-07 18:51] Alex-D commented on #1083
Je ne peux plus changer les tags youpi... il faudrait rajouter le tag front, et m'y assigner.

Je peux le faire relativement rapidement je pense.

[2014-07-07 18:52] SpaceFox commented on #1083
Fait.

[2014-07-07 19:12] artragis opened #1086 "Erreur 500 à l'export du tuto windows"
Je remonte l'erreur parce que c'est un dégat collatéral de l'issue #1068 .
Comme nous n'avons pas d'autres big tuto sur le site, je ne peux pas dire quoi que ce soit.
En tout cas l'export au format pdf du bigtuto windows ne fonctionne pas.

[2014-07-07 19:17] artragis opened #1088 "Erreur 500 sur le fil d'ariane des membres"
Le fil d'ariane des membres mène à un lien mal formé (modèle slug plutôt que id). C'est sûrement lié à #556. Signalé [ici](http://zestedesavoir.com/forums/sujet/460/erreur-500-lien-foireux-dans-le-fil-dariane-forums-pseudo-membres/)

[2014-07-07 19:23] pierre-24 opened #1089 "Impossible d'accéder à la doc' de Markdown du site"
Via [benyhex](http://zestedesavoir.com/forums/sujet/457/erreur-500-doc-markdown/?page=1#p4546) :

Autrement dit, lien en dur qui a bougé.

[2014-07-07 19:23] artragis opened #1090 "Impossible de filtrer les forum par catégorie"
Lorsqu'on arrive sur le lien zestedesavoir.com/forums/communaute il montre la liste de tous les forums en ométant les deux catégories, c'est tout. Les forums qui ne font pas partie de communauté sont quand même affichés.
A noter que le problème est le même si on va sur zestedesavoir.com/forums/savoirs
Problème signalé [ici](http://zestedesavoir.com/forums/sujet/454/classement-des-forums-dans-longl

[2014-07-07 19:26] strangergwenn commented on #608
Je plussoie très vivement cette feature. Avoir 0 (mini), 1 (moyen?) ou 2 (big) niveaux de hiérarchie, en gros, ça revient à pouvoir écrire une "partie" de big-tuto de façon indépendante, dans les cas où le cours ne se prête ni à l'un ni à l'autre des modèles existants.

[2014-07-07 19:32] artragis opened #1092 "La liste des topics par tag envoie une 500"
aller sur une url du type http://zestedesavoir.com/forums/sujets/tag/9/regression/ envoie une 500. C'est une régression par rapport à la béta privée.

[2014-07-07 19:43] ShigeruM opened #1094 "Erreur 500 lors de la réservation d'un tuto en validation"
Lorsqu'un compte staff réserve un tuto en validation, il tombe sur une erreur 500. Le tuto est néanmoins bel et bien réservé.

Pour reproduire il suffit d'essayer de réserver un tuto en attente de validation.

[2014-07-07 19:50] Eskimon commented on #1092
voici un lien de ce qui a été récemment fait sur les tags si jamais ca peut aider : https://github.com/zestedesavoir/zds-site/issues/994

[2014-07-07 19:53] #1081 closed, assigned to nobody

[2014-07-07 19:54] Eskimon commented on #1089
poke @Alex-D ;)

[2014-07-07 20:00] artragis commented on #1092
Non, le problème c'est les optimisations faites par @firm1.
Quand il fait des truc comme ça : `.exclude(Q(forum__group__isnull=False) & ~Q(forum__group__in=u.groups.all()))`.
Désolé, mais là mes connaissances sont dépassées. Je ne peux rien faire, si ce n'est dire que la variable u (la préposition qui précède a été autocensurée) n'existe pas.

[2014-07-07 20:01] Eskimon commented on #1092
u c'est utilisé pour user je parie... c'est dans quel fichier/ligne ?

[2014-07-07 20:02] artragis commented on #1092
`zds/forum/views.py` à partir de la ligne 873 (c'est mis plusieurs fois dans la fonction).

[2014-07-07 20:05] Eskimon commented on #434
Je réouvre c'est revenu...

[2014-07-07 20:09] Eskimon opened #1095 "Lien erronné dans le fil d'Ariane Forums -> Pseudo -> Membres"
[Via btw03](http://zestedesavoir.com/forums/sujet/460/erreur-500-lien-foireux-dans-le-fil-dariane-forums-pseudo-membres/#p4525)

Sur la page qui liste les sujets crées par un membre (http://zestedesavoir.com/forums/sujets/membre/229/), le lien sur le texte "Sujets crées" du fil d'Ariane pointe vers http://zestedesavoir.com/forums/sujets/membre/btw03/ (dans mon cas), ce qui lance une erreur 500 qua

[2014-07-07 20:25] Eskimon opened #1099 "Bouton d'aide au markdown qui se promène"
Le bouton d'aide au markdown se promène.

Au lieu de rester sagement en dessous de la zone de texte, il a tendance à partir en bas a gauche dans la sidebar...

[2014-07-07 20:30] Alex-D commented on #1089
Comme dit sur IRC : le soucis vient du fait que l'article a été supprimé... je travaille sur la validation, il y a eu un oubli côté front (et peut-être côté back) autour de la validation des articles.

J'y travaille donc.

[2014-07-07 20:30] Alex-D commented on #1095
C'est du front, faudrait changer le tag :)

[2014-07-07 20:35] Eskimon commented on #1089
Ok, je laisse ouvert pour le monitoring, ca sera fermé avec l'erreur 500 je pense.

[2014-07-07 20:50] firm1 commented on #1088
Je prends !

[2014-07-07 20:58] Alex-D commented on #1088
Doublon avec la https://github.com/zestedesavoir/zds-site/issues/1095

[2014-07-07 21:02] firm1 commented on #1090
Je prends !

[2014-07-07 21:22] firm1 commented on #1076
Peuxt-tu détailler la procédure ? Je n'arrive pas à reproduire le bug.

Quand tu parles des notifications ? tu parles des notifications par mail ? normalement quand tu veux quitter un MP tu :
- va dans le MP : le MP est donc considéré comme lu et donc tu n'a plus rien dans la notif
- clique sur quitte quitter le MP : tu sors de la liste des participants

Donc, j'ai beau lire ton issue, je ne compr

[2014-07-07 21:31] #1065 closed, assigned to nobody

[2014-07-07 21:31] Eskimon commented on #1065
C'est réglé !

[2014-07-07 21:31] Eskimon commented on #1090
C'est réglé !

[2014-07-07 21:31] #1090 closed, assigned to firm1

[2014-07-07 21:42] Alex-D commented on #1076
Nop, je parle des notifications dans le menu en haut.

En gros, j'ai eu un MP avec Eskimon et Sandhose. J'ai parlé dedans et tout. J'ai quitté. Ils ont certainement continué à causer, et du coup j'ai reçu une notif (une seule fois par contre).

[2014-07-07 21:45] firm1 commented on #1076
Te souviens tu du jour ou tu as quitter ce MP et du moment ou tu as vu la notif ? Quelqu'un d'autre arrive a reproduire ce bug ?

[2014-07-07 21:47] Eskimon commented on #1076
C'était cet aprem. J'ai été le seul à posté, sandhose n'a jamais répondu.

[2014-07-07 21:52] firm1 commented on #1076
Encore d'autres questions (je suis obligé si vos rapports sont pas détaillés :-p )
- Qui était l'auteur du MP ?
- Alex avant de quitter le MP qui était l'auteur du dernier message ?

[2014-07-07 22:01] Eskimon commented on #1088
Mergé = fermé :)

[2014-07-07 22:01] #1088 closed, assigned to firm1

[2014-07-07 22:01] Eskimon commented on #1095
Hop mergé, fermé !

[2014-07-07 22:01] #1095 closed, assigned to nobody

[2014-07-07 22:01] firm1 commented on #434
Plus de précision sur le lieu du bug ? un lien ou on peu le voir ?

[2014-07-07 22:06] Alex-D commented on #1076
Seul @Eskimon peut répondre du coup... j'suis plus dedans pour check. Je pense que c'était Eskimon l'auteur et aussi l'auteur du dernier message.

[2014-07-07 22:18] Eskimon commented on #1076
Erf... firm1 si je t'ajoute au MP ca peut aider ? parce que je sais pas quand Alex a quitté, si c'était avant ou apres que je réponde... je suppose avant s'il a recu la notif fantome...

[2014-07-07 22:19] Eskimon commented on #434
http://zestedesavoir.com/forums/sujet/456/lien-dans-les-profils-inaccessibles/

Et je sais pas pourquoi tu l'as mentionné comme résolu oO

[2014-07-07 22:24] Alex-D commented on #1064
Yep, c'est connu. J'essaye de retrouver l'issue qui en parle.

[2014-07-07 22:24] Alex-D commented on #1064
Voilà : https://github.com/zestedesavoir/zds-site/issues/1011

[2014-07-07 22:24] Alex-D commented on #1063
Déjà corrigé :)

EDIT : avec cette PR : https://github.com/zestedesavoir/zds-site/pull/1073

[2014-07-07 22:26] Eskimon commented on #1064
Doublon

[2014-07-07 22:26] #1064 closed, assigned to nobody

[2014-07-07 22:26] Eskimon commented on #1063
Corrigé :)

[2014-07-07 22:26] #1063 closed, assigned to nobody

[2014-07-07 22:30] firm1 commented on #1076
Je m'occuperai pas forcément de l'issue, c'est juste que je la trouve pas trop claire. Donc m'ajouter au MP ne changera rien. Mais si on sait reproduire le problème, on a plus de chance que quelqu'un le résolve.

[2014-07-07 22:37] firm1 commented on #434
Ah je croyais que c'était le bug fixé par [cette PR](https://github.com/zestedesavoir/zds-site/pull/1041)

L'info qu'il manque, c'est par quel moyen on accède à ces sujets privés. Sur la page de profil, mais ensuite ? Moi quand je vais sur la page de profil d'un membre staff, dans se sujets crées, je ne vois rien dont je n'ai pas le droit

[2014-07-08 01:09] Alex-D opened #1109 "Ajouter la gestion de la licence pour les articles"
Actuellement les articles n'ont aucun choix de licence. Il me semble qu'il devrait également être possible de sélectionner une licence comme pour les tutoriels.

[2014-07-08 01:12] Alex-D commented on #1083
"Facile" : Ah ah ... je ne sais pas qui a mis ça.

Je travail dessus en ce moment, pour le début je vais juste mettre un rendu texte, ça m'aura nécessité d'aller bidouiller dans le views.py pour rendre visible certaines variables.

Par ailleurs, j'aimerais avoir un rendu graphique (avec des icônes) comme prévu par les maquettes. Et du coup il me faudrait le format de `licence.code` qu'a choisi @fi

[2014-07-08 06:16] jcval opened #1112 "Fix orthographique"
http://zestedesavoir.com/pages/cookies/

"sont indispensables au foncitonnement de Zeste de Savoir"

foncitonnement  -> fonctionnement

[2014-07-08 06:24] Eskimon commented on #434
Oui via le profil et parce que tu es staff évidemment tu vois tout ;)

J'ai pas encore essaye de reproduire en local...

[2014-07-08 06:34] SpaceFox commented on #1083
En première approche, afficher en front une info back sans vraiment de transformation, ça ne paraissait pas spécialement difficile.

Après c'est comme tout, on est jamais à l'abri de difficultés cachées (les facilités cachées existent mais sont curieusement plus rares...)

[2014-07-08 06:40] Eskimon opened #1113 "Un attribut pubDate dans les flux RSS"
[Via Javier](http://zestedesavoir.com/forums/sujet/478/un-attribut-pubdate-dans-les-flux-rss/)

[2014-07-08 07:02] Eskimon opened #1114 "Reactions sur Article (Tuto?), lien erronne"
Le lien ou l'ancre de la pagination pour les réactions sur les articles (et les tutos ?) ne fonctionne pas comme il devrait...

Lorsque l'on change de page de réactions, on est renvoyé en haut de l'article plutôt qu'au niveau des commentaires.

Ce comportement peut-etre observe sur l'article : http://zestedesavoir.com/articles/30/bienvenue-sur-la-beta-de-zeste-de-savoir/

[2014-07-08 07:06] jcval commented on #1112
Et je rajoute :

"Enfournez-lez environ 10 minutes,"

lez -> les

[2014-07-08 09:11] viki53 commented on #1099
+1

Chez moi, en tout cas que la page de rédaction d'une partie de tuto, il arrive carrément à s'incruster en partie dans le footer.

J'ai fait un screen si ça vous intéresse : http://zestedesavoir.com/media/galleries/333/e516a0d4-cc89-4765-8e69-73eee52fe5ec.png

[2014-07-08 10:21] viki53 commented on #853
Au passage, pas besoin de data-attribute, les dates devraient être dans des balises `<time>` avec un attribut `datetime`, donc accessibles directement ;)

[2014-07-08 10:22] viki53 opened #1115 "Formulation date articles"
Dans la liste des articles, la date est relative mais avec une formulation pour une date absolue.

![Image date article](http://zestedesavoir.com/media/galleries/333/20d0788e-9a73-4e3b-b11c-a844488d3c46.png)

[2014-07-08 11:46] vhf commented on #1094
Pas réussi à reproduire le bug en local.

[2014-07-08 11:55] #1112 closed, assigned to vhf

[2014-07-08 11:56] Alex-D commented on #853
C'est pas faux du tout ça ! Je pensais l'avoir mis mais j'ai du le rêver :-°

Faudra qu'on revoit ça @sandhose :)

[2014-07-08 11:56] ShigeruM commented on #1094
Le problème ne se présente plus sur la prod. Je ne sais pas si cela est dû aux MEP d'hier soir. Toujours est-il que ça fonctionne à nouveau donc je ferme.

[2014-07-08 11:56] #1094 closed, assigned to nobody

[2014-07-08 11:59] poulp commented on #1076
pareil j'arrive pas à reproduire le problème

[2014-07-08 12:05] viki53 commented on #853
Si vous voulez une fonction de date relative toute faite, c'est cadeau : http://www.meetmefree.eu/assets/js/v1-conversation.js (fin de fichier)

[2014-07-08 13:20] viki53 commented on #731
Je rajouterai aussi que si les liens étaient des URLS (fournies après upload d'une image, pour le MD) complètes, ça éviterait pas mal de problème au copier-coller.

Et, tant qu'à faire, une version MD avec la miniature + lien vers l'originale serait pas mal à avoir…

[2014-07-08 13:28] firm1 commented on #731
C'est a dire ? Je n'ai pas bien compris.

En effet

[2014-07-08 13:37] viki53 commented on #731
Quand on upload une image dans une galerie, il y a des bouts de MD fournis pour insérer l'image dans un post/article/whatever. Sauf que l'URL est du style `/media/galleries/…` au lieu de commencer par `http://zestedesavoir.com/media/galleries/…`.

Du coup quand on utilise ça pour insérer un lien (en prenant le code de l'image et supprimant le `!` devant), l'URL est faussée et mène vers rien.

[2014-07-08 13:39] firm1 commented on #731
Ah ok, c'est plus compréhensible.

[2014-07-08 15:40] 0hexit commented on #1078
Je n'arrive pas à reproduire le bug. T'es sur quelle build ?

[2014-07-08 16:20] artragis commented on #1113
I take.

[2014-07-08 17:10] Eskimon commented on #1078
C'est vu en prod', mais je retrouve plus ou... C'était vrai sur l'article de bienvenu quand le site était fermé je crois...

[2014-07-08 18:04] 0hexit commented on #1078
Bizarre. En local (branche master), la barre de pagination n'apparaît pas, qu'il y ait aucun ou plusieurs commentaires.

[2014-07-08 19:01] artragis opened #1119 "suppression des chapitres d'un big-tutoriel inopérante"
Supprimer un chapitre d'un bigtuto ne met pas à jour le sommaire du tuto car si le changement est mis en place côté système de fichier, il ne l'est pas en bdd.
Signalé [ici](http://zestedesavoir.com/forums/sujet/514/bug-suppression-des-chapitres-dun-big-tutoriel/?page=1#p5195)

[2014-07-08 19:17] SpaceFox opened #1121 "La page de présentation de l'asso n'est pas claire"
Il faudrait donner le montant de l'adhésion aussi et dire que ça n'ouvre aucun droit sur le site. Peut-être mettre un petit laïus sur le fait que ça permet de participer à l'AG annulle où le CA est élu, que donc ça permet de peser dans les orientations de l'asso, etc.

[2014-07-08 21:08] viki53 opened #1122 "Favoris"
Petite feature que je trouve intéressante : des favoris.

En gros qu'on puisse marquer (épingler) des topics ou des tutos (voire autre chose) pour pouvoir y accéder rapidement plus tard (via la sidebar, par exemple) depuis n'importe quelle page (ou presque) du site.

La deuxième partie, qui dépend de la première mais peut être développée a posteriori : être tenu au courant des nouveautés de ces fa

[2014-07-08 21:12] Fumble commented on #1121
Informations à reprendre également sur le formulaire d'adhésion.

[2014-07-08 22:22] Alex-D commented on #1114
Ca va être chaud patate à corriger ça par contre... faut nécessairement passer une variable qui indique le nom de l'ancre, je ne vois pas d'autre solution (pas possible de le gérer de façon dynamique et automatique partout).

[2014-07-09 00:38] Alex-D opened #1123 "[Galeries] Impossible d'éditer le titre/légende d'une image sans la réuploader"
Quand on édite une image dans une galerie, toute modification nécessite de réuploader l'image, sinon on a l'indication "champs requis" sur l'input file.

Aussi, il faudrait changer le bouton "Ajouter" en "Editer".

[2014-07-09 00:40] Alex-D opened #1124 "[Galeries] Limite d'upload imprécise, aucun message d'erreur"
J'ai voulu envoyer une image de plusieurs Mo dans une galerie. Elle n'est passée qu'en deçà de 1 Mo. Est-ce qu'il y a une limitation de ce côté ? Car ça n'est pas clair du tout.

Aussi, l'image était très grande, genre plus de 5000px de large, mais je pense que c'est le poids qui a empêché l'upload.

De plus, lors de l'erreur, on a aucune message d'erreur, le formulaire nous revient, pré-rempli, s

[2014-07-09 09:43] Eskimon commented on #862
Les espaces aussi foute la merde... http://zestedesavoir.com/forums/sujet/533/erreur-404-lors-de-lenvoi-dun-mp/

[2014-07-09 09:43] Eskimon commented on #738
Je link la bas ca peut etre utile : https://github.com/zestedesavoir/zds-site/issues/862

[2014-07-09 09:47] devock opened #1125 "Bannière de cookies : les cookies d'Analytics passent quand même"
Je me suis rendu compte de deux choses pour les cookies des stats :
- Si on refuse d'avoir des cookies, on les a quand même (_ga apparait)
- Je viens de vérifier : on doit avoir le consentement du visiteur avant de pouvoir exécuter les stats (même pour la 1ère fois) et sur ZdS il s'affiche avant d'avoir fait son choix.

En fait il manque juste, à priori, la condition qui permet d'exécuter le code

[2014-07-09 09:54] viki53 commented on #472
Apparemment c'est pas si corrigé que ça : http://zestedesavoir.com/forums/sujet/485/recherche-et-statistiques-sur-les-membres/?page=1#p5295 ;)

[2014-07-09 10:23] Eskimon commented on #862
Apparemment l'ajout de l'utilisateur avec espace _après_ la création du MP fonctionne

[2014-07-09 10:29] firm1 commented on #472
Si si, défaut de conf serveur que je viens de rétablir.

Merci.

[2014-07-09 10:56] sandhose commented on #1125
En fait, c'est que GA est quand même lancé si l'utilisateur n'a rien choisis, d'où les cookies qui restent... Pour moi, c'est le comportement normal, a moins que le CNIL en ai décidé autrement

—
Sent from Mailbox for iPhone

On Wed, Jul 9, 2014 at 11:47 AM, devock notifications@github.com wrote:

[2014-07-09 12:10] devock commented on #1125
La CNIL dit :

http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/que-dit-la-loi/

Donc on doit exécuter le GA après la décision de l'utilisateur.

Avant de fait cette issue j'ai testé le scénario suivant :
- J'ai supprimé tous les cookies de ZdS
- J'ai refusé les cookies
- J'ai supprimé le cookie _ga
- J'ai réactualisé la page
- J'ai zieuté les cookies et _ga était de retour.

[2014-07-09 12:12] devock commented on #1125
En regardant sur GA, je vois bien qu'il arrive à me pister.

[2014-07-09 13:15] coma94 opened #1126 "Historique de validation: Erreur 500"
Lorsqu'on veut consulter l'historique de validation d'un tuto (staff) on a une erreur 500 systématique.

[2014-07-09 15:16] coma94 commented on #1126
Lorsque l'on consulte cet historique depuis un compte non-staff on a une Erreur **403**.

[2014-07-09 15:48] viki53 opened #1128 "Intro et conclusion non retournés à l'affichage/édition"
J'ai pas réussi à trouver d'issue qui évoque le sujet, pourtant ça a été évoqué dans le forums.

À l'affichage ou à l'édition d'un chapitre, l'introduction et la conclusion ne sont pas affichés, pourtant elles sont bien présentes dans l'archive et mises à jour.

Du coup, pour toute modification il vaut mieux avoir une archive de côté pour avoir une base dans le `textarea`. Et pour la lecture, il f

[2014-07-09 15:56] Alex-D commented on #1126
Hum, c'est normal en fait, après réflexion. La page d'historique présente la possibilité de réserver la validation du tuto, du coup c'est dédié au staff.

L'historique des version est lui dédié aux membres.

Est-ce que tu as le bouton "historique de validation" quand t'es non-staff ?

[2014-07-09 16:04] amorison opened #1129 "Double post + déconnexion"
On a un cas de double post dans la même minute créé sans action spéciale de l'utilisateur :
http://zestedesavoir.com/forums/sujet/527/outils-du-web/?page=1#p5621

J'ai demandé à Forever par MP ce qui s'était passé, il m'a répondu :

OS et navigateur utilisé par Forever : Windows 8.1, Chrome 24/25 (c'est une vieille version ça, ça explique peut être une partie du problème ?)

[2014-07-09 16:05] Eskimon commented on #1126
Oui (sur ma local)

[2014-07-09 16:29] artragis commented on #1128
Etrange étrange... les formulaires sont pourtant bien remplis côté back.

[2014-07-09 16:32] artragis commented on #1128
Quoi que, j'ai un doute : Lorsqu'on fait un view_any, pour accéder au dépôt, on fait :

[code]

alors que quand on remplit les form, on fait :

[code]

[2014-07-09 16:42] Eskimon commented on #701
Je réouvre, cette erreur existe toujours sur ma version locale !

[2014-07-09 16:46] viki53 commented on #1128
J'y connais pas grand chose en python, mais si les méthodes en question ne renvoient rien, on est mal barrés… \o/

Enfin, tout ça pour dire que j'aimerais bien pouvoir continuer à rédiger mon tuto tranquille, sans avoir à me demander si mes contenus sont bien lisibles…

J'ai déjà assez à faire pour tout rédiger et pondre le code qui va avec :-°

[2014-07-09 16:53] coma94 opened #1130 "[staff] Impossible d'éditer les tutos"
En tant que staff on peut éditer les intro/conclusion des tutoriels hors-ligne d'un autre membre, mais pas le contenu du tuto.

C'est peut être volontaire, mais je pense que ça serait pratique de pouvoir corriger des erreurs de typo sans avoir à demander à l'auteur à chaque fois.

[2014-07-09 18:48] SpaceFox commented on #1005
Bon, il n'y a plus d'instabilité du serveur depuis un moment...

Je propose qu'on ferme cette issue et qu'on la réouvre au besoin.

[2014-07-09 19:01] SpaceFox commented on #1011
Question de noob : le tag "difficile" était là pour indiquer un problème particulièrement chiant à régler.

Quel est la difficulté ici, et que peut-on faire pour t'aider à la réduire ?

[2014-07-09 19:03] SpaceFox commented on #1000
Pour info, la suite de la discussion est sauvegardée ici : http://preprod.zestedesavoir.com/forums/sujet/409/les-signatures/

[2014-07-09 19:06] SpaceFox commented on #976
La page de teasing n'a plus lieu d'être, donc cette issue non plus je suppose.

D'ailleurs, il faudra dégager la page de teasing qui est toujours disponible.

Je laisse l'issue ouverte pour régler ce dernier point.

[2014-07-09 19:08] SpaceFox commented on #935
Du coup, c'est corrigé ou non ?

Si non, que reste-t-il à faire, qu'on puisse savoir que faire de cette issue ?

[2014-07-09 19:10] SpaceFox commented on #928
Pour moi, oui.

[2014-07-09 19:12] SpaceFox commented on #927
Question de noob : quelle est la différence pour l'utilisateur qui utilise le site Github entre "lire la doc écrite en markdown et mise en forme par Github" et "Lire le wiki" ?

En première approche, la principale différence que je vois, c'est que le Wiki oblige d'être connecté au net, et pas la doc - qui est téléchargeable mais non rendue en HTML si on la lit en local.

[2014-07-09 19:17] #1092 closed, assigned to nobody

[2014-07-09 19:17] SpaceFox commented on #87
Est-ce que cette question est toujours d'actualité ?

[2014-07-09 19:19] SpaceFox commented on #54
Ce cas est-il toujours problématique ?

[2014-07-09 19:22] #1084 closed, assigned to firm1

[2014-07-09 19:22] SpaceFox commented on #522
Ça a été fait non ?

[2014-07-09 19:25] SpaceFox commented on #423
Je crois qu'il va falloir faire le point sur ce qu'on a et ce qui manque comme tests.

[2014-07-09 19:25] ArnaudCalmettes commented on #1078
Je l'ai constaté également lundi.

[2014-07-09 19:26] SpaceFox commented on #421
Vu comme c'est parti, je passe ça en "v1.x".

[2014-07-09 19:26] Alex-D commented on #522
Au moins partiellement. Je n'ai aucune idée de si tout a été relu ou non. Je pense qu'au pire les coquilles restantes nous seront signalées.

[2014-07-09 19:29] Alex-D commented on #927
Tu as une navigation sur le wiki, pas dingue mais existante. Le wiki = il faut avoir les droits sur le repo pour le mettre à jour. La doc, tout le monde peut faire une PR et MàJ.

C'est cette différence ainsi que des bonnes pratiques que l'on peut voir un peu partout qui me convainquent de ne pas utiliser le wiki pour ça en fait.

[2014-07-09 19:30] ArnaudCalmettes commented on #927
Reste-t'il encore quelque chose à discuter sur cette issue ?

[2014-07-09 19:30] SpaceFox commented on #200
Vu les dimensions que prennent le projet, je pense qu'on peut remettre ce sujet sur la table (sur le forum dev ?)

[2014-07-09 19:31] Alex-D commented on #935
Non, du tout, mais je vais m'y atteler très bientôt, une fois que les issues importantes seront corrigées.

Tout est à vérifier et à ajuster sur mobile.

[2014-07-09 19:34] #1083 closed, assigned to Alex-D

[2014-07-09 19:36] Alex-D commented on #1011
Il n'y a aucun moyen de m'aider à ce niveau :/

C'est difficile car le menu latéral est construit à la volée en JS, et il faut donc à la fois le designer mais le construire.

Le soucis c'est d'arriver à mettre les boutons (qui sont donc inclus dans des formulaires suites aux fix des CSRF) et ça va prendre un peu de temps.

Jusqu'ici j'avais une classe sur les liens à coller dans le menu. Là avec l

[2014-07-09 19:37] Alex-D commented on #1083
Juste pour ajouter une petite note positive : j'ai du merdouiller en local, l'information était bien présente. Par contre elle diffère selon qu'on est sur un tuto public ou brouillon (JSON ou BDD).

C'était finalement bien un label "facile" qui collait à la situation.

Mea culpa donc.

[2014-07-09 19:41] SpaceFox commented on #312
J'ai besoin que la #1042 soit résolue pour corriger celle-ci.

[2014-07-09 19:54] SpaceFox commented on #818
Je propose qu'en v1 on indique dans le profil que pour l'instant pour se désinscrire il faut contacter un staffeux, et que qu'on fasse la vraie procédure au calme peu après la v1.

[2014-07-09 20:09] Alex-D commented on #818
On peut s'en contenter tant que c'est gérable (donc bien après la v1 je pense). Non ? Enfin je pense que c'est quelque chose d'assez complexe à implémenter (faut rien oublier)  et qui n'est pas super important face à d'autres modules cruciaux.

[2014-07-09 20:14] ArnaudCalmettes commented on #818
OK. Va pour ça.

Du coup, pour la v1.0, indiquer dans le profil ou quelque part qu'il faut contacter un membre du Staff pour se désinscrire. Ensuite on passera cette issue en v1.x.

[2014-07-09 20:38] coma94 commented on #1130
En attendant que ça soit corrigé il suffit de se mettre co-auteur (en prévenant l'auteur bien sur), de faire les corrections puis de se retirer.

[2014-07-09 21:05] Alex-D commented on #818
Dans les paramètres peut-être ?

[2014-07-09 21:07] 0hexit commented on #522
Oui, je pense que ça peut être fermé. S'il y a des fautes, elles sont de toute façon signalées et il y a toute de suite une PR.

[2014-07-09 21:09] #522 closed, assigned to nobody

[2014-07-09 21:19] firm1 commented on #1083
Hmm. Si a un moment on va chercher la licence en BD pour l'affichage c'est
que le bug n'est pas vraiment fixé. La licence est toujours dans le JSON
quelque soit l'État du tuto.
 Le 9 juil. 2014 21:37, "Alexandre Demode" notifications@github.com a
écrit :

[2014-07-09 21:23] firm1 commented on #818
Attention : contacter un staff c'est bien, mais le staff, ni personne
d'autre ne peut "anonymiser" (selon la définition vue en dev zone) les
topics actuellement.

Donc il faut quand même coder quelque chose.
Le 9 juil. 2014 23:06, "Alexandre Demode" notifications@github.com a
écrit :

[2014-07-09 21:50] Alex-D commented on #818
@firm1 : t'avais réussi à le faire sur un compte pendant la beta non ?

[2014-07-09 21:51] Alex-D commented on #1083
Bah partout je fais tutorial.licence. D'un côté j'ai le retour BDD, de l'autre j'ai le retour JSON.

EDIT : et pour le coup j'ai pas touché au back.

[2014-07-09 22:00] firm1 commented on #818
Pas selon la définition de l'anonymisation qu'on a validé.
 Le 9 juil. 2014 23:51, "Alexandre Demode" notifications@github.com a
écrit :

[2014-07-09 22:00] firm1 commented on #1083
Dans ce cas va falloir repasser dessus alors je pense.
Le 9 juil. 2014 23:52, "Alexandre Demode" notifications@github.com a
écrit :

[2014-07-09 22:04] Alex-D commented on #1083
Il y a plein de trucs qui sont issues de la BDD sur la version publique à ce que je me souvienne, faudrait que je refasse des tests, mais pendant un moment on pouvait changer les tags, le titre, l'image, etc. Et tout ça était répercuté en public :/

[2014-07-09 22:08] firm1 commented on #1083
Les choses ont bien évolués depuis.

Techniquement, tout ce qu'on voit dans le JSON (titre, description,
licence) devrait être ce qui est affiché. Si c'est pas le cas, il y'a
visiblement un bug
Le 10 juil. 2014 00:04, "Alexandre Demode" notifications@github.com a
écrit :

[2014-07-09 22:08] Alex-D commented on #1083
Je pense qu'il faudrait figer les tags aussi dedans. Je (tu ?) crée une issue dédiée du coup ?

[2014-07-09 22:13] firm1 commented on #1083
Les tags, le logo de l'image, bref ... Les metadonnées.
Le 10 juil. 2014 00:08, "Alexandre Demode" notifications@github.com a
écrit :

[2014-07-10 06:30] Eskimon commented on #522
ProTIp : Monitorer le sujet "Les petits pixels" qui généralement les vois apparaître.

[2014-07-10 09:23] ShigeruM commented on #1067
Je viens de faire quelques tests et j'ai les résultats suivants, si ça peut aider :
- Erreur 500 lors de la validation du big tuto "Développez votre site web avec le framework Symfony2". Depuis j'ai une 500 sur la home.
- J'ai pu valider sans problème le mini tuto " Introduction à l'injection de dépendances en PHP", par contre j’avais une erreur 500 quand j’essaiyais de l’afficher. Après quelques

[2014-07-10 10:06] Eskimon opened #1133 "Ajouter un message de commit"
Ca serait sympa si, quand on fait une modification de tuto/articles, on puisse ajouter un message de commit pour préciser ce que l'on a fait. (encore plus utile quand on est multi-auteur). Je ne crois pas avoir vu la fonctionnalité sur le site ni trouve de ticket a ce sujet...

[2014-07-10 13:13] tleb commented on #1129
Version exact: Windows 7 professionel + Chrome 24.0.1312.56 m
(Je suis Forever.)

[2014-07-10 13:21] firm1 opened #1134 "Mettre en avant les tags"
Afin de pouvoir mettre en avant l'utilisation des tags sur le forum, lors de la création d'un topic, je pense qu'il faudrait mettre un placeholder dans l'input de saisie.

En regardant vite fait le code, il suffit de modifier [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/forms.py#L22) et remplacer le texte :
`'required': 'required',` par

[code]

[2014-07-10 13:49] Eskimon commented on #1134
Gros pluzin !

[2014-07-10 13:57] artragis commented on #1134
je rejoins @Eskimon +1

[2014-07-10 14:16] SpaceFox commented on #1134
+1

2014-07-10 15:57 GMT+02:00 artragis notifications@github.com:

[2014-07-10 14:31] Eskimon opened #1135 "Envoi de MP validation"
Lorsque la validation refuse (et accepte) un tuto (article ?) un MP de justification est envoye a chaque auteur. Un MP globale avec tout les auteurs seraient mieux !

[2014-07-10 14:35] coma94 commented on #1135
Je veux bien essayer de régler ça :)

[2014-07-10 14:42] Glaived opened #1136 "Gravatar: passer l'email en minuscule"
Bonjour,
Sur le système pour appliquer les gravatar, l'email est pris tel quel, donc si on retrouve une majuscule dans l'adresse email, cela donnera un hash différent pour le gravatar

[2014-07-10 14:52] firm1 commented on #1136
En vérifiant dans le code de zds rapidement, il suffit d'aller sur [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/models.py#L121), et changer ceci :
`md5(self.user.email).hexdigest())`
en
`md5(self.user.email.lower()).hexdigest())`

Et zouh la Pull Request

[2014-07-10 15:13] Alex-D commented on #1089
Plop ! C'est à fermer, ça a été résolu :)

[2014-07-10 15:15] #1089 closed, assigned to nobody

[2014-07-10 15:18] Glaived commented on #1136
N'étant pas dev python je laisse la communauté faire le pull request ^^

[2014-07-10 15:18] Alex-D commented on #1078
Yop ! This is not a bug, this is a feature !

Ca n'est pas la pagination des réactions, mais la pagination pour aller d'un article à un autre. Je n'ai pas mis de condition car dans le cas d'une utilisation normale du site, il y aura **toujours** plus qu'un article. Inutile de rajouter un test là où ça n'est pas utile.

Si vous y tenez absolument, je peux mettre le test, mais au prochain article po

[2014-07-10 15:30] Alex-D commented on #1128
Le tag front est à retirer sur cette issue. Le front utilise les formulaires construits par le back donc ça ne peut pas venir de là.

[2014-07-10 15:31] Alex-D commented on #1126
C'est à fermer : corrigé dans la #1111

[2014-07-10 15:34] SpaceFox commented on #1078
Ah OK, merci.

Alors il n'y a pas de problème ici, donc je ferme :)

[2014-07-10 15:34] #1078 closed, assigned to nobody

[2014-07-10 16:03] Eskimon commented on #1135
^^ fais toi plaisir mais n'oublie pas qu'on est en Freeze, donc ca sera pas intégrer avant un moment

[2014-07-10 16:04] 0hexit commented on #1136
Je fais la PR, merci.

[2014-07-10 16:29] coma94 commented on #1135
C'est l'occasion de me familiariser avec le code :) .
Du coup je propose quand même une PR ?

[2014-07-10 16:35] Alex-D commented on #1099
A Valider, puis fermer :)

[2014-07-10 16:36] Alex-D commented on #1115
C'est fait, à Valider -> Fermer.

[2014-07-10 16:57] coma94 opened #1142 "Formatage MP refus tuto"
Le MP de refus d'un tuto est mal formaté (pas de retour à la ligne autour du message du valido).

[2014-07-10 16:57] coma94 commented on #1142
Je suis dessus

[2014-07-10 16:59] Axylium opened #1143 "[Editeur] [Smileys] Différents packs et intégration"
Hello le monde !

J'ouvre ce nouveau ticket pour discuter un p'tit truc !

J'viens vous parler d'une petite feature. Je sais, on est en mode freeze jusqu'à la sortie publique, mais bon, on peut quand même parler ! :-)

Vous le savez peut-être, ou pas, mais [Piwit](http://zestedesavoir.com/membres/voir/Piwit/), s'est lancé dans la [création de smileys à l'effigie de Clem la mascotte](http://zestede

[2014-07-10 17:14] Alex-D commented on #1045
Je réup, la barre se masquera à la page suivante on considérant que tu as accepté, comme indiqué par la CNIL.

Ce sujet peut être clos, c'est destiné à fonctionner sur toutes les largeurs, je ne peux pas faire un truc qui soit beau partout, je fais donc en sorte que ce soit beau là où c'est possible.

Pour le lien VS bouton, j'y ai songé, mais ça nécessite de revoir la formulation pour pas grand c

[2014-07-10 17:17] Alex-D commented on #1125
Il aurait manqué le tag front à cette issue.

La PR est en attente de validation -> merge.

[2014-07-10 17:40] sandhose commented on #665
Je pense que ça doit être un set de fichiers statiques indépendants (un peu comme la page de teasing), et que l'activation de la maintenance se fasse via Nginx (voir même automatiquement: si gunicorn a planté/est arrêté ou autre, que ça affiche cette page...)

[2014-07-10 17:48] Alex-D commented on #665
Je vais partir là dessus et séparer la tâche Gulp dédiée. Limite je vais éditer la tâche de teasing pour la reprendre ici.

[2014-07-10 18:14] thauti opened #1144 "Les flèches du menu sont mal dessinées"
Je ne sais pas si elles sont générées  en CSS ou si c'est des images, mais les flèches à gauche de "Tutoriels" et "Forum" ont quelques pixels qui débordent surtout sur le côté gauche.
PS: J'imagine bien que c'est pas du tout urgent, mais une fois qu'on l'a vu on ne voit plus que ça :(

[2014-07-10 19:00] poulp commented on #1123
Oui, on peut pas mettre de valeur par défaut sur un champ fichier, une solution serait de mettre le champ image à `required = False` et de splitter en deux formulaires. Un pour l'ajout, l'autre pour l'édition.

[2014-07-10 19:13] Alex-D commented on #1123
Je pense que c'est la seule solution propre (deux formulaires distincts).

[2014-07-10 19:51] #1115 closed, assigned to Alex-D

[2014-07-10 19:52] #1114 closed, assigned to nobody

[2014-07-10 20:30] Eskimon commented on #1135
(Je me suis mis en assignee comme "placeholder" ;) )

Fais le dev sur une branche chez toi, puis quand le freeze est levé tu mets à jour ta branche et lance la PR a ce moment-là, je pense que ce sera le mieux pour pas risquer de violer le freeze par mégarde

[2014-07-10 20:51] Alex-D commented on #665
Voilà une maquette, dites moi ce que vous en pensez :

![](http://storage.alex-d.fr/zestedesavoir/zds-maintenance.jpg)

[2014-07-10 20:52] Eskimon commented on #665
Moi zaime beaucoup !

[2014-07-10 20:53] amorison commented on #665
pluzun !

[2014-07-10 21:00] Taluu commented on #665
Do like.

[2014-07-10 21:31] Alex-D commented on #665
J'vais éclaircir un peu le bleu suite à des retours sur IRC, mais globalement je vais donc partir là dessus.

[2014-07-10 22:30] 0hexit opened #1146 "Les flux des articles sont quasiment vides"
Si on regarde les deux flux [RSS](http://zestedesavoir.com/articles/flux/rss/) et [Atom](http://zestedesavoir.com/articles/flux/atom/) des articles, on peut voir qu'il manque pas mal d'informations.

_Signalé dans la PR #1118_

[2014-07-10 23:22] Alex-D commented on #1079
Le tag front est à retirer ici, le formulaire est complètement géré par le back.

[2014-07-10 23:23] Alex-D commented on #665
En avant la QA \o/

[2014-07-11 05:51] coma94 opened #1148 "Commentaire au validateur"
Lorsque l'on envoie un tuto/article en validation, on peut laisser un message au validateur (très pratique pour indiquer nos modifications).

En tant que validateur, où peut-on retrouver ce message? Dans l'historique de validation (qui est actuellement en erreur 500) ou ailleurs ?

[2014-07-11 06:09] Eskimon commented on #1148
Tu arrives 36h trop tard, cette info a été ajoute dans la PR https://github.com/zestedesavoir/zds-site/pull/1111 :)

Elle est ainsi visible en haut du tuto/article si l'auteur a laisse un message ;)

Je ferme donc !

[2014-07-11 06:09] #1148 closed, assigned to nobody

[2014-07-11 07:55] cgabard commented on #1136
Hahaha 3 PR ! Tu as eu un peu de mal on dirait :p

[2014-07-11 09:25] coma94 commented on #1148
Ok merci ^^

[2014-07-11 09:29] coma94 commented on #1135
Ça marche !

[2014-07-11 09:43] 0hexit commented on #1136
Ah oui ^^ La première fois, j'ai mergé sur dev et la deuxième, j'ai voulu merger sur master alors que j'avais les fichiers de la branche dev (ça m'a ajouté plein de commits non voulus)...

[2014-07-11 11:19] amorison opened #1149 "Quelques remarques sur les tags"
Hello !

D'abord, la remarque sans intérêt : le tag LaTeX actuel n'a pas de T majuscule (LateX au lieu de LaTeX).

Ensuite, comment se passe l'ajout de tags ? J'ai des idées de tutos scientifiques, mais il existe seulement le tag "Mathématiques". Il faudrait _a minima_ un tag "Sciences naturelles" (ou whatever de parlant) qui regroupe physique, chimie, biologie, géosciences ; au mieux un tag pour

[2014-07-11 11:34] cgabard commented on #1149
Les tags sont créés au besoin par les valido. Il suffit que tu le précise à la validation et il sera ajouté.

[2014-07-11 11:35] Eskimon commented on #1149
Mais ce ticket fais bien d'etre la, il faut trouver un moyen elegant de le preciser quelques part...

[2014-07-11 11:36] cgabard commented on #976
Plutot que de supprimer la page, il faudrait penser à la faire rediriger vers la home. C'est le premier résultat pour "zeste de savoir" sous google actuellement

[2014-07-11 11:40] amorison commented on #1149
@cgabard : OK, merci !

Pour préciser ça, une simple phrase au niveau du choix du tag du style "Si vous avez besoin d'un tag inexistant, contacter un validateur" avec lien qui pointe vers une liste de valido (si on a ça), ça pourrait le faire, non ?

[2014-07-11 11:51] cgabard commented on #1149
Même pas, tu dois avoir un champ pour laisser un commentaire au validateur, non ? Tu peux le mettre là. Sinon faudrait le rajouter. Cela doit être dans ce formulaire qu'il faut faire la demande, pas renvoyer à un MP

[2014-07-11 11:54] amorison commented on #1149
Effectivement, je n'y avais pas pensé. Donc plutôt un message du genre "Si vous avez besoin d'un tag inexistant, précisez-le lors de l'envoi du tuto en validation".

[2014-07-11 11:54] Eskimon commented on #1149
Oui mais ca l'auteur le sait pas avant d'envoyer en validation, et donc pourrait etre inquieter et se dire "Merde mon tuto a pas sa place ici !"

grille par @aMorison

[2014-07-11 12:36] firm1 commented on #976
Il faudrait aussi penser a supprimer (ou rediriger) la page http://zds.alex-d.fr/form.html qui est en 6e position des recherches google sur "zeste de savoir".

[2014-07-11 13:22] #1126 closed, assigned to nobody

[2014-07-11 13:24] Eskimon commented on #1129
Sans plus d'infos ca va etre chaud patate :D (mais je sais que ca va pas etre possible d'avoir plus d'infos malheureusement).

Les devs backs des idees ou chercher ? Ca pourrait etre un coup de malchance a cause du plantage malheureux de gunicorn pendant qu'on jouait avec la validation ?

[2014-07-11 13:28] #1142 closed, assigned to nobody

[2014-07-11 13:34] Eskimon commented on #927
Je suis partisan d'une fermeture. Globalement l’idée est:

**Pour**
- Ca fait pus propre et moderne qu'un README ?
- Plus facile a modifier ?

**Contre**:
- Wiki non consultable en offline
- Risque de desynchronisation.

[2014-07-11 13:41] cgabard commented on #927
Techniquement :
- Les wiki github sont des dépots git comme les autres donc il est possible de les avoir en offline en clonant le dépot du wiki
- On peut faire de la navigation dans le readme en faisant des liens markdown relatif vers un autre document markdown.

Donc pour moi la seule vraie différence est que le README est affiché en ouvrant l'adresse du dépot, pas le wiki. La doc de base est don

[2014-07-11 15:41] tleb commented on #1129
Désolé, c'est vrai que c'est pas très précis, mais demandais, je peut essayer d'aider. ^^

Le plus gros problème, c'est que je peut même pas voir le sujet, quelqu'un peut supprimer mon message, voir si sa change quelque chose, même si je doute.

[2014-07-11 16:02] cgabard commented on #1129
NON, si ça te dérange pas trop, ce serait cool qu'on ne le supprime pas. Car ça veut dire que l'on est capable de générer une erreur sur ça et qu'en activant les log au moment où tu tenterais d'y accéder, on pourrait récupérer des infos sur pourquoi toi tu as une erreur 500. @firm1 : tu peux pas activer la bt vers un fichier de log et voir avec lui pour qu'il accede au sujet, que tu puisse récupér

[2014-07-11 16:18] tleb commented on #1129
Pas de problème.

[2014-07-11 17:07] #1125 closed, assigned to nobody

[2014-07-11 17:14] sandhose commented on #1144
Je suis pas sur de comprendre ce que tu veux dire :(

Ces flèches sont créées via un `border`. Peux-tu préciser la version de ton navigateur, ton OS, et envoyer une petite screenshot ?

[2014-07-11 17:21] sandhose commented on #1045
Je suppose que l'on peut considérer cette issue comme résolue par la PR #1132

[2014-07-11 17:21] #1045 closed, assigned to nobody

[2014-07-11 18:02] Alex-D commented on #976
@cgabard, c'est ce que je disais dans l'issue. Je propose que ce soit fait par ngnix plutôt que dans le projet.

[2014-07-11 18:02] #1136 closed, assigned to nobody

[2014-07-11 18:12] Eskimon opened #1150 "Conserver le mode "Lecture zen" lors du changement de page"
Conserver le mode "Lecture zen" lors du changement de page

[2014-07-11 18:18] Eskimon commented on #1134
Je prends comme placeholder pour post freeze (je garde au chaud comme "issue d'entrainement" pour des jeunes recrues)

[2014-07-11 18:18] Eskimon commented on #1149
Je prends comme placeholder pour post freeze (je garde au chaud comme "issue d'entrainement" pour des jeunes recrues)

[2014-07-11 18:22] Eskimon opened #1151 "Version non visible sur page 403"
La version du site n'est pas visible sur la page d'erreur 403.

(et 404 ? et 500 ?)

Je reserve pour Amarok qui l'as trouvé et veux essayer de résoudre

[2014-07-11 18:26] AmarOk1412 commented on #1151
I am here.
Je forkerais, clonerais et travaillerais sur ma branche demain je pense. Je préviendrais si je n'ai pas le temps de le faire :)

[2014-07-11 18:27] Eskimon commented on #1151
Pas d'urgence pas d'inquiétude !!!

[2014-07-11 18:50] ArnaudCalmettes commented on #1151
J'ai ajouté AmarOk1412 au groupe "assignés" et lui ai transmis le ticket.

Bienvenue à toi !

[2014-07-11 19:43] Eskimon opened #1152 "MP, contexte lors d'edit ou citation"
Tout comme pour les forums, ca pourrait etre drolement chouette d'avoir les derniers messages du MP lorsque l'on fait un edit ou une citation. Sinon on perd le contexte c'est un peu casse pied.

[2014-07-11 20:06] Maxou44 opened #1153 "Boutons et éditeur en lecture seule"
Suite à un post, la réponse est bloqué, on ne peut pas répondre avant un certain temps pour limiter le double post, néanmoins les boutons de mise en formes, eux, fonctionnent toujours, il est possible de cliquer dessus et ça modifie texte d'information.

Une simple condition en JS pour vérifier si l’éditeur est en readonly devrai résoudre le problème ;)

[2014-07-11 20:14] artragis opened #1154 "Impossible de supprimer une partie"
Il est actuellement impossible de supprimer une partie d'un bigtuto.
En effet, bien qu'une url soit disponible dans le fichier views.py, nous avons :
- une absence d'accès côté front (pas de croix "supprimer")
- une méthode de suppression qui est incomplète (a minima, pas de répercussion de la modif dans la bdd)
- aucun test unitaire pour vérifier que ça fonctionne.
# Ce qu'il faut absolument impl

[2014-07-11 20:55] AmarOk1412 commented on #1151
Juste dire que c'est pareil avec la 404.
Merci nohar :)

[2014-07-11 21:36] 0hexit commented on #1113
A fermer.

[2014-07-11 21:41] #1113 closed, assigned to artragis

[2014-07-12 00:35] Alex-D commented on #928
Pour moi, c'est pas du front du tout cette issue. C'est au back de retourner _strictement_ ce que le front doit afficher. Le tag est selon moi à retirer.

[2014-07-12 00:37] 0hexit commented on #1146
Je prends la PR.

[2014-07-12 00:41] Alex-D opened #1156 "Conserver la lecture zen de page en page"
Le principe serait d'automatiquement réactivé, côté client, la lecture zen lors de la navigation au sein d'un tutoriel.

La solution technique à adopter est l'usage de `sessionStorage` car scopé à l'onglet courant. Ainsi, on est certain que l'utilisateur peut continuer à naviguer normalement sur ses autres onglets, et dans l'onglet concerné, l'utilisateur sera obligé de quitter le zen mode pour re

[2014-07-12 10:54] SpaceFox opened #1159 "Mauvaise police sur les liens (tutos / articles / pages statiques)"
Suite à un commit quelque part entre la v1.0-RC3 et la v1.0-RC4, la police des liens dans les pages tutos, articles et statiques est mauvaise : il manque l'appel à "Merryweather" et on se retrouve avec du "Liberation Serif", qui n'a pas _vraiment_ la même tronche.

Si j'en crois Firebug (mais sur un fichier minifié), le problème serait sur une directive :

[code]

[2014-07-12 12:23] Eskimon commented on #1146
Te la voila assignée !

[2014-07-12 12:46] SpaceFox commented on #976
Ça c'est fait.

@Alex-D que peux-tu faire pour ça ?

[2014-07-12 12:55] Eskimon commented on #1128
Apparemment ce souci apparait aussi de temps en temps sur le contenu...

http://zestedesavoir.com/forums/sujet/626/problemes-daffichage-du-contenu-des-extraits-a-ledition/

[2014-07-12 13:31] Eskimon commented on #486
Dans la version actuelle, je n'ai jamais vu de notifs lors d'une demande de valdiation (en local ou en prod). C'est normal ?

[2014-07-12 13:35] geoffroyw opened #1160 "Edition des messages dans un sujet vérouillé"
Comme décrit sur [forum](http://zestedesavoir.com/forums/sujet/588/edition-des-messages-possibles-dans-les-sujets-verrouilles/?page=1#p7144), le front empêche l'édition d'un message dans un topic locké (attribut `disabled="True"`), mais le back s'en moque et autorise l'édition d'un tel message. Du coup, faudrait aligner les comportements front et back.

[2014-07-12 14:08] 0hexit commented on #1159
J'ai l'impression que le bug n'est plus d'actualité non ? Sur [cette page statique](http://zestedesavoir.com/pages/) par exemple, c'est bien la police Merriweather qui est utilisée.

Edit : en fait, c'est ok sous Chrome mais ça n'est pas bon sous Firefox. Je n'ai rien dit.

[2014-07-12 14:12] SpaceFox commented on #1159
Pas chez moi, cache vidé et tout.

Le 12 juillet 2014 16:08, Vulser notifications@github.com a écrit :

[2014-07-12 14:16] 0hexit commented on #1159
J'ai compris d'où ça vient. Je fais la PR :)

[2014-07-12 14:20] SpaceFox commented on #1159
Je confirme le bug : Windows tous navigateurs, Linux tous navigateurs,
problème vérifié différents outils d'analyse du CSS.

Par contre comme c'est une régression, il reste invisible tant que
l'ancienne version des statiques est dans le cache navigateur.

Le 12 juillet 2014 16:11, SpaceFox ujueseo.yeou@gmail.com a écrit :

[2014-07-12 14:22] 0hexit commented on #1159
En effet, j'avais oublié de vider le cache avant de tester (honte à moi)...

[2014-07-12 14:39] SpaceFox commented on #434
J'ai essayé de le reproduire en local et je n'obtiens que des résultat normaux : quand je vais sur le profil d'un staff, je ne vois que les topics auxquels j'ai le droit d'accéder.

[2014-07-12 14:40] SpaceFox commented on #434
PS : J'ai demandé des précisions sur le topic qui remontait le bug.

[2014-07-12 14:54] SpaceFox commented on #1123
Je prends.

[2014-07-12 14:58] DevHugo opened #1163 "Le mp envoyé lors de la publication d'un article n'est pas formaté"
Quand un article est publié, le message envoyé à l'utilisateur n'est pas formaté.

**Comportement attendu**
Un mp avec le contenu suivant : "Félicitations [nom de l'auteur] ! Ton zeste [Titre de l'article] est maintenant publié ! Les lecteurs du monde entier peuvent venir le lire et réagir a son sujet. Je te conseille de rester a leur écoute afin d'apporter des corrections/compléments. Un Article

[2014-07-12 15:04] DevHugo commented on #1163
Je prends.

Dans la branche, trois commit:
- Un commit pour corriger le problème concernant le formatage: https://github.com/DevHugo/zds-site/commit/ab473ea6ba94d9d72c38780ee5b899ccaaff4f61.
- Un commit pour corriger le lien dans le mp: https://github.com/DevHugo/zds-site/commit/0f395ee6bc7bd003f3ede216c186baba7c48bbe3.
- Un commit pour la remise en forme aux normes pep8 : https://github.com/DevHu

[2014-07-12 15:06] SpaceFox commented on #434
OK, en fait ça concerne les sous-pages du profil, cf ici : http://zestedesavoir.com/forums/sujet/456/lien-dans-les-profils-inaccessibles/?page=1#p7162

[2014-07-12 15:21] AmarOk1412 commented on #1151
ZdS fonctionne bien chez moi.
J'ai localisé le bug, par contre je découvre Django donc je vois pas trop la cause.
En gros, que ce soit 403/404/500.html, les 3 n'éxécutent pas les fonctions de **init.py** donc git_version.url et git_version.name.
Vous pouvez aussi essayer de copier le contenu de home.html dans 404.html vous verrez que les fonctions ne marchent pas non plus.

[2014-07-12 15:33] SpaceFox commented on #1151
AMHA les pages "d'erreur" 403/404/500 doivent être **purement statiques**, et donc ne faire aucun appel d'aucune sorte au serveur Python (Gunicorn).

Pourquoi ? Parce qu'elles peuvent être appelées si le serveur python est mort. C'est typiquement le cas d'utilisation de la page d'erreur 500.

Donc si elle nécessite de faire un appel à un serveur HS... on va avoir un problème !

[2014-07-12 15:34] SpaceFox commented on #1151
PS : comme vous l'avez compris... ça implique de faire une croix sur le numéro de version sur ces pages.

[2014-07-12 15:37] AmarOk1412 commented on #1151
Ok, c'est bien ce que je pensais. Impossibilité d'aller toucher les fonctions...
Du coup, j'enleverais Version: pour ces pages. Merci de la précision SpaceFox

[2014-07-12 16:00] sandhose commented on #1151
@SpaceFox: Pour moi, seul les erreurs 5xx doivent être statiques, car ce sont celles qui concernent une erreur serveur. Les erreurs 4xx sont relatives au contenu, aux autorisations, et peuvent, voir doivent être dynamiques.

—
Sent from Mailbox for iPhone

On Sat, Jul 12, 2014 at 5:37 PM, AmarOk1412 notifications@github.com
wrote:

[2014-07-12 17:28] AlexRNL commented on #1156
Doublon de #1150 !

[2014-07-12 17:33] Alex-D commented on #976
Je supprimerais tout ça quand j'aurais un ordi en mettant une redirection vers ZdS

[2014-07-12 17:37] Alex-D commented on #1156
Haaa mais il n'a pas prévenu... Pour le coup mon issue est plus détaillée ça serait mieux de garder la mienne je pense.

[2014-07-12 18:03] amorison commented on #850
À noter que le problème est le même pour les tutos, et que les membres non staff ne peuvent même pas virer leur tuto de la validation pour soumettre la nouvelle version.

[2014-07-12 18:19] geoffroyw opened #1164 "[Forum]Non unicité des ancres des notes de bas de page"
Comme signalé sur le [forum](http://zestedesavoir.com/forums/sujet/639/les-notes-de-bas-de-pages/?page=1#p7220), les ancres des notes de bas de page ne sont pas unique au sein d'une même page (HTML).

Par exemple, si deux posts affichés sur la même page ont une note de bas de page, on va se retrouver avec deux ancres  `#fn-1` et `#fnref-1` dans l'HTML. Du coup, on se retrouve toujours redirigé ver

[2014-07-12 18:49] 0hexit commented on #1163
Bien sûr, toute PR est la bienvenue ! Elle doit être faite sur la branche master ;)

PS : Je me suis permis de commenter un des commits pour signaler des petites fautes d'orthographe.

[2014-07-12 19:13] DevHugo commented on #1163
Effectivement. Pour la majuscule, à article, je pense que c'est fait exprès.

Faudrait voir si on met le contenu du mp dans un template, cela me parais plus propre
La question est aussi, une deuxième PR pour les corrections orthographique ou on fait ça dans la même ?

Pour les tutoriels, le mp contient aussi des fautes d'orthographe : 

Correction: a en à

[2014-07-12 20:00] 0hexit commented on #1163
Non vraiment, il faut enlever la majuscule :) Elle relève surtout d'une mauvaise habitude d'écriture.

Vu qu'on est en période freeze (donc uniquement des corrections de bugs), je ne pense pas qu'il faille instaurer de template(s). Mais plus tard, je suis d'accord, il faudra tout mettre dans un template.

Sinon, puisqu'il y a aussi des fautes dans le MP pour les tutoriels, je pense qu'il est mieux

[2014-07-12 22:07] SpaceFox commented on #434
Je corrige ça.

[2014-07-12 23:28] SpaceFox commented on #1163
Mergé --> Fermé

[2014-07-12 23:28] #1163 closed, assigned to nobody

[2014-07-13 02:15] devock commented on #1159
C'est corrigé et mergé, je clos.

[2014-07-13 02:15] #1159 closed, assigned to Vulser

[2014-07-13 02:15] devock commented on #1146
C'est corrigé et mergé. Je clos.

[2014-07-13 02:15] #1146 closed, assigned to Vulser

[2014-07-13 12:37] Eskimon commented on #1123
Merged, je ferme !

[2014-07-13 14:29] Eskimon commented on #434
C'est recorrigé je referme

[2014-07-13 14:29] #434 closed, assigned to SpaceFox

[2014-07-13 15:08] firm1 commented on #1164
En fait il s'agit d'une issue en lien avec une autre coté markdown [ici](https://github.com/zestedesavoir/Python-ZMarkdown/issues/31).

[2014-07-13 15:49] firm1 commented on #983
ça fait longtemps que cette issue traine et visiblement personne ne s'y collera a la solution propre. Vous êtes sur que vous ne voulez pas utiliser la solution du filtre en front en attendant ? Parce que pour le coup, on a une énorme faille de sécurité là.

[2014-07-13 15:58] Alex-D commented on #1150
A fermer pour garder la #1156 qui est plus complète. Désolé je n'avais pas vu ton issue en postant @Eskimon :(

[2014-07-13 16:00] Alex-D opened #1170 "Designer le chapitrage des tutoriels"
Actuellement, le design n'est pas "fini", il n'est que le résultat de gros oeuvre. Il faudrait que les finitions soient faites au niveau du chapitrage des tutoriels, autant sur la page d'accueil d'un tuto que sur chaque partie.

Il faut également revoir la sémantique des listes pour passer en listes ordonnées. Il y a certainement d'autres détails du genre à ajuster.

[2014-07-13 16:09] firm1 commented on #1151
Je confirme les propos de @sandhose . Les seules les erreurs de type 5xx sont statiques. Les 4xx doivent être dynamiques, et on doit pouvoir retrouver la version en dessous.

Pour résoudre ce problème, étant donné que les fichiers init.py ne sont pas appelés, il faudrait créer un filtre/tag dans le répertoire templatetag, qui lui cherchera la bonne version de git (en appelant la fonction du fichie

[2014-07-13 16:11] Taluu commented on #1164
Oui c'est un problème connu (je l'avais reporté lors des beta privés, et on a ouvert le ticket mentionné par @firm1 : zestedesavoir/Python-ZMarkdown#31). C'est aussi vrai pour les mini-tutos ou chapitres de big-tutos.

J'ai changé le tag front par un tag markdown, vu que c'est plus une histoire de communication back / markdown.

[2014-07-13 16:32] Alex-D opened #1171 "Changer la forme de la date dans les infobulles des sujets suivis"
_Cette issue est plus un pense bête à moi-même qu'une issue pour tout le monde_

Il faut changer le format de la date pour la passe en "small" (je ne sais plus le nom du paramètre) comme pour les notifications en haut à droite.

Aussi, il faudra rajouter un overflow: hidden en cas de débordement qui resterait.

[2014-07-13 16:49] #1150 closed, assigned to nobody

[2014-07-13 18:12] Alex-D opened #1172 "Afficher les derniers messages lorsqu'une réponse a été postée entre temps (MP, Articles, Tutos)"
Quand on rédige une réponse à un MP/Articles/Tutos, et qu'un autre a répondu entre temps, on a une page séparée et on a uniquement le formulaire. Il faudrait afficher les derniers messages, comme sur le forum et ainsi aligner les comportements.

Autant pour le front, je vois comment faire, autant : est-ce que le back renvoi ça actuellement ? Si non, il faudrait déjà implémenter ça.

[2014-07-13 18:50] Eskimon commented on #1172
Ca fait deux fois :D Les grands esprits !!

https://github.com/zestedesavoir/zds-site/issues/1152

Je ferme la mienne, la tienne étant plus détaillé ;)

[2014-07-13 18:50] #1152 closed, assigned to nobody

[2014-07-13 20:11] Eskimon opened #1173 "Informer d'ajout d'un nouvel auteur"
Lorsqu'un nouvel auteur est ajouté à la rédaction d'un tutoriel/article, il n'est pas prévenu.
L'envoi d'un MP automatique (depuis la personne qui l'ajoute ou depuis un bot ?) serait plus que pratique !

[2014-07-13 21:18] firm1 commented on #701
bizarrement j'ai pu créer deux articles en local avec le même nom. Tu es sur de ta réouverture là @Eskimon ?

[2014-07-14 06:57] Eskimon commented on #701
J'arrive a reproduire en local, mais je me demande si c'est pas juste la version local qui merdouille un peu... (genre si je crée deux articles avec le titre "Test" ca plante)

[2014-07-14 06:58] Eskimon commented on #1160
Merged, je ferme

[2014-07-14 06:58] #1160 closed, assigned to nobody

[2014-07-14 07:01] Eskimon commented on #1121
Merged, je ferme !

[2014-07-14 07:01] #1121 closed, assigned to SpaceFox

[2014-07-14 07:04] Eskimon commented on #1079
La phase 1 agrandissant le champ de code postal est faite.
La phase 2 d'internationalisation plus simple du formulaire etant une V2, je laisse le ticket ouvert et passe le label "validation" a "evolution"

[2014-07-14 07:27] pierre-24 commented on #1154
@SpaceFox : du coup, cette issue est normalement réglée.

[2014-07-14 07:30] pierre-24 commented on #1109
Je prend, je pense avoir une idée de comment faire.
(j'ai pas le droit de me l'assigner, si quelqu'un pouvais)

[2014-07-14 07:55] Eskimon commented on #1109
Voila cadeau !

Je n'ai pas regarde le code, peut-etre est-il possible de s'inspirer du code des tutos

[2014-07-14 07:59] Eskimon commented on #1154
Je ferme des qu'on a bien fignoler les derniers tests en preprod !

[2014-07-14 08:45] Eskimon commented on #1099
C'est beaucoup mieux mais ca bugouille encore un peu (ca décale d'une ligne les boutons de réponses)...

Ca m'est arrivé lorsque j'ai fait un nouveau sujet (répondre a un sujet marche bien en revanche)

![screenshot from 2014-07-14 10 39 01](https://cloud.githubusercontent.com/assets/761168/3568596/246899f6-0b33-11e4-8f19-c644eeb490b3.png)

[2014-07-14 09:15] pierre-24 commented on #1109
Exactement ce que je comptais faire (j'ai d'ailleurs regardé ledit code avant :p ). Loin de moi l'idée de réinventer la roue.

[2014-07-14 09:33] firm1 commented on #1130
It's done.

[2014-07-14 09:33] #1130 closed, assigned to firm1

[2014-07-14 09:35] firm1 commented on #1128
C'est fait (et en prod).

Il se peut que la structure interne de vos tutos ait été endommagé par le bug. N'hésitez pas a le faire savoir.

[2014-07-14 09:35] #1128 closed, assigned to firm1

[2014-07-14 09:38] firm1 commented on #1067
C'est corrigé (et en prod).

Cependant il faudra reimporter les tutos qui on été importé le lundi 07 juillet. La structure interne a été endommagé par un bug lors de l'édition.

[2014-07-14 09:38] #1067 closed, assigned to firm1

[2014-07-14 09:44] firm1 commented on #719
La PR référencée ci-dessus permet de ne plus montrer le lien de téléchargement si un format d'export est indisponible.

Donc techniquement l'issue est corrigée (si j'ai un lien de téléchargement alors on a plus d'erreur).

En sachant que les tutos peuvent ne pas s'exporter pour plein de raisons (un caractère spécial non échappés, une URL d'image indisponible, etc.), la correction de l'export se fe

[2014-07-14 09:45] #719 closed, assigned to firm1

[2014-07-14 09:46] firm1 commented on #1154
C'est en prod, je ferme donc :-p

[2014-07-14 09:47] #1154 closed, assigned to nobody

[2014-07-14 09:47] firm1 commented on #1119
C'est corrigé (et en prod).

Je ferme.

[2014-07-14 09:47] #1119 closed, assigned to artragis

[2014-07-14 09:48] firm1 commented on #850
Ça a été corrigé pour les tutoriels, il ne reste plus qu'a le faire pour les articles.

[2014-07-14 09:50] firm1 commented on #1086
Plus d'erreur 500 a l'export.

[2014-07-14 09:50] #1086 closed, assigned to nobody

[2014-07-14 10:21] Eskimon commented on #1067
J'ajouterais qu'il faut etre vigilant sur cette histoire d'erreur 500, notamment au niveau de la validation puisque c'est ce qui semblait poser probleme

[2014-07-14 11:03] Maxou44 opened #1175 "Double citation"
Lorsque l'on cite un message on est renvoyé sur l’éditeur, si ensuite on cite à nouveau un message se trouvant sur la page, on est de nouveau redirigé sur un nouvel éditeur (Et on perd notre message en cours de rédaction). Il serait intéressant de l'ajouter au message en cours au lieu d'ouvrir un nouvel éditeur.

[2014-07-14 11:18] Eskimon commented on #1175
Doublon de cela ? https://github.com/zestedesavoir/zds-site/issues/454

[2014-07-14 11:23] viki53 commented on #1128
Ça a pas l'air d'être au point, du moins chez moi : les intros et conclusions actuelles ont sauté.

Heureusement que j'ai une copie en local pour ré-importer une bonne partie…

Par contre vu que j'avais envoyé en validation, ça se passe comment une fois que j'ai ré-importé ? J'envoie à nouveau ? Vous avez déjà les bons contenus ?

[2014-07-14 11:52] Alex-D commented on #1128
Oiui, quand tu envoie en validation, ça pointe sur le dernier commit au moment de la validation. Du coup si tu fais d'autres commits après, toi tu les vois, mais pas les validos. En tous cas, c'est ça en théorie.

[2014-07-14 11:53] Maxou44 commented on #1175
Oups, en effet ;)

[2014-07-14 12:05] firm1 commented on #1128
Vik : le fait que tu ais perdu les intro actuelles est normal. Le bug faisait que tout ce que tu editais depuis allais dans une sorte de noir.
Il faut donc (mais ça tu l'as compris) refaire tes intros (heureusement que tu as penser a sauver l'archive, sinon on t'aurais filé ça en piochant sur le serveur).

En ce qui concerne la validation, tu dois mettre a jour ta version de validation pour que le

[2014-07-14 12:08] #1175 closed, assigned to nobody

[2014-07-14 12:48] viki53 commented on #1128
Pas de souci, tout est fait de mon côté, ça m'a pris 5 minutes. Plus qu'à attendre la validation (d'ailleurs, je sais pas comment ça se passe par rapport à une partie qui n'est pas à publier — mais c'est un autre sujet).

J'avais commencé à faire des backups réguliers quand j'ai vu que les intros/conclus étaient pas affichées : la première fois je voulais voir si c'était enregistré, puis j'ai préf

[2014-07-14 12:54] Eskimon commented on #1128
Juste pour rassurer les autres auteurs : Rien n'est perdu cependant ! Il faut juste contacter les admins pour récupérer le contenu "absent"

[2014-07-14 12:56] firm1 commented on #1128
Pour le moment tu envoi tout ce que tu as en validation d'un coup.

Pour contourner le problème pour le moment tu peux supprimer la partie qui n'est pas utile (v2), envoyer cette version là en validation et ensuite repartir de ta version initiale (v1) avec la partie que tu étais en train de rédiger. ainsi la v2 sera celle en validation avec uniquement le contenu que tu veux, et pendant ce temps tu

[2014-07-14 13:24] Eskimon commented on #1099
J'enleve le label "Bloquant V1" car la version actuelle est largement utilisable meme avec le petit defaut susmentionne.

[2014-07-14 13:26] Eskimon commented on #1129
Du nouveau a ce propos ?
Ca s'est deja reproduit ? C'etait ptet un coup de pas de bol a l'epoque des erreurs 500 recurrentes ?

[2014-07-14 13:26] Eskimon commented on #1076
Est-ce que ca c'est deja reproduit chez qqun ou c'etait un coup de pas de bol a l'epoque des 500 ?

[2014-07-14 13:54] Alex-D commented on #1099
J'ai vu, et c'est voulu. Dans cette configuration, le bouton est lié au champ, tandis que dans les formulaires "répondre" en bas des pages c'est lié au champ mais il n'y en a qu'un donc je peux me permettre de gagner de la place.

Le problème, s'il en est un, n'est donc pas soluble. C'était donc bien à fermer.

[2014-07-14 14:08] Eskimon commented on #1099
Ok, je referme :)

[2014-07-14 14:08] #1099 closed, assigned to nobody

[2014-07-14 14:25] Alex-D commented on #1079
Change également le milestone alors :)

[2014-07-14 14:35] Eskimon commented on #1042
Problème réglé !!

[2014-07-14 14:35] #1042 closed, assigned to nobody

[2014-07-14 14:35] Eskimon commented on #312
Problème de BDD réglé, tu peux avancer @SpaceFox :)

[2014-07-14 14:36] Eskimon commented on #1079
Arf ! C'est fait, merci du rappel ^^ Je l'ai passé en 1.x pour pas que ca traine non plus !

[2014-07-14 14:40] Eskimon commented on #701
Bon j'ai rien dit, en prod' tout va bien donc c'est que c'est ma version local qui merdouille (SQLite je suppose ?)

[2014-07-14 14:40] #701 closed, assigned to nobody

[2014-07-14 15:55] tleb commented on #1129
Personne ne m'a contacté, dites moi qui je dois contacter, et je le fais. ^^
Je ne peux toujours pas me connecter au sujet, si c'était juste un coup de pas de bol, je veux bien voir avec un admin comment on peut faire pour résoudre mon cas, parce que j'aimerai bien lire les réponses. :+1:

[2014-07-14 16:07] firm1 commented on #1129
Quand tu dis que tu ne peux plus voir le sujet, qu'est ce que ça signifie exactement ?
- Dans la [liste des sujets](http://zestedesavoir.com/forums/savoirs/site-web/) est-ce que tu vois le sujet ?
- Si oui, en cliquant sur ledit sujet, est-ce que tu obtiens une page d'erreur ? Si oui quelle type de page d'erreur ? 404 ? 403 ?

Merci d'avance

[2014-07-14 16:10] tleb commented on #1129
- Je le vois dans la liste des sujets.
- Je clique dessus, erreur 500 + je suis déconnecté.
- Je peut regarder le profil du créateur sans problème.

[2014-07-14 16:25] firm1 commented on #1129
Je viens de faire une PR qui devrait te redonner l'accès à ce sujet, il faudra attendre le passage de la QA et la prochaine MEP.

[2014-07-14 16:55] geoffroyw opened #1178 "[Tutoriel] Erreur 500 en accédant à une partie supprimée"
Firm1 a supprimé la partie 6 - les services du tutoriel Symfony.
Maintenant, si on tente d'accéder à une sous-partie de la partie 6 (http://zestedesavoir.com/tutoriels/324/developpez-votre-site-web-avec-le-framework-symfony2/398/les-services/2013/backup/ par exemple), on se prend une erreur 500 alors qu'une erreur 404 est plus adaptée.

[2014-07-14 16:56] tleb commented on #1129
| Abbr | Signification |
| --- | --- |
| PR | Pull request |
| QA | Quality assess ? |
| MEP | ? |

Désolé. _(C'est aussi une occasion de tester un peu de markdown, m'entraîner...)_

[2014-07-14 16:59] Eskimon commented on #1129
| Abbr | Signification |
| --- | --- |
| PR | Pull Request |
| QA | Quality Assurance |
| MEP | Mise En Prod'(uction) |

[2014-07-14 19:04] SpaceFox opened #1181 "La home manque d'explications"
Je viens de discuter avec deux personnes, l'une qui ne connait rien au contexte et l'autre qui connait vite fait OCR.

Il en ressort que :
1. Si tu ne sais pas à l'avance de quoi parle le site, rien ne l'indique clairement sur la home et l'onglet est fermé sans aller plus loin.
2. Si le visiteur qui connait le lien avec le sdz/ocr que de loin pense qu'on est limités à l'informatique.

Nous n'avion

[2014-07-14 20:50] Eskimon commented on #1129
Le merge est fait sur master, plus qu'à attendre que ca passe en prod' (je laisse @firm1 faire le reste du suivi :) )

[2014-07-14 21:03] pierre-24 opened #1182 "Bandeau orange sur les bétas"
Bug tout bête :

Quand on est sur les bétas des tutos, on retrouve parfois les "ce tuto n'as pas d'introduction/conclusion" du mode _offline_. Ça serait bien de les enlever :)

(si vous trouvez que ça rentre en V1, vous pouvez me l'assigner, ça prendra 30 secondes à tout casser, d'ailleurs, je suis à peu près responsable de cet oubli).

[2014-07-14 21:11] pierre-24 commented on #1181
Faudrait pas un topic sur le forum dev pour discuter vite fait de ce qui doit se trouver dans ce cadre ? Et pour réfléchir trente seconde au design de celui-ci ?

[2014-07-14 22:39] Alex-D commented on #1173
Depuis le bot selon moi. "Machin t'a ajouté au tuto/article Truc". Avec le lien qui va bien.

[2014-07-14 23:56] Alex-D commented on #1181
Voilà ce que je vous propose pour discuter :

http://zestedesavoir.com/forums/sujet/669/zep-04-nouvelle-page-daccueil/

[2014-07-15 06:09] Eskimon commented on #1182
C'est si genant que ca ce banderau ? Tu peux faire une capture d'ecran je vois pas a quoi ca ressemble ^^ ?
Sinon cadeau, je te l'assigne. Et comme c'est un bug ca rentre dans les corrections du freeze.

[2014-07-15 06:36] pierre-24 commented on #1182
Capture d'écran :

![Bandeau orange ](http://zestedesavoir.com//media/galleries/407/8cae7b4d-8860-4e53-84b5-857e65718613.png.960x960_q85.png)

[à voir en vrai ici](http://zestedesavoir.com/tutoriels/off/342/tutoriel-de-test/) :-)

[2014-07-15 06:43] SpaceFox commented on #1181
Excellente initiative, mais elle n'évite pas la création d'un bloc
explicatif en attendant (puisqu'elle ne sera jamais prête pour la v1)
Le 15 juil. 2014 01:56, "Alexandre Demode" notifications@github.com a
écrit :

[2014-07-15 06:47] Eskimon commented on #1182
Et sur la version live il n'y a pas ce bandeau c'est ca ?

[2014-07-15 06:47] pierre-24 commented on #1182
Exactement :)

(d'ailleurs ça n'aurais pas de sens)

[2014-07-15 06:55] Eskimon commented on #1182
Vu que c'est un bug, je suppose que ca peut être corrigé malgré le freeze. Mais c'est clair que comme tu disais c'est pas urgent ^^ Si tu veux le faire vas-y (ou on laisse ca a qqun de plus débutant pour un entrainement ?)

[2014-07-15 08:11] pierre-24 commented on #1182
Si tu trouve un débutant, je passe volontiers la main, c'est vraiment l'affaire de deux minutes (et de quelques `if`) pour corriger ça :)

[2014-07-15 08:15] Eskimon commented on #1182
@Florianboux si tu veux t’entraîner ;)

[2014-07-15 08:26] Axylium commented on #1182
Yep, je vais voir si je peux faire quelque chose de potable. ^^

[2014-07-15 08:27] pierre-24 commented on #1182
Alors @Eskimon  peut te l'assigner :)

[2014-07-15 08:34] Eskimon commented on #1182
Ça aurais été avec plaisir, mais @Florianboux n'est pas encore dans la liste (poke @ArnaudCalmettes ) du coup je me met en placeholder pour garder la place au chaud et montrer que qqun est dessus :)

[2014-07-15 08:39] ArnaudCalmettes commented on #1182
Done.

Ne pas hésiter à me MP sur le site pour ce genre de trucs. ;)

[2014-07-15 09:11] pierre-24 opened #1183 "Impossible de supprimer la licence d'un tutoriel"
Ainsi [que je l'ai dit sur le forum](http://zestedesavoir.com/forums/sujet/668/enlever-la-licence-ne-fonctionne-pas/) :

Ce bug est dû au fait que si la valeur de la liste est remis à `""` (chaine vide), le _back_ n'en tient pas compte (`if request.POST['licence']` et ainsi de suite).

[2014-07-15 09:49] devock opened #1184 "Le code Google Tag Manager"
J'ai remarqué une baisse des stats de Google Analytics sur le site, au départ je pensais à un soucis dans GA, car il me mettait un message d'erreur, mais finalement ça n'a pas l'air d'être le problème.

Je pense qu'il y a clairement un soucis dans le code et surtout que la baisse de trafic correspond à la MEP du 11 juillet qui incluait la PR #1132

En théorie, le code GTM devrait apparaître après

[2014-07-15 09:50] devock commented on #1184
Pour compléter : le code à l'air de s'exécuter de temps en temps mais il y a une baisse de 90% dans les stats...

[2014-07-15 09:54] SpaceFox commented on #1184
Il y a eu une.baisse sensible de trafic ce WE prolongé.
À croiser avec les stats Munin.
Le 15 juil. 2014 11:49, "devock" notifications@github.com a écrit :

[2014-07-15 09:57] devock commented on #1184
Ce n'est pas lié, la fonction temps réelle ne fonctionne même pas alors qu'elle le devrait. Là si je navigue sur le site, GA m'indique qu'il y a 0 utilisateur actif sur le site alors que j'y suis et qu'il devrait mettre au moins 1 utilisateur actif.

[2014-07-15 10:01] SpaceFox commented on #1184
Ah non, pas 90% la baisse dans Munin…
Le 15 juil. 2014 11:54, "SpaceFox" ujueseo.yeou@gmail.com a écrit :

[2014-07-15 10:03] pierre-24 commented on #1181
ça n'empêche que ça doit être discuté, séparément si il faut.

(il y a eu le cas avec le bandeau pour les cookies ou une PR avait été refusée pour absence de discution)

[2014-07-15 10:05] devock commented on #1184
Bon je viens de faire un test plus poussé :
- Si je supprime le cookie _ga et le cookie hasconsent
- Que je fais F5
- Que je ré-accepte les cookies pour GA : le code est bien exécuté, j'ai bien dans l'inspecteur de code de Chrome la balise script de GTM qui apparaît.

Jusque là c'est normal.

Par contre, ensuite si je navigue, même si hasconsent est à true le script de GTM n'apparait plus dans l'i

[2014-07-15 10:54] firm1 opened #1186 "Erreur dans le module de recherche"
J'obtiens une erreur 500 en recherchant le terme "Android" sur le site.

URL : http://zestedesavoir.com/rechercher/?q=Android

[2014-07-15 11:44] Eskimon commented on #1172
Je modifie ton titre pour étendre cette correction aux articles/tutoriels pour obtenir le même comportement ;)

[2014-07-15 12:05] Eskimon opened #1187 "Erreur 500 dans les profils"
Il y a des erreurs 500 dans les liens vers les articles/tutos a partir d'un profil.

Cette erreur est visible sur le profil de devock par exemple : http://zestedesavoir.com/membres/voir/devock/

Si on essaie de voir dans la partie "Activites":
- Ses tutos en beta : **OK**
- Ses tutos publiés : **NOT OK, 500**
- Ses articles en ligne : **NOT OK, 500**
- Ses sujets créés : **OK**
- Ses messages post

[2014-07-15 12:23] Eskimon commented on #1122
J'avais pas vu, mettre a mettre en relation avec ca non ? https://github.com/zestedesavoir/zds-site/issues/585

[2014-07-15 12:30] viki53 commented on #1122
Plus ou moins, oui. D'un côté c'est pour être averti des modifs, de l'autre pour retenir l'avancement façon marque-page dans un livre…

[2014-07-15 13:11] pierre-24 commented on #1182
Aaaah, vous avez été trop vite, j'ai pas eu le temps de faire QA, donc vous en avez oublié un dans `/templates/tutorial/includes/chapter.part.html` !!

ping @Florianboux :p

[2014-07-15 13:20] Alex-D commented on #1184
C'est assez étrange, je vais y jeter un oeil.

[2014-07-15 13:40] devock commented on #1182
My bad, j'ai suivi bêtement les instructions de la QA. Soit @Florianboux refait une PR, soit je revert et tu corrige ça.
Qu'elle est la meilleure des pratiques ?

En attendant, je réouvre.

[2014-07-15 13:41] Alex-D commented on #1184
A valider !

[2014-07-15 13:43] Alex-D commented on #1181
On en parle là-bas en fait :)

[2014-07-15 13:43] pierre-24 commented on #1182
Là, je suis occupé sur autre chose, et j'aurais de toute façon pas le temps avant ce soir (et j'ai une autre issue à traiter). Donc pour le moment, je laisse @Florianboux si il le désire, si c'est pas réglé d'ici demain, je reprendrai la main :)

[2014-07-15 13:49] firm1 commented on #1182
Pour éviter ce genre de pépins a l'avenir, il faut prendre l'habitude coté QA de tester les choses au delà des recommendations, car en général ce que le dev vous demande de tester, en fait il l'a déjà fait chez lui.

[2014-07-15 13:54] pierre-24 commented on #1182
Là, en l’occurrence, ledit _dev'_ est novice et c'est (c'était) sa première PR. Du coup, je pense qu'il n'était pas tout à fait conscient de ça.

[2014-07-15 14:09] devock commented on #1182
@firm1 d'où le "bêtement" dans ma phrase, je ferai gaffe la prochaine fois.

[2014-07-15 14:58] DevHugo commented on #1186
Blender, ne marche pas non plus. C'est pas liés au fait qu'il est pas de résultat, ni à la majuscule. Bizarre.

[2014-07-15 15:00] Eskimon commented on #1184
Merged, je ferme !

[2014-07-15 15:00] #1184 closed, assigned to nobody

[2014-07-15 15:17] Eskimon commented on #1187
Erreur de type : NoReverseMatch
Facile a reproduire en local, je corrige ca tout a l'heure !

[2014-07-15 15:18] cgabard commented on #1182
@pierre-24 : Je pense qu'en l'occurence il ne jette pas la pierre au dev mais à celui qui a fait la QA, @devock , pour ne pas avoir été plus loin que les indications de base. Mais bref c'est pas grave

[2014-07-15 15:30] Axylium commented on #1182
Bon, désolé pour cette QA un peu hasardeuse !

Pour rester simple, je vais faire une seconde PR, pour compléter ce qu'il manque.

[2014-07-15 15:47] pierre-24 commented on #1182
Ok. Et au moment ou tu l'as fait, fait moi une "@" invocation, pour que je checke que t'en a pas oublié ;)

[2014-07-15 15:47] Eskimon commented on #1182
T'excuse pas, c'est pas toi qui est fait la QA (Quality Assurance) mais devock donc tout est de sa faute (niark niark niark !)

Toi tu as fait la PR (Pull Request) qui s'est avéré incomplète, c'est pas dramatique ;)

[2014-07-15 15:49] cgabard commented on #1182
Oui t'inquiete pas @Florianboux c'etait a @devock de s'en rendre compte. Mais comme on a une super équipe de dev, ça a été détecté rapidement donc pas de soucis !

[2014-07-15 15:53] Eskimon opened #1189 "Un chapitre ne peut plus etre supprimé une fois en ligne"
Pour un big-tuto, un chapitre ne peux pas etre supprimé (pourtant un extrait ou une partie peuvent). A l'emplacement de la croix de suppression on trouve "ce chapitre ne peut etre supprimé car publié".

Ce n'est pas le comportement attendu, il faudrait pouvoir le supprimer tout de même.

Est-ce un test front qui bloque ou est-ce le back ?

[2014-07-15 15:58] firm1 commented on #1189
C'est un test front qui bloque, car dans les tests on voit bien que [c'est possible de supprimer un chapitre](https://github.com/zestedesavoir/zds-site/blob/master/zds/tutorial/tests.py#L784).

[2014-07-15 16:03] Eskimon commented on #1189
Ok cool, ca devrait etre assez simple a resoudre du coup :)

[2014-07-15 18:12] geoffroyw opened #1194 "Navigation au clavier dans un topic"
Comme signalé sur le [forum](http://zestedesavoir.com/forums/sujet/680/navigation-au-clavier-avec-j-et-k/?page=1#p8252), il pourrait être intéressant d'étendre la navigation au clavier (touche J et K) au sein d'un topic.

Et je cite Alex-D:

- [ ] Corriger l'implémentation existante sur les index du forum (assez facile, je pense)
- [ ] Créer la capacité à naviguer entre les messages (Ça devrait al

[2014-07-15 18:20] pierre-24 opened #1195 "Bug : plusieurs informations des articles ne sont pas versionnées"
De la manière dont est écrit actuelement la fonction `view_online()` (dans [/zds/article/view.py à la ligne 132](https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views.py#L132)), tout changement du `manifest.json` en _off_ se répercute directement sur la version _online_ (donc titre, sous titre et ainsi de suite), tout simplement parce que y'a pas l'histoire de `repo` (qui est présen

[2014-07-15 18:42] Eskimon commented on #1194
Pourquoi pas étendre plus large et implémenté la liste de raccourci de beaucoup de site ? (taper '?' sur twitter par exemple ;) )

[2014-07-15 18:43] Eskimon commented on #1195
Cadeau ! Ca me parait mine de rien assez important...

[2014-07-15 18:48] pierre-24 commented on #1195
J'attend l'avis de @ArnaudCalmettes sur le milestone avant ;)

(et le cas échéant, je couplerait ça avec #754 )

[2014-07-15 18:52] pierre-24 commented on #1182
à fermer  !

[2014-07-15 19:09] #1182 closed, assigned to Florianboux

[2014-07-15 19:11] Eskimon commented on #1186
@firm1 : on a toujours pas de fichiers de log sur la prod pour analyser ce genre de chose ?

[2014-07-15 19:55] Eskimon commented on #1189
Bon c'est réparé (pas si simple que ca, il y avait un bug dans le bug : bugception)... La solution est implémenté mais j'aimerais faire un test (car je pouvqis générer de la 500 plutot que de la 404 une fois le test enlevé) donc il faut patienter ;)
Les tests seront inspiré (voir doublon donc j'attends) de ceux prévus dans cette PR : https://github.com/zestedesavoir/zds-site/pull/1179

[2014-07-15 20:32] Axylium opened #1196 "Pagination en double sur la lecture zen"
Via [PG06 sur le forum](https://zestedesavoir.com/forums/sujet/682/pages-des-commentaires-en-double/)

---

Sur les articles et les tutoriels, quand nous passons en lecture zen, les commentaires disparaissent, mais la pagination reste. Ce qui fait qu'en plus de nous retrouver avec une pagination inutile, elle apparaît en double.

Vu que une image est mieux que de long discours voici :

![](http://

[2014-07-15 20:49] Fumble commented on #766
Je remonte ce bug. Le diff est en effet décalé sur la droite et le tableau dépasse de l'écran de façon très importante. Il doit manquer au moins la moitié de la ligne si ce n'est plus.
OS: Windows 7 SP1 64 bits
Navigateur: Firefox 30

[2014-07-15 21:22] Axylium commented on #1124
Après test, c'est effectivement le poids qui pose problème et non la taille de l'image ! Les images de plus de 1Mo, ne passent pas le formulaire.

[2014-07-15 21:53] Alex-D commented on #766
C'est connu, il n'y a juste aucun design. Ca viendra quand on aura du temps à y consacrer, le soucis c'est que c'est livré dans un tableau et qu'on doit se débrouiller pour que ça n'est pas l'air d'un tableau mais bien d'un diff ^^

[2014-07-15 22:33] Axylium opened #1197 "Message indiquant que l'utilisateur n'a créé aucun sujet"
Via [Gustavi sur le forum](http://zestedesavoir.com/forums/sujet/683/problemes-lies-au-membre-clem/)

---

Quand on va sur le profil d'un utilisateur qui n'a encore créé aucun sujet, au lieu d'avoir un message l'indiquant, le tableau apparaît.

Je pense, que je m'en occupe, ça doit pouvoir se faire avec des conditions. Me faudrait juste l'appuie d'un _aîné_, pour me lancer.

[2014-07-16 06:01] gustavi commented on #1197
J'ai créé une PR https://github.com/zestedesavoir/zds-site/pull/1198 (4 lignes à rajouter).

[2014-07-16 06:12] pierre-24 commented on #1109
Fermé, donc :)

[2014-07-16 06:29] #1109 closed, assigned to pierre-24

[2014-07-16 06:49] Deuchnord commented on #1170
Je suis d'accord, le sommaire ne fait pas complètement « fini », c'est dommage.

Je propose un design comme celui-ci :

![suggest-amelioration-sommairetutos](https://cloud.githubusercontent.com/assets/7600265/3595400/39c7805a-0cb4-11e4-8238-41ef89eddb1d.jpg)

La police utilisée est celle proposée dans le body du CSS du site. J'ai également retiré le soulignement, mais ce dernier peut se réafficher

[2014-07-16 06:50] jcval opened #1199 "Bug : lien de citation retourne 404 dans les commentaires d'articles"
Dans les commentaires d'articles (exemple ici http://zestedesavoir.com/articles/41/bilan-de-la-premiere-semaine/?page=2#p8349), le lien sur le pseudo d'une citation qui pointe vers le message cité retourne 404, il manque http://zestedesavoir.com

[2014-07-16 06:53] Eskimon commented on #1199
Il y a pas le meme probleme dans les MP d'ailleurs ? (et ptet aussi dans les commentaires de tuto ?)

[2014-07-16 08:29] Axylium commented on #1197
Faudra voir, pour que quelqu'un te l'assigne.

Et avant de faire la PR, n'oublies pas de lire les règles à propos de ces dernières. ;)

[2014-07-16 08:31] firm1 commented on #1124
Pour information, on limite la taille des images (vous vous en doutez que notre serveur n'as pas de disque illimité). Le paramètre est réglé [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py#L258) actuellement à 1Mo donc.

Mais il faut prévénir l'utilisateur de ce problème lorsque c'est le cas. La solution est assez simple au final, il suffit d'aller [ici](https://github.com

[2014-07-16 08:36] Axylium commented on #1124
Je vais essayer de m'en occuper ce matin.

[2014-07-16 08:44] firm1 commented on #1199
Pour fixer ce bug

### Sur les articles

allez [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views.py#L910) et remplacer :

[code]

par

[code]

### Sur les tutoriels

Allez [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L2913) et remplacer :

[code]

par

[code]

### Sur les MPs

Allez [ici](https://github.com/zestedesavoir/zds-site/blob/dev/

[2014-07-16 08:44] cgabard commented on #766
Bah techniquement les blocs de code sont comme ça aussi, avec des tableaux.
Je pense que c'est pour assurer le bon alignement et rajouter les infos sur
chaque ligne.

Après de mémoire c'est un truc fait rapidement depuis la lib standard, il y
a peut etre moyen de paramétrer la génération du diff. Faut creuser cette
page : https://docs.python.org/2/library/difflib.html
Le 15 juil. 2014 23:53, "Alex

[2014-07-16 09:00] Eskimon commented on #1197
Je me met en placeholder :)

[2014-07-16 09:20] Axylium commented on #1199
Je m'en occupe. ;)

[2014-07-16 09:28] Axylium commented on #1124
Quelque chose que @Eskimon a relevé et il me semble qu'il n'a pas tord, cette ligne :

`if physical.size < settings.IMAGE_MAX_SIZE :`

Ne devrait pas plutôt être : `if physical.size > settings.IMAGE_MAX_SIZE :`
Car c'est si l'image est trop lourde qu'on retourne une erreur et non le contraire.

[2014-07-16 09:31] Eskimon commented on #1124
Test et dis nous :D C'est souvent le moyen le plus rapide ;)

[2014-07-16 09:42] firm1 commented on #1124
+1

mais oui, je me suis trompé sur l'opérateur. je l'écris comme ça à la louche hein, j'ai pas testé vraiment.

[2014-07-16 10:44] Axylium commented on #1199
Bon, j'ai rajouté la ligne partout, mais j'ai toujours le même problème. Lors de la citation il me met simplement : http://127.0.0.1:8000/

[2014-07-16 11:41] coma94 opened #1200 "[Validation] Historique des messages au validateur"
Dans l'historique de validation, on ne dispose que des status successifs de la validation (accepté/refusé) et pas les messages envoyé par l'auteur et le validateur.

Je pense qu'il serait utile de pouvoir consulter ce "dialogue" dans l'historique, par exemple pour vérifier que les points à corrigés l'ont bien été. Cela permettrait à des validateurs de se relayer sur la validation d'un tuto.

Je ne

[2014-07-16 11:48] coma94 opened #1201 "[Validation] Url de la version originale auto-remplie"
Lorsque l'url a été renseignée à la première validation du tuto, il serait bien que le champ soit auto-rempli lors des validations suivantes, afin d'éviter un éventuel oubli.

[2014-07-16 12:02] Eskimon opened #1202 "Afficher la version du site sur la page de profil"
[Via Krostar](http://zestedesavoir.com/forums/sujet/694/affichage-de-la-version-du-site-en-bas-a-gauche)

La version du site ne s'affiche pas en bas a gauche dans [la page de profil](http://zestedesavoir.com/membres/parametres/profil/).

[2014-07-16 12:13] coma94 commented on #1201
J'essaye de m'y mettre

[2014-07-16 12:43] artragis commented on #1062
Depuis, tu l'as eu?
Si oui sur le même tuto?

[2014-07-16 12:49] Alex-D commented on #1170
J'en pense que ça ne colle pas au reste fait comme ça :/

Mais ne t'inquiètes pas, le soucis ça n'est pas tellement les idées, mais le fait qu'on soit en gel, on ne fait que des corrections de bugs, donc je n'ai pas le "droit" de m'attarder là dessus.

[2014-07-16 12:51] Deuchnord commented on #1170
No problem, ce n'étais qu'une suggestion :3
Bon courage pour votre chasse aux derniers bugs !

Le 16/07/2014 14:49, Alexandre Demode a écrit :

[2014-07-16 14:32] pierre-24 commented on #754
Assignez le moi, je prend.

[2014-07-16 15:07] #1199 closed, assigned to Florianboux

[2014-07-16 16:15] Alex-D commented on #1011
A valider -> merger -> fermer :)

[2014-07-16 16:20] coma94 commented on #1201
On ferme lorsque c'est en prod c'est ça ?

[2014-07-16 16:29] Eskimon commented on #1201
Oui pardon j'ai zoublié ! Voila Pouf!

[2014-07-16 16:29] #1201 closed, assigned to nobody

[2014-07-16 17:01] Eskimon commented on #1129
Il y aura moyen d'avancer la dessus ?

[2014-07-16 17:07] tleb commented on #1129
Est-ce que ce soit possible que le problème ne vienne pas du double post en lui même, mais plus du fait que _Outils du web_ soit écrit deux fois dans _Notifications du Forum_ (clique sur _Toutes les notifications_).

[2014-07-16 19:20] artragis commented on #843
Mon idée serait d'ajouter un champ chaché au formulaire avec le hash du dernier commit à l'ouverture.
Si ce hash est différent lorsqu'on essaie de modifier, on dit "y'a un problème".

[2014-07-16 19:28] pierre-24 commented on #843
Comme @Alex-D l'as dit sur IRC, je suis pour l'idée d'un "une version plus récente existe", avec l'affichage de la version plus récente en question.

[2014-07-16 19:30] Alex-D commented on #843
C'est ce qui est fait sur les forums, MP, etc. pour dire "y a eu un message". Tu peux peut-être t'en inspirer :)

[2014-07-16 19:43] artragis commented on #843
Je prends donc le dev à mon compte. Si @Eskimon  ou autre peuvent me mettre en assignee?
J'essaierai de rendre une copie vendredi.

[2014-07-16 19:59] Alex-D commented on #843
Ca pourrait être intéressant d'afficher un diff entre la version qu'on tente d'enregistrer et la dernière version enregistrée, au moment où on a ce fameux message préventif :)

[2014-07-16 20:01] artragis commented on #843
selon le temps que ça demande, je le ferai. C'est une idée que j'ai aussi. Et j'ai vu comment fonctionne les formulaires, ça devrait aller de ce point de vue. Mais j'ai envie de tester proprement.

[2014-07-16 20:06] Alex-D commented on #843
Le système de diff est déjà utilisé (pas propre niveau style car je n'ai rien fait à ce niveau) pour les diff entre les versions. Je pense que tu pourras t'en inspirer sans trop te casser la tête :)

[2014-07-16 20:08] artragis commented on #843
oui, c'est pour ça que je n'exclue pas la possibilité. Comme je sais que côté front tu as tout factorisé et que j'ai pu constater que côté back il n'y avait pas des choses monstrueuses à faire, je laisse cette possibilité ouverte, mais en soit elle risque d'être prise pour une évolution et comme on est en freeze, j'ai peur que ça passe pas.

[2014-07-16 21:04] Alex-D commented on #843
J'avais oublié ce freeze... laisse de côté cette idée pour l'instant alors.

[2014-07-16 21:22] #1011 closed, assigned to Alex-D

[2014-07-16 21:41] Alex-D commented on #665
Il faut que quelqu'un qui ait les droits sur le preprod fasse ses tests / configuration avec cette branche pour qu'on puisse valider la PR.

[2014-07-16 21:43] Alex-D commented on #839
Est-ce que cette issue est vraiment nécessaire pour la V1 ?

Le front se limite, je pense, à une boite modale. Le principal du travail est au niveau du back, et du coup _we are bloqued_.

[2014-07-17 09:36] pierre-24 opened #1212 "Le versionnage ne marche pas partout"
[extension de l'issue #1195]

Ce bug concerne autant les articles que les tutoriels et vient d'un problème très simple : les informations de la BDD sont, quoiqu'il arrive, toujours les informations du dernier _draft_ en date. Ce qui signifie que si le titre à changé depuis la dernière validation (par exemple, mais pas seulement), sur certaines pages, c'est le titre du _draft_ qui est employé, et p

[2014-07-17 09:47] firm1 commented on #843
C'est bien comme ça que c'était imaginé : prévenir l'utilisateur que quelqu'un a déjà modifié le fichier qu'il essaye de modifier lui même.

Par contre il y'a une zone d'ombre dans la solution technique exposée ici. Si on par du principe que le **hash du commit** est la clé de vérification d'une mise a jour ou non, étant donné qu'un hash est crée a chaque modification de n'importe quelle contenu l

[2014-07-17 10:01] firm1 commented on #839
Je ne pense pas, surtout qu'elle est marquée evolution et donc casse le gel !

[2014-07-17 10:09] SpaceFox commented on #1181
Je pingue ici pour que ce ne soit pas oublié :-)

[2014-07-17 10:14] sandhose opened #1213 "Problèmes dans la configuration du certificat SSL"
Je viens de passer le site par le SSLCheck de GlobalSign, et voici les résultats: https://sslcheck.globalsign.com/fr/sslcheck?host=zestedesavoir.com#176.31.187.88

On peut noter ici quelques problemes de configuration qui n'ont pas l'air trop compliqués à régler, comme un manque de certains [certificats intermédiares](https://sslcheck.globalsign.com/fr/help/89716664?testTime=1405590801113&ipAddres

[2014-07-17 10:17] Axylium commented on #1124
@firm1 je t'ai envoyé un MP sur ZdS à cause d'un problème que je rencontre !

[2014-07-17 10:25] SpaceFox commented on #1005
La prod a redémarré cette nuit.

Je pense qu'on a été changés de serveur physique car on a plus de steal.

Gunicorn redémarre avec de mauvais paramètres : il n'est plus surveillé par Munin.

[2014-07-17 10:47] gustavi commented on #1186
Ça semble résolu, je n'ai plus de 500.

[2014-07-17 10:50] artragis commented on #843
Comme clef, j'avais deux idées dont une qui recoupe les tiennes :
- utiliser un hash md5 des fichiers commités
- utiliser le dernier hash md5 du commit qui a changé le fichier en question.

Dans le premier cas, le calcul du hash md5 peut être lent, et encore, je ne vois pas trop le problème, puisqu'on est en écriture de tuto, être à 1 sec et 100 milième au lieu de 1 sec c'est pas grave, contrairem

[2014-07-17 10:50] firm1 commented on #1005
on dirait que tous les autres services on démarré de manière transparente, donc c'est le programme qui lie minun à gunicorn qui doit être mis en autostart.

[2014-07-17 10:52] firm1 commented on #1186
si si, mais vu qu'il est sur le serveur, je peux pas le lire tant que j'ai pas de pc de travail sous la main

A mon avis c'est pas résolu dans le sens ou hier c'était uniquement sur le mot "Android" ça pourrait réapparaitre sur un autre mot.

[2014-07-17 10:55] SpaceFox commented on #1005
Ce programme n'existe pas :-)
C'est le service munin-node qui s'en occupe, s'il était HS rien ne
fonctionnerait.

Je pense plutôt que le fichier PID ne s'est pas récréé ou alors avec les
mauvais droits.
Le 17 juil. 2014 12:50, "firm1" notifications@github.com a écrit :

[2014-07-17 10:57] Eskimon commented on #1186
Ca va etre marrant a debuggue :)

Si un jour tu as 5 minutes pour choper les logs hesite pas a les uploader qque part :)

[2014-07-17 11:01] firm1 commented on #843
C'est surtout que cette option en plus d'être plus lente que la première est necessairement plus complexe à dev et maintenir.

Pour la solution du hash md5, le fait qu'on soit en écriture en effet diminue les risques. Mais étant donné que je n'ai aucune n'idée du temps d'execution de ça (si c'est bien comme ça qu'on fait) :

[code]

Je ne sais pas trop. Si on est en dessous de 200ms je partirai bi

[2014-07-17 11:34] DevHugo commented on #1186
Blender, ne marche toujours pas.

J'ai trouvé un truc intéressent, si on décoche l'option "Parties des tutoriels", la ça marche, peut-être une piste.

[Exemple](http://zestedesavoir.com/rechercher/?q=Blender&models=article.article&models=tutorial.chapter&models=tutorial.extract&models=forum.post&models=forum.topic&models=tutorial.tutorial)

[2014-07-17 11:45] Eskimon commented on #1186
Est-ce que solr irait pas taper dans des chapitres devenus 404 quand les tutos se mettent a jour etc (auquel cas les recentes modifs du code pourront ameliorer ca) ? J'il l'impression qu'il y a un souci de parametrage la dessus... mais comme je connais rien a solr...

[2014-07-17 11:49] Alex-D commented on #1181
Si quelqu'un pouvait me l'assigner. Je vais commencer à travailler de manière effective dessus.

[2014-07-17 11:53] Alex-D commented on #1212
La première solution, je l'avais balancé à l'arrache, mais c'est sale et pas du tout dans l'esprit qui est visé à terme : rendre les tuto/articles indépendants de la BDD à travers le repo git qui serait indépendant.

Perso j'avais énoncé et préféré la solution 2 (la BDD ne gère que la version en prod).

[2014-07-17 11:55] DevHugo commented on #1186
Pour moi, l’expression même de "Parties des tutoriels" est pas très "claire".

Bizarre, aussi il ne trouve pas les articles même si on copie-colle le titre de l'article.

Autres cas qui ne marchent pas, tous les articles: et, donc, ... .

[2014-07-17 12:13] Alex-D commented on #1202
A noter que le même problème apparaît sur les pages de recherche.

Il faudrait assigner @gustavi à la tâche.

[2014-07-17 12:18] DevHugo commented on #1186
De plus en plus bizarre, si l'utilisateur tape 3D directement, marche. Si l'utilisateur coche la case "Parties des tutoriels", une jolie 405.

[2014-07-17 12:21] artragis commented on #843
y'a pas une vraie méthode de hash md5 en python, style celle qu'on a en php?
au pire, on met un json temporaire à la racine du dossier des tutos avec tous les md5.
Mais ça m'étonnerait que ça prenne longtemps pour nos fichiers, ils ne sont pas si gros que ça.

[2014-07-17 12:27] Alex-D commented on #843
Je pense aussi que ça devrait être assez rapide.

A en voir [ce topic](http://stackoverflow.com/questions/3431825/generating-a-md5-checksum-of-a-file), il n'y a pas de méthode Python dans lib standard pour faire un MD5 de fichier. Faut visiblement nécessairement se construire sa petite fonction.

[2014-07-17 12:28] Alex-D commented on #1196
Ah bah oui, j'ai masqué les commentaires, mais pas leur pagination :D

Je fais un patch now.

[2014-07-17 12:45] firm1 commented on #1212
ça c'est normal.

Ce n'est pas vraiment vrai. Le titre, le sous-titre, du tutoriel sont dans le fichier manifest.json. Et il est versionné. Ce qui a donc pour conséquence que le titre, et sous titres que tu vois correspond a chaque fois à la version en cours. Si je prend par exemple le [tuto blender](559) actuellement en ligne, en offline il n'a pas le même titre ni sous titre. C'est bien la preuv

[2014-07-17 12:50] firm1 commented on #1186
Je ne sais pas si on a eu une évolution du modèle des tutos sans MAJ du [modèle solr](https://github.com/zestedesavoir/zds-site/blob/dev/output_solr.txt) ça pourrait venir de là.

ça peut venir aussi des templates qui utilise des objets sans vérifier s'il sont à `None` ou pas.

Bref, c'est pas méchant comme issue.

[2014-07-17 12:53] pierre-24 commented on #1212
Faux, j'ai testé sur les articles et ça passe pas. Vraiment et très sincèrement.

Je suis d'accord à 200%

Je te crois sur parole, si tu le dis. Si tu pense que c'est ce qu'il faut faire, alors je ne peux qu'encourager la personne qui sera responsable à le faire au plus vite, parce que pour le moment, c'est un peu vexant ^^

[2014-07-17 13:05] firm1 commented on #1212
Elle marche donc sur les tutoriels, mais pas sur les articles de la page d'acceuil. Donc il y'a un bug sur les articles de la page d'acceuil.

Pour le listings des tutos, on peut s'inspirer de ce qui est fait sur la page d'acceuil. Et ensuite s'inspirer de ça pour les articles (en fait je croyais que je l'avais déjà fait).

Normalement ça ne prend pas du temps, vu que la façon de faire est déjà da

[2014-07-17 13:08] firm1 commented on #843
Il faut creuser, et trouver la plus optimisée, là j'ai juste recopié le premier resultat google que j'ai trouvé.

Si on peut limiter le nombre de fichier à lire ça serait génial je pense. faut juste que quelqu'un prenne un extrait et calcule sa somme md5, si le temps d'execution est négligeable on part là dessus.

[2014-07-17 13:16] gustavi commented on #423
J'ai un test qui permet de vérifier si les vues retournent bien render_template() (et qu'on a bien la version du commit en bas de page) : http://paste.awesom.eu/L2BZ. Je sais pas si ça vaut le coup.

[2014-07-17 13:28] firm1 commented on #423
Je ne sais pas, il faudrait le rajouter dans tous les tests de type get pour toutes les pages.

Je ne pense pas que ça vaille le coup.

[2014-07-17 13:42] gustavi commented on #423
Dans une seule (celle d'accueil par exemple) ça permet de voir qu'on a pas cassé le render_template et que gitpython fonctionne bien.

[2014-07-17 14:02] firm1 commented on #423
ouais pourquoi pas.

[2014-07-17 19:16] sandhose commented on #1196
Fix'd, merci Alex

[2014-07-17 19:16] #1196 closed, assigned to Alex-D

[2014-07-17 19:54] gustavi opened #1221 "Box sur les sujets favoris du forum trop petite quand la souris est dessus"
Le problème en image :

![capture d cran de 2014-07-17 21 51 54](https://cloud.githubusercontent.com/assets/2736557/3618653/1a2e0802-0dec-11e4-9321-8054564ba9be.png)

cc @Alex-D

[2014-07-17 20:52] Eskimon commented on #976
La page de teasing est parti et redirige bien, je ferme :)

[2014-07-17 20:52] #976 closed, assigned to nobody

[2014-07-17 21:06] pierre-24 opened #1225 "Modifier le titre d'un chapitre ne permet plus d'éditer ses extraits"
Via [Ymox sur le forum](http://zestedesavoir.com/forums/sujet/726/contenu-qui-disparait-a-ledition-dun-extrait/?page=1#p9192) :

Lorsqu'on change le nom d'un chapitre, le texte des extraits qu'il contient n'est pas conservé et ils repassent blanc quand ont les éditent, alors que le chapitre est affiché correctement. Quand on regarde dans le `manifest.json`, on se rend compte que les chemins pointe

[2014-07-17 21:25] pierre-24 commented on #1225
MàJ : lorsqu'on regarde un peu ce qui se passe, on se rend compte que Extract.get_text() ([models.py, ligne 887](https://github.com/zestedesavoir/zds-site/blob/master/zds/tutorial/models.py#L887)) va chercher un fichier qui n'exite plus, parce que le slug du chapter est pas bon dans le path qui est employé dans cette fonction. À noter que le problème se produit également quand on modifie le titre

[2014-07-17 21:39] pierre-24 opened #1226 "Archives du tuto contienent tout les anciennes modif's"
Je ne sais pas ce qui se passe quand on télécharge une archive de son tutoriel, mais il y a plein de choses qui ne devraient pas s'y trouver. Par exemple, ici :

![screen-1](https://cloud.githubusercontent.com/assets/7889675/3619964/5a9013b4-0dfa-11e4-8bc6-09c33ef0b162.png)

On peut voir que dans l'archive, le dossier concernant l'ancienne partie est dans l'archive alors qu'il n'est plus dans la v

[2014-07-17 21:46] pierre-24 opened #1227 "Galerie non renommée si le tuto change de nom"
Via [mathiasmch, sur le forum](http://zestedesavoir.com/membres/voir/mathiasmch/) :

[2014-07-17 21:57] pierre-24 opened #1228 "Visualiser un chapitre versionné dont le titre a changé est impossible"
Comment reproduire le bug :
- Créer un tutoriel, avec une partie.
- Dans cette partie, créer un chapitre
- Renommer la partie
- Via l'historique de modification, remonter à la version précédente : on peut encore accéder à la partie avec son nom non modifié, mais une fois qu'on tente d'accéder au chapitre, on est redirigé sur la version la plus récente (donc issus de la partie dont le nom est modif

[2014-07-18 06:01] gustavi commented on #1227
Je peux m'en occuper.

[2014-07-18 06:28] Eskimon commented on #1183
Est-ce vraiment un bug en fait ? Car cette licence vide "-------" ne devrait pas exister. Le droit francais implique que les droits d'auteurs sont inalienable, donc CC-BY est a priori le champ qui devrait etre par defaut... (et dans ce cas la question/Bug ne se pose plus)

[2014-07-18 06:46] pierre-24 commented on #1183
Faudrait voir. C'est pas Arius le spécialiste en droit ?

[2014-07-18 06:48] pierre-24 commented on #1227
Je t'en prie. Fait quand même gaffe que @ArnaudCalmettes n'as pas donné de _milestone_ pour cette issue, donc demande son avis avant.

[2014-07-18 07:02] Eskimon commented on #1183
Si, tu peux le MP si tu veux :) (et ajoute moi dans la conversation ca m’intéresse :) )

[2014-07-18 07:37] Eskimon opened #1229 "Ajout d'un champ de filtre par tag"
Lorsque les forums sont un peu rempli, il devient difficile de trouver ce qui nous intéresse vraiment.
L'ajout de filtre par tag (un champ a remplir pour ajouter/supprimer les tags qui nous intéresse serait un plus sympa !)

[2014-07-18 07:59] pierre-24 commented on #1183
Fait :)

[2014-07-18 08:01] devock opened #1230 "Les topics des forums privés sont dans le sitemap"
Actuellement, dans le sitemap (http://zestedesavoir.com/sitemap-topics.xml) les topics des forums privés sont répertoriés.

Il faut les virer, car ils sont privés et aussi parce que Google essaye d'y accéder et qu'il a des erreurs  403 qui sont mauvaises pour nous.

[2014-07-18 08:55] cgabard commented on #1183
Oui enfin je pense que le "----" ne correspond pas à un CC-0 qui ne peut exister en France mais a une licence de non diffusion. L'équivalent d'un logiciel privateur en gros. En absence de licence l'auteur garde tous les droits, personne n'a le droit d'y toucher. Donc il y a bien une différence avec la cc-by qui elle autorise la libre re-diffusion et le modifs.

[2014-07-18 09:08] firm1 commented on #1226
la seule piste que je vois (à explorer sérieusement) :  Quand on supprime un fichier on le supprime [juste physiquement](https://github.com/zestedesavoir/zds-site/blob/master/zds/tutorial/views.py#L2408) on ne fait aucune action git dessus (track/untrack). idem pour le [changement de titre](https://github.com/zestedesavoir/zds-site/blob/master/zds/tutorial/views.py#L2413).

Il me semble qu'il y'a

[2014-07-18 09:13] Eskimon commented on #1183
Dans ces cas la faudrait marquer clairement "Tout droits réservés" plutôt que des tirets...

[2014-07-18 09:20] pierre-24 commented on #1226
Si c'est comme git, non.

Tu me fais rire, parce que ça fait au moins deux issues que je le dis ^^ Par mimétisme de git, oui, il y a surement un truc à faire dans `maj_repo_*()`

[2014-07-18 09:21] SpaceFox commented on #1183
Plussun, pour moi toutes les licences devraient être clairement explicitées et il devrait être impossible de ne pas choisir.

[2014-07-18 09:25] Eskimon commented on #1183
Apparemment cette licence "------" qui fait bugguer semblerait etre un relicat de vieux trucs... Si qqun a acces a l'interface django, il pourrait jeter un oeil la dessus ? Ca expliquerait pourquoi quand on veut selectionner cette licence le controlleur se plante... (d'ailleurs a verifier dans tutos/articles mais est-ce que la licence est bien mis comme "nullable=false" ?

[2014-07-18 09:27] pierre-24 commented on #1183
Non, elle l'es pas, et j'avais justement _bugfixé_ ça pour les articles. Après, si il faut complètement virer ça, why not (y'a pas le `nullable=false`).

[2014-07-18 09:56] firm1 commented on #1226
Ouaip, mais du coup (je m'adresse a ceux qui bosse avec git en ligne de commande) : quand vous supprimer un fichier physiquement de votre dépot, quelles sont les commandes qui vous saississez par la suite avant de committer ?

[2014-07-18 09:57] pierre-24 commented on #1226
`git rm`. Puis `git commit` :)

[2014-07-18 10:03] firm1 commented on #1183
En fait la vrai signification du '----' c'est "Choisissez votre licence". Il devrait être renommé ainsi.

C'est pour celà que lorsqu'une licence est choisie, tu ne peux plus choisir ça, et lorsqu'une licence n'est pas choisie, il te demande d'en choisir une.

Pour le cas du "pas de licence", il faudrait juste rajouter en base la licence `CC-0` dans la liste est ça devrait aller/être cohérent.

En

[2014-07-18 10:09] firm1 commented on #1226
Et lorsque tu renommes un fichier, physiquement.

[code]

[2014-07-18 10:29] pierre-24 commented on #1226
`sudo` ? t'as pas peur, toi ^^ Plus sérieusement, y'a `git mv` bien entendu :)

[2014-07-18 10:41] pierre-24 commented on #1183
Et [vous saviez pas le dire avant ?](https://github.com/zestedesavoir/zds-site/pull/1180) ?!?

Freeze, toussa ...

[2014-07-18 10:59] cgabard commented on #1183
Non pas de CC-0, elle est equivalente à une CC-BY en France.

Par contre il faut une licence "tout droit réservé" pour le contenu "non CC"

Christophe.

2014-07-18 12:41 GMT+02:00 Pierre Beaujean notifications@github.com:

[2014-07-18 11:29] pierre-24 commented on #1183
Je plussoie @cgabard avec une citation d'Arius via MP :

[2014-07-18 11:47] firm1 commented on #1226
Et dans mon exemple, quelle commande est-ce que tu saisirais exactement  (je dis ça parce que je sais pas hein et la flemme de chercher :p ) ?

[2014-07-18 11:52] firm1 commented on #1183
Donc en résumé, il y'a donc deux actions à mener :
- renommer les `----` en `Choissisez une licence`
- rajouter une licence en base qui s'appelle "Tout droit réservé"

[2014-07-18 11:54] Eskimon commented on #1183
- Mettre la licence en `nullable = false` dans le modèle
- Mettre la licence en `required` dans le formulaire

[2014-07-18 12:12] firm1 commented on #1183
Eskimon, non justement.

Si tu interdis d'avoir une licence vide dans ta bd, ça peut devenir chiant pour l'auteur qui ne sait pas trop quelle licence il veut lorsqu'il crée son tutoriel. Pour de nombreuses raisons. C'est un peu comme les catégories, elle ne sont pas obligatoires, mais si tu envois en validation ton tutoriels sans licence et sans le ranger, et bah ça passera pas.

Quand le membre l

[2014-07-18 12:14] pierre-24 commented on #1226
Tu fait pas le mv, tu fais direct `git mv 12_mon-chapitre 12_mon-chapitre_modifie` tu `git add 12_mon-chapitre_modifie` et tu `git commit`. End of the story :)

[2014-07-18 12:22] Eskimon commented on #1183
Oui mais légalement ca signifie quoi "pas de licence" ? C'est pas égale a "Tout droits réservé" ?

Ma question reformule : On gère comment le cas de la licence vide et/ou On gère comment si l'auteur reste sur "Choisissez une licence" ?

[2014-07-18 12:27] firm1 commented on #1226
Donc, on sait donc ce qui nous reste à faire pour corriger l'issue.

[Ici](https://github.com/zestedesavoir/zds-site/blob/master/zds/tutorial/views.py#L2408) au lieu de modifier physiquement a coup de `os.rename`, on modifier "gitativement" à coup de `index.move()`.

Et ça fait des chocapics

[2014-07-18 12:28] SpaceFox commented on #1183
On peut laisser une option "choisissez votre licence" qui ne devra jamais
être choisie à la validation.

D'autre part je laisserais CC-0 pour les auteurs non français.
Le 18 juil. 2014 14:22, "Eskimon" notifications@github.com a écrit :

[2014-07-18 12:28] firm1 commented on #1183
la consignes des validos c'est , refuser ça

[2014-07-18 12:28] cgabard commented on #1183
Pourquoi ne pas mettre le "Choisissez une licence" dans la db comme les
autres ? Du coup ce texte sera visible partout où la licence doit
s'afficher et ça aura le mérite d'etre visible, pour le membre comme pour
le valido, qu'il n'a pas encore complété cette option.

Christophe.

2014-07-18 14:22 GMT+02:00 Eskimon notifications@github.com:

[2014-07-18 12:30] pierre-24 commented on #1226
Tout les `maj_repo_*()`, en fait, mais oui :)

[2014-07-18 12:32] firm1 commented on #1183
"Choissez une licence" n'est pas une licence .. lol

Si aujourd'hui un auteur décide d'envoyer son tuto en validation alors qu'il n'est dans aucune catégorie, le valido devra refuser son tutoriel.

Si l'auteur envoi en validation un tuto sans la licence, le valido refuse de publier

Si l'auteur envoi en validation son tuto sans logo , refus de validation.

Donc tout devrait rouler

[2014-07-18 12:33] firm1 commented on #1226
Voila

[2014-07-18 12:58] Eskimon commented on #1183
Donc la licence ne devrais pas pouvoir etre nullable... non ?

[2014-07-18 13:08] cgabard commented on #1183
En fait firm1 veut éviter que ce champ soit obligatoire à la création du
tuto pour ne pas bloquer les potentiels auteurs qui ne savent pas quoi
choisir pour ce champ. Il vaut mieux que les valido expliquent aux auteurs
qu'il faut choisir une licence, en leur renvoyant vers des infos sur le
sujet, si ils n'ont pas choisis que de bloquer la création si l'auteur ne
sais pas quoi mettre.

Christophe.

[2014-07-18 13:13] firm1 commented on #1183
@cgabard  a tout dit

[2014-07-18 14:21] pierre-24 commented on #1225
MàJ : quand on fait un peu le tour de ce qui se passe, voilà ce qu'on voit.

Dans `view_chapter()` ([views.py à la ligne 1424](https://github.com/zestedesavoir/zds-site/blob/master/zds/tutorial/views.py#L1424)), on remarque que le texte de l'extrait est récupéré via `get_blob()` (définie [là](https://github.com/zestedesavoir/zds-site/blob/master/zds/utils/tutorials.py#L93)) et qui fait très probab

[2014-07-18 15:06] Alex-D commented on #1212
Je viens de voir que les dates de création et de publication ne sont pas dans le JSON non plus, donc pas versionnés.

[2014-07-18 15:13] #1221 closed, assigned to Alex-D

[2014-07-18 18:49] #1202 closed, assigned to nobody

[2014-07-18 18:49] #1228 closed, assigned to nobody

[2014-07-19 08:41] gustavi opened #1238 "Pluriel sur les tags"
Lorsqu'il n'y a qu'un seul tag dans le forum, on n'a « Tags » et non « Tag ».

![yzmohj1](https://cloud.githubusercontent.com/assets/2736557/3634285/748ed53a-0f20-11e4-8b4f-1e80b858424f.png)

[2014-07-19 11:09] Axylium commented on #1230
Sachant que @firm1 a réglé le problème, il faudrait penser à fermer ici. :)

[2014-07-19 11:48] #1197 closed, assigned to Eskimon

[2014-07-19 14:17] #1230 closed, assigned to nobody

[2014-07-19 14:49] #1238 closed, assigned to gustavi

[2014-07-19 19:01] Fulbert opened #1240 "Le bouton "Supprimer la sélection" dans la galerie s'affiche lorsqu'il n'y a pas de galerie"
Sur le page /galerie/, le bouton _Supprimer la sélection_ s'affiche même lorsqu'il n'y a pas encore de galerie de créé.

Je propose de le supprimer dans ce cas et d'ajouter un message pour inviter les gens à créer une galerie.

Je vais essayer de lancer une PR dans la journée.

[2014-07-19 19:25] Axylium opened #1241 "Plusieurs « alt » manquent"
Via [Girgias](http://zestedesavoir.com/membres/voir/Girgias/) sur le [forum](http://zestedesavoir.com/forums/sujet/742/tag-alt-manquant-sur-les-images/?page=1#p9743)

---

Il reporte que plusieurs "alt" manquent à différent endroit dans le site _(cf. voir ses captures)_

Si quelqu'un pourrait me l'assigner car je la prends et m'en occupe dès maintenant.

[2014-07-19 19:26] Alex-D commented on #1241
Je viens spawnkill : il n'y a rien à toucher à ce niveau. Les alt sont présents, ils sont vides, c'est donc parfaitement correct.

[2014-07-19 19:27] Axylium commented on #1241
Pas de soucis !

[2014-07-19 19:27] #1241 closed, assigned to nobody

[2014-07-19 23:37] Axylium commented on #1124
Ping @Eskimon.

Il faudrait fermer, vu que c'est merger. ;)

[2014-07-19 23:41] #1124 closed, assigned to Florianboux

[2014-07-20 07:02] pierre-24 opened #1243 "Dé-réservation d'un tutorial ne marche pas bien"
Via [Natalya sur le forum](http://zestedesavoir.com/forums/sujet/740/annulation-de-reservation-des-tutoriels-a-valider/#p9717) :

[2014-07-20 07:43] gustavi opened #1244 "Duplication requêtes SQL PR #1239"
Lorsqu'il y a {{ foo.all|pluralize }}, une deuxième requête identique est crée. Les problèmes viennent de la PR #1239.

https://github.com/zestedesavoir/zds-site/pull/1239#issuecomment-49514439

Je vais corriger ça avec des {% with %}.

[2014-07-20 08:10] gustavi opened #1245 "Optimisation générale des requêtes SQL"
Il faudrait une relecture générale pour évites des duplications et ainsi augmenter le nombre de requêtes SQL.

Simple exemple, dans /mp/id/slug/ on a http://i.imgur.com/J0ZYvVj.png, 4 fois la même requête.

À fixer dans le back et non le front.

[2014-07-20 08:56] gustavi commented on #1243
Je suis dessus.

(Ça vient du front.)

[2014-07-20 09:18] gustavi commented on #1227
Je suis dessus.

[2014-07-20 10:22] sylafrs opened #1249 "Import de tutoriel (.tuto) en zcode : Erreur 500"
Tout est dans le titre.

J'ai essayé avec deux tutoriels un big et un normal.
Je n'ai pas mis de .zip pour les images et ai directement mis le .tuto dans le champ "tutoriel à importer".

La page me renvoie sur une erreur 500 à la validation du formulaire.

**Edit** :
- Si je met un .zip comportant le .tuto dans le premier champ : Erreur 404
- Si je met ce même zip dans le second champs en remettan

[2014-07-20 10:53] #1243 closed, assigned to nobody

[2014-07-20 10:55] #1240 closed, assigned to nobody

[2014-07-20 10:58] Eskimon commented on #1249
Donc si j'ai bien suivi, tout se passe bien si tu met les bonnes choses dans les bons champs, mais comme la regle generale "Never Trust User Input" le dit, il faut rajouter des controles sur le champ du formulaire pour le renvoyer si une erreur arrive... ?

[2014-07-20 12:12] sylafrs opened #1250 "Conflit dans le format du markdown"
Il y a un souci avec le markdown lorsque l'on veut insérer une 'touche' dans un 'tableau' étant donné que les deux objets utilisent le caractère |

Edit : non, le problème ne vient pas de là, le tableau crash sans les || de toutes les manières.

[2014-07-20 12:21] sylafrs commented on #1249
Le problème c'est que les champs ne précisent pas quel type de fichier il faut mettre.

Il faudrait faire deux choses :
- En cas d'erreur : expliquer ce qu'il faut changer (au lieu d'une page 404 ou 500)
- Faire en sorte que les champs (fichiers) n'acceptent que les .tuto / .zip (selon le champ)

[2014-07-20 12:30] sylafrs commented on #1250
L'erreur n'arrive qu'avec le cell span row

[2014-07-20 12:40] sylafrs opened #1251 "Cell span row ne fonctionne pas"
Je suis en train de remettre le format dans mon tuto qui provient de la v3 et tente de fusionner des cellules en utilisant la méthode du tuto sur le markdown du site, mais cela ne fonctionne pas :

![sans titre](https://cloud.githubusercontent.com/assets/967253/3637455/e4de6d88-100a-11e4-967c-981b1362b53a.png)

Un autre exemple sur le site : http://zestedesavoir.com/forums/sujet/748/tableaux-la-fu

[2014-07-20 12:58] sylafrs commented on #1250
Arf, en fait j'ai fermé cet 'issue' pour en ouvrir une meilleure qui détaille davantage le problème..
https://github.com/zestedesavoir/zds-site/issues/1251

[2014-07-20 13:14] Axylium commented on #1250
Évite les doublons, surtout ici.

Tu aurais pu simplement éditer ton premier message ici. ;)

[2014-07-20 13:26] Eskimon commented on #1250
Bon, je referme pour éviter le doublon avec #1251 mais c'est vrai qu'il faut faire attention à garder GH propre sinon on ne va pas s'y retrouver le jour où l'on fera des recherches...

[2014-07-20 13:26] #1250 closed, assigned to nobody

[2014-07-20 14:00] thauti commented on #1144
Désolé de répondre aussi tardivement
Ça me le fait sur tout les OS et tout les navigateurs, et je suis en 1080p
![capture d cran - 20072014 - 15 59 25](https://cloud.githubusercontent.com/assets/4258438/3637631/430879de-1016-11e4-96a3-52e99d04506e.png)

[2014-07-20 17:24] Axylium commented on #1251
Faudrait voir avec celui qui s'occupe du MD du site. (ping @cgabard)

[2014-07-20 18:36] Axylium commented on #1249
C'est clairement indiquer :
- **Sélectionnez le tutoriel à importer** : sous-entendu le _.tuto_
- **Fichier zip contenant les images du tutoriel** : le fichier _.zip_

Pour les contrôles sur les champs, je suis d'accord. Je vais essayer de m'en occuper. ;)

[2014-07-20 21:10] Alex-D commented on #1249
En fait, c'est un .tuto préparsé qu'il faut renseigner. C'est pas le même format que sur le SdZ.

Cette page d'import ne sert à rien en réalité. On devrait plutôt virer ce bloc et mettre un lien pour faire une demande aux staff pour assigner le tuto au membre ou alors convertir son tuto et lui assigner.

Car au final, seuls les auteurs qui ont reçu un mail pour leur expliquer le fonctionnement peu

[2014-07-20 21:12] Alex-D commented on #1251
Du coup, c'est à aller rapporter sur le [repo du parseur markdown](https://github.com/zestedesavoir/Python-ZMarkdown), et fermer cette issue.

[2014-07-20 21:16] Alex-D commented on #1144
Je ne peux rien faire pour toi, chez tout le monde ça fonctionne bien.

Cette issue est à fermée car non-bloquante et non-résoluble.

[2014-07-20 21:31] firm1 commented on #1249
Ne surtout pas faire ça.

Elle sert ne sers pas a tout le monde, mais elle sert quand même.
Le 20 juil. 2014 23:10, "Alexandre Demode" notifications@github.com a
écrit :

[2014-07-20 21:32] amorison commented on #1144
Hmmm, ça me fait la même chose sur Firefox 30, archlinux à jour et sur Windows également. 1366*768. M'enfin, ce n'est pas très important effectivement. Tu sais d'où ça peut venir ? (par curiosité)

[2014-07-20 21:40] Axylium commented on #1144
Ça le fait également chez moi, sur Firefox 27.0, Ubuntu 13.04, avec une résolution qui est la même que @aMorison, soit de 1366*768.

(C'était juste pour prévenir que ça ne le fait pas que chez lui, mais comme dit, ce n'est absolument pas bloquant).

[2014-07-21 00:08] Alex-D commented on #1144
Ca vient de Gecko qui est un moteur de rendu vieillissant. Et du fait que j'utilise un trick CSS pas propre. Ca sera corrigé en même temps que les menus au survol avec séparation lien / flèche, etc.

[2014-07-21 00:10] Alex-D commented on #1249
Alors il faut mettre un pavé en expliquant comment faire et à quoi ça sert.

[2014-07-21 12:29] Alex-D commented on #1181
A valider, merger, puis fermer :)

[2014-07-21 15:03] jcval opened #1254 "Lecture zen d'un article : les paginateurs de commentaires s'affichent"
Lors de la lecture d'un **article** en mode zen, les paginateurs des commentaires s'affichent, bien que les commentaires aient été masqués.

Tout fonctionne bien pour la lecture zen d'un tutoriel.

[2014-07-21 16:25] sylafrs commented on #1251
https://github.com/zestedesavoir/Python-ZMarkdown/issues/44

[2014-07-21 16:25] #1251 closed, assigned to nobody

[2014-07-21 17:04] Alex-D commented on #1254
Doublon avec celle là : https://github.com/zestedesavoir/zds-site/issues/1196 non ?

Ca a été corrigé mais pas mis en production il me semble.

[2014-07-21 17:37] Alex-D commented on #1245
Ca n'est pas aux templates de corriger ça :/

C'est au back d'envoyer les bonnes données avec des jointures et tout qui va bien.

[2014-07-21 17:38] #1254 closed, assigned to nobody

[2014-07-21 17:39] Alex-D commented on #1244
On généraliser à l'issue #1245.

[2014-07-21 17:39] #1244 closed, assigned to nobody

[2014-07-21 17:46] gustavi commented on #1245
Non mais une partie dans les templates doit être optimisée. On a du code qui fait plusieurs fois la même chose, à corriger avec des {% with %}.

[2014-07-22 02:58] firm1 commented on #1245
Il y'a bien des choses à optimiser des deux cotés (backend et frontend) au niveau des requêtes.

Ceci dit, en modifiant l'un ou l'autre, il faut penser optimisation désormais.

[2014-07-22 05:35] firm1 commented on #1181
Je réouvre ici parce que je vois que l'issue n'a pas été pris en compte comme il le fallait.

L'urgence était (il me semble) d'avoir un texte informatif sur le home. En gros les points suivants ne sont pas couverts :

[2014-07-22 06:03] Eskimon commented on #1181
@firm1 Tu as teste en allant sur le site sans être membre ?

[2014-07-22 06:06] firm1 commented on #1181
Ah oki en effet, je n'ai pa vu la condition.

Je ferme donc.

[2014-07-22 06:06] #1181 closed, assigned to Alex-D

[2014-07-22 06:39] mlorant opened #1256 "Problème de pluriel sur les +1/-1 de commentaires"
Lorsqu'un commentaire à un seul +1, l'infobulle est "1 personnes ont trouvé ce message utile". Un peu petit coup de `pluralize` sur les templates serait utile pour afficher "1 personne a trouvé" plutôt :)

[2014-07-22 06:49] #1134 closed, assigned to Eskimon

[2014-07-22 07:00] Eskimon commented on #1123
Apparemment cette resolution aurait cassee les galleries...
QQun peut verifier ? (ping @Florianboux ?)
http://zestedesavoir.com/forums/sujet/768/le-style-des-boutons-semble-se-casser-la-figure/?page=1#p10216

[2014-07-22 07:21] Coy0te opened #1257 "[Ortho] Correction dans le bandeau de Clem'"
Il faudrait corriger "a but non lucratif" par "à but non lucratif" dans cette ligne :
=> https://github.com/zestedesavoir/zds-site/blob/ed304337966a8aac02c6257d15e1a04a7cabb12e/templates/home.html#L56

Il s'agit du bandeau affiché aux non connectés.

[2014-07-22 07:25] Coy0te commented on #1249
+1 pour ajouter un gros pavé :

[2014-07-22 07:48] pierre-24 commented on #1123
Objectivement, je doute un peu que le problème viennent "simplement" de cette PR, qui a été mergé dans _master_ il y a 10 jours, et depuis, la galerie fonctionnait toujours (et fonctionne encore en local chez moi alors que j'ai pas mis à niveau).

En plus je comprend pas l'erreur --"

[2014-07-22 07:53] pierre-24 commented on #1123
**EDIT:** Par contre, si on remplace "image" par "img" dans `zds/gallery/views.py` (plus particulièrement `edit_image()`) et dans la template, ça refonctionne de nouveau. Donc peut-être que "image" est employé quelque par et est écrasé !

[2014-07-22 08:53] DevHugo commented on #1256
Y'a un double espace à corriger aussi entre le chiffre et personnes. Même remarque dans les -1 aussi.

[2014-07-22 09:41] Axylium commented on #1123
J'ai testé la branche de @SpaceFox chez moi en local, est tout est ok.

[2014-07-22 10:39] pierre-24 commented on #1123
Nan, c'est pas la branche de Spacefox, c'est une branche de ... @Alex-D : dans [templates/base.html à la ligne 48](https://github.com/zestedesavoir/zds-site/blob/master/templates/base.html#L48), y'a un `{% captureas image %}` (issus de [ce commit là](https://github.com/zestedesavoir/zds-site/commit/cc95b4613a9d8cab1d15b6fcfc8bacc30cac7f01)). Du coup `image` est violemment écrasé, et marche plus su

[2014-07-22 10:53] Eskimon commented on #1123
Et ca vient de [cette PR](https://github.com/zestedesavoir/zds-site/pull/1235) apparemment...

[2014-07-22 10:55] pierre-24 commented on #1123
C'est ce que je pensais aussi, mais j'avais pas de preuve. Du coup, je suis pas content de @firm1 : la QA, c'est un truc sérieux ^^

[2014-07-22 14:15] Alex-D commented on #1256
Je m'en charge :)

[2014-07-22 14:17] Alex-D commented on #1123
Je réouvre, et je m'en charge. En gros, faut pas que j'utilise la variable `image` car elle est déjà utilisée ailleurs ?

[2014-07-22 14:18] pierre-24 commented on #1123
Exactement :)

[2014-07-22 14:18] Alex-D commented on #1249
Ok je rajoute ça :)

[2014-07-22 14:20] Alex-D commented on #1257
Merci, je corrige ça :)

[2014-07-22 14:22] Alex-D commented on #1245
On optimise pas des requêtes dans le front. Le front ne fait qu'afficher ce que le back envoie.

La seule optimisation acceptable dans le front, c'est du cache de sortie HTML sur des blocs qui ne changent pas beaucoup (genre les dropdown du header, l'accueil, etc).

[2014-07-22 14:30] Alex-D commented on #1171
Ca a été fait, je ne sais plus dans quelle PR :(

[2014-07-22 14:30] #1171 closed, assigned to Alex-D

[2014-07-22 15:40] Alex-D commented on #1249
Voilà, reste plus qu'à @Florianboux à faire un truc joli côté back :)

[2014-07-22 15:41] Alex-D commented on #1257
A tester sur la #1258

[2014-07-22 15:53] Alex-D commented on #1123
A valider dans la #1258.

[2014-07-22 15:53] Alex-D commented on #1256
A valider dans la #1258

[2014-07-22 16:18] Axylium commented on #1249
Ouaip, je vais m'en occupe dès que je rentre chez moi ce soir.

[2014-07-22 16:23] #1123 closed, assigned to Alex-D

[2014-07-22 16:23] #1256 closed, assigned to Alex-D

[2014-07-22 16:23] #1257 closed, assigned to Alex-D

[2014-07-22 16:28] Alex-D commented on #1226
Juste pour dire, un `git mv` devrait être suffisant, pas besoin de `git add` il me semble.

[2014-07-22 20:00] Ge0 opened #1259 "[Edition d'un tutoriel] Aperçu puis envoyer -> "Une nouvelle version a été postée avant que vous ne validiez.""
Tout est dans le titre.

Lorsque j'édite une partie d'un tutoriel ( au moyen de cette page http://zestedesavoir.com/tutoriels/editer/extrait/?extrait=XXXX ), si je clique sur Aperçu et ensuite "Valider", j'obtiens le message d'erreur qui suit :+1:

[code]

et la zone de saisie (textarea) contient la version précédente / sauvegardée du tutoriel.

Il est obligatoire de valider sans passer par la pré

[2014-07-22 20:56] pierre-24 commented on #1259
ping @artragis, parce que c'est probablement lié à ta PR. @Ge0 : t'es bien sur la version de _dev_ là ? Parce que la PR implémentant ce comportement est pas encore arrivée en _prod_

[2014-07-22 21:03] pierre-24 commented on #1227
À fermer.

[2014-07-22 21:03] gustavi opened #1260 "Affichage de la licence dans les tutoriels sur les petits écrans"
Le titre et la licence se chevauchent sur les petits écrans dans les tutoriels.

Un aperçu de http://zestedesavoir.com/tutoriels/232/developpez-votre-site-web-avec-le-framework-django/ : http://i.imgur.com/o1XLJBu.png .

[2014-07-22 21:05] gustavi commented on #1227
http://i.imgur.com/GdpZkrX.png

[2014-07-22 21:05] #1227 closed, assigned to nobody

[2014-07-22 21:21] Ge0 commented on #1259
C'est en prod que j'ai ce souci.

[2014-07-22 22:42] zopieux commented on #1005
Je ne sais pas où trouver les détails concernant votre backend, mais si possible, pourquoi ne pas utiliser _systemd_ pour vos autostart ? supervisorctl, c'est quand même assez lame comme outil.

[2014-07-23 05:14] artragis commented on #1259
J'ai pas ce problème sur la prod... La version actuelle est Version : v1.0-RC6.1/35e8888.
Actuellement, quand je change un extrait, je n'ai pas ce problème.
Coécris-tu ton tutoriel?

[2014-07-23 05:31] artragis commented on #843
A fermer.

[2014-07-23 06:27] Ge0 commented on #1259
Non mais nous sommes deux auteurs.

[2014-07-23 06:32] artragis commented on #1259
C'est pour ça : ton coauteur a posté une version pendant que toi tu éditais.
Comme on était en freeze et que le module de diff n'était pas totalement près, on a corrigé le bug d'écrasement sans pour autant donner un aperçu du conflit.

Une résolution plus poussé viendra sûrement plus tard, mais elle n'est pas d'actualité.
Pour l'instant, une seule solution : réécris ta modification. Surtout ne fai

[2014-07-23 06:38] #843 closed, assigned to artragis

[2014-07-23 07:09] Eskimon commented on #19
Je suis en train de regarder pour refactoriser les tests comme propose dans quelques ouvrages de bonnes pratiques en separant en trois fichiers :
- test_forms.py
- test_views.py
- test_models.py

J'ai bientôt fini de le faire pour member (qui a un coverall pas très glorieux et qui est assez simple a faire pour commencer). Je propose une PR pour ce module des que c'est prêt !

[2014-07-23 07:19] denisalb57 commented on #1028
J'aime bien ses nouvelles pages d'erreurs
Par contre je verrais bien le texte qui l'accompagne plus personnalisé a la sauce clémentine\zesteur

[2014-07-23 07:48] pierre-24 commented on #1259
Non, il a raison. Je sais pas ce que cette PR fout là, puisque je suis certain qu'on l'as mergée APRÈS la MEP, mais toujours est-il qu'elle y est. Pour obtenir le comportement que décrit @Ge0 , il "suffit" d'appuyer DEUX FOIS sur "apperçu" à la suite. Je suis certain de mon coup, j'ai testé sur un tutoriel ou j'était tout seul comme auteur :)

[2014-07-23 07:56] artragis commented on #1259
il y a eu une MEP (RC6.**1**) après ma PR qui n'a juste pas été annoncée sur le site.
Par contre je dois avouer que je ne comprends pas pourquoi le "aperçu" bug, théoriquement il renvoie l'aperçu **avant** le test. Je verrifierai ça ce soir et je corrigerai le bug. J'avoue que je n'ai pas vérifié le cas du double clic sur aperçu. Et que la QA non plus.

[2014-07-23 07:56] pierre-24 commented on #1259
Non, et comme la QA c'était moi, je suis (au moins) aussi fautif que toi.

[2014-07-23 09:54] pierre-24 commented on #1259
**EDIT:** ça le fait aussi quand on fait une fois "aperçu" puis "envoyer".

[2014-07-23 10:35] zopieux opened #1262 "Captcha à l'inscription"
Mieux vaux prévenir que guérir. Il me semble crucial de munir la page d'inscription d'un _captcha_, même si l'on sait combien c'est énervant.

[2014-07-23 10:50] zopieux commented on #617
Je n'ai pas eu l'occasion de tester l'intégration de Jinja2 avec Django, qui serait ici le principal sujet problématique. En revanche, je peux vous assurer que Jinja2 est à tous points de vue meilleur que Django. L'héritage est plus puissant, la syntaxe est plus riche et permissive. Saviez-vous par exemple qu'il est impossible de parenthéser des expressions logiques dans le `if` de Django ou de fa

[2014-07-23 10:54] Eskimon commented on #1262
Est-ce vraiment nécessaire (vrai question) ? On filtre deja les emails poubelles pour nous prevenir de pas mal de bot...

[2014-07-23 11:01] gustavi commented on #1262
On peut rajouter une question assez simple type addition/multiplication.

Sinon Django-Simple-Captcha est assez bien foutu et devrait faire l'affaire https://github.com/mbi/django-simple-captcha .

[2014-07-23 11:25] Eskimon commented on #1262
A mon avis ca vaut largement une discussion avant de lancer du développement...

Je pense qu'un sujet dans la zone dev du site serait le bienvenu (peut-etre pas sous forme de zep non plus, mais au moins pour en discuter plus ouvertement)

[2014-07-23 11:52] firm1 commented on #1212
Fx'd

[2014-07-23 11:52] #1212 closed, assigned to nobody

[2014-07-23 11:53] firm1 commented on #1225
Fx'd

[2014-07-23 11:53] #1225 closed, assigned to nobody

[2014-07-23 12:11] zopieux commented on #1129
L'erreur 500 étant visiblement reproductible, que disent les [logs Django](https://docs.djangoproject.com/en/1.5/topics/logging/) quand TheoLeb se prend la 500 ? Si vous n'avez pas de logs, n'attendez pas une seconde et [activez-les](https://docs.djangoproject.com/en/1.5/topics/logging/) pour pouvoir debug.

[2014-07-23 12:15] gustavi opened #1264 "Possibilité de suivre un tag"
Il serait bien d'ajouter un suivi comme pour un topic mais pour les tags.

Ils seraient listés à la manière des topics dans la colonne de gauche.

[2014-07-23 12:18] firm1 commented on #1129
Les logs sont activés, et il me semble que le bug est corrigé.

@TheoLeb  peux-t-il confirmer ?

[2014-07-23 12:19] Eskimon commented on #1264
C'est pas un peu pareil que ca : https://github.com/zestedesavoir/zds-site/issues/1229 (et auquel cas on pourrait centraliser sur un seul ticket ?)

[2014-07-23 12:21] gustavi commented on #1264
Pourquoi pas, bien que ce ne soit pas vraiment la même chose.

[2014-07-23 12:23] zopieux commented on #1186
http://zestedesavoir.com/rechercher/?q=cat%C3%A9gori
http://zestedesavoir.com/rechercher/?q=cat%C3%A9gorie

Je ne trouve pas de pattern qui cause ces 500. J'en conclus à un bug contextuel en fonction des résultats. Ce ticket doit être **marqué prioritaire/bloquant**.

[2014-07-23 12:25] gustavi commented on #1186
Je pense que c'est lié aux accents non ? Les seules 500 que j'ai eu c'était des recherches avec des accents.

[2014-07-23 12:26] firm1 commented on #1195
On dirait que la PR #1261 a un impact positif sur cette issue.

On peut la fermer ?

[2014-07-23 12:27] pierre-24 commented on #1195
Oui, puisque t'as activé le versionnage des articles !

[2014-07-23 12:27] #1195 closed, assigned to pierre-24

[2014-07-23 12:29] zopieux opened #1265 "Erreur 500 : ce n'est pas aux visiteurs de reporter les problèmes"
La page d'erreur 500, sur laquelle je tombe hélas assez souvent, indique actuellement :

Or, si Django est capable de dire qu'il a crashé, vous avez les logs et vous pouvez être prévenus automatiquement (avec l'URL exacte et la traceback complète, bien plus utile qu'un imprécis « j'ai cliqué là et j'utilise tel navigateur » — entre nous, vous avez déjà vu un bug de backend être causé par une versi

[2014-07-23 12:34] Eskimon commented on #708
Dites, je reouvre : http://zestedesavoir.com/forums/sujet/789/recherche/?page=1#p10721

[2014-07-23 12:34] zopieux commented on #1186
C'est très probable mais il faut noter que « caté » voire « é » ne provoque pas de bug.

[2014-07-23 12:39] Alex-D commented on #1262
On avait déjà discuté il y a quelques mois de tout ça et on avait déduis qu'on souhaitait une page d'inscription la plus simple possible : le minimum de champs.

Pour les bots, je pense qu'il faudrait attendre de voir. Globalement, avec la blacklist de noms de domaine d'email, ça devrait déjà bloquer beaucoup de bots.

[2014-07-23 12:40] Taluu commented on #1264
Perso je trouve que ça n'a strictement rien à voir avec ce ticket. On parle de deux choses : d'un coté un **filtre** des tags, et l'autre le **suivi** d'un tag

[2014-07-23 12:45] zopieux commented on #54
Je ne suis pas sûr de comprendre de quoi tu parles mais Unicode, bien que pénible quand on ne connait pas, fonctionne très bien en « Django / Python » même dans sa version 2.

Quelqu'un pourrait-il préciser le problème ? Si je comprends bien vous souhaitez passer outre la validation des caractères spéciaux et tout autoriser dans `username` ?

[2014-07-23 12:46] Eskimon commented on #54
Non, ca parle plutot de la zone d'administration propre a Django (via /admin)

[2014-07-23 12:49] zopieux commented on #1262
C'est pour ce genre de réaction que j'ai commencé mon message par « mieux prévenir que guérir. »

[2014-07-23 13:05] zopieux commented on #200
Je débarque sur votre projet, qui m'intéresse plus ou moins d'autant que je connais très bien Django et Python. Je suis effectivement un peu perdu. Y'a-t-il un salon IRC où l'équipe technique se réunit ? Si non, c'est un manque à combler…

[2014-07-23 13:06] Alex-D commented on #1028
Le but de ces pages est de rester clair, si on peut éviter de mettre trop de "zeste"-truc dedans, c'est mieux.

[2014-07-23 13:06] firm1 commented on #1186
Pour moi le souci vient de là

[2014-07-23 13:08] Alex-D commented on #200
Il y a un CONTRIBUTING qui est fait pour ça.

Oui, #zds-dev sur irc.smoothirc.net

[2014-07-23 13:10] Alex-D commented on #1186
Il y a déjà 1000 conditions de partout dans le template. Et sans log on ne peux même pas savoir d'où ça vient. Du coup, est-ce que tu pourrais sortir un log de la prod @firm1 ?

[2014-07-23 13:21] pierre-24 opened #1266 "Erreur dans la modification d'un extrait"
Via [dosmpm sur le forum](http://zestedesavoir.com/forums/sujet/799/probleme-dedition-dextraits/?page=1#p10764) :

Ajout perso : le bug n'advient que sur les mini-tutos.

[2014-07-23 13:23] firm1 commented on #1186
Je sortirait un log quand j'aurai un ssh de dispo sur pc. Je n'y pense jamais

[2014-07-23 13:38] firm1 commented on #1266
En validation

[2014-07-23 13:42] firm1 commented on #1265
Il y'a bien évidemment un système de logging actuellement qui écrit dans des fichiers de logs sur le serveur. Pour les alertes, ça peut très rapidement polluer une boite mail si on a un gros bug, mais en effet ça serait une bonne idée.

Mais c'est souvent plus rapide/pratique si un utilisateur vient nous dire comment il en est arrivé à trouver l'erreur.

[2014-07-23 13:50] firm1 commented on #1266
Fx'd

[2014-07-23 13:50] #1266 closed, assigned to firm1

[2014-07-23 14:18] tleb commented on #1129
En effet, le problème est réglé, il venait d'où ?

[2014-07-23 14:24] firm1 commented on #1129
Le problème de la déconnexion venait d'[ici](https://github.com/zestedesavoir/zds-site/pull/1177/files).

Je ferme donc.

[2014-07-23 14:24] #1129 closed, assigned to nobody

[2014-07-23 14:32] firm1 commented on #1076
Des nouvelles ici ? Je ne reproduis toujours pas le bug.

[2014-07-23 14:34] firm1 commented on #1178
Fx'd

[2014-07-23 14:34] #1178 closed, assigned to firm1

[2014-07-23 15:41] artragis commented on #1259
PR envoyée pour corriger.

[2014-07-23 15:48] Eskimon commented on #1076
idem, jamais eu de problemes comme ca... Je penche pour un coup de pas de bol a l'epoque des 500 causé par la validation...

[2014-07-23 16:36] firm1 commented on #1076
Je ferme donc

[2014-07-23 16:36] #1076 closed, assigned to nobody

[2014-07-23 17:08] Alex-D commented on #617
Si c'est plus permissif pourquoi il faudrait faire tant de changements que ça ?

[2014-07-23 19:10] #1259 closed, assigned to nobody

[2014-07-23 19:33] Axylium opened #1273 "Lien "X Réactions" d'un article sur la home"
Via [zyhou sur le forum](http://zestedesavoir.com/forums/sujet/809/acceder-directement-au-commentaire-des-articles-a-partir-de-la-home/?page=1#p10955)

---

Les commentaires des articles ne sont pas accessible sur la page d'accueil du site. Sûrement dû à un problème de lien !

[2014-07-23 19:46] Alex-D commented on #1273
Pensant que c'était du au front, j'ai cherché, c'est en fait du au back et plus précisément à la PR #1261 qui a retiré la visibilité d'un objet qui était récupérable via _get_last_reaction_.

Reste plus qu'à merger.

[2014-07-23 19:47] Alex-D commented on #1200
Il me semble que c'est un simple problème de front. Je vais y jeter un oeil.

[2014-07-23 20:15] #1273 closed, assigned to Alex-D

[2014-07-23 21:26] firm1 commented on #1273
Je n'ai pas encore pu tester mais d'après le code que j'ai lu de correction, le lien des réactions va renvoyé vers le dernier message et non le dernier **message lu** par le membre.

Il faut donc corriger ce point.

[2014-07-23 21:29] Alex-D commented on #1273
Il manque encore une méthode renvoyée vers les templates alors, c'est quelle méthode qui permet de récupérer ça ?

[2014-07-23 21:31] firm1 commented on #1273
J'ai pas les moyens de farfouiller le code là, mais c'est un truc dans le style `get_last_read_réaction()`

[2014-07-24 08:17] firm1 commented on #928
Je reviens sur cette issue. En fait, le masque des message via la page de profil a été fait pour les posts de forum surtout parce que via la page de profil, on ne peut consulter que les posts du forum.

![capture](https://cloud.githubusercontent.com/assets/6066015/3685435/0dd77420-130b-11e4-9956-0ff714707868.PNG)

On a pas de lien qui nous permet de consulter les commentaires des articles et comme

[2014-07-24 08:24] #928 closed, assigned to nobody

[2014-07-24 09:14] Eskimon commented on #1187
Je reouvre, erreure toujours presente apparemment... weird
http://zestedesavoir.com/forums/sujet/715/le-langage-ruby/#p11053

[2014-07-24 09:15] zopieux commented on #617
Je ne vois pas le rapport entre la forte expressivité de Jinja2 et le fait qu'il faille déployer de l'énergie pour convertir. D'un côté, c'est un fait, le langage de Jinja2 est plus puissant. Mais par ailleurs, il n'est pas identique à 100% avec celui utilisé par Django, il faut donc reprendre l'_intégralité_ des templates pour corriger les disparités.

[2014-07-24 10:41] Alex-D commented on #617
J'arrête pas de le faire pour diverses refactos, je ne pense pas que ce soit insurmontable à faire.

[2014-07-24 14:42] poulp commented on #839
je m'en charge

[2014-07-24 14:54] firm1 commented on #839
Je me mets en placeholder pour que les autres comprenne que le truc t'es réservé

[2014-07-24 15:32] gustavi commented on #617
Je suis totalement pour, niveau performances c'est vraiment mieux.

[2014-07-24 17:13] Eskimon commented on #1187
Le probleme est que l'on cherche à acceder au tuto dans le dossier 'tutoriels-public' plutot que 'tutoriels-private'... Comme je suis complètement à la ramasse dans cette histoire sur les tutos, je laisse @firm1 @pierre-24 @artragis @gustavi s'en occuper :D

BroTip :
/zds/tutorial/views.py in find_tuto -> ligne 2098 `mandata = tutorial.load_dic(mandata)`
/zds/tutorial/models.py -> ligne 190 `manda

[2014-07-24 17:16] pierre-24 commented on #1187
Aller, je prend.

[2014-07-24 18:55] pierre-24 opened #1281 "Problèmes de versionning"
Reproduire le bug est assez simple :
- Créer un tuto, nommé "titre-1" et donc la description est "description-1"
- Passer le tutoriel en bêta
- Éditer le tuto, changer le titre pour "titre-2" et pour "description-2"
- Bien entendu, lorsqu'on visite la bêta, le titre et la description ne sont pas bonne

Le problème, il est simple ; une fois encore, c'est le flou artistique entre ce qui récupéré dan

[2014-07-24 20:04] gustavi opened #1282 "RSS"
Quelques améliorations sympatiques pour les RSS :
- Des RSS par sujet (ça se fait par exemple sur les forums de Wordpress) ;
- Des RSS pour ses notifications (je vous invite à lire cette issue : https://github.com/zestedesavoir/zds-site/issues/495) ;
- Des RSS par tutoriel (modifications, commentaires).

(RSS et ATOM)

_Mis à jour le 19 novembre 2014_

[2014-07-25 01:16] Alex-D opened #1284 "Les sujets épinglés n'apparaissent pas lors du filtre par tag"
Quand on veut filtrer par tag, exemple sur le tag zep :

http://zestedesavoir.com/forums/sujets/tag/51/zep/

La ZEP-01 n'apparaît pas. Or, si je la dépingle, elle apparaît bien.

[2014-07-25 01:28] Alex-D opened #1285 "Filtre sujet résolu/non-résolu + sujet épinglé = pas bon"
Les sujets épinglés sont **tous** affichés quels que soient les filtres appliqués. Il faudrait que si l'on filtre par résolu (ou non résolu) ceux-ci s'adaptent à la requête demandée.

Exemple : http://zestedesavoir.com/forums/communaute/dev-zone/?filter=solve

[2014-07-25 11:36] YoruNoHikage opened #1287 "Coloration syntaxique multiple langage"
Je ne sais pas comment fonctionne la coloration de code mais je me retrouve embêté car je souhaiterai colorer une requête HTTP en même temps que du code JSON.

Highlight.js le fait à ce que je vois, donc c'est possible.
On peut imaginer un système comme ça si ça n'est pas déjà existant d'une autre manière :

[code]

[2014-07-25 13:56] Alex-D commented on #1287
Ping @cgabard je pense :)

[2014-07-25 14:30] Eskimon commented on #1189
Si qqun maitrisant les tutos veut prendre le relais, moi je suis un peu largué ^^

[2014-07-25 15:37] zopieux commented on #617
Je ne m'avancerai pas sur les performances sans avoir vu un benchmark, mais l'on y gagne nécessairement sur l'aisance d'écriture.

[2014-07-25 18:00] pierre-24 commented on #1282
Je pense que ça s'intégrerai magnifiquement bien avec une éventuelle API qui a exactement les mêmes buts. Après, ça repousserai la _feature_ a dans des siècles.

[2014-07-25 23:35] Alex-D commented on #1282
Une API ?

Comme je l'ai dit sur le topic API, ce qu'il manque, ce sont des models bien faits, de telle sorte que sortir un RSS ou un JSON de "tous les sujets du forum FFF" ça se fait en un appel de fonction.

Et si c'est déjà le cas actuellement, alors il n'y a qu'à.

[2014-07-25 23:46] Alex-D commented on #617
Mais pour moi, la priorité c'est d'optimiser le back avant de chercher du côté des templates.

[2014-07-26 00:03] lthms commented on #1264
Je suis parfaitement d'accord avec cette suggestion. Mais dans ce cas, il faudrait peut-être essayer d'orienter le choix des tags ? Actuellement, rien n'empêche d'avoir deux tags Ocaml et Caml qui cohabitent, et c'est dommage si on veut mettre en place un suivi, non ?

[2014-07-26 00:49] Alex-D opened #1289 "Impossible de mettre à jour la version en validation d'un article"
Autant dans les tutoriels, l'auteur peut mettre à jour la version en validation, autant ça n'est pas possible dans les articles. Il faudrait donc offrir cette possibilité.

[2014-07-26 09:32] gustavi commented on #1264
J'ai envie de dire que OCaml != Caml. Ça fait 2 tags, qui ne sont pas les mêmes. Je pense qu'il ne faut pas les "fusionner" ou les "regrouper".

On a fait le choix de limiter le nombre de tags suivis à 20 pour le moment pour des soucis de performance (nombre de requêtes SQL). Qu'en pensez vous ? (On va optimisez ensuite mais ce n'est pas la priorité pour le moment, on augmentera cette limite plus

[2014-07-26 10:49] geoffroyw commented on #1264
On peut avoir deux tags JS et Javascript qui cohabitent. Et dans ce cas, ce sont strictement les mêmes.

[2014-07-26 12:46] Alex-D commented on #1264
À part que :

Comment on fait pour faire comprendre à un ordinateur que deux choses sont les mêmes si "JS" != "JavaScript" pour lui ?

Faut établir un dictionnaire des synonymes. Qui a envie d'en faire un ? Personne.