[2014-07-26 14:03] gustavi commented on #818
UP ! Ça en est où ? Quelqu'un bosse dessus ?

[2014-07-26 17:58] pierre-24 opened #1291 "Erreur 500 sur la page "tout les tutoriels""
Tout est dans le titre : il n'est plus possible d'accéder à cette page : http://zestedesavoir.com/tutoriels/ .... À noter que c'est pas le cas sur `master`.

[2014-07-26 18:04] pierre-24 opened #1292 "Petites erreurs dans un MP de clem'"
via [Jérôme Deuchnord sur le forum](http://zestedesavoir.com/forums/sujet/851/petite-correction-dans-un-mp-de-clem/#p11819) :

[2014-07-26 21:52] pierre-24 opened #1293 "Le staff ne peut pas envoyer un article en validation"
Comment reproduire le bug
- Un utilisateur crée un article
- Le staff (sans être dans la liste des auteurs) demande la validation de cet article. La modale apparait bien, mais rien ne se passe et l'article n'est pas envoyé en validation (il n'apparait pas dans la liste des articles à valider).

Tip : très probablement dans `modify()` (donc [ligne 438 de views.py](https://github.com/zestedesavoir/z

[2014-07-26 21:55] pierre-24 commented on #1289
EDIT : @Alex-D  va l'intégrer dans #1275

[2014-07-27 00:29] Alex-D commented on #1293
Ca va être corrigé dans la #1275

[2014-07-27 02:04] Alex-D commented on #873
Les phrases sont revenues \o/

[2014-07-27 02:04] #873 closed, assigned to nobody

[2014-07-27 08:33] Eskimon commented on #862
En attendant un consensus, j'ai pris la décision d'interdire la virgule dans la création de compte parce qu'elle nous embêtera dans l'envoi de MP et qu'elle a peu de sens dans un pseudo (oui je sais décoration toussa, mais dans ce cas mettez vous d'accord pour trouver une solution pérenne)

Je rappel qu'on a deja des utilisateurs avec des espaces et des @

[2014-07-27 08:47] #1284 closed, assigned to nobody

[2014-07-27 08:47] #1285 closed, assigned to nobody

[2014-07-27 08:52] pierre-24 opened #1295 "Retour à la première page après suivi du sujet sur forum"
via [btw03 sur le forum](http://zestedesavoir.com/forums/sujet/853/retour-a-la-premiere-page-du-topic-apres-avoir-clique-sur-suivre-ce-sujet/?page=1#p11898) :

Après discutions, il semblerai que la bonne solution serait de rediriger vers la page ou se trouvais la personne qui a cliqué sur le lien.

[2014-07-27 08:53] firm1 commented on #862
Il faudra scripter la migrations des comptes (changements des virgules,
etc. ) et renvoyer dans la foulée (toujours via script) le nouveau pseudo
en expliquant pourquoi on l'a changé.
 Le 27 juil. 2014 10:33, "Eskimon" notifications@github.com a écrit :

[2014-07-27 08:54] pierre-24 opened #1296 "Message d'erreur incorrect quand on se trompe sur l'adresse mail"
via ache sur IRC :

[2014-07-27 08:59] pierre-24 opened #1297 "Focus des formulaires"
Comme l'as fait remarquer ache sur IRC, il n'y a pas de focus sur le champ "login" du formulaire de connexion. De manière générale, le focus n'est pas présent sur un certain nombre des formulaires que j'ai pu visiter (login, paramètres du compte, édition de tutos et autres). Oubli ou fonctionnalité ?

ping @Alex-D :)

[2014-07-27 09:27] pierre-24 opened #1298 "MP à soi-même"
Rien n'empêche de s'envoyer un MP à soit-même (puisqu'on peut se sélectionner soit-même dans la liste des participants), mais aussi et surtout, rien n'empêche d'être le seul dans la conversation.

[2014-07-27 10:54] Alex-D commented on #1297
Tu parles d'un auto-focus quand on arrive sur la page ?

Si oui, pour la page login c'est un oubli. Pour tout le reste des pages, ça n'a pas lieu d'être.

[2014-07-27 11:14] pierre-24 commented on #1297
Ok, c'était juste pour être sur que ça avait été réfléchi :)

[2014-07-27 11:18] pierre-24 opened #1299 "Connexion directe après lien d'activation"
Comme le lien d'activation d'un compte est unique, pourquoi ne pas directement connecter l'utilisateur qui vient de valider son compte ?

[2014-07-27 11:21] pierre-24 opened #1300 "Problèmes sur l'auto-complétition des destinataires de MP"
Il est possible de se sélectionner comme destinataire d'un MP via l'auto-complétiion des destinataires dans un MP. Le _back_ ne devrait donc pas renvoyer l'utilisateur connecté.

[2014-07-27 11:50] pierre-24 opened #1301 "Les pseudos à espace coupent l'auto-complétition"
Tout est dans le titre : quand on cherche à ajouter un membre à espace à un MP, l'auto-complétition bloque après l'espace (voir #1294)

[2014-07-27 12:12] Eskimon commented on #1299
Si tu te mets à faire des doublons de tes propres issues on va pas s'en sortir :D

https://github.com/zestedesavoir/zds-site/issues/990

[2014-07-27 12:12] #1299 closed, assigned to nobody

[2014-07-27 12:13] Eskimon commented on #990
J'ai dans mes cartons une évo codé depuis un mois qui fait ca... Des que le freeze est vraiment levé je push !

[2014-07-27 12:20] pierre-24 commented on #990
Cool :)

[2014-07-27 12:44] Eskimon commented on #1291
Donc faudra sortir les logs de la prod' (poke @firm1 @SpaceFox )

[2014-07-27 12:52] gustavi commented on #1295
Je prends.

[2014-07-27 13:15] Alex-D commented on #1293
Corrigé et mergé, je ferme.

[2014-07-27 13:15] #1293 closed, assigned to Alex-D

[2014-07-27 13:16] Alex-D commented on #1200
Corrigé, je ferme. Ca arrivera à la prochaine MEP.

[2014-07-27 13:16] #1200 closed, assigned to nobody

[2014-07-27 13:16] Alex-D commented on #1289
Voilà qui est fait. Je ferme.

[2014-07-27 13:16] #1289 closed, assigned to Alex-D

[2014-07-27 13:21] Alex-D opened #1304 "Mise à jour de la validation retire la réservation"
Lorsque l'on met à jour la version en validation, le valido qui avait réservé n'est plus identifié.

C'est dû au fait que lors d'une mise à jour, on supprime simplement l'ancienne version de l'objet validation, et qu'on en crée un nouveau.

Il faudrait donc soit :
- mettre à jour l'objet validation en cours
- en créer un nouveau, mais en prenant en compte la réservation potentielle

La solution la

[2014-07-27 15:55] Alex-D commented on #1291
Pour une raison inconnue a priori, la page fonctionne de nouveau...

[2014-07-27 17:07] Fumble opened #1308 "Ordre des messages en zone Staff"
Salut,
Dans un des sujets du forum Staff, mon message était le dernier. Aujourd'hui Micmaths a posté et quand j'accède au sujet, son message est placé avant le mien.

Je ne sais pas si c'est reproductible ailleurs.

Voir capture ci-jointe.

![bug_staff](https://cloud.githubusercontent.com/assets/634461/3714564/6c3668f8-15b0-11e4-8201-0b3f898c61e4.png)

[2014-07-27 17:23] Alex-D commented on #708
C'est corrigé.

[2014-07-27 17:23] #708 closed, assigned to sandhose

[2014-07-27 17:24] Alex-D commented on #1308
Un message qui date du 1er mai, c'est impossible il me semble... sachant qu'on RàZ en juin. Tu aurais le lien ?

[2014-07-27 17:28] Fumble commented on #1308
Sans doute pas les sujets Staff ==> http://zestedesavoir.com/forums/sujet/3/bienvenue-chers-membres-du-staff/

[2014-07-27 17:41] Alex-D commented on #1308
Je soupçonne un bug mystique venant du fait que le topic date d'avant plein de changements sur les schémas/models et qui n'a pas subit la RàZ.

Je pense qu'on peut se permettre de zapper ça de part le fait que ça n'arrive pas sur tous les autres sujets qui datent donc d'après la RàZ propre.

[2014-07-27 17:50] gustavi commented on #1308
Je confirme qu'il est impossible de le reproduire sur un environnement de dev.

[2014-07-27 21:34] #1308 closed, assigned to nobody

[2014-07-27 21:39] Alex-D commented on #1297
Corrigé et mergé. Je ferme.

[2014-07-27 21:39] #1297 closed, assigned to Alex-D

[2014-07-27 21:40] Alex-D commented on #665
Ca a été mergé, c'est donc fermé désormais.

[2014-07-27 21:40] #665 closed, assigned to nobody

[2014-07-27 21:44] Alex-D commented on #1295
Corrigé et mergé, je ferme.

[2014-07-27 21:44] #1295 closed, assigned to gustavi

[2014-07-28 05:16] ArnaudCalmettes commented on #1183
Je pense que c'est casse-gueule. Par défaut, le droit français considère que tous les droits de l'oeuvre sont réservés à l'auteur, donc il **faut** mettre cette valeur par défaut.

Les validos ont autre chose à faire que de vérifier les licences. Ce n'est pas leur boulot.

[2014-07-28 06:59] Eskimon commented on #1291
Ce matin la page marche toujours... Effet de bord des validations échouées qui ont fait partir en 500 un des workers gunicorn ?

[2014-07-28 07:00] Eskimon commented on #862
Si la MEP ne tarde pas ce sera possible sans, aucun compte n'utilise de virgules pour le moment.

[2014-07-28 07:03] Eskimon commented on #862
D'une maniere plus generale, il serait bon de statuer **rapidement** la dessus plutot que d'attendre que les problemes de pseudos bizarre nous tombe dessus. Je rappel que point de vue dev' c'est assez trivial et que donc ca fait un mois qu'on attend juste pour statuer sur ce qui passe ou non !

[2014-07-28 08:56] firm1 commented on #1304
Si la mise à jour de validation se fait de manière transparente pour le valido, il risque de ne jamais se retrouver dans ses lectures.

Il faudrait le notifier (mp) qu'il y'a eu une mise à jour sur le tuto qu'il a réservé.

Imagines que tu es valido et que tu finis de lire un chapitre et que celui-ci est modifié en douce par un auteur. Tu risque de laisser passer des problèmes.

[2014-07-28 09:16] Coy0te commented on #862
Est-ce qu'on peut demander à nohar de trancher ?

Moi je veux bien réitérer ma position et reproposer qu'il faudrait interdire toute ponctuation, parenthèses, accolades et autres saloperies dans les pseudos, mais ça ne fera pas avancer le schmilibiliblic pour autant...

[2014-07-28 09:23] firm1 commented on #862
Je fais une MEP ASAP sauf si quelqu'un le fais avant moi. Mais je vais quand même écrire le script a coté, ça ne mange pas de pain et ça pourrait reservir.

Le seul souci technique insurmontable ici c'est la virgule dans le pseudo.

Je ne vois donc aucune raison valable d'interdire les autres caractères.

En résumé : interdiction de la virgule et c'est bon.

[2014-07-28 10:35] Eskimon commented on #818
Pas a ma connaissance... Tu veux le faire ?

[2014-07-28 10:38] Eskimon commented on #54
Comment gérer ce ticket ? Si c'est un problème python on ne peut rien y faire non (a part migrer sur python 3...) ? Est-ce réellement bloquant et quelles sont les opérations qui nécessite de passer par cette interface et leurs fréquences ? (passer un membre en staff, ajouter une catégorie, autre ?)

[2014-07-28 11:23] pierre-24 opened #1310 "Problème avec MathJaX"
MathJaX est l'outil qui permet à ZdS de donner un rendu correct aux formules mathématiques données par les membres. Récemment, [sur un sujet qui a un peu dérapé](http://zestedesavoir.com/forums/sujet/849/la-commande-latex-saffiche-mal/), nous nous sommes rendu compte que MathJaX permetait l'usage de la commande `\newcommand` et surtout `\renewcommand`. Pour ceux qui ne connaissent pas LaTeX, il s'

[2014-07-28 12:00] firm1 commented on #54
La seule raison qui justifie cette issue c'est qu'on ne peut pas rattacher
un utilisateur qui a un pseudo aux caractères bizarre a un groupe (staff,
dev, etc.) depuis l'admin de django.

Pour résoudre cette issue il faut donner la possibilité de rajouter un
utilisateur a un groupe depuis son profil. Ce qui revient techniquement à :
- rajouter un bouton "ajouter dans un groupe" et "enlever d'un gro

[2014-07-28 12:59] #1292 closed, assigned to pierre-24

[2014-07-28 13:09] Eskimon commented on #1262
Je vous propose de continuer la question sur le site lui-même, étant donne que c'est un choix plus philosophique que technique http://zestedesavoir.com/forums/sujet/871/captcha-or-not-captcha/

[2014-07-28 15:14] gustavi commented on #818
Oui je peux.

voir mon post suivant.

[2014-07-28 15:17] pierre-24 commented on #818
Je dirais via staff, genre formulaire avec tout les choix que tu propose (qui me vont bien) qui balance un MP a qui de droit. Ça me semble bien pour tempérer des _ragequit_ éventuel. Après, faut voir si c'est légal ....

[2014-07-28 15:20] Eskimon commented on #818
http://zestedesavoir.com/forums/sujet/444/cas-des-desinscriptions/

[2014-07-28 15:22] Eskimon commented on #862
Dans ces cas là cette issue est close... Je laisse @ArnaudCalmettes ou @SpaceFox trancher sur tout ca et fermer si nécessaire (sachant que cette histoire de virgule est réglé quelques messages plus haut)

[2014-07-28 15:30] Eskimon commented on #54
Allez je prends et je regarde si j'arrive a implementer l'idée de @firm1

[2014-07-28 15:32] gustavi commented on #818
Donc si je résume (selon @firm1 et approuvé par le reste du staff):

Anonymiser c'est :
- Que sur les messages postés :
  - au lieu du pseudo on lit "anonyme"
  - le staff peut encore éditer ces messages ou le masquer
  - lorsqu'on cite ce message, la source est anonyme
  - le message d'une source anonyme peut avoir aidé
  - on peut +1/-1 ce message
  - il n'y a plus de signature
  - l'avatar est

[2014-07-28 16:12] firm1 commented on #818
Je ne suis pas sur de saisir le sens de la question. J'ai envie de dire qu'on s'annonymise en se désinscrivant. Et la desinscription se fait via un bouton dans la page de profil, qui devrait ouvrir une boite modale, pour le valider.

Je ne pense pas, ça devrait être automatique. Mais si le gars qui se désinscris a un tutoriel/article en ligne, ça pourrait être chouette de faire un MP au staff pour

[2014-07-28 17:15] coma94 commented on #1201
J'ai toujours ce bug en prod.. La PR est mergée en dev mais pas en master ni en prod...
Est-ce normal (donc prévu) ? Un oubli ?

C'est assez chiant de devoir aller vérifier la source de la page pour trouver un "canonical" à chaque re-validation d'un tuto...

[2014-07-28 17:22] gustavi commented on #818
@firm1 On peut laisser le choix à l'utilisateur pour qu'on ne puisse pas reprendre son pseudo. Personnellement je suis contre la ré-utilisation de mon pseudo et je pense qu'une majorité des gens le sont également.

Je pense également qu'il faut qu'un auteur puisse laisser son tutoriel comme l'a suggéré nohar :

Concernant les tutoriels/articles en beta/validation, est-ce qu'on fait la même chose q

[2014-07-28 17:29] Alex-D opened #1311 "Utiliser une version custom de Modernizr pour augmenter la vitesse de chargement"
@sandhose avait voulu utiliser Modernizr en tant que dépendance bower, mais il se trouve qu'il n'est pas ainsi possible de limiter les fonctionnalités dont on a besoin.

Il faudrait donc remettre en place un version custom de Modernizr avec le strict minimum.

Les effets de cette "désoptimisation" sont que sur mobile on a un chargement en deux voire trois temps : header très grand, écran gris fonc

[2014-07-28 17:42] SpaceFox opened #1312 "Pygments : PHP "non embarqué""
Je crois qu'on utilise Pygments sur le site... si non, il faut retrouver l'équivalent.

Mon problème est que les codes PHP nécessitent l'ouverture systématique de la balise `<?php` pour être coloriés.

Ce devrait être le cas avec le lexer "php+html" mais pas avec le lexer "php".

À priori il y a un paramètre à passer à Pygments pour qu'il ne requière pas cette balise avec le lexer "php" : http://p

[2014-07-28 22:45] Alex-D commented on #1201
A l'heure où j'écris ce message, c'est même plus sur la branche dev... mais sinon oui ça sera remis sur master.

[2014-07-29 00:10] Alex-D commented on #1304
+1 pour le MP.

Avec l'historique y a moyen de s'y retrouver :) C'est là tout l'intérêt d'avoir une gestion de versions.

[2014-07-29 00:12] SpaceFox commented on #705
On a encore des trucs à faire ici ou on peut clore cette issue ?

[2014-07-29 00:13] SpaceFox commented on #1311
Je ne comprends pas très bien : la version actuelle a ces problèmes, et tu proposes de corriger ça. J'ai bon ?

[2014-07-29 00:14] SpaceFox commented on #1310
1. Quelles sont les implications exactes en terme de sécurité ?
2. Quelles mesures peut-on prendre pour corriger tout ça ?

En fonction des réponses, on pourra prioriser la correction. En attendant les réponses sont à apporter le plus rapidement possible.

[2014-07-29 00:15] SpaceFox commented on #1296
C'est corrigé ?

[2014-07-29 00:18] SpaceFox commented on #1213
Des nouvelles sur cette issue ?

[2014-07-29 00:18] SpaceFox commented on #1189
On en est où ici ?

[2014-07-29 00:19] SpaceFox commented on #1187
Je vois plein de PR fermées sur cette issue. Est-elle corrigé ? Si non, que reste-t-il ?

[2014-07-29 00:22] SpaceFox commented on #927
Vu qu'il semble y avoir un consensus sur "on garde la doc dans le README" (pas de réaction depuis 17 jours), je ferme.

[2014-07-29 00:22] #927 closed, assigned to nobody

[2014-07-29 01:36] Alex-D commented on #1187
Si j'ai bien compris, la PR #1314 est censée corriger le bug.

[2014-07-29 01:37] Alex-D commented on #1189
Au delà de la condition front qui n'affiche pas le bouton, il y a des soucis back, @Eskimon a abandonné, je pense qu'il va falloir que @firm1 y jette un oeil.

[2014-07-29 01:38] Alex-D commented on #1296
Yep, corrigé et mergé, je ferme :)

[2014-07-29 01:38] #1296 closed, assigned to Eskimon

[2014-07-29 01:41] Alex-D commented on #1310
Il faudrait arriver à scoper MathJax par blocs (genre par message sur les forums, par tuto, etc) et je pense que le problème serait résolu. Seulement, j'ignore si c'est possible. Si cette solution est possible c'est du coup du front. Sinon c'est au back de filtrer les commandes pour les limiter.

[2014-07-29 01:43] Alex-D commented on #1311
Oui, elle a des problème, c'est un bug que je trouve assez gênant, mais qui n'est pas trivial à résoudre si on veut le faire proprement (utiliser gulp/bower). Donc je pense que je vais faire ça de façon "sale" et mettre la version custom de Modernizr dans le repo directement.

[2014-07-29 01:44] Alex-D commented on #705
It's good :)

[2014-07-29 01:44] #705 closed, assigned to nobody

[2014-07-29 01:45] Alex-D commented on #1291
On serait tous arrivés sur le même worker ? Assez étrange... Je verrais plutôt une manip de quelqu'un qui n'aurait rien dit (n'ayant pas forcément connaissance de cette issue).

[2014-07-29 01:47] Alex-D commented on #1183
Du coup, c'est pas un bug, c'est une feature ? Si oui, on peut clore cette issue je pense.

[2014-07-29 02:20] Alex-D commented on #1186
C'est corrigé, je ferme.

[2014-07-29 03:32] Alex-D opened #1315 "Petite incohérence de type faisant échouer un test de la branche dev"
J'ai mergé master dans dev, mais il se trouve qu'un bugfix de master fait planter un test ajouté dans dev.

@poulp si tu pouvais jeter un oeil ça serait niquel. C'est ton test il me semble : `test_fail_get_with_username_not_exist` qui échoue. Pour les détails, ça se passe ici :
https://travis-ci.org/zestedesavoir/zds-site/builds/31104220

[2014-07-29 03:46] Alex-D commented on #1315
Ok, j'ai trouvé, ça vient d'un de mes fix en fait. Le test est bon.

[2014-07-29 06:11] Eskimon commented on #1310
Faudrait voir avec adri1 qui connait bien markdown

[2014-07-29 06:14] Eskimon commented on #1186
A monitorer tout de même, j'ai pas l'impression que c’était qu'une affaire d'accents puisque certains mots-clés sans accents passait quand même en 500 il me semble...

[2014-07-29 07:15] pierre-24 commented on #1183
Non, parce que il faut qu'on la garde en tête. Je dirais juste la reculer un peu, sans mentir (voir [mon avis sur le sujet](http://zestedesavoir.com/forums/sujet/876/les-issues-pour-la-v1/?page=1#p12491)).

[2014-07-29 07:25] pierre-24 commented on #1310
Dégommer le rendu math de toute une page donnée sur le forum si l'utilisateur place ce genre de chose dans sa signature et intervient tôt dans un topic (la définition prend usage après, et non rétro-activement). Un exemple tout con et qui parlera plus serait qu'un utilisateur pourrait remplacer tout les `sin()` par `cos()` sans l'ombre d'une trace, ce qui invalide tout développement mathématique u

[2014-07-29 07:38] pierre-24 commented on #754
Reculez la milestone de cette issue. Comme [mentionné sur le forum](http://zestedesavoir.com/forums/sujet/876/les-issues-pour-la-v1/), il sera plus intelligent d'attendre les ZEP-08 et 12 pour faire correctement le travail.

[2014-07-29 07:44] amorison commented on #1310
Le problème avec les group, c'est aussi qu'il faut bêtement empêcher l'user de fermer un groupe, faire des définitions malicieuses et rouvrir un group.

Donc en gros, virer toute occurrence de \begingroup, \engroup dans les messages et englober chaque message dans un group. C'est malheureusement la seule solution de limiter le scope de Mathjax, j'ai l'impression.

Le plus simple reste donc effecti

[2014-07-29 07:47] pierre-24 commented on #1310
Merci adri1, je l'aurais pas mieux dit.

[hs]Par contre, on peut en profiter [pour activer le package `mhchem`](http://docs.mathjax.org/en/latest/tex.html#mhchem), je serai le mec le plus heureux du monde, vraiment.[/hs]

[2014-07-29 08:31] Coy0te opened #1317 "[Ortho] Correction mineure dans le message d'édition"
Il faudrait remplacer "Edité" par "Édité" dans cette ligne :

=> https://github.com/zestedesavoir/zds-site/blob/24161830d639169c7092c83e7f75d20c0c5f1ba9/templates/misc/message.part.html#L178

[2014-07-29 08:48] Eskimon commented on #1317
Est-ce qu'on peut autoriser **exceptionnellement** la modif' direct sur la branche master ? C'est un peu pénible de faire une PR **juste pour une lettre**...

(si on me repond "nan!" je comprend aussi)

[2014-07-29 08:50] Coy0te commented on #1317
On m'a déjà répondu "non" par le passé, donc je te le dis à mon tour : non ! :D

[2014-07-29 09:07] gustavi commented on #1317
Ce n'est pas le seul, j'avais reporté plusieurs problèmes d'accent sur le forum. Autant grouper.

[2014-07-29 09:55] SpaceFox commented on #1005
Parce qu'il faudrait installer une autre distribution (on est sur du Debian 7 là, donc sans _systemd_ comme init).

Pour le reste, il faudrait regarder à la prochaine MEP.

[2014-07-29 09:58] SpaceFox commented on #1315
Ça veut dire qu'on a réussi à merger quelque chose qui ne passait pas les tests ?!

[2014-07-29 09:59] SpaceFox commented on #754
Pas con, je le fais.

[2014-07-29 10:00] SpaceFox commented on #1310
OK, donc c'est bien du "v1.0"

[2014-07-29 10:01] Eskimon commented on #1315
Nan c'est le merge master -> dev pour rétablir la version de dev si j'ai bien suivi (et du coup avec des differences puisque dev n'est pas iso avec master)

[2014-07-29 11:24] firm1 commented on #1315
C'est pour celà qu'il vaudrait mieux faire une PR pour les merges master-> dev, et ainsi faire une QA avant de valider tout ça.

[2014-07-29 11:26] firm1 commented on #1186
+1  , je rouvre l'issue, car ce n'est pas qu'un problème d'accent.

[2014-07-29 11:26] ArnaudCalmettes commented on #738
Mon avis c'est qu'il doit être possible de lister tous les pseudos correspondants, même avec cette reconnaissance souple, et que l'utilisateur doit pouvoir cliquer pour choisir à qui il veut effectivement envoyer son MP.

De cette façon, on reste indépendant de la politique de restriction des pseudos ou autre.

Conclusion, c'est une évolution et ça passe en v1.x

[2014-07-29 11:27] SpaceFox commented on #1315
Surtout, il faut **toujours** jouer les tests avant de pousser quoi que ce soit sur le dépôt principal !

[2014-07-29 11:29] ArnaudCalmettes commented on #1183
Conclusion :
- Ajouter un champ "tous droits réservés" qui fait office de licence par défaut (ce qui correspond à la réalité aux yeux de la loi).
- Retirer le "-------" : les tutos prennent par défaut la licence "tous droits réservés".

[2014-07-29 11:31] firm1 commented on #1281
Je me désasigne d'ici. Je reprendrais quand j'aurai le temps si quelqu'un ne l'a pas fait encore.

[2014-07-29 11:31] pierre-24 commented on #1183
Pourrait-tu ajouter ce champ dans la base de donnée ainsi que son `pk` dans le settings.py (par exemple `DEFAULT_LICENCE_PK` ou un truc du genre) ? Je veux bien ensuite me charger de faire correspondre les formulaires.

EDIT : il devrait au moins y avoir deux licences dans les fixtures, dont celle là. Je peux également m'en charger le cas échéant.

[2014-07-29 11:33] firm1 commented on #1281
Et je pense que cette issue devrait rentrer dans la milestone v1 car son titre devrait être "Problème de versionning".

Ce qu'on voit dans les historique des tutoriels ne correspond pas toujours à la réalité

[2014-07-29 11:34] pierre-24 commented on #1281
J'approuve le changement de milestone le cas échéant.

[2014-07-29 11:35] pierre-24 commented on #1317
Qui se lance pour une PR "orthographe" ?

[2014-07-29 11:36] ArnaudCalmettes commented on #862
Conclusion, contentons-nous de blacklister `,;:!?.\/@.` (ainsi que les espaces).

[2014-07-29 11:37] Eskimon commented on #1317
Si on me liste les fautes d'ici ce soir je peux le faire en rentrant chez moi (IRC a partir de 16h15) (mais me demandez pas non plus d'aller relire les xx pages du sujet "Les petits pixels")

[2014-07-29 11:37] ArnaudCalmettes commented on #1183
Moi personnellement non, je ne peux pas prendre cette action.

[2014-07-29 11:39] pierre-24 commented on #1183
Il me manque juste les droits d'admins pour rajouter une licence, en fait, le reste, je peux le faire tout seul ^^

qui  dois-je pinger (un superuser sur le site, autrement dit) ?

[2014-07-29 11:41] Eskimon commented on #862
Donc les pseudos comme @dri1 et Flori@n.B deviennent Adri1 et Florian.B ? Il va y avoir des déçus a cause d'une virgule :D On fait quoi de tout les caractères utf-8 bizarre comme ♾ ou ♥ ?

[2014-07-29 11:42] Eskimon commented on #1183
@firm1

[2014-07-29 11:43] amorison commented on #862
si c'est plus pratique de virer le `@` faites donc. Mais mettez moi un `a` minuscule alors svp. :p

[2014-07-29 11:53] SpaceFox commented on #312
En fait maintenant on s'en fout, le passage en prod l'a fait pour nous :)

Il me semble que @gustavi voulait en refaire un pour prouver que PostgreSQL est en fait mieux que MySQL, mais du coup ça concerne plus la #413. Je ferme donc celle-ci.

[2014-07-29 11:53] #312 closed, assigned to nobody

[2014-07-29 12:08] Eskimon commented on #1186
Bon c'est vraiment random... Apparemment elyppirre a une 500 avec _%2521_ alors qu'Arius et moi meme n'avons juste aucun resultat.

[2014-07-29 13:12] ShigeruM opened #1318 "Chapitres du tuto Windows 8 inaccessibles"
Aucun chapitre du tuto Windows 8 n'est accessible : http://zestedesavoir.com/tutoriels/189/debutez-en-informatique-avec-windows-8/

Erreur 500 à chaque fois.

Je me permets un ticket GH car le problème a été signalé sur l'adresse email de l'asso.

[2014-07-29 13:19] Alex-D commented on #1005
Avec `update-rc.d` ça suffirait pas ? Je ne suis pas un grand expert en la matière mais jusque là ça a fonctionné chez moi.

A priori en faisant un petit bash dans `/etc/init.d/reboot-zds` et en le rajoutant au boot avec `update-rc.d reboot-zds` on devrait avoir un truc propre et fonctionnel, non ?

[2014-07-29 13:24] Alex-D commented on #1186
Dans tous les cas, le patch est pas en prod il me semble... donc c'est difficile de savoir où on en est :
- les bugs ne surviennent qu'en prod
- nos derniers patchs ne sont pas en prod
- il faudrait les logs des dites erreurs

[2014-07-29 13:24] SpaceFox commented on #1005
Bonne question.

En fait je ne sais pas ce que fait supervisorctl, pourquoi il est là, qui a décidé de l'installer et en quoi c'est une bonne solution pour nous.

En fonction des arguments, on pourrait trancher.

[2014-07-29 13:44] SpaceFox commented on #1318
On a des erreurs du genre :

[code]

Si je vais dans le dossier, j'ai bien les .md mais pas les .html

C'est comme si la validation avait foiré la génération des .html.

[2014-07-29 14:02] Alex-D commented on #862
Les espaces on peut les garder il me semble. Y a un bug dans le front, mais en dehors de ça, ça a l'air de fonctionne (y a un bug à l'inscription aussi).

[2014-07-29 14:06] Alex-D commented on #1310
Pour le package mhchem, fais une issue séparée. C'est très facilement faisable et c'est pas lié aux bugs de cette issue.

[2014-07-29 14:09] Alex-D commented on #738
Du coup, c'est au back de changer un poil sa requête et de la rendre tolérante à la casse et aux accents. Le front resterait donc inchangé.

[2014-07-29 14:16] Eskimon commented on #738
Ca serait cool si @sandhose passait regarder, vu que l'autocomplete c'est son bébé je crois... perso j'ai essayé mais je suis pas sur de bien avoir saisi comment il choppait les pseudo

[2014-07-29 14:21] Eskimon opened #1319 "Inscrire un auteur aux reactions de tutos/articles"
Lorsqu'un auteur publie un article (et idem pour tuto ?) il n'est pas automatiquement ajouté aux suivis des reactions (tant qu'il ne poste pas). C'est dommage !

[2014-07-29 15:40] Alex-D commented on #738
C'est une requête vers le serveur, donc c'est le back qui répond par rapport à ce que l'utilisateur a saisi.

[2014-07-29 15:43] Alex-D commented on #1315
Vous vous enflammez pour rien :
- j'ai fait un bugfix sur master
- poulp a rajouté des tests sur dev
- j'ai mergé master dans dev : un des tests ne passait pas
- j'ai corrigé mon bugfix pour qu'il passe le test

Je ne vois pas où il y a un problème.

Pour ça il faudrait que je puisse les jouer sur Windows, ce qui n'est pas le cas à l'heure actuelle. Aussi il faut pandoc : sur Windows c'est juste u

[2014-07-29 15:43] #1315 closed, assigned to Alex-D

[2014-07-29 16:00] ShigeruM commented on #1318
Je viens d'essayer de le revalider. J'ai eu une erreur 500 lors de la validation. J'imagine que les fichier .html n'ont pas été créés car il y a toujours une 500 lors de l'affichage d'un chapitre.

[2014-07-29 16:01] SpaceFox commented on #1318
J'ai les erreurs suivantes dans les logs :

[code]

[2014-07-29 17:44] gustavi commented on #818
ping @firm1 @ArnaudCalmettes
- Voir message ci-dessus
- Pour pouvoir attribuer le pseudo d'un membre qui s'est désinscrit on doit forcement le remplacer en DB par une valeur. Laquelle ? « Anonyme » ?

[2014-07-29 17:49] artragis commented on #818
auteur externe?

[2014-07-29 17:59] Eskimon commented on #738
Ouai mais la seule requete que j'ai trouvé c'est ca : https://github.com/zestedesavoir/zds-site/blob/24161830d639169c7092c83e7f75d20c0c5f1ba9/assets/js/autocompletion.js#L278 et ca me parait mysterieux...

[2014-07-29 18:01] Eskimon commented on #1318
Ahhhh l'encodage :) C'est chouette ca !!

[2014-07-29 18:07] ShigeruM commented on #1318
Tu as moyen d'identifier le(s) caractère(s) qui posent problème ? Je peux
refaire une passe sur le tuto s'il le faut.
Le 29 juil. 2014 20:01, "Eskimon" notifications@github.com a écrit :

[2014-07-29 18:22] Eskimon commented on #1318
apparemment ce serait un 'é' c'est bizarre...

[2014-07-29 18:43] pierre-24 commented on #1281
Je reprend. J'ai une PR quasiment prète (#1280) et je sais ou est le bug.

[2014-07-29 18:44] pierre-24 commented on #1187
Je reprend, la PR #1314 n'est plus à l'ordre du jour.

[2014-07-29 20:55] gustavi commented on #1318
Je suppose que c'est encore python2 + unicode. Vivement qu'on passe à python3.

[2014-07-29 20:57] Alex-D commented on #738
Sachant que c'est envoyé avec des headers XHR, c'est possible que ce soit testé côté back pour ne répondre que dans ce cas là.

[2014-07-30 10:41] zopieux commented on #1005
Mettre initd et « propre et fonctionnel » dans la même phrase, c'est plutôt mignon. Avec supervisorctl, au moins vous avez un panel de statut, de l'autorestart, du logging centralisé et ce genre de choses. C'est pas encore systemd, mais c'est moins laid.

[2014-07-30 15:11] YoruNoHikage opened #1324 "Clém' est légèrement coupée !"
Vous allez dire que je suis tatillon mais sur la page d'accueil, en fonction de la taille de la page (je suis en 1366x768) Clém est légèrement coupée à cause du redimensionnement CSS. Je précise bien (ayant testé avec la vue adaptative de Firefox) qu'elle n'est pas coupée pour toutes les définitions d'écran.

![Clem' coupée](https://cloud.githubusercontent.com/assets/969003/3751029/7a453b7a-17fb-1

[2014-07-30 15:29] Alex-D commented on #1324
C'est à cause de Gecko qui rend mal les images qui ne sont pas dimensionnées (un reflow qui manque) je verrais si j'ai le temps de patcher ça pour la prochaine MEP.

[2014-07-30 16:07] YoruNoHikage commented on #943
Intégré à l'heure actuelle, non ?

[2014-07-30 16:40] Alex-D commented on #943
Il est vrai :) Merci.

[2014-07-30 16:40] #943 closed, assigned to nobody

[2014-07-30 17:06] Eskimon commented on #1298
C'est mergé, je ferme !

[2014-07-30 17:07] Eskimon commented on #1291
Faut-il laissé ouvert ? C'est irreproducible et ca sent le bug random du à l'infra / autre chose que le menu lui meme (donc indébuggable)

[2014-07-30 17:08] SpaceFox commented on #1291
Je ferme, on réouvrira si ça réapparait.

[2014-07-30 17:08] #1291 closed, assigned to nobody

[2014-07-30 22:27] pierre-24 opened #1328 "Rajouter mhchem dans la liste des packets chargés par MathJax"
En temps que chimiste, je trouverai réellement utile de charger le [paquet `mchchem`](http://docs.mathjax.org/en/latest/tex.html#mhchem), qui simplifie largement l'écriture de formules chimiques ainsi que d'équation (chimiques, toujours) :)

[2014-07-31 05:12] artragis commented on #862
d'après [ce diff](http://zestedesavoir.com/forums/sujet/623/mises-en-production-pendant-la-beta-publique/?page=2#p13181) ça a été corrigé.

[2014-07-31 05:13] artragis commented on #1062
est-ce que la mep a causé un nouveau bug de ce côté?

[2014-07-31 06:04] Eskimon commented on #862
Le bug a l'inscription je me demande si c'est pas du aux erreurs 500 qui traînait a ce moment la... Sur ma version locale j'en ai pas eu quand j'ai energistre un pseudo a espace (faudrait que je ressaie avec une base MySQL)

[2014-07-31 11:20] SpaceFox commented on #1318
http://upload.kisai.info/win8/17_big_709467-debutez-en-informatique-avec-windows-8.tuto
http://upload.kisai.info/win8/images.zip

[2014-07-31 11:28] SpaceFox commented on #1318
PS :

Aux dernières nouvelles, il n'y avait pas lib de gestion de Git compatible python3 :(

[2014-07-31 13:08] artragis commented on #1186
à 15h08, le 31/07 (version RC7), blender me donne une 500.

[2014-07-31 16:20] Eskimon commented on #1318
Bon... En SQLite ou en MySQL tout passe bien chez moi...

[2014-07-31 17:12] gustavi commented on #1186
J'en ai également mangé de partout.

[2014-07-31 19:44] gustavi opened #1330 "Le formulaire pour adhérer à l'association reste remplis une fois ce dernier envoyé"
Tout est dans le titre, il faut juste ajouter _form = MonFormulaire()_ après le _if ...is_valid()_ pour vider le contenu actuel.

[2014-07-31 21:25] Alex-D commented on #1186
Sans backtrace / log on avancera jamais là dessus.

[2014-07-31 22:23] DevHugo commented on #1186
En local, avec une première indexation avec solr (juste des messages du forum) j'ai cette stack-trace, si j'utilise le mot clé "Rédiger" : https://gist.github.com/DevHugo/bf1b5ae3b61a698d9aee. J'ai jamais utilisé solr avant peut-être c'est mon installation qui foire.

Pour installer solr, j'ai suivi la doc de firm1 avait faite dans une PR.

[2014-08-01 00:50] SpaceFox commented on #1186
J'ai branché un outil supervision de logs sur la prod (sentry, merci à @gustavi ) - dont je ne peux malheureusement pas donner les accès en public, c'est un test sans aucune sécurité.

Pour l'instant je n'arrive pas à avoir d'erreur... on verra demain midi.

[2014-08-01 01:17] SpaceFox commented on #1318
Je commence à soupçonner un problème immonde de tenue en charge à un niveau bizarre.

Parce que le problème n'est pas reproductible en préprod. Pire : il n'était pas reproductible en prod il y a 15 minutes (i.e. à une heure où il n'y a personne).

Les erreurs qu'on voit dans les logs ont l'air aléatoires, parce que si on va sur les pages incriminées, en général elles fonctionnent.

C'est comme si

[2014-08-01 06:06] Eskimon commented on #1318
Possible... Je te rappel que lors de la beta privée on avait eu une couille comme ca quand on ouvrait les notifs dans des onglets non ?

[2014-08-01 08:53] zopieux commented on #1186
[code]

Il semblerait que `response` ne soit pas une chaîne Unicode mais des bytes, d'où l'erreur.

[2014-08-01 11:07] gcaillaut commented on #818
Pourquoi remplacer le pseudo ? Désactiver l'utilisateur et traiter ce cas a l'affichage ne serais pas plus simple ?

[code]

[2014-08-01 11:21] cgabard commented on #818
Conformément aux recommandations de la CNIL et la loi, on ne doit pas
masquer un utilisateur, on doit supprimer toutes les infos sur lui. Masquer
le fait qu'il est encore en base ne sera pas légal.
Le 1 août 2014 13:07, "GaaH" notifications@github.com a écrit :

[2014-08-01 11:23] SpaceFox commented on #1318
Certes mais c'était reproductible (compliqué mais reproductible). Alors que
là...

Le 1 août 2014 08:06, Eskimon notifications@github.com a écrit :

[2014-08-01 13:32] gustavi commented on #818
Donc en gros on fait quoi ?

On change son pseudo par « Anonyme » en plus de virer tout les liens dans les templates ?

[2014-08-01 13:57] firm1 commented on #818
C'est plutôt simple, il suffit de faire une truc du style :

[code]

Ensuite
- modifier le model.py des posts, pour qu'il autorise les posts sans auteur (ne pas oublier de générer le fichier de migration)
- dans les templates, vérifier si un post n'a pas d'auteur, afficher annonyme.

[2014-08-01 14:01] Eskimon commented on #818
Ca serait pas plus simple de creer un compte "anonyme" ? Au moins le modele reste coherent et on peut personnaliser ce compte simplement (en lui mettant une bio qui explique le role de ce compte, un avatar etc... le tout sans modifier les templates ni rien).

Faire la solution de linke a None ca me semble bugogene...

[2014-08-01 14:16] Eskimon commented on #1186
Au passage, voici un bout de log pour la recherche blender :
`VariableDoesNotExist: Failed lookup for key [topic] in u'<Partie pour D\xe9butez dans la 3D avec Blender, 2>'`
ce qui semble confirmer zopieux

[2014-08-01 14:39] firm1 commented on #818
Eskimon, si on fait comme tu dis, on invalide certains trucs qui ont été acté à savoir :
- on ne peut plus cliquer sur l'avatar pour consulter le profil
- le pseudo "anonyme" ne doit pas être un pseudo réservé

[2014-08-01 15:38] SpaceFox commented on #818
PErsonnellement ça ne me pose pas de problème :
- Si le profil explique clairement qui est le membre "Anonyme", c'est mieux (par contre du coup il faut interdire de le connecter et de lui envoyer des MP)
- En réservant "Anonyme" on évite les petits malins qui feraient les cons avec ce pseudo

[2014-08-01 15:47] SpaceFox commented on #1005
J'ai à nouveau les stats pour Gunicorn.

[2014-08-01 15:47] #1005 closed, assigned to SpaceFox

[2014-08-02 09:09] DevHugo commented on #1317
Si cela dérange personne, je prends

[2014-08-02 09:20] coma94 opened #1334 "Validation partielle de big-tuto"
Il serait vraiment utile de pouvoir valider partiellement des big-tuto, en choisissant quels chapitres passer en ligne.

Ça permet aux auteurs de publier un cours avant qu'il ne soit totalement fini, et pour un gros tuto c'est quasi indispensable.

Ça pose également problème pour certains tutos importés, étant donné que le sdz proposait cette fonctionnalité. Par exemple le tuto Zbrush, qui a des c

[2014-08-02 13:04] Alex-D commented on #1317
Validé et mergé.

[2014-08-02 13:04] #1317 closed, assigned to nobody

[2014-08-03 00:57] SpaceFox opened #1335 "Erreur 500 / IOError: [Errno 2] No such file or directory"
Trouvé dans Sentry : on a un certain nombre d'erreurs qui correspondent à ce schéma :

Avec le fichier manquant toujours de la forme "/opt/zdsenv/ZesteDeSavoir/tutoriels-public/[dossier d'un tuto en bêta]/introduction.md.html"

L'URL incriminée est toujours une URL de recherche.

Apparemment il y a un cas lors qu'on utilise la recherche et qu'on tombe sur un tuto en bêta, on appelle ceci :

[code]

[2014-08-03 01:22] SpaceFox opened #1336 "Erreur 500 / VariableDoesNotExist: Failed lookup for key [topic] in"
Trouvé dans Sentry : on a un certain nombre d'erreurs qui correspondent à ce schéma :

La key "topic" est toujours le titre d'un tuto.

L'erreur vient quand on essaie d'afficher des résultats dans **les parties de tutoriels**, exemples :
- http://zestedesavoir.com/rechercher/?q=blender&models=tutorial.part
- http://zestedesavoir.com/rechercher/?q=algorithmique&models=tutorial.part

Ces mot-clefs a

[2014-08-03 01:28] SpaceFox opened #1337 "Erreur 500 / AttributeError: 'WSGIRequest' object has no attribute 'user'"
Trouvée dans Sentry : on a pas mal d'erreurs de ce genre :

Toutes les requêtes sur lesquelles on a ces erreurs sont des requêtes qui n'auraient jamais dû êtres servies par Django (images etc.)

Donc quand dans zds/middlewares/profile.py  à la ligne 90 on arrive à cette condition :

[code]

il se peut que `request.user` n'existe pas et ça renvoie une erreur 500.

Réparation :
1. Faire en sorte que

[2014-08-03 01:29] SpaceFox opened #1338 "Bugs de download pendant la validation"
Trouvée dans Sentry : on a pas mal d'erreurs de ce genre :

Toutes les requêtes sur lesquelles on a ces erreurs sont des requêtes qui n'auraient jamais dû êtres servies par Django (images etc.)

Il faut s'assurer que les fichiers image ne puissent pas arriver jusqu'aux processus Django (vraisemblablement une erreur de conf du fichier Nginx).

[2014-08-03 01:39] SpaceFox opened #1339 "Erreur 500 / zds.member.views in login_view"
Trouvée dans Sentry :

Erreur de gestion d'encodage très simple à reproduire :
1. Déconnectez-vous
2. Allez sur une page de membre dont le pseudo contient un caractère non-ASCII ([exemple](http://zestedesavoir.com/membres/voir/Anashka%C3%AFa/))
3. Cliquez sur "Connexion". On obtient une URL comme celle-ci http://zestedesavoir.com/membres/connexion/?next=/membres/voir/Anashka%C3%AFa/ et l'erreur 50

[2014-08-03 06:52] gustavi commented on #1337
Issue 1337 \o/

[2014-08-03 07:00] gustavi commented on #1337
Plus sérieusement il faut un if request.user avant (ou peut le mettre dans cette condition mais ça risque de surcharger).

[2014-08-03 08:39] Eskimon commented on #1335
et ce meme bug n'est il pas celui qui.fait planter les profils (en cliquant sur le bouton "beta" ? (jai plus la ticket en tete mais c'est assigne a @pierre_24

[2014-08-03 10:28] SpaceFox commented on #1335
Je ne sais pas, c'est à tester.

[2014-08-04 08:21] artragis commented on #1339
remplacer `str` par `slugify` fonctionnerait, non?

[2014-08-04 12:38] Alex-D commented on #1339
J'avais eu le problème sur append_to_get. J'ai tout simplement retiré le `str` et ça a fonctionné car la variable est déjà une String.

Après, je ne suis pas un expert mais je peux dire "Ca marche, c'est prouvé par la clinique QA".

[2014-08-04 14:12] firm1 commented on #1337
Je précise que ce fichier (`zds/middlewares/profile.py`) n'est visible que sur le serveur, pour du profiling uniquement.

[2014-08-04 14:27] firm1 commented on #1338
Le titre de l'issue est trompeur, il n'ya pas de problème de configuration de nginx ici. Les images statiques sont bien servient par nginx.

Le problème désigné par sentry ici est celui des images innacessibles dans les tutos. Pendant la publication d'un tutoriel, zds essaye de télécharger toutes les images d'un tutoriel (s'il ne les a pas en local). Dans sa tentative de téléchargement, si le lien

[2014-08-04 14:29] SpaceFox commented on #1338
Je ne comprends plus du coup. Dans quel cas on arrive dans ce cas ? Au moment de la publication ?

[2014-08-04 14:31] firm1 commented on #1339
hum, non, ça renverrait juste l'utilisateur vers une 404

La solution d'Alex me semble bonne, si jamais elle ne marche pas, il suffirait d'encoder la variable next_page au lieu du str

[2014-08-04 14:41] firm1 commented on #1338
[ouaip](https://github.com/firm1/zds-site/blob/dev/zds/tutorial/views.py#L2791)

[2014-08-04 15:30] firm1 opened #1341 "Compresser les images sur le site"
Les images du site ne sont pas du tout optimisés. Que se soit en back end ou en front-end, c'est assez lourd et ça n'aide pas à l'amélioration des performances de chargement.

Coté back-end, il faut se servir de [ce bout de doc](http://easy-thumbnails.readthedocs.org/en/latest/ref/optimize/) pour compresser sans perte et donc optimiser le chargement des pages.

Coté front-end, la priorité devrait

[2014-08-04 16:41] Alex-D commented on #1341
C'est à dire ?

Il faut aussi refaire la version `@1x`, actuellement tout le monde est sur la version haute définition (dite `@2x` ou retina).

[2014-08-04 18:13] SpaceFox commented on #1337
Heu... on a un fichier hors conf qui n'est pas sur Git ? Alors la première chose à faire est l'y mettre !

[2014-08-05 07:13] artragis commented on #1336
[Cette PR](https://github.com/zestedesavoir/zds-site/pull/1331) doit avoir corrigé cette issue.

[2014-08-06 09:33] pierre-24 commented on #1335
C'est effectivement réglé par #1322 normalement.

[2014-08-06 09:36] pierre-24 commented on #1183
On en est ou, ici ?

[2014-08-06 14:33] QuanticPotato opened #1343 "Erreur 500 lors du retour a l'accueil"
Ca m'embête un peu de poster ce bug (j'imagine qu'il a déjà été reporté), mais si ca peut aider le site ;).
Donc voila j'ai tout simplement eu une erreur 500 en revenant sur la page d'accueil (en cliquant sur l'image "Zeste de savoir" en haut à gauche). Je revenais de cette page : http://zestedesavoir.com/forums/sujet/769/cherchez-lerreur-linux-edition/?page=9#p14938
Je ne peux rien vous dire de p

[2014-08-06 14:36] ShigeruM commented on #1343
Et moi je suis tombé dessus en tapant l'adresse directement. Serait-ce lié
à la re-publication du tuto Photoshop ?
Le 6 août 2014 16:33, "Choups314" notifications@github.com a écrit :

[2014-08-06 14:39] QuanticPotato commented on #1343
En tout cas je viens de retomber dessus (de la même facon, en quittant http://zestedesavoir.com/forums/sujet/381/les-bugs-ameliorations-ou-suggestions-deja-reportes/). Je n'ai eut aucune utilisation spéciale, simplement de la lecture de sujets (forum).

[2014-08-06 14:44] QuanticPotato commented on #1343
En fait pour reproduire le bug (chez moi du moins), il suffit simplement de cliquer plein de fois sur l'image Zeste de Savoir (en haut à gauche), et l'erreur va survenir au bout d'un moment.

Ce ne serait pas dûe à un message de clem (je n'ai pas regardé le code, mais c'est la seul chose qui change sur la page) ?

[2014-08-06 14:49] Axylium commented on #1343
Un tuto ou un article est entrain d'être publié à mon avis, c'est ce qui cause ces erreurs.

[2014-08-06 14:52] ChantyTaguan commented on #1343
Yep, c'est moi qui tente de publier un tuto et qui me mange des erreurs 500.

A un moment ça va marcher, ou j'abandonne ?

[2014-08-06 14:55] Eskimon commented on #1343
abandonne. Ca va juste planter les workers gunicorn qui font tourner le site :D

[2014-08-06 15:06] AmarOk1412 commented on #1151
Juste pour dire que ce bug a un peu disparu de ma tête et que je m'occupe surtout de l'extension firefox en ce moment, donc si quelqu'un veut bien prendre le bug.

[2014-08-06 15:32] firm1 commented on #1343
Juste pour rappeler que [cette PR](https://github.com/zestedesavoir/zds-site/pull/1322) est censé résoudre ces problèmes d'erreurs 500.

Tant qu'on ne la passe pas en QA puis MEP, on se mangera toujours dans erreur 500.

[2014-08-06 15:52] pierre-24 commented on #1343
@firm1 : la plupart, oui, mais je ne touche pas à la validation, normalement. Enfin, bref, QA qui veut (artragis a du abandonner pour des raisons d'encodage UTF-8).

[2014-08-06 15:54] firm1 commented on #1343
Je crois que tu sous estime un peu ta PR, crois moi, en lisant les logs, ta PR corrige les soucis.

[2014-08-06 16:29] pierre-24 commented on #1343
Je ne peux pas lire les logs, mais je te crois sur parole ^^

[2014-08-06 17:44] SpaceFox commented on #1343
Gunicorn redémarré.

[2014-08-06 17:49] SpaceFox commented on #1343
Attention, les erreurs rencontrées lors du plantage suite à la publication d'un tuto ne sont pas celles rencontrées auparavant.

Cf les logs, qui sont assez explicites.

MP pour me demander un accès aux logs.

[2014-08-06 17:55] pierre-24 commented on #1343
S'il s'agit de l'erreur mentionnée sur IRC (zds/tutorial/models.py ? in load_json_for_public ligne 213), alors si, c'est entre autre le sujet de cette PR :)

[2014-08-06 17:57] SpaceFox commented on #1343
Tant mieux :)

Le 6 août 2014 19:55, Pierre Beaujean notifications@github.com a écrit :

[2014-08-06 21:30] pierre-24 commented on #1310
@aMorison : j'ai tenter de corriger le tout avec la config suivante (en ayant chargé `Safe`, bien entendu)

[code]

Rien n'y fait, je peux toujours employer `\newcommand` comme je veux --"

[2014-08-06 21:42] amorison commented on #1310
Hmmm, bizarre. Là, comme ça, je vois pas ce qui manque. Je fouillerais ça demain.

[2014-08-06 21:47] pierre-24 commented on #1310
ceci dit, ça marche, je peux pas charger `mhchem` si j'ai interdit sont chargement dans `safeRequire`. À noter que je peux toujours employer `\newcommand` si je mets carrément `require: "none"` (mais alors, on peut plus rien charger)

[2014-08-07 05:15] MikeElghali opened #1345 "[UX] Amélioration de l'expérience utilisateur - Formulaire de connexion"
Bonjour,

Je suis nouvellement inscrit sur zds, et je souhaite apporter ma contribution à l'amélioration du site.
Je vous expose donc mes idées d'amélioration concernant l'ergonomie, le graphisme ou la typographie.
## Le formulaire de connexion

![connexion zeste de savoir 2014-08-07 06-45-33](https://cloud.githubusercontent.com/assets/2301050/3837415/c2da5c2e-1ded-11e4-8268-877edae80c29.png)
####

[2014-08-07 05:46] MikeElghali opened #1346 "[UX] Amélioration de l'expérience utilisateur - Boutons d'action"
Bonjour,

Je suis nouvellement inscrit sur zds, et je souhaite apporter ma contribution à l'amélioration du site.
Je vous expose donc mes idées d'amélioration concernant l'ergonomie, le graphisme ou la typographie.
## Les boutons d'action

URL : http://zestedesavoir.com/membres/parametres/profil/
![mon profil paramtres zeste de savoir 2014-08-07 06-36-36](https://cloud.githubusercontent.com/assets

[2014-08-07 06:54] MikeElghali opened #1347 "[UX] Amélioration de l'expérience utilisateur - Navigation"
Bonjour,

Je suis nouvellement inscrit sur zds, et je souhaite apporter ma contribution à l'amélioration du site.
Je vous expose donc mes idées d'amélioration concernant l'ergonomie, le graphisme ou la typographie
## La navigation

![mon profil parametres zeste de savoir 2014-08-07 07-21-44](https://cloud.githubusercontent.com/assets/2301050/3838037/16fb115a-1dfc-11e4-9095-99d6d01c4f0f.png)

![jao

[2014-08-07 08:44] amorison commented on #1310
Je viens de fouiller la doc Mathjax, et la seule chose qui me semble possible, c'est qu'une des extensions qu'on charge utilise newcommand. Si tu mets aucune extension, est ce que tu peux toujours faire `\newcommand` ? Si oui, c'est quand même incompréhensible, il n'y a rien sur le web à ce sujet (ou je suis passé à côté).

[2014-08-07 08:50] pierre-24 commented on #1310
On est deux à être passé à coté. Si je ne charge aucune extension, je peux quand même faire un `\newcommand`. Je soupconne le chargement par défaut de MathJax (`[...]/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML`) de déjà charger des extentsions avec le TeX-AMS-machin-chose et tout ça, je vais essayer de voir si il n'y a pas moyen de s'en passer ...

[2014-08-07 08:51] amorison commented on #1310
J'ai déjà regardé le code, il n'y a pas de chargement de newcommand, apparemment. M'enfin, sait on jamais... :-°

[2014-08-07 08:53] pierre-24 commented on #1310
Qui ne tente rien n'as rien ^^

[2014-08-07 10:46] pierre-24 commented on #1341
@firm1 : ces outils d'opti sont ils accessible facilement ? Sous question importante, SUR TOUT LES OS ? (sinon, c'est _prod_ seulement, parce que la config' m'as pas l'air d'aimer les gens sous Windows, dans le lien que tu proposes)

[2014-08-07 12:27] firm1 commented on #1341
**Alex-D a écrit**

C'est à dire compresser les images sans perte, un peu comme si tu les passais sous [pngoptimiser](http://psydk.org/pngoptimizer).
La sprite même en @2x est déjà trop lourde, on pourrait réduire son poids d'au moins 20%, et les connexion lentes vous remercierons. Il faudra en faire de même pour la sprite en @1x.

L'idée étant d'automatiser tout ça par gulp, je n'ai pas encore re

[2014-08-07 13:16] cgabard commented on #1310
Pour les signatures de toute façon mathjax va y être banni donc ça ne devrait pas poser de problèmes.

[2014-08-07 13:22] gustavi commented on #818
Bon alors qu'est ce qui est décidé ?

C'est un peu compliqué de savoir ce qu'il faut faire sachant que tout le monde a un avis un peu différent, que selon l'endroit (github, IRC ou le forum) la définition de « Anonyme » change, etc (et c'est assez énrvant d'avoir passer 2h à coder une partie de la desinscription qui ne respecte pas les critères données après).

Serait-il possible d'avoir un défini

[2014-08-07 13:29] firm1 commented on #818
Les discussions fonctionnelles doivent être discuttées sur le forum. Si la [définition fonctionnelle de l'anonymat](http://zestedesavoir.com/forums/sujet/444/cas-des-desinscriptions/#p4358) qui a été donnée (et qui a été majoritairement validée) est remise ne cause, c'est là bas qu'il faut en parler pas ici.

[2014-08-07 13:40] Lamecarlate commented on #688
Je m'incruste un peu, le sujet ayant été évoqué de nouveau sur le forum. Et je me sens un peu concernée par un problème qui pourrait arriver : les gens qui ont un pseudo contenant un ou des espaces. Comment détecter ce genre de cas ?

Exemple. Sur ZdS, je suis Chaopale Lamecarlate : comment me mentionner ? "@Chaopale" ? Il pourrait y en avoir plusieurs (prénom seul ou bien prénom + un autre nom de

[2014-08-07 13:42] Eskimon commented on #688
Suffit que l'autocompletion fasse correctement son travail je pense... (et j'espere)

[2014-08-07 13:43] viki53 commented on #688
@Lamecarlate Tu n'as plus qu'à changer pour redevenir Akaiken :D

@Eskimon : le problème c'est qu'il y a aussi un travail prévu côté back pour notifier, donc à moins d'avoir un genre de markdown spécifique (qui du coup permettrait de citer quelqu'un sans qu'il soit mentionné, mais alourdirait aussi le tout), ça risque d'être difficile…

[2014-08-07 13:45] cgabard commented on #688
Non c'est pas si simple car là on parle du parsage du markdown.

Pour moi il faut que la syntaxe comprenne un engloblant (éventuellement optionnel).

Par exemple qu'on puisse faire :

[code]

Je ne vois pas trop d'autres solutions si vous voulez que le markdown le parse.

[2014-08-07 13:54] Coy0te commented on #688
Faudra penser à empêcher le caractère "}" dans les pseudos... :-°

Le 7 août 2014 15:45, Christophe Gabard notifications@github.com a écrit :

[2014-08-07 13:57] Eskimon commented on #688
Pourquoi ? Pour si on prend ca comme delimiteur ? C'est pas tellement genant, suffit de bien prendre la derniere occurence.

Perso j'aime bien l'idee de "delimiteur facultatif" ca me parait elegant et fonctionnel

[2014-08-07 14:07] firm1 commented on #688
Moi non plus je ne vois pas pourquoi interdire des cacractère dans les pseudos si c'est techniquement faisable. Le délimiteur facultatif (s'il y'a des espaces dans le pseudo et donc a gérer par l'autocomplete) est une idée qui validerait le souci.

[2014-08-07 14:11] Coy0te commented on #688
Arf, j'ai peut-être mal compris. Si un mec s'appelle "Bla} bla", il sera
pas pingable avec la notation @{...}, si ?

Le 7 août 2014 16:07, firm1 notifications@github.com a écrit :

[2014-08-07 14:13] viki53 commented on #688
Ouais, il y aura bien un caractère à interdire. Voire 2, histoire d'être cohérent (si on interdit le fermant, autant interdire l'ouvrant).

J'hésite encore entre @[pseudo] qui rappelle les liens et @<pseudo> qui rappelle la notation des emails…

[2014-08-07 14:16] cgabard commented on #688
On peut permettre d'échapper le caractère fermant, non ?

Genre ton mec on le pinguerai via `@{Bla\} bla}` et un mec appelé "Bla\}" on ferait  `@{Bla\\}`

[2014-08-07 14:17] Eskimon commented on #688
Les deux, avec les crochets facultatifs

[2014-08-07 14:17] cgabard commented on #688
en fait il propose `@<pseudo>` mais tu rentre en conflit manifestement avec une syntaxe du markdown git

[2014-08-07 14:29] viki53 commented on #688
Effectivement, les `<>` coincent…

[2014-08-07 15:05] Fumble opened #1349 "Ajouter la date de naissance au formulaire d'adhésion à l'association?"
A voir mais cela pourrait être utile pout au moins pouvoir prévoir de possibles litiges.
D'après la loi, un mineur peut adhérer à une association loi 1901 avec l'accord verbale ou tacite de ses parents.

Ma demande n'a pas pour but de "fliquer" les futurs mambres mais juste de savoir dans quels cas on pourra potentiellement avoir les parents qui viennent nous demander ce que fait leur enfant dans

[2014-08-07 15:31] gasche opened #1350 "Rendre ZdS installable en 30 minutes"
J'ai pas mal cassé les pieds [aux gens de PdP](http://progdupeu.pl/forums/sujet/308/article-comment-contribuer-au-code-de-progdupeupl) pour que leur site soit facile à installer. Du logiciel libre c'est bien, mais pour être vraiment ouvert il faut que le site soit facile à installer.

Le but ultime c'est que quelqu'un qui n'a jamais touché au code puisse passer de la case "tiens il y a une typo da

[2014-08-07 15:36] SpaceFox commented on #1350
1. Le pack.zip est là parce que les ressources front sont compilées d'un format développable (dans Git) en un format utilisable (qui est dans ce pack.zip). Demander à tout le monde de compiler ces ressources serait infâme et très long. Il semblait être une mauvaise idée de versionner les versions compilées (je laisse les dev front développer).
2. Je laisse les dev front voir.
3. On partait du prin

[2014-08-07 15:50] pierre-24 commented on #1310
@cgabard : tant mieux, ça enlevera déjà une épine du pied :)

[2014-08-07 15:58] Axylium opened #1351 "Liens vers les fiches de Wikimedia"
Je l'ai [signalé sur le forum](http://zestedesavoir.com/forums/sujet/984/les-liens-vers-wikimedia-ne-fonctionnent-pas/?page=1#p15299) pour que la visibilité soit maximal, mais je viens aussi le signaler ici.

Les liens vers les **fiches** détaillées du Commons de Wikimedia, ne fonctionnent pas.

Par-exemple ce genre d'URL ne passe pas : `http://commons.wikimedia.org/wiki/File:Swallow_flying_drinki

[2014-08-07 16:07] gasche commented on #1350
(1) Pour le pack.zip, il me semblerait raisonnable de versionner ce fichier `.zip` dans le dépôt, et de cacher sa manipulation (à l'utilisateur qui installe) par un script. Si vous faites aujourd'hui l'archive à la main, mise à jour quand vous y pensez, c'est une amélioration claire du processus. Si vous avez déjà un bot qui automatise la mise en place de l'archive, devoir le versionner serait san

[2014-08-07 21:44] Axylium commented on #1350
@pierre-24 a rajouté la procédure ce soir, d'installation de virtualenv.

[2014-08-08 00:30] Alex-D commented on #1350
Pour le front, je peux t'assurer que c'est inutile de versionner le pack.zip. C'est dédié aux gens qui veulent toucher au back uniquement : ils téléchargent le zip, le dezippent et n'ont pas besoin d'installer quelque dépendance front que ce soit.

Remonter dans l'historique de ce pack est simple : on remonte dans l'historique des assets (la version de dev, et non la version compressée et optimisé

[2014-08-08 00:34] Alex-D commented on #1351
J'ai mis ça sur le bon dépôt : [zMD#47](https://github.com/zestedesavoir/Python-ZMarkdown/issues/47)

[2014-08-08 00:34] #1351 closed, assigned to nobody

[2014-08-08 00:43] Alex-D commented on #688
Personnellement, je vote pour `@Alex-D` et `@[Un nom composé]`. Ca rappelle les liens MD, et c'est très cohérent. Pour les caractères spéciaux, je pense qu'on peut se permettre de retirer les crochets, à défaut les échapper comme proposé par @cgabard

[2014-08-08 00:54] Alex-D commented on #1341
Please, je suis en 512kbps, je sais ce qu'est une connexion lente. Et ce qui est lent sur le site, c'est certainement pas les assets, mais le back qui met des plombes à générer et à envoyer le HTML...

Pour moi, l'optimisation de ces images est à faire par gulp à la génération du dossier dist, en rajoutant un filtre aux tâches concernées, et non à faire par le back avec easy_thumbnails (qui est fa

[2014-08-08 01:08] Alex-D commented on #1345
D'accord pour tous les points, sauf le dernier : c'est comme ça sur tout le site, on ne va pas s'amuser à retirer ces astérisques exclusivement sur cette page.

[2014-08-08 06:21] SpaceFox commented on #1341
Pour info, j'ai navigué sur le site une semaine en GPRS cet été (i.e. du
56k si tu captes à fond et que tu es seul sur l'antenne)... Eh bien ça
reste parfaitement utilisable. Lent, mais utilisable. Quelle que soit
l'optimisation, elle n'est pas urgente.

Le 8 août 2014 02:54, Alexandre Demode notifications@github.com a écrit :

[2014-08-08 08:40] DevHugo commented on #1350
Que pensez-vous d'un script shell d'installation de zeste de savoir pour les distributions les plus connus ? (Je peux m'en occuper au besoin)

[2014-08-08 09:14] firm1 commented on #1350
[Il y'a un ticket existant là dessus](https://github.com/zestedesavoir/zds-site/issues/6) tu peux y aider

Sinon pour répondre pour le pack.zip, c'est juste la version compilé du dossier [assets](https://github.com/zestedesavoir/zds-site/tree/dev/assets). De la meme manière que dans un programme en C par exemple, on versionne les sources, mais on ne versionne jamais l'executable. Etant donné que l

[2014-08-08 09:36] firm1 commented on #1341
L'optimisation est a faire des deux coté.
- gulp doit ,dans [cette task](https://github.com/zestedesavoir/zds-site/blob/dev/Gulpfile.js#L78) créer une sprite compréssée (sans perte).
- easy_thumbnails [est déjà paramétré en mode optimisé](https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings.py#L164), il suffit d'installer sur la prod un outil d'optimisation d'images testé en amont et to

[2014-08-08 09:49] pierre-24 commented on #1341
Haw, vous tapez pas dessus !

Donc ... Oui, c'est important de compresser et d'optimiser, mais y'a surement plus important à faire avant (genre ... Taper un cache, parce que je suis d'accord avec Alex-D que certaines pages moulinent méchament et qu'à coté de ça, les images, c'est trois fois rien, preuve en est sur la page du forum :

![screenshot](https://cloud.githubusercontent.com/assets/7889675

[2014-08-08 13:58] gasche commented on #1350
Il me semble que ce qui ressort du [ticket](https://github.com/zestedesavoir/zds-site/issues/6) sur le script d'installation, c'est que personne ne sait vraiment quelles sont toutes les étapes à faire pour faire tourner le site en local. Autant je suis d'accord avec la conclusion (dans le ticket) qu'avoir un site tout-prêt pour chaque distribution n'est pas forcément très important, autant avoir u

[2014-08-08 14:26] gustavi commented on #1350
Pourquoi ne pas créer une VM (basée sur l'env de prod, Ubuntu ou Debian il me semble) prête à l'emploi avec juste le repo git à mettre à jour (avec éventuellement un script pour cela) ?

Ce n'est pas très compliqué à mettre en place et ça facilite grandement la vie de certains qui veulent juste faire une petite PR ou un morceau de dev front sans vouloir se taper l'installation de python et Django

[2014-08-08 14:28] SpaceFox commented on #1350
Ben à la place de passer 30 minute à installer l'environnement, tu dois
passer 1h à installer le bon environnement de virtualisation, télécharger
la VM (2 Go minimum) et prendre le truc en main.

Pas sûr qu'on y soit gagnants.

Le 8 août 2014 16:26, Laville Augustin notifications@github.com a écrit :

[2014-08-08 16:11] gustavi commented on #1350
Ça peut être une solution. Virtualbox est très simple a installer, après faut 2-3 notions mais pas plus que pour installer toutes les dépendances.

[2014-08-08 20:04] SpaceFox opened #1353 "ZdS ne se lance plus sous Windows"
Comme vu dans la PR #1322 ZdS ne se lance plus sous Windows mais crache une erreur :

[code]

Le bug n'est pas présent sous Linux, et reste présent si on remonte dans les versions aussi loin que le tag v1.0-RC1 (base neuve, fichiers .pyc supprimés), qui lui fonctionnait très bien sous Windows à l'époque.

Ceci ressemble donc très fortement à un bug apporté par l'une de nos dépendances.

[2014-08-08 20:31] SpaceFox commented on #1353
Vu que l'octet fautif est toujours 0xbf et qu'il correspond bien [à un caractère unicode valide](http://www.fileformat.info/info/unicode/char/bf/index.htm), j'ai recherché les occurrences de ce caractère dans notre base de code (fichiers .py)
- Dans le code lui-même : absent (au moins en tant que caractère unicode "¿")
- Dans les dépendances, il est présent 8 fois,toujours dans pygal mais à chaque

[2014-08-08 22:39] SpaceFox commented on #1353
Recherche binaire : les seules séries d'octets "BF" que je trouve sur l'intégralité du projet, c'est soit des images, soit des fichiers python compilés...

[2014-08-08 22:50] SpaceFox commented on #1353
Quant au dossier d'installation du Virtualenv rien de mieux : les rares fichiers non-binaires qui contiennent cette séquence d'octets sont des fichiers .py, soit à cause d'un BOM (qui ne change rien une fois supprimé), soit parce que c'est des chaînes de caractères dans une langue bizarre et en général dans des tests justement pour tester ces cas particuliers...

[2014-08-08 23:05] SpaceFox commented on #1353
Bon. Je me suis rappelé que "python"  = "on te file les sources" et "y'a rien à compiler" donc "tu peux hacker comme un gros porc".

Et là, c'est le drame !

Il suffit donc de lire le message d'erreur, qui nous parle du fichier `C:\Users\SpaceFox\.virtualenvs\zdsenv\lib\site-packages\django\core\management\commands\runserver.py` ligne 107. Qu'est-ce qu'on y trouve ?

[code]

On plante sur la derni

[2014-08-08 23:08] firm1 commented on #1353
:dancer:

Je suis plié devant ce rapport ... ZdS c'est magique, Microsoft et Django nous demandent d'arrêter de bosser en été, et d'attendre la rentrée.

[2014-08-08 23:09] SpaceFox commented on #1353
Tu noteras qu'on ne peut pas bosser en hiver non plus (décembre et février) :D

[2014-08-08 23:14] psycopy commented on #1353
Bonsoir,

Le caractère "û" C3BB existe en UTF-8, mais pas 0xFB (c'est de l'ISO-8895-1). À priori le fichier n'est pas encodé en UTF-8,

[2014-08-08 23:22] SpaceFox commented on #1353
Yep, c'est ça : Python s'attends à ce que le système renvoie une chaîne UTF8 pour la date, mais Windows s'en bat les noix.

Je ne trouve pas de moyen de demander à Windows de nous sortir ça en UTF8... on peut toujours imaginer que les développeurs sous Windows utilise l'anglais (locale = 'eng' dans le settings.py), mais je préfère faire des tests avant de faire une PR à ce sujet.

[2014-08-08 23:47] SpaceFox commented on #1353
Bilan des courses : tout ça parce qu'on force, dans le settings.py :

[code]

On peut demander de l'UTF8 explicitement avec Linux (et Mac ?), mais pas Windows.

Ce soir on en est là :
- On a un cas vraiment invraisemblable, puisqu'il faut, pour que ça plante :
  1. Que l'utilisateur utilise la localisation (setting `USE_L10N = True`) avec une locale susceptible de lui sortir des caractères non-ASC

[2014-08-09 01:17] Alex-D commented on #1353
Moi je dis : GG Python / Windows.

Sinon, je +1 le fait de virer la locale car le front utilise partout soit le filtre format_date (créé par @SpaceFox et donc on a la main dessus), soit le filtre date mais avec une chaîne pour avoir un format custom en paramètre.

A la limite, il faut vérifier que partout ça fonctionne bien (faire un test sur la preprod, sur Win et Mac) et si ça fonctionne aussi b

[2014-08-09 01:28] Alex-D commented on #1346
Info : la plupart des boutons sont gérés dans les `forms.py` du back.

Nulle part il n'y a du vert pour les boutons de validation, tout est bleu foncé. Donc je ne comprend ni le gain ni le "avec le reste du site".

En fait, il y a déjà le style `.btn-grey` qui est fait pour ça.

[2014-08-09 01:31] Alex-D commented on #1347
Sur certaines pages, il y a 15 - 20 liens. Et si on les retire de la sidebar, elle est vide ou presque. Sur mobile, ça a l'avantage d'être accessible tout le temps, sans encombrer la page avec des boutons pas utilisés souvent.

Si tu as une idée de _où mettre tous ces boutons d'actions_ on peut y réfléchir, mais à l'heure actuelle, c'est la solution la plus souple que j'ai pu trouver.

[2014-08-09 06:31] psycopy commented on #1353
La locale LC_TIME pour un Windows en Français semble être `"French_France.1252"`.

[2014-08-09 08:30] Fulbert commented on #1350
J'ai hésité il y a quelques semaines à proposer cette solution de VM (perso j'ai installé ZdS sur une VM). Je pensais qu'on aller me crier dessus. :D

Mais c'est vrai que télécharger la VM peut-être pénible... Et si le but est d'avoir une installation propre de ZdS en 30 minutes, il faut alors avoir une connexion à 10MB+.

[2014-08-09 08:57] gasche commented on #1350
Trois choses.

D'une part, fournir une image veut dire qu'il faut mettre à jour l'image quand l'environnement de développement change. Ce n'est pas forcément gênant (il change moins souvent que le source), mais ça veut dire qu'il faut qu'il soit clairement spécifié, et donc le travail pour "décrire comment installer l'environnement" proprement et simplement sera utile aussi pour l'image. On peut c

[2014-08-09 11:24] pierre-24 commented on #1350
J'aime vraiment bien vers quoi tourne la discutions :) (bien qu'à mon avis, elle devrait du coup, avoir lieu sur le forum). Pour la taille de la VM ... Je serait incapable de dire quel est la taille réelle du ZdS avec toutes ces dépendances, mais y'a quand même Pandoc dans le machin, qui ammène avec lui tout LaTeX, _aka_ 1 PUTAIN DE GIGA DE PACKET USELESS (Troll, évidement). Donc, à moins que je m

[2014-08-09 11:25] pierre-24 commented on #1353
Et on peut pas aller pousser ça chez Django ? Parce que c'est un bug, l'air de rien (j'ai pas dit que le correctif serait immédiat, mais voilà, quoi ^^)

[2014-08-09 11:45] pierre-24 commented on #1310
@aMorison : j'ai été demander direct sur le google group de mathjax, il semblerait qu'il s'agisse d'un bug : https://groups.google.com/forum/#!topic/mathjax-users/tt7IsB538yU

[2014-08-09 11:47] SpaceFox commented on #1350
Quelques arguments **contre** une VM :
- La taille : on fait télécharger un OS + l'intégralité de LaTeX (parce que VM de dev = VM complète)
- L'utilisateur ne peut pas utiliser ses outils de développement habituels s'il en a (IDE et navigateur)
- Si on veut garder une VM "légère", elle doit être sans interface graphique. Ce qui impose donc de code et commiter en mode console - si ça amuse certains

[2014-08-09 12:30] SpaceFox opened #1354 "Nettoyage des dépendances"
La liste des requirements me paraît bien longue et ça met super longtemps à s'installer. Or, j'ai l'impression qu'il y a un certain nombre de dépendances à ZdS qu'on n'utilise pas ou plus.

J'ai donc fait un état des lieux en regardant dans tous les fichiers *.py *.html *.json *.txt du projet, voir si on avait une référence (requirements.txt exclus). Les résultats sont les suivants :
# Ce qui est

[2014-08-09 12:31] MikeElghali commented on #1346
Bonjour,

Ce que je voulais dire c'est qu'il est préférable de différencier les boutons d'action qui agisse sur les données de l'utilisateur. et les deux couleurs les plus connus sont la nuance de rouge pour tout ce qui est suppression de données et la nuance de vert pour la sauvegarde de données.

L'utilisateur sait ainsi, en un clein d'oeil, le rôle du bouton concerné.

Ce n'est pas obligatoire,

[2014-08-09 12:42] MikeElghali commented on #1347
Bonjour,

Avez-vous une URL pour que je puisse voir un exemple de page comportant de nombreux liens ?

Cordialement,
Jaoued

[2014-08-09 13:01] MikeElghali commented on #1345
Bonjour,

Effectivement, les astérisques sont présents sur les autres formulaires du site.

Pour la v2, il serait intéressant d'intégrer les dernières recherches en terme d'expérience utilisateur, notamment la suppression de ces astérisques au profit d'une indication pour les champs optionnels.

De manière classique, avec les astérisques :
`____________________*`
`____________________*`
`_________

[2014-08-09 13:14] amorison commented on #1310
Ah d'accord. Bon, ben on se contentera de modérer en cas de problème, ça reste jouable.

[2014-08-09 13:24] pierre-24 commented on #1310
Ok. Pour l'issue, on considère comme réglé, ou on pousse ça plus loin pour y revenir d'ici quelques semaines/mois ?

(ping @SpaceFox )

[2014-08-09 13:28] amorison commented on #1310
À la limite, ce qu'on peut faire, je pense, c'est garder quand même ces commandes (sans ébruiter leur existence of course) et se contenter de modérer les abus. Et on reviendra sur la décision si ça devient ingérable et que le problème est réglé côté Mathjax.

[2014-08-09 18:06] Alex-D commented on #1347
Il faut être admin et être sur un tutoriel et là on a un florilège de boutons d'actions.

Exemple :

![Tutoriel en beta et en validation](http://storage.alex-d.fr/zestedesavoir/capture-looong-actions.jpg)

[2014-08-09 18:15] Alex-D commented on #1350
Huuuuuuuuuuuuuum... Non.

Je suis contre les VM, parce que c'est lourd. La VM va faire 2Go, c'est juste inconcevable. Déjà que le repo git pèse méga lourd (genre 100Mo, je trouve ça énorme). Après il faut héberger cette VM... ça bouffe un max de bande passante, etc. parce qu'il y aura probablement quelques hits dessus, mais quelques hits \* 2Go, ça fait mal.

Pour moi, il **faut** soigner les proc

[2014-08-09 18:17] Alex-D commented on #1353
Le but c'est que ça fonctionne partout. Si la ligne ne sert à rien : on la retire, et c'est réglé sans artifice.

[2014-08-09 18:37] SpaceFox opened #1356 "Documenter le fonctionnement du site (back)"
Aujourd'hui un développeur qui arrive sur le site et qui veut contribuer au back ne sait pas vraiment par où commencer.

On a des bouts de documentation à droite à gauche, mais aucun point d'entrée qui permettrait à un débutant de savoir par où commencer et où se renseigner en cas de doute.

Ce devrait être un fichier Markdown dans le dépôt avec les autres. Il peut contenir des liens vers des ress

[2014-08-09 18:38] SpaceFox opened #1357 "Documenter le fonctionnement du site (front)"
Aujourd'hui un développeur qui arrive sur le site et qui veut contribuer au front ne sait pas vraiment par où commencer.

On a des bouts de documentation à droite à gauche, mais aucun point d'entrée qui permettrait à un débutant de savoir par où commencer et où se renseigner en cas de doute.

Ce devrait être un fichier Markdown dans le dépôt avec les autres. Il peut contenir des liens vers des res

[2014-08-09 19:26] firm1 commented on #1356
Si quelqu'un peut s'occuper de ça, qu'il se fasse plaisir. Il y'a pas mal d'éléments de réponse sur le forum.

[2014-08-09 19:34] firm1 commented on #1354
Une piste simple et rapide.

Lancer les batteries de tests sur un environnement a nu. Si ça crache, rajouter la dépendance manquante jusqu'à ce que ça ne crache plus.

[2014-08-09 22:00] SpaceFox commented on #1353
Le ticket Django, pour ceux que ça intéresse : https://code.djangoproject.com/ticket/23265

[2014-08-09 22:58] SpaceFox commented on #5
PR mergée --> issue fermée :)

[2014-08-09 22:58] #5 closed, assigned to SpaceFox

[2014-08-09 23:00] SpaceFox commented on #54
C'est OK ici ou on a encore des tests à faire ?

[2014-08-09 23:02] SpaceFox commented on #818
@gustavi attention, il y a eu des [modifications dans le fonctionnel](http://zestedesavoir.com/forums/sujet/444/cas-des-desinscriptions/#p15260) suite aux retours de @firm1.

J'espère que ça ne casse pas ton travail...

N'hésite pas à nous dire où tu en es !

[2014-08-09 23:03] SpaceFox commented on #862
On devrait garder les espaces, vu le nombre d'utilisateurs qui en ont !

Quelqu'un est sur ce bug sinon ?

[2014-08-09 23:03] SpaceFox commented on #936
Quelqu'un pour ce bug front ?

[2014-08-09 23:08] SpaceFox commented on #1183
J'ai créé la licence "Tous droits réservés" d'ID 7.

Est-ce que ça te suffit @pierre-24 ?

[2014-08-09 23:12] SpaceFox commented on #1310
Je ne suis pas sûr de ce qui qui se passe ici en fait. Du coup je vais jouer au chef de projet noob en technique et demander à quelqu'un qui a suivi le ticket de répondre à ces deux questions :
1. Quelles sont les implications exactes en terme de sécurité ?
2. Quelles mesures peut-on prendre pour corriger tout ça ?

Ce serait absolument génial de votre part :)

[2014-08-09 23:14] SpaceFox commented on #1318
Il faudrait tester de re-publier le tuto une fois la PR #1322 mergée. Si possible un soir quand y'a plus grand-monde :)

[2014-08-09 23:15] SpaceFox commented on #1335
C'est sans doute ça, à vérifier quand la PR sera mergée !

[2014-08-09 23:15] SpaceFox commented on #1336
OK, donc à vérifier quand la PR #1331 sera mise en prod (j'attends la #1322 pour ce faire).

[2014-08-09 23:18] SpaceFox commented on #1338
OK ; du coup comment corriger le problème ? Y'a des erreurs à catcher ? Des erreurs à remonter à l'utilisateur ?

[2014-08-10 00:53] SpaceFox commented on #1354
Je trouve ça un peu flippant d'avoir des dépendances qu'on est obligés de tester pour savoir si elles sont nécessaires >_< M'enfin au moins comme ça on sera fixés.

Pour les numéros de version forcés, une idée ? Idem pour la lib qui sert à générer un graphe invisible ?

[2014-08-10 08:24] amorison commented on #1310
1. Si un mec redéfinit dans un message une commande très utilisée genre `\frac` pour la remplacer par un gros carré rouge, toutes les fractions suivantes sur la même page seront remplacées par un gros carré rouge. Donc il est très simple de bousiller le rendu MathJax en postant parmi les premiers messages.
2. MathJax présente visiblement un bug empêchant de désactiver les commandes de définitions

[2014-08-10 08:24] pierre-24 commented on #1310
1) Dégommer l'affichage mathématique d'une page donnée d'un topic ou d'un tutoriel. La commande prend effet juste après son utilisation, ce qui était avant n'était pas impacté. Pour te donner un équivalent, c'est comme si quelqu'un venait à modifier la commande `print` de python pour qu'à chaque fois qu'on l'emplois par la suite, elle renvois `'bug'`. C'est à peu près équivalent.
2) Rien, en l'occ

[2014-08-10 08:26] pierre-24 commented on #1183
Je vais normalement pouvoir faire quelque chose à partir de là, donc un très grand merci :)

(ps: assignez moi cette issue)

[2014-08-10 08:33] amorison commented on #1310
Je viens de me rappeler d'un point (que j'ai ajouté dans mon message du coup), on peut redéfinir les commandes de définitions dans la conf de MathJax. Il suffit de les remplacer par un petit texte humoristique, par exemple. Il faut donc redéfinir `def`, `newcommand`, `renewcommand` , `newenvironment`, `renewenvironment`, `let`.

http://docs.mathjax.org/en/latest/tex.html#defining-tex-macros

[2014-08-10 08:38] pierre-24 commented on #1310
Pas bête non plus. Je vais regarder si ça fout pas en l'air le chargement de packages éventuels, mais ça peut être une solution. Tant que je t'ai sous la main, une liste de paquets à interdire autre que [ceux déjà interdit par Safe](http://docs.mathjax.org/en/latest/options/Safe.html) ? (je garde bien entendu l'interdiction sur `newcommand`)

[2014-08-10 08:43] amorison commented on #1310
Non, ça doit être pas mal avec ce qui est interdit.

[2014-08-10 09:45] gustavi commented on #818
Je vais reprendre à 0, je pense m'en occuper début de semaine.

[2014-08-10 10:53] SpaceFox commented on #1310
OK, donc je laisse ouvert pour que @aMorison puisse regarder la faisabilité de son idée.

En attendant, si certains jouent avec, on modèrera.

[2014-08-10 10:56] SpaceFox commented on #818
OK

[2014-08-10 14:21] SpaceFox commented on #1062
Je pense que c'est lié aux bugs des tutos mal publiés. A voir avec la correction idoine.

[2014-08-10 14:23] SpaceFox commented on #1186
Hmm, ça semble lié au bug des tutos en bêta qui plantent. A voir après la prochaine MEP.

[2014-08-10 14:26] SpaceFox commented on #1337
@firm1 je suppose que c'est toi qui a créé ce fichier et donc qui sait à qui il sert ?

Pourrais-tu au moins l'envoyer mettre sur le dépôt avec un commentaire pertinent quant à son utilité et son utilisation ? (comme ça quelqu'un pourra corriger le bug si tu n'as pas le temps de le faire).

[2014-08-10 14:30] SpaceFox commented on #983
Je regarde ce que je peux faire.

[2014-08-10 14:33] SpaceFox commented on #1189
Corrigé et mergé --> fermé

[2014-08-10 14:33] #1189 closed, assigned to nobody

[2014-08-10 14:33] SpaceFox commented on #1187
Corrigé et mergé --> fermé

[2014-08-10 14:33] #1187 closed, assigned to pierre-24

[2014-08-10 14:33] SpaceFox commented on #1281
Corrigé et mergé --> fermé

[2014-08-10 14:33] #1281 closed, assigned to pierre-24

[2014-08-10 15:17] firm1 commented on #1186
Pour info, ça ne venait pas de la ligne remontée par @Zopieux . Le bug est normalement corrigé par la PR #1331 , il devrait disparaître après la MEP

[2014-08-10 15:24] firm1 commented on #1337
Oui, il sert à faire du profiling après une MEP pour savoir si on eu des pertes/améliorations de perfs sur le serveur. Je le remonterai dans le dépot quand j'aurai accès au serveur. mais en soit celui qui a accès au serveur peut aller le chercher dans `zds/middlewares/` et rajouter l'intergiciel dans le `settings.py`. Rien de bien méchant

[2014-08-10 16:12] SpaceFox opened #1359 "Montée de version de Solr : 3.5 --> 4.9"
Aujourd'hui, notre Solr de prod est en [version 3.5](https://github.com/zestedesavoir/zds-site/pull/1313#issuecomment-51718450), qui date de fin 2011.

A moins qu'on ait une vraie raison de ne pas le faire, autant passer à Solr 4.9, ce qui nous fera bénéficier de corrections de bugs, d'améliorations de performances, de nouvelles fonctionnalités, etc.

[2014-08-10 18:21] cgabard commented on #1287
On utilise pygment et c'est lui qui gère ça. En l'occurence certains sont déjà autorisés (`html+php`, `html+django`, etc.). le `http` est supporté, le `json` est supporté mais pas les deux ensembles. Tous ceux dispo [sont listés ici](http://pygments.org/docs/lexers/).

Pour moi ce n'est pas de notre ressort directement. On a deux solutions :
- quelqu'un va ajouter ce support dans pygments (et donc

[2014-08-10 18:46] YoruNoHikage commented on #1287
J'ai fouillé un peu dans le code du HttpLexer et j'ai trouvé !
**Il parse le contenu en fonction du Content-Type précisé dans les headers de la requête.**

Il n'y a donc pas besoin de faire de modifications mais il serait bon de le préciser dans l'aide au markdown ou ailleurs. :)

Je ferme l'issue pour le coup !

[2014-08-10 18:46] #1287 closed, assigned to nobody

[2014-08-10 19:44] cgabard commented on #1287
Chouette. En fait il faudrait faire un guide avancé. Il y a pleins de
détails de ce genre qui intéresseront les habitués mais pas la majorité des
utilisateurs. Il vaudrait donc mieux faire deux version : les trucs
basiques + tous le reste
Le 10 août 2014 20:46, "Alexis L." notifications@github.com a écrit :

[2014-08-10 20:02] YoruNoHikage commented on #1287
Un genre de fourre-tout avec des astuces propres à un truc ?
C'est bien mais quand on en a beaucoup. :/

[2014-08-10 20:27] cgabard commented on #1287
Bas sur le markdown il y en a plein. Le tuto actuel est bien chargé.

[2014-08-10 21:22] SpaceFox commented on #1062
J'ai encore le problème sur [ce tuto](http://zestedesavoir.com/tutoriels/205/la-recherche-dinformations-sur-internet/), bien qu'il ai l'air indexé au moins en partie.

A voir si le re-publier ne règlerait pas le problème ?

[2014-08-10 21:24] SpaceFox commented on #1339
Corrigé et mergé --> fermé

[2014-08-10 21:24] #1339 closed, assigned to SpaceFox

[2014-08-10 22:11] Alex-D commented on #1310
Personnellement, je préfère la solution qui consiste à scoper les messages. Ca permet aux auteurs de tutoriels de faire leur popote comme ils veulent.

Tu as des infos (lien) au niveau de `group` ?

[2014-08-10 22:16] Alex-D commented on #936
Si on refait la page d'accueil, ça ne sert à rien de corriger ce bug. Il n'est présent que sur le navigo natif d'Android.

Donc mon avis est d'avancer sur la nouvelle page d'accueil, l'intégrer et comme ça, cette issue on en parle plus.

Aussi, j'avais mis v 1.0, mais ça me semble pas important, ça peut être reporté à 1.x vu que ça ne bloque pas la navigation.

[2014-08-10 22:17] amorison commented on #1310
Dans l'absolu, ouais, c'est cool. Mais le gros inconvénient est que ça alourdi pas mal pour pas grand chose, au final...

http://meta.math.stackexchange.com/questions/4130/the-scope-of-newcommand-is-the-entire-page

[2014-08-10 22:20] Alex-D commented on #1310
Ca me semble assez léger, au contraire : il n'y a que deux templates à toucher, une dépendance à rajouter et le problème est résolu proprement.

[2014-08-10 22:26] amorison commented on #1310
C'est pas si simple.

Si un mec poste le message :
$\endgroup$
$\newcommand\frac{2+2=4}$
$\begingroup$

Ou pire:
$\newcommand\endgroup\text{lol}$

Ton simple template équivaut à ne rien faire du tout. Il faut donc aussi bannir toute occurrence de `\begingroup` et de `\endgroup` , mais aussi de trucs vicieux dans le genre :
$\newcommand\pouet{ingroup}\beg\pouet$

Fin bref, c'est une galère pas poss

[2014-08-10 22:27] Alex-D commented on #1310
Là on rentre dans le hack, alors que moi je vois le côté pratique de la chose, en ce sens où certains auraient le problème par mégarde.

Aussi, en interdisant les redéfinition tu vas faire chier nombre d'auteurs "scientifiques" qui utilisent ces expressions à tour de bras.

[2014-08-10 22:29] amorison commented on #1310
Sauf que les définitions faites par les scientifiques ne nous posent aucun problème. Cette issue est justement là pour savoir comment combler cette faille béante.

[2014-08-11 01:03] firm1 commented on #1343
Fx'd

[2014-08-11 01:03] firm1 commented on #1336
Fx'd

[2014-08-11 01:03] #1336 closed, assigned to nobody

[2014-08-11 01:04] firm1 commented on #1338
Il faut mener une enquête

[2014-08-11 01:05] firm1 commented on #1335
Fx'd

[2014-08-11 01:05] #1335 closed, assigned to nobody

[2014-08-11 01:05] firm1 commented on #1318
[Fx'd](http://zestedesavoir.com/tutoriels/446/debutez-en-informatique-avec-windows-8/)

[2014-08-11 01:05] #1318 closed, assigned to nobody

[2014-08-11 01:07] firm1 commented on #54
Fx'd

[2014-08-11 01:07] #54 closed, assigned to Eskimon

[2014-08-11 01:09] firm1 commented on #1186
Fx'd

[2014-08-11 01:09] #1186 closed, assigned to nobody

[2014-08-11 05:52] cgabard commented on #1310
Si c'est un bug de mathjax, autant modérer les abus en attendant que ce
soit réparé. Ainsi les auteurs peuvent faire ce qu'ils veulent et on
prendra une décision plus ferme si on remarque trop d'abus
Le 11 août 2014 00:29, "aMorison" notifications@github.com a écrit :

[2014-08-11 07:43] cgabard commented on #1143
Perso je n'ai rien contre proposé plusieurs pack. Mais je serais plus pour proposer à chaque utilisateur quels smiley il préfère car un utilisateur ne verra qu'une seule sorte de smiley et restera cohérent partout Vs Choix du simey par l'auteur d'un message et donc potentiellement différent à chaque message. Et je ne parle même pas du fait qu'on pourrait alors les mixer dans un même message. Enfin

[2014-08-11 09:25] Nicofuma opened #1364 "Les validateurs et admin ne devraient pas être capable de modifier un tuto/article si la license ne le permet pas"
Les licenses "CC-ND" et "Tous droits réservés" d'autorisent pas la modification du contenu protégé par le droit d'auteur. Par conséquent nul autre que le(s) auteur(s) ne devrai(en)t être en mesure d'éditer les articles/tutos/oeuvres en questions.

Mais d'après ce que j'ai pu lire sur le forum et [cette ligne](https://github.com/zestedesavoir/zds-site/blob/master/zds/tutorial/views.py#L550) ce n'es

[2014-08-11 17:18] Eskimon commented on #1364
Juste une question, une correction orthographique est-elle une atteinte au droit d'auteur ?

[2014-08-11 17:33] pierre-24 opened #1366 "Plus de mise à jour de la validation et de la béta"
Via [mewtow sur le forum](http://zestedesavoir.com/forums/sujet/1031/mise-a-jour-des-tutoriels-en-validation-totalement-petee/?page=1#p16030) :

D'ores et déjà, je peux annoncer qu'il s'agit d'une régression idiote introduite par ma propre PR #1322, je peux même dire qu'elle est due à ce qui se passe [ligne 206 de model.py](https://github.com/zestedesavoir/zds-site/blob/master/zds/tutorial/models.

[2014-08-11 17:47] Nicofuma commented on #1364
pour moi une faute d'orthographe pouvant être une volonté artistique, la corriger est une enfreinte au droit d'auteur... mais bon je ne suis pas spécialiste donc quelqu'un d'autre saura certainement apporter une réponse plus précise.

Au passage, il se pose aussi la question de la modération sur le forum : a-t-on besoins d'ajouter une clause dans les CGU disant explicitement que en postant sur le

[2014-08-11 17:57] Eskimon commented on #1364
Pour ce qui est du forum, tu acceptes le respect des CGU en utilisant le forum, donc t'engages à ne pas avoir de propos qui pourrait etre censuré. Si tu ne respectes pas les CGU je suppose qu'il est logique que les modos puissent censurer tout ou partie du message incriminé. (la encore, ce n'est pas une réponse absolu, juste mon avis)

[2014-08-11 18:17] Nicofuma commented on #1364
censurer tout le message (le cacher ou le supprimer donc) c'est normal et certains qu'on a le droit de le faire, par contre censurer seulement une partie du message... dans le sens le plus strict de la loi... franchement je sais pas^^
Je vais poster tout ça sur le forum ce soir, ainsi Arius (et éventuellement d'autres spécialistes) pourront répondre :)

[2014-08-11 18:25] pierre-24 commented on #1364
Je suis la discution pour éventuellement en tenir compte dans #1363

[2014-08-11 22:25] Nicofuma commented on #1364
http://zestedesavoir.com/forums/sujet/1034/licences-et-modification-des-tutosarticles-par-les-validateurs/

[2014-08-12 03:15] Alex-D commented on #1143
+1 à l'idée de @cgabard, sinon ça va être le foutoir ^^

[2014-08-12 10:27] Axylium commented on #1143
Effectivement, l'idée de @cgabard, me paraît être la meilleure !

[2014-08-12 11:41] mlorant opened #1370 "[Markdown] Bug de rendu des boutons dans une liste"
Lorsque j'écris des boutons type `<kbd>` dans une liste, le rendu simule un tableau illisible :

Extrait :

[code]

Résultat :
![capture](https://cloud.githubusercontent.com/assets/532337/3889815/8d58d55e-2215-11e4-9451-c0fa6b897cef.PNG)

[2014-08-12 11:54] Axylium commented on #1370
C'est connu ! C'est le MD se mélange un peu les pinceaux puisque tu as des `|` aligner donc il croit qu'il doit générer un tableau.

Dans ce genre de cas, pour faire une liste, il est plutôt conseiller d'utiliser d'autres items du genre : `+` ou `*` ou d'insérer une ligne vide entre chaque item de ta liste.

**Edit :** Et en fait, les issues lié au MD sont plutôt à mettre [ici](https://github.com/

[2014-08-12 12:03] mlorant commented on #1370
1. En effet, ça marche bien avec des `+` à la place des `-`
2. Au temps pour moi, je n'avais pas <strike>vu</strike> regardé que le markdown était géré dans un repo à part sous forme de fork

Je ferme ici du coup, en considérant "résolu". Si ça semble être assez utile pour faire un correctif, j'invite quiconque le souhaite à rouvrir une issue sur l'autre repo :)

[2014-08-12 12:03] #1370 closed, assigned to nobody

[2014-08-12 12:06] Axylium commented on #1370
Pas de souci ! C'est vrai qu'il est un peu cacher.

Je vais le faire, pour mettre les gens qui s'occupent du zMD au courant (même si je pense qu'ils le sont déjà fortement) et avoir un suivi de tout ça.

Merci de ton report en tout cas !

[2014-08-12 22:02] sandhose commented on #1350
Vous connaissez [docker](https://www.docker.com/) ? En gros, ca permet de créer des conteneurs (je préfère ce terme à VM) Linux hyper light en fonction de l'utilisation. L'idée c'est qu'on crée un Dockerfile qui décrit l'install du conteneur, en se basant sur une base image (genre, y'a une image avec debian, ubuntu, ou juste node, python, etc... ; voir https://registry.hub.docker.com/)

L'avantage

[2014-08-12 22:15] Alex-D commented on #1350
Il y a [Vagrant](http://www.vagrantup.com/) dans le même esprit non ?

[2014-08-12 22:43] SpaceFox commented on #1350
docker c'est LE truc qui monte, mais je ne sais pas dans quelle mesure
c'est vraiment adapté à ce qu'on veut. A creuser, pourquoi pas.

2014-08-13 0:15 GMT+02:00 Alexandre Demode notifications@github.com:

[2014-08-12 22:55] sandhose commented on #1350
A ce que je vois, l'image officielle node intègre de base python, pip, virtualenv, et la base d'Ubuntu (apt, toussa toussa)... C'est vraiment l'idéal. J'pense donc que d'ici demain je tenterais de faire un Dockerfile, et voir comment on pourrait éventuellement mettre ça en place en prod

En plus, ca a l'avantage de laisser le choix, puisque ça touche à rien au niveau de l'installation actuelle: si

[2014-08-12 23:01] firm1 commented on #1350
Des POC on veut des POC :)

Docker [on y a tous pensé](https://github.com/firm1/zds-site/blob/add_dockerfi/Dockerfile), mais il faut trouver un workflow qui fait rentrer Docker dans la chaine d'integration continue après le succès d'un travis, et qui héberge sur un hub les images adéquates.

Et encore, je pense que ça ne devrait pas remplacer une doc clair, Docker je le vois plutot comme un outil

[2014-08-13 08:30] gasche commented on #1350
La [page d'accueil](https://github.com/zestedesavoir/zds-site/wiki) parle de lancer les tests, mais ne donne pas la commande pour lancer des tests. Comme tout ce qui est nécessaire pour faire un petit patch, ça devrait être dans le README aussi.

[2014-08-13 15:37] firm1 commented on #1062
Je ne sais pas si c'est lié, mais j'ai l'impression que le texte des extrait n'est pas indexé comme il faut.

Typiquement [si je cherche le terme "windows" dans les extraits](http://zestedesavoir.com/rechercher/?q=windows&models=article.article&models=tutorial.chapter&models=tutorial.extract), je ne trouve rien, c'est bizarre.

[2014-08-13 16:56] gasche commented on #1350
Comme la documentation linux a été mise à jour, je viens de tester et "ça marche" sur ma machine -- modulo un petit changement à l'installation du `virtualenv` que je viens d'envoyer en PR. "Ça marche", c'est à dire que runserver crée bien un serveur local qui montre un site qui ressemble à ZdS, je n'ai pas vérifié que les outils frontend marchent.

On progresse !

[2014-08-13 17:27] sandhose commented on #1350
Booon, docker, ca marche plutôt bien!

J'ai fait deux tests, un avec l'install des dépendances LaTeX, et un autre sans.

En gros, avec LaTeX: 25min à build le conteneur, avec ~850Mb de téléchargement, et sans, on est à 5min, avec ~80Mb de téléchargement. (sachant que c'est à faire que la première fois, puisque docker garde une "snapshot" de chaque étape de la création du conteneur)

Les résultats

[2014-08-13 17:35] gasche commented on #1350
Je n'ai pas encore testé (j'essaierai à l'occasion mais j'ai dépassé mon quota de tripotage ZdS pour la journée), mais j'ai remarqué dans les logs de build Travis ([celui là par exemple](https://travis-ci.org/zestedesavoir/zds-site/builds/32440703)) qu'il passe peu de temps à installer LaTeX (il y a les timing pour chaque commande), dans les 3 minutes au total, soit moins que le `pip install -r re

[2014-08-13 17:50] sandhose commented on #1350
@gasche Travis a deux super pouvoirs: le cache apt, et une connexion de malade. On parle quand même de servers, alors que perso j'ai une pauvre connexion ADSL qui dépasse pas les 1.2 Mo/s

[2014-08-13 19:22] pierre-24 commented on #1350
Voici mon propre résultat, sur la version sans pandoc :

| Commande | Temps |
| --- | --- |
| `apt-get docker.io` | 0m35.422s |
| `git clone` du repo des dockerfile | 0m3.404s |
| `git clone` de mon propre repo GH | 2m1.709s |
| `docker build` | 24m24.225s |

Pour expliquer un peu ses chiffres : j'ai un pc que je pense relativement performant, mais une connexion en mousse qui tournait autour de 50

[2014-08-13 21:14] Alex-D commented on #1350
Dis toi que moi c'est 512kbps... soit 60kio/s donc dans tous les cas ça va me sembler lourd d'installer tout un environnement quand j'ai déjà node sur ma machine, par exemple.

Mais pour quelqu'un qui n'a rien et qui veut se lancer, ça me semble pas mal !

[2014-08-14 06:59] artragis opened #1376 "le https n'est pas forcé sur la page de validation de login/inscription"
ZDS supporte le https (yay!!), mais par contre, nous laissons des données aussi sensibles que les mots de passe ou e-mail transiter via http lors de la connexion. Ne serait-il pas plus utile et sécurisé de forcer toutes les urls commençant par `/membres/` d'être exécuté via https.

Cela renforcerait la confiance envers notre site et son [référencement](http://www.nextinpact.com/news/88925-google-v

[2014-08-14 07:12] artragis commented on #862
Comme je suis rentré de vacances, je m'y mets dessus aujourd'hui. Merci de m'y assigner.

[2014-08-14 07:45] pierre-24 commented on #1310
Bon, ça discute ferme là bas : https://github.com/mathjax/MathJax/issues/888 ... Mais en gros, ça dit que c'est pas un bug mais une fonctionnalité et que la solution, c'est bel et bien la redéfinition comme l'avais pré-senti @aMorison ...

[2014-08-14 11:25] cgabard commented on #1354
En effet c'est une dépendance du markdown MAIS c'est une dépendance optionnel techniquement (il l'utilise pour faire la coloration si present). Je peux peut être l'ajouter comme dépendance dur mais ça me semble pas forcément évident.

[2014-08-14 11:28] SpaceFox commented on #1354
OK, on peut la laisser.

On peut mettre des commentaires dans ce fichier ?

Le 14 août 2014 13:25, Christophe Gabard notifications@github.com a écrit
:

[2014-08-14 11:49] firm1 commented on #1350
Les 25Mo avec pandoc, c'est parce que tu compiles hashkell. On peut se contenter de faire [comme on le fait avec travis aujourd'hui](https://github.com/zestedesavoir/zds-site/blob/master/.travis.yml#L32), c'est à dire télécharger la version compilée de pandoc

Et pour info travis n'utilise pas le cache chez nous, pour la simple et bonne raison que l'utilisation du cache [est payant](http://docs.tr

[2014-08-14 12:05] gustavi commented on #1354
Pour les numéros de version forcés, une idée ?

Je pense que ça vient d'un `pip freeze`. Des fois c'est utile quand une nouvelle version change un peu trop ou qu'une ancienne version n'est plus compatble.

[2014-08-14 12:32] firm1 commented on #1354
Mon analyse des requirements.

## A conserver :
- django>=1.6,<1.7
- bleach==1.2.2
- pygments
- coverage==3.7.1
- south
- pytz==2013d (utile pour calculer les dates git)
- django-crispy-forms==1.3.2
- django-email-obfuscator==0.1.2
- django-debug-toolbar
- django-haystack
- django-model-utils
- django-munin==0.1.4
- python-memcached
- lxml
- pygal
- httplib2
- pysolr
- factory-boy==2.2.1
- pygeoip

[2014-08-14 12:52] SpaceFox commented on #1354
- Les dépendances "utiles dans l'avenir" sont à dégager, elles reviendront quand on en aura besoin, si jamais un jour on en a besoin.
- A quoi servent **toutes** les dépendances qui n'ont pas de références mais que tu déclares quand même comme nécessaires ?
  - pygments : OK, pour avoir la coloration (dépendance facultative de python-markdown)
  - bleach ?
  - coverage ?
  - pytz : OK, mais qui fa

[2014-08-14 13:54] firm1 commented on #1354
Je sais plus il faut lire le code, y'a des modules qui ont peut être perdu
de l'intérêt suites aux modifications depuis (j'ai pas tout suivi) d'où mon
premier message : "on procède par élimination" ça sera toujours plus rapide
et efficace.

Pour pygal, si je me souviens bien, on a une issue régression sur les
graphes dans le profil. Donc on ne va pas virer les fonctionnalités back
qui ne sont pas

[2014-08-14 14:01] SpaceFox commented on #1354
Donc, sauf magie de Python, on vire tout ce que j'ai dit qu'il était inutile d'avoir.

[2014-08-14 14:51] artragis commented on #862
juste une chose : comme il y a eu pas mal de taffe dessus : quel est le bug en soit que je dois corriger?
- l'interdiction de s'inscrire avec des ,;/?.
- l'envoie de Mp à une personne dont le nom est `blabla,blabla`
- l'envoie de MP à plusieurs destinataires dont l'un d'entre eux est `blabla,blabla`?

[2014-08-14 15:04] sylafrs opened #1377 "Navigation au clavier (droite/gauche) dans un tuto"
Le principe est simple : passer au chapitre précédent/suivant avec les flèches gauche/droite dans un tutoriel.

[2014-08-14 15:14] Alex-D commented on #1376
Encore une issue infra qui ne me semble pas liée au code...

[2014-08-14 19:09] Alex-D commented on #1353
Testé et mergé, c'est fermé :)

[2014-08-14 19:09] #1353 closed, assigned to nobody

[2014-08-15 19:37] Eskimon commented on #862
Pour les deux derniers points, ils ne peuvent pas arriver car on ne peut pas s'inscrire avec une virgule dans le pseudo.

[2014-08-16 15:56] s-afchar commented on #1143
(Je suis Piwit)
Mais alors je supprime les smileys spéciaux ?! (ceux qui n'ont pas d'équivalent "smiley SdZ")
Par exemple[ le pop-corn demandé par Eskimon](http://zestedesavoir.com/forums/sujet/538/clem-sur-le-devant-de-la-scene/?page=9#p16817).

[2014-08-17 00:32] Alex-D commented on #1143
Tu peux le garder, mais faudra rentrer l'URL avec `![]()` pour le mettre, et non un smiley type " :) "

[2014-08-17 07:13] s-afchar commented on #1143
Ce ne seront donc pas des smileys mais des images.

J'ai publié [ce message](http://zestedesavoir.com/forums/sujet/538/clem-sur-le-devant-de-la-scene/?page=9#p16886) sur le fofo avant d'avoir vu ta réponse, tu peux y répondre pour que tout le monde voit ta réponse.

[2014-08-17 10:39] SpaceFox commented on #1310
Du coup ? On peut faire quelque chose ?

[2014-08-17 10:45] amorison commented on #1310
Bah on a deux possibilités :
- laisser en l'état et modérer les petits malins qui font n'importe quoi ;
- redéfinir les commandes de définitions dans la conf de MathJax.

Dans l'idéal, on pourrait faire confiance un minimum à ceux qui utiliseront ces commandes et penser que ce sera gérable. L'inconvénient si on part sur le premier point, c'est surtout que si on se rend compte qu'il **faut** empêch

[2014-08-17 10:48] pierre-24 commented on #1310
Je serait également pour la première solution. À noter que c'est également le cas sur le SdZ et qu'ils n'ont jamais eu d'ennuis en 2 ans, avec plus d’utilisateurs ...

[2014-08-17 16:39] SpaceFox commented on #1310
OK ; on est partis pour la première solution. Donc je ferme ici :)

[2014-08-17 16:39] #1310 closed, assigned to nobody

[2014-08-17 19:43] gasche opened #1381 "Le parseur markdown ne reconnaît pas les URLs contenant des `:`"
J'ai essayé de poster l'[adresse suivante](https://gitorious.org/gasche-snippets/anagram-path/source/aa16730b68cec4f7e13fd09a68cdc0dc1f98d787:defi.ml) sur un topic du ZdS. Mon message bien été renvoyé mais l'URL a été remplacée par `http:///`, rendant le lien invalide. Le problème vient des deux points au milieu de l'URL (pourtant valides), car utiliser manuellement leur encodage `%3A` à la place

[2014-08-17 20:11] Eskimon commented on #1381
Salut !

Merci du retour, cependant ce type de bug concerne le parseur markdown qui est géré sur [un autre dépôt](https://github.com/zestedesavoir/Python-ZMarkdown/). Tu pourrais au choix [faire un ticket là-bas](https://github.com/zestedesavoir/Python-ZMarkdown/issues/) ou enrichir [ce ticket la](https://github.com/zestedesavoir/Python-ZMarkdown/issues/46).

Je ferme donc ici car ce n'est pas le

[2014-08-17 20:13] Eskimon commented on #1143
A mon avis pour tout les cas de "smileys spéciaux/étendus", il faudra voir sur une ZEP en particulier et figer le comportement à avoir, histoire que tout le monde aient la meme reference. Si un jour un nouveau smiley arrive il suffira de laisser l'écriture "litteral" (genre :ninja: ) si le smiley n'existe pas dans le pack

[2014-08-17 20:50] gasche commented on #1381
Je ne suis que moyen satisfait du fait que ce soit aux utilisateurs non-développeurs qui rapportent les bugs d'aller ré-ouvrir le bug au bon endroit. Ton explication est claire et me donne tout ce qu'il faut, mais ça reste à moi de payer le coût d'un problème technique de votre plateforme (pas moyen de déplacer facilement des bugs contrairement à d'autres bugtrackers multi-projets). Il me semblera

[2014-08-17 21:38] firm1 commented on #1381
Il faut quand même savoir que ZdS est un projet communautaire, ou tout le monde peut potentiellement apporter quelque chose. Que l'on sot développeur ou pas, j'aime bien la démarche d'Eskimon ici qui prend du temps pour expliquer comment reporter un bug au bon endroit sur github, plutot que de le faire lui même.
Les "developpeurs actifs" travaillent tous sur leur temps libre et ne sont pas toujour

[2014-08-17 22:02] gasche commented on #1381
C'est juste, mais en même temps un contributeur très occasionnel a peut-être hésité entre poster un rapport ou juste ignorer le problème (boarf quelqu'un d'autre le signalera bien à ma place), et lui demander de faire un deuxième rapport ailleurs est une façon d'élever le coût de cette contribution (minime), et donc risque de diminuer le nombre de contributions qui vont jusqu'au bout.

Il y a un c

[2014-08-17 23:48] Alex-D commented on #1381
Du coup, je ferme ici :)

La suite là-bas [zMD#50](https://github.com/zestedesavoir/Python-ZMarkdown/issues/50)

[2014-08-17 23:48] #1381 closed, assigned to nobody

[2014-08-17 23:51] Alex-D commented on #1143
Je pense en effet qu'il va falloir voir à étendre les smileys pour offrir plus de possibilités aux contributeurs externes, so +1 pour les choses type :ninja: ou :popcorn:

[2014-08-18 08:50] SpaceFox commented on #1338
Corrigé et mergé --> fermé

[2014-08-18 08:50] #1338 closed, assigned to firm1

[2014-08-18 12:12] Coy0te commented on #1376
+1, forcer le https, au moins sur les pages de connexion/inscription, me paraît nécessaire.

[2014-08-18 12:16] Coy0te opened #1382 "[Tuto] Impossible de supprimer un chapitre"
Sur certains cours, le lien "supprimer le chapitre" est absent de l'interface d'édition d'un tuto (pour un membre du Staff au moins, je n'ai pas fait tester par l'auteur lui-même).

Je ne sais pas si le problème vient du front ou du back, à tester sur ce tuto par exemple :
=> **EDIT : lien supprimé par firm1 car 403 si on est pas staff**

La suppression du tuto entier, ou d'une partie du tuto, ou

[2014-08-18 13:00] Alex-D commented on #1376
Eskimon a mis le tag back, mais encore une fois : c'est de l'infra et non du back selon moi.

[2014-08-18 13:56] Eskimon commented on #1382
cette issue avait deja ete rapportee, il faudrait la retrouver et la rouvrir je pense (pour le suivi). je l'aurais.bien fait mais je suis avec mon telephone...

[2014-08-18 13:58] Eskimon commented on #1376
yep, quand je vois un souci infra je met le tag back... mais maintenant que tu as rajoute le.tag infra ca ira mieux :)

[2014-08-18 14:03] firm1 commented on #1382
Tu parles surement de [cette issue](https://github.com/zestedesavoir/zds-site/issues/1189) ? Ce n'est pas exactement la même (à en croire le libellé)

[2014-08-18 17:41] SpaceFox commented on #936
Si tu le dis.

[2014-08-18 17:43] SpaceFox commented on #862
Du coup je ne comprends pas où est le bug ?

Est-ce qu'il ne faut pas se contenter d'interdire les virgules dans les pseudos, que ce soit à l'inscription comme au changement de pseudo ?

[2014-08-18 17:43] SpaceFox commented on #818
Des nouvelles @gustavi ?

[2014-08-18 19:07] artragis commented on #862
c'est ça que je me demande : aujourd'hui il y a eu des fix [ici](http://zestedesavoir.com/forums/sujet/623/mises-en-production-pendant-la-beta-publique/?page=2#p13181) ou [là](https://github.com/zestedesavoir/zds-site/issues/1294).

Du coup je ne sais plus trop de ce que je dois corriger. Personnellement je veux bien m'y mettre, j'ai du temps et maintenant que zds remarche sur windows, c'est opé.

[2014-08-18 19:10] artragis commented on #1382
quel est l'état du tuto? Hier j'ai supprimé deux chapitres qui avaient pourtant du contenu et ça a bien marché.

[2014-08-18 19:10] artragis commented on #1062
Les extraits sont-ils indexés au moins?

[2014-08-18 19:13] SpaceFox commented on #862
Ah ben tant mieux alors, contentons-nous de corriger les utilisations à la marge :)

[2014-08-18 19:17] artragis commented on #862
Utilisation qui est?
A noter que les problèmes de front (auto complétion) ne sont pas inclus dans cette issue mais dans une toute autre.

[2014-08-18 19:19] SpaceFox commented on #862
J'en sais pas plus que toi :(

[2014-08-18 20:03] Coy0te commented on #1382
Le tuto est en attente de validation.

Le 18 août 2014 21:10, artragis notifications@github.com a écrit :

[2014-08-19 07:04] artragis commented on #1382
ceci expliquant peut être cela. Le mien est en rédaction.
Le 18/08/2014 22:03, Coyote a écrit :

[2014-08-19 07:44] Coy0te commented on #1382
J'ai refusé le cours et l'ai renvoyé à l'auteur, on verra s'il arrive à
supprimer le chapitre.

Le 19 août 2014 09:04, artragis notifications@github.com a écrit :

[2014-08-19 07:46] Coy0te commented on #1382
En tout cas moi, maintenant que son cours est en cours de rédaction, je
n'arrive toujours pas à supprimer le chapitre. Je pense que le souci vient
de la structure du cours en lui-même. Il s'agit d'un cours importé depuis
le SdZ, il y a de grande chance que le souci vienne de par là.

Le 19 août 2014 09:44, Médéric Munier mederic.munier@gmail.com a écrit :

[2014-08-19 08:22] gasche opened #1385 "Les balises de code ne sont pas formatées pas dans les listes"
Le [message suivant](http://zestedesavoir.com/forums/sujet/935/trichons-au-jeu-des-anagrammes-vivants/?page=3#p17192) contient des balises `<code>` dans des listes que le style CSS ne rend pas correctement. J'avais d'abord pensé à un bug markdown mais les balises sont bien présentes dans le HTML généré.

[2014-08-19 20:15] Coy0te commented on #1382
Quelqu'un a changé qqchose ? Parce que ce soir l'auteur a réussi à
supprimer le chapitre sans problème.

C'est donc juste pour moi avec mes petits pouvoirs de staff que ça ne
marche pas. Est-ce que ça serait pas juste un pb de front ?

Le 19 août 2014 09:46, Médéric Munier mederic.munier@gmail.com a écrit :

[2014-08-19 23:09] Alex-D commented on #1385
Ca vient bien du fait qu'ils sont dans des listes, moi j'ai filtré sur les paragraphes. C'est assez simple à corriger.

[2014-08-20 09:22] SpaceFox commented on #1334
Vous (surtout @firm1) m'arrêterez si je dis des conneries, mais je pense qu'ici on a des difficultés techniques qui rendent la chose assez délicate.

Si mes souvenirs ne me trahissent pas, "valider" ou "mettre en bêta" revient à désigner une version Git et à dire "celle-ci est publiée".

On voit bien le problème ici : on publie _toute_ la version, donc _toutes_ les parties de cette version. Pour f

[2014-08-20 13:16] Alex-D commented on #1334
Suffirait pas de mettre un booléen dans le manifest ? L'auteur (et staff) verrait tout quand c'est en brouillon, puis en beta et en public, il faudrait afficher une modale pour sélectionner (plein de checkbox) les parties / chapitres qu'on veut, et donc en beta et en public, on ne verrait que ces dites parties.

Ca permet entre autres :
- de garder les parties/chapitres choisis lors de la beta au

[2014-08-20 13:23] SpaceFox commented on #1334
Je ne comprends pas ce que ferait ce booléen, ni comment tu gères les problématiques que je soulève avec ta proposition.

[2014-08-20 13:36] Alex-D commented on #1334
Le booléen dirait si oui ou non on  rend visible publiquement la partie/chapitre. Donc ça résout ton premier point (on a la liste des parties à publier ou non).

Vu qu'on sait ce qu'on doit publier ou non avec ce boolean (qui est présent pour chaque partie/chapitre) on peut construire tout à partir de là : sommaire, fichiers, HTML, etc.

[2014-08-20 13:38] SpaceFox commented on #1334
En fait, c'est la première de mes propositions avec une idée d'implémentation pour la liste des parties à publier ?

[2014-08-20 13:44] Alex-D commented on #1334
Yep, je trouve que c'est suffisant comme solution (puisqu'il ne faut qu'un booléen), donc j'approuve cette solution. Désolé si ça n'étais pas très clair :/

[2014-08-20 22:54] firm1 commented on #1366
Mergé, je ferme.

[2014-08-20 22:54] #1366 closed, assigned to pierre-24

[2014-08-20 23:42] firm1 commented on #1300
Corrigé, mergé.

Je ferme

[2014-08-20 23:42] #1300 closed, assigned to nobody

[2014-08-21 00:28] firm1 commented on #1359
ça c'est fait.

Je ferme.

[2014-08-21 00:28] #1359 closed, assigned to nobody

[2014-08-21 00:52] firm1 commented on #1337
C'est mergé, je ferme.

[2014-08-21 00:52] #1337 closed, assigned to SpaceFox

[2014-08-21 00:53] firm1 commented on #1265
ça c'est fait.

[2014-08-21 00:53] #1265 closed, assigned to nobody

[2014-08-21 09:31] devock opened #1387 "Disparition Google Tag Manager"
Je suis désolé mais je vais faire une issue assez rapide, mais j'ai pas le temps de faire plus et il faut que ça soit corrigé rapidement.

En gros mêmes symptômes que #1184 et ce depuis la dernière MEP. Il n'y a plus de stats actuellement !!!!!

[2014-08-21 09:45] SpaceFox commented on #1387
Je comprends pas, parce que le code JS est bien en place. Le Tag Manager est bien détecté par mon Ghostery.

Est-ce que quelqu'un du front a une idée ?

[2014-08-21 09:51] devock commented on #1387
Bon dans le doute j'ai juste revalidé Tag Manager et ça fonctionne... désolé pour l'issue un peu rapide...

[2014-08-21 09:51] #1387 closed, assigned to nobody

[2014-08-21 10:01] firm1 opened #1389 "Erreur 500 pour certaines urls au lieu de 404"
Si on consulte des topics comme celui ci :

http://zestedesavoir.com/forums/sujet/605/lanalyse-de-projet-comment-reussir-son-projet-avant-meme-de-le-coder/?page=2

On a des erreurs 500 car le numéro de page n'est pas au bon format (numérique). On devrait par défaut rediriger sur la page 1.

En créant un topic sur un forum dont l'id n'existe pas, on a une erreur 500 aussi.

http://zestedesavoir.com

[2014-08-21 10:07] SpaceFox commented on #1389
Plutôt une 404 non ? Là on demande explicitement une page qui n'existe pas.

[2014-08-22 16:46] artragis commented on #862
Donc apparemment il n'y a plus rien à faire. On clos quitte à rouvrir quand un vrai bug arrivera?

[2014-08-22 18:00] firm1 commented on #1341
Pour information ici, en rajoutant ceci dans le settings_prod (actuellement sur la preprod).

[code]

Et en lançant les commandes :

[code]

Ça roule, les images ajoutées dans la galerie sont compressée sans perte.

[2014-08-23 08:50] Nodraak commented on #1164
Le même bug avait été reporté pour pdp, un [_hack_ comme ça](https://bitbucket.org/MicroJoe/progdupeupl/pull-request/66/fixed-issue-105/diff) est il viable (après l'appel à l'interpréteur markdown donc), ou vous souhaitez un _fix_ plus propre (modifier le code de l'interpréteur lui même donc) ?

Ps : Évidement modifier le code de Python-ZMarkdown serait plus propre, mais pour ca il faut quelqu'un

[2014-08-23 14:25] SpaceFox commented on #818
Ping @gustavi ? C'est l'une des dernières issues de la v1.0 !

[2014-08-23 14:26] SpaceFox commented on #1382
À priori personne n'a rien changé, donc ce serait un problème front / une restriction des membres du staff.

Je regarde ça.

[2014-08-23 14:27] SpaceFox commented on #983
Corrigé temporairement, je passe l'issue à une version future.

[2014-08-23 14:27] SpaceFox commented on #862
OK pour moi.

[2014-08-23 14:27] #862 closed, assigned to artragis

[2014-08-23 16:37] SpaceFox commented on #1382
C'est visiblement un problème de front. Je regarde plus en détail.

[2014-08-23 17:07] SpaceFox commented on #1382
Il manquait une permission.

Par contre, je me suis rendu compte que la gestion des actions de suppression est complètement incohérente : parfois c'est dans "actions", parfois c'est un item spécifique "suppression".

AMHA il y a un gros boulot de refonte de l'ergonomie de l'édition des tutos, en particulier des big-tutos. On a déjà quelques pistes [ici](http://zestedesavoir.com/forums/sujet/1083/c

[2014-08-23 17:16] SpaceFox commented on #1062
Je regarde ça.

[2014-08-23 17:34] SpaceFox commented on #1062
Visiblement la moindre erreur dans l'indexation arrête l'indexation de toute la suite... et comme je crois bien qu'on a des erreurs dans les indexations de tutos...

[2014-08-23 17:44] SpaceFox commented on #1062
Alors, c'est très con en fait, et l'indexation des chapitres ne peux pas fonctionner.
- Si on a un big-tuto, un Chapitre appartient à une Partie
- Si on a un mini-tuto, un Chapitre appartient à un Tuto
- Le modèle d'indexation Solr considère qu'un Chapitre _doit_ avoir une Partie **et** un Tuto...

[2014-08-23 17:57] artragis commented on #1062
je dis ça comme ça, mais **by design**, si on implémente la ZEP 12 ça règlera ce problème. Devons-nous dépenser de l'énergie pour régler un problème qui ne peut se poser dans la nouvelle architecture?

[2014-08-23 17:57] SpaceFox commented on #1062
Oui, parce que ça m'a pris environ 10 minutes à corriger :)

Et comme ça on peut chercher dans notre contenu en attendant l'implémentation de la ZEP-12 (qui promet d'être grosse).

[2014-08-23 18:00] firm1 commented on #1062
Y'a pas que ça. Il me semble aussi que tout ce qui est indexé ici c'est :
- les titres des tutoriels/parties/chapitres
- les chemins vers les markdown des tutoriels/parties/chapitres

Le contenu (introduction/conclusion/extrait) n'est jamais indexé. Pour la simple et bonne raison que ce sont les champs qui sont appelé à l'indexation au lieu d'appeler les fonctions qui renvoient le contenu.

[2014-08-23 18:01] SpaceFox commented on #1062
Je viens de tester, j'ai bien récupéré le mot-clef dans le contenu d'un mini-tuto. Il est même surligné et tout !

[2014-08-23 22:07] SpaceFox commented on #1000
Corrigé, mergé, fermé

[2014-08-23 22:07] #1000 closed, assigned to nobody

[2014-08-23 22:09] SpaceFox commented on #1382
Corrigé, mergé, fermé.

[2014-08-23 22:09] #1382 closed, assigned to SpaceFox

[2014-08-23 22:10] SpaceFox commented on #1062
Pour moi c'est corrigé et mergé, mais j'aimerais bien que @firm1  détaille son message précédent avant de fermer.

[2014-08-24 07:33] firm1 commented on #1062
Ptet bien que ça a été corrigé alors il faudrait vérifier dans Sole lui même ce qui est réellement indexé.

[2014-08-24 11:36] SpaceFox commented on #1062
Je viens de vérifier et ça fonctionne. Je ne sais pas comment ça marche, ni pourquoi tu pensais que ça ne marcherait pas.

J'ai mis la version actuelle de master en préprod pour vérifier, cf par exemple : http://preprod.zestedesavoir.com/rechercher/?q=windows&models=tutorial.extract

[2014-08-24 11:37] SpaceFox commented on #1183
Corrigé et mergé --> fermé !

[2014-08-24 11:37] #1183 closed, assigned to pierre-24

[2014-08-24 11:56] gustavi commented on #818
Désolé mais j'ai pas eu le temps de fixer ça, le problème c'est que j'ai essayé de partir de ce que j'avais déjà fait mais ça cassait tout parce que plein de commits sont venus entre temps et que la définition d'anonymisation était vraiment différente de celle que j'avais compris.

Pas disponible pour la semaine qui arrive, je peux fixer ça le week-end prochain, sauf si queqlu'un a le courage de s

[2014-08-24 12:00] pierre-24 commented on #818
On peut toujours en discuter jeudi !

[2014-08-24 16:44] ghost opened #1393 "Allonger le nombre de caractères limites dans la signature des forums"
Salut !

Petite suggestion : allonger le nombre de caractères max pour rédiger sa signature.

En effet quand on veut mettre un lien ou deux, ça prend vite de la place...

Iz it possibeul ?

Merci d'avance, et pour votre boulot sur le site ;)

[2014-08-24 16:49] Axylium commented on #1393
Il y a eu un débat [sur le site](http://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?&page=21#p17299) à ce propos très récemment, si tu ne l'aurais pas vu, il a un peu dériver, mais bon.

Sinon, pour te répondre, il faudrait voir avec Alex, je pense. Donc ping @Alex-D.  ^^

[2014-08-24 16:58] ghost commented on #1393
Oké merci ;)

[2014-08-24 18:52] SpaceFox commented on #1389
Corrigé et mergé --> fermé

[2014-08-25 17:08] Alex-D commented on #1341
Le front compresse déjà les sprites, donc a priori c'est déjà tout bon. Il ne manque, à la limite, que le `@1x` mais tout le reste est good.

[2014-08-25 17:27] firm1 commented on #1341
C'est pas ce que me dis Google pagespeed.
Le 25 août 2014 19:08, "Alexandre Demode" notifications@github.com a
écrit :

[2014-08-25 17:55] sandhose commented on #1341
Lors du build gulp, on passe toutes les images par [gulp-imagemin](https://github.com/sindresorhus/gulp-imagemin), qui utilise [différents plugins](https://github.com/imagemin/imagemin#plugins) pour optimiser les images en fonction du format.

Alors effectivement, on peut éventuellement optimiser la génération du sprite (qui est faite par [spritesmith](https://github.com/Ensighten/spritesmith)), e

[2014-08-25 18:21] SpaceFox commented on #1062
Bon, visiblement ça marche en préprod. On rouvrira en cas de problème.

[2014-08-25 18:21] #1062 closed, assigned to SpaceFox

[2014-08-25 18:21] SpaceFox commented on #818
On commence à avoir pas mal de PR en attente sur `dev`. Du coup pour faire avancer les choses et comme c'est le dernier ticket, je propose de sortir cette issue de la v1.0 et de la faire dès que possible.

C'est bon pour tout le monde ?

[2014-08-25 19:44] Alex-D commented on #1341
Juste pour info, j'avais déjà fait les tests d'optimisation décrits par @sandhose mais ça ne changeait rien du tout : du vide (transparent) ça ne pèse rien sur une image, donc l'optimisation se joue à quelques octets et beaucoup de problèmes d'alignements VS quelques octets de plus (mais vraiment peu) et pas de soucis en retina.

Il ne faut pas croire Google PageSpeed tout le temps non plus. On es

[2014-08-25 19:46] sandhose commented on #1341
Par rapport au PageSpeed, il râle juste à cause du sprite et des uploads. La PR #1396 optimise ce sprite

[2014-08-26 10:13] artragis commented on #818
ça me va ^^ ! Faudra le dire sur un article du site qu'on passe en V1 stable.

[2014-08-26 11:43] Eskimon commented on #818
Mouai, moyen quand meme de retirer une demande légale pour nous arranger... A mon sens la v1 ne devrait pas etre V1 sans cette fonction...

[2014-08-26 12:04] SpaceFox commented on #818
Pour moi la problématique est qu'on a plus que ce ticket dans la pile, qu'il n'est pas prêt d'être fait (dans le sens où on a même pas de PR pour ça, donc qu'on ne l'aura pas mergable avant au moins ce WE) et donc qu'il devient complètement bloquant pour "sortir" la v1.0 (je détaille après ce que je veux dire par là).

Aujourd'hui on ne peut rien faire de propre sur `dev` tant qu'on aura pas mergé

[2014-08-26 12:14] Eskimon commented on #818
Ou **d**, la réponse d ;)

Perso la solution 3 me semble une "alternative minimum" viable. Un truc genre

Ca me semble le minimum syndicale de proposer et expliquer la démarche a l'utilisateur. Une solution automatique sera bien sur la bienvenu pour éviter la charge de travail aux super-utilisateurs.

[2014-08-26 12:18] Coy0te commented on #818
Il me semble qu'on avait déjà proposé ça comme truc temporaire avec Alex,
et qu'à l'époque ça avait été acquiescé. Si oui, go go go :)

Le 26 août 2014 14:14, Eskimon notifications@github.com a écrit :

[2014-08-26 13:27] firm1 commented on #818
Je crois que l'option n'existe malheuresement pas. Pour supprimer un utilisateur aujourd'hui il faut supprimer tous ses posts (cascading toussa). Ce qui me parait illogique.

Donc, je pense qu'avant de décaler cette issue, il faut trouver une solution de contournement au problème actuel.

[2014-08-26 16:08] Nodraak commented on #1330
Il faut faire ça après que le mail soit parti, pour ne pas envoyer uniquement des mails vides.

[2014-08-27 09:43] Eskimon commented on #1389
En cliquant sur le bouton ca marche mieux ;)

[2014-08-27 09:43] #1389 closed, assigned to nobody

[2014-08-27 09:45] Eskimon commented on #1356
Quelle devrait être la portée d'une telle doc ? Expliquer le fonctionnement de chacun des modules ? Le role entre eux ?

[2014-08-27 11:45] Nodraak commented on #1385
J'ai rapidement cherché, mais j'ai rien trouvé.

Si je ne me trompe pas : la classe responsable est `code`, on a des attributs éparpillés, mais avec un _grep_ on trouve deux fichiers : `_pygments.scss` et `_all-supports.scss`. Nul pars je ne vois la mention d'un `p` ou d'une coloration de la fonte, j'ai du louper quelque chose ...

[2014-08-28 12:06] Nodraak commented on #1173
Je prend.
- Envoie d'un message lors de l'ajout d'un auteur :

- Envoie d'un message lors de la suppression d'un auteur :

Le mp est envoyé avec `send_mp`, mais j'ai du mal a comprendre l'utilité des paramètres `leave` et `direct`. Je vais laisser les valeurs par défaut. (Comprendre : une petite doc serai utile, autant les autres paramètres sont explicites, autant là c'est un peu obscure).

[2014-08-28 12:09] Eskimon commented on #87
Plop, apres 2 mois d'utilisation du site, il faut laisser ce ticket ouvert ou pas ?

[2014-08-28 12:16] cgabard commented on #87
Je pense qu'on peut fermer, ce n'est pas ce genre de chose qui semble être le goulot d'étranglement du code.

[2014-08-28 12:16] #87 closed, assigned to nobody

[2014-08-28 12:43] firm1 commented on #1173
Pour les informations a savoir (oui il faut que je documente ça):
- direct : permet d'envoyer un mail directement sans envoyer un mp d'abord (utiliser pour avertir un membre qu'il a été ban), ça n'a pas de sens de lui envoyer un mp pour ça sur le site.
- leave : c'est le paramètre qui permet au bot qui envoie les MP de sortir du MP à l'instant ou il l'a envoyé. Utile pour les MP d'informations pou

[2014-08-28 12:49] Eskimon commented on #1173
Je me met en assignee pour signaler que le ticket est réservé par @Nodraak .

Il ne faut pas oublier d'appliquer aussi ce comportement pour les articles.

Pour ce qui est du message, ca me semble tres bien et suffisant ! peut etre rajouter un

[2014-08-28 18:10] Eskimon commented on #1249
Du coup @Florianboux , maintenant que ton PC est réparé (il me semble) tu vas pouvoir terminer ce que tu avais commencé ?

[2014-08-28 18:18] Axylium commented on #1249
Yes ! Je m'y remets dès que je peux, comprenez : demain à la première heure !

[2014-08-28 18:28] SpaceFox opened #1404 "Améliorer le CONTRIBUTING.md"
Le fichier CONTRIBUTING.md peut être complété et amélioré.

En particulier il manque le passage sur les notes de QA : ce que ça change, comment reproduire.

[2014-08-28 18:43] SpaceFox commented on #1404
Attention, attendre le merge de [cette PR](https://github.com/zestedesavoir/zds-site/pull/1395) pour commencer !

**EDIT d'@Alex-D** : la PR a été mergée, il n'y a plus à attendre :)

[2014-08-28 19:08] SpaceFox opened #1405 "Refactoriser le code"
Certains de nos fichiers sont beaucoup trop longs et donc complexes à comprendre. Il faudrait les redécouper. Ceci concerne surtout les vues.

Note : ceci est une refactorisation purement technique (à fonctionnalités identiques). Les ZEP 8 et 12 sont là pour la refactorisation fonctionnelle.

[2014-08-28 21:02] Eskimon commented on #1319
Au passage, rajouter un bouton dans la sidebar "suivre/quitter les reactions de ce tuto/article" serait pas mal je pense

[2014-08-29 08:31] jcval opened #1408 "Refonte de l'affichage des participants aux MP"
Sur la page d'accueil des MP (https://zestedesavoir.com/mp/), l'affichage des participants se casse la figure lorsqu'il y en a beaucoup :
- à une époque ils chevauchaient sur le MP suivant
- maintenant ils semblent être masqués par le MP suivant

**Proposition :**

En afficher un nombre fixe (dont on est sûr que ça rentre sur n'importe quelle résolution d'écran) et afficher "et xx autres". Le surv

[2014-08-29 14:20] Alex-D commented on #1408
This is not possible.

Pour moi la seule vraie solution viable c'est que ça augmente en hauteur sans péter la mise en page.

[2014-08-29 14:21] Alex-D commented on #152
Depuis le merge de la dernière PR liée, cette page est terminée il me semble. Je ferme donc l'issue, la rouvrir s'il manque quelque chose.

[2014-08-29 14:21] #152 closed, assigned to Alex-D

[2014-08-29 14:23] jcval commented on #1408
Pourquoi ?

[2014-08-29 14:26] Alex-D commented on #1408
Parce qu'on ne peut pas prévoir toutes les largeurs et qu'on afficher plus de participants sur ordi que sur un téléphone en 320px de large. Donc pour moi, ça doit être fluide (le principe même du front du site) plutôt que de fixer arbitrairement un nombre à afficher après quoi on mettrait "et X autres".

Si on prend le cas d'un mobile type HTC Wildfire, ça m'étonnerais pas qu'on ne puisse pas mett

[2014-08-29 14:30] Eskimon commented on #1408
J'ai un HTC Desire (pas loin du Wildfire) et effectivement on est a 2 participants et encore le design a du mal a passer (mais la on tape dans les vieiiiilles resolutions)

[2014-08-30 16:30] Axylium commented on #1393
J'en profite pour en parler là, vu que ça traite des signatures. Quand nous avons une signature _longue_ et qu'on est auteur du sujet, et que donc que nous avons : « _cette réponse m'a aidé_ », cette dernière phrase, vient s'apposer sur le dessus de la signature et empêche de ce fait de voir le reste.

![capture du 2014-08-30 18 29 16](https://cloud.githubusercontent.com/assets/4312887/4099555/eda

[2014-08-30 18:35] Axylium commented on #1298
Il faudrait réouvrir de ce côté ! [Le bug est toujours présent](http://zestedesavoir.com/forums/sujet/1180/bug-envoi-dun-mp-a-soi-meme/?page=1#p19478).

[2014-08-30 20:28] pierre-24 commented on #1298
Oui et non. En gros, il manque un test pour dire que si, **après vérification des pseudos**, la liste des destinataire est vide, ça passe pas.

[2014-08-31 13:54] Alex-D commented on #1393
C'est voulu. Le site est fluide, c'est impossible de garantir que la signature sera complètement affichée correctement sur tous les supports.

[2014-08-31 13:55] Alex-D commented on #1298
Du coup, c'est vraiment un bug : on peut actuellement envoyer un MP sans participants.

[2014-08-31 16:26] pierre-24 commented on #1298
Je prend. Je vois comment régler ça. J'en profiterais pour nous rajouter de
la couverture :)

[2014-08-31 17:13] Eskimon commented on #1298
Vas sur IRC alors, @Florianboux est deja dessus

[2014-08-31 17:21] Axylium commented on #1298
Je n'ai encore rien fait, étant donné que je ne suis pas arriver à reproduire le bug en local. Donc si il sait comment régler ça, rapidement, je laisse la main ! ;-)

[2014-08-31 18:47] pierre-24 commented on #1298
Bon. À fortiori, la réouverture n'as pas lieu d'être. En effet, la dernière PR a avoir touché à ça (#1378) n'as pas été incluse dans la dernière MEP. Comme on arrive pas à reproduire le bug sur _master_ (mais bien sur _prod_ et _dev_), j'en déduis qu'il faut "simplement" attendre que ça passe en prod' :)

[2014-08-31 19:33] Eskimon commented on #1298
Je propose qu'on attende la prochaine MEP et qu'on ferme a ce moment la si tout va bien...

[2014-09-01 10:37] amorison opened #1411 "MathJax HS sur le site"
Hello,

je viens de voir que le MathJax est HS sur le site, il n'est simplement pas interprété (voir [ce sujet par exemple](http://zestedesavoir.com/forums/sujet/641/exemple-de-normes-non-equivalentes/)).

J'ai eu un petit temps d'attente lors de la connexion avec https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js (d'où sont chargés les JS). Le problème vient dont peut être de chez eux,

[2014-09-01 11:37] firm1 commented on #1411
Il faut changer le cdn `https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js` par `http://cdn.mathjax.org/mathjax/latest/MathJax.js`

[2014-09-01 12:35] Alex-D commented on #1411
Ou sinon, on se décide enfin à récupérer tous les JS dont on a besoin et à les inclure dans notre processus de minification des JS.

[2014-09-01 17:18] firm1 commented on #1411
Fx'd

[2014-09-01 18:49] SpaceFox commented on #1298
Le bug n'est corrigé qu'à moitié : je suis bloqué si j'essaie d'envoyer un MP à SpaceFox, mais pas à spacefox.

C'est complexe à tester parce que cet imb****e de SQLite n'est pas sensible à la casse, contrairement à MySQL...

Le bug étant un bug v1.x mergé par convenance, il ne bloque pas la MEP de la v1.0 (sauf si bien sûr quelqu'un trouve un fix rapide).

[2014-09-01 19:03] pierre-24 commented on #1298
Y'à un fix fait par @poulp et qui agit non plus sur le formulaire mais [directement sur la fonction d'envoi](https://github.com/zestedesavoir/zds-site/blob/dev/zds/mp/views.py#L182) pour bloquer les trucs a ce moment là. Mais comme l'as dis spacefox, c'est chaud à tester ...

[2014-09-01 19:48] firm1 opened #1416 "La branche dev est cassée"
L'[énorme merge ](https://github.com/zestedesavoir/zds-site/compare/9581825f79...4c9b3a82d7) de master vers la dev, a cassé la branche dev, les tests ne passent donc plus sur dev et travis ne build donc plus dessus.

Il faudrait réparer la dev assez urgemment, car les PRs en attente ne passent pas non plus le build à cause de ça. :(

[2014-09-01 20:31] SpaceFox commented on #1416
Je prends.

[2014-09-01 22:27] SpaceFox commented on #736
C'est facile à remettre en place ce truc ? Parce que dans le genre "fonctionnalité qui tue", ça se pose là, et ça a fonctionné !

[2014-09-02 02:31] Alex-D commented on #736
Faut remettre un bout de JS et surtout faire le design fluide qui va bien. C'est pas ultra compliqué en soit. Normalement le code back est toujours présent et fonctionnel.

[2014-09-02 06:34] Eskimon opened #1421 "Optimisation de l'affichage des post-its"
[via Eskimon](http://zestedesavoir.com/forums/sujet/1188/optimisation-de-laffichage-des-post-its/)

Sur certains forums, les post-it prennent pas mal de place. Ca pourrait etre sympa de les reduire en diminuant leur hauteur en supprimant l'auteur et la date de publication (puisque un post-it n'a que peu d'empreinte dans le temps).

Voici une idee rapide du rend, c'est subtil mais c'est un debut.

[2014-09-02 09:18] Eskimon opened #1422 "Optimisation des signalements"
Il y a deux petites optimisations qui pourrait etre faite assez simplement sur les signalements:
- L'une concerne l'input de texte. Il est assez étroit. Un textarea serait plus confortable.

![screenshot from 2014-09-02 11 13 25](https://cloud.githubusercontent.com/assets/761168/4116175/fca9c9be-3281-11e4-94cf-e3ed54fff153.png)
![screenshot from 2014-09-02 11 14 12](https://cloud.githubusercontent

[2014-09-02 13:00] Alex-D opened #1423 "[Staff] Impossible d'éditer le profil d'un membre"
Je me prends une erreur 500 (donc je n'ai pas de détail) à chaque fois que je tente d'éditer le profil d'un membre (pas moi, mais un autre). Pourtant les staff devraient pouvoir le faire.

[2014-09-02 13:36] Alex-D commented on #1422
Oula tu as pété un plomb sur les tags toi, t'as cliqué partout ?

+1 pour le textarea.

Pour ce qui est de "Résoudre" je ne sais plus quel est le problème mais je sais qu'il y avait un truc qui m'embêtait pour rajouter une marge, faudrait que je réessaye.

[2014-09-02 13:38] Alex-D commented on #1421
Je vois l'idée. Le soucis c'est que ça ajoute du code à maintenir et que si le topic est post-it + résolu + fermé : à gauche il n'y aura pas assez de place pour les trois icônes.

Du coup il faut trouver un compromis au niveau des icônes, et il faut se dire qu'il va y avoir du code "dupliqué" car deux formes de topic à maintenir.

[2014-09-02 13:44] firm1 commented on #1421
Le besoin doit primer sur la technique. On ne peut pas offrir une ihm toute moche et pas ergonomique sous prétexte que le code ne doit pas être dupliqué.

[2014-09-02 13:50] Eskimon commented on #1422
Il y a un bug et une evo, du coup deux tags...

Pour le résoudre, pour la capture d’écran j'ai mis un padding-right a l'arrache et ca a fait le résultat visible, mais je me rappel plus s'il y avait une classe particulière sur cette boite (et donc du coup s'il y avait effet de bord ou pas)

[2014-09-02 13:54] Eskimon commented on #1421
Un post-it doit-il / peut-il etre resolu ? Est-ce pertinent ? Car si c'est juste pour cette icone, on la filtre sur l'affichage des post-its... C'est ptet pas elegant, mais le fait que je dois scroller pour voir au dela des deux premiers sujet c'est pas ultime non plus...

[2014-09-02 13:56] Alex-D commented on #1421
Ok dac, donc on se dit qu'on ne met pas les post-it en résolu et en fermé en même temps.

Certes, c'est juste la prévention, je n'ai pas dit "NON, CA FAIT DU CODE EN PLUS", je dis simplement que ça va légèrement complexifier le maintient du code et augmenter la probabilité de bugs sur un code qui n'est même pas encore achevé (sur mobile c'est un peu n'importe quoi).

[2014-09-02 13:58] Alex-D commented on #1422
Faut penser aussi aux mobiles, tablettes, mini-PC, etc. Du coup faut tester dans toutes les résolutions, etc. C'était peut-être par pure flemme que je ne l'avais pas mis, mais il me semble qu'il y avait une vraie raison quand même.

[2014-09-02 13:59] Eskimon commented on #1421
"on" je sais pas, mais moi ca me derange pas de l'imaginer comme ca. Ca va perdre en coherence quand on utilisera les fitlres resolus/non resolus par contre (car l'indicateur visuel ne sera plus la).

Sinon une deuxieme solution pourrait pkoi pas de mettre les icones en ligne pour les post its.

Encore une fois j'ai pas de solution miracle, juste le probleme :D

[2014-09-02 14:04] Alex-D commented on #1330
C'est mergé !

[2014-09-02 14:04] #1330 closed, assigned to nobody

[2014-09-03 08:34] Eskimon commented on #990
ok, mon evo a ete merge !

Maintenant, est-ce qu'on garde ouvert en sachant que connecter automatiquement l'utilisateur n'est pas forcement un bon choix fonctionnel, car on ne peut pas savoir s'il veut oui ou non garder la session active ou pas...

(perso je fermerai le ticket...)

[2014-09-03 12:11] Alex-D commented on #1421
Certainement pas, encore une fois faut penser multi-support et sur mobile c'est déjà le boxon de tout rentrer, si tu mange la moitié de la largeur de l'écran avec 3 icônes, c'est la misère.

Ce n'est de toute façon pas urgent, je verrais ce que je pourrais faire au moment voulu :)

[2014-09-03 12:20] Alex-D commented on #1164
A mon sens, les bugs Markdown vont sur le repo Markdown, donc cette issue n'a pas lieu d'être, donc je la ferme.

[2014-09-03 12:20] #1164 closed, assigned to nobody

[2014-09-03 13:13] Alex-D opened #1429 "Afficher la miniature dans la liste des images d'une galerie"
Actuellement c'est la grande image qui est chargée, alors qu'on a une miniature à disposition, du coup la page prend des plombes à charger.

[2014-09-03 13:24] Eskimon commented on #1429
Pour la personne qui veut corriger, il faut changer `img.physical.url` par `image.physical.gallery.url` si je dis pas de betises, a la ligne suivante. ( @Alex-D tu confirmes ?)

https://github.com/zestedesavoir/zds-site/blob/dev/templates/gallery/gallery/details.html#L83

[2014-09-03 14:32] Alex-D commented on #1429
Ca doit être un truc de ce genre là oui, c'est pas grand chose.

[2014-09-03 16:12] firm1 commented on #1423
F'xd

[2014-09-03 16:12] #1423 closed, assigned to firm1

[2014-09-03 16:17] firm1 commented on #1341
A faire sur la prod (ce n'est pas encore le cas en sachant que c'est déjà sur la preprod) , donc c'est coté Infra.

[2014-09-03 16:20] sandhose commented on #1341
Qu'en est-il des images déjà générées ? Est-ce qu'elles seront optimisées automatiquement, ou faut le faire manuellement ?

[2014-09-03 16:30] firm1 commented on #1341
Les images déjà générés resteront non optimisées.

[2014-09-03 16:32] sandhose opened #1430 "Mettre à jour les dépendances NPM"
https://david-dm.org/zestedesavoir/zds-site

Comme on peut le voir sur ce site, nos dépendances front sont pas tout à fait à jour. C'est pas hyper-bloquant, mais je sais que ça peut poser problème à l'install sur certains système (de mémoire, la version utilisée de gulp.spritesmith a posé problème lors de mes tests avec Docker, alors que la dernière marche très bien)

Une PR est déjà ouverte: #139

[2014-09-03 16:34] sandhose commented on #1341
Hum, ok... Au cas où, il est possible de tout optimiser d'un coup sans avoir a le faire fichier par fichier avec [imagemin](https://www.npmjs.org/package/imagemin). C'est le même outil qu'on utilise pour l'optimisation des images côté front

[2014-09-03 17:22] firm1 commented on #1341
C'est pas aussi trivial. On optimise pas la source de l'image mais la
version rendue.
Le 3 sept. 2014 18:34, "Sandhose" notifications@github.com a écrit :

[2014-09-03 18:01] Alex-D commented on #1341
Qu'est-ce qui empêche de lancer un script sur le dossier qui réoptimise chaque image ?

[2014-09-03 19:49] Alex-D commented on #990
Il y a un bouton de déconnexion pour ça au pire.

Et personnellement je fermerais aussi car le problème diffère selon moi.

[2014-09-03 19:54] Alex-D commented on #1416
Ca a été mergé donc ceci est résolu, je ferme.

[2014-09-03 19:54] #1416 closed, assigned to SpaceFox

[2014-09-03 20:14] Alex-D opened #1432 "Les tests front lancés par travis ne sont pas optimaux par rapport à ce qu'on a"
Actuellement, travis se contente de vérifier que les JS sont valides, or il serait préférable de tester tout le Gulpfile en construisant le zip `pack.zip` qui nécessite de passer dans toutes les taches (sauf watch, mais ça on ne peut pas le tester et ça n'influe pas sur le bon fonctionnement du reste, simple confort durant le développement).

[2014-09-03 21:02] firm1 commented on #1341
Ce n'est pas possible tout simplement.
Le 3 sept. 2014 20:01, "Alexandre Demode" notifications@github.com a
écrit :

[2014-09-03 21:02] SpaceFox commented on #1341
Une question de volumétrie, ou autre chose ?

[2014-09-03 21:05] firm1 commented on #731
Pourquoi l'assigner ici ? Je ne m'en occupe pas. Il faudrait la laisser
vide pour que quelqu'un d'autre la prenne.
Le 3 sept. 2014 21:55, "Alexandre Demode" notifications@github.com a
écrit :

[2014-09-03 21:11] firm1 commented on #1341
Compresser la source des images ne donne aucune garantie de la
disponibilité des miniatures existantes.
Le 3 sept. 2014 23:02, "SpaceFox" notifications@github.com a écrit :

[2014-09-03 21:14] sandhose commented on #1341
J'ai pas compris le problème. Pour moi, l'idée c'était juste de lancer un script qui cherche _toutes_ les images uploadées (dossier /media de mémoire), et de les passer par imagemin pour les optimiser...

[2014-09-03 21:17] Alex-D commented on #1341
Ce que je disais, c'est tout comme @sandhose du coup je ne comprends pas où se situe le problème. A priori toutes les images sont dans un même dossier (originales et redimensionnées) donc peut lancer un truc qui couvre absolument toutes les images (originales et miniatures et tout), non ?

[2014-09-03 21:18] SpaceFox commented on #1341
Je ne comprends plus rien non plus. @firm1 je crois qu'il est temps de faire une explication complète.

[2014-09-03 21:19] firm1 commented on #1341
La flemme là de me refarcir la doc : http://easy-thumbnails.readthedocs.org/en/2.1/

[2014-09-03 21:36] Alex-D opened #1436 "Ajouter les liens vers les réseaux sociaux sur le site"
[Source](http://zestedesavoir.com/forums/sujet/1184/acces-depuis-le-site/)

La suggestion est simple et intéressante : ajouter les liens vers Twitter, Facebook et G+ sur le site.

Une solution toute indiquée semble être le pied de page, a minima.

[2014-09-03 21:45] Alex-D commented on #1341
Là on ne dit pas de repasser par easy-thumbnails mais de faire tourner un script externe (genre avec node.js) qui va compresser l'existant, après easy continue son taf pour la suite des événements.

[2014-09-03 21:59] Alex-D commented on #1357
J'avance sur la documentation petit à petit, le tout en local pour l'instant.

[2014-09-03 23:10] Alex-D commented on #731
Parce que pour l'instant c'est toi qui t'en charge au niveau de l'import. C'est un peu compliqué d'exprimer "il y a quelqu'un partiellement sur le coup", mais du coup pourquoi pas laisser vide. C'est pas faux.

[2014-09-03 23:35] Alex-D commented on #1347
J'ai réfléchi au fil d'Ariane, le soucis est que ce sont des tags catégorisés, il est donc incohérent de ranger un tutoriel dans un de ces tags de façon "prioritaire".

Pour la sidebar, comme énoncé, rien ne changera à cause du nombre de boutons disponibles.

Pour le fil d'Ariane d'un tag, cela viendra également avec le temps, mais il sera possible de filtrer par la catégorie mère uniquement puis

[2014-09-04 00:04] Alex-D commented on #1151
Je mets à jour cette issue en retirant @AmarOk1412 qui a l'air d'être sur autre chose et en mettant le bon tag : c'est un soucis de back et non de front.

[2014-09-04 00:29] Alex-D commented on #402
Bon, j'ai regardé la doc, j'ai regardé les forums, et j'ai analysé ce que fait tout ce bouzin.

Le résumé de l'histoire :
- Le CDN est très bien configuré, c'est donc un peu long la première fois, le reste du temps c'est rapide puisque le cache est réglé à fond
- Les JS sont chargés à moins de 1s du lancement du chargement de la page en moyenne (quand c'est pas la première fois)
- La totalité des

[2014-09-04 00:32] Alex-D commented on #1393
Du coup, je considère ce ticket comme résolu, car tout ce que vous me dites est voulu, pensé et réfléchi (bien que discutable, mais il faut bien faire des choix à un moment).

[2014-09-04 01:06] Alex-D opened #1443 "Diff sur les articles"
On a actuellement des diffs sur les tutoriels, il faudrait faire de même sur les articles.

[2014-09-04 01:08] Alex-D opened #1444 "[Staff] Ajouter les métadonnées des utilisateurs"
Il manque, par rapport à ce qui était prévu à la base :
- le karma de l'utilisateur (par rapport à ses sanctions)
- ses adresses IP

Les éléments front sont globalement prêts.

[2014-09-04 01:09] Alex-D commented on #308
Je viens de check, les TODO du front sont en fait des TODO qui attendent de nouvelles fonctionnalités du back globalement.
- diff sur les articles, que j'ai rapporté dans #1443
- métadonnées sur l'utilisateur (sanctions, IP), dans #1444

Il reste donc : design de l'export des tutoriels en HTML ; et ça c'est vraiment du front, faut faire joujou avec le CSS.

[2014-09-04 06:12] Eskimon commented on #1444
C'est a dire que c'est pret dans le front mais le back le renvoi pas ou le contraire ? (je suppose que le back te les renvoi pas vu le tag "Back" ;) )

[2014-09-04 06:30] Eskimon commented on #1432
Du coup on peut fermer ici ?

[2014-09-04 06:32] Eskimon commented on #990
Je laisse un DTC trancher (ping @SpaceFox / @ArnaudCalmettes )

[2014-09-04 06:32] SpaceFox commented on #402
OK, merci pour cette analyse. Je ferme, on réouvrira si on a un problème.

[2014-09-04 06:32] #402 closed, assigned to nobody

[2014-09-04 06:34] Eskimon commented on #1430
Meged, je ferme :)

[2014-09-04 06:34] #1430 closed, assigned to sandhose

[2014-09-04 06:34] SpaceFox commented on #1393
Pour moi le problème n'est pas résolu : le sujet d'origine, c'est la longueur du champ technique qui empêche de mettre plusieurs liens si le href des liens est trop long.

La taille d'affichage dont parle @Florianboux  est à moitié un HS - mais je suis d'accord, ce point est résolu.

[2014-09-04 06:35] SpaceFox commented on #1443
Ca viendra sans doute avec la ZEP d'unification des articles et tutos (mais
je plusseoie l'idée).

2014-09-04 3:06 GMT+02:00 Alexandre Demode notifications@github.com:

[2014-09-04 06:39] SpaceFox commented on #990
Je veux bien un résumé fonctionnel, parce que je ne suis pas certain de bien comprendre le choix là :)

[2014-09-04 06:49] Eskimon commented on #990
Resume rapide:

AVANT: Quand le nouvel utilisateur valide son compte, il est invite a se connecter via un nouveau clic pour l'emmener vers le formulaire de connexion

APRES: Le formulaire de connexion est présenté sur la page "compte validé" avec le chanp de pseudo pre-remplie.

Question: Au lieu de presenter le formulaire, pourquoi ne pas carrément connecter le membre avec se souvenir de moi par

[2014-09-04 09:34] Eskimon commented on #1328
Merged -> closed !

[2014-09-04 09:34] #1328 closed, assigned to Alex-D

[2014-09-04 13:03] Alex-D commented on #990
Non, il ne faut pas connecter automatiquement l'utilisateur, car c'est un coup à ce qu'il ne se souvienne plus jamais de son mot de passe, et parce qu'il faut lui laisser le choix de la connexion pérenne ou non, malgré la possibilité de déconnexion. Ca va à l'encontre de l'ergonomie et de l'expérience utilisateur acquise par tous : tu valide ton compte, ça ne veut pas dire "je me connecte".

TL;DR

[2014-09-04 13:06] Alex-D commented on #1393
Exact, j'avais mal interprêté en relisant, je n'avais pas le bon point de vue.

Du coup, c'est un soucis purement back et une solution qui avait été énoncée est de :
- mettre une longueur de champ assez longue, à la fois à l'input et au champ en BDD
- parser la chaîne de MD à HTML, puis faire un striptags et tester si cette longueur est inférieure à celle que l'on souhaite

[2014-09-04 13:07] Alex-D commented on #1432
Exact : mergé -> fermé.

[2014-09-04 13:07] #1432 closed, assigned to Alex-D

[2014-09-04 13:52] Alex-D commented on #1444
C'est inexistant côté back pour le karma (a priori) et les IPs je suppose qu'elles sont quelque part mais on a aucune vue dessus.

Et en gros, [le front est prêt à accueillir tout ça](https://github.com/zestedesavoir/zds-site/blob/dev/templates/misc/message_user.html#L13).

[2014-09-04 14:08] Alex-D commented on #1347
C'est fait, mergé, donc on ferme. Merci à toi pour tes remarques :)

[2014-09-04 14:08] #1347 closed, assigned to Alex-D

[2014-09-04 14:10] Alex-D commented on #1079
Avec les modifications apportées dans la #1406, le soucis ne se présente plus, je considère donc ce ticket comme résolu, je ferme.

[2014-09-04 14:10] #1079 closed, assigned to Eskimon

[2014-09-04 14:12] Alex-D commented on #1349
Ceci a été fait dans la #1406, je ferme :)

[2014-09-04 14:12] #1349 closed, assigned to Eskimon

[2014-09-04 14:15] Alex-D commented on #1341
C'est fait pour ce qui est du sprite côté front avec la #1396 de @sandhose que je viens de merger.

[2014-09-04 15:32] Glaived opened #1447 "Page 404 :. Ajout de Clem"
Bonjour,
Me demandez pas pourquoi, mais j'ai pensé qu'il serait bon, d'ajouter Clem sur la page 404, voir d'autres pages d'erreurs, avec pour idée qu'elle est des yeux de chien battus, et un _sourire triste_

Qu'en pensez vous ?

[2014-09-04 15:47] Nodraak commented on #1151
Sur une erreur 500, en plus du tag de version git, le fait qu'on soit log-é disparait (l'icone et les menus en haut a droite)

[2014-09-04 16:09] firm1 opened #1448 "Badge de suivi des dépendances python du projet"
Avec la PR #1418 , on va fixer les dépendances python, par contre, pour éviter de suivre chaque dépendances tous les jours, il serait fort souhaitable de rajouter un badge dans le readme qui analyse la qualité de nos requirementss.

Il suffit donc pour un admin du dépot de créer le badge ici : https://requires.io/ et de le rajouter dans le readme.

[2014-09-04 16:11] SpaceFox commented on #1448
Excellente idée !

[2014-09-04 16:13] SpaceFox commented on #1448
Sur quels projets de ZesteDeSavoir en a-t-on besoin ? Juste zds-site ? (tant que j'y suis hein...)

[2014-09-04 16:16] firm1 commented on #1448
Tout ceux qui ont des dépendances a mon avis.

[2014-09-04 19:38] Alex-D commented on #1324
Corrigé, testé, approuvé, mergé, je ferme :)

Ca arrivera donc dans une prochaine mise en prod'

[2014-09-04 19:38] #1324 closed, assigned to Alex-D

[2014-09-04 19:39] Alex-D commented on #1447
Doublon : https://github.com/zestedesavoir/zds-site/issues/1028

Déjà prévu et partiellement fait.

[2014-09-04 19:39] #1447 closed, assigned to nobody

[2014-09-04 19:44] Alex-D commented on #1429
Voilà qui est fait, je ferme.

[2014-09-04 19:44] #1429 closed, assigned to Alex-D

[2014-09-04 19:44] Alex-D commented on #1385
Correctif fonctionnel mergé, je ferme.

[2014-09-04 19:44] #1385 closed, assigned to nobody

[2014-09-04 20:19] Alex-D commented on #1345
Merci pour tes remarques, j'ai appliqué ce qui était faisable par rapport à notre architecture.

Mergé, je ferme.

[2014-09-04 20:19] #1345 closed, assigned to Alex-D

[2014-09-04 20:20] Alex-D commented on #1346
Voilà, les correctifs recommandés ont été globalement appliqués. Merci pour tes remarques.

Mergé, je ferme.

[2014-09-04 20:20] #1346 closed, assigned to Alex-D

[2014-09-04 20:24] Alex-D commented on #1151
Sur une 500, c'est normal, erreur interne ça bloque pas mal de choses et la session doit en faire partie.

[2014-09-04 20:59] Alex-D commented on #1311
Mergé -> fermé.

[2014-09-04 21:00] #1311 closed, assigned to Alex-D

[2014-09-04 21:10] Alex-D commented on #1422
Fait, mergé, je ferme.

[2014-09-04 21:12] pierre-24 opened #1450 "Incohérence dans la soumission"
Lorsqu'on soumet un tutoriel, les commentaires de validations se font dans un `input`, alors que c'est dans un `textarea` pour les articles (ce qui me semble d'ailleurs plus logique). C'est pareil pour les modales de validation des tutoriels (ou de refus). Pour moi, `textarea` est plus adapté.

[2014-09-04 21:15] pierre-24 opened #1451 "Erreur message de validation des articles"
Lorsqu'on soumet la validation d'un article, si on le visite, on voit le message "Une autre version de cet article est en attente d'un validateur", avec le lien qui pointe sur `?version=None`. Je parie qu'il manque simplement l'information de version à transmettre du le back et que donc le front réagit bizarrement.

[2014-09-04 21:19] pierre-24 opened #1452 "Interprétation des textes des modales"
Les textes des modales ne sont jamais intérpretées. Par exemple, le texte issus de la demande de validation d'un article ou d'un tutoriel (bien qu'il ne s'agisse pas d'un champ de type `textarea`) est reproduit tel quel, sans retours à la ligne. C'est également le cas du texte de signalement d'un post.

[2014-09-04 21:31] Alex-D commented on #1452
Je tiens à signaler que le fait que ça sorte des modales n'est pas lié techniquement, c'est juste qu'il se trouve que les zones de saisie concernées sont globalement celles qui sont dans les modales (validation, signalement, ...)

[2014-09-05 03:58] firm1 commented on #1304
Fx'd

[2014-09-05 03:58] #1304 closed, assigned to firm1

[2014-09-05 06:33] Eskimon commented on #1450
Pour les commentaires de demande de validation de tutoriels c'est la: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/forms.py#L368

Pour la validation de validation: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/forms.py#L405
Pour refus de validation: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/forms.py#L447

Donc finalement c'est du back (alo

[2014-09-05 07:50] devock opened #1453 "Empêcher le référencement des tutos en beta"
On a actuellement des erreurs 500 dans le Google Webmaster Tools sur les tutoriels en beta.

Donc si un tuto est en beta il ne doit pas être référencé, car l'url change dès que l'on met à jour son tutoriel, pour cela  il faut afficher le balise meta suivante :

`<meta name="robots" content="noindex">`

[2014-09-05 09:09] SpaceFox opened #1454 "Adresse mail de contact inutilisables"
Certaines pages (au moins la page de contact et les CGU) utilisent l'adresse association@zestedesavoir.com ; or si j'ai bien compris seules certaines personnes (CA de l'association) peuvent envoyer des informations sur cette adresse...

Il faudrait :
- Soit l'ouvrir à tous
- Soit changer l'adresse par une adresse utilisable par tous (mais qui ?)

[2014-09-05 09:13] pierre-24 commented on #1450
Peu m'importe que ce soit du back ou du front, le fait est que ça serait mieux si c'était cohérent ;)

[2014-09-05 09:39] SpaceFox opened #1455 "Passer à Django 1.7"
Pourquoi ? Pour profiter des améliorations (j'avoue, je ne sais pas encore ce qu'il y a exactement dedans, mis à part l'intégration de l'équivalent de South).

[2014-09-05 10:08] MikeElghali commented on #1347
Bonjour,
Bravo à toi et ton équipe pour le travail que vous faites.
Je suis pas mal pris en ce moment mais dès que j'aurai un moment de libre je reviendrai vers vous pour de nouvelles idées / remarques.

Bon courage !

[2014-09-05 11:46] firm1 commented on #1454
On ne pourrais pas tout simplement rediriger "association@zestedesavoir.com" vers l'adresse gmail de comm qui, elle rajouterai une règle de redirection vers le groupe CA ?

[2014-09-05 12:37] Eskimon commented on #1453
C'est réglé !

[2014-09-05 12:37] #1453 closed, assigned to nobody

[2014-09-05 13:28] AmarOk1412 commented on #1151
Oups oui, j'avais zappé cette issue et je suis un peu pris.

[2014-09-05 13:46] firm1 commented on #1393
Pour information, pour résoudre cette issue, il faudrait
- faire sauter la limite des 250 caractères en modifiant [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/models.py#L56) par ça :

[code]
- lancer la génération des fichiers de migrations (en ligne de commande) :

[code]

Et ça devrait faire une jolie PR !

[2014-09-05 13:51] Eskimon commented on #1393
C'est pas suffisant, il faudra tout de meme limite en longueur la signature "rendu en MD" si on veut pas que des petits malins mettent des signatures qui font des kilometres mais que l'on affiche pas.

[2014-09-05 13:53] firm1 commented on #308
Je serais plutot d'avis de transformer tout les TODO dans le code par des issues (pour le suivi de ce qu'il faut faire) ou des PR (pour les corriger).

Y'a un paquet d'issues cachés là dedans.

[2014-09-05 13:59] firm1 commented on #1393
s'il a un écrans quifait des kilomètres à l'instar de sa signature, ça sera affiché :)

On ne peut pas juger de la limite au poil près (ça dépend du support), donc si le mec met un message super long, tout dépend de son écran.

[2014-09-05 14:00] Eskimon commented on #1393
Et le mec qui te met l'integrale des miserables dans sa signature ?

[2014-09-05 14:08] SpaceFox commented on #308
C'est un exemple de résolution de cette issue :)

Le 5 septembre 2014 15:53, firm1 notifications@github.com a écrit :

[2014-09-05 14:13] firm1 commented on #1393
En effet :). J'édite mon message donc.

[2014-09-05 16:47] Eskimon commented on #738
Corrigé -> Mergé :)

[2014-09-05 16:47] #738 closed, assigned to firm1

[2014-09-05 16:48] Eskimon commented on #738
Arf j'ai ptet fermé un peu vite... J'ai pas vérifié aves des accents...

[2014-09-05 17:16] Eskimon commented on #1346
Le vert pétant comme ca pour les boutons est franchement bien bien moche... Le bleu d'avant était vraiment plus élégant...
Je vois pas pourquoi un bouton de connexion ou d'enregistrement devrait être absolument vert pour être compris, le texte est quand même la pour ca non ?

[2014-09-05 17:48] pierre-24 commented on #1455
Est ce que le passage à python 3 est une utopie, soit dit au passage ? (c'est pas tout à fait hors-sujet)

[2014-09-05 17:51] pierre-24 opened #1457 "Multi ajout de destinataires dans les MPs"
Pour le moment, il est possible d'ajouter le même destinataires plusieurs fois dans dans un MP. Ça n'impacte heureusement pas l'envoi du MP (qui n'est pas envoyé en double), c'est une considération qui est plutôt d'ordre esthétique dans ce cas.

[2014-09-05 17:58] sandhose commented on #1448
Du coup, on pourrait rajouter au passage le badge [David](http://david-dm.com/), qui track les dépendances npm

[![Dependency Status](https://david-dm.org/zestedesavoir/zds-site.svg)](https://david-dm.org/zestedesavoir/zds-site)

[2014-09-05 20:40] pierre-24 opened #1458 "On devrait télécharger les archives de tutoriels en ZIP et non en tar"
Ainsi que discuté avec la PR #1342, le choix du tar pour le format des archives de tutoriels est certes facile à mettre en place du coté code mais pas forcément facile à employer, car il s'agit d'un format qui n'est pas utilisable par défaut sur Windows. Pour assez peu de coup de développement, je pense qu'il serait intéressant de passer à des archives au format zip, qui sont elles accessible par

[2014-09-05 20:44] pierre-24 commented on #1451
Je prend :)

[2014-09-05 21:10] pierre-24 commented on #1451
Je n'ai rien dit, c'était un article mal créé...

[2014-09-05 21:10] #1451 closed, assigned to nobody

[2014-09-05 21:44] MikeElghali commented on #1346
Tu as un screen pour que je regarde ça ?

C'est une convention. et c'est bien plus visible que le texte.

Le tout est de mettre la couleur de nuance vert en adéquation avec la nuance des autres couleurs.

Je pourrai aider si j'ai un screen de ce bouton.

[2014-09-05 22:56] Alex-D commented on #1346
J'ai mis le même vert que celui du karma, sinon ça élargit encore la palette et ça va devenir le carnaval. Au pire on test, si c'est vraiment pas terrible on reviendra au bleu.

[2014-09-05 23:29] Alex-D commented on #1301
Ca a été corrigé, mergé, donc je ferme.

[2014-09-05 23:29] #1301 closed, assigned to sandhose

[2014-09-06 09:03] Eskimon commented on #1172
C'est réglé !

[2014-09-06 09:03] #1172 closed, assigned to firm1

[2014-09-06 09:08] pierre-24 opened #1459 "Adapter le flux rss par défaut en fonction de la page visitée"
Le flux RSS principal (celui renseigné dans l'header du site) est actuellement le flux RSS qui reprend les derniers messages du forum. Ma proposition (en rapport avec #1414 qui met en place tout ce bazar là coté back) est d'adapter le flux RSS à la page visitée:
- [x] Page quelquonque : flux rss des [tutoriels|articles] (?)
- [x] Page reprenant les tutoriels : flux rss des tutoriels
- [x] Page rep

[2014-09-06 09:17] Eskimon commented on #1282
Mergé !!

[2014-09-06 09:23] pierre-24 commented on #1282
.. Pas tout à fait, on a pas tenu compte des "améliorations sympas" de gustavi. Bon, le RSS pour les notifs, avec l'extention navigateur, c'est un peu _useless_. Par contre, j'aimerai qu'on garde en tête l'idée du RSS pour les modifs de tutos et leur commentaires ... Ça peut être sympa.

[2014-09-06 09:29] Eskimon commented on #1282
Je réouvre alors pour faire une deuxieme PR plus tard ;)

[2014-09-06 09:32] Eskimon commented on #991
Corrigé, mergé toussa...

[2014-09-06 09:32] #991 closed, assigned to firm1

[2014-09-06 10:29] pierre-24 commented on #1458
Je prend !

[2014-09-06 10:31] pierre-24 opened #1460 "Téléchargement de l'archive : pas de versionning"
Quand on télécharge l'archive d'un tutoriel, c'est toujours la dernière version (donc _draft_) qui sort, et non la version en ligne.

[2014-09-06 10:57] Eskimon commented on #1460
Est-ce vraiment un problème ? C'est plutôt normal non ? (a moins que tu parles du cas ou une personne non auteur télécharge la version public ?)

[2014-09-06 10:59] pierre-24 commented on #1460
C'est de ça dont je veux parler. En gros, sur la version publique des tutos, actuelement, y'a moyen d'avoir les modifs en preview :p

[2014-09-06 11:15] pierre-24 commented on #1460
Je prend, j'ai trouvé comment faire et je vais coupler ça à #1458 (à l'aide de `ZipFile.writestr()`, [voir ici](https://docs.python.org/2/library/zipfile.html#zipfile.ZipFile.writestr) ). Comme ça, on fait pas un fix pour les tar qui sert à rien.

[2014-09-06 14:19] Eskimon commented on #1173
Hop, c'est fait !

[2014-09-06 14:19] #1173 closed, assigned to Eskimon

[2014-09-06 16:15] Eskimon commented on #1450
Je m'en occupe :)

[2014-09-06 16:24] SpaceFox commented on #1455
Tant qu'on a.des dépendances non Python 3, oui.
Le 5 sept. 2014 19:48, "Pierre Beaujean" notifications@github.com a écrit
:

[2014-09-06 20:00] pierre-24 opened #1463 "Mise en cache des archives"
Les archives correspondants au tutoriels et articles dans leur version publiée devrait être mis en cache afin de ne pas être régénérée à chaque fois.

[2014-09-07 13:19] gustavi commented on #1455
Le problème ça va être les dépendances qui ne sont pas compatibles python3 et Django1.7. Vu le nombre des ZdS il va peut être falloir faire des forks temporaires.

[2014-09-07 15:00] pierre-24 commented on #1226
Je prend. Ça devrait pas être monstrueusement long à faire ;)

[2014-09-07 16:22] Alex-D commented on #1459
C'est simple, mais chiant à faire.

En gros, c'est pas du back, mais du front : faut faire joujou avec le RSS qu'on lie dans le head de la page... sans tout casser.

[2014-09-07 16:24] pierre-24 commented on #1459
Je m'attendais à ce que ce soit un truc du genre ;)

[2014-09-07 17:22] Eskimon commented on #1458
Ca roule !

[2014-09-07 17:22] #1458 closed, assigned to pierre-24

[2014-09-07 17:22] Eskimon commented on #1460
Tout marche ici !

[2014-09-07 17:22] #1460 closed, assigned to pierre-24

[2014-09-07 17:39] Alex-D opened #1468 "Promotion : mauvaise pratique."
Il s'agit de ce fichier : https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/settings/promote.html

On peut y voir une gestion d'erreur dans le template, or il faudrait que ce soit fait côté back et que ce test n'existe pas dans le template.

[2014-09-07 20:10] SpaceFox commented on #1463
Je pensais que c'était fait tiens. Mais AMHA c'est du back et pas de l'infra.

[2014-09-07 20:31] pierre-24 commented on #1463
C'est pas le cas et quand bien même je ne sais pas ou j'irais stocker ça dans la structure du site actuellement :)

[2014-09-07 20:52] Eskimon commented on #731
Hop, l'import est fait !

[2014-09-08 07:19] Coy0te opened #1470 "[Admin Tutos] URL canonique"
Lorsqu'on souhaite demander la validation d'un tuto, ou en publier un, on doit rentrer un champ "URL de la version originale", pour renseigner correctement le lien canonical dans le cas des tutos importés d'autre sites.

C'est très bien, sauf qu'à chaque nouvelle demande de validation ou publication d'un cours dont l'URL est pourtant déjà renseignée, on doit la fournir à nouveau...

Il faut pré-re

[2014-09-08 07:31] Eskimon commented on #1470
Ca m'a l'air deja réglé dans le code :

https://github.com/zestedesavoir/zds-site/blob/581572fcd7dfd9c2487ab43a175b9fb9701e3a8a/zds/tutorial/views.py#L888

(et ca c'est pour la version actuellement en ligne : https://github.com/zestedesavoir/zds-site/blob/9dc0e98d371047ba5c8fbcae2d29b611fcc7a26c/zds/tutorial/views.py#L725 )

Qqun pour confirmer ?

[2014-09-08 07:39] Coy0te commented on #1470
Et c'est censé marcher en prod ? Ou bien ça n'a pas encore été poussé ?

2014-09-08 9:31 GMT+02:00 Eskimon notifications@github.com:

[2014-09-08 08:13] firm1 commented on #1470
D'après les link d'Eskimon, c'est déjà en prod

[2014-09-08 08:25] Coy0te commented on #1470
Vous reproduisez, ou c'est juste moi ?

Testez de demander à valider le tuto Pixologic par exemple; il contient
déjà un canonical mais ne le préremplit pas lors de la demande de
validation.

Le 8 septembre 2014 10:13, firm1 notifications@github.com a écrit :

[2014-09-08 08:26] Eskimon commented on #1470
Non, d'apres mes liens en prod ce n'est pas present, mais si qqun essaie de reproduire sur une version a jour en local ca devrait etre bon.

Desole je me suis mal exprime plus tot. En resume : OK dans le code (lien 1) mais pas encore en prod (lien 2).

[2014-09-08 08:58] firm1 opened #1472 "Design mobile : Affichage de la liste des topics"
- Les images se posent par dessus les autres
- Et l'affichage est complètement décalé

Navigateur : Chrome/Firefox sur Android

Une image pour illustrer le souci :

![](http://img4.hostingpics.net/pics/760073Screenshot20140809132948.png)

[2014-09-08 10:04] firm1 opened #1473 "Le texte dépasse des zones de texte dans le forum"
Une image pour illustrer le souci :

![](http://zestedesavoir.com/media/galleries/784/44f3cba2-69a9-493d-ae15-b959d49a2027.png.960x960_q85.jpg)

[2014-09-08 10:08] firm1 opened #1474 "Le sous titre est souligné au hover dans les MP"
Sur la liste des MP, lorsqu'on passe la souris sur le mp, le Titre du MP se souligne. Normal. Le truc pas beau c'est que le Sous-titre du mp se souligne aussi…

[2014-09-08 11:39] firm1 opened #1475 "Plus d'icones pour le design"
Actuellement le site dispose d'un nombre assez limité d'icones il en faudrait un peu plus pour illustrer certains bouton. La liste actuelle des icones disponibles est [celle-ci](https://github.com/zestedesavoir/zds-site/tree/dev/assets/images/sprite%402x).

Il manque donc :
## Des icones sociales

La [ZEP-07](http://zestedesavoir.com/forums/sujet/709/zep-07-champs-personnalises-dans-le-profil/), l

[2014-09-08 11:44] firm1 opened #1476 "Lisser le logo du site"
Lorsqu'on rapproche un peu nos yeux du logo, on constate qu'il est pas mal pixélisé, et ça ne rend pas joli.

Il faudrait un truc assez propre en svg.

[2014-09-08 11:52] firm1 opened #1477 "Les titres des tutoriels et articles long sont invisibles"
Actuellement dans la [liste des tutoriels](http://zestedesavoir.com/tutoriels/), le texte affiché est limité à 35 caractères. Pour les tutoriels avec un long titre, ce n'est pas très pratique.

La preuve en image

![](http://i.imgur.com/3JpziaR.png)

Il faudrait :
- soit réduire la taille de la police
- soit faire passer le texte sur plusieurs lignes

[2014-09-08 11:53] Alex-D commented on #1476
Le logo est déjà en `@2x`, s'il est pixelisé, c'est soit que ton écran est en `@3x` (rare pour l'instant) soit qu'il a une mauvaise qualité.

[2014-09-08 11:55] Alex-D commented on #1475
Il faut une liste précise des icônes souhaitées, là comme ça on ne peut pas faire grand chose sans qu'on se pointe deux jours après avec un "en fait faudrait rajouter cette icône là".

En soit, c'est assez simple d'en rajouter, mais c'est mieux de tout faire d'un coup, notamment s'il y a de l'automatisation à faire.

[2014-09-08 11:59] firm1 commented on #1476
Perso quand je vais ici : http://zestedesavoir.com/static/images/logo@2x.png je vois encore des gros pixel partout.

[2014-09-08 12:00] Alex-D commented on #1477
Il n'y avait pas déjà une issue à ce sujet ?

Sinon la solution qui sera adoptée ne sera ni l'une ni l'autre, mais afficher le titre complet au survol.

EDIT : Et aussi, passer sur 2 colonnes au lieu de 3 pour avoir plus de largeur.

[2014-09-08 12:01] SpaceFox commented on #1476
Je confirme que le logo @x2 est baveux.

[2014-09-08 12:01] Alex-D commented on #1476
Oh, en effet, ça doit être l'ancienne version qui a traversé les époques... je corrigerais ça, on a une version vectorielle dans les cartons de toute façon.

[2014-09-08 12:01] SpaceFox commented on #1477
Je ne trouve pas ça pratique personnellement, devoir survoler pour avoir le
titre complet.

Le 8 septembre 2014 14:00, Alexandre Demode notifications@github.com a
écrit :

[2014-09-08 12:03] Eskimon commented on #1477
http://zestedesavoir.com/forums/sujet/823/page-des-tutoriels/

[2014-09-08 12:06] firm1 commented on #1475
Itération, itération ...

Voilà déjà une liste des icones identifiée. On ne pourra jamais prévoir toute les icones du site jusqu'à la v42. De toute façon ce n'est pas comme ci rajouter une icone demain allait obliger à revoir toutes les autres.

[2014-09-08 12:09] cgabard commented on #1477
Moi non plus. Ça a été décidé/acté où ça ? J'ai pas vu passer le débat

[2014-09-08 12:43] Alex-D commented on #1472
Doublon de #935

[2014-09-08 12:43] #1472 closed, assigned to nobody

[2014-09-08 12:45] Alex-D commented on #1475
Je me doute, mais itération = moins d'automatisation = perte de temps. Si à cet instant tu sais de quoi tu as besoin, liste-le et on gagnera tous du temps :)

[2014-09-08 12:46] Alex-D commented on #1474
C'est pas un bug, c'est un lien, il est souligné, c'est normal. Il s'agit là d'un simple problème d’esthétique. Merci d'éviter de tout mettre dans "BUG" qui me semble regrouper les choses les plus urgentes à corriger.

[2014-09-08 12:56] firm1 commented on #1475
Je ne vois pas a quel moment on perd du temps, il suffit de rajouter les icones adéquates dans le dossier adéquat et gulp les mets dans la sprite adéquate et voila. D'autres personnes pouront se servir ensuite.

La liste que j'ai mis dans le premier post est la liste de celles dont le besoin se fait sentir, donc c'est "à faire" de toute façon.

[2014-09-08 12:58] firm1 commented on #1474
Dans ce cas, c'est un problème de sémantique, un sous titre ne devrait pas être un lien. Et donc c'est bien un bug il me semble.

[2014-09-08 13:14] Alex-D commented on #1474
Pourquoi donc le sous-titre ne devrait pas être dans le lien ? S'il n'est pas dans le lien, un aveugle qui liste les liens n'aura que le titre et perdra l'information du sous-titre, renforçant alors l'idée que j'ai émise à ce sujet en disant que les sous-titre sont inutiles.

[2014-09-08 13:16] Alex-D commented on #1475
Faire des icônes, les redimensionner, les mettre aux coloris du site, ça prend du temps si on veut le faire correctement, d'où une certainement automatisation. Pour la suite, en effet, c'est très simple.

Okédac !

[2014-09-08 13:33] Alex-D opened #1481 "Nettoyer les vestiges du teasing"
Un dossier /teasing/ est restant dans les assets : à supprimer.

[2014-09-08 14:21] Alex-D commented on #1477
La solution optée dans cette PR est :
- afficher le titre complet au survol
- diminuer le nombre de colonnes pour laisser plus de place en largeur et donc voir le titre de façon plus ample

On ne peut pas garantir un affichage optimal sur toutes les résolutions. Quand Firm1 dit "c'est limité à X caractères" c'est faux. C'est limité à X caractères par rapport à sa résolution, qu'il n'a pas mentionn

[2014-09-08 14:22] Alex-D commented on #1477
Nul part.

[2014-09-08 15:24] cgabard commented on #1477
Il faudrait peut être commencé par ça donc, non ?

[2014-09-08 15:31] Eskimon commented on #1468
Ok

[2014-09-08 15:31] #1468 closed, assigned to Alex-D

[2014-09-08 15:36] firm1 opened #1486 "Lien vers les réseaux sociaux dans le footer"
Lorsqu'on arrive sur le site, on ne retrouve aucun lien vers les réseaux sociaux. C'est pas tip top pour nous.

Solution : rajouter dans le footer au mois notre twitter et facebook.

[2014-09-08 15:38] SpaceFox commented on #1486
Si possible, éviter que cette feature oblige l'utilisateur à télécharger les tonnes de JS et de traceurs desdits réseaux sur chaque page.

[2014-09-08 15:39] firm1 opened #1487 "Les catégories de tutoriels suivent un ordre d'affichage inconnu"
Que se soit sur la page d'acceuil ou dans la topbar, on ne sait pas vraiment quel est l'ordre d'affichage des catégories et sous catégories.

Solution : définir des positions pour les catégories (pour éviter d'avoir la catégories Autres en première position par exemple) et ranger par ordre alphabetique pour les sous catégories.

[2014-09-08 15:47] Alex-D commented on #1486
On va se contenter de liens, je suis contre les boutons qui affichent le nombre de personnes qui ont aimé/follow car ça alourdi pour rien les pages.

[2014-09-08 17:18] #1481 closed, assigned to Alex-D

[2014-09-08 17:19] #1473 closed, assigned to Alex-D

[2014-09-08 17:19] #1476 closed, assigned to Alex-D

[2014-09-08 21:13] SpaceFox commented on #1448
C'est bizarre comme truc : les badges ont le nom de la branche dans l'URL. Du coup, comment je fais pour avoir un badge cohérent avec la branche courante ?

Exemple : [![Requirements Status](https://requires.io/github/zestedesavoir/zds-site/requirements.png?branch=dev)](https://requires.io/github/zestedesavoir/zds-site/requirements/?branch=dev)

[2014-09-09 17:38] Eskimon commented on #1470
Je confirme après test en local, c'est déjà présent dans la branche de dev. Je ferme.

[2014-09-09 17:38] #1470 closed, assigned to nobody

[2014-09-09 17:42] Eskimon commented on #1364
D'après la discution mené sur le lien ci-dessus, je pense que l'on peut clore ce ticket avec la conclusion suivante : "Nous sommes entre gens civilisés, s'il y a modification l'auteur en sera conscient, averti et donc tout ira bien".

Merci pour le soulèvement de la question qui fut très intéressant !

[2014-09-09 17:42] #1364 closed, assigned to nobody

[2014-09-09 17:45] Eskimon commented on #1298
Cette PR a réglé le souci non ? https://github.com/zestedesavoir/zds-site/pull/1431

(dans ce cas : v1.1 et a fermer :) )

[2014-09-09 17:46] Eskimon commented on #1249
ping @Florianboux ca roule avec la rentrée ? tu as besoin d'aide ?

[2014-09-09 18:15] Axylium commented on #1249
Nope, c'est un peu chaud avec la reprise des cours.. J'ai un peu de mal à tout gérer je dois l'avouer, donc si quelqu'un veut reprendre pas de soucis ! J'essayerai de m'en occuper ce week-end, si ça n'a pas encore été repris. ;)

[2014-09-09 18:40] Eskimon commented on #1249
Ca peut bien attendre le weekend ne t'inquiete pas. Mais n'hesite pas a communiquer si tu as besoin d'un repreneur ou d'un coup de main ;)

[2014-09-10 11:42] LucasGrugru opened #1492 "Positionnement du bouton sur la page de recherche avancée"
Il semble y avoir un problème de positionnement du bouton d'envoi sur la page de recherche avancée. Le bouton se place en dessous de la barre de recherche (cf. screen).
Je suis sur Mint Cinnamon/FF v30.0

![sans titre](https://cloud.githubusercontent.com/assets/1902806/4216702/a79d695a-38dd-11e4-8366-c92b21f48401.png)

[2014-09-10 15:09] firm1 opened #1493 "Augmenter la limite LaTeX"
Les bigtutos ont du mal à passer le process de validation car Latex (texlive) bloque au bout d'un certain nombre de caractères. C'est en tout cas ce qui ressort dans les logs d'échec de conversion pdf.

Il faudrait donc augmenter la limite des caractères.

Attention : ce n'est pas la même problématique que [cette issue](https://github.com/zestedesavoir/zds-site/issues/1024)

[2014-09-10 16:39] Alex-D commented on #1492
"This is not a bug, this is a feature"

C'est complètement voulu, ça utilise le design global des formulaires, ils sont tous comme ça :)

Toutefois il y a un correctif qui va arriver prochainement en prod qui va espacer le champ et le bouton pour qu'ils ne soient plus collés.

[2014-09-10 16:39] #1492 closed, assigned to nobody

[2014-09-10 16:45] Alex-D opened #1494 "Retirer l'ombre moche sur les boutons"
Dans une PR j'ai rajouté une ombre sur les textes de boutons, mais c'est laid, il faut donc la retirer.

[2014-09-11 01:27] Alex-D commented on #1494
Mergé.

[2014-09-11 01:27] #1494 closed, assigned to Alex-D

[2014-09-11 01:52] Alex-D opened #1496 "Rendre les constructions JS prospectives"
Actuellement, la plupart des JS s'exécutent au chargement de la page et ne s'appliquent pas aux éléments ajoutés "après coup". Il faut donc palier à ça en relançant les constructions sur les nouveaux éléments, à la volée.

[2014-09-11 10:34] ghost opened #1498 "Revoir la structure des chapitres des tutoriels"
Bonjour à tous.

Je suis en train de rédiger un tutoriel, et il y a un truc qui m'agace dans la structure : quand on créé un chapitre, on doit obligatoirement rédiger une intro et une conclusion à ce chapitre. Je trouve ça dommage car pour ceux qui comme moi ne veulent pas mettre d'intro et de conclusion à chaque chapitre, ça fait très moche de voir écrit « Il n'y a aucune introduction » au milieu

[2014-09-11 11:53] firm1 commented on #1498
Actuellement les introduction et conclusion sont déjà optionnels. Le marqueur que tu vois en zone de rédaction est là juste pour pas que l'auteur l'oublie, mais une fois publié, on ne voit plus c'est fameux marqueur "Il n'y a aucune introduction".

[2014-09-11 11:56] ghost commented on #1498
Okay c'est super, merci beaucoup ! :)

[2014-09-11 11:56] #1498 closed, assigned to nobody

[2014-09-11 19:10] Alex-D commented on #1496
Voilà qui est fait, mergé, toussa.

[2014-09-11 19:10] #1496 closed, assigned to Alex-D

[2014-09-11 19:28] Alex-D opened #1501 "Corriger le conflit entre les alert-box et les warning/info/... issus du markdown"
Si on met une alert-box dans le contenu de la page, elle est considérée comme une boite d'information Markdown ce qui pose quelques soucis d'affichage.

[2014-09-11 20:04] #1475 closed, assigned to Alex-D

[2014-09-12 08:31] firm1 commented on #1334
Cette fonctionnalité étant très demandée, je vais m'y coller ce week end.

Pour la petite histoire voici ce que je compte faire (à vous de me dire si ça convient) :
- Au moment de la demande de validation/mise à jour de la version de validation, lister l'ensemble des extraits du tutoriel et demander à l'utilisateur de selectionner les extraits qu'il souhaite envoyer en validation.
- Par déduction,

[2014-09-12 09:36] firm1 opened #1503 "Un menu alerte validations"
Aujourd'hui il existe un menu d'alertes modération qui montre le nombre d'alertes de modérations.

Il serait interessant d'avoir la même chose pour la validation, le compteur afficherait pour le staff, le nombre de tutoriels en attente de prise en charge d'un validateur. Et dans la zone déroulante on aura la liste des tutoriels triés par date d'envoi en validation.

[2014-09-12 10:14] Eskimon opened #1504 "Double clic sur le bouton répondre = 403"
[Via le forum](http://zestedesavoir.com/forums/sujet/1251/erreur-403-lors-dun-double-post)

Lorsqu'un utilisateur clic sur le bouton "Répondre" (ou sur un bouton en général je suppose), le bouton n'est pas bloque et donc le temps que la page revienne on peut recliquer sur le même bouton. Comme le site est bien fait on se prend une 403, mais c'est pas très agréable. Il faudrait bloquer le bouton un

[2014-09-12 14:27] Eskimon commented on #315
C'est réglé !

[2014-09-12 14:27] #315 closed, assigned to firm1

[2014-09-12 15:18] Alex-D commented on #1503
Tu vois ça comment ?

Personnellement j'imagine qu'on garde une seule icône en haut (car sinon il faut refaire la version PC, tablette et mobile, pas cool) qui comptabilise tous les types d'alertes. Quand on l'ouvre on aurait des onglets pour alterner comme bon nous semble entre les diverses catégories.

On peut aussi imaginer que l'onglet afficher en premier est le dernier qui a été ouvert (via l

[2014-09-12 15:35] firm1 commented on #1503
Je le vois assez basiquement en fait. 2 nouvelles icones à droite de celles des alertes modérations pour d'un coté les alertes validations et de l'autre, les alertes articles.

Si on mets tout dans la même icone elle deviendrait inutile car tout le monde n'est pas toujours concerné par tout les types d'alertes et ça serait contre productifs. Les 3 types d'alertes doivent avoir une bonne visibilité

[2014-09-12 15:44] Alex-D commented on #1334
Pour moi, oui. On veut des retours sur une version iso de ce qu'on est susceptible de publier, pas sur un brouillon que tu as mis dans un chapitre à part.

[2014-09-12 15:50] Alex-D commented on #1503
Mettre 3 icônes comment ? Car là en l'état actuel, rajouter 2 icônes ça me semble carrément overkill et ça alourdir le design, sur mobile ça ne rentrera plus sur les petits devices et il y aura une grosse différence entre staff / non-staff.

[2014-09-12 15:53] SpaceFox commented on #1503
Fonctionnellement, il faut au moins 2 icônes : une pour la modération, et
une autre pour la validation (tous contenus).

Le 12 septembre 2014 17:50, Alexandre Demode notifications@github.com a
écrit :

[2014-09-12 16:02] firm1 commented on #1334
Dans ce cas on verra pour la beta partielle une autre fois. Je vais commencer une première itération sur la validation uniquement.

[2014-09-12 16:06] Alex-D commented on #1503
Ca me semble plus raisonnable. Même si le design n'a pas été pensé pour et du coup ça va demande un peu de travail pour que ça rentre dans tous les cas sans tout casser.

Du coup, on aurait :
- pour les membres : MP, Notifs, Paramètres, Avatar ;
- pour le staff : MP, Notifs, Modération, Validation, Avatar/Paramètres

Paradoxe spatial, il faut donc trouver une astuce à ce niveau.

[2014-09-15 09:04] Eskimon opened #1509 "Les articles n'ont pas de galeries"
C'est étrange, les articles n'ont pas de galerie automatique pour stocker leurs images et les partager entre auteurs. Est-ce bien normal ? Ne faudrait-il pas un comportement aligne sur celui des tutos (en attente la grosse refonte) ?

[2014-09-15 13:45] artragis commented on #1319
Je suis en train de regarder ça. Et je dois avouer que c'est bizarre.

La classe `ArticleRead` (et son équivalent pour les tuto) demande absolument une _réaction_.
Ce qui signifie qu'il faut absolument qu'il y ait une réponse pour que la chose soit prise en compte.

Mais pire, cela ne se met pas à jour à la _lecture_ de l'article mais lorsqu'on poste. Du coup actuellement, ça sera complexe de fair

[2014-09-15 14:47] firm1 commented on #1319
Tu regardes dans le mauvais sens on dirait.

Le suivi (via les notif) des réactions d'un article, d'un tuto et d'un topic de forum n'est pas pareil.

Pour le forum on se base sur une la classe `TopicFollowed` et `TopicRead` alors que dans le cas des articles et tutos, on se base uniquement sur `ArticleRead` ou `TutorialRead`, en partant du principe que pour suivre il faut poster.

Résoudre cette i

[2014-09-15 15:45] firm1 opened #1510 "La doc de déploiement de ZdS sur le serveur est outdated"
- L'adresse IP mentionnée dans [la doc](https://github.com/zestedesavoir/zds-site/blob/dev/doc/deploy.md) (`178.32.53.245`) pour la preprod est erronée.
- [Ici](https://github.com/zestedesavoir/zds-site/blob/dev/doc/deploy.md#clone-du-repo-et-configuration-de-prod) on demande de taper des commandes, sans aucune mention de l'user qui doit faire des `mkdir` et des permissions sur les répertoires
- `

[2014-09-15 15:52] artragis commented on #1319
C'est plus ou moins ce que je disais.

Et OK pour la ZEP 12.

[2014-09-16 00:19] firm1 opened #1511 "Les articles ne sont pas indexés par Solr"
J'ai beau taper plein de mots clés d'articles, je ne tombe jamais sur un article dans les résultats de ma recherche.

[2014-09-16 09:14] artragis commented on #1509
Peut-on ajouter un tag "zep12" pour indiquer que ce genre d'issue ou #1319  par exemple.
Parce que finalement c'est bien le refactoring des tutos et articles qui contiendra _par conception_ ce genre de débugage.

[2014-09-16 20:10] Eskimon commented on #1501
Mergé !

[2014-09-16 20:10] #1501 closed, assigned to Alex-D

[2014-09-16 20:11] Eskimon commented on #949
Question : L'évo de firm1 est maintenant mergée. Garde t'on le ticket ouvert pour les évo futures permettant par exemple l'import avec de nouvelles parties ?

[2014-09-16 21:11] Eskimon commented on #1298
Ok pour fermeture ?

[2014-09-16 21:13] pierre-24 commented on #1298
J'attendrais vraiment la préprod pour être certain (faudrait un tag "préprod" pour ce genre de cas, genre on ferme mais on place le tag pour y faire attention).

[2014-09-16 21:16] Eskimon commented on #531
Tout ca c'est dans [la ZEP-3](http://zestedesavoir.com/forums/sujet/666/zep-03-page-resumant-les-tutos-en-redaction/) :)

[2014-09-16 21:37] Alex-D commented on #1298
Si on fait ça avec toutes les issues, on a pas fini... si on voit que le soucis est encore présent ou rouvrira, mais si on s'amuser à laisser ouvertes toutes les issues tant qu'elles ne sont pas en prod, ça va être infernal.

[2014-09-16 21:43] Alex-D commented on #949
Je pense que oui, il a dit lui-même ne pas résoudre complètement l'issue.

[2014-09-19 07:50] firm1 opened #1518 "Erreur 500 si on essaye de lire un article pas encore publié"
Il suffit d'aller sur ce lien : http://zestedesavoir.com/articles/89/t/

L'article dont l'id est 89 est crée et en cours de rédaction, mais n'étant pas encore publié, si je tente d'y accéder comme s'il était déjà publié, je me prend une erreur 500 au lieu d'une 404.

Dans les logs on peut voir ceci :

[code]

[2014-09-21 07:36] pierre-24 opened #1519 "Possibilité d'accéder à un chapitre après sa suppression"
Comme [indiqué par Luthaf sur le forum](http://zestedesavoir.com/forums/sujet/1283/suppression-partielle-des-chapitres-sur-un-big-tuto/) :
1. Dans un onglet de navigateur A, créer un big tuto avec un chapitre.
2. Dans un onglet B, accéder à ce chapitre et le supprimer.
3. Revenir sur l'onglet A et recharger la page : le chapitre est toujours accessible.

Cause possible : à priori, je pense que la

[2014-09-22 08:52] firm1 opened #1520 "Rendre le code source "opensource friendly""
Aujourd'hui, le code source de ZdS n'est pas "opensource friendly" dans le sens ou si on veut créer un site comme ZdS avec juste un nom et un mascotte différente, il faut aller modifier une pile de templates pour adapter l'affichage.

Il faudrait une sorte de fichier de configuration dans lequel on renseignerait les paramètres du site (nom du site, description, logo, avatar) afin d'avoir un site b

[2014-09-22 14:31] artragis commented on #1519
je ne pense pas que ça soit à cause de ça. En effet le "maj repo part" permet de mettre à jour la partie après qu'on a supprimé le chapitre qui lui était associé.

A mon humble avis, il y a pas mal de chose à changer pour le coup parce que le "maj repo..." est à changer de base dans la ZEP12. Et quand on commencera à développer cette fonctionnalité, on utilisera les conventions django pour recoder

[2014-09-22 15:47] Alex-D commented on #1520
Ce sont des variables dans `main.scss` tout ça.

[2014-09-22 16:00] firm1 commented on #1520
Pas vraiment car :
- le noms des variables dans le main.scss n'est pas très parlant
- les variables ne sont ni commentées, ni documentées (en tout cas je n'ai rien vu qui me dise exactement ce qu'est censé contenir la variable nommée `$blue` par exemple),
- on retrouve encore dans les autres fichiers scss des couleurs et font hardcodées, ce qui pourrait donner un visuel désagréable si on change le

[2014-09-22 16:16] SpaceFox commented on #1520
Tiens, je n'avais jamais vu ça mais visiblement il y a des lignes qui ressemblent à une jolie erreur de nommage, du genre "ultra-classique" dans ce fameux `main.scss` :

[code]

On a des noms de variables qui sauf erreur de ma part décrivent _la valeur_ qu'elles ont et non _son utilisation_. Ça reste cohérent tant qu'on reste sur ce jeu de couleurs ; mais le jour où on décide de changer, on va se

[2014-09-22 16:28] pierre-24 commented on #1519
Pas faux. Faudrait voir alors ce qui se passe dans le manifest, parce que si le chapitre apparaît quand même, c'est qu'a un endroit, les tests ne se font pas (le fait que les fichiers markdowns correspondant existent toujours est l'objet d'une autre issue ... Qu'il faudrait que je finisse).

On est bien d'accord. Maintenant, la question est de savoir si le bug est "urgent" ou si on peut attendre l

[2014-09-22 16:41] firm1 commented on #1519
Etant donné la nature du bug, je ne pense pas qu'il soit urgentissime. Cependant, si la résolution du bug est triviale (je ne l'ai pas encore regardé de prêt donc je ne peux pas dire) autant le résoudre, au contraire si ça doit prendre plus de 3h (dev+tests+qa), autant passer ces heures sur la ZEP-12.

[2014-09-22 21:03] pierre-24 opened #1522 "Galerie : le mode "lecture" ne sert actuelement sert à rien"
Aujourd'hui, lorsqu'un utilisateur est en mode "lecture" dans une gallerie, il peut juste accéder à la page listant les images contenant celle-ci et pas l'une d'entre elle, car il recoit alors une erreur 403. ces utilsateurs devraient au moins pouvoir accéder à la page de l'image pour obtenir les codes markdown de l'image/miniature/...

[2014-09-22 21:24] AlexRNL opened #1523 "Bouton "aller au premier message non lu""
Hello,

Serait-il possible d'ajouter un lien en haut des sujets du forum vers le premier message non lu du sujet ?

[2014-09-23 15:32] Alex-D commented on #1523
Tu verrais ça comment ? Parce que, en soi, quand tu es sur la liste des sujets, tu peux directement accéder au dernier message non-lu, ainsi que depuis les sujets suivis. Du coup, je vois à la fois mal l'utilité du lien et je ne vois pas comment ni où l'intégrer.

[2014-09-23 15:37] Alex-D commented on #1520
C'est pas faux. Mais en même temps, je vois mal comment nommer `$blue` quand il sert à la fois pour le background du header, pour certains liens, pour certains boutons, etc.

Autant je veux bien mettre un commentaire pour dire à quel endroit ça touche (bien qu'un Ctrl+F soit bien plus efficace) autant je ne vois pas de nom évident à donner à de telles variables, ou alors des noms qui ne veulent pl

[2014-09-23 15:40] SpaceFox commented on #1520
`$couleurPrincipale` / `$couleurSecondaire` ?

[2014-09-23 15:42] Alex-D commented on #1520
C'est pas adapté, y a beaucoup de couleurs l'air de rien.

[2014-09-23 15:48] SpaceFox commented on #1520
Ben tu y arrives très bien pour certaines :

[code]

Et presque pour d'autres :

[code]

[2014-09-23 15:48] Alex-D commented on #1520
C'est pas faux non plus. Je vais regarder pour faire un patch en ce sens.

[2014-09-23 16:35] AlexRNL commented on #1523
On peut effectivement y accéder depuis la liste des sujets, mais je trouve le système pas totalement clair dans le sens où, pour arriver au dernier message lu, tu dois cliquer sur un lien qui indique la date du dernier message du sujet. Je trouve ça assez ambigü.

Il serait idéal (enfin pour moi, je sais pas ce qu'en pensent d'autres) d'avoir trois possibilités pour accéder à un sujet :
- Première

[2014-09-23 16:49] Alex-D commented on #1520
Après un passage dans le code,

Aucune font n'est hardcodé. La seule qu'on peut voir sert à afficher un "+" correctement, et ça n'a pas à être paramétrable au risque de casser sa mise en forme.

Les couleurs hardcodée, s'il y en a c'est qu'elles ne sont pas liées aux couleurs primaires et secondaires ni aux autres. Et la plupart sont des teintes de gris, ce qui se marie donc avec n'importe quel th

[2014-09-23 19:31] Alex-D commented on #1523
Personnellement, je ne vois pas l'intérêt de lire le dernier message d'une conversation si tu n'as pas lu les messages d'avant.

Je suis par contre d'accord que le "Dernier message..." peut porter à confusion.

Any ideas ?

[2014-09-24 01:22] Alex-D opened #1528 "Sommaire vide sur les tutoriels en beta/en rédaction"
Si on va sur un tutoriel, en bêta par exemple : http://zestedesavoir.com/tutoriels/off/412/ruby-on-rails-de-zero-a-la-mise-en-production/

On peut voir que le sommaire **de la sidebar** est vide.

Le bug est récent car j'avais passé pas mal de temps pour que ça fonctionne dans tous les cas. Il y a donc eu une modification des modèles ou des vues qui a cassé ce sommaire.

[2014-09-24 11:00] cgabard commented on #1343
Il faudrait réouvrir ce ticket. nohar a tenté de publier un tuto qui a re-générer ce genre de soucis ce matin.

[2014-09-24 11:02] SpaceFox commented on #1343
Fait.

[2014-09-24 11:02] Eskimon commented on #1343
On a une idee de vers quelle heure ca c'est passe histoire de pas éplucher tout les logs ?

[2014-09-24 11:03] SpaceFox commented on #1343
Utilise Sentry, y'a pas douze milliards de logs dessus.

[2014-09-24 11:23] cgabard commented on #1343
Vers 10:42 environ
(c'est à cette heure que nohar s'est plain de l'erreur 500 à la publi).

C'est le tuto qu'il devait publier hier je crois qui a posé prob.

[2014-09-24 11:31] Eskimon commented on #1343
Ca doit etre ca alors:
`IOError: [Errno 2] No such file or directory: u'/opt/zdsenv/ZesteDeSavoir/tutoriels-public/286_la-memoire/1874_introduction/introduction.md'`

Et la stacktrace qui va bien:

[code]

[2014-09-24 11:50] firm1 commented on #1343
Ce sont des tutoriels qui font parti des tutoriels importés pendant la beta publique. Et au vu des logs, il me semble cassé de l'intérieur. On ne peut plus rien faire pour ce tutoriel, il faudra le recréer.

[2014-09-24 14:15] AlexRNL commented on #1523
Beaucoup de sujets du bar sont dans ce cas : si tu n'es pas venu depuis un moment, c'est pas forcément intéressant de lire les 10 pages que tu as raté, les ~10 derniers messages peuvent suffire pour le contexte. Je suis d'accord qu'il n'y a pas vraiment d'intérêt sur les sujets plus "techniques" cependant.

Nope, je sèche :/

[2014-09-24 14:24] SpaceFox opened #1529 "Problèmes de fiablité de npm"
NPM est un outil tout sauf fiable. On a une proportion délirante de builds Travis qui finissent en :

Soyons clairs : c'est insupportable.

Donc il devient indispensable de :
- Soit trouver un moyen de fiabiliser cette chose
- Soit lui trouver une alternative

[2014-09-24 17:06] Alex-D commented on #1529
A la base npm part du principe que tu as du cache, là on re DL tout à chaque installation : c'est pas du tout prévu pour fonctionner comme ça.

Ca n'existe pas. C'est le repo officiel.

---

Le seul moyen d'optimiser tout ça c'est de créer un miroir et de dire à npm d'aller chercher les choses sur ce miroir et non sur le registry global.

[2014-09-24 17:11] Alex-D commented on #1523
Le lien existe déjà alors : la pagination :)

[2014-09-24 17:14] SpaceFox commented on #1529
Bah même si c'est pas prévu pour fonctionner comme ça, c'est flippant un outil qui te plante une primo-installation sur 10...

Et personnellement je n'ai aucun scrupule à dégager node.js s'il t'oblige à travailler avec des outils non fiables.

[2014-09-24 17:39] Alex-D commented on #1529
Si tu retire node.js, tout le front ne fonctionne plus, tout simplement.

[2014-09-24 17:44] Alex-D commented on #818
Mergé par @SpaceFox s'en est donc terminé !

Il faudra être vigilent lors de la préprod et rouvrir en cas de besoin.

[2014-09-24 17:44] #818 closed, assigned to artragis

[2014-09-24 17:49] SpaceFox commented on #818
J'ai oublié de préciser : merci de **ne pas toucher** ni aux tickets, ni à la milestone.

Je repasse sur tout pour avoir quelque chose de propre, donc ça va être très bizarre les minutes qui viennent. C'est normal et voulu.

[2014-09-24 17:51] #803 closed, assigned to nobody

[2014-09-24 17:56] SpaceFox commented on #1356
Quel pourcentage de complétude de la doc avons-nous atteint ?

[2014-09-24 18:03] #990 closed, assigned to Eskimon

[2014-09-24 18:04] SpaceFox commented on #1341
Il reste des trucs à faire ici ?

[2014-09-24 18:25] sandhose commented on #1529
J'ai ri en lisant cette issue

Et PIP qui faisait planter le build travis, on en parle ? C'est vrai ça, pourquoi vous inclueriez pas toutes les dépendances Python dans le répo direct, huh ? Comme ça, on est sûr de pas être dépendant de pip le jour ou il y a un problème...

Non sérieusement, tu nous demandes de virer notre gestionnaire de dépendances... C'est complètement absurde!

[2014-09-24 18:27] SpaceFox commented on #1529
Non, je me contente de remettre en cause le choix de l'outil à l'origine.

D'autre part, le problème de PIP a été réglé. Celui de NPM, ça fait
littéralement des mois qu'on se le traîne, et la seule réponse que j'ai
c'est "LOL c'est pas réparable".

Le 24 septembre 2014 20:25, Sandhose notifications@github.com a écrit :

[2014-09-24 18:45] Eskimon commented on #818
En tout cas \o/ pour ce ticket !

[2014-09-24 18:46] sandhose commented on #1529
C'est complètement fou que je n'ai jamais entendu quelqu'un me dire "Oh, mon install marche pas, NPM plante à l'install". Le **SEUL** cas ou on a ça, c'est pendant les build travis...

Après, si tu y tiens, on peux très bien se faire chier à louer un serveur juste pour faire un registry npm _si jamais_ celui officiel ne répond plus! Et puis autant faire pareil avec un dépot apt et un dépot pip, co

[2014-09-24 18:52] Alex-D commented on #1341
~~Oui pour le front.~~

[2014-09-24 19:10] artragis commented on #818
Il faudra que pendant la période de release quelqu'un vérifie que les TU
testent tous les cas.
Actuellement, je n'ai pas eu le temps de coder le test qui check que le
topic de la béta est bien altéré.
Le 24/09/2014 20:45, Eskimon a écrit :

[2014-09-24 19:38] Alex-D commented on #1341
Correction : pour le front c'est fini, à vous de voir pour le back.

[2014-09-24 19:48] Axylium commented on #1249
Bon, si quelqu'un veut reprendre ici, qu'il se fasse une joie !

Niveau cours, je suis légèrement surpassé et ils me prennent un temps fou. Donc je n'ai plus trop le temps de coder.

[2014-09-24 19:52] SpaceFox commented on #1529
Bon l'issue est rédigée en mode troll mais il y a un vrai problème derrière. En trois points :
1. J'ai des problèmes de NPM genre à la moitié des déploiements.
2. Malgré 4 modifications de ces deux lignes https://github.com/zestedesavoir/zds-site/blob/dev/server/deploy.sh#L41 on a toujours pas été foutus de les faire fonctionner
3. Le système me plante 1/10è des builds Travis. Je ne sais pas si c'

[2014-09-24 20:10] pierre-24 commented on #1356
Je sais pas si on peut quantifier la "couverture" de la doc. Ce que je vois personelement, c'est encore beaucoup de "A venir" (au moins pour les articles et les forums, et le module de MP n'est pas dans la liste, et éventuelement pas non plus tout le bazar associé à la recherche et aux "pages", alors qu'ils s'agit aussi de modules dans le code). Au delà de ça, [j'avais posé la question de la porté