[2015-03-12 07:58] GerardPaligot commented on #2041
Merci à @Situphen et @pierre-24 pour la QA.

[2015-03-12 07:58] #2041 closed, assigned to nobody

[2015-03-12 10:23] firm1 opened #2420 "La branche de dev ne builde plus"
Les tests front ne passent plus sur la branche de dev depuis le merge de la PR #2398

[Voir travis](https://travis-ci.org/zestedesavoir/zds-site/builds/54064939)

Etant donné que la PR en question ne touche pas au front, je soupçonne que le problème vienne de node-gyp (moins probable car on est toujours sur la version 1.0.2) ou de npm (moins probable aussi car on est toujours sur la version 2.7.0)

[2015-03-12 10:29] GerardPaligot commented on #2420
On a tenté de le relancer ? Parce que ma PR est toujours passée avant ça.

[2015-03-12 10:37] SpaceFox commented on #2420
Je rappelle les règles de gestion Travis : un build n'est vraiment échoué que lorsque :
1. Ce plantage est systématique (donc après au moins une relance)
2. Reproductible en local

Si ces 2 points ne sont pas satisfaits, on doit partir du principe que Travis fait de la merde.

[2015-03-12 11:14] firm1 commented on #2420
Après relance de Travis. Tout va mieux.

Bizarre, et du coup je ferme.

[2015-03-12 11:14] #2420 closed, assigned to nobody

[2015-03-12 11:15] SpaceFox commented on #2420
Bienvenue dans le monde merveilleux de Travis…
Le 12 mars 2015 12:14, "firm1" notifications@github.com a écrit :

[2015-03-12 15:23] firm1 opened #2421 "Le nombre de tutos ayant besoin d'aide n'est pas juste"
Si on va sur : http://zestedesavoir.com/tutoriels/aides/

D'après le titre, il y a 20 tutos qui ont besoin d'aide. Ce qui n'est pas le cas en réalité puisque les 20 ne concernent que le première page.

[2015-03-12 15:29] firm1 opened #2422 "Manque de cohérence dans le marquage de l'obligation de contenu"
Lorsque je souhaite créer un MP, j'ai 4 champs :
- Participants
- Titre
- Sous-titre
- Texte

A coté des 2 premiers il y'a une étoile pour me préciser que les champs sont obligatoires. Cependant, il n y'a aucune étoile devant Texte. On pourrait donc penser que ce champs est facultatif, mais non.

La solution serait d'avoir une étoile devant le titre "Texte"

[2015-03-12 15:46] GerardPaligot commented on #2422
Je confirme ce soir mais je pense avoir résolu cette incohérence dans mon refactoring du module des MPs.

[2015-03-12 17:06] Situphen opened #2423 "Url des messages privés incorrecte"
Depuis le refracto de @GerardPaligot, les urls des mps sont devenues `http://127.0.0.1:8000/mp/39/<bound%20method PrivateTopic.slug of <PrivateTopic%3A Cocuu>>/messages/` !

[2015-03-12 20:04] GerardPaligot commented on #2423
Je ne parviens pas à reproduire le bug. Est-ce que tu pourrais m'indiquer la manipulation à suivre ?

Edit : C'est bon, j'ai trouvé.

[2015-03-12 21:01] artragis commented on #2405
reporté sur #2400

[2015-03-13 08:26] GerardPaligot commented on #2405
Du coup, cette issue peut être fermée ?

[2015-03-13 08:29] artragis commented on #2405
Eh bien soit celle-ci soit #2400 puisqu'elles ont trait au même bug.
Celle-ci a le bon goût d'avoir un traceback de la part de munin, donc je
pense que c'est plutôt la #2400 qu'il faut fermer et donne comme doublon de
#2405.

2015-03-13 9:26 GMT+01:00 Gérard Paligot notifications@github.com:

[2015-03-14 19:11] Situphen opened #2428 "Une page de paramètres pour les courriels"
[Depuis le forum](http://zestedesavoir.com/forums/sujet/2622/des-parametres-pour-la-notification-par-email/?page=1#p47445) :

Comme précisé dans le sujet, les checkboxs doivent être décochées par défaut !

[2015-03-15 09:20] Deuchnord opened #2429 "Problème de hauteur du menu Tutoriels"
Le menu _Tutoriels_ commence à prendre beaucoup de place en hauteur sur les petits écrans et nécessite un scroll, ce qui est peu agréable. Même si ce n'est pas urgent pour le moment, il faudra tout de même voir pour résoudre ça avant que cela ne devienne vraiment un problème avec l'explosion du nombre de catégories.

Voici par exemple ce que cela donne sur mon écran 15 pouces :

![capture du 2015-

[2015-03-15 09:46] GerardPaligot commented on #2336
Corrigé. Merci à @firm1 pour le fix et @pierre-24 pour la QA.

[2015-03-15 09:46] #2336 closed, assigned to nobody

[2015-03-15 09:48] GerardPaligot commented on #2300
Corrigé. Merci à @firm1 pour le fix et @pierre-24 et @SpaceFox pour la QA.

[2015-03-15 09:48] #2300 closed, assigned to nobody

[2015-03-15 12:24] GerardPaligot commented on #2058
Merci à @Situphen de s'en être occupé. Merci à @pierre-24 pour la QA.

[2015-03-15 12:24] #2058 closed, assigned to nobody

[2015-03-15 12:25] GerardPaligot commented on #2266
Merci à @Situphen de s'en être occupé. Merci à @pierre-24 pour la QA.

[2015-03-15 12:25] #2266 closed, assigned to nobody

[2015-03-15 16:29] Situphen commented on #2429
Je pense que ce sera en partie résolu avec [la ZEP 25](https://zestedesavoir.com/forums/sujet/2378/zep-25-categorisation-des-articles-et-tutoriels/) car elle réduira le nom de catégories et de tags.

[2015-03-15 18:35] Deuchnord commented on #2429
Effectivement, je vais suivre ça de près :)

[2015-03-16 08:12] GerardPaligot commented on #2421
Merci à @artragis pour le fix et @pierre-24 pour la QA.

[2015-03-16 08:12] #2421 closed, assigned to nobody

[2015-03-16 13:22] Eskimon commented on #2419
@cgabard ca viendrait pas plutot du markdown ? Un piti bug qui se serait glissé dans les corrections récentes ?

[2015-03-16 13:24] Eskimon commented on #2422
@GerardPaligot tu confirmes que le bug n'est plus ?

En tout cas j'ai pas teste mais selon le code (https://github.com/zestedesavoir/zds-site/blob/dev/zds/mp/forms.py#L45) ca devrait etre bon...

[2015-03-16 13:26] GerardPaligot commented on #2422
Ouaip, je confirme.

[2015-03-16 13:26] pierre-24 commented on #2419
Possible aussi. Est ce que quelqu'un d'autre confirme le bug, au fait (sur _dev_, donc, pas besoin d'une branche particulière).

[2015-03-16 13:35] Eskimon commented on #2422
Ok, je close !

[2015-03-16 13:35] #2422 closed, assigned to nobody

[2015-03-16 17:49] DevHugo commented on #2325
Cette issue est résolue par https://github.com/zestedesavoir/zds-site/pull/2378. Je viens de tester en local, pouvons nous fermer cette issue ?

[2015-03-16 19:37] artragis commented on #2391
COmme on a parlé du settings_prod, on fait quoi du coup?

[2015-03-16 21:48] DevHugo commented on #2130
Normalement, on est bon ici, on peut fermer.

[2015-03-16 22:25] DevHugo commented on #2419
J'ai la même chose mais je suis pas sur que mon installation soit bonne.

[2015-03-17 08:01] GerardPaligot commented on #2130
Il y a eu une PR mais elle n'a pas été mergée. Ca été corrigé où ?

[2015-03-17 08:16] GerardPaligot commented on #2048
Je ne suis pas fan de cette suggestion. Comment peux-tu appuyer par inadvertance sur ce bouton alors qu'il se trouve dans la sidebar sur mobile (et sur le site) ?

[2015-03-17 08:24] firm1 commented on #2048
Je suis déjà tombé plusieurs fois sur le cas en tentant de déplacer un topic ou en essayant de mettre un topic en post-it. Sur mobile, la plupart du temps

[2015-03-17 08:29] Eskimon commented on #2048
Idem, quand j'etais staff je me suis deja fait surprendre en voulant aller trop vite

[2015-03-17 08:32] DevHugo commented on #2130
J'ai pas retrouvé la PR d'origine, mais sur la branche dev, ça marche (https://github.com/zestedesavoir/zds-site/blob/b8012fad6ccf756648b211fe50785ba0c0f0e897/templates/tutorial/includes/warn_typo.part.html) .

Git blame :
https://github.com/zestedesavoir/zds-site/blame/b8012fad6ccf756648b211fe50785ba0c0f0e897/templates/tutorial/includes/warn_typo.part.html

[2015-03-17 08:37] SpaceFox commented on #2048
Je confirme que ça m'est déjà arrivé.

Le 17 mars 2015 09:29, Eskimon notifications@github.com a écrit :

[2015-03-17 08:38] ChantyTaguan commented on #2048
Itou !

[2015-03-17 18:43] Eskimon commented on #2321
Tout roule :)

[2015-03-17 18:43] #2321 closed, assigned to nobody

[2015-03-17 22:57] SpaceFox commented on #2247
@firm1 j'attends toujours une vraie doc ici... ne me dis pas que tu n'as pas le temps, tu as déjà ouvert au moins 4 PR depuis !

[2015-03-18 06:39] firm1 commented on #2247
Dans ma todolist. Ça arrive.

Le mar. 17 mars 2015 23:57, SpaceFox notifications@github.com a écrit :

[2015-03-18 07:06] Eskimon commented on #2048
Vu qu'on arrivait a un ratio de 4 contre 1 en peu de temps, j'ai juge utile de merger histoire d'eviter de voir une PR traîner "administrativement". Je propose qu'on laisse une periode d'adaptation a nos chers staffeux et si vraiment ca gene il suffira de revert la PR :)

Du coup je ferme et merci a @DevHugo pour l'implementation

[2015-03-18 07:07] #2048 closed, assigned to nobody

[2015-03-18 07:18] Eskimon commented on #1594
Je viens juste dire un gros merci a @pierre-24 . Je reçois régulièrement des petites corrections de typo via cet outil et ca fait plaisir d’améliorer la qualité de son contenu !

[2015-03-18 17:06] firm1 commented on #2392
C'est corrigé, donc c'est fermé. Merci @GerardPaligot

[2015-03-18 17:06] #2392 closed, assigned to GerardPaligot

[2015-03-18 17:09] firm1 commented on #2036
En effet doublon, et donc corrigé.

[2015-03-18 17:09] #2036 closed, assigned to nobody

[2015-03-18 18:20] firm1 opened #2443 "Impossible de builder le front"
Sur un système nouvelle installé Ubuntu 14.10, j'ai essayé pas mal de trucs pour builder le front. Mes tentatives se soldent malheuresement par un echec. Meme en suivant la doc officielle ça n'a pas l'air de marcher, que ce soit en sudo ou pas.

A chaque fois, c'est le message suivant qui m'est renvoyé :

[code]

Je tourne avec node v0.10.36 et npm  v2.7.1.
Ma version de Gcc est la 4.9

Quelqu'un

[2015-03-18 18:45] sandhose commented on #2443
A priori c'est parce que tu as une version de gyp installée globalement qui entre en conflit avec celle de node-gyp... (voir https://github.com/TooTallNate/node-gyp/issues/363#issuecomment-33212812 )

[2015-03-18 18:48] firm1 commented on #2443
Comment je peux supprimer ma version globale de gyp ? Et surtout un mystère pour moi, c'est comment j'ai pu l'installer ?

[2015-03-18 18:50] sandhose commented on #2443
Je sais pas, tu as un jour touché à un projet Google ? (chromium, android...)

Sinon c'est soit installé via apt, soit via pip... Tu peux déjà voir où il est installé via `python -c 'import gyp; print gyp.__file__'`

[2015-03-18 18:54] firm1 commented on #2443
Ah c'est ptet Android, mais ça m'étonnerait.

SInon, il est visiblement installé ici `/usr/lib/python2.7/dist-packages/gyp/__init__.pyc`. Mais du coup si je le vire/modifie ça aura un impact sur un autre soft quelque part ?

Tu penses qu'il y'a pas moyen de gérer ce conflit ?

[2015-03-18 18:58] sandhose commented on #2443
A priori, si tu es dans un virtualenv, les paquets python globaux sont ignorés, donc ça devrait ignorer l'installation globale si tu te trouves dans un virtualenv quand tu installe les deps npm

[2015-03-18 19:01] firm1 commented on #2443
J'ai déjà essayé étant dans le virtualenv, mais étant donné que je suis obligé de passer en sudo, npm tape quand meme dans le global.

La j'ai tenté le truc du gars dans l'issue, et ça à l'air de fonctionner.

faudrait marquer ça dans une doc.

[2015-03-18 19:03] sandhose commented on #2443
Pourquoi tu es obligé de passer en sudo ? npm install se fait (plus) en root, hein ! (surtout pas !)

[2015-03-18 22:06] firm1 commented on #2443
Bah quand je le fais sans le sudo il m'emerde sur les droits de fichiers.

Je suppose que c'est a cause de l'update qui nécessite les droits root.

[2015-03-19 10:21] firm1 commented on #1357
Il faudra peut-être penser à rajouter un bloc sur les problèmes qui peuvent survenir lors du build et comment les résoudre.

Un peu comme le problème que j'ai rencontré dans [cette issue](https://github.com/zestedesavoir/zds-site/issues/2443)

[2015-03-19 10:22] firm1 commented on #2443
Ce problème étant résolu, je ferme ici. Je ne le rattache à aucune milestone car il s'agit d'une simple question.

[2015-03-19 10:22] #2443 closed, assigned to nobody

[2015-03-19 10:33] SpaceFox commented on #2443
Ben du coup on ne sait pas comment tu as résolu le problème ?

[2015-03-19 10:37] firm1 commented on #2443
Exactement comme dans le lien linké par @sandhose , c'est à dire :
1. `python -c 'import gyp; print gyp.__file__'` => `/usr/lib/python2.7/site-packages/gyp/__init__.pyc`
2. `mv /usr/lib/python2.7/site-packages/gyp /usr/lib/python2.7/site-packages/gyp_backup`
3. `npm install` et là ça marche.

Mais le seul souci c'est que pour bosser sur d'autres trucs qui utilise gyp chez moi, je vais devoir renom

[2015-03-19 11:05] sandhose commented on #1357
Comme dit sur l'issue, le problème est à priori réglé si tu es en virtualenv ; de plus, ça reste très rare comme cas de figure (faut le combo gyp + virtualenv, sachant que normalement, même quand tu build chromium ou android, tu installe pas gyp globalement, mais dans un chroot...)

[2015-03-19 15:25] Eskimon commented on #1913
Corrigé, merci @firm1

[2015-03-19 15:25] #1913 closed, assigned to nobody

[2015-03-19 15:39] Eskimon commented on #2049
Ok, merci @firm1 et @GerardPaligot

[2015-03-19 15:39] #2049 closed, assigned to nobody

[2015-03-19 15:52] Eskimon commented on #1640
Enfin corrigé :) Merci à tous !

[2015-03-19 15:52] #1640 closed, assigned to nobody

[2015-03-19 16:03] Eskimon commented on #2052
Et voila !

[2015-03-19 16:03] #2052 closed, assigned to nobody

[2015-03-19 16:42] #2423 closed, assigned to nobody

[2015-03-19 16:42] firm1 commented on #2423
Corrigé, merci @GerardPaligot

[2015-03-19 17:09] firm1 commented on #2325
Et hop, d'une pierre deux coup. Merci @Situphen

[2015-03-19 17:09] #2325 closed, assigned to nobody

[2015-03-19 19:58] SpaceFox opened #2446 "La v1.7-RC1 ne déploie pas"
Des détails ici : https://zestedesavoir.com/forums/sujet/2692/jai-voulu-deployer-la-v17-rc1/

Je rappelle à tout hasard que le principal intérêt des PR, c'est de pouvoir faire une revue de code.

[2015-03-20 07:50] Eskimon commented on #2079
La release n'ayant pas bien eu lieu, je suppose qu'elle sera refaite apres le weekend et du coup j'ai ajoute ce ticket a la version 1.7 :)

[2015-03-20 07:51] #2079 closed, assigned to nobody

[2015-03-20 13:50] #1925 closed, assigned to nobody

[2015-03-20 13:51] firm1 commented on #1925
Je ferme ici en tagguant en 1.7, aucune de idée de ou ça finira

[2015-03-20 13:51] SpaceFox commented on #1925
è_é

[2015-03-20 13:53] SpaceFox commented on #1925
Argumentaire plus poussé : ces milestones sont le **seul** moyen à peu près fiable dont on dispose pour savoir ce qu'il y a dans une release. C'est donc **interdit** de jouer avec.

[2015-03-20 13:54] firm1 commented on #1925
C'est pour ça que je le signale. Etant donné que la release 1.7 ne déploie pas, je ne sais pas ce qu'il en deviendra

[2015-03-20 13:56] SpaceFox commented on #1925
Moi non plus. Mais dans ce cas il ne fallait pas la mettre dans la v1.7...

[2015-03-20 16:41] MrCirdo opened #2450 "Erreur 500 sur la modification d'un utilisateur avec l'API"
Bonjour à tous,

Il y a un bug sur l'api.

Quand on veut modifier un utilisateur avec l'api avec le token, il nous renvoi une erreur 500.
Voici la requête :

[code]

Ainsi que le stracktrace :

[code]

[2015-03-22 14:02] Vayel opened #2452 "Galerie : ne pas changer l'url lors d'une MAJ"
Reporté d'[ici](http://zestedesavoir.com/forums/sujet/2706/galerie-ne-pas-changer-lurl-lors-dune-maj/).

Quand on ajoute une image dans une galerie et que l'on met à jour cette image, l'url est changée, ce qui nous oblige à éditer tous les messages où l'image apparait. Peut-être serait-il préférable de conserver l'ancienne url, pour que l'image se mette à jour dans les messages automatiquement.

P

[2015-03-23 01:56] firm1 commented on #1634
Corrigé.

[2015-03-24 09:27] firm1 commented on #1673
Je confirme que ce bug est corrigé. On peut donc le fermer

[2015-03-24 09:27] #1673 closed, assigned to nobody

[2015-03-24 09:40] firm1 commented on #1454
[ça c'est fait](http://zestedesavoir.com/pages/contact/).

[2015-03-24 21:31] GerardPaligot opened #2460 "Zeste de Savoir plus compatible avec OS X"
Suite au merge de cette PR (https://github.com/zestedesavoir/zds-site/pull/2430) pour le support de SVG (qui, selon moi, est absurde mais bon ...), il n'est plus possible de contribuer à Zeste de Savoir avec un système OS X. Il ne connait pas l'import `cairo` :

[code]

Voilà, j'ai pas beaucoup de temps en ce moment, j'en avais dégagé ce soir pour un tuto et pour commencer l'API des MPs et je me r

[2015-03-24 21:38] firm1 commented on #2460
Pas le temps de voir pourquoi, mais [j'ai revert la PR](https://github.com/zestedesavoir/zds-site/pull/2461), du coup tu peux travailler :)

[2015-03-24 21:38] #2460 closed, assigned to nobody

[2015-03-24 21:52] GerardPaligot commented on #2460
Merci bien @firm1.

[2015-03-25 07:58] SpaceFox commented on #2460
1. Avoir des SVG dans les tutos n'est pas absurde, c'est super pratique SVG.
2. Il me semblait qu'on avait dit que c'était absolument interdit de merger son propre code ?

[2015-03-25 08:12] GerardPaligot commented on #2460
De ce que j'en vois, je suppose que nous avons intégré ce format parce que **un** tuto (à venir) en avait potentiellement besoin. Chose que nous avons finalement pas utilisé puisque nous avons pu contourner le problème.

Là avec le support du SVG, de ce que j'en vois, nous commençons à avoir des cas particuliers et ce genre de choses me gavent (sans compter le fait que l'implémentation est dégueul

[2015-03-25 08:46] SpaceFox commented on #2460
Ben si on arrive à servir du SVG en front, c'est super pratique : pour tous
les diagrammes, c'est plus léger et de meilleure qualité au
redimensionnement que les formats à base de pixels.

Par contre si on le convertit systématiquement avant affichage, je suis
d'accord pour dire que c'est un peu idiot.

Mais dans tous les cas, le SVG est un format qu'il serait bon de supporter,
parce que c'est pra

[2015-03-25 09:21] firm1 commented on #2460
Je crois que tu te trompes. Le format a été "intégré" parce que ça fait parti d'un bug déclaré depuis le mois d'octobre qui rend la validation d'un tutoriel un peu pénible.

En tant que validateur, je suis obligé de vérifier l'extension de toutes les images (code markdown) d'un tuto pour m'assurer que l'auteur n'a pas inséré une image svg dans son tutoriel. Un auteur lambda, quand il trouve une im

[2015-03-25 09:26] GerardPaligot commented on #2460
Je ne prendrais pas la responsabilité de merger une fonctionnalité partiellement développée. J'informerais simplement si elle fonctionne sous OS X.

[2015-03-25 09:36] firm1 commented on #2460
:( . A quoi sert mon pavé alors qui explique que ce n'est pas une fonctionnalité developpée, mais une correction de bug ?

[2015-03-25 09:39] GerardPaligot commented on #2460
J'ai lu ton pavé, je ne le cautionne juste pas. Qu'en est-il dans les articles ? Dans les forums ? Est-ce plus cohérent de pas faire de même dans les galeries ? Ce n'est pas cohérent.

[2015-03-25 09:42] SpaceFox commented on #2460
- On peut en effet se poser la question des articles. Ceci devrait être corrigé.
- Le problème ne se pose pas dans les forums, puisqu'ils ne sont pas exportés...
- Accepter le SVG dans les galeries serait un gros plus mais c'est encore un autre problème.

La seule incohérence ici, c'est que le problème est corrigé pour les forums mais pas pour les articles.

J'ai l'impression qu'il faut que tout l

[2015-03-25 09:51] firm1 commented on #2460
- Les articles n'ont pas le bug, car ils ne sont pas exportés aujourd'hui. La PR qui fusionnera les tutoriels et article devra gérer ce cas, mais vu que le code sera fusionné, on aura pas de problème de ce coté. Autrement dit, il est déjà possible de valider un article aujourd'hui avec une image svg.
- les forums n'ont pas le problème non plus car ils ne sont pas exportés
- Le support dans les gal

[2015-03-25 09:57] SpaceFox commented on #2460
Ah tiens, c'est vrai, les articles ne sont pas disponibles autrement qu'au format "archive". J'étais persuadé du contraire.

Pour le SVG et easy_thumbnails, c'est plus délicat : la notion de redimensionnement - et donc de thumbnail - n'a pas de sens sur un format vectoriel : il suffit de l'afficher au format voulu et ça suffit.

[2015-03-25 10:04] GerardPaligot commented on #2460
C'est ma faute. J'ai été prendre une grande inspiration dehors pour me calmer.  Désolé @firm1 pour ma mauvaise humeur mais ta PR m'a vraiment fait rager hier. :)

Bref ...

Je ne savais pas que c'était lié à l'export. Alors même si le SVG n'est pas géré par les galeries (bien que cela soit dommage) et que les forums sont effectivement pas sujets à l'export, je ne comprends pas trop pourquoi les ar

[2015-03-25 10:33] firm1 commented on #2460
Yop, mais j'ai l'impression qu'il faudrait passer par des pirrouettes douteuses et un peu sale si on le fait dans notre code.

La raison est que les articles ne sont pas exportés vers du pdf, epub aujourd'hui. C'est l'intéret de la ZEP12 que de le permettre en fusionnant (au sens code) les deux modules.

[2015-03-25 17:07] cgabard commented on #2419
quelqu'un pourrait me coller ici le html du code qui pose problème ?

[2015-03-26 10:54] firm1 commented on #2452
On s'est rendu compte que cette fonctionnalité pourrait induire d'autres problèmes/failles. La décision a été prise de ne pas l'implémenter.

Je ferme donc l'issue car on ne peut pas la corriger.

[2015-03-26 10:54] #2452 closed, assigned to firm1

[2015-03-26 10:55] SpaceFox commented on #2452
Au-delà de ça, changer l'image sans en changer l'URL provoquerait des problèmes de cohérence de cache côté navigateur (actuellement toutes nos images sont servies avec un cache navigateur très long, 1 an de mémoire).

[2015-03-26 11:09] SpaceFox commented on #2247
Une semaine après, on en est où ?

[2015-03-26 11:35] firm1 commented on #2247
La PR ne devrait plus tarder, c'est dans le pipe. Il faut compter 2-3 jours.

[2015-03-27 08:19] viki53 commented on #2452
Du coup il faudrait peut-être mettre un messages pour l'utilisateur, histoire de le prévenir que l'URL va changer (et qu'il faudra donc mettre à jour toutes les références).

Ou supprimer la fonctionnalité tout simplement.

[2015-03-27 12:43] Eskimon commented on #2106
ok

[2015-03-27 12:43] #2106 closed, assigned to firm1

[2015-03-28 08:39] sandhose opened #2471 "Build automatiquement le front a chaque release avec Travis"
En regardant dans le code de react-native, j'ai remarqué qu'ils utilisent travis pour build automatiquement leur doc, et la push sur le répo à chaque push sur leur branche master.

Voir https://github.com/facebook/react-native/blob/master/.travis.yml

On peut peut-être mettre en place un système similaire pour build le front à chaque push sur une branche release-XX. Un prérequis d'un tel système s

[2015-03-28 09:27] Eskimon commented on #2471
Tu copieras 100 fois "Je me relierais [l'autocorrect] avant de poster avec mon téléphone" :D

[2015-03-28 09:52] sandhose commented on #2471
Ca va comme ça ? c:

http://s.sandhose.fr/punition.html

Je corrigerais ça a midi, puisque apparement, on peut pas le faire depuis la version mobile de GitHub... :-°

[2015-03-28 19:37] Axylium opened #2472 "Documentation de l'API : inaccessible"
Tout est dans le titre. La documentaion de l'API est totalement inaccessible. Quand on tente d'y accéder on obtient cette page :

![capture du 2015-03-28 20 33 18](https://cloud.githubusercontent.com/assets/4312887/6882577/166dd268-d58a-11e4-9689-a516d005cf26.png)

J'ai testé sur Chromium également et, c'est la même chose. Par-contre, quand on y accède en `http**s**`, bien que ça déconne la page s

[2015-03-28 21:07] Situphen commented on #2472
La documentation de l'API n'est disponible qu'en HTTP et pas en HTTPS. L'adresse pour accéder à l'api est "/api/" et non pas "/api/api-docs/" !

[2015-03-28 21:54] Axylium commented on #2472
Je le sais. Ce n'était qu'à titre de comparaison.

Bizarre, j'ai suivi le lien dans le footer.. Pourtant il est bon.

Bon, sinon, je n'ai rien dis !

[2015-03-28 21:54] #2472 closed, assigned to nobody

[2015-03-29 00:31] sandhose commented on #2471
Bon, mes tests sont plutôt concluants :D

https://github.com/sandhose/zds-site/commit/08f4637667980d8e6aa0915e19d3c0eab9848a32 et https://github.com/zestedesavoir/zds-site/commit/1e7b834f776b2071dc787771b08f7ee54bbdcf30
https://travis-ci.org/sandhose/zds-site/jobs/56259430

[2015-03-30 13:02] SpaceFox commented on #2247
Ça fait 4 jours et tu fais encore des PR sur des détails qui n'ont rien à voir. Ça va vraiment commencer à m'énerver, tu sais ?

[2015-03-30 13:05] firm1 commented on #2247
Sorry, pas eu le temps de finaliser ça (ce n'est faisable uniquement chez moi)

[2015-03-30 13:09] SpaceFox commented on #2247
Du coup, quelle est la nouvelle deadline ?

[2015-03-30 13:14] firm1 commented on #2247
J'essaye pour cette nuit et dans le pire des cas la nuit du mardi.

[2015-03-30 15:00] firm1 commented on #2305
Du coup c'est fermé ici.

[2015-03-30 15:00] #2305 closed, assigned to nobody

[2015-03-31 06:13] Eskimon commented on #2287
Merci @firm1 et @pierre-24 :)

[2015-03-31 06:13] #2287 closed, assigned to firm1

[2015-03-31 06:13] Eskimon commented on #2289
Ok, merci @firm1 et @pierre-24

[2015-03-31 06:13] #2289 closed, assigned to firm1

[2015-03-31 06:14] Eskimon commented on #1706
Super, je le cherchais récemment ! Merci @firm1 et @pierre-24 pour la QA :)

[2015-03-31 06:14] #1706 closed, assigned to firm1

[2015-03-31 08:13] Eskimon commented on #2074
Hop !

[2015-03-31 08:13] #2074 closed, assigned to firm1

[2015-03-31 09:00] Eskimon commented on #1528
voilou

[2015-03-31 09:00] #1528 closed, assigned to firm1

[2015-03-31 09:01] Eskimon commented on #2013
Merge et deplace en v1.8

[2015-03-31 09:01] #2013 closed, assigned to firm1

[2015-03-31 09:01] Eskimon commented on #2294
ok

[2015-03-31 09:01] #2294 closed, assigned to firm1

[2015-03-31 09:01] Eskimon commented on #2301
ok

[2015-03-31 09:02] Eskimon commented on #2299
ok

[2015-03-31 09:02] #2299 closed, assigned to firm1

[2015-04-01 11:37] DevHugo commented on #2419
<p>Avec</p>

<div class="mathjax-wrapper">
<mathjax>
    <span style="color: inherit;" class="MathJax_Preview"></span>
    <span style="" id="MathJax-Element-1-Frame" class="MathJax">
        <nobr>
            <span style="width: 0.891em; display: inline-block;" role="math" id="MathJax-Span-1" class="math">
                <span style="display: inline-block; position: relative; width: 0.767em; he

[2015-04-02 06:47] #2326 closed, assigned to firm1

[2015-04-02 08:13] cgabard commented on #2419
Tu n'aurai pas, par hasard, utilisé l'inspection plutôt que les sources ?
Car c'est vraiment les sources HTML brut avant le passage du JS qu'il faut
vérifier

Christophe
Le 1 avr. 2015 13:37, "DevHugo" notifications@github.com a écrit :

[2015-04-02 09:45] DevHugo commented on #2419
ah ok excuse, j'avais compris ce que tu voulais.

[2015-04-02 14:46] firm1 opened #2479 "Installer la dépendance Latex sur OS X"
C'est plus une question qu'une vraie issue, mais j'aimerai installer zds sur os x, ne connaissant que très peu l'OS de la pomme, je bloque un peu sur des trucs tout cons.

Ma version OS X est la 10.9. Voici ce que je fais sur une machine presque vierge (avec juste `brew` dessus) :

[code]

L'install de texlive-basic échoue lamentablement avec l'erreur suivante :

[code]

Quelqu'un comprend d'ou ça

[2015-04-02 18:36] pierre-24 opened #2480 "Pas de formulaire sur la page de biographie"
Très très simple et très très bête: intégrer le formulaire habituel d'édition de texte markdown pour la biographie.

![screenshot from 2015-04-02 14 36 32](https://cloud.githubusercontent.com/assets/7889675/6970758/a5bc62b8-d945-11e4-813b-4dfda271409d.png)

(attention ceci dit à gérer la prévisualisation)

[2015-04-02 18:45] #2081 closed, assigned to firm1

[2015-04-02 19:02] #1817 closed, assigned to firm1

[2015-04-02 19:02] #2394 closed, assigned to firm1

[2015-04-02 20:30] SpaceFox commented on #2446
Pour ceux qui ne l'auraient pas vu : https://zestedesavoir.com/forums/sujet/2692/jai-voulu-deployer-la-v17-rc1/?page=1#p50056

Mon avertissement est tout à fait sérieux.

[2015-04-02 20:41] SpaceFox commented on #2446
Ne pas fermer tant que le release.md n'est pas corrigé.

[2015-04-03 06:50] #2327 closed, assigned to nobody

[2015-04-03 07:01] Eskimon commented on #2446
Merci @SpaceFox :) (et @pierre-24 dévoué a la QA !)

[2015-04-03 07:02] Eskimon commented on #2446
Oups mauvais bouton, le release.md n'est pas encore merge

[2015-04-03 07:05] SpaceFox commented on #2446
Le.vrai nom du fichier est update.md en fait 😃
Le 3 avr. 2015 09:02, "Eskimon" notifications@github.com a écrit :

[2015-04-03 07:05] Eskimon commented on #2446
reclosation alors !!

[2015-04-03 07:05] #2446 closed, assigned to nobody

[2015-04-03 09:27] #2395 closed, assigned to firm1

[2015-04-03 11:36] firm1 commented on #2419
Est-ce que ce bug ne devrait pas passer bloquant pour la release 1.7 ? Car je viens de l'essayer sur la beta, et comme le dis @pierre-24 c'est moche.

Si on pouvait hotfix ça, ça serait top.

[2015-04-03 11:51] pierre-24 commented on #2419
Ah. Je me disais aussi que j'avais pas rêvé. Sauf que le problème est peut-être bien coté markdown et pas coté back/front. @cgabard , un avis là dessus ?

(sinon, du coup, oui pour qu'il passe en bloquant !!)

[2015-04-03 12:33] Eskimon commented on #2480
Si j'en crois [la pseudo-doc front](http://zestedesavoir.github.io/zds-site/#/interface-utilisateur/formulaires) :

Mais comme sur la doc front cette démo ne marche elle-même pas, je ne sais pas a quel point c'est exact.

[2015-04-03 12:38] pierre-24 commented on #2480
Oh, tient, ça faisait longtemps que je l'avais plus vue, celle là. Ça serait d'ailleurs peut-être bien d'en remonter une partie dans la doc officielle nouvellement créée.

Plus sérieusement, si c'est aussi simple que ça ... Taggue "facile" :p

[2015-04-03 12:43] Eskimon commented on #2480
Tag mis :) mais je te dis, entre doc de plus de 6 mois et réalité il y a ptet des changements... (tu m'diras, c'est vite testé au moins !!)

[2015-04-03 12:45] firm1 commented on #2480
Il y'a pas a dire, c'est facile a rajouter le menu d'édition là. Mais le plus corsé, et le moins evident, est de rajouter la previsualisation. Du coup, je ne pense pas que ça soit si facile.

[2015-04-03 13:10] cgabard commented on #2419
pfff. Bon bin je vais aller directement voir sur la beta pour essayer de vous donner mon avis sur la question.

[2015-04-03 13:11] cgabard commented on #2419
Ok oui je pense que ça vient du markdown, je vais faire un hotfix

[2015-04-03 13:22] pierre-24 opened #2483 "ReadTheDoc ne compile plus notre documentation"
L'heure est grave. #2451, qui était sencé améliorer notre documentation, [l'a toute cassée](https://readthedocs.org/builds/zds-site/2528932/), alors qu'elle compile très bien chez moi, [chez artragis](https://github.com/zestedesavoir/zds-site/pull/2451#issuecomment-89277094) et @firm1 [avait même réussi à la déployer sur un serveur](https://github.com/zestedesavoir/zds-site/pull/2451#issuecomment-

[2015-04-03 13:24] pierre-24 commented on #2483
Note: RTD [semble coincer sur ce fichier](https://github.com/zestedesavoir/zds-site/blob/dev/doc/source/back-end-code/article.rst) en nous crachant une erreur d'encodage. Ce fichier est le premier de la série a employer `autodoc` pour lire le _docstring_. C'est très probablement lié.

[2015-04-03 13:32] cgabard commented on #2419
hotfix un peu à l'arrache car ça va pas etre facile ce WE de m'en occuper

[2015-04-03 14:12] pierre-24 opened #2486 "[version 1.7] plus moyen de cliquer sur un pseudo dans le forum"
Sur la bêta, [par exemple ici](http://beta.zestedesavoir.com/forums/sujet/1813/possibilite-decrire-un-message-vide/), il n'est plus possible d'aller sur la page du profil d'un membre en cliquant sur son pseudo. Ça marche quand on clique sur l'avatar. Ce bug n'est pas présent en _prod_.

Je dit "forum", mais c'est également le cas sur les commentaires d'article et de tuto.

Bloquant ?

[2015-04-03 14:19] Eskimon commented on #2486
Je vote oui.

Et la j'ai envie de dire "what the fuck" le bug

[2015-04-03 14:20] pierre-24 commented on #2486
Je vote pour Javascript, sur celle là, parce que la balise `<a>` y est, et à priori avec le bon `href=""`.

[2015-04-03 14:22] pierre-24 commented on #2486
Oh, j'oubliais de préciser Debian/Jessie et Chrome/41.0. Sait-on jamais.

[2015-04-03 14:23] Eskimon commented on #2486
Et un blame dans le template qui affiche ca n'affiche rien de suspect non plus (aucun changement récent) : https://github.com/zestedesavoir/zds-site/blame/dev/templates/misc/message.part.html#L145

[2015-04-03 14:24] pierre-24 commented on #2486
Même souci sous Firefox. Et donc, javascript ?

[2015-04-03 14:30] pierre-24 opened #2487 "[version 1.7] La bannière "cookies" disparaît quand on clique sur "en savoir plus""
Comme je l'avais mentionné à l'époque avec #2313, y'a un soucis avec `eu-cookies-banner`; Personnellement, la bannière disparaît quand je clique sur "en savoir plus". Debian/jessie et Chrome/41.0 et Firefox/31.5. J'avais finalement à l'époque réussi à reproduire le truc, mais j'avais d'énorme problème de _front_. Donc, _my bad_ sur celle là, mais très clairement, ça marche pas en bêta.

[2015-04-03 15:02] firm1 opened #2488 "Page d'aide des auteurs : le compteur a disparu"
En direct [de la preprod](http://beta.zestedesavoir.com/tutoriels/aides/?page=1).

Avant, il me semble qu'on avait une valeur, maintenant on a rien.

Capture :
![ooops](https://cloud.githubusercontent.com/assets/6066015/6983876/15034a78-da23-11e4-931d-6ff5fefa5ae6.PNG)

[2015-04-03 15:21] Eskimon commented on #2488
En prod il y a une valeur en tout cas

[2015-04-03 16:42] Situphen commented on #2487
Bon, l'erreur vient de la version 1.4 de [Cookies-EU-banner](https://github.com/Alex-D/Cookies-EU-banner). Quand j'ai commencé ma PR ils étaient à la 1.3 mais comme la version n'est pas en strict dans le `package.json`, tu as installé la 1.4 qui était sortie entre temps.

Bref, je fais une PR chez eux. Après qu'ils l'aient accepté et qu'ils aient fais une release, je ferai une PR de beta-fix ici !

[2015-04-03 16:50] pierre-24 commented on #2487
... Et j'ai probablement utilisé la 1.3 pour finalement avoir le bon comportement, ceci explique celà. Bon, une fois encore ZdS contribue aux projets libres ;)

[2015-04-03 16:51] pierre-24 commented on #2488
Je confirme qu'il y a un souchi par là.

[2015-04-03 17:31] SpaceFox commented on #2487
Donc si je comprends bien, on a ajouté une dépendance pour "mieux gérer" le coup des cookies CNIL et à la place de ça, on se retrouve avec une dépendance dont la mise à jour pète complètement la gestion des cookies CNIL ?

Est-ce qu'on ne pourrait pas plutôt soit rester sur une version fonctionnelle, soit utiliser un système fiable ?

[2015-04-03 17:35] Situphen commented on #2487
La mise à jour a pété une partie de la gestion, celle qui fait en sorte que quand tu cliques sur "En savoir plus", tu n'es pas encore tracké et la bannière s'affiche. Le reste fonctionne bien.

On a deux solutions :
- soit on prend la version 1.3 ;
- soit on attend que ma PR https://github.com/Alex-D/Cookies-EU-banner/pull/8 soit mergée et qu'une nouvelle version soit créée.

Dans tous les cas je

[2015-04-03 17:39] SpaceFox commented on #2487
C'est dommage, c'était justement **l'argument** qui nous a fait passer à cette dépendance de mémoire.

On va voir la réactivité de l'upstream à intégrer la PR, mais dans tous les cas ça ne doit pas ralentir notre release (un peu moins de 2 semaines pour que ce soit réintégré ici donc).

[2015-04-03 17:40] pierre-24 commented on #2487
On va aider: c'est  @Alex-D qui est derrière eu-cookies-banner. Ping ;)

[2015-04-03 18:32] Alex-D commented on #2487
C'est corrigé par @Situphen et mergé. C'était un simple `_` qui manquait.

[2015-04-03 18:52] Alex-D commented on #2487
J'ai déployé la 1.2.6, vous pouvez la mettre en tant que version "fixe" dans votre `package.json` (sans le `^`), ça évitera les surprises.

[2015-04-03 19:35] SpaceFox commented on #2487
OK, merci @Alex-D  pour la réactivité !

[2015-04-03 20:02] artragis commented on #2483
ALors c'est étrange :
- au boulot (ubuntu 14.04) je n'ai pas ce problème
- chez moi (xubuntu 14.10) je l'ai.

j'ai observé le fichier et rien n'indique la présence d'un unicode...
ça pue le nom de local mal configure

chez moi ça dit ça :

[code]

[2015-04-03 21:30] GerardPaligot opened #2490 "Ajouter des utilisateurs injoignables à une conversation privée"
Serveur : Bêta
Version : v1.7-RC2

Scénario :
- Créez une nouvelle conversation avec des utilisateurs joignables (ou rendez-vous à une conversation existante).
- Cliquez sur "Ajouter un membre" et spécifiez "test2" qui est un utilisateur injoignable.
- Validez et constatez que l'utilisateur injoignable figure bien dans la liste des participants.

Informations complémentaires :

Il est impossible d

[2015-04-03 21:45] GerardPaligot opened #2491 "La liste des derniers sujets créés dans le profil sont mal affichées"
Serveur : Bêta
Version : v1.7-RC2
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Si votre compte ne dispose pas de sujets, allez en créer quelques uns sur les forums.
- Rendez-vous sur votre profil dans la section "Derniers sujets créés".
- Constatez que la liste n'est pas bien affichée.

Voici un item de la liste actuellement en prod (v1.6c) :
![capture d e

[2015-04-03 21:56] GerardPaligot opened #2492 "Impossible de cliquer sur une conversation privée dans les notifications"
Serveur : Bêta
Version : v1.7-RC2
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Faite le nécessaire pour avoir une notification dans vos conversations privées.
- Tentez de cliquez dessus. Si vous n'êtes pas dirigé vers la conversation, vous avez rencontré le bug sinon répétez le scénario. Il n'arrive qu'une 1/3 chez moi.

[2015-04-03 21:59] GerardPaligot opened #2493 "Impossible de valider le formulaire de connexion avec CMD+Enter"
Serveur : Bêta
Version : v1.7-RC2
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Rendez-vous sur la page de connexion.
- Remplissez les champs d'identification.
- Validez avec le raccourci CMD+Enter.
- Constatez que votre formulaire n'est pas soumit.

Informations complémentaires :

CTRL+Enter fonctionne correctement.

[2015-04-03 22:06] GerardPaligot opened #2495 "L'item avec la pseudo de l'utilisateur dans la sidebar n'ouvre pas le profil"
Serveur : Bêta
Version : v1.7-RC2
Système : Nexus 4
Navigateur : Google Chrome Version 41.0.2272.96

Scénario :
- Connectez-vous sur votre téléphone.
- Ouvrez le menu latéral.
- Dans la première section "Mon compte", cliquez sur votre pseudo.
- Constatez que vous vous trouvez dans vos paramètres et pas sur votre profil.

[2015-04-03 22:09] GerardPaligot opened #2496 "Manque de cohérence dans la sidebar"
Serveur : Bêta
Version : v1.7-RC2
Système : Nexus 4
Navigateur : Google Chrome Version 41.0.2272.96

Scénario :
- Connectez-vous et ouvre la sidebar.
- Constatez que :
  - La section "navigation" devrait se nommer "paramètres" (et figurez en bas de la sidebar ?)
  - L'item avec votre pseudo sélectionne le titre et l'item lorsque vous appuyez dessus.

[2015-04-03 22:20] GerardPaligot opened #2497 "Tableau des derniers messages postés mal formé"
Serveur : Bêta
Version : v1.7-RC2
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Rendez-vous dans les [derniers messages de cshark](http://beta.zestedesavoir.com/forums/messages/247/).
- Constatez que le tableau n'est pas bien formé.

![capture d ecran 2015-04-04 a 00 19 12](https://cloud.githubusercontent.com/assets/1913901/6989767/676fc6fa-da60-11e4-8435-4

[2015-04-03 22:30] Situphen commented on #2493
Ce n'est pas un bug ! Les raccourcis CTRL+ENTER et CMD+ENTER ne sont prévus que pour l'éditeur Markdown. Si CTRL-ENTER fonctionne, ça doit venir du navigateur.

[2015-04-03 22:33] pierre-24 commented on #2483
Bon, moi j'ai ça (Debian/Jessie)

[code]

Forcément, mon PC étant en anglais, j'ai la _locale_ anglaise partout. Je sais plus pourquoi, mais la doc précise à un moment qu'on doit avoir la locale française pour que ça fonctionne. Donc je l'ai aussi :

[code]

Va savoir ^^

[2015-04-03 22:33] GerardPaligot commented on #2301
Je re-ouvre cette issue. J'ai créé l'utilisateur `&#34;b` sur la bêta et j'ai une erreur 500 quand je vais sur son profil à partir des participants d'un MP.

Lien généré vers son profil : http://beta.zestedesavoir.com/membres/voir/&/#34;b/

[2015-04-03 22:33] Situphen commented on #2495
Je sais pas si c'est vraiment un bug. Le titre au-dessus de l'avatar est "Mon Compte" donc il correspond bien au lien !

[2015-04-03 22:35] pierre-24 commented on #2483
(je peux m'amuser à switcher au français pour tester, si ça vous amuse)

[2015-04-03 22:35] GerardPaligot commented on #2493
Ok, j'avais un doute. Je ferme.

[2015-04-03 22:35] #2493 closed, assigned to nobody

[2015-04-03 22:36] GerardPaligot commented on #2495
Personnellement, je m'attendais à me rendre sur mon profil. C'est stupide de mettre en avant les paramètres utilisateur via cet item.

[2015-04-03 22:56] GerardPaligot opened #2498 "Les membres non joignables peuvent être ajoutés comme auteur"
Serveur : Bêta
Version : v1.7-RC2
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Créez une publication ou rendez-vous à une publication existante.
- Rajoutez un auteur non joignable.
- Constatez qu'il figure dans les auteurs.

Informations complémentaires :

Il **faut** refactoriser la gestion de l'ajout de participants à n'importe quel concept (MP, tutoriel

[2015-04-03 23:02] GerardPaligot opened #2499 "Le sujet d'un tutoriel en bêta possède un titre trop long si le tutoriel a un titre d'une taille max"
Serveur : Bêta
Version : v1.7-RC2
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Créez un tutoriel avec un titre de la taille maximum.
- Placez le tutoriel en bêta et constatez que le sujet est bien créé.
- Tentez d'éditer le premier message du sujet.
- Validez l'édition et constatez qu'il signal que le titre est trop long d'un caractère.

[2015-04-03 23:17] GerardPaligot opened #2500 "Les titres 2 dans le menu latéral ne sont pas affichés"
Serveur : Bêta
Version : v1.7-RC2
Système : Nexus 4
Navigateur : Google Chrome Version 41.0.2272.96

Scénario :
- Rendez-vous sur votre profil
- Affichez le menu latéral et constatez, par exemple, que vous ne voyez pas les sous sections "Tutoriels", "Articles" et "Forums" dans la section "Activité".

[2015-04-03 23:26] GerardPaligot opened #2501 "Impossible de contacter l'ensemble des auteurs d'une publication via l'action du menu latéral"
Serveur : Bêta
Version : v1.7-RC2
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Connectez-vous avec un membre avec les pouvoirs du staff.
- Rendez-vous sur la version hors ligne d'une publication avec plusieurs auteurs (par exemple, [celui-ci](http://beta.zestedesavoir.com/articles/41/bilan-de-la-premiere-semaine/))
- Cliquez sur l'action "Envoyer un MP aux

[2015-04-03 23:29] GerardPaligot opened #2502 "Le bouton "voir la version en ligne" n'est pas bien affiché dans le menu latéral"
Serveur : Bêta
Version : v1.7-RC2
Système : OS X
Navigateur : Google Chrome Version 41.0.2272.118 (64-bit)

Scénario :
- Rendez-vous sur la version hors ligne d'une publication publiée.
- Constatez que le bouton "Voir la version en ligne" n'est pas bien affiché.

![capture d ecran 2015-04-04 a 01 26 41](https://cloud.githubusercontent.com/assets/1913901/6990304/e4e63bce-da69-11e4-9431-4cd99f9a747d

[2015-04-04 07:15] firm1 commented on #2500
Celui ci est un doublon de je ne sais plus quelle issue. Je l'avais déclare
d'ailleurs

Le sam. 4 avr. 2015 01:17, Gérard Paligot notifications@github.com a
écrit :

[2015-04-04 07:51] artragis commented on #2483
J'ai trouvé !

ça foire avec python 2.7.8

ça marche avec python 2.7.9 !

[2015-04-04 08:47] GerardPaligot commented on #2500
https://github.com/zestedesavoir/zds-site/issues/1683 qui date de novembre 2014 ?

[2015-04-04 09:24] firm1 commented on #2500
Ouaip

Le sam. 4 avr. 2015 10:47, Gérard Paligot notifications@github.com a
écrit :

[2015-04-04 09:27] #2500 closed, assigned to nobody

[2015-04-04 10:43] Eskimon commented on #2491
Je suis sur portable donc c'est galère pour retrouver les tickets mais il me semble (presque certain) que c'est un merge que j'ai fait et dont ma sa était malheureusement incomplète (elle était correcte pour le bugfix mais j'ai pas vu assez tôt cet effet de bord).
La PR fautive était faite par A-312 sibmes souvenirs sont bons et concernait l'icone "résolu" dans la liste des sujets. C'était un fix

[2015-04-04 10:46] Eskimon commented on #2495
Idem je trouve le comportement "non attendu". Par contre ce sera a corriger en dev et non pas hotfix car c'est déjà comme ça en prod.

[2015-04-04 12:28] pierre-24 commented on #2483
Ah. Intéréssant :) ... Bon, comment qu'on met la bonne version de python chez RTD ?

[2015-04-04 12:47] artragis commented on #2483
et du coup je sais pas pourquoi ça foire avec 2.7.8.

[2015-04-04 16:58] Eskimon commented on #2491
Voili voila la source des soucis je crois : https://github.com/zestedesavoir/zds-site/pull/2340

[2015-04-05 14:58] ghost opened #2506 "drawer gauche gène le scroll sur mobile"
Le drawer gauche apparaît dès que je scolle down (sur Nexus 5) et prend la place de tout l'écran.
Cela m'arrive souvent mais impossible de le prendre en vidéo car au moment ou je publie cette issue tout fonctionne.

[2015-04-05 15:38] Situphen commented on #2506
Tu veux parler du menu pour mobile ?

[2015-04-05 22:39] SpaceFox opened #2507 "Passage à Django 1.8"
Django 1.8 étant sorti, ce serait pas mal qu'on attende pas la sortie de la 1.9 pour s'y mettre. Lundi soir, on s'arrange avec @GerardPaligot  pour merger la branche de la v1.7.

En première approche d'après le changelog, cette migration devrait être moins coton que celle vers Django 1.7.

Néanmoins, à savoir 2 choses à ce sujet :
- [Ce genre de gag](https://docs.djangoproject.com/en/1.8/releases/

[2015-04-06 01:25] pierre-24 commented on #2507
De toute façon, le rebase va être énorme (et chiant) quoiqu'il arrive, donc ça sert à rien de retarder l'échéance. Faites, les ZEP suivront (de force).

[2015-04-06 06:09] ghost commented on #2491
Le problème c'est qu'en rajoutant `min-width:35px;`, les autres éléments sont décalé, il faut surement supprimer un `min-width: XX%;` de la div au milieu ou autre pour éviter ce rendu.

https://github.com/A-312/zds-site/commit/47c04687c8d9b7bb090971084f6c7cc72d9c71d2#diff-bd4bff66b6594772a0597ce6205214c2R85

![index](https://cloud.githubusercontent.com/assets/10801383/7001200/352973c8-dc34-11e4-97

[2015-04-06 11:05] Eskimon commented on #2487
C'est réparé

[2015-04-06 11:05] #2487 closed, assigned to nobody

[2015-04-06 13:07] artragis commented on #2507
étant donné qu'on utilise les CBV, je dirais que la ZEP 12 aura un nombre très faible de problèmes. Typiquement simplement remplacer la première ligne par `[` et la dernière par `]`. Du moins j'espère avoir tout compris.

[2015-04-06 13:20] artragis commented on #2486
C'est à mon avis du javascript car quand tu survoles le pseudo l'adresse du lien apparait mais quand tu cliques il y a un prevent-default qui se fait quelque aprt.

[2015-04-06 21:27] SpaceFox commented on #2272
Pour info, le merge de cette PR passera ZdS (le code) en v2.0 :)

[2015-04-06 21:39] Situphen opened #2509 "Avertissement anti-déterrage de sujet"
Pour éviter que des sujets soient déterrer, on pourrait mettre en place un avertissement au dessus de l'éditeur quand la dernière réponse date d'un certain temps. Un peu comme ce que fait OpenClassrooms :

![capture d'écran de leur avertissement](https://pbs.twimg.com/media/CB8Gt2iWMAAoVU6.jpg)

(_Note :_ Il n'y a aucun filtre de couleur orange en réalité) Qu'en pensez-vous ?

[2015-04-06 21:40] SpaceFox commented on #2509
Tiens ? Ils ont implémenté cette fonctionnalité que le staff leur avait suggéré il y a au moins 5 ans maintenant ? C'est cool, et c'est une bonne idée.

En fait on ne l'a pas encore fait parce qu'on avait pas encore de sujets à déterrer. Je me demande s'il n'y a pas déjà une issue à ce sujet d'ailleurs.

[2015-04-06 21:45] Situphen commented on #2509
Je pense qu'on peut commencer à développer en place ce système, mieux vaut prévenir que guérir !

[2015-04-06 21:48] pierre-24 commented on #2509
Ça me semble relativement facile à mettre en place, faut juste s'accorder sur la limite de temps.

[2015-04-06 21:50] Situphen commented on #1713
Avec la PR qui vient d'être mergée on peut fermer ici ?

[2015-04-06 21:50] SpaceFox commented on #1713
Oui.

[2015-04-06 22:51] GerardPaligot commented on #1455
Gros merci à @SpaceFox pour sa PR. Nous sommes officiellement sur Django 1.7 !

[2015-04-06 22:51] #1455 closed, assigned to SpaceFox

[2015-04-06 23:28] pierre-24 commented on #1455
Cool. Next, v1.8 :)

[2015-04-07 06:20] Eskimon commented on #1455
Chapeau aussi @GerardPaligot pour la QA efficace !!

Du coup @SpaceFox tu peux refaire un point vite fait sur comment on enchaîne le tout entre version 1.8 (zds), version 1.8 (django), release 1.7 (zds) et compagnie ?

Et est-ce qu'il y a quoi que ce soit de changer pour les devs (car tu parles de l'integration de l'equivalent de South)

[2015-04-07 06:59] SpaceFox commented on #1455
- Ce soir je regarde si la migration vers Django 1.8 est simple à faire ou non
- Dès que ZdS v1.7 est en prod, on lance ZdS v1.8

Quant à ce qu'il y a à changer pour les devs... le plus simple est encore de lire les docs de migration Django :)

Plus simplement, la seule vraie différence (à l'usage) c'est qu'il n'y a plus South, parce que la fonctionnalité est embarquée dans Django. Cf https://docs

[2015-04-07 08:02] GerardPaligot commented on #1455
@Eskimon J'ai fais ce que j'ai pu mais c'est difficile de tester ZdS dans sa globalité. :)
@SpaceFox South, c'est bien notre moteur de recherche ou je me goure complètement ?

[2015-04-07 08:04] SpaceFox commented on #1455
Nop c'est la migration de la BDD. La recherche c'est Solr 😃
Le 7 avr. 2015 10:02, "Gérard Paligot" notifications@github.com a écrit :

[2015-04-07 08:15] GerardPaligot commented on #1455
C'est ça, je me disais bien que je me gourais quelque part.

[2015-04-07 09:34] Eskimon commented on #1700
Ping !

Si un dev back est motive pour ca ( @firm1 ?), la premiere iteration est pas tres dure a faire car doit "simplement" renvoyer les x derniers sujets ayant recu une reponse. Ca permettra a la zep-4 d'avancer sans verrou des que les dev front ont un peu de dispo (vacances d'ici fin avril)

[2015-04-07 09:36] GerardPaligot commented on #1700
https://github.com/sandhose/zds-site/pull/7 ?

[2015-04-07 09:42] Eskimon commented on #1700
Ah bah nickel ca !

[2015-04-07 11:51] SpaceFox commented on #2367
Corrigé, mergé, fermé.

[2015-04-07 11:51] #2367 closed, assigned to nobody

[2015-04-07 11:59] Eskimon commented on #2509
Dans l'ordre des priorités un système anti-bot sur la page d'inscription serait mieux avant (désactivable via le settings.py) ^^

Sinon a la louche je dirais que "3 mois c'est bien" :D (et au final sans gravite puisque ca n’empêche pas de poster...)

[2015-04-07 12:00] Eskimon commented on #2506
@forkmind quel navigateur/version ?

[2015-04-07 12:23] Eskimon commented on #2486
C'est obscure. J'ai essaye de voir dans la liste des tickets dans la v1.7 et j'ai rien trouve qui pourrait impacter. @Situphen ou @A-312 une idée ?

[2015-04-07 12:28] artragis commented on #2486
Je pencherai pour un preventDefault mal mis, voici la liste des
preventDefault de notre code :

[code]

[code]

Le 7 avril 2015 14:23, Eskimon notifications@github.com a écrit :

[2015-04-07 12:31] Eskimon commented on #1634
Vu que plus rien n'est dans la v1.7 puisque revert, il faudrait pas virer ca en "futur proche" et se donner le temps de bien faire les choses ?

[2015-04-07 12:32] Eskimon commented on #2301
Yep je confirme sur Chrome et Firefox... c'est bizarre quand meme que le TU passe pourtant et la QA etait bonne oO

[2015-04-07 12:35] GerardPaligot commented on #1634
Si, tout à fait.

[2015-04-07 12:42] firm1 commented on #1634
A priori la PR de correction bloque uniquement sur un problème d'installation du package cairo sur OS X. Une fois la bonne façon de faire trouvée, le problème sera réglé.

[2015-04-07 12:43] Eskimon commented on #1634
Mais sera t-il regle pour ne pas bloquer la release ? A priori comme la feature n'existe plus en 1.7 elle ne devrait donc plus etre en hotfix non ?

[2015-04-07 12:51] SpaceFox commented on #1634
Elle n'est _pas_ en hotfix. Et non, ce n'est pas bloquant pour la release.

[2015-04-07 13:35] Situphen commented on #2509
Un système anti-bot c'est quand même bien plus complexe à mettre en place !

Trois mois ça me va perso.

[2015-04-07 13:38] Situphen commented on #2486
Je vois ça cet après-midi !

[2015-04-07 13:46] firm1 opened #2510 "Relase 1.7 : le slug dans un mp incorect"
Version : Beta 1.7-RC2

Scénario :
- J'ai crée un MP avec 1 participant "test"
- J'ai cliqué sur "Ajouter un membre" et j'ai rajouté "test2"
- L'url de mon MP est devenu : `http://beta.zestedesavoir.com/mp/3101/%3Cbound%20method%20PrivateTopic.slug%20of%20%3CPrivateTopic%3A%20test%3E%3E/messages/`

Il y'a donc un petit problème par là.

[2015-04-07 14:04] Eskimon commented on #2510
Je suppose que ca vient d'ici ? https://github.com/zestedesavoir/zds-site/pull/2424

( @SpaceFox on marque en milestone 1.7 pour s'y retrouver ?)

[2015-04-07 14:08] Eskimon commented on #2502
[Le template n'a pas l'air d'avoir ete edite](https://github.com/zestedesavoir/zds-site/commit/519bd37a6cc6e6f905f532e6b606bedef674f259) donc a priori ca viendrait du css de la classe "wide", cependant c'est curieux je n'ai pas le meme texte en beta et en prod' pour le meme vieux tuto...

[2015-04-07 14:09] GerardPaligot commented on #2510
@Eskimon : Ce que tu link, c'est ma PR incomplète pour corriger l'erreur (qui avait déjà été remonté pour d'autres cas).

La correction du bug est extrêmement simple : changer `self.object.slug` en `self.object.slug()` [ici](https://github.com/zestedesavoir/zds-site/blob/01cc3534f09f19c94d0f6f0c1caebe70f47a4fbb/zds/mp/views.py#L205).

[2015-04-07 14:10] Eskimon commented on #2501
Je suis pas staff, est-ce que tu reproduis aussi sur prod ou c'est propre a la v1.7 ?

[2015-04-07 14:11] Eskimon commented on #2510
Ok super :) je tag facile du coup :)

[2015-04-07 14:12] Eskimon commented on #2496
Ceci n'etant pas propre a la v1.7, je met en jalon 1.x

[2015-04-07 14:13] GerardPaligot commented on #2501
En prod ça fonctionne, c'est une regression ici.

[2015-04-07 14:14] firm1 commented on #2272
Bon, j'ai commencer à regarder un peu par ici, parce qu'il faut quand même vivre dans la modernité un jour. Et la combinaison gagnante est la suivante pour une migration vers python3 :
- Python-Zmarkdown : est maintenant compatible python3
- Pour mysql, on a [mysql-python-connector](https://dev.mysql.com/downloads/connector/python/) qui passe avec brio les essais
- python3-memcached à la place de

[2015-04-07 14:15] Eskimon commented on #2492
Yep j'ai constate ca aussi pour des notifs normal. Est-ce que ca serait pas la encore du a un comportement indesirables du javascript comme pour https://github.com/zestedesavoir/zds-site/issues/2486 ?

[2015-04-07 14:23] SpaceFox commented on #2510
Par contre c'est bloquant si on ne peut plus utiliser les MP.

[2015-04-07 14:23] SpaceFox commented on #2496
Dans tous les cas, seules les issues _corrigées et mergées_ ont droit à un numéro de version précis.

[2015-04-07 14:24] GerardPaligot commented on #2510
Non, non, on peut utiliser les MPs. Les slugs ne sont pas utilisés dans le back, c'est juste pour faire des URLs jolies ...

[2015-04-07 14:24] SpaceFox commented on #2496
Un éventuel bug bloquant serait sans milestone (ou en v1.x) et surtout labellisé "bloquant".

[2015-04-07 14:26] SpaceFox commented on #2272
Par définition (cf le message avant le tien) ce sera la v2.0 :)

Comme cette modification va imposer d'énormes changement d'infrastructure (probablement une réinstallation complète du serveur), je préfère ne pas la voir dans la release 1.8, laquelle va déjà être assez délicate comme ça.

[2015-04-07 14:36] firm1 commented on #2272
Je pensais pareil, mais du coup il faudra éviter de rajouter une ZEP dans la 2.0.

[2015-04-07 14:40] firm1 opened #2511 "l'url du détail d'un mp est incohérente"
Actuellement l'url d'un de mes message privé est la suivante : `http://beta.zestedesavoir.com/mp/3086/hey/messages/` autrement dit, le pattern est le suivant `http://beta.zestedesavoir.com/mp/<id>/<slug>/messages/`.

Intercalé l'id et le slug entre "mp" et "message" n'a aucune logique.

[2015-04-07 14:47] firm1 commented on #2511
On a le même problème sur l'url d'édition d'un MP. ça ressemble a ça : `http://beta.zestedesavoir.com/mp/<id_mp>/<slug_mp>/messages/<id_post>/editer/`.

ça me semble particulièrement tordu aussi.

[2015-04-07 14:51] firm1 opened #2512 "La pagination est affichée dans un MP avec une seule page"
Un MP qui contient au moins une réponse possède l'affichage de la pagination alors que le MP ne fait qu'une seule page. La pagination ne doit s'afficher que pour un nombre de page supérieur à 1.

C'est une regression, car on a pas le problème en prod.

[2015-04-07 14:52] GerardPaligot commented on #2511
`/mp/` : J'entre dans la ressource des MPs
`/<id>/<slug>/` : Je récupère le MP donné
`/messages/` : Je récupère les messages du MP dans lequel je me trouve
`/<id>/` : Je récupère le message donné du MP dans lequel je me trouve
`/editer/` : Verbe pour savoir quoi faire.

Je ne vois rien d'incohérent et ça l'est par rapport à la ZEP sur ce même sujet : https://zestedesavoir.com/forums/sujet/2558/zep

[2015-04-07 14:55] SpaceFox commented on #2511
Je suis d'accord avec @GerardPaligot

[2015-04-07 14:55] GerardPaligot commented on #2512
Tu peux appuyer ton bug par une capture ? Je ne le comprends pas.

[2015-04-07 15:11] Eskimon commented on #2296
Bien joué @firm1 !

[2015-04-07 15:11] #2296 closed, assigned to firm1

[2015-04-07 15:12] Eskimon commented on #2385
Bien joué @firm1 !

[2015-04-07 15:12] #2385 closed, assigned to firm1

[2015-04-07 15:16] firm1 commented on #2511
Voici comment pour moi les urls devraient apparaitre.
- la liste des mps: `/mp/` (ça devrait même être au pluriel, mais passons)
- la liste des messages d'un mp : `/mp/messages/<id>/<slug>/`
- editer un message privé : `/mp/messages/editer/<id_message>/`

Il ne faut pas confondre url de site (elle doivent être un minimum lisible) et url de l'api.

[2015-04-07 15:19] GerardPaligot commented on #2511
La chose que tu décris, c'est plus ou moins ce qui est actuellement en prod et qui ne convient à personne.

[2015-04-07 15:20] firm1 commented on #2512
Avec une capture c'est mieux en effet :

![alone-pagin](https://cloud.githubusercontent.com/assets/6066015/7026508/5b77cf2c-dd4a-11e4-8b2b-97781a5101ba.PNG)

[2015-04-07 15:21] firm1 commented on #2511
Dans ce cas, je vais aller voir du coté du forum alors.

[2015-04-07 15:22] Situphen commented on #2492
Effectivement c'est le même bug !

[2015-04-07 15:24] GerardPaligot commented on #2512
Ok, je viens de comprendre pourquoi je n'arrivais pas à reproduire le bug. Il apparait uniquement quand il n'y a que 2 membres dans la conversation privée.

[2015-04-07 15:27] GerardPaligot commented on #2511
Histoire d'être clair, je n'ai rien contre re-changer les URLs des MPs, je ne veux simplement pas les changer 36 000 fois. Alors oui, je pense qu'en discuter sur les forums est une bonne idée pour se mettre d'accord définitivement.

[2015-04-07 15:40] Situphen opened #2515 "Enlever la notification lorsque l'on masque un message"
## Note : ne pas dev, sera dans la ZEP-24

Actuellement, lorsqu'un message est masqué, la notification associé reste. Ce qui veut dire que si un membre spamme les forums et que ses messages sont cachés du Staff, la boite à notification restera polluée !

Quelques extraits de log IRC :

[2015-04-07 15:40] Eskimon commented on #2486
Et voila, all is good !

[2015-04-07 15:40] #2486 closed, assigned to Situphen

[2015-04-07 15:40] #2492 closed, assigned to nobody

[2015-04-07 15:40] Eskimon commented on #2492
Réglé !

[2015-04-07 15:46] Eskimon commented on #2510
Réglé

[2015-04-07 15:46] #2510 closed, assigned to nobody

[2015-04-07 16:12] Situphen commented on #2502
Ça a l'air effectivement d'être la classe "wide". C'est présent à d'autres endroits dans les tempates et je ne sais pas à quoi elle sert donc je me méfie.

[2015-04-07 16:30] Eskimon commented on #2502
Elle sert à afficher un texte dans sa version littéral sur les écrans larges si je dis pas de betises (documentation, tu me manques !)

[2015-04-07 17:56] SpaceFox opened #2516 "[Beta 1.7] Impossible de se connecter !"
Sur la bêta, on ne peut plus se connecter : ça provoque une erreur 500.

[2015-04-07 18:01] SpaceFox commented on #2516
OK, en fait c'est moi, oubliez ça.

[2015-04-07 18:01] #2516 closed, assigned to nobody

[2015-04-07 20:15] pierre-24 commented on #2483
Le bug a, on dirait, évolué. Soit [ça passe, mais il se plaint qu'il trouve pas GIT](https://readthedocs.org/builds/zds-site/2544823/) (sur v1.7-RC3); soit [ça plante total](https://readthedocs.org/builds/zds-site/2544822/) (sur la version stable, donc je dirais la _dev_). Pour le premier cas, je crois qu'il y a un requirement a ajouter quelque part.

Dans tout les cas, what the f**\* ???

[2015-04-07 22:52] firm1 opened #2519 "Bug aléatoire de Travis sur la branche de dev"
Depuis le passage sous django 1.7 en dev, la branche de dev est devenue instable, elle builde une fois sur deux.
- la PR en question #1905 son build n'est pas passé ([cf. travis](https://travis-ci.org/zestedesavoir/zds-site/jobs/57406674))
- la PR #2371 (qui n'a rien a voir avec l'erreur) à ensuite été mergée dans dev, et là travis est passé ([cf travis](https://travis-ci.org/zestedesavoir/zds-sit

[2015-04-07 22:59] firm1 opened #2520 "Problème d'installation de la dépendance GeoIP"
La version de GeoIP ayant changée récemment, il s'agit maintenant d'un binding C à compiler. Le seul problème est que ça ne compile pas sur un mon OS Ubuntu 14.10.

La problème se règle en installant `sudo apt-get install libgeoip-dev`, mais il faut le préciser dans la documentation d'installation, ainsi que dans le fichier update.md dans les actions à réaliser.

Par ailleurs, je l'ai déjà soulign

[2015-04-08 00:07] firm1 commented on #2483
Sur dev :

J'ai rajouté le fichier `requirements.txt` a la conf de readthedocs, le résultat de la compilation donne [ceci](https://readthedocs.org/builds/zds-site/2546648/) :
- d'un coté il n'arrive pas a installer tous les paquets (dépendances systèmes pour compilations manquants)
- de l'autre coté on dirait que python-zmarkdown est pas bien packagé pour lui.

J'ai alors, demandé à ce qu'il passe

[2015-04-08 00:13] pierre-24 commented on #2483
Il s'en sort effectivement assez bien, ça, ça a l'air d'être des typos dans nos docstrings. Par contre, j'arrive pas à voir le résultat ([et si le résultat est celui-là, il nous plante encore la moitié des docstrings](http://zds-site.readthedocs.org/fr/v1.7-RC3/back-end-code/private-message.html))

[2015-04-08 00:15] firm1 commented on #2483
Ton lien pointe sur la Relase 1-7 alors que mon buid a été fait sur la dev.

Je m'en vais relancer le build de la release pour voir

[2015-04-08 00:18] pierre-24 commented on #2483
Si "latest", c'est "dev", [la constatation est la même](http://zds-site.readthedocs.org/fr/latest/back-end-code/member.html) :'(

[2015-04-08 00:21] firm1 commented on #2483
En effet, je n'ai pas regardé plus en détail, je vais voir ce qu'il en journée. Mais ayant essayer la compil en local, ça ne marche pas non plus. J'ai des warnings aussi

[2015-04-08 00:26] pierre-24 commented on #2483
J'ai les warning sur v1.7-RC3 (mais c'est encore la vieille doc). Et sur upstream/dev, je compile sans problème. What the f**********\* !!!!

![screenshot from 2015-04-07 20 25 44](https://cloud.githubusercontent.com/assets/7889675/7036530/5b306050-dd64-11e4-8775-76dcb262d7de.png)

[2015-04-08 00:32] firm1 commented on #2483
Bon visiblement il n'arrive pas [à compiler lastest non plus](https://readthedocs.org/builds/zds-site/2546751/) qui fait reférence à dev. a cause de [la nouvelle lib GeoIP](https://github.com/zestedesavoir/zds-site/issues/2520)

[2015-04-08 06:46] SpaceFox commented on #2519
J'ai changé le titre pour quelque chose de plus pertinent.

À noter que je n'arrive pas à reproduire ce comportement en local, que ce soit via tox ou directement en lançant les tests, et ce quel que soit le SGBD.

PS : Pendant les derniers travaux sur la branche de Django 1.7, j'avais l'impression que ça arrivait quand 2 builds existaient en parallèle. Comme si Travis n'isolait pas bien ses SGBD.

[2015-04-08 07:14] GerardPaligot commented on #2519
Est-ce que nous avons essayé de donner un autre nom au module `mp` ? https://docs.djangoproject.com/fr/1.7/ref/applications/#for-application-authors

[2015-04-08 15:56] firm1 opened #2521 "On ne distingue plus les sujets non lus et les sujets lus dans la sidebar"
Jusqu'ici on arrivait à faire la différence entre un sujet non lu (en gras) et un sujet lu, parmi les topics que l'on suit en regardant la sidebar.

Depuis la v1.7 (actuellement en beta), la graisse n'est plus présente sur les sujets non lu, alors qu'on voit toujours qu'il le sont dans les notifications.

Une capture pour expliquer (j'ai 3 topics non lu, et pas de graisse) :

![perte de graisse](h

[2015-04-08 18:48] Situphen commented on #1577
Il faut réouvrir car le problème est réapparu pour certains membres ! https://zestedesavoir.com/forums/sujet/1376/les-pouces-vertrouge/?page=2#p50815 Je pense que c'est le _template tag_ `profile` qui bug chez certains membres et pas d'autres !

[2015-04-09 11:19] Luthaf commented on #2520
Idem pour OS X, j'ai du installer geoip via homebrew pour réussir à tester la PR #2462, avec `brew install geoip`.

[2015-04-09 19:33] SpaceFox commented on #2132
Corrigé et mergé.

[2015-04-09 19:33] #2132 closed, assigned to firm1

[2015-04-09 19:42] SpaceFox commented on #1822
Corrigé.

[2015-04-09 19:42] #1822 closed, assigned to firm1

[2015-04-09 19:51] SpaceFox commented on #2521
Corrigé.

[2015-04-09 19:51] #2521 closed, assigned to nobody

[2015-04-09 19:51] SpaceFox commented on #2512
Corrigé.

[2015-04-09 19:51] #2512 closed, assigned to nobody

[2015-04-09 21:29] pierre-24 commented on #2519
Peut-être regarder à ceci:http://stackoverflow.com/questions/24319558/how-to-resolve-django-core-exceptions-improperlyconfigured-application-labels ?

M'enfin, le fait que ça apparaisse une fois sur deux n'as aucun sens.

[2015-04-09 21:56] pierre-24 commented on #2483
Ah. Intéréssant (oui, je sais, j'arrive deux jour plus tard). On sait faire quelque chose pour ça ? (à part aller raler chez RTD ?)

[2015-04-09 21:59] SpaceFox commented on #2519
Je connais ce lien depuis que j'ai vu ce bug, mais il n'aide en rien : je n'ai pas réussi à trouver de conflit de noms potentiel.

[2015-04-09 22:00] pierre-24 commented on #2519
Je sais, j'ai regardé aussi. Le problème est que Google ne renvois que des solutions du genre --"

[2015-04-10 10:49] Eskimon commented on #2491
Bon, comme la release doit avancer il y a deux solutions :
1. Un fix est proposé
2. Les commits de la PR sus-mentionné sont revert.

Comme A-312 n'est plus sur github, j'ai bien peur que le plan B sera mis en oeuvre. Dites le moi et je ferais le nécessaire pour revert.

[2015-04-10 11:44] SpaceFox commented on #2491
A moins que quelqu'un ne soit capable de remplacer A-312 au pied levé, je crains que le revert ne soit en effet indispensable...

[2015-04-10 12:55] viki53 opened #2525 "RSS plus complets"
J'ai ajouté récemment le flux RSS des articles à mes sources Feedly pour être tenu au courant des nouvelles publications, et un nouvel article a été publié tout à l'heure.

Mais tout ce que je peux lire c'est ça :

Y'aurait pas moyen d'avoir le contenu de l'article ? Ou au moins un extrait ?

Parce que bon, je sais que ça fait perdre potentiellement des pages vues, mais je suis pas sûr que l'impac

[2015-04-10 13:11] Eskimon commented on #2525
Et surtout, ZdS s'en fiche des pages vues perdus ?

[2015-04-10 13:21] viki53 commented on #2525
Si c'est pour avoir de forts rebonds (par exemple sur des articles qui intéressent pas forcément), c'est pas forcément un mal.

Et les pages vues c'est intéressant quand y'a de la pub, sinon c'est pas grand chose.

Perso je préfère lire les articles dans les RSS (plus clair, format standardisé et adapté à mes habitudes) directement. Si j'ai envie d'aller plus loin (lire les commentaires, répondre,

[2015-04-10 13:31] Eskimon commented on #2525
Je me rends compte que j'ai mal formule. En gros, je suis bien d'accord que l'article pourrait être intégralement présent !

[2015-04-10 14:58] Eskimon commented on #2419
On peut fermer ici non ?

[2015-04-10 15:02] pierre-24 commented on #2419
Absolument d'accord.

[2015-04-10 15:16] #2419 closed, assigned to nobody

[2015-04-10 16:04] Situphen commented on #2272
On comptait pas sortir la ZEP 04 pour la v2.0 ?

[2015-04-10 16:19] SpaceFox commented on #2272
Non. On comptait la sortir dès que possible.
Le 10 avr. 2015 18:04, "Situphen" notifications@github.com a écrit :

[2015-04-11 08:19] Eskimon commented on #1607
Ok, merci @firm1 et @pierre-24 :)

[2015-04-11 08:19] #1607 closed, assigned to firm1

[2015-04-11 08:34] Eskimon commented on #2501
Ca vient de se commit je pense : https://github.com/zestedesavoir/zds-site/commit/ef9c7a555db7df9cddc84c74b418629ef930559c

[2015-04-11 08:49] Eskimon commented on #2501
PR en cours :)

[2015-04-11 08:59] Eskimon commented on #2114
En v1.6 ca le faisait toujours ?
Même question pour la 1.7 avec le changement des trucs sur le bandeau des cookies.

[2015-04-11 09:02] Eskimon commented on #2491
J'ai préparée la PR de revert (2530), je laisse le DTC trancher sur le meilleur moment pour l'appliquer.

[2015-04-11 09:07] Eskimon commented on #2497
Pour info, c'est un effet pervers des titres qui n'ont pas de cesure (en l'occurence une formule mathjax a la con).

Si on compare à un [profil "normal"](http://beta.zestedesavoir.com/forums/messages/255/) tout va bien.

En considérant que les titres/sous-titres sont censé être des mots et non pas juste un ensemble de lettre collées, le bug est vraiment en priorité faible je pense...

[2015-04-11 10:48] SpaceFox commented on #2491
Vu que les "fix" c'était à propos d'icônes écrasées par du texte, c'est mineur par rapport aux problèmes apportés par le "fix".

Du coup, ben on QA ton revert et on merge :)

[2015-04-11 14:50] Eskimon opened #2532 "Personnaliser le message de la bêta avant l'envoi, avec la liste des commits pré-remplie"
Lorsque la beta est mise à jour un nouveau message est posté dans son sujet de suivi sur le forum. Il serait cool que ce message liste les commits (s'ils ont un message) afin de rendre ce message un peu plus utile qu'un simple "up".

[2015-04-11 17:04] ghost commented on #2506
Firefox et Chrome. Tous les deux en dernière version.
@Situphen Oui du menu pour mobile.

[2015-04-11 17:06] forkmind commented on #2525
J'attends aussi cela avec impatiente ;-)

[2015-04-11 17:50] ghost opened #2533 "La version mobile n'est pas adapté à la taille de l'écran venant de Feedly"
La version mobile n'est pas adapté lorsque je veux voir la suite d'un article en cliquant sur un lien dans mon lecteur de flux RSS : l'affichage est celui d'un desktop. Cela n'advient pas lorsque je vais sur le site directement depuis un navigateur.

[2015-04-11 20:01] Situphen commented on #2533
~~Quel est ton lecteur RSS ?~~ Je n'ai rien dit, c'est marqué dans le titre ^^

Je teste ça ma semaine qui arrive.

[2015-04-11 20:04] Situphen commented on #2532
Je sais pas. Les utilisateurs n'ont pas accès à l'historique donc pour mettre le message des commits, j'aimerais bien que l'on demande l'autorisation à l'auteur !

[2015-04-12 09:29] DevHugo commented on #2525
Si personne le fait, je fais ça lundi ou mercredi.

[2015-04-12 13:22] SpaceFox commented on #2488
C'est corrigé, merci.

[2015-04-12 13:22] #2488 closed, assigned to Eskimon

[2015-04-12 13:23] SpaceFox commented on #2501
C'est corrigé, merci.

[2015-04-12 13:23] #2501 closed, assigned to Eskimon

[2015-04-12 17:10] Situphen commented on #2533
Ça s'adapte très bien sur le site http://feedly.com ! Tu utilises le site ou une des applications ?

[2015-04-12 17:36] DevHugo commented on #2525
Y'a un impact sur les performances, 5 input/output par lecture du flux par un lecteur rss. C'est nécessaire, pour aller chercher le contenu. Worth ou pas ?

[2015-04-12 18:09] SpaceFox commented on #2507
# La migration est _bloquée_

Je ne peux plus avancer seul. La migration vers Django 1.8 **nécessite impérativement l'aide** de quelqu'un d'expérimenté pour avancer.

Cf [la PR pour les détails](https://github.com/zestedesavoir/zds-site/pull/2518).

[2015-04-12 18:14] Eskimon opened #2534 "Virer les banni et non-activé de la liste des membres"
Afin d'être le plus transparent possible à l'égard de la communauté, n'afficher que les membres réellement actif (donc pas les banni ni les non-activé) serait plus précis et pertinent.
Fatalement le site perdra quelques membres (probablement une petite dizaine de multi et de banni, je ne sais pas pour les non-activé) mais ça me semble "intellectuellement honnête".

TODO:
- [x] Supprimer les inacti

[2015-04-12 18:25] SpaceFox commented on #2534
Pour info, les stats là tout de suite c'est :
- 2051 membres actifs "normaux"
- 17 bannis
- 1 membre en lecture seule
- 2 membres bannis _et_ en LS
- 153 comptes inactifs

[2015-04-12 18:29] Eskimon commented on #2534
Donc sur 2224 membres on en a 153 inactifs et 17 bannis, ce qui fait presque 7.5% du total des membres.

[2015-04-12 19:39] viki53 commented on #2525
Ca peut pas être mis en cache (serveur), tout bêtement ?

[2015-04-12 21:38] AmarOk1412 commented on #2114
J'ai encore eu le probleme aujourd'hui en 1.6, pas testé la 1.7

[2015-04-12 22:20] DevHugo commented on #2525
Si, c'est possible, c'est juste que j'ai pas encore vu de cache actif dans le code donc y'a sûrement des actions à faire. Du coup, c'est pas juste rajouter deux lignes de code.

Source:
http://twigstechtips.blogspot.fr/2011/04/django-caching-rss-feed-objects.html
http://stackoverflow.com/questions/26225116/what-are-best-practices-for-caching-for-a-home-feed-or-a-news-feed-in-django

[2015-04-12 22:31] Situphen commented on #2114
@AmarOk : Avec le tracking Google Analytics accepté ou refusé ?

[2015-04-13 06:09] Eskimon commented on #2525
Il me semble qu'il y a pas vraiment de cache d’activé sur ZdS... (mais ca remonte a de lointains souvenirs, ca a peut etre évolué...)

[2015-04-13 06:31] SpaceFox commented on #2525
Y'a un cache, mais uniquement sur :
- Les sessions
- L'API

[2015-04-13 07:41] SpaceFox commented on #2519
A noter que ce problème [semblait avoir été réglé sur la PR #1905](https://github.com/zestedesavoir/zds-site/pull/1905) par le fait de demander à Travis de tester le front en 1 tâche et plus en 2 tâches en parallèle... mais il semble être revenu depuis.

J'ai l'impression, même si ça n'a aucun sens, que Travis isole mal ses BDD MySQL. Et que du coup quand on a 2 tests qui tournent sur la même base

[2015-04-13 07:42] GerardPaligot commented on #2519
C'est ce que je me dis depuis hier soir.

[2015-04-13 07:48] Eskimon commented on #2511
Du coup il y a une décision finale ou besoin de débattre ?

[2015-04-13 07:51] GerardPaligot commented on #2511
Il y a besoin de débattre mais ça se passe sur ce [sujet](https://zestedesavoir.com/forums/sujet/2558/zep-26-rendre-les-urls-plus-coherentes/?page=2#p50732) des forums de ZdS.

[2015-04-13 09:50] francoisthire opened #2536 "Documentation : installation de zds sous GNU/Linux"
Je viens de faire l'installation de zds en suivant cette [documentation](http://zds-site.readthedocs.org/fr/latest/install/backend-linux-install.html).

Premièrement, la phrase qui dit que _les commandes sont génériques et indépendantes de la distribution_ est clairement fausse. Puisque les commandes et les paquets listés utilisent apt-get donc c'est pour Debian et ses dérivées. Il faudrait plutôt

[2015-04-13 09:52] Eskimon commented on #2536
Yep, c'est en cours de correction sur la PR #2526 :)

[2015-04-13 10:59] pierre-24 commented on #2536
Je suis "pas d'accord" avec toi, Saroupille, sur le second point: apt-get, quand il installe "libgeoip-dev", installe automatiquement "geoip" (ou alors, ton apt-get est pas normal, mais c'est [dans les dépendances du paquet](https://packages.debian.org/sid/libgeoip-dev), et je prend l'exemple de débian par facilité mais c'est pareil chez Ubuntu).

Pour le premier point ... Moui, je vais changer ça

[2015-04-13 11:00] pierre-24 commented on #2536
PS: sous Debian, le paquet "geoip" n'existe pas.

[2015-04-13 13:35] pierre-24 commented on #2536
@Saroupille : [j'ai tenu compte de tes remarques ici](https://github.com/pierre-24/zds-site/blob/661beac3964221e62f3137998eb4b4a604842725/doc/source/install/backend-linux-install.rst), n'hésites pas à me dire si ça ne te convient pas ou si tu trouves que c'est pas clair :)

[2015-04-13 13:37] SpaceFox commented on #2536
Le lien en bas de page est HS.

[2015-04-13 13:37] pierre-24 commented on #2536
Bien vu :)

[2015-04-13 13:52] pierre-24 commented on #2536
... Changé.

[2015-04-13 14:17] francoisthire commented on #2536
@pierre-24 : Pour le petit commentaire, oui. Pour ma part, sur arch, certains noms de paquets sont différents (mais par chance ils devaient être déjà installés).

Pour le paquet sous arch c'est bien geoip. Sous debian, ya un paquet geoip-bin ça doit être ça non ?

[2015-04-13 15:09] pierre-24 commented on #2536
C'est ça, mais comme je dis, il est en dépendance du paquet `*-dev`, donc ça m'étonne que tu doives explicitement l'installer sous une autre distribution (quoique je peux comprendre la logique derrière). Dans tout les cas, j'ai donc rajouté un test pour être sur que geoip est installé, si tu pouvais me confirmer qu'il fonctionne, ce serai super (c'est simplement essayer `geoiplookup zestedesavoir.

[2015-04-13 16:42] francoisthire commented on #2536
Yep, niquel !

[2015-04-13 16:44] pierre-24 commented on #2536
Ah, t'as été trop vite, ici ;)

On a pour habitude de ne fermer une issue que si la PR correspondante (la mienne dans ce cas) est mergée, ainsi on peut "suivre" les problèmes et leur résolution. Donc si tu pouvais la réouvrir, ce serait cool.

[2015-04-13 16:45] pierre-24 commented on #2536
(quelqu'un se chargera de la fermer quand ce sera bon, je te rassure)

[2015-04-13 19:55] SpaceFox commented on #2491
Corrigé, merci.

[2015-04-13 19:55] #2491 closed, assigned to nobody

[2015-04-13 20:04] SpaceFox commented on #2301
Corrigé et mergé.

[2015-04-13 20:58] #2520 closed, assigned to nobody

[2015-04-13 20:58] Eskimon commented on #2520
Merfi @pierre-24 et tout les autres !

[2015-04-13 20:58] Eskimon commented on #2536
Et voila !

[2015-04-13 20:58] #2536 closed, assigned to nobody

[2015-04-13 20:59] pierre-24 commented on #2520
Un merci tout spécialement à @Situphen ;)

[2015-04-13 21:04] Situphen commented on #2520
A votre service !

[2015-04-14 13:51] firm1 commented on #1927
C'est plus un problème de markdown ça non ? faudrait le reporter ailleurs je suppose.

[2015-04-14 15:11] Eskimon commented on #2067
Réglé !

[2015-04-14 15:57] firm1 commented on #2534
Dans la liste, il faudrait peut être aussi ne pas afficher les bot ? Car par définition ce ne sont pas des membres.

[2015-04-14 16:31] pierre-24 opened #2540 "Renvoyer des "moved permanently" (HTTP 301) quand un slug d'un tutoriel/article change"
Tout est dans le titre: actuellement, si un tutoriel ou article voit son _slug_ changer entre deux versions publiées, aucune mesure n'est prise niveau SEO.

[2015-04-14 17:30] pierre-24 commented on #2532
Je vois ce à quoi Eskimon veut arriver, et l'idée est pas si mauvaise que ça. À fortiori, il y a plusieurs manière d'imaginer une chose pareille, une d'entre elle serait qu'au moment de mettre en bêta (ou de la mettre à jour), une fenêtre s'ouvre avec une zone de texte. Par défaut, la zone de texte s'appellerai "résumé de vos modifications", et toujours par défaut, elle pourrait effectivement cont

[2015-04-14 17:33] pierre-24 opened #2542 "[version 1.7] On ne peut plus télécharger l'archive de son propre tutoriel si celui-ci n'est pas en bêta"
En direct de la bêta de ZdS; comme le titre l'indique :

![Avec bêta](https://cloud.githubusercontent.com/assets/7889675/7143005/bf45f564-e2aa-11e4-81c1-ee557987b5c8.png)
Image: Avec bêta

![Sans la bêta](https://cloud.githubusercontent.com/assets/7889675/7143014/d2c4273c-e2aa-11e4-90b4-e031594e1c2d.png)
Image: sans bêta

[2015-04-14 17:35] pierre-24 commented on #2542
Je demande par ailleurs auto-assignation.

[2015-04-14 17:37] Eskimon commented on #2542
Voila !!

[2015-04-14 17:44] Situphen commented on #2532
@pierre-24 : Tu penses à une zone de texte qui contiendrai ce genre de texte ?

[code]

Ou ce qui est entre crochet serait remplacé par le back. Si l'utilisateur enlève le `[[ liste-des-commits ]]`, il n'y aura pas de liste de _commits_.

[2015-04-14 17:47] pierre-24 commented on #2532
Non, mieux que ça. À chaque MàJ, t'as une zone de texte qui s'ouvre, et la liste des commits apparait en clair, genre

[code]

À l'auteur de virer la partie "voici les changements" si ça lui plait pas. Autrement dit, offrir à l'auteur d'écrire lui-même son message de MàJ, tout en lui en proposant un (c'est pour rejoindre ton point "moi, j'ai pas envie qu'on vois mes commits", bah tu peux les dégag

[2015-04-14 17:48] pierre-24 commented on #2532
Ce système permet par ailleurs de virer les commits bateaux ou d'éditer les messages de commit le cas échéant (les messages par défaut étant très peu explicites et très ... Bateaux, justement)

[2015-04-14 17:48] Situphen commented on #2532
+9999

[2015-04-14 17:59] Eskimon commented on #2532
J'aime ce que tu proposes Pierre :) Ca rajoute une étape au process mais elle peut-être vite "évitée/acompli" et permettera d'avoir des mises à jour de beta un peu plus parlante :)

[2015-04-14 18:02] pierre-24 commented on #2542
J'ai rien dit, en fait #2371 s'occupe déjà de ça, ce sera pour la version suivante. Vivement que cette v1.7 soit mergée, je mélange tout --"

[2015-04-14 18:02] #2542 closed, assigned to pierre-24

[2015-04-14 19:48] WinXaito opened #2543 "Site inaccessible"
Bonsoir,

je ne sais pas si je poste à la bonne place, mais le site est inaccessible. Erreur 500 en montrant le code source du template.

http://cloud.winlap.ch/pic/402.jpg

Bonne soirée.

[2015-04-14 19:48] WinXaito commented on #2543
Ah edit, toute mes excuses. Je viens de voir que ça a été corrigé !

[2015-04-14 19:50] GerardPaligot commented on #2543
Salut @WinXaito,

Merci pour ticket. En fait, il s'agit de la mise en production de la version 1.7 de ZdS.

Elle est maintenant terminée, tout est revenue à la normale.

@SpaceFox Faudrait d'ailleurs penser à une page de maintenance un jour.

[2015-04-14 19:52] SpaceFox commented on #2543
Y'a une page de maintenance... qui fonctionne tant que la MEP ne m'explose pas à la tronche.

Parce que oui, la MEP m'a **encore** explosé à la tronche.

[2015-04-14 19:53] WinXaito commented on #2543
Ok je vois ;)
(Juste par curiosité, les grands site on aussi se genre de problème lors de la mise en prod de nouvelle version de leur site ? Genre facebook, google, ... ?)

[2015-04-14 19:53] pierre-24 commented on #2543
Aïe. Ça sens le post explosif sur le forum dev', ça.

[2015-04-14 19:53] SpaceFox commented on #2543
Non, c'est juste NPM qui a planté lors d'une MAJ... la routine quoi

[2015-04-14 19:54] SpaceFox commented on #2543
@WinXaito Non, ils ont des infras (chères) qui permettent la MEP sans interruption de service. Les moyens peuvent aussi se permettre les MEP en heures creuses (mais y'a pas moyen que je me lève à  5h du mat pour faire ça)

[2015-04-14 19:54] pierre-24 commented on #2543
Bon, bon. Je vais voir ce que je peux faire pour #2482 ...

[2015-04-14 19:55] WinXaito commented on #2543
Je comprend tout à fait !
Merci. Vous pouvez clore se post :)

[2015-04-14 20:00] #2543 closed, assigned to nobody

[2015-04-14 20:10] firm1 opened #2544 "Problème d'affichage de la bannière cookies sur mobile"
Voir la capture

Navigo : Firefox

![tmp_11463-screenshot_2015-04-14-22-08-05943782424](https://cloud.githubusercontent.com/assets/6066015/7146316/fc5485fe-e2f2-11e4-8d14-4052bdd70106.png)

[2015-04-14 20:13] SpaceFox commented on #2544
Oooooh de la QA en prod ;)

[2015-04-14 20:19] Situphen opened #2545 "Pouvoir éditer le titre d'un message privé"
Il est devenu impossible d'éditer le titre d'un message privé. En éditant le premier post on tombe sur le même formulaire que n'importe quel post alors que l'on devrait pouvoir éditer le titre !

[2015-04-14 20:20] SpaceFox commented on #2545
Je ne suis pas sûr que ça a jamais été possible d'éditer le titre d'un MP.

[2015-04-14 20:24] Situphen commented on #2545
Ah en effet sur la 1.6 on ne pouvait pas non plus !

Bah du coup je propose qu'on met en place cette fonctionnalité car actuellement si on se trompe dans le titre on ne peut pas se corriger...

[2015-04-14 22:02] SpaceFox opened #2547 "Changer le middleware de sécurité"
Django 1.8 arrive avec un nouveau middleware de sécurité : https://docs.djangoproject.com/en/1.8/ref/middleware/#django.middleware.security.SecurityMiddleware

A voir ce qui peut nous intéresser là-dedans.

[2015-04-14 22:04] SpaceFox opened #2548 "[Django 1.8] Nouvelle manière d'initialiser les données des tests"
Django 1.8 arrive avec une nouvelle manière d'initialiser les tests : https://docs.djangoproject.com/en/1.8/releases/1.8/#testcase-data-setup

Je ne sais pas si ça pourrait nous intéresser.

[2015-04-14 22:09] SpaceFox opened #2549 "[Django 1.8] Simplifier la gestion des droits"
Django 1.8 permet à `has_perm()` et `has_module_perm()` de lever directement des `PermissionDenied`  ce qui pourrait simplifier notre gestion des droits.

Cf https://docs.djangoproject.com/en/1.8/releases/1.8/#django-contrib-auth

[2015-04-15 05:25] poulp commented on #2545
doublon de #2393

[2015-04-15 06:23] poulp commented on #2502
La même sur le serveur bêta avec firefox :

![deplacer](https://cloud.githubusercontent.com/assets/819246/7153215/aec080f8-e348-11e4-806c-b9849617744c.png)

[2015-04-15 06:37] GerardPaligot commented on #2545
Ouaip, je ferme ici.

[2015-04-15 06:37] #2545 closed, assigned to nobody

[2015-04-15 06:48] SpaceFox opened #2551 "[Django 1.8] Utiliser les nouveaux patterns d'URL"
Django 1.8 déprécie le système de patterns d'URL actuel pour le remplacer par un beaucoup plus simple et logique : https://docs.djangoproject.com/en/1.8/releases/1.8/#django-conf-urls-patterns

Il faudra s'y mettre. C'est très simple (ça peut presque se faire entièrement à coup d'expressions régulières) mais :
1. Il ne faut pas oublier de modifier _tous_ les `reverse`
2. Ça touche à peu près tous

[2015-04-15 06:50] SpaceFox commented on #2551
En attente du merge de Django 1.8 : https://github.com/zestedesavoir/zds-site/pull/2546

[2015-04-15 06:50] SpaceFox commented on #2549
En attente du merge de Django 1.8 : https://github.com/zestedesavoir/zds-site/pull/2546

[2015-04-15 06:50] SpaceFox commented on #2548
En attente du merge de Django 1.8 : https://github.com/zestedesavoir/zds-site/pull/2546

[2015-04-15 06:50] SpaceFox commented on #2547
En attente du merge de Django 1.8 : https://github.com/zestedesavoir/zds-site/pull/2546

[2015-04-15 06:57] poulp commented on #1459
- Page quelquonque : flux rss des tutoriels/articles (?) **Non**
- Page reprenant les tutoriels : flux rss des tutoriels **Oui**
- Page reprendant les articles : flux rss des articles **Oui**
- Page générale du forum : flux rss tout les sujets **Oui**
- Page d'un forum : flux rss des sujets du forum **Oui**
- Un topic : flux rss des sujets du forum **Non**

Quid de ce ticket, les dispositions actu

[2015-04-15 07:04] Eskimon opened #2552 "Galerie : Le formulaire d'ajout d'utilisateur est très moche"
Une image vaut mieux que mille mots:

![screenshot from 2015-04-15 09 03 38](https://cloud.githubusercontent.com/assets/761168/7153627/53bcb8ce-e34e-11e4-8728-04f3d49d7dc5.png)

 (screenshot pris en version 1.7 et problème déjà présent en 1.6)

[2015-04-15 07:08] Eskimon opened #2553 "Galerie : On ne peut pas supprimer un utilisateur"
Si on ajoute qqun a une galerie, on ne pourra plus le supprimer ou modifier ses droits Lecture/Ecriture ensuite.

[2015-04-15 07:09] Eskimon commented on #731
Je ferme ici et cree des tickets individuels pour les problèmes restants.

[2015-04-15 07:09] #731 closed, assigned to nobody

[2015-04-15 07:09] Eskimon opened #2554 "Galerie : On ne peut pas renommer une galerie"
Tout est dans le titre, on ne peut pas renommer une galerie.

[2015-04-15 07:11] Eskimon opened #2555 "Galerie : Miniature qui subsiste après suppression d'images"
Si je supprime une image de ma galerie, la source est bien supprimée du disque mais pas les miniatures apparemment, et donc ça bouffe de l'espace disque pour des trucs "fantômes".

[2015-04-15 07:19] Eskimon opened #2556 "MP : Gros souci d'affichage"
[Via PG06](https://zestedesavoir.com/forums/sujet/2861/mp-de-plusieurs-pages/):

Les MPs de plusieurs pages ont un gros problème : à chaque page, le premier message de la page apparait, puis la totalité des messages s'affiche entièrement (de la première page à la dernière) sans discontinuité. Donc dès que le nombre de pages est important le chargement est très lent et pour ceux qui n'ont pas un PC

[2015-04-15 07:26] GerardPaligot commented on #2556
Oui, je sais d'où vient le problème. La pagination, c'est vraiment casse pied quand tu veux récupérer le dernier message de la page précédente ... J'avais fais des tests pour être sûr que ça fonctionne, j'avais demandé à la QA de créer plusieurs pages mais il semble que c'est quand même passé à travers.

Je m'en charge ce soir.

PS : C'est tellement long à charger que ça en devient bloquant. J'ai

[2015-04-15 07:32] SpaceFox commented on #2556
Je confirme le côté bloquant, surtout que je sais qu'il existe des très très longs MP (et encore, je pense ne pas être dans un des plus longs).

[2015-04-15 07:32] SpaceFox commented on #2555
Il me semble que ces miniatures sont gérées comme un cache. Par contre il faudrait voir la doc pour confirmer et savoir comment invalider.

[2015-04-15 08:01] firm1 commented on #2552
C'est un doublon de je ne sais plus quelle issue que j'avais créé

Le mer. 15 avr. 2015 09:04, Eskimon notifications@github.com a écrit :

[2015-04-15 08:02] Eskimon commented on #2552
Trouve ! https://github.com/zestedesavoir/zds-site/issues/2311

[2015-04-15 08:02] #2552 closed, assigned to nobody

[2015-04-15 13:33] Eskimon opened #2557 "MP et pagination : Plusieurs bugs"
Dans la liste des MP
- Les fleches precedente/suivante ne marche plus
- Mais cliquer sur un nombre marche (c'est deja ca)
- Mais l'affichage du nombre de la page actuelle est inexistant (cf capture ci-dessous)

@GerardPaligot je suppose que la aussi tu as des idées ^^

---

![Page 8 sélectionnées dans les mps](https://cloud.githubusercontent.com/assets/761168/7159744/a2568498-e384-11e4-8346-11a297

[2015-04-15 13:34] GerardPaligot commented on #2557
Je ne sais pas si c'est un bug du back ou du front.

[2015-04-15 13:38] Eskimon commented on #2557
Vu que ca touche que les MP (apparemment) et qu'on a eu un refacto la dessus, j'aurais tendance a dire back...

[2015-04-15 13:42] GerardPaligot commented on #2557
Le code est refactorisé du côté back et front. Donc sûrement (parce que à ma connaissance personne n'a touché à la pagination à part moi) mais faut confirmer.

[2015-04-15 13:43] GerardPaligot commented on #2557
Dans tous les cas, c'est une régression.

[2015-04-15 19:35] #2556 closed, assigned to GerardPaligot

[2015-04-15 19:56] GerardPaligot commented on #2557
Faut fermer avec une version donnée ici pour la milestone ?

[2015-04-15 19:56] GerardPaligot commented on #2556
Faut donner une version ici pour la milestone ?

[2015-04-15 20:22] #2557 closed, assigned to nobody

[2015-04-16 00:23] pierre-24 commented on #2551
À noter que le modèle CBV (class based view) demande déjà une telle construction, ce qui signifie qu'il n'y aura pas besoin de le faire sur les modules ou l'API est déjà passé, ni sur article/tuto quand la ZEP-12 sera arrivée.

[2015-04-16 00:23] pierre-24 commented on #2554
... Et si, avec #2505, on peut ;)

[2015-04-16 00:24] pierre-24 commented on #2555
Ping @firm1 pour easy_thumbnails ?

[2015-04-16 00:25] pierre-24 commented on #2548
À première vue, je dirais ... Au cas par cas, mais très probablement.

[2015-04-16 06:08] Eskimon commented on #2554
TU es sur ? De ce que je me rappel en faisant la QA : "Le back le peut mais le front le propose pas" c'est ca ?

[2015-04-16 06:13] poulp commented on #2554
Je viens de tester et on peut changer titre/sous-titre de la galerie via un formulaire d'édition.

[2015-04-16 06:14] poulp commented on #2554
Par contre il y a une faute : `Éditer la gallerie`

[2015-04-16 06:19] poulp commented on #2553
Du coup comment ça se passe au niveaux des droits, doit-on créer un niveau supérieur ?
- Lecture : voir la galerie
- Ecriture : voir/modifier la galerie
- Owner : voir/modifier la galerie + gestion des utilisateurs

[2015-04-16 06:35] Eskimon commented on #2553
Dans un premier temps "KISS" en gardant juste R/W non ? Celui qui a le droit d’écriture a reçu la confiance du contrib original pour pouvoir gérer la galerie et donc ajouter d'autres personnes.

Dans un second temps le "owner" (administration) serait effectivement pas une mauvaise idée je pense.

[2015-04-16 06:51] Eskimon commented on #2554
J’essaierai de faire une PR ce soir pour corriger ca si personne ne la fait avant :) ( @poulp peut-etre ;) ?)

[2015-04-16 07:05] Eskimon commented on #2554
et bien voila, c'est fait :)

[2015-04-16 07:05] #2554 closed, assigned to nobody

[2015-04-16 08:14] Eskimon commented on #2403
merci @poulp :)

[2015-04-16 08:14] #2403 closed, assigned to nobody

[2015-04-16 08:35] firm1 opened #2561 "Problème d'affichage dans les sujets suivis"
Je me suis retrouvé avec un problème de rendu dans la zone des sujets suivis.

![bug_pause](https://cloud.githubusercontent.com/assets/6066015/7177075/1dcff7e0-e424-11e4-81e7-15b75e207df8.PNG)

C'est la première fois que je vois ce bouton à cet endroit sur un sujet que je follow. Le sujet était pourtant ouvert au moment ou j'ai fait la capture.

[2015-04-16 09:22] Eskimon commented on #2561
J'avais eu des delires pareils a l'epoque ou les outils front marchait pas si bien (lol), c'etait du a un sprite mal genere ou une bricole du genre je sais plus (mais la ce serait bizarre de pas avoir deux fois la meme icone)

[2015-04-16 10:18] Eskimon commented on #2009
Je ping ici pour savoir "concrètement il faut quoi ?"

[2015-04-16 10:49] Eskimon commented on #715
Ce ticket arrivera a feter son anniversaire dans un mois et demi \o/, dernier commentaire il y a 6 mois...

Ca mérite franchement de rester ouvert ? Je pense vraiment que ce ticket ne sera **jamais** traité, tout simplement parce que personne a part les bots des moteurs de recherche ne va sur cette page, et le cas échéant verront qu'elle ne sert a rien et repartirons autre part...

[2015-04-16 10:55] Eskimon commented on #2553
@poulp tu avais deja pas mal travaille la dessus, tu pourrais reprendre une partie peut-etre non ? https://github.com/zestedesavoir/zds-site/pull/1309

Sinon je ferme ici, ce ticket est un doublon de https://github.com/zestedesavoir/zds-site/issues/839

[2015-04-16 10:55] #2553 closed, assigned to nobody

[2015-04-16 11:00] Eskimon commented on #949
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 11:04] pierre-24 commented on #2009
corriger la partie "front" de la doc d'install linux, si je me souviens bien ?!?

[2015-04-16 11:04] pierre-24 commented on #949
Hell yeah, et c'est même déja fait ;)

[2015-04-16 12:21] Eskimon commented on #850
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:21] Eskimon commented on #1334
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:22] Eskimon commented on #1226
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:23] Eskimon commented on #1319
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:25] Eskimon commented on #1443
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:26] Eskimon commented on #1509
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:27] Eskimon commented on #1599
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:28] Eskimon commented on #1577
@Situphen on peut refermer ici ?

[2015-04-16 12:28] Eskimon commented on #1519
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:28] artragis commented on #1334
on aimerait que ça y soit, pas encore codé, je pense que je vais la passer
en "need help".

2015-04-16 14:21 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 12:30] artragis commented on #850
Déjà opérationnel sur la ZEP 12.

[2015-04-16 12:30] artragis commented on #1226
Need Test

[2015-04-16 12:32] Eskimon commented on #1639
On a toujours besoin de ce ticket ?

[2015-04-16 12:32] artragis commented on #1319
On l'avait oublié.

2015-04-16 14:23 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 12:33] Eskimon commented on #1605
3 mois après a-t-on toujours besoin du ticket ou tout semble ok ?

[2015-04-16 12:34] artragis commented on #1443
Implémenté sur la ZEP 12, il faudra juste passer un coup de front sur cette
page.

2015-04-16 14:25 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 12:34] artragis commented on #1509
Implémenté, testé, migré, magique.

2015-04-16 14:26 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 12:35] artragis commented on #1599
Implémenté, testé, et même plusieurs passe de front + web design là dessus.

2015-04-16 14:27 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 12:36] Eskimon commented on #1653
Pour qui veut, la correction devrait etre la meme que celle-ci : https://github.com/zestedesavoir/zds-site/pull/2539

[2015-04-16 12:36] artragis commented on #1519
Need test, mais il me semble que @pierre-24 https://github.com/pierre-24
a déjà intégré ça dans les TU de base.

2015-04-16 14:28 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 12:36] Eskimon commented on #1654
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:39] artragis commented on #1654
je sais pas. J'ajoute aux ticket "need test"

2015-04-16 14:36 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 12:40] Eskimon commented on #1736
Cette PR aurait-elle corrigée ce problème ? https://github.com/zestedesavoir/zds-site/pull/2371

[2015-04-16 12:43] Eskimon commented on #1762
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:44] Eskimon commented on #1772
Je met ici un mot cle : EDIT (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:52] Eskimon commented on #2078
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:52] Eskimon commented on #2070
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:53] Eskimon commented on #1950
Je met ici un mot cle : EDIT (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:55] Eskimon commented on #2025
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:59] Eskimon commented on #2183
Je vote pour la fermeture...

[2015-04-16 12:59] Eskimon commented on #2274
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:59] firm1 commented on #1639
Je ne pense pas. On peut le fermer

2015-04-16 14:32 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 12:59] Eskimon commented on #2308
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

[2015-04-16 12:59] firm1 commented on #1605
On ne l'a plus revu depuis, je pense qu'on peut le fermer et l'ouvrir au
pire si besoin.

2015-04-16 14:33 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:01] Eskimon commented on #2405
Je met ici un mot cle : ZEP-12 (pour me rappeler de revenir ici) . @pierre-24 @artragis vous confirmez que ca sera dedans ?

@artragis tu peux relire et fermer si besoin le ticket sus-mentionnée ?

[2015-04-16 13:01] Eskimon commented on #1444
Avis aux membres staff, avez vous vraiment besoin de ca ?

[2015-04-16 13:06] artragis commented on #1762
Implémenté et globalement testé !

2015-04-16 14:43 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:07] artragis commented on #1772
Non prévu dans l'implémentation de base de la ZEP 12 à voir plus tard.

2015-04-16 14:44 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:07] artragis commented on #2078
à tester.

2015-04-16 14:52 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:10] artragis commented on #2070
Je pene que non seulement nous n'avons pas résolu le bug mais qu'en plus j'ai volontairement imité le comportement actuel.

[2015-04-16 13:10] Eskimon commented on #1772
Ok, je supprime mon marqueur, ca sera une évolution future :)

[2015-04-16 13:11] artragis commented on #1950
Non implémenté pour l'instant et aucune raison que ça le soit dans la
version 1 de la ZEP 12, tu peux enlever le tag.

2015-04-16 14:53 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:11] artragis commented on #2025
autoquote

2015-04-16 14:55 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:12] Eskimon commented on #1950
Ca marche :)

[2015-04-16 13:12] artragis commented on #2274
to be tested, il me semble avoir vu le bout de code qui le fait.

2015-04-16 14:59 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:13] Eskimon commented on #2025
ok :) Mais comme un peu plus tot on parlais du suivi auto pour l'auteur, est-ce que ca ne pourrait pas s'en inspirer ?

[2015-04-16 13:13] artragis commented on #2308
To be tested.

2015-04-16 14:59 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:14] artragis commented on #2405
Ce soir

Le 16 avril 2015 15:01, Eskimon notifications@github.com a écrit :

[2015-04-16 13:15] GerardPaligot commented on #2183
Je vote pour la fermeture de landscape...

[2015-04-16 13:16] artragis commented on #2025
Dans le futur il **faudra** s'en inspirer, pour l'instant c'est un peu...
difficile.

2015-04-16 15:13 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 13:16] artragis commented on #2025
Au pire à voir avec celui qui va dev l'inscription de l'auteur. #Pasmoi

Le 16 avril 2015 15:16, francois dambrine artragis@gmail.com a écrit :

[2015-04-16 13:23] firm1 commented on #2078
Il me semble que ce problème est déjà réglé avec ce commit :
https://github.com/zestedesavoir/zds-site/commit/e13f8dcec03d0dd97336e3df144bb6e2923fccf3

Le 16 avril 2015 15:07, artragis notifications@github.com a écrit :

[2015-04-16 13:23] Eskimon commented on #2183
Pourquoi ? Ça marche pas si mal non ? (en tout cas perso il m'arrive de m'en servir et je sais que je ne suis pas le seul)

[2015-04-16 13:24] pierre-24 commented on #1226
D'après moi et mes quelques tests préliminaires, c'est bon, mais effectivement, QA needed :)

[2015-04-16 13:25] pierre-24 commented on #1443
Et pas que de front, je sais pas ce que fout la lib' qui génère les diffs, mais c'est pas clair.

[2015-04-16 13:26] pierre-24 commented on #1599
Je ne me rappellais même pas que Luthaf avait déjà proposé ce qu'il nous a fallu tant de temps à reproposer ;)

[2015-04-16 13:27] Eskimon commented on #2078
Yep, en v1.7 :)

[2015-04-16 13:27] #2078 closed, assigned to nobody

[2015-04-16 13:27] pierre-24 commented on #1519
Yep, c'est dans les T.U., donc on devrait être bon là dessus ;)

(need QA, as usual)

[2015-04-16 13:33] pierre-24 commented on #1762
Y'a encore deux ou trois éceuils, mais on se rapproche d'un truc fonctionnel, artragis a fait un travail magique là dessus.

[2015-04-16 13:35] pierre-24 commented on #1950
Effectivement. À réflexion, ceci touche au très délicat problème du versionage des images, donc c'est un gros truc, en fait.

[2015-04-16 14:48] Luthaf commented on #1736
Elle est en prod ? Si c'est le cas, je ne vois toujours pas le lien =(

[2015-04-16 14:51] Eskimon commented on #1736
Elle était :D a cause des evenements recents de lag, on a testé de revenir en v1.6, hors cette modif vient en 1.7...

[2015-04-16 15:04] Eskimon commented on #2519
Donc on peut fermer ici non ?

[2015-04-16 15:06] GerardPaligot commented on #2519
Tout à fait.

[2015-04-16 15:06] #2519 closed, assigned to nobody

[2015-04-16 15:06] firm1 commented on #2519
Toutafè

2015-04-16 17:05 GMT+02:00 Eskimon notifications@github.com:

[2015-04-16 15:07] Eskimon commented on #2329
ping

[2015-04-16 15:12] pierre-24 opened #2562 "Plus moyen d'importer les fixtures "aides""
À mon avis, le passage à Django 1.7 a bousillé notre script. Je cite:

[code]

... Oups ^^

[2015-04-16 15:33] Eskimon commented on #2130
Ok, merci @poulp !

[2015-04-16 15:33] #2130 closed, assigned to gustavi

[2015-04-16 15:36] Eskimon opened #2563 "Erreur d'encodage et validation de tuto qui plante"
Lors de mes récentes QA, j'ai voulu importer - valider - publier le tuto Irllicht qui est dans les fixtures.
Je suis donc sur dev avec mes requirements à jour.
Quand je veux cliquer sur valider, ca commence a mouliner puis m'envoi bouler avec l'erreur et la stacktrace suivante:

`UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 65: ordinal not in range(128)`

`The strin

[2015-04-16 15:42] Eskimon commented on #2563
Bon je ne comprends pas. J'ai essayé de refaire un tuto simple (big tuto avec peu de chose, juste une partie, un chapitre, deux exraits) et en mettant des accents un peu partout sur les titres et les contenus ainsi que dans les messages de commits et ça passe. Je ne comprends pas.

[2015-04-16 15:43] firm1 commented on #2563
Peut-être la fonction d'import qui fait mal son job ?

[2015-04-16 15:47] Eskimon commented on #2381
Cette issue est réparée apparemment. J'ai testé sur la page de membres et celle des MP ainsi que la liste des sujets d'un forum et c'était ok partout

[2015-04-16 15:47] #2381 closed, assigned to nobody

[2015-04-16 15:48] Eskimon commented on #2563
Aucune idée, pourtant on y a pas touché depuis longtemps et elle marchait bien avant oO

[2015-04-16 15:53] Eskimon commented on #2410
Du coup ca en est ou ici ?

[2015-04-16 15:57] firm1 commented on #2410
PR en cours, need QA

[2015-04-16 15:59] cgabard commented on #2563
Tu as le contenu exact de la partie de tuto qui pose problème ? Dans la version du markdown utilisé actuellement sur le site des accents dans les liens peuvent générer ce problème. Si c'est ça, j'ai fais un hotfix ce matin et la toute derniere version de python-zmarkdown n'a plus le bug. Par contre on est pas à l'abris d'une autre erreur de ce genre.

Il faudrait réussir a isoler l'extrait qui pos

[2015-04-16 16:09] Eskimon commented on #2563
J'ai essayé avec ton update de ce matin et c'était pas mieux. Je ne sais pas exactement quel extrait pose souci, vous pouvez reproduire avec le big tuto des fixtures (désolé je dois me sauver !)

[2015-04-16 16:10] Alex-D commented on #2561
Le soucis doit être lié à ça : http://zestedesavoir.com/static/sprite@2x.png (err 404)

[2015-04-16 16:39] pierre-24 opened #2564 "Impossible de se connecter à l'administration"
Quand on visite `127.0.0.1:8000/admin/` en étant pas connecté, on recois cette erreur

... Elle disparaît quand on se connecte avec un compte admin via le site.

[2015-04-16 16:51] pierre-24 commented on #2563
C'est d'autant plus étonnant que, de tête, ce tuto fait partie des test lancés par Travis à chaque fois. Je teste ça plus tard.

[2015-04-16 18:58] Eskimon commented on #2564
Est-ce vraiment un problème ?

[2015-04-16 18:59] pierre-24 commented on #2564
Bah je le dis surtout parce que ça pourrais venir d'un problème plus profond (je me souviens avoir vu @SpaceFox parler à plusieurs reprises de `SITE_ID`)

[2015-04-16 19:06] Situphen commented on #1577
Non, #2560 ne corrige pas le problème !

[2015-04-16 19:26] SpaceFox commented on #2564
Je pensais l'avoir corrigé ce truc ?!

Tu es sur quelle version ?

[2015-04-16 19:27] pierre-24 commented on #2564
À priori `upstream/dev`, dernière du nom.

[2015-04-16 19:50] Eskimon commented on #2555
J'ai regardé un peu cet aprem, j'ai rien vu parlant de cache (mais j'ai lu en diagonale), par contre c'est certain dans le code on fait absolument rien pour les virer puisqu'on se contente juste de virer l'original. Bref, je regarde pour corriger ca ce weekend :)

[2015-04-17 07:31] GerardPaligot opened #2568 "Intégrer linthub au projet"
Toujours dans un but d'augmenter notre qualité de code, j'aimerais proposer linthub qui, en 2 mots,  un outil qui ajoute des commentaires dans le code source d'une PR pour signaler toutes les petites fautes que ferait le contributeur.

Vous pouvez retrouver toutes les informations utiles sur le [site internet](https://linthub.io/) de l'outil avec des démos sur le rendu d'une PR.

Je ping nos 2 ges

[2015-04-17 07:35] SpaceFox commented on #2568
Un peu comme Landscape/Flake8 mais en plus clair non ?

[2015-04-17 07:37] GerardPaligot commented on #2568
C'est un peu l'idée mais ça concerne que le code précis de la PR alors que flake reste sur tout le projet et landscape ... bah j'ai jamais trop compris sa portée.

[2015-04-17 07:37] Eskimon commented on #2568
En tout cas sur leur [PR de démo](https://github.com/linthubot/linthub-demo/pull/1) ca a de la gueule...

[2015-04-17 07:40] Eskimon commented on #2568
Bref, je dirais bien "pourquoi pas", au moins c'est plus clair que landscape car l'information vient a nous clairement plutôt que d'aller la chercher sur landscape ou le résumé Travis. Du coup si on fait ca je propose de garder flake tout de même pour pas qu'on aille merger les PR trop sales et éventuellement virer landscape a un moment ou a un autre

[2015-04-17 07:46] GerardPaligot commented on #2568
Ok, je testerais l'outil la semaine prochaine et je donnerais un feedback sur cette issue.

[2015-04-17 08:01] Situphen commented on #2568
Je suis pour aussi ! Il faut par contre vérifier que pour le JS il utilise bien notre configuration de JSHint (le fichier `.jshintrc` de notre dépôt et pas le sien).

[2015-04-17 16:28] WinXaito commented on #2564
Ne faut t'il pas rajouter quelque chose comme (Dans le settings.py)

[code]

(Toutes mes excuses si je dis des bêtises, je suis en train d'apprendre django et python. Je me dis que pour progresser un bon moyen est de suivre vos conversation et regarder le code ...)

[2015-04-17 16:30] pierre-24 commented on #2564
Peut-être. Sinon, une autre idée, c'est tout simplement qu'il y a pas la bonne fixture au bon endroit ^^

[2015-04-17 17:01] WinXaito opened #2569 "Lenteur sur le site ?"
Bonjour,

Le chargement d'une page met entre 3 et 30 sec à se charger. C'est assez random.

Je suis le seul ?

[2015-04-17 18:17] Eskimon commented on #2569
Nop, c'est global et c'est lié à l'hébergement, pas au site en lui même donc on peut malheureusement pas y faire grand chose :(

Du coup je ferme le ticket car il n'est pas lié au code ;) (on attend des nouvelles d'OVH)

[2015-04-17 18:17] #2569 closed, assigned to nobody

[2015-04-18 08:04] Eskimon commented on #2562
[code]

Probablement ce morceau là qui gène...

[2015-04-19 14:26] DevHugo opened #2572 "Les top tags ne sont pas triés"
Les top tags ne sont pas triés correctement. Pour reproduire le problème, créer des sujets avec des tags et vérifier que les top tags ne sont pas triés correctement.

[2015-04-21 06:07] Eskimon commented on #2393
A mettre dans la v1.9 (ping @SpaceFox )

[2015-04-21 06:07] #2393 closed, assigned to nobody

[2015-04-21 06:08] Eskimon commented on #2393
Merci @poulp :)

[2015-04-21 06:53] SpaceFox commented on #2393
Oups, j'avais oublié de créer la milestone !

[2015-04-21 10:39] Eskimon commented on #2572
define: triés correctement (dans quel ordre ?)

[2015-04-21 10:46] Eskimon commented on #480
Ce ticket sera supporté par la [ZEP-15](https://zestedesavoir.com/forums/sujet/1082/zep-15-navigation-a-facettes-a-travers-le-site/)

[2015-04-21 10:48] Eskimon commented on #538
Ce ticket sera pris en charge par la [ZEP-7](https://zestedesavoir.com/forums/sujet/709/zep-07-champs-personnalises-dans-le-profil/)

[2015-04-21 10:51] Eskimon commented on #539
Ce ticket meriterait une ZEP a part entiere et sera en partie traite par les [ZEP-18](https://zestedesavoir.com/forums/sujet/1793/zep-18-amelioration-de-lergonomie-de-validation/) et [ZEP-20](https://zestedesavoir.com/forums/sujet/2042/zep-20-relecture-des-tutos-par-les-pairs/)

[2015-04-21 10:56] Eskimon commented on #715
Je laisse jusqu’à fin avril. S'il y a pas de nouvelles/décisions quand je reviens je fermerais.

[2015-04-21 10:58] Eskimon commented on #726
Je ferme ici, la [ZEP-11](https://zestedesavoir.com/forums/sujet/835/zep-11-interface-de-statistiques-sur-les-tutoriels/) couvre plus largement la problématique, la discussion pourra avoir lieu la bas.

[2015-04-21 10:58] #726 closed, assigned to nobody

[2015-04-21 11:04] Eskimon commented on #1356
Rendu ou en est la doc sur RTD, peut on considerer ce ticket comme OK ?

[2015-04-21 11:06] pierre-24 commented on #1356
Je confirme :)

[2015-04-21 11:07] Eskimon commented on #1356
Merci :) (et encore bravo a tous pour la doc !!)

[2015-04-21 11:07] #1356 closed, assigned to firm1

[2015-04-21 11:09] Eskimon commented on #1444
Si quand je reviens fin avril/début mai j'ai pas de nouvelles, je considérerais le ticket comme bon a fermer.

( @Situphen si tu peux contacter des staff pendant mon absence pour leur demander leur avis ce serait cool)

[2015-04-21 11:10] Eskimon commented on #1454
Le ticket est resolu via l'utilisation de la boite mail de communication non ? On peut fermer ?

[2015-04-21 11:11] Eskimon commented on #1493
Je suppose que l'on peut laisser trainer ce ticket en attendant la ZEP-5 ?

[2015-04-21 11:14] #1639 closed, assigned to nobody

[2015-04-21 11:14] #1605 closed, assigned to nobody

[2015-04-21 11:15] Eskimon commented on #1666
Je met le mot-cle ZEP-4 pour m'en souvenir.

[2015-04-21 11:20] Eskimon commented on #1691
Ca existe encore ce problème ?

[2015-04-21 11:20] Eskimon commented on #1707
Il reste quoi a faire ici ?

[2015-04-21 11:20] #1713 closed, assigned to nobody

[2015-04-21 11:21] Eskimon commented on #1736
On peut fermer ici non ? @Luthaf tu confirmes (car c'est maintenant la bonne version en prod' ) ?

[2015-04-21 11:22] Eskimon commented on #1898
Est-ce que la ZEP-12 touche a ca ou pas ?

[2015-04-21 11:22] Situphen commented on #1444
Donc il faut leur demander s'ils ont besoin d'avoir les adresses IP des membres à côter des messages ?

[2015-04-21 11:23] pierre-24 commented on #1898
Non, c'est une évolution ;)

[2015-04-21 11:23] Eskimon commented on #1927
On fait quoi ici ? On a pas d'utilisateur windows et ca ressemble plus a un bug a transmettre a pandoc non ?

[2015-04-21 11:24] Eskimon commented on #1933
Apres 4 mois on fait quoi ??

[2015-04-21 11:25] Eskimon commented on #1948
Bon j'ai essaye de reproduire et j'ai une erreur 500... Je sais pas si c'est du a la 1.8 ou a la preprod car ca marche bien en prod...

[2015-04-21 11:33] Eskimon commented on #2044
Toujours vrai ca ?

[2015-04-21 11:33] Eskimon commented on #2045
Il me semble avoir vu la mention "DEAD" sur certains compte, c'est une correction partielle de ca ?

[2015-04-21 11:34] Situphen commented on #2044
Oui, et il faut vraiment que je mette ça dans ma to-do list pour que le site soit complètement responsive !

[2015-04-21 11:34] Eskimon commented on #2046
Je ferme, ca ne semble effectivement pas réclamé par le staff et les super-user ont ce qui leur faut !

[2015-04-21 11:34] #2046 closed, assigned to nobody

[2015-04-21 11:36] Eskimon commented on #2069
La ZEP-12 corrigera ca d’après mes tests :)

[2015-04-21 11:36] Situphen commented on #1948
Donc c'est apparemment dû à https://github.com/SpaceFox/zds-site/commit/c4605fd1997e478128b6e1cdf831637862293832

**EDIT :** Oui, ça fonctionne avec le revert du commit !

[2015-04-21 11:37] Eskimon commented on #1444
et le karma voui dans l'idee c'est ca

[2015-04-21 11:38] Situphen commented on #1444
Je fais ça !

[2015-04-21 11:39] Eskimon commented on #2158
On a pas statue la dessus mais est-ce qu'on est d'accord pour fermer une fois la PR de doc avec avertissement mergee ?

[2015-04-21 11:40] Eskimon commented on #2217
Je ferme il me semble que tout est bon ici !

[2015-04-21 11:43] Eskimon commented on #2254
Ca bug toujours ? (il me semble que non...) Si oui, quelle plateforme ?

[2015-04-21 11:43] SpaceFox commented on #2045
On dirait même une correction complète.

[2015-04-21 11:44] SpaceFox commented on #1933
A priori y'a rien à faire surtout que les serveurs sont maintenus à jour avec les MAJ de sécurité.

Donc, on ferme.

[2015-04-21 11:44] #1933 closed, assigned to nobody

[2015-04-21 11:45] SpaceFox commented on #1707
Bonne question.

[2015-04-21 11:46] Eskimon commented on #2288
C'est toujours vrai ca ?

[2015-04-21 11:47] Eskimon commented on #2297
L'une est une 404 "venant du back" et l'autre "venant de nginx" mais effectivement c'est un souci

[2015-04-21 11:49] Eskimon commented on #2045
C'est a dire ? La sidebar n'affiche plus les actions de moderation sur ces comptes la ? Ca serait bien de trouver la PR qui a fait ca :D

[2015-04-21 11:50] SpaceFox commented on #2045
Ha non, je ne suis certain que de "Un message devrait aussi etre visible quelque part pour signaler que le compte n'est pas activée."

[2015-04-21 11:51] Eskimon commented on #2310
Toujours vrai ca ?

[2015-04-21 11:51] Situphen commented on #2254
L'erreur persiste :

[code]

C'est apparemment dû à https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/tests/tests_views.py#L352 et corrigé par #2538 d'après @firm1 (je ne peux pas vérifier actuellement) !

Je tourne sur Kubuntu 14.04.

Je vais retester avec une base de données propre !

[2015-04-21 11:52] Eskimon commented on #2331
Ca marche ici  ?

[2015-04-21 11:53] SpaceFox commented on #2331
Oui.

[2015-04-21 11:53] #2331 closed, assigned to nobody

[2015-04-21 11:55] Eskimon commented on #2335
En tout cas ca semble etre corrige (en tout cas je reproduis pas en v1.8).

Reste la question sur le SEO

[2015-04-21 11:57] Eskimon commented on #2404
Yep doublon

[2015-04-21 11:57] #2404 closed, assigned to nobody

[2015-04-21 12:00] Eskimon commented on #2365
Je viens de tester sur mon telephone (OnePlus One Kitkat Chrome) et ca a l'air de fonctionner, je ferme

[2015-04-21 12:00] #2365 closed, assigned to nobody

[2015-04-21 12:01] Eskimon commented on #2405
Du nouveau @artragis ?

[2015-04-21 12:03] DevHugo commented on #2217
Ça marche pas en prod donc faut pas fermer. Je pense pas que ça soit un probléme au niveau du code mais de la config en prod (La secret key).

2015-04-21 13:40 GMT+02:00 Eskimon notifications@github.com:

[2015-04-21 12:05] Eskimon commented on #2563
@pierre-24 tu as pu tester ?

[2015-04-21 12:07] DevHugo commented on #2572
Logiquement, le tag le plus utilisé devrait être en premier et ainsi de suite. D’après ce que je comprend du code. Mais c'est pas le cas. L'algorithme le trie en fonction de l'id à cause du bug

[2015-04-21 12:09] Eskimon commented on #2217
Il me semblait pourtant avoir vu des gens connecte via Facebook oO (la plupart des pseudo `prenom.nom` je crois)

[2015-04-21 12:27] artragis commented on #2405
#oups.

2015-04-21 14:01 GMT+02:00 Eskimon notifications@github.com:

[2015-04-21 12:31] firm1 commented on #1927
C'est un problème pandoc. On a pas besoin d'être sur windows pour tester, il suffit de rajouter un chemin du style `C:/Windows/` dans un texte pour que la génération du pdf plante a cause de latex. Il faut penser à demander aux auteurs d'échapper leur chemin Windows.

[2015-04-21 12:31] firm1 commented on #1691
bug toujours présent

[2015-04-21 12:35] firm1 commented on #2045
Je confirme que l'issue est corrigée de manière complète via une de mes PRs

[2015-04-21 12:40] Eskimon commented on #2045
Donc pour résumer :
- Un badge DEAD pour les membres non active
- La sidebar de moderation non visible

???

[2015-04-21 12:42] DevHugo commented on #2217
Sûrement par g+

[2015-04-21 12:42] Eskimon commented on #2217
Ah oui j'y pensais plus a lui...

[2015-04-21 12:44] firm1 commented on #2045
C'est ça

Le mar. 21 avr. 2015 14:40, Eskimon notifications@github.com a écrit :

[2015-04-21 12:45] Eskimon commented on #2045
Ok je ferme ! (ca serait cool de trouver la PR / milestone a appliquer cependant)

[2015-04-21 12:45] #2045 closed, assigned to nobody

[2015-04-21 13:06] firm1 commented on #2045
Pour le suivi, la PR est celle-ci : #2425

[2015-04-21 13:31] pierre-24 commented on #2563
#oups :p

[2015-04-21 13:39] cgabard commented on #1493
Je serai pour le fermer. On va pas maintenir la version actuel et les bugs les concernant ne seront plus valide avec le basculement de la Zep-5. Je le fermerai en "won't fix"

[2015-04-21 14:23] Eskimon commented on #1493
Ca me va :)

Motif de fermeture : plus d'actualité et won't fix !

[2015-04-21 14:23] #1493 closed, assigned to nobody

[2015-04-21 17:58] artragis commented on #2405
Ah, oui ,je me souviens de cette erreur. Déjà corrigée et QAtisée, faut juste que je mette un TU pour éviter les régressions dans le futur.

[2015-04-21 18:43] WinXaito opened #2580 "Error 500 en navigant sur le site"
Bonsoir,

se soir en navigant sur le site, je me retrouve avec une Erreur 500.
En réactualisant c'est tout bon. J'ai donc essayer quelques fois d'actualiser le site et de naviguer dessus. J'ai eu 4 erreur 500. (3 sur la page d'accueil, 1 sur la page article).

WinXaito

[2015-04-21 19:31] WinXaito opened #2581 "Petite correction (Front-End si je ne dis pas de bêtise ?)"
Bonsoir,

Il faudrait ici changer l'année, également le montant (Qui est de 20€ si je ne me trompe pas ?)

![Problème avec l'année](http://cloud.winlap.ch/pic/403.jpg) #C'est moi ou les images ne fonctionne pas ?

L'url du coup: [Image du problème](http://cloud.winlap.ch/pic/403.jpg)

(Et je ne suis pas sur de se que j'ai mis dans le titre, je suis dans le monde de git et Github depuis pas longtem

[2015-04-21 20:41] Eskimon commented on #2580
Yep ca arrive quand un des process gunicorn se plante (le plus dur est de trouver pourquoi). Ca se fait rare cependant ces temps-ci ^^ @SpaceFox et/ou @firm1 vous pouvez relancer et avez une idée de ce qui s'est passé ?

[2015-04-21 20:42] Eskimon commented on #2581
Les images fonctionnent normalement...

Sinon tu arrives une douzaine d'heures trop tard, la correction est déjà parti en route ce matin :D https://github.com/zestedesavoir/zds-site/pull/2577

Je ferme donc ici :)

[2015-04-21 20:42] #2581 closed, assigned to nobody

[2015-04-21 21:41] SpaceFox commented on #2580
C'est relancé depuis un moment mais je ne sais pas ce qui s'est passé.

Le 21 avril 2015 22:41, Eskimon notifications@github.com a écrit :

[2015-04-21 22:09] firm1 opened #2582 "La barre des cookies ne disparaît pas"
La barre des cookies ne disparait pas quand on clique sur le bouton ok, et elle n'est pas designée non plus.

CF. capture

![capture du 2015-04-22 00 06 11](https://cloud.githubusercontent.com/assets/6066015/7263651/d314e602-e883-11e4-9369-e97e0d29c8f2.png)

[2015-04-21 22:12] SpaceFox commented on #2582
Tu as **encore** un problème de cache (testé et validé sur les 2 environnements).

Par contre, ce que je ne pige pas, c'est que dans mes souvenirs on avait fait une PR pour activer le mode "les ressources ont un ID qui change à chaque MAJ pour éviter les problèmes de cache", justement.

Quelqu'un sait pourquoi ça ne fonctionne pas / plus ? cc @Situphen @sandhose .

PS : "Encore" pour le fait que ç

[2015-04-21 22:17] Situphen commented on #2582
C'est sûrement dû aux changements de versions v1.7 --> v1.7b --> v1.6c --> v1.7b...

[2015-04-21 22:18] SpaceFox commented on #2582
@firm1 ton problème était en prod ou en bêta ?

[2015-04-21 22:52] AlexRNL commented on #2582
De mon côté, j'ai eu le problème sur la prod hier, qui s'est bien résolu avec le vidage du cache.

[2015-04-21 23:02] AlexRNL opened #2583 "Caractères tronqués dans la boite de recherche"
La boite de recherche en haut à droite masque le "bas" de certaines lettres (comme j, g, p, etc.). Le screen ci-dessous montre la saisie de "jgp" :
![bugrecherchezds](https://cloud.githubusercontent.com/assets/2342010/7264284/5db1f592-e88a-11e4-9f7c-9de90ad05e60.png)

OS : Windows 7
Navigateur : Firefox 37.0.1

Le rendu est par contre correct sur Chrome.

[2015-04-21 23:37] pierre-24 commented on #1639
Bon, ben l'article sur l'AG a fait réaparaitre toussa ... (voir Sentry)

[2015-04-22 00:14] firm1 commented on #2582
Le problème était en prod. Vraiment bizarre cette histoire de cache, en raffraichisant maintenant il s'en va.

A fermer du coup

[2015-04-22 01:26] pierre-24 opened #2584 "Les erreurs markdown stoppent la publication"
N'importe quelle erreur markdown, entraînant l'apparition du message `Une erreur est survenue dans la génération de texte Markdown. Veuillez rapporter le bug.` dans un article/tutoriel bloque le processus de génération et génère des possibles erreurs 500. [Voir un exemple ici](https://zestedesavoir.com/forums/sujet/2942/erreur-500-sur-la-page-daccueil/?page=1#p52981) !

[2015-04-22 02:24] pierre-24 commented on #2480
Ah,oui, j'oubliais "corrigé et mergé, je ferme" :)

[2015-04-22 05:36] firm1 opened #2586 "L'objet du mail de création d'un MP n'est pas le meme que celui de la réponse"
Le bug est visible depuis la version 1.7 de zds en prod. Lorsqu'on reçoit le mail de création d'un MP, l'objet du mail s'intitule "Zeste de savoir - blabla" alors que les objets des réponses s'intitulent "ZdS - blabla" ce qui crée deux fils de discussion inutiles dans les boites mails.

Il faudrait aligner les objets pour un meme MP.

[2015-04-22 06:42] SpaceFox commented on #2582
Pas forcément : j'ai l'impression que le système prévu pour gérer ces problèmes de cache est HS.

Exemples de ressources utilisées en front :
- https://zestedesavoir.com/static/images/clem-home-quote.png
- https://zestedesavoir.com/static/css/main.min.css

Ça m'a tout l'air d'être des URLs directes.

[2015-04-22 08:44] artragis commented on #2584
(pas un bug, une régression)

[2015-04-22 10:07] Situphen commented on #2586
Il faut juste changer `['abbr']` par `['litteral_name']` sur [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/zds/mp/views.py#L399) !

[2015-04-22 12:08] SpaceFox commented on #2582
Ah ben oui c'est normal : cette ligne https://github.com/zestedesavoir/zds-site/blob/dev/update.md#issue-1724 a été commentée en prod...

[2015-04-22 12:10] SpaceFox commented on #2582
Corrigé : j'ai réactivé la conf correcte.

[2015-04-22 12:10] #2582 closed, assigned to nobody

[2015-04-22 12:53] SpaceFox commented on #2582
Vous voulez rire ? Ça a aussi corrigé l'utilisation bizarre de Memcached. Visiblement, cette fonctionnalité de Django utilise le cache...

[2015-04-22 13:00] firm1 opened #2589 "Les noms de domaines supplémentaires de ZdS ne redirigent pas sur le NDD principal"
zestedesavoir.com a d'autres noms de domaines supplémentaires tels que `zestedesavoir.net`, `zestedesavoir.org`, `zestedesavoir.fr` et autres jouyeusetés.

Le problème c'est que les autres domaines sont censé rediriger sur le nom de domaine principal. Ce n'est pourtant pas le cas. ça ressemble a un problème d'infra, donc je taggue en conséquence.

[2015-04-22 13:03] Situphen commented on #2589
~~La redirection fonctionne bien en HTTPS même si il y a une erreur "Connexion non certifiée".~~

On accède bien à Zeste de Savoir via ".org", ".net" et ".fr" en HTTPS même si il y a une erreur "Connexion non certifiée". Par contre, c'est un accès direct, sans redirection !

[2015-04-22 15:10] Axylium commented on #2589
Pour ma part, sous Firefox quand je tente d'accèder à un autre des domaines que le `.com` je me mange une 404 de nginx !

**Edit :** Je viens de tilter. J'suis sans le https sur ces domaines. En le rajoutant, je tombe sur le même comportement que @Situphen

[2015-04-22 17:26] pierre-24 commented on #2555
Corrigé et mergé, je ferme :)

[2015-04-22 17:26] #2555 closed, assigned to Eskimon

[2015-04-22 18:02] WinXaito commented on #2589
En effet, on peu accéder avec le https. Par contre étrange, si je met le "www", je me choppe une _connexion non certifié_ par contre avec le https mais sans le "www", le site s'affiche bien.

Sans redirection bien entendu

[2015-04-22 21:38] Luthaf commented on #1736
Alors je suis sur mobile cette semaine, mais je n'ai toujours pas le lien dans le menu à gauche. Il est bien censé être après suppression ?

Sinon je regarderai sur desktop la semaine prochaine !

[2015-04-23 01:18] pierre-24 commented on #2586
Corrigé et mergé ;)

[2015-04-23 01:18] #2586 closed, assigned to nobody

[2015-04-23 12:48] firm1 commented on #2568
@GerardPaligot ton test à donné quelque chose ?

Je le vois plus comme une alternative à landscape. flake8 lui reste toujours necessaire. La seule chose que je n'arrive pas à savoir c'est jusqu'ou va l'intégration de linthub avec le code python. Landscape à la particularité de creuser vraiment profondément et on peut même lui passer nos requirements pour cadrer l'analyse. Est-ce que linthub est-il

[2015-04-23 13:00] firm1 commented on #1671
Je viens de reproduite le bug, et en même temps je me suis rendu compte que c'est parce que j'étais à un zoom de 80%, donc ce n'est pas vraiment un bug, je ferme donc.

[2015-04-23 13:00] #1671 closed, assigned to nobody

[2015-04-23 13:04] firm1 opened #2590 "[Bêta v1.8] Les flux rss ne fonctionnent plus => erreur 500"
En direct de la beta, il est impossible d'avoir les flux rss en cliquant sur les liens correspondant. On se prend une erreur 500.

C'est donc une regression, puisque ça marche en prod.

[2015-04-23 14:01] GerardPaligot commented on #2568
Je suis en contact avec le développeur de l'outil. D'après la [documentation](http://docs.linthub.io/), il est possible de remonter des commentaires par rapport aux standards : flake8 pour [Python](http://docs.linthub.io/user/configuration/#Python) et JSHint pour [JS](http://docs.linthub.io/user/configuration/#Javascript) mais pas encore de spécifier nos propres spécifications héritées des standar

[2015-04-23 14:24] DevHugo commented on #2590
https://github.com/zestedesavoir/zds-site/issues/2564, j'ai exactement la même erreur, quand j'essaye d’accéder au flux en local.

«You're using the Django "sites framework" without having set the SITE_ID setting. Create a site in your database and set the SITE_ID setting to fix this error.»

Ajouter SITE_ID=1 marche mais aucune idée des conséquences.

[2015-04-23 14:27] SpaceFox commented on #2590
On dirait un effet de bord merdique de [ce commit](https://github.com/SpaceFox/zds-site/commit/c4605fd1997e478128b6e1cdf831637862293832). J'espère juste que l'on peut faire fonctionner ces RSS sans avoir besoin de ce paramètre.

[2015-04-23 14:28] SpaceFox commented on #2590
PS : Si vous pouviez indiquer quelque chose comme "bêta v1.8" dans le titre, ce serait génial.

[2015-04-23 14:38] DevHugo commented on #2590
Source: https://docs.djangoproject.com/en/1.8/ref/contrib/sites/#how-django-uses-the-sites-framework

En gros, ce que j'ai compris de la documentation, c'est que c'est pas obligatoire mais fortement conseillé de l'utiliser ce module multi-site, même quand on a un seul site comme nous.

En gros, il précise après que c'est utilisé pour le RSS pour deux choses, pour établir les urls si on précise pas

[2015-04-23 15:08] firm1 opened #2591 "[beta 1.8] Le fichier sitemaps est devenu indisponible => erreur 500"
url incriminée : `http://beta.zestedesavoir.com/sitemap.xml`

On obtient une erreur 500, ce qui est fort dommage pour notre SEO. C'est une regression et ça me semble très bloquant. Je taggue en conséquence.

Je pense que c'est lié au même problème que #2590

[2015-04-23 18:23] pierre-24 commented on #2562
Corrigé par @firm1 <3 !!!

[2015-04-23 18:23] #2562 closed, assigned to nobody

[2015-04-23 18:42] pierre-24 commented on #2471
Yeah, gros merci à @sandhose sur celle là, je pense que c'est @SpaceFox qui va être content :)

[2015-04-23 18:42] #2471 closed, assigned to nobody

[2015-04-24 21:13] Eskimon commented on #2580
J'ai cru comprendre que c'est une validation couplée à la dernière mise a jour du markdown (*.6) qui aurait fait ça.

[2015-04-24 21:14] Eskimon commented on #2480
Reste plus qu'à cliquer sur le bouton "fermer" alors :-°

[2015-04-24 21:18] pierre-24 commented on #2480
Bien vu :-°

[2015-04-24 21:18] #2480 closed, assigned to nobody

[2015-04-25 19:25] Eskimon commented on #1736
OK, petite précision : on parle bien de l'**archive** du tuto. Cette dernière doit être dispo pour un auteur sur son propre contenu mais pas pour un lecteur lambda (connecté ou non)

[2015-04-25 19:27] Luthaf commented on #1736
Yep, c'est bien à ça que je pense. Sur le tuto en question (ligne de commande), j'ai uniquement ça :
![capture d ecran 2015-04-25 a 21 26 10](https://cloud.githubusercontent.com/assets/6141587/7334411/d8fcf0c6-eb91-11e4-8f33-4e48de787bfb.png)
Le point 7. étant la fin du sommaire

[2015-04-25 19:37] Eskimon commented on #1736
Et tu es bien auteur de ce tuto c'est bien ça ?

Tu es sur l'interface hors ligne du tuto ? C'est un tuto déjà publié (je suis presque certain de toutes les réponses mais autant éclaircir :) ) .
Tu pourrais poster le lien du tuto et un staff pourrait ensuite me dire s'il voit le lien de téléchargement ?

[2015-04-25 19:50] Luthaf commented on #1736
Alors le lien sur lequel je consulte le tuto est le suivant : http://zestedesavoir.com/tutoriels/off/615/la-ligne-de-commande/, donc bien le lien off, pour un tuto non publié. Je suis bien auteur de ce tuto.

[2015-04-26 13:52] pierre-24 opened #2595 "Les légendes des tableau ne sont plus intérpretées"
Via [Ymox sur le forum](https://zestedesavoir.com/forums/sujet/2981/legendes-de-tableaux-plus-rendues-correctement/):

[2015-04-26 14:35] WinXaito opened #2596 "Lien de l'API"
Bonjour,

peut-être que je me trompe, mais il me semble que la dernière fois que j'avais regarder, ce n'étais pas comme ça.

Le lien dans le footer nous amène ici: https://zestedesavoir.com/api/ ... pas très explicite comme message. Qui nous donne ensutie une url pour aller ici: https://zestedesavoir.com/api/api-docs/ On peut voir dans "apis", que nous avons a disposition l'API des membres: https:

[2015-04-26 17:07] GerardPaligot commented on #2596
Salut,

Je n'ai pas compris toutes tes questions alors je vais répondre à 2 que j'ai compris :

C'est un peu comme si tu disais que nous devrions être connecté pour aller sur [cette page](https://zestedesavoir.com/membres/) qui liste les membres du site (pas à travers l'API). Nous avons fais le choix de mettre des informations publiques et privées, la liste des membres est une information publique

[2015-04-27 10:02] Correus80 commented on #2580
Bonjour,
Meme probleme en voulant consulter les sujets suivants:
Capteurs analogiques et la suite
Même en réactualisant, l'erreur 500 survient toujours.
Merci

[2015-04-27 10:56] WinXaito commented on #2580
En effet, ceci n'est pas le même type d'erreur.
C'est une erreur causé par le tutoriel (Si je ne dis pas de bêtise).

Je ne saurai retrouver le post qui traite ceci @Eskimon @SpaceFox

[edit] Lien: https://zestedesavoir.com/tutoriels/820/la-fabrication-numerique/1079/arduino/4455/semaine-4-capteurs-analogiques/

[2015-04-27 16:58] Situphen opened #2597 "Incohérence entre la pagination du forum et des mps"
[Reporté par Flori@n.B sur le forum](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=29#p53982) :

Ce bug est bien présent dans la v1.7b ainsi que dans la v1.8-RC1 !

[2015-04-27 17:32] GerardPaligot commented on #2597
Je rajoute des informations techniques : En fait, la pagination sur la liste des membres, la liste des MP et la liste des messages d'un MP sont différents des autres paginations puisqu'ils ont une approche CBV. Nous coexistons pour le moment avec 2 templates de pagination à cause de ça.

[2015-04-27 19:23] Situphen commented on #2597
Si du coup la personne qui fait la PR peut indiquer le lien entre les deux gabarits (= templates) en commentaires, ce serait cool ! Si vous ne savez pas comment faire, pingez moi ! :)

[2015-04-27 20:07] Eskimon opened #2599 "Ancre sur le premier message d'une page X"
Lorsque l'on change de page via le bouton suivant (ou page x), la nouvelle page chargée commence tout en haut, avec le header étou. Ca serait sympa de commencer avec le premier message de la nouvelle page pour pas avoir a scroller (surtout sur mobile)

[2015-04-27 21:53] GerardPaligot commented on #2599
Tu es certain que tu veux cette fonctionnalité ? Parce que soit tu salis le back (bidouiller la liste des messages de la pagination ou faire des requêtes supplémentaires), soit tu salis le front avec des conditions pour savoir si une variable potentielle existe.

Tout ça pour dire que je suis ne suis pas un fan de cette fonctionnalité.

[2015-04-28 06:26] Eskimon commented on #2599
Ouai je vois. En soit c'est pas dramatique hein, j'avais pas pensé que ce serait si contraignant. Je laisse plus de gens s'exprimer puis je fermerait si personne ne parle...

[2015-04-28 13:27] firm1 opened #2600 "[beta 1.8] La géolocalisation des adresses IP ne fonctionne plus sur IPv6"
Il s'agit d'une regression depuis le passage à la lib GeoIP. Lorsqu'on est connecté en IP v6, le système ne sait pas nous localiser.

Un exemple :

prod (1.7) : http://zestedesavoir.com/membres/voir/shine-neko/

preprod (1.8) : http://beta.zestedesavoir.com/membres/voir/Shine-neko/

Dans la 1.8 on ne voit aucune information relative à la localisation de l'utilisateur

[2015-04-28 14:08] SpaceFox commented on #2600
A vérifier qu'il y a bien les données de géoloc d'IPv6 (pour ce que ça sert...)

[2015-04-28 14:11] firm1 commented on #2600
Les données de géoloc sont normalement [là](https://github.com/zestedesavoir/zds-site/tree/dev/geodata)

[2015-04-28 14:13] SpaceFox commented on #2600
Ah oui. Par contre je vois que ce n'est pas la même adresse IP en prod et
en bêta, donc je ne sais pas si c'est parce qu'il manque des données ou
parce qu'elle n'est pas localisable (ce qui est très fréquent sur les IPv6).

2015-04-28 16:11 GMT+02:00 firm1 notifications@github.com:

[2015-04-28 15:16] firm1 opened #2604 "Présence de fichiers inutiles dans le dépot"
Le projet contient des fichiers de données de geolocalisation qui alourdissent le dépot. Il faudrait supprimer ceux qui ne sont pas utiles.

L'emplacement des fichier : https://github.com/zestedesavoir/zds-site/tree/dev/geodata

La liste des fichiers à supprimer :
- GeoIP.dat
- GeoIPASNum.dat
- GeoIPASNumv6.dat
- GeoIPv6.dat

Les seuls fichiers utiles sont GeoLiteCity.dat et GeoLiteCityv6.dat.

[2015-04-30 00:45] pierre-24 opened #2606 "Problème d'UTF-8 dans les images à la publication"
Comme l'as découvert [Kje ici](https://github.com/zestedesavoir/zds-site/pull/2585#issuecomment-96833628), mettre un accent dans un nom d'image rend le _back_ pas très heureux pendant la publication.

[2015-04-30 12:03] Eskimon commented on #2067
Je viens de tester sur la beta 1.8 et ca semble marcher bizarrement... Ca filtre mais ca renvoi pas ce qu'il faut...

[2015-04-30 12:14] Eskimon commented on #2596
Du nouveau pour ce sujet ?

[2015-04-30 12:18] Eskimon commented on #2597
Pour le template :
-  "_suivante_ est toujours affiche" c'est la : https://github.com/zestedesavoir/zds-site/blob/dev/templates/misc/pagination.part.html
-  "_suivante_ n'est pas visible sur mobile" c'est la : https://github.com/zestedesavoir/zds-site/blob/dev/templates/misc/paginator.html

Jme tate a tagguer bug ou evolution... Je met Bug car on a un comportement pas aligne entre deux briques cen

[2015-04-30 12:53] Eskimon commented on #2590
Réglé, merci @SpaceFox !

[2015-04-30 12:53] #2590 closed, assigned to SpaceFox

[2015-04-30 12:53] Eskimon commented on #2591
Réglé, merci @SpaceFox !

[2015-04-30 12:53] #2591 closed, assigned to SpaceFox

[2015-04-30 15:20] WinXaito commented on #2596
J'ai remarqué que par moment ça fonctionnais, un problème de cache je dirais ... (En fait je viens de remarquer que c'est ce qu'a dit @GerardPaligot)

Sinon rien de plus pour ma part.

[2015-04-30 15:21] #2227 closed, assigned to nobody

[2015-04-30 15:55] Eskimon commented on #2114
Ce problème existe-t-il toujours ?

[2015-04-30 15:57] Eskimon commented on #2595
C'est un problème markdown, je ferme ici.

[2015-04-30 15:57] #2595 closed, assigned to nobody

[2015-04-30 17:33] Eskimon commented on #1454
ping !!

[2015-04-30 18:06] Eskimon commented on #1949
Est-ce que le feed "nouveaux sujets" dans le [fofo beta](https://zestedesavoir.com/forums/communaute/beta-zone/) ne ferait pas l'affaire par hasard ? (histoire d'éviter de redévelopper quelque chose qui existe...)

[2015-05-01 08:04] Eskimon commented on #2584
Et voila ce sera corrigé au moins en 1.8, par contre on fait comment pour la prod @pierre-24 ?

[2015-05-01 08:04] Eskimon commented on #2606
Et voila ce sera corrigé au moins en 1.8, merci @pierre-24 !

[2015-05-01 08:04] #2606 closed, assigned to pierre-24

[2015-05-01 09:43] Eskimon commented on #2396
Je confirme aussi la présence du problème sur ma branche de dev. et je viens de balancer un fix :)

[2015-05-01 11:18] pierre-24 commented on #2584
#2588 règle le problème, donc ton tuto passe.

[2015-05-01 19:08] DevHugo opened #2613 "Le champ licence passe par défaut à la première valeur de la liste lors de l'édition"
Source: https://zestedesavoir.com/forums/sujet/3024/editeur-de-tutoriel/

Enfait, le ModelChoiceField à besoin de l'id et on lui passe le titre.
Cf: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L1244 et
https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L1161

http://stackoverflow.com/questions/1336900/django-modelchoicefield-and-initial-value

[2015-05-01 19:12] Situphen commented on #2613
Bug confirmé !

[2015-05-01 19:18] Eskimon commented on #2613
Il me semble que ca marchait bien avant (mais sans certitude), du coup je passe ca en régression.

[2015-05-01 19:27] Situphen commented on #2613
Moi aussi il me semble que ça fonctionnait bien mais pas de certitude non plus ! Je viens de regarder la vue et le formulaire de tutoriel, ça n'a presque pas changé récemment (à part un peu la ZEP 3). Bref, à investiguer plus en détail !

[2015-05-01 19:36] Situphen commented on #2613
Bug aussi présent sur la ZEP 12 (c'est logique).

@DevHugo, tu vois comment résoudre le problème ?

[2015-05-01 19:38] DevHugo commented on #2613
Je pense sans certitude. Si tu as une idée, fais le sinon assigne moi, et je fais ça demain. C'est pas un problème urgent.

[2015-05-01 20:18] DevHugo commented on #2613
Done, c'était facile à corriger.

[2015-05-02 01:56] pierre-24 commented on #2613
Hey, quand c'est comme ça, faut le dire :o

[2015-05-02 02:41] pierre-24 commented on #2600
Ça va pas être drôle à tester en local, ça. À priori, y'a pas moyen d'aller éditer l'IP de l'utilisateur en BDD de manière à avoir des "vrais" adresses IPs ? Quelqu'un a des adresses IPs à proposer qui correspondent à de vraies positions ?

Moi: `96.255.231.204`, Washington DC, si vous voulez tenter

[2015-05-02 02:41] #2613 closed, assigned to nobody

[2015-05-02 02:42] pierre-24 commented on #2613
Corrigé et mergé.

[2015-05-02 02:43] pierre-24 commented on #2396
Et c'est corrigé et mergé !

[2015-05-02 02:43] #2396 closed, assigned to nobody

[2015-05-02 02:46] pierre-24 commented on #2597
Donc, sur la ZEP-12, on devrait employer "paginator", pour bien faire ?

[2015-05-02 07:04] Situphen commented on #2597
@Eskimon : non c'est l'inverse, c'est `paginator.html` qui n'a pas de `span` !

@pierre-24 : De toutes façons vous devriez utiliser `paginator.html` car c'est le template utilisé par les modules CBV.

---

Voir la PR #2449.

**Façon simple**

Mettre `<span>` et `</span>` autour de "Précédent" et "Suivant" dans le fichier `paginator.html`.

**Façon plus compliquée mais AMHA plus propre**

Enlever `

[2015-05-02 08:11] Eskimon commented on #2600
Elle a une drôle de tête ton IPV6 :-°

[2015-05-02 09:07] Eskimon commented on #2335
Bon, puisque personne ne répond j'ai fait 5 minutes de googling:

Long story short (et de ce que j'en comprends "google le vit bien", le sujet et ses sources sont là : http://stackoverflow.com/questions/11228368/does-breaking-a-word-with-a-span-tag-effect-seo , je ferme ici.

[2015-05-02 09:07] #2335 closed, assigned to nobody

[2015-05-02 09:11] Eskimon commented on #2114
Je viens de tester sur la beta (avec Ubuntu / Chrome retaillé pour lancer le responsive) et tout semble OK, je ferme.

Si vous souhaitez rouvrir, merci de préciser la version du site (présente dans le footer), si seulement certaines pages bug, et le support de test (mobile, pc, navigateur...)

[2015-05-02 09:11] #2114 closed, assigned to nobody

[2015-05-02 09:18] Eskimon commented on #1577
Alors là c'est mystique !!

Test sur la beta :
- Avec mon vieux compte Eskimon : Je plussoie -> rafraichit -> tout roule
- Avec un nouveau compte bidon :  Je plussoie -> rafraichit -> le simbole du pouce n'est pas vert !

W.T.F !

[2015-05-02 09:22] Eskimon commented on #2307
Je viens de faire un test en prod, ca marche, je ferme

[2015-05-02 09:22] #2307 closed, assigned to nobody

[2015-05-02 09:29] Eskimon commented on #2580
On sait que les 500 viennent de la validation qui plantent à cause de https://github.com/zestedesavoir/zds-site/issues/2584 , du coup je ferme ici car ce ticket ne nous apprendra rien de plus ^^

[2015-05-02 09:29] #2580 closed, assigned to nobody

[2015-05-02 09:29] SpaceFox commented on #1577
Je soupçonne un problème d'identifiant dans les tables user et profile.

Ton compte a les mêmes ID dans les 2 tables mais ce n'est pas le cas des
nouveaux comptes… il suffit qu'on enregistre l'un et recherche l'autre pour
que ça foire.
Le 2 mai 2015 11:18, "Eskimon" notifications@github.com a écrit :

[2015-05-02 09:30] Eskimon commented on #2561
@firm1 tu confirmes que ce n'est plus là maintenant que le front est rentré dans l'ordre ?

[2015-05-02 09:32] Eskimon commented on #2544
On a une idée du pourquoi/comment résoudre ? Ca peut peut-être intéressé @Alex-D de savoir ca si ca peut se reproduire chez lui sur d'autres sites qu'il gère.

[2015-05-02 09:39] Eskimon commented on #1577
Oh comme c'est bien vu !!

Tout se joue là donc : https://github.com/zestedesavoir/zds-site/blob/dev/templates/misc/message.part.html#L283

[2015-05-02 12:13] pierre-24 commented on #2600
... J'ai pas d'IP v6 :'( (quoique peut être à l'unif, et encore)

[2015-05-02 13:48] SpaceFox commented on #2600
Tu devrais pouvoir en mettre une à la main dans la base. Sinon, il faut un
TU...

2015-05-02 14:13 GMT+02:00 Pierre Beaujean notifications@github.com:

[2015-05-02 13:49] pierre-24 commented on #2600
D'où ma question: est ce que quelqu'un à une adresse IPv6 à prêter ?

[2015-05-02 16:29] pierre-24 commented on #2563
Corrigé par #2588 et #2607 !!!

[2015-05-02 16:29] #2563 closed, assigned to nobody

[2015-05-02 16:30] pierre-24 commented on #2584
Corrigé par #2588 et #2607.

[2015-05-02 16:30] #2584 closed, assigned to pierre-24

[2015-05-02 16:32] SpaceFox commented on #2563
Si ça a été corrigé par le hotfix, c'est dans la v1.7.

[2015-05-02 16:33] SpaceFox commented on #2584
Même remarque que dans l'autre : si c'est corrigé dans le hotfix, c'est dans la v1.7.

[2015-05-02 16:34] pierre-24 commented on #2584
Toutàfé, mes excuses. Par contre... Cette milestone n'existe pas/plus, donc je met rien ?

[2015-05-02 16:35] SpaceFox commented on #2584
Elle existe, il faut aller la chercher dans "fermées".

[2015-05-02 16:36] pierre-24 commented on #2584
Merci :)

[2015-05-02 17:01] SpaceFox opened #2615 "La page de maintenance ne fonctionne plus"
Je ne sais pas ce qui a été modifié sur la conf nginx, mais la page de maintenance ne fonctionne visiblement plus, vu comment tout le monde a gueulé pendant la MEP de la v1.7c.

[2015-05-03 14:22] Situphen commented on #2114
Vu que c'est aléatoire, il n'est pas vraiment possible de tester.

[2015-05-03 14:35] Axylium commented on #2114
Perso pour ma part, je rectifie ce que j'ai dis. Car je crois que ça vient plus de ma connexion que du site en lui-même. Car en wifi tout est nickel, cependant sur ma connexion 4G le site n'est plus responsive.

Donc est effectivement, vu que c'est super aléatoire à tester ça risque d'être chaud..

[2015-05-03 16:21] pierre-24 opened #2616 "Documentation qui ne compile plus : `ugettext`"
Récement, RTD a décidé de changer de raison pour ne pas compiler la documentation. Comme vous pouvez le voir [par exemple ici](https://readthedocs.org/builds/zds-site/2696781/), l'erreur est maintenant `AppRegistryNotReady: The translation infrastructure cannot be initialized before the apps registry is ready. Check that you don't make non-lazy gettext calls at import time.`. Autrement dit, on va

[2015-05-03 21:40] SpaceFox commented on #2600
Je confirme (avec les IPs déclarés dans le bug puisque j'y ai accès) que c'est un vrai bug et pas un problème d'IP non localisable.

[2015-05-03 21:41] SpaceFox commented on #2600
Et du coup c'est corrigé. Merci à tous !

[2015-05-03 21:42] SpaceFox commented on #2483
J'ai mergé le revert de GeoIP, par contre je ne sais pas si ça règle le problème ici.

[2015-05-03 21:43] pierre-24 commented on #2483
On ne le saura que quand #2616 sera réglé, mais je pense que ça va nettement améliorer le truc, donc d'avance merci ;)

[2015-05-03 21:46] GerardPaligot commented on #2600
On ferme du coup ?

[2015-05-03 21:51] SpaceFox commented on #2600
Beuh ? Je pensais l'avoir fermé !

[2015-05-03 21:51] #2600 closed, assigned to Eskimon

[2015-05-03 22:17] SpaceFox opened #2619 "Faire un script de MAJ automatique du script de déploiement"
Le script de déploiement bouge souvent et il arrive que des déploiement chient parce que le script de déploiement n'est pas dans la bonne version (vu que par définition il est récupéré seulement pendant la procédure de déploiement).

Il suffirait d'un bout de script qui va récupérer la version liée au tag. Ce qui en prime permettrait de _revert_ plus facilement à une version antérieure.

[2015-05-03 22:27] SpaceFox opened #2621 "Plus de stats IE11 et Safari depuis la v1.7"
Depuis la mise en place de la v1.7 et le changement du mode de gestion des cookies, Google Analytics ne voit pratiquement plus aucun IE11 et Safari.

Est-ce le comportement voulu ou est-ce que le nouveau système plante avec les navigateurs ? CC @Alex-D

[2015-05-03 23:18] SpaceFox opened #2622 "Plus moyen de générer un fichier .pid avec Gunicorn"
Je n'arrive plus à faire en sorte que Gunicorn avec la nouvelle config crée un fichier .pid.
Du coup, on a plus de stats Gunicorn (occupation mémoire et nombre de workers utilisés) dans les stats Munin.

Si quelqu'un a une idée...

[2015-05-04 06:51] SpaceFox opened #2623 "Grosse augmentation des temps de réponse sur la v15.5"
Suite au déploiement de la v15.5 en prod, certaines pages sont _beaucoup_ plus lentes à afficher qu'avant :

![responsetimes](https://cloud.githubusercontent.com/assets/5786268/7449601/43b89ace-f23a-11e4-8eeb-1bace0d71a7e.png)

Si quelqu'un a une idée de pourquoi...

[2015-05-04 11:08] firm1 commented on #2622
Il faudrait déjà savoir sur quelle configuration repose gunicorn actuellement, [la documentation](http://zds-site.readthedocs.org/fr/latest/install/deploy-in-production.html#gunicorn) et le fichier [update.md](https://github.com/zestedesavoir/zds-site/blob/dev/update.md#d%C3%A9ploiement-de-django-17) se contredisent sur ce point.

[2015-05-04 11:18] firm1 commented on #2623
Dans quelle mesure la conf infra (gunicorn, nginx, settings.py, mysql) a été modifiée pendant la MEP ?

[2015-05-04 11:21] firm1 commented on #2483
Par ailleurs, notons que [la documentation de la v15.5](http://zds-site.readthedocs.org/fr/v15.5/) est HS, elle ne compile pas non plus

[2015-05-04 11:26] pierre-24 commented on #2483
... J'en ai marre. Vraiment, là.

[2015-05-04 11:37] firm1 opened #2624 "Liens morts dans le fichier README"
Le fichier README contient dans la section [En savoir Plus](https://github.com/zestedesavoir/zds-site#en-savoir-plus), un le lien intitulé : `Comment déployer ZDS sur un serveur de production ?` qui pointe vers une 404, il faudrait le mettre à jour.

Dans la même lancée, le lien "Comment contribuer : comprendre comment suivre le workflow (sur zds)" pointe sur le site zestedesavoir.com . Il faudrai

[2015-05-04 11:42] SpaceFox commented on #2623
En infra seule la conf Gunicorn a changé. Mais je ne vois pas comment ça
peut parfois rien changer et parfois doubler les temps de réponse.
Le 4 mai 2015 13:18, "firm1" notifications@github.com a écrit :

[2015-05-04 12:08] firm1 commented on #2623
Tu as le delta du changement de la conf gunicorn ? je ne sais pas si je dois me fier à la doc ou au fichier update.md pour ça

[2015-05-04 12:52] firm1 opened #2625 "Question : le build du front sera t-il OP pour la prochaine release ?"
En passant en revue la nouvelle démarche de build du front lors des reelase, je me pose quelques question.
1. Il me semble d'après le script travis que le front ne buildera que **si et seulement si, on crée un tag**. Le problème est que la mise en préprod se fait généralement sans tag (uniquement à partir d'une branche release-xx). Etant donné que le le build npm a disparu du fichier de déploiemen

[2015-05-04 12:55] Eskimon commented on #2625
La PR qui fait tout ca est la et j'ai deja mis en lumiere certains points : https://github.com/zestedesavoir/zds-site/pull/2482#issuecomment-94201422

[2015-05-04 13:05] firm1 commented on #2625
Si la release se base bien sur les tags, on a donc un problème de [doc](http://zds-site.readthedocs.org/fr/latest/workflow.html#id1).

[2015-05-04 13:24] SpaceFox commented on #2623
Le fichier update.
Le 4 mai 2015 14:08, "firm1" notifications@github.com a écrit :

[2015-05-04 13:29] SpaceFox commented on #2625
Houlà, à peu près toutes tes suppositions sont fausses @firm1. La doc est complètement pas à jour (en fait j'ignorais sont existence à cette doc ci, et apparemment toutes les personnes qui ont fait la QA aussi).
- Tout déploiement se fait par tag. Toujours et ça a toujours été le cas, y compris en bêta
- [Le nombre de tags n'est pas un problème](https://github.com/torvalds/linux/releases)
- Regard

[2015-05-04 13:30] SpaceFox commented on #2622
Ici aussi la doc n'est pas à jour.

[2015-05-04 13:32] firm1 commented on #2625
Merci des réponses, je laisse ouvert du coup pour que l'on mette à jour la documentation en ce sens.

[2015-05-04 14:22] Situphen commented on #2624
Il faut remplacer `[Comment déployer ZDS sur un serveur de production ?](http://zds-site.readthedocs.org/fr/latest/install/deploiement-production.html)` par `[Comment déployer ZDS sur un serveur de production ?](http://zds-site.readthedocs.org/fr/latest/install/deploy-in-production.html)`.

[2015-05-04 15:53] firm1 opened #2626 "Liste des forums en doubles"
Url incriminée : http://zestedesavoir.com/forums/communaute/

Le forum staff est affiché en double pour les membres qui appartiennent aux groupes CA et Staff en même temps. En sachant que les deux groupes ont accès au même forum, ça crée des doublons.

[2015-05-04 15:54] SpaceFox commented on #2626
Marrant, on l'avait corrigée dans le menu celle-là !

[2015-05-04 16:05] DevHugo commented on #2626
C'est pas de la 'Régression' ?

[2015-05-04 16:07] firm1 commented on #2626
Aucune idée, je suis incapable de dire si ça marchait correctement avant

[2015-05-04 16:53] Eskimon commented on #2626
Je met en régression car [une PR](https://github.com/zestedesavoir/zds-site/pull/2442) avait déjà corrigé ce problème... (c'est toi qui l'avait faite @firm1 ^^ )

[2015-05-04 21:47] pierre-24 commented on #2624
Hop, c'est corrigé, merci @DevHugo !

[2015-05-04 21:47] #2624 closed, assigned to nobody

[2015-05-05 01:09] pierre-24 commented on #2623
J'ai _peut être_ une idée. Ce qu'on voit, c'est donc que ce qui prend méchamment un coup, c'est les pages avec posts. Or, en travaillant sur la ZEP-12, je faisais justement la réflexion à atragis que les perfs se faisaient méchament flinguées quand on commençait à ajouter les posts, parce que le nombre de requête mysql augmente de manière démentielle avec le nombre de post sur une page donnée (4 p

[2015-05-05 02:30] pierre-24 opened #2631 "Erreur sur les profils quand on est admin"
À mon avis, on a été trop vite quand on a viré GeoIP. Quand on va sur un profil en temps qu'admin, on a une erreur dans la template, sur `{{ profile.get_city }}`.

[2015-05-05 02:33] pierre-24 opened #2632 "Impossible de remettre un champ de son profil à `False`"
Quand on fait un `PUT /api/membres/{pk}` et qu'on passe `shown_sign: False` ou `shown_email: False`, la valeur reste à `True`. Preuve en est:

![screenshot from 2015-05-04 22 33 11](https://cloud.githubusercontent.com/assets/7889675/7466245/8dcec76e-f2ad-11e4-8ff2-59df97b7c762.png)

À noter que si on balance n'importe quoi, on recoit bien l'erreur "ceci n'est pas un booléen", donc ça, c'est OK. Et

[2015-05-05 06:23] SpaceFox commented on #2631
Quel environnement et version ? Je ne reproduit ni sur la prod, ni sur la bêta.

[2015-05-05 06:23] Eskimon commented on #2631
(PS Un `bug` EST une `regression` donc pas la peine de mettre les deux ;) )

[2015-05-05 06:23] Eskimon commented on #2631
@SpaceFox surement en local puisque le revert a été fait récemment et ne doit pas encore être dans une version déployée

[2015-05-05 06:27] SpaceFox commented on #2623
Je sais qu'actuellement chaque affichage de message provoque des requêtes, notamment à cause du badge sous l'utilisateur ;  et encore plus en mode connecté à cause des diverses icônes à calculer. C'est notamment l'objet de #2222.

Du coup, c'est clair que si Django 1.7, pour une raison X ou Y, est plus lent à traiter ces requêtes (la BDD et le connecteur n'ont pas changé), on a un impact fort sur

[2015-05-05 06:28] SpaceFox commented on #2631
Nop, le revert est en prod : [la PR portait sur la branche de release 1.8](https://github.com/zestedesavoir/zds-site/pull/2609) qui a été déployée sous le nom v15.5.

[2015-05-05 06:33] Eskimon commented on #2631
Ah ok my bad. Du coup comment @pierre-24 a teste et quelle semble etre l'erreur ? Parce qu'idem en beta (ou je suis staff) j'ai pas de souci et en prod (ou je suis lambda) ca roule aussi.

@pierre-24 le revert avait touche aux requirements, les tiens sont ils a jour ?

[2015-05-05 08:37] firm1 opened #2633 "Erreur 500 lors de l'édition malencontreuse d'un message du forum"
url incriminée : http://zestedesavoir.com/forums/message/editer/?message=plazza/

On tombe sur une erreur 50. La bienséance voudrait qu'on n'ait jamais d'erreur 500 dans la vie.

[2015-05-05 08:45] Eskimon commented on #2633
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/views.py#L665

Il manque une conversion en `int`

La même chose pourrait être faite ici d'ailleurs : https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/views.py#L625

[2015-05-05 08:46] Eskimon commented on #2633
Je prends

[2015-05-05 08:47] SpaceFox commented on #2633
C'est une vraie erreur que tu as obtenue en appuyant sur un bouton ou tu as fait n'importe quoi avec les paramètres ?

[2015-05-05 08:49] Eskimon commented on #2633
Il faut bricoler les paramètres. Mais la remarque "ne pas avoir de 500" reste vrai tout de même.

[2015-05-05 08:50] SpaceFox commented on #2633
Ouais mais ça change complètement la priorité du truc : si c'est en appuyant sur un bouton c'est urgent, si c'est en jouant avec les paramètres on s'en fout, ça ne met pas en danger le site et l'utilisateur n'a qu'à pas jouer avec les paramètres :)

[2015-05-05 08:52] Eskimon commented on #2633
Tout a fait :) Mais j'ai juste dit je prends car je sais très bien comment corriger et faire le TU, le tout en 5 minutes ^^

[2015-05-05 08:54] firm1 commented on #2633
Comme le souligne Eskimon, on ne tombe pas dessus par hasard, faut le chercher. Donc oui, en priorité faible, après si c'est faisable rapidement, c'est toujours ça de corrigé

[2015-05-05 08:59] Eskimon commented on #2633
Voila.

[2015-05-05 09:21] artragis commented on #2222
j'ai déjà largement amélioré ça dans la zep12 pour les réactions au tuto, voilà comment je fais :

[code]

[2015-05-05 09:44] firm1 opened #2636 "Erreur 500 lors de la consultation malencrontreuse d'un tutoriel"
Url incriminée : http://zestedesavoir.com/tutoriels/off/813/le-langage-c/?version=e83ef9065bcacea987fdf1554e5b744becdeba0c/

On tombe sur une erreur 50. La bienséance voudrait qu'on n'ait jamais d'erreur 500 dans la vie.

[2015-05-05 09:51] Eskimon commented on #2636
Est-ce que c'est similaire a ca : https://github.com/zestedesavoir/zds-site/issues/2405

Du coup @artragis et @pierre-24 la ZEP-12 protege-t-elle de cela ?

[2015-05-05 09:55] firm1 commented on #2636
Pas vraiment, c'est un autre problème.

[2015-05-05 10:33] artragis commented on #2636
théoriquement, oui, je fais le TU ce midi. Je vais d'abord manger néanmoins.

2015-05-05 11:55 GMT+02:00 firm1 notifications@github.com:

[2015-05-05 11:03] artragis commented on #2405
dans la zep 12 cette issue est QAtisée et a son TU. tu peux ajouter le tag ZEP12.

[2015-05-05 11:06] artragis commented on #2636
TU + QA déjà faite, la ZEP 12 envoie une 403 comme sur la version en ligne.

[2015-05-05 11:31] pierre-24 commented on #2631
Désolé, il était tard le soir. J'ai l'erreur sur _dev_, donc en local (je suis pas staff, je peux pas voir l'erreur en prod ;) ), avec mes _requirements_ à jour :)

[2015-05-05 11:38] pierre-24 commented on #2623
Je vais voir si je peux faire ça (va falloir que je joue avec mysql ^^)

[2015-05-05 12:20] firm1 opened #2637 "Incohérence dans les libellés de catégorie de la sidebar"
Le libellé de la catégorie des tutoriels et différent selon ou on se trouve.

Sur la [home](http://zestedesavoir.com/) on a :

![all-home](https://cloud.githubusercontent.com/assets/6066015/7472334/b64fe2fc-f331-11e4-9b1e-5795947f4432.PNG)

Dans la page [tous les tutoriels](http://zestedesavoir.com/tutoriels/) on a :

![all-tutis](https://cloud.githubusercontent.com/assets/6066015/7472335/bb8b9bd0

[2015-05-05 13:51] wtuuju opened #2638 "citation d'un extrait de site web"
Bonjour,

Je ne sais pas trop si c'est un bug ou une mauvaise utilisation du markdown, mais voilà :

J'ai cité un site web, à l'aide de " > " ainsi que Source:[ohax.fr] http://ohax.fr/oubliez-pachydermique-adblock-plus-ublock-origin-est-arrive (j'ai retiré les parenteses car githib interprete aussi le markdown...) juste après. Comme pour citer un membre.

On voit bien ohax.fr mais le lien envoie s

[2015-05-05 14:02] DevHugo commented on #2632
Enfait, c'est pour tous les champs boolean: shown_sign, shown_email, hover_or_click, email_for_answer.

Ça vient d'ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/api/serializers.py#L167.

`python
validated_data.get('show_sign', instance.show_sign) or instance.show_sign
`
Pour cet exemple, validated_data.get('show_sign', instance.show_sign) renvoi False mais
instance.show_sign

[2015-05-05 14:19] Situphen commented on #2638
Rappel du code Markdown qui bug :

[code]

Ça a l'air d'être dû à `[ohax.fr]` car avec `[ohax]` ça fonctionne !

Ping @cgabard :)

[2015-05-05 14:24] firm1 commented on #2638
L'issue est peut-être à déplacer sur le dépot zmarkdown non ?

[2015-05-05 14:25] wtuuju commented on #2638
Bah après on pourrait penser que ohax est un membre, et non un site web.

EDIT : on pourrait mettre une icône qui indique que le lien est externe, comme sur wikipedia ?

[2015-05-05 14:28] cgabard commented on #2638
Ha oui en fait il y a déjà un ticket pour ça. C'est parce que `ohax.fr` est détecté comme un lien. Ça génére un lien (auto) dans le liens de base. C'est connu et il y a déjà un ticket pour ça.

[2015-05-05 14:35] wtuuju commented on #2638
Je ferme alors

[2015-05-05 14:35] #2638 closed, assigned to nobody

[2015-05-05 14:41] DevHugo commented on #2632
Ce qui est totalement logique dans illogique.

[2015-05-05 15:27] firm1 opened #2640 "Passer à une version supérieure à django 1.7.7 pour la prochaine release"
Le projet django a annoncé [la version 1.7.8 de django](https://docs.djangoproject.com/en/1.8/releases/1.7.8/) qui corrige un problème de la version 1.7.7 qui nous concerne.

Pour rappelle en prod, c'est la version 1.7.7 qui est actuellement déployée.

La bonne nouvelle c'est qu'étant donné que le passage a django 1.7 ne modifiait pas la base de donnée, on est tranquille, la base n'est pas corromp

[2015-05-05 15:31] SpaceFox commented on #2640
Je me demande si ça n'expliquerait pas les merdes qu'on a eu à la tentative
de passage à Django 1.8 du coup.

Le 5 mai 2015 17:27, firm1 notifications@github.com a écrit :

[2015-05-05 15:32] Situphen commented on #2637
Vu que c'est supprimé de la page d'accueil dans la ZEP 4, c'est la peine de fixer ça ?

[2015-05-05 15:33] firm1 commented on #2640
Je sais pas il y'avait pas de migration de base non plus pour django 1.8

Le mar. 5 mai 2015 17:31, SpaceFox notifications@github.com a écrit :

[2015-05-05 15:37] SpaceFox commented on #2640
Il y en a, parce que Django 1.8 fait plus de contrôles au niveau des requêtes et déclarations de modèles, et certaines ne passent plus aujourd'hui... _dont des gestion de `null`_.

[Cf la 1ère tentative de PR par exemple](https://github.com/zestedesavoir/zds-site/pull/2518/files).

[2015-05-05 15:41] firm1 commented on #2640
Faudrait se repencher dessus alors. Si ça permet de passer à django 1.8
c'est tout benef

Le mar. 5 mai 2015 17:37, SpaceFox notifications@github.com a écrit :

[2015-05-06 08:52] firm1 opened #2642 "Erreur 500 lors de la citation malencontreuse d'un MP"
Environnement : production

Url incriminée : `http://zestedesavoir.com/mp/<id_mp>/bisou/messages/creer/?cite=x`

remplacer `<id_mp>` par l'id d'un mp dans lequel vous êtes

On tombe sur une erreur 500. La bienséance voudrait qu'on n'ait jamais d'erreur 500 dans la vie.

[2015-05-06 21:01] SpaceFox commented on #2623
Pour éviter de pourrir ce ticket, je vais faire mon rapport sur les forums, ça me permettra d'utiliser les balises "secret"...

PS : C'est ici : https://www.zestedesavoir.com/forums/sujet/3090/analyse-des-lenteurs-depuis-le-passage-a-en-v155/#p55846

[2015-05-06 21:33] SpaceFox commented on #2623
Conclusion :
1. Il faut traquer et éliminer les requêtes supplémentaires qui sont apparues en particulier sur les catégories de forum, et je suppose sur les pages de de tutos et d'articles (je ne peux pas les tester en local). En particulier les requêtes genre `SELECT ••• FROM`auth_user`WHERE`auth_user`.`id`= 258 LIMIT 21`
2. Il semblerait que l'on passe plus de temps dans les templates, mais c'es

[2015-05-06 21:35] SpaceFox commented on #2623
Je pense qu'on ne vas pas couper à ce genre de test à chaque version par contre :(

[2015-05-06 22:12] pierre-24 commented on #2623
Bon, j'avais vu juste (mais j'ai pas de mérite, je l'avais déjà vu sur la ZEP-12).

Pour faire avancer les choses, j'ajouterai que les requêtes en question viennent d'endroit très précis. Typiquement, un endroit qui génère au moins une requête par _post_, c'est la [template des badges](https://github.com/zestedesavoir/zds-site/blob/dev/templates/misc/badge.part.html) (check des permissions à chaqu

[2015-05-07 05:09] artragis commented on #2623
Le gros problème c'est le templatetag profile qui recharge le profile à
chaque fois !
Il serait 100 fois mieux qu'il le charge une fois et qu'il le stocke
dans la propriété "user.profile" quitte même à créer une propriété adhoc
style "full_profile" qui charge toutes les permissions.

Le 07/05/2015 00:12, Pierre Beaujean a écrit :

[2015-05-07 08:30] Eskimon commented on #1683
Ca fait 6 mois que ca traîne pour un problème qui semble pourtant trivial. @Situphen tu penses avoir le temps de jeter un oeil ?

[2015-05-07 08:46] Eskimon commented on #2077
Une solution serait que [ce bloc h3](https://github.com/zestedesavoir/zds-site/blob/9599ed3e5793ef3b57eb031212c7529477b65ba6/templates/tutorial/tutorial/view_online.html#L112) passe dans le morceau include suivant (donc dans la section). Ca a le merite de fonctionner et d'etre semantiquement plus correcte... Mais je suis pas sur de ce que ca implique...

[2015-05-07 08:47] Eskimon commented on #2163
Retour de Solid sur ce bug:

(version 15.5)

[2015-05-07 08:59] Eskimon commented on #2298
Bon... j'ai deux soucis...
- Primo, la recherche de `&amp;` ne marche pas (mais celle de son copain `&#34;b` marche bien)
- Secondo, un truc merde dans l'autocompletion car ca bombarde de requetes et comme cette derniere est pluggue sur l'API je me suis retrouve en un rien de temps sur des erreurs 429. Et ca ca ne va pas !!

J'invoque donc @sandhose et @Situphen pour le premier point et @GerardPal

[2015-05-07 09:05] GerardPaligot commented on #2298
Plusieurs pistes :
- Augmenter le taux pour le throttling des utilisateurs anonymes : Mauvaise idée.
- Faire des requêtes authentifiées à l'API : Solution acceptable.
- Détecter que les requêtes sont faites sur le site et donc retirer le throttling : Meilleure solution.

Quand j'avais regardé à l'époque, il me semble qu'il était peut-être possible de configurer la dernière pistes. Je peux refaire

[2015-05-07 09:08] Eskimon commented on #2298
En n'imaginant que l'API couvre tout les modules du site, le semble solution qui ne semble enisageable a long terme c'est la dernière. Si tu as un peu de temps pour creuser ca ce serait cool oui :)

(mais il n'en reste pas moins que le javascript d'auto-completion semble buggue)

[2015-05-07 09:11] GerardPaligot commented on #2298
Suite aux récents problèmes que nous avons eu avec le serveur, il semble y avoir des problèmes avec le cache. J'ai déjà pingé @SpaceFox à ce sujet sur une autre issue (je ne sais plus laquelle) mais je le refais ici.

[2015-05-07 09:13] Eskimon commented on #2298
Nan je pense que c'est plus lie au code, j'avais deja eu le souci a l'epoque de l'elaboration de l'API mambre mais je m'etais dit que ca venait de moi...

[2015-05-07 09:14] GerardPaligot commented on #2298
Alors il faudra être plus précis que "il semble y avoir un bug". :)

[2015-05-07 09:18] Situphen commented on #2298
Le _front_ envoie une requête à chaque frappe, c'est normal, non ? Effectivement, c'est anonyme.

[2015-05-07 09:20] Eskimon commented on #2298
Justement, j'ai pas fait autant de frappe que de limite throttling et pourtant j'ai atteint cette limite. En tapant a la main il y a un moment ou ca lag aussi (le retour de frappe arrive pas vite, ca doit etre quand les requetes s'affolent). Il me semble que ca m'arrive quand j'ai fait un copier/coller dans la barre de participant

[2015-05-07 09:22] GerardPaligot commented on #2298
ping @sandhose. Je lui avais déjà remonté ce bug mais il n'arrivait pas à le reproduire.

[2015-05-07 09:23] SpaceFox commented on #2298
Ca ne me dit absolument rien comme problème, si tu peux me retrouver le ticket qui en parle vraiment...

[2015-05-07 09:27] GerardPaligot commented on #2298
Ouaip, c'est sur cette issue : https://github.com/zestedesavoir/zds-site/issues/2596

[2015-05-07 09:31] SpaceFox commented on #2596
En fait les problèmes de cache n'avaient aucun rapport avec l'API.

[2015-05-07 09:33] GerardPaligot commented on #2596
Non mais depuis ces perturbations, il y a des problèmes de cache avec l'API (les problèmes qu'on avait avant que je fasse évoluer le code pour spécifier des clés sur l'API pour le cache si tu te souviens).

En gros, en prod, que tu fais une requête pour avoir la première page des membres (par exemple) et que tu fais une seconde requête pour avoir la seconde page, il te renvoie toujours la première

[2015-05-07 18:58] Luthaf commented on #1736
Ah ben tiens, j'y vais pour revérifier aujourd'hui, et voilà que le lien est de retour ! Pour moi et pour l'autre personne qui avait ce problème =)

Problème résolu !

[2015-05-07 18:58] #1736 closed, assigned to firm1

[2015-05-08 10:04] GerardPaligot commented on #2632
Merci à @DevHugo pour le fix et @pierre-24 pour la QA.

Ping notre CdP @Eskimon pour savoir si j'ai bien positionné la milestone.

[2015-05-08 10:04] #2632 closed, assigned to nobody

[2015-05-08 11:08] Eskimon commented on #2632
Arf vu que les milestones ont mysteurieusement change de nom je dirais "oui parce qu'il y a que celle la..." @SpaceFox des choses a dire ?

[2015-05-08 11:10] pierre-24 commented on #2632
Moi c'est ce que je met depuis 2 semaines :-°

[2015-05-08 12:48] SpaceFox commented on #2632
C'est bien ça : que mettre d'autre comme nom de version puisque le numéro de la prochaine est encore inconnu ?

[2015-05-10 11:56] Situphen commented on #2633
Corrigé. Merci @Eskimon !

[2015-05-10 11:56] #2633 closed, assigned to Eskimon

[2015-05-10 12:12] Situphen commented on #2631
En local, que ce soit sur `v15.5-clementine` ou `upstream/dev`, avec mes dépendances `apt-get` et `pip` à jour, j'ai cette erreur quand je vais sur un profil avec "admin" :

[code]

[2015-05-10 12:17] Situphen commented on #2631
C'est bizarre que l'on ait pas l'erreur en prod !

---

Corrigé et mergé. Merci @Eskimon ! :)

[2015-05-10 12:17] #2631 closed, assigned to nobody

[2015-05-10 12:38] Situphen commented on #936
Quelqu'un pour vérifier que ce bug est corrigé par #2646 ?

[2015-05-10 12:43] Situphen commented on #1264
Ce sera résolu avec la ZEP 24 sur les notifications (faudra penser à le fermer lors du merge de la PR).

Une question que se demandait @ChantyTaguan est : est-ce qu'on prend en compte la casse des caractères ? Est-ce que "python" est pareil que "Python" ?

Lié à https://github.com/ChantyTaguan/zds-site/issues/3

[2015-05-10 12:45] Situphen commented on #1357
Bon, je pense qu'ici on est bon, non ? Surtout qu'il y a #2641 qui sera bientôt mergée !

[2015-05-10 12:49] Situphen commented on #1666
Est corrigé par #2646 !

[2015-05-10 12:51] Situphen commented on #1699
La PR est faite ! #2646

[2015-05-10 12:54] Situphen commented on #1921
Je crois que cette idée a été abandonnée vu qu'il y aura un gros bouton sur la nouvelle page d'accueil ?

[2015-05-10 12:57] Situphen commented on #2069
Ping @pierre-24 @artragis : la ZEP 12 règle ça ? :)

[2015-05-10 12:58] DevHugo opened #2648 "Impossible de mettre à jours l'index des recherches"
J'ai installé la version 4.9.1 de solr comme précisé dans la documentation. J'ai d'abord effectué la commande pour créé le schéma:

[code]

 La commande passe sans probléme mais quand je fais un update_index.
J'ai l'erreur suivante :

[code]

[2015-05-10 12:58] pierre-24 commented on #2069
Très bonne question, ça ressemble à du JS qui en fait trop, non ?

[2015-05-10 12:59] Situphen commented on #2161
@theofabry : tu es en où ? :)

[2015-05-10 13:07] Situphen commented on #2069
Je n'ai pas réussi à reproduire le bug sur la ZEP 12 (via `zds.francoisdambrine.me`) que se soit avec Firefox ou Chrome.

[2015-05-10 13:10] Situphen commented on #2288
UP !

[2015-05-10 13:11] artragis commented on #2069
il fut un temps où j'avais ce bug, mais je pense qu'il a été corrigé à un moment donné. Je ne saurai pas en dire plus pour l'instant. Mais je pense que la PR de @pierre-24 sur les modales a été salutaire.

[2015-05-10 13:14] Situphen commented on #2386
Bon, je confirme que le problème a été rencontré en prod

[2015-05-10 13:17] Situphen commented on #2506
Ça m'arrive aussi de temps en temps et du coup quand je scrolle avec mon doigt je le fais en diagonal pour éviter le problème :D

[2015-05-10 13:17] Situphen commented on #2533
@forkmind : Up !

[2015-05-10 13:53] Situphen commented on #2310
Bug encore présent sur Firefox. Je laisse quiconque veut le résoudre le faire !

[2015-05-10 14:05] WinXaito opened #2649 "Page de connexion: Effet bizarre"
Bonjour,

j'avais déjà inscrit ça dans "Les petits pixel", mais je n'y ai jamais reçu de réponse.
Je me permet donc de poster ici.

Le problème:
- Un effet bizarre se produit quand je me rend sur la page de connexion, (Uniquement sur la page de connexion)

Os: Windows 7
Navigateur: Firefox dev edition (Sur firefox normal aussi, mais de façon aléatoire et moins prononcé)

Preuve:
- https://www.yout

[2015-05-10 14:06] WinXaito commented on #2506
Maintenant que l'on parle de mobile, je me permet juste de dire que sur Windows phone ce n'est pas pratique quand on veut ouvrir le menu en faisant un scroll horizontal, car WP nous ramène sur la page précédente :p

[2015-05-10 14:08] Situphen commented on #2649
Je ne sais pas trop s'il faut considérer ça comme un bug.

[2015-05-10 14:10] Situphen commented on #2506
@WinXaito : bah dans ce cas là il y a le bouton ! ;)

[2015-05-10 14:12] WinXaito commented on #2649
C'est ce n'est que du visuel, mais je ne trouve pas ça très glamour ... Pour savoir, le problème se produit-il aussi chez vous ?

[2015-05-10 19:12] Eskimon commented on #1921
Il manque quand meme de la visibilité pour le "aider les auteurs"

[2015-05-10 19:16] Eskimon commented on #2069
Idem après tout mes tests de déplacements sur la ZEP-12 ca ne m'a jamais arrivé... Je propose qu'on attende cependant le merge de la ZEP-12 pour fermer ici (histoire de s'en rappeler, plusieurs tickets ayant déjà le mot-clé pour revenir dessus plus tard)

[2015-05-10 19:18] Eskimon commented on #2288
Je viens de tester à l'instant et tout semble OK.

[2015-05-10 19:18] #2288 closed, assigned to nobody

[2015-05-10 19:22] Situphen commented on #1921
Je pense que l'on peut ajouter ça sur la page d'accueil. Il faudrait juste demander l'avis aux membres sur le sujet de la ZEP !

[2015-05-10 19:23] Eskimon commented on #2649
Ah j'ai ptet trouvé un truc... Perso chez moi par défaut ca ne le fais pas, MAIS si je m'amuse à faire des ctrl+F5 pour rafraîchir la page alors là ca me le fais... J'ai du mal à vraiment qualifié ca comme un bug car on est pas vraiment dans le comportement attendu d'un utilisateur...

[2015-05-10 19:28] Situphen commented on #2649
Moi ça me le fait sans que je m'amuse à faire Ctrl+F5 ! C'est vrai que ça doit être assez énervant à la longue mais je suppose que la majorité des utilisateurs restent connectés et donc ne voient cette page que peut souvent. J'hésite entre Bug et Evolution...

[2015-05-10 19:32] Eskimon commented on #2649
Ah bah si tu arrives à reproduire sans insisté nickel....

Clairement c'est un bug par contre, c'est un comportement indésirable. Je vois pas ou on pourrais évoluer ici :D

[2015-05-10 19:34] WinXaito commented on #2649
Moi c'est effectivement à chaque actualisation ou clique sur le bouton "Connexion", je ne m'amuse pas à faire des ctrl + f5 :)

[2015-05-10 19:36] Eskimon commented on #1921
Sur les fofos ca semblait apprécier:
- ici : https://zestedesavoir.com/forums/sujet/669/zep-04-nouvelle-page-daccueil/?page=25#p34936
- puis la : https://zestedesavoir.com/forums/sujet/669/zep-04-nouvelle-page-daccueil/?page=33#p35803
- puis une autre fois https://zestedesavoir.com/articles/140/premiere-zep-developpee-sur-zeste-de-savoir/?page=2#p34917

silvouplééééé

[2015-05-10 19:45] Eskimon commented on #2495
Réglé !

[2015-05-10 19:45] #2495 closed, assigned to Situphen

[2015-05-10 19:58] Eskimon commented on #1683
Merci @Situphen :)

[2015-05-10 19:58] #1683 closed, assigned to Situphen

[2015-05-10 20:07] Eskimon commented on #2642
Perso j'obtiens une 403 (version 15.5b). Tu peux retester pour être sur ? Et si ca bug toujours re-expliquer comment tu fais car je vois pas la.

[2015-05-10 20:11] Eskimon commented on #2564
Ca semble bien fonctionner maintenant (surement via https://github.com/zestedesavoir/zds-site/pull/2605 ), je ferme

[2015-05-10 20:11] #2564 closed, assigned to nobody

[2015-05-10 20:13] Eskimon commented on #2302
hum... ping @Ge0 ?

[2015-05-10 20:15] Eskimon commented on #2083
A mon sens on est plus dans le confort d'utilisation que dans le bug, je tag donc comme tel

[2015-05-10 20:15] Eskimon commented on #2025
Je tag evolution, la feature n'existant pas elle ne peut pas être bugguée :-°

[2015-05-10 20:17] Eskimon commented on #1927
@cgabard tu connais le depot pour transmettre ca à Pandoc ?

[2015-05-10 20:18] Situphen commented on #2025
Faudra se rappeler de fermer ici lors du merge de la ZEP 24 !

[2015-05-10 20:47] SpaceFox commented on #1921
Je plusseoie le caribou : ça a l'air assez demandé pour qu'on le fasse.

[2015-05-10 22:38] jonathanpoelen opened #2655 "Impossible d'activer un compte si pas d'email d'activation"
Bonjour,

Il a quelque temps (1 mois ?), je mettais inscrit sur zds mais n'avait pas reçut de mail d'activation. Aujourd'hui, je tente de me connecter mais un joli message me dit d'activer mon compte. Je peux modifier mon pass  sans aucun changement :'(.

Comme je n'ai pas trouvé comment renvoyer un mail d'activation, j'ai fini par créer un nouveau compte, l'ancien étant déjà utilisé...

Il serait

[2015-05-11 09:31] firm1 opened #2657 "Afficher les sujets suivis depuis plus d'un an"
Il s'agit d'un bug, déclaré par mon homologue venu tout droit du futur ^^. On ne le voit pas encore aujourd'hui car le site n'a pas encore 1 an d'existance, mais comme on peut le voir en jetant un coup d'oeil au [code](https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/templatetags/interventions.py#L30), si je follow un topic vieux de plus d'un an, il n'apparraitra pas dans la liste des

[2015-05-11 09:44] firm1 opened #2658 "Problème de connexion en IPv6 en https"
Je taggue en bloquant, car ça me parait tout de même handicapant

[2015-05-11 09:58] SpaceFox commented on #2657
Globalement, tout ce bout de code m'a l'air bien compliqué pour pas
grand-chose.

Le 11 mai 2015 11:31, firm1 notifications@github.com a écrit :

[2015-05-11 09:59] SpaceFox commented on #2658
C'est pas bloquant dans la mesure où ça n'empêche pas l'accès au service.

Ça et le fait que ça m'étonne, parce que chez moi je suis en IPv6 et je n'ai pas de problème. Je vérifierai.

[2015-05-11 10:54] Situphen commented on #2657
@ChantyTaguan : Est-ce que la ZEP 24 touche à ce bout de code ? Est-ce que vous pouvez régler ce problème ?

[2015-05-11 12:03] DevHugo commented on #2655
Les admins comme firm1 peuvent faire en sorte de valider ton compte mais il va leur falloir le nom de l'ancien compte et celui du nouveau en attendant la nouvelle fonctionnalitée.

[2015-05-11 12:24] ChantyTaguan commented on #2657
Oui, on touche à ce bout de code, mais pour l'instant, sans modifier ce comportement. Mais on peut corriger ça oui :)

[2015-05-11 12:25] firm1 opened #2659 "Le fichier AUTHORS n'est pas à jour"
Le [fichier des contributeurs](https://github.com/zestedesavoir/zds-site/blob/dev/AUTHORS) n'est pas à jour. Il y'a **au moins** @DevHugo qui contribue pas mal depuis un moment qui n'y est pas encore.

[2015-05-11 12:29] Ge0 commented on #2658
Hello,

J'ai mis la configuration à jour et c'est normalement ok. Si quelqu'un pouvait tester pour confirmer...

[2015-05-11 12:29] firm1 commented on #2642
@Eskimon Moi j'obtiens toujours une erreur 500. Peut-être parce que je suis staff cela dit.

Voici un MP qu'on a en commun, fait un essai : http://zestedesavoir.com/mp/5387/bisou/messages/creer/?cite=x

[2015-05-11 12:34] Eskimon commented on #2642
Je viens de comprendre, ce qui pose problème c'est le `x` non ?

[2015-05-11 12:36] firm1 commented on #2642
Je suppose oui

[2015-05-11 12:37] firm1 commented on #2658
Ne pas oublier de reporter la conf sur la préprod du coup.

[2015-05-11 12:38] GerardPaligot commented on #2642
Quand on spécifie un MP où on ne dispose pas les accès (par exemple, je suis pas dans votre MP identifié par `5387`), j'obtiens une 403 parce que je suis stoppé avec la récupération de l'identifiant spécifié pour la citation.

Donc quand tu es dans le MP et que tu mets n'importe quoi dans `cite`, ça merdouille.

[2015-05-11 12:39] Eskimon commented on #2642
Et j'avais anticipe et ca a ete regle via cette PR normalement : https://github.com/zestedesavoir/zds-site/pull/2634

Il y a meme un TU :)

[2015-05-11 12:39] SpaceFox commented on #2658
Argh.

[2015-05-11 12:40] firm1 commented on #2642
Bizarre @Eskimon la PR que tu linke, ne touche pas aux fichiers des MPs, donc je ne pense pas que ça règle le souci :)

[2015-05-11 12:40] GerardPaligot commented on #2642
@Eskimon Tu règles le même problème mais pour les forums.

[2015-05-11 12:41] Eskimon commented on #2642
Arf oui XD Bon bah je vais refaire ca :)

[2015-05-11 12:50] firm1 commented on #2637
C'est de la priorité très très très faible, donc ça sera fermé quand la ZEP-4 sera mergée

[2015-05-11 12:52] SpaceFox commented on #2637
Pour être exact, vu que la ZEP-4 est presque prête, c'est abandonné _maintenant_.

[2015-05-11 12:52] #2637 closed, assigned to nobody

[2015-05-11 13:01] firm1 commented on #2589
J'ignore si c'est à cause de [cette action](https://github.com/zestedesavoir/zds-site/issues/2658#issuecomment-100891144), mais cette issue à évoluée.

Maintenant, en http les redirections fonctionnent bien, cependant, en https, la redirection ne se fait jamais, si j'étais sur une `.org` ma naviguation continue en `.org` au lieu de me rediriger sur le `.com`.

L'impact n'égatif est que coté SEO on

[2015-05-11 13:02] firm1 commented on #2561
Je n'ai pas revu ce problème depuis, je suppose donc que c'était la faute au front mal généré. Je ferme donc

[2015-05-11 13:02] #2561 closed, assigned to nobody

[2015-05-11 13:07] firm1 commented on #2298
@Eskimon le problème que tu décris est identifié ici #2386

[2015-05-11 13:10] Eskimon commented on #2298
Oui et non car j'ai deux soucis:
- Le premier c'est effectivement que je comprend pas pourquoi le site devrait passer par l'API, autentifie ou pas, car ca nous bride sur le nombre de requete et ca ca me gene
- Le second c'est que j'ai un vrai bug quand je fais un copier/coller.

[2015-05-11 13:20] firm1 commented on #2298
Avant le json de l'autocomplétion était servi par les vues django (sans limite). Ce n'est plus le cas maintenant, c'est fait par l'API, donc l'autocomplétion qui est une application en JS, doit, comme n'importe quel client d'une API, se connecter à celle-ci pour l'utiliser pleinement. En tout cas, c'est ainsi que ça marche dans les apps que je connais.

ça c'est un autre problème en effet

[2015-05-11 13:22] Eskimon commented on #2298
Je trouve que c'est un non-sens que le site lui-meme, coeur de l'ouvrage, puisse se retrouver limite par son propre throttling...

[2015-05-11 13:22] GerardPaligot commented on #2298
https://github.com/zestedesavoir/zds-site/issues/2386#issuecomment-76385582

[2015-05-11 13:24] Eskimon commented on #2298
Ouai j'ai vu ca, mais soit j'ai pas compris (et alors tant mieux :) ), soit on est toujours soumis a la barre haute du throttling non ?

[2015-05-11 13:26] Situphen commented on #2589
Je plussoie que c'est assez bloquant !

[2015-05-11 13:26] GerardPaligot commented on #2298
La documentation ne donne aucune information à ce sujet et impossible de le tester en local, j'ai jamais réussi à faire fonctionner le throttling chez moi.

[2015-05-11 15:25] jonathanpoelen commented on #2655
Oki,
le nouveau: jo.link.noir
l'ancien : jo_link_noir

[2015-05-11 15:31] firm1 commented on #2655
Ton ancien compte (jo_link_noir) est maintenant activé, je te laisse le prendre en main et désinscrire le "nouveau" jo.link.noir ?

[2015-05-11 15:46] firm1 opened #2662 "Il y'a des boutons inutilisables dans les MPs"
Scénario :
- Allez dans un MP que vous partagez avec quelqu'un
- Allez sur un message et faites clic-droit sur le bouton citer, puis "copier le lien"
- Coller le lien dans la barre d'adresse de votre navigateur préféré et validez

**Problème** : on constate que dans la liste des messages en dessous, on a des boutons "signalez", "masquer" qui n'ont pas lieu d'être car on ne peut pas signaler un MP

[2015-05-11 16:21] GerardPaligot commented on #2662
Tu cherches la merde @firm1 ! ^^

[2015-05-11 17:37] DevHugo commented on #2662
https://github.com/zestedesavoir/zds-site/blob/dev/templates/mp/post/new.html#L65 manque un with can_hide=False.

Mais c'est vrai que la tu as dépassé le niveau de fourberie pour trouver des bugs là.

[2015-05-11 18:50] jonathanpoelen commented on #2655
Ok, c'est bon. J'ai pu accéder à l'ancien et supprimer le nouveau.
Merci.

[2015-05-11 21:29] sandhose opened #2664 "Passer aux build dans des container sur travis"
Travis a actuellement deux infrastructure pour les build. L'ancienne, que l'on utilise actuellement, virtualise entièrement un environnement linux. Une nouvelle architecture utilisant des container (type Docker) est [depuis quelques mois disponible](http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/), et propose des builds bien plus rapide (démarre plus rapidem

[2015-05-11 21:44] DevHugo commented on #2659
Personnellement, pour faire très simple, je m'en fout royalement d'être dans ce fichier ^^. Après la question peut-être élargie, à quoi sert réellement ce fichier et comment on le maintient  =) !

[2015-05-11 21:54] GerardPaligot commented on #2664
Quel est l'objectif de cette issue si nous avons des dépendances non compatibles ? De trouver des alternatives compatibles ?

[2015-05-11 22:00] sandhose commented on #2664
Ouais, c'est pour voir si c'est éventuellement possible, histoire
d'accélérer les builds. On a eu le problème ce soir par exemple,
l'architecture de build legacy de travis était surchargé, et les builds ont
mis 20 min a démarrer...

Le lun. 11 mai 2015 23:54, Gérard Paligot notifications@github.com a
écrit :

[2015-05-11 22:17] DevHugo commented on #2664
On peut aussi proposer les binaires comme expliqué dans la doc.

[2015-05-11 23:49] pierre-24 commented on #1653
Corrigé :)

[2015-05-11 23:49] #1653 closed, assigned to Eskimon

[2015-05-12 00:26] pierre-24 commented on #2659
De manière générale, [la liste des contributeurs du dépot](https://github.com/zestedesavoir/zds-site/network/members) est plus à jour, non ?

[2015-05-12 10:07] firm1 opened #2666 "Problème avec CORS"
Le fait que l'on retrouve l'url `127.0.0.1:8000` dans le message d'erreur me fait penser qu'on a ici un problème d'infra.

[2015-05-12 11:17] Eskimon commented on #2666
ping @GerardPaligot :)

[2015-05-12 11:45] GerardPaligot commented on #2666
Comme le dit @firm1, c'est sans doute un problème d'infra. Ca fonctionnait et maintenant ça fonctionne plus sans modification sur l'API.

[2015-05-12 12:16] SpaceFox commented on #2666
@Ge0 c'est pas un effet de bord de tes modifs de l'autre jour ? (sur l'IPv6)

[2015-05-12 15:23] Eskimon commented on #2254
Chez moi ca marche (requirements à jour étou)

[2015-05-12 15:44] Eskimon commented on #1634
C'est passé !!! Bravo à tous !!

[2015-05-12 15:44] #1634 closed, assigned to firm1

[2015-05-12 15:45] Eskimon commented on #2254
Bon chez moi ca marche sur un environnement à jour et chez @GerardPaligot avec deux environnements différents ca marche aussi... Donc je ferme.

[2015-05-12 15:45] #2254 closed, assigned to firm1

[2015-05-12 15:45] GerardPaligot commented on #2254
Sur OS X Mavericks et Yosemite, tous les tests passent.

[2015-05-12 15:46] Situphen commented on #2254
Je retesterai la semaine prochaine pour bien vérifier.

**EDIT :** Je n'ai plus l'erreur.

[2015-05-12 16:52] Eskimon commented on #2604
Réglé :)

[2015-05-12 16:52] #2604 closed, assigned to nobody

[2015-05-12 20:21] Eskimon opened #2667 "[Beta 15.5.1] Le design de la page d'aide aux tutos est tout cassé"
Server: Beta
Version: v15.5½-RC1/c5e6bcc
Page incriminée: http://beta.zestedesavoir.com/tutoriels/aides/

Une image vaut mieux qu'un long discours (cache rafraichie):

![capture du 2015-05-12 22 20 25](https://cloud.githubusercontent.com/assets/761168/7597620/1b53a7f6-f8f5-11e4-9de9-d0ab983fcfd5.png)

Et la version correcte en prod donne:
![capture du 2015-05-12 22 20 51](https://cloud.githubuserc

[2015-05-12 20:28] SpaceFox opened #2668 "[Beta 15.5.1] Sur le serveur les articles n'ont pas d'icône"
Sur le serveur de bêta (Version : v15.5½-RC1/c5e6bcc), les articles n'ont pas d'icônes. Ce n'est pas simplement un problème d'image indisponible : l'icône n'est pas définie dans le HTML.

[2015-05-12 20:30] SpaceFox opened #2669 "[Beta 15.5.1] Problèmes de performances / liste des tutos"
La liste des tutos est devenue **beaucoup** plus lourde avec la nouvelle version (Version : v15.5½-RC1/c5e6bcc). En mode connecté avec un compte admin :
- Avant : 383102 function calls (370015 primitive calls)
- Après : 665289 function calls (646091 primitive calls)

Il faut vérifier et réduire ça sous peine d'avoir des désagréables surprise sle jour de la MEP.

[2015-05-12 20:31] SpaceFox opened #2670 "[Beta 15.5.1] Ajouter la taille voulue de l'image dans l'interface des unes"
L'interface d'admin des Unes de la nouvelle page d'accueil n'indique pas la taille voulue pour l'image. Ce serait plus pratique si c'était le cas.

[2015-05-12 20:34] SpaceFox opened #2671 "[Beta 15.5.1] Problèmes de performances / accueil"
La page d'accueil est devenue sensiblement plus lourde avec la nouvelle version (Version : v15.5½-RC1/c5e6bcc). En mode connecté avec un compte admin :

Avant : 116163 function calls (113347 primitive calls)
Après : 199479 function calls (195344 primitive calls)

Il faut vérifier et réduire ça sous peine d'avoir des désagréables surprises le jour de la MEP.

[2015-05-12 20:37] SpaceFox opened #2673 "[Beta 15.5.1] Typos sur le texte d'accueil en mode déconnecté"
Il y a des typos sur le nouveau texte d'accueil en mode déconnecté ("annimés" par exemple).

Plus généralement, on pourrait améliorer ce texte, ne serait-ce que par de la mise en forme.

[2015-05-12 21:07] SpaceFox opened #2674 "Les filtres de tags "complexes" sur les articles ne fonctionnent pas"
Aucun des filtres de tags sur les articles qui est plus compliqué que "un seul mot" (exemples : "GNU/Linux", "1er avril", ...) ne fonctionne pas (le filtre n'est pas actif et on voit tout).

Ce n'est pas un bug de la nouvelle version 15.5.1 (il est déjà en prod) mais il devient gênant parce que les tags sont **beaucoup** plus visibles avec la nouvelle home et les nouvelles pages de tutos / article

[2015-05-12 22:07] SpaceFox opened #2675 "[Beta 15.5.1] Erreur de punchline sur mobile"
Sur mobile en mode déconnecté, le site affiche : _"Zeste de Savoir, le site de partage de connaissances, sans pépins !"_.

Ce devrait être _"Zeste de Savoir, la connaissance pour tous et sans pépins"_.

[2015-05-12 22:10] DevHugo commented on #2659
Si y'a pas de raison légale pourquoi le garder ?

[2015-05-12 22:17] SpaceFox commented on #2619
Corrigé & mergé.

[2015-05-12 22:17] #2619 closed, assigned to SpaceFox

[2015-05-12 22:19] SpaceFox commented on #936
La note de PR prétend que oui. Je fais quoi ? Je laisse ouvert ou je ferme ?

[2015-05-12 22:19] #1666 closed, assigned to nobody

[2015-05-12 22:21] Luuka opened #2676 "[Beta 15.5.1] Manque un espace dans les catégories de tutoriels sur l'accueil"
Sur la page d'accueil dans la partie `Derniers tutoriels` : Il manque un espace avant le "et" dans la liste des catégories des tutoriels.

![betazds](https://cloud.githubusercontent.com/assets/5896831/7599784/517c2140-f905-11e4-80a4-d6e772b91640.jpg)

[2015-05-12 23:55] Fulbert opened #2678 "[Beta 15.5.1] Les unes ne s'affichent pas sur mobile"
Sur Chrome (42.0.2311.111) et Firefox (38.0) sur Samsung Galaxy SIII (Android 4.3).
Le bug est présent que l'on soit connecté ou non.

![screenshot_2015-05-12-16-51-17](https://cloud.githubusercontent.com/assets/4991264/7601157/84aedf3c-f8c7-11e4-94aa-84d4c1f12258.png)

J'imagine que c'est parce qu'il y a qu'une seule une pour le moment sur la beta (en tout cas j'en vois qu'une qui s'affiche sur d

[2015-05-13 06:16] Eskimon commented on #936
QQun a encore un navigateur internet legacy sur son Android ?

[2015-05-13 06:20] Eskimon commented on #2671
Je suppose que ça vient de l'affichage de plus d’éléments (comme les forums par exemple), du coup peut-on vraiment y faire grand chose ?

[2015-05-13 06:22] Eskimon commented on #2674
Faudrait essayer de comparer avec les tutos... Mais sinon coucou les copains de la ZEP-12 ( @artragis et @pierre-24 ) je suppose que chez vous la solution sera bien générique :)

[2015-05-13 06:23] Luuka opened #2679 "[Beta 15.5.1] Pas de mise en forme pour la barre de recherche du menu mobile sur l'accueil"
Sur la page d'accueil : En version mobile la barre de recherche située en haut du menu mobile n'a pas de styles css.
Il semblerait qu'il manque une div de classe `search` autour de l'input

Le menu s'affiche correctement sur les autres pages.

![betazds-2](https://cloud.githubusercontent.com/assets/5896831/7604842/df8baaee-f948-11e4-8a0d-5d8790672a13.jpg)

Testé sur Chrome mobile et Desktop

[2015-05-13 06:37] SpaceFox commented on #936
Je devrais pouvoir tester sur un des téléphones du boulot, sauf qu'on a pas la moindre idée de la version d'Android en cause et donc que le bug n'a aucun sens.

[2015-05-13 06:38] SpaceFox commented on #2671
1. Il faut vérifier que l'affichage est fait de manière efficace
2. C'est la page la plus affichée du site, donc elle doit être performante. Au pire, on peut commencer à jouer avec les caches.

[2015-05-13 06:39] Eskimon commented on #936
Considère un Android kitkat pas trop récent (avant qu'il supprime le navigo legacy) mais a jour (pour que le composant WebView soit a jour)

https://developer.android.com/about/dashboards/index.html

[2015-05-13 06:47] SpaceFox commented on #936
En fait, on va la faire à l'envers : les seules références à un browser Android qu'on a le dernier mois (1.19% des visites) c'est "Android browser 4.0". Donc il suffit de tester avec celle-ci - je suppose que ça correspond à un Android 4.0 ?