[2016-08-23 19:25] GerardPaligot commented on #3791
Le front a-t-il été généré ?

[2016-08-23 19:27] GerardPaligot opened #3792 "[beta][v20] Impossible de masquer ses messages"
Serveur : Beta
Version : v20/6bb2f75
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Rendez-vous sur l'un de vos messages.
2. Remarquez qu'il n'est plus possible de le masquer.

[2016-08-23 19:42] GerardPaligot opened #3793 "[beta][v20] Le compteur d'abonné à un sujet reste à 0"
Serveur : Beta
Version : v20/6bb2f75
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Rendez-vous sur un sujet où il y a des gens abonnés (abonnez-vous à l'un d'eux).
2. Constatez que le nombre d'abonné reste à 0.

![capture d ecran 2016-08-23 a 21 36 26](https://cloud.githubusercontent.com/assets/1913901/17907065/4beb8612-697a-11e6-86b4-1ab555520e8d.png)

[2016-08-23 19:43] GerardPaligot commented on #3793
J'ai taggué "P-Haute" parce qu'on peut pas laisser passer ça en prod.

[2016-08-23 19:49] vhf commented on #3791
Ah non, bien vu !

[2016-08-23 19:49] GerardPaligot opened #3794 "[beta][v20] Le message d'avertissement s'affiche en mode zen"
Serveur : Beta
Version : v20/6bb2f75
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Rendez-vous dans un sujet avec plus d'1 page de commentaire.
2. Activez le mode zen.
3. Constatez en bas de la page que l'avertissement est toujours là.

@gustavi, @vhf : Le front a-t-il été généré correctement ?

[2016-08-23 19:50] GerardPaligot commented on #3791
Je ne connais pas le process de MEP/B mais à une époque, c'était automatique.

[2016-08-23 19:52] vhf commented on #3791
Justement moi non plus je le connais pas, et c'est pas documenté.

Effectivement lors d'une MEP c'est automatique, c'est travis qui build le front. Là je sais pas. Je regarde.

[2016-08-23 19:59] GerardPaligot opened #3795 "[beta][v20] Un long tag provoque une erreur 500"
Serveur : Beta
Version : v20/6bb2f75
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Créez un sujet comme décrit dans cette [issue](https://github.com/zestedesavoir/zds-site/issues/3642).
2. Constatez qu'une restriction a été mise sur la taille des tags à 30 caractères.
3. Créez un sujet avec un tag de 30 caractères : `[aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa] test sur tag`
4. Constatez un

[2016-08-23 20:08] Situphen commented on #3791
Normalement lors de chaque création de "release" sur GitHub (exemple : "v19.1-mangoustan"), Travis build le front et le met à disposition dans un tag (exemple : "v19.1-mangoustan-build"). Le script de MEP/MEB s'occupe de récupérer le front depuis le dit tag. https://github.com/zestedesavoir/zds-site/blob/dev/scripts/deploy.sh#L47

[2016-08-23 20:48] vhf commented on #3791
Merci @Situphen . La doc de ZdS dit juste que pour une release, on créé une branche qu'on met en beta. Rien à propos des tags, du coup voilà.

@gustavi tu pourras documenter le processus de mise en beta ? Je me rappelle vaguement un gist que t'avais ?

[2016-08-23 20:48] #3791 closed, assigned to nobody

[2016-08-23 20:49] GerardPaligot commented on #3795
Réglé depuis la génération du front.

[2016-08-23 20:49] #3795 closed, assigned to nobody

[2016-08-23 20:51] GerardPaligot commented on #3794
Réglé depuis la génération du front.

[2016-08-23 20:51] #3794 closed, assigned to nobody

[2016-08-23 20:53] GerardPaligot commented on #3793
D'après mes observations, le compteur semble rester à 0 que pour les sujets.

[2016-08-23 21:17] GerardPaligot opened #3796 "[beta][v20] La recherche ne renvoie pas des résultats pertinents"
Serveur : Beta
Version : v20/6bb2f75
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Rendez-vous sur cette recherche : https://beta.zestedesavoir.com/rechercher/?q=Android&models=tutorial
2. Constatez aucun tutoriel sur Android alors qu'il en existe bel et bien.

[2016-08-23 21:31] SpaceFox commented on #3791
Vous avez déployé quoi ? Normalement le script de build était conçu pour ne déployer que des tags, et vérifier tout seul que le tag avec le build du front était bien là.

[2016-08-23 21:41] vhf commented on #3791
J'ai tenté de suivre [la doc](https://zds-site.readthedocs.io/fr/latest/workflow.html#workflow-de-mise-en-production), mais j'ai eu énormément de peine. Elle dit de faire une branche de release, du coup j'ai fait une branche de release et j'ai mis le site sur la branche.

Tagger le commit de release n'étant mentionné que dans la partie de mise en production et ne voulant pas foutre en l'air la bra

[2016-08-23 21:50] Karnaj commented on #3782
Il faut utiliser `safe` dans les templates concernés. Il y a d’autres templates où il ne sont pas appliqués ([le message privé pour l’activation de la bêta](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/messages/beta_activate_pm.md) et [celui pour la réservation de contenu](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorialv2/messages/validation_reserve

[2016-08-23 22:12] Emeric54 opened #3797 "[beta][v20] Pas de pluriel pour le compteur d'abonnés"
En se rendant sur un forum ou un contenu avec plusieurs abonnés, constatez que le mot « abonné » n'est pas au pluriel.

[2016-08-24 08:22] gustavi commented on #3796
2 options :
- On a cassé la recherche dans le code
- On a casse Solr

[2016-08-24 08:24] gustavi commented on #3791
@vhf ce qui me sert de memo https://gist.github.com/gustavi/e18c6f1925bad9f2cca093ec44281540

[2016-08-24 08:28] vhf commented on #3796
Je pense plutôt que utf8mb4 demande une petite option à changer quelque
part dans la recherche ou l'indexation.

On Aug 24, 2016 10:22, "Laville Augustin" notifications@github.com wrote:

[2016-08-24 08:47] DevHugo commented on #3796
J'ai comme l'impression que les résultat ne sont pas pertinent enfait. Si on coche les 3 autres cases on tombe sur les tutoriels [Android](https://beta.zestedesavoir.com/rechercher/?q=Android&models=tutorial&models=parts&models=chapters&models=extracts) [Android php](https://beta.zestedesavoir.com/rechercher/?q=Android+PHP&models=parts&models=chapters&models=extracts).

[2016-08-24 08:48] firm1 commented on #3796
Histoire de préciser un peu mieux cette issue, le problème ne survient que sur des **tutoriels qui n'ont pas de sous-titres** comme [lui](https://beta.zestedesavoir.com/tutoriels/624/creez-des-applications-pour-android/), [lui](https://beta.zestedesavoir.com/tutoriels/272/introduction-aux-tests-android-avec-espresso/), [lui](https://beta.zestedesavoir.com/tutoriels/260/les-operations-bit-a-bit-et-

[2016-08-24 09:07] DevHugo commented on #3796
Pour confirmer faudrait que quelqu'un passe la commande `python manage.py index_conten`et `python manage.py rebuild_index`pour qu'on puisse debugger.

[2016-08-24 16:53] Karnaj commented on #3792
En rajoutant `can_hide = message.is_visible` à [cette ligne](https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/topic/index.html#L115) ça devrait marcher, non ? Ou `can_hide = true` (mais selon moi `can_hide = message.is_visible` est mieux).

[2016-08-24 17:11] vhf commented on #3792
Y'a plus simple, faut revert 2-3 changements que j'ai faits. Je m'en occupe.

Faut surtout avoir une suite de tests qui tiennent debout, ce genre de régression devrait pas se produire avec des tests.

[2016-08-24 17:27] Karnaj commented on #3782
Je prends.

[2016-08-24 17:30] gustavi commented on #3782
@GerardPaligot tu peux ajouter @Karnaj dans les gens qu'on peut assigner stp ? :)

[2016-08-24 17:33] GerardPaligot opened #3800 "Un membre avec un username en grec renvoie des erreurs 500"
Serveur : Prod
Version : v19.1-mangoustan/1b066e0
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---

Une erreur a été remontée dans Sentry :

[code]

Contexte :

URL : https://zestedesavoir.com/membres/parametres/user/
Méthode : POST
Username : ρττ
Identifiant de l'utilisateur : 4095

Sachant que l'URL `https://zestedesavoir.com/membres/voir/ρττ/` ne renvoit vers rien (et forcément). Je

[2016-08-24 17:35] GerardPaligot commented on #3782
Invitation envoyée. Mes félicitations pour ta promotion @Karnaj. :)

[2016-08-24 17:38] vhf commented on #3800
Non non, le pseudo en lettre grecques passe très bien. @gustavi est dessus et aura un fix sous peu.

[2016-08-24 17:39] GerardPaligot commented on #3800
D'où venait le bug ?

[2016-08-24 17:49] vhf commented on #3800
Je peux t'expliquer sur IRC si tu veux. Sinon faudra attendre la PR. :)

[2016-08-24 19:02] vhf commented on #3796
On dirait que tes commandes on réglé le problème @DevHugo . Tu veux quand même l'output ?

[2016-08-24 19:07] vhf commented on #3797
Est-ce que tu peux expliquer en quelques points dans ton ticket comment résoudre le problème ? (C'est un prérequis pour appliquer le tag `Facile`. ;) )

[2016-08-24 20:52] DevHugo commented on #3796
J'ai toujours rien, sur la requête de Andr0, [sur la beta](https://beta.zestedesavoir.com/rechercher/?q=Android&models=tutorial) alors  [qu'en prod, on a des résultats](https://zestedesavoir.com/rechercher/?q=Android&models=tutorial), j'ai loupé quelque chose ?

Donne toujours les output si ça te demande aucun effort, sinon je regarderais demain, si je peux reproduire avec une instance locale.

[2016-08-24 21:05] vhf commented on #3796
Etrange, j'ai presque le même résultat beta et prod : http://imgur.com/a/BJJVi (beta, prod)

Voilà les logs @DevHugo https://gist.github.com/vhf/8dbdbbdcab2c1afe58a173cc32e19a32

[2016-08-24 21:10] firm1 commented on #3796
J'ai le même résultat que @vhf sur la beta

Le mer. 24 août 2016 23:05, victor felder notifications@github.com a
écrit :

[2016-08-24 21:29] DevHugo commented on #3796
ça doit être mon cache navigateur alors. en tous les cas, merci vhf.

[2016-08-24 21:37] GerardPaligot commented on #3796
Tout est rentré dans l'ordre pour moi aussi.

[2016-08-24 23:52] DevHugo commented on #3796
Je l'ai aussi maintenant, je sais pas trop quoi dire. Les logs ont l'air normaux et je sais pas pourquoi il a fallut relancer la commande d'indexation des tutoriels.

[2016-08-25 06:05] #3796 closed, assigned to nobody

[2016-08-26 09:12] firm1 commented on #3789
Je confirme que la beta est super lente. Le back-end met ~3 secondes pour changer la home en mode connecté. Par contre il met moins de 0.5 s à rendre la page `https://beta.zestedesavoir.com/pages/association` Donc je pense que le problème n'est pas au niveau du cache.

@vhf Est-ce qu'on peut avoir des infos sur les requêtes lentes actuellement sur la beta ?

[2016-08-26 12:18] A-312 opened #3804 "[beta][v20]Possibilité d'éditer un message masqué"
_A vérifier_

Il semble que sur le forum, on puisse éditer un message, qui a été masqué, en utilisant le lien direct vers l'édition du message.

`https://zestedesavoir.com/forums/message/editer/?message=******`

[2016-08-26 17:07] vhf commented on #3789
Bon, y'a un problème avec MySQL et je sais pas lequel. A chaque affichage de page, il log des slow queries. C'est pas normal. La config est peut-être pas bonne, mais je sais pas trop.

mysqltuner ne dit rien d'intéressant, il est presque tout vert.

C'est bizarre notre serveur beta a 4G de RAM mais 128M de swap, la RAM est à ~1.5G et la swap à 100%...

[2016-08-26 17:10] GerardPaligot commented on #3789
Le tag bloquant ne me semble pas de trop du coup.

[2016-08-26 17:12] vhf commented on #3789
Je vais pas l'enlever tout de suite, mais si, il est de trop pour le moment. On n'a pas la même infra en dev et en prod pour rappel. Et on va très probablement supprimer ce serveur de bêta dans moins de 10j.

On n'est même pas certains que le problème est MySQL. Il est lent, mais c'est pas forcément de sa faute.

[2016-08-26 19:15] GerardPaligot commented on #3789
Il faut éclaircir le point avant toute mise en production en tout cas.

[2016-08-26 19:20] vhf commented on #3789
La plupart des requêtes sur l'index du forum partent entre 10 et 25x. Aucune idée pourquoi.

Genre celle-ci :

[code]

24x.

Je veux bien de l'aide à piger ça.

[2016-08-26 19:44] vhf commented on #3789
Pour relativiser les perfs IO beta/prod:

[code]

---

Bon ok la beta est 6-7x plus lente que la prod, mais niveau SQL j'ai pas de point de comparaison vu que je débarque dans ce projet.

160 requêtes sur `/forums/` c'est normal ? En moyenne sur cette page ça fait 40ms / requête, ce qui est plausible vu la lenteur de la VM.

---

J'ai mis en place un peu plus de query caching que précédemment dans

[2016-08-26 20:18] GerardPaligot commented on #3789
@SpaceFox Est-ce que tu aurais un peu de temps pour donner un avis sur ce problème ?

[2016-08-26 20:49] GerardPaligot opened #3805 "[beta][v20] L'api des notifications renvoie que les notifs non lues"
Serveur : Beta
Version : v20/6bb2f75
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Récupérez vos notifications depuis l'API
2. Constatez que le serveur renvoie uniquement les notifs non lues.

[2016-08-26 22:07] SpaceFox commented on #3789
J'ai pas d'idée plus intelligente que « OVH a encore fait de la merde ».

Peut-être qu'une vérification avec iotop ?

2016-08-26 22:18 GMT+02:00 Gérard Paligot notifications@github.com:

[2016-08-26 22:23] vhf commented on #3789
Rien de très intéressant dans iotop malheureusement. Par contre les perfs sont de nouveau acceptables sur la beta il semblerait. Le query cache semble faire son effet, c'est assez remarquable.

[2016-08-26 22:35] firm1 commented on #3789
Perso la beta est toujours lente chez moi. Je suis passé a 1.8 sec de temps réponses du back-end sur la home. Mais globalement ça m'a l'air plus lent que ce dont nous sommes habitués sur la beta

[2016-08-27 07:49] #3797 closed, assigned to nobody

[2016-08-27 08:09] #3782 closed, assigned to nobody

[2016-08-27 08:12] GerardPaligot commented on #3790
La cause ici est le type des catégories que nous envoyons au template `cats = defaultdict(list)`. Impossible de savoir comment nous pouvons itérer sur un `defaultdict`.

[2016-08-27 08:15] #3792 closed, assigned to vhf

[2016-08-27 08:22] #3805 closed, assigned to GerardPaligot

[2016-08-27 08:29] GerardPaligot commented on #3804
Quelle est la procédure pour reproduire ce comportement ?

D'après le code, il y a bien la protection qui oblige d'être l'auteur du message et de faire sa requête en `POST`.

[2016-08-27 08:38] vhf commented on #3804
@GerardPaligot on va tester ça sur la beta, perso ça m'étonnerait aussi mais comme dit @A-312 c'est à vérifier, il croit avoir observé ça mais n'est pas sûr. Dès que je déploie le hotfix qui re-permet de masquer les messages, on teste.

[2016-08-27 08:43] vhf commented on #3790
Bien vu, merci @GerardPaligot, PR dans 2min c'est facile.

[2016-08-27 08:45] #3793 closed, assigned to Emeric54

[2016-08-27 09:00] #3790 closed, assigned to nobody

[2016-08-27 09:14] gustavi commented on #3692
Pour moi niveau beta ça me semble OK, on peut mettre ça sur la prod ?

[2016-08-27 09:15] vhf commented on #3692
Yep, on peut faire ça lors de la MEP. Là en live c'est pas trop faisable.

[2016-08-27 09:19] gustavi commented on #3692
Je fais une PR avec les instructions soon. On inclue ça dans la v20 ou la suivante ?

[2016-08-27 09:22] #3787 closed, assigned to nobody

[2016-08-27 09:28] vhf commented on #3692
Ouais @gustavi. Si tu fais une PR là-dessus, tu peux aussi faire ça dans `deploy.sh` stp :

[code]

[2016-08-27 09:30] vhf commented on #3804
@A-312 peux-tu stp essayer ce lien, qui permet d'éditer un message que t'as écrit et que j'ai masqué : https://beta.zestedesavoir.com/forums/message/editer/?message=120899

Si tu peux pas, on peut fermer ce ticket.

[2016-08-27 10:09] sandhose commented on #2277
Je ne suis pas responsable du design initial, donc je ne pourrais pas répondre quant aux intentions initiales. Maintenant, si j'avais à réécrire le front, cette sidebar prendrait probablement toute la hauteur.

[2016-08-27 10:32] gustavi opened #3810 "[v20] Pluriel incorrect pour le nombre d'abonnés sur la page de profil"
Via https://zestedesavoir.com/forums/sujet/6789/la-v20-mesdames-messieurs-attention-les-velos/?page=1#p121796

S'inspirer des autres compteurs du genre (sur le forum par exemple) pour corriger ça.

[2016-08-27 10:35] gustavi opened #3811 "Impossibilité de s'abonner par mail à un contenu"
@GerardPaligot normal ça ?

[2016-08-27 10:47] firm1 opened #3812 "[beta][v20] Les forums dans la topbar ne semblent pas triés comme prévu"
L'affichage des forums dans la sidebar est censé être régie par un paramètre position stocké dans la base. Sur la beta la catégorie communauté apparait avant la catégorie savoir, ça ne me semble pas normal.

[2016-08-27 11:30] SpaceFox commented on #3692
Oh, et c'est du Debian 8, donc `apt` (ou `apt-get`) et pas `aptitude`.

[2016-08-27 11:36] GerardPaligot commented on #3804
@vhf Moi en tout cas, je ne peux pas.

[2016-08-27 11:37] GerardPaligot commented on #3811
Ca n'a jamais été possible. C'est une évolution.

[2016-08-27 11:46] GerardPaligot opened #3813 "[beta][v20] Un membre ne peut pas voir ses propres abonnés"
Serveur : Beta
Version : v20-RC2/99bee1d
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Connectez-vous et rendez-vous sur votre profil.
2. Constatez que vous pouvez pas voir le nombre de personne qui sont abonnés à votre actualité.

Reporté depuis ZdS : https://zestedesavoir.com/forums/sujet/6789/la-v20-mesdames-messieurs-attention-les-velos/?page=1#p121800

[2016-08-27 12:16] gustavi commented on #3813
Note : je n'ai pas ce problème en étant Staff

[2016-08-27 12:18] gustavi commented on #3804
Un staff peut mais c'est normal non ?

[2016-08-27 14:54] vhf commented on #3813
Effectivement en Staff je peux voir, par contre je trouve pas très cool l'affichage. C'est sous "Actions" alors que c'est pas actionnable, et c'est "Il y a" alors que ça pourrait être "Vous avez".

<img width="296" alt="screen shot 2016-08-27 at 16 53 31" src="https://cloud.githubusercontent.com/assets/2022803/18028144/ec9c8e86-6c76-11e6-8201-989ca25db00e.png">

[2016-08-27 15:01] Karnaj commented on #3813
Si on ne peut voir que le nombre d’abonnés des autres (à moins d’être staff), c’est parce qu’on utilise le template qui s’en occupe dans [cette condition](https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/profile.html#L197).

[2016-08-27 15:08] Karnaj commented on #3804
J’ai essayé [ici](https://beta.zestedesavoir.com/forums/sujet/6770/test/?page=1#p120890), j’arrive à accéder au lien, et j’ai réussi à éditer mon message.

[2016-08-27 15:27] A-312 commented on #3804
Je pense avoir réussi

[2016-08-27 18:02] vhf commented on #3812
Tu parles bien de l'ordre des catégories dans la topbar, pas de l'ordre des forums, c'est ça ?

Si oui j'observe comme toi la différence entre la beta la prod. Par contre j'ai pas trouvé dans le code où cet ordre (`Category.position`) était utilisé. Je veux bien que quelqu'un retrouve le code en question, sinon c'est pas une régression.

On peut implémenter ça, c'est juste que j'ai pas l'impressio

[2016-08-27 18:36] firm1 commented on #3812
Yep c'est bien ça.

Je me souviens d'une PR qui implémentait ce fonctionnement justement, mais elle doit dater de 2015. Mais je peux t'assurer que c'était voulu

[2016-08-27 18:37] vhf commented on #3812
D'accord. En tout cas ça fait des lustres que c'est plus dans le code. Ou alors c'était pas implémenté correctement dans la PR initiale. J'ai pas trouvé de trace de ça en tout cas. Je prépare une PR.

[2016-08-27 21:02] Karnaj commented on #3804
Lorsqu’on masque le premier message d’un topic, on peut aussi l’éditer grâce au bouton « Éditer le sujet ».

[2016-08-28 07:44] GerardPaligot opened #3817 "Des boutons de la sidebar peuvent se superposer"
Lorsque vous êtes sur un format d'appareil assez petit (tablette en mode paysage), les boutons avec un long titre n'applique pas une ellipse mais se place sur la ligne du dessous, donc sur le bouton en dessous.

Il faudrait donc les soumettre à une règle qui ajoute "...".

![capture d ecran 2016-08-28 a 09 23 55](https://cloud.githubusercontent.com/assets/1913901/18032405/0ea1047a-6d04-11e6-8d51-7

[2016-08-28 11:39] #3813 closed, assigned to nobody

[2016-08-28 18:05] gustavi opened #3820 "Optimiser le format de la date sur la page d'accueil pour les mobiles"
Sur la page d'accueil, sur un mobile (testé avec un Samsung Galaxy S5 mini), la date des contenus (tutoriels et articles) prend énormément de place ce qui cache des informations comme le montre ce _screen_ http://i.imgur.com/DMP6IqS.png.

Il faut l'optimiser avec une date spécifique pour mobile et le template filter date de Django. JJ/MM/AA àHHhMM me semble un bon format (voir ce qui est utilisé p

[2016-08-28 18:46] GerardPaligot opened #3821 "[beta][v20] Lire une notification n'invalide pas le cache"
Serveur : Beta
Version : v20-RC2/99bee1d
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Générez une notification.
2. Lisez là depuis le site.
3. Récupérez la liste des notifications par l'API.
4. Si le timeout de 15 minutes n'est pas passé par là, la notification est toujours marquée comme non lue dans la réponse de l'API.

[2016-08-29 09:17] #3821 closed, assigned to nobody

[2016-08-29 16:31] GerardPaligot opened #3824 "Proposer des sujets similaires au visiteur"
Salut,

Quand je lis un sujet sur ZdS, je suis obligé de revenir sur la liste des forums pour trouver quelque chose d'autre à lire. Sur StackOverflow par exemple, on a un petit truc sur le côté qui nous permet de lire d'autres sujets en lien avec celui qu'on était en train de lire. Ça permet de découvrir des choses si on est juste là pour visiter, ou bien trouver plus de réponses si on cherche à r

[2016-08-29 16:32] GerardPaligot commented on #3824
Je sens que je vais adorer cette fonctionnalité ! <3 (l'envoi de ticket depuis ZdS)

[2016-08-29 17:54] pierre-24 commented on #3824
C'est typiquement [lié à ça](https://zestedesavoir.com/forums/sujet/1082/zep-15-navigation-a-facettes-a-travers-le-site/) ;)

[2016-08-30 20:29] vhf opened #3825 "Empêcher de up/downvoter des messages masqués"
Pouvoir voter des messages masqués n'a aucun intérêt.

[2016-08-31 21:35] Karnaj commented on #3825
C’est déjà en place en bêta (par exemple [ce message](https://beta.zestedesavoir.com/forums/sujet/6769/test-sur-tag/#p120899)). Par contre, il faudrait enlever le bouton « Signaler ».

[2016-09-01 09:13] vhf commented on #3825
Cool, super, merci !

Pour le 'signaler', cf. #3649 ;)

[2016-09-01 09:13] #3825 closed, assigned to nobody

[2016-09-01 15:29] firm1 commented on #3665
Je réouvre ici, car ce n'est toujours pas correct si je regarde la bêta actuellement.

On a le tag [java](https://beta.zestedesavoir.com/forums/sujets/tag/2/java/) avant le tag [arduino](https://beta.zestedesavoir.com/forums/sujets/tag/94/arduino/) alors que le le tags arduino à plus de sujets que celui de java.

[2016-09-01 18:21] Ymox commented on #3716
Pour ma part, j'avais l'impression que c'était quand le dernier message non-lu arrivait dans les N premiers de la page suivante. Pourrait-ce être un calcul légèrement différent entre la "vraie" pagination et ce qui détermine sur quelle page on devrait se retrouver ?

##### Edit

Je pencherais pour N = 1, dès le deuxième "nouveau" message, c'est la bonne page qui semble être afichée. Est-ce que le

[2016-09-02 17:21] vhf commented on #3665
#3816

[2016-09-03 16:25] EGabbro opened #3828 "Faute d'orthographe dans les propositions de recherches sur la page d'accueil"
Bonjour,

Les majuscules dans la barre de recherches sur la page d'accueil ne sont pas accentuées (Economie au lieu de Économie).

[Sujet lié](https://zestedesavoir.com/forums/sujet/6851/quels-sont-les-criteres-de-choix-des-placeholders-affiches-en-page-daccueil/?page=1#p122608). [_Pull request_ liée](https://github.com/zestedesavoir/zds-site/pull/3827).

[2016-09-03 16:48] #3828 closed, assigned to nobody

[2016-09-05 11:36] firm1 commented on #3789
Est-ce qu'on a moyen de remettre en place munin sur la beta avec le plugin http (vu que maintenant on a plus d'authentification en place) ?

[2016-09-05 12:13] SpaceFox commented on #3789
On peut faire ça, mais j'attends d'avoir un statut sur le serveur de la
bêta (cf le thread à ce sujet).

2016-09-05 13:36 GMT+02:00 firm1 notifications@github.com:

[2016-09-05 20:05] WinXaito commented on #3789
Perso je suis en dessous de la seconde (802ms pour la requête principale) et je trouve que c'est encore potable.

[2016-09-05 20:31] #3810 closed, assigned to gustavi

[2016-09-06 08:48] firm1 opened #3831 "[beta][v20] Erreur 500 lors de l'inscription avec un pseudo contenant un emoji"
Procédure de reproduction :
- Aller sur [la page d'inscription](https://beta.zestedesavoir.com/membres/inscription/)
- saisir comme pseudo : 👉👉👉👉👉
- remplir les autres champs de manière normale
- cliquer sur "Valider mon inscription"

S'apercevoir qu'on a une erreur 500.

On peut se poser la question de la pertinence d'un emoji dans le pseudo, mais on a pas le droit de renvoyer une erreur 500 pour

[2016-09-06 08:50] SpaceFox commented on #3831
Il faudrait aussi tester le cas des emojis dans le mot de passe.

Le 6 sept. 2016 10:48 AM, "firm1" notifications@github.com a écrit :

[2016-09-06 08:50] GerardPaligot commented on #3831
L'erreur remontée depuis Sentry est la suivante :

[code]

[2016-09-06 08:53] vhf commented on #3831
Yep, tout ceci est déjà corrigé ici : #3809

QA bienvenue. :) [edit]En fait pas besoin de QA cette PR avant que @gustavi prenne en compte les commentaires qui y sont.[/edit]

On a décidé de pas autoriser l'utf8mb4 dans les pseudos et les mots de passe (et tous les autres champs stockés dans `auth_user`). La PR en question valide ceci.

[2016-09-06 08:57] GerardPaligot commented on #3640
@gustavi Toujours d'actualité sur la v20 en bêta. (:

[2016-09-06 08:59] GerardPaligot commented on #3771
@vhf, @gustavi Ca semble fermeable cette issue non ? (:

[2016-09-06 09:02] vhf commented on #3771
Presque mais pas tout à fait. Laissons-la ouverte jusqu'à l'arrivée de la v20. Quand elle sera en prod faudra mettre à jour ici : https://github.com/zestedesavoir/zds-site/pull/3781/files#r75842737

pour refléter le passage à 5.6 et mettre à jour tous les fichiers de conf mysql depuis le makefile de la documentation.

[2016-09-06 11:03] firm1 opened #3832 "La date de dernière mise à jour d'un tutoriel republié en version majeure est incorrecte"
Il s'agit de [ce tutoriel](https://zestedesavoir.com/tutoriels/1280/creez-une-api-rest-avec-symfony-3/) dont 5 nouveaux chapitres ont été ajouté depuis la première publication du tutoriel.

Comme on peut le voir dans la capture ci-dessous,

![bug_date](https://cloud.githubusercontent.com/assets/6066015/18271345/e9e5efc6-7431-11e6-8900-3c27647a7fa7.PNG)

Le tutoriel semble avoir été modifié pour la

[2016-09-06 11:58] gustavi commented on #3640
Je ne comprends pas d'où ça vient alors. Je vais voir plus en détail là.

[2016-09-06 12:02] gustavi opened #3833 "TypeError dans la commande « update_index »"
Via [Sentry](https://sentry.sandhose.fr/zeste-de-savoir/backend-1/issues/527/) sur la beta :

[code]

La commande en détails : `manage.py update_index --remove --age=1`

C'est arrivé une dizaine de fois sur les trentes derniers jours.

[2016-09-06 13:05] DevHugo commented on #3833
C'est sur la prod, je suppose.

Sans plus d'information, ça va être compliqué de debug, dans une heure creuse, et pas en même temps que la tache cron update_index, pourrais-tu relancer l'indexation des contenus, forums avec la commande `python manage.py rebuild_index` et nous envoyer le retour de cette commande. Comme ça on aura une idée de quel objet retourne None.

Je pense que un des champs de

[2016-09-06 17:44] vhf commented on #3833
C'est sur la beta @DevHugo . Rien de louche quand on lance l'update_index:

[code]

Je regarde le rebuild.

Avec le setup actuel, on lance simultanément ces deux commandes :

[code]

[2016-09-07 12:29] DevHugo commented on #3833
Merci vhf.

Peut-être qu'envoyer les deux commandes « simultanément » peut poser des soucis mais je pense pas que ça soit liés à l'erreur remonté par Sentry.

Petite explication: `manage.py index_content --only-flagged` permet de copier les différentes informations du contenu publié [dans les tables de recherche ](https://github.com/zestedesavoir/zds-site/blob/dev/zds/search/models.py) dans la bas

[2016-09-07 15:07] #3804 closed, assigned to nobody

[2016-09-07 16:20] #3692 closed, assigned to vhf, gustavi

[2016-09-07 20:07] #3812 closed, assigned to nobody

[2016-09-08 14:29] SpaceFox opened #3834 "Intégrer le module Nginx PageSpeed de Google ?"
Je ne sais pas si c'est vraiment une bonne idée, je signale surtout qu'il existe : https://developers.google.com/speed/pagespeed/

[2016-09-08 15:42] #3831 closed, assigned to nobody

[2016-09-08 15:43] gustavi commented on #3834
Pas d'avis spécial là dessus.

En tous cas c'est exactement ce dont j'avais besoin pour un autre projet donc merci @SpaceFox :)

[2016-09-09 07:58] GerardPaligot opened #3835 "Bar d'outils de l'éditeur dédoublée"
Source:[d3m0t3p](https://zestedesavoir.com/forums/sujet/6883/bar-doutils-dedoublee/?page=1#p123127)

[2016-09-09 16:07] WinXaito commented on #3835
N'avais-tu pas déjà eu ce soucis avec chrome ? Je me rappelle avoir vu une issue de toi sur le même sujet.

Edit: Non en fait c'était le bouton [Aide markdown] qui se dédoublais (Et qui d'ailleurs est toujours open). C'est probablement lié https://github.com/zestedesavoir/zds-site/issues/3354

[2016-09-09 17:50] GerardPaligot commented on #3835
@WinXaito Tu ne rêves pas. J'avais reporté le bug sur [ZdS](https://zestedesavoir.com/forums/sujet/1406/modification-de-lediteur-avec-des-copiercoller/) et une [PR](https://github.com/zestedesavoir/zds-site/pull/2055) avait été faite par @Situphen.

[2016-09-11 00:45] Karnaj commented on #3832
Pourtant, la date est mise à jour [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_validations.py#L421) s’il s’agit d’une version majeure, non ? J’imagine que c’est le validateur qui indique s’il s’agit d’une mise à jour majeure ou pas, cela a-t-il été fait pour ce tutoriel ?

[2016-09-13 10:53] gustavi commented on #3640
Alors j'ai réfléchis un peu au problème et j'ai une solution qui ne fixe pas spécifiquement ce problème mais qui par modification d'un comportement va le corriger. Je m'explique.

Aujourd'hui tous les `PublishedContent` au un `must_redirect` qui permet de rediriger `/contenu/<pk>/<ancien_slug>/` vers `/contenu/<pk>/<slug>/` si jamais le slug a changé entre deux versions.

Je pense qu'on peut se pa

[2016-09-13 15:05] lypwig commented on #3683
Hello, du nouveau ici ?

En fait je relance parce que j'avais l'idée d'imprimer un petit tuto vite fait pour le Capitole du Libre, histoire de pouvoir montrer un petit truc concret en plus.

Il y a des chances pour que ce soit résolu avant fin octobre ?

[2016-09-13 16:45] GerardPaligot opened #3836 "[beta][v20] S'inscrire/se connecter/chercher avec un emoji provoque une 500"
Serveur : Beta
Version : v20-RC3/d3fd8af
Système : Mac OS X
Navigateur : 52.0.2743.116 (64-bit)

---
1. Rendez-vous à la page d'inscription et renseigner un pseudo du type : 👚 test
2. Remplissez les autres champs.
3. Soumettez le formulaire.
4. Constatez une erreur 500.

Note : Vous pouvez reproduire la même erreur en tentant de vous connecter avec le même pseudo ou en faisant une recherche sur le

[2016-09-13 20:05] SpaceFox opened #3837 "gandi.zestedesavoir.com est indexé par Google"
Je ne sais pas comment ni pourquoi, ni ce qu'on peut faire pour l'interdire.

Pire : ça tombe sur une erreur HTTPS (forcément).

Il me semblait avoir signalé un problème de ce tonneau, mais je ne le retrouve pas et ce n'est pas corrigé.

PS : comment reproduire ? Faites une recherche dont vous êtes à peu près sûr qu'elle tombera sur ZdS, et observez.

[2016-09-13 22:28] vhf commented on #3837
C'était corrigé, oui, comme en atteste la config nginx `prod_redirect` visible ici : https://zds-site.readthedocs.io/fr/latest/install/deploy-in-production.html.

Le problème c'est que cette redirection marchait très bien tant que le certif était valide. Aussi, Google est censé prendre en compte cette redirection et virer les URLs d'origine de son index. Par contre là il peut plus vu que le certif

[2016-09-13 22:34] vhf commented on #3837
Voilà.

[2016-09-13 22:34] #3837 closed, assigned to nobody

[2016-09-13 22:43] vhf commented on #3837
Le ticket auquel tu pensais était celui-ci : #3764

[2016-09-13 22:45] SpaceFox commented on #3837
Ha, c'était pas le même sous-domaine. Merci !

[2016-09-13 22:49] vhf commented on #3837
Yep, c'était un autre, mais ils avaient tous été corrigés en même temps y'a un mois. Et ça a bien fonctionné jusqu'à cette histoire de certificat qui a échu.

[2016-09-14 08:26] firm1 commented on #3836
On aurait pu ré-ouvrir celle-ci #3831 . Mais oui je confirme que le bug n'est pas corrigé.

[2016-09-14 08:28] firm1 opened #3840 "[beta] Le fichiers robots.txt n'est pas accessible"
Rendez-vous sur l'url : http://beta.zestedesavoir.com/robots.txt , on obtient un 404. Alors qu'en production, l'url http://zestedesavoir.com/robots.txt est bien accessible.

[2016-09-14 08:33] firm1 commented on #3665
Désolé, mais je ré-ouvre encore ici.

[2016-09-14 08:43] vhf commented on #3665
Non, l'ordre est correct.

Voici les 10 top tags avec leur fréquence :

[code]

[2016-09-14 08:43] GerardPaligot commented on #3836
Bien vu, j'avais zappé ton issue. Sorry.

[2016-09-14 08:45] GerardPaligot commented on #3665
Je soupçonne que les contenus viennent mettre un peu la merde là dedans.

[2016-09-14 08:46] firm1 commented on #3665
@vhf La c'est parce que tu comptabilise les tags des contenus avec. Dans l'onglet forum, on s'attend à avoir les tags les plus utilisés sur le forum, sinon ça n'a plus vraiment de sens.

[2016-09-14 08:48] vhf commented on #3665
Non @firm1. C'est le résultat de ceci, qui ne prend en compte que les topics:

[code]

[2016-09-14 08:51] firm1 opened #3841 "[beta][v20] La pagination dans la liste des toutes les notifications ne s'affiche pas bien"
OS : Windows
Navigateur : Firefox 45

Capture du problème :
![centre-notifs](https://cloud.githubusercontent.com/assets/6066015/18505733/f245999a-7a68-11e6-951a-cb36e392778d.PNG)

Plusieurs soucis :
- On est sur la première page, mais la pagination nous propose tout de même de faire "précédent"
- cliquer sur un numéro de page change la liste des notification, mais aucun élément visuel au niveau de

[2016-09-14 08:51] vhf commented on #3836
Ça me surprend. @gustavi t'as une idée du pourquoi ?

J'ai jeté un oeil et le champ username de RegisterForm doit passer par validate_zds_username qui doit refuser les emojis...

[2016-09-14 08:53] firm1 commented on #3665
Il doit y avoir un bug quelque part alors car comment tu explique qu'on ait plus de page en sélectionnant le tag arduino, qu'en sélectionnant le tag java ?

[2016-09-14 08:58] GerardPaligot commented on #3665
Pour information, voici [la requête qui liste tous les sujets d'un tag donné](https://github.com/zestedesavoir/zds-site/blob/release-v20/zds/forum/managers.py#L87-L92). On peut y voir un `exclude` mais je ne sais pas dans quelle mesure il peut impacter dans notre cas ci-présent.

[2016-09-14 09:01] firm1 commented on #3665
Je ne pense pas que le exclude soit impactant ici car il concerne les forums privés ou non. Or je fais mes tests en tant qu'invité et le résultat est toujours pareil. Plus de page arduino que de page java

[2016-09-14 09:06] firm1 opened #3842 "[beta] réserver un contenu m'envoi un MP, mais je ne reçoit pas d'alertes"
Scénario :
- Je vais dans la liste des contenu en validation
- Je réserver un tutoriel
- On peut remarquer que d'après la topbar, je n'ai aucun message "non-lu" dans ma messagerie
- Si je clique sur "Toutes les conversations" je m'aperçois que j'ai une conversation crée, et non lue.

Le comportement n'est donc pas cohérent. Réserver le contenu devrait me générer une notification ou si la notificat

[2016-09-14 09:15] firm1 opened #3843 "[beta][v20] Le compteur du nombre de réponses à un MP ne fonctionne pas"
Aller sur l'url : https://beta.zestedesavoir.com/mp/

Vous pouvez remarquer que le nombre de réponses n'est pas visible. On voit à chaque fois "réponse" sans savoir combien de réponses.

Regarder ce qui est fait en prod par exemple : https://zestedesavoir.com/mp/

[2016-09-14 09:20] firm1 opened #3844 "[beta][v20] Le bouton de signalement d'un MP existe, mais ne fait rien"
On est pas censé pouvoir signaler un MP, mais en allant dans une conversation privée, je vois le bouton "Signaler" sur un MP. Je tente de le suivre et voir ou cela me mène, et pouf, page blanche.

Donc je dirais que le front à oublié de faire sauter le bouton.

[2016-09-14 09:45] GerardPaligot commented on #3836
Pour information, la recherche d'un membre provoque aussi une 500.

Scénario :
1. Rendez-vous sur un MP.
2. Cliquez pour ajouter un membre.
3. Recherchez avec un emoji (🐙 par exemple)
4. Soumettez et constatez la 500.

Erreurs :

[code]

[code]

Premier message de l'issue édité.

[2016-09-14 11:03] firm1 commented on #3800
AMHA on peut fermer cette issue.

[2016-09-14 11:09] vhf commented on #3800
Yep, je confirme.

Le problème était que rotautau s'était renommé en string vide. Du coup plein de trucs plantaient. Le validateur était mal foutu. #3809 a corrigé ce problème.

[2016-09-14 11:09] #3800 closed, assigned to nobody

[2016-09-14 11:13] vhf commented on #3836
Ce qui m'embête le plus c'est qu'on a un test pour ça : https://github.com/zestedesavoir/zds-site/pull/3809/commits/478ee609b38480efc20b87414322043546163d97 et il passe.

[2016-09-14 11:35] vhf commented on #3665
Oui, le exclude ne peut pas avoir d'impact.

Dans les top tags, on prend les tags des topics qui sont dans les forums _filter_ `group__isnull=True`. Dans la liste des topics d'un tag, on prend les topics qui sont dans les forums _exclude_ `group__isnull=False`. Ça revient donc au même.

[2016-09-14 12:10] vhf commented on #3843
https://github.com/zestedesavoir/zds-site/pull/3814/files#diff-df0bd34eb4f91b11451f1fc9cc20df54R58

:-°

[2016-09-14 12:14] gustavi commented on #3840
C'est corrigé, je ne sais pas d'où ça venait, probablement lorsque le venv de la beta a été refait.

[2016-09-14 12:14] #3840 closed, assigned to nobody

[2016-09-20 06:15] firm1 opened #3847 "[beta][v20] Sur mobile on perd de l'information dans la zone de notifs"
En allant dans la zone de notification sur mobile (firefox) je ne retrouve pas l'information sur la date d'arrivée des notification.
Pourtant en prod actuellement on a bien la date (même sur mobile).

Voici le screen que j'ai.

![tmp_12136-screenshot_20160920-081131-810323503](https://cloud.githubusercontent.com/assets/6066015/18659348/4d7517be-7f0a-11e6-964c-0c2de25a3cf2.png)

[2016-09-20 20:17] EtienneR opened #3848 "Labels page de recherche"
Sur la page de [recherche](https://zestedesavoir.com/rechercher), à gauche, la liste des filtres ne contient pas de label.

Ce serait bien que la liste des mots soit "cochable" :)

[2016-09-20 21:59] DevHugo commented on #3848
Je suis pas sur d'avoir tout compris, tu parle des labels dans le code ? Si oui, ça été [corrigé par un collectionneur de canard](https://github.com/zestedesavoir/zds-site/pull/3839), que je remercie !
Sinon les cases devrait être cochable, sous chrome et windows, ça marche bien. Sous quel OS et navigateur,  es-tu ?

![capture](https://cloud.githubusercontent.com/assets/6099338/18690286/ab3f32ca-7

[2016-09-21 11:02] EtienneR commented on #3848
Oups désolé, je n'avais pas vu cette issue (pas encore intégrée dans la béta).

[2016-09-24 21:04] AmarOk1412 commented on #3701
Salut,
Je souhaiterais me mettre à contribuer un peu plus au site ayant plus de temps cette année. Je souhaiterais donc prendre ce bug pour me faire la main. Cependant j'ai une petite question.

Pour le moment voici ce que j'ai :
![3701](https://cloud.githubusercontent.com/assets/1888628/18811243/f4da61ce-8277-11e6-8cde-b0ed4e71977f.png)

Pour le moment j'ai fait un `overflow-y: hidden` dans __pag

[2016-09-24 21:53] AmarOk1412 commented on #3638
Je prends aussi cette issue si possible, je vois les modifications à faire (pour `helps` -> `widget=forms.CheckboxSelectMultiple()` et rajouter `.checkbox-new-content` au label

[2016-09-25 09:19] GerardPaligot commented on #3701
@AmarOk1412 Positionne toi dans un sujet avec assez de page pour afficher la flèche suivante et précédente, puis il faut parvenir à reproduire le bug sur une résolution d'écran similaire à celle du Lumia de @gustavi puisque le bug ne se reproduit pas partout. Cela sera difficile pour toi de corriger un bug que tu ne peux pas reproduire. (:

Concernant ta solution technique, je ne m'y connais pas a

[2016-09-25 13:19] AmarOk1412 commented on #3701
@GerardPaligot J'arrive à reproduire le bug sans soucis (cf l'image de mon post), ma question était plutôt en rapport avec qu'est-ce-qu'il faut vraiment afficher lorsque la résolution est vraiment petite :)

[2016-09-28 09:35] DevHugo commented on #3848
Pas de souci. Faut que je fasse la QA de la PR, je vais faire ça dans la semaine.

[2016-09-30 07:41] pierre-24 commented on #3843
Done !

[2016-10-02 13:58] GerardPaligot commented on #3847
Merci @AmarOk1412

[2016-10-02 13:58] #3847 closed, assigned to nobody

[2016-10-03 22:52] AmarOk1412 commented on #3820
Surtout qu'en plus les derniers sujets sont bien gérés avec le `format_date:True`

[2016-10-06 02:37] AmarOk1412 commented on #3701
Du coup, petite contrib du soir (j'en ferais une plus grosse la prochaine fois), je propose de mettre une flexbox à la place

[2016-10-16 14:27] GerardPaligot commented on #3842
C'est bizarre parce que ce test passe :

[code]

La méthode `never_privateread` est très mal nommée mais elle vérifie qu'un MP a été lu depuis le dernier message posté.

[2016-10-16 18:07] vhf commented on #3836
Je pense qu'on a besoin d'yeux supplémentaires ici. On a un test, il est bon, il passe, mais sur la beta ça passe pas. Et je sais pas pourquoi.

Je vais mettre le tag bloquant, parce que faire une RC avec ce bug n'a pas de sens.

[2016-10-16 18:10] GerardPaligot commented on #3844
Corrigé.

[2016-10-16 18:10] #3844 closed, assigned to nobody

[2016-10-16 18:14] #3841 closed, assigned to nobody

[2016-10-16 18:14] GerardPaligot commented on #3836
Tu sais donner un pointeur vers le test ?

[2016-10-16 18:54] vhf commented on #3836
Ici : https://github.com/zestedesavoir/zds-site/issues/3836#issuecomment-246980773

[2016-10-17 07:04] #3712 closed, assigned to nobody

[2016-10-17 07:51] vhf commented on #2817
Ping @devhugo :p

[2016-10-17 09:13] GerardPaligot commented on #2817
La pagination a été fixée chez drf-extension ?

Je vois [ce commit](https://github.com/chibisov/drf-extensions/commit/f85a636e42b6ea27e9945963041e2483e65ecf92) qui est nommé "Fixed PaginationKeyBit" et juste derrière [ce commit](https://github.com/chibisov/drf-extensions/commit/3a040b96435a48527c7d3566dfab4b6fe4bae3ea) qui revert le premier commit.

[2016-10-17 10:39] DevHugo commented on #2817
Je fait ça dans la semaine !

[2016-10-17 13:17] #3350 closed, assigned to gustavi

[2016-10-17 13:17] GerardPaligot commented on #3350
Merci à @gustavi et @DevHugo !

[2016-10-17 13:40] GerardPaligot opened #3858 "Les clés API ne sont pas supprimées pour les bannis"
Lorsqu'un membre est banni à vie, il ne peut plus supprimer son compte et donc, il ne peut pas retirer ses données de la plateforme.

Plusieurs solutions :
1. Permettre à des membres bannis de supprimer leur compte pour retirer toutes leurs données de la plateforme.
2. Retirer toutes les données d'un membre lorsqu'il est banni à vie.

Je suis pour la première solution.

Voir cette PR pour les orig

[2016-10-17 16:18] tleb opened #3859 "gcc et redhat-rpm-config pas installé par make"
gcc est nécessaire pour installer le back mais n'est pas installé par le make (`make install-fedora` dans mon cas). Nécessaire pour la librairie python `cairocffi`.

Il manque aussi `redhat-rpm-config` (comme dis avant, je suis sur fedora, c'est spécifique à rpm) sinon on a une erreur : `gcc: error: /usr/lib/rpm/redhat/redhat-hardened-cc1: No such file or directory`.

[2016-10-17 16:32] vhf commented on #3859
Ok merci ! Tu fais une PR / veux faire une PR mais a besoin d'aide / préfère qu'on s'en occupe ?

[2016-10-17 16:35] tleb commented on #3859
Je vais envoyer la PR. Juste une info : c'est bien `gcc` pour debian et ubuntu ou ça a un autre nom ?

[2016-10-17 16:49] vhf commented on #3859
Cool ! `build-essential` pour debian et ubuntu. Ça inclut probablement 1-2 trucs pas indispensables mais c'est mieux comme ça.

[2016-10-17 17:01] tleb commented on #3859
Done. Il ne faudrait pas mettre chaque dépendance à une ligne, dans le même style que ce qui se fait d'habitude dans les Dockerfiles ?

[2016-10-17 17:06] vhf commented on #3859
Merci !

Ça dépend, tu parles de formattage ? Si oui, on préfère souvent

[code]

à

[code]

pour des questions de propreté du diff.

Si tu veux pas parler du formattage mais de ça par exemple :

[code]

ou dans un Makefile

[code]

c'est une mauvaise pratique. Dans le cas du Dockerfile, il va créer une image intermédiaire par RUN. Dans le cas du Dockerfile _et_ du Makefile, ça va :
1. être plus l

[2016-10-17 18:02] Situphen commented on #3835
Diantre, j'ai bêtement [remplacé l'ancien code par le nouveau de Thunderseb](https://github.com/zestedesavoir/zds-site/pull/3238/files#diff-ac76f1d75eb777f747e6708b19d31b78L111) sans faire attention et j'ai donc enlevé le bug que [j'avais moi-même corrigé](https://github.com/zestedesavoir/zds-site/pull/2055/files) ! Je fais une PR pour corriger ça !

[2016-10-17 18:06] Situphen commented on #3683
En étant réaliste, non. :)

[2016-10-17 18:18] GerardPaligot commented on #3683
@roipoussiere Aucun PDF déjà généré pourrait faire l'affaire ?

[2016-10-17 19:07] Situphen commented on #3817
Alors ce qui se fait actuellement c'est utiliser les classes `.wide` et `.screen` ([ici](https://github.com/zestedesavoir/zds-site/blob/dev/assets/scss/base/_helpers.scss#L70)) pour cacher une partie du texte sur mobile.

Par exemple, sur le profil des membres il y a `Paramètres <span class="wide">de mon compte</span>` ce qui donne "Paramètres de mon compte" en grand écran et "Paramètres" sur les

[2016-10-17 20:42] vhf commented on #3835
Cf. #3861

[2016-10-17 20:42] #3835 closed, assigned to Situphen

[2016-10-17 20:45] vhf opened #3862 "Documenter le support navigateur du front-end"
Il faut qu'on sache quels browsers on supporte. Sauf erreur @sandhose sait, mais il est le seul.

C'est extrêmement important, ça devrait aller sans dire. On n'a pas assez de contributions front-end, et si on dit à chaque personne qui veut y contribuer de choisir ses propres navigateurs, on fonce droit dans le mur.

[2016-10-17 21:01] SpaceFox commented on #3862
Aux dernières nouvelles, c'était « au moins les navigateurs supportés par leurs éditeurs, le reste en bonus pour les motivés mais c'est pas officiel ».

[2016-10-17 22:06] vhf commented on #3862
Il y a une liste quelque part ? Et comment restreint-on cette liste ? Par exemple [Yandex Browser](https://browser.yandex.com) est supporté par son éditeur, mais peine à dépasser les 0.1% d'usage global, et hors des régions russophones c'est probablement 25 ou 50x moins que ce 0.1%.

J'ai l'impression qu'il serait préférable de se baser par exemple sur le 99e centile en France ([exemple](http://br

[2016-10-17 22:13] SpaceFox commented on #3862
Dans les navigateurs raisonnablement utilisés ^^

On a une idée d'où viennent les données de ton site ? Parce que selon les sources, les 1 % ont tendance à être assez variables.

[2016-10-18 00:55] AmarOk1412 commented on #3359
Le second truc qui me choque en regardant comme ça c'est les chiffres, on ne sait absolument pas à quoi ils correspondent, je serais d'avis pour les enlever sur mobile.

[2016-10-18 06:55] vhf commented on #3862
Elles viennent de [caniuse](http://caniuse.com/usage-table), la source étant [statcounter](http://statcounter.com).

[2016-10-18 08:39] lypwig commented on #3683
Si bien sur, mais je n'en ai aucun. :-)

[2016-10-18 08:43] lypwig commented on #3683
En passant j'ai testé la conversion zMd -> html5 qui fonctionne correctement, mais pour le generate_pdf de zds_site semble faire une conversion directe Pandoc(zMd -> pdf) et pas PyzMd(zMd -> html5), puis pandoc(html5 -> pdf). Le problème ne vient pas de là ?

[2016-10-18 09:01] sandhose commented on #3834
Pour l'avoir testé il y a quelque temps, ça me paraît plus une excuse pour ne pas faire attention aux perfs en utilisant ce module. En gros, ça convertit toutes les images en webm à la bonne taille pour les navigateurs qui le supporte, minifie HTML/CSS/JS (déjà fait dans notre cas), plus 2/3 autres opti très mineures. Je pense que nos plus gros problème niveau taille des pages, c'est les images in

[2016-10-18 09:35] pierre-24 commented on #3683
Ben on le fait parce que c'est possible avec Pandoc, sans avoir vraiment réfléchis à des alternatives. Le rendu est mieux ?

[2016-10-18 09:36] cgabard commented on #3683
Le gros problème est que le HTML généré n'est pas adapté à l'impression

Le mar. 18 oct. 2016 11:35, Pierre Beaujean notifications@github.com a
écrit :

[2016-10-18 09:49] lypwig commented on #3683
Mais comment Pandoc peut connaître la syntaxe zMarkdown ?

[2016-10-18 09:51] pierre-24 commented on #3683
... Tu as compris tout le problème ;)

Et c'est ça qui est merdique, c'est qu'il faut (ré)écrire toute la partie de Pandoc qui gère le markdown pour lui faire comprendre le zMD, et du coup ça avance pas par manque de motivation.

[2016-10-18 10:04] lypwig commented on #3683
Pourquoi ne pas simplement convertir le zMd en html5 avec PythonZMarkdown, puis convertir le html5 en pdf avec Pandoc ?

Ah, je viens de voir que Pandoc ne peut importer que du html, pas du html5, le problème vient de là ?

[2016-10-18 10:25] cgabard commented on #3683
Non le gros du problème est que le HTML n'est pas adapté. Toutes les
balises spécial, les videos et pas mal d'autres trucs seront pas où mal
converti. Faut faire une conversion guidé

Le mar. 18 oct. 2016 12:04, Nathanaël Jourdane notifications@github.com a
écrit :

[2016-10-18 10:48] vhf commented on #3683
Je suis d'accord que faire md -> html -> pdf ne sera jamais bien. Mais md -> pdf, y'a des solutions. J'ai pas étudié la question mais certains semblent le faire avec plus ou moins de succès.

[exemple](https://gitprint.com/zestedesavoir/zds-site/blob/dev/README.md)

[2016-10-18 12:11] lypwig commented on #3683
Et en implémentant l'export LaTeX dans PythonzMarkdown ? Ça donnerait PyzMd(zMd -> LaTeX), puis pandoc(LaTex -> pdf)

Les solutions md -> pdf je ne suis pas sur que la mise en page soit d'aussi bonne qualité  que celle que te sort LaTeX, avec gestion des TOC, footnotes, numéros de pages, chapitres, etc.

[2016-10-18 12:45] cgabard commented on #3683
Heu non. Ou en tout cas c'est loin d'être simple. J'ai déjà essayé de faire
un fork de pandoc pour générer du latex mais ça pose plein de problèmes.

À court terme le mieux est probablement de gérer un HTML dédié à
l'impression et de faire un pdf avec un css dédié. Mais le zmarkdown est
pas vraiment prêt

Le mar. 18 oct. 2016 14:11, Nathanaël Jourdane notifications@github.com a
écrit :

[2016-10-18 13:01] lypwig commented on #3683
C'est à dire qu'à un moment ça marchait ? Si oui, je veux bien que quelqu'un m'envoie un PDF déjà généré. :-)

[2016-10-18 14:03] GerardPaligot commented on #3683
Non mais peut-être qu'il y a des PDFs qui n'utilisent pas trop notre syntaxe et qui aurait donc un rendu pas trop moche.

[2016-10-18 14:06] pierre-24 commented on #3683
Typiquement, et je suis désolé pour cette pub honteuse, [celui là](https://zestedesavoir.com/tutoriels/pdf/245/la-recherche-dinformations-sur-internet.pdf)

[2016-10-18 14:20] SpaceFox commented on #3683
Puisqu'on est dans la pub éhontée, ce tuto a eu son petit succès et a un
PDF tout à fait valable :
https://zestedesavoir.com/tutoriels/pdf/305/pourquoi-vous-devriez-avoir-une-peluche-sur-votre-bureau.pdf
(les autres que j'ai écrits utilisent pas mal les balises ZdS, sauf mon
dernier article
https://zestedesavoir.com/articles/1522/reflexions-sur-lart-libre-et-son-avenir/
mais pour une raison inconn

[2016-10-18 14:20] pierre-24 opened #3865 "Il manque un bout de documentation sur l'installation (?)"
Bonjour!

Comme ça faisait longtemps, j'ai tenté de réinstaller ZdS aujourd'hui. J'ai donc [suivi la documentation donnée ici](http://zds-site.readthedocs.io/fr/latest/install/backend-linux-install.html), et je me suis retrouvé bêtement bloqué. Parce que pour moi, il manque l'introduction [écrite ici](https://zestedesavoir.com/forums/sujet/324/comment-contribuer-comprendre-comment-suivre-le-workfl

[2016-10-18 14:36] GerardPaligot commented on #3683
Avec le tutoriel sur la peluche, il y aurait même une histoire à raconter quand on présente le PDF (le buzz toussa toussa). (:

[2016-10-18 14:59] lypwig opened #3866 "Publier la documentation technique sur ReadTheDocs.io"
Je trouves cela bien utile, par ailleurs il n'est pas nécessaire d'avoir les fichiers ResT de la doc sur le dépôt GH, il suffit de bien configurer le fichier `conf.py`.

C'est ce que j'ai fait [ici](http://zest-writer.readthedocs.io/fr/master/build/rst/javadoc.html) (et comme du coup maintenant je sais bien faire ce genre de trucs, je veux bien prendre le ticket :-) ).

[2016-10-18 15:12] pierre-24 commented on #3683
plusun :p

[2016-10-18 15:59] lypwig opened #3867 ""Cette réponse m'a aidé" sur un commentaire écrit par l'OP"
Comme la proposition semble être largement adoptée [sur le forum](https://zestedesavoir.com/forums/sujet/7093/cette-reponse-ma-aide-sur-un-commentaire-ecrit-par-lop/), j'en fais un ticket pour assurer le suivi.

[2016-10-18 16:32] vhf commented on #3866
La documentation est sur read the docs. Ou alors j'ai pas pigé. J'ai pas non plus compris l'idée du `conf.py`.

[2016-10-18 16:36] lypwig commented on #3866
Je parle de la documentation générée par les docstrings du code python. Le conf.py est un fichier de configuration (mais on peut aussi mettre un peu de code dedans) qui est interprété par Sphinx et permettant de générer la documentation.

[2016-10-18 16:41] vhf commented on #3866
D'accord. Si ça cohabite bien avec notre doc actuelle pourquoi pas. Tu nous fais un exemple en PR ? Ce sera aussi l'occasion de les relire, un bon nombre sont incompréhensibles.

[2016-10-18 16:46] Situphen commented on #3866
Ce n'est pas déjà ce qu'il y a [ici](http://zds-site.readthedocs.io/fr/latest/back-end-code.html) ?

[2016-10-18 17:01] lypwig commented on #3866
Ah ben si, c'est exactement ça. Je n'étais pas tombé dessus. :-)

[2016-10-18 17:01] #3866 closed, assigned to nobody

[2016-10-18 17:41] pierre-24 opened #3868 ""make fixtures" ne fonctionne pas"
Par exemple:

[code]

... Probablement parce que "fixtures" est aussi un dossier à la racine et que donc `make` va pas chercher dans ces règles à lui. Solution la plus simple : renommer la commandes (et éditer [la doc](http://zds-site.readthedocs.io/fr/latest/utils/fixture_loaders.html) qui ne parle pas de `make`, d'ailleurs)

[2016-10-18 18:52] #3776 closed, assigned to nobody

[2016-10-18 19:21] lypwig opened #3869 "Ajouter une petite étoile devant les sujets/forums suivis"
Ce serait pratique et sympa. :-) L’icône se situerait au même niveau que _topic en post-it_ et _réponse trouvée_, je pense à un truc comme ça :

![Sujets suivis](http://i.imgur.com/W4qFf0P.png)

![Forums suivis](http://i.imgur.com/SPCThjr.png)

Voir [le topic associé](https://zestedesavoir.com/forums/message/editer/?message=127319) sur le forum sur le forum.

[2016-10-18 19:27] tleb commented on #3868
J'ai trouvé [ça](https://www.gnu.org/software/make/manual/html_node/Phony-Targets.html). Je ne connais pas vraiment make, mais ça fonctionne : si on ajoute `.PHONY: fixtures` dans le fichier, la commande que tu as donné fonctionne.

D'ailleurs, cette commande n'est même pas mentionné dans le help du make.

Et il y a un point en trop dans [la commande](https://github.com/zestedesavoir/zds-site/blob

[2016-10-18 19:28] pierre-24 opened #3870 "Erreur javascript sur certaines pages d'une instance locale"
Comme indiqué [ici](https://zestedesavoir.com/forums/sujet/7151/erreur-javascript-systematique-sur-une-version-locale-de-zds/):

avec

[2016-10-18 19:37] GerardPaligot commented on #3870
ping @sandhose C'est sans doute lié à ton refacto.

[2016-10-19 03:03] AmarOk1412 commented on #3458
@Anto59290 tu as avancé sur ce bug ?

[2016-10-19 12:15] #3870 closed, assigned to nobody

[2016-10-19 12:29] pierre-24 commented on #3748
Bon. Voilà mon point de départ. Je prend.

[2016-10-19 13:08] vhf commented on #3836
Toujours pas bon. Il va falloir ajouter le test ailleurs.

[2016-10-19 13:12] DevHugo commented on #3748
Si tu veux un peu plus d'information sur comment Solr et Haystack sont utilisé dans le projet, n'hésite pas à consulter, la doc que j'avais faite pendant la [zep-12](http://zds-site.readthedocs.io/fr/latest/back-end/search.html).

Si tu as un souci sur un morceau de code, n'hésite pas à me contacter par mp sur zds ou ici. J'essayerais d'y répondre :) .

Peut-être que pour juger de la fiabilité, tu

[2016-10-19 13:16] GerardPaligot commented on #3836
Si tu fais pas un reset de la base, ça me semble normal. Ta PR permettait simplement de ne pas pouvoir s'inscrire avec des emojis (faut ajouter le check dans le rename de son pseudo d'ailleurs) mais s'il y a déjà des emojis dans les pseudos, les requêtes font forcément cracher en rencontrant les emojis.

[2016-10-19 13:22] vhf commented on #3836
C'est pas ça @GerardPaligot . Il manque plein de validation et de nettoyage à plein d'endroits. A d'autres la logique est pas correcte. Un reset de la base ne sert à rien puisqu'il n'est pas possible que la table auth_user contienne de l'utf8mb4, sa collation étant utf8.

Regarde ici : https://github.com/zestedesavoir/zds-site/blame/release-v20/zds/member/validators.py#L89

Ça empêche correctement

[2016-10-19 13:26] SpaceFox commented on #3836
Il me semblait qu'on avait moyen de faire comprendre l'utf8mb4 à MySQL
maintenant ?

Le 19 octobre 2016 à 15:22, victor felder notifications@github.com a
écrit :

[2016-10-19 13:35] vhf commented on #3836
Oui SpaceFox, c'est tout à fait ça. Mais par sécurité (car cette table est gérée par django) et parce qu'on compte pas autoriser les pseudo utf8mb4, on a décidé de laisser `auth_user` en `utf8` au lieu de la passer à la moulinette. C'est une vieille décision, et je crois qu'elle ne se justifie plus, tout du moins elle ne justifie pas les ennuis à répétition qu'elle nous cause. J'ai d'ailleurs depu

[2016-10-19 13:39] vhf commented on #3836
Et ça fonctionne. Parfait. Et on n'a pas besoin d'y ajouter une RC.

<img width="504" alt="screen shot 2016-10-19 at 15 38 42" src="https://cloud.githubusercontent.com/assets/2022803/19520941/38e205ea-9612-11e6-86cf-e9d3bbd3aa13.png">

QA super facile sur la bêta, instructions : https://github.com/zestedesavoir/zds-site/pull/3874

[2016-10-19 14:15] vhf commented on #3683
Pourquoi pas Md->Latex->PDFLatex ?

J'y pensais ce midi, je me disais que si le parseur est pas trop mal fichu et qu'on a accès à l'AST, produire du latex doit pas être insurmontable (comparé à forker Pandoc pour lui faire piger le zmarkdown).

Du coup j'ai un peu cherché, et ça va pas 100% convenir mais ça peut très probablement servir de base, voici quelqu'un qui a déjà tenté de générer du latex

[2016-10-19 14:19] AmarOk1412 commented on #3683
Comme dit sur IRC, cette issue m'intéresse, et que je suis pour le zmd->LaTeX->pdflatex. Je testerais quelques outils pour voir ce que ça donne ce week end

[2016-10-19 14:23] pierre-24 commented on #3683
J'y pensais aussi. Je me demande comment travaille notre propre parser et à quel point il y a moyen de lui faire cracher du LaTeX (mais je lache ça sans savoir comment fonction pytjon-zmarkdown). Sinon, effectivement, chipoter un outil existant.

[2016-10-19 14:25] pierre-24 commented on #3748
Ok. Mais je croyais que ça avais bloqué parce que Haystack n'était pas compatible avec ES ou un truc du genre. Mais je vais regarder les deux directions: avec Haystack et sans.

[2016-10-19 14:28] SpaceFox commented on #3748
Il n'était compatible qu'avec de vielles versions de ES (lequel évolue
assez vite).

Le 19 octobre 2016 à 16:25, Pierre Beaujean notifications@github.com a
écrit :

[2016-10-19 14:39] DevHugo commented on #3748
Ouai, mais ça à l'air d'avancer néanmoins pull request (1391) sur le projet https://github.com/django-haystack/django-haystack/.

[2016-10-19 14:42] SpaceFox commented on #3748
Cela dit vues les contraintes imposées par Haystack, son état actuel (125
PR en attente, 232 tickets ouverts) et la simplicité de communication avec
ES, je me demande s'il n'est pas plus pertinent de causer directement avec
ES (la question ne se pose pas vraiment avec Solr, qui n'est pas si simple
à interroger). Ou peut-être trouver une lib qui se contente de faire un
binding Python des API ES.

2

[2016-10-19 14:43] lypwig commented on #3683
En gros faut ajouter un nouveau type d'export zMd [ici](https://github.com/zestedesavoir/Python-ZMarkdown/blob/97965b090d9da07523c903296b308815168f2e72/markdown/__init__.py#L69).

@vhf et @AmarOk1412 je ne sais pas si j'étais clair mais c'est exactement à quoi je pensais. ;-)

Je veux bien vous filer un coup de main si besoin, notamment s'il faut écrire des directives LaTeX.

[2016-10-19 14:46] DevHugo commented on #3748
Je suis entièrement d'accord avec toi, mon sentiment au fond de moi est de laisser tomber Haystack. Faut juste mesurer les conséquences, le travail nécessaire et le fait qu'on devrait tout ré-écrire si on voudrais passer a un autre moteur.

[2016-10-19 14:46] vhf commented on #3683
Exact @roipoussiere . Ce sera pas de refus pour l'aide LaTeX, on hésitera pas à te contacter.

[2016-10-19 14:49] pierre-24 commented on #3683
@roipoussiere : comme je le vois, il faudrait faire un peu de recherche sur un paquet qui affiche du code (ou alors on applique la coloration syntaxique et on le change en LaTeX, mais ça me semble plus cochon), et un qui fait des cadres colorés pour info/attention/...

Pour le moment, je vois pas trop d'autres problèmes avec LaTeX (faut juste faire attention à échapper les caractères "%" et "\")

[2016-10-19 14:59] lypwig commented on #3683
Pour ça il n'y a pas de soucis, j'ai déjà fait ça dans un rapport de stage.

C'est pour les touches (`||key||`) que je ne voyais pas trop comment faire, mais au pire on se fait notre propre paquet qui gère ça.

Je pense que si je me penche sur le LaTex j'en profiterais pour faire le ménage dans les dépendances car là le script d'install est super, super long...

[2016-10-19 15:04] pierre-24 commented on #3683
Avec un équivalent de [`\framebox`](https://en.wikibooks.org/wiki/LaTeX/Boxes), y'a probablement moyen. Y'a juste que les _box_ en latex ne passent pas à la ligne (`minipage`, toussa), c'est le seul problème que je vois ;)

[2016-10-19 15:12] cgabard commented on #3683
Vous pouvez essayer mais je vous conseille de lire le long thread sur la
zep en question. Plusieurs problèmes :
- zmarkdown n'a PAS d'AST, il construit un arbre HTML au fur et à mesure ce
  qui rend la production de latex à partir de ça a peut prêt équivalente à
  une conversion HTML vers latex.
- le latex pose problème quand je fesait mes essais en particulier le rendu
  de tableaux un peu grand

[2016-10-19 15:20] tleb commented on #3868
Pas de retour, c'est que c'est bon, j'ajoute à #3860 ?

[2016-10-19 15:24] lypwig commented on #3683
Je ne vois pas trop le pb, pour moi il suffit de changer la syntaxe de sortie, ie à la place de `<kbd>touche</kbd>`, on met `\zds_kbd{touche}`, et on décrit le comportement de la syntaxe dans un fichier LaTeX à part.

J'ai quelques doutes là dessus. LaTeX gère pleins de trucs tout seul au niveau de la mise en page, genre placer les images au bon endroit, ajouter les footnotes, etc.

En fait ce n'e

[2016-10-19 15:25] pierre-24 commented on #3868
Personne a rien à dire, et c'est moi qui te l'ai proposé, donc vas-y. Limite, renomme ta ZEP en "amélioration du Makefile" :)

[2016-10-19 15:31] pierre-24 commented on #3683
@cgabard n'as pas forcément tord pour l'AST. Ce n'est pas (tout à fait) un problème, mais ça simplifie largement l'affaire : une fois qu'on a l'AST on peut virtuellement tout faire.

Bien vu pour les tableaux à textes complexes, j'y avais pas pensé. Il y a toujours moyen de s'en sortir (en mettant les colonnes à `p` ou en utilisant [`tabulary`](http://www.ctan.org/pkg/tabulary), mais c'est vrai qu

[2016-10-19 15:35] vhf commented on #3683
Disons que python-markdown a un AST, mais que c'est un ElementTree et que c'est pas adapté. Ni dans le cas général, ni dans le cas d'HTML. Limite pour du XML, mais bon.

Peut-être que se départir de python-markdown résoudrait des trucs. On y a au moins une suite de tests de grande qualité, et ça c'est vraiment important.

Parmi nos options, il y a
- Continuer avec python-zmarkdown
- Carrément arrê

[2016-10-19 15:40] lypwig commented on #3683
En fait je crois que je ne comprends pas très bien ce qu'est AST et en quoi cela pose problème que PyZMd ne soit pas AST.

[2016-10-19 15:42] cgabard commented on #3683
Avec un clavier, quelques précisions :
- Rien que les bonnes classes latex posent des problèmes. Mon dernier essai peut être trouvé ici : https://zestedesavoir.com/forums/sujet/676/zep-05-refonte-du-traitement-markdown-pour-lexport/?page=14#p99600 (il y a dans le tas des pdf propres si vous en avez besoin) et tout un tas de problèmes (qui ne correspondent qu'à ceux trouvé dans des articles). J'ai

[2016-10-19 15:52] vhf commented on #3683
Merci pour cette vue d'ensemble @cgabard .

Toutes les ambiguïté du Markdown originel sont résolues par CommonMark, donc on pourrait partir là-dessus. Et je sais pas à quel point un port python de [remark-parse](https://github.com/wooorm/remark/tree/master/packages/remark-parse) serait compliqué.

Je sais pas si c'était dans tes plans initiaux @cgabard, mais si tu décides de faire une énorme refac

[2016-10-19 16:00] cgabard commented on #3683
Oui et Non. Certes ces markdown sont censés être compatible entre eux (je ne sais pas a quel point commonmark et les autres implémentations sont stable vu que des v1 ne sont pas encore sortie) mais le soucis est que notre markdown n'est pas compatible, lui. Du coup on se paie une migration "dangereuse" (par exemple un message qui était parsé d'une façon et après un edit annexe il ne l'est plus)

-

[2016-10-19 16:07] lypwig commented on #3683
J'ai regardé CommonMark-py, ça semble faire l'affaire en effet.

Passer par ZestWriter produit des pdf foireux mais je pensais c'était ça que tu me proposais. :-) Je ne savais pas que ce que les pdfs tu me proposais étaient full-markdown, donc je suis intéressé. Quelle archive plus haut ?

J'ai regardé l'outil et ça me semble pas trop mal. Je vois également d'autres avantages :
- si on a un fichie

[2016-10-19 16:17] SpaceFox commented on #3683
Pour moi tout l'intérêt d'avoir un PDF, c'est de ne _pas_ avoir un rendu
identique au site, mais quelque chose d'adapté soit à l'impression, soit à
la lecture sur écran.

Le 19 octobre 2016 à 18:07, Nathanaël Jourdane notifications@github.com a
écrit :

[2016-10-19 16:18] cgabard commented on #3683
Comme je l'ai dit, outre re-dev nos extensions il faut vérifier les compatibilités pourries du markdown

Dans e message : https://zestedesavoir.com/forums/sujet/676/zep-05-refonte-du-traitement-markdown-pour-lexport/?page=14#p99600 il y a le liens vers une archive contenant plein de pdf généré.

C'était l'idée. Globalement ce sera probablement pas aussi parfait que du latex mais si c'est suffisamm

[2016-10-19 16:39] lypwig commented on #3683
Oui, ce que je voulais dire, c'est qu'on pourra reprendre certains éléments comme `kbd` ou `block` et seulement adapter un peu (au niveau des couleurs principalement) pour que ça passe bien à l'impression, mais pas avoir 2 trucs complètement différents.

[2016-10-19 18:03] pierre-24 commented on #3867
Merci @AmarOk1412 :)

[2016-10-19 18:03] #3867 closed, assigned to nobody

[2016-10-19 18:54] pierre-24 commented on #3748
Bon, en gros:
- Haystack, c'est mort. Ça bouge pas assez vite, ES vient de sortir une version 5, Haystack ne supporte toujours pas la 2.
- Je compte au moins 5 projets de gens qui on tenté de réécrire plus ou moins Haystack pour ES, donc faire en sorte qu'une classe soit indexée directement. Tout ces projets ne sont plus maintenus (dernier commit > 6 mois). En soit, la partie utile de ces projets

[2016-10-19 19:05] SpaceFox commented on #3748
Déjà, passer à ES permettrait de définir des règles et critères de recherche beaucoup plus facilement qu'avec Solr.

Ensuite, contrairement à aujourd'hui où on renvoie tous les résultats en vrac, il faudrait catégoriser les résultats (contenus rédigés d'abord, forums ensuite) et les champs de recherche (terme trouvé dans le titre prioritaire sur le terme trouvé dans le corps de texte, avec un syst

[2016-10-19 19:23] DevHugo commented on #3748
Si j'ai bon souvenir aussi, il faudrait supprimer les balises dans les contenu pour que ça soit du plain text. Même si c'est pas indispensable.

Utiliser les tokeniser en français aussi.

[2016-10-19 19:33] pierre-24 commented on #3638
Ok, après trois tentatives :)

[2016-10-19 19:33] #3638 closed, assigned to nobody

[2016-10-19 19:54] pierre-24 commented on #3701
Merci @AmarOk1412 pour le fix :)

[2016-10-19 19:54] #3701 closed, assigned to nobody

[2016-10-19 20:00] #3836 closed, assigned to gustavi

[2016-10-19 20:01] artragis commented on #3789
perso je l'ai pas trouvé lent lors de mon dernier test.

[2016-10-19 21:15] #3789 closed, assigned to nobody

[2016-10-20 06:21] pierre-24 commented on #3842
Bon, il reste ça.

Basiquement, je confirme:

![screenshot from 2016-10-20 08 20 20](https://cloud.githubusercontent.com/assets/7889675/19548312/16013d2a-969e-11e6-9826-062a92b9691f.png)

(j'ai même pas eu la notif pour le MP de base des fixtures "comment devenir staff", c'est pour dire)

[2016-10-20 06:25] pierre-24 commented on #3842
Par contre, ça marche quand on s'envois des MPs, et l'auteur dont le tuto a été réservé a bien la notif. C'est pas simplement une option quelque part qui désactive la notif pour l'auteur du MP, une connerie du genre?

[2016-10-20 08:57] firm1 commented on #3843
Désolé je ré-ouvre ici car ce bug n'est pas corrigé dans la RC4.

[2016-10-20 09:00] firm1 opened #3876 "[beta][v20] Nombre de réponses dans le forums non affichées"
On a un petit souci avec le nombre de réponses à un sujet dans le forum qui ne sont pas affichés.

Voir sur ce lien : https://beta.zestedesavoir.com/forums/communaute/bug-suggestions/ voici ce que l'on obtiens :

![reponses-fauses](https://cloud.githubusercontent.com/assets/6066015/19553397/68f2df28-96b4-11e6-9f0b-e6d89e330a6b.PNG)

Je pense qu'il y'a une régression là.

[2016-10-20 09:56] GerardPaligot commented on #3842
@pierre-24 Le bug ne se situe pas forcément sur l'absence de notifications. Soit nous générons une notification pour l'auteur et le(s) autre(s) personne(s) concernée(s), soit nous ne générons pas de notification et nous marquons la conversation privée comme lue.

Mon test était censé démontrer que le second cas était déjà le cas mais, vu ta QA et celle de firm1, mon test ne doit pas être correct p

[2016-10-20 09:57] pierre-24 commented on #3842
Oui, c'est ce que je me suis dit par après :-)

[2016-10-20 11:13] vhf commented on #3843
C'est moi où il manque "simplement" l'affichage du nombre ici : https://github.com/zestedesavoir/zds-site/blob/release-v20/templates/mp/index.html#L58 ?

[2016-10-20 11:14] pierre-24 commented on #3843
Bien vu, on dirait.

[2016-10-20 14:50] vhf opened #3878 "Imbriquer > 235 citations donne une erreur Markdown"
Si quelqu'un peut se pencher sur ce problème, qui à mon avis demande pas mal d'investigation, c'est volontiers.

Quand on imbrique plus de 235 citations, on obtient une erreur :

![83a5adc7-fba9-471f-9217-7e72a8b8d98b](https://cloud.githubusercontent.com/assets/2022803/19564756/e360a9f4-96e4-11e6-965a-b48bd8c1e94e.png)

Quand on demande à zmarkdown (la version utilisée en prod) de rendre 250 citat

[2016-10-20 14:51] pierre-24 opened #3879 "Plus de "border-collapse" ?"
Si je prend [le dernier tuto en date](https://zestedesavoir.com/tutoriels/1294/des-bases-de-donnees-en-python-avec-sqlite3/fonctionnalites-de-base/), voilà ce qu'on obtient:

![screenshot from 2016-10-20 16 46 33](https://cloud.githubusercontent.com/assets/7889675/19564851/30a8f4fa-96e5-11e6-974a-0bbd4897c119.png)

Et maintenant, lorsqu'on l'importe sur une version locale (à jour sur dev, bien ent

[2016-10-20 14:53] pierre-24 commented on #3879
Le `border-bottom: 1px solid #ddd` a disparu aussi, je pense.

[2016-10-20 14:57] vhf opened #3880 "[v20]Les tags utf8mb4 ne sont pas correctement gérés"
Repro :
- Créer un topic avec pour tag `🐙`
- Créer un topic avec pour tag `🍆`
- Constater que le tag du second topic est `🐙` (si tant est que `🐙` est le premier tag utf8mb4 a avoir été inséré en bdd)
- Constater qu'éditer le second topic donne `🐙` comme tag dans le champ de titre du topic (idem)

Aide bienvenue.

Remarques :
1. Le slug sera pour les deux `--`, mais ça ne devrait avoir aucune consé

[2016-10-20 15:04] pierre-24 commented on #3878
À noter que moi, le message en question fait tourner mon navigateur dans le vide (avec page blanche) jusqu'à faire planter l'onglet. Après, il est peut être juste impatient et c'est zmarkdown qui patine derrière.

[2016-10-20 15:12] pierre-24 commented on #3843
C'est bon:

![screenshot from 2016-10-20 17 11 57](https://cloud.githubusercontent.com/assets/7889675/19565774/5c3620fe-96e8-11e6-9469-643b40175de7.png)

Merci @GerardPaligot !

[2016-10-20 15:12] #3843 closed, assigned to nobody

[2016-10-20 15:13] pierre-24 commented on #3876
C'est bon:

![screenshot from 2016-10-20 17 12 43](https://cloud.githubusercontent.com/assets/7889675/19565804/76f90582-96e8-11e6-91a7-6d895c5a6bab.png)

[2016-10-20 15:13] #3876 closed, assigned to nobody

[2016-10-20 15:26] vhf opened #3881 "Mettre en place des classes d'admin pour certains modèles"
Quand on modèle a une clé étrangère vers un modèle qui a beaucoup d'entrées (> 250), le serveur crash parce qu'il doit charger trop de données. Une requête par entrée dans la clé étrangère.

Si on ouvre l'admin pour éditer un topic et qu'il y a 10'000 messages sur les forums, vu qu'un topic référence un message, il y aura donc plus de 10'000 requêtes.

C'est facile à régler, on peut s'inspirer de

[2016-10-20 16:28] #3848 closed, assigned to nobody

[2016-10-20 16:31] vhf commented on #3879
(Pardon pour la confusion sur le titre du ticket.)

[2016-10-20 17:21] pierre-24 commented on #3879
Pas de soucis. Mais j'ai testé sur la bêta, le front est bon, donc c'est récent :)

[2016-10-20 18:50] pierre-24 commented on #2976
C'est toujours d'actualité, ça ?

[2016-10-20 19:09] pierre-24 commented on #2599
Dans quelle mesure est ce que cette issues est pertinente ? Pour les contenus, c'est le cas, et pour les fofos bwah ...

[2016-10-20 19:34] vhf commented on #2599
J'y vois pas un grand avantage, je propose qu'on ferme. (Au passage, l'implémentation à coup d'ajouter des `id` était peut-être une idée valide à l'époque, mais ce serait une boucherie maintenant. Chaque message a déjà un `id`.)

[2016-10-20 20:58] pierre-24 commented on #3665
Le `.annotate(nb_tags=Count('tags'))` peut pas fonctionner. Comme je le comprend, la requête fait en sorte que si un topic possède plusieurs tags, eh bien c'est ce nombre qui est ajouté à `nb_tags`. Du coup, si il n'y a qu'un seul topic et que ce topic porte les tags "machin, truc, et bidule", le code renverra 3 pour les 3. Et ça explique comment le tag chimie se retrouve dans les tags les plus ut

[2016-10-21 01:55] Anto59290 commented on #3458
He bein j'avais bien avancé mais j'ai tout perdu dans un crash de disque dur. Pout l'instant je ne reprend pas le dev avant le 15 décembre, date de mon retour en france. Si le ticket est toujours la, je m'en occuperais ;)

[2016-10-21 06:40] pierre-24 opened #3884 "Plus de forums dans la topbar"
Sur `dev`:

[code]

Et j'obtiens:

![screenshot from 2016-10-21 08 36 22](https://cloud.githubusercontent.com/assets/7889675/19588961/79840e42-9769-11e6-8d5d-7a3624f39ca4.png)

Maintenant, si je modifie par

[code]

J'obtiens,

![screenshot from 2016-10-21 08 37 14](https://cloud.githubusercontent.com/assets/7889675/19588983/9b3b4b54-9769-11e6-8361-21b13d3250b3.png)

J'espère que c'est simplement

[2016-10-21 06:55] pierre-24 commented on #3884
Probablement déjà réglé par #3816

[2016-10-21 06:55] #3884 closed, assigned to nobody

[2016-10-21 07:38] pierre-24 commented on #3842
arrêtez moi si je me trompe, mais donc on a ceci

[code]

Dans [`never_privateread`](https://github.com/zestedesavoir/zds-site/blob/release-v20/zds/mp/models.py#L325-L327). Or, il se trouve que quand je regarde dans l'admin, j'ai pas de `PrivateTopicRead` associé à ces MP de réservation. Donc ça explique que ces messages soient affichés comme non-lu. Et aussi que le test pointé par @GerardPaligot

[2016-10-21 07:40] pierre-24 commented on #3842
(mais à priori, on [rentre par ici](https://github.com/zestedesavoir/zds-site/blob/release-v20/zds/notification/receivers.py#L240))

[2016-10-21 07:44] pierre-24 commented on #3842
Et du coup, à priori, ça coince [là](https://github.com/zestedesavoir/zds-site/blob/release-v20/zds/notification/receivers.py#L261) :

[code]

Et plus particulièrement sur la ligne `if subscription.user != post.author:`. Si je pige bien, l'auteur ne recoit pas ses propres notifs, ce qui est logique normalement, mais pas ici.

[2016-10-21 07:45] GerardPaligot commented on #3842
Tu as tout super bien compris. Pour moi, le receiver ne doit pas être modifié parce que dans tous les autres cas, on ne doit pas notifier l'auteur et raison pour laquelle, je pense qu'on doit faire en sorte que la conversation soit lue et pas générer une notif. (:

[2016-10-21 07:49] GerardPaligot commented on #3842
Et bien vu pour le test, je suppose qu'il suffirait de le modifier dans ce sens alors :

[code]

[2016-10-21 07:49] pierre-24 commented on #3842
C'est ce que je me disais aussi. Maintenant, est ce que je gère ça dans `send_mp()` (limite en rajoutant un paramètre optionnel à `False` pour rien casser) ou à la source dans la vue de validation ?

Pour moi, ça me semble logique qu'un auteur dde MP a lu son propre message, donc je serai pour générer le `PrivateTopicRead` par défaut, mais si ça n'as pas été fait, c'est qu'il y a une raison ... Qu

[2016-10-21 12:40] vhf commented on #3842
J'ai jamais été validateur du coup j'ai 2 questions pour ce ticket :
1. Est-ce que j'ai bien compris la situation ? Ma compréhension est que le validateur qui réserve un tuto reçoit un MP de confirmation, mais que ce MP n'est pas accompagné de la notification habituelle pour un MP.
2. Est-on proche d'avoir un patch pour ça ou est-ce que vous pensez que ça va encore prendre une semaine ?

Merci !

[2016-10-21 12:51] pierre-24 commented on #3842
Pour le (1) → oui. Et pour le (2), je te _patche_ ça dès que je suis certain de la marche à suivre (donc en fait j'attend que @GerardPaligot réponde à ma question, sauf si est encore plus motivé que moi et qu'il _patche_ dans la foulée). Quelque soit la réponse, ça devrait pas faire plus de 10 lignes.

[2016-10-22 10:46] tleb opened #3887 "Lien dernière réponse quand non connecté"
Quand on est pas connecté et qu'on clique sur un des liens _Dernière réponse_ en bas de la page d'accueil, l'anchor linké est celle du premier message du topic et non le le dernier.

[2016-10-22 11:01] pierre-24 commented on #2599
Bon ;)

[2016-10-22 11:01] #2599 closed, assigned to nobody

[2016-10-22 12:17] pierre-24 commented on #3644
Ben ... Si. Je viens de tester, et pas moyen, je tombe à tout les coups sur le dernier message.

[2016-10-22 12:17] #3644 closed, assigned to pierre-24

[2016-10-22 12:21] pierre-24 commented on #3887
Ce qui, en un sens, est logique, parce qu'on se sert du même mécanisme que sur les forums : même si tu clique sur "dernière réponse par machin", tu es redirigée sur la première réponse non-lue par toi. Comme ça passe par la base de donnée, on peut pas faire ça avec un mec non-connecté, et on renvois par défaut sur la première réponse. La question est donc : est ce qu'on change ça ? (ping @vhf !)

[2016-10-22 12:29] vhf commented on #3887
On garde ce ticket au chaud, il ne relève pas de la technique. Réponse dès qu'on sait qui peut décider de ça.

[2016-10-22 13:05] Emeric54 commented on #3817
C'est corrigé. Merci @pierre-24 et @Situphen !

[2016-10-22 13:05] #3817 closed, assigned to nobody

[2016-10-22 13:13] Emeric54 commented on #3865
Pourquoi pas. Même si ça peut sembler évident, on a déjà vu certains nouveaux contributeurs se retrouver coincés, ne sachant pas où commencer. Donc oui, je pense que ça peut-être intéressant d'ajouter ce passage dans la doc.

[2016-10-22 13:30] #3170 closed, assigned to gustavi

[2016-10-22 13:30] pierre-24 commented on #3865
Me suis rendu compte après que [c'était ici](https://github.com/zestedesavoir/zds-site/blob/dev/CONTRIBUTING.md) (en grosse partie), et pas sur ReadTheDoc. Donc ... Chaipa.

Le mot d'ordre, ici, c'est "on fait pas de la documentation pour des outils". Et je crois que c'est pour ça que ça y est pas.

[2016-10-22 13:33] vhf commented on #3865
Je pense qu'il faut que le contenu du contributing soit sur readthedocs et que le contributing.md doit juste contenir un lien vers la bonne page readthedocs. Volontiers une PR en ce sens. Je vois pas ça comme de la doc sur un outil, plus sur notre workflow.

[2016-10-22 13:52] tleb commented on #3887
J'ai pas précisé, mais c'est sur la prod. Si ce comportement est conservé, il faudrait modifier le texte qui est trompeur.

[2016-10-22 17:02] GerardPaligot commented on #3887
@tleb Tu es loin d'être la première personne qui relève cette incohérence dans le design (poke @firm1 qui viendra pas me contredire) et les contributeurs ont toujours fermés les yeux sur cette incohérence prétextant que c'était normal (je suis quasi certain que je l'ai dis publiquement aussi d'ailleurs) mais clairement, ça ne l'est pas. Ce lien propose d'aller à la dernière réponse du sujet et pas

[2016-10-24 07:48] SpaceFox opened #3891 "« Se souvenir de moi » ne semble pas avoir une très bonne mémoire"
J'ai l'impression que le bouton « Se souvenir de moi » a la mémoire courte (une petite semaine), je suis obligé de me reconnecter _beaucoup_ plus souvent que sur la plupart des sites. Peut-on augmenter cette valeur ?

[2016-10-24 07:52] WinXaito commented on #3891
Hm il me semble que c'est bien plus long pour moi, genre 2-3 mois. Ou alors j'ai l'impression que le temps passe vraiment lentement :p

[2016-10-24 07:54] SpaceFox commented on #3891
C'est un comportement que je retrouve sur différents ordinateurs et navigateurs, c'est pour ça que j'ai supposé que ça venait du site.

C'est Opera et Vivaldi, dernières versions, sur Ubuntu 16.04 et Mint (la dernière, je sais même pas le numéro de version).

[2016-10-24 07:55] pierre-24 commented on #3891
J'ai la même impression que @SpaceFox ...

[2016-10-24 08:56] vhf commented on #3891
Chez moi c'est environ 2 semaines. @SpaceFox tu veux combien de temps ?

On n'override pas le [défaut](https://github.com/django/django/blob/1.8/django/conf/global_settings.py#L472), donc ce sera vite réglé.

[2016-10-24 09:25] SpaceFox commented on #3891
Un mois, c'est un classique non ?

[2016-10-24 14:14] WinXaito commented on #3891
J'aurais été persuader que c'était plus... je me fais sûrement des idée

[2016-10-24 17:55] vhf commented on #3891
Ça me va. Une PR sur update.md pour pas qu'on oublie ?

[2016-10-25 01:09] lypwig opened #3893 "Annuler la pop-up Abréviation de l'éditeur md remplace le contenu par NaN."
- se rendre sur le forum ou sur un contenu en rédaction ;
- dans la barre d'outils de l'éditeur, taper n'importe quoi ;
- cliquer sur le bouton 'Abreviation'.

Le contenu présent dans la fenêtre d'édition est remplacé par 'NaN'.

[2016-10-25 01:15] AmarOk1412 commented on #3458
Non t'inquiètes, j'ai commencé à travailler sur le bug du coup :

![Je pagine avec une seule image pour les tests ;)](https://cloud.githubusercontent.com/assets/1888628/19669635/f21347f2-9a2e-11e6-8050-d7febf45a19c.png)

[2016-10-25 09:55] firm1 opened #3894 "[beta][v20] Incohérence dans les tags autorisés entre contenus et forums"
On ne peut pas renseigner d'émojis dans les tag d'un contenu, mais c'est autorisé dans les tags de forum.

J'ai l'impression que c'est pour se sauver d'un problème technique, mais niveau expérience utilisateur, ça manque de cohérence.

[2016-10-25 10:07] vhf commented on #3894
Tu as un exemple de sujet de forum avec emoji comme tag ? Parce que ça devrait pas être possible de mettre des emojis dans les tags des sujets, du coup ça me surprend beaucoup. En tout cas faudrait qu'on puisse reproduire le bug dont tu parles pour le considérer comme un vrai bug.

[2016-10-25 11:04] firm1 commented on #3894
Ce sujet [par exemple](https://beta.zestedesavoir.com/forums/sujet/6788/tagatest/) possède un tag avec des emojis

[2016-10-25 11:10] vhf commented on #3894
Je serais très surpris que ces vieux (1993) caractères passent pas comme tags de contenus. Je vais voir ça.

[2016-10-25 11:11] vhf commented on #3894
Je confirme, ça passe comme tag de contenu. Pour moi il n'y a pas d'incohérence.

[2016-10-25 11:16] SpaceFox commented on #3894
À noter que tout tag contenant un emoji récent (exemple 🦊) est supprimé sans aucun avertissement ! Exemple : https://beta.zestedesavoir.com/forums/sujet/6793/tete-de-renard/

[2016-10-25 11:28] #3880 closed, assigned to nobody

[2016-10-25 11:30] vhf commented on #3894
Yep @SpaceFox, ça en revanche c'est un problème. Pas bien difficile à régler, mais si c'est le seul problème de la RC5 on réglera ça dans la prochaine release. Le fix sera de réutiliser les nouveaux validateurs de tags qui sont en place sur les contenus : https://github.com/zestedesavoir/zds-site/pull/3875

Issue #3895

[2016-10-25 11:31] vhf opened #3895 "Validation des tags à la création/édition de sujet"
Actuellement les tags subissent une validation sur les contenus mais pas sur les sujets. C'est facilement implémentable en réutilisant le validateur de tags créé ici : https://github.com/zestedesavoir/zds-site/pull/3875

[2016-10-25 12:31] firm1 commented on #3894
Je ferme donc ici. Ce sont les nouveaux emojis qui ne tournent pas

[2016-10-25 12:31] #3894 closed, assigned to nobody

[2016-10-25 18:01] Karnaj commented on #2872
Il faut rajouter `order_by('update_date')` [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_contents.py#L1528), non ?

[2016-10-25 18:03] pierre-24 commented on #2872
Oui. Ceci dit, une réflexion plus globale à ce sujet [à lieu ici](https://zestedesavoir.com/forums/sujet/4967/zep-03b-page-resumant-les-tutos-en-redaction-amelioration/) :)

[2016-10-25 18:10] Karnaj commented on #2872
Ok. On attend que cette ZEP soit validée ou on applique cette solution en attendant ?

[2016-10-25 18:15] pierre-24 commented on #2872
Moi, ça m'est égal. Qu'en dise @vhf et @GerardPaligot ?

[2016-10-25 18:42] vhf commented on #2872
Je suis en faveur de toute refactorisation de [ceci](https://github.com/zestedesavoir/zds-site/blob/5e5bd2a7262aed0b0d79ec03308db51c73a83de9/zds/tutorialv2/views/views_contents.py#L1513), et si la personne qui s'en charge rajoute l'`order_by` en question, ça me va.

Au programme : Renommer la classe. Corriger le commentaire. Enlever les if/else if avec des strings magiques hardcodées.

Idem [ici](

[2016-10-25 19:27] pierre-24 commented on #2872
Même si tu as raison, je pense qu'il y a des manières plus sympa de le dire. Bref.

et

Je t'avoue que ... Si. Définitivement, un correcteur est une aide à la rédaction (et je sais de quoi je parle), un illustrateur encore plus, à la limite àa se discute pour reprenneur. La page [ZEP-03](https://zestedesavoir.com/forums/sujet/666/zep-03-page-resumant-les-tutos-en-redaction/?) mentionnait à plusieu

[2016-10-25 20:42] vhf opened #3896 "Refactorer le code d'aide à la rédaction"
(Faire des tickets à propos des choses qu'on pourrait refactorer : je sais pas si ça va marcher, mais on peut toujours essayer. Ça a au moins l'avantage d'être des tickets relativement faciles et qui permettent de se familiariser avec le code. Et vu que pour le moment y'a presque jamais de PR de refactorisation, ça vaut le coup d'essayer ! :) )

Fork de cette discussion : https://github.com/zested

[2016-10-25 20:49] GerardPaligot commented on #2872
Dans la mesure où un ticket a été créé pour le refactor, @Karnaj tu peux te contenter de changer la query et de la tester pour cette issue. Si tu veux prendre l'issue bien entendu ... (:

[2016-10-25 21:04] vhf opened #3897 "Résoudre les TODO"
- [forum/models.py L32](https://github.com/zestedesavoir/zds-site/blob/7da461ca96090252972b9e4b6e379f400b3c5f45/zds/forum/models.py#L32)
  - [x] `TODO: what is the usage of this function?`
- [forum/models.py L104](https://github.com/zestedesavoir/zds-site/blob/7da461ca96090252972b9e4b6e379f400b3c5f45/zds/forum/models.py#L104)
  - [x] `# TODO: A forum defines an image, but it doesn't seems to be us

[2016-10-25 21:06] Karnaj commented on #2872
Je veux bien m’en charger. :)

[2016-10-25 21:12] #3842 closed, assigned to GerardPaligot

[2016-10-25 21:20] vhf opened #3898 "Mettre à jour les dépendances"
Corvée pour les motivés : https://requires.io/github/zestedesavoir/zds-site/requirements/?branch=dev

[2016-10-25 21:36] Anto59290 commented on #3897
Avec un ticket qu regroupe tous les Todo, faut-il s'attendre à une PR qui corrige de manière intégrale tous ces Todo ? (Ce qui serait la logique de ZdS).

Le ticket #3064 aborde le même problème ;)

[2016-10-25 22:21] #3064 closed, assigned to nobody

[2016-10-25 22:24] vhf commented on #3897
@Anto59290 De préférence une PR par TODO ou une PR par fichier. :)

L'idée est qu'une PR dit à quel ticket elle se réfère. Ici, une personne motivée peut commencer où elle veut, régler un TODO, référencer ce ticket dans sa PR. Puis continuer avec un autre TODO, etc. Au fur et à mesure que les TODOs seront traités, on pourra ici cocher la case :
- [x] Donner un exemple de case

(Merci pour l'autre

[2016-10-25 23:08] #3859 closed, assigned to nobody

[2016-10-27 08:43] lypwig opened #3901 "L'envoie de mail ne fonctionne pas sur la beta"
Sur la beta, l'envoi de mails ne fonctionne pas.

C'est problématique surtout si on veut utiliser la fonction "J'ai oublié mon mot de passe".

[2016-10-27 09:13] SpaceFox commented on #3901
En fait elle fonctionne, mais le backend est configuré pour écrire les mails envoyés sur le disque. On avait  sans doute fait ça à des fins de debug et on a jamais remis une conf qui envoie réellement des mails.

[2016-10-27 13:18] firm1 opened #3902 "[v20] Erreur 500 dans la liste des tutoriels en mode non connecté"
Je suis tombé sur une erreur 500 en allant va sur cette url en étant non connecté au site : https://zestedesavoir.com/tutoriels/

Etant donné que les robots nous indexes par là, je me dis que c'est a prendre en priorité.

[2016-10-27 13:19] firm1 commented on #3902
Par contre je n'arrive pas à la reproduire. Donc à voir.

[2016-10-27 13:23] pierre-24 commented on #3902
Y'a Sentry qui crache que MySQL ce casse la gueule sur cette page.

[2016-10-27 13:51] vhf commented on #3902
Je vais me permettre de fermer, rouvrez si ça se reproduit svp.

D'après Sentry c'était pile pendant que je rebootais MySQL, du coup c'est pas étonnant, il y a 3-4 requêtes qui se sont pris une 500 à ce moment puisque MySQL était down.

[2016-10-27 13:51] #3902 closed, assigned to nobody

[2016-10-27 14:08] vhf opened #3903 "OAuth - routes ?"
Est-ce que nos spécialistes django oauth peuvent jeter un oeil à ce message ?

J'ai bloqué l'URL temporairement, n'étant pas sûr des implications en terme de sécurité.

[2016-10-27 14:11] rezemika opened #3904 "Notification persistante dans la V20"
Il y a un peu plus de deux mois, je m'étais abonné au fil "Hier, je sort enfin... Pour le pire ?". Ce faisant, je recevais naturellement une notification à chaque nouveau message sur ce fil.

Or, une de ces notifications a été reçue en triple et ne disparaissait pas après lecture, celle se rapportant au message de "Mr phacochère" que voici : [https://zestedesavoir.com/forums/sujet/6821/hier-je-sor

[2016-10-27 14:28] rezemika opened #3906 "Tutoriels "fantômes" dans la liste personelle des tutos"
En me rendant sur la page recensant mes tutoriels, j'ai constaté que plusieurs d'entre-eux apparaissent toujours après que je les ai supprimés. Leurs encadrés et leurs tags sont toujours affichés, mais j'ai une erreur 404 en cliquant dessus. Ce phénomène se produit pour trois de mes tutoriels. Il persiste après une suppression des caches, sur un autre ordinateur, et ce depuis plusieurs versions du

[2016-10-27 14:42] GerardPaligot commented on #3903
Normalement, si la personne qui génère la clé correctement et par rapport aux besoins du développeur, nous supportons les autres moyens d'identification (théoriquement).

C'est pas dans la documentation technique parce qu'on a jamais eu que des développeurs qui utilisait ce moyen mais libre à cette personne de faire évoluer les choses dans ce sens.

Tu as bien fait dans la mesure où il n'y a aucun

[2016-10-27 15:39] SpaceFox commented on #3902
T'as dû tomber au moment du redémarrage de MySQL.

2016-10-27 15:19 GMT+02:00 firm1 notifications@github.com:

[2016-10-27 16:27] lypwig commented on #3901
Pour moi c'est un peu chiant car je ne peux pas tester la beta. :/

Je rencontre régulièrement un problème pour me connecter (et non je ne viens pas de changer mon pw sur la prod, je l'ai changé juste une fois il y a genre 2 mois).

[2016-10-27 17:33] vhf opened #3907 "Inscription / renvoi de confirmation / mot de passe oublié"
Echanges avec un membre par email, on a visiblement plusieurs problèmes dont certains graves et urgents. Voici un résumé retravaillé de l'échange :

Je peux pas regarder ça ce soir, est-ce que quelqu'un peut tenter de reproduire chaque étape et raconter ici ? Est-ce que quelqu'un peut investiguer au moins un de ces bugs et expliquer ?

@gustavi tu peux aussi regarder vu que t'as accès aux serveurs

[2016-10-27 18:03] artragis commented on #3907
le mail a été refusé par le serveur mail. Et a causé la 500. Par contre c'est le serveur final qu iest en cause.

[2016-10-27 18:12] lypwig opened #3908 "Erreur 404 sur un tutoriel"
J'ai créé un tutoriel nommé `test` il y a quelque temps, aujourd'hui il est en 404.

L'URL (non publique) est : https://zestedesavoir.com/contenus/1413/test-7/

[2016-10-27 18:19] vhf commented on #3907
Donc gmail refuse nos emails ? C'est un problème, si c'est le cas.

En fait c'est pas ça. Aucun email sort de notre serveur depuis le redémarrage.

[2016-10-27 18:31] rezemika commented on #3907
Je viens d'essayer de créer un compte sur beta.zestedesavoir.com avec une adresse Gmail (sous le pseudo 'reze.mika'), je confirme que rien n'a été reçu, ni dans la boite de réception, ni dans les spams. De plus, quand je cliques sur le bouton d'inscription via Google+, j'arrives sur une erreur 404 "redirect_uri_mismatch" :

`The redirect URI in the request, https://beta.zestedesavoir.com/complete/

[2016-10-27 18:45] pierre-24 commented on #3907
Si jamais, `{u'**@gmail.com': (451, '4.3.0 <noreply@zestedesavoir.com>: Temporary lookup failure')}`. Ça peut pas être bon, ça.

[2016-10-27 21:09] pierre-24 commented on #3879
Rien vu quand tu as remis la branche de release dans dev ?

[2016-10-27 22:33] vhf commented on #3879
Niveau CSS non. Les quelques conflits sont documentés par le commitlog du merge. Peux-tu préciser la question ?

[2016-10-27 23:14] Emeric54 commented on #3907
La bêta n’envoie pas de mails, et ça a été configuré volontairement.

[2016-10-28 06:12] pierre-24 commented on #3879
Ben le problème, c'est que je sais pas trop quoi chercher. En tout cas, même si on dirais que c'est apparu après la v20, le commitlog ne donne pas d'infos (donc y'a pas eu de conflit).

[2016-10-28 06:16] pierre-24 commented on #3907
Chaipas si c'est lié, mais MySQL arrête pas de claquer.

[2016-10-28 07:18] GerardPaligot opened #3909 "[v20] MySQL provoque régulièrement des erreurs 500"
@firm1 avait créé une [issue](https://github.com/zestedesavoir/zds-site/issues/3902) plus spécifique sur le même bug qu'il avait rencontré sur la liste des tutoriels mais le bug semble plus généraliste. Encore hier soir, j'ai reçu à plusieurs reprises des mails de Sentry m'informant que MySQL s'était foutu la mal.

Je tag haute mais ça pourrait limite être bloquant tellement ça arrive souvent. Par

[2016-10-28 09:45] LudovicDrtt opened #3910 "Ajout d'un install-archlinux dans le Makefile"
Pour les utilisateurs de la distribution ésotérique, et surtout parce que c'est bien pratique d'avoir qu'une seule commande à taper pour l'installation.

Cela évite aussi d'installer les bibliothèques de python3 à la place de python2.

[2016-10-28 09:47] LudovicDrtt commented on #3910
J'ai fini les modifs sur le Makefile et je vais écrire la doc qui va avec.

[2016-10-28 09:49] pierre-24 commented on #3910
T'as trouvé ce qui n’allait pas avec le front, du coup ?

[2016-10-28 09:51] LudovicDrtt commented on #3910
Nop j'ai tous recommencé et en faite le seul problème c'est que j'avais installer les lib pour python3 vu que c'est ce qu'il y a par défaut sur Arch

[2016-10-28 09:52] pierre-24 commented on #3910
aaah, ok. Voilà qui est mieux :)

[2016-10-28 09:55] vhf commented on #3909
J'arrive toujours pas à prendre ce problème au sérieux. Qu'est-ce qui te fait croire qu'il ne s'agit pas de redémarrage de MySQL ?

[2016-10-28 10:03] LudoBike commented on #3910
Il faut écrire un test pour les makefiles ?

[2016-10-28 10:06] vhf commented on #3909
Bon, je suis quand même allé voir, voici les redémarrages :

[code]

Est-ce que tu peux m'indiquer les erreurs qui se sont produites en dehors de ces redémarrages, ou fermer ce ticket ?

[2016-10-28 10:44] pierre-24 commented on #3909
Pas besoin de le prendre comme ça non plus ^^

@GerardPaligot  ne peut évidement pas être au courant des heures tests, forcément. Objectivement, j'ai vu les erreurs Sentry dans ma boite mail ce matin, j'ai "paniqué" aussi.

[2016-10-28 11:27] vhf commented on #3909
Bah je le prends comme un problème important s'il y a quelque chose de pas normal, parce qu'effectivement ça peut être grave. Du coup je me penche volontiers sur les erreurs qui se sont produites en dehors des redémarrages de mysql, et s'il n'y en a pas je pense vraiment qu'on peut fermer ce ticket.

[2016-10-28 11:50] vhf commented on #3907
Réglé par @sandhose, merci beaucoup, j'ouvre un autre ticket pour les autres problèmes.

[2016-10-28 11:50] #3907 closed, assigned to nobody

[2016-10-28 11:51] vhf opened #3912 "Renvoi email confirmation du compte"
Sur cette page : https://zestedesavoir.com/membres/validation/

Quand on entre un email ou pseudo, le formulaire n'est pas validé : "Cette adresse de courriel est déjà utilisée", du coup le mail ne part pas.

[2016-10-28 12:16] LudovicDrtt commented on #3898
Juste le truc c'est de mettre les versions à jour dans les fichiers de vérifier que les tests passent bien ?

[2016-10-28 12:29] vhf commented on #3898
@LudoBike c'est pire que ça malheureusement.

Idéalement, pour chaque dépendance faudrait voir si y'a rien de suspect dans le changelog. Respecter semver. Vérifier que les dépendances des dépendances respectent aussi semver.

[2016-10-28 12:35] SpaceFox commented on #3898
À noter que dans la liste y'a Djange 1.8 -> 1.10, ce qui est loin d'être
trivial

Le 28 oct. 2016 2:29 PM, "victor felder" notifications@github.com a
écrit :

[2016-10-28 13:04] gustavi commented on #3909
C'est toujours lors d'un redémarrage, c'était moi pour le coup. Du coup pour moi l'issue n'en est pas vraiment une.

[2016-10-28 13:05] vhf commented on #3909
Top, merci à tous, je ferme.

[2016-10-28 13:05] #3909 closed, assigned to nobody

[2016-10-28 13:07] LudovicDrtt commented on #3897
Cette fonction à effectivement l'air totalement inutilisée.

[code]

**PS** : la regex est là pour enlever la méthode get_last_topics qui est dans managers.py ln. 62

[2016-10-28 13:22] gustavi commented on #3908
Alors j'avais proposé une solution pour virer tous ces problèmes liés aux slugs et au redirections foireuses via `must_redirect` : on redirige tout /contenus/<pk>/<n_importe_quelle_str>/ vers /contenu/<pk>/<slug>/. Ça permet de ne pas casser le SEO, d'éviter les problèmes comme celui-ci et de simplifier le code.

[2016-10-28 13:25] pierre-24 commented on #3908
?? (je comprend pas le problème à la base, en fait)

[2016-10-28 13:39] DevHugo commented on #3912
C'est juste le message qui est pas clair, il affiche cette erreur quand le compte est déjà validé.

[Voir ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L320)

[2016-10-28 13:42] vhf commented on #3912
J'ai pas l'impression @DevHugo . Le compte que j'ai testé n'est pas actif.

[2016-10-28 13:44] DevHugo commented on #3912
Il passe par [ce validateur](https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/forms.py#L432), alors qu'il devrait pas. Faut faire attention car les deux formulaires: mots de passe oublié et pas de courriel d'activation utilise le même formulaire.

[2016-10-28 13:47] vhf commented on #3912
Voilà, il est là le problème, merci @DevHugo !

[2016-10-28 19:15] vhf opened #3914 "Problème du futur"
Screenshot après un 'edit' tout à fait normal :

<img width="326" alt="screen shot 2016-10-28 at 21 12 09" src="https://cloud.githubusercontent.com/assets/2022803/19819114/79bb1bd6-9d53-11e6-8b97-5e5608762c00.png">

[2016-10-28 21:03] vhf commented on #3891
Je ferme, ce sera pris en compte au prochain redémarrage du site.

[2016-10-28 21:03] #3891 closed, assigned to nobody

[2016-10-28 21:52] AmarOk1412 commented on #3893
Hmm d'ailleurs, on a un Abbréviation et un Abréviation dans la popup
![2016-10-28-17 51 53-screenshot](https://cloud.githubusercontent.com/assets/1888628/19823568/4a0efc7a-9d37-11e6-8ea2-6488206fc33a.png)

[2016-10-29 08:18] tleb commented on #3914
Ça vient [d'ici](https://github.com/zestedesavoir/zds-site/blob/caec43a6f8d56f23fd3f13298aef5d3567cd8c84/zds/utils/templatetags/date.py#L47-L48). Tu as eu ça sur ta propre instance ou sur la prod ? C'est sûrement un problème de datetime sur le système ou de timezone non ?

Cette nuit, on rajoute une heure, c'est pas lié à ça si ?

[2016-10-29 08:29] tleb opened #3917 "Compteur d'abonnés disparaît quand on clique sur suivre"
- "Suivre le sujet (3 abonnés)"
- Clique sur le bouton
- Bouton devient "Ne plus suivre le sujet"
- Il faut refresh la page pour avoir "Ne plus suivre le sujet (4 abonnés)"

On ne peut pas envoyer le compteur dans la requête AJAX qui est faite ?

[2016-10-29 08:31] vhf commented on #3917
Si si, on pourrait. Actuellement on retourne `{follow: true}` en cas de succès, il pourrait retourner `{follow: true, count: #}` à la place.

[2016-10-29 08:33] vhf commented on #3914
J'ai eu ça sur la prod. Je pense que la v20 est beaucoup trop rapide. Qui peut faire une PR avec un `sleep` aléatoire sur chaque page, pour régler ce problème ?

Sinon non, je pense pas que ce soit lié au changement d'heure.

[2016-10-29 08:36] pierre-24 commented on #3914
Celle là, je la note :)

[2016-10-29 09:35] vhf opened #3918 "Notifications persistantes et en double - le retour"
[code]

Voici ce que dit la personne à qui c'est arrivé :

[2016-10-29 09:53] tleb commented on #3917
OK, j'ai passé un peu de temps pour comprendre la structure des forums niveau back, je suis maintenant au point. :smile:

Par contre, niveau front, j'aimerai bien avoir des retours de ceux qui connaissent le projet pour savoir comment faire ça proprement : [ici](https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/ajax-actions.js#L69), on a un toggleText, cool, mais il faut le modifier si

[2016-10-29 09:56] vhf commented on #3917
@tleb je peux aider là dessus en début d'après midi.

[2016-10-29 10:38] LudovicDrtt commented on #3914
Qui aurait cru que cette condition allait être vrai un jour :D

[2016-10-29 12:52] vhf commented on #3917
Ok je te propose ceci.

https://github.com/zestedesavoir/zds-site/blob/c15cbda88293d5753c1d7fa4380bb23e56dfe713/templates/notification/subscription_count_template.html#L14 là tu mets `subscriber_count` dans un `span` avec pour `id` `subscriber_count`.

et là https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/ajax-actions.js#L56 tu récupères le `subscriber_count` depuis `data` et tu mets

[2016-10-29 12:53] LudovicDrtt commented on #3897
La première n'est absolument pas utilisé :

[code]

Il y a que sa définition et la doc contrairement à la seconde :

[code]

Du coup la question est :

Si oui `resolve_first_post_url` peut être supprimée.

---

Et du coup pour get_last_topics, on la supprime ou j'essaye de la réécrire ?

[2016-10-29 12:55] tleb commented on #3917
Tellement plus simple, en effet. Je vais faire ça, merci.

[2016-10-29 13:01] vhf commented on #3897
Oui on peut. Avec l'objet et `reverse` ou un truc du genre.

Pour `get_last_topics` si c'est utilisé nulle part : viré.

[2016-10-29 13:03] LudovicDrtt commented on #3897
Ok je le vire je merge et on voit si ça passe les tests

[2016-10-29 13:44] Anto59290 commented on #3897
Pour les deux dernier todo de la liste, il serait assez logique de s'en occuper en même temps que la Zep18. A noter que @artragis a déjà une PR visant à améliorer le front de la validation, qui couvre partielement la ZEP 18. Peut être peut-il faire d'une pierre deux coups ?

[2016-10-29 21:37] Emeric54 opened #3921 "Double participant dans un MP de réservation"
Victor a dû valider lui-même le dernier article annonçant [l'article annonçant](https://zestedesavoir.com/articles/1438/nouvelle-version-nouvelle-version/) nos dernières versions. Or, lorsqu'un validateur réserve un contenu, un MP est automatiquement envoyé par le valido aux auteurs. Le problème se trouve ici : victor se retrouve deux fois dans les participants.

![alt](http://img15.hostingpics.ne

[2016-10-29 21:41] Emeric54 commented on #3921
Un des des victor est donc le validateur, et l'autre l'auteur. Toutefois, [ce bloc](https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorialv2/views/views_validations.py#L273) de code devrait permettre de ne pas se retrouver avec des participants en double.

[code]

[2016-10-29 22:41] vhf commented on #3921
Yep, il devrait. Et il le fera probablement à l'avenir. Sauf que ce code est pas en prod. ;)

(J'ai lu le lien que t'as donné et je me disais "tiens t'as raison, c'est curieux", et après j'ai vu que c'était dev, j'ai mis prod dans l'URL et paf !)

Du coup merci d'avoir investigué, je pense qu'on peut fermer : https://github.com/zestedesavoir/zds-site/pull/3864

[2016-10-29 22:41] #3921 closed, assigned to nobody

[2016-10-30 10:40] #3893 closed, assigned to nobody

[2016-10-30 11:24] vhf commented on #3914
Rebelotte avec les alertes :

<img width="220" alt="screen shot 2016-10-30 at 12 23 35" src="https://cloud.githubusercontent.com/assets/2022803/19836288/ca4574e0-9e9b-11e6-8e44-3c378f278fb6.png">

[2016-10-30 14:20] pierre-24 commented on #2277
Semblerait que ça soit réglé ;)

[2016-10-30 14:20] #2277 closed, assigned to nobody

[2016-10-30 14:22] Anto59290 commented on #3897
Le ticket #1722 est aussi un sous ticket de celui-ci. A noter que les Todo ne sont pas du tout explicites et que personne ne semble savoir quels tests sont manquants.

[2016-10-30 14:44] DevHugo opened #3924 "Les tests unitaires ne passent plus depuis le changement d'heure"
Bonjour,

Le test unitaire `"test_humane_time"(ligne 118)` dans le fichier `"zds-site/zds/utils/templatetags/tests/tests_date.py"` ne passe plus à cause du changement d’horaire !

`Cause: AssertionError: u'jeudi 01 janvier 1970 \xe0 01h00' != u'jeudi 01 janvier 1970 \xe0 00h00'`

[Exemple de build qui ne passe plus.](https://travis-ci.org/zestedesavoir/zds-site/jobs/171775668)

[2016-10-30 14:51] Croal opened #3925 "Mise en place et activation d'un thème d'Halloween"
Tout est dans le titre. L'image de Clem sera remplacée par une image d'Halloween.
Voir ici : https://zestedesavoir.com/forums/sujet/7095/le-theme-dhalloween/ .

[2016-10-30 14:51] Croal commented on #3925
Je prends !

[2016-10-30 15:03] SuperFola commented on #661
Je remonte cette issue : les booléens python/js ne sont pas compatibles (True/true et False/false)

donc il faudrait plutôt un getter pour avoir une valeur js compréhensible

https://github.com/zestedesavoir/zds-site/blob/93abd4894706145228675ca9887e8eb230fd788f/templates/base.html#L167

sur cette ligne on aura soit data-is-hover="True" soit ="False" donc

j'ai modifié à la main le html, et en met

[2016-10-30 15:04] pierre-24 commented on #3924
Donc [ce test là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/templatetags/tests/tests_date.py#L105).

[2016-10-30 16:51] pierre-24 commented on #661
Ou `truc = 'true' if machin else 'false'`

[2016-10-30 18:33] LudovicDrtt commented on #1722
D'après le commit de sha `2fca311cd98039b4eb3e163a6ab1d843342b8083` c'est un caribou prénommé @Eskimon qui a écrit ces todo. Peut-être qu'avec chance il se rappelle ce qui manque.

[2016-10-30 20:23] pierre-24 commented on #3924
Voir #3468 pour l'implémentation du machin. Ceci dit, sur ma petite machine localisée en belgique (et à priori à la bonne heure).

[code]

Ce qui est pas logique: on est plus en heure d'été, donc on rajoute plus une heure o_O

[2016-10-30 20:27] #3925 closed, assigned to Croal

[2016-10-30 20:58] pierre-24 commented on #3924
Et si on faisait fausse route, en fait ?

Pourquoi est ce que epoch+42, ça fairait autre chose que 1h00 et 42 secondes le 1 janvier 1970 ? Autrement dit, qu'est ce que l'heure d'été a a voir avec tout ça ?

En fait, ce test un peu bizarre provient de [là](https://github.com/vhf/zds-site/commit/f45a539b07050f37be563fb240108e86bca26df8) (de manière légitime). Sauf que @pquentin a fait du zèle, je cr

[2016-10-31 10:11] #3924 closed, assigned to nobody

[2016-10-31 10:21] gustavi opened #3932 "Rechercher un membre avec des caractères spéciaux via l'API renvoie une erreur 500"
[Via Sentry](https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/668/) :

[code]

Pour reproduire : https://zestedesavoir.com/api/membres/?search=%s

Note : vérifier ce comportement pour le reste de l'API.

[2016-10-31 10:44] pquentin commented on #3924
Je suis dans le fuseau horaire Indian/Reunion, et voilà ce que ton code donne pour moi :

[code]

Ça veut dire qu'au timestamp 42, il était 1h du matin à Paris et 4h du matin à l'île de la Réunion. Et ça ne dépend effectivement pas du fuseau horaire au moment où on exécute le code, donc ce test était effectivement mauvais, désolé. Il aurait fallu mocker le temps pour s'assurer que cet test était v

[2016-10-31 11:32] Anto59290 commented on #3932
On avait déja noté que l'API des membres pouvait déconner avec certains caractères ici #2298 . C'est peut être lié ?

[2016-10-31 11:39] vhf commented on #661
Ou `str(x).lower()`.

[2016-10-31 11:40] vhf commented on #1722
Hésitez pas à regarder le rapport de coverage pour voir quels tests manquent.

[2016-10-31 12:01] #3910 closed, assigned to nobody

[2016-10-31 12:06] vhf commented on #3897
@Anto59290 et @LudoBike dans ce genre de cas, le rapport de coverage peut être utile. Ici on a deux commentaires dans 2 tests, ils disent qu'il faut encore tester une condition. [paf](https://coveralls.io/builds/8584164/source?filename=zds%2Fmember%2Fmodels.py#L337) :)

[2016-10-31 12:24] Anto59290 commented on #3897
Bien vu ;)

[2016-10-31 12:45] Anto59290 commented on #3724
@gustavi Ce bug ressemble beaucoup au #3893 qui vient d'être fermé, non ?

[2016-10-31 16:57] AmarOk1412 opened #3934 "Affichage de cases vides dans un tableau MD"
cf ce sujet : https://zestedesavoir.com/forums/sujet/7244/cases-vides-dans-un-tableau-markdown/

Le tableau suivant est mal rendu :

[2016-11-01 08:55] pierre-24 commented on #2872
Pour `oder_by()`, c'est fait ;)

[2016-11-01 08:55] #2872 closed, assigned to nobody

[2016-11-01 10:04] GerardPaligot commented on #3934
Ca semble être un ticket pour le projet Python-ZMarkdown plutôt.

[2016-11-01 10:46] LudovicDrtt commented on #3897
[code]

sqs -> SearchQuerySet

Du coup je renomme la variable ou je supprime juste le todo

**Edit**: Non c'est vraiment un nom nul

[2016-11-01 11:07] firm1 commented on #3934
Effectivement, et il a été [crée](https://github.com/zestedesavoir/Python-ZMarkdown/issues/107) là bas, donc on peut fermer ici

[2016-11-01 11:07] #3934 closed, assigned to nobody

[2016-11-01 11:16] LudovicDrtt commented on #3897
Du coup j'ai réfléchis un peu et j'ai trouvé ces noms
- similar_names
- similar_titles
- similarly_named
- similarly_entitled
- similar_posts

[2016-11-01 12:19] vhf commented on #3897
@LudoBike je dirais `similar_contents`. Tu veux bien en profiter pour renommer le compteur `cpt` en `counter` par exemple ? Ou autre, mais cohérent avec la codebase en anglais ?

[2016-11-01 12:32] LudovicDrtt commented on #3897
Ok pas de problème

[2016-11-01 17:03] Croal opened #3939 "Correction du bug sur le smiley "gd" alias "pinch""
Le smiley "gd" alias "pinch" est victime d'un bug qui l'empêche de s'afficher.

[2016-11-01 17:03] Croal commented on #3939
Je prend !

[2016-11-01 17:04] pierre-24 commented on #3939
ça marche. N'oublie pas de créer une branche, cette fois :)

[2016-11-01 17:04] Croal commented on #3939
D'ac (-: !

[2016-11-01 17:09] Croal commented on #3939
Et cette fois, je PR vers prod ou dev ? @pierre-24

[2016-11-01 17:10] Emeric54 commented on #3939
Vers `dev`. 👍

[2016-11-01 20:18] Croal commented on #3939
**Problème résolu**. Tout est bon !

[2016-11-02 07:26] sandhose commented on #3435
Notre stack front ne dépend plus de `lwip` depuis #3818. Elle supporte maintenant les deux dernière LTS de node, à savoir la v4 et la v6. @firm1: peux-tu confirmer que ça a réglé ton problème ?

[2016-11-02 07:31] lypwig commented on #3914
Je vous confirme que ça vient pas du changement d'heure, quand on actualise la page de suite après, on a _il y a xx secondes_.

[2016-11-02 07:37] pierre-24 commented on #3914
Bon, je propose que si `-2 < delta <2`, on mette "maintenant", une connerie du genre.

[2016-11-02 07:44] lypwig commented on #3914
Ouep

[2016-11-02 10:31] vhf commented on #3914
Je me demande s'il suffirait pas de supprimer [cette ligne](https://github.com/zestedesavoir/zds-site/blob/caec43a6f8d56f23fd3f13298aef5d3567cd8c84/zds/utils/templatetags/date.py#L45) pour résoudre le bug.

[2016-11-02 12:51] GerardPaligot opened #3941 "[v20][prod] Recherche down"
Rendez-vous sur ce [lien](https://zestedesavoir.com/rechercher/?q=android&models=tutorial) et constatez qu'il n'y a aucun résultat alors qu'il existe plusieurs tutoriels android.

[2016-11-02 12:57] vhf commented on #3941
Quand ça concerne un problème en prod, tu peux pinger ceux qui y ont accès @GerardPaligot .

Ping @gustavi . Tu peux aussi envoyer un email à zds-tech@googlegroups.com

[2016-11-02 12:58] GerardPaligot commented on #3941
On pourrait avoir un groupe GitHub pour ça ?

[2016-11-02 13:10] firm1 commented on #3941
ça ressemble fortement à https://github.com/zestedesavoir/zds-site/issues/3796

[2016-11-02 13:12] GerardPaligot commented on #3941
Bien vu @firm1. D'ailleurs, j'ai bien des résultats sur la bêta.

[2016-11-02 13:39] firm1 commented on #3941
En fait c'est pire que ça, là recherche est vraiment pétée de partout. On dirait que solr n'est pas demarré. Il y'a eu un reboot du serveur c'est peut être ça la cause

[2016-11-02 13:55] vhf commented on #3941
C'est probablement suite au reboot de cette nuit (à 00h00). Je viens de relancer la recherche sur la prod, je vous tiens au courant. J'étais pas dispo jusqu'à maintenant.

[2016-11-02 13:56] vhf commented on #3941
C'est réglé.
- Effectivement solr ne tournait pas. Je sais pas pourquoi.
- J'ai activé le démarrage automatique de solr lors du boot.
- btw @gustavi cf. http://unix.stackexchange.com/a/209368 , on en aura besoin a priori, à tester sur la beta

[2016-11-02 13:56] #3941 closed, assigned to nobody

[2016-11-02 13:59] vhf commented on #3941
FYI @GerardPaligot , @zestedesavoir/infrastructure est désormais le groupe de gens qui ont accès à l'infra. Exprès pas nommé ça `dtc` ou autre, vu que si on a des sysadmins ils en feront partie. ;)

[2016-11-02 14:18] GerardPaligot commented on #3941
Super, merci.

[2016-11-02 14:26] firm1 opened #3942 "[prod] la recherche d'un chapitre mène vers une 404"
En cliquant sur ce lien : https://zestedesavoir.com/rechercher/?q=Le+toki+pona+dans+une+coquille+de+noix&models=chapters

On obtient 2 résultats qui nous mène vers une 404.

[2016-11-02 14:35] GerardPaligot commented on #3942
La recherche semble indexer les mauvaises URL non ?

[2016-11-02 14:36] firm1 commented on #3942
On dirait bien oui

[2016-11-02 21:47] lypwig opened #3943 "Masquer la barre de recherche de la page d'accueil"
Je me permet de remonter ici [ma proposition](https://zestedesavoir.com/forums/sujet/6374/modifier-le-comportement-de-la-barre-de-recherche/#p129226) sur le forum.

L'idée est de supprimer temporairement la barre de recherche de la page d'accueil (pas celle du header) en attendant que la fonction recherche soit plus performante (#3678), qui est en l'état peu utile et peut faire fuir les nouveaux u

[2016-11-02 22:13] vhf commented on #3833
@DevHugo on a des problèmes avec les résultats de recherche sur la prod.

Ici, tu dis

Mais ce cron n'existe ni sur la beta, ni sur la prod, ni dans la doc. Peux-tu expliquer ce qu'il en est ?

Si tu as une idée pour #3942, c'est aussi volontiers. Merci :)

[2016-11-02 22:24] AmarOk1412 commented on #3458
Du coup pour update :
- [x] Paginer les galeries
- [x] Trier par nom
- [ ] Ajouter un cadre commentaire (pour les infos de licence)

Pour le dernier point je ferais surement ça dans les semaines qui suivent

[2016-11-02 22:41] vhf commented on #3942
J'ai lancé un `rebuild_index`, ce qui supprime intégralement l'index et réindex tous les contenus, et tout s'est bien passé.

Est-ce que nos URLs ont changé ces derniers mois ? Ou plutôt la méthode genre `get_absolute_url` des contenus peut-être ?

Pour documenter cette issue, voici comment reproduire le bug :
- Effectuer cette recherche : `https://zestedesavoir.com/rechercher/?q=Le+toki+pona+dans

[2016-11-02 23:59] DevHugo commented on #3833
Dans le [update.md](https://github.com/zestedesavoir/zds-site/blob/dev/update.md) tu as la commande exacte qui est « ExecStart=/opt/zdsenv/bin/python /opt/zdsenv/ZesteDeSavoir/manage.py update_index --remove --age=1 ». Cette commande update_index est la depuis le tout début du projet. La commande est expliqué [ici](http://django-haystack.readthedocs.io/en/v2.5.0/management_commands.html#update-ind

[2016-11-03 00:09] DevHugo commented on #3942
Deux idées comme ça.
- Si ton intuition est bonne, l'erreur devrait se [situé là](https://github.com/zestedesavoir/zds-site/blob/dev/zds/search/utils.py#L100). Comme ça, je vois pas de truc choquant mais ça peut-être un peu vicieux.
- Les url était bonne lors de l'indéxation de la validation officiel de l'article mais n'ont pas été mise à jours correctement lors de la seconde validation.

Si tu as

[2016-11-03 12:52] vhf commented on #3833
Ok merci @DevHugo ! Je cherchais dans les crons, vu que c'en n'est pas j'avais aucune chance.

Maintenant c'est plus clair, et effectivement faudra documenter ces timers.

[2016-11-03 20:07] #2976 closed, assigned to gustavi

[2016-11-03 20:13] vhf opened #3944 ""Recevez un courriel" lors des réponses aux MPs n'envoie pas d'email"
Je propose :

* Logger l'exception ici : https://github.com/zestedesavoir/zds-site/commit/a84535b5472a5a24b35b469267606d02b889b8f3#diff-1af03a20d7374ee52c71d2f7adee8eabR141
* Ajouter un test unitaire pour ça, ici : https://github.com/zestedesavoir/zds-site/commit/a84535b5472a5a24b35b469267606d02b889b8f3#diff-5d12128c5fbeba8aee6b3e0a51898989R11
* Corriger le bug. J'ai pas de piste.

[2016-11-06 22:53] Fumble opened #3946 ""1 réponse" mais "Aucune réponse" suite à la création d'un thread"
Bug rapporté depuis le forum par Pierre de Vésian

Bonsoir,

Je ne sais pas si ça a déjà été remonté, mes recherches ne l'ont pas indiqué. Il semble y avoir un problème de compteur lorsque l'on crée un thread sur le forum, la liste de la catégorie de forum indique qu'il y a une réponse, mais juste à droite qu'il n'y en a pas. Soit il faut transformer ce 1 en 0, soit le mot "réponse" à gauche n'est

[2016-11-07 07:09] gllmc commented on #3946
Salut !

J'avais remarqué ce bug également, mais il me semble qu'avant la v20, c'était bien le nombre de réponses qui était indiqué.

[2016-11-07 13:10] lypwig opened #3948 "Dans le menu, afficher les tags les plus utilisés en fonction du type déroulé."
Actuellement les tags les plus utilisés dans le menu ne sont pas spécifiques au type déroulé.

Comme j'en parlais [ici](https://zestedesavoir.com/forums/sujet/7250/venez-tester-les-tribunes/?page=2#p129490), ce serait que ce soit le cas (mais au final cela ne concerne pas que les Tribunes).

Par exemple, considérons ces chiffres :

|                               | Tutoriels | Articles | Tribunes

[2016-11-07 15:00] ghost commented on #3946
Dans tous les cas, même si c’est le nombre de réponses qui est effectivement rapporté, il y a un problème, puisqu’il n’y en a en fait aucune, quand « 1 réponse » est indiqué.

[2016-11-07 15:43] Fumble commented on #3946
Cela reste quand même plus logique d'avoir "1 message" + "Aucune réponse" plutôt que d'avoir "0 réponse" + "Aucune réponse" car c'est un peu redondant.

Et si on quelqu'un a déjà répondu, on aura "2 messages" + "Dernière réponse il y a XXX par YYY" (ou "Dernière réponse le XXX par YYY" si c'est plus ancien).

[2016-11-07 15:59] #3946 closed, assigned to nobody

[2016-11-07 15:59] gustavi commented on #3946
Corrigé dans #3947, merci @Fumble !

[2016-11-08 00:10] AmarOk1412 commented on #2428
Donc de nouveau valable aujourd'hui :)

[2016-11-08 21:33] AmarOk1412 commented on #3912
En fait si il doit passer par ce validateur. C'est juste qu'il devrait faire un `check_username_available=False` au validate, comme pour les password, je prend.

[2016-11-10 00:03] AmarOk1412 commented on #3682
Ça me semble réglé. Testé en version dev & locale sur Firefox OS, Android (Firefox, Nightly et Chrome) j'ai accès à la popup d'ajout.

[2016-11-10 00:13] AmarOk1412 commented on #3687
@firm1 toujours le cas ?

Je viens de tenter sur Android (Chrome/Firefox/Nightly) je n'arrive pas à reproduire.

[2016-11-10 00:29] Karnaj commented on #3389
Une petite correction doit être faite. Maintenant, à chaque fois qu’un article est revalidé (correction mineure par exemple), un nouveau message est rajouté à la discussion de la bêta pour indiquer qu’elle est fermée ([ici](https://zestedesavoir.com/forums/sujet/7097/le-metro-d-de-lyon/) par exemple). Ce serait mieux qu’il n’y en ait pas.

Il faut rajouter la condition `not topic.is_locked` à [cet

[2016-11-10 04:18] AmarOk1412 opened #3952 "Les heures ne dépendent pas du fuseau horaire local"
Lorsqu'on est dans un fuseau horaire différent de celui de Paris, les heures des messages du forum/MP/etc sont à l'heure de Paris.

Ce serait plus logique de le voir selon l'heure où est la personne.

[2016-11-10 05:15] pquentin commented on #3952
C'est connu. Pour corriger le problème, il faudrait commencer par stocker toutes les dates en UTC (https://github.com/zestedesavoir/zds-site/pull/3930#issuecomment-257265912) et activer la gestion des fuseaux horaires dans Django. Ensuite ce serait "juste" un setting à rajouter: https://docs.djangoproject.com/en/1.10/topics/i18n/timezones/#selecting-the-current-time-zone

[2016-11-10 07:16] pierre-24 commented on #3952
Oui. Après, @AmarOk1412  demande à "voir selon l'heure où est la personne", donc non pas chipoter l'heure côté Dajngo, mais pas un chipotage en JS (ou j'ai pas compris ^^ )

[2016-11-10 09:04] firm1 commented on #3687
ça a été corrigé dans la v20. Je ferme donc

[2016-11-10 09:04] #3687 closed, assigned to nobody

[2016-11-10 09:18] #3912 closed, assigned to nobody

[2016-11-10 09:51] #3682 closed, assigned to nobody

[2016-11-10 12:36] artragis commented on #3942
ça sent le tutoriel qui a changé de forme après le passage de la zep12. C'est étrange néanmoins que ce bug ait lieu.

[2016-11-10 14:03] SpaceFox commented on #3834
Si on met cet outil en place, il faut faire gaffe à ce que l'URL `/mod_pagespeed_statistics` ne soit **pas** accessible au public.

[2016-11-10 14:03] SpaceFox commented on #3952
Attention à ce que l'implémentation choisie n'interdise pas toute forme de cache, ce serait dommage.

[2016-11-10 14:06] SpaceFox opened #3955 "Empêcher les membres de pourrir la bande passante avec des avatars gigantesques"
Aujourd'hui comme on autorise les URLs externes comme avatar, rien n'empêche d'y mettre des images géantes.

Deux solutions pour empêcher ça :

1. Un robot qui passe sur les avatars et vérifie qu'ils sont toujours dans les clous, et le cas échéant remplace l'avatar du membre par un avatar par défaut et envoie un MP pour expliquer pourquoi l'avatar a été remplacé.
2. Forcer l'utilisation d'images e

[2016-11-10 14:27] cgabard commented on #3955
Quid des images postés sur les forums ?

[2016-11-10 14:32] SpaceFox commented on #3955
La c'est beaucoup plus difficile, et l'abus concerne moins de monde
(uniquement les visiteurs de la page en question, contre tous ceux qui
verront l'avatar).

On pourrait imaginer un système qui détecte les liens vers les images dans
le Markdown, qui télécharge l'image en question sur nos serveurs et qui
remplace le lien.

Ça pose des tas de problèmes, même en admettant qu'on sache faire ça
techni

[2016-11-11 11:15] artragis commented on #3904
je m'en occupe

[2016-11-11 14:22] lypwig opened #3959 "Erreur bien moche lorque reconnexion sur un autre onglet"
Pour reproduire :

- se rendre sur une page de MP ;
- sur un autre onglet, se déconnecter puis se reconnecter ;
- depuis la page de MP, envoyer un message ;
    - on obtiens une erreur 403 bien moche :

![erreur 403](https://i.imgur.com/1gUCeAg.png)

[2016-11-11 14:27] pierre-24 commented on #3959
T'es sur une instance locale, là ? Parce que sur le "vrai" ZdS, tu ne verrais jamais ça :)

[2016-11-11 14:28] lypwig commented on #3959
Non non, c'est la prod.

[2016-11-11 14:33] pierre-24 commented on #3959
Bizarre, ça. Une 403, ça ressemble normalement à ça ...

![screenshot from 2016-11-11 15 30 25](https://cloud.githubusercontent.com/assets/7889675/20218253/e812aeb6-a823-11e6-9969-7c9f98651301.png)

... Mais je confirme :o

[2016-11-11 14:34] vhf commented on #3959
Je sais pas trop comment changer l'apparence de la page 403, mais c'est le mieux qu'on puisse faire.

C'est pas joli, mais c'est le comportement attendu.

[2016-11-11 14:36] SpaceFox commented on #3959
Je soupçonne que l'une est renvoyée par Django directement, et l'autre par
Nginx.

2016-11-11 15:33 GMT+01:00 Pierre Beaujean notifications@github.com:

[2016-11-11 14:37] pierre-24 commented on #3959
Je pense aussi. Mais en mode `DEBUG=False`, on devrait jamais observer les pages "jaunes", si ?

[2016-11-11 14:52] artragis commented on #3160
@vhf @sandhose ça fait un an que ça existe, on abandonne?

[2016-11-11 14:58] vhf commented on #3959
@pierre-24 le premier screenshot dit que `DEBUG` n'est pas `True`.

[2016-11-11 15:09] pierre-24 opened #3961 "On peut se suivre soi-même via la publication d'un contenu"
Pas sur que ce soi réellement un bug, mais,

+ S'inscrire en tant que nouvel utilisateur ;
+ Constater sur la page de profil que "Vous avez 0 abonné" (tristitude/20)
+ Créer un tuto, le faire publier ;
+ Constater que  "Vous avez 1 abonné"  ... Et que le validateur ne suis pas le tuto.

Dans un sens, c'est logique: pour recevoir les notifs concernant son (ses) propre(s) contenu(s), il faut y être

[2016-11-11 15:21] #3680 closed, assigned to nobody

[2016-11-11 15:26] GerardPaligot commented on #3961
Pourquoi le compteur est faussé ? Si je me suis moi-même, il y a bien un abonné (même si c'est moi). Et limite, je préfère voir le bouton "Se désabonner" pour ne plus être notifié de mes propres publications si je le désire.

[2016-11-11 15:29] pierre-24 commented on #3961
Aussi, le résultat est le même. Je me demandais surtout d'où venait cet abonné mystérieux ;)

[2016-11-12 01:50] lypwig opened #3963 "Colorer les liens réervés au staff dans les menus"
C'est pas grand chose et ça va pas être visible pas beaucoup de monde, mais ça serait vachement plus agréable. :-)

[2016-11-12 10:19] artragis opened #3965 "Un commentaire met à jour la version brouillon du tuto"
https://zestedesavoir.com/forums/sujet/7332/date-mise-a-jour-contenu-brouillon-apres-commentaire-sur-contenu-publie/

@pierre-24 tu peux me l'assigner?

[2016-11-12 12:12] GerardPaligot commented on #3963
Tu pourrais donner un peu plus d'info ? J'ai aucune idée de quoi tu parles rien qu'en lisant ton ticket. (:

[2016-11-12 12:48] lypwig commented on #3963
En gros un truc comme ça :

![](https://i.imgur.com/dBAc0F9.png)

![](https://i.imgur.com/AH3sBTq.png)

Idem pour la page d'un membre ou d'un article. Ça rend le menu plus clair et on voit direct les action qu'on fait en tant que staff ou non.

[2016-11-12 14:11] pierre-24 commented on #3897
Ok, grâce à @artragis, on avance :)

[2016-11-12 15:09] Nautigsam commented on #3955
Une solution serait de n'autoriser le chargement d'avatar que depuis le site et vers des services où on peut contrôler la taille de l'avatar (comme Gravatar ou équivalents).

[2016-11-12 15:09] vhf commented on #3881
Les pages d'admin qui posent problème sont :
- forum/post
- gallery/usergallery
- gallery/image
- member/karmanote
- member/profile
- member/ban
- member/tokenregister
- member/tokenforgotpassword
- mp/privatetopic
- mp/privatetopicread
- mp/privatepost
- notification/subscription
- notification/notification
- pages/groupcontact
- tutorialv2/publishablecontent
- tutorialv2/publishedcontent
- tutor

[2016-11-12 15:14] tleb commented on #3955
La première solution n'est pas réalisable ; certains membres ont des avatars choisis dynamiquement (e.g dab).

[2016-11-12 15:16] #3504 closed, assigned to nobody

[2016-11-12 15:16] vhf commented on #3504
Feature, not bug.

[2016-11-12 15:45] pierre-24 commented on #3227
Et c'est réglé :)

[2016-11-12 15:45] #3227 closed, assigned to nobody

[2016-11-12 15:53] pierre-24 commented on #3389
Merci :)

[2016-11-12 16:13] #3943 closed, assigned to artragis

[2016-11-12 17:06] gasche commented on #3072
Le fait que les tags et le titre soient dans le même champ est un gros problème actuellement, car la limite de longueur s'applique aux deux. J'ai voulu créer un topic aujourd'hui et j'ai du retirer un tag pour avoir la place de mettre mon titre.

À defaut d'augmenter la longueur maximale des titres (je ne vois pas de bonne raison de ne pas le faire; les gens savent qu'un titre court est en général

[2016-11-12 18:21] AmarOk1412 commented on #711
Coucou,

je remonte l'issue parce que je la trouve utile. J'ai un peu cherché pour voir ce qu'on peut faire. Selenium peut-être mis en place avec Travis CI en passant par Sauce Labs :
1. https://saucelabs.com/blog/run-your-selenium-tests-completely-in-the-cloud-using-travis-ci-and-sauce-labs
2. https://docs.travis-ci.com/user/gui-and-headless-browsers/

Note : Sauce labs est gratuit pour les proje

[2016-11-12 18:53] #3895 closed, assigned to pierre-24

[2016-11-12 19:23] artragis commented on #3906
Salut, te souviens-tu du message qui était affiché (succès/erreur)?
Ces tutoriels dataient de quand?

@vhf peux tu regarder ce qu'il se passe sur les tutoriels 557, 560 et 1523?

[2016-11-12 19:34] artragis commented on #3901
@vhf @gustavi il me semble que ça a été corrigé non?

[2016-11-12 19:37] artragis commented on #3640
ayant réussi à suivre un contenu sur la v20 je dirais que c'est résolu @vhf @gustavi

[2016-11-12 19:38] artragis commented on #3634
tout comme sur #3640 le bug est corrigé : bien que l'erreur ne soit pas la même l'idée vient d'une ancienne condition qui semble avoir été enlevée. DOnc là je dirais que c'est corrigé @gustavi @vhf

[2016-11-12 20:07] artragis commented on #3553
J'ai la vague impression que cela est dû non seulement à un problème de nom mais aussi de slug, comme si il avait créé un article et un tuto avec le même slug. Je pense que cela est dû au fait qu'il en a importé un depuis l'archive tiré de l'article initial.

Faudra que je revérifie car j'ai rien trouvé de probant dans le code sinon un manque de factorisation.

[2016-11-12 20:11] GerardPaligot commented on #3072
En fait, j'ai développé ça et ça sera dans la v21 :

<img width="979" alt="capture d ecran 2016-11-12 a 21 11 10" src="https://cloud.githubusercontent.com/assets/1913901/20240594/a08be2ca-a91c-11e6-90f4-37af009ae032.png">

[2016-11-12 20:24] rezemika commented on #3906
Salut.

Malheureusement, non. Ce problème est apparu pour la dernière fois en mi-septembre, mais il ne me semble pas qu'il y ai eu une différence manifeste par rapport à une erreur "normale", si je puis dire. Désolé de ne pas pouvoir être plus précis.

Voici tout de même les dates que je peux donner pour ces tutos :
- 557 : Créé et envoyé en bêta le 18 septembre 2015. Je n'ai pas la date de suppre

[2016-11-12 20:39] artragis commented on #3906
Ok pour les deux premiers, tu as le lien vers les topic de béta?

Le 12/11/2016 à 21:24, Michael Marx a écrit :

[2016-11-12 21:10] rezemika commented on #3906
Bien sur, les voici :
- 557 : [https://zestedesavoir.com/forums/sujet/4051/puissances-exposants-et-racines-carrees/](https://zestedesavoir.com/forums/sujet/4051/puissances-exposants-et-racines-carrees/)
- 560 : [https://zestedesavoir.com/forums/sujet/4822/quest-ce-quune-fonction-mathematique/](https://zestedesavoir.com/forums/sujet/4822/quest-ce-quune-fonction-mathematique/)
- 1523 : [https://zest

[2016-11-12 22:55] SpaceFox commented on #3955
Je tiens à préciser que je serais très malheureux si on m’empêchait d'avoir
un avatar aléatoire :p

2016-11-12 16:14 GMT+01:00 tleb notifications@github.com:

[2016-11-12 22:56] cgabard commented on #3955
On peut implanter ça de façon native si la seule utilisation des URL
externe sont les avatars aléatoire qui ont l'air assez populaire sur zds

Le sam. 12 nov. 2016 23:55, SpaceFox notifications@github.com a écrit :

[2016-11-13 07:08] pquentin commented on #3952
@pierre-24 En fait Django est capable de renvoyer les dates dans des fuseaux horaires différents selon un setting défini par les utilisateurs. Ils disent qu'on ne peut pas déterminer automatiquement le fuseau horaire de quelqu'un, donc il faut lui demander. (Je ne sais pas à quel point c'est vrai, surtout avec JS.)

Supposons qu'il faille effectivement demander : ça ne s'appliquera qu'aux gens qui

[2016-11-13 11:36] Nautigsam opened #3972 "Documentation incorrecte pour l'installation sur Windows"
En essayant d'installer ZDS sur ma machine Windows, j'ai relevé quelques erreurs dans la documentation :

- Dans la doc du [processus d'installation](http://zds-site.readthedocs.io/fr/latest/install/backend-windows-install.html), l'adresse de setuptools est mauvaise, le projet a été déplacé sur GitHub et la bonne adresse est ``https://bootstrap.pypa.io/ez_setup.py``.
- Dans le README, la commande

[2016-11-13 11:43] GerardPaligot commented on #3972
Ce sont les seuls problèmes que tu as rencontré sur Windows ?

[2016-11-13 11:54] Nautigsam commented on #3972
Oui, tout est bon à part ça. L'instance se lance bien.

[2016-11-13 11:59] GerardPaligot commented on #3972
C'est plutôt une très bonne nouvelle alors parce que ça fait longtemps que nous n'avons plus de contributeurs sous Windows. Ravi de te compter parmi nous ! ^^

[2016-11-13 14:42] Nautigsam opened #3974 "Photo de profil par défaut"
Actuellement, si un utilisateur n'a pas de photo de profil, tous les espaces où devrait apparaître la photo sont vides, ce qui est assez bizarre :

https://framapic.org/WsjVnIdGcUty/Wcx9yxPsiB62.PNG
https://framapic.org/CVdzQQufraVB/poRNe3UMZ7HC.PNG

Peut-être devrait-on avoir une photo de profil par défaut, comme partout ailleurs (Facebook, Google, Skype, etc.)

[2016-11-13 14:45] tleb commented on #3974
C'est sur une instance local de ZdS ça, non ?

Il me semble que des avatars sont générés pour les nouveaux sur la prod.

[2016-11-13 14:46] WinXaito commented on #3974
Si je ne dis pas de bêtise, pour les nouveaux membre un avatar aléatoire est généré par Gravatar. comme Github.

[2016-11-13 14:47] Nautigsam commented on #3974
Pourquoi on ne fait ça qu'en prod ?

[2016-11-13 14:49] GerardPaligot commented on #3974
On ne fait pas ça que en prod. Sur ma version en locale, des avatars sont aussi générés.

[2016-11-13 14:50] tleb commented on #3974
P-ê que c'est parce que c'est un compte généré par les fixtures ?

[2016-11-13 14:52] GerardPaligot commented on #3974
Sans doute pas, mes comptes générés par des fixtures ont aussi des avatars générés.

[2016-11-13 15:19] Nautigsam commented on #3974
Ah au temps pour moi, c'était un problème lié à HTTP/HTTPS. Etant donné que j'utilise l'extension HTTPS Everywhere, ça devait perturber le chargement de l'image sur Gravatar.

[2016-11-13 15:19] #3974 closed, assigned to nobody

[2016-11-13 16:21] Nautigsam opened #3975 "L'indexation des Topics ne marche plus"
Quand j'essaye d'indexer les fixtures avec ``python manage.py rebuild_index``, j'obtiens cette erreur : ``haystack.exceptions.SearchFieldError: The model '<Topic: JS vs jQuery>' combined with model_attr 'subtitle' returned None, but doesn't allow a default or null value.``.
Après un peu d'investigation, il s'avère que le topic en question n'a pas d'attribut "subtitle". Pourtant, il est marqué comm

[2016-11-13 17:15] DevHugo commented on #3975
C'est uniquement avec les données de test. Il me semble.  Tu peux pas le reproduire en tant que membre de base.

Faudrait tester le cas ou tu met que None comme sous titre, si tu as le temps.

[2016-11-13 19:02] vhf commented on #3975
Si c'est un problème de fixture, faut régler les fixtures. Ajouter simplement un sous-titre vide dans les fixtures.

[2016-11-13 19:26] pierre-24 commented on #2883
Et après plus d'un an, c'est fait :)

[2016-11-13 19:26] #2883 closed, assigned to nobody

[2016-11-14 00:02] AmarOk1412 commented on #711
Ouai du coup juste pour dire que je vais travailler sur ça

[2016-11-14 14:32] Nautigsam commented on #3975
Comme vous pouvez le voir [ici](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/models.py#L169), le modèle est configuré avec "null=True" mais pas l'[index](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/search_indexes.py#L16). Peut-être qu'il faudrait avoir pareil pour l'un et l'autre avant de modifier les fixtures.

[2016-11-15 13:07] Anto59290 commented on #2298
Alors j'ai jete un coup d'oeil de ce cote. Le code de la prod fait un appel sur : https://zestedesavoir.com/api/membres/?search=%&a quand on fait une recherche avec &a comme destinataire. Avec https://zestedesavoir.com/api/membres/?search=%26a on retrouve bien le bon resultat. En terme de correstion de bug peut etre que encoder la chaine du pseudo en UTF8 avant de le passer a l'API serrait suffisa

[2016-11-15 13:10] vhf commented on #2298
https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/741/

[2016-11-15 13:11] Anto59290 commented on #3932
J'ai ajoute une piste de resolution dans le ticket lie. N'ayant pas d'env en ce moment je vais peut etre essayer directement sur GH avec un test associe.

[2016-11-15 13:16] Anto59290 commented on #2298
@vhf Je crois que je n'ai pas les droits ;)

[2016-11-15 13:27] vhf commented on #2298
Oui normal, c'était pour référence.

Ici la stacktrace :

[code]

[2016-11-15 15:27] finkiki opened #3977 "Membre banni : mobile vs pc"
J'ai été banni il y a quelques jours. Malgré ça je reste connecté sur la version mobile (pas sur la version pc) et je peux continuer à envoyer des messages privés. Un admin m'a fait passer du groupe "Banni" au groupe "Dead" sans aucun effet visiblement : je peux toujours envoyer des messages privés.
Un membre banni devrait être automatiquement déconnecté.

[2016-11-15 15:31] DevHugo commented on #3977
On peut pas dire que tu sois rancunier ^^ . C'est en cours de résolution: [https://github.com/zestedesavoir/zds-site/pull/3976](https://github.com/zestedesavoir/zds-site/pull/3976).

[2016-11-16 08:49] #3977 closed, assigned to nobody

[2016-11-16 08:49] vhf opened #3979 "Renommer Forum.group -> Forum.groups"
Ce champ devrait être pluriel : https://github.com/zestedesavoir/zds-site/blob/85086fe9c56542e4a3243840ebe9879f84f96713/zds/forum/models.py#L85-L88

[2016-11-16 12:21] #3904 closed, assigned to artragis

[2016-11-16 12:22] gustavi commented on #3881
Je rajouterai qu'ajouter la ligne pour la recherche à ces classes serai **très pratique** :)

[2016-11-16 15:11] viki53 opened #3980 "Utiliser des service workers pour notifier"
| Q                             | R
| ----------------------------- | -------------------------------------------
| Correction de bugs ?          | non
| Nouvelle Fonctionnalité ?     | oui
| Tickets (_issues_) concernés  | —

Ce serait cool de permettre une synchronisation en temps réel de certaines choses, à commencer par les notifications par exemple.

En installant un ServiceWorker on pourrait

[2016-11-16 15:23] gustavi commented on #3980
Normalement on pourra faire ça assez facilement dans Django 2 ! Bon il semblerait que ça ne soit pas sûr à 100% mais on pourra facilement utiliser Channels https://www.djangoproject.com/weblog/2016/sep/09/channels-adopted-official-django-project/

[2016-11-18 08:49] cgabard opened #3984 "Mettre à jour la liste des langages avec coloration syntaxique du site."
La liste des langages mis en exemple sur le site date un peu :

HTML, CSS, Javascript, PHP, JavaFX, ColdFusion, Actionscript 3, Perl, SQL, XML, C, C++, C#, Java, Delphi, Python, Ruby, Pascal, Visual Basic, VB.NET, Bash, Diff, Erlang, Scala, Groovy, PowerShell, Autre

Je pense qu'un petit nettoyage ne ferai pas de mal. Je propose de virer ColdFusion, Actionscript 3, Delphi, Pascal, Visual Basic que

[2016-11-18 09:38] cgabard commented on #3984
Au passage c'est probablement un issue facile pour un débutant qui veut se balader un peu dans le code.

[2016-11-18 09:55] malnuxstarck commented on #3984
Je m'en charge :D

[2016-11-18 10:21] firm1 commented on #3984
Je ne sais pas pour Erlang, mais JavaFx, Scala et Groovy me seraient utile. Ce sont des technos vivantes et modernes.

Est-ce que ça nous coute quelque chose de supporter le trop de langage ?

[2016-11-18 10:40] cgabard commented on #3984
La question n'est pas de virer leur support mais de la liste de l'interface.

Si tu lis bien ma phrase, je ne les classes pas dans les vieux langages. Le but n'est pas de virer le support. Il est déjà possible de colorer l'arduino, simplement il n'est pas dans cette liste.

Fondamentalement on peut pas mettre tous les langages supportés (il y en a trop, cf la doc de pygments). Une liste trop plein

[2016-11-18 10:51] firm1 commented on #3984
Ah, je crois que je n'avais pas bien compris ton issue. En fait l'idée est de modifier la liste qui est présente dans l'éditeur js. Je pensais que tu voulais le virer dans le markdown.

Je suis pour du coup, désolé.

[2016-11-18 11:56] cgabard commented on #3984
Oui, j'ai fait l'issue que pour l'éditeur js. Côté mardown c'est pigments
qui gère et j'ai aucune raison de les virer.

Non c'est vraiment pour l'éditeur, lui donner un petit coup de jeune à la
liste et rajouter ceux qui sont réellement utilisés sur le site.

Le ven. 18 nov. 2016 11:51, firm1 notifications@github.com a écrit :

[2016-11-18 20:34] Fumble commented on #3984
Je tiens à mon Delphi (et Pascal aussi du coup) !!! Çà peut être utile si quelqu'un a un problème avec l'installateur InnoSetup aussi. Mais je t'accorde que c'est très peu utilisé sur le fofo.

[2016-11-18 22:20] cgabard commented on #3984
Encore une fois, ça n'enlève pas le support du zmarkdown, juste de l'
interface. Après si tu y tiens on peut garder le Delphi mais garder les
deux à peu de sens

Le ven. 18 nov. 2016 21:35, David R. notifications@github.com a écrit :

[2016-11-18 22:46] WinXaito commented on #3984
Mais il serait bien d'indiquer tous les langages disponibles  (ou au moins une liste plus complète que celle de l'éditeur) dans le poste de l'aide Markdown, car de mémoire on ne retrouve cette liste nul part.

[2016-11-18 22:58] tleb commented on #3984
Nul part sur ZdS. ~~Je pense qu'ajouter un lien sur l'article sur la rédaction en Markdown vers [le lien](http://pygments.org/docs/lexers/) posté par @cgabard est le plus simple. Ça évite de devoir tenir à jour la liste.~~

Edit : la liste est déjà cité, comme on peut s'y attendre, [ici](https://zestedesavoir.com/tutoriels/249/rediger-sur-zds/#6-4780_code).

[2016-11-18 23:04] WinXaito commented on #3984
Oui enfin on a un lien vers la liste, je trouve pas ça très pratique...

[2016-11-18 23:15] tleb commented on #3984
Je passe mon tour pour update la liste à chaque modif de pygments. :worried:

[2016-11-19 08:19] poulp commented on #3868
Je viens de tester et tout marche très bien

[2016-11-19 11:20] tleb commented on #3868
Parfait, c'est que la PR est bonne. On peut fermer l'issue ?

[2016-11-19 12:04] Bullesdair opened #3988 "Problème d'accès à mon tutoriel"
Bonjour,

Mon compte est "Pincée d'air" j'ai écris le tutoriel : [https://zestedesavoir.com/tutoriels/1501/les-sources-du-droit-du-travail/](https://zestedesavoir.com/tutoriels/1501/les-sources-du-droit-du-travail/), qui vient juste d'être validé ce matin.

Quand j'accède à la page du tutoriel (lien ci-dessus) j'ai une erreur 500 (seulement quand je suis connecté à mon compte). Je ne peux pas accé

[2016-11-19 12:06] vhf commented on #3988
Stack trace:

[code]

Notez que cette stack trace provient des logs serveur, elle ne parvient pas à Sentry, probablement à cause du HTTP200 au lieu du HTTP500.

Je pense que ce sera corrigé par la PR https://github.com/zestedesavoir/zds-site/pull/3954

[2016-11-19 13:23] Fumble commented on #3984
Vu la longueur de la liste, mieux vaut garder le lien plutôt que de surcharger la page avec une liste de 10000 langages.

[2016-11-19 13:25] cgabard commented on #3984
D'autant qu'elle change à chaque version de pygments.

Ceci dit le plus important est l'éditeur pour les débutants et nouveau.
Pour les habitués ils peuvent trouver plus facilement. Les nouveaux doivent
trouver facilement ce qu'ils cherchent. D'où le fait que j'insiste pour
Arduino qui est très populaire par les nouveaux

Le sam. 19 nov. 2016 14:23, David R. notifications@github.com a écrit :

[2016-11-19 17:01] cgabard commented on #3984
Une bonne petite modif serait que sous la liste il y ai un champ texte qui permet de trouver un langage par auto-completion.

Ce serait pas si compliqué, je peux faire une commande Django qui serait lancé à la mise en prod et qui produirait la liste des langages dispo de façon statique en js. Il y aurait juste à faire un peu dev js pour faire une recherche dedans.

[2016-11-20 14:34] vhf opened #3996 "[tribunes] Gestion des auteurs des billets"
#3993

Reproduire :

1. Créer un billet, y ajouter Clem comme auteur, publier le billet
2. S'enlever des auteurs
3. On est toujours dans les auteurs, mais le billet n'est plus listé dans ses billets

[2016-11-20 16:07] #3290 closed, assigned to nobody

[2016-11-20 16:15] #3984 closed, assigned to nobody

[2016-11-20 16:21] #3972 closed, assigned to nobody

[2016-11-20 23:02] Karnaj commented on #3200
Dans la version actuelle, la redirection vers la version hors-ligne se fait également à partir des parties et des chapitres, or il peut y avoir eu un remaniement dans la version brouillon (parties/chapitres supprimés). Il se passe quoi dans ces cas-là ? Je pense qu’il faudrait avoir une redirection vers le brouillon du tutoriel et non vers celui du chapitre et ce même si on est dans un chapitre. E

[2016-11-21 10:07] Nautigsam commented on #3975
Up.

[2016-11-21 15:38] DevHugo commented on #3975
C'est quoi la question ?

Oui, y'a une incohérence on est tous d'accord.

Le premier point est de corriger cette incohérence entre l'index et le modèle. Il faut aussi généré le fichier de migration correspondant pour la base de donnée (`python manage.py makemigrations`).

Le deuxième point est de corriger les fixtures.

Le troisième point est de savoir si on peut reproduire le souci en tant qu'uti

[2016-11-21 20:25] azze-r commented on #3914
En local, il m'est impossible de reproduire le bug, il ne survient qu'en prod apparement :

Quand j'édite un message du fofo en local :
`" Édité par user il y a une seconde "`

Quand j'édite un message du fofo sur zds en prod :
`"Édité par Boblinux Dans le futur"`

[2016-11-21 20:38] #3771 closed, assigned to vhf

[2016-11-21 20:39] #3653 closed, assigned to nobody

[2016-11-21 20:39] #3640 closed, assigned to nobody

[2016-11-21 20:43] vhf commented on #3477
#3881

[2016-11-22 01:36] AmarOk1412 commented on #3996
D'ailleurs c'est moi ou ça marche aussi pour les tutos/mps ?

EDIT: je confirme pour moi ça se fait sur MP/Tutos (articles aussi je suppose) ce qui en soit est moins génant vu que c'est pas public en premier temps contrairement aux billets

[2016-11-22 11:42] artragis opened #4001 "Le compte des messages modérés prend en compte les messages automasqué"
Il y a pleins de cas dans la vie de zds où une personne peut masquer un de ses messages (exemple : un tutoriel en béta test, on peut vouloir marquer certaines mise à jour de béta pour plus de lisibilité). Pourtant ces messages sont comptabilisés comme "modérés" dans le profile.

[2016-11-22 12:35] artragis commented on #3965
@pierre-24 merci de fermer.

[2016-11-22 12:57] #3965 closed, assigned to artragis

[2016-11-22 16:22] AmarOk1412 commented on #711
Hop, petite mise à jour pour changer un peu avec mes premières tentatives :

# Ce qu'on souhaite (AMHA)

Je pense qu'ici personne n'a envie qu'entre chaque commit on se tape 30 minutes voir plus (beaucoup plus) de tests. Clairement c'est pas pratique. Le problème est que Selenium est lent, et que même en parrallélisant les suites, le temps sera pas négligeable du tout. En plus, alourdir le process

[2016-11-22 20:05] tleb opened #4006 "Retirer "Signaler" lorsque le message est masqué"
FougereBle en a parlé sur [le forum](https://zestedesavoir.com/forums/sujet/7403/masquer-signaler-le-message-quand-celui-ci-est-masque/). J'ai pas trouvé d'issue donc je poste.

Je dois pouvoir proposer une PR ce soir ou demain, ça doit pas être bien compliqué.

[2016-11-22 20:07] tleb commented on #4006
Oups, c'est le comportement attendu.

[2016-11-22 20:07] #4006 closed, assigned to nobody

[2016-11-23 00:34] Anto59290 commented on #2298
Sur une install locale ca ne cause pas d'erreur et fonctionne bien. Est ce que ca peut venir de la base de donnees et ou de l'infra ?

[2016-11-23 09:58] #3665 closed, assigned to nobody

[2016-11-23 09:58] vhf commented on #3665
Après moult péripéties… 👍

[2016-11-23 13:30] lypwig opened #4008 "Ajouter un bouton au menu messagerie pour envoyer un MP"
Actuellement, pour envoyer un MP il faut d'abord cliquer sur le bouton de messagerie, puis *toutes les conversations*, puis *Nouvelle conversation*.

Pour simplifier cela, on pourrait ajouter un bouton au menu de messagerie pour envoyer un message privé. Je pense à quelque chose comme ça :

![](http://i.imgur.com/BG6ADbh.png)

[2016-11-23 14:41] malnuxstarck commented on #4008
Salut ! Est ce que tu peux poster sur le forum suggestions , beaucoup de mondes pourra ainsi donner un avis . Merci :) [Ici](https://zestedesavoir.com/forums/communaute/bug-suggestions/)

[2016-11-23 16:47] Emeric54 commented on #4008
@malnuxstarck Étant donné que c'est une bonne idée d'évolution, ce n'est pas nécessaire.

[2016-11-23 16:50] vhf commented on #4008
Je vais créer un tag "PO review" pour que le PO ait un point d'entré sur le repo. Ce fonctionnement est sujet à modification, et le nom du tag aussi. Ce poste est nouveau et on ne sait pas encore quel le sera le meilleur moyen de collaborer. Pour le moment on va faire comme ça.

[2016-11-23 17:43] tleb opened #4009 "last_visit dans GET /api/membres/"
Pourquoi es-ce qu'il n'y a pas de champ `last_visit` dans `GET /api/membres/` ? C'est pourtant une info publique qui est accessible sur la page de profil. C'est disponible pour `GET /api/membres/mon-profil/`.

[2016-11-23 18:42] lypwig commented on #4008
Ah oui, [bonne idée](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=39#p115114) ;)

Comprend pas.

[2016-11-23 19:54] vhf commented on #4008
Sur ZdS, nous avons décidé d'avoir un PO, ça a été discuté ici : https://zestedesavoir.com/forums/sujet/7185/frankenstein-nous-guette/

Pour qu'il puisse prendre ses fonctions en douceur, j'ai créé un tag que j'ai nommé `PO feedback`, comme tu vois entre mon dernier commentaire et ton dernier commentaire. Le nom de ce tag est sujet à modification. Le fonctionnement de la collaboration entre PO et

[2016-11-23 20:28] pierre-24 commented on #3917
Et voilà, merci @tleb :)

[2016-11-23 20:28] #3917 closed, assigned to nobody

[2016-11-23 20:42] pierre-24 commented on #3869
Et c'est passé, merci @AmarOk1412 :)

[2016-11-23 20:42] #3869 closed, assigned to nobody

[2016-11-23 21:00] pierre-24 commented on #3200
Et voilà :)

[2016-11-23 21:00] #3200 closed, assigned to nobody

[2016-11-23 23:00] lypwig commented on #4008
Aaaah mais faut lui trouver un autre nom à ce type là, moi PO ça me fait direct penser à Post Original (aka OP en anglais), du coup je comprenais plus rien... (d'ailleurs [j'avais proposé RIP](https://zestedesavoir.com/forums/sujet/7185/frankenstein-nous-guette/?page=3#p129304) :P)

[2016-11-24 08:57] WinXaito opened #4011 "Notification persistante"
Bonjour,

Je n'ai pas retrouver l'issue du problème, donc j'ouvre celle  ci pour être sûr que j'ai été "victime" du même bug.

Un sujet à été créer  (https://zestedesavoir.com/forums/sujet/7416/probleme-de-securite-sur-le-tutoriel-creez-une-api-rest-avec-symfony-3/) et j'ai été notifier car je suis abonné au forum en question, et comme le sujet mène sur une 403, ma notification me pars plus...

[2016-11-24 12:42] artragis commented on #3961
Du coup j'ai envie de dire que comme c'est un comportement voulu, faut le fermer non?
Pour l'instant on peut pas faire beaucoup mieux.

[2016-11-24 12:45] artragis commented on #3711
@vhf sur #3606 tu m'as dit que nginx forçait le https, donc on peut fermer?

[2016-11-24 12:46] artragis commented on #3634
@gustavi @vhf

[2016-11-24 12:52] artragis commented on #3565
Erreur répliquée, je crée un fix

[2016-11-24 13:51] pierre-24 commented on #3961
Ça a beau être un comportement "voulu", ça dépend comment tu fixera #3954 :)

[2016-11-24 14:07] vhf commented on #3711
Oui merci, bien vu @artragis !

[2016-11-24 14:07] #3711 closed, assigned to nobody

[2016-11-24 14:07] #3634 closed, assigned to nobody

[2016-11-24 19:39] pierre-24 commented on #3565
Et voilà :)

[2016-11-24 19:39] #3565 closed, assigned to nobody

[2016-11-24 20:51] artragis commented on #4011
en cours de correction sur #3954

[2016-11-25 08:33] artragis opened #4013 "[Préparation py3] Préparer nos classes de modèles pour qu'elles aient un __str__"
Utilisation de `__future__.unicode_literals` et de `@python_2_unicode_compatible`.

Cela permettra d'adoucir la migration vers py3 et c'est pas compliqué à faire.

Merci de me l'assigner. (@vhf @gustavi )

[2016-11-25 13:31] Karnaj commented on #2910
@Anto59290 t’es toujours dessus ?

[2016-11-25 13:49] rezemika opened #4014 "Tutoriel sans auteur"
Le tutoriel sur la formation du système solaire semble être dépourvu d'auteur. Dans le tuto en lui-même, la ligne listant les auteurs est vide, et aucun n'apparait non plus quand on le regarde depuis la liste des tutos.

Voilà le lien : https://zestedesavoir.com/tutoriels/378/la-formation-du-systeme-solaire/

![capture d ecran_2016-11-25_14-45-46](https://cloud.githubusercontent.com/assets/1690660

[2016-11-25 16:15] Anto59290 commented on #2910
Negatif ;)

[2016-11-25 16:39] artragis commented on #4014
Existant [ici](https://github.com/zestedesavoir/zds-site/issues/3680) et corrigé pour la v21 (à ajouter dans "version de développement" @vhf.

[2016-11-25 18:24] #4014 closed, assigned to nobody

[2016-11-25 18:25] #4001 closed, assigned to nobody

[2016-11-25 18:25] vhf commented on #4001
Merci à tous !

[2016-11-25 19:57] Karnaj commented on #2910
Je vais essayer de m’en occuper alors.

[2016-11-27 20:35] pierre-24 commented on #3879
Bon, personne n'as ce problème, en fait ? Je dois être sur un bug bizarre, du coup o_O

[2016-11-27 21:52] pierre-24 commented on #3918
À priori ok :)

[2016-11-27 21:52] #3918 closed, assigned to nobody

[2016-11-27 21:52] pierre-24 commented on #3988
À priori ok :)

[2016-11-27 21:52] #3988 closed, assigned to nobody

[2016-11-27 21:53] pierre-24 commented on #4011
À priori ok :)

[2016-11-27 21:53] #4011 closed, assigned to nobody

[2016-11-27 22:35] gasche commented on #3897
Il faudrait rajouter le label "Facile" sur cette issue car elle regroupe de nombreuses tâches dont certaines sont bonnes pour une première contribution.

[2016-11-27 23:44] DevHugo commented on #3441
Quelques remarques:
 - La commande suivante passe sans probléme, on n'a plus vraiment besoin du header "content-type".
[code]

MAIS si on exécute la requête suivante donnée par la documentation qui est incorrecte: ` curl -X POST -d "client_id=CLIENT_ID&client_secret=SECRET_ID&grant_type=password&username=admin&password=admin" https://zestedesavoir.com/oauth2/token/`, on obtient `{"error": "unsuppo

[2016-11-28 02:54] gasche opened #4018 "Tests super longs à se lancer; utiliser pytest ?"
## Le contexte

Sur ma machine un test de `zds/gallery/tests/tests_views.py`
échoue. J'aimerais comprendre le problème mais pour cela j'ai besoin
de pouvoir lancer les tests souvent pour voir ce qui se passe.

(De manière générale c'est important que les tests soient facilement
lançables et un peu adaptables/spécialisables/configurables par les
contributeurs infréquents qui ne comprennent pas la v

[2016-11-28 07:10] pierre-24 commented on #4018
Y'a [d'autres options](http://pytest-django.readthedocs.io/en/latest/database.html), mais effectivement, pourquoi pas :) @vhf ?

[2016-11-28 09:40] FanJiyong commented on #3887
Salut à tous,

Moi j'aurais tendance à vouloir tous le temps le dernier message et au cas je remonte toute la conversation pour avoir les autres message.

Mais c'est sans doute un comportement que j'ai acquis parce qu'aucun  autre forum (que j'utilise) ne propose cette fonctionnalité.

Ce que je propose :
- Si on clique sur "dernier message"
-- Si l'utilisateur est connecté ça garde le comportemen

[2016-11-28 10:23] FanJiyong commented on #4008
Yop yop,

Ok sur le principe.

Par contre pour moi le bouton n'est pas bien placé.
1. Je pense que le bouton "toutes les conversations" doit rester en bas.
2. Je pense qu'il serait préférable d'ajouter une icônes sur ce nouveau bouton
3. Je mettrais bien ce bouton en haut, en face de "Messagerie privée"

Y'a pas de message sur le forum qui concerne cette fonctionnalité. Tu t'en charge Roipoussiere

[2016-11-28 10:32] FanJiyong commented on #3615
Salut à tous,

Bon y'a un PO feedback, du coup je répond :

Oui c'est bizarre faudrait le mettre en bas de liste…

facile ? pas facile ? au final vous avez la réponse ?

La dernière réponse date de mai, est-ce qu'il vous manque des éléments pour pouvoir avancer ?

[2016-11-28 10:51] lypwig commented on #4008
[Si](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=39#p115114).

[2016-11-28 10:53] FanJiyong commented on #3341
Salut à tous,

Je suis en accord avec le fait que pour le moment ça n'est pas hyper visuel, et sans ce poste, je n'aurais sans doute jamais remarquer la différence de couleur….

Par contre, j'aimerais en savoir plus sur l'usage. Dans l'exemple ci-dessus il ne s'agit que de message issus des notifications, je suppose que c'est aussi le cas pour le lien "dernier message" (je suis sur firefox au bure

[2016-11-28 11:04] FanJiyong commented on #4008
Pardon mais je parlais d'un topic à part… comme c'est une nouvelle fonctionnalité de ce menu il me semblais pas mal d'éviter de flooder "Les petits pixels... " et de "présenter"/avoir un retour, sur cette nouvelle fonctionnalité, à la communauté :)

[2016-11-28 12:59] FanJiyong commented on #3702
Salut !

La navigation chez l'utilisateur à l'origine de cette demande se fait via un plugin.

Le changement concerne l'ajout de l'attribut "rel", et c'est très bon pour le référencement et l'ergonomie / accessibilité.

http://www.w3schools.com/tags/att_a_rel.asp

Ça me semble pas très complexe et très important de mettre ça en place.

Gros poutouxxxxx

[2016-11-28 13:44] FanJiyong commented on #3811
Salut,

1. Etre notifier de quoi ? des nouveautés sur un contenu ?
2. Ok, réutiliser l'iconographie de l'enveloppe qu'on utilise déjà sur le forum.
3. Est-ce qu'on aurait pas tendance a faire ça aussi pour les "catégories" et les "tags" ?

[2016-11-28 14:04] EGabbro commented on #3811
Salut,
Pour être train de (finir) d'implémenter ça, je peux répondre.
Un peu partout, il y a deux boutons de suivi : suivre et suivre par mail. Mais pas sur les contenus (seulement "suivre"), ce ticket a donc pour but d'homogénéiser la situation. ;)
On sera notifié des nouveaux commentaires sur le contenus (pas du reste, je crois ; le comportement sera le même que le suivi par notification, mais p

[2016-11-28 14:34] FanJiyong commented on #3811
Salut,

Ouais c'est ce que j'ai vu aussi. Que du suivi des nouveaux commentaire pas du contenu ? C'est ce que fait le premier lien ?

J'aimerais qu'on soit 100% de la fonctionnalité histoire d'être sur du terme qu'on utilise, afin que ça ne soit pas trompeur pour l'utilisateur.

Sur le forum ça me semble limpide, mais ici pour du contenu beaucoup moins.

Tu as raison ! On verra ça dans une autre é

[2016-11-28 15:36] gasche commented on #4018
Quand tu dis "d'autres options", qu'est-ce que tu as en tête ? J'ai essayé de jouer avec `--reuse-db` mais chez moi ça n'accélère rien du tout, comme `--keepdb` côté `manage.py test`.

J'enverrai une PR quand j'aurai du temps.

Sinon, pas lié, mais si vous avez un avis à donner sur le topic [Organiser un défi ou sprint "première contribution au code de ZdS" ?](https://zestedesavoir.com/forums/suje

[2016-11-28 16:25] Anto59290 commented on #3811
Pour le suivi des tags c'est note ici : #1264

[2016-11-28 16:42] pierre-24 commented on #4018
Ben ça m'as l'air de juste accélérer quand on lance plusieurs fois le même test, comme dans une situation ou tu crée ou corrige un test par essais-erreur :) (donc pas forcément à mettre dans `make`, quoique).

[2016-11-28 16:46] gasche commented on #4018
Non, ça n'accélère pas sur ma machine, les migrations ont toujours lieu même la deuxième fois. Est-ce que ça marche chez toi ou c'est juste ce que dit la doc (moi aussi j'y ai cru) ?

[2016-11-28 16:48] pierre-24 commented on #4018
Je dis ça totalement sans avoir testé ;)

[2016-11-28 16:49] SpaceFox commented on #4018
Ça a fonctionné, je me suis servi de --keebdb entre autres pour pouvoir
vérifier l'état final de la base après des tests.

2016-11-28 17:46 GMT+01:00 Gabriel Scherer <notifications@github.com>:

[2016-11-28 17:29] FanJiyong commented on #1264
Petit Up sur cette fonctionnalité.

Pensez-vous qu'il est possible d'ajouter que le site un système d'aide à la complétion basé sur les tag existant ?

[2016-11-28 17:38] tleb commented on #3341
À chaque fois qu'il y a une ancre sur un message. Donc, MP et contenus aussi j'imagine.

[2016-11-28 17:39] pierre-24 commented on #1264
C'est déjà le cas dans la prochaine version, [voir bêta](https://beta.zestedesavoir.com/forums/sujet/nouveau/?forum=2) :)

[2016-11-29 07:45] vhf commented on #4018
Salut @gasche ! Pour lancer les tests en local seulement sur certaines apps, y'a une doc sommaire ici : https://zds-site.readthedocs.io/fr/latest/utils/tox.html?highlight=tox#les-tests-back-end (J'ai pas testé, je lance les miens plutôt comme ça : `python manage.py test --failfast --settings zds.settings_test_local zds.tutorialv2`)

On est super ouverts à n'importe quelle PR accélérant les tests.

[2016-11-29 11:22] Karnaj commented on #2388
Le ticket est à fermer, non ?

[2016-11-29 12:12] vhf commented on #2388
Nope.

[2016-11-29 13:58] GerardPaligot commented on #2388
Pourtant, un champ est dédié aux tags maintenant.

[2016-11-29 14:01] vhf commented on #2388
Ah j'ai raté ça, très bien.

[2016-11-29 14:01] #2388 closed, assigned to gustavi

[2016-11-29 14:02] vhf commented on #2388
Je veux bien que quelqu'un trouve la PR qui fait ça et la lie à ce ticket, ça documenterait le truc.

[2016-11-29 14:13] Karnaj commented on #2388
C’est #3803 je crois. Et ça permet aussi de fermer #2499 normalement.

[2016-11-29 14:21] #2499 closed, assigned to nobody

[2016-11-29 14:21] vhf commented on #2388
Bien vu. Impossible à deviner d'après le titre de la PR, merci d'avoir creusé.

[2016-11-29 14:43] Karnaj commented on #3072
On peut fermer ce ticket ?

[2016-11-29 14:47] pierre-24 commented on #3072
Anéfé :)

[2016-11-29 14:47] #3072 closed, assigned to Emeric54

[2016-11-29 15:34] firm1 opened #4020 "[v21] La sidebar est cassée sur mobile"
Téléphone galaxy S6
Navigateur : Chrome

La sidebar s'affiche maintenant dans la page.

### screen

![screenshot_20161129-163148](https://cloud.githubusercontent.com/assets/6066015/20716196/b3a7cbac-b651-11e6-98f5-41d74e1cc0b6.png)

[2016-11-29 16:40] WinXaito commented on #4020
C'est comme si le JS avait disparu. (Car si on regarde bien, sur le site standard on a cet affichage la un court instant et ensuite le js remet tout en place).

Et j'ai aussi testé pareil chez moi. (Chrome android [Edit: En fait j'ai le même tel que @firm1]).

(Ps: C'est nouveau "scaleway.zestedesavoir.com" ?)

[2016-11-29 16:43] WinXaito commented on #4020
Ah et pour ceux qui on `Edge`, je vous invite à testé la fonction d'émulation pour les Windows Mobile, c'est une catastrophe si on compare au site en Prod...

[2016-11-29 19:50] AmarOk1412 opened #4022 "[v21] Mauvais affichage des topics"
![Vu sur la beta](https://zestedesavoir.com/media/galleries/419/cae50898-d758-4df6-bed4-0caf68ebb538.png)

l'erreur est dans assets/scss/components/_topic-list.scss, par contre faut trouver une solution qui s'affiche bien pour la page forum et la page profil.

[2016-11-29 19:51] pierre-24 commented on #4022
Y'a beaucoup de chances que ce sois du à l'histoire des étoiles pour le suivi, donc par là.

[2016-11-29 19:55] AmarOk1412 commented on #4022
En fait sans les étoiles devant le sujet, le résultat était bon côté forum, mais pas tout à fait côté profil, c'est pour ça que repasser aux valeurs précédentes ne suffit pas ;) mais ouai clairement le bug des lignes vient de #3886

[2016-11-29 20:35] DevHugo commented on #4009
@pierre-24 @tleb , on peut fermer le ticket, je pense !

[2016-11-29 20:36] pierre-24 commented on #4009
de fait :)

[2016-11-29 20:36] #4009 closed, assigned to Emeric54

[2016-11-29 20:36] vhf commented on #4022
C'est curieux ces incohérences. Exemple annoté super moche ici :

![screen shot 2016-11-29 at 21 33 52](https://cloud.githubusercontent.com/assets/2022803/20727981/e67f2ba4-b67b-11e6-9869-611a5d28ad3a.jpg)

ping @sandhose

[2016-11-29 20:37] DevHugo commented on #4009
Merci !

[2016-11-29 20:54] gllmc opened #4023 "[v21] Notification permanente (403)"
J'ai actuellement sur la [version bêta](https://scaleway.zestedesavoir.com/) une notification permanente vers [ce sujet](https://scaleway.zestedesavoir.com/forums/sujet/7454/notification-foireuse/) (posté il y a 6 heures par victor). J'ai une erreur 403 lorsque je clique dessus, ce qui empêche la suppression de la notification.

[2016-11-29 22:59] DevHugo commented on #2817
~~Ouai, c'est bizarre mais sur la branche de release, c'est le code du premier commit et sur la branche master aussi.~~

Eh ba non enfait.

Je tente au pire y'a un tu, que j'avais fait qui teste donc normallement pas de souci :) !

**Edit: eh ba ça marche pas, faut encore attendre !**

[2016-11-30 00:46] AmarOk1412 commented on #4022
Ok d'après @abdelaz3r le comportement était présent avant la v21 (mais la avec le changement, ça a empiré)

[2016-11-30 10:15] FanJiyong commented on #3811
Yop yop,

ça va dans le même sens :
https://zestedesavoir.com/forums/sujet/7464/sabonner-aux-mises-a-jour-dun-tuto/

Du coup ça me conforte dans l'idée qu'il faut faire évoluer cette fonctionnalité et permettre aux personnes qui le souhaite, de suivre discussion et évolution d'un contenu (Mise a jour, Ajout etc.).

- Soit dans un premier temps on fait un bouton qui permet de suivre discussion et é

[2016-11-30 14:35] Karnaj commented on #3724
C’est réglé en bêta.

[2016-11-30 14:53] #3724 closed, assigned to nobody

[2016-11-30 15:04] SpaceFox commented on #3914
Je rajoute que le problème se pose aussi quand on ajoute un commentaire sur un membre en tant que staff. Là, j'ai droit à :

[2016-11-30 15:20] vhf commented on #3914
Si vous arrivez à répliquer sur la beta, j'ai un fix en tête.

[2016-11-30 16:24] cgabard opened #4026 "Bouton de sauvegarde dans l'interface de rédaction de contenu"
Suite aux discussions [dans ce sujet](https://zestedesavoir.com/forums/sujet/7418/extraits-et-chapitre) il semble qu'un bouton "Sauvegarder" permettant de sauver le contenu actuel d'une zone d'édition de contenu (non forum) serait fortement apprécié. Dans l’idéal de manière asynchrone pour éviter le rechargement de page et tout ce que ça implique (en particulier le redimensionnement de la zone d'é

[2016-11-30 16:25] cgabard opened #4027 "Aperçu effectué de façon asynchrone"
Suite aux discussions [dans ce sujet](https://zestedesavoir.com/forums/sujet/7418/extraits-et-chapitre) il semble qu'un aperçu du contenu en rédaction qui serait fait de manière asynchrone (sans rechargement de page) serait vraiment apprécié.

[2016-11-30 18:27] pierre-24 commented on #4027
A noter que ça se fait déjà pour les forums, donc c'est pas compliqué à copier ;)

[2016-11-30 18:34] cgabard commented on #4027
On peut se demander pourquoi c'est pas déjà le cas du coup... Bref

Le mer. 30 nov. 2016 19:27, Pierre Beaujean <notifications@github.com> a
écrit :

[2016-12-01 11:21] cgabard opened #4029 "Fournit un identifiant unique aux extraits du markdown"
Les dernières versions du markdown accepte un nouveau paramètre `marker_key` qui n'est pour le moment pas utilisé par zds.

Son rôle est de fournir un identifiant unique à chaque extrait markdown qui doivent être transformés. Si présent il sera utilisé pour désambiguïsé les notes de bas de pages (plusieurs extraits sur un tutos ou sur les pages du forum avec les mêmes clés ne produirons plus le mê

[2016-12-01 13:58] FanJiyong commented on #4027
Yop yop,

C'est de la sauvegarde avec un historique ?

Si y'a pas d'historique pour le moment je ne ferais ça que pour les parties avec un zone de texte.

Il faut afficher un petit message pour dire que la sauvegarde est faites. : "Sauvegarde automatique : il y a 5 min" par exemple.

Je propose de garder le bouton "Envoyer" pour le moment et de mettre ce nouveau message en face (a gauche du coup).

[2016-12-01 14:05] FanJiyong commented on #4026
Yop yop,

C'est de la sauvegarde avec un historique ?

Si y'a pas d'historique pour le moment je ne ferais ça que pour les parties avec un zone de texte.

Il faut afficher un petit message pour dire que la sauvegarde est faites. : "Sauvegarde automatique : il y a 5 min" par exemple.

Je propose de garder le bouton "Envoyer" pour le moment et de mettre ce nouveau message en face (a gauche du coup).

[2016-12-01 14:11] cgabard commented on #4026
J'imagine qu'il faut créer un commit oui car il faut que ça reste dans l'historique si tu quitte la page.

Peut être que dans un monde idéal chaque appui sur ce bouton écraserai le commit précédent pour éviter un historique géant pour les cliqueurs compulsifs mais le plus important c'est de de sauvegarder, quitte a mettre un message de commit automatique.

[2016-12-01 14:15] FanJiyong commented on #4026
hum… un historique visible par l'auteur ou bien il n'a toujours que la dernière version ?

Sinon faut prévoir les fonctionnalités et vues annexes…

[2016-12-01 14:42] cgabard commented on #4026
Je crois qu'on s'est mal compris... Actuellement quand tu valide ça enregistre les modifs sous forme d'un commit git. Pour ça il faut un message de commit (il y a un champ de texte pour le spécifier). Mais dans le cas présent, il faut faire simple : l'appui du bouton enregistre le contenu. La seule chose à rajouter coté UX c'est le bouton d'enregistrement.

Le reste ce sont les affaires des dev ba

[2016-12-02 10:14] ChantyTaguan commented on #1264
Coucou,

J'essaye de reprendre mes contributions, et quoi de mieux que la ZEP-24 pour faire ça ? Je suis donc en train de développer cette fonctionnalité. Maintenant que l'auto-complétion sur les tags a été implémentée, elle a encore plus de sens donc let's go !

[2016-12-02 15:02] malnuxstarck commented on #4029
Je m'en chage

[2016-12-03 00:18] gasche commented on #4018
En fait j'ai commencé à préparer une pull-request pour `pytest` mais, alors que `pytest .../test_foo.py` marche pour pas mal de test, lancer tous les tests avec `pytest` échoue avant d'arriver aux tests (`--nomigrations` ou non); je ne suis pas allé plus loin pour l'instant.

[2016-12-03 01:07] gasche opened #4031 "échec des tests en local"
Sur ma machine `make test` rapporte les échecs suivants:

[code]

Pour `test_generate_pdf`, j'ai bien installé pandoc donc en théorie ça pourrait marcher. La raison pour laquelle ça échoue est que la police `MerryWeather` est nécessaire, et elle n'est pas installée par les règles d'installation du backend en local -- elle est dans les assets de production. Je trouve ça plutôt normal que la police

[2016-12-04 13:04] sandhose commented on #4022
ça a été introduit par #3886, avec <https://github.com/zestedesavoir/zds-site/commit/5616a77d539e3ac5d0b95492f7d45168ce057dee#diff-bd4bff66b6594772a0597ce6205214c2L184>. Je vais voir ce que je peux faire

[2016-12-04 14:13] #4023 closed, assigned to nobody

[2016-12-04 14:13] #4020 closed, assigned to sandhose

[2016-12-04 14:38] sandhose opened #4033 "[v21] Bord en bas de la pagination"
En prod:

![image](https://cloud.githubusercontent.com/assets/1549952/20866858/8d1fcf86-ba37-11e6-9bea-f8413b6173e0.png)

En beta:

![image](https://cloud.githubusercontent.com/assets/1549952/20866865/9da91f38-ba37-11e6-9719-2a90fa381af0.png)

[2016-12-05 13:30] firm1 commented on #4031
En fait pour ça, il faudrait rajouter dans le fichier [settings_test_local.py](https://github.com/zestedesavoir/zds-site/blob/dev/zds/settings_test_local.py), le contenu suivant :

[code]

ça te permet de surcharger cette variable en laissant pandoc se baser sur la police existante.

[2016-12-05 13:32] gasche commented on #4031
Je crois avoir essayé ça et que ça ne marchait pas: le code qui utilise cette variable va directement  chercher `zds.settings.PANDOC_PDF_PARAM` qui est la valeur non-surchargée.

[2016-12-05 13:55] firm1 commented on #4031
Je vois, on a quelques problèmes de cohérences là.

1. le seul qui semble appeler le fichier test_settings_local.py est la commande `make test-back` (cf. [ici](https://github.com/zestedesavoir/zds-site/blob/0d6adf014da52ae8223aa7b0b79c80a5109f0642/Makefile#L55)) alors que les tests sont aussi censé être lancé via `tox -e back` (qui n'utilise pas le fichier test_settings_local.py). On a donc le pro

[2016-12-05 14:48] DevHugo opened #4038 "Erreur 500 lors de la visite d'un tutoriel"
Bonjour,

J'ai des notifications persistantes liés aux sujets de l'article « Capitole du libre» lors de sa mise en béta. Mais maintenant, j'ai une erreur 500 quand je souhaite visiter l'article publié du [capitole du libre](https://zestedesavoir.com/articles/1648/retour-sur-le-capitole-du-libre/)

[2016-12-05 17:26] gllmc commented on #4038
De même pour moi avec [le guide du contributeur](https://zestedesavoir.com/tutoriels/705/le-guide-du-contributeur/).

[2016-12-05 17:46] vhf commented on #4038
Merci pour l'info ! Je parie que c'est l'exact même cas que #3918 et #3988.

Du coup ce sera réglé bientôt. Mais si vous voulez que ce soit réglé encore plus vite, vous pouvez aider à QA ces 2 PR : https://github.com/zestedesavoir/zds-site/pulls?q=is%3Aopen+is%3Apr+label%3A%22QA+svp%22+milestone%3AV21

Une fois qu'elles sont mergées, je fais une RC sur la beta et ça devrait être la dernière avant

[2016-12-05 17:50] DevHugo commented on #4038
Dans les deux cas, c'était des auteurs ce qui n'est pas mon cas. Je sais pas si ça change grand chose mais en tout cas c'est pas les mêmes symptômes

[2016-12-06 11:47] DevHugo commented on #4038
Nouvelle piste: je me suis désinscrit du profil de `roipoussiere` (l'auteur de l'article inaccessible) et je peux maintenant accéder à l'article.

[2016-12-06 12:52] pierre-24 commented on #4038
Je me souviens que dans ma QA des PRs susmentionnée, j'avais aussi testé le cas du membre suivant un auteur, et que ça passait. Dans le doute, c'est à confirmer sur la bêta, mais normalement on est bon.

[2016-12-06 13:31] DevHugo commented on #4038
Ok, mais du coup, le cas a été prévu pour les notifications persistante ?

[2016-12-06 13:34] pierre-24 commented on #4038
normalement, oui :)

[2016-12-06 14:34] cgabard commented on #4029
@vhf @gustavi Ce ticket est plus compliqué qu'il n'y parrai et je ne suis pas sûrs que @malnuxstarck est entièrement compris le soucis que ça génère.

De façon plus général je pense qu'en tant que DTC vous allez devoir aider à trancher sur la façon de faire. Le plus "facile" serait que l'identifiant fournit au markdown soit issus du pk/id de l'objet en base : a chaque édition ce sera le meme et il

[2016-12-06 15:07] malnuxstarck commented on #4029
😢😢😢! J 'espère que je  n 'ai pas fait une grosse erreur .. Je pensait avoir compris mais apparemment ce le contraire .. Je trouvais le ticket facile mais ça l'est pas ... 😑😑😑

[2016-12-06 15:09] EGabbro commented on #4027
L'aperçu des contenus fait un rendu des formules mathématiques, pas celui du forum. C'est une excellente raison pour ne pas copier tel quelle la version forum sur la version tuto. ;)

[2016-12-06 15:09] malnuxstarck commented on #4029
Expliquer moi ce qui faut faire je m'en chargerai. .. 😊😊😊 désolé. ..

[2016-12-06 15:23] pierre-24 commented on #4027
Maintenant, c'est le cas partout, en fait ;) (c'est pour la prochaine version aussi). Donc oui, on peut salement copier :p

[2016-12-06 15:23] cgabard commented on #4027
Ou de corriger celui du forum au passage

Le mar. 6 déc. 2016 16:09, EGabbro <notifications@github.com> a écrit :

[2016-12-06 15:24] cgabard commented on #4029
Je pense que c'est faisable (et probablement intéressant pour toi) de le
faire mais il faudrait que les dtc donnent avant leur avis sur la question

Le mar. 6 déc. 2016 16:09, Abdoul Malik <notifications@github.com> a écrit :

[2016-12-06 15:25] pierre-24 commented on #4027
Mais je vous dit que c'est déjà fait :'( :  #3889 !

[2016-12-06 15:26] malnuxstarck commented on #4029
du coup je patiente 😊😊

[2016-12-06 15:26] cgabard commented on #4026
Actuellement il y a déjà un historique. Je propose juste de faire simple et que la sauvegarde mette un message par défaut type "modification de l'extrait..." Dans l'historique. Niveau interface ça fait un bouton à rajouter et l'affichage du popup de retour

[2016-12-06 15:27] cgabard commented on #4027
Nos messages ce sont croisé, je repondai à gabbro

Le mar. 6 déc. 2016 16:25, Pierre Beaujean <notifications@github.com> a
écrit :

[2016-12-06 17:18] #4038 closed, assigned to nobody

[2016-12-06 17:38] firm1 commented on #4029
Etant donné que le cas n'est observable que sur le contenu de type forum, je pense qu'on peut se permettre ici de faire une enregistrement en 2 temps.

Pour moi le problème que je vois (et qui est techniquement compliqué pour le coup) c'est le cas de la preview/aperçu du contenu. Au moment ou l'on fait un aperçu d'un message on a aucun moyen de savoir quel pk va être insérée en base.

Pour ce dern

[2016-12-06 18:28] cgabard commented on #4029
Je pense que c'est moins utile dans la previsu. Au pire les gens feront un
édit mais bon.

Le mar. 6 déc. 2016 18:38, firm1 <notifications@github.com> a écrit :

[2016-12-06 20:14] vhf commented on #4026
Yep, bonne idée. On met ça dans la pile des trucs à faire, ok @FanJiyong ?

[2016-12-06 20:22] vhf commented on #4029
@firm1 tu peux préciser ta pensée par rapport aux forums ? De ce que j'ai compris, la proposition ici ne les concerne pas.

Concernant l'aperçu je vois pas trop l'intérêt. On ne peut avoir un aperçu que d'un extrait il me semble. Du coup un aperçu ne peut pas générer de conflits de notes de bas de page ou d'ancres de titres.

Je pense que c'est une feature intéressante de zmarkdown et qu'on devrai

[2016-12-06 20:30] artragis commented on #4029
ah bon? à part son path qui est forcément unique, je ne vois pas de pk.
Et si on prend le path on a la certitude que l'ajout est atomique et donc que les deux slugs soient différents.

[2016-12-06 20:40] vhf commented on #4029
Au temps pour moi. Du coup on peut prendre le slug de l'extrait, vu que la classe Extract a une propriété slug ?

[2016-12-06 22:49] firm1 commented on #4029
@vhf : je n'ai pas lu la PR mais je réagissait au message de @cgabard concernant le fait d'avoir des footnotes et/ou des ancres de titre uniques.

Comme expliqué plus haut, les messages de forums sont convertis en html au moment de l'enregistrement. Ici si on veut passer un l'identifiant unique qu'est le pk, il faut d'abord l'avoir enregistré. Et ça ne coute pas grand chose de faire l'update du me

[2016-12-06 22:53] vhf commented on #4029
Ok, merci @firm1 . Il y a donc un malentendu : la discussion ici concerne tous les contenus versionnés, jamais les forums et les commentaires.

La solution que j'ai évoquée proposait d'utiliser max(pk)+1 tant que l'extrait n'était pas en base. Ça avait le mérite d'être simple et de rester stable lors de chaque édition suivant la première édition, et donc très bien niveau expérience utilisateur. Le

[2016-12-07 10:56] FanJiyong commented on #4026
![sauvegarde](https://cloud.githubusercontent.com/assets/15154100/20964977/2314a820-bc74-11e6-9e02-973c1f7e2939.png)

?

[2016-12-07 11:48] cgabard commented on #4029
En fait dans l'idéal, si. Car si tu as plusieurs messages qui utilisent la meme footnote dans différents messages, sans id uniques, il va y avoir conflit.

MAIS cela me semble largement moins problématique sur le forum et commentaires que sur les contenus de cours

[2016-12-07 12:19] artragis commented on #3996
C'est commun à tous les contenus : lorsqu'un contenu est publié, un "snapshot" est réalisé. C'est donc une vraie décision que de dire :

- est-ce que quitter la rédaction <=> quitter la version publique (repentance etc.)
- est-ce que quitter la rédaction <=> je ne serai plus considéré comme auteur des futures versions?

À vous les studios.

[2016-12-07 12:26] pierre-24 commented on #3996
Et revient à la discussion sur le *versionning* de certaines informations ;) (les auteurs, en l’occurrence)

[2016-12-07 12:29] artragis commented on #3996
bah pour le coup les auteurs sont versionnés, car ça embêtait les gens
qu'ils ne le soient pas...

Le 07/12/2016 à 13:26, Pierre Beaujean a écrit :

[2016-12-07 20:38] vhf opened #4040 "Changer la formulation du topic de beta des contenus."
Il y a un passage qui dit "j'ai dans l'objectif de proposer [un super contenu]". C'est pas français.

On peut mettre "j'ai l'objectif de", ou "j'ai pour objectif de", ou reformuler le tout. Mais "dans l'objectif de", ça passe pas ici. Ça passerait par exemple comme ça :

* Dans l'objectif d'améliorer mon texte, je demande votre aide.
* Il est dans l'objectif des validateurs d'augmenter la cadence

[2016-12-08 13:45] artragis commented on #3242
du coup?

[2016-12-08 19:45] pierre-24 commented on #3811
Et voilà qui est fait, merci @EGabbro !

[2016-12-08 19:45] #3811 closed, assigned to nobody

[2016-12-08 19:56] pierre-24 commented on #4033
Ok :)

[2016-12-08 19:56] #4033 closed, assigned to sandhose

[2016-12-08 20:48] gllmc commented on #4040
C'est facile pour le coup, je m'en charge :)

[2016-12-08 21:05] artragis commented on #4013
2 be closed @pierre-24

[2016-12-08 21:13] pierre-24 opened #4045 "[beta] les tableaux ne sont plus centrés quand ils ont une légende"
Comme le titre l'indique, [et comme présenté ici](https://beta.zestedesavoir.com/forums/sujet/7459/test/?page=1#p132993),

![screenshot from 2016-12-08 22 10 49](https://cloud.githubusercontent.com/assets/7889675/21027934/4ed1ac18-bd93-11e6-86dc-ff2b86e1fb04.png)

Le tableau a été généré par ce code:

[code]

[2016-12-08 21:13] pierre-24 commented on #4045
ping @sandhose  :)

[2016-12-08 21:15] pierre-24 commented on #4040
Voilà. Aussi tôt dit, aussi tôt fait !

[2016-12-08 21:15] #4040 closed, assigned to nobody

[2016-12-08 21:18] pierre-24 commented on #3868
oui ! (20 ans plus tard :p )

[2016-12-08 21:18] #3868 closed, assigned to nobody

[2016-12-08 21:19] pierre-24 commented on #4013
*Just* ;)

[2016-12-08 21:19] #4013 closed, assigned to artragis

[2016-12-08 21:24] vhf commented on #3996
Fermé par #4039

[2016-12-08 21:24] #3996 closed, assigned to nobody

[2016-12-08 21:29] vhf commented on #4029
Au temps pour moi. Du coup, si quelqu'un veut se lancer dedans, allez-y. :) Ce serait vraiment chouette et je peux pas m'en charger.

Alternative, contacter et expliquer la marche à suivre à @malnuxstarck :)

[2016-12-10 18:19] malnuxstarck commented on #4029
Alors ?? 😅😅

[2016-12-10 22:30] sandhose opened #4050 "Email associé à deux comptes dans la base de donnée"
cf. https://zestedesavoir.com/forums/sujet/7540/courriel-dactivation-non-recu-par-adresse-e-mail-erreur-500/

Deux issues sont remontées sur sentry:
 - https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/771/
[code]
 - https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/772/
[code]

[2016-12-11 13:44] vhf opened #4052 "[v21] Incohérence temporelle (?) notification/subscription"
Cf. https://sentry.sandhose.fr/zeste-de-savoir/beta-scaleway-backend/issues/765/

Probablement que c'est un cas qui se produira uniquement les premiers temps suivant la MEP v21.

La v21 règle le problème de génération de notifications doubles ou persistantes dues à des sujets fermés ou autres. Le problème est que lorsque ces notifications existent déjà, leurs souscriptions sont supprimées lors de

[2016-12-11 14:43] WinXaito commented on #4011
@vhf Vous avez touché quelque chose ? (Aujourd'hui ou hier je ne sais pas), car ma notification persistance a disparu.

[2016-12-11 15:12] vhf commented on #4011
J'ai supprimé toutes les notifs persistantes sur la prod il y a 2h.

[2016-12-11 19:58] artragis commented on #4052
ah oui, c'est ça.

[2016-12-11 21:05] #4052 closed, assigned to nobody

[2016-12-11 21:05] artragis opened #4057 "Définir une politique de log"
Bonjour,

Actuellement, nous ne loggons que peu de choses. Cet état de fait est principalement dû à ces deux faits :

- nous n'avons pas les moyens de faire de l'analyse de log
- jusqu'à aujourd'hui le client sentry n'était pas branché au logger zds du coup on pouvait logger ce qu'on voulait ça servait à rien

L'idée serait donc de définir des guidelines en matière de log pour qu'il y en ait plus

[2016-12-11 21:07] artragis opened #4058 "Update raven"
Sentry nous gueule dessus car on a la version 5.14 du client sentry. Il faudra vérifier que les versions plus récentes sont compatibles django 1.8 et mettre ladite version plus récente.

Sentry est vraiment un bon outil pour comprendre le contexte d'un bug, cet upgrade peut vraiment s'avérer primordial pour la maintenance du site.

[2016-12-11 21:09] #4045 closed, assigned to nobody

[2016-12-11 21:09] #3879 closed, assigned to nobody

[2016-12-11 21:10] artragis opened #4059 "OAuth et ses fails"
Sentry nous gueule dessus fréquemment à cause d'erreurs 500 dans les connexions OAuth.

Il semblerait que trois types de bugs interviennent. Mais comme pour l'instant je ne sais pas vraiment le périmètre, je ne fais qu'une seule issue :

- https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/573/
- https://sentry.sandhose.fr/zeste-de-savoir/backend-l7/issues/668/
- https://sentry.sandhose.

[2016-12-11 22:00] sandhose commented on #4058
Si au passage on peut configurer les releases côté Raven, ça serait top!

[2016-12-12 07:06] pierre-24 commented on #4057
Intéressant, ça :)

Et ça prendrait quelle forme, en pratique ?

[2016-12-12 07:22] artragis commented on #4058
Jen e dis pas non. D'autnat qu'on peut faire un githook pour qu'au tagging un nouveau code de release soit créé.

[2016-12-12 08:02] artragis commented on #4057
Ce que j'entends par politique de log contient la réponse à :

- que log-t-on? Aujourd'hui, nous n'avons du log que lorsque des bugs bien relou ont eu lieu et que j'ai ajouté un log dans les cas d'erreur que je suis sensé avoir corrigé. Pourtant les bugs qui me gènent le plus personnellement ce sont les cas où on mène à un 404 : dans ces cas nous n'avons pas d'autre log que le nginx.log et du coup

[2016-12-12 11:06] firm1 opened #4061 "[v21] La recherche ne fonctionne pas"
Navigateur : Firefox
Version : v21-RC5
Lien incriminé : https://beta.zestedesavoir.com/rechercher/?q=entretien

En allant sur le lien ci-dessus on a aucun résultat dans la recherche.

Je soupçonne un problème d'infra. Mais on ne sait jamais.

[2016-12-12 11:14] firm1 opened #4062 "[v21] L'interligne est plus faible qu'avant"
Navigateur  ; Firefox
OS : Windows
Niveau de zoom : 100%

Pour comprendre le mieux est d'observer l'image.

zone de rédaction d'un message de forum en **prod**

![edit-prod](https://cloud.githubusercontent.com/assets/6066015/21097311/3bd11008-c064-11e6-874d-61b3c8cd0e14.PNG)

zone de rédaction d'un message de forum en **beta**

![edit-beta](https://cloud.githubusercontent.com/assets/6066015/210973

[2016-12-12 12:09] WinXaito opened #4063 "[V21] Notification persistante toujours présente"
J'ai eu un nouveau cas de notification persistante sur la beta.
J'en ai discuté avec @vhf sur IRC.

A première vu, cette notification serait du aux actions suivantes:

[code]

Et ceci devrait créer une notification persistante.

[2016-12-12 12:47] artragis commented on #4063
Merci, je vois très bien comment corriger ça. Je le fais de suite.

[2016-12-12 14:30] FanJiyong commented on #4008
Comme je disais plus haut, je trouve que le placement de la proposition ci-dessus n'est pas bon.

Dans le but de faire avancer cette fonctionnalité, je reviens vers vous avec une nouvelle, proposition de placement et déclinaison en version : full text;  full icone; text image.

![161212_nouveau_mp_img](https://cloud.githubusercontent.com/assets/15154100/21102670/5ac19382-c07f-11e6-8620-c3ff553f013

[2016-12-12 14:58] lypwig commented on #4008
J'aime bien la première avec l’icône.

[2016-12-12 15:11] cgabard commented on #4008
Pareil perso, c'est compact et compréhensible

[2016-12-12 15:12] malnuxstarck commented on #4008
On y va pour le premier 😊

[2016-12-12 19:57] vhf opened #4065 "2 tutoriels au même titre : problème de slug et renommage repo"
Du forum :

---

[2016-12-12 20:20] vhf commented on #4061
Réglé.

[2016-12-12 20:20] #4061 closed, assigned to nobody

[2016-12-12 20:28] sandhose commented on #4062
Bien vu: c'est dû à un changement dans normalize.css (https://github.com/necolas/normalize.css/compare/4.2.0...master#diff-bb3dde41d97f19be8ab7b4780a915d5eR257) que j'avais pas anticipé quand j'ai bump les dépendances (https://github.com/zestedesavoir/zds-site/commit/57417947a8970868a50a7db153eb4f098e3ffd51#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R40)

[2016-12-12 21:18] #4062 closed, assigned to sandhose

[2016-12-12 21:18] #4063 closed, assigned to nobody

[2016-12-13 00:16] firm1 opened #4068 "Le filtre des sujets par tag rend des doublons"
### Contexte

- Compte : staff et CA
- Navigateur : Chrome
- Version : RC6

### Problème

On obtient, pour le filtre des sujets pour un tag particulier un sujet en double

#### Prod

url : https://beta.zestedesavoir.com/forums/sujets/tag/2346/comm/

screen du résultat :

![capture d ecran de 2016-12-13 01-14-45](https://cloud.githubusercontent.com/assets/6066015/21122322/b3a224d8-c0d1-11e6-9e5c-7f

[2016-12-13 00:20] firm1 opened #4069 "[v21] Problème d'affichage dans la sidebar d'un profil"
Navigateur : Chrome
Url : https://beta.zestedesavoir.com/membres/voir/Gabbro/

Screen de la sidebar.

![capture d ecran de 2016-12-13 01-18-38](https://cloud.githubusercontent.com/assets/6066015/21122393/21b341aa-c0d2-11e6-850c-9e45f51094a1.png)

Comme on peut le voir, à droite de "En validation" et "En rédaction" le background n'est pas harmonisé avec le reste.

[2016-12-13 15:31] pierre-24 commented on #4065
Mouais. Je suis jamais chaud quand on annonce "cesser de forcer l'unicité des slugs" (y'avais plein de bonnes raisons à cela, y compris un débat de 5 pages). Surtout que cette partie là, elle est gérée par la BDD, donc c'est `django-uuslug` qui est censé faire le job (et qui à priori, le faisait convenablement jusque là), et que le slug du repo est censé venir de là. J'étais à peu près convaincu q

[2016-12-13 16:26] gasche commented on #4031
Je me permets de pinger ici ; je pense qu'on peut laisser la question de `generate_pdf` de côté pour l'instant mais il reste deux tests donc l'échec en local est inexpliqué. Je pense que ce serait bien de revenir à un état où les contributeurs occasionnels peuvent utiliser la testsuite de façon utile.

[2016-12-13 19:14] pierre-24 commented on #4031
Le plus étrange étant que Travis est tout à fait OK avec ça !

On Dec 13, 2016 5:26 PM, "Gabriel Scherer" <notifications@github.com> wrote:

[2016-12-13 19:21] gasche commented on #4031
Une possibilité est que ce soit un problème avec mon environnement de développement, mal installé ou un truc de versions. Si d'autres gens peuvent tester chez eux et confirmer s'ils arrivent à reproduire (ou non), ça peut être utile.

[2016-12-13 19:56] vhf commented on #4065
@pierre-24 , je suis pas au courant du débat de 5 pages et j'en connais pas les conclusions.

Je veux bien qu'on m'indique l'utilité d'un slug unique dans ce cas précis, à part causer un bug très gênant.

C'est assez dangereux le `save` que j'indique.

[2016-12-13 20:06] vhf commented on #4069
Le problème vient d'ici : https://github.com/zestedesavoir/zds-site/commit/4aebba7d9ea23679b86616ceda11fefbc53babcd#diff-85a845569aeb14a414278156f2a201faR128

[2016-12-13 20:16] vhf commented on #4031
Alors j'ai testé. J'ai 4 échecs, t'en as 3 (parce que j'ai pas pandoc). Je sais pas sur quel commit t'as testé par contre, du coup j'ai pris le HEAD de `dev`, donc 72b3d242b7fa9e35db7596938ac40a81166f0321 .

[code]

Je vais voir ce que je peux faire.

@gasche problème `test_success_new_image_write_permission` résolu : les tests passent dans un ordre aléatoire et se marchent dessus en écrivant au m

[2016-12-13 20:55] artragis commented on #4068
bien que je sois staff, je n'ai pas ce bug oO

[2016-12-13 21:26] artragis commented on #4068
pour vhf
![capture2](https://cloud.githubusercontent.com/assets/1523653/21159904/3a8e4f4c-c183-11e6-8548-d0d3bac2db03.PNG)

[2016-12-13 21:31] vhf commented on #4068
Pas réussi à reproduire le bug de @firm1 non plus.

[2016-12-13 23:42] firm1 commented on #4068
vraiment bizarre car je reproduis encore

[2016-12-14 10:09] FanJiyong opened #4073 "Afficher l'adresse email dans le profil"
Nous allons apporter quelques modifications dans la page paramètre -> pseudo et email

- Changement des labels :
-- Mon Pseudo
-- Mon adresse email

- Afficher
-- Le pseudo du membre dans le champ "Mon pseudo"
-- L'adresse email du membre dans le champ "Mon adresse email"

- Déplacer l'option "Afficher mon adresse email publiquement" (paramètres ->https://zestedesavoir.com/forums/sujet/7555/affich

[2016-12-14 10:37] cgabard commented on #4068
Pour info je reproduis aussi

[2016-12-14 10:40] cgabard commented on #4068
Et le screen fait sur la beta à l'instant via le liens de @firm1

![screencapture-beta-zestedesavoir-forums-sujets-tag-2346-comm-1481711996260](https://cloud.githubusercontent.com/assets/6103932/21178933/14d71f26-c1f2-11e6-9945-489b61822615.png)

[2016-12-14 10:43] pierre-24 commented on #4065
Les pages de discussion sont les pages de la ZEP-12, et ça serait de la
torture de la torture que de t'envoyer les relire ^^

Bon, une des grosses idées de la ZEP-12, c'était d'éviter la BDD un
maximum, de manière à éviter tout les problèmes de versionnage (titre qui
change entre différentes versions, etc). D'où le manifest.json un peu
imbuvable, et ainsi de suite. Dans le même ordre d'idée, côté

[2016-12-14 10:53] FanJiyong opened #4074 "Ajout de tooltips sur les icônes de l'interface"
Salut à tous,

Certaines de nos icônes, n'ont pas la chance d'avoir un petit label pour les accompagnées.

Afin qu'elles se sentent moins seules (et accessoirement tendre vers meilleurs expérience utilisateur) nous allons ajouter des tooltips a ses icônes.

- Icones dans le header
-- la bulle : Messagerie privée
-- la cloche : Notifications

- Sur le forum
-- la Pin : Sujet mis en avant ou Sujet é

[2016-12-14 19:29] #4069 closed, assigned to nobody

[2016-12-14 19:30] vhf commented on #4068
Le problème ne semble toucher que les membres qui font partie de plusieurs groupes dans le cas où plusieurs de ces groupes donnent accès à certains mêmes forums privés. Concrètement : si vous êtes `CA` **et** `staff`, vous risquez de voir ça.

Ça devrait pas être très compliqué à régler.

[2016-12-14 20:28] cgabard commented on #4068
Et pas très impactant pour la majorité des users

Le mer. 14 déc. 2016 20:30, victor felder <notifications@github.com> a
écrit :

[2016-12-14 20:34] vhf commented on #4068
Yep. C'est pour cette raison que je me suis permis de faire la release malgré ce bug. Navré pour les staff qui sont dans le CA, mais ça aurait trop repoussé.

[2016-12-14 21:30] vhf commented on #3914
Ce bug est désormais une feature.

[2016-12-14 21:30] #3914 closed, assigned to nobody

[2016-12-14 23:24] firm1 opened #4075 "La liste des membres est inversées"
Version : v21 prod
Lien : https://zestedesavoir.com/membres/

La liste des membres est inversées par rapport à celle de la v20. On devrait voir les derniers membres inscrits. Là ce n'est pas le cas.

[2016-12-15 08:17] pierre-24 commented on #3914
Toute cette issue est une énorme faille dans la réalité ;)

[2016-12-15 08:21] SpaceFox commented on #3914
Mais qu'est-ce que la réaleté ?

[2016-12-15 16:24] Anto59290 commented on #4027
Je peux m'en occuper si on me laisse un peu de temps. Je suis en train de faire un peu de refacto pour les aperçu, dans l'ordre je vais proposer :

- Ajout de l'aperçu sur la biographie (extension du système actuel au champ qui ne se nomme pas texte, positionnement plus souple de l'aperçu)
- Ajout de l'aperçu en intro et conclusion de contenu  (passage à un système acceptant deux champs d'aperçu d