[2014-11-27 13:04] Eskimon commented on #1213
Est-ce pertinent de garder ce ticket ouvert ? Je viens de relancer le test, on obtient une note de 100/100 sur 2 des 4 marqueurs et 90/100 sur les deux restants (et une partie des resolutions est equivalente a "paye un certificat plus cher !")

[2014-11-27 14:23] firm1 commented on #1213
Pour les raisons que tu cites, non.

[2014-11-27 14:23] #1213 closed, assigned to nobody

[2014-11-27 14:29] firm1 commented on #1789
Je trouve que ça fait doublon avec cette issue #417 . Car il ne faut pas mettre de cache que sur la version de git, mais aussi sur les notifications, le nombre de messages, les derniers tutoriels publiés, les catégories, etc. Bref, mettre du cache sur chaque élément qui touche toutes les pages. et donc c'est le propre de l'issue #417

[2014-11-27 14:39] firm1 commented on #1713
On en est ou ici, quelque chose à été entrepris pour ça ?

[2014-11-27 15:12] Eskimon commented on #1650
Voila c'est vraiment réparé maintenant

[2014-11-27 15:12] #1650 closed, assigned to firm1

[2014-11-27 15:29] devock opened #1804 "{{ meta_image }} renvoi une mauvaise adresse"
Dans template/base.html est utilisé le tag `{{ meta_image }}` qui doit retourner l'url de l'image liée à la page en cours (par exemple l'icone d'un tuto quand on est sur un tuto). Ce tag est notamment utilisé pour les meta og:image de Facebook.

Le problème est que l'adresse renvoyée est mauvaise, elle  commence par `http://zdsappserver/`.

[2014-11-27 16:44] Eskimon commented on #1454
Ping !

[2014-11-27 16:47] Eskimon commented on #1151
le fix de gustavi corrige ca :) (mais on va attendre le merge)

[2014-11-27 16:48] Eskimon commented on #715
Ca vaut vraiment le coup de garder ca ouvert ?

[2014-11-27 16:49] firm1 commented on #1710
C'est fait.

Merci @Eskimon

[2014-11-27 16:49] #1710 closed, assigned to Eskimon

[2014-11-27 16:50] firm1 commented on #715
Je pense que oui. Pour y penser

[2014-11-27 16:51] Eskimon commented on #1804
CE truc de meta_image c'est censé venir d'où dans le back ? Car on le voit uniquement dans les templates...

[2014-11-27 16:53] Eskimon commented on #715
Mais vous voulez faire quoi comme design ? Des jolis boites avec une images a chaque fois ?

[2014-11-27 16:59] #381 closed, assigned to firm1

[2014-11-27 17:02] Situphen commented on #1703
Je m'en occupe. J'ai réglé le problème des couleurs et je vais me pencher sur celui du gris absent !

[2014-11-27 17:05] gustavi commented on #1789
Oui mais là c'est déjà codé et assez urgent parce que c'est assez violent comme c'est fait aujourd'hui ! J'attends de savoir ce qu'on fait pour le cache et je PR directement.

[2014-11-27 17:06] firm1 commented on #715
Je ne sais pas il faut voir avec @SpaceFox

[2014-11-27 17:09] firm1 commented on #1789
Il me semble justement que par rapport aux autres éléments de la page c'est assez négligeable. Du coup je ne dirais pas que c'est urgent :)

[2014-11-27 17:11] firm1 commented on #914
C'est bon maintenant. o/

[2014-11-27 17:11] #914 closed, assigned to firm1

[2014-11-27 17:46] gustavi commented on #1713
Non ! Idéalement il faudrait mettre toute la doc à jour concernant notre workflow (excepté le CONTYBUTING.md) et tout mettre dans un tuto. Je crois que c'est ce qui avait été acté.

[2014-11-27 18:30] Eskimon commented on #1529
Ca a vraiment sa place en v1.3 ca ?

[2014-11-27 18:30] Eskimon commented on #1644
Il faudra réouvrir, ce n'est pas corrigé : http://preprod.zestedesavoir.com/forums/sujet/1751/chevauchement-icone-tutoriels-et-texte/

[2014-11-27 18:33] Situphen commented on #1529
Bah si le problème est réglé, oui.

[2014-11-27 18:36] Eskimon commented on #1529
Bah vu que je vois une PR qui n'est pas mergé je me demande...

[2014-11-27 18:38] Situphen commented on #1529
Si tu parles de la #1752, elle est prête, je viens de la QA !

Le 27 novembre 2014 19:36, Eskimon notifications@github.com a écrit :

[2014-11-27 18:39] Eskimon commented on #1529
Ouai mais ca change rien, la V1.3 est fermé puisqu'en preprod

[2014-11-27 18:44] Situphen commented on #1529
Bah du coup vu qu'il y a (je crois) des PR en v1.3 et des PR en v1.4 pour
cette issue, je dirai qu'il faut mettre v1.4.

2014-11-27 19:39 GMT+01:00 Eskimon notifications@github.com:

[2014-11-28 07:52] Eskimon opened #1808 "L'icône des titres h2 chevauche le texte sur mobile"
Le probleme est le meme que sur https://github.com/zestedesavoir/zds-site/issues/1644

La correction devrait consister simplement a reproduire le fix https://github.com/zestedesavoir/zds-site/pull/1660 sur les titres h2.

Source : http://preprod.zestedesavoir.com/forums/sujet/1751/chevauchement-icone-tutoriels-et-texte/?page=1#p30686

[2014-11-28 07:53] Eskimon commented on #1644
Bon je referme ici, le ticket pour les titres h2 sera la : https://github.com/zestedesavoir/zds-site/issues/1808

[2014-11-28 07:53] #1644 closed, assigned to nobody

[2014-11-28 07:58] Eskimon opened #1809 "Aligner le comportement anti-spam pour les tutos"
Pour les commentaires sur les pages de tutoriels, la zone de texte ne disparait pas pendant les 15 minutes qui suivent l'envoi d'un message, et le bouton "Citer" et aussi présent.

Du coup on a l'impression de pouvoir encore écrire (il n'y a pas le rectangle orange indiquant "Vous venez de poster. Merci de patienter au moins 15 minutes entre deux messages consécutifs afin de limiter le flood.") et

[2014-11-28 08:12] Eskimon opened #1811 "Titre de topic vide a l'edition"
Un titre de topic ne doit pas pouvoir etre vide, même lors de l’édition.

Il faut rajouter un trim dans le clean ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/forms.py#L58

Penser aussi a faire un TU (simple).

[2014-11-28 08:33] Eskimon opened #1812 "Rendre le nombre de derniers articles/tutos paramétrés"
Le nombre de derniers tuto/articles est en dur dans le code. Il serait mieux d'avoir un setting pour ca...

Voici l'endroit a changer :

https://github.com/zestedesavoir/zds-site/blob/1077c3bb04f368e358b95343cefa4877ad424fec/zds/tutorial/models.py#L458
et
https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/models.py#L307

[2014-11-28 10:30] Akryum opened #1813 "Tags mal positionné dans les tutoriels"
La liste des tags sur la page d'accueil d'un tutoriel est mal positionnée (sous Firefox) :
![zds - bug tags mal positionnes tuto](https://cloud.githubusercontent.com/assets/2798204/5226661/dc1ebb82-76f1-11e4-8dd1-3694562831ef.png)

Résolu dans l'inspecteur en supprimant la marge négative du haut :
![zds - bug tags mal positionnes tuto - css](https://cloud.githubusercontent.com/assets/2798204/52266

[2014-11-28 10:38] firm1 commented on #1813
on dirait un doublon de #1685 non ?

[2014-11-28 10:57] Eskimon commented on #1813
Yep ca y ressemble fortement...

[2014-11-28 12:40] gustavi commented on #1789
À voir mais des qu'on a du cache de dispo (autre chose qu'un fichier dans dans /tmp) ça vaut le coup de rajouter ça.

[2014-11-28 12:44] gustavi commented on #1813
Ouais, doublon. Merci quand même @Akryum !

[2014-11-28 12:44] #1813 closed, assigned to nobody

[2014-11-28 12:44] gustavi commented on #1685
Il semblerait que ça se résolve facilement :

via #1813

[2014-11-28 13:45] firm1 commented on #1685
En fait cette solution ne fonctionne pas pour tous les cas. Le problème c'est que sur la page incriminée, on affiche pas la licence, et donc ça pète tout.

[2014-11-28 15:43] firm1 commented on #1812
Fx'd

[2014-11-28 15:43] #1812 closed, assigned to firm1

[2014-11-28 15:58] Eskimon commented on #1804
Ok

[2014-11-28 15:58] #1804 closed, assigned to firm1

[2014-11-29 13:10] Situphen commented on #1809
J'ai fait la PR qui règle le problème. Par contre, c'est pas du front mais du back ! ;)

[2014-11-29 14:04] Situphen opened #1817 "Interprétation des formules de MathJax dans les formulaires"
Rapporté [depuis la preprod](http://preprod.zestedesavoir.com/forums/sujet/1760/interpretation-des-formules-dans-un-formulaire/), le bug est l'interprétation des formules MathJax dans tous les formulaires.

Or, AMHA, MathJax ne devrait pas être autorisé dans les `input` des formulaires (car il cause une déformation du design très importante).

Formulaires où le bug a été testé :
- titres et tags d

[2014-11-29 15:00] Situphen commented on #1817
@gustavi : Bien que le bug soit visible, c'est un bug _back_ et non _front_ ! :)

[2014-11-29 15:35] #1809 closed, assigned to nobody

[2014-11-29 15:35] #1808 closed, assigned to nobody

[2014-11-29 15:45] gustavi commented on #1774
Corrigé et mergé dans #1819 !

[2014-11-29 15:45] #1774 closed, assigned to nobody

[2014-11-29 15:46] gustavi commented on #1808
Corrigé et mergé dans #1818

[2014-11-29 15:46] gustavi commented on #1809
Corrigé et mergé dans #1816

[2014-11-29 16:16] Eskimon commented on #1817
opinion de Kje

---

Réponse - deux possibilités :
- Soit tu l'interdit dans certaines balises (h1, etc.)
- Plus sûrs, tu ne l'autorise que dans des balises mathjax. En effet, regarde les sources de ce message, le markdown insére les formules dans des balises <mathjax>. Du coup c'est facile de distinguer celle dans le texte des autres.

[2014-11-29 16:19] gustavi commented on #1817
+1 pour la seconde solution

[2014-11-29 16:23] Eskimon commented on #1817
Oui je me dis aussi +1 pour la deuxieme

[2014-11-29 17:46] gustavi commented on #899
Corrigé dans #1810 !

[2014-11-29 17:46] #899 closed, assigned to firm1

[2014-11-29 19:58] gustavi commented on #1487
Corrigé avec #1797

[2014-11-29 19:58] #1487 closed, assigned to nobody

[2014-11-29 20:55] ChantyTaguan commented on #1653
Plop, je viens de tester aussi en local, et le filtre fonctionne effectivement...

[2014-11-29 22:32] Eskimon commented on #1811
Ok

[2014-11-29 22:32] #1811 closed, assigned to gustavi

[2014-11-29 22:34] #1764 closed, assigned to gustavi

[2014-11-30 00:09] poulp opened #1822 "Le positionnement des catégories des forums ne fonctionne pas"
Au niveau du back on a bien un attribut _position_ mais aucun tri n'est appliqué lors de la récupération en bdd.

[2014-11-30 08:53] gustavi commented on #1767
Encore un petit souci : http://preprod.zestedesavoir.com/forums/sujet/1768/probleme-affichage-lors-de-linscription/

[2014-11-30 08:59] gustavi opened #1823 "Dans « Tous les forums » le lien vers le dernier message est faux"
Dans le preprod j'ai http://i.imgur.com/VIO8eIH.png alors que http://i.imgur.com/SJfgOzy.png

[2014-11-30 10:30] gustavi commented on #1823
Pour moi c'est https://github.com/zestedesavoir/zds-site/blob/67d034ba8395685216df6bae8c328adb0bc53072/zds/forum/models.py#L106 qui fait tout planter.

Cependant je n'arrive pas à reproduire en version de dev.

Je suis en train d'investiguer sur la preprod.

[2014-11-30 11:24] gustavi commented on #1823
Il faut remplacer `position` par `pubdate` (testé en live et validé sur la preprod). @firm1 pourquoi avoir utilisé `position` ?

[2014-11-30 11:28] #1744 closed, assigned to gustavi

[2014-11-30 12:34] gustavi commented on #1671
UP @firm1 ! C'est toujours présent ? Sur la preprod également ?

[2014-11-30 14:54] Situphen commented on #1703
En fait, le bouton de confirmation des modales devient bien gris mais pas tout de suite ! Je n'ai pas trouvé le pourquoi du comment, je vais continuer à chercher mais si je trouve pas, tampis...

![modal-submitted-disabled](https://cloud.githubusercontent.com/assets/6664636/5237989/d969feac-78a8-11e4-8293-bd8e2259b562.png)

Par ailleurs, le bouton se met tout de suite en gris sur mobile (Nexus 5 s

[2014-11-30 15:21] SpaceFox commented on #1692
Corrigé, mergé, fermé !

[2014-11-30 15:21] #1692 closed, assigned to gustavi

[2014-11-30 15:23] SpaceFox commented on #1727
Corrigé et mergé --> Fermé

[2014-11-30 15:23] #1727 closed, assigned to gustavi

[2014-11-30 15:49] Situphen opened #1831 "Lien des notifications pointant vers le premier message du topic au lieu du dernier !"
Reporté [ici](http://preprod.zestedesavoir.com/forums/sujet/1758/lien-des-notifications/) par PG06 et confirmé par @Eskimon et moi :

Ce bug est une **régression** et exige un **hotfix** ! Ce bug **n'est pas** corrigé par la PR #1828 !

[2014-11-30 15:51] SpaceFox commented on #1823
C'est mergé.

[2014-11-30 16:29] gustavi commented on #1831
Est-ce que vous pouvez essayé de reproduire avec la version de dev actuelle ? @Situphen @Eskimon ?

Je n'arrive pas à reproduire.

[2014-11-30 16:39] Situphen commented on #1831
Je l'ai reproduit en faisant la QA de ta PR #1828 :
- Créer un sujet par user
- Poster une réponse avec admin
- Vérifier que le lien de la barre de notifications est HS avec user

[2014-11-30 16:43] gustavi commented on #1831
Ma barre de notification est OK, pas le lien dans la liste des topics en revanche.

Je n'aurai pas le temps de fixer ça ce soir.

[2014-11-30 17:24] firm1 commented on #1823
Mais le filtre par pubdate est une horreur justement.  On avait des bugs
"uniquement sur mysql" avec ça qu'on ne voyais pas en dev. Ça expliquait
entre autre les doubles posts aléatoires en prod.

J'ai du en oublier un (position) lors du fix. Mais en AUCUN cas il faut
filtrer par pubdate.

firm1
Le 30 nov. 2014 16:51, "SpaceFox" notifications@github.com a écrit :

[2014-11-30 17:26] SpaceFox commented on #1823
@firm1 : https://github.com/zestedesavoir/zds-site/pull/1773#issuecomment-64990471

[2014-11-30 17:35] gustavi commented on #1823
@firm1 il se trouve que si tu filtres par `position` tu as un résultat faux ! Il vaut mieux quelque chose de pas optimisé que quelque chose de faux.

[2014-11-30 17:43] firm1 commented on #1823
Si le filtre par position ne marche pas, ça signifie que le bug c'est "La
mise à jour du champ position". Et c'est donc ça qu'il faut fixer.

Là tu deplace le problème tout simplement.

firm1
Le 30 nov. 2014 18:35, "Laville Augustin" notifications@github.com a
écrit :

[2014-11-30 18:41] Situphen commented on #1717
C'était quoi le but de cette issue ? Ne pas avoir un "+" dans le code HTML ? Car rajouter deux images dans le sprite juste pour un "+", c'est un peu gros ! J'ai une alternative, mettre le "+" dans le CSS, ça vous va ? Ping @gustavi

[2014-12-01 23:52] arirawr commented on #1755
En fixant!

[2014-12-02 11:50] #1712 closed, assigned to gustavi

[2014-12-02 11:50] Eskimon commented on #1151
MErci @gustavi

[2014-12-02 11:50] #1151 closed, assigned to gustavi

[2014-12-02 12:11] Situphen commented on #1717
Up @gustavi !

[2014-12-03 05:15] steenzout opened #1842 "dependances de development sur requirements.txt"
Les dependances de development sont inclues dans le fichier requirements.txt.
Dans les instructions d'installation il est écrit:

[code]

donc, l'installation du site implique l'installation des outils de development.

cela ne devrait pas être le cas.

je m'en charge.

[2014-12-03 05:59] poulp commented on #1842
http://stackoverflow.com/questions/17803829/how-to-customize-a-requirements-txt-for-multiple-environments

C'est vrai que ça serait mieux de structurer les requirements, mais ce genre de modification est à prendre avec des pincettes (modifier en conséquence le script pour Travis, au niveau de la prod/infra si un script est utilisé il faut voir comment ça se passe, etc.)

[2014-12-03 06:56] gustavi commented on #1151
\o/

[2014-12-03 06:57] gustavi commented on #1717
Aucune idée @Situphen ! Faut que tu demandes à @Alex-D en MP sur ZdS pour savoir pourquoi il a mis un TODO.

[2014-12-03 06:58] steenzout commented on #1842
je suis d'accord mais il faut pas installer plus qu'on a besoin pour avoir le logiciel en production.

travis a passer les testes et j'ai fait ma contribution.
a vous de me dire si vous etes satisfait.

[2014-12-03 07:38] Eskimon commented on #1842
Je me suis permis de supprimer le cartouche (necessaire seulement pour les Pull Requests).

Sinon bonne observation, j'ai fait quelques retours sur la PR :)

[2014-12-03 15:36] gustavi opened #1846 "Supprimer les `except` seuls dans le code"
Comme j'ai l'ai déjà dit plein de fois, un `except:` tout c'est **c'est MAL** ! Il faut relire tout le code et mettre des `except <ERREUR>:`. C'est pas urgent mais ça a posé plusieurs fois des soucis donc je pense qu'il va falloir mettre les mains dedans. Le plus pénible va être l'identification de l’exception levée. Il faudra bien tester sur la preprod.

[2014-12-03 15:37] gustavi commented on #1713
Je suis dessus (sous la forme d'un tuto sur le ZdS pour le moment comme décidé pendant le ZdS meeting 3). On en reparle au prochain ZdS meeting !

[2014-12-03 15:46] Eskimon commented on #1717
Si j'ai bien suivi on est bon ici. @Situphen tu confirmes que tout le ticket est réglé ?

[2014-12-03 15:47] SpaceFox commented on #1846
Ouais, c'est trop bien le duck typing...

Le 3 décembre 2014 16:36, Laville Augustin notifications@github.com a
écrit :

[2014-12-03 15:52] Situphen commented on #1717
Bah ma PR améliore le code mais je ne sais pas si ça résout le ticket. Il
faudrait demander à Alex-D !
Le 3 déc. 2014 16:46, "Eskimon" notifications@github.com a écrit :

[2014-12-03 17:00] firm1 commented on #1713
Pourquoi sous la forme d'un tuto ? La documentation du code devrait être
disponible dans le dépôts git normalement non ?

firm1
Le 3 déc. 2014 16:37, "Laville Augustin" notifications@github.com a écrit
:

[2014-12-03 17:23] gustavi commented on #1713
Non, on parle de la documentation qui concerne :
- le workflow utilisé ici ;
- la QA et co. ;
- etc.

En gros c'est une centralisation de certains topics de ZdS et éventuellements de certaines choses qui trainent ici.

[2014-12-03 17:33] firm1 commented on #1713
Il me semble qu'il y'a un guide du contributeur pour ça en cours de rédaction. Par ailleurs, pour moi l'issue ici concerne plus la doc front-end et des trucs [comme ça](https://github.com/zestedesavoir/zds-site/blob/dev/doc/deploy.md)

[2014-12-03 17:37] gustavi commented on #1713
Si la personne qui fait ça veut bien me contacter par MP c'est avec plaisir, on pourra éventuellement fusionner notre travail, sachant que j'ai fait pas mal de copié/collé de sujets existants que j'ai ensuite adaptés.

[2014-12-03 18:21] Situphen commented on #1685
Je viens de regarder et le bouton est mal placé sur tous les tutoriels et les articles qui n'ont pas de description. Ce qui fait que les tags se heurtent à la licence et bloque sur leur gauche le bouton "Lecture Zen" !

[2014-12-03 20:04] Situphen commented on #1670
Je n'ai pas ce bug sur Firefox 34 et Chrome 39, tu peux revérifier ?

[2014-12-03 20:22] gustavi commented on #1670
Moi je n'ai pas ce bug (Firefox/Arch).

[2014-12-03 20:25] Eskimon commented on #1670
Je n'ai jamais vu ce bug non plus

[2014-12-03 20:26] Eskimon commented on #1713
gustavi, envoi un MP à Arius, il est un peu _lead_ sur ce tuto :)

[2014-12-03 20:33] gustavi commented on #1713
Fait ! Je fermerai ici quand ce sera terminé.

[2014-12-03 23:00] SpaceFox commented on #1823
J'ai besoin d'un statut clair sur cette issue avant de pouvoir la considérée comme vraiment fermée.
1. Est-ce que c'est corrigé ?
2. Est-ce que ça peut se produire ailleurs ?
3. Est-ce que ça risque de péter les tests que @firm1  a corrigé par ailleurs ?

[2014-12-04 09:27] gustavi commented on #1823
@firm1 le mieux est de filtrer par `pk` ce qui donne la position absolue par rapport à tous les messages.

[2014-12-04 09:41] firm1 commented on #1823
C'est une mauvaise pratique d'utiliser les id/pk pour le tri.

Le tri par pubdate ici est justifié ... ça n'impactera pas les tests négativement. Il s'agit du last_message d'un forum, pas d'un topic particulier.

[2014-12-04 09:45] SpaceFox commented on #1823
- Le tri par PK ne fonctionne pas dans le cas général parce que rien ne te dit qu'une PK, qui est un ID purement technique, va être séquentiel.
- Le tri par pubdate _ne fonctionne pas_ parce que la granularité de la date n'est pas assez fine (à la seconde, et il peut y avoir moins d'une seconde entre 2 messages).

Donc soit on part sur le cas particulier de notre PK si on a la garantie qu'elle est

[2014-12-04 12:13] Coy0te commented on #1823
Une source pour appuyer le fait que les tris par PK (lorsqu'il s'agit d'id numériques) ne sont pas une bonne pratique ? Dans la plupart des SGBD il s'agit d'un champ indexé par défaut, donc justement parfait pour le tri.

[2014-12-04 12:25] firm1 commented on #1823
@Coyote :
C'est tout simple. Si tu as 10 messages, les pk vont aller de 1 à 5.

Si tu supprime les messages 2 et 3, les autres pks ne bougents pas. Il te reste donc les messages 1, 4, 5

Maintenant si tu crées un nouvau message, **CERTAINS SGBD** vont te créer le nouveau message avec la pk = 2. Le critère de tri devient faux.

C'est pour ça que c'est une pratique déconseillé en conception de base

[2014-12-04 12:38] poulp opened #1850 "Partager les ressources sur les réseaux sociaux"
Permettre le partage des articles/tutoriels sur les réseaux sociaux. On pourrait imaginer des boutons sans mouchard pour optimiser le chargement des pages concernées.

Source : https://zestedesavoir.com/forums/sujet/1749/partager-les-ressources-sur-les-reseaux-sociaux

[2014-12-04 12:41] poulp opened #1851 "Notation des messages : voir qui a voté"
Via [le sondage sur le forum](https://zestedesavoir.com/forums/sujet/1017/systeme-de-notation-des-messages), ou en est la discussion à ce niveau ?

[2014-12-04 12:46] Eskimon commented on #1851
Il faudrait faire un point sur le fofo qui est plus adapte a une discussion _fonctionnel_ compare a GH.

[2014-12-04 13:09] firm1 commented on #1850
Doublons de #588 ?

[2014-12-04 13:11] Eskimon commented on #1850
Pas vraiment. 588 a un but editorial tandis que celle-ci serait plutot pour qu'un utilisateur lambda puisse partager un contenu si je ne me trompe pas

[2014-12-04 13:15] SpaceFox commented on #1823
Même au-delà de ça, absolument rien ne te garantit que la PK automatique va te générer des IDs "dans l'ordre". C'est _généralement_ le cas, mais en aucun cas une garantie.

[2014-12-04 13:17] poulp commented on #1850
c'est ça, c'est l'utilisateur lambda qui partage sur le réseau social de son choix

[2014-12-04 13:29] firm1 commented on #1823
oui, voilà.

Ceci dit, ça ne me dérange pas qu'on utilise la date de publication pour ça, plutot que de faire rentrer un nouvel élément de tri qui va ramener son lots de regressions, ainsi que son lot de lenteur (car un index en plus dans la table pour chaque message)

Je rapelle ici qu'on parle de tri sur l'ensemble des messages d'un forum. La granularité a la seconde est déjà amplement suffisant

[2014-12-04 16:05] Coy0te commented on #1823
Ok. Je conçois que ça puisse être considéré comme une mauvaise pratique,
dans le sens où si un jour il y a modif de la BDD, recréation de séquences,
ou migration vers un SGBD exotique, on s'expose à un risque.

Par contre, pour ce qui est de l'argument du "rien ne te le garantit",
l'auto-increment en MySQL, le serial en pgsql, etc... toutes ces options
sont justement des moyens de garantir qu'un i

[2014-12-04 16:10] SpaceFox commented on #1823
C'est parce que ta PK automatique vient du SGBD. Dans le framework maison de ma boîte, la PK est générée par l'application (pour une sombre histoire de cache)... et n'est "pas tout à fait" séquentielle. On a eu des problèmes exactement à cause de ça : des devs qui l'ont crue séquentielle, l'ont utilisée pour trier... et ça a tout pété.

[2014-12-04 16:27] firm1 commented on #1823
Même pour du cache ... il ne faut jamais générer le PK par l'application. On le faisais il y'a 10 ans parce que les SGBD n'était pas bon, mais aujourd'hui, ça ne doit plus se faire.

Pour revenir au sujet : cette issue, devrait être close. Quelqu'un a une idée de pourquoi elle est encore ouverte ?

[2014-12-04 16:29] SpaceFox commented on #1823
D'où le terme "sombre histoire". Et si on pouvait éviter de lancer ici les
trolls du boulot, ce serait sympa.

Le 4 décembre 2014 17:27, firm1 notifications@github.com a écrit :

[2014-12-04 16:30] Eskimon commented on #1796
Ok

[2014-12-04 16:30] #1796 closed, assigned to firm1

[2014-12-04 18:46] Situphen commented on #1850
Bon, le code HTML et JS est presque prêt. Par contre, je met où les boutons ? Dans la sidebar ? En haut ? En bas ?

[2014-12-04 18:53] poulp commented on #1850
Je dirais à la fin de la ressource, ça suit le sens de la lecture.

[2014-12-04 19:13] Situphen commented on #1850
Si c'est à la fin des articles et des mini-tutos, pour les big-tutos on met à la fin du sommaire ? Ou à la fin de chaque sommaires, parties et extraits ?

[2014-12-04 19:32] poulp commented on #1850
A la fin de tout les cas possible

[2014-12-04 19:39] Eskimon commented on #1850
Pourquoi pas tout le temps dans la sidebar ? Dans une rubrique "partager" ?

[2014-12-04 19:40] Eskimon commented on #1850
par contre pourquoi du js ? Je croyais qu'on se contentait de lien simple qui évitait de charger et tracker quoi que ce soit ?

[2014-12-04 19:43] poulp commented on #1850
faudrait l'avis d'un ergonome

[2014-12-04 19:45] Eskimon commented on #1709
Merci @Situphen :)

[2014-12-04 19:45] #1709 closed, assigned to nobody

[2014-12-04 21:31] Situphen commented on #1850
C'est effectivement plus simple à mettre en place dans la sidebar, mais on perd en visibilité ! **(EDIT :** Je pense que je vais partir sur la sidebar pour l'instant car je ne suis pas designer et on pourra toujours refaire une PR pour changer la position des boutons !**)**

Le code fonctionne sans JS. Le JS est juste là pour ouvrir le lien dans une nouvelle fenêtre à la bonne taille au lieu d'un

[2014-12-04 22:04] Eskimon commented on #1850
J'ai pas compris...

On est bien d'accord que le but est juste de proposer un lien sans tracking, rien de plus ni de moins ? (comme c'est proposé ici https://zestedesavoir.com/forums/sujet/1749/partager-les-ressources-sur-les-reseaux-sociaux/#p30858)

[2014-12-04 22:29] Situphen commented on #1850
À la fin de [cet article](http://korben.info/le-creator-ci20-un-nouveau-concurrent-du-raspberry-pi.html) il y a des **liens** pour partager vers les réseaux sociaux. Teste avec et sans JS.

Je pense que j'aurai le temps de faire un truc fonctionnel demain après-midi donc si tu ne vois toujours pas de quoi je parle, tu pourras tester de toi-même ! :)

[2014-12-05 03:40] steenzout commented on #1846
[code]

[2014-12-05 04:55] steenzout commented on #1846
oublier commit f89bba7 <- travis build failed.

[2014-12-05 05:49] firm1 commented on #1850
Deux choses pour moi ici :
- d'accord avec @Eskimon pour la sidebar dans une rubrique "partager"
- Pas besoin de JS ici, je pense. On ne dois pas ouvrir dans une fenettre séparée, ça doit rester un lien comme un autre. Le membre aura le choix pour ouvrir dans un nouvel nouvel onglet s'il veut. C'est comme ça que sont tout les liens du site, on reste donc cohérent et on ne change pas les habitude

[2014-12-05 05:59] steenzout commented on #1846
[code]

30 fait.
il manque 37 mais je peux rien faire sur cela avant que j'arrives a comprendre comment vous faites le test de votre code (pour moi, sans tox c'est plus difficile a comprendre).

[2014-12-05 06:29] Situphen commented on #1850
Sauf que ce ce sont de simple lien. AMHA, l'utilisateur s'attend à ce qu'il y ait le même effet que les boutons officiels. Je trouve que ne pas mettre le code JS est rendre cette fonctionnalité moins utilisable ! Ping DTC @SpaceFox : quel est ton avis ?

[2014-12-05 19:23] Situphen commented on #1850
J'ai fait un truc potables sur ma branche `fix_1850` (https://github.com/Situphen/zds-site/tree/fix_1850).

Il y a des liens vers Facebook, Twitter, Google+ et vers un email.

Les pages concernées sont pour l'instant les articles et les tutoriels (parties et chapitres inclus) même si je pense qu'il serait bien d'ouvrir ça aux tutoriels BETA.

J'ai laissé le JS pour que vous voyez ce que s'est.

**

[2014-12-06 04:35] steenzout opened #1860 "cyclic imports"
a verifier...
1.  zds/gallery/**init**.py Line 1
   Cyclic import (zds.tutorial.models -> zds.utils.models)
2. zds/gallery/**init**.py Line 1
   Cyclic import (zds.tutorial.models -> zds.utils.tutorials)
3. zds/gallery/**init**.py Line 1
   Cyclic import (zds.tutorial.models -> zds.utils.tutorials -> zds.utils.models)

[2014-12-06 08:14] gustavi commented on #1860
@steenzout tu ne veux pas faire un petit effort pour les issues ? Là on ne comprend rien.

[2014-12-06 10:19] steenzout commented on #1860
landscape.io a fait un rapport sur la possibilite d'avoir un module A qui fait un import d'un module B et C mais module C fait un import de B donc.

A->B+C
C->B

ca peut donner des problèmes selon l'ordre des imports mais meme si c'est pas un problème, ca c'est un "code smell".
probablement, c'est mieux de faire un refactoring et faire bouger un code sur un autre / nouveau module.

j'ai regarde le

[2014-12-06 12:06] SpaceFox opened #1862 "Critères de tri dans le forum"
Ceci fait suite à #1823 et à #1828.

Je refais un peu d'historique :
1. @firm1 corrige un bug de tests en remplaçant des tris par `pubdate` par des tris par `position`
2. Ça introduit un bug. Le correctif est justement de [**remettre** le tri par `pubdate`](https://github.com/zestedesavoir/zds-site/pull/1828/files)
3. Quand on demande pourquoi les `pubdate` ont été remplacés par des `position`, @f

[2014-12-06 23:21] SpaceFox commented on #1842
Corrigé et mergé --> fermé

[2014-12-06 23:21] #1842 closed, assigned to nobody

[2014-12-08 09:53] firm1 opened #1868 "Eviter le rechargement de la page pour les actions d'un topic"
Comme on peut le remarquer sur le screen ci-dessous, si on clique sur les boutons rouge, la page est rechargée.

L'idée de l'issue est d'utiliser la technologie Ajax pour envoyer les requêtes vers le serveur afin d'éviter les rechargement de page.

![ajax](https://cloud.githubusercontent.com/assets/6066015/5337370/d48ce456-7ec7-11e4-85e4-b1438cd2405f.PNG)

[2014-12-08 09:55] SpaceFox commented on #1868
\o/

Le 8 décembre 2014 10:54, firm1 notifications@github.com a écrit :

[2014-12-08 12:49] SpaceFox commented on #1862
Puisque @firm1 semble bien décidé à ne surtout pas poster ici, voici la réponse qu'il a posté [dans ce topic](https://zestedesavoir.com/forums/sujet/1713/preparation-du-deploiement-de-la-v13/?page=5#p33118) :

---

Cependant, comme je le disais la dernière fois, cette release n'a pas de bug bloquant. On dirait que les bugs ont été mal interprété dans la plupart des cas.

## Le problème de tri

Il

[2014-12-08 16:51] cgabard commented on #6
Bon on en est où ici ? Est ce toujours d'actualité ? Est ce que ça a avancé ?

Si quelqu'un a un truc proche du but, je propose qu'on laisse ouvert jusqu'à ce qu'il le finisse.

Sinon  on la traine depuis un temps très important et tout le monde semble avoir un avis différent. Du coup je proposerai de la fermer et d'attendre que quelqu'un prenne son courage a deux main pour faire une mini-zep sur

[2014-12-08 16:52] cgabard commented on #49
Si ça sera réglé par la zep-12, on ne va pas la fixer dans le code comme ça donc ce ticket peut être fermé.

[2014-12-08 16:53] cgabard commented on #59
Ce ticket a maintenant une zep qui lui correspond. Je propose de le fermer tant que la zep n'a pas aboutit. Ça sert a rien de garder un ticket pour attendre une zep pas encore validé.

[2014-12-08 16:56] cgabard commented on #127
Ce ticket est prit en charge par la zep 08, on a aucun interet a garder ce ticket ouvert je pense. Ce n'est qu'une sous-partie de la zep 08.

[2014-12-08 16:56] cgabard commented on #171
Ce ticket est prit en charge par la zep 08, on a aucun interet a garder ce ticket ouvert je pense. Ce n'est qu'une sous-partie de la zep 08.

[2014-12-08 16:57] cgabard commented on #585
Ce ticket est prit en charge par la zep 06. on a aucun interet a garder ce ticket ouvert je pense. Ce n'est qu'une sous-partie de la zep 06. La zep n'étant pas validé -> A fermer

[2014-12-08 16:58] cgabard commented on #1122
Ce ticket est prit en charge par la zep 06. on a aucun interet a garder ce ticket ouvert je pense. Ce n'est qu'une sous-partie de la zep 06. La zep n'étant pas validé -> A fermer

[2014-12-08 16:58] cgabard commented on #147
Ce ticket est prit en charge par la zep 06. on a aucun interet a garder ce ticket ouvert je pense. Ce n'est qu'une sous-partie de la zep 06. La zep n'étant pas validé -> A fermer

[2014-12-08 16:58] firm1 commented on #6
J'ai commencé [ça](http://zestedesavoir.com/forums/sujet/1853/installation-dune-instance-locale-de-zds-en-une-ligne/), ça compte ?

[2014-12-08 17:00] firm1 commented on #49
Si on ferme l'issue on risque de l'oublier. Je suis d'avis de la laisser ouverte tant que c'est pas corrigé

[2014-12-08 17:01] firm1 commented on #59
Pas faux.

Je ferme.

[2014-12-08 17:01] #59 closed, assigned to nobody

[2014-12-08 17:01] cgabard commented on #200
@firm1 : on en est où là ? Ça correspond un peu au sujet du forum. A priori on garde les outils front. Ce ticket est il encore d'actualité ? Sinon, à fermer;

[2014-12-08 17:01] firm1 commented on #127
Pas faux, je ferme aussi.

[2014-12-08 17:01] #127 closed, assigned to nobody

[2014-12-08 17:02] cgabard commented on #282
Ce meta ticket est prit en charge par plusieurs zeps existantes voir est partiellement implémenté. Je ferme.

[2014-12-08 17:02] #282 closed, assigned to nobody

[2014-12-08 17:04] cgabard commented on #308
Plop, quelqu'un a le courage pour finir ça ?

[2014-12-08 17:04] firm1 commented on #200
Ici, on parle plutot des outils du projet, pas d'outil front. Mais cette issue fait doublon avec l'autre sur le forum, donc je à fermer.

[2014-12-08 17:04] #200 closed, assigned to nobody

[2014-12-08 17:05] artragis commented on #308
Allez, je m'y mets ce soir. sauf pour la

Staff actions using AJAX TODO: Do not redirect on AJAX requests

je me sens pas trop de la faire celle-là.

2014-12-08 18:04 GMT+01:00 Christophe Gabard notifications@github.com:

[2014-12-08 17:07] cgabard commented on #308
Aide toi du lien que j'ai donné tout en haut. Pour les régler tu as 3 choix :
- C'est facile : tu fix le code
- C'est pas déconnant mais un peu long : tu fais un ticket correspondant et tu vire le TODO du code
- C'est pas réaliste a court terme (ex: Ajax parce que de toute façon il y en a pas), tu vire juste le commentaire.

[2014-12-08 17:08] cgabard commented on #401
Encore d'actualité ?

[2014-12-08 17:09] firm1 commented on #401
Oui

[2014-12-08 17:10] cgabard commented on #403
Pour moi ça devrait mériter une Zep donc ticket a fermer tant que pas fait. Peut être faire un sujet sur le forum "idée de zep" pour lister ces idées qui mériteraient à être détaillés ?

[2014-12-08 17:10] firm1 commented on #1831
C'est corrigé ici

[2014-12-08 17:10] #1831 closed, assigned to firm1

[2014-12-08 17:11] firm1 commented on #1823
A fermer donc ici ?

[2014-12-08 17:12] cgabard commented on #6
Ok donc c'est encore en cours. Ta solution semble plaire, donc c'est en cours de résolution, ça me va.

[2014-12-08 17:14] cgabard commented on #49
Bah non. Intrinsequement la zep-12 va la régler puisque c'est la même chose : rendre le code article et tuto identique. On risque pas d'oublier, sauf peut être de fermer le ticket.

[2014-12-08 17:15] cgabard commented on #464
Ce ticket et le suivant ne sont plus d'actualités

[2014-12-08 17:15] cgabard commented on #465
Ce ticket et le précédent ne sont plus d'actualités

[2014-12-08 17:17] cgabard commented on #471
Ça mérite de laisser le ticket d'ouvert alors que ça fait doublon avec la zep ?

[2014-12-08 17:19] cgabard commented on #589
il y a une zep pas encore validé à ce sujet, on devrait le fermer non ?

[2014-12-08 17:19] cgabard commented on #487
Pour moi ça devrait mériter une Zep donc ticket a fermer tant que pas fait. Peut être faire un sujet sur le forum "idée de zep" pour lister ces idées qui mériteraient à être détaillés ?

[2014-12-08 17:20] cgabard commented on #608
Ce ticket est une sous partie de la zep 12, aucun interet de le laisser ouvert.

[2014-12-08 17:20] #608 closed, assigned to nobody

[2014-12-08 17:29] cgabard commented on #1719
Le todo n'existe plus dans le code.... On ferme ?

[2014-12-08 17:30] cgabard commented on #1719
(au pire ça devait être réglé par le ticket sur les todo, aucun interet à gardé celui ci)

[2014-12-08 17:33] cgabard commented on #1600
@SpaceFox : un retour du coup ?

sinon :

Est ce que la solution ne serait pas plus simplement de configurer le seuil plus bas pour les tutos ? connaissant git, doit bien y avoir une conf facile a régler pour ça

[2014-12-08 18:35] ChantyTaguan commented on #1651
Ca a l'air réglé ça. A fermer ?

[2014-12-08 18:42] Eskimon commented on #1651
Par quel magie ? (il y avait un membre qui était dans ces deux cas, faudrait le retrouver)

[2014-12-08 18:45] ChantyTaguan commented on #1651
Aucune idée, mais je viens de tester en local (sur dev) et j'ai bien l'étiquette banni sur un membre banni+LS.

Sauf si c'est un cas particulier, auquel cas faudrait des détails pour pouvoir reproduire.

[2014-12-08 19:02] gustavi commented on #171
Oui. Je ferme puisque c'est devenu une "évidence".

[2014-12-08 19:02] #171 closed, assigned to nobody

[2014-12-08 19:03] gustavi commented on #585
Je ferme ici aussi.

[2014-12-08 19:03] #585 closed, assigned to nobody

[2014-12-08 19:07] gustavi commented on #1122
Oui. Je ferme.

[2014-12-08 19:07] #1122 closed, assigned to nobody

[2014-12-08 19:07] gustavi commented on #147
Oui. Je ferme.

[2014-12-08 19:07] #147 closed, assigned to nobody

[2014-12-08 19:09] gustavi commented on #403
:+1:

EDIT : fait ! https://zestedesavoir.com/forums/sujet/1876/idees-a-zep/

[2014-12-08 19:16] #403 closed, assigned to nobody

[2014-12-08 19:16] gustavi commented on #1823
Oui.

[2014-12-08 19:16] #1823 closed, assigned to nobody

[2014-12-08 19:18] gustavi commented on #464
Alors on ferme !

[2014-12-08 19:18] #464 closed, assigned to nobody

[2014-12-08 19:18] gustavi commented on #465
Et on ferme ici aussi !

[2014-12-08 19:18] #465 closed, assigned to nobody

[2014-12-08 19:22] gustavi commented on #471
Non.

https://zestedesavoir.com/forums/sujet/622/zep-02-elaboration-dune-api/
https://zestedesavoir.com/forums/sujet/1365/zep-17-elaboration-de-lapi-des-membres/

[2014-12-08 19:22] #471 closed, assigned to nobody

[2014-12-08 19:23] gustavi commented on #589
Je ferme.

https://zestedesavoir.com/forums/sujet/976/zep-13-tribune-libre/ pour la suite des discussions.

[2014-12-08 19:23] #589 closed, assigned to nobody

[2014-12-08 19:25] Eskimon commented on #59
Lien vers la ZEP : http://zestedesavoir.com/forums/sujet/1009/zep-14-refonte-de-lassistant-dedition-markdown/

[2014-12-08 19:25] Eskimon commented on #127
Lien vers la ZEP : http://zestedesavoir.com/forums/sujet/724/zep-08-utilisation-de-git-pour-gerer-les-tutos-et-articles/

[2014-12-08 19:26] Eskimon commented on #282
Lien vers une des ZEP : http://zestedesavoir.com/forums/sujet/822/zep-10-module-dexercices/

[2014-12-08 19:26] gustavi commented on #487
Je ferme. https://zestedesavoir.com/forums/sujet/1876/idees-a-zep/ pour la suite des discussions.

[2014-12-08 19:26] #487 closed, assigned to nobody

[2014-12-08 19:26] Eskimon commented on #200
QQun a le lien du forum sous la main ?

[2014-12-08 19:27] Eskimon commented on #608
ZEP 12 : http://zestedesavoir.com/forums/sujet/846/zep-12-refonte-du-principe-des-tutoriels-et-articles/

[2014-12-08 19:27] gustavi commented on #1719
Ça semble avoir été corrigé.

[2014-12-08 19:27] #1719 closed, assigned to nobody

[2014-12-08 19:28] Eskimon commented on #171
Lien vers la ZEP 8 : http://zestedesavoir.com/forums/sujet/724/zep-08-utilisation-de-git-pour-gerer-les-tutos-et-articles/

[2014-12-08 19:28] Eskimon commented on #585
Lien vers la ZEP 6 : http://zestedesavoir.com/forums/sujet/678/zep-06-favoris-et-autres-suivi-dactivite/

[2014-12-08 19:28] Eskimon commented on #1122
Lien vers la ZEP 6 : http://zestedesavoir.com/forums/sujet/678/zep-06-favoris-et-autres-suivi-dactivite/

[2014-12-08 19:28] firm1 commented on #200
Lien sur le forum : http://zestedesavoir.com/forums/sujet/1584/utilisons-github-de-maniere-plus-propre/

[2014-12-08 19:28] Eskimon commented on #147
Lien vers la ZEP 6 : http://zestedesavoir.com/forums/sujet/678/zep-06-favoris-et-autres-suivi-dactivite/

[2014-12-08 19:32] gustavi commented on #147
(Merci @Eskimon de passer derrière moi :D )

[2014-12-08 20:11] Eskimon commented on #1651
Ouai faudrait que je retrouve le membre qui générait ca...

[2014-12-08 20:16] Eskimon commented on #49
Je cite la ZEP 12 :

Donc c'est fermable d'après moi car intrinsèquement présent dans la ZEP-12

[2014-12-08 20:16] #49 closed, assigned to nobody

[2014-12-08 20:35] firm1 commented on #1868
Done

[2014-12-08 20:35] #1868 closed, assigned to nobody

[2014-12-08 22:09] Luthaf opened #1871 "Label vide pour une checkbox du profil"
Actuellement, j'ai ça sur mon profil :

![capture d ecran 2014-12-08 a 23 00 21](https://cloud.githubusercontent.com/assets/6141587/5348328/149fdd0c-7f2f-11e4-8c13-6da032ea1444.png)

Légèrement problématique : dois-je me désinscrire ou m'inscrire à cette option mystère ^-^ ?

Edit : toujours vrai en 1.3.

[2014-12-08 22:56] SpaceFox commented on #1600
Bah pour l'instant aucun problème.

Comme ce n'a pas été MEP, je la passe sur une version future.

[2014-12-08 23:16] AlexRNL opened #1874 "Message de suivi perdu après demande d'aperçu de l'extrait modifié"
Je viens d'essayer la fonctionnalité qui permet de préciser un message de commit lors de la modification d'un extrait d'un tutoriel (#1133). Ça marche bien, mais lorsqu'on demande un aperçu de son extrait, le contenu du message de suivi est perdu et il faut le réécrire.

Il serait plus pratique que la valeur du champs soit sauvegardé entre les différents aperçus :)

[2014-12-09 00:08] firm1 commented on #1702
Fixé

[2014-12-09 00:08] #1702 closed, assigned to Florianboux

[2014-12-09 00:09] firm1 commented on #1850
C'est fixé.

Merci bien.

[2014-12-09 00:09] #1850 closed, assigned to nobody

[2014-12-09 00:17] firm1 opened #1875 "Lien de telechargement de la doc de solr down"
Dans la [doc d'install de solr](https://github.com/zestedesavoir/zds-site/blob/f3f4e481c50f195644d77c5f270a27bc2777afa4/doc/install-solr.md), le lien de téléchargement renvoi vers une 404.

[2014-12-09 07:28] Eskimon commented on #1875
Ils ont change leur systeme de numerotation de versions ? Je trouve pas de 4.9 mais que des 1.4...

http://apache.crihan.fr/lucene/solr/

[2014-12-09 07:42] Eskimon commented on #1871
Arf j’étais persuade de l'avoir corrige celui-ci...

[2014-12-09 07:42] Eskimon commented on #1871
Pour qui veut corriger au plus tot, il faudra mettre en unicode la chaine ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/forms.py#L274

[2014-12-09 07:46] SpaceFox commented on #1875
C'est ton lien qui est foireux : la bonne racine du miroir est
http://apache.crihan.fr/dist/lucene/solr/ (le tien ne contient que des
versions ancestrales).

2014-12-09 8:28 GMT+01:00 Eskimon notifications@github.com:

[2014-12-09 15:17] cgabard commented on #1312
Tiens je l'avais pas vu celui là.

Alors techniquement c'est dans le markdown qu'il faut le mettre ce ticket, c'est lui qui englobe pygment.

Pour le résoudre, juste [apres l'étape de création du lexer](https://github.com/zestedesavoir/Python-ZMarkdown/blob/master-zds/markdown/extensions/codehilite.py#L127) il faut regarder si c'est un lexer php et, le cas échéant, activer l'option.

[2014-12-09 15:18] cgabard commented on #1334
C'est pas en prod ça maintenant ?

[2014-12-09 15:53] firm1 commented on #1334
Nope (la PR est toujours en zone de PR)

[2014-12-09 18:34] firm1 commented on #1871
Corrigé :)

[2014-12-09 18:34] #1871 closed, assigned to nobody

[2014-12-10 01:51] antoyo opened #1878 "Code de template Django affiché dans la page d’inscription"
Bonsoir.
Dans la page d’inscription, on voit du code de template Django :

[code]

Cela devrait afficher le texte (éventuellement) traduit au lieu du code de template Django.

Merci de corriger cela.

[2014-12-10 01:58] antoyo opened #1879 "Code de template Django dans la version texte du courriel MP: Bienvenue sur ZesteDeSavoir"
Bonjour.
Il y a du code de template Django dans la version texte du courriel intitulé « zds - MP: Bienvenue sur ZesteDeSavoir » :

`{% trans "Cordialement,
L’équipe" %}`

La version HTML ne contient pas du code de template Django, c’est seulement la version texte du message qui en contient.

Merci de corriger cela.

[2014-12-10 02:16] antoyo opened #1880 "Mauvais liens dans le MP de bienvenue"
Bonsoir.
Le MP de bienvenue contient le début de texte suivant :

Je crois que les liens devraient être http://zestedesavoir.com/ au lieu de http://zestedesavoir.com/forums/forums/, non ?

[2014-12-10 02:22] antoyo opened #1881 "Texte manquant dans le courriel de confirmation d’inscription"
Bonjour.
Le texte du courriel de confirmation d’inscription débute par :

Il manque du texte après le mot `sur`.
Vous vouliez sans doute dire :

Par ailleurs, la version texte contient du code HTML, mais ça a déjà été reporté.

[2014-12-10 09:45] firm1 commented on #1878
Merci pour ton rapport.

Tu m'as l'air de savoir comment lire le code. ça te dirais de t'essayer aux pull requests ?

[2014-12-10 16:37] antoyo commented on #1879
Je prends.

[2014-12-10 19:26] antoyo commented on #1878
Oui, bien sûr que ça m’intéresse.
J’ai fait un pull request pour un autre bug cependant, car celui-ci est déjà corrigé en dev.
Désolé d’avoir reporté un bug déjà corrigé.

[2014-12-10 19:26] #1878 closed, assigned to nobody

[2014-12-10 20:02] firm1 commented on #1879
ça c'est fait.

Merci pour la correction rapide.

[2014-12-10 20:02] #1879 closed, assigned to nobody

[2014-12-11 09:06] gustavi commented on #1880
Oui je confirme que ce n'est pas bon. Ça a du être introduit dans la v1.3.

[2014-12-11 09:07] gustavi commented on #1881
C'est connu et en cours de correction. Merci du retour !

[2014-12-11 09:08] gustavi commented on #1881
Doublon de #1784

[2014-12-11 09:08] #1881 closed, assigned to nobody

[2014-12-11 13:36] Coy0te commented on #1493
On a des exemples de big-tutos dont la conversion PDF foire ?

[2014-12-11 13:42] SpaceFox commented on #1493
Ma précédente question est toujours d'actualité.

2014-12-11 14:36 GMT+01:00 Coyote notifications@github.com:

[2014-12-11 14:03] firm1 commented on #1493
Il faut regarder le fichier de log pandoc sur la prod

firm1
Le 11 déc. 2014 14:36, "Coyote" notifications@github.com a écrit :

[2014-12-11 17:19] Situphen opened #1884 "Mauvais lien pour "Ne plus suivre" sur certaines pages"
Reporté ici : https://zestedesavoir.com/forums/sujet/1888/erreur-404-lorsque-lon-clique-sur-ne-plus-suivre/?page=1#p33536

Le lien "Ne plus suivre" mène vers "/forums/sujet/editer/" ce qui donne une 404. Ce bug est présent sur les pages du type "Forums" et "Forums - Communauté" mais pas sur les pages du type "Forums - Communauté - Bugs et Suggestions".

[2014-12-11 20:42] Situphen opened #1885 "Re-générer le fichier de traduction en production"
Depuis que le code est prêt à être traduit, on voit pas mal de "bugs" comme [celui-ci](https://zestedesavoir.com/forums/sujet/1881/probleme-avec-laffichage-du-message/?page=1#p33352). C'est pourquoi il serait bien re-générer le fichier de traduction à chaque MEP et de le faire pour la version actuelle en prod (soit en ligne de commande, soit via un hotfix ou par la version v1.3b) !

[2014-12-11 20:44] Situphen commented on #1767
[Ici](https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/post/new.html#L33) il faut inclure le `<strong>` dans la chaîne car il y a le `</strong>` dedans.

[2014-12-11 20:54] SpaceFox commented on #1885
Je ne comprends pas. Pour moi ce fichier était sensé être régénéré à chaque
fois qu'on touche une chaîne de caractères.

Quelles sont les bonnes pratiques ?
Quels sont les impacts de forcer les générations à chaque MEP ?

Le 11 décembre 2014 21:42, Situphen notifications@github.com a écrit :

[2014-12-11 21:05] Situphen commented on #1885
Bah normalement quand quelqu'un touche une chaîne, il doit re-générer le
fichier de traduction. Apparemment tout le monde ne fait pas ça donc il
faudrait le re-générer pour éviter des erreurs d'affichage. Je ne crois pas
qu'il y ait de gros d'impacts si l'on fait ça lors de la MEP. Ping @firm1

[2014-12-11 21:29] firm1 commented on #1885
Bon pour faire court (je detaille quand j'ai un clavier) :
- non Stipuphen la génération du fichier en prod est déjà automatique quand on MEP (cf. Script de mep)
- quand bien même ce n'était pas fait, le fichier .po n'est pas utilisé dans notre cas car on a qu'une langue
- au zest meeting on s' est dit (cf. le compte rendu) que le fichiet ne sera plus généré par les devs, uniquement lors des relea

[2014-12-12 00:11] antoyo commented on #1880
Je me demandais s’il devrait y avoir des tests pour ce genre de cas (courriels, MPs).
De cette manière ça éviterait les régressions.
Qu’en pensez-vous ?

[2014-12-12 06:48] Situphen commented on #1885
Je n'ai bien compris mais je vous fait confiance ! ;)

[2014-12-12 12:25] Eskimon commented on #1493
Pas de pdf pour ce tuto tres recent :https://zestedesavoir.com/tutoriels/688/administrez-vos-bases-de-donnees-avec-mysql/

[2014-12-12 16:49] gustavi commented on #1880
@antoyo : ça va venir avec la refacto des templates des emails (je bosse dessus rapidement).

[2014-12-12 16:51] gustavi commented on #1493
Quelqu'un a tenté quelques chose sur la préprod ? Je peux essayer de voir ça si vous voulez.

[2014-12-12 17:15] gustavi opened #1889 "Dépassement des -1/+1 avec les longues signatures"
Reporté sur via [forum](https://zestedesavoir.com/forums/sujet/1905/signatures-et-1/).

Une image vaut mieux que toutes les explications du monde : http://i.imgur.com/qww9t9a.png

Ça le fait sous Firefox, ailleurs surement aussi.

[2014-12-12 22:30] Situphen commented on #1889
La PR #1890 a été mergé donc cette issue doit être fermé !

[2014-12-12 22:32] Situphen commented on #1750
La PR #1752 a été mergé donc cette issue doit être fermé !

[2014-12-12 22:33] #1750 closed, assigned to nobody

[2014-12-12 22:37] Situphen commented on #1724
Vous entendez quoi par versionner les fichiers statiques ? Mettre "main.v1-3.min.css" au lieu de "main.min.css" ?

[2014-12-12 23:01] #1889 closed, assigned to nobody

[2014-12-12 23:23] Situphen commented on #1670
@firm1 tu as toujours ce bug ou on peut fermer ?

[2014-12-12 23:30] Situphen commented on #1529
NPM a planté récemment ? Si non, on peut fermer !

[2014-12-12 23:31] Situphen commented on #1523
On fait quoi de cette issue ? Il y a une fonctionnalité à implémenter ou on ferme ?

[2014-12-13 00:00] firm1 commented on #1670
Le bug est tjours présent.

firm1
Le 13 déc. 2014 00:24, "Situphen" notifications@github.com a écrit :

[2014-12-13 00:00] firm1 commented on #1529
Il a planté y'a pas moins de quelques jours je crois. J'ai du relancer le
build de travis.

firm1
Le 13 déc. 2014 00:30, "Situphen" notifications@github.com a écrit :

[2014-12-13 00:02] Situphen commented on #1670
Quel navigateur ?
Quel OS ?
Quel version (prod, dev...) ?

[2014-12-13 00:07] firm1 commented on #1670
C'etait sur Chrome 37 ubuntu en v1.2.

J'ai pas vérifié si ça se reproduit en 1.3, mais a ma connaissance rien n'a été fait en 1.3 pour corriger ça.

[2014-12-13 00:09] Situphen commented on #1670
Ce serait cool si tu pouvais vérifier en v1.3 et sur la branche dev ! :)

[2014-12-13 09:06] gustavi commented on #1523
À discuter sur le forum je pense.

[2014-12-13 09:09] gustavi commented on #1529
Je pense qu'on peut fermer ici. Qu'un build plante ça peut arriver, on est pas au 1/3 constaté fut une époque.

[2014-12-13 09:16] gustavi opened #1891 "Erreur 500 sur la page de succès de changement de mot de passe"
Reporté sur le [forum](https://zestedesavoir.com/forums/sujet/1909/erreur-500/?page=1#p34075) et via Sentry.

Un soucis de template sur `member/new_password/success.html at line 25`.

[2014-12-13 09:55] Eskimon commented on #1724
vi

[2014-12-13 09:57] gustavi commented on #1724
Je suis en train de voir comment on peut faire ça proprement, sachant qu'il faudrait le faire avec Django.

[2014-12-13 10:00] Eskimon commented on #1529
assez d'accord avec @gustavi

[2014-12-13 10:02] gustavi commented on #1529
Je ferme, on ré-ouvrira si on a de nouveaux des problèmes.

[2014-12-13 10:02] #1529 closed, assigned to nobody

[2014-12-13 10:07] #1891 closed, assigned to gustavi

[2014-12-13 10:14] gustavi opened #1893 "Supprimer ou corriger ce qui est inutile sur les 500"
En gros ce qui est inutile ou foireux sur les 500 qui sont des pages fixes :
- version/nom du site absent
- boutons connexion/Identification

[2014-12-13 10:22] Situphen commented on #1724
@gustavi : tu auras sûrement à toucher aux outils front donc si tu as besoin d'aide, ping moi ou @sandhose ! ;)

[2014-12-13 10:40] #308 closed, assigned to artragis

[2014-12-13 10:59] gustavi commented on #1639
Je réouvre car on en mange encore suite à la tentative de publication du tuto arduino en preprod.

[2014-12-13 11:02] #1880 closed, assigned to nobody

[2014-12-13 11:05] gustavi commented on #1724
Oui, je regarde les semaines qui arrivent ;)

[2014-12-13 11:11] gustavi commented on #1457
Corrigé dans #1886, je ferme.

[2014-12-13 11:11] #1457 closed, assigned to nobody

[2014-12-13 11:19] sandhose commented on #1724
Il est possible de mettre en place un plugin genre [gulp-rev](https://www.npmjs.com/package/gulp-rev), qui calcule un hash pour chaque fichier, qui le rajoute au nom de fichier (genre `dist/css/main-0abf4.min.css`), et sort l'association pour chaque fichier dans un manifest au format JSON...

Du fait que c'est le contenu du fichier qui est hashé, et pas juste un string aléatoire permet de garder e

[2014-12-13 11:21] gustavi commented on #1724
Le principal souci c'est que c'est pas au front de faire ça. Comme je l'ai dit plus haut je proposerai une solution.

[2014-12-13 13:08] pierre-24 commented on #1794
J'allais justement dire que je prenais, mais @firm1  a été plus rapide que moi :o

[2014-12-13 13:42] gustavi commented on #1794
Fixé dans #1894 !

[2014-12-13 13:42] #1794 closed, assigned to pierre-24

[2014-12-13 16:00] AlexRNL commented on #1523
Désolé, j'avais un peu laissé l'issue de coté.

En résumé :
- Le lien pour aller au dernier message non-lu depuis la liste des forums a pour texte "Dernière réponse" ce qui donne l'impression que ce lien renvoi au dernier message du topic.
- Une fois arrivé sur un sujet, il n'est plus possible de se rendre au "dernier message lu" (ce qui est l'objet de ma demande initiale).
- Idéalement, j'aurais

[2014-12-13 16:22] gustavi commented on #1523
Tu t'en occupes ?

[2014-12-13 20:37] pierre-24 opened #1896 "Changement de licence impossible en local"
Comment reproduire le bug :
- Créer un tuto
- Changer la licence pour n'importe quoi d'autre que la licence par défaut "tout droit réservé".
- Tenter d'éditer le tuto et ce manger une erreur `index out of range`

À priori, ça n'arrive que sur la version de dev et pas sur la prod. À priori, j'ai déjà la solution.

[2014-12-13 21:35] pierre-24 commented on #1874
Je prends :)

[2014-12-13 21:41] #1896 closed, assigned to pierre-24

[2014-12-13 21:41] gustavi commented on #1896
Corrigé dans #1896

[2014-12-13 21:51] pierre-24 opened #1898 "[proposition] "une version plus récente existe""
Lorsqu'on est plusieurs sur un tutoriel/article, il arrive qu'on édite le même texte. Actuellement, un mécanisme de "protection" indique qu'une version plus récente a été écrite, tout en affichant le texte de cette nouvelle version. Autrement dit, l'ancien texte est écrasé, sans qu'il ne soit possible de le récupérer (bien entendu, c'est toujours possible avec le bouton "précédent" sur les navigos

[2014-12-13 22:49] gustavi commented on #1898
Pourquoi pas. @pierre-24 c'est mieux de faire ce genre de proposition sur le forum ;)

[2014-12-13 23:00] gustavi commented on #1874
Corrigé et mergé dans #1899 !

[2014-12-14 01:43] fxmarty opened #1900 "[suggestion] Afficher les noms complets sur la page des tutoriels"
A un niveau de zoom plus élevé que celui par défaut, certains titres sur les pages [Tous les tutoriels](https://zestedesavoir.com/tutoriels/), ses sous-parties, et sur la page [Tous les articles](https://zestedesavoir.com/articles/) ne sont pas affichés dans leur totalité, des "..." remplaçant la fin des titres.
Voici un screenshot peut-être plus explicite :
![test10](https://cloud.githubuserconte

[2014-12-14 08:06] gustavi commented on #1900
Je crois que c'est prévu avec la ZEP-04. Il me semble même qu'une issue est déjà ouverte.

Merci de retour mais à l'avenir il serait bien de passer par le forum pour toute suggestion !

[2014-12-14 09:09] pierre-24 commented on #1817
Ce que vous proposez est bien en théorie, mais inapplicable en pratique, parce que MathJax n'offre pas cette option. On en avait déjà discuté sur #1310 pour une autre raison, et y'avais pas moyen de faire des trucs subtils. Dans tout les cas, pour ce qui concerne MathJax, il faut appeller @aMorison !

[2014-12-14 12:04] pierre-24 commented on #1898
Fait : https://zestedesavoir.com/forums/sujet/1922/une-version-plus-recente-existe/ :)

[2014-12-14 13:29] fxmarty commented on #1900
Oui, j'ai ouvert le ticket avant de voir qu'il y avait un sous-forum et même un topic consacré à ce genre de mini-problème...

Désolé pour le dérangement.

[2014-12-14 13:34] #1874 closed, assigned to pierre-24

[2014-12-14 14:35] #1900 closed, assigned to nobody

[2014-12-14 14:37] SpaceFox commented on #1885
Normalement c'est OK avec la v1.4, du coup il faut juste vérifier que c'est bon ?

[2014-12-14 14:42] SpaceFox commented on #1707
En fait c'est pas corrigé ici.

[2014-12-14 14:46] SpaceFox commented on #531
Corrigé, mergé, fermé !

[2014-12-14 14:46] #531 closed, assigned to Eskimon

[2014-12-14 15:09] sandhose commented on #1717
C'est mergé, je ferme

[2014-12-14 15:09] #1717 closed, assigned to nobody

[2014-12-14 15:59] SpaceFox opened #1903 "[Hotfix v1.4] La connexion via les réseaux sociaux renvoie vers le mauvais nom de domaine"
Ou plus exactement utilise le nom de domaine interne, qui n'est pas le nom de domaine public. Exemple avec twitter : http://zdsappserver/complete/twitter/

[2014-12-14 16:00] SpaceFox opened #1904 "[Hotfix v1.4] La page de la ZEP-3 n'est pas accessible"
Erreur :

UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 4: ordinal not in range(128)

template : tutorial/tutorial/help.html at line 58

Cf Sentry pour les détails.

[2014-12-14 17:56] pierre-24 commented on #1904
Y'a moyen que tu me balance les détails SEntry concernant par MP ou un truc du genre ? Merci :)

[2014-12-14 18:22] pierre-24 opened #1906 "[Hotfix1.4] Tout les sujets sont marqués comme résolu"
Comme [reporté sur la préprod](http://preprod.zestedesavoir.com/forums/sujet/1787/tous-les-sujets-sont-marques-comme-resolus/?page=1#p30770), quand on visite un sujet, il apparaît systématiquement avec le bandeau vert indiquant que l'auteur a trouvé une solution a son problème. L'exemple est tout simplement le sujet que j'ai mis en lien ... Que je n'ai pas sélectionné comme résolu. D'ailleurs, j'a

[2014-12-14 18:34] pierre-24 commented on #1906
Piste de résolution : y'a un truc pas net dans la template correspondante, [ligne 67 du fichier template/forum/topic/index.html](https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/topic/index.html#L67).

[2014-12-14 18:52] Situphen opened #1907 "Gulp recrée les images et les smileys après un changement de dossier"
Reporté [sur le forum](https://zestedesavoir.com/forums/sujet/1921/gulp-fait-nimporte-quoi-sur-ma-version-du-zds) :

[code]

Le problème vient de la dépendance "imagemin" qui met en cache les images minimisées. La faute revient à `$.cache()` que l'on trouve à [la ligne 110](https://github.com/zestedesavoir/zds-site/blob/dev/Gulpfile.js#L110) et à [la ligne 118](https://github.com/zestedesavoir/zds

[2014-12-14 19:34] pierre-24 commented on #1904
Je crois que je tiens l'erreur, attention, c'est un peu subtil.
- Créer un tutoriel avec un user A, dont le titre comporte des accents. Demander de l'aide. Si on visite alors la page de demande d'aide, on a pas d'erreur
- Se connecter avec un utilisateur B, visiter la page d'aide: boum, erreur unicode.
- Si l'user A désactive sa demande d'aide, tout redevient normal. Si on demande de l'aide sur un

[2014-12-14 19:50] SpaceFox commented on #1904
Hop, assigné !

[2014-12-14 19:57] Situphen commented on #1906
Le code est bon, c'est juste le CSS qui est manquant. Cependant je pense que c'est mieux de passer par le Back pour ce genre d'alerte ! ;)

La question est : y-a-t-il un problème si on passe par le back ?

[2014-12-14 19:58] pierre-24 commented on #1906
Dévellope un peu ce que tu entends par "passer par le back" ?

[2014-12-14 20:02] Situphen commented on #1906
**Actuellement**, le message est tout le temps envoyé, il est caché en CSS.

**Dans l'idéal**, le message est envoyé que quand il faut. (Avec un `{% if ... %}`)

[2014-12-14 20:04] pierre-24 commented on #1906
... C'était le cas avant. Puis, j'ai pas trop compris pourquoi, @firm1 a fait un truc pour faire de l'AJAX (en fait, si c'est logique, mais en pratique ça foire), et a mis en place cette solution ou le message est toujours envoyé. C'est pas le cas actuellement sur la prod, par exemple, c'est assez récent ([regarde l'historique du fichier](https://github.com/zestedesavoir/zds-site/blame/dev/templat

[2014-12-14 20:07] Situphen commented on #1906
Non mais en fait il n'y a pas d'erreur ici ! C'est comme pour l'histoire des dates sur des messages, c'est le CSS qui est mal généré sur la préprod !

[2014-12-14 20:08] pierre-24 commented on #1906
Ah, j'allais justement faire un message avec ça. Bon, ça explique :)

Ping @SpaceFox  ?

[2014-12-14 20:12] pierre-24 commented on #1907
Fixé par #1908

[2014-12-14 20:40] SpaceFox commented on #1436
Corrigé et mergé --> fermé

[2014-12-14 20:40] #1436 closed, assigned to sandhose

[2014-12-14 22:14] SpaceFox commented on #1906
Comment on vérifie ça ? Comment on régénère ledit CSS ?

[2014-12-14 22:22] Situphen commented on #1906
On vérifie ça en regardant le fichier main.css. Moi j'ai vérifié et il y a bien des trucs qui manquent dedans.

@SpaceFox : Tu peux faire un `npm run-script gulp clean && npm run-script  gulp build` ?

[2014-12-14 22:24] SpaceFox commented on #1906
Hmmm, ce que tu me dis là me pose problème parce que je n'ai pas `npm run-script gulp build` dans [le script de déploiement](https://github.com/SpaceFox/zds-site/blob/dev/server/deploy.sh).

J'ai l'impression qu'il faudrait mettre ce script à jour.

[2014-12-14 22:37] #1907 closed, assigned to nobody

[2014-12-14 22:42] AlexRNL commented on #1523
J'ai créé le [sujet](http://zestedesavoir.com/forums/sujet/1930/se-rendre-au-dernier-message-dun-sujet/) dans Bug & suggestions :)

[2014-12-15 06:15] Situphen commented on #1906
Non le script est à jour. Je savais pas que le script utilisé était "pack" et non "build".

Du coup, tu peux faire :

[code]

[2014-12-15 07:07] pierre-24 commented on #1906
Moi j'utilise `gulp build` en local, et ça marche aussi :)

[2014-12-15 07:50] SpaceFox commented on #1906
Du coup, le bon script qui est sensé fonctionner 100% des fois, c'est
lequel ? (je suis un peu paumé là).

2014-12-15 8:07 GMT+01:00 Pierre Beaujean notifications@github.com:

[2014-12-15 07:57] pierre-24 commented on #1906
Si je comprend un peu comment c'est fait, "pack" est quasiment un alias de "build", mais y'a une broutille avec un zip en plus qu'il génère dans `/dist/`. D'après des tests que j'ai fait chez moi, l'un et l'autre génèrent bien les bons trucs pour le site. La commande "pack" me semble en fait liée aux devs qui n'ont pas envie de jouer avec le front, et qui se servent du fameux "pack.zip" à placer à

[2014-12-15 08:15] Situphen commented on #1906
Voilà, @pierre-24 a tout compris ! :)

[2014-12-15 09:36] artragis commented on #1904
En fait c'est pas de la rustine, c'est exactement ce qui va corriger l'erreur selon moi. Je n'ai pas trop le temps de QA, mais là ça va sûrement être ce qui va tout débugger.

Par contre, a-t-on prévu le cas où le titre contiendrait des guillemets?  Plutôt que de donner le titre complet, je pense que le slug serait clairement adapté.

[2014-12-15 13:57] GerardPaligot opened #1913 "Des forums en double"
Suite à une réorganisation du staff et de leurs groupes sur l'instance zestedesavoir.com, un bug est apparu dans la liste des forums disponibles :

![capture d ecran 2014-12-15 a 14 54 27](https://cloud.githubusercontent.com/assets/1913901/5436768/71886aa8-846a-11e4-95a7-23df52a8baf2.png)

Le forum "Zone Staff" apparait 2 fois. Je soupçonne le fait que j'appartiens à deux groupes qui ont tous les

[2014-12-15 15:41] pierre-24 commented on #1913
Mmh. Ça me fait penser que les fixtures devraient contenir un forum staff pour ce genre de test, faut que j'écrive une issue à ce sujet.

Du reste, j'avoue que j'ai du mal à voir ou ça se passe dans le code :/

[2014-12-15 17:46] Situphen commented on #1906
@SpaceFox : tu as fait `gulp clean && gulp pack` ? tu as bien vidé le cache nginx ?

[2014-12-15 17:51] SpaceFox commented on #1906
Je n'ai rien fait du tout pour l'instant, puisqu'il me fallait la vraie
commande _et_ que je rentre chez moi. Je vous tiens au courant quand c'est
fait.

2014-12-15 18:46 GMT+01:00 Situphen notifications@github.com:

[2014-12-15 18:03] sandhose commented on #1906
Pour être vraiment sûr:
- `npm install -g npm` -> update npm, pour être sûr d'être en 2.x.x ; si ça plante, lances-le en root (ca dépend de l'installation...)
- vires le dossier `dist/`, `node_modules/` et `assets/bower_components/`
- `npm install` dans le projet (installe les dépendances)
- Vérifies qu'il y a bien le dossier `assets/bower_components/` qui s'est recrée, si c'est pas le cas (ça dev

[2014-12-15 19:05] #1688 closed, assigned to nobody

[2014-12-15 19:17] SpaceFox commented on #1906
Ca marche nickel, merci !

Du coup je ferme ici, c'est corrigé.

[2014-12-15 19:17] #1906 closed, assigned to nobody

[2014-12-15 20:16] ghost commented on #1903
Pareil pour Google+

![Imgur](http://i.imgur.com/ltBojuN.png)

[2014-12-15 21:03] pierre-24 opened #1915 "[Hotfix v1.4] Aperçu d'un post impossible"
Comme [reporté sur le forum de la préprod'](http://preprod.zestedesavoir.com/forums/sujet/1792/apercu-lors-de-ledition-dun-message/) par Vinc' que je remercie au passage, parce que j'arrivais pas à mettre le doigt dessus,

Alors, il y a erreur Django, et c'est une `raise MultiValueDictKeyError(repr(key))` en rapport avec [la ligne 240 de zds/forum/views.py](https://github.com/zestedesavoir/zds-sit

[2014-12-15 21:26] Situphen commented on #1915
Il y a la PR #1867 qui touche à la prévisualisation ([ici](https://github.com/zestedesavoir/zds-site/pull/1867/files#diff-37d34ac341508430e3ef0b8fbe0cae8bR128)). Ping @firm1

[2014-12-15 21:32] pierre-24 commented on #1915
Bwah, à vue de nez, je dirais qu'il tente de faire une preview en ajax mais qu'il la plante parce que le paramètre `title` est pas recherché par le script que t'as mis en lien et pas balancé en POST au back. Ça me semble facile à régler, mais je suis pas à l'aise avec le front. Tu sais le faire,  @Situphen ? Sinon, je peux regarder moi-même, mais je promet rien :)

[2014-12-15 22:07] Situphen commented on #1915
Je n'ai pas le temps ce soir, je m'y penche demain. J'en profiterai sûrement pour régler quelques mauvaises pratiques.

[2014-12-15 23:18] SpaceFox commented on #1915
Si on pouvait limiter le hotfix aux strictes corrections et corriger les mauvaises pratiques dans la branche de dev, ce serait génial :)

[2014-12-16 06:06] Axylium opened #1916 "Impossible d'accéder aux tutoriels"
Via Ache sur la préprod :

Et, je confirme le bug, en effet, toute les catégories ramène sur la page courante !

[2014-12-16 06:43] pierre-24 commented on #1916
Je vois: à première vue, le [template correspondant](https://github.com/zestedesavoir/zds-site/blob/dev/templates/base.html#L182) s'attend à ce que le back lui renvoit un objet `Subcategory`, alors que [c'est un string qui est renvoyé](https://github.com/zestedesavoir/zds-site/blob/dev/zds/utils/templatetags/topbar.py#L89).

Commment régler ça ?
- Renvoyer effectivement l'objet ;
- Renvoyer juste

[2014-12-16 08:09] pierre-24 commented on #1916
... J'avais 10 minutes ;)

[2014-12-16 10:56] SpaceFox commented on #1916
Corrigé et mergé --> fermé

[2014-12-16 10:56] #1916 closed, assigned to pierre-24

[2014-12-16 22:02] SpaceFox commented on #1884
Corrigé + mergé = fermé

[2014-12-16 22:02] #1884 closed, assigned to artragis

[2014-12-17 10:06] gustavi commented on #1903
Peut-être faire des tests en préprod avec https://stackoverflow.com/a/21295321

[2014-12-17 10:34] gustavi opened #1920 "Ajouter un compteur du nombre de sujets créés non visibles pour un simple membre"
Via le [Forum](http://zestedesavoir.com/forums/sujet/1936/compteur-de-sujets-crees-errone/?page=1#p34485) :

La solution proposée par @cgabard semble dégager un consensus :  « on indique clairement où sont les autres, genre une phrase en dessous de la liste comme "+ 4 sujets dans un forum dont vous ne disposez pas les droits de lectures" ».

[2014-12-17 10:43] pierre-24 commented on #1920
Je propose une pitite infobulle en plus pour préciser qu'il n'y a rien de secret là dedans mais que ces forums sont nécéssaires à la bonne gestion du site. Ou une page.

[2014-12-17 10:44] gustavi commented on #1920
:+1:

[2014-12-17 10:48] gustavi opened #1921 "Ajouter un bouton pour rédiger un tuto et pour aider à la réaction dans le dropdown du menu"
Proposé par @cgabard (encore lui !) sur [l'article de la ZEP-03](http://zestedesavoir.com/articles/140/premiere-zep-developpee-sur-zeste-de-savoir/?page=2#p34918) :

« Dans la grande liste de catégorie quand tu clique sur "Tutoriel" ? On pourrait rajouter ici deux bouton, un pour en rédiger et un pour aider. »

Ça permettrait à ces 2 pages d'être plus facilement accessibles.

[2014-12-17 11:43] Situphen commented on #1588
On ferme ici ?

[2014-12-17 11:48] Situphen opened #1923 "[Hotfix v1.4] La redirection après connexion ne fonctionne pas"
Pour retrouver le bug :
- Se déconnecter
- Aller sur un article
- Comme vous n'êtes pas connectés, il y a aura le bouton connexion à la fin des commentaires
- Cela va vous rediriger vers /membres/connexion/?next=/articles/pk/nom-de-l-article
- Connectez-vous
- (Voilà le bug :) Vous n'êtes redirigés vers l'article mais vers la page d'accueil

[2014-12-17 12:57] Situphen opened #1925 "Catégories du forum qui se superposent"
Reporté par cariopes sur le forum ([ici]()) :

![le bug en image](https://zestedesavoir.com/media/galleries/1287/d6a7b400-babd-421a-842c-9d312e4e4e23.png.960x960_q85.jpg)

[2014-12-17 15:33] firm1 commented on #1493
Pour info je viens de réussir à générer le pdf de ce tuto en republiant le tuto après avoir remplacé les caractères interdits par pandoc qui étaient présent dans le tuto.

Notons que le tuto mysql contient  _904940_ caractères et _25_ images alors que celui sur arduino contient _794 690_ caractères et 342 images.

Donc si le tuto mysql a réussi a passé, je crois que bon nombre de tuto passerons au

[2014-12-17 15:46] poulp commented on #936
On laisse ouvert le ticket ou on laisse tomber avec la zep4 ?

[2014-12-17 16:13] Coy0te commented on #1493
De quels caractères il s'agit ? On peut inclure ça dans nos règles internes
de validation pour éviter ce problèmes.

Le 17 décembre 2014 16:33, firm1 notifications@github.com a écrit :

[2014-12-18 09:45] #1588 closed, assigned to nobody

[2014-12-18 09:46] #1923 closed, assigned to SpaceFox

[2014-12-18 09:47] gustavi commented on #1923
Corrigé dans #1924 !

[2014-12-18 19:21] pierre-24 opened #1927 "Pandoc et les chemins Windows"
j'ai trouvé un bug relativement ridicule (en fait, je m'étonne que Pandoc n'y aie pas pensé) : lorsqu'on écrit un tutoriel contenant un chemin Windows type `C:\Program Files\`, la génération du pdf ne fonctionne pas. Raison plus que probable, parce que je l'ai vue passer sur IRC, c'est tout simplement que le `\` n'est pas échappé et que donc LaTeX se plante dessus parce que `Undefined control sequ

[2014-12-18 21:08] SpaceFox commented on #1915
Corrigé, mergé, fermé.

[2014-12-18 21:08] #1915 closed, assigned to nobody

[2014-12-19 08:16] Eskimon opened #1928 "Le filtre de la zep3 n'est pas au point"
Sur la page d'aide de la zep-3, des tutos apparaissent dans la liste de demande d'aides alors qu'ils ne devraient pas (car ni en beta et aucune demande d'aides d’activées)

Le probleme se situe ici mais je vois pas pourquoi de tel tutos passe dans la liste tout de meme... : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L3618

Dans l'illustration suivante, les deux premie

[2014-12-19 08:23] Eskimon opened #1929 "La pagination n'est pas présente"
Sur la liste des tutos de la ZEP-3, la pagination est active dans le back mais pas gérer dans le front. Du coup si on a plus de 21 tutos qui demandes de l'aide, on ne verra que les 21 premiers... Balot...

Deux solutions :
- **Quick & Dirty**, On vire la pagination dans le back
- **Nice & Clean**, On rétablit la pagination dans le front

Dans le premier cas, c'est tres simple, il suffit de virer t

[2014-12-19 08:33] Eskimon opened #1930 "Il manque un formulaire lors d'un echec"
Dans le cas ou l'on fait un import de tutoriel qui echoue, un des formulaires necessaires n'est pas initialise et du coup on se prend une 500.

Le fix est simple, dans ce if (https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L2643) il faut rajouter un `form = ImportForm()`

[2014-12-19 08:54] SpaceFox commented on #1929
Sachant que la MEP, c'est lundi.

[2014-12-19 10:59] poulp commented on #1928
Quand on regarde le profil de Auteur externe on remarque deux tutos en bêta, mais impossible de les afficher

[2014-12-19 11:03] Eskimon commented on #1928
Ca c'est a cause de cette histoire de pagination que j'ai reportée ici https://github.com/zestedesavoir/zds-site/issues/1929

[2014-12-19 11:35] poulp commented on #1928
non c'est pas ce que je voulais dire, impossible de les afficher à cette adresse : http://preprod.zestedesavoir.com/tutoriels/recherche/242/?type=beta , du coup je soupçonne ces deux premiers tuto d'avoir un truc louche avec la bêta, d'où leur affichage sur la page d'aide

[2014-12-19 15:51] firm1 opened #1932 "La couleur de fond du footer a changée"
En passant sur la préprod, j'ai remarqué que la couleur du background du footer du site a changée (ça ne faisait pas partie des évolutions de la 1.4 il me semble), et du coup ça rend moins bien dans le footer je trouve.

Dans la version 1.3 (en prod) c'est pourtant correct.

couleur du footer en prod : #042432
couleur du footer en préprod : #084561

Navigateur : firefox 33
OS : Windows

[2014-12-19 16:03] Fumble opened #1933 "Faille de sécurité dans Git"
A voir si on est impacté et si il faut mettre à jour nos libs: http://article.gmane.org/gmane.linux.kernel/1853266

Par contre, mettez vos clients (ligne de commande, IHM...) à jour.

[2014-12-19 17:04] poulp opened #1934 "Problème d'affichage catégorie sur la home page"
(Firefox 33/Ubuntu) Les sous catégories ne s'affichent pas:
![capture](https://cloud.githubusercontent.com/assets/819246/5508068/6305346a-87a9-11e4-8652-d8fa5975c6f2.png)

[2014-12-19 17:20] Situphen commented on #1932
Ce n'est pas un bug, c'est @Alex-D qui [avait changé ça](https://github.com/zestedesavoir/zds-site/commit/2d863769162c45014fdf20dab1974a14c486dd42#diff-f00f3aa7f238e444f350cbb1a7d0df38L3046)) pour mettre la même couleur que le header.

[2014-12-19 19:48] pierre-24 commented on #1934
Pareil ici (Chrome/39.0, Debian)

[2014-12-19 19:49] pierre-24 commented on #1934
... Mais à priori réglé par #1935 que je viens de QA.

[2014-12-19 19:49] SpaceFox commented on #1934
"A priori" ou "réglé" ?

[2014-12-19 19:51] pierre-24 commented on #1934
Réglé (je viens de tester la différence :) )

[2014-12-19 19:59] pierre-24 opened #1936 "Utiliser le dropdown désactive les modales"
Alors, celui là, je l'ai pas trop compris. Tout est dans le titre.
- Prenons une page avec une boite modale : validation d'un tutoriel. Créer un tuto, demander la validation. Vous pouvez faire apparaître cette boite modale autant de fois que vous voulez (évidement à condition d'appuyer sur annuler à chaque fois)
- Utilisez n'importe quel élément de dropdown : impossible ensuite de faire réapparaît

[2014-12-19 20:02] pierre-24 commented on #1933
Le repo en lui-même n'est surement pas touché, à moins que github n'emploi un système de fichier qui ne tient pas compte de la casse (m'étonnerai). Par contre, c'est important de mettre git à jour.

@firm1 : quid de GitPython, du coup ?

[2014-12-19 20:05] SpaceFox commented on #1934
OK, alors ici c'est fermé :)

[2014-12-19 20:05] #1934 closed, assigned to nobody

[2014-12-19 20:06] poulp commented on #1936
ça m'arrive aussi, je l'ai remarqué quand j'ai qa la #1595 :

[2014-12-19 20:07] pierre-24 commented on #1936
Bien vu, je me disais aussi que quelqu'un en avais déjà parlé :)

[2014-12-19 20:49] SpaceFox commented on #1930
Corrigé.

[2014-12-19 20:49] #1930 closed, assigned to nobody

[2014-12-20 02:26] istandre opened #1938 "Problème de syncronisation avec Read The Docs"
Deux points :
**Premièrement**, les fichiers d'installations sur github sont désuets comparativement à la [documentation officielle de zds](http://zds-site.readthedocs.org/fr/latest/index.html) :
- [install-linux.md](https://github.com/zestedesavoir/zds-site/blob/dev/doc/install-linux.md)
- [install-os-x.md](https://github.com/zestedesavoir/zds-site/blob/dev/doc/install-os-x.md)
- [install-windows

[2014-12-20 09:37] gustavi commented on #1938
**Premièrement** : doublon de #1713

**Deuxièmement** : qui a mis en place ça ? ping @SpaceFox

[2014-12-20 09:42] pierre-24 commented on #1938
Il me semble que c'est @firm1  qui gère ça. Sauf qu'il est en congé dévellopement, donc faut lui envoyer un MP sur le site. Mais je confirme que readthedoc est pas à jour.

_EDIT (gustavi) : MP envoyé_

[2014-12-20 09:56] gustavi opened #1939 "Ajouter la possibilité de pouvoir annuler une demande de validation"
Tout est dans le titre. Actuellement quand on envoie quelque chose en validation on ne peut pas faire marche arrière.

[2014-12-20 09:58] gustavi opened #1940 "Une virgule en trop sur un sujet quand on met à jour sa bêta"
Pour reproduire :
- Mettre tuto sujet en bêta
- Le modifier
- Mettre la nouvelle version en bêta
- Aller sur le sujet dédié dans le forum « Bêta »

Une image : http://i.imgur.com/dwKAqZG.png

[2014-12-20 11:09] Situphen commented on #1940
~~Je pense plutôt que c'est le pseudo qui est absent !~~ J'ai rien dit.

[2014-12-20 12:33] firm1 commented on #1938
synchro faite. Mais pour que ce soit automatique, il faut rajouter dans les hooks github la commande `curl -X POST http://readthedocs.org/build/zds-site` a lancer à chaque merge dans dev. Celle-ci lancera la compil de la doc

[2014-12-20 12:34] pierre-24 commented on #1938
Ping @SpaceFox  ?

[2014-12-20 12:40] pierre-24 commented on #1929
Voir #1942 (à QA convenablement, mais vite, du coup)

[2014-12-20 12:42] SpaceFox commented on #1577
Corrigé et mergé --> fermé.

[2014-12-20 12:45] #1940 closed, assigned to nobody

[2014-12-20 12:46] SpaceFox commented on #1938
Je regarde.

Si je comprends bien, le problème est que quand on met à jour nos fichiers le site n'est pas à jour, c'est bien ça ? Et c'est corrigé par le hook ?

[2014-12-20 12:47] gustavi commented on #1938
Exactement.

[2014-12-20 12:50] SpaceFox commented on #1938
Alors j'ai besoin d'infos supplémentaires (@firm1 par MP, ou au moins les accès qui me permettent de récupérer lesdites infos).

L'interface pour ajouter un webhook à Github me demande :
- Payload URL : je suppose que c'est http://readthedocs.org/build/zds-site
- Content-type (json ou URL encoded)
- Secret
- Quels types d'events lancent le hook ("push", "tout", "à la main") : je suppose que c'est

[2014-12-20 12:56] firm1 commented on #1938
La doc est ici :
http://read-the-docs.readthedocs.org/en/latest/webhooks.html#github

firm1
Le 20 déc. 2014 13:50, "SpaceFox" notifications@github.com a écrit :

[2014-12-20 13:14] SpaceFox commented on #1938
OK merci, c'est ajouté.

[2014-12-20 16:02] #1929 closed, assigned to pierre-24

[2014-12-20 16:33] poulp commented on #1928
quelqu'un a réussi à reproduire en local ?

[2014-12-20 18:29] pierre-24 commented on #1928
Impossible de reproduire quoique ce soit en local me concernant.

J'ai peut-être une idée ceci dit. Comme il s'agit de vieux tuto datant d'OC, éventuelement, le champ `sha_beta` peut être vide (`""`), mais pas égal à `Null`. Pour faire disparaitre ça, je parie qu'un admin qui passe par là et qui active puis déasctive la béta de ce tuto devrait faire rentrer ça dans l'ordre.

(c'est juste du guess,

[2014-12-20 18:43] pierre-24 commented on #1928
Oki, je viens de faire faire le test d'activer puis désactiver la béta à l'aide de @SpaceFox sur le tuto "Google Maps JavaScript API V3". Vous pouvez constater que le tuto a bien disparu comme je l'avais espéré de la liste d'aide.

(et qu'il n'y a plus [qu'un seul tuto en béta pour auteur externe](http://preprod.zestedesavoir.com/membres/voir/Auteur%20externe/), alors qu'il y en avais deux avant,

[2014-12-20 18:51] poulp commented on #1928
Si il y a beaucoup de tutos touchés, un script de migration doit pas être long à écrire. Pour la mep quelle solution : script de migration(ou à la main) ou le rajout du filtre sur la requête ?

[2014-12-20 18:54] pierre-24 commented on #1928
Je n'ai jamais écrit de script de migration, mais je te crois sur parole.

Laisse moi deviner, un truc comme ça ?

[code]

[2014-12-20 18:58] poulp commented on #1928
yes tout simplement

[2014-12-20 18:59] SpaceFox commented on #1928
Pour info, en prod, il y a 4 tutos problématiques :

[code]

| ID | Titre |
| --- | --- |
| 215 | Google Maps JavaScript API V3 |
| 218 | La récursivité |
| 283 | Réaliser une PirateBox |
| 539 | Réaliser un télémètre à ultrasons |

[2014-12-20 19:03] poulp commented on #1928
Faudrait aussi localisé le moment où c'est passé de null/quelque chose à "" pour le sha_beta

[2014-12-20 19:21] pierre-24 commented on #1928
À priori, [c'est moi](https://github.com/zestedesavoir/zds-site/commit/00f2d0e5fabf1e10a7a2c59c195843add8d77cea) qui ai été imposer ça en dur à l'époque ou j'ai réécrit une partie du code de gestion de la bêta (la ligne en question n'as pas changé depuis). Y'à aussi un [commit de firm1](https://github.com/zestedesavoir/zds-site/commit/da299351d0451848e6b19eb55fb0a10e08e8e3e3) d'à peu près ce momen

[2014-12-20 19:23] Eskimon commented on #1928
bon c'est rassurant tout ca car je voyais pas trop ou la reuete pouvait merder :D

[2014-12-20 19:27] poulp commented on #421
ce ticket doit-il rester ouvert vu qu'il concerne la bêta ?

[2014-12-20 19:59] poulp commented on #1939
Et si un staff réserve la publication, toujours possibilité d'annuler ?

[2014-12-20 20:09] Eskimon commented on #421
ahah "le ticket du grenier" :D tu as pas remué trop de poussiere en le ranimant ?

[2014-12-20 20:09] #421 closed, assigned to nobody

[2014-12-20 20:29] gustavi commented on #1703
Fixé dans #1830 !

[2014-12-20 20:29] #1703 closed, assigned to nobody

[2014-12-20 20:30] Axylium commented on #1939
Je ne pense pas. Car sinon pour eux ça risque de devenir à compliquer à gérer. Je pense notamment à ce genre de cas : « _j'ai réservé le tuto HTML, où est-il passé ?!_ ».

Après, un système de notification côté staff, disant que le tutoriel a été retiré de la validation peut régler ce problème. Ou, dans le tableau de validation, le tuto rester quelques jours, avec la mention « _annulé_ » à côté de

[2014-12-20 20:39] Eskimon commented on #1939
je suis plus mitigé. pour moi un auteur devrait avoir.les.plein.pouvoir sur son tuto. du coup s'il estime que finalement ce qu'il a envoyé en validatio n'est pas au niveau de ce qu'il veut publier alors je vois pas de raisons qu'il ne puisse pas annuler une etape editoriale

[2014-12-20 21:11] poulp commented on #1939
Je suis l'avis d'Eskimon, un auteur fait ce qu'il veut de son tuto, mais en même temps je me met à la place de celui qui relit. Imaginons le mec il a déjà relu la moitié du document, l'auteur annule :/ faudrait peut être prévoir un genre de note/post-it accroché au tuto visible pour le staff.

[2014-12-20 21:15] Axylium commented on #1939
Ah, mais je suis entièrement d'accord sur le fait que l'auteur fait absolument ce qu'il veut de son tutoriel. Mais comme le dit @poulp je pense surtout au valido derrière, pour qui ça peut-être peinant de voir un tuto sur lequel il a passé du temps, disparaître comme cela.

Après, tout comme comme la validation, lorsque le membre retire son tuto on peut imaginer un textarea où il pourrait laisser

[2014-12-20 21:19] poulp opened #1943 "Décalage des icones sur la page d'aide aux tutoriels"
Firefox 33/Ubuntu :
![iconzep3](https://cloud.githubusercontent.com/assets/819246/5516319/499fe414-8896-11e4-92fb-83b918250df8.png)

[2014-12-20 21:23] poulp commented on #1939
un mp de courtoisie ;)

[2014-12-20 21:40] pierre-24 opened #1944 "Tri sur la ZEP-03"
J'avais pas vu, mais ... C'est les plus anciennes demandes d'aide (ou autrement placé, les tutos les plus vieux) qui sont placé en premier sur la page d'aide issue de la ZEP-03. Pour moi, ce n'est pas le choix le plus intelligent ;)

À partir de là, plusieurs solutions s'affrontent :
- Inverser l'ordre : les tutos les plus jeunes en premier
- Trier sur base de la date de dernière modification. Att

[2014-12-20 21:54] poulp commented on #1944
Dans l'absolu je serais pour un tri dynamique sur les tutos. Mais en l'état je pencherais sur un inversement de l'ordre (jeune en premier).

[2014-12-20 21:58] pierre-24 commented on #1944
A terme, je suis pour un tri dynamique tel qu'il soit :)

Après, faut voir aussi ce que les utilisateurs feront exactement de cet outil. Actuellement, et c'est logique, il n'y a que des tutos en béta, mais y faudra voir quand les auteurs demanderont effectivement de l'aide quelle tendance ressort.

[2014-12-21 11:07] gustavi opened #1946 "Mauvais lien pour l'URL de communication sur la page de contact"
Il manque un mailto sur https://zestedesavoir.com/pages/contact/

[2014-12-21 11:44] gustavi commented on #1943
On peut avoir plus d'informations sur la résolution ?

[2014-12-21 11:44] gustavi commented on #1938
C'est bon ici @SpaceFox ?

[2014-12-21 11:48] gustavi opened #1948 "Mauvais URL dans les RSS"
Sur la preprod, les lien des RSS pointent vers http://zestedesavoir.com.

Je n'ai cependant pas ce problème sur ma version de dev.

[2014-12-21 11:49] gustavi opened #1949 "Ajouter un RSS pour les tutoriels en bêta."
Personnellement j'aimerai bien savoir quand un tuto est mis en bêta c'est pourquoi ajouter un flux RSS pour les tutos en bêta serait intéressant. C'est n'est pas très compliqué à faire.

[2014-12-21 12:02] poulp commented on #1943
euh entre temps j'ai maj firefox et j'ai plus le bug. je suis en 1920 x 1080

[2014-12-21 12:05] poulp commented on #1949
+1

[2014-12-21 12:48] gustavi commented on #1943
Je pense que ça vient du cache. Bon, je ferme ici.

[2014-12-21 12:48] #1943 closed, assigned to nobody

[2014-12-21 13:11] #1946 closed, assigned to gustavi

[2014-12-21 15:00] Situphen commented on #1948
Sur quelle page ?

[2014-12-21 15:30] gustavi commented on #1948
RSS tuto par exemple (http://preprod.zestedesavoir.com/tutoriels/flux/rss/)

[2014-12-21 16:40] gustavi commented on #1932
On est d'accord que c'est pas un bug ?

[2014-12-21 16:44] Situphen commented on #1932
Ce n'est pas un bug.

[2014-12-21 16:47] #1932 closed, assigned to nobody

[2014-12-21 17:05] pierre-24 opened #1950 "Pas d'icônes pour les chapitres d'un tuto"
comme reporté par [tit_tounou sur le forum](https://zestedesavoir.com/forums/sujet/563/des-vignettes-sur-les-chapitres-de-tuto/?page=2#p35650) :

Et il a raison: le champ existe, mais n'est pas employé par les templates. C'est tout bête à régler, du coup ;)

[2014-12-21 17:53] gustavi commented on #936
On ferme le jour où la ZEP-04 est validée. Pour le moment, ça reste un bug.

[2014-12-21 18:06] pierre-24 opened #1952 "La date de dernière mise à jour des articles n'est pas toujours mise à jour"
Tout est dans le titre : quand on lit le code de la [fonction `edit()` des articles](https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views.py#L301), en fait, on ne met jamais à jour le champ `update` de la classe Article. Très simple à régler ;)

[2014-12-21 18:09] pierre-24 commented on #1952
PS: auto-assignation, please :)

[2014-12-21 18:17] #1648 closed, assigned to gustavi

[2014-12-21 18:24] gustavi commented on #1454
Est-ce que c'est vraiment une issue ça ?

[2014-12-21 18:29] gustavi commented on #1493
Sur celui d'Arduino j’obtiens l'erreur suivante :

[code]

Après vérification c'est bon dans le tuto Arduino ...

[code]

Et après une autre vérification c'est pas un problème de nombre de caractères ou de nombre de lignes ou de nombre de formules mathématiques.

Je sèche là.

EDIT : une piste de @pierre-24 : le « \ » dans « \$ » qui ne devrait pas se trouver là ?

[2014-12-21 18:45] gustavi opened #1954 "Certains modals sont trop petits"
Tout est en image : http://i.imgur.com/NTI4a6b.png

C'est obtenu quand je publie un tuto.

Firefox 34.0.5 / ArchLinux

[2014-12-21 19:02] gustavi commented on #1528
Du nouveau ici ? Le bug est encore présent.

[2014-12-21 19:21] pierre-24 commented on #1493
À force d'essais erreurs, j'ai fini par trouver : ce code plantera `$ a + b = c $` mais ce code ne plantera pas `$a + b = c $`. Autrement dit, pas d'espace directement après le premier `$` d'une formule. Le bugfix me semble relativement _obvious_, mais c'est coté pandoc qu'il faut le faire (ou au moment de la génération dans [export_tutorial_to_md()](https://github.com/zestedesavoir/zds-site/blob/

[2014-12-21 19:55] gustavi commented on #1493
OK gg @pierre-24 ! PING @cgabard !

[2014-12-21 19:55] Situphen commented on #1950
@SpaceFox, il y a une raison pour ne pas afficher les images ou c'est juste un oubli ?

[2014-12-21 20:00] SpaceFox commented on #1950
Un oubli je pense.

[2014-12-21 20:17] gustavi commented on #1670
@firm1 est-ce que c'est encore présent ?

[2014-12-21 20:36] Eskimon commented on #1144
Merci @gustavi !

[2014-12-21 20:36] #1144 closed, assigned to gustavi

[2014-12-21 20:43] Eskimon commented on #1950
Ca demande quoi ? Un ajout dans les formulaires + une intégration dans le front ?

[2014-12-21 20:46] Eskimon commented on #1493
Arf c'est con, je mettais un point d'honneur à en mettre partout... va falloir que je fasse un gros traitement de masse sur le tuto du coup...

[2014-12-21 20:47] pierre-24 commented on #1493
Un trouver remplacer :/

[2014-12-21 20:48] pierre-24 commented on #1950
Le formulaire existe déjà, donc vérifier que le back balance bien l'info et l'intégrer dans le front :)

[2014-12-21 21:00] Situphen commented on #1950
Pensez à vérifier que les images ont bien une taille restreinte !

[2014-12-21 21:11] SpaceFox commented on #1952
Corrigé et mergé --> fermé.

[2014-12-21 21:11] #1952 closed, assigned to pierre-24

[2014-12-21 21:45] pierre-24 opened #1957 "Impossible de mettre en bêta avec la bonne version sur la page d'historique"
Comme reporté sur la [préprod' par Vinc'](http://preprod.zestedesavoir.com/forums/sujet/1769/mise-en-beta-des-tutoriel/#p30837), il n'est pas (plus?) possible de mettre en bêta à partir de l'historique de version d'un tutoriel. La solution passe probablement par l'édition de [la ligne 102 du template history.html](https://github.com/zestedesavoir/zds-site/blob/dev/templates/tutorial/tutorial/histo

[2014-12-21 21:51] pierre-24 commented on #1957
Petite idée qui m'est venue comme ça : des boites modales sont créées pour chaque ligne du tableau, mais appelées via un code unique `#activ-beta`. Donc en fait, c'est un bug front, pas back, et je parie qu'il suffit de rendre cet identifiant là unique pour chaque boite en lui collant le `sha_beta` en question.

EDIT: d'ailleurs, le code de la boite est répété deux fois, avec des `{% if %}`, y'aur

[2014-12-21 22:22] Luthaf commented on #1736
Il semblerai que ce ne soit pas encore résolu sur le site. Je ne trouve toujours pas ce lien =)

[2014-12-22 07:27] gustavi commented on #1736
@Luthaf on peut avoir plus de précisions sur le(s) tutoriel(s) en question ?

[2014-12-22 08:14] Eskimon commented on #1950
C'est pas le boulot de la lib' d'image qui génère les miniatures automatiquement ?

[2014-12-22 08:15] Eskimon commented on #1493
Oui, mais j'aimerais garder un espace avant et apres la formule pour le confort de lecture, donc faut pas que je fasse un chercher/remplacer trop naif sinon je vais perdre ces derniers ;)

[2014-12-22 08:16] Eskimon commented on #1528
Oui je suppose vu que la PR de firm1 n'a pas été mergee et est abandonnée pour le moment.

[2014-12-22 08:18] Eskimon commented on #1948
J'ai pas compris, c'est quoi le souci ? (au cas ou, c'est la que ca se passe : https://github.com/zestedesavoir/zds-site/blob/3e6d292983f747ed4201a38f3cae44562105eff7/zds/article/feeds.py#L40)

[2014-12-22 08:18] gustavi commented on #1950
Si si.

[2014-12-22 08:20] gustavi commented on #1948
Va sur le flux et regarde l'URL d'un tuto. Il pointe vers la prod et non la preprod (alors que le tuto est sur la preprod).

[2014-12-22 08:21] Eskimon commented on #1939
Le valido est au service de l'auteur, pas le contraire...

Le MP (automatique) de courtoisie me parait une bonne idee par contre. Et si ca peut vous rassurer, rien n'est perdu, le staff peut toujours relire le tuto pour s'avancer dans le truc (oui un staff peut voir les tutos non public/beta)

[2014-12-22 08:23] gustavi commented on #1939
C'est codé (avec un MP et tout) ! Je suis sur les tests unitaires là.

[2014-12-22 08:32] Eskimon commented on #1948
Probablement du aux settings de la pre-prod ? Car voici comment l'url online est faite : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/models.py#L127

[2014-12-22 08:40] Eskimon commented on #1904
Problème réglé, je ferme.

[2014-12-22 08:40] #1904 closed, assigned to pierre-24

[2014-12-22 08:46] gustavi opened #1958 "Afficher le nom du forum dans les résultats de recherche"
Reporté via le [forum](https://zestedesavoir.com/forums/sujet/1995/afficher-le-nom-du-forum-dans-les-resultats-de-recherche/?page=1#p35684) :

[2014-12-22 08:47] Eskimon commented on #1850
Dites, c'est normal qu'on puisse pas faire de meme sur les fofos ?

[2014-12-22 08:49] gustavi commented on #1850
Ça pourrait être bien mais dans ce cas il faut faire une autre issue.

[2014-12-22 12:43] Luthaf commented on #1736
Alors c'est le cas pour le mien (615/la-ligne-de-commande), et celui sur la botanique de Marypop. Ça ne semble toucher que des tutos créés récemment (moins de un ou deux mois).

[2014-12-22 14:37] Alex-D opened #1962 "Mauvaise gestion d'erreur 404"
Ici http://zestedesavoir.com/membres/?page=18 on a aucune erreur alors que la page n'existe pas, il faut lever une 404.

[2014-12-22 14:38] Situphen commented on #796
@sandhose : On fait quoi ici ?

[2014-12-22 14:43] gustavi commented on #1962
Le premier bug est connu et déjà reporté. J'édite pour ne laisser que le second.

[2014-12-22 14:48] Eskimon commented on #1962
M'etonnerais pas que le second fasse parti des resolutions try/except recente aussi.

[2014-12-22 14:50] gustavi commented on #1962
C'est pas en preprod en tous cas.

[2014-12-22 14:52] Eskimon commented on #1962
Alors faudra aller fouiller par ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L72

[2014-12-22 15:52] Situphen commented on #1962
Le bug n'est pas résolu sur upstream/dev !

[2014-12-22 15:55] SpaceFox commented on #1962
Yep, pour moi c'est les 2 exceptions aux lignes 76 et 79 qui gèrent les cas
"proprement" alors qu'elles devraient se contenter d'envoyer chier avec une
404.

2014-12-22 16:52 GMT+01:00 Situphen notifications@github.com:

[2014-12-22 16:44] AmarOk1412 opened #1965 "Petite faute : noramle <-> normale"
Petite faute très rapide à corriger :
Lorsque vous ouvrez une image présente dans la galerie, on peut voir "Miniature + lien vers taille noramle : ". Il suffit donc de changer noramle en normale.

[2014-12-22 19:19] AmarOk1412 opened #1967 "1.4 : Date en double"
Je pense qu'une image vaut mieux qu'une explication.
Voici ce que l'on peut trouver pour les messages du forum et les commentaires :
![capture du 2014-12-22 20 18 11](https://cloud.githubusercontent.com/assets/1888628/5529720/cc4ac5c8-8a17-11e4-9ab5-74e8235946d1.png)
L'heure de post est affichée 2 fois en 2 format différents

[2014-12-22 19:21] SpaceFox commented on #1967
Tu es tombé pendant que le front était partiellement buildé. Vérifie mais normalement c'est OK.

[2014-12-22 19:22] Eskimon commented on #1928
Faudra du coup qu'un staff passe sur les 4 tutos qui ont besoin de cette mise à jour

[2014-12-22 19:27] Axylium commented on #1967
À fermer alors, non ?

[2014-12-22 19:28] SpaceFox commented on #1967
J'attends qu'il confirme.

[2014-12-22 19:29] AmarOk1412 commented on #1967
En effet. Du coup je ferme.

[2014-12-22 19:29] #1967 closed, assigned to nobody

[2014-12-22 20:03] gustavi commented on #1685
Corrigé ! Merci @Situphen !

[2014-12-22 20:03] #1685 closed, assigned to nobody

[2014-12-22 20:05] gustavi commented on #1928
Note : un filtre par catégorie ça serait sympa aussi.

[2014-12-22 20:09] pierre-24 opened #1968 "Encore des catégories vides"
Comme [reporté par Vayel sur le forum](https://zestedesavoir.com/forums/sujet/2004/menu-deroulant-vide-dans-tous-les-tutoriels/?page=1#p35919), sur la page "tout les tutoriels", quand on clique sur une catégorie, elle est vide et du blanc apparaît.

Bref, comme #1916 et #1934. Bon... Qui a changé ça, sérieusement, ça fait 3x, là.

[2014-12-22 20:19] SpaceFox commented on #1968
git blame ?

Le 22 décembre 2014 21:09, Pierre Beaujean notifications@github.com a
écrit :

[2014-12-22 20:32] poulp commented on #1968
ça vient de moi quand j'ai modifié les templatetags pour avoir les catégories de tuto ordonnées

[2014-12-22 20:33] pierre-24 commented on #1968
Ah, ok. Bon ... Je vais tenter de faire le tour de manière exhaustive pour être sur de plus revoir le bug.

[2014-12-22 20:37] poulp commented on #1968
Pour cette issue ça vient du template tutorial/index.html, logiquement ça concerne tout les templates qui ne se base pas sur le template de base pour la sidebar catégories des tutoriels

[2014-12-22 20:50] pierre-24 commented on #1957
Aller, hop, auto-assignation, je vais faire ça :)

[2014-12-22 21:07] #1965 closed, assigned to pierre-24

[2014-12-23 07:57] Eskimon commented on #1928
J'ai fait un passage furtif de mise en beta pour les tutos incrimines (puis ai mis le sujet auto a la poubelle), ca semble regler le probleme. Il me reste un seul tuto a faire qui n'est pas de moi ou auteur externe mais de vinm, je le contact en MP pour lui expliquer. Du coup je ferme ici car ce n'est pas un bug reproductible et qui a raison d'etre.

Merci du coup de main pour le diagnostique !

[2014-12-23 07:57] #1928 closed, assigned to nobody

[2014-12-23 08:02] Eskimon commented on #1928
Par contre @pierre-24 :

J'ai pas vu le sujet, il est fait ou pas ? Car a mon avis c'est une bonne idée...

[2014-12-23 08:11] firm1 opened #1972 "Impossible de se connecter via les réseaux sociaux"
Quand j'essaye de me connecter, je suis ré dirigé vers une adresse au nom de "zdsappserver".

Par ailleurs côté Sentry il y'a un message qui me fait penser que les tables n'ont pas été générées.

[code]

[2014-12-23 08:15] firm1 opened #1973 "Les boutons d'actions dans la sidebar ne sont pas ajaxifiés sur mobile"
Quand (depuis mon mobile) je follow/unfollow un topic ou que je le marque en résolu, j'ai droit a une page qui se recharge.

Sur Chrome comme sur Firefox.

Le bouton citer lui marche très bien

[2014-12-23 08:25] firm1 opened #1974 "La pagination de la page d'aide aux auteurs n'est pas correcte"
En allant sur `http://zestedesavoir.com/tutoriels/aides/?page=10`

Je devrais avoir une 404 car la page n'existe pas. Actuellement je suis ré dirigé vers la dernière page.

Ce n'est pas bon pour le SEO.

[2014-12-23 08:26] Eskimon commented on #1974
Il faut ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L3643 appliquer le meme fixe que ici : https://github.com/zestedesavoir/zds-site/pull/1964/files

[2014-12-23 08:55] pierre-24 commented on #1928
Bien vu, j'avais oublié. Oubli réparé :

https://zestedesavoir.com/forums/sujet/2015/tutoriel-en-attente-de-repreneur-si-le-membre-se-desinscrit/

[2014-12-23 09:03] SpaceFox commented on #1972
Si quelqu'un a la moindre idée d'où ça peut venir...

C'est pour le moins curieux, parce que je n'ai eu aucune erreur à la migration des tables.

Comme pour le reste, si la correction n'est pas prête ce soir... quelqu'un d'autre devra la déployer ou ça attendra le 5 janvier.

[2014-12-23 09:40] Eskimon commented on #1903
Faudrait envoyer un MP a firm1 qui a bosse la dessus mais s'est mis un peu en stand-by du dev pour le moment...

[2014-12-23 13:15] Eskimon opened #1976 "La redirection de nouveau mot de passe erronee est mauvaise"
A cette ligne le template n'existe pas https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L778

Il faut renvoyer `member/new_password/index.html` au lieu de celui indique.

Cette correction est facile a faire au plus tot

[2014-12-23 13:18] SpaceFox commented on #1976
Genre en hotfix ?

Si oui, ça doit être mergé ce soir, ou quelqu'un d'autre devra déployer, ou
ça attendra le 5 janvier.

Le 23 décembre 2014 14:15, Eskimon notifications@github.com a écrit :

[2014-12-23 13:36] Eskimon commented on #1976
C'est un cas pas hyper fréquent mais pouvant arriver, en hotfix ce serait bien ouai.

Le cas pour reproduire c'est "Se tromper lors de l'ecriture d'un nouveau password" (planter le formulaire)

[2014-12-23 14:02] Eskimon opened #1977 "Le bouton citer ne marche plus (sauf forum)"
Le bouton citer ne fonctionne plus, sauf sur les forums. Je suppose que ca vient de la recente mise en ajax https://github.com/zestedesavoir/zds-site/pull/1867

[2014-12-23 14:05] DevHugo commented on #1972
La connection à partir de facebook, ne fonctionne pas non plus.

Erreur est la suivante : "Application non configurée: Les développeurs de cette application ne l’ont pas correctement configurée pour se connecter à Facebook.".

Et si on trace, les requêtes HTTP, on s'apercoit que la requête est : https://www.facebook.com/dialog/oauth?state=ZgVqhGAiV19xFIEi9xp2NL1PIkgzt1aC&redirect_uri=http://zdsapp

[2014-12-23 14:23] DevHugo commented on #1972
1. Si tu pouvais jeter un coup d'oeil à la variable: LOGIN_REDIRECT_URL dans le settings.py. Sachant qu'on a pas le droit de mettre des variables, faut que la chaine soit mise directement.
2. Pour google, faudrait changer l'adresse de redirection dans le google app console, de http en https.

Petite aide, même si tu remplace l'adresse zdsappserver par zestedesavoir.com, tu tombe sur une erreur 500

[2014-12-23 14:58] #1968 closed, assigned to pierre-24

[2014-12-23 15:06] cgabard commented on #1493
C'est étrange mais ça supposerai un bug coté pandoc ça, non ?

[2014-12-23 15:08] pierre-24 commented on #1493
Plus que très probablement. On a aussi #1927 dans le même genre, si ça t'intéresse :)

[2014-12-23 15:49] Eskimon commented on #1976
Voila le fix est simple et la QA aussi...

[2014-12-23 16:54] Situphen opened #1980 "[Hotfix v1.4] Aperçu des commentaires des articles et tutoriels impossible"
Lorsque vous créer un commentaire sur un tutoriel ou un article et que vous voulez voir l'aperçu, rien n'apparaît ! (Problème similaire à #1915)

[2014-12-23 17:06] gustavi commented on #1980
Un peu plus de description ça ne peut pas faire de mal.

[2014-12-23 18:37] #1976 closed, assigned to Eskimon

[2014-12-24 09:28] pierre-24 commented on #1972
Ce que tu dis est intéressant, mais il faudrait regarder qu'elle est la valeur de cette variable en prod', parce que c'est pas pareil que dans le `settings.py` normal (peut-être que cette variable n'est pas touchée, mais faudrait pouvoir le checker).

[2014-12-24 09:29] pierre-24 commented on #1980
Fixé.

[2014-12-24 09:29] #1980 closed, assigned to nobody

[2014-12-24 09:29] pierre-24 commented on #1977
Fixé.

[2014-12-24 09:51] #1977 closed, assigned to pierre-24

[2014-12-24 15:19] Situphen opened #1987 "Superposition date et boutons d'actions de ses messages en petite résolution d'écran"
[Reporté sur le forum par Vayel.](https://zestedesavoir.com/forums/sujet/273/les-petits-pixels/?page=25#p36164) Lorsque vous êtes connecté et que vous avez une résolution d'écran assez faible (environ 1000px), la date et les boutons d'actions ("citer", "signaler"...) se superposent sur les messages que vous avez écris.

Pour reproduire le bug :
- Aller sur son profil puis "Messages postés"
- Chois

[2014-12-24 15:49] gustavi commented on #1987
Encore une fois il faut passer sur une petite date. Plein d'exemples dans le code. Peut-être mettre ça dans un tempalte dans misc.

[2014-12-24 17:41] Situphen opened #1990 "Mettre un lien pour partager sur Diaspora*"
[Demandé par Dominus Carnufex sur l'article de la v1.4](https://zestedesavoir.com/articles/133/zds-passe-en-version-14/?page=1#p36216) :

Je propose d'utiliser [cet outil](https://sharetodiaspora.github.io/about/) qui est open-source ([et sur GitHub](https://github.com/sharetodiaspora/sharetodiaspora.github.com)).

[2014-12-24 18:45] gustavi commented on #1990
_Rien dit_

[2014-12-24 19:24] poulp opened #1992 "Lecture zen non centrée, problème de marges"
Vu sur Firefox34/Ubuntu :

![zen](https://cloud.githubusercontent.com/assets/819246/5550641/dc1b7c74-8baa-11e4-971e-2de2a87f406f.png)

[2014-12-24 19:48] SpaceFox commented on #1990
https://zestedesavoir.com/articles/133/zds-passe-en-version-14/?page=1#p36248

[2014-12-24 19:48] #1990 closed, assigned to nobody

[2014-12-24 23:22] Situphen commented on #1992
Normalement ce sera corrigé dans la v1.5 par la PR #1837, non ?

[2014-12-25 09:28] gustavi commented on #1987
Corrigé ! Merci @Situphen !

[2014-12-25 09:28] #1987 closed, assigned to nobody

[2014-12-25 23:45] firm1 opened #1994 "Erreur 500 lors de consultation de l'historique d'un article"
J'ai une erreur 500 sur la consultation de l'historique des versions d'un article en redaction. Arius a eu le problème aussi.

Le bug semble être arrivé avec la 1.4

[2014-12-26 08:30] gustavi commented on #1156
Corrigé ! Merci @Situphen !

[2014-12-26 08:30] #1156 closed, assigned to nobody

[2014-12-26 12:40] Situphen opened #1995 "Utiliser un template lors de la prévisualisation en AJAX"
Actuellement, lors de la prévisualisation en AJAX, le back ne retourne que le texte en HTML sans les balises qui l'entoure ([ici pour le forum](https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/views.py#L488)) et les balises HTML sont ancrées en dure dans le JS ([ici](https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/action-ajax.js#L146)). Le problème est qu'il n'y a pas d’in

[2014-12-26 13:31] gustavi commented on #1994
Il semblerai que c'est le `{% crispy formJs %}` qui fait planter le truc.

D'ailleurs @firm1 c'est toi qui l'a introduit. Une raison particulière ?

[2014-12-26 15:34] gustavi commented on #1638
Bon c'est pas vraiment une issue, on n'a plus ce problème.

[2014-12-26 15:34] #1638 closed, assigned to nobody

[2014-12-26 21:45] sandhose commented on #1995
A noter que la prévisualisation se fait sur `/forums/messages/nouveau?sujet=XXX`, ce qui est... pas approprié (pour pas dire complètement dégueu :x )

J'aurais bien vu un truc genre `/api/markdown/render`, mais ça implique que l'API "de base" soit en place

[2014-12-26 21:45] sandhose commented on #1992
Je confirme

[2014-12-26 21:45] #1992 closed, assigned to nobody

[2014-12-27 07:33] gustavi opened #1999 "Ne pas référencer le téléchargement d'un tutoriel"
Le problème reporté sur le [forum](http://zestedesavoir.com/forums/sujet/2041/mettre-un-no-followno-index-pour-le-telechargement-de-tutoriel/) :

[2014-12-27 07:36] gustavi opened #2000 "LaTeX et la balise « secret » ne passent pas lors de la prévisualisation"
Reporté sur le [forum](http://zestedesavoir.com/forums/sujet/2045/apercu-et-latex/?page=1#p36471) :

[2014-12-27 12:05] Situphen commented on #1999
C'est pas vraiment de l'infra mais plutôt du back. Il y a deux moyens de faire ça, soit avec le robots.txt, soit, la méthode je pense la plus adaptée, avec des attributs sur les liens.

[2014-12-27 15:02] gustavi commented on #1957
Corrigé ! Ça arrive en **1.5** ! Merci @pierre-24 !

[2014-12-27 15:02] #1957 closed, assigned to pierre-24

[2014-12-27 15:07] Situphen opened #2001 "Rendre les tableaux et les formules MathJax responsives"
Si l'on prend [ce tutoriel](http://zestedesavoir.com/tutoriels/335/creez-des-applications-pour-android/420/les-bases-indispensables-a-toute-application/2137/les-ressources/) en exemple, sur mobile en mode portrait (Nexus 5 avec Firefox 34 pour moi), les tableaux créent une marge noire à droite.

![screenshot_2014-12-27-16-02-07](https://cloud.githubusercontent.com/assets/6664636/5561604/e13eb3ee-8

[2014-12-27 15:09] pierre-24 opened #2002 "Les tests django écrasent les données !"
Depuis qu'on a décidé de se reposer sur le `setting.py`, quelqu'un c'est amusé à changer la fonction `tearDown()` de tout les tests django du site. Du coup, alors qu'avant, on avait des `@override_settings()` qui changeaient les destination des dossiers de destination des articles et des tutos, maintenant, ces _overide_ sont inutile et à la fin d'une séquence de test, le contenu du dossier princip

[2014-12-27 19:27] gustavi opened #2003 "Certaines couleurs sont stockées en dur dans le code scss"
Par exemple la couleur du hover de `.dropdown-link-all` (_all-support.scss ligne 201). Il faudrait les externaliser.

La liste de ce que j'ai trouvé qui m'a gêné :
- `.dropdown-link-all` (bordure + fond)
- `.home-full-description-text h2` (bordure)

[2014-12-27 20:19] #1995 closed, assigned to gustavi

[2014-12-27 22:37] gustavi opened #2004 "Absence de message si aucun contenu"
Lorsqu'il  n'y a pas de contenu, il n'y a pas de message d'erreur. Il faut utiliser la balise `{% empty %}` (cf. la documentation de `{% for %}`).

Ce qui est concerné :
- Page d'accueil : « Derniers tutoriels » et « Derniers article »
- Menu : « Tutoriels » et « Forum »
- Barre de gauche : « Catégorie des tutoriels »
- Forum : « Liste des forums »
- Tutoriels (ZEP-03) : « Besoins » sur la page d'

[2014-12-27 22:59] gustavi opened #2005 "Variables incorrectes dans les CGU"
On a de nombreuses variables qui sont faussent (ex : `app.hosting` au lieu de `app.site.hosting`) dans la page des CGU. Des TU seraient les bienvenus.

[2014-12-28 07:44] gustavi opened #2006 "Problèmes d'adresses IP dans la documentation"
Visiblement une erreur c'est glissée dans cette page : https://github.com/zestedesavoir/zds-site/blob/dev/doc/deploy.md#param%C3%A8tres-sp%C3%A9cifiques

[2014-12-28 07:48] gustavi opened #2007 "Le bouton « Citer » ne nous ramène plus automatiquement à l'éditeur"
Reporté sur le [forum](http://zestedesavoir.com/forums/sujet/2064/le-bouton-citer-ne-nous-amene-plus-sur-lediteur/?page=1#p36609) :

[2014-12-28 07:50] gustavi opened #2008 "AJAXifier l'édition des messages"
Reporté sur le [forum](http://zestedesavoir.com/forums/sujet/2067/ajaxifier-ledition-des-messages/?page=1#p36650) :

[2014-12-28 08:58] gustavi opened #2009 "Plus d'informations sur Debian-backports dans la doc"
Un lien vers la doc d'installation serait un minimum (http://backports.debian.org/Instructions/), quelques instructions seraient encore mieux.

La page concernée : https://github.com/zestedesavoir/zds-site/blob/dev/doc/gulp.md

Par ailleurs, la méthode proposé dans la doc de ZDS semble **fausse** et **ne fonctionne pas**.

J'ai du utiliser `curl -sL https://deb.nodesource.com/setup | bash -`.

[2014-12-28 09:32] gustavi opened #2010 "Documenter l'installation et la configuration de Sorl"
Dans le doc on a seulement « ??? » (https://github.com/zestedesavoir/zds-site/blob/dev/doc/deploy.md#solr)

[2014-12-28 10:12] poulp commented on #2010
J'imagine qu'il faut reprendre le fichier https://github.com/zestedesavoir/zds-site/blob/dev/doc/install-solr.md

[2014-12-28 10:14] gustavi commented on #2010
Oh oui, je ne l'avais pas vu celui là ! Merci @poulp !

[2014-12-28 14:15] gustavi opened #2013 "Lien d'adhésion toujours présent même si abence d'association"
Dans `base.html` on a une condition sur la page « Association » mais il en manque une sur « Adhérer ».

[2014-12-28 19:45] SpaceFox commented on #2009
Nop, toute la partie "debian" de la doc est fausse en fait...

2014-12-28 9:58 GMT+01:00 Laville Augustin notifications@github.com:

[2014-12-28 21:04] Situphen opened #2014 "Internationalisation et mise en template de l'aide markdown"
L'aide markdown en bas des formulaires n'est pas internationalisé et est inscrit en dur dans le JS. Il devrait être écrit dans un template.

[2014-12-29 09:17] gustavi opened #2015 "Ajout d'un bouton « Envoyer et continuer d'éditer »"
Une fonctionnalités qui me manque beaucoup : celle de pouvoir envoyer une modification sur un article ou un tutoriel tout en continuant d'éditer cet article ou ce tutoriel. Simple redirection sur la page d'édition, ça me semble assez facile à mettre en place et très utile quand comme moi on "sauvegarde" son travaille ç chaque modification de paragraphe.

[2014-12-29 16:30] gustavi commented on #1962
Corrigé et mergé ! Merci @Situphen !

[2014-12-29 16:30] #1962 closed, assigned to nobody

[2014-12-29 16:36] gustavi commented on #1974
Corrigé et mergé ! Merci @Situphen !

[2014-12-29 16:36] #1974 closed, assigned to nobody

[2014-12-29 16:39] gustavi commented on #814
Corrigé et mergé ! Merci @Situphen !

[2014-12-29 16:39] #814 closed, assigned to nobody

[2014-12-29 16:49] #1731 closed, assigned to gustavi

[2014-12-29 16:49] gustavi commented on #1731
Corrigé et mergé.

[2014-12-29 16:54] pierre-24 commented on #2014
Bien vu :)

[2014-12-29 16:54] pierre-24 commented on #2010
Z'en profiteriez bien pour le sortir et aller taper ça sur SPHINX, nan ? :p

[2014-12-29 16:56] pierre-24 commented on #2009
Complètement à coté de la place, je confirme. Au delà de ça, est ce que c'est le rôle de ZdS de décrire la procédure d'installation de node pour chaque Linux ? (vraie question).

[2014-12-29 16:57] pierre-24 commented on #2006
?!?

[2014-12-29 16:58] pierre-24 commented on #2003
ça a déjà été mentionné quelque part par @sandhose, si je ne m'abuse (la PR noël, si je dis pas de bétises).

[2014-12-29 17:04] gustavi commented on #2009
@pierre-24 sur Debian je pense que c'est une bonne chose car c'est là dessus que tourne la prod donc si on fait un fork (ce que j'ai fais) on aura tendance à choisir Debian. Pour le reste je suis d'accord de dire que c'est inutile. Debian + Ubuntu ça me semble bien.

[2014-12-29 17:47] gustavi commented on #2015
En fait c'est plus complexe que ça n'en a l'air, il faut toucher à cripsy.

[2014-12-29 19:07] Situphen commented on #2014
J'hésite à mettre l'aide dans un template ("templates/misc/markdown_help.part.html") ou le mettre dans un Form ("utils/forms.py"). Quelqu'un sait ce qui est le mieux ?

[2014-12-29 19:08] pierre-24 commented on #2014
J'aurais tendance à dire "form", vu que ça n'est employé que là.

[2014-12-29 19:53] gustavi commented on #2014
Un template me semble plus propre.

[2014-12-29 19:54] gustavi commented on #2007
Corrigé et mergé ! Merci @Situphen !

[2014-12-29 19:54] #2007 closed, assigned to nobody

[2014-12-29 20:08] GerardPaligot commented on #2006
Pour rendre plus explicite le problème, les IPs sur la page de documentation citées par @gustavi affiche des IP v4 et v6 pour le serveur de pre-prod et prod erronées.

[2014-12-29 20:09] #2006 closed, assigned to gustavi

[2014-12-29 20:29] #2005 closed, assigned to gustavi

[2014-12-30 11:48] pierre-24 commented on #2002
Assignez moi, j'ai une idée.

[2014-12-30 16:37] gustavi opened #2022 "La position des forums n'est pas gérée"
Actuellement, on peut spécifier une position pour un forum or ce n'est pas géré dans le code.

Il faut rajouter `.order_by('position_in_category')` ligne 19 de `topbar.py` (ce fichier est juste immonde) et un peu plus bas.

[2014-12-30 16:56] gustavi commented on #2022
J'ai réussi à fixer ça avec des tonnes de scotch mais faut revoir l'ensemble je pense. http://paste.awesom.eu/gbid

[2014-12-30 17:35] poulp commented on #2022
doublon avec #1822

[2014-12-30 17:37] #2022 closed, assigned to nobody

[2014-12-30 17:37] gustavi commented on #1822
J'ai réussi à fixer ça avec des tonnes de scotch mais faut revoir l'ensemble je pense. http://paste.awesom.eu/gbid

[2014-12-31 11:40] Nek- opened #2024 "[RFC] Ajouter un bot IRC pour le chat Zest de savoir"
Hello,

Ce n'est pas vraiment un problème en tant que tel, évidemment. Mais l'idée c'est de savoir si ça vous dit d'intégrer un bot à l'application ZdS qui fonctionnerait sur IRC, on pourrait récupérer des infos du site etc.

Le but ici est d'avoir l'aval de l'équipe de ZdS et ensuite de définir quelles pourraient être les fonctionnalités du bot.

[2014-12-31 11:45] gustavi commented on #2024
J'en avais commencé un qui qui listait les nouvelles issues de GH ainsi que les nouveaux sujets de B&S et DEv Zone sur `#zds-dev` et un qui listait les nouveaux artciles/tutos sur `#zestedesavoir`.

[2014-12-31 11:47] Nek- commented on #2024
à part de zds je présume?

[2014-12-31 11:48] gustavi commented on #2024
Oui.

Juste comme ça, le forum est plus approprié pour ce genre de suggestion !

[2014-12-31 11:50] Eskimon commented on #2024
Yep un sujet sur le forum Bugs Et Suggestions serait nickel pour discuter plus facilement et ainsi lister toutes les possibilités de notre imagination !

[2014-12-31 16:54] Situphen commented on #2014
Ce qu'il faut faire c'est carrément un _template pack_ car la dit @Alex-D dans l'issue #1691. Je vais essayer de me plonger dans la doc de _crispy forms_ pour faire un truc un peu plus propre que ce que l'on a aujourd'hui.

[2015-01-01 17:50] Situphen opened #2025 "Pouvoir (ne plus) suivre un article ou un tutoriel"
[Reporté par WinXaito sur le forum](https://zestedesavoir.com/forums/sujet/2111/ne-plus-suivre-un-article-petit-alignement-de-case-a-cocher/?page=1#p37486) :

[2015-01-02 16:46] gustavi opened #2027 "On ne peut pas déplacer un sujet épinglé"
Le dropdown ne s'affiche pas.

Pour reproduire :
- Créer un sujet sur le forum
- Le mettre épinglé
- Essayer de le déplacer

[2015-01-02 16:52] gustavi opened #2028 "Lorsqu'on enlève un sujet des post-it le message est faux"
On a le message suivant qui est faux :

[2015-01-02 21:27] #1954 closed, assigned to gustavi

[2015-01-03 09:55] gustavi opened #2030 "Le partge pas mail d'un article/tutoriel ne fonctionne pas"
Reporté via le [forum](http://zestedesavoir.com/forums/sujet/2124/partage-par-e-mail-dun-article-tutoriel/?page=1#p37737) :

Il semblerait que ça vienne du lien qui est faux.

[2015-01-03 10:01] gustavi commented on #1933
UP @firm1 !

[2015-01-03 10:03] gustavi commented on #2024
@Nek- peux-tu ouvrir un sujet sur le forum qu'on ferme ici ?

[2015-01-03 10:04] gustavi commented on #678
Je ferme ici car tout cela est repris dans la ZEP-10 : http://zestedesavoir.com/forums/sujet/822/zep-10-module-dexercices/

[2015-01-03 10:04] #678 closed, assigned to nobody

[2015-01-03 10:08] gustavi commented on #1262
UP ici ! On fait quoi ? L'idée serait d'avoir un système prêt à être utilisé mais activable seulement si une option dans le `settings.py` est cochée.

Ça permettrai le jour où on commence à se manger du SPAM :
- De ne pas avoir à développer ça dans l'urgence (et donc sûrement pas très proprement) ;
- De pouvoir l'activer sans faire un hotfix.

[2015-01-03 10:17] Nek- commented on #2024
[Proposition sur zds](http://zestedesavoir.com/forums/sujet/2129/ajouter-un-bot-irc-pour-le-chat-zest-de-savoir/?page=1)

[2015-01-03 10:23] gustavi commented on #2024
Merci

[2015-01-03 10:23] #2024 closed, assigned to nobody

[2015-01-03 18:05] gustavi opened #2031 "Problème de saisi d'un membre dans l'ajout d'un auteur"
Via le [forum](http://zestedesavoir.com/forums/sujet/2135/ajout-dun-auteur-fonctionnant-mal/#p37866) :

[2015-01-05 08:57] #2028 closed, assigned to gustavi

[2015-01-05 08:57] #2004 closed, assigned to gustavi

[2015-01-05 09:31] viki53 commented on #1784
Hello, ça a pas été mis en prod ? J'ai le même problème (mail reçu ce matin, même chose sur un reçu hier)…

https://www.dropbox.com/s/77n08ttfk17cup9/Capture%20d%27%C3%A9cran%202015-01-05%2010.25.18.png?dl=0

[2015-01-05 09:44] Eskimon commented on #1784
Vu que la seule PR référençant cette issue est encore ouverte je dirais que c'est normal...

[2015-01-05 09:53] viki53 commented on #1784
Effectivement, j'ai regardé le status de l'issue à la place. Ça passera bientôt ? Parce que c'est quand même handicapant je trouve.

Au passage, si y'avait moyen d'ajouter un lien vers le site en footer de tous les mails ce serait un plus je pense…

[2015-01-05 10:01] Eskimon commented on #1784
Il faudrait carrement un vrai beau template pour les mails, car la c'est un peu...primaire

[2015-01-05 14:18] SpaceFox opened #2033 "Nouvelle balise : "encart" ou "annexe""
De mon point de vue, il nous manque une balise "encart" ou "annexe" dans le markdown, de la même manière qu'on a les attention / question / etc.

Elle servirait à mettre du contenu annexe au texte principal du tuto ou de l'article, tels que des résumés, des preuves, des explications complémentaire, etc.

On les retrouve souvent dans les publications de vulgarisation scientifique dans des encarts (

[2015-01-06 15:30] firm1 commented on #280
La bonne nouvell du jour : [l'upstream de git-python est compatible python 3](https://github.com/gitpython-developers/GitPython/issues/114#issuecomment-68877516)

[2015-01-06 18:39] Situphen commented on #2033
Note aux devs du Markdown : AMHA, il faudrait utiliser la balise `<aside>` (avec une classe pour le design).

[2015-01-06 20:06] PierreGaudichon opened #2036 "Erreur 404 sur le bouton "ne plus suivre" sur le forum"
Sur la page d'acceuil des forums, la liste des sujets suivis a un bouton par sujet qui propose de ne plus suivre le sujet. Lors du clic, le site revoie une erreur 404. L'url de la page 404 est `http://zestedesavoir.com/forums/sujet/editer/`.

Par contre, je peux supprimer le sujet de la liste des suivis lorsque je suis sur la page du sujet en question.

[2015-01-06 20:58] Eskimon commented on #1594
Merfi @pierre_24

[2015-01-06 20:58] #1594 closed, assigned to pierre-24

[2015-01-06 23:45] ChantyTaguan commented on #2030
En local, tout fonctionne. De même en prod, si je fais un clic droit -> ouvrir le lien dans un nouvel onglet, ça fonctionne correctement.

Par contre, un simple clic donne une erreur 403 dans la console JS :

[code]

[2015-01-06 23:52] ChantyTaguan commented on #2027
J'ai pas de souci pour déplacer un sujet épinglé personnellement, ni en local ni en prod.

[2015-01-07 00:15] ChantyTaguan commented on #2025
Hello,

J'aurais bien envie de m'occuper de ceci. Après lecture du code, je vois qu'on a pas de structure dédiée pour le suivi des articles et des tutos. On regarde simplement si on a écrit un commentaire sur l'article/le tuto et si y a des réponses non lues. Pour les forums par contre, y a un modèle dédié.

Du coup, c'est l'occasion de peut-être penser encore plus loin et faire des notifs complèt

[2015-01-07 00:39] ChantyTaguan commented on #2031
Je prends. Je peux ? :-)

D'après mes tests, ça fonctionne si le pseudo de l'auteur est parfaitement orthographié. Par contre, effectivement, aucun message ne s'affiche si le pseudo n'existe pas, et on ne vire pas les éventuels espaces avant/après le pseudo donné.

Donc,
1/ j'ajouterais un trim sur la recherche à partir du pseudo donné
2/ j'ajouterais évidemment un message d'erreur si on ne trouve

[2015-01-07 07:07] Eskimon commented on #2025
Le truc c'est que le code actuel concernant les reactions sur articles/tuto est loin d'etre propre. Il est duplique de partout et c'est pas la joie. Normalement cette duplication va degager avec la ZEP-12 en cours de dev', mais je sais pas si ca un impact "factorisant" vis a vis des réactions du forum... (ping @pierre-24 && @gustavi || @artragis ^^)

[2015-01-07 07:09] artragis commented on #2025
A priori non. Il faudra implémenter ça une fois la zep 12 développée.
Le 07/01/2015 08:07, Eskimon a écrit :

[2015-01-07 07:30] pierre-24 commented on #2025
On va pas tout bloquer parce que ZEP-12 non plus (je voudrais pas être pessimiste, mais ça va prendre un peu de temps à dev, la ZEP-12). Donc on peut très clairement lancer une ZEP, et ça va pas être bloquant, à mon sens ;)

[2015-01-07 07:34] artragis commented on #2025
oui, c'est à vous de vvoir. mais c'est pas la zep 12 qui va dev la
fonctionnalité.
Le 07/01/2015 08:30, Pierre Beaujean a écrit :

[2015-01-08 15:57] Ge0 opened #2039 "[BUG] Difficultés avec gulp build."
Salut,

J'essaie de compiler les fichiers liés au front pour générer le dossier `dist` qui va bien, mais j'obtiens une erreur dont je peine à me défaire.

[code]

Est-ce que ça parle à quelqu'un ?

[2015-01-08 18:25] poulp commented on #2039
Je viens de voir ça sur stack overflow http://stackoverflow.com/questions/25237158/error-cannot-find-module-entities-lib-decode-codepoint-js

[2015-01-08 20:47] Ge0 commented on #2039
J'ai corrigé mon problème, npm n'était pas à jour (version trop ancienne) du coup ça foirait l'installation de certains packages  et s'en suivaient des erreurs vides de sens.

Merci quand même pour avoir jeté un oeil à mon problème.

Je ferme.

[2015-01-08 20:47] #2039 closed, assigned to nobody

[2015-01-09 07:10] Eskimon commented on #2036
Je pense que c'est un doublon de l'erreur qui est réglée :) https://github.com/zestedesavoir/zds-site/issues/1884

[2015-01-09 07:13] Eskimon opened #2041 "Ajaxification du bouton "cette réponse m'a aidée""
[Via Fulbert](https://zestedesavoir.com/forums/sujet/2160/liens-vers-le-comptes-zds-sur-les-reseaux-sociaux/?page=1#p38423):

Il faudrait ajaxifier le bouton "Cette reponse m'a aidee" pour eviter le rechargement de toute la page.

S'inspirer de la PR https://github.com/zestedesavoir/zds-site/pull/1867

[2015-01-09 10:23] Eskimon commented on #1921
Apparemment cette proposition doit etre discute plus en profondeur, tout le monde ne semble pas en phase avec ce qui serait bien de faire.

[2015-01-09 16:26] Eskimon commented on #1653
En prod ca ne fonctionne toujours pas, j'envoie Ge0 a l'attaque :D

[2015-01-09 16:28] Eskimon commented on #1653
Ca doit se passer dans cette méthode : https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L113

[2015-01-10 08:30] Ge0 commented on #1653
Plop,

Juste pour dire que j'ai bien reçu les directives d'Eskimon et que je traite ce bogue au plus vite.

[2015-01-10 20:59] DevHugo commented on #2027
Pas de souci en local, non plus !

[2015-01-11 10:52] gustavi commented on #2027
Effectivement je n'ai plus ce bug. Étrange. Je ferme donc.

[2015-01-11 10:52] #2027 closed, assigned to nobody

[2015-01-11 10:58] gustavi opened #2043 "Pouvoir publier un article en différé"
Aujourd'hui, à la date t on ne peut pas publier un article à la date t+n. Ça serait une fonctionnalité très utile. C'est la validation qui a la possibilité de faire ça, et non l'utilisateur selon moi.

Il suffit :
- de n'afficher que les articles dont la date est inférieur ou égale à la date actuelle (sur le site amis dans les RSS) ;
- prévoir un champ date de publication facultatif dans le formul

[2015-01-11 20:36] Situphen opened #2044 "Rendre les vidéos responsive"
Sur mobile, il y a une marge noire à droite quand la page contient une vidéo. Il faudrait rendre les vidéos responsive.

[Reporté par Vince sur le fork DansTonCube](http://danstoncube.fr/forums/sujet/44/affichage-articles/), ce bug est aussi présent sur ZdS :

![Image du bug](http://uprapide.com/thumbs/invite/screenshot-2015-01-06-23-13-33-2.jpg)

[2015-01-12 07:03] Eskimon commented on #2043
Il y a aussi dans le profil de l'auteur et surement d'autres emplacement...

[2015-01-12 07:12] #1994 closed, assigned to nobody

[2015-01-13 13:54] Eskimon opened #2045 "[Staff] Afficher si un compte n'est pas activé"
Lorsqu'un staff visualise un profil, il voit dans le bas de la sidebar des actions sur le banissement. Ces actions ne devrait pas etre visible si le compte du membre n'est pas activé.

Un message devrait aussi etre visible quelque part pour signaler que le compte n'est pas activée.

Pour le premier point, il suffit d'englober le passage suivant avec un `if usr.is_active` (ou un truc de cet acabit)

[2015-01-13 13:57] Eskimon opened #2046 "Page de profil : Un staff devrait pouvoir voir l'email d'un membre"
Pour différentes raisons d'administrations, il serait pratique que les staff puissent voir l'email du membre sur la page de profil de ce dernier.

Pour cela il faut modifier la condition ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/member/profile.html#L63

(indice : perms.member.change_profile return true si je suis staff)

[2015-01-13 15:11] GerardPaligot commented on #2046
Quel est le scénario qui le justifie ? Un membre n'a pas forcément envie de divulguer son e-mail, même au staff. Et si nous le faisons quand même, il faut signaler dans les paramètres utilisateurs qu'il peut cacher son e-mail mais qu'il ne le sera pas au staff.

[2015-01-13 15:18] Eskimon commented on #2046
Par exemple si un membre galère a activer son compte, alors un super-user pourra le faire. Cependant il faut l'email pour cela si je dis pas de betise. (mais je me trompe peut-être).

[2015-01-13 15:26] GerardPaligot commented on #2046
Non, c'est une case à cocher dans l'administration. L'e-mail n'est pas nécessaire pour qu'un super-user active le compte d'un membre.

Edit : D'ailleurs, le super-user peut voir l'e-mail dans l'interface admin ...

[2015-01-13 15:32] firm1 opened #2047 "La boite modale ne s'affiche pas dans certains cas"
Scénario 1 :
- Je vais sur un forum
- Je clique sur "Tutoriels" dans la barre du haut
- Je clique ensuite dans le vide car je ne veux pas aller dans les tutoriels
- Je clique ensuite sur le point de suspension dans la pagination pour aller à un numéro de page précis
- **La boite modale ne s'affiche pas**

Scenario 2 :
- Je vais sur un topic
- Je clique sur "Tutoriels" dans la barre du haut
- Je cl

[2015-01-13 15:35] firm1 opened #2048 "Confirmer la fermeture d'un topic"
Fermer un topic est une action de modération. Cependant, quand on est sur mobile, on pourrait cliquer par inadvertance sur le bouton "fermer un sujet".

Pour éviter que ça arrive, il faudrait une boite modale qui permette de confirmer cette action.

[2015-01-13 15:40] poulp commented on #2047
je pense que c'est liée #1936

[2015-01-13 15:44] firm1 opened #2049 "Problème de 404 dans la navigation par tag"
L'url suivante : `/forums/sujets/tag/48/python/?page=4` devrait renvoyer une 404 car la page 4 n'existe pas.

C'est mauvais pour le SEO.

[2015-01-13 15:46] SpaceFox commented on #2049
Cette URL en particulier (avec le mauvais numéro de page) est référencée quelque part ?

Qu'est-ce que ça renvoi aujourd'hui ?

[2015-01-13 15:50] firm1 opened #2050 "Le sitemap xml ne contient pas les tags du forum"
Dans le sitemaps on a les topics, les forums, les catégories, mais on a pas les tags.

ça serait peut-être interessant d'indiquer les tags au moteur de recherche via le sitemap.

[2015-01-13 16:00] firm1 opened #2051 "Le site n'a pas de titre 1"
Le site a des h2, des h3, des h4, mais jamais de h1. C'est pourant une bonne pratique pour le référencement.

[2015-01-13 16:16] firm1 opened #2052 "Incohérence dans l'affichage des licences d'un tutoriel/article"
Quand on visite un tutoriel ou article hors ligne et en ligne, la licence n'est pas la même.

La preuve en image

[Version hors ligne](https://zestedesavoir.com/tutoriels/off/234/creer-un-jeu-html5-avec-quintus/) :

![offline](https://cloud.githubusercontent.com/assets/6066015/5723876/c4611966-9b47-11e4-8ec9-b991668a3ee2.PNG)

[Version en ligne](https://zestedesavoir.com/tutoriels/234/creer-un-jeu

[2015-01-13 16:18] SpaceFox commented on #2052
C'est juste un bug d'affichage qui d'ailleurs pour moi était corrigé depuis
longtemps.

Le 13 janvier 2015 17:16, firm1 notifications@github.com a écrit :

[2015-01-13 19:43] Eskimon commented on #1541
Ca c'est fait

[2015-01-13 19:44] Eskimon commented on #2031
it is done :) Beau travail d'équipe d'ailleurs :)

[2015-01-13 19:44] #2031 closed, assigned to nobody

[2015-01-14 11:06] GerardPaligot opened #2053 "Problème d'encodage avec l'utilisation de certains e-mail (avec accent)"
Salut,

J'ai eu une erreur 500 avec un affichage non voulu. Lorsque je désire consulter la page 4 de l'un de mes MPs (avec @gustavi et @ChantyTaguan), je me retrouve avec ce qui semblerait être une erreur 500 :

[code]

Edit : Le bug a été trouvé plus bas dans [ce ticket](https://github.com/zestedesavoir/zds-site/issues/2053#issuecomment-69908131).

[2015-01-14 11:37] Eskimon commented on #2053
Il y a pas une histoire de "ce genre d'erreur est retourne quand le serveur a vraiment crasher (et non pas juste "la logique du site est incohérente" ?

[2015-01-14 12:11] GerardPaligot commented on #2053
@Eskimon : A première vue, c'est gunicorn qui a eu un problème. Tout est normal maintenant. Cf. [ce message](https://zestedesavoir.com/forums/sujet/2202/vilaine-erreur-sur-les-forums/?page=1#p39428) sur les forums de ZdS.

Par contre, il y a vraiment une erreur 500 qui traine et il faudrait voir pourquoi.

[2015-01-14 12:16] Eskimon commented on #2053
Dans Sentry, la seule erreur ayant eu lieu il y a environ une heure c'est:

`UnicodeEncodeError: 'ascii' codec can't encode character u'\xfb' in position 9: ordinal not in range(128)`

du a ca :

[code]

[2015-01-14 12:18] Eskimon commented on #2053
Pour corriger, il faudrait un 'u' devant cette chaine. C'est bizarre il me semblait que ca avait ete fait il y a longtemps...

https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/models.py#L128

[2015-01-14 12:20] GerardPaligot commented on #2053
Ok, je renomme le sujet pour expliciter ce bug.

[2015-01-14 12:26] Eskimon commented on #2053
Dans ce cas c'est doublon de cela : https://github.com/zestedesavoir/zds-site/issues/1640

[2015-01-14 12:28] GerardPaligot commented on #1640
Je relance cette issue parce qu'elle n'a toujours pas été corrigée (malgré une tentative de PR) et qu'elle est toujours en prod.

[2015-01-14 12:28] GerardPaligot commented on #2053
Bien, je ferme ici.

[2015-01-14 12:28] #2053 closed, assigned to nobody

[2015-01-14 12:30] Eskimon commented on #1640
Le souci c'est que si on la résout c'est du cote de git que ca merde... Donc il y a deux solutions:
- Passer a Python 3 :)
- Interdire les caractères alakon dans les emails

[2015-01-14 12:35] Xalfen commented on #1640
Interdire les caractères spéciaux dans les adresses emails, c'est aussi explicitement ne pas appliquer les RFC correspondantes. Perso, j'utilise les "+" dans mes emails pour me retrouver dans les différents sites où je suis inscrit (et aussi savoir d'où vient un mail si ton adresse a été leakée par exemple). Je trouverais ça un bête

[2015-01-14 15:56] firm1 opened #2054 "Le site n'est pas compatible IE9"
Navigateur : **IE9**
OS : **Windows 7**

Screenshot de la home

![](http://zestedesavoir.com/media/galleries/241/540d223f-f628-497c-b4f4-4e55b9fa6cbb.png.960x960_q85.png)

Screeeshot d'un topic :

![](http://zestedesavoir.com/media/galleries/241/ac4ee723-4323-47f8-b97c-99679e987864.png.960x960_q85.png)

En fait c'est le cas sur la sidebar dans toutes les pages.

[2015-01-16 11:11] Eskimon commented on #1519
Au point ou on en est, je tag en zep-12 ;)

[2015-01-16 11:16] Eskimon opened #2058 "Un code de tracking est present en dur dans le code"
[Via le fork "danstoncube.fr"](https://github.com/DansTonCubeFr/danstoncube.fr/issues/7)

Dans un fichier de javascript, un code de tracking Google Analytics est present en dur. Ce dernier doit absolument etre externalise dans le fichier de settings.

https://github.com/zestedesavoir/zds-site/blob/dev/assets/js/cookies-banner.js#L15

[2015-01-16 11:18] artragis commented on #1519
^^
Le 16/01/2015 12:11, Eskimon a écrit :

[2015-01-16 11:19] SpaceFox commented on #2058
J'avoue que je ne comprends pas bien ce que ce tag fait dans ce fichier.

2015-01-16 12:16 GMT+01:00 Eskimon notifications@github.com:

[2015-01-17 14:46] DevHugo opened #2060 "Erreur dans le template du mail d'oubli du mot de passe, d'inscription"
## Template de réinitialisation de mot de passe

Le mail de réinitialisation du mot de passe en prod, utilise les variables app.site.url, app.site.litteral_name et app.site.name qui ne sont pas définis.

Le mail reçu :

Le mail que je devrais recevoir :

## Template d'inscription

Même problème.

Pour les devs:
- Voir les fichiers dans le dossier templates/email/*
- Pour le serveur de mail, pour r

[2015-01-17 14:59] gustavi commented on #2060
C'est connu, je crois même que j'ai une PR en cours dessus. Merci du retour.

[2015-01-17 15:09] DevHugo commented on #2060
Tu parle de ça: [https://github.com/zestedesavoir/zds-site/pull/1785](https://github.com/zestedesavoir/zds-site/pull/1785), d'aprés une relecture rapide c'est que pour les mps !

Donc faut faire le reste, rajouter deux paramétres dans le render ^^ (je le fais si tu veux, no souci).

Ferme, si tu peux, je vais ajouter en commentaire, de ne pas oublier les autres templates: celui d'inscription, d'ou

[2015-01-17 16:05] ghost opened #2062 "impossible de se désincrire"
bonjour, il n'est pas possible de se désinscrire, que faire ? j'obtiens une erreur 500 !

[2015-01-17 16:22] GerardPaligot commented on #2062
Il faudrait quelqu'un avec un accès Sentry ici (cc @SpaceFox, @gustavi).

@folaefolc Nous sommes désolé que tu veuilles nous quitter de ZdS. :)

[2015-01-17 16:29] gustavi commented on #2062
@folaefolc je peux avoir l'heure de ta tentative de désinscription ?

[2015-01-17 18:45] SpaceFox commented on #1944
J'ai une PR mergée là-dessus, je peux considérer le ticket comme fermé ?

[2015-01-17 18:54] SpaceFox commented on #2054
Pour information, IE9 c'est 0,39 % du trafic global (22ème rang) sur le dernier mois, et 0,49 % du trafic global (31ème rang) depuis l'ouverture au public.

Donc si ça amuse quelqu'un de le corriger OK, mais ça reste un problème ultra-mineur.

[2015-01-17 18:55] SpaceFox commented on #2051
Pour moi il va falloir détailler ce ticket, à commencer par indiquer les pages impactées.

[2015-01-17 19:45] SpaceFox commented on #1541
Cf ce commentaire : https://github.com/zestedesavoir/zds-site/pull/1865#issuecomment-70381328

[2015-01-17 20:24] Eskimon commented on #1944
yep

[2015-01-17 20:24] #1944 closed, assigned to Eskimon

[2015-01-17 20:31] GerardPaligot commented on #2051
Il me semblait qu' @Alex-D avait ses raisons à l'époque. Malheureusement, cela remonte à bien trop longtemps. Je ne serais pas en mesure de vous l'expliquer.

[2015-01-17 20:43] ghost commented on #2062
il y a pile poil 5h, et je viens de réessayer !

[2015-01-17 21:00] SpaceFox commented on #2062
OK... ici https://github.com/zestedesavoir/zds-site/blob/dev/server/deploy.sh#L62 on considère que **toutes** les tables de la base utilisent South et donc la mise à jour avec `python manage.py migrate`.

Or apparemment certains modules (dont l'authentification par boutons sociaux) utilisent encore la mise à jour avec `python manage.py syncdb`.

Il manquait donc ces tables :

social_auth_associati

[2015-01-17 21:05] Eskimon commented on #2062
(ca devrait aussi régler l'authentification par réseaux sociaux du coup...)

[2015-01-18 09:20] Deuchnord opened #2064 "La création de tableaux complexes peut rendre l'édition très (très) complexe"
Si la création de tableaux complexes avec l'implémentation proposée est claire et efficace, elle pose quelques soucis lorsque l'on veut créer un tableau relativement large ou vraiment complexe.

Voici par exemple les soucis que j'ai rencontrés quand j'ai créé le tableau sur [ma page de profil](https://zestedesavoir.com/membres/voir/J%C3%A9r%C3%B4me%20Deuchnord/#biographie) :
- La largeur des cellu

[2015-01-18 09:30] Cydonia7 commented on #2041
Je m'en occupe !

[2015-01-18 09:56] ghost commented on #2062
c'est bon, j'ai réussis :) merci

[2015-01-18 09:56] #2062 closed, assigned to nobody

[2015-01-18 09:57] ghost commented on #2054
Y'a le même bug sous Blueflap et la zone pour écrire le message est carée aussi (c'est psa tout à fait la même chose, mais tant qu'on y est ...)

[2015-01-18 10:00] gustavi commented on #2054
@Bat41 honnêtement c'est encore plus spécifique donc je doute que quelqu'un soit motivé pour ça ! Surtout que IE9 ne représente qu'une infime partie du trafic. Après si tu corriges ça c'est avec plaisir :)

Mais bon, toute personne qui se respecte n'utilise pas IE.

[2015-01-18 11:59] #2002 closed, assigned to pierre-24

[2015-01-18 12:29] SpaceFox commented on #2054
Bah, IE11 est devenu un navigateur tout à fait acceptable (et à sa sortie, c'était même le plus performant niveau JS).

[2015-01-18 13:40] Eskimon commented on #2060
Alors go @DevHugo si tu sais ou corriger tout ca c'est avec plaisir :)

[2015-01-18 13:41] Eskimon commented on #2041
Ca roule, merci !!

[2015-01-18 20:38] SpaceFox commented on #1541
OK, ça a marché.

[2015-01-19 09:39] firm1 opened #2066 "Il n'ya pas de ligne de césure entre le texte et la conclusion"
Je lisais [ce mini tutoriel](http://zestedesavoir.com/tutoriels/692/comment-reussir-votre-entretien-dembauche/) super interessant, et au niveau de la conclusion, il manque une balise &lt;hr /&gt; entre le dernier extrait et la conlusion sur la version en ligne.

La balise est pourtant présente sur la version hors ligne du tutoriel.

[2015-01-19 10:40] DevHugo commented on #2060
Je fais ça se soir, si j'ai le temps.

[2015-01-19 10:45] firm1 opened #2067 "Le filtre par catégorie ne marche pas sur l'interface de validation des articles"
A l'instant sur la préprod en alant sur l'url : http://preprod.zestedesavoir.com/articles/validation/?subcategory=61 qui est censée renvoyer touts les articles en validation de la catégorie interview, je n'obtiens pas le résultat escompté.

Il me semble que ça a été corrigé du coté de la validation des tutoriels, mais pas dans les articles.

[2015-01-19 10:53] firm1 opened #2068 "Impossible de publier un article"
## Attention ce bug est très bloquant

A l'instant à allant sur la préprod, je réserve un article dans la zone de validation. L'article se nomme "Trivial Computation et simplification matérielle des calculs".

Le seul problème étant qu'en arrivant sur l'article, je n'ai pas de bouton de validation à ma portée.

Un bug qui risque de bloquer la validation des articles.

[2015-01-19 10:59] Eskimon commented on #2068
J'ai reussi a faire apparaitre le bouton, mais effectivement il y a un truc bizarre...
Je m'explique...
- L'article est dans la liste, non reserve.
- Je click sur "reserver" et atteri sur l'article, cependant dans la sidebar rien n'affiche un etat "en validation" puisque je peux demander la validation pour ce dernier...
- Je demande la validation
- Je peux de nouveau reserver
- Puis publier (je su

[2015-01-19 11:01] firm1 opened #2069 "Les parties d'un big tuto se déplacent sans mon accord"
Quand je veux déplacer une partie, je vais sur la partie en question, je déroule la zone "avant/après", si je clique dans la zone de liste la partie est déplacée avant même que je n'ai appuyé sur "déplacer".

Testé en préprod.

[2015-01-19 11:02] firm1 commented on #2069
Pour info, j'ai le même souci quand je déplace un chapitre

[2015-01-19 11:03] Eskimon commented on #2069
Ca c'est le cas depuis toujours (j'ai meme fini par penser que c'etait voulu)

[2015-01-19 11:08] firm1 opened #2070 "Mauvais message affiché dans l'historique de validation"
Testé en préprod.

J'ai un tutoriel, je le soumets à la validation, j'annule la demande de validation.

Si on consulte l'historique de validation, on a le message suivant : "Ce tutoriel n'a jamais été soumis en validation. "

Ce qui est faux, puisque je l'ai soumis et j'ai annulé la soumission par la suite.

[2015-01-19 11:10] SpaceFox commented on #2070
Je me demande à quel point c'est pas volontaire ça.

[2015-01-19 11:16] firm1 opened #2071 "L'historique de validation est écrasé dans certains cas"
Comme je le craignais ([cf ce commentaire](https://github.com/zestedesavoir/zds-site/pull/1960#issuecomment-69355052)) un bug permet à un auteur de nettoyer son historique de validation quand il veut.

Scenario :
1. Je mets mon tuto en validation
2. mon tutoriel est refusé pour x ou y raison, et le valido prend le temps d'expliquer pourquoi
3. je renvoit mon tuto en validation, puis j'annule la va

[2015-01-19 11:22] firm1 opened #2072 "Impossible d'ajouter quelqu'un d'autre à une galerie"
Je vais sur une gallerie, je clique sur "ajouter un utilisateur", je choisi un utilisateur, et je valide.

En revenant sur la gallerie, je ne vois pas l'utilisateur en question comme ayant été ajouté en lecture seule à la gallerie

[2015-01-19 11:26] firm1 opened #2073 "Un utilisateur peut s'écrire à lui même"
Testé en préprod.

Scénario :
- Je vais dans l'interface des messages
- Dans les destinaites, je renseigne la chaine suivante (contenu entre guillemets) " , ".
- Le MP m'est envoyé à moi tout seul.

[2015-01-19 11:30] firm1 opened #2074 "Le compte anonyme est sanctionnable"
On peut sanctionner un compte annonyme ou auteur externe. ça ne devrait pas être le cas

Le bouton d'ajout d'une remarque sur ces membres spéciaux est disponible, ça ne devrait pas être le cas.

[2015-01-19 11:32] firm1 commented on #1541
Je ré-ouvre cette issue, car en préprod, sur le profil de l'utilisateur anonyme, ce dernier a encore le bouton "Envoyer une message privé" dans la sidebar : http://preprod.zestedesavoir.com/membres/voir/anonyme/

[2015-01-19 11:42] firm1 opened #2075 "Tentative de signalement de faute, et rejet"
J'ai essayé de signaler une faute dans le tuto Arduino en préprod, on m'a proposé de faire un MP si mon message est trop long, ce que j'ai fais.

Par contre, le titre du MP est rempli automatiquement et est donc super long :  `Je voudrais signaler une faute dans le tutoriel "Arduino : Premiers pas en informatique embarquée"`

Quand je fini de taper mon message, à la validation, celui-ci est refusé

[2015-01-19 11:48] artragis commented on #1541
je ne peux pas corriger le problème car la branche de release n'existe
pas sur le dépôt @Spacefox.
Le 19/01/2015 12:32, firm1 a écrit :

[2015-01-19 12:04] Eskimon opened #2076 "Page profil, les extraits de messages sont affiches en html"

[2015-01-19 12:06] SpaceFox commented on #2071
Dans la mesure où la grande majorité des retours pertinents de validation se font par MP, je mets un bémol sur le "bloquant".

D'autre part, évites de trop détailler les failles sur un tracker public. Celle-là ça va encore, mais bon.

[2015-01-19 12:07] SpaceFox commented on #2075
Jamais. Il faut adapter le texte et les limites de champs pour que ça rentre correctement.

[2015-01-19 12:09] SpaceFox commented on #1541
WTF ? En effet, c'est corrigé.

Le 19 janvier 2015 12:48, artragis notifications@github.com a écrit :

[2015-01-19 12:22] GerardPaligot commented on #2071
Parce que nous avons un bug tracker privé pour détailler les failles ? ...

[2015-01-19 12:25] SpaceFox commented on #2071
Non, mais on a les MP et pourquoi pas les mails. D'où la fameuse mailing list que je proposais l'autre jour...

Dans tous les cas, une vraie faille de sécurité **ne doit pas** être reportée en public !

[2015-01-19 12:31] firm1 commented on #2071
Je ne l'aurai pas reporté en public si la faille était déjà en prod. Pour le moment ce n'est pas encore en prod, donc tant mieux, et il faudra éviter que ça arrive.

[2015-01-19 12:38] firm1 opened #2077 "Mobile : Le bouton de signalement de faute empiète sur les commentaires"
Testé en préprod sur Chrome/Android

Voir le screenshoot.

![screenshot_2015-01-19-13-08-28](https://cloud.githubusercontent.com/assets/6066015/5800562/650f89b4-9fe0-11e4-92c5-24d074687f1e.png)

[2015-01-19 12:38] GerardPaligot commented on #2071
@SpaceFox Je ne comprends pas ton point de vue mais c'est toi le DIT. Donc, ok.

[2015-01-19 12:40] SpaceFox commented on #2071
Je ne vois pas ce que tu ne peux pas comprendre, honnêtement.

[2015-01-19 12:40] SpaceFox commented on #2077
Quelles versions ?

2015-01-19 13:38 GMT+01:00 firm1 notifications@github.com:

[2015-01-19 12:41] firm1 opened #2078 "Pas de bouton pour signaler des fautes sur un article"
Le bouton de signalement de faute est présent dans un tutoriel, mais pas dans un article. Pourtant un article peut sortir aussi avec des fautes.

[2015-01-19 12:42] GerardPaligot commented on #2071
Nous sommes ici pour développer un projet open-source qui accepte les contributions de n'importe qui. Si nous commençons à rapporter des bugs/failles en message privé aussi, on ne s'en sortira plus. Soit, c'est pas le lieu pour en discuter.

[2015-01-19 12:42] firm1 commented on #2077
version : 39.0.2171.93

[2015-01-19 12:47] firm1 opened #2079 "Le topic de beta ne s'en va pas avec le tutoriel"
Si je supprimer un tutoriel qui a été passé en beta, le topic de beta reste toujours présent.

Il faudrait au minimum que le topic soit envoyé dans la corbeille, et idéalement, le topic devrait être supprimé en même temps que le tutoriel.

[2015-01-19 12:52] SpaceFox commented on #2071
Je ne parle **que des failles de sécurité** et je suis désolé, ce n'est tout simplement pas négociable !

OK, on est un projet open-source qui accepte les contributions de n'importe qui. Et alors ? Est-ce que ça veut dire qu'il faut qu'on expose nos failles en public, en mode _"Regardez, hackez-nous ! C'est facile, on vous donne même la marche à suivre, c'est open bar !"_.

Soyons sérieux deux min

[2015-01-19 12:57] GerardPaligot commented on #2071
Non mais ça m'apprendra à donner mon avis. C'est toi le DIT, c'est toi qui décide. Point. Vous faites comme vous voulez, je m'en fous au final. Je ne suis qu'un simple contributeur.

[2015-01-19 13:00] SpaceFox commented on #2071
Je veux bien que les gens donnent leurs avis, j'ai pas de problème avec ça. Mais là :
- On en a déjà parlé en privé
- [Tu débarques avec un message ironique](https://github.com/zestedesavoir/zds-site/issues/2071#issuecomment-70485099) pour ne pas dire plus
- Tu proposes quelque chose qui va à l'encontre de toutes les bonnes pratiques
- Tu n'argumentes en aucune manière

Je pense que tu comprendras

[2015-01-19 13:02] firm1 commented on #2071
En même temps l'issue "creer un espace privée pour les failles" existe quelque part. C'est juste que aucune documentation ne mentionne le cycle de vie d'une faille. :)

[2015-01-19 13:03] SpaceFox commented on #2071
Argument valable pour toute personne qui n'était pas dans le MP qui parlait de ça. Perdu, tu y étais ;)

[2015-01-19 13:06] firm1 commented on #2071
Bah ce n'est pas une faille. Car ce n'est pas en prod.

[2015-01-19 13:10] SpaceFox commented on #2071
J'ai précisé ce point dans le message d'origine (c'était ça ou commencer à jouer avec les mots avec toi, et franchement, j'ai pas envie. Non parce que ton premier message disait quand même explicitement que c'était une faille).

[2015-01-19 15:01] firm1 opened #2080 "zeste de savoir a 36% de duplicate content en interne"
Une analyse sur [siteliner](http://www.siteliner.com/zestedesavoir.com?siteliner=site-dashboard&siteliner-sort=scan_time&siteliner-from=1&siteliner-message=) révèle que le site zestedesavoir.com aujourd'hui à 36% de duplicate content interne.

Ce n'est pas bon.

[2015-01-19 15:06] Eskimon commented on #2080
Ca veut dire quoi "duplicate content interne." ?

[2015-01-19 15:13] SpaceFox commented on #2080
Est-ce que ça a une représentativité quelconque, quand je lis : "Siteliner
scanned 297 pages of 3,901 found on your site. " ?

2015-01-19 16:06 GMT+01:00 Eskimon notifications@github.com:

[2015-01-19 15:17] firm1 commented on #2080
un exemple de deux pages en duplicate content interne :

1 : http://zestedesavoir.com/tutoriels/692/comment-reussir-votre-entretien-dembauche/
2 : http://zestedesavoir.com/tutoriels/692/c/

Deux url différentes qui renvoient la même page, le même contenu.

On peut permettre aux deux url précédente d'exister, mais l'une devrait rediriger vers l'autre.

[2015-01-19 15:20] firm1 commented on #2080
Heuresement qu'ils ne scannent pas tout, car je crois qu'en réalité on en est à plus de 70% de duplicate.

Si je reprend mon exemple, tu remplace xxx dans http://zestedesavoir.com/tutoriels/692/<xxx>/ par n'importe quoi et hop, un nouveau duplicate.

[2015-01-19 15:20] SpaceFox commented on #2080
D'autre part, si j'en crois cet outils, leur "duplicate content" ma l'air
étrange comme analyse :
http://www.siteliner.com/zestedesavoir.com?siteliner=site-duplicate&siteliner-sort=match_words&siteliner-from=1&siteliner-message=

Déjà il me signale que "forums/savoirs/site-web/" est le 100% duplicate
content de "forums/savoirs/site-web/"... forcément c'est 2x la même page
sans paramètres supplémen

[2015-01-19 15:29] Eskimon commented on #2071
Bon, pour revenir au bug...

On a deux solutions ici:
- Quelqu'un qui comprend le mécanisme de validation fait un joli fix + TU
- Je balance un revert du commit de la PR sus-nommée pour annuler ce changement. Ce revert pourra alors être "re-revert" à son tour pour continuer et corriger ce qui posait problème.

Je propose que si d'ici fin janvier (10 jours) la solution 1 ne peut-être appliquée alor

[2015-01-19 15:32] SpaceFox commented on #2080
... non mais avec un exemple aussi pourri, on a 100% de duplicate, parce
qu'on a virtuellement une infinité de slugs sur ces URLs et seulement un
nombre fini d'URLs valides.

Les robots n'inventent pas des URLs (sinon ils auraient 100% de 404). Le
problème c'est qu'on a vraiment des gens qui ont changé ces URLs, donc les
URLs avec les mauvais slugs se promènent dans la nature et sont indexées.
Pou

[2015-01-19 16:52] firm1 opened #2081 "Editer un message par du vide valide le message et garde l'ancien"
Scenario :
- Je poste dans un topic
- J'edite le post en renseignant la chaine (entre guillemet) :"    "
- Je valide le message.

Le post est envoyé, et l'ancien message est conservé.

La bonne chose a faire serait de refuser le message et afficher un message d'erreur

[2015-01-19 17:03] firm1 opened #2082 "Le raccourci clavier Ctrl + Enter n'est pas limité"
Le raccourci Ctrl + Enter qui permet d'envoyer un post n'est pas limité à Ctrl + Enter.

Si je fais Ctrl + Alt + Enter ou Ctrl + Shift + Enter, le message est tout de même posté.

Cette fonctionnalité n'étant pas documentée, je ne sait pas ce qui a été prévu à la base. Pour moi, on devrait limité le raccourci clavier à Ctrl + Enter.

[2015-01-19 17:25] Situphen commented on #2080
C'est parce qu'il définit que http://zestedesavoir.com/un-truc n'est pas pareil que https://zestedesavoir.com/un-truc !

[2015-01-19 17:53] Situphen commented on #2082
Le ticket concerné était #814. Donc on n'envoie pas quand il y a Shift, Alt ou Alt Gr en plus de Ctrl + Enter ? Ça devrait être simple avec http://api.jquery.com/event.which/

**EDIT :** On fait passer ça en hotfix ou pas ?

[2015-01-19 20:02] DevHugo opened #2083 "Réinitialiser son mot de passe plusieurs fois"
Il est possible de demander à l'infini des réinitialisations de mot de passe. Il est ainsi possible de « spamer » un utilisateur de mail.

[2015-01-19 20:52] SpaceFox opened #2084 "Slow queries : LA requête qui revient tout le temps !"
Je fais une passe sur le slow-query-log de prod. Contrairement à ce que son nom indique, ce log stocke aussi les requêtes qui nécessitent des tables temporaires.

Il y a pas mal de monde puisque depuis ce matin environ 03h, j'ai déjà 7462 entrées dans ce log...

Qu'est-ce qu'on y trouve ?

Eh bien énormément de variantes de cette requête :

[code]

Avec plein de topic ID et de user ID différents,

[2015-01-19 20:54] SpaceFox opened #2085 "Slow queries : requêtes sans limites !"
Je fais une passe sur le slow-query-log de prod. Contrairement à ce que son nom indique, ce log stocke aussi les requêtes qui nécessitent des tables temporaires.

Il y a pas mal de monde puisque depuis ce matin environ 03h, j'ai déjà 7462 entrées dans ce log...

Qu'est-ce qu'on y trouve ?

Une requête qui récupère **tous** les MP sans aucun critère de sélection !

Elle n'est pas lancée très souven

[2015-01-19 21:14] Eskimon commented on #2085
WTF ?

[2015-01-19 21:14] SpaceFox commented on #2085
Exactement !

[2015-01-19 21:16] SpaceFox opened #2086 "Slow queries : une requête qui lit beaucoup de lignes"
Je fais une passe sur le slow-query-log de prod. Contrairement à ce que son nom indique, ce log stocke aussi les requêtes qui nécessitent des tables temporaires.

Il y a pas mal de monde puisque depuis ce matin environ 03h, j'ai déjà 7462 entrées dans ce log...

Qu'est-ce qu'on y trouve ?

Une requête qui n'est capable de se trier qu'à partir d'une table temporaire, ce qui force l'examen de près d

[2015-01-19 21:17] poulp commented on #2085
Aucun moyen rapide de localiser l'endroit ou une telle requête est envoyée ?

[2015-01-19 21:18] Eskimon commented on #2084
Le souci c'est que c'est l'ORM qui se démerde avec ca et qui fait sa tembouille donc c'est tricky de trouver d'où ca vient non ? Expert Django needed !

[2015-01-19 21:25] SpaceFox commented on #2085
C'est LE problème des ORMs...

2015-01-19 22:17 GMT+01:00 poulp notifications@github.com:

[2015-01-19 21:26] SpaceFox commented on #2084
Je la vois passer à priori sur les forums. Donc avec un peu de patience et
un debug_tools, on devrait pouvoir la retrouver... par contre pour savoir
de quel bout de code ça vient ?!

Le 19 janvier 2015 22:18, Eskimon notifications@github.com a écrit :

[2015-01-19 21:32] SpaceFox opened #2087 "Slow queries : une clause "in" qui va finir par péter"
Je fais une passe sur le slow-query-log de prod. Contrairement à ce que son nom indique, ce log stocke aussi les requêtes qui nécessitent des tables temporaires.

Il y a pas mal de monde puisque depuis ce matin environ 03h, j'ai déjà 7462 entrées dans ce log...

Qu'est-ce qu'on y trouve ?

Une requête avec une clause `in` qui va finir par nous péter à la gueule !

[code]

[2015-01-19 21:36] SpaceFox commented on #2085
D'une manière générale, j'ai l'impression que le module des MP est à inspecter de près car il envoie pas mal de requêtes dans ce log - pour des raisons pas toujours bien claires...

[2015-01-19 22:06] SpaceFox opened #2089 "1 requête par membre pour en afficher les infos (toute pages)"
La page de listing des membres fait une requête de ce type par membre affiché :

[code]

Autant dire, la plupart du temps, 100 requêtes !

Cause : zds-site/templates/misc/member_item.part.html ligne 5 : `{% with profile=member|profile %}`

C'est pas grand chose, mais ça ne devrait pas être trop compliqué à corriger.

PS : ceci semble toucher **tout affichage d'infos membre**, cf infra.

[2015-01-19 22:08] SpaceFox opened #2090 "En mode connecté, on fait une requête pour CHAQUE MP RECU !"
Quand on est connecté, on passe par ce bout de code sur **toutes** les pages :

zds-site/templates/base.html ligne 258 : `{% with topics=user|interventions_privatetopics %}`

Il fait cette requête pour **chaque MP que vous avez reçu** !

[code]

C'est à corriger d'urgence. Ça passe dans la v1.5.

Et après ça on s'étonne que certaines personnes trouvaient le site lent...

[2015-01-19 22:15] SpaceFox commented on #2090
J'ai  MAJ la première version (mauvaise interprétation) avec la triste réalité...

[2015-01-19 22:16] SpaceFox commented on #2087
Source : zds-site/templates/base.html ligne 261 : `{% if unread_topics|length > 0 %}`

[2015-01-19 22:35] SpaceFox commented on #2090
... et c'est là que j'ai une bonne raison de râler pour les commentaires : le problème vient de templatetags/interventions.py, méthode `def interventions_privatetopics(user):`.

Qui fait des trucs dégueulasses sans le moindre commentaire. Là où ça aurait couté 2 minutes de mettre 2 lignes de commentaires pour expliquer comment ce truc fonctionne, je passe 2 heures à essayer de le comprendre.

[2015-01-19 23:10] GerardPaligot commented on #2089
Ce bug est corrigé par la ZEP 17 (qui fera bientôt l'objet d'une PR). Je l'ai corrigé ce soir.

En fait, on envoyait la liste des `User` au template et, pour chaque user, on demandait le profile. Maintenant, la liste des profiles est directement envoyée.

[2015-01-20 00:12] SpaceFox opened #2094 "Nombre délirant de requêtes sur les pages forum"
Petite analyse sur les requêtes SQL :

Même [avec mon fix](https://github.com/zestedesavoir/zds-site/pull/2093), en mode connecté, je compte :
- 665 requêtes sur la home des forums (en première approche surtout la requête 1) (je me suis reconnecté pour vérifier ce chiffre tellement il me paraît débile, mais il est authentique).
- Plus de  300 requêtes sur les pages catégorie (en fonction de la pag

[2015-01-20 06:36] firm1 opened #2095 "Erreur 500 lors de la création d'un topic avec un mauvais paramètre"
url concernée : `http://preprod.zestedesavoir.com/forums/sujet/nouveau/?forum=f`

Ceci nous donne une erreur 500

[2015-01-20 06:44] firm1 opened #2096 "la page d'erreur 500 manque de certaines informations"
Quand on tombe sur la page 500, dans le footer, on voit des informations incomplètes.
- La version n'a pas a être affichée sur la page, mais on voit le mot version, sans le libellé de la version
- La date n'est pas affichée
- Le lien vers l'association n'est pas présent non plus

Screen

![capture](https://cloud.githubusercontent.com/assets/6066015/5813098/eb77810e-a077-11e4-811b-97bf1596d0a7.PNG)

[2015-01-20 06:48] firm1 opened #2097 "Le lien du forum Bug et Suggestion de la page 500 n'est pas le bon"
Quand on est sur une page d'erreur 500, le lien vers le forum bug et suggestion est en dur dans le code. Ce qui fait qu'en préprod, on se retrouve avec un lien qui renvoi vers la prod.

Pas très joli, parce que l'on pourrait poster son bug en prod. De plus le jour ou on change de bugtracker il faudra faire une MEP juste pour modifier ce lien.

[2015-01-20 06:52] firm1 opened #2098 "Erreur 500 lors de l'edition malencontreuse d'un message de forum"
url impactée : `http://preprod.zestedesavoir.com/forums/message/editer/?message=x`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 06:59] Eskimon commented on #2095
Que serait-le mieux venu ? Une 404 ?

Pour qui veut faire la correction, ca se passe ici : https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/views.py#L234

Il faut rajouter un `int()` et un catch pour que ca donne un truc comme ca:

[code]

[2015-01-20 07:01] Eskimon commented on #2098
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/views.py#L613

Il faut la même correction (adaptée bien sur) que pour https://github.com/zestedesavoir/zds-site/issues/2095

[2015-01-20 07:12] firm1 opened #2099 "Erreur 500 dans la zone de validation de tutoriel"
url incriminée : `http://preprod.zestedesavoir.com/tutoriels/validation/?subcategory=x`

On ne devrait jamais avoir d'erreur 500.

[2015-01-20 07:13] firm1 opened #2100 "Erreur 500 dans la zone de validation d'un article"
url incriminée : `http://preprod.zestedesavoir.com/articles/validation/?subcategory=x`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 07:35] Eskimon commented on #2099
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L126

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 07:35] firm1 opened #2101 "Impossible de cliquer sur "se souvenir de moi" à la connexion"
Sur la page de connexion, comme on peut le voir dans le screen, si je clique sur "Se souvenir de moi", la case n'est jamais cochée. On dirait qu'elle est désactivée.

Navigateur : Chrome 39.0.2171.99
OS : Windows 7

**PS : ça marche en prod, mais pas en préprod**

Screen :
![souvenir](https://cloud.githubusercontent.com/assets/6066015/5813512/129b633e-a07f-11e4-945d-37e7f2b17d8a.PNG)

[2015-01-20 07:35] Eskimon commented on #2100
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views.py#L877

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 07:51] Eskimon commented on #2101
@SpaceFox (ou la personne ayant fait la release) : la commande pour générer les traductions a t-elle été faite pendant la release ? J'ai l'impression que c'est la seule chose qui a changée a ce niveau. (oui je sais c'est pas dans le script, ca a du etre oublie).

@firm1 c'est possible que ce soit ca ?

Dans tout les cas, voici le dernier commit ayant eu lieu sur `zds/member/forms.py` https://githu

[2015-01-20 08:02] firm1 opened #2102 "Erreur 500 lors de l'edition malencontreuse d'un message de mp"
Url incriminée : `http://preprod.zestedesavoir.com/mp/message/editer/?message=x`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 08:04] Eskimon commented on #2102
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/mp/views.py#L422

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 08:07] SpaceFox commented on #2101
Si ce n'est pas dans le script, ce ne sera jamais fait…
Le 20 janv. 2015 08:51, "Eskimon" notifications@github.com a écrit :

[2015-01-20 08:07] firm1 opened #2103 "Erreur 500 lors de l’édition malencontreuse d'un commentaire de tutoriel"
Url incriminée : `http://preprod.zestedesavoir.com/tutoriels/message/editer/?message=x`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 08:08] firm1 opened #2104 "Erreur 500 lors de l’édition malencontreuse d'un commentaire d'article"
Url incriminée : `http://preprod.zestedesavoir.com/articles/message/editer/?message=x`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 08:11] firm1 opened #2105 "Fil d'ariane lors de l'édition d'un message incohérent entre les mps et les forums"
Quand j'edite un message de MP, dans le fil d'ariane avant `Éditer un message`, le lien derrière le titre du mp me renvoit vers l'**édition du message**

Quand j'édite un message de forum, dans le fil d'ariane avant `Éditer un message`, le lien derrière le titre du topic me renvoit **vers le topic**.

Il faudrait harmoniser ça.

[2015-01-20 08:21] firm1 opened #2106 "Impossible d'ajouter un auteur pendant l'édition d'un article"
Scénario  :
- Je crée un article
- Je clique dans la sidebar sur editer
- Je clique dans la sidebar sur "Gérer les auteurs"
- Non seulement il y'a personne dans la liste (même pas moi), mais je ne peux pas en rajouter

[2015-01-20 08:21] firm1 opened #2107 "Erreur 500 lors de l’édition malencontreuse d'un article"
Url incriminée : `http://preprod.zestedesavoir.com/articles/editer/?article=xx`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 08:23] firm1 opened #2108 "Erreur 500 lors de l’édition malencontreuse d'un tutoriel"
Url incriminée : `http://preprod.zestedesavoir.com/tutoriels/editer/tutoriel/?tutoriel=xxx`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 08:58] Eskimon commented on #2104
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views.py#L1226

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 08:59] Eskimon commented on #2103
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L3512

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 08:59] Eskimon commented on #2108
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L1212

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 08:59] Eskimon commented on #2107
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views.py#L304

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 10:06] firm1 opened #2111 "Erreur 500 lors du téléchargement d'un tutoriel inexistant"
Urls incriminées :
- `http://beta.zestedesavoir.com/tutoriels/telecharger/md/?tutoriel=x`
- `http://beta.zestedesavoir.com/tutoriels/telecharger/?tutoriel=x`
- `http://beta.zestedesavoir.com/tutoriels/telecharger/pdf/?tutoriel=x`
- `http://beta.zestedesavoir.com/tutoriels/telecharger/epub/?tutoriel=x`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 10:10] firm1 opened #2112 "Erreur 500 lors du téléchargement d'un article inexistant"
Urls incriminée : `http://beta.zestedesavoir.com/articles/telecharger/?article=x`

On ne devrait jamais avoir d'erreur 500

[2015-01-20 10:21] Eskimon commented on #2112
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/article/views.py#L483

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 10:21] Eskimon commented on #2111
Ca se passe ici: https://github.com/zestedesavoir/zds-site/blob/dev/zds/tutorial/views.py#L3007

Appliquer correction similaire a ici: https://github.com/zestedesavoir/zds-site/issues/2095#issuecomment-70612247

[2015-01-20 10:30] firm1 commented on #2013
Je réouvre cette issue car le lien Adhesion est toujours présent sur cette page `http://beta.zestedesavoir.com/pages/` que se soit en mode déconnecté ou s'il n'y a pas association derrière.

[2015-01-20 10:39] firm1 opened #2113 "Le formulaire de demande de reinitialisation n'accepte pas les emails"
Le texte (cf. capture ci-dessous) nous dit pourtant qu'en rentrant notre email, on pourra demander la reinit de notre mot de passe. Le problème c'est qu'il n'accepte que les pseudo et pas les emails.

![courriel_id](https://cloud.githubusercontent.com/assets/6066015/5815751/e2914f4a-a098-11e4-9d47-bef750da791e.PNG)

[2015-01-20 12:41] firm1 opened #2114 "Le responsive cassé si je refuse les cookies"
Le responsive est cassé quand je refuse de me faire pister.

Navigateur : Chrome/Android

Screen :

![](https://www.dropbox.com/s/tq0d1fpwqskdaqf/Screenshot_2015-01-20-10-19-26.png)

[2015-01-20 15:16] Eskimon opened #2115 "Les +1/-1 ne sont pas supprimé lors de la désinscription"
Lorsqu'un membre se désinscrit, ses +1/-1 ne sont pas supprimé. En effet, ces derniers sont dénormalisé dans le modele des forums pour des raisons de performances. Cependant il faut tout de meme les retrancher quand l'utilisateur nous quitte.

[2015-01-20 15:18] SpaceFox commented on #2115
Si avec la PR on pouvait avoir un bout de script SQL pour recalculer les
valeurs dénormalisées à partir de la source, ce serait la perfection :)

Le 20 janvier 2015 16:16, Eskimon notifications@github.com a écrit :

[2015-01-20 15:27] Eskimon commented on #2085
Je sais pas ou poster donc je met ici ca a l'air assez globale : Un bout de tuto qui se lit bien et vit sur l'ORM Django et des petites opti : http://www.formation-django.fr/framework-django/zoom-sur/orm-django.html

[2015-01-20 15:28] Eskimon commented on #2085
Et ca aussi tant qu'on y est : https://docs.djangoproject.com/fr/1.7/topics/db/optimization/

[2015-01-20 21:39] SpaceFox commented on #2089
@GerardPaligot j'ai l'impression que ça concerne tous les affichages des membres partout sur le site (et pas que cette page), tu confirmes ?

[2015-01-20 21:45] GerardPaligot commented on #2089
La requête pour récupérer le profile de chaque utilisateur était présent dans le fichier `member_item.part.html` qui possède 32 occurrences dans l'ensemble des templates. Donc, c'est possible oui.

[2015-01-20 21:45] SpaceFox commented on #2089
OK, donc je ne m'occupe pas de ça et attends la ZEP 17 :)

[2015-01-20 21:53] SpaceFox commented on #2094
Voici le coupable : https://github.com/zestedesavoir/zds-site/blob/dev/zds/forum/models.py#L125

Je crois que cet exemple est l'illustration parfaite du danger des ORM :)

[2015-01-20 22:05] Situphen commented on #2114
Je ne réussi pas à reproduire le bug. Ton screenshot n'est pas affiché, tu peux en remettre un s'il te plait ? :)

[2015-01-20 22:10] SpaceFox commented on #2094
Tout ça pour... afficher une classe qui n'est pas utilisée ! On indique dans le code quels forums contiennent des messages non lus, mais on affiche _jamais_ cette information à l'utilisateur ! (PS : sur les pages forums et catégorie en tous cas...)

[2015-01-20 22:27] GerardPaligot commented on #2094
Quand je demande à PyCharm les occurrences de la méthode `is_read`, il m'indique 0. Ce code ne semble jamais exécuté.

[2015-01-20 22:29] SpaceFox commented on #2094
Je n'en trouve qu'une seule, ici : https://github.com/zestedesavoir/zds-site/blob/dev/templates/forum/includes/forums.part.html#L9

Et comme le fait d'avoir cette classe ne change en rien le design, je ne vais pas me prendre la tête et vais tout simplement dégager le tout.

[2015-01-20 22:33] GerardPaligot commented on #2094
Autant pour moi, j'ignorais qu'il était possible de faire des choses aussi dégueulasse.

[2015-01-20 22:36] SpaceFox commented on #2094
Ouais, la boucle for planquée dans une méthode qui est elle-même dans une boucle for, ça devient vite très violent...

[2015-01-21 07:13] Eskimon commented on #2094
Comment êtes-vous arrivée a la conclusion que unread n'est jamais utilisée ?

EDIT : my bad, j'ai confondu Topic / Forum je crois

[2015-01-21 07:40] poulp commented on #2095
Une erreur 400 est elle adaptée dans ce cas ?

[2015-01-21 07:42] SpaceFox commented on #2094
Je pense que la réponse est dans cette phrase :)

[2015-01-21 07:44] Eskimon commented on #2113
Ok, la sémantique du texte a ete change pour palier a cette erreur.

Maintenant, est-ce utile de proposer l'adresse email ? Si oui il faudrait changer/creer un ticket en "evolution" "futur lointain" pour ajouter la fonctionnalité.

[2015-01-21 07:53] Eskimon commented on #2095
Moa ca m'irait.

Si toutes ces erreurs pouvaient être traites dans une seule PR ce serait super...

[2015-01-21 09:33] firm1 opened #2122 "L'affichage des tags est cassé sur l'historique d'un tuto"
En allant sur **l'historique d'un tutoriel**, on se rend compte la position des tags est cassée (cf screen), avec la licence qui descend toute seule.

Il s'agit d'une regression puisque ça fonctionne très bien en prod, mais pas en preprod.

Navigateur Firefox 34/Windows

Screeen : ![historique_false](https://cloud.githubusercontent.com/assets/6066015/5833938/caee16aa-a158-11e4-86f5-117217bbcbb0.PN

[2015-01-21 09:37] firm1 opened #2123 "La page d'historique d'un tutoriel propose de télécharger un tuto mais de version inconnue"
La page d'historique propose le téléchargement de tutoriel. Mais rien n'indique quel version du tutoriel on va télécharger.

La proposition de téléchargement ne devrait donc pas être sur cette page.

[2015-01-21 09:38] GerardPaligot commented on #2122
Le bug ne semble pas apparaitre sur Chrome 39.0.2171.99/OS X.

Edit : Autant pour moi, mon cerveau n'a pas voulu lire "En allant sur l'historique d'un tutoriel". :)

[2015-01-21 09:40] firm1 opened #2124 "L'historique d'un tutoriel ne nous dit pas quelle version du tuto est en ligne"
Quand j'ai un tutoriel en ligne, et que je vais dans l'historique de mon tutoriel, impossible de savoir quel est la version en ligne, puisqu'elle n'est pas précisée.

[2015-01-21 09:47] firm1 commented on #1654
Je réouvre cette issue, car elle n'a pas été corrigée comme il faut.

Visiblement la correction ne fait qu'utiliser le champ `update` en base de donnée. Ce qui rend donc la date de dernière mise à jour fausse quand on consulte une version antérieur d'un tutoriel.

On se retrouve donc avec des choses tordu comme :
- mon tuto est publié
- je modifie mon tuto hors ligne
- la date de dernière mise à j

[2015-01-21 09:49] firm1 opened #2125 "Typo dans le texte de dépublication."
Quand je souhaite dépublier un tutoriel j'ai ce message `Êtes-vous certains de vouloir dépublier le tutoriel "Arduino : Premiers pas en informatique embarquée"`

Il s'agit là d'une question, mais il manque un **point d'interrogation** dans cette phrase.

[2015-01-21 09:58] firm1 opened #2126 "Minituto, incohérence d'affichage du plan entre la version hors ligne et la version en ligne"
Sur la version en ligne, on affiche entre l'intro et le premier extrait la liste des extrait avec un lien qui mène vers ceux-ci, ce qui n'est pas le cas sur la version hors ligne.

Capture version hors ligne :

![verite_offline](https://cloud.githubusercontent.com/assets/6066015/5834298/4e632b62-a15c-11e4-881c-69932d839ee7.PNG)

Capture version en ligne :

![verite_online](https://cloud.githubuser

[2015-01-21 10:05] Cydonia7 commented on #2115
Je vais tenter ça du coup (cc @Eskimon)

[2015-01-21 10:08] Eskimon commented on #2115
Super :)

( @SpaceFox si tu as les pouvoirs tu peux ajouter Cydonia7 dans l'orga pour pouvoir le mettre comme "assignee" a la tache ?)

[2015-01-21 10:11] Eskimon commented on #2115
@Cydonia7 Tout se passera dans cette methode : https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/views.py#L107

Dans un premier temps, il faudra a un moment trouver tout les +1/-1 qu'une personne a fait et les ajouter/retrancher aux messages concernés.

Dans un second temps on regardera pour faire le script de SpaceFox pour recalculer tout les scores

[2015-01-21 10:24] ChantyTaguan commented on #1454
Plop ! Cette adresse est présente sur la page "asso" et sur la page "contact". Il serait bon de trouver une solution. Soit on vire cette adresse purement et simplement, et tout passe par communication@@zestedesavoir.com, soit on débloque association@zestedesavoir.com, mais en l'état, ça fait pas sérieux...

[2015-01-21 19:50] GerardPaligot commented on #2089
J'ai un peu mesuré les répercussions de cette issue et elle est bien plus importante que je ne le pensais (qui va bien au delà de la ZEP 17).

En fait, tous les modèles n'utilisent jamais `Profile` mais `User`. Il est donc toujours nécessaire de récupérer le profile dans les templates.

Pour éviter de faire ces requêtes, il faudrait non plus avoir des relations vers `User` mais vers `Profile` à ch

[2015-01-21 20:20] SpaceFox commented on #2089
Avant de continuer, pour être sûr :
- `User` est le modèle par défaut de Django
- `Profile` est en relation 1:1 avec `User` et contient nos infos spécifiques sur l'utilisateur
- Si on récupère `User` puis qu'on cherche son `Profile`, on fait 1 requête spécifique pour récupérer les infos dans la table `profile`
- **Par contre**, si on récupère un `Profile`, une jointure est systématique pour récupé

[2015-01-21 20:25] GerardPaligot commented on #2089
Ouaip.

[2015-01-21 21:48] GerardPaligot commented on #2089
Bien, devant l'importance de la modification (et des choix techniques à discuter), j'ai contourné le problème pour la ZEP 17 et ne résoudrait donc pas cette issue dans la foulée.

[2015-01-21 21:49] SpaceFox commented on #2089
Donc il faut prévoir une PR géante pour ce problème ?

Genre, pas compliquée, mais longue et fastidieuse ?

[2015-01-21 21:51] GerardPaligot commented on #2089
Exactement.

[2015-01-21 22:25] SpaceFox commented on #2087
Corrigé et fermé.

[2015-01-21 22:25] #2087 closed, assigned to nobody

[2015-01-21 22:26] SpaceFox commented on #2090
Corrigé donc fermé.

[2015-01-21 22:26] #2090 closed, assigned to SpaceFox

[2015-01-21 22:47] SpaceFox commented on #2068
Personnellement je n'arrive pas à reproduire en local (installation tellement fraîche que même l'OS est neuf, SQLite).

L'article est dans la liste, non réservé. Quand je clique sur "réserver", il est bien réservé et je peux le valider normalement.

Testé avec le compte admin qui se réserve son propre tuto, et le compte admin qui réserve le tuto de user.

[2015-01-21 23:01] Situphen commented on #2114
Bon, en prenant le lien directement dans l'HTML, j'ai pu voir le screen. Je n'ai pas réussi à avoir ton bug. Tu peux réessayer ? :)

[2015-01-21 23:03] SpaceFox commented on #2084
Cette requête est lancée lors du passage dans /templates/forum/includes/topic_row.part.html ligne 65 : `{% with answer=topic.get_last_answer last_read=topic.last_read_post %}`.

[2015-01-22 06:31] Cydonia7 commented on #2115
Je n'ai pas les droits pour m'assigner moi-même.

Par contre, si je me trompe pas, tout est géré dans la classe Comment et il n'y a aucune mise en cache de faite donc au final il suffit de virer les CommentLike / CommentDislike (je t'ai envoyé un MP plus détaillé à ce sujet @Eskimon)

[2015-01-22 07:58] Eskimon commented on #2115
Hop je t'ai répondu a propos de l'analyse :)

[2015-01-22 10:15] firm1 commented on #2114
J'ai toujours le bug.

[2015-01-22 10:36] firm1 commented on #2113
Je dirais qu'il faut créer un ticket evolution pour pouvoir reinitialiser depuis son email, sans le pseudo

[2015-01-22 10:47] firm1 commented on #2101
Impossible, c'est un problème de pur front.

[2015-01-22 10:51] firm1 commented on #2075
Le texte dépend du titre du tutoriel aussi. Donc quelqu'un devra couper le texte de toute façon.

[2015-01-22 10:52] firm1 commented on #2070
Ce n'est pourtant pas cohérent avec la réalité.

[2015-01-22 10:53] firm1 commented on #2069
Ce n'est pas ergonomique en tout cas :)

[2015-01-22 10:53] firm1 commented on #2068
Je n'ai pas essayé en local, c'est ce que j'obtiens en passant sur la préprod.

[2015-01-22 11:36] Situphen commented on #2114
Tu as vidé le cache ? Quelle version d'Android ? Quelle version de Chrome ?

[2015-01-22 12:15] firm1 commented on #2114
Cache vidé plusieurs fois.
url : http://beta.zestedesavoir.com
Navigateur : Chrome 39.0.2171.93
OS : Android 4.3
Smartphone : Galaxy S3
Ecran : 4.8 pouces
Resolution : 720 x 1280 pixels

[2015-01-22 12:26] Eskimon commented on #2114
Je viens de faire le test sur mon téléphone et tout marche bien:

url : http://beta.zestedesavoir.com
Navigateur : Chrome 40.0.2214.89
OS : Android 4.4.4
Smartphone : OnePlus One
Ecran : 5.5 pouces
Résolution : 1080 x 1920 pixels (Full HD)

[2015-01-22 12:32] firm1 opened #2129 "Les titres dans la recherche sont tronqués"
Les titres des topics affichés dans la recherche sont souvent tronqués sans raison apparente (cf. screen). Il faudrait afficher les titre au complet pour que ce soit plus lisible.

![search-state](https://cloud.githubusercontent.com/assets/6066015/5855670/24e02eae-a23b-11e4-8b7a-84e611c613f4.PNG)

[2015-01-22 12:37] GerardPaligot commented on #2114
Je viens de faire le test sur mes téléphones et tout fonctionne bien :

url : http://beta.zestedesavoir.com
Navigateur : Chrome 39.0.2171.93
OS : Android 5.0.1
Smartphone : Nexus 4
Ecran : 4.7 pouces
Résolution : 1280 x 768

url : http://beta.zestedesavoir.com
Navigateur : Chrome 39.0.2171.93
OS : Android 4.4.4
Smartphone : Galaxy Nexus
Ecran : 4.6 pouces
Résolution : 720 x 1280

[2015-01-22 12:40] SpaceFox commented on #2068
Je ne nie pas. Je dis juste que je ne peux pas corriger quelque chose que
je ne peux pas reproduire.

Il faudra que j'essaie sur une base MySQL.

2015-01-22 11:53 GMT+01:00 firm1 notifications@github.com:

[2015-01-22 13:50] firm1 opened #2130 "Signaler une faute dans un chapître donne le mauvais titre de MP"
Scénario:
- Je vais dans un chapitre d'un tutoriel publié. Par exemple [celui-ci](http://beta.zestedesavoir.com/tutoriels/335/creez-des-applications-pour-android/425/annexes/2163/larchitecture-dandroid/)
- Je clique sur "Signaler une faute dans ce chapitre", une modale s'ouvre
- Je clique sur "Envoyer un MP à l'auteur"

Un nouvel MP est crée avec le titre suivant : `Je voudrais signaler une faute

[2015-01-22 13:55] firm1 opened #2131 "La licence est absente lors de la visualisation d'une partie du tutoriel"
Quand on navigue partout dans un tutoriel, on a normalement la licence de celui en haut à droite. Sauf lorsqu'on regarde une partie ([celle-ci](http://beta.zestedesavoir.com/tutoriels/335/creez-des-applications-pour-android/425/annexes/) par exemple).

[2015-01-22 14:02] firm1 opened #2132 "Affichage d'une partie d'un tutoriel incohérent entre la version en ligne et la version hors ligne"
L'affichage d'une partie d'un tutoriel hors ligne d'un tutoriel n'est pas la même que la version en ligne.

Exemple hors ligne : http://beta.zestedesavoir.com/tutoriels/off/335/creez-des-applications-pour-android/420/les-bases-indispensables-a-toute-application/

Exemple online : http://beta.zestedesavoir.com/tutoriels/335/creez-des-applications-pour-android/420/les-bases-indispensables-a-toute-ap

[2015-01-22 14:15] firm1 opened #2133 "Les flux rss de la preprod pointent vers la prod"
Si je consulte les urls d'un flux rss en preprod ([celui-là](http://beta.zestedesavoir.com/forums/flux/sujets/rss/?tag=40) par exemple), tous les liens pointent vers une url en prod.

[2015-01-22 15:16] firm1 opened #2134 "Impossible de selectionner les articles d'une sous catégories"
En allant sur la page de tous les articles, il est impossible de filtrer pour avoir des articles appartement à une seule sous-catégorie. C'est pourtant déjà faisable avec les tutoriels.

Avoir donc une colonnes "Catégories des articles" dans la sidebar ne serait pas un mal.

[2015-01-22 16:09] firm1 opened #2135 "Travis utilise la mauvaise version de npm"
La documentation d'installation des outils front demande à avoir la version 2 de npm.

Cependant travis utilise :
- node : 0.10.33
- npm : 1.4.28

On a donc une décorrélation entre la documentation et travis, et c'est donc difficile de se fier à travis concernant le front.

[2015-01-23 13:50] poulp commented on #2130
c'est pas plutôt `Je voudrais signaler une faute dans le chapitre "L'architecture d'Android"` ?

[2015-01-23 14:41] firm1 commented on #2130
Ouais bien vu
Le 23 janv. 2015 14:50, "poulp" notifications@github.com a écrit :

[2015-01-23 17:07] gustavi commented on #2133
Doublon de #1948

[2015-01-23 17:07] #2133 closed, assigned to nobody

[2015-01-23 17:13] gustavi commented on #2125
Si on peut en profiter pour avoir des guillemets français et non des guillemets droits ça serait super !

[2015-01-23 17:22] gustavi commented on #2080
Le problème c'est qu'actuellement on vérifie uniquement le `pk` et non le couple `pk` + `slug`.

[2015-01-23 17:26] gustavi commented on #2094
Il y eu une époque où j'avais râlé là dessus #1245 ! Encore une fois, mettre du cache serait pas trop mal si le serveur SQL souffre un peu.

[2015-01-23 17:33] SpaceFox commented on #2094
Non, c'est cacher le problème sous le tapis. En plus le serveur SQL ne souffre pas : c'est Python qui souffre à préparer et traiter les appels.

Là par exemple le serveur de prod a un uptime de  de 8 jour 18 heures ; les consommation CPU sont dans l'ordre d'importance :
1. 8h50 pour chacun des 7 threads Gunicorn
2. 2h50 pour le thread Solr (majoritairement de l'indexation je suppose) + quelques th

[2015-01-23 17:33] gustavi commented on #2094
Ah mais je suis entièrement d'accord avec toi ! À partir du moment où on est large sur MySQL c'est parfait :)

[2015-01-23 17:36] SpaceFox commented on #2094
BTW, oui, ça aurait du être corrigé il y a longtemps. On ne l'a pas fait parce que avec peu de volume, le truc tenait très bien et que donc on avait plus urgent à faire.

Maintenant, on s'aperçoit que ça commence à partir en vrille... donc coup, il faut faire quelque chose.

[2015-01-24 11:31] Situphen commented on #2135
Normalement ta PR #2138 règle ça.

[2015-01-24 13:48] gustavi commented on #2122
Corrigé et mergé ! Merci @Situphen !

[2015-01-24 13:48] gustavi commented on #2072
Corrigé et mergé ! Merci @poulp !

[2015-01-24 13:49] #2094 closed, assigned to SpaceFox

[2015-01-24 13:51] gustavi commented on #2105
Corrigé et mergé ! Merci @Situphen !

[2015-01-24 13:51] #2105 closed, assigned to nobody

[2015-01-24 13:52] gustavi commented on #2082
Corrigé et mergé ! Merci @Situphen !

[2015-01-24 13:52] #2082 closed, assigned to nobody

[2015-01-24 13:52] #1541 closed, assigned to artragis

[2015-01-24 13:54] gustavi commented on #2060
Corrigé et mergé ! Merci @DevHugo !

[2015-01-24 13:54] #2060 closed, assigned to nobody

[2015-01-24 14:40] #2125 closed, assigned to gustavi

[2015-01-24 17:11] SpaceFox opened #2140 "Lenteur de déploiement avec la nouvelle procédure"
Depuis qu'on est passé à la nouvelle procédure de build et de déploiement du front, c'est beaucoup plus long qu'avant.

En particulier, le build du front compile en particulier du code en C ou C++, ce qui me paraît louche...

Le log généré est complètement monstrueux (> 172 ko) : http://pastebin.com/TDsdbZnz

Est-ce que quelqu'un du front (cc @sandhose @Situphen ) peut regarder si c'est normal ?

[2015-01-24 17:17] gustavi commented on #2140
@SpaceFox sinon tout se passe bien avec tout ce qui est `collectstatic` ?

[2015-01-24 17:18] SpaceFox commented on #2140
Yep, ça `collectstatic` marche nickel - cf la fin des logs.

[2015-01-24 17:33] SpaceFox commented on #2094
Alors j'ai pas le nombre de requêtes et les bases ne sont pas strictement identiques (parce que j'ai la flemme de rapatrier les données des tutos et articles en réalité) entre la préprod et la prod. Néanmoins, en jouant avec l'outil de trace déployé avec l'application, en mode connecté (condition nécessaire pour que ça fonctionne) :
- La home passe de 138540 function calls à 100163 function calls

[2015-01-24 17:41] SpaceFox commented on #2068
J'ai réussi à reproduire en préprod. Cela dit, à la différence d'Eskimon, je ne duplique pas l'article dans la liste... c'est très mystérieux

[2015-01-24 21:22] DevHugo commented on #2043
Prévoir dans la recherche aussi, solr.

[2015-01-24 23:04] SpaceFox commented on #2089
Je viens de jeter un oeil et effectivement... la PR va être massive. Entre autres parce que **toutes** nos clés étrangères se font sur `User` et non `Profile` !

[2015-01-25 00:15] Axylium opened #2141 "Affichage intro/conclusion chapitre des tutos"
Via Mewtow sur le forum

Et en effet, après quelque rapides _tests_ sur différents big-tuto en ligne, les introductions et les conclusions de **chapitre** (j'insiste sur ce fait, car ce n'est pas précisé dans son message), sont absents !

[2015-01-25 09:14] Torejy opened #2142 "Petite faute lors de la validation de l'inscription"
Dans la validation du formulaire d'inscription, lorsque le usename est vide, on a :
msg = _(u'Le nom d\'utilisateur ne peut-être vide')
et non
msg = _(u'Le nom d\'utilisateur ne peut être vide')

https://github.com/zestedesavoir/zds-site/blob/dev/zds/member/forms.py#L163

[2015-01-25 11:51] SpaceFox commented on #2142
Merci, n'hésite pas à faire la PR correspondante si tu sais exactement où est le problème et comment le corriger !

[2015-01-25 12:18] DevHugo commented on #2142
Faut fermer.

[2015-01-25 12:45] #2142 closed, assigned to nobody

[2015-01-25 12:45] gustavi commented on #2142
Corrigé et mergé ! Merci @Torejy !

[2015-01-25 16:41] #2122 closed, assigned to nobody

[2015-01-25 16:44] gustavi commented on #667
C'est plus d'actualité ici.

[2015-01-25 16:44] #667 closed, assigned to nobody

[2015-01-25 16:48] gustavi commented on #1938
C'est réglé ici.

[2015-01-25 16:48] #1938 closed, assigned to nobody

[2015-01-25 22:28] SpaceFox commented on #2068
Je suis incapable de reproduire en préprod (v1.5-RC2) ou en local... est-ce que quelqu'un a encore le bug en préprod ?

[2015-01-25 22:44] gustavi commented on #2095
Je suis dessus, faut juste faire une review de toutes les vues, ça va prendre du temps.

[2015-01-25 23:11] Axylium opened #2152 "Preprod : Erreur 500 sur tout les profils"
Via __Forever :

Effectivement, on se prends une erreur 500 sur les profils mentionnés ci-dessus, mais également avec **tout les profils du site**. L'erreur ne se trouve pas en prod, donc, je suppose que ça été ammené avec la v1.5 (je n'ai pas pu tester en local).

[2015-01-25 23:43] SpaceFox commented on #2152
Source :
"TemplateSyntaxError Root Cause
Could not parse the remainder: '!profile.is_private' from '!profile.is_private'"

Dans : member/profile.html at line 213

Ça m'étonne qu'un truc pareil ait pu passer les tests en fait.

[2015-01-26 07:38] Eskimon commented on #2152
Parce que la QA se serait concentre sur seulement les profils traite ? C'est balot effectivement

[2015-01-26 07:43] SpaceFox commented on #2152
Même les tests unitaires en fait. "Aucun profil affichable" ça veut dire qu'on a aucun test unitaire qui affiche ces profils ?

[2015-01-26 07:48] #2072 closed, assigned to nobody

[2015-01-26 14:01] firm1 opened #2154 "L'ajax des +1/-1 n'est pas cohérent en cas d'égalité"
Scenario :
- Je vais sur un message ou quelqu'un à mis en +1
- Je clique un -1

le problème : il y'a encore la barre verte en dessous du +1 comme si la victoire appartenait au +1

En actualisant la page on voit bien qu'on ne devrait plus avoir de barre en dessous.

[2015-01-26 14:12] firm1 opened #2155 "Migrer le fichier des quotes dans la base de donnée"
Aujourd'hui on se base sur un fichier pour faire defiler des phrases aléatoires sur la home.

Non seulement ça signifie qu'il faut faire une PR+MEP pour rajouter un nouvelle phrase, mais en plus ce n'est pas génial pour les perfs comparé à la base de donnée.

[2015-01-26 14:18] firm1 opened #2156 "Migrer le fichier des mails interdits dans la base de donnée"
Aujourd'hui on se base sur un fichier pour retrouver les emails interdits à l'inscription et à la modification de l'email. Sauf que :
- ça implique de passer par tout le process de release pour juste faire une mise à jour dans les adresses interdite. En cas de problème urgent, étant donné que c'est un point de sécurité, si jamais on doit corriger le tir rapidement, on ne sera pas aussi réactif.
-

[2015-01-26 14:26] SpaceFox commented on #2155
On avait déjà eu ce débat au moment d'ajouter ces citations, non ?

C'est une supposition ou une réalité sourcée avec des chiffres ?

[2015-01-26 14:27] SpaceFox commented on #2156
En fait si, parce qu'il suffit d'aller modifier le fichier directement sur le serveur. Le vrai problème est qu'on aura une désynchronisation.

C'est une supposition ou une réalité sourcée avec des chiffres ?

[2015-01-26 14:54] firm1 commented on #2155
bah niveau scalabilité, plus il y'aura de lignes de le fichier, plus la base de donnée sera un meilleur choix.

[2015-01-26 14:57] firm1 commented on #2156
Ce fichier a déjà 535 lignes, pas besoin de calculer pour voir que c'est plus lent que de lire une table indexée.

[2015-01-26 15:12] SpaceFox commented on #2156
Sauf qu'un appel en base a un overhead non négligeable en particulier parce que fait à travers un ORM (et ce n'est pas hypothétique : aujourd'hui la majorité du temps passé à exécuter du code sur ZdS, c'est dans l'ORM). C'est pour ça que sans chiffre, l'argument ne tient pas.

Par exemple, [les sources sur le net n'ont pas l'air aussi convaincues que toi](http://stackoverflow.com/questions/4210057

[2015-01-26 21:45] SpaceFox commented on #2140
Ping @sandhose  et @Situphen

[2015-01-27 09:06] firm1 opened #2158 "Les tests ne passent pas sur Windows"
En lançant les tests sur une machine Windows 8.1, je me suis rendu compte qu'ils ne passent pas tous. Il y'en aivait 3 en echecs et 6 en failures.

Je ne pense pas qu'on ait arreté le support de zds sur Windows

[2015-01-27 09:08] SpaceFox commented on #2158
C'est très dommage mais ça n'est pas bloquant dans ce sens où ça n'empêche pas le site de fonctionner correctement (merci Travis).

[2015-01-27 09:09] SpaceFox commented on #1605
Bon visiblement on a plus eu aucun problème de ce genre... je garde le ticket ouvert au cas où.

[2015-01-27 09:10] SpaceFox commented on #1862
Vu le temps depuis lequel c'est ouvert, je ferme ici. Par contre, j'espère que je n'aurai jamais besoin de le rouvrir.

[2015-01-27 09:10] #1862 closed, assigned to nobody

[2015-01-27 09:10] SpaceFox commented on #1903
Toujours pas d'idée ici ?

Si personne n'a d'idée, peut-on au moins dégager la fonctionnalité cassée du front ?

[2015-01-27 09:11] SpaceFox commented on #1972
On a encore quelque chose ici ? Ça ne fait pas doublon avec #1903 ?

[2015-01-27 09:12] SpaceFox commented on #2071
Est-ce que quelqu'un sait comment corriger ce problème ?

[2015-01-27 09:13] firm1 commented on #2156
Le net n'est pas une source fiable.

Après si ça amuse quelqu'un de faire une étude scientifique pour comprendre pourquoi la solution qui consiste à lire un fichier ici n'est pas une bonne façon de faire, soit, mais moi je trouve pas ça amusant. :(

[2015-01-27 09:13] SpaceFox commented on #2141
On est d'accord pour dire que c'est bien un bug en prod aujourd'hui et pas que en bêta ?

[2015-01-27 09:15] firm1 commented on #2158
C'est bloquant pour le developpeur qui travaille sur Windows ...

[2015-01-27 09:20] SpaceFox commented on #2158
Les tags ont une signification : "Bloquant", ça veut dire que le site déconne gravement, au point de pouvoir provoquer l'annulation d'une release. Ça ne veut pas dire qu'un développeur n'a plus 100% de la couverture des tests active (ce qui d'ailleurs à ma connaissance n'a **jamais** été le cas, pour cause de Pandoc).

[2015-01-27 09:22] artragis opened #2159 "[v1.5]Le profile anonyme renvoie une 500 sur la preprod"
Quand on va voir le profile de anonyme (http://beta.zestedesavoir.com/membres/voir/anonyme/), ça nous envoie une 500. Cela n'avait pas lieu en local d'après la QA, faudra vérifier néanmoins.

[2015-01-27 09:22] Eskimon commented on #2068
J'arrive a reserver et publier comme il faut j'ai l'impression. Par contre on a des reliquats de bug car un article est present plusieurs fois dans la zone de validation et j'arrive pas le virer de la...

[2015-01-27 09:25] firm1 commented on #2159
Doublons de #2152

[2015-01-27 09:25] #2159 closed, assigned to nobody

[2015-01-27 09:26] SpaceFox commented on #2156
C'est toujours plus fiable que des suppositions hypothétiques basées sur aucune vérification !

Je ne sais pas. C'est bien ça mon problème : je ne sais **vraiment** pas.

J'aimerais bien que tu comprennes que je ne fais pas ça pour t'emmerder  mais parce qu'ici on a une vraie question sans réponse. Aujourd'hui, toute utilisation de l'ORM a un overhead important, à tel point qu'on passe une majorit

[2015-01-27 09:28] SpaceFox commented on #2155
Même réponse que sur #2156: faites une PR là-dessus si ça vous amuse, mais il y a une infinité de choses plus intelligentes à faire d'abord. Tout ce qui est marqué "Bloquant" ou "BUG".

[2015-01-27 09:29] artragis commented on #2152
C'est moi qui ait introduit le bug. J'ai testé vite fait, ça marchait, mais j'ai sûrement fait une erreur dans mon test. Par contre la QA a dit "c'est bon pour moi", du coup je comprends pas.

[2015-01-27 09:40] firm1 commented on #2156
C'est bien pour ça que l'issue est tagguée en "évolution". Je ne pense pas avoir dis que c'est urgent, ni gravement impactant (quoique je me demande si tu ne me trolle pas là car c'est trop gros).

L'issue est là pour faire mieux tout simplement.

[2015-01-27 09:42] SpaceFox commented on #2156
Je ne prétends pas ça. Je remets simplement en doute le fait que ce soit "mieux".

[2015-01-27 09:44] firm1 commented on #2156
Don't feed the ... :)